{% load threadedcommentstags %}
{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load avatar_tags %}

{% get_threaded_comment_tree for object as responses %}
{% autopaginate responses %}

<style>
#id_comment { width: 510px; height: 90px; }
.respForm textarea{ display:block; }
.error { background: #ffdfdf; border: 1px solid #df7d7d; border-width: 1px 0; }
a { color: #750998; }
</style>
<ul class="responses">
    {% for response in responses %}
    <li class="{% cycle even,odd %} thread-{{ response.depth }} clearfix">
        <div class="meta">
            <div class="avatar">{% avatar response.user 40 %}</div>
            <div class="details"><a href="{% url user_dashboard response.user.username %}">{{ response.user     }}</a></div>
            {{ response.date_submitted|date }}
        </div>
        <div class="bulk">
            <div class="body" style="word-wrap:break-word;white-space:normal;display:block;">{{ response.comment|urlize|linebreaks }}</div>
            {% ifequal user response.user %}
            <form method="POST" action="{% url tc_comment_delete response.id %}" name="deleteCommentForm">
                <input type="submit" class="buttonGreenSmall" style="float:right;" value="{% trans "Delete" %}" />
                <input type="hidden" name="next" value="{{ request.path }}" />
            </form>
            {% endifequal %}
                {% if user.is_authenticated %}
    		   <div class="martp25"><a href="javascript:toggle_comment_form({{ response.id }})" class="buttonGreenSmall" style="color:white;text-align:center;float:right;line-height:25px;margin:0px;text-decoration:none;padding:0px;">{% trans "Reply" %}</a></div>
                <form class="hidden respForm" method="POST" action="{% get_comment_url object response %}" id="comment_form_{{ response.id }}" style="clear:left;">
                    <table style="clear:both;">
		      <tr><td>
			  <textarea id="id_comment" rows="10" cols="40" name="comment" class="required"></textarea>
		      </td></tr>
		      <tr><td>&nbsp;</td></tr>
                    <tr><td><br /><input type="submit" class="buttonGreenMedium positive" style="float:right;" value="{% trans "Post Response" %}" /></td></tr></table>
                    <input type="hidden" name="next" value="{{ request.path }}" />
                </form>
                {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>

{% paginate %}

{% if user.is_authenticated %}
    <h2 class="uni_form_list_def">{% trans "Add a Comment" %}</h2>
        <form class="uniForm" method="POST" action="{% get_comment_url object %}">
            <fieldset>
                <div class="ctrlHolder" style="border:0px;">
                    <textarea id="id_comment" rows="5" cols="80" name="comment" class="required"></textarea>
                </div>
		<br/>
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <input type="submit" class="buttonGreenMedium positive" style="float:right;margin-right:28px;" value="{% trans "Post Comment" %}" />
            </fieldset>
        </form>
    
{% else %}
    <h4 class="prefix-2">Please <a href="{% url acct_login %}?next={{ request.path }}">Login</a> (or <a href="{% url acct_signup %}?next={{ request.path }}">Sign Up</a>) to leave a comment</h4>
{% endif %}
