{% extends "new_base.html" %}

{% load threadedcommentstags %}
{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load avatar_tags %}

{% get_threaded_comment_tree for object as responses %}
{% autopaginate responses %}

{% block extra_css_post %}
<style>
#id_comment { width: 500px; height: 90px; }
</style>
{% endblock %}

{% block content %}
<ul class="responses">
    {% for response in responses %}
    <li class="{% cycle even,odd %} thread-{{ response.depth }} clearfix">
        <div class="meta">
            <div class="avatar">{% avatar response.user 40 %}</div>
            <div class="details"><a href="{% url user_dashboard response.user.username %}">{{ response.user }}</a></div>
            {{ response.date_submitted|date }}
        </div>
        <div class="bulk">
            <div class="body">{{ response.comment|urlize|linebreaks }}</div>
            {% ifequal user response.user %}
            <form method="POST" action="{% url tc_comment_delete response.id %}">
                <button type="submit"><img src="/site_media/img/silk/delete.png" border="0" /> {% trans "Delete Post" %}</button>
                <input type="hidden" name="next" value="{{ request.path }}" />
            </form>
            {% endifequal %}    
    		    <a href="javascript:toggle_comment_form({{ response.id }})" class="button"><img src="/site_media/img/silk/comment_add.png" border="0" /> {% trans "Reply to This Post" %}</a>
                    <form class="hidden" method="POST" action="{% get_comment_url object response %}" id="comment_form_{{ response.id }}" style="clear:left;">
                    <table><tr><td><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></td></tr>
                    <tr><td><br /><button type="submit"><img src="/site_media/img/silk/accept.png" border="0" /> {% trans "Post Response" %}</button></td></tr></table>
                    <input type="hidden" name="next" value="{{ request.path }}" />
                </form>
        </div>
    </li>
    {% endfor %}
</ul>

{% paginate %}

{% if user.is_authenticated %}
    <h2 class="uni_form_list_def" style="border-bottom: 0px solid #aaa; border-top: 1px solid #aaa;margin-bottom:0px;margin-top:1em;color:white;">Add a Comment</h2>
        <form class="uniForm" method="POST" action="{% get_comment_url object %}">
            <fieldset>
                <div class="ctrlHolder">
                    <textarea id="id_comment" rows="8" cols="80" name="comment"></textarea>
                </div>
                    <input type="hidden" name="next" value="{{ object.get_absolute_url }}" />
                    <button type="submit positive"><img src="/site_media/img/silk/accept.png" border="0" /> {% trans "Post Comment" %}</button>
            </fieldset>
        </form>
    
{% else %}
    <h4 class="prefix-2">Please <a href="{% url acct_login %}">Login</a> (or <a href="{% url acct_signup %}">Sign Up</a>) to leave a comment</h4>
{% endif %}

{% endblock %}
