<ul class="subnav">
<li id="whats_netc"><a href="{% url netconference %}">What is Netconference</a></li>
<li id="how_it_works"><a href="{% url howitworks %}">How it Works</a></li>
<li id="about_us"><a href="{% url aboutus %}">About Us</a></li>
<li id="articles"><a href="{% url articles %}">Articles</a></li>
</ul>