{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About Us" %}{% endblock %}

{% block body %}

<img src="{{ MEDIA_URL }}img/bnr_about.jpg" alt="About nxtgen.tv" border="0" style="margin-bottom:10px;" />

<div id="homePanels">
	<div class="homePanel" id="homePanel1">
		<h2><a href="{% url products %}">Review our Products</a></h2>
		<h3>Innovative technologies for making <br />the most of today's social media.</h3>
		<ul>
			<li><a href="{% url svod %}">SVOD</a></li>
			<li><a href="{% url products_vmail %}">V-Mail</a></li>
			<li><a href="{% url video_chat %}">Video Chat</a></li>
			<li><a href="{% url products_vmoticons %}">V-moticons</a></li>
			<li><a href="{% url products_group_chat %}">Group Chat</a></li>
			<li><a href="{% url products_educational %}">Educational Tools</a></li>
			<li><a href="{% url products_uploader %}">Video Uploader</a></li>
			<li><a href="{% url products_site_builder %}">Site Builder</a></li>
			<li><a href="{% url products_event_scheduler %}">Event Scheduler</a></li>
			<li><a href="{% url products_ratings %}">Ratings/Comments</a></li>
			<li><a href="{% url products_dvd_burner %}">DVD Burner</a></li>
			<li><a href="{% url products_video_comments %}">Video Comments</a></li>
		</ul>
	</div>
	
	<div class="homePanel" id="homePanel2">
		<h2><a href="{% url services %}">Learn about our Services</a></h2>
		<h3>How nxtgen.tv makes your community <br />fun and profitable.</h3>
		<div style="width: 48%;float:left;margin-left:4%;margin-top:10px;">
			<h4><a href="{% url services_create %}">Create</a></h4>
			<p>With our unique set of social tools.</p>
			<h4><a href="{% url services_publish %}">Publish</a></h4>
			<p>Broadcast in custom content channels.</p>
		</div>
		<div style="width: 48%;float:left;margin-top:10px;">
			<h4><a href="{% url services_deliver %}">Deliver</a></h4>
			<p>Let our global media network handle traffic.</p>
			<h4><a href="{% url services_advertise %}">Advertise</a></h4>
			<p>Monetize your content while engaging users.</p>
		</div>
	</div>
	
	<div class="homePanel" id="homePanel3">
		<h2><a href="http://nxtgen.tv" target="_blank">Try a Demo</a></h2>
		<h3 class="homePanelLower">A sample application using several of <br />our unique social video products.</h3>
		<h2 class="homePanelLower"><a href="{% url clients %}">Read a Case Study</a></h2>
		<h3 class="homePanelLower">Nxtgen.tv brings the Paramount video library<br />to social networking.</h3>
		<h2 class="homePanelLower"><a href="">Contact Us</a></h2>
		<h3 class="homePanelLower">Find out how we can help you develop<br />and profit from your community.</h3>
	</div>

</div>

<div class="span-22 prefix-1">
<h2>An end-to-end broadcasting solution</h2>
<p>Nxtgen.tv is an end-to-end solution for media and advertising companies looking to intelligently distribute and monetize media content.  There is now a better way to upload, broadcast, manage and monetize entertainment and corporate media libraries in one seamless installation. Our unique approach provides a complete client package and a true Internet Broadcasting Solution.</p>
</div>

<div class="span-10 prefix-1">	
	<h2>An immersive digital experience</h2>
	<p>The constantly evolving market of online media requires unique solutions and flexible tools to keep up with the growing expectations of a sophisticated audience. Nxtgen.tv provides these solutions and tools to online communities who are looking for better ways to engage and retain the attention of their members while generating revenue from their library of content. Our suite of applications for social media creation and publishing create an unrivaled experience in online engagement and community participation, and our sophisticated methods of media hosting, management and delivery make it simple to install and use. An outside-the-box approach to marketing lets companies monetize their media assets and incentivize user participation through combined profits in revenue-sharing programs.</p>
	
<h2>Flexible Virtual Venues</h2>
<p>NxtgenTV is an Internet Broadcasting Corporation. Our broadcast model,built on our years of television and network distribution experience,groups media within a flexible channel-based environment. These channels can either be user driven, where every member of the system collects and displays their own programming playlist, or the channels can be content driven, grouping similar content streams together in a single channel location. From this architecture, media publishers can establish virtual venues that their users can engage with in a pragmatic and social way. The dynamic nature of these venues allowsunprecedented opportunities for social interaction and individual media genre branding.</p>
	
</div>
	
<div class="span-10 prefix-2">

<h2>Tools for sharing and participation</h2>
<p>Adding an irresistible "fun factor" is our suite of tools to encourage and enhance the socialization process. Our patented Shared Video On Demand player allows a channel owner to control the action as a video deejay, broadcasting in real time for an entranced virtual audience. Inter-channel member communication is facilitated through our proprietary VOIP, text and video conferencing system - a seamless application where broadcasting live to thousands from your web camera is as easy as a two-way connection for an intimate fireside chat. Marketing and viral possibilities are endless with a video e-mail application that encourages users to record and send webcam messages along with attached clips selected from their video library via email or through a companion Facebook application. All making for an incredible and social user experience, one that will win new business and sustain repeatable viewership.</p>

<h2>Profiting from your content</h2>
<p>New models of sponsorship and advertising are available to create profit using these channel venues. We design, customize and insert advertising campaigns into our managed media distribution network and provide you feedback on making the right strategic decisions to make the most of your content and user base. A truly unique revenue-sharing program gives the community an incentive for using our viral social tools to share, publish and distribute your content beyond the reach of your immediate network to their extended address book.</p>

</div>

<div class="span-20 prefix-2">
	
	<p><a href="downloads/NxtGen-whitepaper_1.1.pdf" class="goLink">Click here to download our White Paper &raquo;</a></p>
	
	<p><a href="downloads/nxtgen.ppt" class="goLink">Click here to download our PowerPoint presentation &raquo;</a></p>
	
	<br />
	
</div>

{% endblock %}
