{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Clients" %}{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li class="current"><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
    {% else %}
        &nbsp; {# need this to give subnav some height when empty #}
    {% endif %}
{% endblock %}

{% block body %}
    {% blocktrans %}
    
<h2>Case Study: Paramount Studios</h2>

<p>Paramount Studios was looking for a solution to begin delivering their premium content online.  NxtgenTV was that solution.  </p>

<img src="{{ MEDIA_URL }}img/voozoo_logo_lg.jpg" border="0" class="figure" />

<p>A dual-pronged approach to deliver media both <a href="http://voozoo.tv" target="_blank">on the Web</a> and within the Social Networking space of <a href="http://apps.facebook.com/voozootv/" target="_blank">Facebook</a>, as well as a phased approach was decided upon. Instead of moving full speed ahead and offering the Paramount library to the public in its entirety, the team decided instead to begin by cutting up the feature content into short "clips" that could be shared in a viral and unique way within the NxtgenTV construct.  Over 10,000 clips and full length feature films were extracted from their central repository and moved to our CDN of choice, <a href="http://akamai.com" target="_blank">Akamai Technologies</a> - a surprisingly painless migration.</p>

<img src="{{ MEDIA_URL }}img/voozoo_main.jpg" border="0" class="figure" />

<p>It was amazing to see the application come alive as over 4,000 channels were created and deployed for users on the first week of launch.  Releasing an application just before Christmas was a weighty decision, one which proved to be a huge success with our simultaneous release of the "Its a Wonderful Life" <a href="http://voozoo.tv/vmail_holidays.php" target="_blank">holiday themed V-Mail Card promotion.</a>  George Bailey on Christmas signified the magic we all felt, as the NxtgenTV and Paramount teams celebrated a demanding job well done.</p>

<p>The project moved like clockwork, as the design and programming code flow between Client Resources and Vendor Content was seamless.  A planned,  one year project, to launch a Major Studios Premium Content...and it went off perfectly conceived, flawlessly executed and professionally delivered, with one of the leading feature sets existing in the Social Media Content Delivery space today.</p>

    {% endblocktrans %}
{% endblock %}