{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Digital Millennium Copyright Act Notice" %}{% endblock %}

{% block body %}
    {% trans "<p>Our <b>Digital Millennium Copyright Act Notice</b> will go here...</p>" %}
{% endblock %}
