{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Help" %}{% endblock %}

{% block body %}

<style>
    #faq h4 {font-size:14px; font-weight:bold; }
    ol {
        list-style: disc inside none;
    }
    ol li {
        font:12px Arial, Helvetica, sans-serif; 
        color:#595959; 
        line-height:24px;
    }
</style>
    <h2 style="margin-left:24px;">{% trans "Conference Call Commands (Guest)" %}</h2>
    <p class="prefix-1" style="text-align:left;"><img src="{{ MEDIA_URL }}img/call_options_guest.png" alt="{% trans "Call Options - Guest" %}" width="216" height="117" border="0" style="border:1px solid #555;padding:10px 20px;margin:10px 0 10px 40px;" /></p>
    
    {% if user.is_authenticated %}
    <h2 style="margin-left:24px;">{% trans "Conference Call Commands (Host)" %}</h2>
    <h4 class="prefix-2 span-20">{% trans "Recording Instructions" %}</h4>
    <p class="prefix-2 span-20">{% blocktrans %}During the free conference call, the host can start recording at any time by pressing *9. The system disconnects him/her from the free conference call and prompts for the Subscriber PIN. If the Subscriber PIN is valid, the host is returned to the conference and all attendees are notified that the recording option has been started. To stop the recording, the host will press *9 again. {% endblocktrans %}<strong><em>{% blocktrans %}Please Note: Our system holds one recording at a time in your account. Every time the recording feature is activated, the previously recorded conference will be overwritten.{% endblocktrans %} {# NEED TO MAKE! To prevent from losing your previous recording, login to your account and download the file to your computer before your next conference call. #}</em></strong></p>
    <p class="prefix-1" style="text-align:left;"><img src="{{ MEDIA_URL }}img/call_options_host.png" alt="{% trans "Call Options - Host" %}" width="299" height="168" border="0" style="border:1px solid #555;padding:10px 20px;margin:10px 0 10px 40px;" /></p>
    
    <h2 style="margin-left:24px;">{% trans "Playback Commands (Host)" %}</h2>
    <h4 class="prefix-2 span-20">{% trans "Playback Instructions" %}</h4>
    <p class="prefix-2 span-20">{% blocktrans %}To listen to the recorded conference, the host must provide attendees with the play back number and access code. Please note, this number is different from the conference dial-in number. When users call into the recording playback number, they will be prompted to enter the access code. Once confirmed, the system will play back the recorded conference. During play back, the user can scroll forward or backwards through the recorded conference. You will find the play back features below.{% endblocktrans %} </p>
    <p class="prefix-1" style="text-align:left;"><img src="{{ MEDIA_URL }}img/call_options_playback.png" alt="{% trans "Call Options - Host" %}" width="216" height="117" border="0" style="border:1px solid #555;padding:10px 20px;margin:10px 0 10px 40px;" /></p>
    {% endif %}
	
	<h2 style="margin-left:24px;">{% trans "Frequently Asked Questions" %}</h2>
	<div id="faq" class="span-22 prefix-1">
	    
	    <h4>{% trans "How do people find my conferences?" %}</h4>{% url conferencing as conferencing %}
	    <p>{% blocktrans with conferencing as conferencing %}All v-mails you send will include a link to your <a href="{{ conferencing }}">public calendar of events</a>, so people can find your scheduled meetings.  (Remember, only events you mark as "public" will be visible to others.) Also, anyone you send a v-mail to will be saved in your Contacts so you can easily email or v-mail them later.{% endblocktrans %}</p>
	    
	    <h4>{% trans "How does my telephone conference bridge work?" %}</h4>
	    {% if user.is_authenticated %}
	    <p>{% blocktrans %}Your conference bridge is an alternative to using your computer's microphone for your meeting's audio. If you use it, everyone attending your meeting must dial in to the conference line.{% endblocktrans %}</p>
	    <p>{% blocktrans %}When using your free conference call number you must notify your callers by giving them the date, time, dial-in number and access code. All parties will use the same dial-in number and enter the same access code, followed by the * or # key as specified below.{% endblocktrans %}</p>
	    <p>{% blocktrans %}<strong>Host:</strong> To open the bridge line for your presentation, please dial the bridge phone number. When prompted, enter the assigned access code, followed by the <strong>* key.</strong>{% endblocktrans %}<br />
	        {% blocktrans %}<strong>Participant:</strong> Please dial the bridge phone number.  When prompted, enter the assigned access code, followed by the <strong># key.</strong>{% endblocktrans %}</p>
	    <p>{% blocktrans %}As the host, you have the power to mute and unmute the participants. It is usually good to mute all callers during a group presentation and unmute the call for questions at the end of your presentation. <strong>To mute all other guests on the call, PRESS *5 TWICE</strong>. To unmute the guests, press *5 again.{% endblocktrans %}</p>
	    {% else %}
	    <p>{% blocktrans %}A conference bridge is a telephone-based alternative to using your computer's microphone and speakers for your meeting's audio. If your host decides you will use it, everyone attending your meeting must dial in to the conference line.{% endblocktrans %}</p>
	    <p>{% blocktrans %}Please dial the bridge phone number.  When prompted, enter the designated access code, followed by the <strong># key.</strong>{% endblocktrans %}</p>
	    {% endif %}
	    
        <h4>{% trans "How can I test my webcam and microphone setup?" %}</h4>
        <p><a href="{% url camtest %}">{% trans "Click here to visit our webcam setup and test page." %}</a></p>
	    
	    <h4>{% trans "I am using a Mac and having trouble connecting my iSight camera." %}</h4>
	    <p>{% blocktrans %}Please right-click in the webcam area and choose "Settings". Then click on the webcam tab at the bottom and select "USB Video Class Video" from the dropdown menu.  This is your iSight camera.  Close this dialog and you should be ready to go.{% endblocktrans %}</p>
	    
	    <h4>{% trans "The site says I need to upgrade my Flash plugin." %}</h4>
	    <p>{% blocktrans %}Flash version 10 is required to use the advanced features of the conferencing rooms. You can download the latest version of the Flash player{% endblocktrans %} <a href="http://get.adobe.com/flashplayer/" target="_blank">{% trans "here" %}.</a></p>
	    
	    <h4>{% trans "My company uses a firewall and my webconference cannot connect." %}</h4>
	    <p>{% blocktrans %}Contact your system administrator and ask to authorize Internet communication using port 1935. This is the port that our system uses to talk with the central server. If connection on this port fails we also try to use port 80, then port 443. If communication on these three ports is not possible, please contact us with a list of available ports that your server can use and we will try to set up an extra fallback port for you.{% endblocktrans %}</p>
	    
	    <h4>{% trans "I am having problems with an echo or feedback coming from my webcam." %}</h4>
	    <p>
{% blocktrans %}	        A feedback problem is caused by the sound from your speakers feeding into your microphone and creating a loop.  There are a few things you can do to alleviate this:{% endblocktrans %}
            <ol style="margin-top:-5px;">
                <li>{% trans "Using headphones solves the problem 100%.  This is truly the best way to use the app." %}</li>
                <li>{% trans "Make sure your speakers are in front of your microphone, or at least not facing your mic." %}</li>
                <li>{% trans "Turn down your speaker volume as much as possible to reduce overflow to your microphone." %}</li>
                <li>{% trans "Turn down your microphone's sensitivity setting." %}</li>
                <li>{% trans "Right-click the conference area and select 'Settings...' from the menu.  Click the microphone icon at the bottom of the dialog and make sure the 'reduce echo' box is checked." %}</li>
            </ol>
</p>
        
        <h4>{% trans "What kinds of files can I upload to use in conferences?" %}</h4>
        
        <p>{% blocktrans %}You can upload many different types of files. Once you have uploaded a file you can use it in our unique online document viewer, or download a PDF version or the original file itself. NetConference provides you with a great way to store and share files online!<br />We currently support the following file types:{% endblocktrans %}
            
            <ol style="margin-top: -5px;">
                <li><strong>ppt</strong>: {% trans "Microsoft PowerPoint 97/2000/XP" %}</li>
                <li><strong>doc</strong>: {% trans "Microsoft Word 97/2000/XP" %}</li>
                <li><strong>xls</strong>: {% trans "Microsoft Excel 97/2000/XP" %}</li>
                <li><strong>rtf</strong>: {% trans "Rich Text Format" %}</li>
                <li><strong>txt</strong>: {% trans "Plain text" %}</li>
                <li><strong>wpd</strong>: {% trans "WordPerfect" %}</li>
                <li><strong>swf</strong>: {% trans "Adobe Flash" %}</li>
                <li><strong>html</strong>: {% trans "Web page" %}</li>
                <li><strong>flv</strong>: {% trans "Video file" %}</li>
                <li><strong>mov</strong>: {% trans "Video file" %}</li>
                <li><strong>mp4</strong>: {% trans "Video file" %}</li>
                <li><strong>avi</strong>: {% trans "Video file" %}</li>
                <li><strong>mpg</strong>: {% trans "Video file" %}</li>
                <li><strong>mpeg4</strong>: {% trans "Video file" %}</li>
                <li><strong>mp3</strong>: {% trans "Audio file" %}</li>
                <li><strong>aac</strong>: {% trans "Audio file" %}</li>
                <li><strong>m4a</strong>: {% trans "Audio file" %}</li>
                <li><strong>wav</strong>: {% trans "Audio file" %}</li>
                <li><strong>odt</strong>: {% trans "OpenDocument (ODF) Text" %}</li>
                <li><strong>sxw</strong>: {% trans "OpenOffice.org version 1 Text" %}</li>
                <li><strong>ods</strong>: {% trans "OpenDocument (ODF) Spreadsheet" %}</li>
                <li><strong>sxc</strong>: {% trans "OpenOffice.org version 1 Spreadsheet" %}</li>
                <li><strong>odp</strong>: {% trans "OpenDocument (ODF) Presentation" %}</li>
                <li><strong>sxi</strong>: {% trans "OpenOffice.org version 1 Presentation" %}</li>
            </ol>
        </p>
	    
	</div>
	
{% endblock %}
