<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Efusjon Help Video 1: Getting Started</title>
<script src="{{ MEDIA_URL }}js/captivate.js" type="text/javascript"></script>
</head>

<body bgcolor="#F5F4F1">
<center>
<script type="text/javascript">
<!--
writeDocument('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="993" height="877" ID="Captivate1">'+
  '<param name="movie" value="{{ MEDIA_URL }}swf/efusjondemo_skin.swf">'+
  '<param name="quality" value="high">'+
  '<param name="loop" value="0">'+
  '<embed src="{{ MEDIA_URL }}swf/efusjondemo_skin.swf" width="993" height="877" loop="0" quality="high" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash" menu="false"></embed>'+
  '</object>');
//-->
</script>

<script type="text/javascript">
document.getElementById('Captivate1').focus();
document.Captivate1.focus();
</script>

<noscript>
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="993" height="877" ID="Captivate1">
		<param name="movie" value="{{ MEDIA_URL }}swf/efusjondemo_skin.swf">
		<param name="quality" value="high">
		<param name="loop" value="0">
		<embed src="{{ MEDIA_URL }}swf/efusjondemo_skin.swf" width="993" height="877" loop="0" quality="high" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash" menu="false"></embed>
	</object>
</noscript>
</center>
</body>
</html>
