{% load i18n %}
{% url affiliate_dashboard as url_affiliate_dashboard %}
{% url affiliate_opportunity as  url_affiliate_opportunity %}

<ul class="subnav">
<li{% ifequal url_affiliate_opportunity request.get_full_path %} class="current" {% endifequal %}><a href="{{ url_affiliate_opportunity }}">{% trans "Opportunity" %}</a></li>
{% if user.is_authenticated %}
<li{% ifequal url_affiliate_dashboard request.get_full_path %} class="current" {% endifequal %}><a href="{{ url_affiliate_dashboard }}">{% trans "Affiliate Dashboard" %}</a></li>
{% comment %}
<li id='affiliate_invite'><a href="{% url affiliate_invite %}">{% trans "Affiliate Invite" %}</a></li>
{% endcomment %}
{% endif %}
</ul>