{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Opt out of Disclosures of Nonpublic Personal Information" %}{% endblock %}

{% block body %}
    {% trans "<h2>Opt out of Disclosures of Nonpublic Personal Information</h2>" %}
    <div class="span-22 prefix-1">
    {% if optout %}
        {% blocktrans %}
        <p>You have already opted out of disclosures of your nonpublic personal information to third parties not affiliated with NxtGen.TV, as detailed in section III of the {{ SITE_NAME }} {% endblocktrans %}<a href="{% url privacy %}">Privacy Policy.</a></p>
    {% else %}
        {% blocktrans %}
        <form name="optout" action="." method="post">
        <p><input type="checkbox" name="optout" value="optout" checked="checked" />I am registered as a Member of {{ SITE_NAME }} as <strong>{{ username }}</strong> and I wish to opt out of disclosures of my nonpublic personal information to third parties not affiliated with NxtGen.TV, as detailed in section III of the {{ SITE_NAME }} {% endblocktrans %}<a href="{% url privacy %}">Privacy Policy.</a></p>
            <input type="hidden" name="username" value="{{ username }}" />
            <input type="submit" class="button" value="Click here to opt out" />
        </form>
    {% endif %}
    </div>
{% endblock %}