{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Site Builder" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>Site Builder: Let Your Community Drive</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > Site Builder</div>

<h2>Allow users to create and customize their own portal.</h2>

<p>Site Builder complements our Multi-User Channel service, where users can create their own channels.  Site Builder allows a user to customize their channel, complete with unique URL and theme.</p>

<img src="{{ MEDIA_URL }}img/products-site_builder.jpg" alt="Site Builder" border="0" />

<br /><br /><br />

{% endblock %}