{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Ratings/Comments" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>Ratings and Comments: The Audience Has Spoken</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > Ratings/Comments</div>

<h2>Social networking tools for your media library.</h2>

<p>Inviting your community to share your media library is a lot of fun. But how do you find out what the best parts of your media are - and how does your audience find the best parts as well?  That's where social tools such as ratings and comments come into play.  Let your users provide feedback for both you and those that come after them.  Create dynamic "featured" sections of your library that sort your content by "highest rated", "most commented", etc.</p>

<img src="{{ MEDIA_URL }}img/products-ratings_comments.jpg" alt="Ratings/Comments" border="0" />

<br /><br /><br />

{% endblock %}