{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Event Scheduler" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>Event Scheduler: Make It A Date</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > Event Scheduler</div>

<h2>Realtime sharing. Realtime scheduling. Real easy.</h2>

<p>Many of the nxtgen.tv product offerings are tools for realtime sharing.  But how do you get people into your channel to watch video with you?  The answer is simple - you schedule a date!  And with our sophisticated Event Scheduler the work is done for you.  Choose a date, an event and recipients.  They are delivered your invitation in multiple formats to work with their calendar of choice, and sent reminders if or they you request.  Our companion Event Manager gives you a to-the-minute glance at your calendar and scheduled events.</p>

<img src="{{ MEDIA_URL }}img/products-event_scheduler.jpg" alt="Event Scheduler" border="0" />

<br /><br /><br />

{% endblock %}