{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Group Chat" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>Group Chat: Your Community's Real-Time Message Board</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > Group Chat</div>

<h2>Create on-the-fly group text chat rooms.</h2>

<p>The nxtgen.tv Group Chat module is a flexible FMS-based application that allows for flexible, on-the-fly chat rooms for realtime communication to be created. Each user gets their own chat room per channel ... or install a site-wide chat room for everyone to converse in at once ... or create private one-on-one chat rooms ... there are so many possibilities! Combine this module with <a href="{% url svod %}">SVOD</a>, <a href="{% url video_chat %}">Video Conferencing</a> and <a href="{% url products_vmoticons %}">V-moticons</a> for a real-time video sharing studio.</p>

<img src="{{ MEDIA_URL }}img/products-group_chat.jpg" alt="Group Chat" border="0" />

<br /><br /><br />

{% endblock %}