{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "V-Mail" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>V-Mail: Record and Send Video Emails Right from Your Site</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > Video Conferencing</div>

<h2>Viral Messaging Using Video Clips and Webcam Recording</h2>

<p>Simple. Using our patented Video Greeting Card Recording Sytem a user first
logs into the NxtgenTV Recording application as shown here:</p>

<p class="caption">Figure 1 - Nxtgen Patented V-Mail Recording Application</p>

<img src="{{ MEDIA_URL }}img/products_page_vmail1.jpg" border="0" class="figure" />

<p>Next, you have the option of attaching any piece of media from your library
to the video message along with scheduling a time and date for their friends
or co-workers to meet them in their channel for a scheduled viewing. This is
a great way to virally share your media as well as allowing users to envelope
themselves within your media brand.</p>

<p class="caption">Figure 2 - Attaching a piece of media to your Video E-Mail</p>

<img src="{{ MEDIA_URL }}img/products_page_vmail2.jpg" border="0" class="figure" />

<p>The notification process begins with an email being receive in the recipients mailbox.</p>

<p class="caption">Figure 3 - The Email Receipt</p>

<img src="{{ MEDIA_URL }}img/products_page_vmail3.jpg" border="0" class="figure" />

<p>When the user opens the email they are engrossed in a rich media experience with graphics and text.</p>

<p class="caption">Figure 4 - The Rich Media V-Mail Experience</p>

<img src="{{ MEDIA_URL }}img/products_page_vmail4.jpg" border="0" class="figure" />

<p>When the recipient opens the link to their video email, they are again immersed within a web page containing a uniquely branded experience.</p>

<p class="caption">Figure 5 - Playing the Video Email</p>

<img src="{{ MEDIA_URL }}img/products_page_vmail5.jpg" border="0" class="figure" />

<p>Our clients use our V-Mail application to express the brands of different
campaigns and marketing agendas as seen below in this seasonal Paramount Studios Christmas Holiday Card.</p>

<p class="caption">Figure 6 - Matching the Video E-mail player brand to a campaign</p>

<img src="{{ MEDIA_URL }}img/products_page_vmail6.jpg" border="0" class="figure" />
  	

<br /><br /><br />

{% endblock %}