{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Video Conferencing" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>Video Conferencing: Live Webcam Communication</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > Video Conferencing</div>

<h2>With the NxtgenTV Video Conferencing System...Seeing is Believing</h2>

<p>Our Video Chat Rooms allow your channel viewers to immerse themselves in a totally interactive social experience. There is something different about watching a video "with" someone else and actually seeing their reactions to the video.</p>

<img src="{{ MEDIA_URL }}img/products_page_video_chat.jpg" alt="SVOD" border="0" />

<br /><br /><br />

{% endblock %}