{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Products" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<div class="span-9 prefix-2">
	<h3>SVOD</h3>
	
	<p>Online users can now watch video together in realtime.<br />
	<a href="{% url svod %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h3>Video Conferencing</h3>
	
	<p>Make live webcam broadcasts and private video calls.<br />
	<a href="{% url video_chat %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h3>Group Chat</h3>
	
	<p>Create on-the-fly group text chat rooms.<br />
	<a href="{% url products_group_chat %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h3>Video Uploader</h3>
	
	<p>Connect your site with your community's content.<br />
	<a href="{% url products_uploader %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h3>Event Scheduler</h3>
	
	<p>Realtime sharing. Realtime scheduling. Real easy.<br />
	<a href="{% url products_event_scheduler %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h3>DVD Burner</h3>
	
	<p>A unique application creates DVDs from online libraries.<br />
	<a href="{% url products_dvd_burner %}" class="goLink">Click here to learn more &raquo;</a></p>
	
</div>

<div class="span-9 prefix-2">

	<h3>V-mail</h3>
	
	<p>Record and send video messages from your webcam.<br />
	<a href="{% url products_vmail %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h3>V-moticons</h3>
	
	<p>Say more with short video clips in chatrooms and email.<br />
	<a href="{% url products_vmoticons %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h3>Educational Tools</h3>
	
	<p>Outside-the-box media collaboration, presentation and archival.<br />
	<a href="{% url products_educational %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h3>Site Builder</h3>
	
	<p>Allow users to create and customize their own portal.<br />
	<a href="{% url products_site_builder %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h3>Ratings/Comments</h3>
	
	<p>Social networking tools for your media.<br />
	<a href="{% url products_ratings %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h3>Video Comments</h3>
	
	<p>Media comments aren't just text blurbs any more.<br />
	<a href="{% url products_video_comments %}" class="goLink">Click here to learn more &raquo;</a></p>
	
</div>

{% endblock %}