{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Video Comments" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>Video Comments: Threaded Video Conversation</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > Video Comments</div>

<h2>Media comments aren't just text blurbs any more.</h2>

<p>We're all familiar with comments.  Commenting plugins on blogs, video sites, review sites, and well... everywhere, are a tremendously useful way of allowing people to interact with a website.  But what if comments could become something more?  With our video commenting engine, users can use their webcams to create threaded video conversations that say it with much more personality than the traditional text comments.</p>


<img src="{{ MEDIA_URL }}img/products-video_comments.jpg" alt="Video Comments" border="0" />

<br /><br /><br />

{% endblock %}