{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "DVD Burner" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>DVD Burner: Download, Burn and Play In One Seamless Application</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > DVD Burner</div>

<h2>A unique AIR application creates DVDs from online libraries.</h2>

<p>There are two distinct sides to this application.  The first is process and flow.  The idea originally stemmed from realizing that there were vast media libraries available for viewing over the Internet and no way to transcend the computer screen to view these on a living room television set.  The obvious way skin that cat was to download and burn them onto a DVD.  A no brainier.  However, when you dive into this from a technical perspective there are a host of encoding and downloading issues that to a novice user becomes quickly overwhelming.  Notably, this surely is the reason why most American's are not familiar with the term "Torrent".</p>

<p>The first step in choosing a piece of media to download is to browse an online library through a web page exactly the same way as seen in every NxtgenTV application.  Not a problem, however a browser by it's very nature cannot "talk" to the local resources of the host machine in order to access the burning DVD Rom.  You can browse and preview the movie certainly through IE or FF but then you must physically download it to your machine and use another "installed" program to burn it to DVD.  This is the first disconnect point in the user experience and subsequently where the NxtgenTV Burning application comes in to play.  Our application is a kind of hybrid web application that is actually installed on a users machine.  It can do both.  It can browse the Internet accessing libraries and it can access the local resources of the users machine.</p>

<p>What we have done is to build and develop our own proprietary burning software program similar to Nero and incorporated this with an Internet browsing Flash application.  To the user, the experience is seamless; browse, download and burn all within one program, one screen, no technical savvy needed.  Point, click CD tray opens, come back 15 minutes later and you have a DVD feature waiting for you in your computer.</p>

<p class="caption">Figure 1 - Sample Look Developed for Blockbuster.com</p>

<img src="{{ MEDIA_URL }}img/products_page_dvd1.jpg" border="0" class="figure" />

<p class="caption">Figure 2 - Sample Look Developed for Red Box Media</p>

<img src="{{ MEDIA_URL }}img/products_page_dvd2.jpg" border="0" class="figure" />

<h2>DRM - Protecting your Content from Unauthorized Use</h2>

<p>The second piece of this is to protect the feature from malicious abuse, or DRM.
Every copy of a movie or piece of media either downloaded or burned at a kiosk is "linked" to a particular user.  This is done by inserting a digital watermark bar code containing the consumers information within random frames of the feature content.  This happens on the fly as the consumer requests the feature.  This method would survive an analog attack on the media and allow us to trace back that particular copy where ever it might be propagated.  It goes one step further than simply inserting a watermark that, for example was the copyright symbol for Paramount.</p>

<p>Two, in order to even log into the system it is required that the user have a DVD that is 100% unique and cannot be duplicated.  This is accomplished at the manufacturing level by actually "stamping" into the unreadable sectors of the DVD-RW an algorithm "lock" that can only be interfaced with our software key.  This is a natural benefit and byproduct of the AIR application since the original intent was simply to have an application installed on the users machine to access local resources (burning DVD ROM).  This has also been the reason for us reaching out to Phillips in order to acquire the Patented Blue Prints of their DVD-RW, IP protected technology.  Essentially, we are creating a "stamp" similar in concept to a "printing plate" used to make our US currency.  It would be impossible to replicate without the stamp and the combined blueprints.</p>

<p>As far as the particular codecs in use, this is two fold.  The streaming media previews of the feature content are maintained in Adobe's .flv format.  The actual features are held in MPEG-2 format and wrapped up into a disk image along with the watermarking insertion process at the server level before download.  The file is held in limbo on the user's machine during download and is never actually saved to the users machine.</p>

<p class="caption">Figure 3 - How It Works</p>

<img src="{{ MEDIA_URL }}img/products_page_dvd3.jpg" border="0" class="figure" />

<br /><br /><br />

{% endblock %}