{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Video Uploader" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>Video Uploader: Leveraging User-Generated Content</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > Video Uploader</div>

<h2>Connect your site with your community's content.</h2>

<p>One thing that has developed quickly in today's digital lifestyle is the ease of acquiring, recording and producing digital video content. Nxtgen.tv makes it simple to share your media library with your audience, but how do you allow your users to contribute to your media library?  The broad range of video formats, aspect ratios and compression/decompression (codec) schemes out there make it difficult to create a seamless experience.  Nxtgen.tv has taken the step of creating a high-quality, flexible, single-step uploader and encoder that allows users to upload video in nearly any format, then encodes it to high-quality FLV or MP4 video and places it in your library along with the correct metadata.  It couldn't be more simple!</p>

<img src="{{ MEDIA_URL }}img/products-video_uploader.jpg" alt="Video Uploader" border="0" />

<br /><br /><br />

{% endblock %}