{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "V-Moticons" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>V-moticons: New Expressions for Instant Messaging</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > V-moticons</div>

<h2>Say more with short video clips in chatrooms and email.</h2>

<p>V-moticons are a unique way to express yourself in instant messaging and nxtgen.tv's <a href="{% url products_group_chat %}">Group Chat module.</a>  In the familiar "emoticon" menu you will find icons to fire off short video messages INSIDE the chat window!  These messages play to everyone in the chat room and are a hilarious way to interact with both the group chat users and the video playing on the main screen.</p>

<img src="{{ MEDIA_URL }}img/products_page_vmoticons.jpg" border="0" />

<br /><br /><br />

{% endblock %}