{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Shared Video On Demand" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>SVOD: Shared Video on Demand</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > SVOD</div>

<h2>Our Core Technology</h2>

<p>Our patent-pending "Shared Video On Demand" concept revolutionizes the user experience by bringing users "together", within a pragmatic and unique environment to share in the emotional catharsis generated through a viewing experience.</p>

<p>Here's how it works...One person has a master television, and many, many others have slaves.  The master set chooses which video is being watched by all of the others. They can fast forward, rewind, pause, and change videos like a Video DJ or a, "VJ". While they are doing this, people can interact with each other using video chat, text chat, emoticons, and more.</p>

<img src="{{ MEDIA_URL }}img/products_page_svod.jpg" alt="SVOD" border="0" />

<p>Users are able to program their own individual channel playlists from videos, which they may either select from a public library of programming, or upload their own media to watch in synchronicity with their friends. This is truly appointment television that comes with interactive calendars and invitation systems to bring your groups together online for a complete social experience. The new amount of interactivity and socialization that nxtgen.tv, brings to the online shared media experience is incalculable.</p>

<h2>How it works &mdash; The NxtGen.tv Competitive Advantage</h2>

<p>NxtGen.tv's Shared Video on Demand (SVOD) systems allow users and clients to see life in a shared screen experience, essentially occupying the same space in a virtual environment at the same time.   This allows people in various separate locations to watch video media content "together", sharing the same experience at the same time.   At present times, a streaming video is played by a "client" through an Internet connection and he/she receives his/her own stream of data.  In order for two people to enjoy the same media at the same time it is necessary for both individuals to press "play" at exactly the same time. What is unique to the NxtGen.tv process is the introduction of a simultaneous data stream or a "Shared Object". This concept allows either individuals or multiple members in a group to connect into and watch a piece of media together and yet be watching from different locations.  This allows the connected individuals to experience the same media and enjoy the same excitement and experiences at the same time thus increasing the social interaction between the members of the group.</p>

{% endblock %}
