{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Educational Tools" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li class="current"><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}

<h1>Educational Tools: Collaborate, Present and Store</h1>

<div id="breadcrumb"><a href="{% url about %}">About Us</a> > <a href="{% url products %}">Products</a> > Educational Tools</div>

<h2>Outside-the-box media collaboration, presentation and archival.</h2>

<p>Nxtgen.tv has developed a suite of tools to facilitate distant learning. With fuel prices on the rise and physical space at a premium, the classroom of this generation is becoming a virtual one.  Our applications allow screen sharing, group presentation, real-time collaboration, file sharing, cloud storage for group access, and more.  These tools can be applied in many ways: customer service, education, training seminars, business meetings, and more.  Contact us to find out how you can integrate these tools into your business to start saving money today.</p>

<img src="{{ MEDIA_URL }}img/products-educational_tools.jpg" alt="Educational Tools" border="0" />

<br /><br /><br />

{% endblock %}