{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Services" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li class="current"><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}
    
<h1>Deliver: Distribution and Media Hosting Options</h1>

<div id="breadcrumb"><a href="{% url services %}">Services</a> > Deliver</div>

<h2>Multi Node - Designed for larger clients with an immediate worldwide audience</h2>

<p>NxtGen.tv has partnered with media giant, Akamai technologies, to offer a multi node solution which, leverage over 2,600 media servers deployed in over 50 countries.  Media streams are delivered with minimal network latency while maintaining the highest levels of video speed and quality.  Our technicians work around the clock to assure your customer's satisfaction while immersed within their branded NxtGen.tv media delivery experience.</p>

<h2>Single Node - Designed for small to medium sized publishers looking for high quality value</h2>

<p>For our smaller customers focused on cost savings we also have a single node hosting solution that is much more cost effective yet still as reliable as the CDN's. Our media servers are hosted within one of the countries premier hosting facilities www.rackspace.com. We purchase massive amounts of bandwidth each month and pass that savings along to you, our clients and customers.</p>

<h2>The NxtgenTV Content Delivery Network</h2>

<p>Our delivery network is built on the cutting edge Flash Media Server Platform.  Engaging Adobe Systems has allowed our programming staff the unlimited flexibility to deliver not only high quality media, but to have total control over every intricate detail within the user experience.  Using Flash technology NxtGen.tv clients can rest assured that their media streams will intelligently reach their consumer base, harnessing highly adaptive object-oriented programming embedding code directly into the media stream.  NxtGen.tv realizes that it is simply not enough to serve out random videos or ads; they must be done in a highly evolved and technical way to both impress and sway consumer thoughts and buying habits.</p>

<p class="caption">Figure 1 - The NxtgenTV Distribution Network</p>

<img src="{{ MEDIA_URL }}img/deliver_networkdiag.jpg" border="0" class="figure" />

<h2>Technical Support and Customer Services</h2>

<p>Nxtgen.tv provides unmatched technical support, and offers services such as training and launch management services, as well as creative and integration design.  Consumer technical questions are collected and addressed through a network of online forms and FAQ pages and are promptly addressed to assure consumer brand loyalty.</p>

{% endblock %}