{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Services" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li class="current"><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}
    
<h1>Advertising: Your Financial Success is Our Financial Success</h1>

<div id="breadcrumb"><a href="{% url services %}">Services</a> > Advertise</div>

<h2>NxtgenTV is your advertising white knight</h2>

<p>NxtGen.tv understands that every customer has unique and highly specific needs.  Our philosophy is consumer and demand driven, allowing us to spend the real time needed diving into your company's business models and agendas.  Our sales and programming staff will work relentlessly to find new, inventive and exciting ways to engage and retain your clients.  No request has been too large or too small for us to seriously consider.  We pride ourselves on thinking, "out of the box" generating tremendous results and serious revenue generation.</p>

<h2>What can we expect?</h2>

<p>The percentage of people accessing the Internet for leisure time entertainment is growing
rapidly. ABI Research suggests that the total consumer base for Internet video will be nearly
one billion people by 2012, resulting in a total online video market &mdash; both pay and ad supported &mdash; 
of $15.6 billion. According to Cisco's June 2008 Visual Networking Index: Internet video will account for 50 percent of all consumer Internet traffic in 2012. Internet video-to-PC will make up the majority of Internet video at 40 percent of total Internet traffic, but Internet video-to TV will grow rapidly to 10 percent of the total in 2012. Non-Internet IP video will increase more rapidly than consumer Internet. The twin trends of on-demand viewing and high-definition video are generating very rapid growth in cable video and IPTV traffic transported over IP in the metro. Consumer IPTV and CATV traffic will grow at a 68 percent compound annual growth rate (CAGR) between 2007 and 2012, compared to a CAGR of 43 percent for consumer Internet traffic.</p> 


<h2>Driving Sales with Creative Ad Delivery</h2>

<p>It is important to choose the right mix of ad formats to keep both sponsors and users happy.  Nxtgen.tv players are preconfigured with support for rich-media ad units that range from standard to cutting-edge, so you can drive maximum value.</p>

<p>Our menu of ad formats includes:</p>

<p><strong>Synched Ad Units</strong><br />Rich-media banners synchronized to video roll, including expandable banners.</p>

<p><strong>Rich-Media Banners</strong><br />Build ads that graphically will entice your users.</p>

<p><strong>Player Takeovers</strong><br />Create immersive brand experiences with takeover ads. These rich, interactive experiences pause the video, take over the player's surface, and then seamlessly resume video play when the consumer closes the ad. These include:</p>

<ul class="bulletList">
	<li>Video Pre-Roll &mdash; Insert video ads at the beginning of a video title.</li>
	<li>Video Mid-Roll &mdash; Insert video ads at any point in a title.</li>
	<li>Video Post-Roll &mdash; Insert video ads at the end of a title.</li>
</ul>

<p><strong>Overlays</strong><br />Offer ad units that overlay the lower third of the video window, letting you generate ad revenue without disrupting the viewing experience.</p>

<h2>Advertising Sales - You have great content, now how do you get the advertisers?</h2>	

<p>Harness the full potential of your content through innovative and flexible online video advertising options. By offering and integrating our Industry leading ad server and custom 3rd-party ad solutions, you can stay focused on your ad strategy while we handle the technology.</p>

<h2>Using an Ad Network - Outsource 3rd party sales forces to garnish campaign dollars</h2>

<p>Join an ad network to monetize all of your content or any remnant inventory left over by your ad sales team. NxtgenTV has partnered with several leading networks to make it easy to get started.</p>

<h2>Our Partner Ad Networks:</h2>

<ul class="bulletList">
	<li>Eyewonder.com</li>
	<li>Ad.com&trade;</li>
	<li>Brightroll&trade;</li>
	<li>Google Adsense for Video (AFV)&trade;</li>
	<li>ScanScout&trade;</li>
	<li>Tremor&trade;</li>
	<li>YuMe&trade;</li>
</ul>

<p>We will help and work with you to determine the right Ad Network, combined with the right mix of ad formats to maximize the user expereince within your media campaign.</p>

{% endblock %}