{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Services" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li class="current"><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}
    
<h1>Create: Sharing the Media that People Create is Our Business</h1>

<div id="breadcrumb"><a href="{% url services %}">Services</a> > Create</div>

<h2>Social Media is Evolving Again...</h2>

<p>Video sharing sites of the past have capitalized on the public's desire to share inspired videos.  With NxtgenTV they can now watch video together, in real time, while chatting via group IM and webcams.</p>

<p>People are passionate about sharing something that moves them or makes them laugh. There is a fascinating social phenomena that happens when a group of friends get together and start watching and chatting while screening these kinds of video programs simultaneously. It is clearly a whole lot more fun.</p>

<p>Humans are very social creatures and we love to laugh together. Now with the price of fuel increasing, new social methods of online interaction are bound to evolve, with Nxtgen.tv leading the way.</p>

<p>NxtgenTV has forged ahead into the nexus of User Generated Content with our Patented SVOD and Media Uploader Systems. Sharing the media that people create is our business!</p>

<p>Our core SVOD technology and the advantage our socialization suite brings is years ahead of the competition. Combine and invite users into our patented Channel Systems and literally watch them as your media comes alive through Video Conferencing, Live Broadcasts, Shared Screen Experiences, Playlist Collections, Video E-mail, DVD Burning Tools, Forums, Instant Notifications, and more. All completely customizable within both our web and Facebook Applications. It's simply amazing...</p>


<div class="span-9 prefix-2">
	<h2>SVOD</h2>
	
	<p>Online users can now watch video together in realtime.<br />
	<a href="{% url svod %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h2>Video Conferencing</h2>
	
	<p>Make live webcam broadcasts and private video calls.<br />
	<a href="{% url video_chat %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h2>Group Chat</h2>
	
	<p>Create on-the-fly group text chat rooms.<br />
	<a href="{% url products_group_chat %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h2>Video Uploader</h2>
	
	<p>Connect your site with your community's content.<br />
	<a href="{% url products_uploader %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h2>Event Scheduler</h2>
	
	<p>Realtime sharing. Realtime scheduling. Real easy.<br />
	<a href="{% url products_event_scheduler %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h2>DVD Burner</h2>
	
	<p>A unique application creates DVDs from online libraries.<br />
	<a href="{% url products_dvd_burner %}" class="goLink">Click here to learn more &raquo;</a></p>
	
</div>

<div class="span-9 prefix-2">

	<h2>V-mail</h2>
	
	<p>Record and send video messages from your webcam.<br />
	<a href="{% url products_vmail %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h2>V-moticons</h2>
	
	<p>Say more with short video clips in chatrooms and email.<br />
	<a href="{% url products_vmoticons %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h2>Educational Tools</h2>
	
	<p>Outside-the-box media collaboration, presentation and archival.<br />
	<a href="{% url products_educational %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h2>Site Builder</h2>
	
	<p>Allow users to create and customize their own portal.<br />
	<a href="{% url products_site_builder %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h2>Ratings/Comments</h2>
	
	<p>Social networking tools for your media.<br />
	<a href="{% url products_ratings %}" class="goLink">Click here to learn more &raquo;</a></p>
	
	<h2>Video Comments</h2>
	
	<p>Media comments aren't just text blurbs any more.<br />
	<a href="{% url products_video_comments %}" class="goLink">Click here to learn more &raquo;</a></p>
	
</div>

{% endblock %}