{% extends "about/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Services" %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li><a href="{% url about %}">{% trans "About Us" %}</a></li>
            <li><a href="{% url products %}">{% trans "Products" %}</a></li>
            <li class="current"><a href="{% url services %}">{% trans "Services" %}</a></li>
            <li><a href="{% url clients %}">{% trans "Clients" %}</a></li>
        </ul>
{% endblock %}

{% block body %}
    
<h1>Business Solutions for Today's Digital Media</h1>

<div id="servicesTitles">
	<h2><a href="{% url services_create %}" class="svc1" id="svc1Title">Create</a></h2>
	<h2><a href="{% url services_publish %}" class="svc2" id="svc2Title">Publish</a></h2>
	<h2><a href="{% url services_deliver %}" class="svc3" id="svc3Title">Deliver</a></h2>
	<h2><a href="{% url services_advertise %}" class="svc4" id="svc4Title">Advertise</a></h2>
</div>

<div id="services">
	<img src="{{ MEDIA_URL }}img/services_div_a.png" style="visibility:hidden;" alt="" border="0" />
	<a href="{% url services_create %}"><img src="{{ MEDIA_URL }}img/services_1_up.png" class="svc1" id="svc1Pic" alt="Create" border="0" /></a>
	<img src="{{ MEDIA_URL }}img/services_div_b.png" alt="" border="0" />
	<a href="{% url services_publish %}"><img src="{{ MEDIA_URL }}img/services_2_up.png" class="svc2" id="svc2Pic" alt="Publish" border="0" /></a>
	<img src="{{ MEDIA_URL }}img/services_div_c.png" alt="" border="0" />
	<a href="{% url services_deliver %}"><img src="{{ MEDIA_URL }}img/services_3_up.png" class="svc3" id="svc3Pic" alt="Deliver" border="0" /></a>
	<img src="{{ MEDIA_URL }}img/services_div_d.png" alt="" border="0" />
	<a href="{% url services_advertise %}"><img src="{{ MEDIA_URL }}img/services_4_up.png" class="svc4" id="svc4Pic" alt="Advertise" border="0" /></a>
	<img src="{{ MEDIA_URL }}img/services_div_e.png" style="visibility:hidden;" alt="" border="0" />
</div>

<div id="servicesCaptions">
	<a href="{% url services_create %}" class="svc1" id="svc1Cap">Our unique set of<br />tools allows users to<br />create and share.</a>
	<a href="{% url services_publish %}" class="svc2" id="svc2Cap">Broadcast your own<br />online programming in<br />custom content channels.</a>
	<a href="{% url services_deliver %}" class="svc3" id="svc3Cap">Reach a worldwide<br />audience immediately<br />via our media network.</a>
	<a href="{% url services_advertise %}" class="svc4" id="svc4Cap">Monetize your content<br />and engage the audience<br />with our unique ad models.</a>
</div>

<br /><br /><br />

<hr class="hide" />
<div class="span-9 prefix-2">
<h2>Create</h2>

<p>Our core SVOD technology and the advantage our socialization suite brings is years ahead of the competition. Combine and invite users into our patented Channel Systems and literally watch them as your media comes alive through our customized set of tools.  It's simply amazing...
<br />
<a href="{% url services_create %}" class="goLink">Click here to learn more &raquo;</a></p>

<h2>Publish</h2>

<p>Choosing an overall business model to deliver your media content in is an extremely important and often difficult decision. NxtgenTV delivers the experience, cutting-edge technology and unique philosophies to give you the options and best practices to strategize and monetize your media portfolio.
<br />
<a href="{% url services_publish %}" class="goLink">Click here to learn more &raquo;</a></p>

</div>
<div class="span-9 prefix-2">

<h2>Deliver</h2>

<p>Nxtgen.TV offers a scaled approach to meet the needs of any size media publisher. We take a balanced, comprehensive and honest look at your budget, library size, delivery scope and how this relates to the feature sets and quality options that will work best for you.
<br />
<a href="{% url services_deliver %}" class="goLink">Click here to learn more &raquo;</a></p>

<h2>Advertise</h2>

<p>Advertising has become the mainstay of media monetization on the Internet and choosing the best business model to fit your goals will define your success. NxtgenTV can help you choose the best ad types, find the right advertisers and give you the best analytics to manage your ad campaigns.
<br />
<a href="{% url services_advertise %}" class="goLink">Click here to learn more &raquo;</a></p>
</div>

{% endblock %}

{% block extra_body %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/preloadCssImages.jQuery_v5.js"></script>
{% endblock %}

{% block extra_jquery %}
	$.preloadCssImages("{{ MEDIA_URL }}img/services_1_over.png", "{{ MEDIA_URL }}img/services_2_over.png", "{{ MEDIA_URL }}img/services_3_over.png", "{{ MEDIA_URL }}img/services_4_over.png");

	$(".svc1").hover(
		function(){
			$("#svc1Title").css("color","#000000");
			$("#svc1Title").css("border-bottom","2px solid #8a278a");
			$("#svc1Cap").css("color","#111111");
			$("#svc1Pic").attr("src","{{ MEDIA_URL }}img/services_1_over.png");
		},
		function(){
		$("#svc1Title").css("color","#333333");
		$("#svc1Title").css("border-bottom","0px solid #8a278a");
		$("#svc1Cap").css("color","#555555");
		$("#svc1Pic").attr("src","{{ MEDIA_URL }}img/services_1_up.png");
		}
	);
	
	$(".svc2").hover(
		function(){
			$("#svc2Title").css("color","#000000");
			$("#svc2Title").css("border-bottom","2px solid #8a278a");
			$("#svc2Cap").css("color","#111111");
			$("#svc2Pic").attr("src","{{ MEDIA_URL }}img/services_2_over.png");
		},
		function(){
		$("#svc2Title").css("color","#333333");
		$("#svc2Title").css("border-bottom","0px solid #8a278a");
		$("#svc2Cap").css("color","#555555");
		$("#svc2Pic").attr("src","{{ MEDIA_URL }}img/services_2_up.png");
		}
	);
	
	$(".svc3").hover(
		function(){
			$("#svc3Title").css("color","#000000");
			$("#svc3Title").css("border-bottom","2px solid #8a278a");
			$("#svc3Cap").css("color","#111111");
			$("#svc3Pic").attr("src","{{ MEDIA_URL }}img/services_3_over.png");
		},
		function(){
		$("#svc3Title").css("color","#333333");
		$("#svc3Title").css("border-bottom","0px solid #8a278a");
		$("#svc3Cap").css("color","#555555");
		$("#svc3Pic").attr("src","{{ MEDIA_URL }}img/services_3_up.png");
		}
	);
	
	$(".svc4").hover(
		function(){
			$("#svc4Title").css("color","#000000");
			$("#svc4Title").css("border-bottom","2px solid #8a278a");
			$("#svc4Cap").css("color","#111111");
			$("#svc4Pic").attr("src","{{ MEDIA_URL }}img/services_4_over.png");
		},
		function(){
		$("#svc4Title").css("color","#333333");
		$("#svc4Title").css("border-bottom","0px solid #8a278a");
		$("#svc4Cap").css("color","#555555");
		$("#svc4Pic").attr("src","{{ MEDIA_URL }}img/services_4_up.png");
		}
	);
{% endblock %}