{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}
    <div class="span-22 prefix-1">
        <h2>{% trans "NxtGenTV&trade;, LLC TERMS OF SERVICE" %}</h2>
        <p>{% blocktrans %}Welcome to the NxtGenTV family of websites (the "Sites").  This Terms of Services ("TOS") for describes the terms and conditions applicable to your access and use of the Sites and the products and services offered through, or in connection with the Sites (the "Services" and collectively with the Sites, the "Sites Features").   This TOS sets forth the terms and conditions under which NxtGenTV, LLC ("NxtGenTV," "we," or "us") provides you access to the Sites Features.{% endblocktrans %}</p>
        <p>{% blocktrans %}NxtGenTV may amend this TOS at any time by posting the amended Terms of Services on any of the Sites on which this TOS appears, and you agree that you will be bound by any changes to this TOS.  For your convenience, the date of last revision is included at the top of this page.  NxtGenTV may make changes to the Sites Features at any time.  You understand that NxtGenTV may discontinue or restrict your use of any of the Sites Features for any reason or no reason with or without notice.{% endblocktrans %}</p>
        <p>{% blocktrans %}YOUR USE OF THE SITES AND/OR THE SERVICE SIGNIFIES THAT YOU AGREE TO THIS TOS AND CONSTITUTES YOUR BINDING ACCEPTANCE OF THIS TOS, INCLUDING ANY MODIFICATIONS THAT NXTGENTV MAKES FROM TIME TO TIME.{% endblocktrans %}</p>
        
        <h4>{% blocktrans %}I. Privacy Policy and Additional Terms{% endblocktrans %}</h4>{% url privacy as privacy_url %}
        <p>{% blocktrans with privacy_url as privacy_url %}By using the Sites Features, you represent that you have read and consent to our <a href="{{ privacy_url }}">Privacy Policy</a> which is incorporated into this TOS by this reference.  NxtGenTV may revise the Privacy Policy at any time, and the new versions will be available <a href="{{ privacy_url }}">here.</a>  If at any point you do not agree to any portion of the Privacy Policy, you must immediately stop using the Sites Features.  Some aspects of the Sites Features may be subject to additional terms and policies, which may be posted on the Sites by NxtGenTV from time to time ("Additional Terms").  It is your responsibility to review these Additional Terms, and in the event that you do not agree with any Additional Terms, you must immediately stop using the Sites Features.  Your continued use of the Sites Features following our posting of any Additional Terms constitutes your acceptance thereof.{% endblocktrans %}</p>
        
        <h4>{% trans "II. Account Registration and User ID" %}</h4>
        <p>{% blocktrans %}an account ("Account") for the use of certain aspects of the Sites Features. When registering for an Account you must provide us with a valid user identity and a valid, functional email address for providing notices and communications to you concerning this TOS and transactions with the Sites Features.{% endblocktrans %} {% blocktrans %}You are responsible for the accuracy and completeness of the information which you provide to NxtGenTV in your registration and your use of your Account and the Sites Features. You agree that you shall provide a valid, lawful identity in your registration and that you shall not impersonate any other person. You agree that you will promptly correct any errors in your registration information and will promptly update your registration information when it changes.{% endblocktrans %} {% blocktrans %}If you do not have authority to supply information which is required either for registration or for a particular use of the Sites Features, then do not register or do not engage in the particular use of the Sites Features for which you lack such authority.{% endblocktrans %}</p>
        
        <h4>{% trans "III. Account Security, Password" %}</h4>{% url contact as contact_url %}
        <p>{% blocktrans with contact_url as contact_url %}It is your responsibility to preserve and protect the confidentiality of your User ID, your password, and your Account. You are entirely responsible for activities conducted under your Account. You agree that you shall (a) make certain that you fully exit from your Account at the end of each of your sessions, and (b) immediately notify NxtGenTV in writing (which may be by email using our <a href="{{ contact_url }}">contact form</a>) if there is any unauthorized use of your Account, User ID or password or other security breach.  NxtGenTV shall not be liable for any cost, loss, damage or liability which arises or is alleged to arise from your failure to comply with this section.{% endblocktrans %}</p>
        
        <h4>{% blocktrans %}IV.  Pricing and Payment for Services{% endblocktrans %}</h4>
        <p>{% blocktrans %}Some aspects of the Services require you to pay a fee, the details of which will be made available at a future time.  You agree to pay all fees and applicable taxes incurred by you or anyone using an Account you registered.  NxtGenTV may revise the pricing for any aspect of the Sites Features at any time.{% endblocktrans %}  {% blocktrans %}Unless otherwise noted, all currency references are in U.S. dollars. All fees and charges are payable in accordance with payment terms in effect at the time the fee or the charge becomes payable. If there is a dispute regarding payment of fees to, or Services rendered by, NxtGenTV, your Account may be closed without warning or notice at the sole discretion of NxtGenTV.{% endblocktrans %}</p>
        <p>{% blocktrans %}YOU ACKNOWLEDGE AND AGREE THAT ANY APPLICABLE FEES AND OTHER CHARGES FOR FEE-BASED SERVICES ARE NOT REFUNDABLE IN WHOLE OR IN PART. YOU ARE FULLY LIABLE FOR ALL CHARGES TO YOUR ACCOUNT, INCLUDING ANY UNAUTHORIZED CHARGES.{% endblocktrans %}</p>{% url subscription_list as subscription_url %}
        <p>{% blocktrans %}Pricing and payment terms and conditions for use of the Services are posted, and may be amended from time to time, at our <a href="{{ subscription_url }}">Pricing Page</a> which is incorporated herein by this reference.  NxtGenTV may, from time to time, modify, amend, or supplement its fees and fee-billing methods, and such changes shall be effective immediately upon posting in these TOS or elsewhere on the Sites.{% endblocktrans %}</p>
        
        <h4>{% trans "V. Links to Websites of Other Persons" %}</h4>
        <p>{% blocktrans %}The Sites may provide links to websites of persons other than NxtGenTV. Those links to other websites are provided solely as a courtesy without any representation or warranty as to their content, use, or terms. Your use of such other websites is subject to the terms and conditions and privacy policies, if any, of the persons who control such other websites and you use them at your own risk.  NxtGenTV cannot control such websites of other persons.{% endblocktrans %}</p>
        
        <h4>{% trans "VI. Eligibility" %}</h4>
        <p>{% blocktrans %}The Sites Features are available only to persons who are capable under the applicable law of forming valid contracts. If you are a natural person using the Sites Features on behalf of an entity, then by registering an Account in the name of the entity and using the Sites Features you represent and warrant that the entity may lawfully enter into this agreement and that you have lawful authority to bind that entity to these TOS.  If you are under the age of 18, or are subject to a legal guardianship, then you can use the Sites Features only if your legal guardian or representative first agrees with us that you may use the Sites Features and then supervises your use of NxtGenTV and the Services.{% endblocktrans %}</p>
        <p>{% blocktrans %}PERSONS UNDER THE AGE OF THIRTEEN (13) YEARS ARE NOT ELIGIBLE TO USE THE SITES FEATURES, EVEN WITH THE APPROVAL AND UNDER THE SUPERVISION OF A PARENT OR GUARDIAN. IF YOU ARE UNDER THE AGE OF THIRTEEN (13) YEARS THEN IMMEDIATELY LEAVE THIS SITES. DO NOT ATTEMPT TO REGISTER AS A MEMBER AND DO NOT PROVIDE US WITH ANY OF YOUR PERSONAL INFORMATION.{% endblocktrans %}</p>
        
        <h4>{% trans "VII. Interstate and International Use" %}</h4>
        <p>{% blocktrans %}You recognize that the Internet is global in nature. The Sites Features are intended to be offered only in jurisdictions where the Sites Features and the manner in which they are offered are lawful. If any aspects of the Sites Features are not lawful in the nation, state, or other jurisdiction where you are located, then do not use or attempt to use the Sites Features in that place. If you are accessing or using any of the Sites Features in any nation, state or other jurisdiction which restricts such access or usage, then you shall abide by the laws of that place and refrain from any access or use as required by the laws of the applicable jurisdiction. You also agree that you shall comply with all applicable laws concerning transmission of technical data, including without limitation, the export of technical data from the United States or from the jurisdiction in which you reside or are accessing the Sites Features.{% endblocktrans %}</p>
        
        <h4>{% trans "VIII. Termination of Sites Features or Accounts." %}</h4>
        <p>{% blocktrans %}NxtGenTV reserves the right to deny access to any of the Sites Features at NxtGenTV's sole and absolute discretion.  The Sites Features are offered with the understanding that NxtGenTV may terminate any Account registered to you and/or your access to the Sites Features at any time, for any reason or no reason, including without limitation for any violation of the this TOS or any other Additional Terms . NxtGenTV may stop offering and/or supporting the Sites Features or any aspects thereof at any time.{% endblocktrans %}</p>
        
        <h4>{% trans "IX. Your Personal Information" %}</h4>{% url privacy as privacy_url %}
        <p>{% blocktrans with privacy_url as privacy_url %}To access certain aspects of the Sites Features, including, without limitation, creating an Account, you may be required to provide NxtGenTV your personally identifiable information.  Such information includes your email address, User ID, and to the extent you make any payments for the Services, payment information, such as credit card or debit card numbers.  NxtGenTV's use of such information is set forth in our <a href="{{ privacy_url }}">Privacy Policy.{% endblocktrans %}</a></p>
        <p>{% blocktrans %}Our Privacy Policy only governs how NxtGenTV uses your personally identifiable information, and does not apply to any disclosures of your personally identifiable information through ,communications between you and third parties by use of the Sites Features.  You acknowledge and agree that NxtGenTV has no liability for, and you hereby indemnify NxtGenTV for any use of, your personally identifiable information that you disclose to third parties through the Sites Features.  NxtGenTV urges you to take caution whenever you disclose any personally identifiable information over the Internet.{% endblocktrans %}</p>
        
        <h4>{% trans "X. Your Communications Content" %}</h4>
        <p>{% blocktrans %}"Your Communications Content" is the content and form of any information that you post, communicate, transmit, or direct to any third party in any manner through the use of the Sites Features. You are solely responsible for the accuracy, lawfulness, risks and use of the content of Your Communications Content. NxtGenTV does not select, monitor or modify Your Communications Content. "Third party" means any person not affiliated with us.{% endblocktrans %}</p>
        
        <h4>{% trans "XII. Information We Receive, Switch and Transmit Without Recording" %}</h4>
        <p>{% blocktrans %}NxtGenTV provides systems for the receipt, switching and transmission of Your Communications Content and Your Correspondents' Communications Content during your sessions using the Services. This is similar in some respects to the switching of telephone calls.{% endblocktrans %}</p>
        <p>{% blocktrans %}XII.I Limited Participation Sessions and Host-approved Participants.{% endblocktrans %}</p>
        <p>{% blocktrans %}XII.I.I Registered Account Holders Act as Hosts of Limited Participation Sessions. During a session using NxtGenTV Personal, NxtGenTV Private, or NxtGenTV Professional, NxtGenTV receives and transfers communications only among the Account holder acting as the session host (the "Host") and other participants who have been approved by the Host to participate in that particular private session or conference ("Limited Participation" session).{% endblocktrans %} {% blocktrans %}NxtGenTV records both the registration information of the Host and that Host's User ID and email address because only registered Members of NxtGenTV can act as Host of a Limited Participation session. As a necessary condition of participation in a Limited Participation session, NxtGenTV requires that each other participant supply NxtGenTV with a user name and a valid, functional email address with reference to which communications will be switched during that particular session. (The terms of service for uses implemented on NxtGenTV Enterprise software generally will not be covered by this Agreement because NxtGenTV Enterprise software is licensed to Enterprise Customers who operate that software on computer servers owned or controlled by the Enterprise Customer, not under the control of NxtGenTV.){% endblocktrans %}</p>
        <p>{% blocktrans %}XII.I.II Non-Host Participants in Limited Participation Sessions. To participate in a Limited Participation session a prospective participant must first log onto the Sites Features by providing NxtGenTV with the prospective participant's user name and a valid, functional email address. NxtGenTV records the user name and email address supplied during log-on by each prospective participant in a Limited Participation session. NxtGenTV does not require that any participant in a Limited Participation session, other than the Host, be a registered member. NxtGenTV does not undertake to verify the validity or functionality of the email address provided by a prospective participant.{% endblocktrans %} {% blocktrans %}However, all Account holders and participants are required to provide valid, functional email addresses, the products and services may not function correctly without them, and it is a violation of this TOS for an Account holder or participant to supply a non-functional, fake, or impersonated email address and user name. Each prospective participant's log-on information will be recorded by NxtGenTV.{% endblocktrans %} {% blocktrans %}Prospective non-Host participants either (1) can be invited to participate in a particular Limited Participation session through an email initiated by the Host through NxtGenTV's system, or (2) can be informed of the Host's email and scheduled session by means independent of NxtGenTV's system. The prospective participant then must log onto NxtGenTV's system and query the NxtGenTV system by manually keying in the registered email address of the Host to determine whether that Account holder is the Host of a currently pending or scheduled session, and then can request participation in that Host's current or scheduled session.{% endblocktrans %} {% blocktrans %}NxtGenTV forwards to the Host of a particular session the logged-on user name and email address of each prospective participant who has requested participation with reference to that Host's registered email address. The Host of that particular Limited Participation session then must affirmatively select which of the logged-on user names and email addresses are approved for participation in that Host's particular Limited Participation session and must transmit back to NxtGenTV the Host's affirmative approval of the selected user names and email addresses.{% endblocktrans %} {% blocktrans %}Thus NxtGenTV will have identifiable Account registration information for the logged-on user name and email address of a non-Host participant only if, coincidentally, a non-Host participant also happens to be a registered Member and has used that identical user name and email address to register as a Member.{% endblocktrans %}</p>
        
        <h4>{% trans "XIII. NxtGenTV Not Obliged to Verify User Names, Email Addresses or Identities" %}</h4>
        <p>{% blocktrans %}Because a user name and email address are used to route communications among computers, and because computers communicate with each other by coded network addresses, the combination of a user name and email address might, but does not necessarily, identify a particular person. NxtGenTV ordinarily does not and usually cannot verify or authenticate email addresses and does not undertake any obligation to you to do so. NxtGenTV does not and usually cannot verify or control the identity of the natural persons who have access to or control the particular computers that are identified by an IP address or email address supplied to NxtGenTV for computer-routing purposes and we do not undertake any obligation to you to do so.{% endblocktrans %}</p>
        <p>{% blocktrans %}It is the responsibility and risk of the Host to use whatever identification measures the Host thinks appropriate and prudent when the Host supplies its registered address for delivery to prospective participants and when the Host approves a particular user name and email address for participation in a Host's particular Limited Participation session. Similarly, it is the responsibility and risk of a prospective participant when using a Host's email address, and when supplying NxtGenTV with the prospective participant's email address and password for delivery to a Host, to use such measures as the prospective participant thinks appropriate and prudent to identify and verify whom it will be dealing with in a session, including without limitation the Host and other participants in the session.{% endblocktrans %}</p>
        
        <h4>{% blocktrans %}XIV. Contents Of Host and Participant Communications Are Transitory in Limited Participation Sessions; No Archival Storage{% endblocktrans %}</h4>
        <p>{% blocktrans %}During Limited Participation sessions, communications among the Host and other participants are transitorily resident within the automatic switching systems, computer memory, and any temporary on-line parallel or concurrent backup systems of NxtGenTV and our Internet Services Providers ("ISPs"). Each Limited Participation session is generally limited not to exceed ten consecutive days, and most will have much shorter duration.{% endblocktrans %}</p>
        <p>{% blocktrans %}Within Limited Participation sessions all transmission of communications is initiated or directed by the Host and other participants, not by NxtGenTV. Communication content is transmitted among the Host and other participants automatically based upon the Host's selection of participants. The transmission, routing, provision of connections, and any storage of content is done at the direction of the Host and other participants, and material is transmitted by automatic technical processes without selection or modification of the content by NxtGenTV.{% endblocktrans %}</p>
        <p>{% blocktrans %}NxtGenTV does not otherwise record, backup, or archive the contents of Host and participant communications during a Limited Participation session, except as is technically necessary for that particular Limited Participation session, and those contents then are dissipated from NxtGenTV's systems either during or upon termination of a particular Limited Participation session. No copy of Your Communications Content or Your Correspondents' Communication Content during Limited Participation sessions is maintained or stored on the NxtGenTV system or network in a manner that ordinarily would be accessible to anyone other that the Host and participants selected by the Host for a particular Limited Participation session.{% endblocktrans %}</p>
        <p>{% blocktrans %}After termination of a particular session no copy that has been maintained by NxtGenTV during a particular Limited Participation session remains ordinarily accessible to the Host or other participants for a longer period than is reasonably necessary for that Limited Participation session.{% endblocktrans %}</p>
        <p>{% blocktrans %}The Host and other participants are entirely responsible for any recordation, archiving, or other backup of their own content, and may do so only as permitted by applicable law. NxtGenTV explicitly disclaims any such recordation, archiving and backup except as is reasonably necessary to functionally maintain a Limited Participation session then in progress.{% endblocktrans %}</p>
        <p>{% blocktrans %}After completion of a particular Limited Participation session the only information that is retained by design at NxtGenTV with reference to that Limited Participation session is a record that the Host's session took place, which may include the time, and the user names, email addresses and IP addresses supplied by the Host, participants and prospective participants for that session.{% endblocktrans %}</p>
        <p>{% blocktrans %}NxtGenTV may monitor the content of Host and participant communications during Limited Participation sessions. The Host and participants bear sole responsibility, risk and liability for the content of their communications and for the identification and selection of recipients of their communications.{% endblocktrans %}</p>
        
        <h4>{% trans "XV. NxtGenTV Meeting Rooms; Public Video, Text Chat Rooms and Billboards" %}</h4>
        <p>{% blocktrans %}NxtGenTV may provide public video, text chat rooms, billboards, special interest rooms, and other publicly available contents at its website ("NxtGenTV Meeting Rooms"), the content of which may be accessible by any member of the general public visiting the NxtGenTV website with minimal or no registration. NxtGenTV's Meeting Rooms enable visitors and prospective Members to engage in limited trials of NxtGenTV's systems. Visitors to the NxtGenTV website may be enabled to post information to some NxtGenTV Meeting Rooms. The content posted by visitors to the NxtGenTV Meeting Rooms will be transitorily resident within the automatic switching systems, computer memory and caches, and any temporary on-line parallel or concurrent backup systems, of NxtGenTV and its Internet service providers.{% endblocktrans %} {% blocktrans %}Both the posting and accessing of content in NxtGenTV Meeting Rooms is done automatically at the direction of visitors and prospective Members and NxtGenTV does not undertake to select or modify such content, other than by deleting it from time to time. NxtGenTV does not archive or preserve content which is posted in NxtGenTV Meeting Rooms. Our policy is to take down material from NxtGenTV Meeting Rooms after display for not more than ten consecutive days, and often more frequently, after which such content dissipates from its systems.{% endblocktrans %} {% blocktrans %}NxtGenTV reserves the right, at any time and for any reason whatsoever or for no reason: (i) to take down, restrict, or refuse to post any information in the NxtGenTV Meeting Rooms, or (ii) to make such Meeting Rooms available or unavailable.{% endblocktrans %}</p>
        
        <h4>{% trans "XVI. License Granted By You To Us for Content Transmitted by You to Public Areas" %}</h4>
        <p>{% blocktrans %}When you communicate content to or within any NxtGenTV Meeting Room or any other area of the Sites Features which is intended to be accessible by the general public, then you shall be deemed to have granted to us an irrevocable, world-wide, no-royalty, no-fee license to publish, distribute, use, reproduce, modify, adapt, translate, publicly perform and publicly display (in whole or in part) in any manner, place, or medium whatsoever such content transmitted or posted to NxtGenTV Meeting Rooms. This license from you to us is fully sublicensable by us.{% endblocktrans %}</p>
        <p>{% blocktrans %}NxtGenTV does not pre-screen the content of transmissions and postings originated or transmitted by you or by any other user or visitor in NxtGenTV Meeting Rooms. We have no obligation to post, display, transmit, or retain any material whatsoever in any NxtGenTV Meeting Room or other publicly accessible area. We at our sole and unfettered discretion may limit access of anyone, refuse to post, or may remove or delete any matter, or may block or terminate access by any person, at any time for any reason or for no reason. We also may make available or unavailable any Meeting Room, public page, or other area that may be generally accessible to the public.{% endblocktrans %}</p>
        
        <h4>{% trans "XVII. License Granted by Us To You for Use of Our Systems and Software" %}</h4>
        <p>{% blocktrans %}NxtGenTV grants you a temporary limited license to access and use NxtGenTV Meeting Rooms which then are being made available by us without registration by you as a Account holder; this license is non-transferable and non-sublicensable by you, is terminable at will by us without notice to you; and is subject to the terms of TOS. Generally your access to a Meeting Room may be automatically limited not to exceed ten minutes during any one log on by you. If you register an Account, and so long as you comply with the payment terms and other terms of this Agreement, or if you are granted access by a Host to a Limited Participation session, then you are granted by us a temporary limited license to use those portions of our system which we provide for that particular Limited Participation session. Your license as an Account holder is non-sublicensable and non-transferable by you, and is terminable at will by us at any time for any reason or for no reason.{% endblocktrans %}</p>
        <p>{% blocktrans %}You do not receive any license authorizing you to, and you shall not, assign, sublicense, distribute, redistribute, publish, compile, decompile, copy, modify, or reverse engineer, any content or technical means of the Sites Features, our systems, or our software; and this restriction applies to both public areas and limited participation areas.{% endblocktrans %}</p>
        
        <h4>{% trans "XVIII. Content May Be Offensive" %}</h4>
        <p>{% blocktrans %}You recognize that NxtGenTV generally does not, and usually cannot, pre-screen, monitor, modify or control in real time the content of any communications or posting, either in Limited Participation areas or in publicly accessible areas. Therefore, you acknowledge that when you use any area of the Sites Features there is a risk that you could be exposed to salacious, obscene, pornographic, hateful, misleading, fraudulent or other objectionable materials posted or otherwise communicated by other Account holders, participants, users, or visitors. You agree to accept this risk. You agree that NxtGenTV shall have no responsibility or liability to you for any such exposure you may experience. NxtGenTV does not intentionally sponsor such offensive matter and you and all other users are required to agree not to engage in the conduct which is prohibited or restricted by this Agreement, but we do not, and ordinarily cannot, undertake to police such conduct by users.{% endblocktrans %}</p>
        
        <h4>{% trans "XIX. Adult or Mature Content; No Access To Or Targeting of Children" %}</h4>
        <p>{% blocktrans %}There may be areas of the Sites Features which are specifically designated for "adult" or "mature" content. You agree that you shall not transmit, post or otherwise communicate "adult" or "mature" content outside of such designated areas by use of the Sites Features. You further agree that you shall not target children with, and shall not permit children to have access to, the areas designated as "adult" or "mature." If you are an adult and you object to such "adult or "mature" content you agree that you shall refrain from accessing such areas. Nothing in this section shall be construed as authorizing you to transmit, post, deliberately access, or otherwise communicate unlawful pornographic matter or hate matter by use of the Sites Features, and you shall not do so.{% endblocktrans %}</p>
        
        <h4>{% trans "XX. Authority For Use of Your Content; No Expectation of Confidentiality" %}</h4>
        <p>{% blocktrans %}You represent and warrant to NxtGenTV that you have full authority to disclose and use any content you post through the Sites Features without violating the rights of any other party.{% endblocktrans %}</p>
        <p>{% blocktrans %}YOU ARE WARNED AND URGED TO USE PRUDENCE AND CAUTION TO LIMIT ANY INFORMATION YOU PERMIT TO BE TRANSMITTED OR RECEIVED ON THE INTERNET BECAUSE THE INTERNET IS FORMED OF INNUMERABLE COMPUTERS CONTROLLED BY INNUMERABLE PERSONS OTHER THAN NxtGenTV, NO PRIVACY OR SECURITY SYSTEMS OR METHODS ARE FOOLPROOF, AND THUS ANY EXPOSURE OF YOUR INFORMATION TO THE INTERNET CREATES INHERENT RISKS OF DISCLOSURE TO UNAUTHORIZED PERSONS. BY USING THE SITES FEATURES YOU ACKNOWLEDGE AND ACCEPT THESE RISKS.{% endblocktrans %}</p>
        <p>{% blocktrans %}WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, YOU ACKNOWLEDGE AND AGREE THAT NxtGenTV HAS NO LIABILITY FOR, OR ABILITY TO CONTROL HOW OTHER SITES FEATURES USERS MAY USE CONTENT THAT YOU DISCLOSE, POST OR TRANSMIT THROUGH THE SITES FEATURES.  THEREFORE, EXCEPT AS OTHERWISE PROHIBITED UNDER APPLICABLE LAW, YOU WAIVE ANY AND ALL CLAIMS AGAINST NxtGenTV FOR ANY OTHER SITES FEATURES USER'S USE OF ANY CONTENT THAT YOU DISCLOSE, POST OR TRANSMIT THROUGH THE SITES FEATURES.{% endblocktrans %}</p>
        
        <h4>{% trans "XXI. License Of Your User Information From You to Us" %}</h4>
        <p>{% blocktrans %}As used herein, the term "Your Content" means any communications, images, sounds and all material and information that you upload or transmit through the Sites Features, [including, without limitation, Your Communications Content].  You hereby grant to us and our licensors, including without limitation our respective successors and assigns, a non-exclusive, perpetual, irrevocable, sublicensable, transferable, worldwide, paid-up right to reproduce, fix, adapt, modify, translate, reformat, create derivative works from, manufacture, introduce into circulation, publish, distribute, sell, license, sublicense, transfer, rent, lease, transmit, publicly display, publicly perform, or provide access to electronically, broadcast, communicate to the public by telecommunication, display, perform, enter into computer memory, and use and practice Your Content as well as all modified and derivative works thereof, without compensation to you, for the purpose of providing the Services.  You agree that you may not upload or otherwise transmit on or through the Sites Features any of Your Content that is subject to any third-party rights.{% endblocktrans %}</p>
        
        <h4>{% trans "XXII. Prohibited and Restricted Actions" %}</h4>
        <p><strong>{% trans "XXII.I." %}</strong> {% trans "Unlawful Activities. You agree that you shall not do any of the following in connection with your use of Sites Features or Your Content:" %}</p>
        <ol style="list-style-type: lower-alpha;">
            <li><p>{% blocktrans %}violate any law, statute, regulation, or rule having the force of law; this includes without limitation, laws concerning anti-terrorism, money laundering, export control, investment securities, consumer protection, unfair competition, anti-discrimination, false advertising, gambling, wagering, eavesdropping, communication interception, child abuse, elder abuse, "hate" crimes, obscenity, pornography, and insider trading;{% endblocktrans %}</p></li>
            <li><p>{% blocktrans %}make any false, materially misleading, or fraudulent statements or communications to us or to any other person;{% endblocktrans %}</p></li>
            <li><p>{% blocktrans %}engage in fraudulent or otherwise unlawful transactions;{% endblocktrans %}</p></li>
            <li><p>{% blocktrans %}sell or otherwise transfer counterfeit or stolen items or materials;{% endblocktrans %}</p></li>
            <li><p>{% blocktrans %}infringe any copyright, trademark, patent, or other intellectual property of NxtGenTV or of any third party, nor misappropriate or disclose trade secrets or other proprietary rights without the consent of the owner, nor violate the privacy rights of any person;{% endblocktrans %}</p></li>
            <li><p>{% blocktrans %}engage in defamation, slander, unlawfully harassing, hateful, or threatening activity;{% endblocktrans %}</p></li>
            <li><p>{% blocktrans %}engage in or communicate unlawful obscenity or pornography, or child-harming activity and you agree that you shall not transmit, post, email, forward, or otherwise use or traffic in material which is lawfully suitable only for adults except in areas and channels of communication that are restricted to Mature Audiences and to which only persons for whom such material is suitable will be given access;{% endblocktrans %}</p></li>
            <li><p>{% blocktrans %}engage in, pass on or transmit any Ponzi or pyramid scheme;{% endblocktrans %}</p></li>
            <li><p>{% blocktrans %}"stalk" or harass any other person;{% endblocktrans %}</p></li>
            <li><p>{% blocktrans %}if you are accessing or using NxtGenTV or the Services in any nation, state or other jurisdiction which restricts such access or usage, then you shall abide by the laws of that place and refrain from any access or use as required by the laws of the applicable jurisdiction.{% endblocktrans %}</p></li>
            </ol>
            <p><strong>{% trans "XXII.II." %}</strong> {% trans "Improper, Illegal and Abusive Computer and System Functions. You agree that you shall not:" %}</p>
            <ol style="list-style-type: lower-alpha;">
                <li><p>{% blocktrans %}interfere with, impair or degrade any functions of the Sites Features;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}interfere with or cause us to lose the services of our Internet Services Providers ("ISPs") or other persons who provide goods or services to us;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}create or purport to create liability for us;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}undermine the integrity of the user referral system or the user feedback system;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}interfere with the performance by our employees of their duties;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}create or impose an unreasonable load on NxtGenTV or its services, functions or infrastructure;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}employ any automatic data-mining or search engine, including without limitation any robot, spider, scraper, or similar means to access Sites Features without the express, prior written consent of an authorized officer of NxtGenTV;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}bypass security measures or constraints which we have created to restrict access to or use of our systems and our data;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}transmit any material that constitutes or contains any harmful computer code, including without limitation, any computer virus, Trojan horse, worm, time bomb, denial of service, cancelbot, easter egg, or other computer codes or methods which are harmful to, unlawfully detract from the function or performance of, expropriate, misappropriate, or misuse our computers, software, systems or infrastructure, or those of any other person; "transmit" includes without limitation to upload, post, email or otherwise make available;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}copy, modify, create derivative works from, reverse-engineer, decompile, duplicate, distribute, or publicly display any matter obtained from the Sites Features, or from any other person by use of the Sites Features, without the express prior written consent of NxtGenTV or other person owning rights in such matter;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}bypass our home page, headers, control screens, or other functional elements of the Sites Features, including, without limitation, engaging in "deep-linking," or similar or equivalent techniques.{% endblocktrans %}</p></li>
            </ol>
            
            <h4>{% trans "XXIII. Restricted Commercial Activities" %}</h4>
            <p>{% blocktrans %}You agree that you shall not, without the prior express written consent of a duly authorized officer of NxtGenTV, use the Sites Features to do any of the following:{% endblocktrans %}</p>
            <ol style="list-style-type: lower-alpha;">
                <li><p>{% blocktrans %}solicit advertisers or sponsors;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}solicit or obtain credit card, debit card, bank account or brokerage account information or charges;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}solicit, obtain, or collect private information of other persons;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}display advertising or sponsorships of any kind, including without limitation display banners generated by banner or link exchange services;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}offer or sell goods or services;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}provide personal services, counseling, or advice for which a governmental license is required, such as, without limitation, medical, psychiatric, psychological, dental, pharmacy, legal, investment, or accounting services;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}transmit "spam";{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}collect or store personal data about other Members, participants or users.{% endblocktrans %}</p></li>
            </ol>
            
            <h4>{% trans "XXIV. Aiding, Abetting and Contributing to Unlawful Activity" %}</h4>
            <p>{% blocktrans %}You agree, in connection with your use of the Sites Features, that you shall not aid or abet any other person to engage in any activity which is unlawful, or which is constrained or restricted by this TOS; and you shall not contribute to any such misconduct of any other person.{% endblocktrans %}</p>
            
            <h4>{% trans "XXV. NxtGenTV Copyrights" %}</h4>
            <p>{% blocktrans %}The Sites Features are protected by U.S. and international copyright laws.   You may not modify, reproduce or distribute the content, design or layout of the Sites Features, or individual sections of the content, design or layout of the Site without NxtGenTV's express prior written permission.  Copyright &copy; NxtGenTV, LLC 2009. All rights reserved.{% endblocktrans %}</p>
            
            <h4>{% trans "XXVI. NxtGenTV Trademarks" %}</h4>
            <p>{% blocktrans %}NxtGenTV and the NxtGenTV logo are trademarks/service marks of NxtGenTV. NxtGenTV and the NxtGenTV logo are trademarks/service marks of NxtGenTV.  Unauthorized use of any NxtGenTV trademark, service mark or logo may be a violation of federal and state trademark laws.{% endblocktrans %}</p>
            
            <h4>{% trans "XXVII. Notice of Claims of Copyright Infringement" %}</h4>
            <p>{% blocktrans %}If you are a copyright owner or agent thereof and believe that content posted on the Site by a NxtGenTV user infringes upon your copyright, please submit notice, pursuant to the Digital Millennium Copyright Act (17 U.S.C. § 512(c)) to our Copyright Agent with the following information:{% endblocktrans %} </p>
            <ol style="list-style-type: lower-alpha;">
                <li><p>{% blocktrans %}an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}a description of the copyrighted work that you claim has been infringed; {% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}the URL of the location on our website containing the material that you claim is infringing;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}your address, telephone number, and email address;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.{% endblocktrans %}</p></li>
            </ol>
            
            <p>{% blocktrans %}Our Copyright Agent can be reached by mail at: NxtGenTV, LLC, 21800 Burbank Blvd. Suite 225, Woodland Hills, CA 91367, Attn: NxtGenTV Administration, by fax at [FAX NUMBER] or by email at [EMAIL ADDRESS].  Please note that attachments cannot be accepted at the email address for security reasons.  Accordingly, any notification of infringement submitted electronically with an attachment will not be received or processed.{% endblocktrans %}</p>
            
            <h4>{% blocktrans %}XXVIII. DISCLAIMER OF WARRANTIES{% endblocktrans %}</h4>
            <p>{% blocktrans %}YOU EXPRESSLY ACKNOWLEDGE AND AGREE AS FOLLOWS:{% endblocktrans %}</p>
            <p><strong>{% trans "XXVIII.I" %}</strong> {% blocktrans %}NO WARRANTY. THE SITES FEATURES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS FOR YOUR USE, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, AND THOSE ARISING FROM COURSE OF DEALING OR USAGE OF TRADE.  NxtGenTV MAKES NO WARRANTY AS TO THE ACCURACY, COMPLETENESS OR RELIABILITY OF ANY CONTENT AVAILABLE THROUGH THE SITES FEATURES.  YOU ARE RESPONSIBLE FOR VERIFYING ANY INFORMATION BEFORE RELYING ON IT.  USE OF SITES FEATURES AND/OR THE CONTENT AVAILABLE ON THE SITES FEATURES IS AT YOUR SOLE RISK.  NxtGenTV DOES NOT WARRANT THAT YOU WILL BE ABLE TO ACCESS OR USE THE SITES FEATURES AT THE TIMES OR LOCATIONS OF YOUR CHOOSING; THAT THE SITES FEATURES WILL BE UNINTERRUPTED OR ERROR-FREE; THAT DEFECTS WILL BE CORRECTED; OR THAT THE SITES FEATURES ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.{% endblocktrans %}</p>
            <p>{% blocktrans %}FOR THE PURPOSES OF THIS SECTION, "NxtGenTV, ITS AFFILIATES, SUPPLIERS AND CONTRACTORS" IS INTENDED TO INCLUDE, WITHOUT LIMITATION, NxtGenTV, OUR LIMITED LIABILITY COMPANY MANAGERS, OFFICERS, EMPLOYEES, AND AGENTS, THE SUPPLIERS OF OUR WEB SITES, OUR INTERNET SERVICE PROVIDERS ("ISPs"), OUR OTHER TECHNICAL AND SERVICE PROVIDERS, OUR RESELLERS, AND ANY PERSONS WHO MAY BE OR BE DEEMED OUR PARTNERS, JOINT VENTURERS, OR PRINCIPALS, EACH AND ALL OF WHOM SHALL BE EXPRESS THIRD PARTY BENEFICIARIES OF THESE DISCLAIMERS OF WARRANTY.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}Because some states or jurisdictions do not allow the disclaimer of implied warranties, the foregoing disclaimer may not apply to you.{% endblocktrans %}</p>
            
            <h4>{% blocktrans %}XXIX. LIMITATIONS AND EXCLUSIONS OF DAMAGES{% endblocktrans %}</h4>
            <p>{% blocktrans %}IN NO EVENT SHALL NxtGenTV, ITS AFFILIATES, SUPPLIERS AND CONTRACTORS BE LIABLE FOR AN OF THE FOLLOWING KINDS OF DAMAGES: LOST PROFITS, LOST GOOD WILL, BUSINESS INTERRUPTION; OR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL , OR EXEMPLARY DAMAGES ARISING, OR ALLEGED TO ARISE, OUT OF OR IN CONNECTION WITH OUR SITE, OUR SERVICES, OR THIS AGREEMENT.{% endblocktrans %}</p>
            <p>{% blocktrans %}WITHOUT LIMITING THE BREADTH OF THE KINDS OF DAMAGES EXCLUDED BY THE PRECEDING SENTENCE, NxtGenTV, ITS AFFILIATES, SUPPLIERS AND CONTRACTORS SHALL NOT BE LIABLE FOR ANY OF THE FOREGOING KINDS OF DAMAGES ARISING OR RESULTING FROM: (a) ANY USE OR INABILITY TO USE NxtGenTV OR THE SERVICES; (b) ANY COST OF ACQUIRING SUBSTITUTE GOODS AND SERVICES; (c) ANY UNAUTHORIZED ACCESS TO, DEGRADATION OF, OR ALTERATION OF THE CONTENTS OF TRANSMISSIONS OF YOU OR ANY THIRD PARTY; (d) ANY CONDUCT OR COMMUNICATIONS OF ANY THIRD PARTY BY USE OF NxtGenTV OR THE SERVICES; OR (e) ANY OTHER MATTER OR CIRCUMSTANCE RELATED TO NxtGenTV OR THE SERVICES.{% endblocktrans %}</p>
            <p>{% blocktrans %}IN ANY CIRCUMSTANCE WHERE NxtGenTV, ITS AFFILIATES, SUPPLIERS AND CONTRACTORS MAY HAVE LIABILITY TO YOU THAT IS NOT EXCLUDED BY THE FOREGOING, THEN ANY SUCH LIABILITY TO YOU AND TO ANY THIRD PARTY IS LIMITED IN AMOUNT TO THE GREATER OF (A) ONE HUNDRED DOLLARS ($100), AND (B) THE AMOUNT OF FEES (IF ANY) YOU HAVE PAID TO US IN THE NINETY (90) DAYS IMMEDIATELY PRIOR TO THE EVENTS ALLEGEDLY GIVING RISE TO THE CLAIMED LIABILITY.{% endblocktrans %}</p>
            <p>{% blocktrans %}FOR THE PURPOSES OF THIS SECTION "NxtGenTV, ITS AFFILIATES, SUPPLIERS AND CONTRACTORS" IS INTENDED TO INCLUDE, WITHOUT LIMITATION, NxtGenTV, OUR LIMITED LIABILITY COMPANY MANAGERS, OFFICERS, EMPLOYEES, AND AGENTS, THE SUPPLIERS OF OUR WEB SITES, OUR INTERNET SERVICE PROVIDERS ("ISPs"), OUR OTHER TECHNICAL AND SERVICE PROVIDERS, OUR RESELLERS, AND ANY PERSONS WHO MAY BE OR BE DEEMED OUR PARTNERS, JOINT VENTURERS, OR PRINCIPALS, EACH AND ALL OF WHOM SHALL BE EXPRESS THIRD PARTY BENEFICIARIES OF THESE DAMAGE EXCLUSIONS AND LIMITATIONS.{% endblocktrans %}</p>
            <p>{% blocktrans %}Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, the liability of NxtGenTV and its affiliates shall be limited to the fullest extent permitted by law.{% endblocktrans %}</p>
            
            <h4>{% blocktrans %}XXX. INDEMNITY{% endblocktrans %}</h4>
            <p>{% blocktrans %}You agree to indemnify us ("NxtGenTV, its affiliates, suppliers and contractors" as defined in the sections which disclaim warranties and limit and exclude damages), and to hold us harmless, from any claim, cost, liability or demand or any third party, including reasonable attorneys fees, which arises or is alleged to arise from:{% endblocktrans %}</p>
            <ol style="list-style-type: lower-alpha;">
                <li><p>{% blocktrans %}breach by you or by anyone for whom you bear responsibility of this TOS, any of the materials which this Agreement incorporates by reference or any other policies that NxtGenTV may issue for the Sites Features from time to time; or{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}violation by you or by anyone for whom you bear responsibility of any law or of the rights of any third party.{% endblocktrans %}</p></li>
                
            <h4>{% blocktrans %}XXXI. PROVISIONS OF GENERAL APPLICATION{% endblocktrans %}</h4>
            <p><strong>{% trans "XXXI.I" %}</strong> {% blocktrans %}Entire Agreement.{% endblocktrans %}<br />
            {% blocktrans %}This TOS, including any matter that is expressly incorporated in this TOS by reference, constitutes the entire agreement between you and NxtGenTV and it governs your use of the Sites Features. This TOS supersedes any prior negotiations and agreements between you and NxtGenTV. There are no oral terms to this TOS. This TOS can only be amended or altered in writing. Your purchase or use of particular services and products of NxtGenTV, or of third-party content or third-party software, may be governed by additional written terms and conditions specified when you purchase or access such particular services and products.{% endblocktrans %}
            </p>
            <p><strong>{% trans "XXXII.II" %}</strong> {% blocktrans %}Choice of Law and Choice of Forum.{% endblocktrans %}<br />
            {% blocktrans %}You agree that the laws of the State of California, United States of America, without regard to the principles of conflict of laws, will govern your use of Sites Features, these TOS and all matters relating to your access to, and/or use of, the Sites Features. You irrevocably submit to the exclusive jurisdiction of, and venue in, the state and federal courts seated in Los Angeles County, California, and the related appellate courts, in any related action or proceeding.{% endblocktrans %}
            </p>
            <p><strong>{% trans "XXXII.III" %}</strong> {% blocktrans %}Limitation on Claims.{% endblocktrans %}<br />
            {% blocktrans %}You and NxtGenTV agree that any claim or cause of action arising or alleged to arise out of, or related to, this TOS or the use of Sites Features, must be filed within one (1) year after such cause of action arose, or else such claim or cause of action shall be permanently barred. You and NxtGenTV agree that this limitation applies regardless of any statute or law to the contrary which might otherwise apply.{% endblocktrans %}
            </p>
            <p><strong>{% trans "XXXII.IV" %}</strong> {% trans "Export Controls." %}<br />
            {% blocktrans %}The Services, or some uses of them, may be subject to the export control laws of the United States. You agree that you shall not export, re-export, disclose, or transfer any of the Services, or any technical matter related to the Services, nor shall you use the Services, in violation of applicable export control laws and regulations.{% endblocktrans %}
            </p>
            <p><strong>{% trans "XXXII.V" %}</strong> {% blocktrans %}Restriction of Rights Concerning Government Usage.{% endblocktrans %}<br />
            {% blocktrans %}The Sites Features comprise Restricted Rights in accord with DFARS Section 227.7202 et seq. If you are using the Sites Features as a representative of the United States Department of Defense, or as a representative of any other governmental agency of any nation, state or locality, then you acknowledge that the Services, and any portion of them, are "Commercial Computer Software" (cf. DFARS Section 252.227-7014) and any documentation is "Commercial Computer Software Documentation", all of which were developed exclusively at private expense by NxtGenTV and its predecessors, 21800 Burbank Blvd. Suite 225 Woodland Hills, CA 91367. You do not receive any rights to reproduce or modify the Services or any associated software.{% endblocktrans %}
            </p>
            <p><strong>{% trans "XXXII.VI" %}</strong> {% blocktrans %}Non-Transferability; No Sublicensing; No Right of Survivorship.{% endblocktrans %}<br />
            {% blocktrans %}Your identity is an essential element of your registration and Account, the accuracy of which you are required to represent and warrant as a necessary condition of your use of the Sites Features. Among other reasons, the accuracy of your identity disclosures is material to our ability to protect ourselves and other users of the Sites Features from fraud and other abuses of our system and services. You cannot transfer or sub-license your registration, your Account, or your rights under this TOS. Upon your death any rights to your account terminate. Upon our receipt of a copy of a death certificate, or of other proof of death which is satisfactory to us in our sole discretion, your account can be terminated and your registration deleted by us.{% endblocktrans %}
            </p>
            <p><strong>{% trans "XXXII.VII" %}</strong> {% blocktrans %}No ReSale, Re-Transmission or Commercial Use.{% endblocktrans %}<br />
            {% blocktrans %}Except for communications in which you are an active participant using the Sites Features, in accord with the terms and conditions of this TOS, and except as may otherwise be expressly agreed in a separate writing signed by two officers of NxtGenTV, you agree that:{% endblocktrans %}
            </p>
            <ol style="list-style-type: lower-alpha;">
                <li><p>{% blocktrans %}you have no right to resell or re-transmit the Sites Features;{% endblocktrans %}</p></li>
                <li><p>{% blocktrans %}you shall not distribute or re-distribute any of the Sites Features, use the Sites Features on timeshare or service bureau basis, for operation of a website, or for any commercial or income-generating purpose. Any Reseller Agreement must be by separate writing, signed by two officers of NxtGenTV.{% endblocktrans %}</p></li>
            </ol>
            <p><strong>{% trans "XXXII.VIII" %}</strong> {% blocktrans %}No Third Party Beneficiaries.{% endblocktrans %}<br />
            {% blocktrans %}Except as is otherwise expressly stated in this TOS there shall be no third party beneficiary of this TOS.{% endblocktrans %}
            </p>
            <p><strong>{% trans "XXXII.IX" %}</strong> {% trans "Waiver and Severability." %}<br />
            {% blocktrans %}A failure of NxtGenTV to exercise a right or provision of this TOS shall not operate as a waiver of such right or provision. If a court of competent jurisdiction shall determine that any provision of this TOS, or of any expressly incorporated document, is invalid, then it is agreed that the Court shall endeavor to revise such provision to give it such effect as is legally valid; and to the extent that a provision is invalid that provision shall be severed and the remainder of this TOS enforced.{% endblocktrans %}
            </p>
            <p><strong>{% trans "XXXII.X" %}</strong> {% trans "Rights and Remedies Cumulative." %}<br />
            {% blocktrans %}All rights and remedies of NxtGenTV under this TOS or provided by law and equity shall be deemed cumulative and not exclusive of each other, and the exercise of one remedy shall not preclude the exercise of any other.{% endblocktrans %}
            </p>
            <p><strong>{% trans "XXXII.XI" %}</strong> {% trans "Captions, Headings and Links." %}<br />
            {% blocktrans %}Captions, headings and links in this TOS are for reference only and shall not be considered when construing this TOS.{% endblocktrans %}
            </p>
            
            <h4>{% trans "XXXIII. NOTICES" %}</h4>
            <p><strong>{% trans "XXXIIII.I" %}</strong> {% trans "Your Notices to Us." %}<br />
            {% blocktrans %}Any notice which you are permitted or required to give to NxtGenTV under this TOS shall be in writing and shall be delivered by U.S. mail, certified, first class or express mail, and prepaid ; or shall be delivered by a nationally recognized commercial delivery service which provides delivery tracking (such as Federal Express or UPS) addressed to:{% endblocktrans %}
            </p>
            <p>{% trans "NxtGenTV" %}<br />
            {% trans "NxtGenTV, LLC" %}<br />
            {% trans "Attn: NxtGenTV Administration" %}<br />
            {% trans "21800 Burbank Blvd. Suite 225" %}<br />
            {% trans "Woodland Hills, CA 91367" %}<br />
            </p>
            <p><strong>{% trans "XXXIII.II" %}</strong> {% trans "Our Notices to You; Your Email Address for Notices." %}<br />
                {% blocktrans %}You agree that we may provide you with any notices that are permitted or required under or concerning this TOS, including without limitation changes in the Terms and Conditions of Services or the Privacy Policy, by electronic means such email to the email address which you provide in your registration or otherwise; or by U.S. Post Office mail; or by postings on NxtGenTV or within any applicable Services of NxtGenTV to which you have subscribed. You agree that (i) it is your responsibility to keep us timely informed or your correct email address by editing your Account registration data to reflect any changes in your email address, and it is your responsibility to monitor your own email at that email address; and (ii) it is your continuing responsibility as you use NxtGenTV and the Services to read and make certain you understand the notices which we post from time to time on the Sites Features.{% endblocktrans %}</p>
            
            <h4>{% blocktrans %}XXXIII. Injunctive Relief{% endblocktrans %}</h4>
            <p>{% blocktrans %}You agree that any use of the Sites Features contrary to the terms of this TOS, as amended from time to time, or any sublicensing, transfer, copying or disclosure of technical matter related to the Sites Features is likely to cause irreparable harm to NxtGenTV, its members, affiliates, providers, and suppliers, as well as to authorized sublicensees and resellers of the Sites Features, for which pecuniary compensation alone would be insufficient. You agree that under such circumstances NxtGenTV, its members, affiliates suppliers, authorized sublicensees and resellers shall be entitled to temporary, preliminary and permanent injunctive and other equitable relief, without posting bond or security.{% endblocktrans %}</p>
    </div>
{% endblock %}
