{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "What's NetConference?" %}{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
    	<li><a href="{% url conferencing %}">{% trans "conferences" %}</a></li>
    	<li><a href="{% url my_files %}">{% trans "files" %}</a></li>
    	<li><a href="{% url vmail_compose %}">{% trans "messages" %}</a></li>
    	<li><a href="{% url invitations_contacts %}">{% trans "contacts" %}</a></li>
        {# <li><a href="{% url tribe_list %}">{% trans "workgroups" %}</a></li> #} 
       
    {% else %}
<li><a href="{% url about %}" id="nav_select">{% trans "what's netconference?" %}</a>
        <li><a href="{% url features_home %}">{% trans "features" %}</a>
        <li><a href="{% url subscription_list %}" class="signup_link" rel="#signup_note">{% trans "pricing" %}</a>
        <li><a href="{% url acct_signup %}" class="signup_link" rel="#signup_note">{% trans "get started" %}</a>
    {% endif %}
{% endblock %}
{% block subnav %}<div class="search_block">
  <input name="textfield" type="text" class="searchfield" id="textfield" value="Search" /> 
  <input type="submit" name="button" id="button" value="" class="go_btn"/>
</div>
{% endblock %}
{% block content950top %}
{% endblock %}

{% block body %}
<div class="video_container" >
  <!--TOP MENU STARTS-->
  <div class="video_topmenu">
    <div class="left"></div>
    <div class="middle">
      <div class="right"></div>
      <div class="video_title">Lumina Island</div>
      <div class="editdetails_but"></div>
      <div class="deletevideo_but"></div>
      <div class="download_but"></div>
      <div class="clear"></div>
    </div>
  </div>
  <!--TOP MENU ENDS-->
  <!--VIDEO CONTENT STARTS-->
  <div class="video_description">
    <div class="leftpanel">Uploaded on 12/18/09 by <span class="upload_name">colbypalmer</span> <br/>
      Clip Length: 0:01:24	     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viewed 9 times <br/>
      <span class="videostatus">This video is public</span></div>
    <div class="rightpanel">Description: Lumina Island in Second Life,created by the Illusion Factorry</div>
    <div class="clear"></div>
  </div>
</div>
<!--VIDEO CONTENT ENDS-->
<!--VIDEO FILE STARTS-->
<div class="video_holder"><img src="{{MEDIA_URL}}img/video.png" width="519" height="396" alt="video" /></div>
<!--VIDEO FILE ENDS-->

</div>

{% endblock %}

{% block content950bot %}
{% endblock %}

{% block subcontent %}
<!--PAGE CONTENT STARTS-->
<div class="videocontent_holder" >
  <div class="left">
    <div class="addcomment"><textarea name="textarea" id="textarea" class="nobor"></textarea></div><br/>
  <a href="#"><img src="{{MEDIA_URL}}img/post_comment_btn.png" width="200" height="36" alt="Post Comment" class="imgright" /></a></div>  <div class="right"><span class="comment_heading">3 comments on this file:</span><br/>
    <hr class="hrbold" />
    <div class="comment_block">
    <span class="commentor_heading">Brian commented on this video</span> <span class="time">3 hours ago</span>
    <div class="rating"><img src="{{MEDIA_URL}}img/fullstar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/fullstar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/fullstar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/emptystar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/emptystar.png" width="16" height="15" alt="star" /></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam placerat orci, eu consectetur metus aliquam at. Aliquam sit amet lacus eu neque scelerisque sollicitudin sit amet et ligula. Praesent vitae nunc vel ligula ullamcorper scelerisque. Nunc molestie imperdiet magna.</p>
  </div>
  <div class="comment_block">
    <span class="commentor_heading">Kevin commented on this video</span> <span class="time">5 hours ago</span>
    <div class="rating"><img src="{{MEDIA_URL}}img/fullstar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/fullstar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/fullstar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/emptystar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/emptystar.png" width="16" height="15" alt="star" /></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam placerat orci, eu consectetur metus aliquam at. Aliquam sit amet lacus eu neque scelerisque sollicitudin sit amet et ligula. Praesent vitae nunc vel ligula ullamcorper scelerisque. Nunc molestie imperdiet magna.</p>
  </div>
  <div class="comment_block">
    <span class="commentor_heading">Colby commented on this video</span> <span class="time">1 hours ago</span>
    <div class="rating"><img src="{{MEDIA_URL}}img/fullstar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/fullstar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/fullstar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/emptystar.png" width="16" height="15" alt="star" /><img src="{{MEDIA_URL}}img/emptystar.png" width="16" height="15" alt="star" /></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam placerat orci, eu consectetur metus aliquam at. Aliquam sit amet lacus eu neque scelerisque sollicitudin sit amet et ligula. Praesent vitae nunc vel ligula ullamcorper scelerisque. Nunc molestie imperdiet magna.</p>
  </div>
  </div>
  
  <div class="clear"></div>
</div>
<!--PAGE CONTENT ENDS-->
{% endblock %}