{% extends "projects/base.html" %}

{% block body %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/form.css" type="text/css" />
<div id="addusers">
    <form method="post" action="" id='projectadduser'>
      <table>
    {{form}}   
    </table>
    <input type="submit" class="button right" value="Submit">
    </form>
</div>
{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/my_admin/jsi18n/"></script> 
<script type="text/javascript" src="/site_media/admin/js/core.js"></script> 
<script type="text/javascript" src="/site_media/admin/js/admin/RelatedObjectLookups.js"></script> 
<script type="text/javascript" src="/site_media/admin/js/getElementsBySelector.js"></script> 
<script type="text/javascript" src="/site_media/admin/js/actions.js"></script> 
<script type="text/javascript" src="/site_media/admin/js/SelectBox.js"></script> 
<script type="text/javascript" src="/site_media/admin/js/SelectFilter2.js"></script> 
<script type="text/javascript">addEvent(window, "load", function(e) {SelectFilter.init("id_user", "user", 0, "/site_media/admin/"); });</script> 
{% endblock %}