{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}projects{% endblock %}


{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}projects/css/projects.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
{% endblock %}

{% block subnav %}
    <ul class="subnav">
        <li id="all_projects"><a href="{% url project_list %}">{% trans "All Projects" %}</a></li>
        {% if user.is_authenticated %}
            <li id="your_projects"><a href="{% url your_projects %} ">{% trans "Your Projects" %}</a></li>
            <li id="create_project"><a href="{% url project_create %}">{% trans "Create a Project" %}</a></li>
        {% endif %}
    </ul>
{% endblock %}

