{% extends "projects/project.html" %}

{% block body %}

{% endblock %}

{% block subcontent %}

{{ project.name }}

<form action="." method="POST">
    <label>Are you sure you want to clear all entries in this project?</label>
    <br />
    <input type="submit" name="clear" value="Clear" class="buttonBlueSmall" style="display:inline" />
    <a href="{% url project_list %}">Cancel</a>
</form>

{% endblock %}
