{% extends "projects/base.html" %}
{% load avatar_tags %}
{% load projects_tags %}
{% load i18n %}

{% block content950top %}
{% endblock %}

{% block body %}
<div class="container features_top">
</div>
{% endblock %}

{% block content950bot %}
<br />
<br />
{{ project.name }}
<br />
<form action="{% url project_delete project.slug %}" method="POST">
    <label>{% trans "Are you sure you want to delete this project?" %}</label>
    <br />
    <input type="submit" name="clear" value="{% trans "Delete" %}" class="buttonBlueSmall" style="display:inline;" />
    <a href="{% url project_list %}">{% trans "Cancel" %}</a>
</form>
{% endblock %}

{% block subcontent %}
{% endblock %} 

