{% extends "projects/base.html" %}
{% load avatar_tags %}
{% load projects_tags %}
{% load activity_tags %}
{% load i18n %}

{% block content950top %}
{% endblock %}

{% block body %}
<div class="container features_top">
  <div id="projects_name">
    <div id="left_buttons"> <a href="add/">
      <input type="button" class="joinconf_but"/>
      </a> <br/>
      <a href="{% url project_create %}">
      <input type="button" class="project_but"/>
      </a> 
	  
	  </div>
    <div id="right_texteditor">
      <form action="{% url activity_create project.id %}" method="post">
        <div>{% trans "Post a comment" %} <a class="nyroModal" href="{% url project_description project.slug %}"><img src="{{MEDIA_URL}}img/icons/help.png" width="16" height="16" alt="Help" class="right" /></a><a href="{% url project_add_user project.slug %}"><img src="{{MEDIA_URL}}img/icons/gear.png" width="16" height="16" alt="Settings" class="right" /></a></div>
        <div>{{form.message}}</div>
        <div>
          <!--<a><img src="{{MEDIA_URL}}img/icons/comment_icon.png" width="36" height="36" alt="Comment" style="padding-right:5px;"/></a>-->
		  <a href="{% url my_files %}?project_id={{project.pk}}"><img src="{{MEDIA_URL}}img/icons/link_icon.png" width="36" height="36" alt="Attachment" class="leftalign"  /></a>
          <a href="{% url upload_file %}?project_id={{project.pk}}"> <img src="{{MEDIA_URL}}img/upload_icon.png" width="36" height="36" alt="Upload" class="leftalign"  /></a>
          <p style="font:11px Arial, Helvetica, sans-serif; width:380px; float:left; padding-top:10px; margin-right: 70px;">{% trans "Attach Pictures, Videos, PDF, Powerpoint, Word, Excel and Many Other File Formats" %}.</p>
          
          <input type="Submit" class="buttonBlueMedium"  value="{% trans "Submit" %}"/>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block content950bot %}
{% endblock %}


{% block subcontent %}
<div id="projects_base">
  <div id="left_navi">
    <ul >
      {% block projects_left_nav %}
      <div id="left_navi">
        <ul>
          <li class="currentproject" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Projects" %}</li>
          {% for project in projects %}
          <li  class="{% cycle "pro_grey" "pro_white" %}"><a href="{{project.get_absolute_url}}">{{project.name}}<a href={% url project_add_user project.slug %}><img src="{{MEDIA_URL}}/img/icons/gear.png" width="16" height="16" alt="Settings" class="set_icon" /></a></li>
          {% endfor %}
          <li class="currentproject"><a href="#">{% trans "Users" %}</a></li>
          {% for user in project.member_users.all %}
          <li  class="pro_white"><a href="{% url profile_detail user.username %}">{{user}}<a href={% url project_add_user project.slug %}></li>
          {% endfor %}
        </ul>
      </div>
      {% endblock %}
    </ul>
  </div>
  <div id="right_content">
    <!--PROJECT BLOCK STARTS-->
    <div id="project_block">
      <div class="project_title">{{project.name}} </div>
      {% for activity in project.activity_set.all %} 
      <a id='toggleproject{{activity.id}}' class='showhideprojectdetail' activity_id='{{activity.id}}' href="#"><img src="{{MEDIA_URL}}/img/hide.gif" width="55" height="16" alt="Hide" class="right" /></a> <a id='toggleproject{{activity.id}}' class='showhideprojectdetail' activity_id='{{activity.id}}' style='display:none;' href="#"><img src="{{MEDIA_URL}}/img/show.gif" width="55" height="16" alt="Hide" class="right" /></a>
      <!--<div class="clearentry">{% include "projects/project_clear_frag.html" %}</div>-->
      <div id="project_detail{{activity.id}}" class="dashed_border">
          <div class="proholder">
              <!--[> project detail start<]-->
              <!--{% with user as f %}-->
              <!--<div class="avatarcomment"><a href="{% url user_dashboard f.username %}" title="{{ f.username }}">{% avatar f 40 %}</a></div>-->
              <!--{% endwith %}-->
              <!--<div class="parent_comment"><span class="comment_desc"> {{activity.message}}</span> {% file_link activity %}</div>-->


              <!--<div class="reply_comment"><span class="comment_desc"> {% for comment in activity.activitycomment_set.all %}-->
              <!--<ul>-->
              <!--{% include "activitystream/comment_block.html" %}-->
              <!--</ul>-->
              <!--{% empty %}-->

              <!--{% endfor %} </span>-->
              <!--<div class="right"><a class="nyroModal" href="{% url activity_comment activity.id %}" >-->
              <!--<input name="" type="button" class="buttonBlueSmall" value="Reply"/>-->
              <!--</a></div>-->
              <!--</div>-->
          </div>

          <div class="pro_container">
              <!--PARENT COMMENT BLOCK STARTS-->
              <div class="parent_commentnew">
                  <!--PARENT COMMENT STARTS-->
                  <div class="main_blok">
                      <table width="100%" border="0" cellspacing="5" cellpadding="0" class="com_table">
                          <tr>
                              {% with user as f %}
                              <td width="70" align="left" valign="top">
                                  <br />
                                  {% avatar f 40 %}
                              </td>
                              <td align="left" valign="top">
                                  <p class="person_name"><a href="{% url user_dashboard f.username %}">{{ f.username }}</a> </p>
                                  <p class="person_comment">{{ activity.message }}</p>
                                  <p class="hours">{{ activity.datetime|naturalTimeDifference }}</p>
                                  <br/>
                                  {% for comment in activity.activitycomment_set.all %}
                                  <!--REPLY COMMENT STARTS HERE-->
                                  {% with comment as c %}
                                  {% with c.user as f %}
                                  <table width="100%" border="0" cellpadding="0" cellspacing="5" id="reply_blockborder">
                                      <tr>
                                          <td width="70" align="left" valign="top">
                                              <br />
                                              {% avatar f 40 %}
                                          </td>
                                          <td align="left" valign="top">
                                              <p class="person_name">
                                              <a href="{% url user_dashboard f.username %}" title="{{ f.username }}">                    
                                                  {% if f.first_name %}{% if f.last_name %}
                                                  {{ f.first_name }} {{ f.last_name }}{% endif %}
                                                  {% else %}
                                                  {{ f.username }}
                                                  {% endif %}
                                              </a>
                                              </p>
                                              <p class="person_comment">
                                              {{ c.comment_text }}
                                              </p>
                                              <p class="hours">{{ activity.datetime|naturalTimeDifference }}</p></td>
                                      </tr>
                                  </table>
                                  {% endwith %}
                                  {% endwith %}
                                  <!--REPLY COMMENT ENDS HERE-->
                                  {% endfor %}
                                  <p class="hours">&nbsp;</p></td>
                              <td width="100" align="center" valign="top">
                                  <div class="clearentry">{% include "projects/project_clear_frag.html" %}</div>
                                  <br/>
                                  <br/>
                                  <div class="right">
                                      <a class="nyroModal" href="{% url activity_comment activity.id %}">
                                          <input name="" type="button" class="buttonBlueSmall" value="{% trans "Reply" %}" />
                                      </a>
                                  </div>
                              </td>
                          </tr>
                          {% endwith %}
                      </table>
                  </div>
                  <!--PARENT COMMENT STARTS-->
              </div>
              <!--PARENT COMMENT BLOCKENDS-->
          </div>
      </div>
      <!-- project detail end -->
      <div class='clear'></div>
      {% endfor %}
  </div>
      <div class="clear"></div>
    </div>

    <!--PROJECT BLOCK ENDS-->
  </div>
  <div class="clear"></div>
</div>
{% endblock %} 

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/nyro_modal/styles/nyroModal.css" />
{% endblock %}

{% block jquery_tools %}
<script type="text/javascript" src="{{MEDIA_URL}}js/nyro_modal/js/jquery.nyroModal-1.6.2.min.js"> </script>
{% endblock %}

{% block extra_body %}
<script>
$('a.showhideprojectdetail').click(function() {
	var activity_id = $(this).attr('activity_id');
	var project_detail_block = '#project_detail' + activity_id
	$(project_detail_block).toggle();
	$('a#toggleproject' + activity_id).toggle();
	$(this).hide();
	return false;
	});
</script>
{% endblock %}
