{% load i18n %}
<div class="right">
    <a href="#">
        {% ifequal user project.creator %}          
        <form method="post" action={% url activity_delete %}>
            <input type="hidden" name="activity_id" value={{activity.id}}>
            <input type="submit" class="buttonBlueSmall" value="{% trans "Clear" %}" style="float:left;" />
        </form>
        {% else %}	  
        {% ifequal user activity.user %}      
        <form method="post" action={% url activity_delete %}>
            <input type="hidden" name="activity_id" value={{activity.id}}>
            <input type="submit" class="buttonBlueSmall" value="{% trans "Clear" %}" style="float:left;" />
        </form>
        {% endifequal %}
        {% endifequal %}
    </a>
