{% load i18n %}

{% if project.name %}<p>{{ project.name }} (<a href="{{ project.get_absolute_url }}">{{ project.shortname }}</a>)</p>{% endif %}
{% if project.description %}<p>{{ project.description }}</p>{% endif %}
