{% extends "projects/base.html" %}
{% load avatar_tags %}
{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load sorting_tags %}
{% load activity_tags %}

{% block head_title %}{% blocktrans %}Projects{% endblocktrans %}{% endblock %}

{% block content950top %}
{% endblock %}

{% block extra_css_pre %}
<style type="text/css">
    #subcontent_wrapper {
        width: 700px;
        float: right;
    }
    #subcontent {
        width: 700px;
    }
    .projects_menu {
        display:block;
        float:left;
        margin:0;
        padding:0;
        width:245px;
    }
    .tooltip_new li {
        color: #000000;
    }
    li.currentproject a {
        color: #ffffff;
    }
</style>
{% endblock %}

{% block body %}
<div id="projects_name">
    <div id="leftbuttons">
        <a href="{% url project_create %}">
            <input type="button" class="buttonGreen" value="{% trans "Create Project" %}" />
        </a>
        <br/>
        <br/>
        {% block projects_left_nav %}
        <div id="projects_base" class="projects_menu">
            <div id="left_navi">
                <li class="currentproject" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "All Project Activity" %}</li>
                <table cellspacing="0" width="230">
                    {% for project in projects %}
                    <tr class="{% cycle "pro_grey" "pro_white" %}">
                        <td>
                            <a href="{{project.get_absolute_url}}">{{project.name}}</a>
                        </td>
                        <td width="25%">
                            <a href="javascript:void(0);" class="gears">
                                <img src="{{MEDIA_URL}}/img/icons/gear.png" width="16" height="16" alt="Settings" class="set_icon" />
                            </a>
                            <div class="tooltip_new">
                                <table cellspacing="0">
                                    <tr>
                                        <td><a href="{% url project_add_user project.slug %}">{% trans "Edit" %}</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url project_inactivate project.slug %}">{% trans "Inactive" %}</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url project_confirm_delete project.slug %}">{% trans "Delete" %}</a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <li class="currentproject">
                    <a href="#">{% trans "Project Participants" %}</a>
                </li>
                {% for project in projects %}
                {% for user in project.member_users.all %}
                <li  class="pro_white">
                    <a href="{% url profile_detail user.username %}">{{user}}</a>
                </li>
                {% endfor %}
                {% endfor %}
                <li class="currentproject" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Inactive Projects" %}</li>
                <table cellspacing="0" width="230">
                    {% for project in projects %}
                    {% if not project.active %}
                    <tr class="{% cycle "pro_grey" "pro_white" %}">
                        <td>
                            <a href="{{project.get_absolute_url}}">{{project.name}}</a>
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="gears">
                                <img src="{{MEDIA_URL}}/img/icons/gear.png" width="16" height="16" alt="Settings" class="set_icon" />
                            </a>
                            <div class="tooltip_new">
                                <table cellspacing="0">
                                    <tr>
                                        <td><a href="{% url project_add_user project.slug %}">{% trans "Edit" %}</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url project_activate project.slug %}">{% trans "Active" %}</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url project_confirm_delete project.slug %}">{% trans "Delete" %}</a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block content950bot %}
{% endblock %}

{% block subcontent %}
<div id="projects_base" style="width: 745px;"> 
  <div id="right_content" style="margin-top: 20px;">
    <!--PROJECT BLOCK STARTS-->
    {% for project in projects %}
    <div id='project_individual{{project.id}}'>
      <div class="project_title"> {{project.name}}
          <div class="right" style="float:right;">
              {% if project.get_recent_activity %}
              <a href="{% url project_clear_all_entries project.id %}" style="text-decoration:underline;color:#ffffff;font:12px Arial,Helvetica,sans-serif;vertical-align:super;">{% trans "clear all entries" %}</a> 
              {% endif %}
              <a href="#" class="showhideproject" projectid={{project.id}}> <img src="{{MEDIA_URL}}img/hide_arrow.gif" width="16" height="26" alt="Hide" class="right rightpad" /> </a> 
              <a href="#" class="showhideproject" style='display:none;' projectid={{project.id}}> <img src="{{MEDIA_URL}}img/show_arrow.gif" width="16" height="26" alt="Hide" class="right rightpad" /> </a> 
          </div>
      </div>
      {% for activity in project.get_recent_activity %}
      <div class="base_project">
        <div class="left"> {% with user as f %}
          <div class="commentor_pic"><a href="{% url user_dashboard f.username %}" title="{{ f.username }}">{% avatar f 40 %}</a></div>
          {% endwith %}
          <p><a href="/profiles/profile/{{ activity.user }}" class="comment_name">{{ activity.user }}</a> <br/>
            <span class="comment_description">{{ activity.message|truncatewords:15 }}</span><br/>
            <span class="greytext">{{ activity.datetime|naturalTimeDifference }}</span></p>
        </div>
        {% include "projects/project_clear_frag.html" %}
        <div class="reply_but" style="float:right;">
            <a class="nyroModal" href="{% url activity_comment activity.id %}">
                <input type="submit" class="buttonBlueSmall" value="{% trans "Reply" %}" style="float:right;" />
            </a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    {% empty %}


    <div id='project_individual0'>
      <div class="base_project"> {% trans "No activity yet" %}. <br/>
        <br/>
      </div>
    </div>


    {% endfor %} </div>
  {% endfor %} 
  </div>
  <div class="clear"></div>

</div>

{% endblock %} 

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/nyro_modal/styles/nyroModal.css" />
{% endblock %}

{% block jquery_tools %}
<script type="text/javascript" src="{{MEDIA_URL}}js/nyro_modal/js/jquery.nyroModal-1.6.2.min.js"> </script>
{% endblock %}

{% block extra_body %}
<script>
$('a.showhideproject').click(function() {
	// var activity_id = $(this).attr('activity_id');
	$(this).parent().parent().parent().find('.base_project').toggle();
	$(this).parent().find('.showhideproject').toggle();
	$(this).hide();
	return false;
});
$("a.gears").tooltip({
    relative: false, 
    position: "center", 
    effect: "fade",
    offset: [30, -210],
    tipClass: 'tooltip_new'
});
</script>
{% endblock %} 
