{% load pagination_tags %}
{% load projects_tags %}
{% load i18n %}
<table class="items_listsellfullview" width="706px" style="margin:0px 0px 0px 20px;">
<tr class="items_list_def" >
      <td align="left" valign="top"  ><h3>{% if is_me %}{% trans "These are the projects you participate in." %}{% else %}These are the projects {% if user_obj.get_full_name %}{{ user_obj.get_full_name }}{% else %}{{ user_obj.username }}{% endif %} participates in.{% endif %}</h3> {% autopaginate projects %}</td>
    </tr>
    {% for project in projects %}
    	<tr class="items_list_projects {% cycle 'row1' 'row2' %}" >
      		<td align="left" valign="top" class="leftalign"> {% show_project project %} </td>
    	</tr>

    {% endfor %} 
        </table>
