{% load pagination_tags %}
{% load projects_tags %}
{% load i18n %}
<table class="items_listsell" style="margin:0px auto;" width="800px" >
<tr class="items_list_def">
      <td align="left" valign="top"  >{% trans "These are the projects you participate in." %} {% autopaginate projects %}</td>
    </tr>
    {% for project in projects %}
    	<tr class="items_list_projects {% cycle 'row1' 'row2' %}" >
      		<td align="left" valign="top" class="leftalign"> {% show_project project %} </td>
    	</tr>

    {% endfor %} 
        </table>