{% extends "projects/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load projects_tags %}

{% block head_title %}{% trans "Your Projects" %}{% endblock %}

{% block content950top %}
{% endblock %}

{% block body %}
<div class="container features_top"> <br/>
  <br/>
  <br/>
</div>
{% endblock %}

{% block content950bot %}
{% endblock %}

{% block subcontent %}
<h1 class="items_list_top">{% trans "Your Projects" %}</h1>
<table  border="0" cellspacing="0" cellpadding="0" class="items_list">

{% include "projects/your_projects_frag2.html"%}

</table>
{% paginate %}
    
{% endblock %} 

