{% extends "site_base.html" %}

{% load i18n %}
{% load catalog_filters %}

{% block head_title %}{% trans "Cart" %}{% endblock %}

{% block body %}
    {# {% if user_subscription %} #}
    {# <div class="prefix-2"> #}
    {#     <h4>You are already subscribed.</h4> #}
    {#     <p>You do not need to use the NetConference Shopping Cart, since we already have your subscription information on file.</p> #}
    {#     <p><a href="{% url subscription_list %}">Click here to change your subscription type.</a></p> #}
    {# </div> #}
    {# <br /><br /><br /> #}
    {# {% else %} #}
    <h1 class="uni_form_header">Your Shopping Cart</h1>
    <div class="uniForm_faux">
        <fieldset>
            <table summary="Your Shopping Cart" id="shopping_cart">
        		<thead>
        			<tr>
        				<th scope="col" width="160">Product</th>
        				<th scope="col" width="130">Price</th>
                        {# <th></th> #}
                        {# <th></th> #}
        				<th width="140"></th>
        				<th scope="col" class="right">Total</th>
        			</tr>
        		</thead>
        		<tfoot>
        			<tr style="background:#ededed;">
        				<th class="right" colspan="3">
        					Subtotal:
        				</th>
        				<th class="right">
        					{{ cart_subtotal|currency }}&nbsp;
        				</th>
        			</tr>
        			{% if cart_items %}
        			<tr>
        				<th class="right" colspan="4">
        					<form method="POST" action=".">
            					<input type="hidden" name="submit" value="Checkout" />
            					<!-- input type="image" name="Google Checkout" alt="Fast checkout through Google"
                src="http://sandbox.google.com/checkout/buttons/checkout.gif?merchant_id={{ merchant_id }}
                      &w=180&h=46&style=white&variant=text&loc=en_US"  height="46" width="180" /-->

                      		<button type="submit" style="float:right;clear:right;margin-right:0px;">Check Out</button>
            				</form>
        				</th>
        			</tr>
        			{% endif %}
        		</tfoot>
        		<tbody>
        		{% if cart_items %}
        			{% for item in cart_items %}
        				<tr>
        					<td>
        						<a href="{{ item.get_absolute_url }}" class="cart">
        							{{ item.name }}
        						</a>
        					</td>
        					<td>{{ item.price|currency }}{% ifequal item.product.recurrence_unit "M" %} per month{% endifequal %}</td>
                            {# <td class="right"> #}
                            {#  <form method="post" action="." class="cart"> #}
                            {#      <label for="quantity">Quantity:</label> #}
                            {#      <input type="text" name="quantity" value="{{ item.quantity }}" id="quantity" size="2" class="quantity" maxlength="5" /> #}
                            {#      <input type="hidden" name="item_id" value="{{ item.id }}" /> #}
                            {# </td> #}
                            {# <td> #}
                            {#  <input type="submit" name="submit" value="Update" /> #}
                            {#  </form> #}
                            {# </td> #}
        					<td>
        						<form method="post" action="." class="cart">
        							<input type="hidden" name="item_id" value="{{ item.id }}" />
        							<input type="submit" name="submit" value="Remove"/>
        						</form>
        					</td>
        					<td class="right">{{ item.total|currency }}</td>
        				</tr>
        			{% endfor %}
        		{% else %}
        		      <tr>
        					<td colspan="6" style="height:30px;">
        						Your cart is empty.
        					</td>
        				</tr>
        		{% endif %}
        		</tbody>
        	</table>
    	</fieldset>
    </div>
	<br /><br />
	{{ google_checkout_xml }}
    {# {% endif %} #}
{% endblock %}