{% extends "site_base.html" %}

{% load i18n %}
{% load threadedcommentstags %}

{# {% load tribes_tags %} #}
{% load avatar_tags %}
{# {% load wiki_tags %} #}
{% load in_filter %}
{% load extra_tagging_tags %}

{% load file_tags %}

{% block head_title %}{% blocktrans %}Tags{% endblocktrans %}{% endblock %}

{% block body %}

    {% if file_tags %}
    <div>
        <h1 class="items_list_top">
            {# <span class="list_button_public">Show all Public Videos with this tag</span> #}
            {% trans "All Files Tagged " %}<i>{{ tag }}</i>
        </h1>
        <table class="items_list" width="870" cellspacing="0">
        	<tr class="items_list_def">
        		<td width="115">Thumbnail</td>
        		<td width="320">Video Title</td>
        		<td width="45" style="text-align:center;">{# Status #}</td>
        		<td width="70" style="text-align:center;">Views</td>
        		<td width="70" style="text-align:center;">Length</td>
        		<td width="70" style="text-align:center;">Date</td>
        		<td width="100" style="text-align:center;">{# Owner #}</td>
        		<td width="40"></td>
        		<td width="40"></td>
        	</tr>
    	
            {% for file in file_tags %}

        	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
        		<td>
					{% ifequal file.current_type "pdf" %}
					<a href="{{ file.get_absolute_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' class='file_icon' border='0' /></a>
        		    {% else %}
        		        {% ifequal file.current_type "mp3" %}
        		    <a href="{{ file.get_absolute_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' class='file_icon' border='0' /></a>
        		        {% else %}
					<a href="{{ file.get_absolute_url }}"><img src="{{ thumb_url }}{{ file.uuid }}.jpg" width="100" height="67" class="items_list_thumb" /></a>
					    {% endifequal %}
        		    {% endifequal %}
        		</td>
            	<td class="items_list_title">
            	    <a href="{{ file.get_absolute_url }}" class="listTitle">{{ file.title }}</a>
                    {% show_tags_for file %}
            	</td>
            	<td><img src="{{ MEDIA_URL }}img/{{ file.private|vidprivacy }}.png" border="0" class="privacy_lock" /></td>
            	<td>{{ file.view_count }}</td>
            	<td>
            	    {% if file.duration %}{{ file.duration|vidtime }}{% endif %}
            	    {% if file.page_count %}{{ file.page_count }} slides{% endif %}
            	</td>
            	<td>
            	    {% if file.timestamp %}{{ file.timestamp|date:"m/j/y" }}{% endif %}
            	</td>
                {# <td><a href="{% url user_dashboard file.user %}">{{ file.user }}</a></td> #}
            	<td style="padding-left:0px;padding-right:5px;">{% if file.filename %}<a href="{{ file.get_download_url }}" onclick="window.location='{{ file.get_download_url }}';return false;" target="_blank" class="button caps">download</a>{% endif %}</td>
            	<td style="padding-left:0px;padding-right:5px;">
            	    <a href="{{ file.get_absolute_url }}" rel="View File" class="button caps">view</a>
            	</td>
            </tr>
            {% endfor %}
        </table>
    </div>
        {% endif %}

    {% if videotags %}
    <div>
        <h1 class="items_list_top">
            {# <span class="list_button_public">Show all Public Videos with this tag</span> #}
            {% trans "All Videos Tagged " %}<i>{{ tag }}</i>
        </h1>
        <table class="items_list" width="870" cellspacing="0">
        	<tr class="items_list_def">
        		<td width="115">Thumbnail</td>
        		<td width="320">Video Title</td>
        		<td width="45" style="text-align:center;">{# Status #}</td>
        		<td width="70" style="text-align:center;">Views</td>
        		<td width="70" style="text-align:center;">Length</td>
        		<td width="70" style="text-align:center;">Date</td>
        		<td width="100" style="text-align:center;">{# Owner #}</td>
        		<td width="40"></td>
        		<td width="40"></td>
        	</tr>
    	
            {% for video in videotags %}

        	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
        		<td><a href="{% url video_detail video.id %}"><img src="{{ thumb_url }}{{ video.uuid }}.jpg" width="100" height="67" class="items_list_thumb" /></a></td>
            	<td class="items_list_title">
            	    <a href="{% url video_detail video.id %}" class="listTitle">{{ video.title }}</a>
            	    {% show_tags_for video %}
            	</td>
            	<td>{# <img src="{{ MEDIA_URL }}img/{{ video.private|vidprivacy }}.png" border="0" class="privacy_lock" /> #}</td>
            	<td>{{ video.view_count }}</td>
            	<td>{{ video.length|vidtime }}</td>
            	<td>{{ video.timestamp|date:"m/j/y" }}</td>
            	<td>{# <a href="{% url user_dashboard video.user %}">{{ video.user }}</a> #}</td>
            	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            	<td><a href="{% url video_detail video.id %}"><img src="{{ MEDIA_URL }}img/btn_play.png" border="0" /></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
        {% endif %}
{% comment %}
    {% if videotags_public %}
    <div style="display:none;">
        <h1 class="items_list_top">
            <span class="list_button_private">Show all My Videos with this tag</span>
            {% trans "All Public Videos Tagged " %}<i>{{ tag }}</i>
        </h1>
        <table class="items_list" width="870" cellspacing="0">
        	<tr class="items_list_def">
        		<td width="115">Thumbnail</td>
        		<td width="320">Video Title</td>
        		<td width="45" style="text-align:center;">Status</td>
        		<td width="70" style="text-align:center;">Views</td>
        		<td width="70" style="text-align:center;">Length</td>
        		<td width="70" style="text-align:center;">Date</td>
        		<td width="100" style="text-align:center;">Owner</td>
        		<td width="40"></td>
        		<td width="40"></td>
        	</tr>
    	
            {% for video in videotags_public %}

        	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
        		<td><a href="{% url video_detail video.id %}"><img src="{{ thumb_url }}{{ video.uuid }}.jpg" width="100" height="67" class="items_list_thumb" /></a></td>
            	<td class="items_list_title">
            	    <a href="{% url video_detail video.id %}" class="listTitle">{{ video.title }}</a>
            	    {% show_tags_for video %}
            	</td>
            	<td><img src="{{ MEDIA_URL }}img/{{ video.private|vidprivacy }}.png" border="0" class="privacy_lock" /></td>
            	<td>{{ video.view_count }}</td>
            	<td>{{ video.length|vidtime }}</td>
            	<td>{{ video.timestamp|date:"m/j/y" }}</td>
            	<td><a href="{% url user_dashboard video.user %}">{{ video.user }}</a></td>
            	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            	<td><a href="{% url video_detail video.id %}" rel="Play Video"><img src="{{ MEDIA_URL }}img/btn_play.png" alt="play video" title="Play Video" border="0" /></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    
   {% endcomment %}
    {% if eventtags %}
    <div style="display:none;">
        <h1 class="items_list_top">
            {% if eventtags_public %}<span class="list_button_public">Show all Public Conferences with this tag</span>{% endif %}
            {% trans "All My Conferences Tagged " %}<i>{{ tag }}</i>
        </h1>
        <table class="items_list" width="870" cellspacing="0">
        	<tr class="items_list_def">
        		<td width="415">Conference Title</td>
        		<td width="20"></td>
        		<td width="45" style="text-align:center;">Status</td>
        		<td width="70">&nbsp;&nbsp;</td>
        		<td width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        		<td width="70" style="text-align:center;">Date</td>
        		<td width="100" style="text-align:center;">Moderator</td>
        		<td width="40"></td>
        		<td width="40"></td>
        	</tr>
    	
        	{% for event in eventtags %}
            	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
            		<td class="items_list_title">
            		    <a href="{{ event.get_absolute_url }}" class="listTitle">{{ event.title }}</a>
            		    {% show_tags_for event %}
            		</td>
            		<td></td>
            		<td><img src="{{ MEDIA_URL }}img/{{ event.private|vidprivacy }}.png" border="0" class="privacy_lock" /></td>
            		<td>&nbsp;&nbsp;</td>
            		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                	<td>{{ event.start|date:"m/j/y" }}<br />{{ event.start|date:"P" }}</td>
                	<td><a href="{% url user_dashboard event.creator %}">{{ event.creator }}</a></td>
                	<td>
                	    {% ifequal event.creator request.user  %}
                	       <a href="{{ event.get_absolute_url }}" class="button" style="position:relative;top:4px;">edit</a>
                	    {% endifequal %}
                	</td>
                	<td><a href="{% url conference_session_quick event.creator %}" class="button" style="position:relative;top:4px;">join</a></td>
                </tr>
            {% endfor %}

            </table>
        </div>
    {% endif %}
    
    {% if eventtags_public %}
    <div>
        <h1 class="items_list_top">
            {% if eventtags %}<span class="list_button_private">Show all My Conferences with this tag</span>{% endif %}
            {% trans "All Public Conferences Tagged " %}<i>{{ tag }}</i>
        </h1>
        <table class="items_list" width="870" cellspacing="0">
        	<tr class="items_list_def">
        		<td width="415">Conference Title</td>
        		<td width="20"></td>
        		<td width="45" style="text-align:center;">Status</td>
        		<td width="70">&nbsp;&nbsp;</td>
        		<td width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        		<td width="70" style="text-align:center;">Date</td>
        		<td width="100" style="text-align:center;">Moderator</td>
        		<td width="40"></td>
        		<td width="40"></td>
        	</tr>
    	
        	{% for event in eventtags_public %}
            	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
            		<td class="items_list_title">
            		    <a href="{{ event.get_absolute_url }}" class="listTitle">{{ event.title }}</a>
            		    {% show_tags_for event %}
            		</td>
            		<td></td>
            		<td><img src="{{ MEDIA_URL }}img/{{ event.private|vidprivacy }}.png" border="0" class="privacy_lock" /></td>
            		<td>&nbsp;&nbsp;</td>
            		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                	<td>{{ event.start|date:"m/j/y" }}<br />{{ event.start|date:"P" }}</td>
                	<td><a href="{% url user_dashboard event.creator %}">{{ event.creator }}</a></td>
                	<td>
                	    {% ifequal event.creator request.user  %}
                	       <a href="{{ event.get_absolute_url }}" class="button" style="position:relative;top:4px;">edit</a>
                	    {% endifequal %}
                	</td>
                	<td><a href="{% url conference_session_quick event.creator %}" class="button" style="position:relative;top:4px;">join</a></td>
                </tr>
            {% endfor %}

            </table>
        </div>
    {% endif %}

    {% comment %}
    {% if eventtags %}
    <h1>{% blocktrans %}All Tribes Tags Matching <i>{{ tag }}</i>{% endblocktrans %}</h1>

        {% for tribe in tribes_tags %}
            <p>{% show_tribe tribe %}</p>
        {% endfor %}
    
        {% for article in wiki_article_tags %}
            <p>{% show_teaser article %}</p>
        {% endfor %}
    {% endif %}

    
    {% if conferencetags_public %}
    <div style="display:none;">
        <h1 class="items_list_top">
            <span class="list_button_private">Show all My Conferences with this tag</span>
            {% trans "All Public Conferences Tagged " %}<i>{{ tag }}</i>
        </h1>
        <table class="items_list" width="870" cellspacing="0">
        	<tr class="items_list_def">
        		<td width="415">Conference Title</td>
        		<td width="20"></td>
        		<td width="45" style="text-align:center;">Status</td>
        		<td width="70">&nbsp;&nbsp;</td>
        		<td width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        		<td width="70" style="text-align:center;">Date</td>
        		<td width="100" style="text-align:center;">Moderator</td>
        		<td width="40"></td>
        		<td width="40"></td>
        	</tr>
    	
        	{% for conference in conferencetags_public %}
            	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
            		<td class="items_list_title">
            		    <a href="../../conferencing/{{ conference.uuid }}/" class="listTitle">{{ conference.title }}</a>
            		    {% show_tags_for conference %}
            		</td>
            		<td></td>
            		<td><img src="{{ MEDIA_URL }}img/{{ conference.private|vidprivacy }}.png" border="0" class="privacy_lock" /></td>
            		<td>&nbsp;&nbsp;</td>
            		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                	<td>{{ conference.date|date:"m/j/y" }}<br />{{ conference.date|date:"P" }}</td>
                	<td><a href="{% url user_dashboard conference.moderator %}">{{ conference.moderator }}</a></td>
                	<td>
                	    {% ifequal conference.moderator request.user  %}
                	       <a href="{{ event.get_absolute_url }}" class="button" style="position:relative;top:4px;">edit</a>
                	    {% endifequal %}
                	</td>
                	<td><a href="{% url conference_session_quick event.creator %}" class="button" style="position:relative;top:4px;">join</a></td>
                </tr>
            {% endfor %}
        
            </table>
        </div>
    {% endif %}
    
    <h1>{% trans "All Photos Matching " %}<i>{{ tag }}</i></h1>

    {% if phototags %}
        <div class="thumb-row clearfix">
        {% for photo in phototags %}
                <div class="gallery-photo-thumb">
                    <a href="/photos/details/{{ photo.id }}/"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a><br />
                    from <a href="{% url user_dashboard photo.member.username %}">{{ photo.member.username }}</a><br />
                    <img src="{{ MEDIA_URL }}img/silk/comment.png" border="0" class="noborder" align="absmiddle" /><a href="/photos/details/{{ photo.id }}/">{% get_comment_count for photo as commentcount %} {{ commentcount }} Comments</a>
                    <br />
                    Viewed {{ photo.view_count }} Times
                </div>
        {% endfor %}
        </div>
    {% else %}
        No photos matching tag.
    {% endif %}

    <h1>All Bookmarks Matching <i>{{ tag }}</i></h1>
    {% if bookmarktags %}
        {% scores_for_objects bookmarktags as score_dict %}
        <table class="bookmarks" width="100%">
            {% for bookmark in bookmarktags %}
                <tr class="{% cycle odd,even %}">
                    <td class="meta">
                        <div class="avatar">{% avatar bookmark.bookmark.adder 40 %}</div>
                        <div class="details"><a href="{% url user_dashboard bookmark.bookmark.adder.username %}">{{ bookmark.bookmark.adder }}</a></div>
                        {{ bookmark.bookmark.added|date }}
                    </td>
                    
                    <td>
                        <h2><a href="{{ bookmark.bookmark.url }}">{{ bookmark.bookmark.description }}</a></h2>
                        <div class="url">{% if bookmark.bookmark.get_favicon_url %}<img src="{{ bookmark.bookmark.get_favicon_url }}" width="16" height="16" /> {% endif %}{{ bookmark.bookmark.url }}</div>
                        <div class="body">{{ bookmark.bookmark.note|linebreaks }}</div>
                        <div class="tags">{% show_tag_counts bookmark.bookmark.all_tags_with_counts %}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        No bookmarks matching tag.
    {% endif %}


    <h1>{% trans "All Blog Posts Matching " %}<i>{{ tag }}</i></h1>

    {% if alltags %}
        <p>{% trans "These are blog posts from everyone:" %}</p>
        {% for blog_post in alltags %}
            {% show_blog_post blog_post %}
        {% endfor %}
    {% else %}
        No blog posts matching tag.
    {% endif %}

    <h1>{% blocktrans %}All Projects Matching <i>{{ tag }}</i>{% endblocktrans %}</h1>

    <dl>
        {% for project in project_tags %}
            {% show_project project %}
        {% endfor %}
    </dl>

    <h1>{% blocktrans %}All Project Topics Matching <i>{{ tag }}</i>{% endblocktrans %}</h1>

    {% for topic in project_topic_tags %}
        {% show_project_topic topic %}
    {% endfor %}

    <h1>{% blocktrans %}All Project Tasks Matching <i>{{ tag }}</i>{% endblocktrans %}</h1>

    {% for task in project_task_tags %}
        {% show_task task %}
    {% endfor %}

    <h1>{% blocktrans %}All Tribe Topics Matching <i>{{ tag }}</i>{% endblocktrans %}</h1>

    {% for topic in topics_tags %}
        {% show_tribe_topic topic %}
    {% endfor %}

    <h1>{% blocktrans %}All Wiki Articles Matching <i>{{ tag }}</i>{% endblocktrans %}</h1>

    <table class="topics">
        {% for article in wiki_article_tags %}
            {% show_teaser article %}
        {% endfor %}
    </table>
{% endcomment %}

{% endblock %}

{% comment %}
{% block extra_body %}
    <script>
        function vote(bookmark_id, direction) {
            $.post(bookmark_id + '/' + direction + 'vote/', function(data) {
                var jsonResult = eval('(' + data + ')');
                var new_score = jsonResult.score.score;
                $('#bookmark_' + bookmark_id + '_score').text(new_score + ' point' + (new_score == 1 ? '': 's'));
            });
            if (direction == 'up') {
                $('#up_' + bookmark_id).replaceWith('<a id="up_' + bookmark_id + '" href="#" onclick="return false;"><img src="{{ MEDIA_URL }}up_mod.png"/>');
                $('#down_' + bookmark_id).replaceWith('<a id="down_' + bookmark_id + '" href="#" onclick="vote(' + bookmark_id + ', \'clear\'); return false;"><img src="{{ MEDIA_URL }}down_grey.png"/>');
            }
            else if (direction == 'down') {
                $('#up_' + bookmark_id).replaceWith('<a id="up_' + bookmark_id + '" href="#" onclick="vote(' + bookmark_id + ', \'clear\'); return false;"><img src="{{ MEDIA_URL }}up_grey.png"/>');
                $('#down_' + bookmark_id).replaceWith('<a id="down_' + bookmark_id + '" href="#" onclick="return false;"><img src="{{ MEDIA_URL }}down_mod.png"/>');
            }
            else { // clear
                $('#up_' + bookmark_id).replaceWith('<a id="up_' + bookmark_id + '" href="#" onclick="vote(' + bookmark_id + ', \'up\'); return false;"><img src="{{ MEDIA_URL }}up_grey.png"/>');
                $('#down_' + bookmark_id).replaceWith('<a id="down_' + bookmark_id + '" href="#" onclick="vote(' + bookmark_id + ', \'down\'); return false;"><img src="{{ MEDIA_URL }}down_grey.png"/>');
            }
        }
    </script>
{% endblock %}
{% endcomment %}

{% block extra_jquery %}
    $(".list_button_public").click(function(){
        $(this).parent().parent().slideUp();
        $(this).parent().parent().next().slideDown();
    });
    $(".list_button_private").click(function(){
        $(this).parent().parent().slideUp();
        $(this).parent().parent().prev().slideDown();
    });
{% endblock %}
