{% extends "files/base.html" %}

{% load file_tags %}
{% load tagging_tags %}
{% load extra_tagging_tags %}

{% load i18n %}
{% block head_title %}
    {% ifequal request.user.username username %}
        {% blocktrans %}Files tagged "{{ tag }}"{% endblocktrans %}
    {% else %}
        {{ username }}'s {% blocktrans %}files tagged "{{ tag }}"{% endblocktrans %}
    {% endifequal %}
{% endblock %}

{% block body %}
    <h1 class="items_list_top">{% ifequal request.user.username username %}{% trans "Files tagged" %} "{{ tag }}"{% else %}{{ username }}'s {% blocktrans %}files tagged "{{ tag }}"{% endblocktrans %}{% endifequal %}</h1>
    <table class="items_list" width="870" cellspacing="0">
    	<tr class="items_list_def">
    		<td width="115">Thumbnail</td>
    		<td width="275">Video Title</td>
    		<td width="70" style="text-align:center;">Status</td>
    		<td width="70"><!--Views--></td>
    		<td width="70" style="text-align:center;">Length</td>
    		<td width="70" style="text-align:center;">Date</td>
    		<td width="100" style="text-align:center;">Owner</td>
    		<td width="100"><!--Rating--></td>
    	</tr>
    {% for file in files_tagged %}
    	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
    		<td>
				{% ifequal file.current_type "pdf" %}
				<a href="{{ file.get_absolute_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' class='file_icon' border='0' /></a>
    		    {% else %}
    		        {% ifequal file.current_type "mp3" %}
    		    <a href="{{ file.get_absolute_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' class='file_icon' border='0' /></a>
    		        {% else %}
				<a href="{{ file.get_absolute_url }}"><img src="{{ thumb_url }}{{ file.uuid }}.jpg" width="100" height="67" class="items_list_thumb" /></a>
				    {% endifequal %}
    		    {% endifequal %}
    		</td>
        	<td class="items_list_title">
        	    <a href="{{ file.get_absolute_url }}" class="listTitle">{{ file.title }}</a>
        	    {% ifequal request.user.username username %}
        	    {% show_tags_for file %}
        	    {% else %}
        	    {% show_public_tags_for file username %}
        	    {% endifequal %}
                
        	</td>
        	<td><img src="{{ MEDIA_URL }}img/{{ file.private|vidprivacy }}.png" border="0" class="privacy_lock" /></td>
        	<td>{{ file.view_count }}</td>
        	<td>
        	    {% if file.duration %}{{ file.duration|vidtime }}{% endif %}
        	    {% if file.page_count %}{{ file.page_count }} slides{% endif %}
        	</td>
        	<td>
        	    {% if file.timestamp %}{{ file.timestamp|date:"m/j/y" }}{% endif %}
        	</td>
            {# <td><a href="{% url user_dashboard file.user %}">{{ file.user }}</a></td> #}
        	<td style="padding-left:0px;padding-right:5px;">{% if file.filename %}<a href="{{ file.get_download_url }}" onclick="window.location='{{ file.get_download_url }}';return false;" target="_blank" class="button caps">download</a>{% endif %}</td>
        	<td style="padding-left:0px;padding-right:5px;">
        	    <a href="{{ file.get_absolute_url }}" rel="View File" class="button caps">view</a>
        	</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
