{% load conference_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% ifequal conference "quickconference" %}{{ host.username }}'s QuickConference{% else %}{{ conference.title }}{% endifequal %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, projection" />
        <!--[if IE 7]>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen, projection" />
        <![endif]-->
        <link type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
        <style>
        body { font-size: 12px; background: black; color: #ddd; }
        a:hover { color: white; }
        </style>
    </head>
    <body>
        <div id="conf_wrapper">
            <div id="conf_header">
                <img src="{{ MEDIA_URL }}img/logo_conf.png" alt="NetConference" width="182" height="22" border="0" id="logo_conf" />
                <a href="#" id="end_conf" onclick="javascript: window.close();"><img src="{{ MEDIA_URL }}img/btn_end_conf.png" alt="End Meeting Now" width="132" height="30" border="0" /></a>
                <div id="conference_title">{% ifequal conference "quickconference" %}{{ host.username }}'s QuickConference{% else %}{{ conference.title }}{% endifequal %} - hosted by <span id="host_name_orig">{% if host.get_profile.website %}<a href="{{ host.get_profile.website }}" target="_blank">{% endif %}{% if host.first_name %}{{ host.first_name }} {% if host.last_name %}{{ host.last_name }}{% endif %}{% else %}{{ host.username }}{% endif %}{% if host.get_profile.website %}</a>{% endif %}</span><span id="host_name_remote" style="display:none;"></span></div>
                <div id="host_title"></div>
                <div id="head_bridge_number"><strong>Dial In:</strong> {{ ccall_pin.dial_in_number }}{% ifequal host.username user.username %}&nbsp;  &bull; &nbsp; <strong>Host PIN:</strong> {{ ccall_pin.access_code }}<span style="color:#a00;font-size:24px;position:relative;top:7px;margin-left:4px;">*</span>{% endifequal %}&nbsp;  &bull; &nbsp;<strong>Guest PIN:</strong> {{ ccall_pin.access_code }}<span style="color:#a00;font-size:16px;margin-left:4px;">#</span></div>
            </div>
            <div id="host_chat"><img src="{{ MEDIA_URL }}img/silhouette_dark.png" alt="host cam" width="220" height="165" border="0" /></div>
            
            <ul id="panel_actions">
                {% ifequal host.username user.username %}
                {# <li><a href="#" id="startMainCam" class="button btn_conf">Expand Host Cam to Stage</a></li> #}
                <li><a href="#" id="startDS" class="button btn_conf">Start Desktop Sharing</a></li>
                <li><a href="#" id="startMuteAll" class="button btn_conf">Mute All Video Guests</a></li>
                <li><a href="#" id="startUnMuteAll" class="button btn_conf">Unmute All Video Guests</a></li>
                <li><a href="#" id="startGoPhone" class="button btn_conf">Use Telephone Bridge</a></li>
                <li><a href="#" id="startGoVoip" class="button btn_conf">Use Computer Microphone</a></li>
                <li><a href="#" id="phoneCommandsHost" class="button btn_conf phoneCommands">Show Telephone Commands</a></li>
                {% else %}
                {# <li><a href="#" id="reqHost" class="button btn_conf">Request To Host</a></li> #}
                <li><a href="#" id="startGuestCam" class="button btn_conf">Broadcast my Webcam</a></li>
                <li><a href="#" id="phoneCommandsGuest" class="button btn_conf phoneCommands">Show Telephone Commands</a></li>
                {% endifequal %}
            </ul>
            
            <ul class="tabs_sm" id="upper_tabs_conf">
                <li><a href="#">my files</a></li>
                <li><a href="#">shared files</a></li>
            </ul>
            <div id="file_list">
                <div id="my_files">
                {% ifnotequal files "none" %}
                    <ul>
                    {% with files as files_list %}
                    {% for file in files_list %}
                        {% ifequal file.current_type "pdf" %}
                        <li>
                            <a href="{% if file.filename %}{{ file.get_download_url }}{% else %}#{% endif %}" class="file_dropdown" onclick="return false;"></a>
                            <div class="btn_file{% ifnotequal host.username user.username %} guest{% endifnotequal %}" name="{{ file.id }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' class='file_icon_sm' border='0' />&nbsp;
                                <span class="file_title">{{ file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                        {% else %}
                            {% ifequal file.current_type "mp3" %}
                        <li>
                            <a href="{% if file.filename %}{{ file.get_download_url }}{% else %}#{% endif %}" class="video_dropdown" onclick="return false;"></a>
                            <div class="btn_video{% ifnotequal host.username user.username %} guest{% endifnotequal %}" name="{{ file.id }}" rel="{{ file.uuid }}.mp3" title="{{ file.title }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' class='file_icon_sm' border='0' />&nbsp;
                                <span class="file_title">{{ file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                            {% else %}
                        <li>
                            <a href="{% if file.filename %}{{ file.get_download_url }}{% else %}#{% endif %}" class="video_dropdown" onclick="return false;"></a>
                            <div class="btn_video{% ifnotequal host.username user.username %} guest{% endifnotequal %}" name="{{ file.id }}" rel="{{ file.uuid }}" title="{{ file.title }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_mp4.png' class='file_icon_sm' border='0' />&nbsp;
                                <span class="file_title">{{ file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                            {% endifequal %}
                        {% endifequal %}
                    {% endfor %}
                    {% endwith %}
                    </ul>
                {% else %}
                    <p><br /><br /><br /><br />Sign up or log in to access your files.</p>
                {% endifnotequal %}
                </div>
                <div id="shared_files">
                    <ul>
                    {% with shared_files as shared_files_list %}
                    {% for o in shared_files_list %}
                        {% if o.file.page_count %}
                        <li>
                            <a href="{% if o.file.filename %}{{ o.file.get_download_url }}{% else %}#{% endif %}" class="file_dropdown" target="_blank"></a>
                            <div class="btn_file shared{% ifnotequal host.username user.username %} guest{% endifnotequal %}{% ifequal o.file.user user %} owner{% endifequal %}" name="{{ o.file.id }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_{{ o.file.source_type }}.png' class='file_icon_sm' border='0' />&nbsp;
                                <span class="file_title">{{ o.file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                        {% else %}
                            {% ifequal o.file.current_type "mp3" %}
                        <li>
                            <a href="{% if o.file.filename %}{{ o.file.get_download_url }}{% else %}#{% endif %}" class="video_dropdown"></a>
                            <div class="btn_video shared{% ifnotequal host.username user.username %} guest{% endifnotequal %}{% ifequal o.file.user user %} owner{% endifequal %}" name="{{ o.file.id }}" rel="{{ o.file.uuid }}.mp3" title="{{ o.file.title }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_mp3.png' class='file_icon_sm' border='0' />&nbsp;
                                <span class="file_title">{{ o.file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                            {% else %}
                        <li>
                            <a href="{% if o.file.filename %}{{ o.file.get_download_url }}{% else %}#{% endif %}" class="video_dropdown"></a>
                            <div class="btn_video shared{% ifnotequal host.username user.username %} guest{% endifnotequal %}{% ifequal o.file.user user %} owner{% endifequal %}" name="{{ o.file.id }}" rel="{{ o.file.uuid }}" title="{{ o.file.title }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_mp4.png' class='file_icon_sm' border='0' />&nbsp;
                                <span class="file_title">{{ o.file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                            {% endifequal %}
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                    </ul>
                </div>
            </div><!-- end #conf_wrapper -->
            
            <ul class="tabs_sm" id="lower_tabs_conf">
                <li><a href="#">viewers</a></li>
                <li><a href="#">group chat</a></li>
            </ul>
            <div id="viewers_list">
                <div id="viewers_panel">
                    <ul></ul>
                </div>
                <div id="groupchat_panel"></div>
            </div>
            
            <div id="smod_player">
                {# <embed src="{{ MEDIA_URL }}swf/$(".btn_video").removeClass("playing");_js.swf" bgcolor="#ffffff" width="100%" height="100%" name="doc_player_js" id="doc_player_js" align="middle" play="true" loop="false" quality="high" allowScriptAccess="sameDomain"    type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer"/> #}
            </div>
        </div>
        
        <ul class="actions_tip" id="fileactions_tip">
            <li class="file_play"><a href="#">Play This File</a></li>
            {# <li class="file_copy"><a href="#">Copy Link to Clipboard</a></li> #}
            <li class="file_share"><a href="#">Add to Shared Files</a></li>
            <li class="file_saving"><a href="#">Saving...</a></li>
            <li class="file_unshare"><a href="#">Remove Shared File</a></li>
            <li class="file_download"><a href="#">Download File</a></li>
        </ul>
        
        <ul class="actions_tip" id="useractions_tip">
            <li class="user_chat"><a href="#">Start Private Chat</a></li>
            {% ifequal host.username user.username %}
            <li class="user_cam"><a href="#">Assign to Video Seat</a></li>
            <li class="user_host"><a href="#">Make User Host</a></li>
            <li class="user_ban"><a href="#">Ban User</a></li>
            <li class="user_saving"><a href="#">Saving...</a></li>
            {% endifequal %}
        </ul>
        
        <div class="buttons_tip" id="tooltip_conf_t">&nbsp;</div>
        
        <div id="dialog" title="Private Chat with..." style="display:none;">
        	<p><br /><br /><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This is a draggable window where a private chat will appear.</p>
        </div>
        
        <div id="video_seats" title="" class="dialog" style="display:none;">
            <ul>
                <li><div class="vid_seat" id="vid_seat_none"><br />No video guests present.<br /><br /><a href="#" class="vid_seat_close" onclick="$('#video_seats').dialog('close');" style="color:#bbb;font-size:10px;font-style:italic;">close</a></div></li>
        	</ul>
        </div>
        
        <div id="wizard_panel" class="dialog" title="Setup Wizard">
        	<div id="wizard"></div>
        </div>
        
        <div class="modal" id="phone_notice"> 
            <h2 style="color:#111;">This conference is using a telephone bridge</h2> 
            <p style="font-size:14px;color:#111;margin: 10px 30px;"><strong>Dial In:</strong> {{ ccall_pin.dial_in_number }}{% ifequal host.username user.username %}<br /><strong>Host PIN:</strong> {{ ccall_pin.access_code }}<span style="color:#a00;font-size:26px;position:relative;top:7px;margin-left:4px;">*</span>{% endifequal %}<br /><strong>Guest PIN:</strong> {{ ccall_pin.access_code }}<span style="color:#a00;font-size:18px;margin-left:4px;">#</span></p>
            <p style="margin-top:20px;text-align:right;"><button class="close" id="showPhone"> Close </button> </p> 
        </div>
        
        <div class="modal" id="voip_notice"> 
            <h2 style="color:#111;">This conference is using computer microphones</h2> 
            <p style="font-size:14px;color:#111;margin: 10px 30px;"><img src="{{ MEDIA_URL }}img/home_icon_voip.png" width="44" height="64" border="0" style="float:left;margin-right:14px;" /><br /><br />We HIGHLY RECOMMEND the use of headphones/headsets.<br /><br />If you have no headset, please turn your speakers way down and make sure they are facing away from your microphone. This will cut down on echo problems.</p>
            <p style="margin-top:20px;text-align:right;"><button class="close" id="showVoip"> Close </button> </p> 
        </div>
        
        <div class="modal" id="noseat_host"> 
            <h2 style="color:#111;">No video seats open</h2> 
            <p style="font-size:14px;color:#111;margin: 10px 30px;">All video seats available to your account are currently occupied.</p>
            <p style="margin-top:20px;text-align:right;"><button class="close" id="showVoip"> Close </button> </p> 
        </div>
        
        <div class="modal" id="noseat_guest"> 
            <h2 style="color:#111;">No video seats open</h2> 
            <p style="font-size:14px;color:#111;margin: 10px 30px;">All video seats for this conference are currently occupied.</p>
            <p style="margin-top:20px;text-align:right;"><button class="close" id="showVoip"> Close </button> </p> 
        </div>
        
        <div id="call_options_host" title="Telephone Bridge Line Commands (HOST)" style="display:none;">
        	<p><img src="{{ MEDIA_URL }}img/call_options_host.png" alt="Call Options - Host" border="0" /></p>
        </div>
        
        <div id="call_options_guest" title="Telephone Bridge Line Commands (GUEST)" style="display:none;">
        	<p><img src="{{ MEDIA_URL }}img/call_options_guest.png" alt="Call Options - Guest" border="0" /></p>
        </div>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.conf.min.js"></script>
		{# <script type="text/javascript" src="{{ MEDIA_URL }}js/screenshare.js"></script> #}
		{# <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jScrollPane.js"></script> #}
		{# <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.mousewheel.js"></script> #}
		<script type="text/javascript">
		
        if (navigator.appName.indexOf("Microsoft") != -1) {
            document.write('<OBJECT ',
                           'classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"',
                           'id="VHScreenShare"',
                           'width="1"',
                           'height="1">',
                           '<PARAM NAME="archive" VALUE="{{ MEDIA_URL }}jar/VHScreenShare.jar">',
                           '<PARAM name="code" value="CScreenShareStarter.class">',
                           '</OBJECT>');  
        }else{
            document.write('<applet code="CScreenShareStarter.class"',
                        'name="VHScreenShare"',
                        'archive="{{ MEDIA_URL }}jar/VHScreenShare.jar"',
                           'width="1"',
                           'height="1"',
                           'type="application/x-java-applet;version=1.5.0">');    
        }

        var drec;

        var screenWidth = screen.availWidth - 10;
        var screenHeight = screen.availHeight + 20;
        
        // var screenWidth = 1200;
        // var screenHeight = 900;

     	if((screenWidth < 1300) || (screenHeight < 1050)){
     	    var is_large = true;
     	}

        var rec = "5,5,"+screenWidth+","+screenHeight;
        // var rec = "5,5,1200,900";
     	var capturing = false;

     	// initial rectangle
     	var rx1 = 10;
     	// var rx2 = rx1 + screenWidth;
     	var rx2 = screenWidth - rx1;
             var ry1 =  15;
     	// var ry2	= ry1 + screenHeight;
             var ry2 = screenHeight + ry1;
     	var mpad = 60;

     	var scrw = 0;
     	var scrh = 0;
     	var conn = "";
     	var si = setInterval  ( "getDesktopRectangle()", 500 );

     	// gets desktop rectangle
     	function getDesktopRectangle(){
     	 	if(drec == undefined){
     			// make sure VHScreenShare.jar is loaded before accessing it or else there will be a javascript error...
     			try{
     				drec = thisMovie("VHScreenShare").get_desktoprect().split(",");
     				scrw = parseInt(drec[2]); // get max screen width
     				scrh = parseInt(drec[3]); // get max screen height
     				clearInterval(si); // clear interval
     			}catch(err){

     			}
     		}		
     	}

     	function doAlert(s) {
     	   alert(s);
     	}

     	function startJScrCap(arg) {
     		// arg = rtmp+ stream name from flash	
     		conn = arg;
     		if(is_large){
     		    var fps = "1000";
     		    var encode_bits = "3";
     		} else {
     		    var fps = "500";
     		    var encode_bits = "4";
     		}
     		
     		var arg1 = arg + ",";    
            arg1 += fps+ ","; // frame per second
    		arg1 += "3000" + ","; // keyframe interval
    		arg1 += "300000" + ","; // bits per second
    		arg1 += "1500" + ","; // maximum delay
    		arg1 += "svc1,2,2,9,1500,"+encode_bits; // encoding profile

     		if(rec == undefined)
     			rec = drec;
     			
            thisMovie("VHScreenShare").update_frame("1,5,9054090,9054090,"+screenWidth+"x"+screenHeight+","+screenWidth+"x"+screenHeight, rec);
     	    thisMovie("VHScreenShare").start_streaming(arg1, rec);
     	}

     	function stopJScrCap()  {
     	        thisMovie("VHScreenShare").update_frame("0,4,9054090,9054090,"+screenWidth+"x"+screenHeight+","+screenWidth+"x"+screenHeight, rec);
     	        thisMovie("VHScreenShare").stop_streaming();
     	}

     	function moveJScrCap(arg1) {
     		thisMovie("VHScreenShare").move_area(arg1);
     	    rec = arg1;
     	}

     	function thisMovie(movieName) {
     	    if (navigator.appName.indexOf("Microsoft") != -1) {
     	        return window[movieName];
     	    } else {
     	        return document[movieName];
     	    }
     	}

     	function JScrCap_Event(operation, code, desc) {
     	    var player = document.getElementById('smod_player').getElementsByTagName('object')[0];
     		try{
     		    player.vhLogCallback(operation, code, desc);
     		} catch(err){

     		}
     		if(operation == 'frame_bounds'){
     			moveJScrCap(code);
     		}
     	}
     	
     	function showCamMicWizard(){
    		$('#wizard_panel').dialog('open');
    	}
    	
    	function hideCamMicWizard(){
    		$('#wizard_panel').dialog('close');
    	}
    	
    	function sharedFilesUpdated(){
    	    $("#shared_files ul").empty().load("{% url get_shared_files urlhash %}", function(){
            $("#shared_files ul").find(".file_dropdown").tooltip({ 
                tip: '#fileactions_tip', 
                position: 'bottom right', 
                opacity: 1, offset: [0, -12], 
                predelay: 400,
                delay: 400,
                events: { a: "click, mouseout", tooltip: "mouseover, blur mouseout"}, 
                onBeforeShow: function() {
                    var mytrig = this.getTrigger();
                    mytrig.addClass("file_dropdown_show");
                    mytrig.parent().addClass("select");
                    var id = mytrig.next().attr("name");
                    var is_shared = mytrig.next();
                    var dl = mytrig.attr("href");
                    $(".file_download").attr("rel", dl);
                    if(is_shared.hasClass("shared")){
                        $(".file_share").hide();
                        $(".file_unshare").show();
                    } else {
                        $(".file_unshare").hide();
                        $(".file_share").show();
                    }
                    if(is_shared.hasClass("guest")){
                        $(".file_play").hide();
                        if(is_shared.hasClass("owner")){
                            $(".file_unshare").show();
                        } else {
                            $(".file_unshare").hide();
                        }
                    } else {
                        $(".file_play").show();
                    }
                    $(".file_play a").attr("rel", id);
                    },
                onHide: function() {
                    $(".file_dropdown").removeClass("file_dropdown_show");
                    $(".video_dropdown").removeClass("file_dropdown_show");
                    $("#file_list div ul li").removeClass("select");
                    $(".file_download").removeAttr("rel");
                }
            });
            
            $("#shared_files ul").find(".video_dropdown").tooltip({ 
                tip: '#fileactions_tip', 
                position: 'bottom right', 
                opacity: 1, offset: [0, -12], 
                predelay: 400,
                delay: 400,
                events: { a: "click mouseover, mouseout", tooltip: "mouseover, blur mouseout"}, 
                onBeforeShow: function() {
                    var mytrig = this.getTrigger();
                    mytrig.addClass("file_dropdown_show");
                    mytrig.parent().addClass("select");
                    var id = $(mytrig).next().attr("name");
                    var mytitle = $(mytrig).next().attr("rel");
                    var dl = $(mytrig).attr("href");
                    $(".file_download").attr("rel", dl);
                    var is_shared = mytrig.next();
                    if(is_shared.hasClass("shared")){
                        $(".file_share").hide();
                        $(".file_unshare").show();
                    } else {
                        $(".file_unshare").hide();
                        $(".file_share").show();
                    }
                    if(is_shared.hasClass("guest")){
                        $(".file_play").hide();
                    } else {
                        $(".file_play").show();
                    }
                    $(".file_play a").attr("rel", id);
                    $(".file_play a").attr("title", mytitle);
                    },
                    onHide: function() {
                        $(".video_dropdown").removeClass("file_dropdown_show");
                        $(".file_dropdown").removeClass("file_dropdown_show");
                        $("#file_list div ul li").removeClass("select");
                        $(".file_play a").removeAttr("rel");
                        $(".file_play a").removeAttr("title");
                        $(".file_download").removeAttr("rel");
                    }
                });
            
            });
    	}
    	
    	function createUserList(arr){
    	    $("#viewers_panel ul li").removeClass("active_user");
            jQuery.each(arr, function(i, val) {
                var exists = $("#viewers_panel ul li#"+val.name).length;
                if((exists == 0) && (val.name != "{{ screen_name }}")){
                    $("#viewers_panel ul").append("<li id='"+val.name+"' class='active_user' rel='"+val.gid+"'><div class='btn_user'><a href='#' class='user_dropdown'></a><img src='{{ MEDIA_URL }}img/silk/user.png' class='file_icon_sm' border='0' />&nbsp; <span class='file_title' rel='"+val.gid+"'>"+val.name+"</span></div><div class='viewer_actions'><div class='user_chat'><a href='#' rel='"+val.gid+"' title='"+val.name+"'>Start Private Chat</a></div>{% ifequal host.username user.username %}<div class='user_cam'><a href='#' class='user_cam_link'>Assign to Video Seat</a></div><div class='user_host'><a href='#'>Make User Host</a></div><div class='user_ban'><a href='#'>Ban User</a></div>{% endifequal %}</div></li>");
                    $("#tooltip_conf_t").after('<div id="dialog_'+val.name+'" class="dialog" title="Private Chat with '+val.name+'" style="padding:0;"><div class="privatechat"><object data="/site_media/swf/groupchat.swf" type="application/x-shockwave-flash" height="200" width="290"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="quality" value="high"><param name="cachebusting" value="false"><param name="wmode" value="opaque"><param name="flashvars" value="oid={{ host.username }}&cid={{ urlhash }}&sender={{ screen_name }}&receiver='+val.name+'&gid={{ gid }}"></object></div></div>');
                    $("#dialog_"+val.name).dialog({
                        autoOpen: false,
                        resizable: false,
                        width: 300,
                        height: 230                
                    });
                } else if(exists != 0){
                    $(this).addClass("active_user");
                }
            });
            $("#viewers_panel ul li").each(function(i){
                if(($(this).hasClass("active_user") == 0)){
                    $(this).remove();
                } 
            });
    	}
    	
        function createUser(username, gid){
            if(username == ""){
                        var rand = Math.ceil(10000*Math.random())
                username = "User"+rand;
            }
            $("#viewers_panel ul").append("<li id='"+username+"' rel='"+gid+"'><div class='btn_user'><a href='#' class='user_dropdown'></a><img src='{{ MEDIA_URL }}img/silk/user.png' class='file_icon_sm' border='0' />&nbsp; <span class='file_title' rel='"+gid+"'>"+username+"</span></div><div class='viewer_actions'><div class='user_chat'><a href='#' rel='"+gid+"' title='"+username+"'>Start Private Chat</a></div>{% ifequal host.username user.username %}<div class='user_cam'><a href='#' class='user_cam_link'>Assign to Video Seat</a></div><div class='user_host'><a href='#'>Make User Host</a></div><div class='user_ban'><a href='#'>Ban User</a></div>{% endifequal %}</div></li>");
            $("#tooltip_conf_t").after('<div id="dialog_'+username+'" class="dialog" title="Private Chat with '+username+'" style="padding:0;"><div class="privatechat"></div></div>');
            
            var mydiv = $("div#dialog_"+username+" div");
            
            $(mydiv).each(function() {
				flashembed(this, {
					src: "{{ MEDIA_URL }}swf/groupchat.swf",
					version: [10, 0],
					wmode: 'opaque'
				}, {
					oid: '{{ host.username }}',
		            sender: '{{ screen_name }}',
		            receiver: username,
		            gid: '{{ gid }}'
				});
            });
            
            $("#dialog_"+username).dialog({
                autoOpen: false,
                resizable: false,
                width: 300,
                height: 230                
            });
            
            // $("li#"+username).tooltip({ 
            //     tip: '#useractions_tip', 
            //     position: 'bottom right', 
            //     opacity: 1, offset: [0, -12], 
            //     predelay: 400,
            //     delay: 400,
            //     events: { a: "click, mouseout", tooltip: "focus mouseover, blur mouseout"}, 
            //     onBeforeShow: function() {
            //         var mytrig = this.getTrigger();
            //         mytrig.addClass("file_dropdown_show");
            //         mytrig.parent().addClass("select");
            //         var username = $(mytrig).next().children(".file_title:first").text();
            //         var gid = $(mytrig).next().children(".file_title:first").attr("rel");
            //         $(".user_chat a").attr("title", username).attr("rel", gid);
            //         },
            //     onHide: function() {
            //         $(".user_dropdown").removeClass("file_dropdown_show");
            //         $("#viewers_list div ul li").removeClass("select");
            //     }
            // });
                }
        
        function destroyUser(gid){
			$("#viewers_panel ul li").each(function(){
				var myrel = $(this).attr("rel");
				if(myrel == gid){
					$(this).remove();
				}
			});
        }
        
        function destroySeat(username) {
            var seatLi = $("#vs_"+username);
            seatLi.fadeOut("slow", function(){
                seatLi.remove();
                var seatNum = $("#video_seats div").length;
                if(seatNum <= 1){
                    $("#vid_seat_none").fadeIn();
                    $("#video_seats").dialog('close');
                }
                if(username == "{{ screen_name }}"){
                    $("#startGuestCam").text("Broadcast My Webcam")
                }
            });
        }
        
        function createSeat(username, camid, gid) {
            var is_present = $("#vs_"+username).is("li");
            if (is_present){
                return false;
            } else {
                $("#video_seats").dialog('open');
                $("#vid_seat_none").hide();
                $("#video_seats ul").append("<li id='vs_"+username+"'><div class='vid_seat'></div></li>");
				var mydiv = $("li#vs_"+username+" div");
				$(mydiv).each(function() {
					flashembed(this, {
						src: "{{ MEDIA_URL }}swf/seatsav.swf",
						version: [10, 0],
						wmode: 'opaque'
					}, {
						oid: '{{ host.username }}',
			            uid: '{{ screen_name }}',
			            cid: '{{ urlhash }}',
						camid: camid,
			            gid: '{{ gid }}'
					});
                });
					
                if(username == "{{ screen_name }}"){
                    $("#startGuestCam").text("Stop Webcam Broadcast");
                }
            }
        }
        
        function changeHost(username) {
            if(username == "{{ screen_name }}"){
                $(".btn_file").removeClass("guest");
                $(".btn_video").removeClass("guest");
                $("#host_name_remote").hide();
                $("#host_name_orig").show();
               //  if (navigator.appName.indexOf("Microsoft") != -1) {
               //  $("body").append('<OBJECT ',
               //                 'classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"',
               //                 'id="VHScreenShare"',
               //                 'width="1"',
               //                 'height="1">',
               //                 '<PARAM NAME="archive" VALUE="{{ MEDIA_URL }}jar/VHScreenShare.jar">',
               //                 '<PARAM name="code" value="CScreenShareStarter.class">',
               //                 '</OBJECT>');  
               //  }else{
               // $("body").append('<applet code="CScreenShareStarter.class"',
               //              'name="VHScreenShare"',
               //              'archive="{{ MEDIA_URL }}jar/VHScreenShare.jar"',
               //                 'width="1"',
               //                 'height="1"',
               //                 'type="application/x-java-applet;version=1.5.0">');    
               //  }
            } else {
                $(".btn_file").addClass("guest");
                $(".btn_video").addClass("guest");
                $("#host_name_orig").hide();
                $("#host_name_remote").text(username).show();
            }
        }
        
        function popupMessage(sender,message,receiver){
            if(receiver == "{{ screen_name }}"){
                $("#dialog_"+sender).dialog('open');
            }
        }
        
        function showPhoneBridge(){
            $("#head_bridge_number").show();
            $("#startGoPhone").hide();
            $("#startGoVoip").show();
            $(".phoneCommands").show();
            $("#phone_notice").overlay({
                expose: { 
                    color: '#090909', 
                    loadSpeed: 200, 
                    opacity: 0.9,
                    closeOnClick: false
                },
                closeOnClick: false 
            }).load();
        }
        
        function hidePhoneBridge(){
            $("#head_bridge_number").hide();
            $("#startGoVoip").hide();
            $("#startGoPhone").show();
            $(".phoneCommands").hide();
            $("#voip_notice").overlay({
                expose: { 
                    color: '#090909', 
                    loadSpeed: 200, 
                    opacity: 0.9,
                    closeOnClick: false
                },
                closeOnClick: false 
            }).load();
        }
        
        function noSeatForHost(){
            $("#noseat_host").overlay({
                expose: { 
                    color: '#090909', 
                    loadSpeed: 200, 
                    opacity: 0.9
                },
                closeOnClick: false 
            }).load();
        }
        
        function noSeatAvailable(){
            $("#noseat_guest").overlay({
                expose: { 
                    color: '#090909', 
                    loadSpeed: 200, 
                    opacity: 0.9
                },
                closeOnClick: false 
            }).load();
        }
        
        function ejectUser(){
            window.location.href = "http://netconference.com";
            window.close();
        }
        
        function mutedAll(){
            $("#startMuteAll").hide();
            $("#startUnMuteAll").show();
        }
        
        function unmutedAll(){
            $("#startUnMuteAll").hide();
            $("#startMuteAll").show();
        }
		
        flashembed("smod_player", {
            src: "{{ MEDIA_URL }}swf/smod_player_js.swf",
            version: [10, 0],
            wmode: 'opaque',
            expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
        }, {
            oid: '{{ host.username }}',
            uid: '{{ screen_name }}',
            cid: '{{ urlhash }}',
            gid: '{{ gid }}'
        });
        
        flashembed("host_chat", {
            src: "{{ MEDIA_URL }}swf/hostav.swf",
            version: [9, 0],
            wmode: 'window',
            expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
        }, {
            oid: '{{ host.username }}',
            uid: '{{ screen_name }}',
            cid: '{{ urlhash }}',
            gid: '{{ gid }}'
        });
        
        flashembed("wizard", {
            src: "{{ MEDIA_URL }}swf/miccamwizard.swf",
            version: [9, 0],
            wmode: 'opaque',
            expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf",
            gid: '{{ gid }}'
        });
        
        $("ul#upper_tabs_conf").tabs("div#file_list > div");
        
        $("ul#lower_tabs_conf").tabs("div#viewers_list > div", function(event, index){
            if(index == 0){
                $("#groupchat_panel").show(function(){
                    $(this).height(0);
                    $("#viewers_panel").show();
                });
                $("#lower_tabs_conf li a:eq(1)").removeClass("current");
                $("#lower_tabs_conf li a:eq(0)").addClass("current");
                return false;
            }
            if(index == 1){
                $("#viewers_panel").hide();
                var vh = $("#viewers_list").height()
                $("#groupchat_panel").height(vh);
                $("#lower_tabs_conf li a:eq(0)").removeClass("current");
                $("#lower_tabs_conf li a:eq(1)").addClass("current");
                return false;
            }
        });
        
        $(document).ready(function() {
            
            if(window.screen){
                window.resizeTo(screen.availWidth, screen.availHeight);
            }
            
            // $('#my_files ul').jScrollPane();
            
            // function createUser(username){
            //     alert(username);
            //     $("#viewers_panel ul").append("<li id='"+username+"'><a href='#' class='user_dropdown'></a><div class='btn_user'><img src='{{ MEDIA_URL }}img/silk/user.png' class='file_icon_sm' border='0' />&nbsp; <span class='file_title'>"+username+"</span></div></li>");
            // }
            // 
            // function destroyUser(username){
            //     alert(username);
            //     $("li#"+username).remove();
            // }
            
            flashembed("groupchat_panel", {
                src: "{{ MEDIA_URL }}swf/groupchat.swf",
                version: [9, 0],
                wmode: 'opaque',
                expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
            }, {
                oid: '{{ host.username }}',
                sender: '{{ screen_name }}',
                gid: '{{ gid }}'
            });
        
            $('#my_files ul li').quicksearch({
              position: 'prepend',
              attached: '#my_files',
              loaderText: '',
              labelText: '',
              inputText: 'Quick Search',
              delay: 100
            });
            
            $('#shared_files ul li').quicksearch({
              position: 'prepend',
              attached: '#shared_files',
              loaderText: '',
              labelText: '',
              inputText: 'Quick Search',
              delay: 100
            });
            
            $('#viewers_panel ul li').quicksearch({
              position: 'prepend',
              attached: '#viewers_panel',
              loaderText: '',
              labelText: '',
              inputText: 'Quick Search',
              delay: 100
            });
            
            $(".btn_close").live("click", function(){
                $(this).prev().val("Quick Search");
                $(this).parent().next().children().show();
                return false;
            });
        
            $(".btn_file").click(function(){
                if($(this).hasClass("guest")){
                    return false;
                } else {
                    var id = $(this).attr("name");
                    var player = document.getElementById('smod_player').getElementsByTagName('object')[0];
                    player.chdocid(id);
                    $(".btn_file").parent().removeClass("playing");
                    $(".btn_video").parent().removeClass("playing");
                    $(this).parent().addClass("playing");
                }
            });
        
            $(".btn_video").click(function(){
                if($(this).hasClass("guest")){
                    return false;
                } else {
                    var sid = $(this).attr("rel");
                    var sname = $(this).attr("title");
                    var player = document.getElementById('smod_player').getElementsByTagName('object')[0];
                    player.chvideo(sid,sname);
                    $(".btn_file").parent().removeClass("playing");
                    $(".btn_video").parent().removeClass("playing");
                    $(this).parent().addClass("playing");
                }
            });
            
            // $("a.file_dropdown").click(function(){
            //     $(this).addClass("file_dropdown_show");
            //     var api = $(this).tooltip({ tip: '#fileactions_tip', position: 'bottom right', opacity: 1, offset: [0, -12], api: true, events: { a: "click", tooltip: "mouseover, blur mouseout"} });
            //     api.onBeforeShow(function(){
            //         $(".file_dropdown").unbind("mouseout"); 
            //         // console.log("beforeshow");
            //     });
            //     api.show();
            //     api.onBeforeHide(function(){
            //        $(".file_dropdown").unbind("mouseover"); 
            //        $(".file_dropdown").removeClass("file_dropdown_show");
            //     });
            //     return false;
            // });
            
            $(".file_dropdown").tooltip({ 
                tip: '#fileactions_tip', 
                position: 'bottom right', 
                opacity: 1, offset: [0, -12], 
                predelay: 400,
                delay: 400,
                events: { a: "click, mouseout", tooltip: "mouseover, blur mouseout"}, 
                onBeforeShow: function() {
                    var mytrig = this.getTrigger();
                    mytrig.addClass("file_dropdown_show");
                    mytrig.parent().addClass("select");
                    var id = mytrig.next().attr("name");
                    var is_shared = mytrig.next();
                    var dl = mytrig.attr("href");
                    $(".file_download").attr("rel", dl);
                    if(is_shared.hasClass("shared")){
                        $(".file_share").hide();
                        $(".file_unshare").show();
                    } else {
                        $(".file_unshare").hide();
                        $(".file_share").show();
                    }
                    if(is_shared.hasClass("guest")){
                        $(".file_play").hide();
                        if(is_shared.hasClass("owner")){
                            $(".file_unshare").show();
                        } else {
                            $(".file_unshare").hide();
                        }
                    } else {
                        $(".file_play").show();
                    }
                    $(".file_play a").attr("rel", id);
                    },
                onHide: function() {
                    $(".file_dropdown").removeClass("file_dropdown_show");
                    $(".video_dropdown").removeClass("file_dropdown_show");
                    $("#file_list div ul li").removeClass("select");
                    $(".file_download").removeAttr("rel");
                }
            });

            $(".video_dropdown").tooltip({ 
                tip: '#fileactions_tip', 
                position: 'bottom right', 
                opacity: 1, offset: [0, -12], 
                predelay: 400,
                delay: 400,
                events: { a: "click mouseover, mouseout", tooltip: "mouseover, blur mouseout"}, 
                onBeforeShow: function() {
                    var mytrig = this.getTrigger();
                    mytrig.addClass("file_dropdown_show");
                    mytrig.parent().addClass("select");
                    var id = $(mytrig).next().attr("name");
                    var mytitle = $(mytrig).next().attr("rel");
                    var dl = $(mytrig).attr("href");
                    $(".file_download").attr("rel", dl);
                    var is_shared = mytrig.next();
                    if(is_shared.hasClass("shared")){
                        $(".file_share").hide();
                        $(".file_unshare").show();
                    } else {
                        $(".file_unshare").hide();
                        $(".file_share").show();
                    }
                    if(is_shared.hasClass("guest")){
                        $(".file_play").hide();
                    } else {
                        $(".file_play").show();
                    }
                    $(".file_play a").attr("rel", id);
                    $(".file_play a").attr("title", mytitle);
                },
                onHide: function() {
                    $(".video_dropdown").removeClass("file_dropdown_show");
                    $(".file_dropdown").removeClass("file_dropdown_show");
                    $("#file_list div ul li").removeClass("select");
                    $(".file_play a").removeAttr("rel");
                    $(".file_play a").removeAttr("title");
                    $(".file_download").removeAttr("rel");
                }
            });
            
            // $("#viewers_panel ul").live("mouseover", function(){
            //     $(".user_dropdown").tooltip({ 
            //         tip: '#useractions_tip', 
            //         position: 'bottom right', 
            //         opacity: 1, offset: [0, -12], 
            //         predelay: 400,
            //         delay: 400,
            //         events: { a: "click mouseover, mouseout", tooltip: "mouseover, blur mouseout"}, 
            //         onBeforeShow: function() {
            //             var mytrig = this.getTrigger();
            //             mytrig.addClass("file_dropdown_show");
            //             mytrig.parent().addClass("select");
            //             var username = $(mytrig).next().children(".file_title:first").text();
            //             var gid = $(mytrig).next().children(".file_title:first").attr("rel");
            //             $(".user_chat a").attr("title", username).attr("rel", gid);
            //             },
            //         onHide: function() {
            //             $(".user_dropdown").removeClass("file_dropdown_show");
            //             $("#viewers_list div ul li").removeClass("select");
            //         }
            //     });
            // });
            
            $(".btn_user").live("click", function(){
                $(this).parent().toggleClass("select");
                $(this).children(".user_dropdown").toggleClass("user_dropdown_show");
                $(this).next(".viewer_actions").slideToggle();
            });
            
            // var file_api = $(".file_dropdown").tooltip({ 
            //     tip: '#fileactions_tip', 
            //     position: 'bottom right', 
            //     opacity: 1, offset: [0, -12], 
            //     predelay: 400,
            //     delay: 400,
            //     events: { a: "click, mouseout", tooltip: "mouseover, blur mouseout"}, 
            //     onBeforeShow: function() {
            //         var mytrig = this.getTrigger();
            //         mytrig.addClass("file_dropdown_show");
            //         mytrig.parent().addClass("select");
            //         var id = mytrig.next().attr("name");
            //         var is_shared = mytrig.next();
            //         var dl = mytrig.attr("href");
            //         $(".file_download").attr("rel", dl);
            //         if(is_shared.hasClass("shared")){
            //             $(".file_share").hide();
            //             $(".file_unshare").show();
            //         } else {
            //             $(".file_unshare").hide();
            //             $(".file_share").show();
            //         }
            //         if(is_shared.hasClass("guest")){
            //             $(".file_play").hide();
            //             if(is_shared.hasClass("owner")){
            //                 $(".file_unshare").show();
            //             } else {
            //                 $(".file_unshare").hide();
            //             }
            //         } else {
            //             $(".file_play").show();
            //         }
            //         $(".file_play a").attr("rel", id);
            //         },
            //     onHide: function() {
            //         $(".file_dropdown").removeClass("file_dropdown_show");
            //         $(".video_dropdown").removeClass("file_dropdown_show");
            //         $("#file_list div ul li").removeClass("select");
            //         $(".file_download").removeAttr("rel");
            //     }
            // });
            // 
            // var video_api = $(".video_dropdown").tooltip({ 
            //     tip: '#fileactions_tip', 
            //     position: 'bottom right', 
            //     opacity: 1, offset: [0, -12], 
            //     predelay: 400,
            //     delay: 400,
            //     events: { a: "click mouseover, mouseout", tooltip: "mouseover, blur mouseout"}, 
            //     onBeforeShow: function() {
            //         var mytrig = this.getTrigger();
            //         mytrig.addClass("file_dropdown_show");
            //         mytrig.parent().addClass("select");
            //         var id = $(mytrig).next().attr("name");
            //         var mytitle = $(mytrig).next().attr("rel");
            //         var dl = $(mytrig).attr("href");
            //         $(".file_download").attr("rel", dl);
            //         var is_shared = mytrig.next();
            //         if(is_shared.hasClass("shared")){
            //             $(".file_share").hide();
            //             $(".file_unshare").show();
            //         } else {
            //             $(".file_unshare").hide();
            //             $(".file_share").show();
            //         }
            //         if(is_shared.hasClass("guest")){
            //             $(".file_play").hide();
            //         } else {
            //             $(".file_play").show();
            //         }
            //         $(".file_play a").attr("rel", id);
            //         $(".file_play a").attr("title", mytitle);
            //     },
            //     onHide: function() {
            //         $(".video_dropdown").removeClass("file_dropdown_show");
            //         $(".file_dropdown").removeClass("file_dropdown_show");
            //         $("#file_list div ul li").removeClass("select");
            //         $(".file_play a").removeAttr("rel");
            //         $(".file_play a").removeAttr("title");
            //         $(".file_download").removeAttr("rel");
            //     }
            // });
            // 
            // $(".file_dropdown").live("mouseover", function(){
            //     file_api.show();
            // });
            // 
            // $(".video_dropdown").live("mouseover", function(){
            //     video_api.show();
            // });
            // 
            // $(".file_dropdown").live("mouseout", function(){
            //     file_api.hide();
            // });
            // 
            // $(".video_dropdown").live("mouseout", function(){
            //     video_api.hide();
            // });
            
            $(".file_play a").live("click", function(){
                var sid = $(this).attr("rel");
                var stitle = $(this).attr("title");
                if(stitle != ""){
                    var player = document.getElementById('smod_player').getElementsByTagName('object')[0];
                    player.chvideo(sid,stitle);
                } else {
                    var player = document.getElementById('smod_player').getElementsByTagName('object')[0];
                    player.chdocid(sid);
                }
                $(".btn_file").removeClass("playing");
                $(".btn_video").removeClass("playing");
                $(this).parent().addClass("playing");
                return false;
            });
            
            $(".file_copy a").live("click", function(){
                alert("The click-to-copy feature doesn't work yet. But it will sooooon!");
            });
            
            $(".file_download a").live("click", function(){
                {% if user.is_authenticated %}
                var dl = $(this).parent().attr("rel");
                window.location = dl;
                {% else %}
                alert("You must be logged in to download files.");
                {% endif %}
                return false;
            });
            
            $(".file_share a").live("click", function(){
                $(this).parent().hide();
                $(".file_saving").show();
                var sid = $(".file_play a").attr("rel");
                var stitle = $(".file_play a").attr("title");
                $.post("{% url make_shared_file %}", { file_id: sid, conference: "{% ifequal conference "quickconference" %}{{ urlhash }}{% else %}{{ urlhash }}{% endifequal %}" },
                    function(data){
                       if(data == "ok"){
                            $(".file_saving").hide();
                            $(".file_unshare").show();
                            $(".file_dropdown_show").addClass("shared");
                            var player = document.getElementById('host_chat').getElementsByTagName('object')[0];
                            player.sharedFilesUpdate();
                        } else {
                            alert("Something went wrong. Please reload this page.");
                            $(".file_saving").hide();
                            $(".file_share").show();
                        }
                    });
                return false;
            });
            
            $(".file_unshare a").live("click", function(){
                $(this).parent().hide();
                $(".file_saving").show();
                var sid = $(".file_play a").attr("rel");
                var stitle = $(".file_play a").attr("title");
                $.post("{% url remove_shared_file %}", { file_id: sid, conference: "{% ifequal conference "quickconference" %}0{% else %}{{ urlhash }}{% endifequal %}" },
                    function(data){
                        if(data == "ok"){
                            $(".file_saving").hide();
                            $(".file_share").show();
                            $(".file_dropdown_show").removeClass("shared");
                            var player = document.getElementById('host_chat').getElementsByTagName('object')[0];
                            player.sharedFilesUpdate();
                            $("#my_files div[name='"+sid+"']").removeClass("shared").prev().removeClass("shared");
                        } else {
                            alert("Something went wrong. Please refresh the page.");
                            $(".file_saving").hide();
                            $(".file_unshare").show();
                        }
                    });
                return false;
            });
            
            $("#file_list").resizable({ handles: 's', minHeight: 50, maxHeight: 350, stop: function(event, ui) {
                    var doc_height = $("#smod_player").height();
                    var bh = $("#panel_actions").height();
                    var fh = $("#file_list").height();
                    var nh = ((doc_height - fh) - bh) - 214;
                    $("#viewers_list").height(nh);
                }
             });
             
            $("#viewers_list").resizable({ handles: 's', minHeight: 50 });
            // $("#viewers_list").resizable({ handles: 'n', containment: 'document' });
            
            var doc_height = $("#smod_player").height();
            var bh = $("#panel_actions").height();
            var fh = $("#file_list").height();
            var nh = ((doc_height - fh) - bh) - 214;
            $("#viewers_list").height(nh);
            
            $(window).resize(function(){
                var doc_height = $("#smod_player").height();
                var bh = $("#panel_actions").height();
                var fh = $("#file_list").height();
                var nh = ((doc_height - fh) - bh) - 214;
                $("#viewers_list").height(nh);
            });
            
            $(".user_host a").live("click", function(){
                var gid = $(this).parent().prev().prev().children("a").attr("rel");
                var player = document.getElementById('host_chat').getElementsByTagName('object')[0];
                player.setHost(gid)
                return false;
            });
            
            $(".user_cam_link").live("click", function(){
                var username = $(this).parent().prev().children("a").attr("title");
                var player = document.getElementById('host_chat').getElementsByTagName('object')[0];
                var gid1 = $(this).parent().prev().children("a").attr("rel");
                var gid = "g"+gid1;
                player.assignSeat(username, gid);
                return false;
            });
            
            $(".vid_seat_close").live("click", function(){
                var username = $(this).parent().prev(".user_chat a").attr("title");
                $("#video_seats").destroySeat(username);
                return false;
            });
            
            $(".user_ban a").live("click", function(){
                var gid = $(this).parent().prev().prev().prev().children("a").attr("rel");
                var player = document.getElementById('host_chat').getElementsByTagName('object')[0];
                player.banUser(gid);
                return false;
            });
            
            $(".user_chat a").live("click", function(){
                var username = $(this).attr("title");
                $("#dialog_"+username).dialog('open')
                return false;
            });

            $('#dialog').dialog({
                autoOpen: false,
                resizable: false
            });
            
            $('#wizard_panel').dialog({
                autoOpen: false,
                width: 425,
                height: 340,
                title: 'Webcam and Microphone Setup Wizard',
                resizable: false
            });
            
            $('#video_seats').dialog({
                autoOpen: false,
                height: 166,
                minHeight: 166,
                width: "auto",
                closeOnEscape: false,
                dialogClass: "vidseatbox",
                resizable: false
            });
            
            $('#call_options_host').dialog({
                autoOpen: false,
                width: 350,
                height: 210,
                title: 'Telephone Bridge Commands (HOST)',
                resizable: false
            });
            
            $('#call_options_guest').dialog({
                autoOpen: false,
                width: 300,
                height: 160,
                title: 'Telephone Bridge Commands (GUEST)',
                resizable: false
            });
            
            $("#phone_notice").overlay({
                expose: { 
                    color: '#090909', 
                    loadSpeed: 200, 
                    opacity: 0.9,
                    closeOnClick: false
                },
                closeOnClick: false 
            }).load();
            
            $("#voip_notice").overlay({
                expose: { 
                    color: '#090909', 
                    loadSpeed: 200, 
                    opacity: 0.9,
                    closeOnClick: false
                },
                closeOnClick: false
            }).load();
            
            $("#showPhone").click(function(){
                var player = document.getElementById('host_chat').getElementsByTagName('object')[0];
                player.callMode(true);
            });
            
            $("#showVoip").click(function(){
                var player = document.getElementById('host_chat').getElementsByTagName('object')[0];
                player.callMode(false);
            });

           var triggers = $(".modalInput").overlay({ 
               expose: { 
                   color: '#090909',  
                   loadSpeed: 200, 
                   opacity: 0.9,
                   closeOnClick: false
               },
               closeOnClick: false 
           });
            
            $("#startDS").live("click", function(){
                var player = document.getElementById('smod_player').getElementsByTagName('object')[0];
                player.scrshare();
                return false;
            });
            
            $("#startMainCam").live("click", function(){
                alert("The cam-to-stage feature doesn't work yet. But it will sooooon!");
                return false;
            });
            
            $("#startMuteAll").live("click", function(){
                var player = document.getElementById('host_chat').getElementsByTagName('object')[0];
                player.muteAudio(true);
                $(this).hide();
                $("#startUnMuteAll").show();
                return false;
            });
            
            $("#startUnMuteAll").live("click", function(){
                var player = document.getElementById('host_chat').getElementsByTagName('object')[0];
                player.muteAudio(false);
                $(this).hide();
                $("#startMuteAll").show();
                return false;
            });
            
            $("#startGoPhone").live("click", function(){
                // $("#head_bridge_number").show();
                var player = document.getElementById('host_chat').getElementsByTagName('object')[0];
                player.callMode(true);
                $(this).hide();
                $("#startGoVoip").show();
                return false;
            });
            
            $("#startGoVoip").live("click", function(){
                var player = document.getElementById('host_chat').getElementsByTagName('object')[0];
                player.callMode(false);
                // $("#head_bridge_number").hide();
                $(this).hide();
                $("#startGoPhone").show();
                return false;
            });
            
            $("#reqHost").live("click", function(){
                alert("The request-to-be-host feature doesn't work yet. But it will sooooon!");
                return false;
            });
            
            $("#startGuestCam").live("click", function(){
                // $(this).hide();
                var player = document.getElementById("host_chat").getElementsByTagName("object")[0];
                player.assignSeat("{{ screen_name }}","g{{ gid }}")
                return false;
            });
            
            $("#phoneCommandsHost").live("click", function(){
                $('#call_options_host').dialog('open');
                return false;
            });
            
            $("#phoneCommandsGuest").live("click", function(){
                $('#call_options_guest').dialog('open');
                return false;
            });
            
            $("#phoneCommandsGuest").live("click", function(){
                $('#call_options_guest').dialog({
                    // autoOpen: false,
                    width: 425,
                    height: 340,
                    title: 'Telephone Bridge Commands (HOST)',
                    resizable: false
                });
                return false;
            });
            
            $("#my_files ul").show();
        
        });

        </script>
    </body>
</html>
