{% extends "conferencing/conference_list.html" %}

{% load file_tags %}
{% load sort_tags %}
{% load extra_tagging_tags %}

{% block conference_title %}
    Recorded Conferences
{% endblock %}
{% block conferencetable %}
    
    <table class="items_list" width="870" cellspacing="0">
    	<tr class="items_list_def">
    		<td> Conference Title</td>
    		<td> Duration</td>
    		<td> on </td>
    		<td> View</td>
    	</tr>
    {% for rconf in object_list %}
    	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
    		<td class="items_list_title">
    		    <a href="{{rconf.get_absolute_url}}" class="listTitle">{{ rconf.title }}</a>
    		</td>
        	<td>{{ rconf.duration|vidtime }}</td>
        	<td>{{ rconf.start|date }}<br />{{ rconf.start|time }}</td>
        	<td><a href="{{ rconf.get_absolute_url }}" class="button caps">View</a></td>
        </tr>
    {% empty %}
    {% block events %}
        <h1 class="hdr_fancy prefix-1">No conferences are recorded.</h1><div class="hdr_fancy_bot">&nbsp;</div><br />
    {% endblock %}
    {% endfor %}
    
    </table>
    
{% endblock %}
    
