{% extends "conferencing/base.html" %}

{% load file_tags %}
{% load extra_tagging_tags %}
{% load timezone_filters %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Public Conferences (Upcoming){% endblocktrans %}{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    	    {% if user.is_authenticated %}
    	    <li><a href="{% url conferencing %}">{% trans "Dashboard" %}</a></li>
    		<li><a href="{% url my_conferences %}">{% trans "My Conferences" %}</a></li>
            {# <li class="current"><a href="{% url conferences_public %}">{% trans "Public Conferences" %}</a></li> #}
    		<li><a href="{% url conferencing_add %}">{% trans "Schedule a New Conference" %}</a></li>
    		{% else %}
            {# <li class="current"><a href="{% url conferences_public %}">{% trans "Public Conferences" %}</a></li> #}
    		{% endif %}
        </ul>
{% endblock %}

{% block body %}
    
    {% if not user.is_authenticated %}<h4 class="prefix-1">You are not <a href="{% url acct_login %}">logged in.</a> All conferences are listed in Pacific Standard Time (PST).</h4>{% endif %}
    
    {% if object_list %}
    
    <h1 class="items_list_top">
        <form id="list_search" method="get" action="/conferencing/public/search/">
    		<input type="text" id="list_search_input" class="list_search" name="q" value="search public conferences" />
    		<button type="submit" class="list_search_btn" id="list_search_btn">
    		    <img src="{{ MEDIA_URL }}img/btn_go_light.png" width="29" height="20" alt="search" title="search" />
    		</button>
    	</form>
    	{% if is_paginated %}
    	<span class="list_pagination">{% if page_obj.has_previous %}<a href="./?page={{ page_obj.previous_page_number }}">&laquo; prev</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="./?page={{ page_obj.next_page_number }}">next &raquo;</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}</span>
        {% endif %}
        {% trans "Public Conferences" %}</h1>
    
    <table class="items_list" width="870" cellspacing="0">
    	<tr class="items_list_def">
    		<td width="415">Conference Title</td>
    		<td width="20"></td>
    		<td width="45" style="text-align:center;">Status</td>
    		<td width="70">&nbsp;&nbsp;</td>
    		<td width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    		<td width="70" style="text-align:center;">Date</td>
    		<td width="100" style="text-align:center;">Moderator</td>
    		<td width="40"></td>
    		<td width="40"></td>
    	</tr>
    {% for conference in object_list %}
    	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
    		<td class="items_list_title">
    		    <a href="{{ conference.get_absolute_url }}" class="listTitle">{{ conference.title }}</a>
                {# {% show_tags_for conference %} #}
    		</td>
    		<td></td>
    		<td><img src="{{ MEDIA_URL }}img/{{ conference.private|vidprivacy }}.png" border="0" class="privacy_lock" /></td>
    		<td>&nbsp;&nbsp;</td>
    		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        	<td>{{ conference.start|localtime:account.timezone|date:"m/j/y" }}<br />{{ conference.start|localtime:account.timezone|date:"P" }}</td>
        	<td><a href="{% url user_dashboard conference.creator %}">{{ conference.creator }}</a></td>
        	<td>
        	    {% ifequal conference.creator request.user  %}
        	       <a href="{{ conference.get_edit_url }}" class="button" style="position:relative;top:4px;">edit</a>
        	    {% endifequal %}
        	</td>
        	<td><a href="#" class="button" style="position:relative;top:4px;" onclick="javascript:window.open('{{ conference.get_conference_url }}','conferencepage',config='height=800,width=1000,top=0,left=0,fullscreen=yes,titlebar=no,personalbar=no,dialog=yes,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;">join</a></td>
        </tr>
    {% endfor %}
    </table>
    
    {% else %}
        <h1 class="hdr_fancy prefix-1">There are no scheduled public conferences at this time.</h1><div class="hdr_fancy_bot">&nbsp;</div><br />
    {% endif %}



{% endblock %}

{% block extra_jquery %}

var searchVal = $("#list_search_input").val();
$("#list_search_input").focus(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == searchVal){
        $(this).val("");
        $("#list_search_input").css("color","#333333");
    }
});
$("#list_search_input").blur(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == ""){
        $(this).val(searchVal);
        $("#list_search_input").css("color","#777777");
    }
});
$("#list_search").submit(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == "search public conferences"){
        return false;
    }
});
    
{% endblock %}
