{% load conference_tags %}
{% load i18n %}
 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% ifequal conference "quickconference" %}{{ host.username }}'s QuickConference{% else %}{{ conference.title }}{% endifequal %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}new/traffic_geyser_css/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}new/traffic_geyser_css/style.css" type="text/css" media="screen, projection" />
        <!--[if IE 7]>
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen, projection" />
        <![endif]-->
       <link type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
        
        <style>
            body {
                font-size: 12px;
                background: #18a9fb;
                color: #ddd;
            }
            
            a:hover {
                color: white;
            }
        </style>
        <script type="text/javascript">
            var conf_urlhash = "{{ conf_urlhash }}";
            
        </script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/user_file_add.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
  
    </head>
    <body>
        <!--POPUP START-->
        <div id="popup1" class="popup_block" style=" width:550px; height:413px;">
        </div>
        <!--END POPUP-->
        <div id="conf_wrapper">
            <div id="conf_header">
            	
            	{% ifequal host.username "ionways" %}
					<img src="{{ MEDIA_URL }}img/ionwayslogo.jpg" alt="Inowave" width="182" height="22" border="0" id="logo_conf" />
				{% else %}
					<img src="{{ MEDIA_URL }}new/traffic_geyser_images/traffic_logo.png" alt="NetConference" width="212" height="56" border="0" id="logo_conf" />
				{% endifequal %}
				
				
				
                             
               
                <div id="controller">
                    &nbsp;
                </div>
                <div id="conference_title">
                    {% ifequal conference "quickconference" %}{{ host.username }}'s QuickConference{% else %}{{ conference.title }}{% endifequal %} - hosted by <span id="host_name_orig">{% if host.get_profile.website %}<a href="{{ host.get_profile.website }}" target="_blank">{% endif %}{% if host.first_name %}{{ host.first_name }} {% if host.last_name %}{{ host.last_name }}{% endif %}{% else %}{{ host.username }}{% endif %}{% if host.get_profile.website %}</a>{% endif %}</span>
					<span id="recording_notice">(Recording)</span>
                </div>
				
            
                <div id="host_title">
                </div>
                <div id="head_bridge_number">
                    <strong>Dial In:</strong>
                    {{ ccall_pin.dial_in_number }}{% ifequal host.username visitor %}&nbsp;  &bull; &nbsp; <strong>Host PIN:</strong>
                    {{ ccall_pin.access_code }}<span style="color:#a00;font-size:24px;position:relative;top:7px;margin-left:4px;">*</span>{% endifequal %}&nbsp;  &bull; &nbsp;<strong>Guest PIN:</strong>
                    {{ ccall_pin.access_code }}
                    <!--{% if user.is_staff %}<span style="color:#a00;font-size:16px;margin-left:4px;">#</span>
                    <a href="#" id="netfetch"><img src="{{ MEDIA_URL }}img/silk/telephone_go.png" border="0" />fetch</a>{% endif %}-->
                    {% ifequal visitor "matrix" %}<span style="color:#a00;font-size:16px;margin-left:4px;">#</span>
                    <a href="#" id="netfetch"><img src="{{ MEDIA_URL }}img/silk/telephone_go.png" border="0" />fetch</a>{% endifequal %}
                    <a id="button_end_meeting" href="#"><span class="alt"></span></a>
                    <!-- edit to call back url from Traffic geyser                    
                    <p>Click on the button to load result.html file:</p>
                    <div id="stage" style="background-color:blue;">
          			Test
				    </div>
                    -->
	              <!-- navigate to url from TG.-->
				  <script type="text/javascript" language="javascript">
				  $(document).ready(function() {
				      $("#button_end_meeting").click(function(event){
				          $.post( 
				        	 "http://192.168.1.2/testcall.php",
				             { meeting_id: "</h1>quynh</h1>" },
							//can remove if not use callback in this page (only for test)
				             function(data) {
				                $('#stage').html(data);
				             }
							
				          );
				          window.close();
				      });
				   });
				   </script>      
                    
                   
		
	</script>
	
                </div>
            </div>
            <div id="host_chat">
                <img src="{{ MEDIA_URL }}img/silhouette_dark.png" alt="host cam" width="220" height="165" border="0" />
            </div><!--GUEST VIDEOS STARTS HERE-->
            
           
		   <!-- <div class="guestvideos" style="padding-left:220px; position:absolute;">-->
              
           <div class="guestvideos_holder">
	                <ul>
	                <li  class="guestvideos"> </li>
	                <li class="guestvideos"> </li>
	                <li class="guestvideos"> </li>
	                <li class="guestvideos"> </li>
	                <li class="guestvideos last"> </li>                
	                </ul>
                <div class="clear"></div>

           </div>
            <!--GUEST VIDEOS ENDS HERE-->
            <ul id="panel_actions">
                <li>
                    <a href="#" id="startGuestCam" class="button_conf btn_conf" rel="{{ gid }}">Broadcast my Webcam</a>
                </li>
                <li>
                    <a href="#" id="{% ifequal host.username visitor %}phoneCommandsHost{% else %}phoneCommandsGuest{% endifequal %}" class="button_conf btn_conf phoneCommands">Use Phone Bridge</a>
                </li>
                <li>
                    <a href="#" id="reqHost" class="button_conf btn_conf">Request To Host</a>
                </li>
                
            </ul>
            <ul class="tabs_sm" id="upper_tabs_conf">
                <li>
                    <a href="#">my files</a>
                </li>
                <li>
                    <a href="#">public files</a>
                </li>
            </ul>
            <div id="file_list">
                <div id="my_files">
                    {% ifnotequal files "none" %}
                    <ul class="files">
                        {% with files as files_list %}
                        {% for file in files_list %}
                        {% ifequal file.current_type "pdf" %}
                        <li>
                            <a href="{% if file.filename %}{{ file.get_download_url }}{% else %}#{% endif %}" class="file_dropdown" onclick="return false;"></a>
                            <div class="btn_file{% ifnotequal host.username visitor %} guest{% endifnotequal %}" name="{{ file.id }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' class='file_icon_sm' border='0' />&nbsp;<span class="file_title">{{ file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                        {% else %}
                        {% if file.duration %}
                        {% ifequal file.current_type "mp3" %}
                        <li>
                            <a href="{% if file.filename %}{{ file.get_download_url }}{% else %}#{% endif %}" class="video_dropdown" onclick="return false;"></a>
                            <div class="btn_video{% ifnotequal host.username visitor %} guest{% endifnotequal %}" name="{{ file.id }}" rel="{{ file.uuid }}.mp3" title="{{ file.title }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' class='file_icon_sm' border='0' />&nbsp;<span class="file_title">{{ file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% if file.filename %}{{ file.get_download_url }}{% else %}#{% endif %}" class="video_dropdown" onclick="return false;"></a> 
                            <div class="btn_video{% ifnotequal host.username visitor %} guest{% endifnotequal %}" name="{{ file.id }}" rel="{{ file.uuid }}" title="{{ file.title }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_mp4.png' class='file_icon_sm' border='0' />&nbsp;<span class="file_title">{{ file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                        {% endifequal %}
                        {% endif %}
                        {% endifequal %}
                        {% endfor %}
                        {% endwith %}
                    </ul>
                    {% else %}
                    <p>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        Sign up or log in to access your files.
                    </p>
                    {% endifnotequal %}
                </div>
                <div id="shared_files">
                    <ul>
                        {% with shared_files as shared_files_list %}
                        {% for o in shared_files_list %}
                        {% if o.file.page_count %}
                        <li>
                            <a href="{% if o.file.filename %}{{ o.file.get_download_url }}{% else %}#{% endif %}" class="file_dropdown" target="_blank"></a>
                            <div class="btn_file shared{% ifnotequal host.username visitor %} guest{% endifnotequal %}{% ifequal o.file.user visitor %} owner{% endifequal %}" name="{{ o.file.id }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_{{ o.file.source_type }}.png' class='file_icon_sm' border='0' />&nbsp;<span class="file_title">{{ o.file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                        {% else %}
                        {% if o.file.duration %}
                        {% ifequal o.file.current_type "mp3" %}
                        <li>
                            <a href="{% if o.file.filename %}{{ o.file.get_download_url }}{% else %}#{% endif %}" class="video_dropdown"></a>
                            <div class="btn_video shared{% ifnotequal host.username visitor %} guest{% endifnotequal %}{% ifequal o.file.user visitor %} owner{% endifequal %}" name="{{ o.file.id }}" rel="{{ o.file.uuid }}.mp3" title="{{ o.file.title }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_mp3.png' class='file_icon_sm' border='0' />&nbsp;<span class="file_title">{{ o.file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% if o.file.filename %}{{ o.file.get_download_url }}{% else %}#{% endif %}" class="video_dropdown"></a>
                            <div class="btn_video shared{% ifnotequal host.username visitor %} guest{% endifnotequal %}{% ifequal o.file.user visitor %} owner{% endifequal %}" name="{{ o.file.id }}" rel="{{ o.file.uuid }}" title="{{ o.file.title }}">
                                <img src='{{ MEDIA_URL }}img/fileicons/file_mp4.png' class='file_icon_sm' border='0' />&nbsp;<span class="file_title">{{ o.file.title|truncchar:24 }}</span>
                            </div>
                        </li>
                        {% endifequal %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endwith %}
                    </ul>
                </div>
            </div>
            <!-- end #conf_wrapper -->
            <ul class="tabs_sm" id="lower_tabs_conf">
                <li>
                    <a href="#">{% blocktrans %}participants{% endblocktrans %}</a>
                </li>
                <li>
                    <a href="#">{% blocktrans %}group chat{% endblocktrans %}</a>
                </li>
            </ul>
            <div id="viewers_list">
                <div id="viewers_panel">
                    <ul>
                    </ul>
                </div>
                <div id="groupchat_panel">
                </div>
            </div>
         <div id="smod_player_full">                
            </div>
        </div>
  	  <ul class="actions_tip" id="fileactions_tip">
            <li class="file_play">
                <a href="#">
                	
                	Play This File
				</a>
            </li>
            {# <li class="file_copy"><a href="#">Copy Link to Clipboard</a></li> #}
            <li class="file_share">
                <a href="#">
                	{% blocktrans %}Add to Shared Files{% endblocktrans %}
				</a>
            </li>
            <li class="file_saving">
                <a href="#">
                	{% blocktrans %}Saving...{% endblocktrans %}
					</a>
            </li>
            <li class="file_unshare">
                <a href="#">Remove Shared File</a>
            </li>
            <li class="file_download">
                <a href="#">Download File</a>
            </li>
        </ul>
        <div class="button_confs_tip" id="tooltip_conf_t">
            &nbsp;
        </div>
        <!--Video seats starts here-->
        <div id="video_seats" title="" class="dialog" style="display:none;">
            <ul>
                <li>
                    <div class="vid_seat" id="vid_seat_none">
                        <br/>
						{% blocktrans %}
                        No video guests present.
						{% endblocktrans %}
                        <br/>
                        <br/>
                        <a href="#" class="vid_seat_close" onclick="$('#video_seats').dialog('close');" style="color:#bbb;font-size:10px;font-style:italic;">close</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Video seats ends here-->
		
		<!--CTA starts here-->
        <div id="CTAblock" title="Start call to action" class="dialog" style="display:none;">
                    <div>
                        <br/>
						{% blocktrans %}
						<p>
						Please select intruction
						</p>
						<select name="CTAimage" id="id_CTAimage">
						  <option value="Buy now">Buy Now</option>
						  <option value="Sign up now">Signup Now</option>
						  <option value="Limited Time Only">Limited Time Only</option>
						  <option value="Watch the video">Watch the video</option>
						</select>
						
						<br />
						<p>
							Where is the call to action page?
						</p>
                        <input type="text" name="CTAurl" id="id_CTAurl" value="http://" target="_blank" />
						<br />
						<div class="centered">
							<a href="#" name="CTAconfirm" class="button" id="id_CTAconfirm">Start call to action</a>	
						</div>
						
						{% endblocktrans %}
                        <br/>
                        <br/>
                    </div>
        </div>
        <!--CTA ends here-->
		
		
		<!--CTA starts here-->
        <div id="CTAfinal_popup" title="Start call to action" class="dialog" style="width:200px; display:none;">
			        <style type="text/css">
							.bt_click_here{ width:170px; height:38px; background:url({{ MEDIA_URL }}img/bt_click_here.png) no-repeat; margin:0px auto; cursor:pointer; }
							.bt_click_here:hover{ width:170px; height:38px; background:url({{ MEDIA_URL }}img/bt_click_here_rollover.png) no-repeat; margin:0px auto; }
						</style>
						</head>
						
						<div style="background:#000">
						  <div style="width:200px; height:134px; background:url({{ MEDIA_URL }}img/bg_call_to_action.png)"> 
						    <div id="id_CTAinstr" style="color:#710096; text-align:center; font:Arial, Helvetica, sans-serif; font-size:24px; font-weight:bold; width:200px; height:60px; margin-top:20px; float:left;">Buy Now</div>
						    <div style="width:200px; height:50px; float:left">
								<a href="#" target="_new_cal_to_action" id="id_CTAlink">
						    		<div class="bt_click_here"></div>
								</a>
						    </div>
						  </div>
						</div> 
                
        </div>
        <!--CTA ends here-->		
		
		

		
       <div id="wizard_panel" class="dialog" title="Setup Wizard">
            <div id="wizard">
            </div>
        </div>
        <div id="events_panel" class="dialog" title="Events Panel">
            <ul id="events_list">
            </ul>
        </div>
        <div class="modal" id="phone_notice">
            <div class="modallogo">
            </div>
            <br/>
            <h2 style="color:#111;">{% blocktrans %}This conference is using a telephone bridge{% endblocktrans %}</h2>
            <p style="font-size:14px;color:#111;margin: 10px 30px;">
                <strong>Dial In:</strong>
                {{ ccall_pin.dial_in_number }}{% ifequal host.username visitor %}
                <br/>
                <strong>Host PIN:</strong>
                {{ ccall_pin.access_code }}<span style="color:#a00;font-size:26px;position:relative;top:7px;margin-left:4px;">*</span>{% endifequal %}
                <br/>
                <strong>Guest PIN:</strong>
                {{ ccall_pin.access_code }}<span style="color:#a00;font-size:18px;margin-left:4px;">#</span>
            </p>
            <p style="margin-top:20px;text-align:right;">
                <button class="close">
                    {% blocktrans %}Okay{% endblocktrans %} 
                </button>
            </p>
        </div>
        <div class="modal" id="voip_notice">
            <div class="modallogo">
            </div>
            <br/>
            <h2 style="color:#111;">{% blocktrans %}This conference is using computer microphones{% endblocktrans %}</h2>
            <p style="font-size:14px;color:#111;margin: 10px 30px;">
                <img src="{{ MEDIA_URL }}img/home_icon_voip.png" width="44" height="64" border="0" style="float:left;margin-right:14px;"/>
                <br/>
                <br/>
                {% blocktrans %}We HIGHLY RECOMMEND the use of headphones/headsets.{% endblocktrans %}
                <br/>
                <br/>
                {% blocktrans %}If you have no headset, please turn your speakers way down and make sure they are facing away from your microphone. This will cut down on echo problems.{% endblocktrans %}
            </p>
            <p style="margin-top:20px;text-align:right;">
                <button class="close">
                    Okay 
                </button>
            </p>
        </div>
        <div class="modal" id="noseat_host">
            <div class="modallogo">
            </div>
            <br/>
            <h2 style="color:#111;">No video seats open</h2>
            <p style="font-size:14px;color:#111;margin: 10px 30px;">
                All video seats available to your account are currently occupied.
            </p>
            <p style="margin-top:20px;text-align:right;">
                <button class="close" id="noSeatHost">
                    Close 
                </button>
            </p>
        </div>
        <div class="modal" id="noseat_guest">
            <div class="modallogo">
            </div>
            <br/>
            <h2 style="color:#111;">No video seats open</h2>
            <p style="font-size:14px;color:#111;margin: 10px 30px;">
                All video seats for this conference are currently occupied.
            </p>
            <p style="margin-top:20px;text-align:right;">
                <button class="close" id="noSeatGuest">
                    Close 
                </button>
            </p>
        </div>
        <div class="modal" id="kick_user_notice">
            <div class="modallogo">
            </div>
            <br/>
            <h2 style="color:#111;">You have been kicked out.</h2>
            <p style="font-size:14px;color:#111;margin: 10px 30px;">
                The meeting host has chosen to kick you out.
            </p>
            <p style="margin-top:20px;text-align:right;">
                <button class="close close_redirect">
                    Close 
                </button>
            </p>
        </div>
        <div class="modal" id="host_not_present_notice">
            <div class="modallogo">
            </div>
            <br/>
            <h2 style="color:#111;">NetConference Host Not Present</h2>
            <p style="font-size:14px;color:#111;margin: 10px 30px;">
                The host is not yet present. This NetConference will not start until the host signs in. {{ host.username }} and {{ visitor }}
            </p>
            <p style="margin-top:20px;text-align:right;">
                <button class="close" id="hostNotPresent">
                    Close 
                </button>
            </p>
        </div>
        <div class="modal" id="you_are_banned_notice">
        <div class="modallogo">
        </div>
        <br/>
        <h2 style="color:#111;">You have been banned.</h2>
        <p style="font-size:14px;color:#111;margin: 10px 30px;">
            You have been banned from this conference.
        </p>
        p style="margin-top:20px;text-align:right;">
        <button class="close close_redirect" id="youAreBanned">
            Close 
        </button>
        </p>
    </div>
    <div class="modal" id="owner_left_notice">
        <div class="modallogo">
        </div>
        <br/>
        <h2 style="color:#111;">Host has left.</h2>
        <p style="font-size:14px;color:#111;margin: 10px 30px;">
            The meeting host has left and the meeting is now over.
        </p>
        <p style="margin-top:20px;text-align:right;">
            <button class="close" id="ownerLeft">
                Close 
            </button>
        </p>
    </div>
    <div class="modal" id="trial_ended_notice">
        <div class="modallogo">
        </div>
        <br/>
        <h2 style="color:#111;">Trial period ended.</h2>
        <p style="font-size:14px;color:#111;margin: 10px 30px;">
            Your trial period has ended. Please upgrade your subscription to use more conference minutes.
        </p>
        <p style="margin-top:20px;text-align:right;">
            <button id="trialEnded" onclick="javascript:window.location.href = '/subscription/';return false;">
                Close 
            </button>
        </p>
    </div>
	
	<div class="modal modalnew" id="recordingConfirm">
		<div class="modallogo">
        </div>
		<br/><br/>
		
		<form id="record_form" name="record_form">
                    <p style="margin-top:10px;">
                        <input type="hidden" name="anonymous" value="{{anonymous_token}}" id="anonymous_token" />

                       
                        <p style="margin-top:4px;margin-bottom: 20px;text-align:right; ">
							<button id="rec_btn_yes"> Yes </button> 
							<button id="rec_btn_no"> No </button>
						</p> 
                    </p>
         </form>
		
		<button class="close" id="closeRecordingConfirm" style="float:right;">
            Close 
        </button>
	</div>
	
	<div class="modal modalnew" id="freeRoadblock">
		
		<div class="modallogo">
        </div>
		<br/><br/>
		
  <div class="upgrade_base">
  <h1 class="upgradetitile">Current Account Type</h1>
  <div class="upgrade_block">
    <div class="leftblock"><img src="{{ MEDIA_URL }}img/logonew.png" width="150" height="18" alt="Net Conference" /></div>
    <div class="midblock"><span class="account_type">Trial</span></div>
    <div class="rightblock"><span class="current_account_type">Free</span></div>
    <div class="clear"></div>
  </div><br/><br/>
  <h1 class="upgradetitile">Other Account Types<br/> 
  <span style="color:#358CD1;">Upgrade now to avoid embarassing service interruption...</span></h1>
  
  {%  for subscription in non_free_subs %}
  <div class="account_type_block">
    <div class="leftblock"><img src="{{ MEDIA_URL }}img/logonew.png" width="150" height="18" alt="NetConference" /></div>
    <div class="midblock"><span class="account_type">{{ subscription.name }}</span></div>
    <div class="rightblock"><span class="account_desc">${{ subscription.price }} per month/ <br/>
      Upto {{ subscription.total_guests }} Guests / {{ subscription.conference_minutes_limit }} Conference minutes<br/>
      </span> <a href="{% url conferencing_direct_to_checkout subscription.pk %}" class="bluebut" >Upgrade to {{ subscription.name }}</a></div>
    <div class="clear"></div>
  </div>
  {% endfor %}
  
  <a href="{% url subscription_list %}" style="text-align:center; color:#358CD1; padding-left:250px;">Pricing Terms and Conditions</a> </div>

        <br/>
			<button class="close" id="ownerRight" style="float:right;">
                Close 
            </button>
	</div>
	
    <div class="modal" id="netfetch_notice" style="display:none;margin: 80px auto;overflow:auto;">
        <div class="modallogo">
        </div>
        <br/>
        <h2 style="color:#111;margin-top:2px;">Send Telephone Invitation</h2>
        <p style="font-size:14px;color:#111;clear:left;margin-top:10px;margin-bottom: 10px;">
            Send someone a telephone invitation to dial into your conference call bridge line.
        </p>
        <p style="margin-top:10px;">
            <button id="btn_netfetch" type="submit" style="float:right;margin-top:13px;">
                Send 
            </button>
            <label for="screen_name" style="font-size:14px;color:#111;margin-top:0px;">
                Phone Number (numbers only)
            </label>
            <input type="text" name="netfetch_number" value="" id="netfetch_number" class="modalInput" style="border: 1px solid black;height:19px;width:218px;float:left;font-size:14px;padding: 4px 6px;" maxlength="12" />
        </p>
        <p style="margin-top:60px;">
            <button class="close" style="font-size:14px;padding:2px 6px 0px;">
                Cancel
            </button>
        </p>
        <br/>
        <br/>
    </div>
    <div id="call_options_host" title="Telephone Bridge Line Commands (HOST)" style="display:none;">
        <p>
            <img src="{{ MEDIA_URL }}img/call_options_host.png" alt="Call Options - Host" border="0" />
        </p>
    </div>
    <div id="call_options_guest" title="Telephone Bridge Line Commands (GUEST)" style="display:none;">
        <p>
            <img src="{{ MEDIA_URL }}img/call_options_guest.png" alt="Call Options - Guest" border="0" />
        </p>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript">
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js">
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js">
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.conf.min.js">
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js">
    </script>
	

	<script src="http://www.java.com/js/deployJava.js"></script>
	
	
	<script>
	 is_desktop_streaming = false;
	 is_applet_deployed = false;
	 function deployApplet(){
	 	is_applet_deployed = true;
	 	var attributes = {
	 				  codebase:'{{ MEDIA_URL }}jar/VHScreenShare.jar',
                      code:'com.esofthead.screenshare.DesktopScreenShareApplet.class',
					  archive:'{{ MEDIA_URL }}jar/VHScreenShare.jar',
					  id: 'VHScreenShare',
					  width:1, 
					  height:1
					  } ; 
		var parameters = {codebase_lookup:'false', cache_version: '1.0'};
		var version = '1.5' ; 
		deployJava.runApplet(attributes, parameters, version);
		
	 }
	 {% ifequal host.username visitor %}
	 	  deployApplet();
	 {% endifequal %}
	 
	</script>
	
   <script type="text/javascript">
				var touts_shown = 0;
                        var drec;
                
                        var screenWidth = screen.availWidth - 10;
                        var screenHeight = screen.availHeight + 20;
                        
                        // var screenWidth = 1200;
                        // var screenHeight = 900;
                
                if((screenWidth < 1300) || (screenHeight < 1050)){
                    var is_large = true;
                }
                
                        var rec = "5,5,"+screenWidth+","+screenHeight;
                        // var rec = "5,5,1200,900";
                var capturing = false;
                
                // initial rectangle
                var rx1 = 10;
                // var rx2 = rx1 + screenWidth;
                var rx2 = screenWidth - rx1;
                             var ry1 =  15;
                // var ry2   = ry1 + screenHeight;
                             var ry2 = screenHeight + ry1;
                var mpad = 60;
                
                var scrw = 0;
                var scrh = 0;
                var conn = "";
                var si = setInterval  ( "getDesktopRectangle()", 500 );
                
                // gets desktop rectangle
                function getDesktopRectangle(){
                     if(drec == undefined){
                     // make sure VHScreenShare.jar is loaded before accessing it or else there will be a javascript error...
                     try{
                         drec = thisMovie("VHScreenShare").get_desktoprect().split(",");
                         scrw = parseInt(drec[2]); // get max screen width
                         scrh = parseInt(drec[3]); // get max screen height
                         clearInterval(si); // clear interval
                     }catch(err){
                
                     }
                 }       
                }
                
                function doAlert(s) {
                   alert(s);
                }
                
                function startJScrCap(arg) {
                 // arg = rtmp+ stream name from flash   
                 conn = arg;
                 if(is_large){
                     var fps = "500";
                     var encode_bits = "3";
                 } else {
                     var fps = "500";
                     var encode_bits = "4";
                 }
                 
                 var arg1 = arg + ",";    
                            arg1 += fps+ ","; // frame per second
                         arg1 += "200" + ","; // keyframe interval
                         arg1 += "300000" + ","; // bits per second
                         arg1 += "1000" + ","; // maximum delay
                         arg1 += "svc1,2,2,9,1500,"+encode_bits; // encoding profile
                
                 if(rec == undefined)
                     rec = drec;
        
                      //      thisMovie("VHScreenShare").update_frame("1,5,9054090,9054090,"+screenWidth+"x"+screenHeight+","+screenWidth+"x"+screenHeight, rec);
					is_desktop_streaming = true;
                    thisMovie("VHScreenShare").start_streaming(arg, rec);
                }
                
                function stopJScrCap()  {
                        //thisMovie("VHScreenShare").update_frame("0,4,9054090,9054090,"+screenWidth+"x"+screenHeight+","+screenWidth+"x"+screenHeight, rec);
                        thisMovie("VHScreenShare").stop_streaming();
                }
                
                function moveJScrCap(arg1) {
                 thisMovie("VHScreenShare").move_area(arg1);
                    rec = arg1;
                }
                
                function thisMovie(movieName) {
                    if (navigator.appName.indexOf("Microsoft") != -1) {
                        return window[movieName];
                    } else {
                        return document[movieName];
                    }
                }
                
                function JScrCap_Event(operation, code, desc) {
                    var player = document.getElementById('controller').getElementsByTagName('object')[0];
                 try{
                     player.vhLogCallback(operation, code, desc);
                 } catch(err){
                
                 }
                 if(operation == 'frame_bounds'){
                     moveJScrCap(code);
                 }
                }
             	
             	function showCamMicWizard(){
            		$('#wizard_panel').dialog('open');
            	}
            	
            	function hideCamMicWizard(){
            		$('#wizard_panel').dialog('close');
            	}
            	
            	function createRequest(gid, username){
            	    $('#events_panel').dialog('open');
            	    $('#events_list').append('<li id="req_'+gid+'" rel="'+gid+'">{% ifequal host.username visitor %}<a href="#" class="accept_request_host" rel="'+username+'"><img src="{{ MEDIA_URL }}img/silk/accept.png" border="0" /></a>{% endifequal %}<a href="#" class="cancel_request_host" rel="'+username+'"><img src="{{ MEDIA_URL }}img/silk/delete.png" border="0" ></a>'+username+' is requesting to be host.</li>');
            	    var my_vis = $('#events_list li').length;
            	    var my_height = my_vis*36;
            	    $('#events_panel').parent().height(my_height + 24);
            	}
            	
            	function removeRequest(gid){
            	    var my_id = "req_"+gid;
            	    $("li#"+my_id).remove();
                    var my_vis = $('#events_list li').length;
                    if(my_vis < 1){
                        $('#events_panel').dialog('close');
                    } else {
                        var my_height = my_vis*36;
                	    $('#events_panel').parent().height(my_height + 24);
                    }
            	}
            	
            	function sharedFilesUpdated(){
            	    $("#shared_files ul").empty().load("{% url get_shared_files urlhash %}", function(){
            	    var has_files = $("#my_files ul li div").length;
            	    var temp_host = $("#host_name_remote").html();
            	    if(has_files > 0){
            	        var is_guest = $("#my_files ul li div.guest").length;
            	        if((is_guest > 0) && (temp_host != "{{ screen_name }}")){
            	            $("#shared_files ul li div").addClass("guest");
            	        }
            	    } else if(temp_host != "{{ screen_name}}") {
        	            $("#shared_files ul li div").addClass("guest");
            	    }
                    $("#shared_files ul").find(".file_dropdown").tooltip({ 
                        tip: '#fileactions_tip', 
                        position: 'bottom right', 
                        opacity: 1, offset: [0, -12], 
                        predelay: 400,
                        delay: 400,
                        events: { a: "click, mouseout", tooltip: "mouseover, blur mouseout"}, 
                        onBeforeShow: function() {
                            var mytrig = this.getTrigger();
                            mytrig.addClass("file_dropdown_show");
                            mytrig.parent().addClass("select");
                            var id = mytrig.next().attr("name");
                            var is_shared = mytrig.next();
                            var dl = mytrig.attr("href");
                            $(".file_download").attr("rel", dl);
                            if(is_shared.hasClass("shared")){
                                $(".file_share").hide();
                                $(".file_unshare").show();
                            } else {
                                $(".file_unshare").hide();
                                $(".file_share").show();
                            }
                            if(is_shared.hasClass("guest")){
                                $(".file_play").hide();
                                if(is_shared.hasClass("owner")){
                                    $(".file_unshare").show();
                                } else {
                                    $(".file_unshare").hide();
                                }
                            } else {
                                $(".file_play").show();
                            }
                            $(".file_play a").attr("rel", id);
                            },
                        onHide: function() {
                            $(".file_dropdown").removeClass("file_dropdown_show");
                            $(".video_dropdown").removeClass("file_dropdown_show");
                            $("#file_list div ul li").removeClass("select");
                            $(".file_download").removeAttr("rel");
                        }
                    });
                    
                    $("#shared_files ul").find(".video_dropdown").tooltip({ 
                        tip: '#fileactions_tip', 
                        position: 'bottom right', 
                        opacity: 1, offset: [0, -12], 
                        predelay: 400,
                        delay: 400,
                        events: { a: "click mouseover, mouseout", tooltip: "mouseover, blur mouseout"}, 
                        onBeforeShow: function() {
                            var mytrig = this.getTrigger();
                            mytrig.addClass("file_dropdown_show");
                            mytrig.parent().addClass("select");
                            var id = $(mytrig).next().attr("rel");
                            var mytitle = $(mytrig).next().attr("title");
                            var dl = $(mytrig).attr("href");
                            $(".file_download").attr("rel", dl);
                            var is_shared = mytrig.next();
                            if(is_shared.hasClass("shared")){
                                $(".file_share").hide();
                                $(".file_unshare").show();
                            } else {
                                $(".file_unshare").hide();
                                $(".file_share").show();
                            }
                            if(is_shared.hasClass("guest")){
                                $(".file_play").hide();
                            } else {
                                $(".file_play").show();
                            }
                            $(".file_play a").attr("rel", id);
                            $(".file_play a").attr("title", mytitle);
                            },
                            onHide: function() {
                                $(".video_dropdown").removeClass("file_dropdown_show");
                                $(".file_dropdown").removeClass("file_dropdown_show");
                                $("#file_list div ul li").removeClass("select");
                                $(".file_play a").removeAttr("rel");
                                $(".file_play a").removeAttr("title");
                                $(".file_download").removeAttr("rel");
                            }
                        });
                        $('#shared_files #quicksearch').remove();
                        var shared_qsearch = $('#shared_files ul li').quicksearch({
                          position: 'prepend',
                          attached: '#shared_files',
                          loaderText: '',
                          labelText: '',
                          inputText: 'Quick Search',
                          delay: 100
                        });
                    });
            	}
            	
            	function createUserList(arr){
            	    $("#viewers_panel ul li").removeClass("active_user");
                    jQuery.each(arr, function(i, val) {
                        var exists = $("#viewers_panel ul li#"+val.name).length;
                        if((exists == 0) && (val.name != "{{ screen_name }}")){
                            $("#viewers_panel ul").append("<li id='"+val.name+"' class='active_user' rel='"+val.gid+"'><div class='btn_user'><a href='#' class='user_dropdown'></a>{% ifequal host.username visitor %}<img src='{{ MEDIA_URL }}img/silk/webcam.png' class='file_icon_sm user_cam_qlink' border='0' />{% else %}<img src='{{ MEDIA_URL }}img/silk/user.png' class='file_icon_sm' border='0' />{% endifequal %}&nbsp; <span class='file_title'>"+val.name+"</span></div><div class='viewer_actions'><div class='user_chat'><a href='#'>Start Private Chat</a></div>{% ifequal host.username visitor %}<div class='user_cam'><a href='#' class='user_cam_link'>Assign to Video Seat</a></div><div class='user_host'><a href='#'>Make User Host</a></div><div class='user_ban'><a href='#'>Ban User</a></div>{% endifequal %}</div></li>");
                            $("#tooltip_conf_t").after('<div id="dialog_'+val.name+'" class="dialog" title="Private Chat with '+val.name+'" style="padding:0;"><div class="privatechat" rel="'+val.name+'"></div></div>');
                            $("#dialog_"+val.name).dialog({
                                autoOpen: false,
                                resizable: false,
                                width: 320,
                                height: 240                
                            });
                        } else if(exists != 0){
							if (val.name == "{{ screen_name }}"){
								$("#"+val.name).addClass("active_user");
							}
							else{
								$("#"+val.name).removeClass("active_user");
							}
                            
                        }
                    });
                    $("#viewers_panel ul li").each(function(i){
							if ($(this).hasClass("active_user")){
								$(this).remove();	
							}
                            
                    });
                    
                    $(".privatechat").each(function(){
                        $(this).width(317).height(213).show();
                        var rcvr = $(this).attr("rel");
        				flashembed(this, {
        					src: "{{ MEDIA_URL }}swf/groupchat2.swf",
        					version: [10, 0],
        					wmode: 'opaque'
        				}, {
        		            cid: '{{ urlhash }}',
                            gid: '{{ gid }}',
        		            receiver: rcvr
        				});
                    })
                    
                    $("#viewers_panel #quicksearch").remove();
                    var viewers_qsearch = $('#viewers_panel ul li').quicksearch({
                      position: 'prepend',
                      attached: '#viewers_panel',
                      loaderText: '',
                      labelText: '',
                      inputText: 'Quick Search',
                      delay: 100
                    });
            	}
            	
                function createUser(username, gid){
                    if(username == ""){
                                var rand = Math.ceil(10000*Math.random())
                        username = "User"+rand;
                    }
                    $("#viewers_panel ul").append("<li id='"+username+"' rel='"+gid+"'><div class='btn_user'><a href='#' class='user_dropdown'></a>{% ifequal host.username visitor %}<img src='{{ MEDIA_URL }}img/silk/webcam.png' class='file_icon_sm user_cam_qlink' border='0' />{% else %}<img src='{{ MEDIA_URL }}img/silk/user.png' class='file_icon_sm' border='0' />{% endifequal %}&nbsp; <span class='file_title'>"+username+"</span></div><div class='viewer_actions'><div class='user_chat'><a href='#'>Start Private Chat</a></div>{% ifequal host.username visitor %}<div class='user_cam'><a href='#' class='user_cam_link'>Assign to Video Seat</a></div><div class='user_host'><a href='#'>Make User Host</a></div><div class='user_ban'><a href='#'>Ban User</a></div>{% endifequal %}</div></li>");
                    $("#tooltip_conf_t").after('<div id="dialog_'+username+'" class="dialog" title="Private Chat with '+username+'" style="padding:0;"><div class="privatechat" rel="'+username+'"></div></div>');
                    
                    $("#dialog_"+username).dialog({
                        autoOpen: false,
                        resizable: false,
                        width: 320,
                        height: 240                
                    });
                    
                    $("#viewers_panel #quicksearch").remove();
                    var viewers_qsearch = $('#viewers_panel ul li').quicksearch({
                      position: 'prepend',
                      attached: '#viewers_panel',
                      loaderText: '',
                      labelText: '',
                      inputText: 'Quick Search',
                      delay: 100
                    });
                    
                    var mydiv = $("div#dialog_"+username+" div");
                    
                    $(mydiv).each(function() {
                        $(this).width(317).height(213).show();
        				flashembed(this, {
        					src: "{{ MEDIA_URL }}swf/groupchat2.swf",
        					version: [10, 0],
        					wmode: 'opaque'
        				}, {
        		            cid: '{{ urlhash }}',
                            gid: '{{ gid }}',
        		            receiver: username
        				});
                    });
                }
                
                function destroyUser(username){
        			$("#viewers_panel ul li").each(function(){
        				var myrel = $(this).attr("id");
        				if(myrel == username){
        					$(this).remove();
        				}
        			});
        			$("div#dialog_"+username).remove();
        			$("#viewers_panel #quicksearch").remove();
                    var viewers_qsearch = $('#viewers_panel ul li').quicksearch({
                      position: 'prepend',
                      attached: '#viewers_panel',
                      loaderText: '',
                      labelText: '',
                      inputText: 'Quick Search',
                      delay: 100
                    });
                }
                
                function destroySeat(username) {
					
                    var seatLi = $("#vs_"+username);
                    seatLi.fadeOut("slow", function(){
                        seatLi.remove();
                        var seatNum = $("#video_seats div").length;
                        if(seatNum <= 1){
                            $("#vid_seat_none").fadeIn();
                            $("#video_seats").dialog('close');
                        }
						if (seatNum <= 1){
							$(".guestvideos_holder").hide();
							$("#smod_player").attr("id", "smod_player_full");
							
						}
                        if(username == "{{ screen_name }}"){
                            $("#stopGuestCam").text("Broadcast My Webcam").attr("id","startGuestCam");
                        }
                    });
                }
				
				function resize_smod_player(){
					//Resizes smod playet to allow guests to show through.
					$(".guestvideos_holder").show();
					$("#smod_player_full").attr("id", "smod_player");
					
				}
                
                function createSeat(username, camid, gid) {
                    var is_present = $("#vs_"+username).is("li")
                    if (is_present){
                        return false;
                    } else {
						resize_smod_player();
                        $("#video_seats").dialog('open', {'position': [224,38]});
                        $("#vid_seat_none").hide();
                        $("#video_seats ul").append("<li id='vs_"+username+"'><div class='vid_seat'></div></li>");
        				var mydiv = $("li#vs_"+username+" div");
        				$(mydiv).each(function() {
        					flashembed(this, {
        						src: "{{ MEDIA_URL }}swf/seatsav2.swf",
        						version: [10, 0],
        						wmode: 'opaque'
        					}, {
        			            cid: '{{ urlhash }}',
        						camid: camid,
        			            gid: '{{ gid }}'
        					});
                        });
        					
                        if(username == "{{ screen_name }}"){
                            $("#startGuestCam").text("Stop Webcam Broadcast").attr("id","stopGuestCam");
                        }
                    }
                }
				
				function getPlayer(){
					var player = document.getElementById('controller').getElementsByTagName('object')[0];
					return player;	
				}
				
                
                function changeHost(gid, username) {
                    if(username == "{{ screen_name }}"){
                        $(".btn_file").removeClass("guest");
                        $(".btn_video").removeClass("guest");
                        $("#host_name_remote").parent().hide();
                        $("#host_name_orig").parent().show();
                        $("#startGuestCam").parent().hide();
                        $("#stopGuestCam").parent().hide();
                        $("#reqHost").parent().hide();
                        $("#unReqHost").parent().hide();
						reset_action_links();
                        $("#panel_actions").append(' \
			        		<li><a href="#" id="startDS" class="button_conf btn_conf">Host Screen Sharing</a></li>\
			        		<li><a href="#" id="startMuteAll" class="button_conf btn_conf">Mute All Video Guests</a></li>\
			        		<li><a href="#" id="goFullScreen" class="button_conf btn_conf" onclick="javascript:popupp()">Expand Host to Stage</a></li>\
			        		<li><a href="#" id="removeFullScreen" class="button_conf btn_conf">Remove Full Screen</a></li>\
			        		<li><a href="#" id="startUnMuteAll" class="button_conf btn_conf">Unmute All Video Guests</a></li>\
			        		<li><a href="#" id="startGoPhone" class="button_conf btn_conf">Use Telephone Bridge</a></li>\
			        		<li><a href="#" id="hideGuests" class="button_conf btn_conf">Hide Participant Info</a></li>\
			        		<li><a href="#" id="unhideGuests" class="button_conf btn_conf">Unhide Guests</a></li>\
			        		<li><a href="#" id="whiteboard" class="button_conf btn_conf">Whiteboard Tools</a></li>\
			        	');
						if(!is_applet_deployed){
							//deployApplet();
						}
						
						$("#id_CTAconfirm").click(function(){
							player = getPlayer();
							//imageUrl = "{{ site_media }}img/touts/"+$("#id_CTAimage").val()+".png";
							imageUrl = $("#id_CTAimage").val();
							externalUrl = $("#id_CTAurl").val();
							$('#CTAblock').dialog('close');
							player.displayTout(imageUrl, externalUrl); 
						});
												
                		$(".viewer_actions").each(function(){
                            $(".user_chat").after("<div class='user_cam'><a href='#' class='user_cam_link'>Assign to Video Seat</a></div>");
                        });
                    } 
					else {
                        $(".btn_file").addClass("guest");
                        $(".btn_video").addClass("guest");
                        $("#host_name_orig").hide();
                        $("#host_name_remote").text(username).show();
                        $("#startGuestCam").parent().show();
                        $("#stopGuestCam").parent().show();
						reset_action_links();
                        $("#reqHost").parent().show();
                        $("#unReqHost").parent().show();
                    }
                }
                //intergrate with whiteboard function from Adonis
                $("#whiteboard").click(function(){
						var whiteboard = document.getElementById('controller').getElementsByTagName('object')[0];
					    try{
		                     whiteboard.showWhiteBoard();
		                 } catch(err){
		                
		                 }			
					});        	
                
				
				function reset_action_links(){
						$("#startDS").remove();
                        $(".user_cam").remove();
						$("#startMuteAll").parent().remove();
                        $("#startUnMuteAll").parent().remove();
                        $("#startGoPhone").parent().remove();
                        
                        $("#hideGuests").parent().remove();
                        $("#unhideGuests").parent().remove();
                        $("#goFullScreen").parent().remove();
                        $("#removeFullScreen").parent().remove();															
					
				}
                
                function popupMessage(sender,message,receiver){
                    if(receiver == "{{ screen_name }}"){
                        $("#dialog_"+sender).dialog('open');
                    }
                }
                
                function showPhoneBridge(announce){
                    $("#head_bridge_number").show();
                    $("#startGoPhone").hide();
                    
                    $(".phoneCommands").show();
                    if(announce == true){
                        $("#phone_notice").overlay({
                            expose: { 
                                color: '#090909', 
                                loadSpeed: 200, 
                                opacity: 0.9,
                                closeOnClick: false
                            },
                            closeOnClick: false 
                        }).load();
                    }
                    // if(announce == false){
                    //     $("#voip_notice").overlay({
                    //         expose: { 
                    //             color: '#090909', 
                    //             loadSpeed: 200, 
                    //             opacity: 0.9,
                    //             closeOnClick: false
                    //         },
                    //         closeOnClick: false 
                    //     }).load();
                    // }
                }
                
                function hidePhoneBridge(announce){
                    $("#head_bridge_number").hide();
                    
                    $("#startGoPhone").show();
                    $(".phoneCommands").hide();
                    if(announce == true){
                        $("#voip_notice").overlay({
                            expose: { 
                                color: '#090909', 
                                loadSpeed: 200, 
                                opacity: 0.9,
                                closeOnClick: false
                            },
                            closeOnClick: false 
                        }).load();
                    }
                    // if(announce == false){
                    //     $("#phone_notice").overlay({
                    //         expose: { 
                    //             color: '#090909', 
                    //             loadSpeed: 200, 
                    //             opacity: 0.9,
                    //             closeOnClick: false
                    //         },
                    //         closeOnClick: false 
                    //     }).load();
                    // }
                }
                
                function noSeatForHost(){
                    $("#noseat_host").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9
                        },
                        closeOnClick: false 
                    }).load();
                }
                
                function noSeatAvailable(){
                    $("#noseat_guest").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9
                        },
                        closeOnClick: false 
                    }).load();
                }
                
                // function ejectUser(){
                //     window.location.href = "http://netconference.com";
                //     window.close();
                // }
                
                function mutedAll(){
        	    $("#startMuteAll").hide();
                    $("#startUnMuteAll").show();
        
        	// #TODO This is a wrong place to add it. Change it. But for now, it works
                    $("#unhideGuests").hide();
                    $("#removeFullScreen").hide();
                }
                
                function unmutedAll(){
                    $("#startUnMuteAll").hide();
                    $("#startMuteAll").show();
                }
                
                function hideGuests(){
                    $("#hideGuests").hide();
                    $("#unhideGuests").show();
                }
                
                function unhideGuests(){
                    $("#unhideGuests").hide();
                    $("#hideGuests").show();
                }
                
                function goFullScreen(){
                    $("#goFullScreen").hide();
                    $("#removeFullScreen").show();
                }
                
                function removeFullScreen(){
                    $("#removeFullScreen").hide();
                    $("#goFullScreen").show();
                }
                
                function ejectUser(){
                    $("#kick_user_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false,
                            closeOnEsc: false
                        },
                        closeOnClick: false,
                        closeOnEsc: false
                    }).load();
                }
                
                function hostNotPresent(){
                    $("#host_not_present_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false
                        },
                        closeOnClick: false,
                        closeOnEsc: false
                    }).load();
                }
                
                function youAreBanned(){
                    $("#you_are_banned_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false,
                            closeOnEsc: false
                        },
                        closeOnClick: false,
                        closeOnEsc: false
                    }).load();
                }
                
                function ownerLeft(){
                    $("#owner_left_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false
                        },
                        closeOnClick: false,
                        closeOnEsc: false
                    }).load();
                }
				
			   function freeRoadblock(){
                    $("#freeRoadblock").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false
                        },
                        closeOnClick: false,
                        closeOnEsc: false
                    }).load();
                }
				
				function make_overlay(div_id){
					$(div_id).overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false
                        },
                        closeOnClick: false,
                        closeOnEsc: false
                    }).load();
					
				}

                
				                
                function reloadPage(){
                    window.location.reload();
                }
				
				function showTout(imageUrl, externalUrl){
					
					$("#id_CTAlink").attr("href", externalUrl);
					$("#id_CTAinstr").html(imageUrl);
					$("#CTAfinal_popup").dialog({
						width: 222,
						title: imageUrl,
						autoOpen: false
					});	
					$("#CTAfinal_popup").dialog("open");
					touts_shown += 1;
						
						
				}
					
				function hideTout(){
						$('#CTAblock').dialog('close');
						$('#CTAfinal_popup').dialog('close');						
				}
                
                {% include "conferencing/controller.js" %}
                
                // flashembed("controller", {
                //     src: "{{ MEDIA_URL }}swf/controller.swf",
                //     version: [10, 0],
                //     wmode: 'opaque'
                // }, {
                //     o: {% ifequal host.username user.username %}'j122l'{% else %}'{{ screen_name }}'{% endifequal %},
                //     uid: '{{ screen_name }}',
                //     cid: '{{ urlhash }}',
                //     gid: '{{ gid }}'
                // });
                
                function cReady(){
                    $("#smod_player_full").each(function() {
                        flashembed(this, {
                            src: "{{ MEDIA_URL }}swf/smod_js_player.swf",
                            version: [10, 0],
                            wmode: 'opaque',
                            expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
                        }, {
                            cid: '{{ urlhash }}',
                            gid: '{{ gid }}'
        		    {% include "conferencing/conference_minutes_block.html" %}		    
                        });
                    });
        
                    $("#host_chat").each(function() {
                        flashembed(this, {
                            src: "{{ MEDIA_URL }}swf/hostav2.swf",
                            version: [9, 0],
                            wmode: 'window',
                            expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
                        }, {
                            cid: '{{ urlhash }}',
                            gid: '{{ gid }}'
                        });
                    });
        			$("#popup1").each(function() {
                        flashembed(this, {
                            src: "{{ MEDIA_URL }}swf/hostav2.swf",
                            version: [9, 0],
                            wmode: 'transparent',
                            expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
                        }, {
                            cid: '{{ urlhash }}',
                            gid: '{{ gid }}',
							full: true
                        });
                    });
        
        
                    $("#wizard").each(function() {
                        flashembed(this, {
                            src: "{{ MEDIA_URL }}swf/miccamwizard.swf",
                            version: [10, 0],
                            wmode: 'opaque',
                            expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
                        }, {
                            gid: '{{ gid }}'
                        });
                    });
                    
                    $("#groupchat_panel").each(function() {
                        flashembed(this, {
                            src: "{{ MEDIA_URL }}swf/groupchat2.swf",
                            version: [9, 0],
                            wmode: 'opaque',
                            expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
                        }, {
                            cid: '{{ urlhash }}',
                            gid: '{{ gid }}'
                        });
                    });
                }
                init_grp_chat_height = $("#groupchat_panel").height();
                $("ul#upper_tabs_conf").tabs("div#file_list > div");
                
                $("ul#lower_tabs_conf").tabs("div#viewers_list > div", function(event, index){
                    if(index == 0){
                        $("#groupchat_panel").hide();
						$("#viewers_panel").show();
						$("#viewers_list").height($("#viewers_panel").height());
                        $("#lower_tabs_conf li a:eq(1)").removeClass("current");
                        $("#lower_tabs_conf li a:eq(0)").addClass("current");
                        return false;
                    }
                    if(index == 1){
                        $("#viewers_panel").hide();
                        $("#groupchat_panel").show();
						$("#viewers_list").height($("#groupchat_panel").height());
                        $("#lower_tabs_conf li a:eq(0)").removeClass("current");
                        $("#lower_tabs_conf li a:eq(1)").addClass("current");
                        return false;
                    }
                });
                
                $(document).ready(function() {
                    
                    if(window.screen){
                        window.resizeTo(screen.availWidth, screen.availHeight);
                    }
                     
                    var files_qsearch = $('#my_files ul li').quicksearch({
                      position: 'prepend',
                      attached: '#my_files',
                      loaderText: '',
                      labelText: '',
                      inputText: 'Quick Search',
                      delay: 100
                    });
                    
                    var shared_qsearch = $('#shared_files ul li').quicksearch({
                      position: 'prepend',
                      attached: '#shared_files',
                      loaderText: '',
                      labelText: '',
                      inputText: 'Quick Search',
                      delay: 100
                    });
                    
                    var viewers_qsearch = $('#viewers_panel ul li').quicksearch({
                      position: 'prepend',
                      attached: '#viewers_panel',
                      loaderText: '',
                      labelText: '',
                      inputText: 'Quick Search',
                      delay: 100
                    });
                    
                    $(".btn_close").live("click", function(){
                        $(this).prev().val("Quick Search");
                        $(this).parent().next().children().show();
                        return false;
                    });
                
                    $(".btn_file").live("click", function(){
                        if($(this).hasClass("guest")){
                            return false;
                        } else {
                            var id = $(this).attr("name");
                            var player = document.getElementById('controller').getElementsByTagName('object')[0];
                            player.chdocid(id);
                            $(".btn_file").parent().removeClass("playing");
                            $(".btn_video").parent().removeClass("playing");
                            $(this).parent().addClass("playing");
                        }
                    });
                
                    $(".btn_video").live("click", function(){
                        if($(this).hasClass("guest")){
                            return false;
                        } else {
                            var sid = $(this).attr("rel");
                            var sname = $(this).attr("title");
                            var player = document.getElementById('controller').getElementsByTagName('object')[0];
                            player.chvideo(sid,sname);
                            $(".btn_file").parent().removeClass("playing");
                            $(".btn_video").parent().removeClass("playing");
                            $(this).parent().addClass("playing");
                        }
                    });
                    
                    $(".file_dropdown").tooltip({ 
                        tip: '#fileactions_tip', 
                        position: 'bottom right', 
                        opacity: 1, offset: [0, -12], 
                        predelay: 400,
                        delay: 400,
                        events: { a: "click mouseover, mouseout", tooltip: "mouseover, blur mouseout"}, 
                        onBeforeShow: function() {
                            var mytrig = this.getTrigger();
                            mytrig.addClass("file_dropdown_show");
                            mytrig.parent().addClass("select");
                            var id = mytrig.next().attr("name");
                            var is_shared = mytrig.next();
                            var dl = mytrig.attr("href");
                            $(".file_download").attr("rel", dl);
                            if(is_shared.hasClass("shared")){
                                $(".file_share").hide();
                                $(".file_unshare").show();
                            } else {
                                $(".file_unshare").hide();
                                $(".file_share").show();
                            }
                            if(is_shared.hasClass("guest")){
                                $(".file_play").hide();
                                if(is_shared.hasClass("owner")){
                                    $(".file_unshare").show();
                                } else {
                                    $(".file_unshare").hide();
                                }
                            } else {
                                $(".file_play").show();
                            }
                            $(".file_play a").attr("rel", id);
                            },
                        onHide: function() {
                            $(".file_dropdown").removeClass("file_dropdown_show");
                            $(".video_dropdown").removeClass("file_dropdown_show");
                            $("#file_list div ul li").removeClass("select");
                            $(".file_download").removeAttr("rel");
                        }
                    });
                    
                    $(".video_dropdown").tooltip({ 
                        tip: '#fileactions_tip', 
                        position: 'bottom right', 
                        opacity: 1, offset: [0, -12], 
                        predelay: 400,
                        delay: 400,
                        events: { a: "click mouseover, mouseout", tooltip: "mouseover, blur mouseout"}, 
                        onBeforeShow: function() {
                            var mytrig = this.getTrigger();
                            mytrig.addClass("file_dropdown_show");
                            mytrig.parent().addClass("select");
                            var id = $(mytrig).next().attr("name");
                            var mytitle = $(mytrig).next().attr("rel");
                            var dl = $(mytrig).attr("href");
                            $(".file_download").attr("rel", dl);
                            var is_shared = mytrig.next();
                            if(is_shared.hasClass("shared")){
                                $(".file_share").hide();
                                $(".file_unshare").show();
                            } else {
                                $(".file_unshare").hide();
                                $(".file_share").show();
                            }
                            if(is_shared.hasClass("guest")){
                                $(".file_play").hide();
                                if(is_shared.hasClass("owner")){
                                    $(".file_unshare").show();
                                } else {
                                    $(".file_unshare").hide();
                                }
                            } else {
                                $(".file_play").show();
                            }
                            $(".file_play a").attr("rel", id);
                            $(".file_play a").attr("title", mytitle);
                        },
                        onHide: function() {
                            $(".video_dropdown").removeClass("file_dropdown_show");
                            $(".file_dropdown").removeClass("file_dropdown_show");
                            $("#file_list div ul li").removeClass("select");
                            $(".file_play a").removeAttr("rel");
                            $(".file_play a").removeAttr("title");
                            $(".file_download").removeAttr("rel");
                        }
                    });
                    
                    $(".file_dropdown").live("click", function(){
                        return false;
                    });
                    
                    $(".video_dropdown").live("click", function(){
                        return false;
                    });
                    
                    $(".btn_user").live("click", function(){
                        $(this).parent().toggleClass("select");
                        $(this).children(".user_dropdown").toggleClass("user_dropdown_show");
                        $(this).next(".viewer_actions").slideToggle();
                    });
                    
                    $(".file_play a").live("click", function(){
                        var sid = $(this).attr("rel");
                        var stitle = $(this).attr("title");
                        if(stitle != ""){
                            var player = document.getElementById('controller').getElementsByTagName('object')[0];
                            player.chvideo(sid,stitle);
                        } else {
                            var player = document.getElementById('controller').getElementsByTagName('object')[0];
                            player.chdocid(sid);
                        }
                        $(".btn_file").removeClass("playing");
                        $(".btn_video").removeClass("playing");
                        $(this).parent().addClass("playing");
                        return false;
                    });
                    
                    $(".file_copy a").live("click", function(){
                        alert("The click-to-copy feature doesn't work yet. But it will sooooon!");
                    });
                    
                    $(".file_download a").live("click", function(){
                        var dl = $(this).parent().attr("rel");
                        window.location = dl;
                        return false;
                    });
                    
                    $(".file_share a").live("click", function(){
                        $(this).parent().hide();
                        $(".file_saving").show();
                        var sid = $(".file_play a").attr("rel");
                        var stitle = $(".file_play a").attr("title");
                        $.post("{% url make_shared_file %}", { file_id: sid, conference: "{% ifequal conference "quickconference" %}{{ urlhash }}{% else %}{{ urlhash }}{% endifequal %}" },
                            function(data){
                               if(data == "ok"){
                                    $(".file_saving").hide();
                                    $(".file_unshare").show();
                                    $(".file_dropdown_show").addClass("shared");
                                    var player = document.getElementById('controller').getElementsByTagName('object')[0];
                                    player.sharedFilesUpdate();
                                } else {
                                    alert("Something went wrong. Please reload this page.");
                                    $(".file_saving").hide();
                                    $(".file_share").show();
                                }
                            });
                        return false;
                    });
                    
                    $(".file_unshare a").live("click", function(){
                        $(this).parent().hide();
                        $(".file_saving").show();
                        var sid = $(".file_play a").attr("rel");
                        var stitle = $(".file_play a").attr("title");
                        $.post("{% url remove_shared_file %}", { file_id: sid, conference: "{% ifequal conference "quickconference" %}0{% else %}{{ urlhash }}{% endifequal %}" },
                            function(data){
                                if(data == "ok"){
                                    $(".file_saving").hide();
                                    $(".file_share").show();
                                    $(".file_dropdown_show").removeClass("shared");
                                    var player = document.getElementById('controller').getElementsByTagName('object')[0];
                                    player.sharedFilesUpdate();
                                    $("#my_files div[name='"+sid+"']").removeClass("shared").prev().removeClass("shared");
                                } else {
                                    alert("Something went wrong. Please refresh the page.");
                                    $(".file_saving").hide();
                                    $(".file_unshare").show();
                                }
                            });
                        return false;
                    });
                    
                    $("#file_list").resizable({ handles: 's', minHeight: 50, maxHeight: 350, stop: function(event, ui) {
                            var doc_height = $("#smod_player").height();
                            var bh = $("#panel_actions").height();
                            var fh = $("#file_list").height();
                            var nh = ((doc_height - fh) - bh) - 214;
                            $("#viewers_list").height(nh);
                        }
                     });
                     
                    $("#viewers_list").resizable({ handles: 's', minHeight: 50 });
                    // $("#viewers_list").resizable({ handles: 'n', containment: 'document' });
                    
                    var doc_height = $("#smod_player").height();
                    var bh = $("#panel_actions").height();
                    var fh = $("#file_list").height();
                    var nh = ((doc_height - fh) - bh) - 260;
                    $("#viewers_list").height(nh);
                    
                    $(window).resize(function(){
                        var doc_height = $("#smod_player").height();
                        var bh = $("#panel_actions").height();
                        var fh = $("#file_list").height();
                        var nh = ((doc_height - fh) - bh) - 214;
                        $("#viewers_list").height(nh);
                    });
                    
                    $(".user_host a").live("click", function(){
                        var gid = $(this).parent().parent().parent().attr("rel");
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
                        player.setHost(gid)
                        return false;
                    });
                    
                    $(".user_cam_link").live("click", function(){
                        var gid = $(this).parent().parent().parent().attr("rel");
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
                        player.assignSeat(gid);
                        return false;
                    });
                    
                    $(".user_cam_qlink").live("click", function(){
                        var gid = $(this).parent().parent().attr("rel");
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
                        player.assignSeat(gid);
                        return false;
                    });
                    
                    $(".vid_seat_close").live("click", function(){
                        var username = $(this).parent().parent().parent().attr("id");
                        $("#video_seats").removeSeat(username);
                        return false;
                    });
                    
                    $(".user_ban a").live("click", function(){
                        var gid = $(this).parent().parent().parent().attr("rel");
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
                        // player.banUser(gid);
                        player.kickUser(gid);
                        return false;
                    });
                    
                    $(".user_chat a").live("click", function(){
                        var username = $(this).parent().parent().parent().attr("id");
                        $("#dialog_"+username).dialog('open');
                        return false;
                    });
                    
                    $(".cancel_request_host").live("click", function(){
                       var un = $(this).attr("rel");
                       var player = document.getElementById('controller').getElementsByTagName('object')[0];
                       {% ifequal host.username visitor %}
                       player.ignoreRequest(un);
                       {% else %}
                       player.unrequestToHost();
                       {% endifequal %}
                    });
                    
                    $(".accept_request_host").live("click", function(){
                       var gid = $(this).parent().attr("rel");
                       var un = $(this).attr("rel");
                       var player = document.getElementById('controller').getElementsByTagName('object')[0];
                       player.setHost(gid);
                       var my_id = "req_"+gid;
               	       $("li#"+my_id).remove();
                       var my_vis = $('#events_list').length;
                       if(my_vis < 1){
                           $('#events_panel').dialog('close');
                       } else {
                           var my_height = my_vis*36;
                   	       $('#events_panel').parent().height(my_height + 24);
                       }
                    });
        
                    $('#dialog').dialog({
                        autoOpen: false,
                        resizable: false
                    });
                    
                    $('#wizard_panel').dialog({
                        autoOpen: false,
                        width: 425,
                        height: 340,
                        title: 'Webcam and Microphone Setup Wizard',
                        resizable: false
                    });
                    
                    $('#events_panel').dialog({
                        autoOpen: false,
                        width: 325,
                        height: 80,
                        title: 'Pending Events',
                        resizable: false,
                        closeOnEscape: false,
                        position: ['right','top'],
                        dragStop: function(event, ui) { 
                            var my_vis = $('#events_list li').length;
                            var my_height = my_vis*36;
                    	    $('#events_panel').parent().height(my_height + 24);
                    	    return false;
                        }
                    });
                    
                    $('#video_seats').dialog({
                        autoOpen: false,
                        height: 166,
                        minHeight: 166,
                        width: "auto",
                        closeOnEscape: false,
                        dialogClass: "vidseatbox",
                        resizable: false,
        				position: [224,38]
                    });
                    
                    $('#call_options_host').dialog({
                        autoOpen: false,
                        width: 350,
                        height: 210,
                        title: 'Telephone Bridge Commands (HOST)',
                        resizable: false
                    });
                    
                    $('#call_options_guest').dialog({
                        autoOpen: false,
                        width: 300,
                        height: 160,
                        title: 'Telephone Bridge Commands (GUEST)',
                        resizable: false
                    });
                    
                    $("#phone_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false
                        },
                        closeOnClick: false 
                    }).load();
                    
                    $("#voip_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false
                        },
                        closeOnClick: false
                    }).load();
                    
                    $("#kick_user_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false,
                            closeOnEsc: false
                        },
                        closeOnClick: false,
                        closeOnEsc: false
                    }).load();
        
                    $("#host_not_present_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false
                        },
                        closeOnClick: false 
                    }).load();
        
                    $("#you_are_banned_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false,
                            closeOnEsc: false
                        },
                        closeOnClick: false,
                        closeOnEsc: false
                    }).load();
        
                    $("#owner_left_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false
                        },
                        closeOnClick: false 
                    }).load();
					
									                    
                    $("#trial_ended_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false,
                            closeOnEsc: false
                        },
                        closeOnClick: false,
                        closeOnEsc: false
                    }).load();            
                    
                    $("#netfetch_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false,
                            closeOnEsc: false
                        },
                        closeOnClick: false
                    }).load();
                    
                    $("#startDS").live("click", function(){
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
                        player.scrshare();
                        return false;
                    });
                    
                    $("#netfetch").live("click", function(){
                        $("#netfetch_notice").overlay({
                            expose: { 
                                color: '#090909', 
                                loadSpeed: 200, 
                                opacity: 0.9,
                                closeOnClick: false,
                                closeOnEsc: false
                            },
                            closeOnClick: false
                        }).load();
                        return false;
                    });
                    
                    $("#btn_netfetch").live("click", function(){
                       var num = $("#netfetch_number").val();
                       // need to insert some validation here
                       $.post('{% url netfetch_ajax %}', {conference_id: "{{ conference.id }}", nf_phone: num}, 
                            function(data) {
                            if(data == "fail"){
                                $("#netfetch_number").val("");
                                alert("There was a problem with your NetFetch. Please try again.");
                            } else {
                                $("#netfetch_number").val("");
                                alert("NetFetch was successful. Recipient will receive a phone call shortly.");
                            }
                        });
        
                    });
                    
                    $("#startMainCam").live("click", function(){
                        alert("The cam-to-stage feature doesn't work yet. But it will sooooon!");
                        return false;
                    });
                    
                    $("#startMuteAll").live("click", function(){
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
                        player.muteAudio(true);
                        $(this).hide();
                        $("#startUnMuteAll").show();
                        return false;
                    });
                    
                    $("#startUnMuteAll").live("click", function(){
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
                        player.muteAudio(false);
                        $(this).hide();
                        $("#startMuteAll").show();
                        return false;
                    });
                    
                    $("#startGoPhone").live("click", function(){
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
                        player.callMode(true);
                        return false;
                    });
                    
                  
                    
                    $("#hideGuests").live("click", function(){
                        $(this).hide();
                        $("#unhideGuests").show();
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
                        player.hideGuests(true);
                        return false;
                    });
                    
                    $("#unhideGuests").live("click", function(){
        				$(this).hide();
                        $("#hideGuests").show();
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
                        player.hideGuests(false);
                        return false;
                    });
                    
                    $("#goFullScreen").live("click", function(){
        				$(this).hide();
                        $("#removeFullScreen").show();
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
						var hostAv = document.getElementById('host_chat').getElementsByTagName('object')[0];
						//hostAv.disable();
                        player.hostFullScreen(true);
                        return false;
                    });
                    
                    $("#removeFullScreen").live("click", function(){
        				$(this).hide();
                        $("#goFullScreen").show();
                        var player = document.getElementById('controller').getElementsByTagName('object')[0];
                        player.hostFullScreen(false);
                        return false;
                    });
                    
                    $("#reqHost").live("click", function(){
                        var player = document.getElementById("controller").getElementsByTagName("object")[0];
                        player.requestToHost();
                        return false;
                    });
                    
                    $("#unReqHost").live("click", function(){
                       var player = document.getElementById("controller").getElementsByTagName("object")[0];
                       player.unrequestToHost();
                       return false;
                    });
                    
                    $("#startGuestCam").live("click", function(){
                        var player = document.getElementById("controller").getElementsByTagName("object")[0];
                        var guid = $(this).attr("rel");
                        player.assignSeat(guid);
                        return false;
                    });
                    
                    $("#stopGuestCam").live("click", function(){
                        var player = document.getElementById("controller").getElementsByTagName("object")[0];
                        var gid = $(this).attr("rel");
                        player.removeSeat(gid);
                        return false;
                    });
                    
                    $("#phoneCommandsHost").live("click", function(){
                        $('#call_options_host').dialog('open');
                        return false;
                    });
                    
                    $("#phoneCommandsGuest").live("click", function(){
                        $('#call_options_guest').dialog('open');
                        return false;
                    });
                    
                    $(".close_redirect").live("click", function(){
                        window.location.href = "http://netconference.com";
                        window.close();
                    });
                    
                    $("#my_files ul").show();
                
                });
        
                
    </script>
    <script type="text/javascript">
        var lf_ID = '100002563_A';
        function runJoan(){
            runLFOW();
        }
    </script>
    <script>
        function UpdateConferenceminutes(){
            $.get('/rest/updateminute/')
        }
    </script>
    <!--popup code-->
    <script type="text/javascript">
        function popupp(){
        
            //When you click on a link with class of poplight and the href starts with a # 
            //$('a.poplight[href^=#]').click(function() {
            var popID = 'popup1'; //Get Popup Name
            var popURL = '#?w=550' //Get Popup href to define size
            //Pull Query & Variables from href URL
            var query = popURL.split('?');
            var dim = query[1].split('&');
            var popWidth = dim[0].split('=')[1]; //Gets the first query string value
            //Fade in the Popup and add close button
            $('#' + popID).fadeIn().css({
                'width': Number(popWidth)
            }).prepend('<a href="#" class="close"><img src="{{ MEDIA_URL }}img/close_pop.png" class="btn_close close" title="Close Window" alt="Close" /></a>');
            
            //Define margin for center alignment (vertical + horizontal) - we add 80 to the height/width to accomodate for the padding + border width defined in the css
            var popMargTop = ($('#' + popID).height() - 300) / 2;
            var popMargLeft = ($('#' + popID).width() + 80) / 2;
            
            //Apply Margin to Popup
            $('#' + popID).css({
                'margin-top': -popMargTop,
                'margin-left': -popMargLeft
            });
            
            //Fade in Background
            $('body').append('<div id="fade"></div>'); //Add the fade layer to bottom of the body tag.
            $('#fade').css({
                'filter': 'alpha(opacity=80)'
            }).fadeIn(); //Fade in the fade layer 
            //return false;
            //});
            
			
			
            var remove_full_screen_overlay = function(){ //When clicking on the close or fade layer...
                $('#fade , .popup_block').fadeOut(function(){
                    $('#fade').remove();
                }); //fade them both out
                $("#removeFullScreen").hide();
				$("#goFullScreen").show();
                return false;
            }
			
			var remove_full_screen =function(){
				remove_full_screen_overlay();
				var player = document.getElementById("controller").getElementsByTagName("object")[0];
				player.hostFullScreen(false);
			}
            //Close Popups and Fade Layer
            //$('a.close, #fade').live('click', remove_full_screen_overlay);
			
			$("#fade, img.btn_close").click(remove_full_screen);
            
            
        };
        
        function makeHostFullScreen(){
            popupp()
        };
        
        //	<!--function removeHostFullScreen(){-->
        //	    <!--$('#fade , .popup_block').fadeOut(function() {-->
        //						<!--$('#fade, a.close').remove();  -->
        //						<!--};-->
        //	<!--};-->
        
        
        
    </script>
	<script type="text/javascript">
		
		{% if is_free %}
		$(function(){
			freeRoadblock();
			freeRoadblock();
		});
		{% endif %}
		$(function(){
			$(".guestvideos_holder").hide();
			
		})
	</script>
	
    </div>
</html>
					