{% load conference_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{{ conference.title }}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, projection" />
        <link type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
        {# <link rel="stylesheet" href="{{ MEDIA_URL }}css/jScrollPane.css" type="text/css" media="screen, projection" /> #}
        <style>
        body { font-size: 12px; background: black; color: #ddd; }
        a:hover { color: white; }
        </style>
    </head>
    <body>
        <div id="conf_wrapper">
            <div class="modal" id="login_notice" style="display:block;margin: 80px auto;overflow:auto;"> 
      	                 <div class="modallogo"></div><br/>
                <form action="." method="post" id="anonymous_form" name="anonymous_form">
                    <p style="margin-top:10px;">
                        <button id="btn_continue" type="submit" style="float:right;margin-top:17px;"> continue </button>
                       <label style=" line-height:18px;">Please pick a screen name.</label>
                        <input type="text" name="screen_name" value="" id="screen_name" style="border: 1px solid black;height:20px;width:218px;float:left;font-size:14px;padding: 4px 6px;" maxlength="12" />
                        <input type="hidden" name="anonymous" value="{{anonymous_token}}" id="anonymous_token" />
                        <br /><br /><br /><br /><br />
                        <p style="font-size:14px;color:#111;margin: 0px 30px 10px 0px;">Or, Log in:</p>
                         
                    </p>
                </form>
                <br /><br />
				
				<form action="/account/login/" method="post" id="anonymous_form" name="login_form">
					<input id="id_username" type="text" class="textfield_login" name="username" maxlength="30"  style="border: 1px solid black;height:20px;width:218px;float:left;font-size:14px;padding: 4px 6px;" maxlength="12" />
					<br />
					<br /> 
					<input id="id_password" type="password" class="textfield_login" name="password" style="border: 1px solid black;height:20px;width:218px;float:left;font-size:14px;padding: 4px 6px;" maxlength="12" />
					<input type="hidden" name="next" value="{{request.path}}" id="id_next" />
					<br />
					<p style="margin-top:4px; margin-bottom: 20px; margin-right: 10px; text-align:right; "><button id="btn_login"> Login </button> </p> 
				</form>
				
				
				

                <p class="small" style="color: #777;clear:left;margin-top:22px;">Screen name must be one word.</p>
            </div>

            <script src="{{ MEDIA_URL }}js/jquery.js" type="text/javascript"></script>
    		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
    		<script type="text/javascript">
    		    $(document).ready(function() {
    		        var notice = $("#login_notice").overlay({
                        expose: { 
                            color: '#090909', 
                            loadSpeed: 200, 
                            opacity: 0.9,
                            closeOnClick: false,
                            closeOnEsc: false
                        },
                        closeOnClick: false,
                        closeOnEsc: false
                    }).load(); 
                    notice.load();
                    
                    $("#btn_login").click(function(){
                        window.location.href = "{% url acct_login %}?next={{ conference.get_conference_url }}";
                    });
                    
                    
                    $("#anonymous_form").submit(function(){
                        var sn = $("#screen_name").val();
                        if(sn == ""){
                            alert("Please enter a screen name before you continue.");
                            return false;
                        }
                        var ck_username = /^\w+$/;
                        if(!ck_username.test(sn)) {
                          alert("You must enter a screen name with no spaces or special characters.");
                          return false;
                        }
                        
                    });
    		    });
    		</script>
        </div>
    </body>
</html>