{% load conference_tags %}

{% with shared_files as shared_files_list %}
{% for o in shared_files_list %}
    {% if o.file.page_count %}
    <li>
        <a href="{% if o.file.filename %}{{ o.file.get_download_url }}{% else %}#{% endif %}" class="file_dropdown" target="_blank"></a>
        <div class="btn_file shared{% ifequal o.file.user user %} owner{% endifequal %}" name="{{ o.file.id }}">
            <img src='{{ MEDIA_URL }}img/fileicons/file_{{ o.file.source_type }}.png' class='file_icon_sm' border='0' />&nbsp;
            <span class="file_title">{{ o.file.title|truncchar:24 }}</span>
        </div>
    </li>
    {% else %}
        {% ifequal o.file.current_type "mp3" %}
    <li>
        <a href="{% if o.file.filename %}{{ o.file.get_download_url }}{% else %}#{% endif %}" class="video_dropdown"></a>
        <div class="btn_video shared{% ifequal o.file.user user %} owner{% endifequal %}" name="{{ o.file.id }}" rel="{{ o.file.uuid }}.mp3" title="{{ o.file.title }}">
            <img src='{{ MEDIA_URL }}img/fileicons/file_mp3.png' class='file_icon_sm' border='0' />&nbsp;
            <span class="file_title">{{ o.file.title|truncchar:24 }}</span>
        </div>
    </li>
        {% else %}
    <li>
        <a href="{% if o.file.filename %}{{ o.file.get_download_url }}{% else %}#{% endif %}" class="video_dropdown"></a>
        <div class="btn_video shared{% ifequal o.file.user user %} owner{% endifequal %}" name="{{ o.file.id }}" rel="{{ o.file.uuid }}" title="{{ o.file.title }}">
            <img src='{{ MEDIA_URL }}img/fileicons/file_mp4.png' class='file_icon_sm' border='0' />&nbsp;
            <span class="file_title">{{ o.file.title|truncchar:24 }}</span>
        </div>
    </li>
        {% endifequal %}
    {% endif %}
{% endfor %}
{% endwith %}