{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Redeem 60 day coupon" %}{% endblock %}

{% block content950top %}
{% endblock %}

{% block body %}

<div id="content_container">

 <h1 style="text-align:center;color:#a12ec1;">{% blocktrans %}Thank you for meeting us at CES.<br />Please redeem your 60 day trial account here.{% endblocktrans %}</h1>
 <img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="900px" alt="Separator Line" />

 <div align="center" style="margin-top:25px;">
   <form action="" method="post">
     {{ form.as_p }}
     <br />
     <p><input type="submit" value="{% trans "Redeem promo code" %}" class="buttonPurple" style="font-size:20px;" /></p>
   </form>
 </div>

{% endblock %}

{% block content950bot %}
{% endblock %}
