{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        <p class="error" class="form_note"><img src="{{ MEDIA_URL }}img/silk/exclamation.png" border="0" /> &nbsp;<span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
    {% else %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
        {% url acct_signup as signup_url %}
        {# <p class="form_note">{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>!{% endblocktrans %}</p> #}
        {% endifsetting %}
    {% endif %}<br/>
    <h1 class="uni_form_header">{% trans "Log In" %}</h1>
    <form class="login uniForm" method="POST" action="">
        <fieldset class="inlineLabels">
            {{ form|as_uni_form }}
            <hr style="visibility:hidden;margin-bottom:0.2em;" /><br />
            <div class="form_block" style="float:right;">
                <a href="{% url acct_passwd_reset %}" class="button" style="font-size:10px;">{% trans "Forgot password?" %}</a>
            </div>
            <div class="form_block" style="clear:left;">
                <button class="positive" type="submit">{% trans "Log in" %} <img src="{{ MEDIA_URL }}img/silk/bullet_go.png" border="0" alt="log in" /></button>
            </div>
            <br />
        </fieldset>
    </form>
    {% comment %}
    {% if not openid %}
        <h1 class="uni_form_header"><img src="{{ MEDIA_URL }}img/openid-icon.png" border="0" /> {% trans "Or sign in with your OpenID" %}:</h1>
        {# @@@ why isn't this just does as a form object ? #}
        <form class="login uniForm" action="/openid/register/" method="POST">
            <fieldset class="inlineLabels">
                <div class="ctrlHolder">
                    <label for="id_username">* OpenID Identifier</label>
                    <input class="openid" type="text" name="openid_url">
                </div>
                <div class="form_block">
                    <button class="positive" type="submit"><img src="{{ MEDIA_URL }}img/openid-icon.png" border="0" /> {% trans "Log in with OpenID" %} <img src="{{ MEDIA_URL }}img/silk/bullet_go.png" border="0" alt="log in" /></button>
                </div>
            </fieldset>
        </form>
    {% endif %}
    {% endcomment %}
    <p class="form_note">{% blocktrans %}If you have any trouble logging in to your account, please {% endblocktrans %}<a href="{% url contact %}">{% trans "let us know" %}</a>.</p>

{% endblock %}

{% block extra_body %}
<script>
    $("#id_username").focus();
</script>
{% endblock %}