{% extends "new_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block content %}
    <h3>{% trans "You've been logged out. Please wait as we are redirecting you..." %}</h3>
{% endblock %}

{% block extrafooterscript %}
 <script type="text/javascript">
    $.post("{% url acct_logout %}", {}, function(data, textStatus) { 
      window.location = "{% url home %}";
    });
 </script>
{% endblock %}
