{% extends "newer_base.html" %}
    {% block content %}
  	<div id="contentpage">
		<div id="nc_reset_password">
			<img src="{{MEDIA_URL}}images/reset_password.png" width="180" height="25" alt="" />
			<p>A new password has been sent to <a href="mailto:{{email}}" class="purple" style="text-decoration:none;">{{email}}</a>. If you do not receive it within a few minutes, <a href="{% url contact %}">contact us</a>.<br />
When you receive the new password, you should <a href="{% url acct_login %}" class="purple">log in</a> and change it as soon as possible.<br /><br /></p>
            
        </div>
    <div class="clear"></div>
    </div><!--CONTENT ENDS-->
    {% endblock %}
