{% extends "newer_base.html" %}
    {% block content %}
  	<div id="contentpage">
		<div id="nc_change_password">
			<img src="{{MEDIA_URL}}images/password_change.png" width="216" height="33" alt="" /><br /><br /><br />
			{% if success %}
			    <p>Your password has successfully been changed</p>
			{% else %}
			<form name="changePassword" method="post" action="">
			<p style="display:none;">{{form.temp_key}}</p>
			{% if form.temp_key.errors %}
			<p style="">{{form.temp_key.errors.0}}</p>
			{% endif %}
			<p style="margin-right:-25px;">New Password:<strong><sup class="purple">*</sup></strong> 
			    {{form.password1}}
			</p>
			{% if form.password1.errors %}
                <span class="require" style="margin-left: 155px; margin-top:25px;">{{form.password1.errors.0}}.</span>
			{% endif %}
            <p>Confirm Password:<strong><sup class="purple">*</sup></strong>
                {{form.password2}}
            </p>
			{% if form.password2.errors %}
                <span class="require" style="margin-left: 155px; margin-top:25px;">{{form.password2.errors.0}}.</span>
			{% endif %}
			<p>
			    <a href="javascript:document.changePassword.submit();" class="bigbuttonGreen">Change Password</a>
			</p>
			</form>
			{% endif %}
        </div>
    <div class="clear"></div>
    </div>
    {% endblock %}
