<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NetConference</title>
<body>
<div style="width:600px; font: normal 12px Arial, Helvetica, sans-serif; margin: 0 auto; float: none; background-color: #2C0E41; padding: 30px 20px;">
	<div style="width: 520px; display:block; float:none; margin: 0 auto; padding: 10px 20px; background-color:#FFF; border-radius: 10px; border:1px solid #EDEDED; box-shadow: 1px 1px 4px 4px #AA9FB1; line-height: 25px; color:#595959;">
	<div style="float:left; padding-bottom: 10px;"><img src="http://www.netconference.com/site_media/images/netconference.png" width="265" height="58" alt="NetConference" /></div>
    <p align="right"><img src="http://www.netconference.com/site_media/images/password_reset.png" width="178" height="24" alt="" /></p>
    <p><img src="http://www.netconference.com/site_media/images/devider_line.png" width="433" height="2" alt="" /></p>
    <p>Dear {{username}},</p>
    <p>To reset your NetConference password, simply click the link below. That will take you to a web page where you can create a new password.</p>
    <p>Please note that the link will expire three hours after this email was sent.</p>
    {% url acct_passwd_reset_key temp_key as password_reset_url %}
    <p style="padding-bottom:20px;"><a href="http://{{domain}}{{password_reset_url}}" style="color: #750998; text-decoration: none;">Reset your NetConference password &gt;</a></p>
    <p><img src="http://www.netconference.com/site_media/images/devider_line.png" width="433" height="2" alt="" /></p>
    <p> <br />
      Questions? There are lots of answers on our <a href="http://support.netconference.com" style="color: #750998; text-decoration: none;">NetConference support page &gt;</a></p>
    <p>If you weren't trying to reset your password, don't worry — your account is still secure and no one has been given access to it. Most likely, someone just mistyped their email address while trying to reset their own password.</p><br />
    <p>Thanks,<br />
      NetConference Customer Support</p><br />
    
    	<div style="font-size: 11px; line-height:10px; color: #8C8C8C;">
    	  <em>Copyright &copy; 2012 NxtGen TV, All rights reserved. </em>
    	  <p><a href="http://www.netconference.com/about/terms" style="color: #750998; text-decoration: underline;">Terms of Use</a> / <a href="http://www.netconference.com/about/privacy/" style="color: #750998; text-decoration: underline;">Privacy Policy</a> / <a href="http://www.netconference.com/contact/" style="color: #750998; text-decoration: underline;">Contact Us</a></p>
    	</div>
	</div>
<div style="clear:both"></div>
</div>
</body>
</html>
