{% extends "newer_base.html" %}
    {% block content %}
    <!--CONTENT STARTS-->
  	<div id="contentpage">
		<div id="nc_password_page">
			<img src="{{MEDIA_URL}}images/forgot_password.png" width="269" height="33" alt="" /><br/>
            <form method="post" action=".">
			<p>Enter your e-mail address below. We will send you a link where you can reset your password.</p>
            {% if password_reset_form.email.errors %}
                {{password_reset_form.email.errors}}
            {% endif %}
            <p>E-mail address {{password_reset_form.email}} <input type="submit" value="Submit" class="purple_submit_button" /></p>
            </form>
        </div>
    <div class="clear"></div>
    </div><!--CONTENT ENDS-->
    {% endblock %}
