{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_head_base %}
<style type="text/css" media="screen">
  #id_temp_key { display:none; }
  #div_id_password1,#div_id_password2,#div_id_temp_key { border: 0px; }
</style>
{% endblock %}

{% block body %}
    <div style="text-align:center;">
      {% if success %}<h3 style="color:green;">{% trans "Password has been successfully changed." %}</h3>{% endif %}
    
    {{ initial }}
    {% if form %}
      <h1 class="uni_form_header">{% trans "Change Password" %}</h1>
        <form method="POST" action="" class="uniForm">
            <fieldset class="inlineLabels" style="margin:5px;">
                {{ form|as_uni_form }}
            </fieldset>
            <p><input type="submit" name="action" class="buttonGreen" value="{% trans "Change Password" %}"/></p>
        </form>
    {% else %}
        {% trans "Your password has successfully been changed." %}
    {% endif %}
   </div>
{% endblock %}
