{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
<style>
#id_email {
  width:450px;
}
</style>
{% endblock %}


{% block subnav %}
    {% if user.is_authenticated %}
    	<ul class="subnav">
            <li><a href="{% url acct_email %}">{% trans "E-Mail Addresses" %}</a></li>
            {# <li><a href="/openid/associations/">{% trans "OpenID Associations" %}</a></li> #}
            {% if user.password %}
            <li class="current"><a href="{% url acct_passwd %}">{% trans "Change Password" %}</a></li>
            {% else %}
            <li class="current"><a href="{% url acct_passwd_set %}">{% trans "Set Password" %}</a></li>
            {% endif %}
            {% if user.password and request.openids %}
            <li><a href="{% url acct_passwd_delete %}">{% trans "Delete Password" %}</a></li>
            {% endif %}
            <li><a href="{% url acct_language_change %}">{% trans "Language" %}</a></li>
            <li><a href="{% url acct_timezone_change %}">{% trans "Time Zone" %}</a></li>
            <li><a href="{% url avatar_change %}">{% trans "Picture" %}</a></li>
            <li><a href="{% url subscription_personal %}">{% trans "Subscription" %}</a></li>
        </ul>
    {% else %}
        &nbsp; {# need this to give subnav some height when empty #}
    {% endif %}
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <p class="error" style="width:580px;margin-left:20%;"><img src="{{ MEDIA_URL }}img/silk/exclamation.png" border="0" /> &nbsp;<span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
    {% endif %}
    <div style="text-align:center;display:block;">
      <h1 style="margin:0px auto;text-align:center;display:block;">{% trans "Forgotten your password?" %}</h1>
      <h3>{% trans "Enter your e-mail address below. We'll reset your password &amp; e-mail you a new one." %}</h3>
      <h1 class="uni_form_header" style="padding: 5px 0px;border:1px;text-align:center;display:block;margin:0px auto;">{% trans "Password Reset" %}</h1>    
      <form method="POST" action="">
        <fieldset class="inlineLabels" style="margin:0px 0px 0px 0px;padding:20px 0px;">
            {{ password_reset_form|as_uni_form }}
	<p style="margin-top:10px;"><input type="submit" value="{% trans "Reset my password" %}" class="buttonGreen" /></p>
        </fieldset>
      </form>{% url contact as contact_url %}
    <p>{% blocktrans with contact_url as contact_url %}Please <a href="{{ contact_url }}">contact us</a> if you are having trouble resetting your password.{% endblocktrans %}</p>      
    </div>
{% endblock %}

{% block extra_jquery %}
    $("#id_email").focus();
{% endblock %}
