{% extends "new_base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Signup (all fields are required)" %}{% endblock %}

{% block content %}
<!--CONTENT STARTS -->
  <div id="content_page">
    <div class="leftpanel">
      <div class="top">{% trans "You are just seconds away from your new NetConference account!" %}</div>
      <div class="mid">
          {% if settings.PAYPAL_TEST %}
          {{ form.sandbox }}
          {% else %}
          {{ form.render }}
          {% endif %}
      </div>
      <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="{{ MEDIA_URL }}new/images/thanks_message.png" width="259" height="169" alt="Thanks for choosing NetConference" />
        <div class="message_rpanel">{% blocktrans %}Blow right through your daily <br/>
            business objectives using your <br/>
            virtual office in the cloud{% endblocktrans %}</div>
        <div class="message_rpanel">
            {% blocktrans %}<h2>Thousands of</h2>
            new users sign up every week{% endblocktrans %}</div>
        <div class="message_rpanel">
            {% blocktrans %}<h2>Secure and Reliable</h2>
            Your data is backed up daily{% endblocktrans %}</div>
        <div class="message_rpanel">
            {% blocktrans %}<h2>Great Customer Service</h2>
            Fast, accurate, and friendly help{% endblocktrans %}</div>
        <img src="{{ MEDIA_URL }}new/images/arrow_indicator.png" width="101" height="66" alt="Arrow" class="left_fl" style="margin-top:50px;" />
        <div class="clear"></div>
        <div class="message_rpanel">
           {% blocktrans %} <h2>30-day FREE Trial</h2>
            You won't be billed unless you <br/>
            keep your account open past <br/>
            your 30-day free trial.{% endblocktrans %}<br/>
            <br/>
            <p class="smalltext">{% blocktrans %}We need your billing information to reduce 
            fraud and verify you have a valid credit card 
            should you keep your account open. 
            This prevents any interruption in service{% endblocktrans %}</p>
        </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!--CONTENT ENDS --> 
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" charset="utf-8">
    $("#id_credit_card_type").change(function() {
            var toggle_rows = $(".toggle");
            if ($(this).val() == "PayPal") {
                toggle_rows.hide();
            }
            else {
                toggle_rows.show();
            }
    });
</script>
{% endblock %}
