{% extends "newer_base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Signup (all fields are required)" %}{% endblock %}

{% block content %}
<!--CONTENT STARTS -->

  <div id="content_page">
    <div class="leftpanel">
      <div class="top">{% trans "You are just seconds away from your new NetConference account!" %}</div>
      <div class="mid">
        <h3 class="green_text"><img src="{{ MEDIA_URL }}new/images/one_icon.png" width="25" height="26" alt="One" class="left_fl" />&nbsp;{% trans "Create Your NetConference Account" %}</h3>
        <div></div>
		<form method="POST" action="{{ post_url }}">
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td colspan="2" align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
          </tr>
	  {% if form.non_field_errors %}
	  <tr>
	    <td colspan="2" align="left" valign="middle">
	      {{ form.non_field_errors }}
	    </td>
	  </tr>
	  {% endif %}
          {% if credit_card_failed %}
          <tr><td colspan="2">{% for msg in credit_card_failed %}<p class="errorlist">{{ msg }}</p>{% endfor %}</td></tr>
          {% endif %}
	  {% if form.signup_code.errors %}
	  <tr>
	    <td colspan="2" align="left" valign="middle">
	      {{ form.signup_code.errors }}
	    </td>
	  </tr>
	  {% endif %}
          <tr>
            <td width="150" align="left" valign="middle">
            	{{ form.first_name.label }}
	    </td>
            <td align="left" valign="middle">
            	{% if form.first_name.errors  %}
		  {{ form.first_name.errors }}
		{% endif %}
            	{{ form.first_name }}
	    </td>
          </tr>
          <tr>
            <td align="left" valign="middle">{% trans "Last Name:" %}</td>
            <td align="left" valign="middle">
            	{% if form.last_name.errors  %}
		  {{ form.last_name.errors }}
		{% endif %}
            	{{ form.last_name }}
	    </td>
          </tr>
          <tr>
            <td align="left" valign="middle">{% trans "Email" %}:</td>
            <td align="left" valign="middle">
              {% if form.email.errors  %}
	        {{ form.email.errors }}
	      {% endif %}
              {{ form.email }}
	    </td>
          </tr>
	  <tr>
            <td align="left" valign="middle">{% trans "Phone:" %}</td>
            <td align="left" valign="middle">
            	{% if form.phone_number.errors  %}
		  {{ form.phone_number.errors }}
		{% endif %}
            	{{ form.phone_number }}
	    </td>
          </tr>
          <tr>
            <td align="left" valign="middle">{% trans "Company:" %}</td>
            <td align="left" valign="middle">
            	{% if form.company.errors  %}
		  {{ form.company.errors }}
		{% endif %}
            	{{ form.company }}
	    </td>
          </tr>
          <tr>
                <td align="left" valign="middle">{% trans "Address:" %}</td>
                <td align="left" valign="middle">
                    {% if form.address.errors  %}
                    {{ form.address.errors }}
                    {% endif %}
                    {{form.address}}
                </td>
          </tr>
          <tr>
                <td align="left" valign="middle">{% trans "City:" %}</td>
                <td align="left" valign="middle">
                    {% if form.city.errors  %}
                    {{ form.city.errors }}
                    {% endif %}
                    {{form.city}}
                </td>
          </tr>
          <tr>
                <td align="left" valign="middle">{% trans "Country:" %}</td>
                <td align="left" valign="middle">
                    {% if form.country.errors  %}
                    {{ form.country.errors }}
                    {% endif %}
                    {{form.country}}
                </td>
          </tr>
          <tr id="id_usa_state">
                <td align="left" valign="middle">{% trans "State:" %}</td>
                <td align="left" valign="middle">
                    {% if form.state.errors  %}
                    {{ form.state.errors }}
                    {% endif %}
                    {{form.state}}
                </td>
          </tr>
          <!--<tr>
                <td align="left" valign="middle">{% trans "Postal Code:" %}</td>
                <td align="left" valign="middle">
                    {% if form.postal_code.errors  %}
                    {{ form.postal_code.errors }}
                    {% endif %}
                    {{form.postal_code}}
                </td>
          </tr>-->
        </table>
        <br/>
        <h3 class="green_text"><img src="{{ MEDIA_URL }}new/images/two_icon.png" width="25" height="26" alt="Two" class="left_fl"  />&nbsp;{% trans "Choose a Username and Password" %}</h3>
        <div></div>
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td colspan="2" align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
          </tr>
          <tr>
            <td width="150" align="left" valign="middle">{% trans "Username:" %}</td>
            <td align="left" valign="middle">
	        {% if form.username.errors  %}
		  {{ form.username.errors }}
		{% endif %}
            	{{ form.username }}
	    </td>
          </tr>
          <tr>
            <td align="left" valign="middle">{% trans "Password:" %}</td>
            <td align="left" valign="middle">
            	{% if form.password1.errors  %}
		  {{ form.password1.errors }}
		{% endif %}
            	{{ form.password1 }}
	    </td>
          </tr>
          <tr>
            <td align="left" valign="middle">{% trans "Re-enter Password:" %}</td>
            <td align="left" valign="middle">
	      {% if form.password2.errors  %}
	        {{ form.password2.errors }}
	      {% endif %}
              {{ form.password2 }}
	    </td>
          </tr>
        </table>
        <br/>
	{% if show_cc_form %}
        <h3 class="green_text"><img src="{{ MEDIA_URL }}new/images/three_icon.png" width="25" height="26" alt="Three"  class="left_fl" />&nbsp;{% trans "Enter Your Billing Information - SECURE" %}</h3>
        <div></div>
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td colspan="2" align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
          </tr>
          <tr>
            <td width="150" align="left" valign="middle">{% trans "Payment Method:" %}</td>
            <td align="left" valign="middle">
            	{{ form.credit_card_type }}
		<img src="{{ MEDIA_URL }}new/images/icons.png" width="193" height="23" alt="card Icons" style="vertical-align:middle;" />
	    </td>
          </tr>
          <tr class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
            <td align="left" valign="middle">{% trans "Card Number:" %}</td>
            <td align="left" valign="middle">
            	{% if form.credit_card_number.errors  %}
					{{ form.credit_card_number.errors }}
				{% endif %}
            	{{ form.credit_card_number }}
			</td>
          </tr>
          <tr class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
            <td align="left" valign="middle">{% trans "Expires on:" %}</td>
            <td align="left" valign="middle">
            	{{ form.credit_card_expire_month }}
				{{ form.credit_card_expire_year }}
              </td>
          </tr>
          <tr class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
            <td align="left" valign="middle">{% trans "CVV" %}</td>
            <td align="left" valign="middle">
            	{% if form.credit_card_cvv.errors  %}
					{{ form.credit_card_cvv.errors }}
				{% endif %}
            	{{ form.credit_card_cvv }}
            </td>
          </tr>
        </table>
	{% endif %}
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
          </tr>
          <tr>
            <td align="left" valign="middle">
	      {% if show_cc_form %}
            {% if trial_till %}
	      <p>Your <span class="purple_text">{% if request.session.has_60_coupon %}{% trans "60-day free trial" %}{% else %}{{subs.trial_period}}-{{subs.get_trial_unit_display }} free trial{% endif %}</span> {% trans "lasts until midnight on" %} <span class="purple_text">{{ trial_till|date:"F j, Y" }}</span> {% blocktrans with subs.price as price and subs.get_recurrence_unit_display as recurrence%}
		  If you don't want to continue using NetConference, just cancel before the trial ends and you won't be charged (we'll email you 5 days before the trial ends to remind you). Otherwise, you'll pay just ${{price}}/{{recurrence}} for the service as long as your account is open. 
You can upgrade, downgrade, or cancel any time.{% endblocktrans %}</p>
              <p>&nbsp;</p>
            {% endif %}
	      {% endif %}
              <p>{% trans "By clicking Create my account you agree to the" %} <span class="blue_text"><a href="{% url terms %}" class="blue_text">{% trans "Terms of Service" %}</a></span>, <span class="blue_text"><a href="{% url privacy %}" class="blue_text">{% trans "Privacy" %}</a></span>, {% trans "and" %}<span class="blue_text"> <a href="#" class="blue_text">{% trans "Refund policies" %}</a></span>. </p>
              <p><br />
              </p>
	      <p>{{ form.signup_code }}</p>
              <input type="submit" name="button" id="button" value="{% trans "Create My Account" %}" class="buttonGreen" style="float:right;" /></td>
          </tr>
        </table>
		</form>
      </div>
      <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="{{ MEDIA_URL }}new/images/thanks_message.png" width="259" height="169" alt="{% trans "Thanks for choosing NetConference" %}" />
      <div class="message_rpanel">{% blocktrans %}Blow right through your daily <br/>
        business objectives using your <br/>
        virtual office in the cloud{% endblocktrans %}</div>
      <div class="message_rpanel">
        {% blocktrans %}<h2>Thousands of</h2>
        new users sign up every week{% endblocktrans %}</div>
      <div class="message_rpanel">
        {% blocktrans %}<h2>Secure and Reliable</h2>
        Your data is backed up daily{% endblocktrans %}</div>
      <div class="message_rpanel">
        {% blocktrans %}<h2>Great Customer Service</h2>
        Fast, accurate, and friendly help{% endblocktrans %}</div>
	{% if show_cc_form %}
      <img src="{{ MEDIA_URL }}new/images/arrow_indicator.png" width="101" height="66" alt="Arrow" class="left_fl" style="margin-top:50px;" />
      <div class="clear"></div>
      <div class="message_rpanel">
        <h2>{% if request.session.has_60_coupon %}{% trans "60-day FREE Trial" %}{% else %}{% trans "30-day FREE Trial" %}{% endif %}</h2>
	{% blocktrans %}    
	You won't be billed unless you <br/>
        keep your account open past <br/>
        your {% endblocktrans %}{% if request.session.has_60_coupon %}{% trans "60-day free trial" %}{% else %}{% trans "30-day free trial" %}{% endif %}<br/>
	<br/>
        <p class="smalltext">
	  {% blocktrans %}
	  We need your billing information to reduce
          fraud and verify you have a valid credit card
          should you keep your account open.
          This prevents any interruption in service
	  {% endblocktrans %}
	</p>
      </div>
	{% endif %}
    </div>

  <div class="clear"></div>

<!--CONTENT ENDS -->
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" charset="utf-8">
	country = $("#id_country").val();
	var state = $("#id_usa_state");
	if(country == "USA"){
		state.show();
	} else {
		state.hide();
	}
    $("#id_country").change(function(){
            var state = $("#id_usa_state");
            if ($(this).val() == "USA"){
                state.show();
            }
            else {
                state.hide();
            }
    })
    $("#id_credit_card_type").change(function() {
            var toggle_rows = $(".toggle");
            if ($(this).val() == "PayPal") {
                toggle_rows.hide();
            }
            else {
                toggle_rows.show();
            }
    });
</script>
{% endblock %}
