{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Time Zone" %}{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
    	<ul class="subnav">
            <li><a href="{% url acct_email %}">{% trans "E-Mail Addresses" %}</a></li>
            {# <li><a href="/openid/associations/">{% trans "OpenID Associations" %}</a></li> #}
            {% if user.password %}
            <li><a href="{% url acct_passwd %}">{% trans "Change Password" %}</a></li>
            {% else %}
            <li><a href="{% url acct_passwd_set %}">{% trans "Set Password" %}</a></li>
            {% endif %}
            {% if user.password and request.openids %}
            <li><a href="{% url acct_passwd_delete %}">{% trans "Delete Password" %}</a></li>
            {% endif %}
            <li><a href="{% url acct_language_change %}">{% trans "Language" %}</a></li>
            <li class="current"><a href="{% url acct_timezone_change %}">{% trans "Time Zone" %}</a></li>
            <li><a href="{% url avatar_change %}">{% trans "Picture" %}</a></li>
            <li><a href="{% url subscription_personal %}">{% trans "Subscription" %}</a></li>
        </ul>
    {% else %}
        &nbsp; {# need this to give subnav some height when empty #}
    {% endif %}
{% endblock %}

{% block body %}    
    <p class="form_note">{% trans "This site can localize all times into your preferred timezone. Change your timezone below." %}</p>
    <h1 class="uni_form_header">{% trans "Time Zone" %}</h1>
    <form method="POST" action="" class="uniForm">
        <fieldset class="inlineLabels">
            {{ form|as_uni_form }}
            <div class="form_block">
                <button type="submit"><img src="{{ MEDIA_URL }}img/silk/time.png" border="0" alt="edit time zone" /> &nbsp;{% trans "Change timezone" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
