@charset "utf-8";
/* CSS Document */

body{background:url(../images/submenu_bg.jpg) repeat-x; font:Arial, Helvetica, sans-serif;}
#main_container{width:945px; display:block; margin:0px auto;}



/**************************************/
/*              HOMEPAGE              */
/**************************************/
#header_container{width:945px; display:block; margin:0px auto;}
#topnavi_container{width:945px; display:block; margin:0px auto;}
#submenu_container{width:945px; display:block; margin:0px auto;  height:35px;}
#submenu_container a{ font:12px Arial, Helvetica, sans-serif; color:#FFF; line-height:35px; text-decoration:none;} 
#submenu_container a:hover{ font:12px Arial, Helvetica, sans-serif; color:#CA5FED; line-height:35px; text-decoration:none;} 
#flashbanner_container{width:945px; display:block; margin:0px auto;}
#intro_content{width:945px; display:block; margin:0px auto; height:100px; background:url(../images/flashbanner_shadow.gif) center top no-repeat; padding:30px 0px 0px 0px; }
#slides_container{width:945px; clear:both; display:block;  padding-top:15px;}
#header_container #logo{width:276px; height:51px; float:left; margin-right:10px;}
#header_container #top_navi{ width:490px; float:left; height:31px; margin-top:20px;}
#header_container #top_navi a{ font:15px Arial, Helvetica, sans-serif; color:#888888; text-decoration:none; padding:0px 10px 0px 10px;}
#header_container #top_navi a:hover{ font:15px Arial, Helvetica, sans-serif; color:#86CD03; text-decoration:none;}
#header_container #account_details{ width:159px; float:left; height:51px; margin-left:10px; text-align:right;}
#settings{ font:11px Arial, Helvetica, sans-serif; color:#888888; margin-top:6px; }
#settings a{ font:11px Arial, Helvetica, sans-serif; color:#888888; text-decoration:none; padding:0px 0px 0px 10px;}
#settings a:hover{ font:11px Arial, Helvetica, sans-serif; color:#86CD03; text-decoration:none;}
#login{ font:14px Arial, Helvetica, sans-serif; color:#888888;  margin-top:2px; }
#login a{ font:14px Arial, Helvetica, sans-serif; color:#888888; text-decoration:none; }
#login a:hover{ font:14px Arial, Helvetica, sans-serif; color:#86CD03; text-decoration:none;}
#intro_content #left_block{width:707px; display:block; float:left; font:27px Arial, Helvetica, sans-serif; color:#4B4B4B; text-align:center;}
#intro_content #right_block{width:228px; display:block; float:right;}
.free_trial_but{ width:228px; height:48px; background:url(../images/free_trial_but.png) no-repeat;}
.free_trial_but:hover{ width:228px; height:48px; background:url(../images/free_trial_but.png) 0px -48px no-repeat;}
.watch_video_but{ width:228px; height:48px; background:url(../images/watch_video_but.png) no-repeat; margin-top:5px; }
.watch_video_but:hover{ width:228px; height:48px; background:url(../images/watch_video_but.png) 0px -48px no-repeat;}
.slide_holder{width:229px; height:322px; float:left; display:block; background:url(../images/slide_background.png) no-repeat; margin-right:9px;}
.slide_holder_nomargin{width:229px; height:322px; float:left; display:block; background:url(../images/slide_background.png) no-repeat; }
.slide_holder h1{ font:bold 18px Arial, Helvetica, sans-serif; color:#78099C; text-align:center; padding:25px 10px 20px 10px; }
.slide_holder p{ font:12px Arial, Helvetica, sans-serif; color:#737373; text-align:left; padding:15px 20px 5px 20px; height:100px; }
.slide_holder .icon{ width:170px; margin:0px auto; text-align:center;}
.slide_holder_nomargin h1{ font:bold 18px Arial, Helvetica, sans-serif; color:#78099C; text-align:center; padding:25px 10px 20px 10px; }
.slide_holder_nomargin p{ font:12px Arial, Helvetica, sans-serif; color:#737373; text-align:left; padding:15px 20px 5px 20px; height:100px; line-height:14px; }
.slide_holder_nomargin .icon{ width:170px; margin:0px auto; text-align:center;}
#content_container{ clear:both; width:945px; display:block; margin:0px auto; margin-top:42px;}
#content_container .left_panel{width:238px; float:left; font:18px Arial, Helvetica, sans-serif; color:#595959;}
#content_container .mid_panel{width:467px; float:left;}
#content_container .right_panel{width:239px; float:left; font:18px Arial, Helvetica, sans-serif; color:#595959;}
.gtalk_banner{width:238px; height:238px; display:block; background:url(../images/gtalk_banner.gif) no-repeat; margin-top:10px;}


.purp_quote{color: #536895; font-size: 13px; font-weight:bold;  }

.clear{clear:both;}
.blue_introtext{color:#536895; text-decoration:none;}
.blue_introtext:hover{color:#78099C; text-decoration:none;}
.quotes{ font:14px Arial, Helvetica, sans-serif; text-align:center; color:#4B4B4B; margin:25px 15px 0px 15px; }
.quotes p{line-height:18px;}