@charset "utf-8";
/* CSS Document */


 a {font-family:Arial, Helvetica, sans-serif, sans-serif; color: #5d9335; font-size: 12px;}
			a:link {text-decoration: none; color: #5d9335;}
			a:visited {text-decoration: none; color:#5d9335; }
			a:hover {text-decoration: none; color: #525252;}
			a:active {text-decoration: none; color: #5d9335;}

.txt1{font-family:  Arial, Helvetica, sans-serif; font-size:16px;font-weight:bold;font-style:normal;color:#1f6fae;line-height:20px;}
.txt2{font-family:  Arial, Helvetica, sans-serif; font-size:17px;font-weight:bolder;color:#1f6fae;line-height:20px;}
.txt3{font-family:  Arial, Helvetica, sans-serif; font-size:14px;color:#4e4e4ef;line-height:20px;}
.txt4{font-family:  Arial, Helvetica, sans-serif; font-size:12px;font-weight:normal;color:#4e4e4ef;line-height:20px;}
.txt5{font-family:  Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#438217;line-height:20px; float:right;}

.txt6{font-family:  Arial, Helvetica, sans-serif; font-size:12px;font-weight:bold;font-style:normal;color:#525252;line-height:20px;}
