@charset "utf-8";
/* CSS Document */

.friends_button .bt_accept{float:left;}
.friends_button .bt_deny{float:left;}
.martp25{margin-top:30px;}

.projects_base_container .errorlist li {
  display:block;
  color:red;
  height:15px;
  margin-left:250px;

}

.buttonGreenMedium {
    display: block;
    width: 150px;
    height: 35px;
    background: transparent url(../images/bt_blank_green_medium_button.png) 0px 0px no-repeat;
    margin: 0 auto;
    color: white;
    font-size: 12px;
    border:0px; 
    cursor:pointer;
}

.createcontent #inviteform .errorlist li{display:block; clear:both;}
.createcontent #taskform .errorlist li{display:block; clear:both;}

div.group_border {
    border:1px solid #CCC;
    margin:5px;
    padding:15px;
    clear:both;
    margin-top:20px;
    display:block;
    min-height:120px;
}
.tbltitle td{background:#730A94;}
.genericform h3, #wikiedit h3, #wikicreate h3 {background:#E0E0E0;}
.projects_right_column h3 {background:#730A94;}
#sigin h3, #create h3, .password h3{background:#E0E0E0;}


.accordionheader {background:#730A94;  color:#FFFFFF; font-size:14px; margin: 0px; margin-top: 10px; padding:4px 20px 4px 20px; width:730px;}
.accordionheader a{color:#FFF;}