@charset "utf-8";
/* CSS Document */
.gears {margin-top: -20px;}
.set_icon{float:right; margin:5px 10px 4px 0px;}
.twitter_but{ display:block; width:227px;line-height:44px; background:url(../images/bt_blank_sky_blue_button.png) 0px 0px no-repeat; float:right; margin:5px 10px 0px 0px; font-size: 22px; border:0px; cursor:pointer;color:white;text-align:center;}
.twitter_but:hover{background-position:0px -46px;}
.searchbg{width:228px; height:29px; background:url(../images/search_bgnew.gif) no-repeat; margin:0px; padding: 0px;}
.searchbg .textfield_search{border:0px; border:none;  width:185px; padding:1px; margin-left:3px; background-color:transparent;}
.tbltitle td { background:#52066A; }
.projects_right_column h3 { background:#52066A; }
.twitter_but { font-size:16px; }
.customer_but h1 { font-size: 18px; }
div#top_navi{width:480px;}
div#account_details {width:200px;margin:0px; padding:0px;}
div#account_details #settings{font:9px arial;}
div#account_details #settings a{font:9px arial;}
div#account_details #settings a:hover{font:9px arial;}

.projects_base_container .errorlist li {
  display:block;
  color:red;
  height:15px;
  margin-left:250px;

}
.buttonGreenMedium {
    display: block;
    width: 150px;
    height: 35px;
    background: transparent url(../images/bt_blank_green_medium_button.png) 0px 0px no-repeat;
    margin: 0 auto;
    color: white;
    font-size: 12px;
    border:0px; 
    cursor:pointer;
}
.createcontent #inviteform .errorlist li{display:block; clear:both;}
.createcontent #taskform .errorlist li{display:block; clear:both;}
div.group_border {
    border:1px solid #CCC;
    margin:5px;
    padding:15px;
    clear:both;
    margin-top:20px;
    display:block;
    min-height:120px;
}
.tbltitle td{background:#730A94;}
.genericform h3, #wikiedit h3, #wikicreate h3 {background:#E0E0E0;}
.projects_right_column h3 {background:#730A94;}
#sigin h3, #create h3, .password h3{background:#E0E0E0;}

.accordionheader {background:#730A94;  color:#FFFFFF; font-size:14px; margin: 0px; margin-top: 10px; padding:4px 20px 4px 20px; width:730px;}
.accordionheader a{color:#FFF;}
.bigpad{ width:80px;text-align:center;}
.medpad{ width:100px;text-align:center;}
.monthtitle {
    background: #750998;
    border: 1px solid #E7E7E7;
    color: #FFFFFF;
    padding: 5px;
    text-align: left;
    width: 500px;
}