@charset "utf-8";
/* CSS Document */
/* ------- GLOBAL ------- */
body{background: url(../images/landing/headerbg.png) repeat-x; font-family:Arial, Helvetica, sans-serif; line-height:18px;}

/* ------- HEADINGS ------- */
h1{font:normal 28px Arial, Helvetica, sans-serif; color:#FFF; line-height:32px; text-align:left;}
h2{font:normal 22px Arial, Helvetica, sans-serif; color:#1d6aac; line-height:24px;  }
h3{font: bold 20px Arial, Helvetica, sans-serif; color:#751d98; }
h4{font:16px Arial, Helvetica, sans-serif; color:#1d6aac; line-height:10px;}
h5{font:14px Arial, Helvetica, sans-serif; color:#595959; line-height:18px;}
h6{font:bold 12px Arial, Helvetica, sans-serif; color:#8f8e8e; text-decoration:underline; line-height:18px;}
h2.text{ margin-top:10px; float:left;}
p{font:14px Arial, Helvetica, sans-serif; color:#595959; line-height:18px;}
.black{font:12px Arial, Helvetica, sans-serif; color:#474748; line-height:18px;}

/* ------- PAGE CONTAINERS ------- */
#container{width:705px; display:block; margin:0px auto; min-height:1000px;  font-family:Arial, Helvetica, sans-serif; }

#header_container{width:705px; height:34px; display:block;  float:left; }
#logo{ width:267px; height:32px; display:block; float:left;}
.headerbg{ width:705px; height:31px; display:block; margin:0px auto; padding-top:35px;}
#banner{ background: url(../images/landing/image.jpg) no-repeat; width:700px; height:396px; margin:0px auto; margin-top:7px;}
.right_banner {width:295px; float:right; display:block;}

#block{ width:705px; min-height:460px; display:block;}
.left_block{ width:350px; min-height:450px; float:left;}
.right_block{ width:350px; min-height:440px; float:right;}

/* ------- TEXT ------- */
.purple{font: bold 20px Arial, Helvetica, sans-serif; color:#751d98; line-height:18px; }
.blue{font: normal 16px Arial, Helvetica, sans-serif; color:#1d6aac; line-height:18px;}
.u_list{font:14px Arial, Helvetica, sans-serif; color:#595959; line-height:18px;}

.grey{font:bold 12px Arial, Helvetica, sans-serif; color:#8f8e8e; text-decoration:underline; line-height:18px;}
.grey a{font:bold 12px Arial, Helvetica, sans-serif; color:#8f8e8e; text-decoration:underline; line-height:18px;}
.grey a:hover {
	color: #751d98;
	font:bold 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
    line-height:18px;
}
.white{ font:16px bold Arial, Helvetica, sans-serif; text-align:center; line-height:18px; color:#FFF; padding-top:13px;}
#text_container{ width:355px; display:block; height:40px;}

/* ------- TABS ------- */

#tabs {
	float:left;
	background:url(../images/landing/purple_bg_span.png) no-repeat;
	width:340px;
	height:51px;
	display:block;
	text-align:center;
	font:bold 15px Arial, Helvetica, sans-serif ;
	line-height:24px;
	}
#bg{float:left; width:355px; 	display:block;}	
.account{ width:355px;display: block; margin: 0px auto; margin-top: 30px; padding-top:10px;
}
.acc_text{font:12px Arial, Helvetica, sans-serif; color:#595959; line-height:18px; margin:40px 0px 0px 15px;}
.acc_text1{font:12px Arial, Helvetica, sans-serif; color:#595959; line-height:18px; margin:20px 0px 0px 15px;}
.bottom_text{font:9px Arial, Helvetica, sans-serif; color:#b9b9b9; line-height:10px; margin:200px 0px 0px 15px;}
.learn{ width:705px; height:20px; font:bold 12px Arial, Helvetica, sans-serif; color:#8f8e8e; text-decoration:underline; line-height:18px; float:left;}
.learn a{ width:705px; height:20px; font:bold 12px Arial, Helvetica, sans-serif; color:#8f8e8e;  line-height:18px; float:left;}
.learn a:hover {
	color: #751d98;
	font:bold 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
    line-height:18px;
}
.formstyle{ margin-left:100px;}
.formlable{width:90px; float:left; clear:both; font:12px Arial, Helvetica, sans-serif; padding:15px; padding-left:20px; }
.formfield{width:180px; float:left;padding:10px;}
.inputbg{width:173px; background:url(../images/landing/textbg.png) no-repeat; border:0px; border:none; padding:5px;}
.formbg{width:343px; height:312px; display:block; background:url(../images/landing/formbg.png) no-repeat;}
.buttonGreenMedium {
    display: block;
    width: 150px;
    height: 35px;
    background: transparent url(../images/bt_blank_green_medium_button.png) 0px 0px no-repeat;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    border:0px; 
    cursor:pointer;
}

.buttonGreenMedium:hover {
    background-position: 0px -35px;
}

