
@charset "utf-8";
/* CSS Document */


/**************************************/
/*              GLOBALS              */
/**************************************/
body {
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
}
#main_container {
	width:945px;
	display:block;
	margin:0px auto;
	font-family:Arial, Helvetica, sans-serif;
}
/**************************************/
/*              HEADINGS              */
/**************************************/
h1 {
	font:bold 24px Arial, Helvetica, sans-serif;
	color:#595959;
}
h2 {
	font:bold 20px Arial, Helvetica, sans-serif;
	color:#595959;
}
h3 {
	font:bold 14px Arial, Helvetica, sans-serif;
	line-height:18px;
	padding:10px 0px 10px 0px;
}
p {
	font:12px Arial, Helvetica, sans-serif;
	color:#595959;
	line-height:24px;
}
p.smalltext {
	font:9px Arial, Helvetica, sans-serif;
	color:#c7c4c4;
	line-height:15px;
	text-align:center;
}
#aboutus_pages li {
	line-height: 24px
}
#aboutus_pages ul {
	list-style-position: inside;
	list-style: circle
}
p.betatext {
	font:11px Arial, Helvetica, sans-serif;
	color:#700891;
	line-height:16px;
}
/**************************************/
/*              POPUP STYLES          */
/**************************************/
.popup_container {
	width:660px;
	margin:0px auto;
	display:block;
	text-align:center;
	box-shadow:0px 0px 20px #4d4d4d;
	border-radius:10px;
	margin-top:20px;
}
.purple_strip {
	background:#680887;
	height:40px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.popup_content {
	padding:20px;
}
.inline_label {
	display:inline;
}
/* -------------------------------------------------------------------------------
CSS FOR NEW DESIGNS 
---------------------------------------------------------------------------------*/
.grid {
	width:960px;
	margin:0px auto;
}
.grid .header {
	width:960px;
	height:71px;
	min-height:71px;
	overflow:hidden;
}
.grid .header .logo {
	width:256px;
	height:71px;
	display:block;
	float:left;
}
.grid .header .topnavigation {
	width:570px;
	float:left;
	height:31px;
	margin-top:35px;
	text-align:center;
}
.grid .header .topnavigation ul {
	margin:0px;
	padding:0px;
}
.grid .header .topnavigation ul li {
	margin:0px;
	padding:0px;
	display:inline;
}
.grid .header .topnavigation ul li a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
	text-decoration:none;
	padding:0px 3px 14px 3px;
}
.grid .header .topnavigation ul li a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .header .topnavigation ul li a.active_top_nav {
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .features {
	margin-bottom:10px;
}
.grid .header .support {
	width:120px;
	float:right;
	margin-top:20px;
	margin-right:10px;
	text-align:right;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
}
.grid .header .support a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
	text-decoration:none;
	padding:0px 3px 14px 3px;
	text-transform:uppercase;
}
.grid .header .support a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .tagline {
	height:77px;
	background:url(../images/gradient_line.gif) center top no-repeat;
}
.grid .tagline h1 {
	font:30px Arial, Helvetica, sans-serif;
	line-height:74px;
	font-weight:500;
	text-align:center;
	color:#595959;
}
.grid .topline {
	height:2px;
	background:url(../images/gradient_line.gif) center top no-repeat;
}
.purple {
	color:#750998;
}
.grid .banner #container {
	width:940px;
	padding:0px 10px 10px 10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}
.grid .banner #example {
	width:940px;
	height:500px;
	position:relative;
	margin:0px auto;
}
.grid .banner #ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}
.grid .banner #frame {
	position:absolute;
	z-index:0;
	width:900px;
	height:500px;
	top:-3px;
	left:-80px;
}
/*Slideshow*/
.grid .banner #slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}
/*	Slides container	Important:	Set the width of your slides container	Set to display none, prevents content flash*/
.grid .banner .slides_container {
	width:960px;
	overflow:hidden;
	position:relative;
	display:none;
	text-align:center;
}
/*	Each slide	Important:	Set the width of your slides	If height not specified height will be set by the slide content	Set to display block*/
.grid .banner .slides_container div.slide {
	width:900px;
	height:500px;
	display:block;
}
/*	Next/prev buttons*/
.grid .banner #slides .next, #slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
	display:none;
}
#slides .next {
	left:585px;
}
/*	Pagination*/
.pagination {
	margin:26px auto 0;
	width:100px;
}
.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}
.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {
	background-position:0 -12px;
}
.social_media {
	text-align:center;
	display:block;
	margin:30px 0 40px 0;
}
.social_media h1 {
	font-size:32px;
	font-weight:bold;
	color:#595959;
	letter-spacing: 1px;
}
.grid .footer {
	margin:0px auto;
	width:880px;
	padding-top:10px;
}
.grid .footer .first_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .first_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .second_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .second_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .third_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .third_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .fourth_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .fourth_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer ul {
	margin-bottom:10px;
}
.grid .footer a {
	font:11px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	line-height:18px;
	text-decoration:none;
}
.grid .footer a:hover {
	text-decoration:underline;
	color:#750998;
}
.copyright {
	clear:both;
	width:960px;
	display:block;
	margin:0px auto;
	font:11px Arial, Helvetica, sans-serif;
	color:#AAAAAA;
	margin-bottom:30px;
}
.copyright .left {
	width:475px;
	float:left;
	font:11px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	font:12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-align:left;
	line-height:24px;
}
.copyright .left a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#878787;
	text-decoration:none;
	text-align:left;
}
.copyright .left a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#5A0075;
	text-decoration:none;
}
.copyright .right {
	width:450px;
	float:right;
	font:12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-align:right;
	line-height:24px;
}
.copyright .right a {
	font:12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-decoration:none;
}
.copyright .right a:hover {
	font:12px Arial, Helvetica, sans-serif;
	color:#5A0075;
	text-decoration:none;
}
.translate_flags {
	width:200px;
	float:left;
	margin:0 0 0 94px;
	text-align:left;
}
.secure_badges {
	width:150px;
	float:right;
	text-align:right;
}
.trademark {
	font-size:9px;
	color:#c7c4c4;
}
.shadow_line {
	width:100%;
	background:url(../images/shadow_line.png) center top no-repeat;
	height:16px;
}
.nextgen {
	display:block;
}
.nextgen img {
	vertical-align:middle;
}
.clear {
	clear:both;
}
.grid .landing1_banner {
	width:960px;
	margin:0px auto;
	text-align:center;
	height:409px;
	background:url(../images/landingpage1_header.png) no-repeat;
	background-position:center;
	margin-top:-30px;
}
.grid .landing1_banner form {width:310px; float:right; margin:40px 5px 20px 20px;}
.grid .landing1_banner form legend {font:bold 34px Arial, Helvetica, sans-serif; color:#FFF; line-height:60px; padding-left:15px;}
.grid .landing1_banner form .green {color:#97e720; text-decoration: underline;}
.grid .landing1_banner form label {width:110px; text-align:right; font:12px Arial, Helvetica, sans-serif; color:#FFF; line-height:40px; float:left;}
.grid .landing1_banner form .textinput {background:url(../images/text_land_bg.gif) no-repeat; width:170px; height:30px; border:0px; outline:none;}

.grid .landing1_banner .content{width:310px; float:right; margin:40px 5px 20px 20px;}
.grid .landing1_banner .content h1 {font:bold 34px Arial, Helvetica, sans-serif; color:#FFF; line-height:60px; padding-left:15px;}
.grid .landing1_banner .content h2{font: normal 18px Arial, Helvetica, sans-serif; color:#FFF; line-height:25px; padding-bottom: 30px; padding-top: 20px;}
.grid .landing1_banner .content h3{font: normal 18px Arial, Helvetica, sans-serif; color:#FFF; line-height:25px; padding: 0px 0 10px 0px;}
.grid .landing1_banner .content p.myaccount a{display: block; font: normal 10px Arial, Helvetica, sans-serif; text-decoration: underline; color: #FFF; cursor: pointer; margin-top: 20px;}
.grid .landing1_banner .content p.myaccount2 a{display: block; font: normal 10px Arial, Helvetica, sans-serif; text-decoration: underline; color: #FFF; cursor: pointer; margin-top: 8px;}
.fl_right {float:right;}
.homebuttonGreen {display: block; width: 227px; height: 48px; background: transparent url(../images/bt_blank_green_button.png) 0px 0px no-repeat; margin: 0 auto;	color: white; font-size: 24px; border:0px; cursor:pointer; float:right; margin:15px 30px 0 0;}
.homebuttonGreen:hover {background-position: 0px -48px;}
.yellow{color: #FFF055;}
.grid .landing_social_follow {float:none; padding:0px 20px; text-align:center; font:bold 12px Arial, Helvetica, sans-serif; color:#000; vertical-align:middle; margin:20px 0 60px 0;}
.grid .landing_social_follow h2{font: normal 25px Arial, Helvetica, sans-serif; line-height: 40px; text-align: center; color:#750998;}
.socialmedia_linkedin{width: 177px; height: 38px; background: transparent url(../images/social_media_linkedin.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; margin-right:10px; text-shadow: 1px 1px 1px #000; padding-left:40px; margin-bottom:10px;}
.socialmedia_linkedin:hover {background-position: 0px -38px;}
.socialmedia_facebook{width: 177px; height: 38px; background: transparent url(../images/social_media_facebook.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; margin-right:10px; text-shadow: 1px 1px 1px #000; padding-left:40px; margin-bottom:10px;}
.socialmedia_facebook:hover {background-position: 0px -38px;}
.socialmedia_googleplus{width: 177px; height: 38px; background: transparent url(../images/social_media_googleplus.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; margin-right:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;margin-bottom:10px;}
.socialmedia_googleplus:hover {background-position: 0px -38px;}
.socialmedia_googleplus:hover {background-position: 0px -38px;}
.mainpage_facebook{width: 196px; height: 42px; background: transparent url(../images/mainpage_facebook.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; margin-right:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;margin-bottom:10px;}
.mainpage_facebook:hover {background-position: 0px -42px;}
.socialmedia_googleplus:hover {background-position: 0px -38px;}
.mainpage_linkedin{width: 196px; height: 42px; background: transparent url(../images/mainpage_linkedin.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; margin-right:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;margin-bottom:10px;}
.mainpage_linkedin:hover {background-position: 0px -42px;}
.mainpage_twitter{width: 195px; height: 42px; background: transparent url(../images/mainpage_twitter.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; margin-right:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;margin-bottom:10px;}
.mainpage_twitter:hover {background-position: 0px -42px;}
.mainpage_googleplus{width: 196px; height: 42px; background: transparent url(../images/mainpage_googleplus.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; margin-right:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;margin-bottom:10px;}
.mainpage_google{width: 196px; height: 42px; background: transparent url(../images/mainpage_google.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; margin-right:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;margin-bottom:10px;}
.mainpage_googleplus:hover {background-position: 0px -42px;}
.mainpage_google:hover {background-position: 0px -42px;}

/* For Anchor Tage CSS
.socialmedia_linkedin{width: 177px; height: 38px; display:inline-block; float:none; background: transparent url(../images/social_media_linkedin.png) no-repeat; color: #FFF; font-size: 14px; line-height:38px; text-align:center; border:0px; cursor:pointer; margin-right:10px; text-shadow: 1px 1px 1px #000; padding-left:10px; text-decoration: none;}
.socialmedia_linkedin:hover {background-position: 0px -38px;}
.socialmedia_facebook{width: 177px; height: 38px; display:inline-block; float:none; background: transparent url(../images/social_media_facebook.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; margin-right:10px; text-shadow: 1px 1px 1px #000; padding-left:10px; line-height:38px; text-decoration: none; text-align:center;}
.socialmedia_facebook:hover {background-position: 0px -38px;}
.socialmedia_googleplus{width: 177px; height: 38px; display:inline-block; background: transparent url(../images/social_media_googleplus.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; margin-right:10px; text-shadow: 1px 1px 1px #000; padding-left:40px; line-height:38px; text-decoration: none; text-align:center;}
.socialmedia_googleplus:hover {background-position: 0px -38px;}
*/
.grid .landing_social_follow img {
	margin:0 5px;
	vertical-align:middle;
}
.grid .landing_social_follow .vmiddle {
	width:100px;
	float:left;
	line-height:35px;
}
.grid .landing1_content {
	width:960px;
	display:block;
}
.grid .landing1_content .features {
	width:560px;
	margin:0 20px 0 0;
	float:left;
}
.green {
	color:#97e720;
}
ul.landing1_features {
	padding:0 0 50px 0;
	clear:both;
}
ul.landing1_features li.icon {
	width:140px;
	min-height:100px;
	float:left;
	text-align:center;
}
ul.landing1_features li.content {
	width:400px;
	min-height:100px;
	float:left;
	padding-bottom:85px;
}
ul.landing1_features li.contentlast {
	width:400px;
	min-height:100px;
	float:left;
	padding-bottom:20px;
}

.grid .landing1_content .offers {
	width:328px;
	float:right;
	border:1px solid #e2e2e2;
}
.offers hr {
	border:1px solid #e2e2e2;
}
.grid .landing1_content .offers p {
	font-size:13px;
	color:#737373;
	line-height:16px;
	padding:15px;
}
.grid .landing1_content .offers h2 {
	line-height:32px;
}
.landing1_features p {
	font-size:13px;
	color:#737373;
	line-height:16px;
}
.shadowline_landing {
	background:url(../images/small_shadow.png) no-repeat;
	width:316px;
	margin:0px auto;
	height:17px;
}
.center {
	text-align:center;
}
.compare_bg {
	background:url(../images/compare_bg.jpg) no-repeat;
	width:292px;
	height:164px;
	margin:0px auto;
	margin-bottom:20px;
}
.plans_bg {
	background:url(../images/landing_plan_image.png) no-repeat right top;
	width:314px;
	height:206px;
	margin:0px auto;
	margin-top:-30px;
}
button.land_purplebut {
	width:177px;
	height:47px;
	font:24px Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:47px;
	text-align:center;
	background:url(../images/bt_landing_purple.png) no-repeat;
	display:block;
	text-decoration:none;
	border:0px;
	margin:110px 10px 0 0;
	float:right;
	cursor:pointer;
}
button.land_purplebut:hover {
	background:url(../images/bt_landing_purple.png) 0px -47px no-repeat;
	border:0px;
}
button.land_buybut {
	width:177px;
	height:47px;
	font:24px Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:47px;
	text-align:center;
	background:url(../images/bt_landing_purple.png) no-repeat;
	display:block;
	text-decoration:none;
	border:0px;
	margin:150px 10px 0 0;
	float:right;
	cursor:pointer;
}
button.land_buybut:hover {
	background:url(../images/bt_landing_purple.png) 0px -47px no-repeat;
	border:0px;
}
p.bold {
	font-weight:bold;
}
.hang {
	background:url(../images/hang_bg.png) no-repeat;
	width:291px;
	height:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:19px;
	color:#FFF;
	margin-left:20px;
	margin-top:0px;
	padding:8px 10px 15px 10px;
	text-align:center;
	margin-bottom:10px;
	line-height: 22px;
}
.caps {
	text-transform:uppercase;
}
.grid .landing1_content .offers p.smalltext{
	font: normal 9px Arial, Helvetica, sans-serif;
	color: #c7c4c4;
}
