<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NetConference</title>
<link href="{{MEDIA_URL}}new/css/reset_net.css" rel="stylesheet" type="text/css" />
<link href="{{MEDIA_URL}}new/css/socialmedia.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="grid">
    <!-- HEADER -->
    <div class="header">
        <div class="logo"><img src="{{MEDIA_URL}}images/netconf_newlogo.png" width="256" height="63" alt="Net Conference logo" /></div>
        <div class="support"> <a href="#">Log in</a> / <a href="#">Sign up</a></div>
        <div class="clear"></div>
    </div>
    <!-- HEADER ENDS-->
        <!-- TAGLINE -->
    <div class="topline"></div>
    <!-- TAGLINE ENDS -->
    <div class="socialmedia_login"><!--Lgoin Starts-->
        {% if provider %}
        <div class="socialmedia_content">
        	<img src="{{MEDIA_URL}}images/login_{{provider}}.png" alt="{{provider}}" width="130" height="125" />
            <h1>You are Logged In through your {{provider}} Account</h1>
      </div>
        {% endif %}
      <div class="clear"></div>
        <div class="loginbox">
        	<form action="." method="post">
                        {% if form.non_field_errors %}
                            {{form.non_field_errors}}
                        {% endif %}
                        <fieldset>
                        {% comment %}
                            {% if form.username.errors %}
                                {{form.username.errors}}
                            {% endif %}
                            <p>You must enter your email so that all of your correspondences from this site come directly from you.</p>
                            <label>User Name:</label>
                            <!--<input type="text" id="username" class="textinput" />-->
                            {{form.username}}
                            {% if form.password1.errors %}
                                {{form.password1.errors}}
                            {% endif %}
                            <label>Password:</label>
                            <!--<input type="password" id="password" class="textinput" /><br />-->
                            {{form.password1}}
                            {% if form.password2.errors %}
                                {{form.password2.errors}}
                            {% endif %}
                            <label>Confirm Password:</label>
                            <!--<input type="password" id="password" class="textinput" /><br />-->
                            {{form.password2}}
                        {% endcomment %}
                            <p>You must enter your email so that all of your correspondences from this site come directly from and to you.</p><br/>
                            {% if form.email.errors %}
                                {{form.email.errors}}
                            {% endif %}
                            <label>E-mail:</label>
                            <!--<input type="text" id="email" class="textinput" /><br />-->
                            {{form.email}}
                        {% comment %}
                            {% if form.phone.errors %}
                                {{form.phone.errors}}
                            {% endif %}
                            <label>Phone Number:</label>
                            <!--<input type="text" id="phonenumber" class="textinput" /><br /><br />-->
                            {{form.phone}}
                        {% endcomment %}
                        <button class="homebuttonGreen" type="submit">Log in for <span class="yellow">FREE</span></button>
                        </fieldset>
                    </form>
        </div>
    </div>
    <div class="clear"></div><!--Lgoin Ends-->
    
  <div class="landing2_content">
    	<h1>NetConference Features:</h1>
      <div class="features">
        <ul class="landing2_features">
              <li class="icon"><img src="{{MEDIA_URL}}images/no_software.png" alt="" width="40" height="41" /></li>
              <li class="content">
                <h2>No Software to Download</h2>
                  <p>Just log in to your NetConference account and start using<br />it right away.</p>
           	  </li>
   	    </ul>
        <ul class="landing2_features">
                <li class="icon"><img src="{{MEDIA_URL}}images/video_hd.png" alt="" width="37" height="47" /></li>
                <li class="content">
                  <h2>Watch videos in HD together</h2>
                    <p>Watch as your participants light up when they see you<br />
                      present shared videos in perfect sync, all in HD quality <br />
                    using our patented Shared Video on Demand system.</p>
                </li>
       	</ul>
            <ul class="landing2_features">
              <li class="icon"><img src="{{MEDIA_URL}}images/webcam_video.png" alt="" width="35" height="42" /></li>
                <li class="content">
                  <h2>8 People on Camera</h2>
                    <p>Watch as your participants light up when they see you<br />
                      present shared videos in perfect sync, all in HD quality <br />
                    using our patented Shared Video on Demand system.</p>
                    <br />
                </li>
          	</ul>
            <ul class="landing2_features">
              <li class="icon"><img src="{{MEDIA_URL}}images/screen_share.png" alt="" width="54" height="29" /></li>
                <li class="content">
                  <h2>Screen Share and application <br />
                  window share.</h2>
                    <p>Share websites, Powerpoint presentations, applications,<br />
                      documents and any other program in real time with <br />
                    meeting attendees. </p>
                    <br />
                </li>
          	</ul>
            <ul class="landing2_features">
              <li class="icon"><img src="{{MEDIA_URL}}images/multiple_user.png" alt="" width="40" height="35" /></li>
                <li class="content">
                  <h2>Multi user whiteboards.</h2>
                    <p>All of your meeting participants may collaborate on multiple <br />
                      whiteboards generated inside the conference room. Whiteboard <br />
                      functions are available on top of videos, Word, Excel, PDF <br />
                    and PowerPoint documents for efficient online collaboration.</p>
                    <br />
                </li>
          	</ul>
            <ul class="landing2_features">
              <li class="icon"><img src="{{MEDIA_URL}}images/full_voip.png" alt="" width="34" height="46" /></li>
                <li class="content">
                  <h2>Full VoIP Interconnectivity</h2>
                    <p>Speak clearly with people from all over the world inside <br />
                    your NetConference Suite.</p>
                </li>
          	</ul>
    </div>
    
<div class="features">
          <ul class="landing2_features">
                <li class="icon"><img src="{{MEDIA_URL}}images/text_chat.png" alt="" width="46" height="25" /></li>
      <li class="content">
                    <h2>Text Chat</h2>
                <p>Create on-the-fly group text chat rooms. NetConference suites are<br />
equipped with fast and efficient chat systems.</p>
                </li>
          	</ul>
<ul class="landing2_features">
    <li class="icon"><img src="{{MEDIA_URL}}images/v_mail.png" alt="" width="38" height="46" /></li>
              <li class="content">
                    <h2>V-mail<sup>&trade;</sup></h2>
                    <p>Send video messaging in your e-mail to your friends.Video <br />
                      Greeting Card Recording System allows you to record a<br />
                      message using your webcam, and attach any other media. <br />
                    </p>
              </li>
          	</ul>
<ul class="landing2_features">
                <li class="icon"><img src="{{MEDIA_URL}}images/record_conferences.png" alt="" width="42" height="42" /></li>
<li class="content">
                    <h2>Record Conferences</h2>
                    <p>Record Webinars and Conferences and distribute them though <br />
                      NetConference. Simply click record and save a copy of your <br />
                      conference to review anytime! Included in every account is an <br />
                    online store to sell your files or recorded conferences.</p>
                </li>
          	</ul>
            <ul class="landing2_features">
            <li class="icon"><img src="{{MEDIA_URL}}images/social_networks.png" alt="" width="58" height="44" /></li>
                <li class="content">
                  <h2>Interconnected to the social networks</h2>
                    <p>Broadcast your public media throughout the world of social <br />
                      media. Promote your VMails, Live Conferences and Recorded<br />
                    Webinars on all important social media platforms.</p>
                    <br />
                </li>
          	</ul>
            <ul class="landing2_features">
              <li class="icon"><img src="{{MEDIA_URL}}images/google_docs.png" alt="" width="36" height="36" /></li>
                <li class="content">
                  <h2>Connected to google Docs, Calendar and Contacts</h2>
                    <p>Import your documents from Google. Integrate your NetConference <br />
                    calendar and contacts with Google and Outlook.</p><br />
                </li>
          	</ul>
            <ul class="landing2_features">
              <li class="icon"><img src="{{MEDIA_URL}}images/file_storage.png" alt="" width="49" height="43" /></li>
                <li class="content">
                  <h2>Large file Cloud Storage</h2>
                    <p>Access files on all browsers and mobile devices.Send large files<br />
                      such as videos, PowerPoint presentations or groups of photos.<br />
                    No hassles, no rejection.</p>
                </li>
          	</ul>
    </div>
    <div class="clear"></div>
  </div>
    <br/> 
    <br />
    <br />
<br/>
    <!-- FOOTER LINKS ENDS -->
    <div class="shadow_line"></div>
    <!-- COPYRIGHT -->
    <div class="copyright">
        <div class="left" >
        	<div><a href="http://nxtgen.tv/"><img src="{{MEDIA_URL}}images/nxtgen_tv_logo.png" alt="NxtGenTV" width="107" height="29" /></a></div>
            <div>&copy; 2006-2011 <a href="http://nxtgen.tv" target="_blank">NxtGen LLC </a>• <span><a href="{% url contact %}">Contact</a></span> 818-598-8400 </div>
            <div class="nextgen"> NetConference technology created by <a href="http://www.illusionfactory.com/" target="_blank">The Illusion Factory</a></div>
        </div>
        <div class="right" >
            <div><a href="#">Opportunity</a> • <a href="#">Investor Relations</a> • <a href="#">Terms of Service</a> • <a href="#">Privacy Policy</a> • <span class="green_link"><a href="#">Feedback</a></span> </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- COPYRIGHT ENDS -->
</div>
</body>
</html>
