<html>
    <head>
        <title>
            Fill these info
        </title>
    </head>
    <body>
        <p>
            If you enter these information, you will be able to login through Login form
        </p>
        <form method="post" action=".">
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
