{% load i18n %}
<form action="." method="get">
    <table id="files_filter" border="0" cellspacing="0" cellpadding="0">
        <tr><td><h1 class="title" style="font-size: 14px;">{{ filter_title|default:_("Filter") }}</h1></td></tr>
        {% block type %}
        <tr><td><h1 class="sub_title">{% trans "File Type" %}</h1></td></tr>
        <tr>
            <td style="padding-top:10px;padding-bottom:10px;">
                <p><input type="radio" name="type" id="radio1" value="all" {% ifequal file_type "all" %}checked="checked"{% endifequal %} /><label for="radio1">{% trans "All" %}</label><br/></p>
                <p><input type="radio" name="type" id="radio2" value="pdf" {% ifequal file_type "pdf" %}checked="checked"{% endifequal %}/><label for="radio2">{% trans "PDF" %}</label></p>
                <p><input type="radio" name="type" id="radio3" value="doc" {% ifequal file_type "doc" %}checked="checked"{% endifequal %}/><label for="radio3">{% trans "DOC" %}</label></p>
                {% block option_xls %}
                <p><input type="radio" name="type" id="radio4" value="xls" {% ifequal file_type "xls" %}checked="checked"{% endifequal %}/><label for="radio4">{% trans "XLS" %}</label></p>
                {% endblock %}
            </td>
        </tr>
        {% endblock %}
        {% block date %}
        <tr>
            <th colspan="1" style="text-align:left">
                <h1 class="sub_title">
                    {% block date_title %}{% trans "Uploaded" %}{% endblock %}
                </h1>
            </th>
        </tr>
        <tr>
            <td style="padding-top:10px;padding-bottom:10px;">
                <p><input type="radio" name="uploaded" id="radio5" value="all" {% ifequal uploaded "all" %}checked="checked"{% endifequal %} /><label for="radio5">{% trans "All" %}</label></p>
                <p><input type="radio" name="uploaded" id="radio6" value="today" {% ifequal uploaded "today" %}checked="checked"{% endifequal %} /><label for="radio6">{% trans "Today" %}</label></p>
                <p><input type="radio" name="uploaded" id="radio7" value="week" {% ifequal uploaded "week" %}checked="checked"{% endifequal %} /><label for="radio7">{% trans "This Week" %}</label></p>
                <p><input type="radio" name="uploaded" id="radio8" value="month" {% ifequal uploaded "month" %}checked="checked"{% endifequal %} /><label for="radio8">{% trans "This Month" %}</label></p>
            </td>
        </tr>
        {% endblock %}
    </table>
    <a style="float:right;" href="javascript:document.myform.submit()" onclick="return val_form_this_page()">
      <input type="submit" name="filter" value="{% trans "Filter" %}" class="buttonBlueSmall" />
    </a>
</form>

