<form id="up" action="http://support.netconference.com/index.php?/Base/User/Login/" method="post">
<input type="hidden" name="scemail" value="{{ name }}" />
 <input  type="hidden" name="scpassword" value="{{ pwd }}"/>
</form>



