<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NetConference</title>
<link href="{{MEDIA_URL}}css/reset_net.css" rel="stylesheet" type="text/css" />
<link href="{{MEDIA_URL}}css/create_account.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main_container">
    <div id="header"><!--Header Starts-->
    <img src="{{MEDIA_URL}}images/welcome_cap.png" width="358" height="119" alt="Welcome to NetConference" /> </div><!--Header Ends-->
    <div id="content">
    	<h1><span><a href="{% url subscription_list %}">Click Here</a> to Get Started with Your</span> FREE 30 Day Trial</h1>
    </div>
</div>
</body>
</html>
