{% extends "new_base.html" %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li class="current"><a href="{% url my_files %}">{% trans "My Files" %}</a></li>
    <li><a href="{% url upload_file %}">{% trans "Upload Files" %}</a></li>
    <li><a href="{% url files_browse %}">{% trans "Browse Files" %}</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<ul id="messages">
  {% for message in messages %}
  <li>{{ message }}<a href="#" class="buttonGreenSmall message-close" style="float:right;text-align:center;text-decoration:none;line-height:25px;margin-bottom:10px;">{% trans "Clear" %}</a></li>
  {% endfor %}
</ul>
  <!--CONTENT CONTAINER STARTS-->
  <div id="content_container"> 
  	<p class="files_paging">{% if page_obj.has_previous %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
  	<!-- LEFT FILES STARTS -->
    <div id="left_files">
        <!-- SEARCH BOX STARTS -->
        <div class="searchbg" style="margin-bottom:10px;">
            <form action="." method="get">
                <input style="color: gray;" type="text" name="q" value="{% if query_string %}{{ query_string  }}{% else %}{% trans "Search Files" %}{% endif %}" class="textfield_search" />
		<input type="submit" value="" class="submit_btn" />
            </form>
        </div>
        <!-- SEARCH BOX ENDS -->
        
        <!-- FILTER FILES STARTS -->
        <div>
            {% with _("Filter Files") as filter_title %}
            {% include "_filter_sidebar.html" %}
            {% endwith %}
        </div>
        <!-- FILTER FILES ENDS -->
 	</div>
    <!-- LEFT FILES ENDS -->
    
    <!-- RIGHT FILES STARTS -->
    <div id="right_files">
        <form action="." method="post" name="filesForm">
            {% include "files/files_list.html" %}
	    {% if object_list.count %}
	    <p style="float:left;">
	      <input type="hidden" name="delete_all" />
	      <input type="button" id="bt_delete" class="buttonBlueSmall" style="margin-left:18px;" value="{% trans "Delete" %}" rel="#files_wrap" />
	    </p>
	    <p class="buttonBlueLongSmall" style="float:left;">
	      <input type="button" id="bt_export" value="{% trans "Export to google" %}" class="buttonBlueLongSmall" />
	    </p>
	    <p class="buttonBlueLongSmall" style="float:left;">
	      	<input type="button" id="bt_import" value="{% trans "Import from google" %}" class="buttonBlueLongSmall" />
	    </p>
	    {% endif %}
        </form>
  	<p class="files_paging">{% if page_obj.has_previous %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
    </div>
    <!-- RIGHT FILES ENDS -->
    <div id="files_wrap" class="modal">
      <div class="success">
        <h2 style="border:0px;">{% trans "Delete File" %}{% if file.title %}: {{ file.title }}{% else %}{% endif %}</h2>
        <p>{% trans "Are you sure you want to permanently delete this file?" %}</p>
        <!--<form method="post" action="{{ file.get_edit_url }}" id="delete_file_form">-->
          <input type="hidden" name="delete" value="delete" />
          <button type="button" class="close buttonGreenSmall" style="float:right;margin-left:10px;" onclick="$('.btn_edit_details').overlay().close();"> {% trans "Cancel" %} </button>
          <!--<button class="buttonGreenSmall" type="submit" style="float:right;">{% trans "Delete" %}</button>-->
	  <button class="buttonGreenSmall" type="button" style="float:right;" onclick="$('form[name=filesForm]').submit();">{% trans "Delete" %}</button>
        <!--</form>-->
      </div>
      <div class="error">
        <h2 class="errorlist">{% trans "No files selected to delete." %}</h2>
      </div>
    </div>
  </div>
  <!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript">
  function toggleFiles() {
    $("input[name='file-select[]']").attr("checked", $("input[name='select']").attr("checked"));
  }

  $(document).ready(function() {
           $("input[rel]").overlay({
             expose: {
               color: "#090909",
               loadSpeed: 1000,
               opacity: 0.9,
             },
             closeOnClick: true,
           });
  	$("#bt_import").click(function() {
  		window.open("/integrate/google_docs/import/","_blank","scrollbars=1, width=750,height=600");
  	});
  	$("#bt_export").click(function() {
  		window.open("/integrate/google_docs/export/","_blank","scrollbars=1, width=750,height=600");
  	});
        $("#bt_delete").click(function() { 
          if ($("input[name='file-select[]']:checked").length == 0) {
            $("#files_wrap .error").show();
            $("#files_wrap .success").hide();
          } else {
            $("#files_wrap .success").show();
            $("#files_wrap .error").hide();
          }
        });
   var defaultSearchQuery = $("input[name=q]").val();
    $("input[name=q]").focusin(function() { 
      if ($(this).val() == defaultSearchQuery)
        $(this).val("");
    });
    $("input[name=q]").focusout(function() {
      if (!$(this).val())
        $(this).val(defaultSearchQuery);
    });
    $("input[name='file-select[]']").change(function() { 
      if ($(this).attr("checked") === false && $("input[name=select]").attr("checked") === true) {
        $("input[name=select]").attr("checked", false);
      }
    });
  });
$("a.more").tooltip({relative: false, position: "center", effect: "fade"});
</script>
{% endblock %}
