{% extends "newer_base.html" %}
<!--<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NetConference</title>
<link href="css/reset_net.css" rel="stylesheet" type="text/css" />
<link href="css/socialmedia.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="grid">-->
    <!-- HEADER -->
{% block extra_css %}
<link href="{{MEDIA_URL}}new/css/socialmedia.css" rel="stylesheet" type="text/css" />
{% endblock %}
    <div class="header">
        {% block netconference_logo %}
        <div class="logo"><a href="{% url home %}"><img src="{{MEDIA_URL}}images/netconf_newlogo_followup.png" width="256" height="71" alt="Net Conference logo" /></a></div>
        {% endblock %}
        {% block site_navigation %}
        {% endblock %}
        {% block login_logout %}
        {% endblock %}
    </div>
    <!-- HEADER ENDS-->
    <!-- TAGLINE -->
    <div class="topline"></div>
    <!-- TAGLINE ENDS -->
    {% block content %}
    <!-- CONTENT STARTS -->
    <div id="browserpage">
    	<div class="hd_meeting"><img src="{{MEDIA_URL}}images/nc_online_hdmeeting.png" width="841" height="35" alt="" /></div>
      <h1>Would you like to host your own online meeting?</h1>
    <div class="contentpart">
      	<h2>Try NetConference<sup>&reg;</sup> Your Office in the Cloud<sup>&reg;</sup> and see how you can:</h2>
            <div class="leftimg">
            	<ul>
                	<li>Show and tell – right from your desktop.</li>
                    <li>HD Video Conference with one click.</li>
                    <li>Work together on a single document in real time.</li>
                    <li>Meet online and travel less.</li>
                </ul>
                <p class="tryit">Try it now – <span>FREE</span> for 30 days!</p>
                <p class="small_text">No credit card required</p>
            </div>
      </div>
      <div class="signup">
        	<p>Sign Up Now for FREE Using Your Social Media Account:</p>
        	<button class="followup_facebook" id="social_facebook">Facebook</button>
            <button class="followup_linkedin" id="social_linkedin">LinkedIn</button>
            <button class="followup_twitter" id="social_twitter">Twitter</button>
            <button class="followup_google" id="social_google">Google</button>
        </div>
        <form method='post' action='.' name='createAccount' id='createAccount'>
        <table width="80%" border="0" align="center" cellpadding="5" cellspacing="0">
  <tr>
    {{form.non_field_errors}}
    {% if form.username.errors %}
        {{form.username.errors}}
    {% endif %}
    <td><label>User Name:</label></td>
    {{form.password1.errors}}
    <td><label>Password:</label></td>
    {{form.password2.errors}}
    <td><label>Confirm Password:</label></td>
  </tr>
  <tr>
    <td><input type="text" id="id_username" name="username" class="inputtext" value=""/></td>
    <td><input type="password" id="id_password1" name="password1" class="inputtext" /></td>
    <td><input type="password" id="id_password2" name="password2" class="inputtext" /></td>
  </tr>
  <tr>
  	<td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><label>E-mail:</label></td>
    <td><label>Phone Number:</label></td>
    <td rowspan="2" valign="top" class="privacy" style="padding-left:25px;"><img src="{{MEDIA_URL}}images/lock_purple.png" width="31" height="41" alt="" /> <br />
      We respect your privacy<br />
and will keep your personal<br />
information confidential as stated in<br />
our <a href="{% url privacy %}">Privacy Policy</a>.</td>
  </tr>
  <tr>
    {{form.email.errors}}
    <td valign="top"><input type="text" id="id_email" name="email" class="inputtext" /></td>
    {{form.phone_number.errors}}
    <td valign="top"><input type="text" id="id_phone_number" name="phone_number" class="inputtext" /></td>
    </tr>
        </table>
        <p><input type="checkbox" name="columns" id="column1" value="inform" checked="checked" style="margin-top:5px;">
        <label> Keep me informed about NetConference.</label></p>
      <p><input type="checkbox" name="agree_tos" id="agree_tos" value="terms">
      <label class="check_content"> I agree to the <a href="{% url terms %}">Terms of Service</a>. (required.)</label></p>
      <a href="#" onClick="submitForm();return false;" class="homebuttonGreen">Continue</a>
      <!--<button type="submit" class="homebuttonGreen">Continue</button>-->
      <!--<input type="button" class="homebuttonGreen">Continue</input>-->
      <p class="remember">Remember, you don’t need a NetConference account to attend a NetConference online meeting.</p>
      </form>
   	  <div class="clear"></div>
    </div>
    <!-- CONTENT ENDS -->
    {% endblock %}
    <!--<div class="shadow_line"></div>-->
    {% block footer %}
    {% endblock %}
    {% block after_footer_shadow %}
    {% endblock %}
    {% block copyright %}
    <!-- COPYRIGHT -->
    <div class="copyright">
    <div class="left" > <a href="http://nxtgen.tv/"><img src="{{MEDIA_URL}}new/images/nxtgen_tv_logo.png" width="107" height="29" style="vertical-align:middle; padding-top:15px;" alt="NxtGenTV"></a> <br>
      &copy; 2006-2010 <a href="http://nxtgen.tv" target="_blank">NxtGen LLC </a>• <a href="{% url contact %}">Contact</a> • (818)934-1204 <br/>
      NetConference technology created by <a href="http://www.illusionfactory.com/" target="_blank">The Illusion Factory</a></div>
    <div class="right_panel" ><img src="{{MEDIA_URL}}images/cea_logo.gif" width="88" height="31" alt="cea"><img src="{{MEDIA_URL}}images/bbb_icon.gif" width="37" height="36" alt="bbb"> <img src="{{MEDIA_URL}}images/godaddy_verified_icon.png" width="134" height="33" alt="" /></div>
    <div class="clear"></div>
  </div>
    <!-- COPYRIGHT ENDS -->
    {% endblock %}
{% block extrafooterscript %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#social_linkedin").click(function(){
            window.location = '{% url socialauth_linkedin_login %}';
        });
        $("#social_facebook").click(function(){
            window.location = '{% url socialauth_facebook_login %}';
        });
        $("#social_twitter").click(function(){
            window.location = '{% url socialauth_twitter_login %}';
        });
        $("#social_google").click(function(){
            window.location = '{% url socialauth_google_login %}';
        });
    });
    $(document).ready(function(){
    });
    function submitForm(){
        if($('#agree_tos').is(':checked'))
        {
            document.forms["createAccount"].submit();
        }
        else
        {
            alert("You must agree to our Terms of Service");
        }
    }
    </script>
{% endblock %}
<!--</div>
</body>-->
</html>-->
