<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NetConference</title>
<link href="{{ MEDIA_URL }}new/css/reset_net.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}new/css/styles_net.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}js/slides.min.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cycle.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
<script src="{{ MEDIA_URL }}new/Scripts/swfobject_modified.js"></script>
<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '{{MEDIA_URL}}images/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true,
				animationStart: function(current){
					$('.caption').animate({
						bottom:-35
					},100);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationStart on slide: ', current);
					};
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationComplete on slide: ', current);
					};
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},200);
				}
			});
		});
	</script>
<style type="text/css">
    body{
	background:none;
    }
</style>
</head>
<body>
<div class="grid">
    <!-- HEADER -->
    <div class="header">
        <div class="logo"><a href="{% url home %}"><img src="{{MEDIA_URL}}images/netconf_newlogo.png" width="256" height="71" alt="Net Conference logo" /></a></div>
        <div class="topnavigation">
            <ul>
                <li><a href="{% url netconference %}" >What is NetConference?</a></li>
                <li><a href="{% url features_home %}" >Features</a></li>
                <li ><a href="{% url subscription_list %}" ><span class="green_text" >Plans &amp; Prices</span></a></li>
                <li><a href="{% url acct_signup %}" >Get Started</a></li>
            </ul>
        </div>
        <div class="support"><span  class="purple"><a id="help_id">Support</a></span><br/>
            {% if user.is_authenticated %}<a href="{% url acct_logout %}">Logout</a>{% else %}<a href="{% url acct_login %}">Login</a>{% endif %} / {% if user.is_authenticated %}<a href="{% url profile_detail user %}">Profile</a>{% else %}<a href="{% url subscription_list %}">Sign up</a>{% endif %}</div>
    </div>
    <!-- HEADER ENDS-->
    <!-- TAGLINE -->
    <div class="topline"></div>
    <!-- TAGLINE ENDS -->
    <!-- JQUERY SLIDER -->
    <div class="banner">
        <div id="container">
            <div id="example">
                <div id="slides">
                    <div class="slides_container">
                        <div class="slide">
                            <div class="caption">
                                <h1><span class="purple">Easy HD Web Conferencing </span> Makes Meeting Anyone Online a Breeze</h1>
                            </div>
                            <div class="slide_pic"><a href="#" title="" target="_blank"><img src="{{MEDIA_URL}}images/new_slide_one.png"  alt="Slide 1"></a></div>
                        </div>
                        <div class="slide">
                            <div class="caption">
                                <h1><span class="purple">NetConference<sup>&reg;</sup> Your Office in the Cloud<sup>&reg;</sup> </span> Allows Access to Your Files From Anywhere</h1>
                            </div>
                            <div class="slide_pic"><a href="#" title="" target="_blank"><img src="{{MEDIA_URL}}images/new_slide_two.png" alt="Slide 2"></a> </div>
                        </div>
                        <div class="slide">
                            <div class="caption">
                                <h1><span class="purple">Now You Can Have Up To</span> 16 Guests on Camera at Once!</h1>
                            </div>
                            <div class="slide_pic"> <a href="#" title="" target="_blank"><img src="{{MEDIA_URL}}images/new_slide_three.png"  alt="Slide 3"></a></div>
                        </div>
						<div class="slide">
                            <div class="caption">
                                <h1><span class="purple">Now Your Ideas Can Travel</span> Instead of You</h1>
                            </div>
                            <div class="slide_pic"> <a href="#" title="" target="_blank"><img src="{{MEDIA_URL}}images/new_slide_four.png"  alt="Slide 3"></a></div>
                        </div>
						<div class="slide">
                            <div class="caption">
                                <h1><span class="purple">Work Faster and More Efficiently Online</span> With Our MultiUser Whiteboards</h1>
                            </div>
                            <div class="slide_pic"> <a href="#" title="" target="_blank"><img src="{{MEDIA_URL}}images/new_slide_five.png"  alt="Slide 3"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JQUERY SLIDER ENDS -->
    <div id="video_holder"></div>
    <!-- CALL TO ACTION BUTTONS -->
    <div class="calltoaction">
        <div class="left"></div>
        <div class="actions">
            <div class="headlines">
                <h1>"The Most Cohesive System of Online Tools."<br/>
                    <span class="blue_headline">Forbes.com - Read more...</span></h1>
                <div class="social_follow">FOLLOW US :<a href="http://www.facebook.com/pages/NetConference/150620931645938" target="_blank"><img src="{{MEDIA_URL}}images/fb_social_icon.png" width="33" height="32" alt="Facebook" style="vertical-align:middle;" /></a> <a href="https://twitter.com/#!/netconference" target="_blank"><img src="{{MEDIA_URL}}images/twitter_social_icon.png" width="33" height="32" alt="Twitter" style="vertical-align:middle;" /> <a/> <a href="http://www.youtube.com/user/NxtGenTV" target="_blank"><img src="{{MEDIA_URL}}images/youtube_social_icon.png" width="33" height="32" alt="YouTube" style="vertical-align:middle;" /></a> <a href="https://www.google.com/enterprise/marketplace/viewListing?productListingId=5514+13998336106112635792&pli=1" target="_blank"><img src="{{MEDIA_URL}}images/google_social_icon.png" width="33" height="33" alt="Google" style="vertical-align:middle;" /></a> <a href="http://www.stumbleupon.com/stumbler/NetConference" target="_blank"> <img src="{{MEDIA_URL}}images/stumble_social_icon.png" width="33" height="33" alt="StumbleUpon" style="vertical-align:middle;" /></a> </div>
            </div>
            <div class="action_butons"> <a href="{% url acct_signup %}" class="trialbut"> Try It <span class="yellow">Free</span> </a> <a href="{% url subscription_list %}" class="purplebut"> Buy Now </a> <a href="#" rel="#video_holder" class="video_trigger purplebut"> Watch Video </a> </div>
        </div>
        <div class="right"></div>
    </div>
    <!-- CALL TO ACTION BUTTONS ENDS-->
    <!-- FEATURES -->
    <div class="features">
        <div class="scrollable">
            <div class="items" style="left: -1904px; ">
                <div class="slide_holder cloned">
                    <h1>Video E-mail</h1>
                    <p class="bold">Send video messaging in your e-mail<br/>
to your friends</p>
                    <p>Video Greeting Card Recording System allows you to record a message using your webcam, and attach any other media.</p>
                    <a href="#">Learn More</a>
					<br/>
                    <div class="icon"><img src="{{MEDIA_URL}}images/video_email_home.png"  alt="Receive a Free Telephone Conference Line"></div>
                </div>
                <div class="slide_holder cloned">
                    <h1>Safely Store Your Files <br/>
On The Cloud</h1>
                    <p class="bold">Access files on all browsers <br/>
and mobile devices.</p>
                    <p>Send a client large files such as videos, PowerPoint presentations or groups of photos. No hassles, no rejection.</p>
                    <a href="#">Learn More</a>
                    <div class="icon"><img src="{{MEDIA_URL}}images/largefiles_icon_home.png"  alt="Receive a Free Telephone Conference Line"></div>
                </div>
                <div class="slide_holder cloned">
                    <h1>Social Networking Tools</h1>
                    <p class="bold">Broadcast your public media throughout<br/>
the world of social media.</p>
                    <p>Promote your VMails, Live Conferences and Recorded Webinars on all important social media platforms.</p>
                    <a href="#">Learn More</a>
                    <div class="icon"><img src="{{MEDIA_URL}}images/social_networking_home.png"  alt="Receive a Free Telephone Conference Line"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- FEATURES ENDS -->
    <div class="shadow_line"></div>
    <!-- FOOTER LINKS-->
    <div class="footer">
        <div class="first_column">
            <h3>What is NetConference?</h3>
            <ul>
                <li><a href="{% url netconference %}#online_meeting_basics">Online Meeting Basics</a></li>
                <li><a href="{% url netconference %}#online_meeting_uses">Online Meeting Uses</a></li>
                <li><a href="{% url netconference %}#why_netconference">Why NetConference?</a></li>
                <li><a href="{% url howitworks %}#how_it_works">How it Works</a></li>
            </ul>
        </div>
        <div class="second_column">
            <h3>Solutions</h3>
            <ul>
                <li><a href="{% url howitworks %}#for_sales">For Sales</a></li>
                <li><a href="{% url howitworks %}#for_training">For Training</a></li>
                <li><a href="{% url howitworks %}#online_events_webinars">For Online Events and Webminar</a></li>
                <li><a href="{% url howitworks %}#customer_support">For Customer Support</a></li>
                <li><a href="{% url howitworks %}#it_support">For IT Support</a></li>
                <li><a href="{% url howitworks %}#for_enterprise">For Enterprise</a></li>
                <li><a href="{% url howitworks %}#for_small_business">For The Small Business </a></li>
            </ul>
        </div>
        <div class="third_column">
            <h3>Features</h3>
            <ul>
                <li><a href="{% url features_home %}#online_meetings">Online Meetings</a></li>
                <li><a href="/comingsoon">Android & IOS</a></li>
            </ul>
            <h3>About Us</h3>
            <ul>
                <li><a href="{% url aboutus %}#management_team">NetConference Team</a></li>
                <li><a href="{% url articles %}#articles_awards">Article & Awards</a></li>
                <li><a href="#">Press Realeses</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </div>
        <div class="fourth_column">
            <h3>Support</h3>
            <ul>
                <li><a href="http://support.netconference.com/index.php?/Knowledgebase/List">FAQs</a></li>
                <li><a href="#">Tutorials</a></li>
                <li><a href="{% url terms %}">Terms of Service</a></li>
                <li><a href="{% url invest %}"> Investor Relations</a></li>
                <li><a href="{% url privacy %}">Privacy Policy</a></li>
                <li><a href="{% url affiliate_opportunity %}">Opportunity</a></li>
                <li><a href="{% url contact %}">Contact</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <!-- FOOTER LINKS ENDS -->
    <div class="shadow_line"></div>
    <!-- COPYRIGHT -->
    <div class="copyright">
        <div class="left" > <a href="http://nxtgen.tv/"><img src="{{MEDIA_URL}}images/footer_logo.png" style="vertical-align:middle;height:45px;" alt="NxtGenTV"></a> <br>
            &copy; 2006-2010 <a href="http://nxtgen.tv/" target="_blank">NxtGen LLC </a>• <a href="{% url contact %}">Contact</a> • (818)934-1204 <br/>
            NetConference technology created by  <a href="http://www.illusionfactory.com/" target="_blank">The Illusion Factory</a></div>
        <div class="right" > Translate: <img src="{{MEDIA_URL}}images/flag_01.png" alt="English" title="English"> <img src="{{MEDIA_URL}}images/flag_02.png" alt="German" title="German"><img src="{{MEDIA_URL}}images/flag_03.png" alt="Spanish" title="Spanish"><img src="{{MEDIA_URL}}images/flag_04.png" alt="French" title="French"><img src="{{MEDIA_URL}}images/flag_05.png" alt="Swedish" title="Swedish"><img src="{{MEDIA_URL}}images/cea_logo.gif" width="88" height="31" alt="cea"><img src="{{MEDIA_URL}}images/bbb_icon.gif" width="37" height="36" alt="bbb"> <img src="{{MEDIA_URL}}images/godaddy_verified_icon.png"  alt="Godaddy Verified">  </div>
        <div class="clear"></div>
    </div>
    <!-- COPYRIGHT ENDS -->
</div>
<form  id="virtual_form" action="http://support.netconference.com/index.php?/Base/User/Login" method="post">
<input  type="hidden" name="_redirectAction" value=""/>
<input type="hidden" name="scemail" value="" />
<input  type="hidden" name="scpassword" value="#netconference#"/>

</form>
</body>
<script type="text/javascript">
    $(document).ready(function(){
	
	$(".video_trigger").overlay({
            expose: { 
                color: '#333', 
                loadSpeed: 200, 
                opacity: 0.9
            },
            closeOnClick: false,
            closeOnEsc: false,
            onLoad: function(event) { 
                    },
            onClose: function(event) { 
                     },
            effect: 'apple'
        }).load();
	
	$("#help_id").click(function(){
  	  var redirect = true;
  	  $.ajax({
  			  type:"GET",
  			  async: false,
  			  url: "/account/login/RedirectToForm",
  			  success: function(data){
  				  if(data=="noAuth"){
  					  
  				  }else{
  					$('#virtual_form').find('input:eq(1)').attr('value',data);
  						 redirect = false;
  				  	   }
  				  
  			      }
  			 });
  	  		 if(redirect) {
  	  			window.location.replace("http://support.netconference.com/"); 
         		 }else{
         			var form = $('#virtual_form');
 					 form.submit();
         		 }

  	  
        });
	
	$("#help_id").mouseover(function(){
  	  $(this).attr("style","cursor: pointer");
    });
	
	});
</script>
<script type="text/javascript">
    $("#video_holder").flashembed({
    src: "{{ MEDIA_URL }}swf/flv_home_player.swf",
    version: [9, 0],
    scale: "showall",
    wmode: 'transparent',
    expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
    }, {
    stream_id: 'd9f98511fdaf70a6528fa89fb66329e4',
    stream_name: '',
    urlhash: 'MTgzNzA4'
});	
$("#video_holder").hide();
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29982394-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</html>
