<div id="video_holder" style="padding:10px;">
    <div id="video_holder_container" >
    
    </div>
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}longtail/jwplayer.js"></script>
<script type="text/javascript">

jwplayer('video_holder_container').setup({
	'autostart':'true',
'file':'mp4/b0f06ea9f6415268053ef54bc9bbb325_500.mp4',
'abouttext':'Netconference',
'aboutlink':'http://192.168.1.120',
modes: [{
    type: "flash",
    src: "{{ MEDIA_URL }}swf/longtail_player.swf"
},{
    type: "html5",
    config: {
        file: "http://{{ CLOUDFRONT_DOWNLOAD }}/mp4/b0f06ea9f6415268053ef54bc9bbb325_500.mp4",
        provider: "video"
    }
}],
'provider':'rtmp',
'streamer': 'rtmp://{{ CLOUDFRONT_STREAM }}',
'width':'650px',
'height':'365px',
});  
$("#video_holder").hide();
</script>