{% load i18n %}
{% load uni_form %}
{% load ifsetting_tag %}
{% load active_nav %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block head_title %}{% endblock %} - {% if SITE_NAME %}{{ SITE_NAME }}{% endif %}</title>

{% block extra_css_pre %}
{% endblock %}

<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico">
<link href="{{ MEDIA_URL }}new/css/reset_net.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}new/css/styles_net_old.css" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}new/Scripts/swfobject_modified.js" type="text/javascript"></script>

<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie6.css" />
<![endif]-->
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie7.css" />
<![endif]-->
<!--[if gt IE 7]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie8-and-up.css" />
<![endif]-->
<!--[if gte IE 8]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie8-and-up.css" />
<![endif]-->

{% block extra_css_post %}
{% endblock %}
</head>

<body>
<form  id="virtual_form" action="http://support.netconference.com/index.php?/Base/User/Login" method="post">
<input  type="hidden" name="_redirectAction" value=""/>
<input type="hidden" name="scemail" value="" />
<input  type="hidden" name="scpassword" value="#netconference#"/>

</form>

<div id="main_container"> 
  
  <!--HEADER STARTS-->
  <div id="login_user">{% if request.user.is_authenticated %}Logged in as {{ request.user.username }}{% endif %}</div>
  <div id="header_container">
  	<div id="logo" style="margin-top:-20px;">
  	{% block logo_link_image %}
		{% if user_theme.logo %}<a href="{% url home %}"><img src="{{ user_theme.logo_url }}" alt="NetConference" border="0" height="32px" /></a> {% else %}<a href="{% url home %}"><img src="{{MEDIA_URL}}images/netconf_newlogo.png" width="256" alt="NetConference" border="0" height="63px"  /></a> {% endif %}
	{% endblock %}
	</div>
     {% include "site_nav.html" %}
    <div id="account_details">
	  {% block account_links %}
      <div id="settings">
      	{% if user.is_authenticated %}<a href="{% url subscription_list %}">{% trans "UPGRADE" %}</a> <a href="{% url acct_settings %}">{% trans "SETTINGS" %}</a>{% endif %} <a id="help_id">{% trans "HELP" %}</a>
		</div>
		
      <div id="login">
      	{% if user.is_authenticated %}
			<a href="{% url acct_logout %}">{% trans "LOG OUT" %}</a> / <a href="{% url profile_detail user %}">{% trans "PROFILE" %}</a>
		
	  	{% else %}
			<a href="{% url acct_login %}">{% trans "LOG IN" %}</a> / <a href="{% url subscription_list %}">{% trans "SIGN UP" %}</a>{% endif %}
	  	</div>
	  {% endblock %} 
    	</div>
    <div class="clear"></div>
  </div>
  <!--HEADER ENDS--> 
  
  
  {% block submenu %}
  <!--SUBMENU STARTS-->
  <div id="submenu_container"></div>
  <!--SUBMENU ENDS-->
  {% endblock submenu %} 
 
 {% block content %}
 {% endblock content %}
 
 {% block footer %}
 <!--FOOTER STARTS-->
 <div id="footer">
     <div class="left" style="width:470px;">
         <a href="http://nxtgen.tv/"><img src="{{ MEDIA_URL }}new/images/footer_logo.png" style="vertical-align:middle;height:45px;" alt="NxtGenTV" /></a>
	 <br />
	 {% trans "NetConference technology created by" %} 
         <a href="http://www.illusionfactory.com/" target="_blank">The Illusion Factory</a>
	 &copy; 2006 - 2011 NxtGen LLC
     </div>
     <div class="right" style="width:475px;">
         <a href="{% url contact %}">{% trans "Contact Us" %}</a> • 
         <a href="{% url affiliate_opportunity %}">{% trans "Opportunity" %}</a> • 
         <a href="/invest/">{% trans "Investor Relations" %}</a> • 
         <a href="http://support.netconference.com/" style="color:#86CD03;">{% trans "Feedback" %}</a> •  
         <a href="{% url terms %}">{% trans "Terms of Service" %}</a> • 
         <a href="{% url privacy %}">{% trans "Privacy Policy" %}</a>
         <br/>
         {% trans "Translate:" %} 
	<a href="{% url acct_language_change_by_code lang_code='en' %}"><img src="{{ MEDIA_URL }}new/images/flag_01.png" alt="{% trans "English" %}" title="{% trans "English" %}" /></a>
	<a href="{% url acct_language_change_by_code lang_code='de' %}"><img src="{{ MEDIA_URL }}new/images/flag_02.png" alt="{% trans "German" %}" title="{% trans "German" %}" /></a>
	<a href="{% url acct_language_change_by_code lang_code='es' %}"><img src="{{ MEDIA_URL }}new/images/flag_03.png" alt="{% trans "Spanish" %}" title="{% trans "Spanish" %}" /></a>
	<a href="{% url acct_language_change_by_code lang_code='it' %}"><img src="{{ MEDIA_URL }}new/images/flag_04.png" alt="{% trans "French" %}" title="{% trans "French" %}" /></a>
	<a href="{% url acct_language_change_by_code lang_code='sv' %}"><img src="{{ MEDIA_URL }}new/images/flag_05.png" alt="{% trans "Swedish" %}" title="{% trans "Swedish" %}" /></a>

         &nbsp;<a href="http://ce.org/default.asp" target="_blank"><img src="{{ MEDIA_URL }}new/images/cea_logo.gif" width="88" height="31" alt="cea" /></a> &nbsp;
         &nbsp;<a href="http://www.la.bbb.org/Business-Report/NxtGenTV-LLC-100097178" target="_blank"><img src="{{ MEDIA_URL }}new/images/bbb_icon.gif" width="37" height="36" alt="bbb" /></a> &nbsp;
         <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=XtsRX9f9yipRMIWJgGecrgSHLpzopsfxYINOI0oNEwBzmJfUy4PSv0xo9G"></script></span> 
         <div class="clear"></div>
     </div>
 </div>
 <!--FOOTER ENDS-->
 {% endblock footer %} 
  
</div>

{% block footerscript %}

<script src="{{ MEDIA_URL }}js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.conf.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
<script type="text/javascript">
$(document).ready(function(){
           $(".video_trigger").overlay({
            expose: { 
                color: '#333', 
                loadSpeed: 200, 
                opacity: 0.9
            },
            closeOnClick: false,
            closeOnEsc: false,
            onLoad: function(event) { 
                      $(".scrollable").hide(); 
                      $("object#FlashID").hide();
                      $("div#decoy").show();
                    },
            onClose: function(event) { 
                       $(".scrollable").show(); 
                       $("div#decoy").hide();
                       $("object#FlashID").show();
                     },
            effect: 'apple'
        }).load();
  $("ul.subnav li").mouseout(function(eventObj) { $("ul.subnav li.current a").css("color", "#750998"); });
  $("ul.subnav li").mouseover(function(eventObj) { 
    if ($(this).attr("class") != "current") {
      $("li.current a").css("color", "#ffffff");
    }
  });
  $("ul#messages li").fadeOut(5000);
  $(function() { $(".subnav").lavaLamp({ fx: "backout", speed: 600 })}); 
  
  
  
});

$(document).ready(function() {
  
    $("#help_id").click(function(){
  	  var redirect = true;
  	  $.ajax({
  			  type:"GET",
  			  async: false,
  			  url: "/account/login/RedirectToForm",
  			  success: function(data){
  				  if(data=="noAuth"){
  					  
  				  }else{
  					$('#virtual_form').find('input:eq(1)').attr('value',data);
  						 redirect = false;
  				  	   }
  				  
  			      }
  			 });
  	  		 if(redirect) {
  	  			window.location.replace("http://support.netconference.com/"); 
         		 }else{
         			var form = $('#virtual_form');
 					 form.submit();
         		 }

  	  
        });
    $("#help_id").mouseover(function(){
  	  $(this).attr("style","cursor: pointer");
    });
});

</script>
{% endblock footerscript %}

{% block extrafooterscript %}
{% endblock %}
    
<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
{% if INCLUDE_ANALYTICS %}
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29982394-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
{% endif %}
</body>
</html>
