{% extends "newer_base.html" %}
{% load i18n %}
{% block title %}
Welcome to Netconference
{% endblock %}
{% block subtitle %}
{% endblock %}
{% block extra_scripts %}
<script src="{{ MEDIA_URL }}js/slides.min.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cycle.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easing.1.3.js"></script>
<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '{{MEDIA_URL}}images/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true,
				animationStart: function(current){
					$('.caption').animate({
						bottom:-35
					},100);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationStart on slide: ', current);
					};
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationComplete on slide: ', current);
					};
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},200);
				}
			});
		});
	</script>
{% endblock %}
{% block content %}
    <div class="banner">
        <div id="container">
            <div id="example">
                <div id="slides">
                    <div class="slides_container">
                        <div class="slide">
                            <div class="caption">
                                <h1><span class="purple">{% trans "Easy HD Web Conferencing </span> Makes Interacting with Anyone Online a Breeze" %}</h1>
                            </div>
                            <div class="slide_pic"><a href="{% url features_webconference %}" title="" target="_blank"><img src="{{MEDIA_URL}}images/new_slide_1.png" width="820" height="450"  alt="Slide 1" border="0" /></a></div>
                        </div>
                        <div class="slide">
                            <div class="caption">
                                <h1><span class="purple">NetConference<sup>&reg;</sup> {% trans "Your Office in the Cloud" %}<sup>&reg;</sup> </span> {% trans "Allows Access to Your Files From Anywhere" %}</h1>
                            </div>
                            <div class="slide_pic"><a href="#" rel="#video_holder" class="video_trigger" target="_blank"><img src="{{MEDIA_URL}}images/new_slide_2.png" width="820" height="450" alt="Slide 2" border="0" /></a> </div>
                        </div>
                        <div class="slide">
                            <div class="caption">
                                <h1><span class="purple">{% trans "Now You Can Have Up To" %}</span> {% trans "8<sup>*</sup> Guests on Camera at Once!" %}</h1>
                            </div>
                            <div class="slide_pic"> <a href="{% url features_webconference %}" title="" target="_blank"><img src="{{MEDIA_URL}}images/new_slide_3.png" width="820" height="450"  alt="Slide 3" border="0" /></a></div>
                        </div>
						<div class="slide">
                            <div class="caption">
                                <h1><span class="purple">{% trans "Now Your Ideas Can Travel" %}</span> {% trans "Instead of You" %}</h1>
                            </div>
                            <div class="slide_pic"> <a href="{% url subscription_list %}" title="" target="_blank"><img src="{{MEDIA_URL}}images/new_slide_4.png" width="820" height="450"  alt="Slide 4" border="0" /></a></div>
                        </div>
						<div class="slide">
                            <div class="caption">
                                <h1><span class="purple">{% trans "Work Faster and More Efficiently Online" %}</span> {% trans "With Our MultiUser Whiteboards" %}</h1>
                            </div>
                            <div class="slide_pic"> <a href="{% url features_multiuser %}" title="" target="_blank"><img src="{{MEDIA_URL}}images/new_slide_5.png" width="820" height="450"  alt="Slide 5" border="0" /></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JQUERY SLIDER ENDS -->
    {% include "introduction_video.html" %}
    <!--SOCIAL MEDIA BUTTONS-->
    <div class="social_media_panel">
	    <div class="social_media">
    		<h1>Sign Up for <strong>FREE</strong> Using Your Social Media Accounts</h1>
        	<button class="facebook_button" id="social_facebook">Facebook</button>
        	<button class="linkedin_button" id="social_linkedin">LinkedIn</button>
        	<button class="twitter_button" id="social_twitter">Twitter</button>
        	<button class="google_button" id="social_google">Google</button>
            <p class="nocc">No credit card required.</p>
   		</div>
   		<div> <a href="/account/signup/" class="trialbut"> Try It <span class="yellow">FREE</span> </a> <a href="/subscription/" class="purplebut"> Buy Now! </a> <a href="#" rel="#video_holder" class="video_trigger purplebut"> Watch Video </a> </div>
    </div>
    <div class="clear"></div>
    <!--SOCIAL MEDIA BUTTONS ENDS-->
    <!-- FEATURES -->
    <div class="features">
        <div class="scrollable">
            <div class="items" style="left: -1904px; ">
                <div class="slide_holder cloned">
                    <h1>{% trans "Video E-mail" %}</h1>
                    <p class="bold">{% trans "Send video messaging in your e-mail" %}<br/>
{% trans "to your friends" %}</p>
                    <p>{% trans "Video Greeting Card Recording System allows you to record a message using your webcam, and attach any other media." %}</p>
                    <a href="{% url features_vmail %}">{% trans "Learn More" %}</a>
					<br/>
                    <div class="icon"><img src="{{MEDIA_URL}}images/video_email_home.png"  alt="Receive a Free Telephone Conference Line"></div>
                </div>
                <div class="slide_holder cloned">
                    <h1>{% trans "Safely Store Your Files" %} <br/>
{% trans "On The Cloud" %}</h1>
                    <p class="bold">{% trans "Access files on all browsers" %} <br/>
{% trans "and mobile devices." %}</p>
                    <p>{% trans "Send a client large files such as videos, PowerPoint presentations or groups of photos. No hassles, no rejection." %}</p>
                    <a href="{% url features_files %}">Learn More</a>
                    <div class="icon"><img src="{{MEDIA_URL}}images/largefiles_icon_home.png"  alt="Receive a Free Telephone Conference Line"></div>
                </div>
                <div class="slide_holder cloned">
                    <h1>{% trans "Social Networking Tools" %}</h1>
                    <p class="bold">{% trans "Broadcast your public media throughout" %}<br/>
{% trans "the world of social media." %}</p>
                    <p>{% trans "Promote your VMails, Live Conferences and Recorded Webinars on all important " %}<br/>  {% trans "social media platforms." %}</p>
                    <a href="{% url features_social %}">Learn More</a>
                    <div class="icon"><img src="{{MEDIA_URL}}images/social_networking_home.png"  alt="Receive a Free Telephone Conference Line"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- FEATURES ENDS -->
{% endblock %}
{% block extrafooterscript %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#social_linkedin").click(function(){
            window.location = '{% url socialauth_linkedin_login %}';
        });
        $("#social_facebook").click(function(){
            window.location = '{% url socialauth_facebook_login %}';
        });
        $("#social_twitter").click(function(){
            window.location = '{% url socialauth_twitter_login %}';
        });
        $("#social_google").click(function(){
            window.location = '{% url socialauth_google_login %}';
        });
    });
    </script>
{% endblock %}
