{% extends "newer_base.html" %}
{% load subscription_tags %}
{% block title %}
    Pricing -
{% endblock %} 
{% block content %}
    <div class="new_inner_page">
        <div id="pricing_packages"> <span class="page_heading">Take a FREE 30 day Test Flight</span>
            <p class="heading">Thousands of people have NetConference&reg;  accounts. Get yours in under a minute.</p>
            <div class="pricing_slide_holder">
                {% for object in object_list %}
                    <div class="pricing_slide {% ifequal object.display_name 'Standard' %}suggested{% endifequal %}">
                        <div class="package_name">
                            <h1>{{object.display_name}}</h1>
                            <h2>{% ifequal object.display_name 'Enterprise' %}Contact Sales{% else %}Annually: ${{object.corresponding_term_plan.price|price_float_to_int}}/yr{% endifequal %}</h2>
                            <h2>{% ifequal object.display_name 'Enterprise' %}{% else %}Monthly: ${{object.price}}/mo{% endifequal %}</h2>
                            <h3>{% ifequal object.display_name 'Enterprise' %}{{object.description}}{% else %}{{object.description}}{% endifequal %}</h3>
                            <h4>{% ifequal object.display_name 'Enterprise' %}{% else %}20% Annual Discount{% endifequal %}</h4>
                        </div>
                        <ul>
                            <li><span class="purple_text">{% ifequal object.display_name 'Enterprise' %}{% else %}{{ object.file_size_mb_limit|file_size_units }}</span> Cloud Storage{% endifequal %}</li>
                            <li><span class="purple_text">{% ifequal object.conference_minutes_limit 9999 %}Unlimited{% else %}{{object.conference_minutes_limit}}{% endifequal %}</span> Conference Minutes</li>
                            <li><span class="purple_text">{% ifequal object.video_seats 8 %}{{object.video_seats}}<span style="font-size:9px;">*</span>{% else %}{{object.video_seats}}{% endifequal %}</span> Video Chats</li>
                            <li><span class="purple_text">{{object.guests_limit}}</span> Number of Guests</li>
                            <li><span class="purple_text">{{object.concurrent_documents_open}}</span> Concurrent Documents Open</li>
                            <li class="pad30"><span class="purple_text">{% ifequal object.vmail_send_limit 9999 %}Unlimited{% else %}{{object.vmail_send_limit}}{% endifequal %}</span> V-Mails<sup>&trade;</sup> Per Month</li>
                        </ul>
                        <div class="getstarted">
                            {% ifequal object.display_name 'Enterprise' %}
                                <img src="{{MEDIA_URL}}images/callus.png">
                            {% else %}
                                <img src="{{MEDIA_URL}}images/getstarted_title.png">
                            {% endifequal %}
                        </div>
                        {% ifequal object.display_name 'Enterprise' %}
                            <p class="callus">1-855-856-8855</p>
                        {% else %}
                            <a href="{% if user.is_authenticated %}{% url conferencing_direct_to_checkout object.pk %}{% else %}{% url acct_signup %}?subscription={{object.pk}}{% endif %}">
                                <button class="monthly_plan">Monthly Plan</button>
                            </a>
                        {% endifequal %}
                        {% ifequal object.display_name 'Enterprise' %}
                        {% else %}
                            <a href="{% url acct_signup %}?subscription={{object.corresponding_term_plan.pk}}">
                                <button class="annual_plan">Annual Plan</button>
                            </a>
                        {% endifequal %}
                    </div>
                {% endfor %}

                    <div class="pricing_slide">
                        <div class="package_name">
                            <h1>{{enterprise.display_name}}</h1>
                            <h2>Contact Sales</h2>
                            <h2>{% ifequal enterprise.display_name 'Enterprise' %}{% else %}Monthly: ${{enterprise.price}}/Month{% endifequal %}</h2>
                            <h3>{% ifequal enterprise.display_name 'Enterprise' %}{{enterprise.description}}{% else %}{{enterprise.description}}{% endifequal %}</h3>
                            <h4>{% ifequal enterprise.display_name 'Enterprise' %}{% else %}20% Annual Discount{% endifequal %}</h4>
                        </div>
                        <p class="callus">
							<img src="{{MEDIA_URL}}images/callus.png" width="78" height="22" alt="Ge started" style="padding-bottom: 15px;" /><br />
                            <img src="{{MEDIA_URL}}images/toll_free.png" width="88" height="22" alt="Toll Free"style="padding-bottom: 20px;" /><br />
                            1-855-856-8855</p>                        
                    </div>
                <div class="clear"></div>
                <p style="font: normal 10px Arial, Helvetica, sans-serif; color:#A5A4A4; text-align:right;">*Depending Upon Internet Connection</p><br />
                <div class="shadow_line"></div>
                <br />
                <span class="testimonial">"Using one cohesive system instead of three or four separate online vendors, <br />
                not only saves money on multiple subscriptions <br />
                but keeps a single focus for the entire team."  - <span class="bluetext">Forbes</span></span> </div>
        </div>
    </div>
    <div class="help_text">
        <div class="column_one">
            <h2>Am I locked into a long term Contract?</h2>
            <p>No. With NetConference® you are never locked into a contract or a 
                long term financial comittment. Simply, pay as you go and cancel at any time.</p>
            <h2>May I change my plan?</h2>
            <p>Sure. You are able to change your plan at any time and have 
                complete flexability. Your upgraded features will be available immediately. Your bill for that month will reflect the higher of each plan's pricing for that month. </p>
        </div>
        <div class="column_two">
            <h2>What can I expect from the 30-day free trial?</h2>
            <p>You may cancel a paying plan without any penalties or charges within your first free 30-days of service. You may elect to cancel your subscription anytime after that, however you will be responsible for all
                charges for the month incurred within your cancellation date. We are not able to issue any refunds and unfortunately cannot prorate for any monthly charges.</p>
            <h2>What types of payment does NetConference<sup>&reg;</sup> accept?</h2>
            <p>We accept Visa, Matercard, American Express and Paypal as a form of payment. We only accept and provide online transactions to keep costs down for our subscribers. </p>
        </div>
        <div class="clear"></div>
        <hr/>
        <br/>
        <br/>
        <div class="column_one">
        	<div class="lockicon"></div>
            <h2>Our first priority is keeping your data safe...</h2>
            <p>We have built one of the most secure computer systems, 		housed in a security center protected by three levels of biometric entry and 24-7 video survelience. Our enterprise class firewalls are monitored by some of the brightest computer minds in the world today.</p>
        </div>
        <div class="column_two">
            <h2>What web browsers are best to use with NetConference<sup>&reg;</sup>?</h2>
            <p>Internet Explorer 7 or 8, Firefox 3 and higher, Safari 4, and Chrome 4. </p>
            <h2>Do you have any more questions before you sign up?</h2>
            <p>We appreciate your feedback and welcome all inquiries, big and small. Simply fill out our form <a href="#" class="bluetext">here</a> and we will get back to you the same day. </p>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
