<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
{% load active_nav %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="YGbyz7TpUipJsbNtGDjw1OxTROSrmTyM-jWugXQnGAI" />
<title>{% block title %}{% endblock %}{% block subtitle %}Netconference{% endblock %}</title>
<link href="{{ MEDIA_URL }}new/css/reset_net.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}new/css/styles_net.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
<script src="{{ MEDIA_URL }}js/dropdowntabs.js"></script>
<script src="{{ MEDIA_URL }}new/Scripts/swfobject_modified.js"></script>

{% block extra_css_pre %}
{% endblock %}
{% block extra_css %}
{% endblock %}

{% block extra_css_post %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block selectDivScript %}
<script>
    $(document).ready(function(){
        $(".selectDiv").change(function(){
            var chosen = $("select.selectDiv option:selected").val();
            window.location = chosen;
        });
        $("#toprightoptions > li").click(function(event){
            alert(event.target);
            var chosen = event.target.attr('value');
            alert(chosen);
            window.location = chosen;
        });
    });
</script>
{% endblock %}
</head>
<body>
<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->
<div class="grid">
    <!-- HEADER -->
    {% block header %}
    <div class="header">

        {% block netconference_logo %}
        <div class="logo"><a href="{% url home %}"><img src="{{MEDIA_URL}}images/netconf_newlogo.png" width="256"  alt="Net Conference logo" /></a></div>
        {% endblock %}

        {% block site_navigation %}
        <div class="topnavigation">
        {% if user.is_authenticated %}
       		 <ul>
       		  {% url conferencing as conferencing %}
                <li><a   class="{% active_nav request conferencing %}" href="{% url conferencing %}">Dashboard</a></li>
                {% url my_conferences as my_conferences %}
                <li><a class="{% active_nav request my_conferences %}" href="{% url my_conferences %}" >Conferences</a></li>
                  {% url my_files as my_files %}
                <li ><a href="{% url my_files %}" class="{% active_nav request my_files %}">Files</a></li>
                <!--<li><a href="{% url my_netsign %}" >Netsign</a></li>-->
                
                 {% url vmail_wizardCompose as vmail_wizardCompose %}
                <li><a href="{% url vmail_wizardCompose %}" class="{% active_nav request vmail_wizardCompose %}">V-Mail&#0153;</a></li>
               {% url invitations_contacts as invitations_contacts  %}
				<li><a href="{% url invitations_contacts %}" class="{% active_nav request invitations_contacts %}">Contacts</a></li>
                {% url tutorial as tutorial %}
                <li><a href="{{tutorial}}" class="{% active_nav request tutorial %}">{% trans "Tutorials" %}</a></li>
            </ul>
        {% else %}
            <ul>
                {% url netconference as netconference %}
                <li><a href="{{netconference}}" class="{% active_nav request netconference %}">{% trans "What is NetConference?" %}</a></li>
                {% url aboutus as aboutus %}
                <li><a href="{{aboutus}}" class="{% active_nav request aboutus %}">{% trans "About Us" %}</a></li>
                {% url features_home as features_home %}
                <li><a href="{{features_home}}" class="{% active_nav request features_home %}">{% trans "Features" %}</a></li>
                {% url subscription_list as subscription_list %}
                <li ><a href="{{subscription_list}}" class="{% active_nav request subscription_list %}"><span class="green_text" >{% trans "Plans &amp; Prices" %}</span></a></li>
                {% url acct_signup as acct_signup %}
                <li><a href="{{acct_signup}}" class="{% active_nav request acct_signup %}">{% trans "Get Started" %}</a></li>
                {% url tutorial as tutorial %}
                <li><a href="{{tutorial}}" class="{% active_nav request tutorial %}">{% trans "Tutorials" %}</a></li>
            </ul>
            {% endif %}
        </div>
        {% endblock %}

        {% block login_logout %}
        <div class="support"><span class="purple"><a href="http://support.netconference.com/" id="help_id">{% trans "Support" %}</a></span><br/></div>
            {% comment %}
            {% if user.is_authenticated %}
                <a href="{% url acct_logout %}">{% trans "Log Out" %}</a>
            {% else %}
                <a href="{% url acct_login %}">Log in</a>
            {% endif %} / 
            {% if user.is_authenticated %}
                <a href="{% url profile_detail user %}">{% trans "Profile" %}</a>
            {% else %}
                <a href="{% url subscription_list %}">Sign up</a>
            {% endif %}
            {% endcomment %}
            {% if user.is_authenticated %}
            	<div id="slidemenu" class="slidetabsmenu">
					<ul>
						<li><a href="" rel="dropmenu1_c">Welcome, {{user.username}}</a></li>
					</ul>
				</div>

                <!--1st drop down menu -->                                                   
                <div id="dropmenu1_c" class="selectDiv">
                <a href="{% url profile_detail user.username %}">View Profile</a>
                <a href="{% url acct_settings %}">Account Settings</a>
                <a href="{% url affiliate_dashboard %}">Affiliate Program</a>
                <a href="{% url acct_logout %}">Log Out</a>
                </div>

                <script type="text/javascript">
                //SYNTAX: tabdropdown.init("menu_id", [integer OR "auto"])
                tabdropdown.init("slidemenu")
                </script>
            {% else %}
                <div class="login_logout">
                <a href="{% url acct_login %}">Log in</a> /
                <a href="{% url subscription_list %}">Sign up</a>
                </div>
            {% endif %}
        <!--</div>-->
        {% endblock %}

    </div>
    {% endblock %}
    <!-- HEADER ENDS-->

    <!-- TAGLINE -->
    <div class="topline"></div>
    <!-- TAGLINE ENDS -->

    <!--Block content starts-->
    {% block content %}
    {% endblock %}
    <!--Block content ends-->

    {% block after_content_shadow %}
    <div class="shadow_line"></div>
    {% endblock %}

    {% block footer %}
    <!-- FOOTER LINKS-->
        <div id="footerNav">
			<div class="leftNav">
				<ul>
					<li><a href="{% url netconference %}">What is NetConference?</a></li>
					<li><a href="{% url aboutus %}">About Us</a></li>
					<li><a href="{% url features_home %}">Features </a></li>
					<li><a href="{% url netconference %}#solutions">Solutions</a></li>
					<li><a href="{% url tutorial %}">Tutorials</a></li>
					<li><a href="{% url affiliate_opportunity %}">Affiliate Program</a></li>
					<li><a href="http://support.netconference.com/index.php?/Knowledgebase/List/Index/8/faqs">FAQs</a></li>
				</ul>
			<div class="socialfollow">
				<a href="http://www.facebook.com/netconferenceyourofficeinthecloud" target="_blank"><img src="{{MEDIA_URL}}images/fb_social_icon.png" width="19" height="19" alt="Facebook" style="vertical-align:middle;"></a>
                <a href="https://twitter.com/netconference" target="_blank"><img src="{{MEDIA_URL}}images/twitter_social_icon.png" width="19" height="19" alt="Twitter" style="vertical-align:middle;"></a>
                <a href="http://www.linkedin.com/pub/netconference%C2%AE-your-office-in-the-cloud%C2%AE/51/82/48" target="_blank"><img src="{{MEDIA_URL}}images/linkedin_social_icon.png" width="19" height="19" alt="LinkedIn" style="vertical-align:middle;"></a>
                <a href="https://plus.google.com/108762519558200057811/posts" target="_blank"><img src="{{MEDIA_URL}}images/google_docs.png" width="19" height="19" alt="Google" style="vertical-align:middle;"></a>
			</div>
			</div>
			<div class="rightNav">
				<h4>Sales: </h4>
				<p>Email: <a href="mailto:sales@netconference.com">sales@netconference.com</a></p>
				<p>Toll Free: <span class="purple">(855) 856-8855</span></p>
			</div>
            <div class="clear"></div>
        </div>
    {% endblock %}
    <!--Block footer ends -->

    {% block after_footer_shadow %}
    <div class="shadow_line"></div>
    {% endblock %}

    {% block copyright %}
    <!-- COPYRIGHT -->
    <div class="copyright">

        {% block copyright_left %}
    <div class="left" > <a href="http://nxtgen.tv/"><img src="{{MEDIA_URL}}images/nxtgen_tv_logo.png" width="107" height="29" style="vertical-align:middle; padding-top:15px;" alt="NxtGenTV"></a> <br>
      <p><span>NetConference technology created by</span> <a href="http://www.illusionfactory.com/" target="_blank">The Illusion Factory</a></p>
	  <p><span>&copy;</span> 2012 NxtGen, LLC. All rights reserved. <a href="{% url terms %}" class="purple">Terms of Service</a> • <a href="{% url privacy %}" class="purple">Privacy Policy</a></p>
      </div>
        {% endblock %}

        {% block copyright_right %}
    <div class="right" > <img src="{{MEDIA_URL}}images/cea_logo.gif" width="88" height="31" alt="cea"><img src="{{MEDIA_URL}}images/bbb_icon.gif" width="37" height="36" alt="bbb"> <img src="{{MEDIA_URL}}images/verified_secured.png" width="134" height="33" alt="" /></div>
        {% endblock %}

        <div class="clear"></div>

    </div>
    <!-- COPYRIGHT ENDS -->
    {% endblock %}
    <!--Block copyright ends -->

</div>
<form  id="virtual_form" action="http://support.netconference.com/index.php?/Base/User/Login" method="post">
<input  type="hidden" name="_redirectAction" value=""/>
<input type="hidden" name="scemail" value="" />
<input  type="hidden" name="scpassword" value="#netconference#"/>
</form>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type='text/javascript'>
document.write(unescape("%3Cscript%20src='"+
 (document.location.protocol=='https:'?
  'https://clicktale.pantherssl.com/':
  'http://s.clicktale.net/')+
 "WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var ClickTaleSSL=1;
if(typeof ClickTale=='function') ClickTale(8134,1,"www09");
</script>
<!-- ClickTale end of Bottom part -->
</body>

<script type="text/javascript">
    $(document).ready(function(){
	$(".video_trigger").overlay({
            expose: { 
                color: '#333', 
                loadSpeed: 200, 
                opacity: 0.9
            },
            closeOnClick: false,
            closeOnEsc: false,
            onLoad: function(event) { 
                    },
            onClose: function(event) { 
                     },
            effect: 'apple'
        }).load();
	
	/*$("#help_id").click(function(){
  	  var redirect = true;
  	  $.ajax({
  			  type:"GET",
  			  async: false,
  			  url: "/account/login/RedirectToForm",
  			  success: function(data){
  				  if(data=="noAuth"){
  					  
  				  }else{
  					$('#virtual_form').find('input:eq(1)').attr('value',data);
  						 redirect = false;
  				  	   }
  				  
  			      }
  			 });
  	  		 if(redirect) {
  	  			window.location.replace("http://support.netconference.com/"); 
         		 }else{
         			var form = $('#virtual_form');
 					 form.submit();
         		 }

  	  
        });*/
	
	$("#help_id").mouseover(function(){
  	  $(this).attr("style","cursor: pointer");
    });
	
	});
</script>
{% block extrafooterscript %}
{% endblock %}
{% if INCLUDE_ANALYTICS %}
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29982394-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
{% endif %}
</html>
