{% extends "newer_base.html" %}
    {% block extra_css_pre %}
        <style type="text/css">
            .vmail
            {
                margin-top: -7px;
            }
        </style>
    {% endblock %}
    {% block content %}
    <div id="tutorialspage"><!--CONTENT STARTS-->
		<p style="padding-left: 20px;"><img src="{{MEDIA_URL}}images/tutorials.png" /></p><br />
  		<div class="leftthumb">
			<ul>
				<li class="conf_room_setup" id="conf_room_setup_trigger" rel="#conf_room_setup" target="_blank" ><a href="#">Conference Room Setup</a></li>
				<li class="tut_contacts" id="tut_contacts_trigger" rel="#tut_contacts"><a>Contacts</a></li>
				<li class="tut_overview" id="tut_overview_trigger"  rel="#tut_overview" ><a>Overview Tutorials</a></li>
				<li class="tut_prest"  id="tut_prest_trigger" rel="#tut_prest"><a>Presentation Overview</a></li>
			</ul>
		</div>
		<div class="right_picture">
			<h1>Conference Room Setup</h1>
			<p>Prepare your conference room for your presentation with these easy guidelines.</p>
		</div>
		<div class="btmthumb">
			<ul>
				<li class="tut_scdconf" id="tut_scdconf_trigger" rel="#tut_scdconf" target="_blank"><a>Schedule a Conference</a></li>
				<li class="tut_tools" id="tut_tools_trigger" rel="#tut_tools" target="_blank"><a>Tools Overview</a></li>
				<li class="tut_videoconf" id="tut_videoconf_trigger" rel="#tut_videoconf" target="_blank"><a>Video Conference Overview</a></li>
				<li class="tut_vmail" id="tut_vmail_trigger"  rel="#tut_vmail" target="_blank"><a>V-Mail<sup>&trade;</sup> Overview</a></li>
				<li class="tut_workfiles" id="tut_workfiles_trigger" rel="#tut_workfiles" target="_blank"><a>Working with Files</a></li>
			</ul>
		</div>
		
		<div class="video_tutorial_container">
		
		<div  id="conf_room_setup" class="video_tutorial_class"><div id="conf_room_setup_sub" ></div></div>
		<div id="tut_contacts" class="video_tutorial_class"><div id="tut_contacts_sub" ></div></div>
		<div id="tut_overview" class="video_tutorial_class"><div id="tut_overview_sub" ></div></div>
		<div id="tut_prest" class="video_tutorial_class"><div id="tut_prest_sub" ></div></div>
		<div id="tut_scdconf" class="video_tutorial_class"><div id="tut_scdconf_sub" ></div></div>
		<div id="tut_tools" class="video_tutorial_class"><div id="tut_tools_sub" ></div></div>
		<div id="tut_videoconf" class="video_tutorial_class"><div id="tut_videoconf_sub" ></div></div>
		<div id="tut_vmail" class="video_tutorial_class"><div id="tut_vmail_sub" ></div></div>
		<div id="tut_workfiles" class="video_tutorial_class"><div id="tut_workfiles_sub" ></div></div>
		
		
		</div>
		
		
		
    </div><!--CONTENT ENDS-->
    {% endblock %}
{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}longtail/jwplayer.js"></script>
<script type="text/javascript">

initial_video_intro = function(id, stream, width, height){
	jwplayer(id+'_sub').setup({
		'autostart':'true',
	'file':'tutorial/'+stream,
	'abouttext':'Netconference',
	'aboutlink':'{{ HTTP_DOMAIN }}',
	modes: [{
	    type: "flash",
	    src: "{{ MEDIA_URL }}swf/longtail_player.swf"
	},{
	    type: "html5",
	    config: {
	        file: 'http://{{ CLOUDFRONT_DOWNLOAD }}tutorial/'+stream,
	        provider: "video"
	    }
	}],
	'provider':'rtmp',
	'streamer': 'rtmp://{{ CLOUDFRONT_STREAM }}',
	'width':width,
	'height':height,
	});  
};
fire_action_trigger = function(id, stream, width, height){
	var close_w  = 660-width-20;
	$("#"+id+"_trigger").overlay({
        expose: { 
            color: '#333', 
            loadSpeed: 200, 
            opacity: 0.9,
            background:'red'
        },
        closeOnClick: true,
        closeOnEsc: true,
        onLoad: function(event) { 
        	initial_video_intro(id,stream, width, height);
        	/* $('.leftthumb').find('a').removeClass('activevip');
        	$('.btmthumb').find('a').removeClass('activevip');
        	$("#"+id+"_trigger").find('a').addClass('activevip'); */
        },
        onClose: function(event) { 
        	$('#'+id).html('<div class="close" style="right:'+close_w+'px"></div><div id="'+id+'_sub" ></div>');
                 },
        effect: 'apple'
    });
	$('#'+id).find('.close').css('right',close_w+'px');
};


$(document).ready(function(){
	fire_action_trigger('conf_room_setup','3-NetConferenceConferenceRoomSetUp.mp4', 648, 423);
	fire_action_trigger('tut_contacts','10-NetConferenceContactsTutorial.mp4', 576, 423);
	fire_action_trigger('tut_overview','1-NetConferenceOverviewTutiorial.mp4', 576, 423);
	fire_action_trigger('tut_prest','6-NetConferencePresentationOverview.mp4', 576, 423);
	fire_action_trigger('tut_scdconf','2-NetConferenceScheduleAConference.mp4', 648, 423);
	fire_action_trigger('tut_tools','7-NetConferenceToolsTutorial.mp4', 576, 423);
	fire_action_trigger('tut_videoconf','4-NetConferenceVideoConferenceOverview.mp4', 576, 423);
	fire_action_trigger('tut_vmail','9-NetConferenceVideoEmailTutorial.mp4', 576, 423);
	fire_action_trigger('tut_workfiles','5-NetConferenceFilesTutorial.mp4', 576, 423); 
	/* 
	$(".video_tut_trigger").overlay({
        expose: { 
            color: '#333', 
            loadSpeed: 200, 
            opacity: 0.9,
            background:'red'
        },
        closeOnClick: false,
        closeOnEsc: false,
        onLoad: function(event) { 
        	initial_video_intro(id,stream);
        },
        onClose: function(event) { 
        	$('#'+id).html('<div id="'+id+'_sub" ></div>');
                 },
        effect: 'apple'
    }); */
	$('.video_tutorial_class').hide();
});

</script>

<script  type="text/javascript">
        $(document).ready(function(){
            $(".conf_room_setup").hover(
                function(){
                    $(".right_picture > h1").text("Conference Room Setup");
                    $(".right_picture > p").html("Prepare your conference room for your presentation with these easy guidelines.");
                    $(".right_picture > h1").removeClass("vmail");
                    $(".right_picture > p").removeClass("importreg");
                }
            );
            $(".tut_contacts").hover(
                function(){
                    $(".right_picture > h1").text("Contacts");
                    $(".right_picture > p").html("Import all of your contacts for use with NetConference<sup>&reg;</sup> Your Office in the Cloud<sup>&reg;</sup>.");
                    $(".right_picture > p").addClass("importreg");
                    $(".right_picture > h1").removeClass("vmail");
                }
            );
            $(".tut_overview").hover(
                function(){
                    $(".right_picture > h1").text("Overview Tutorial");
                    $(".right_picture > p").html("General review of the features and functions of NetConference<sup>&reg;</sup> Your Office in the Cloud<sup>&reg;</sup>.");
                    $(".right_picture > h1").removeClass("vmail");
                }
            );
            $(".tut_prest").hover(
                function(){
                    $(".right_picture > h1").text("Presentation Overview");
                    $(".right_picture > p").text("Learn the subtleties of making your presentations efficient and effective.");
                    $(".right_picture > h1").removeClass("vmail");
                    $(".right_picture > p").removeClass("importreg");
                }
            );
            $(".tut_scdconf").hover(
                function(){
                    $(".right_picture > h1").text("Schedule a Conference");
                    $(".right_picture > p").text("Review the conference invitation and scheduling process.");
                    $(".right_picture > h1").removeClass("vmail");
                    $(".right_picture > p").removeClass("importreg");
                }
            );
            $(".tut_tools").hover(
                function(){
                    $(".right_picture > h1").text("Tools Overview");
                    $(".right_picture > p").html("Summary of the many tools that you may use in NetConference<sup>&reg;</sup> Your Office in the Cloud<sup>&reg;</sup>.");
                    $(".right_picture > h1").removeClass("vmail");
                    $(".right_picture > p").addClass("importreg");
                }
            );
            $(".tut_videoconf").hover(
                function(){
                    $(".right_picture > h1").text("Video Conference Overview");
                    $(".right_picture > p").text("Comprehensive look at the video conference system and how to use it effectively.");
                    $(".right_picture > h1").removeClass("vmail");
                    $(".right_picture > p").removeClass("importreg");
                }
            );
            $(".tut_vmail").hover(
                function(){
                    $(".right_picture > h1").html("V-Mail<sup>&trade;</sup> Overview");
                    $(".right_picture > p").text("Guide to producing effective video emails for business and personal use.");
                    $(".right_picture > h1").addClass("vmail");
                    $(".right_picture > p").removeClass("importreg");
                }
            );
            $(".tut_workfiles").hover(
                function(){
                    $(".right_picture > h1").text("Working with Files");
                    $(".right_picture > p").text("Guide to your file management.");
                    $(".right_picture > h1").removeClass("vmail");
                    $(".right_picture > p").removeClass("importreg");
                }
            ); 
        });
    </script>
{% endblock %}
    
