{% extends "new_base.html" %}
{% load subscription_tags %}
{% load i18n %}

{% block head_title %}
{% trans "Pricing and Plans" %}
{% endblock %}

{% block content %}
  {% if messages %}
    {% for message in messages%}
      <div id="message_content"><li>{{ message }}<a href="#" class="buttonGreenSmall message-close" style="float:right;text-align:center;text-decoration:none;line-height:25px;margin-bottom:10px;" onclick="$('#message_content').hide();">{% trans "Clear" %}</a></li></div>
      {% endfor %}
  {% endif %}
  <!--PRICING PACKAGES STARTE -->
  <div id="pricing_packages"> <span class="page_heading">{% if not request.user.is_authenticated %}{% if request.session.has_60_coupon %}{% trans "Take a FREE 60 day Test Flight" %}{% else %}{% trans "Take a FREE 30 day Test Flight" %}{% endif %}{% endif %}</span>
    <p class="heading">{% blocktrans %}Thousands of people have NetConference accounts. Get yours in under a minute.{% endblocktrans %}</p>
    {% if not request.user.is_authenticated %}
    {% endif %}

    <div class="pricing_slide_holder"> 
        {% for object in object_list %}
        <!--SLIDE ONE STARTS-->
        <div class="pricing_slide{% ifequal object.name 'Standard' %}_big{% endifequal %}">
            <h1>{{ object.name }}</h1>
            <h2>${{ object.price }}/{{ object.get_recurrence_unit_display }}</h2>
            <h3>{{ object.description }}</h3>
            <img src="{{ MEDIA_URL }}new/images/footer_bg.gif" alt="Separator" style="width:100%;margin-top:10px;" />
            <p style="margin-bottom:2{% ifequal object.name 'Standard' %}5{% else %}0{% endifequal %}px;"></p>
            <span style="display:none;"></span>
            <p><span class="purple_text">{{ object.guests_limit }}</span> {% trans "Meeting Participants" %}</p>
            <span class="tooltip">
                <div>
                    <p>{% blocktrans with object.guests_limit as guests_limit and object.video_seats as video_seats %}Web Conference with upto {{ guests_limit }} attendees including {{ video_seats }} video seats. Rotate anyone in and out of these Host and Guest seats to become the Presenter or broadcast live on Web Camera.{% endblocktrans %}<p>
                </div>
            </span>
            <p>
                <span class="purple_text">
                {% ifequal object.conference_minutes_limit 9999 %}{% trans "Unlimited" %}
                </span>{% trans "Conferencing" %}
                {% else %}{{ object.conference_minutes_limit }}
                </span>{% trans "Conferencing Minutes" %}
                {% endifequal %}
            </p>
            <span class="tooltip">
                <div>
                    <p>{% blocktrans %}Get unlimited conferencing minutes and meetings with your Pro account.{% endblocktrans %}</p>
                </div>
            </span>
            <p><span class="purple_text">{{ object.file_size_mb_limit|file_size_units }}</span> Online Cloud Storage</p>
            <span class="tooltip">
                <div>
                    <p>{% blocktrans %}Upload ANY type of file or document. Including: Power Point Presentations, PDFs, Word Documents, Excel Sheets, Images, Videos, and every other file type to share in your presentation.{% endblocktrans %}</p>
                </div> 
            </span>
            <p>
                <span class="purple_text">
                    {% ifequal object.netsign_total_limit 9999  %}
                    {% trans "Unlimited" %}
                    {% else %}
                    {{ object.netsign_total_limit }}
                    {% endifequal %}
                </span> {% trans "Digital Contracts" %}
            </p>
            <span class="tooltip">
                <div>
                    <p>{% blocktrans %}Prospect. Present. Close. Get the deal done right now with NetSign our Digital Signature Service. Upload and sign contracts in half the time. No more scanning or waiting by the fax machine. Sign. Send. Done!{% endblocktrans %}</p>
                </div>
            </span>
            <p><span class="purple_text">{{ object.total_guests }}</span> {% trans "Telephone Participants" %}</p>
            <span class="tooltip">
                <div>
                    <p>{% blocktrans with object.guests_limit as guests_limit %}Receive a FREE telephone conference bridge to to host up to {{ guests_limit }} attendees on telephone. Host, record, mute and playback your bridge conference with advanced conferencing features.{% endblocktrans %}</p>
                </div>
            </span>
            <p style="margin-bottom:2{% ifequal object.name 'Standard' %}5{% else %}0{% endifequal %}px;"></p>
            <span class="tooltip"></span>
            <a href="{% if user.is_authenticated %}{% url conferencing_direct_to_checkout object.pk %}{% else %}{% url acct_signup %}?subscription={{ object.pk }}{% endif %}" class="pricing_href">
                <div class="getstarted">
                    <p style="margin:0px;padding:0px;border:0px;font-size:22px;color:#fff;padding-top:8px;">{% trans "Monthly Plan" %}</p>
                </div>
            </a>
            <a href="{% if user.is_authenticated %}{% url conferencing_direct_to_checkout object.corresponding_term_plan.pk %}{% else %}{% url acct_signup %}?subscription={{ object.corresponding_term_plan.pk }}{% endif %}" class="pricing_href">
                <div class="getstarted">
                    <p style="margin:0px;padding:0px;border:0px;font-size:22px;color:#fff;padding-top:8px;">{% trans "Yearly Plan" %}</p>
                </div>
            </a>
        </div>
        <!--SLIDE ONE ENDS--> 
        {% endfor %}
      <div class="clear"></div>
    </div>
  </div>
  <div><img src="{{ MEDIA_URL }}new/images/footer_bg.gif" width="945" height="18" alt="shadow" /></div>
  <br/>
  <div class="page_heading2">{% blocktrans %}"Using one cohesive system instead of three or four separate online vendors, <br/>
    not only saves money on multiple subscriptions <br/>
    but keeps a single focus for the entire team."  - <a href="http://www.netconference.com/media2/inthemedia/www.forbes.com/feeds/prnewswire/2010/08/16/index.html" class="blue_text">Forbes</a>{% endblocktrans %}</div>
  <br/>
  <!--PRICING PACKAGES ENDS --> 
  
  <!--PRICING CONTENT STARTE -->
  <div class="pricing_content">
    <div class="left">
      <p><span class="sub_title">{% trans "Am I locked into a long term Contract?" %}</span><br/>
	{% blocktrans %}
        No. With NetConference you are never locked into a contract or a <br/>
        long term financial comittment. Simply, pay as you go and cancel at any time. 
	{% endblocktrans %}
      </p>
      <br/>
      <p><span class="sub_title">{% trans "May I change my plan?" %}</span><br/>
	{% blocktrans %}
        Sure. You are able to change your plan at any time and have <br/>
        complete flexibility. Your upgraded features will be available immediately. Your bill for that month will reflect the higher of each plan's pricing for that month.
      {% endblocktrans %}
      </p>
    </div>
    <div class="right">
      <p><span class="sub_title">{% trans "What can I expect from the 30-day free trial?" %} </span><br/>
	{% blocktrans %}        You may cancel a paying plan without any penalties or charges within your first free 30-days of service. You may elect to cancel your subscription anytime after that, however you will be responsible for all
        charges for the month incurred within your cancellation date. We are not able to issue any refunds and unfortunately cannot prorate for any monthly charges. 
	{% endblocktrans %}
      </p>
      <br/>
      <p><span class="sub_title">{% trans "What types of payment does NetConference accept?" %}</span><br/>
{% blocktrans %}        We accept Visa, Matercard, American Express and Paypal as a form of payment. We only accept and provide online transactions to keep costs down for our subscribers. 
{% endblocktrans %}      </p>
    </div>
    <div class="clear"></div>
    <br/>
    <div class="hr"></div>
    <br/>
    <div class="left">
      <p><span class="sub_title"><img src="{{ MEDIA_URL }}new/images/lock_icon.png" alt="Lock" width="43" height="57" class="left_fl" />{% trans "Our first priority is keeping your data safe... " %}</span><br/>
{% blocktrans %}        We have built one of the most secure computer systems, 		housed in a security center protected by three levels of biometric entry and 24-7 video survelience. Our enterprise class firewalls are monitored by some of the brightest computer minds in the world today.{% endblocktrans %}</p>
    </div>
    <div class="right">
      <p><span class="sub_title">{% trans "What web browsers are best to use with NetConference?" %} </span><br/>
        {% blocktrans %}Internet Explorer 8 and higher, Firefox 3 and higher, Safari 4, and Chrome 4 and higher.{% endblocktrans %}</p>
      <br/>
      <p><span class="sub_title">{% trans "Do you have any more questions before you sign up?" %}</span><br/>
        {% blocktrans %}We appreciate your feedback and welcome all inquiries, big and small. Simply fill out our form here and we will get back to you the same day.{% endblocktrans %}</p>
    </div>
    <div class="clear"></div>
  </div>
  
  <!--PRICING CONTENT ENDS --> 
  
  {% endblock content %}
  

{% block extrafooterscript %}
<script type="text/javascript">
$(document).ready(function() { 
  $(".pricing_slide p,.pricing_slide_big p").tooltip({relative: false, position: "center", effect: "fade"});
});
</script>
{% if INCLUDE_ANALYTICS %}
<script src="http://dnn506yrbagrg.cloudfront.net/pages/scripts/0004/9606.js"> </script>
{% endif %}
{% endblock %}
