{% load subscription_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NetConference</title>
<link href="{{MEDIA_URL}}new/css/reset_net.css" rel="stylesheet" type="text/css" />
<link href="{{MEDIA_URL}}new/css/styles_net.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="{{MEDIA_URL}}js/slides.min.jquery.js"></script>
<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'images/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true,
				animationStart: function(current){
					$('.caption').animate({
						bottom:-35
					},100);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationStart on slide: ', current);
					};
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationComplete on slide: ', current);
					};
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},200);
				}
			});
		});
	</script>
<style type="text/css">
    body{
	background:none;
    }
</style>
</head>
<body>
<div class="grid">
    <!-- HEADER -->
    <div class="header">
        <div class="logo"><a href="{% url home %}"><img src="{{MEDIA_URL}}images/netconf_newlogo.png" width="256" height="71" alt="Net Conference logo" /></a></div>
        <div class="topnavigation">
            <ul>
                <li><a href="{% url netconference %}" >What is NetConference?</a></li>
                <li><a href="{% url features_home %}" >Features</a></li>
                <li ><a href="{% url subscription_list %}" ><span class="green_text" >Plans &amp; Prices</span></a></li>
                <li><a href="{% url acct_signup %}" >Get Started</a></li>
            </ul>
        </div>
        <div class="support"><a href="http://support.netconference.com">Support</a><br/>
            {% if user.is_authenticated %}<a href="{% url acct_logout %}">Logout</a>{% else %}<a href="{% url acct_login %}">Login</a>{% endif %} / {% if user.is_authenticated %}<a href="{% url profile_detail user %}">Profile</a>{% else %}<a href="{% url subscription_list %}">Sign up</a>{% endif %}</div>
    </div>
    <!-- HEADER ENDS-->
    <!-- TAGLINE -->
    <div class="topline"></div>
    <!-- TAGLINE ENDS -->
    <div class="new_inner_page">
        <div id="pricing_packages"> <span class="page_heading">Take a FREE 30 day Test Flight</span>
            <p class="heading">Thousands of people have NetConference&reg;  accounts. Get yours in under a minute.</p>
            <div class="pricing_slide_holder">
                <!--SLIDE ONE STARTS-->
                {% comment %}
                <div class="pricing_slide">
                    <div class="package_name">
                        <h1>Enterprise</h1>
                        <h2>Contact Sales</h2>
                        <h3>for Large Webinars</h3>
                    </div>
                    <ul>
                        <li><span class="purple_text">10 GB</span> Cloud Storage</li>
                        <li><span class="purple_text">Unlimited</span> Conference Minutes</li>
                        <li><span class="purple_text">16</span> Video Chats</li>
                        <li><span class="purple_text">1000</span> Number of Guests</li>
                        <li><span class="purple_text">8</span> Concurrent Documents Open</li>
                        <li><span class="purple_text">Unlimited</span> V-Mail Recipients</li>
                    </ul>
                    <div class="getstarted"> <img src="{{MEDIA_URL}}images/getstarted_title.png" width="122" height="22" alt="Ge started" /> </div>
                    <button class="monthly_plan">Monthly Plan</button>
                    <button class="annual_plan">Annual Plan</button>
                </div>
                <!--SLIDE ONE ENDS-->
                <!--SLIDE TWO STARTS-->
                <div class="pricing_slide">
                    <div class="package_name">
                        <h1>Premium</h1>
                        <h2>$99.99/Monthly</h2>
                        <h2>$864/Annually</h2>
                        <h3>for Large Meetings</h3>
                        <h4>20% Annual Discount</h4>
                    </div>
                    <ul>
                        <li><span class="purple_text">10 GB</span> Cloud Storage</li>
                        <li><span class="purple_text">Unlimited</span> Conference Minutes</li>
                        <li><span class="purple_text">16</span> Video Chats</li>
                        <li><span class="purple_text">100</span> Number of Guests</li>
                        <li><span class="purple_text">8</span> Concurrent Documents Open</li>
                        <li><span class="purple_text">Unlimited</span> V-Mail Recipients</li>
                    </ul>
                    <div class="getstarted"> <img src="{{MEDIA_URL}}images/getstarted_title.png" width="122" height="22" alt="Ge started" /> </div>
                    <button class="monthly_plan">Monthly Plan</button>
                    <button class="annual_plan">Annual Plan</button>
                </div>
                <!--SLIDE TWO ENDS-->
                <!--SLIDE THREE STARTS-->
                <div class="pricing_slide">
                    <div class="package_name">
                        <h1>Pro</h1>
                        <h2>$49.99/Monthly</h2>
                        <h2>$480/Annually</h2>
                        <h3>for Medium Meetings</h3>
                        <h4>20% Annual Discount</h4>
                    </div>
                    <ul>
                        <li><span class="purple_text">5 GB</span> Cloud Storage</li>
                        <li><span class="purple_text">Unlimited</span> Conference Minutes</li>
                        <li><span class="purple_text">12</span> Video Chats</li>
                        <li><span class="purple_text">50</span> Number of Guests</li>
                        <li><span class="purple_text">8</span> Concurrent Documents Open</li>
                        <li><span class="purple_text">50</span> V-Mail Recipients</li>
                    </ul>
                    <div class="getstarted"> <img src="{{MEDIA_URL}}images/getstarted_title.png" width="122" height="22" alt="Ge started" /> </div>
                    <button class="monthly_plan">Monthly Plan</button>
                    <button class="annual_plan">Annual Plan</button>
                </div>
                <!--SLIDE THREE ENDS-->
                <!--SLIDE FOUR STARTS-->
                <div class="pricing_slide suggested">
                    <div class="package_name">
                        <h1>Standard</h1>
                        <h2>$29.99/Monthly</h2>
                        <h2>$288/Annually</h2>
                        <h3>Our Best Value</h3>
                        <h4>20% Annual Discount</h4>
                    </div>
                    <ul>
                        <li><span class="purple_text">2 GB</span> Cloud Storage</li>
                        <li><span class="purple_text">Unlimited</span> Conference Minutes</li>
                        <li><span class="purple_text">8</span> Video Chats</li>
                        <li><span class="purple_text">20</span> Number of Guests</li>
                        <li><span class="purple_text">6</span> Concurrent Documents Open</li>
                        <li><span class="purple_text">25</span> V-Mail Recipients</li>
                    </ul>
                    <div class="getstarted"> <img src="{{MEDIA_URL}}images/getstarted_title.png" width="122" height="22" alt="Ge started" /> </div>
                    <button class="monthly_plan">Monthly Plan</button>
                    <button class="annual_plan">Annual Plan</button>
                </div>
                <!--SLIDE FOUR ENDS-->
                <!-- SLIDE FIVE STARTS -->
                <!--SLIDE ONE STARTS-->
                <div class="pricing_slide">
                    <div class="package_name">
                        <h1>Basic</h1>
                        <h2>$14.99/Monthly</h2>
                        <h2>$144/Annually</h2>
                        <h3>Occasional Use</h3>
                        <h4>20% Annual Discount</h4>
                    </div>
                    <ul>
                        <li><span class="purple_text">1 GB</span> Cloud Storage</li>
                        <li><span class="purple_text">120</span> Conference Minutes</li>
                        <li><span class="purple_text">4</span> Video Chats</li>
                        <li><span class="purple_text">8</span> Number of Guests</li>
                        <li><span class="purple_text">2</span> Concurrent Documents Open</li>
                        <li><span class="purple_text">10</span> V-Mail Recipients</li>
                    </ul>
                    <div class="getstarted"> <img src="{{MEDIA_URL}}images/getstarted_title.png" width="122" height="22" alt="Ge started" /> </div>
                    <button class="monthly_plan">Monthly Plan</button>
                    <button class="annual_plan">Annual Plan</button>
                </div>
                <!-- SLIDE FIVE ENDS -->
                {% endcomment %}
                {% for object in object_list %}
                    <div class="pricing_slide {% ifequal object.display_name 'Standard' %}suggested{% endifequal %}">
                        <div class="package_name">
                            <h1>{{object.display_name}}</h1>
                            <h2>{% ifequal object.display_name 'Enterprise' %}Contact Sales{% else %}${{object.price}}/Monthly{% endifequal %}</h2>
                            <h2>{% ifequal object.display_name 'Enterprise' %}{% else %}${{object.corresponding_term_plan.price}}/Annually{% endifequal %}</h2>
                            <h3>{% ifequal object.display_name 'Enterprise' %}{{object.description}}{% else %}{{object.description}}{% endifequal %}</h3>
                            <h4>{% ifequal object.display_name 'Enterprise' %}{% else %}20% Annual Discount{% endifequal %}</h4>
                        </div>
                        <ul>
                            <li><span class="purple_text">{{ object.file_size_mb_limit|file_size_units }}</span> Cloud Storage</li>
                            <li><span class="purple_text">{% ifequal object.conference_minutes_limit 9999 %}Unlimited{% else %}{{object.conference_minutes_limit}}{% endifequal %}</span> Conference Minutes</li>
                            <li><span class="purple_text">{{object.video_seats}}</span> Video Chats</li>
                            <li><span class="purple_text">{{object.guests_limit}}</span> Number of Guests</li>
                            <li><span class="purple_text">8</span> Concurrent Documents Open</li>
                            <li><span class="purple_text">Unlimited</span> V-Mail Recipients</li>
                        </ul>
                        <div class="getstarted"> <img src="{{MEDIA_URL}}images/getstarted_title.png" width="122" height="22" alt="Ge started" /> </div>
                        <a href="{% url acct_signup %}?subscription={{object.pk}}"><button class="monthly_plan">Monthly Plan</button></a>
                        <a href="{% url acct_signup %}?subscription={{object.corresponding_term_plan.pk}}"><button class="annual_plan">Annual Plan</button></a>
                    </div>
                {% endfor %}
                <div class="clear"></div>
                <div class="shadow_line"></div>
                <br />
                <span class="testimonial">"Using one cohesive system instead of three or four separate online vendors, <br />
                not only saves money on multiple subscriptions <br />
                but keeps a single focus for the entire team."  - <span class="bluetext">Forbes</span></span> </div>
        </div>
    </div>
    <div class="help_text">
        <div class="column_one">
            <h2>Am I locked into a long term Contract?</h2>
            <p>No. With NetConference® you are never locked into a contract or a 
                long term financial comittment. Simply, pay as you go and cancel at any time.</p>
            <h2>May I change my plan?</h2>
            <p>Sure. You are able to change your plan at any time and have 
                complete flexability. Your upgraded features will be available immediately. Your bill for that month will reflect the higher of each plan's pricing for that month. </p>
        </div>
        <div class="column_two">
            <h2>What can I expect from the 30-day free trial?</h2>
            <p>You may cancel a paying plan without any penalties or charges within your first free 30-days of service. You may elect to cancel your subscription anytime after that, however you will be responsible for all
                charges for the month incurred within your cancellation date. We are not able to issue any refunds and unfortunately cannot prorate for any monthly charges.</p>
            <h2>What types of payment does NetConference® accept?</h2>
            <p>We accept Visa, Matercard, American Express and Paypal as a form of payment. We only accept and provide online transactions to keep costs down for our subscribers. </p>
        </div>
        <div class="clear"></div>
        <hr/>
        <br/>
        <br/>
        <div class="column_one">
            <h2>Our first priority is keeping your data safe...</h2>
            <p>We have built one of the most secure computer systems, 		housed in a security center protected by three levels of biometric entry and 24-7 video survelience. Our enterprise class firewalls are monitored by some of the brightest computer minds in the world today.</p>
        </div>
        <div class="column_two">
            <h2>What web browsers are best to use with NetConference®?</h2>
            <p>Internet Explorer 7 or 8, Firefox 3 and higher, Safari 4, and Chrome 4. </p>
            <h2>Do you have any more questions before you sign up?</h2>
            <p>We appreciate your feedback and welcome all inquiries, big and small. Simply fill out our form here and we will get back to you the same day. </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="shadow_line"></div>
    <!-- FOOTER LINKS-->
    <div class="footer">
        <div class="first_column">
            <h3>What is NetConference?</h3>
            <ul>
                <li><a href="{% url netconference %}#online_meeting_basics">Online Meeting Basics</a></li>
                <li><a href="{% url netconference %}#online_meeting_uses">Online Meeting Uses</a></li>
                <li><a href="{% url netconference %}#why_netconference">Why NetConference?</a></li>
                <li><a href="{% url howitworks %}#how_it_works">How it Works</a></li>
            </ul>
        </div>
        <div class="second_column">
            <h3>Solutions</h3>
            <ul>
                <li><a href="{% url howitworks %}#for_sales">For Sales</a></li>
                <li><a href="{% url howitworks %}#for_training">For Training</a></li>
                <li><a href="{% url howitworks %}#online_events_webinars">For Online Events and Webminar</a></li>
                <li><a href="{% url howitworks %}#customer_support">For Customer Support</a></li>
                <li><a href="{% url howitworks %}#it_support">For IT Support</a></li>
                <li><a href="{% url howitworks %}#for_enterprise">For Enterprise</a></li>
                <li><a href="{% url howitworks %}#for_small_business">For The Small Business </a></li>
            </ul>
        </div>
        <div class="third_column">
            <h3>Features</h3>
            <ul>
                <li><a href="{% url features_home %}#online_meetings">Online Meetings</a></li>
                <li><a href="/comingsoon">Android & IOS</a></li>
            </ul>
            <h3>About Us</h3>
            <ul>
                <li><a href="{% url aboutus %}#management_team">NetConference Team</a></li>
                <li><a href="{% url articles %}#articles_awards">Article & Awards</a></li>
                <li><a href="#">Press Realeses</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </div>
        <div class="fourth_column">
            <h3>Support</h3>
            <ul>
                <li><a href="http://support.netconference.com/index.php?/Knowledgebase/List">FAQs</a></li>
                <li><a href="#">Tutorials</a></li>
                <li><a href="{% url terms %}">Terms of Service</a></li>
                <li><a href="{% url invest %}"> Investor Relations</a></li>
                <li><a href="{% url privacy %}">Privacy Policy</a></li>
                <li><a href="{% url affiliate_opportunity %}">Opportunity</a></li>
                <li><a href="{% url contact %}">Contact</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <!-- FOOTER LINKS ENDS -->
    <div class="shadow_line"></div>
    <!-- COPYRIGHT -->
    <div class="copyright">
        <div class="left" > <a href="http://nxtgen.tv/"><img src="{{MEDIA_URL}}images/footer_logo.png" style="vertical-align:middle;height:45px;" alt="NxtGenTV"></a> <br>
            &copy; 2006-2010 <a href="http://www.netconference.com" target="_blank">NxtGen LLC </a>• <a href="{% url contact %}">Contact</a> • (818)934-1204 <br/>
            NetConference technology created by <a href="http://www.illusionfactory.com/" target="_blank">The Illusion Factory</a></div>
        <div class="right" > Translate: <img src="{{MEDIA_URL}}images/flag_01.png" alt="English" title="English"> <img src="{{MEDIA_URL}}images/flag_02.png" alt="German" title="German"><img src="{{MEDIA_URL}}images/flag_03.png" alt="Spanish" title="Spanish"><img src="{{MEDIA_URL}}images/flag_04.png" alt="French" title="French"><img src="{{MEDIA_URL}}images/flag_05.png" alt="Swedish" title="Swedish"><img src="{{MEDIA_URL}}images/cea_logo.gif" width="88" height="31" alt="cea"><img src="{{MEDIA_URL}}images/bbb_icon.gif" width="37" height="36" alt="bbb"> </div>
        <div class="clear"></div>
    </div>
    <!-- COPYRIGHT ENDS -->
</div>
<script src="{{MEDIA_URL}}js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.quicksearch.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.7.2.conf.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/effects.js"></script>
<script type="text/javascript">
$(document).ready(function() { 
  $(".pricing_slide p,.pricing_slide_big p").tooltip({relative: false, position: "center", effect: "fade"});
});
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29982394-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
