{% extends "new_base.html" %}
{% load i18n %}

{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li class="current">
      <a href="{% url netconference %}" class="sidebar_plain">{% trans "What is Netconference" %}</a>
    </li>
    <li>
      <a href="{% url howitworks %}" class="sidebar_plain">{% trans "How it works" %}</a>
    </li>
    <li>
      <a href="{% url aboutus %}" class="sidebar_plain">{% trans "About us" %}</a>
    </li>
    <li>
      <a href="{% url articles %}" class="sidebar_plain">{% trans "Articles" %}</a>
    </li>
  </ul>  
</div>
{% endblock %}

 {% block content %}
 
 <link href="{{ MEDIA_URL }}new/css/text_link.css" rel="stylesheet" type="text/css" />
 
   <!--CONTENT STARTS -->
  <div id="content_page">
  	
  	
    <div class="leftpanel"> 
    	{% block textarea_content %}
      <div class="top">Lorem Ipsum Dolor Sit Amet</div>
   	<div class="mid">
        <h3 class="purple_text">Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
        <p>&nbsp;</p>
        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
        <br/>
        <h3 class="purple_text">Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
        <p>&nbsp;</p>
        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
      
	  </div>
	  {% endblock textarea_content %}
	  
	  {% block bottom_textarea_content %}
	  <div class="bottom"></div>
	  {% endblock bottom_textarea_content %}
	  
	  
    </div>
    <div class="rightpanel"> 
	
	
	<img src="{{ MEDIA_URL }}new/images/tagline.gif" alt="{% trans "Your Office In The Cloud" %}" />
	  
      <div class="buttons right"> 
	  <a href="{% url acct_signup %}" style="float:right;text-align:center;line-height:50px;color:white;text-decoration:none;" class="buttonGreen">
	    {% trans "Free Trial" %}
          </a> 
	  <a href="#" class="buttonPurple video_trigger" rel="#video_holder" style="float:right;text-align:center;line-height:50px;color:white;text-decoration:none;">
	    {% trans "Watch Video" %}
          </a> 
	  <a href="{% url howitworks %}" style="float:right;text-align:center;line-height:50px;color:white;text-decoration:none;" class="buttonPurple">{% trans "Learn More" %}
          </a>
        <div class="clear"></div>
      </div>
	  
    </div>
    <div class="clear"></div>
  </div>
<!--   <div id="video_holder"></div> -->
    {% include "introduction_video.html" %}
  <!--CONTENT ENDS --> 

 
 
 {% endblock content %}

{% block extrafooterscript %}
<script type="text/javascript">
swfobject.registerObject("FlashID");

/* $("#video_holder").flashembed({
    src: "{{ MEDIA_URL }}swf/flv_player.swf",
    version: [9, 0],
    scale: "showall",
    wmode: 'transparent',
    expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
    }, {
    stream_id: 'd9f98511fdaf70a6528fa89fb66329e4',
    stream_name: '',
    urlhash: 'MTgzNzA4'
});	
$("#video_holder").hide(); */
/* $("#video_trigger").click(function(){
	$("#video_holder").show();	
	return false;
}); */
</script>
{% endblock %}
