{% extends "files/detail_base.html" %}
{% load file_tags %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load comments_tag %}
{% load threadedcommentstags %}
{% load i18n %}

{% block extra_css_pre %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, projection" />
<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=47cca2d7-6954-4236-842f-ed556d6e51cb&amp;type=website&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine&amp;button=false">
</script>
<style type="text/css">
body {font-family:helvetica,sans-serif;font-size:12px;}
a.stbar.chicklet img {border:0;height:16px;width:16px;margin-right:3px;vertical-align:middle;}
a.stbar.chicklet {height:16px;line-height:16px;}
.subnav { margin: 0px; }
h2.uni_form_list_def { color: white; }
</style>
<link rel="video_src" href="http://{{ bucket }}{{ MEDIA_URL }}swf/video_player.swf?path_file={{ file.current_type }}&#47;{% calculated_file_uuid file %}_500.{{ file.current_type }}"/> 
<link rel="image_src" href="{{ thumb }}"/>
<meta name="video_height" content="260" /> 
<meta name="video_width" content="460" />
<meta name="video_type" content="application/x-shockwave-flash" />

{% endblock %}

{% block submenu %}
  <!--SUBMENU STARTS-->
  <div id="submenu_container">
    {% include "files/_detail_subnav.html" %}
  </div>
  <!--SUBMENU ENDS-->
{% endblock %}

{% block file_player %}
  <div id="shadow"></div>
    <div class="video_holder"><div id="video_player1"></div></div>
{% endblock %}


{% block lights_off %}
    <p><a style="float:right;margin:0px 50px;" href="#" class="lightSwitcher">{% trans "Turn Off the lights" %}</a></p>
{% endblock %}


{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validate.js"></script>
<div id="shadow"></div>
<script>
$(document).ready(function(){
        $("#shadow").css("height", $(document).height()).hide();
        $("#shadow").click(function() {
            if (!$("#shadow").is(":hidden")) {
            $(".lightSwitcher").click();	
            }
            });
        $(".lightSwitcher").click(function() {
            $("#shadow").toggle();
            if ($("#shadow").is(":hidden")) {
            $(this).html("{% trans "Turn Off the lights" %}").removeClass("turnedOff");
            } else {
            $(this).html("{% trans "Turn On the lights" %}").addClass("turnedOff");
            }
            });
        });
        
$("#edit_details").click(function(){
	$("#video_player1").hide();		
});       
$(".close").click(function(){
	$("#video_player1").show();	
});

function dimScreen(){
    $(".lightSwitcher").click();
}
$(document).ready(function(){
        flashembed("video_player1", {
src: "{{ MEDIA_URL }}swf/video_player.swf",
type: "application/x-shockwave-flash", 
allowscriptaccess: "always",
allowfullscreen: "true",
version: [9, 0],
wmode: 'transparent',
expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
}, {
	path_file: '{{ file.current_type }}/{% calculated_file_uuid file %}_500.{{ file.current_type }}',
});
        });
</script>

<script>

$(".addcomment form").validate();
$("#dimLightSwitcher").click(function(){
        $(".lightSwitcher").click();
        });

$("#edit_this").click(function(){
        $("#video_info_box").slideUp(function(){
            $("#edit_video_info").slideDown(); 
            });
        });
video_player1_width = 0;
$('div.editdetails_but').click(function() {
        video_player1_width = $('#video_player1').css('width');
        $('#video_player1').css('width', '500px');
        });
$("#cancel_edit").click(function(){
        $("#edit_video_info").slideUp(function(){
            $("#video_info_box").slideDown(); 
            $('#video_player1').css('width', video_player1_width);
            });
        });

var delete_buttons = $("#btn_delete").overlay({
expose: {
color: '#090909', 
loadSpeed: 200, 
opacity: 0.9,
closeOnClick: false
},
closeOnClick: false
});

var api = $("#video_player").expose({color: "#000", api: true, lazy: true, opacity: 0.8});

$("#movie_expose").click(function(){
        api.load();
        return false;
        });

$("link[rel=video_src]").href += $("#video_player1 param[name=flashvars]").val();
</script>    
{% endblock %}
