<div id="bg" style="http://{% if current_site %}{{ current_site.domain }}{% else %}{{ site.domain }}{% endif %}{{ MEDIA_URL }}new/images/email_bg.png" style="width:675px;height:497px;">
  <div id="main_container" >
    <div><img src="http://{% if current_site %}{{ current_site.domain }}{% else %}{{ site.domain }}{% endif %}{{ MEDIA_URL }}new/images/email_logo.png" style="width:589px;height=79px; margin:10px 40px 0px 50px;" alt="NetConference" /></div>
    <div id="Content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
 
