{% extends 'registration/base.html' %}

{% block title %}
{{block.super}} - Page not found
{% endblock %}

{% block contents %}
<h3>404 - Page not found</h3>
<p>
Aww! We cant find the page you requested. Why don't you try one of these options.
<ol>
<li><a href="/">Go to homepage</a></li>
<li><a href="http://groups.google.com/group/dashbard/">Ask for help</a></li>
<li>Curse the stupid computers.</li>
</ol>
</p>
{% endblock %}