{% extends 'registration/base.html' %}

{% block title %}
{{block.super}} - Server error.
{% endblock %}

{% block contents %}
<h3>500 - The server almost died!</h3>
<p>
Aww! The server could not handle the demands you made of it. Why don't you try one of these options.
<ol>
<li><a href="/">Go to homepage</a></li>
<li><a href="http://groups.google.com/group/dashbard/">Ask for help</a></li>
<li>Curse the stupid computers.</li>
</ol>
</p>
{% endblock %}