html { font-size:100.01%; }

		  
@font-face {
    font-family: 'AvantGardeTBoldItalicT';
    src: url('AvantGarde/avant_garde-webfont.eot');
    src: url('AvantGarde/avant_garde-webfont.eot?#iefix') format('embedded-opentype'),
         url('AvantGarde/avant_garde-webfont.woff') format('woff'),
         url('AvantGarde/avant_garde-webfont.ttf') format('truetype'),
         url('AvantGarde/avant_garde-webfont.svg#AvantGardeTBoldItalicT') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NewBaskervilleLightRegular';
    src: url('BaskerVille/baskerville-webfont.eot');
    src: url('BaskerVille/baskerville-webfont.eot?#iefix') format('embedded-opentype'),
         url('BaskerVille/baskerville-webfont.woff') format('woff'),
         url('BaskerVille/baskerville-webfont.ttf') format('truetype'),
         url('BaskerVille/baskerville-webfont.svg#NewBaskervilleLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'FuturaHvRegular';
    src: url('Futura/futura-webfont.eot');
    src: url('Futura/futura-webfont.eot?#iefix') format('embedded-opentype'),
         url('Futura/futura-webfont.woff') format('woff'),
         url('Futura/futura-webfont.ttf') format('truetype'),
         url('Futura/futura-webfont.svg#FuturaHvRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'GenevaRegular';
    src: url('Geneva/geneva-webfont.eot');
    src: url('Geneva/geneva-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geneva/geneva-webfont.woff') format('woff'),
         url('Geneva/geneva-webfont.ttf') format('truetype'),
         url('Geneva/geneva-webfont.svg#GenevaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'LucidaSansUnicodeRegular';
    src: url('LucidaConsole/lucida_console-webfont.eot');
    src: url('LucidaConsole/lucida_console-webfont.eot?#iefix') format('embedded-opentype'),
         url('LucidaConsole/lucida_console-webfont.woff') format('woff'),
         url('LucidaConsole/lucida_console-webfont.ttf') format('truetype'),
         url('LucidaConsole/lucida_console-webfont.svg#LucidaSansUnicodeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'LucidaGrandeRegular';
    src: url('LucidaGrade/lucida_grande-webfont.eot');
    src: url('LucidaGrade/lucida_grande-webfont.eot?#iefix') format('embedded-opentype'),
         url('LucidaGrade/lucida_grande-webfont.woff') format('woff'),
         url('LucidaGrade/lucida_grande-webfont.ttf') format('truetype'),
         url('LucidaGrade/lucida_grande-webfont.svg#LucidaGrandeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PalatinoRegular';
    src: url('Palatino/palatino-webfont.eot');
    src: url('Palatino/palatino-webfont.eot?#iefix') format('embedded-opentype'),
         url('Palatino/palatino-webfont.woff') format('woff'),
         url('Palatino/palatino-webfont.ttf') format('truetype'),
         url('Palatino/palatino-webfont.svg#PalatinoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'SavoyeRegular';
    src: url('Savoye/savoye-webfont.eot');
    src: url('Savoye/savoye-webfont.eot?#iefix') format('embedded-opentype'),
         url('Savoye/savoye-webfont.woff') format('woff'),
         url('Savoye/savoye-webfont.ttf') format('truetype'),
         url('Savoye/savoye-webfont.svg#SavoyeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}





