{% load blogango_filters %}
{% blogango_extra_context %}

<!doctype html>
<html>
<head>
  {% block html_head %}

  <title>{% block title %}{% endblock %} &mdash; {{ blog.title }} {{ _("Administration") }}</title>

  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}blogango/admin/preview.css">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}blogango/admin/style.css">

  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}blogango/js/jquery.autocomplete.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}blogango/js/jquery.textarearesizer.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}blogango/js/Admin.js"></script>
  {% endblock %}
  {% block page_head %}{% endblock %}
</head>
<body>
  <div class="header">
    <div class="title">{{ blog.title }} Administration</div>
    <div class="metanav">
      <a href="{% url blogango_index %}">{{ _("View Blog") }}</a> |
      <a href="{% url admin:logout %}">{{ _("Logout") }}</a>
	  {% comment %}
	  <a href="{# url_for('account/index')|e #}">{{ _("My Account") }}</a> |
      <a href="{# url_for('admin/help') #}">?</a>
      {% endcomment %}
    </div>
  </div>
  <div class="body">
    <ul class="navbar standalonebar">
      {% url blogango_admin_dashboard as dashboard_url %}
      <li {% ifequal request.path dashboard_url %}class="active"{% endifequal %}>
          <a href="{{ dashboard_url }}">{{ _("Dashboard") }}</a>
      </li>
      {% url blogango_admin_entry_new as write_url %}
      <li {% ifequal request.path write_url %}class="active"{% endifequal %}>
          <a href="{{ write_url }}">{{ _("Write") }}</a>
      </li>
      {% url blogango_admin_entry_manage as manage_entry_url %}
      <li {% ifequal request.path manage_entry_url %}class="active"{% endifequal %}>
          <a href="{{ manage_entry_url }}">{{ _("Manage") }}</a>
      </li>
      {% url blogango_admin_comments_manage as manage_comments_url %}
      <li {% ifequal request.path manage_comments_url %}class="active"{% endifequal %}>
          <a href="{{ manage_comments_url }}">{{ _("Comments") }}</a>
      </li>
      {% url blogango_admin_edit_preferences as edit_preferences_url %}
      <li {% ifequal request.path edit_preferences_url %}class="active"{% endifequal %}>
          <a href="{{ edit_preferences_url }}">{{ _("Options") }}</a>
      </li>
    </ul>
    {% block subnavbar %}{% endblock %}
    <div class="contents">
      {% block contents %}{% endblock %}
    </div>
  </div>
  <div class="footer">
    <p>
        <a href="http://{{ site.domain }}/">{{ site.name }}</a> 
        Powered by blogango | &copy; 2010 by {{ site.name }}
    </p>
  </div>
</body>
</html>
