{% extends "blogango/admin/base.html" %}

{% block page_head %}
<!-- Load TinyMCE -->
<script type="text/javascript" src="{{ MEDIA_URL }}blogango/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}blogango/js/jquery-tinymce.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('div.tinymce textarea').tinymce({
			// Location of TinyMCE script
			script_url : '{{ MEDIA_URL }}/blogango/js/tiny_mce/tiny_mce.js',

			// General options
			theme : "advanced",
			plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,advlist",

			// Theme options
			theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
			theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
			theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
			theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
			theme_advanced_toolbar_location : "top",
			theme_advanced_toolbar_align : "left",
			theme_advanced_statusbar_location : "bottom",
            forced_root_block: false,

		});
	});
</script>
<!-- /TinyMCE -->
{% endblock %}

{% block title %}
    {% if entry %}
        Editing entry:: {{ entry_form.initial.title }}
    {% else %}
        New Entry
    {% endif %}
    &#8203;{{ title_suffix }}
{% endblock %}
{% block subnavbar %}
    <ul class="ctxnavbar">
      <li{% if not is_page %} class="active"{% endif %}>
          <a href="{{ request.path }}">Entry</a>
      </li>
      <li{% if is_page %} class="active"{% endif %}>
          <a href="{{ request.path }}?page">Page</a>
      </li>
    </ul>
{% endblock %}
{% block contents %}
      <div class="notification-messages">
	    {% if is_done %}
	        <div class="message message-info">Blog entry saved successfully</div>
	    {% endif %}
      </div>
    {% if entry %}
        <h1>
            {{ entry.title }} &mdash; &#8203; Edit Entry
            {% if entry.is_published %}
                <a href="{{ entry.get_absolute_url }}" class="preview">{{ _("View Entry") }}</a>
            {% else %}
                <a href="{{ entry.get_absolute_url }}?preview" class="preview">{{ _("Preview Entry") }}</a>
            {% endif %}
        </h1>
    {% endif %}
    {% if entry_form.errors %}
        Please correct the following errors:
        <ul class="errors">
            {% for field, error in entry_form.errors.iteritems %}
                <li>{{ field }} {{ error.as_text }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST">
		<div class="formbox formbox-title">
		      <h3><label for="id_title">Title</label></h3>
		      {{ entry_form.title }}
		</div>
        <div class="formbox">
            <h3 onclick="$('div.tinymce textarea').tinymce('toggle');"><label for="id_tinymce">TinyMCE</label></h3>
        </div>
		<div class="formbox tinymce">
		      <h3><label for="id_text">Text</label></h3>
		      {{ entry_form.text }}
		</div>
		<div class="formbox">
		      <h3><label for="id_text_markup_type">Markup Parser</label></h3>
		      {{ entry_form.text_markup_type }}
		</div>
		<div class="formbox">
		      <h3><label for="id_tags">Tags</label></h3>
		      {{ entry_form.tags }}
		</div>
		<div class="formbox toggleable collapsed">
		      <h3><label for="id_created_by">Author</label></h3>
		      {{ entry_form.created_by }}
		</div>	
		<div class="formbox toggleable collapsed">
		      <h3><label for="id_meta_keywords">Keywords</label></h3>
		      {{ entry_form.meta_keywords }}
		</div>
		<div class="formbox toggleable collapsed">
		      <h3><label for="id_meta_description">Description</label></h3>
		      {{ entry_form.meta_description }}
		</div>
		<div class="formbox">
		      <h3><label for="id_comments_allowed">Allow Comments?</label></h3>
		      {{ entry_form.comments_allowed }}
		</div>
		{% if is_page %}
		    <input type="hidden" name="page" value="1" />
		{% endif %}
		<div class="secondary">
		  <div class="actions">
		    <input type="submit" value="{% if entry.is_published %}Unpublish{% else %}Save{% endif %}" name="save">
		    <input type="submit" value="Save and Publish" name="publish">
		    <input type="reset" value="Cancel" name="cancel">
		  </div>
		</div>
	</form>
{% endblock %}
