{% extends "blogango/admin/base.html" %}
{% block title %}{{ _("Manage Comments") }}{% endblock %}
{% block contents %}
  <h1>{{ _("Manage Comments") }}</h1>
    <ul class="comments">
    {% if comments %}
	    {% for comment in comments %}
	      <li class="comment {% cycle 'odd' 'even' %}{% if not comment.is_public %} 'blocked'{% endif %}">
	          <p class="meta"><strong>{{ comment.created_by }}</strong> |
		          <a href="mailto:{{ comment.email_id }}">{{ comment.email_id }}</a>
		          <a href="{{ comment.user_url }}">{{ comment.user_url }}</a> |
	          </p>
	          <div class="body">{{ comment.text }}</div>
	          <p>{{ comment.created_on }}
	          [
	          {% if comment.is_public %}
	            <a href="{% url blogango_admin_comment_block comment.id %}">{{ _("Block") }}</a> |
              {% else %}
                <a href="{% url blogango_admin_comment_approve comment.id %}">{{ _("Approve") }}</a> |
	          {% endif %}
	            <a href="{{ comment.comment_for.get_edit_url }}">{{ comment.comment_for.title }}</a>
	          ]
	          </p>
	      </li>
	    {% endfor %}
    {% else %}
    	{{ _("No comments") }}
    {% endif %}
    </ul>
{% endblock %}
