{% load file_tags %}
{% load sort_tags %}

<table id="files_list" cellspacing="0" style="margin-bottom:0px;">
    {% block table_header %}
    <tr>
        <th colspan="8" style="text-align:left;"><h1 class="title" style="text-shadow:none;">{{ page_title }} <em>{{ query_string }}</em></h1></th>
    </tr>
    {% endblock %}
    <tr class="sub_title">
        {% block files_check_header %}
        <td class="files_check"><input type="checkbox" name="select" onChange="toggleFiles();" /></td>
        {% endblock %}
        <td class="files_title">{% sort_link "Title" "title" %}</td>
        <td class="files_privacy">{% sort_link "Privacy" "private"  %}</td>
        <td class="files_views">{% sort_link "Views" "views_total"  %}</td>
        <td class="files_length">{% sort_link "Length" "duration" %}</td>
        <td class="files_date">{% sort_link "Date" "timestamp" %}</td>
        <td class="files_empty_field"></td>
        <td class="files_download"><a href="{% url my_files  %}">See All<img src="{{ MEDIA_URL }}new/images/icon_see_all.png" /></a></td>
    </tr>
    {% with object_list as files %}
    {% for file in files %}
    <tr class="{% cycle 'dark' 'light' %}">
        {% block files_check_row %}
        <td class="files_check"><input type="checkbox" name="file-select[]" value="{{ file.pk }}" /></td>
        {% endblock %}
        <td class="files_title"><img class="icon" src="{{ MEDIA_URL }}img/fileicons/icon_file_{{ file.source_type|fileicon }}.png" width="30" border="0" /><p class="text">{{ file.title }}</p></td>
        <td class="files_privacy"><img src="{{ MEDIA_URL }}new/images/icon_{% if not file.private %}un{% endif %}lock.png" /></td>
        <td class="files_views"><p>{{ file.views_total }}</p></td>
        <td class="files_length"><p>{% if file.duration %}{{ file.duration|vidtime }}{% endif %}{% if file.page_count %}{{ file.page_count }} slides{% endif %}</p></td>
        <td class="files_date"><p>{% if file.timestamp %}{{ file.timestamp|date:"m/j/y" }}{% endif %}</p></td>
        <td class="files_empty_field"><p>{% if file.is_selling %} <a href="{% url store_file_sell file.urlhash %}">Stop selling</a>{% else %}<a href="{% url store_file_sell file.urlhash %}">Sell</a>{% endif %} &nbsp;&nbsp; <a href="{{ file.get_absolute_url }}">View</a></p></td>
        <td class="files_download">
            {% if file.filename %}
            <a href="{{ file.get_download_url }}" onclick="window.location.href='{{ file.get_download_url }}';return false;" target="_blank" >
                <img src="{{ MEDIA_URL }}new/images/bt_download.png"  />
            </a>
            {% else %}
            <img src="{{ MEDIA_URL }}new/images/bt_download2.png"  />
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% endwith %}
</table>
