

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% ifequal conference "quickconference" %}{{ host.username }}'s QuickConference{% else %}{{ conference.title }}{% endifequal %}</title>
     	<link href="{{ MEDIA_URL }}new/traffic_geyser_css/reset_net.css" rel="stylesheet" type="text/css" />
	<link href="{{ MEDIA_URL }}new/traffic_geyser_css/styles_net.css" rel="stylesheet" type="text/css" />
	<script src="{{ MEDIA_URL }}new/Scripts/swfobject_modified.js" type="text/javascript"></script>
        <!--[if IE 7]>
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen, projection" />
        <![endif]-->
     
        <style>
            body {
                font-size: 12px;
                background:white;
                color: #ddd;
            }
            
            a:hover {
                color: white;
            }
        </style>
        <script type="text/javascript">
            var conf_urlhash = "{{ conf_urlhash }}";
            
        </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/user_file_add.js"> </script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.conf.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
    </head>


{% block extra_css_pre %}
    <style type="text/css">
    div.ProgressBar {  position: relative; top: 6px; width: 120px; padding: 0; border: 1px solid #aaa; margin-right: 1em; height:1em; margin-left:3em; margin-top:-1.5em; -moz-border-radius: 4px; -webkit-border-radius: 4px; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline; }
    div.ProgressBar div { background: #8a278a url(/media2/css/custom-theme/images/ui-bg_highlight-soft_50_764d79_1x100.png) repeat-x scroll 50% 50%; color: white; font-size: 1pt; height:100%; float:left; }
    span.asyncUploader object { position: relative; top: 5px; left: 41px; }
    #file_upload_uploading { position:relative;top:-5px; }
    #file_upload { visibility: hidden; }
    a#tutorial { top: -60px; }

    </style>
{% endblock %}
 <body>
<!--
{% block submenu %}
<div id="submenu_container">
    <ul class="subnav">
        <li><a href="{% url my_files %}">My Files</a></li>
        <li class="current"><a href="{% url upload_file %}">Upload Files</a></li>
        <li><a href="{% url files_browse %}">Browse Files</a></li>

    </ul>
</div>
{% endblock %}-->

{% block content %}
<!--CONTENT CONTAINER STARTS-->

<div id="content_container">
  <form action="http://encode1.media.netconf.nxtgencdn.com/uploader/media-upload.php" enctype="multipart/form-data" method="post" name="uploadform" id="uploadform">
      <div id="traffic_box_body">
      <div id="top_contain"> <p class="title_text">1. Add Title and Description</p></div>
      <div id="mid_contain">
        <table style="padding-top:20px;" width="100%" border="0" cellspacing="0" cellpadding="">
          <tr style="height:70px;">
              <td style="padding-left:30px;">
                <label for="id_title">
            <p style="font-size:14px;">File Title:</p>
          	</label><br />
                <input style="width:350px;" type="text" maxlength="50" name="title" id="id_title" title="This field is required." class="textinput txt_ind" />
		{% if file_form.description.errors %}<div>{{ file_form.description.errors }}</div>{% endif %}
              </td>
              <td>
              	<label for="id_tags_string"><p style="font-size:14px;">Tags:</p></label><br />
		{% if file_form.tags.errors %}<div>{{ file_form.tags_string.errors }}</div>{% endif %}
                <input style="width:350px;" type="text" name="tags_string" class="textinput txt_ind" />
              </td>
          </tr>
          <tr style="height:170px;">
              <td style="padding-left:30px;">
                <label for="id_description"><p style="font-size:14px;">Description:</p></label><br />
                <textarea style="width:350px;padding-left:4px;" rows="5" name="description" id="id_description" class="textinput txt_ind" ></textarea>
		{% if file_form.tags_string.errors %}<div>{{ file_form.tags_string.errors }}</div>{% endif %}
              </td>
              <td style="padding-bottom:100px;">
              	<p style="font-size:14px; margin-bottom: 0;">Make this file private, so only you can share it? <input type="checkbox" name="private"  /></p>
		{{ file_form.project.label_tag }}
		{{ file_form.project }}
		
		<input type="hidden" name="uid" value="{{ user_obj.id }}" />
		<input type="hidden" name="username" value="{{ user_obj.username }}" />
		<input type="text" name="user_obj" value="{{ user_obj.username }}" />
		<input type="text" name="user" value="{{ user.username }}" />
		<input type="hidden" name="cid" value="{{ cid }}" />
		<input type="hidden" name="redirect_url" value="{{ redirect_url }}" />

        </td>
          </tr>
          <tr align="left" ><th colspan="2" id="traffic_box_title_tab"><p class="title_tab_text">2. Choose and Upload a File (500MB maximum)</p></th></tr>
          <tr>
          		<th colspan="2"><p style="font-size:14px; padding-top:20px; padding-left:50px; padding-right:50px; text-align:left;">You can upload any type of file for sharing, commenting, and download. In addition many file types can be processed by our system for use during 
NetConferences and for display in our slide/video players.</p></th>
          </tr>
          <tr>
          		<td>
                <p style="font-size:14px; padding-top:20px; padding-left:50px; padding-right:50px; padding-bottom:20px; text-align:left;"><b>Supported formats for NetConference processing:</b><br />
<b>Video: </b>  flv   mov   mpg   avi   wmv   mp4   mpeg4   f4v<br />
<b>Audio:  </b> mp3   wav   m4a   aac<br />
<b>Text: </b>  doc   rtf   txt   wpd   html   xls<br />
<b>Media:  </b> ppt   pdf   swf<br />
<b>OpenOffice: </b>  odt   sxw   sxc   sci   odt   ods   odp<br /></p>
                </td>
                <td>
		  <input type="file" name="file_upload" id="file_upload" />
                </td>
          </tr>
        </table>
      </div>
      <div id="bottom_contain">
      	<p style="text-align:center; padding-top:10px; padding-left:100px; padding-right:100px; font-size:14px; color:#3b3b3b;">Do not upload any TV shows, music videos, music concerts, or commercials without permission unless they consist entirely of content you created yourself. Make sure that you own all copyrights in this video or have express permission from all copyright owners to upload it.</p>
      </div>
    </div>   
  </div>
  <div id="tooltip_sm_v"></div>
</form>
</div>
{% endblock %} 

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/swfupload.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-asyncUpload-0.1.js"></script>
<script type="text/javascript">
function toggleFiles() {
  $("input[name=file-select[]]").attr("checked", $("input[name=select]").attr("checked"));
}

swfu_list = $("#file_upload").makeAsyncUploader({
    upload_url: "http://encode1.media.netconf.nxtgencdn.com/uploader/media-upload.php",
    flash_url: "http://encode1.media.netconf.nxtgencdn.com/swfs/media-upload.swf",
    button_image_url: "{{ MEDIA_URL }}new/traffic_geyser_images/traffic_bt_choose_file.png",
 width: 211,
    height: 37,
    button_text: "",
    button_disabled: false,
    file_size_limit: "500 MB",
});
	
$("#uploadform").submit(function(){
  if ( !$("#id_title").val() ) {
    var result = confirm("Are you sure you want to upload a file without a title?");
    if (!result) {
      $("#id_title").focus();
      return false;
    }
    $("#id_title").val("Untitled File");
  }
});
</script>
{% endblock %}
</body>
</html>
