{% extends group_base|default:"site_base.html" %}
{% load i18n %}

{% block subnav %}
     <ul class="subnav">
        {% if user.is_authenticated %}
        <li class="current"><a href="{% url tribe_list %}">{% trans "All Activity Groups" %}</a></li>
    	<li><a href="{% url your_tribes %} ">{% trans "Your Activity Groups" %}</a></li>
        <li><a href="{% url tribe_create %}">{% trans "Create an Activity Group" %}</a></li>
        {% endif %}
    </ul>
{% endblock %}
