{% extends "topics/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}

{% block head_title %}{% spaceless %}
{% if group %}
    {% blocktrans with group.name as group_name %}Discussion Topics for {{ group_name }}{% endblocktrans %}
{% else %}
    {% trans "Discussion Topics" %}
{% endif %}
{% endspaceless %}{% endblock %}

{% block body %}

<style>
#id_title, #id_body, #id_tags { width: 490px; display: block; clear: left; }
#hint_id_slug { clear: left; display: block; text-align: center; width: 100%; margin-left:0; }
</style>

    <h1 class="uni_form_header">{% spaceless %}
    {% if group %}
        {% blocktrans with group.get_absolute_url as group_url and group.name as group_name %}Topics for <a href="{{ group_url }}">{{ group_name }}</a>{% endblocktrans %}
    {% else %}
        {% trans "Topics" %}
    {% endif %}
    {% endspaceless %}</h1>
    
    {% autopaginate topics %}
    
    {% for topic in topics %}
        {% include "topics/topic_item.html" %}
    {% endfor %}
    
    {% paginate %}
    
    {% if is_member %}
        <h2 class="uni_form_list_def" style="margin-bottom: 0;">{% trans "Create New Topic" %}</h2>
        {% ifequal user_subscription.subscription.name "Basic Account" %}
            <div class="uniForm_faux">
    	        <div style="border: 1px solid #aaa;background:white;padding:10px;">
    	            <p>To access this feature, you need to upgrade your subscription.</p>
                    <p>A subscribed account has many advantages, such as Video Guests, Personal Media uploads, up to 50 concurrent viewers, Team access, and extended Messaging privileges.</p>
    	            <p><a href="{% url subscription_list %}">Click here to upgrade your account!</a></p>
    	        </div>
    	    </div>
        {% else %}
		    {% if user_subscription %}
            <form class="uniForm" method="POST" action="">
                <fieldset class="inlineLabels">
                    {{ topic_form|as_uni_form }}
                    <div class="form_block">
                        <input type="hidden" name="next" value="{{ request.path }}" />
                        <button type="submit" class="buttonGreenMedium" style="float:left"> {% trans "Create New Topic" %}</button></td>
                    </div>
                </fieldset>
            </form>
		    {% else %}
		    <div class="uniForm_faux">
    	        <div style="border: 1px solid #aaa;background:white;padding:10px;">
    	            <p>To access this feature, you need to upgrade your subscription.</p>
                    <p>A subscribed account has many advantages, such as Video Guests, Personal Media uploads, up to 50 concurrent viewers, Team access, and extended Messaging privileges.</p>
    	            <p><a href="{% url subscription_list %}">Click here to upgrade your account!</a></p>
    	        </div>
    	    </div>
		    {% endif %}
		{% endifequal %}
    {% endif %}
    
{% endblock %}
