{% extends "topics/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load extra_tagging_tags %}
{% load pagination_tags %}
{% load comments_tag %}
{% load avatar_tags %}
{% load group_tags %}

{% block head_title %}{% trans "Topic" %} - {{ topic.title }}{% endblock %}

{% block extra_css_post %}
<link rel="stylesheet" href="{{ MEDIA_URL }}pinax/css/comments.css" type="text/css" media="screen" />
<style type="text/css" media="screen">
  label { display: block; }
  ul.responses li { clear: both; }
  h2.uni_form_list_def { clear: both; }
</style>
{% endblock %}

{% block body %}
<div style="margin: 0px 20px;">
    <p><a href="{% groupurl topic_list group %}" style="color:#750998;">&larr; {% trans "Back to Topic List" %}</a></p>
    
    <ul class="responses">
        <li class="odd thread-0 clearfix">
            <div class="meta" style="width:90px;">
                <div class="avatar">{% avatar topic.creator 40 %}</div>
                <div class="details"><a href="{% url user_dashboard topic.creator.username %}" style="color:#750998;">{{ topic.creator }}</a></div>
                {{ topic.created|date }}
            </div>
            <div class="bulkMOOT">
                <h1 class="uni_form_header" style="margin-left:17%;">{{ topic.title }}</h1>
                <div class="body uniForm_faux" style="margin-left:17%;">
                    <div style="border: 1px solid #ccc;background:white;padding: 10px;">
                        <p>{{ topic.body|urlize|linebreaks }}</p>
                        {# <p>{% show_tags_for topic %}</p> #}
                        {% ifequal user topic.creator %}
                        <p>
                            <form method="POST" action="{{ request.path }}delete/">
                            <button type="submit" class="buttonGreenMedium" style="float:left;">{% trans 'Delete Topic' %}</button>
                            <input type="hidden" name="next" value="{% groupurl topic_list group %}" />
                            </form>
                            {% if not edit %}<a href="{{ request.path }}edit/" class="buttonGreenMedium" style="text-decoration:none;text-align:center;color:white;line-height:35px;float:left;">{% trans "Edit Topic" %}</a>{% endif %}
                        </p>
                        <hr style="visibility:hidden;clear:both;">
                        {% endifequal %}
                    </div>
                </div>
            </div>
        </li>
    </ul>
    {% if edit %}
        <h2 class="uni_form_list_def">{% trans "Edit" %}</h2>
        <form class="uniForm" method="post" action="{{ request.path }}">
            <fieldset class="inlineLabels">
                <div class="form_block" style="border:1px solid #ccc;">
                    <textarea id="id_body" name="body" rows="3" cols="100">{{ topic.body }}</textarea>
                    <br/><button type="submit" class="buttonGreenMedium" > {% trans 'Edit Topic' %}</button><br/>
                </div>
            </fieldset>
        </form>
    {% else %}
        <h1>{% trans "Responses" %}:</h1>
        {% comments topic %}
    {% endif %}
</div>
{% endblock %}


{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validate.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}pinax/js/comments.js"></script>
<script type="text/javascript">
  $("form").each(function(i, k) { $(k).validate(); });
</script>
{% endblock %}
