{% load i18n %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load extra_tagging_tags %}
{% load group_tags %}



<div class="topic clearfix uniForm_faux" style="margin-left:0px;">
    <div style="background: white;">
        <div class="task-meta">
            <div class="avatar">{% avatar topic.creator 40 %}</div>
            <div class="details"><a href="{{ topic.creator.get_profile.get_absolute_url }}">{{ topic.creator }}</a></div>
            <div class="created">{{ topic.created|date }}</div>
        </div>
        <div class="bulk">
            <h2 class="purple_text"><a href="{% groupurl topic_detail group topic_id=topic.id %}">{{ topic.title }}</a></h2>
            <div class="body">{{ topic.body|urlize|linebreaks }}</div>
            {% get_comment_count for topic as comment_count %}
            {% if comment_count %}
                <div class="comment_stats">
                    {{ comment_count }} comment{{ comment_count|pluralize }}
                    {% blocktrans with topic.modified|date as topic_modified %}
                    (most recent: {{ topic_modified }})
                    {% endblocktrans %}
                </div>
            {% endif %}
            {# <p>{% show_tags_for topic %}</p> #}
            <p>&nbsp;</p>
        </div>
    </div>
</div>
