.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 945px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 945px;
    height: 322px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 229px;
    height: 322px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 3px;
    padding-right: 5px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

