{% load timezone_filters %}
{% load i18n %}
{% load sort_tags %}
{% load file_tags %}
{% load conference_tags %}
{% load range_tag %}
 
<!-- <table id="files_list" class="data" border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout:auto;word-break:break-word;white-space:normal;width:100%;"> -->
<table id="newer_files_list" class="data" border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout:auto;word-break:break-word;white-space:normal;width:100%;">
    <tr class="files_list_head">
    
    	{% block conference_header_row %}
    	
    	<td class="files_checkbox">    	
    		<input type="checkbox" name="type" id="checkbox1" style="display: none;"/>
        	<label id="lbl_chk_all" class="files_type_uncheck" for="checkbox1"></label>
    	</td>
    	<td class="files_flag " ><img src="/site_media/files/images/white_flag.png"></td>
    	<td class="files_name " style="word-wrap:break-word;">{% trans "Name" %}</td>
    	<!-- <td style="border-right: white solid 1px;"><img src="{{ MEDIA_URL }}files/images/purple_down.png" style="visibility: hidden;"/></td> -->
    	<td class="files_type ">{% trans "Type" %}</td>
    	<td class="files_new_size ">{% trans "Size" %}</td>
    	<td class="files_last_modified ">{% trans "Last Modified" %}</td>
    	<td class="files_created_on ">{% trans "Date Created" %}</td>
    	<td class="files_icon_settings " id="icon_settings">
    		<img src="{{ MEDIA_URL }}schedule/images/icon_setting.png" style="cursor:pointer" alt="Settings"/>
    		
    		<div class="files_setting_form">
            	<div class="settings_header"> 
                    View Columns         
                </div>
                <ul id="setting_columns" class="schedule_filter" style="width:97%;margin-bottom:0">
                	<li>
	                 	<p><input type="checkbox" name="columns" id="column0" value="flagged" checked="checked"/>
	     				<label  class="schedule_type_checked" for="column0">{% trans "Flagged" %}</label><br/></p>
                 	</li>
                    <li>
                		<p><input type="checkbox" name="columns" id="column2" value="name" checked="checked" />
    					<label  class="schedule_type_checked" for="column2">{% trans "Name" %}</label><br/></p>
                	</li>
	                <li>
		            	<p><input type="checkbox" name="columns" id="column1" value="type" checked="checked" />
		     			<label  class="schedule_type_checked" for="column1">{% trans "Type" %}</label><br/></p>
	                </li>
	                <li>
	                	<p><input type="checkbox" name="columns" id="column4" value="size" checked="checked" />
	     				<label  class="schedule_type_checked" for="column4">{% trans "Size" %}</label><br/></p>
	                </li>
	                <li>
	                	<p><input type="checkbox" name="columns" id="column5" value="last_modified" checked="checked" />
	     				<label  class="schedule_type_checked" for="column5">{% trans "Last Modified" %}</label><br/></p>
	                </li>
	                <li>
	                 	<p><input type="checkbox" name="columns" id="column6" value="created_on" checked="checked" />
	     				<label  class="schedule_type_checked" for="column6">{% trans "Date Created" %}</label><br/></p>
	                </li>
                </ul>
            </div>
    		
    	</td>
        {% endblock %}
    </tr>
    
    {% if not files%}
    <tr class="{% cycle 'dark' 'light' %}">
      <td colspan="11"><h3 style="color:red;">{% if query_string %}{% trans "No files found for this query" %}{% else %}{% trans "No files found" %}{% endif %}</h3></td>
    </tr>
    {% endif %}
    
    <!-- File -->
    
    {% for file in files %}
    <tr class="{% cycle 'dark' 'light' %} select_row_class{% if file.is_folder %} is_folder {% endif %}" id="{{file.id}}" data-title="{% eclipse_description file.name %}">
    	{% if file.is_folder %}
    	<td class="files_non_checkbox" style="border-right: none;"></td>
    	{% else %}
    	<td class="files_checkbox" style="border-right: none;">
        	<input type="checkbox" name="chk_files" style="display: none;" value="file={{ file.id }}&url={{ file.url }}&name={{ file.name }}"/>
        	<label class="lbl_chk_files files_type_uncheck" for="chk_files"></label>
        </td>
        {% endif %}
    	<td class="flag {% if file.isStarred %}active_flag{% else %}inactive_flag{% endif %}">
    	</td>
    	<td class="{% if file.is_folder %}folder_content_title {% endif %}files_content_title">
    		{% if file.is_folder %}<span style="display:none">?folder={{ file.id }}</span>{%endif%}
    		<p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;-ms-text-overflow: ellipsis;">{{ file.name }}</p>
    	</td>
    	<td class="files_content_center" style="padding-top: 1px;">
    	{% if file.is_folder %}
    		<img border="0" height="25" width="22" alt="Icon" src="{{ MEDIA_URL }}jstree/images/normal_folder.png">
    	{% else %}
    		<img border="0" height="25" width="22" alt="Icon" src="{{ MEDIA_URL }}googledriver/images/icon/{{ file.fileExtension }}.png">
    	{% endif %}
    	</td>
    	<td class="files_content_center">{{ file.fileSize|filesizeformat }}</td>
    	<td class="files_content_center">{{ file.modifiedDate }}</td>
    	<td class="files_content_center">{{ file.createdDate }}</td>
    	<td class="files_content_center"><a style="display:none;"></a></td>
    </tr>
    {% endfor %}
	{% for i in line_insert|get_range %}
	    <tr class="{% cycle 'dark' 'light' %}">
	    	<td class="files_content_center" colspan="8">&nbsp;</td>
	    </tr>
    {% endfor %}
</table>
<script type="text/javascript" src="{{ MEDIA_URL }}files/js/jquery.timers.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}files/js/jquery.dropshadow.js"></script>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}files/js/mbTooltip.js"></script> -->
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/mbTooltip_custom.js"></script>
<script type="text/javascript">
	var current_width = 286;
	$(document).ready(function(){
		$('#icon_settings').click(function(){
			$('.files_setting_form').toggle();
	 	});
	 	
	 	$('#setting_columns label').click(function(){
		 
		 if($(this).hasClass('schedule_type_checked')) {
			 
			if($(this).parent().find('input:first').val() == 'type'){
				$('#newer_files_list td:nth-child(4)').hide();
				current_width += 55;
			}else if($(this).parent().find('input:first').val() == 'name'){
				$('#newer_files_list td:nth-child(3)').hide();
			}else if($(this).parent().find('input:first').val() == 'size'){
				$('#newer_files_list td:nth-child(5)').hide();
				current_width += 60;
			}else if($(this).parent().find('input:first').val() == 'last_modified'){
				$('#newer_files_list td:nth-child(6)').hide();
				current_width += 115;
			}else if($(this).parent().find('input:first').val() == 'created_on'){
				$('#newer_files_list td:nth-child(7)').hide();
				current_width += 105;
			}else if($(this).parent().find('input:first').val() == 'flagged'){
				$('#newer_files_list td:nth-child(2)').hide();
				current_width += 45;
			}
			$(this).removeClass('schedule_type_checked').addClass('schedule_type_uncheck');
			$('.files_content_title p').width($('.files_name:first').width());
		 }else{
			
			 if($(this).parent().find('input:first').val() == 'type'){
					$('#newer_files_list td:nth-child(4)').show();
					current_width -= 55;
				}else if($(this).parent().find('input:first').val() == 'name'){
					$('#newer_files_list td:nth-child(3)').show();
				}else if($(this).parent().find('input:first').val() == 'size'){
					$('#newer_files_list td:nth-child(5)').show();
					current_width -= 60;
				}else if($(this).parent().find('input:first').val() == 'last_modified'){
					$('#newer_files_list td:nth-child(6)').show();
					current_width -= 115;
				}else if($(this).parent().find('input:first').val() == 'created_on'){
					$('#newer_files_list td:nth-child(7)').show();
					current_width -= 105;
				}else if($(this).parent().find('input:first').val() == 'flagged'){
					$('#newer_files_list td:nth-child(2)').show();
					current_width -= 45;
				}
			 $(this).removeClass('schedule_type_uncheck').addClass('schedule_type_checked');
		 }
		 $('#newer_files_list').width('100%');
		 $('.files_content_title p').width(current_width);
		 //$('#newer_files_list td:nth-child(3)').width(current_width);
		 /* $('#newer_files_list td:nth-child(3)').hide();
			setTimeout(function(){
				$('#newer_files_list td:nth-child(3)').show();	
			},10); */
			
	 	});
	 	
		$('.folder_content_title p').click(function(){
			var link = $(this).parent().find('span:first').html();
			if(link=='') return false;
			window.location = link;
		});
		
		$('.select_row_class').click(function(){
			if(!$(this).hasClass('is_folder'))
				select_row_toggle($(this));
		});
		$('tr.select_row_class').hover(function(){
			var that = $(this);
			that.addClass('hover_row');
			that.find('.privacy_image img').each(function(){
				if($(this).attr('src').indexOf('protected.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_protected.png');
				}
				if($(this).attr('src').indexOf('public.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_public.png');
				}
				if($(this).attr('src').indexOf('private.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_private.png');
				}
			});
		},function(){
			var that = $(this);
			that.removeClass('hover_row');
			if(!that.hasClass('active_row')){
			that.find('.privacy_image img').each(function(){
				if($(this).attr('src').indexOf('white_protected.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_protected.png');
				}
				if($(this).attr('src').indexOf('white_public.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_public.png');
				}
				if($(this).attr('src').indexOf('white_private.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_private.png');
				}
			});
			}
		});
		
		
		$("[data-title]").mbTooltip({ // also $([domElement]).mbTooltip  >>  in this case only children element are involved
		      opacity : .97,       //opacity
		      wait:100,           //before show
		      cssClass:"default",  // default = default
		      timePerWord:70,      //time to show in milliseconds per word
		      hasArrow:false,			// if you whant a little arrow on the corner
		      hasShadow:true,
		      imgPath:"images/",
		      ancor:"mouse", //"parent"  you can ancor the tooltip to the mouse position or at the bottom of the element
		      shadowColor:"black", //the color of the shadow
		      mb_fade:0 //the time to fade-in
		    });
	});
	
	select_row_toggle = function(that){
		if(that.hasClass('active_row')){
			that.find('td:first label').removeClass('files_type_checked').addClass('files_type_uncheck');
			that.find('td:first').find('input:first').attr('checked',false);
			that.removeClass('active_row');
			that.find('.privacy_image img').each(function(){
				if($(this).attr('src').indexOf('white_protected.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_protected.png');
				}
				if($(this).attr('src').indexOf('white_public.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_public.png');
				}
				if($(this).attr('src').indexOf('white_private.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_private.png');
				}
			});
		}else{
			that.find('td:first label').removeClass('files_type_uncheck').addClass('files_type_checked');
			that.find('td:first').find('input:first').attr('checked',true);
			that.addClass('active_row');
			that.find('.privacy_image img').each(function(){
				if($(this).attr('src').indexOf('protected.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_protected.png');
				}
				if($(this).attr('src').indexOf('public.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_public.png');
				}
				if($(this).attr('src').indexOf('private.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_private.png');
				}
			});
		}
	};
	
</script>