{% load i18n %}
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.cookie.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.hotkeys.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.jstree.js" ></script>
<style type="text/css">
#jstree_holder a {color:#595959; white-space:normal !important; height: auto; padding:1px 2px;word-wrap: break-word;font-size: 13px; width:85%;} 
#jstree_holder li > ins { vertical-align:top; }
#jstree_holder li { vertical-align:top;word-wrap: break-word; }
#jstree_holder .jstree-hovered, #jstree_holder .jstree-clicked { border:0; }
</style>