{% extends "newer_base.html" %}
{% load i18n %}
{% load file_tags %}
{% block head_title %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<!-- <link href="{{ MEDIA_URL }}schedule/newer.jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" /> -->

<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom_conference.css" rel="stylesheet" type="text/css" />

<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}googledriver/css/google_list_file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/multiupload/multiupload.css" rel="stylesheet" type="text/css" />
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.ui.widget.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}jstree/google_drivetree.js" ></script>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}files/css/mbTooltip.css" title="style"  media="screen">

 <script type="text/javascript">
  var root_id = '0';
  	var current_folder = '0';
  	var current_folder = '{{ current_folder }}';
  </script>
<style>
#jstree_holder_move a {color:#595959; white-space:normal !important; height: auto; padding:1px 2px;word-wrap: break-word;font-size: 13px; } 
#jstree_holder_move li > ins { vertical-align:top; }
#jstree_holder_move li { vertical-align:top;word-wrap: break-word }
#jstree_holder_move .jstree-hovered, #jstree_holder .jstree-clicked { border:0; }

</style>
{% endblock %}

{% block content %}

<!-- DRIVE TOP START -->
	<div id="files_top">
		<div id="files_top_left" style="margin-top: 8px;margin-left:5px;">
			Import Files
		</div>
		
	</div>
<!-- DRIVE TOP END -->
<div class="files_smallclear"></div>
<!-- DRIVE CONTENT START -->
<div id="files_content">
		<div id="files_content_left" style="float: left;">
			{% include "googledriver/files_jstree_holder.html" %}
			<div class="files_folder_root">
				<div class="files_folders_container_menu">
		 			<div class="files_folders_container">
						<div id="jstree_holder" style="height:auto;width:100%;"></div>	
					</div>
				</div>
			</div>
		</div>
		<div id="files_content_right">
			<div class="files_content_right_top">
				<div class="top_block_search">
					<div class="searchbg_file">
			            <form action="." method="get">
			            <div style="float:left;width:185px;">
			                <input type="text" name="q" id="textfield" class="files_search_textbox" value="{% if query_string %}{{ query_string  }}{% else %}{% trans 'Search' %}{% endif %}"  maxlength="250"
							onfocus="{% if not query_string %}if(this.value == 'Search') {this.value = '';}{% endif %}" onblur="{% if not query_string %}if (this.value == '') {this.value = 'Search';}{% endif %}"/>
			                </div>
			                <div style="float:left;">
			                <input type="submit" id="button" value="" class="schedule_search_btn" />
			                </div>
			                <div style="float:left;">
			                <input type="button" class="schedule_search_close"  />
			                </div>
			            </form>
			        </div>
			    </div>
			    <div class="clear"></div>
			</div>
			<form id="form_import_submit" action="{% url gdrive_import_files %}" method="post">
			{% block table %}
		    {% include "googledriver/files_list_table.html" %}
		    {% endblock %}
		    </form>
		    <div style="height:10px;"></div>
		    <div class="files_content_right_top">
		    	<button class="btn_file_import" onclick="import_files_from_list();">Import Selected Files</button>
		    	<a href="/files/">
		    		<button class="btn_file_import" style="font-size: 20px; margin-right: 6px;">Cancel</button>
		    	</a>
		    </div>
		</div>
</div>
<!-- DRIVE CONTENT END -->
<script type="text/javascript">
initial_overlay_trigger = function(){
	$("#alert_overlay").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#processing_overlay").overlay({
		 
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#confirm_overlay").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#confirm_anyway_overlay").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#confirm_empty_btn").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 	  top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#delete_multi_btn").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 	  top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#deleteanyway_multi_btn").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 	  top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	
	$(".delete_file").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$(".movefile").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-300,
	      closeOnClick: false
	  });	
	
	$(".show_delete_error_message").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	
};

initial_button_overlay = function(){
	var buttons_confirm = $("#confirm_container button").click(function(e) {
		var yes = buttons_confirm.index(this);
	 	if(yes == 1) {
	 		$("#jstree_holder").jstree('remove');
	 		//$("#jstree_holder_move").jstree('remove');
	 	}
	});
	
	var buttons_move = $("#move_file_container button").click(function(e) {
	    // get user input
		var yes = buttons_move.index(this);
		// if click delete then delete file
	 	if(yes == 1) {
	 		move_files_to_folder();
	 	}
	});
};
show_then_hide = function(){
	$('#contact_messages').fadeOut();
};
$(document).ready(function() {
		initial_overlay_trigger();
		initial_button_overlay();
		var pathname =  window.location.href;
		var relative_path =  document.location.pathname;
		$('#next').val(pathname);
		
		$('input.files_search_textbox').keyup(function (){
			if($(this).val() == '')
			{
				$('tr.searchHidden').removeClass("searchHidden");
			}
			else
			{
				var check_all = $('#lbl_chk_all')
				if(check_all.hasClass('files_type_checked'))
				{
					check_all.removeClass('files_type_checked').addClass('files_type_uncheck');
				}
				$('.select_row_class').each(function() {
					if($(this).hasClass('active_row') && !$(this).hasClass('is_folder'))
					{
						$(this).find('td:first label').removeClass('files_type_checked').addClass('files_type_uncheck');
						$(this).find('td:first').find('input:first').attr('checked',false);
						$(this).removeClass('active_row');
					}
				});
				$('td.files_content_title p:contains("'+$(this).val()+'")').parents('tr').each(function() {
					if($(this).hasClass("searchHidden"))
					{
						$(this).removeClass("searchHidden");
					}
				});
				$('td.files_content_title p').not(":contains('"+$(this).val()+"')").parents('tr').addClass("searchHidden");
			}
			console.log($(this).val());
		});
		
		$('.dropdown-perpage').hover(function(){
			$(this).find('.dropdown-perpage-hidden').show();
		},function(){
			$(this).find('.dropdown-perpage-hidden').hide();
		});
		
		
		$("input:checkbox[name='chk_files']").each(function() {
			 $(this).attr('checked', false);
		 });		
		
		$('#btn_all_top').click(function(){
			$('#all_files_action_top').show();
		});
		
		$('#btn_all_bottom').click(function(){
			$('#all_files_action_bottom').fadeIn();
		});
		$('.share_parent').mouseenter(function(){
			$(this).find('.share_sub_menu').show();
		});
		
		$('.share_parent').mouseleave(function(){
			$(this).find('.share_sub_menu').hide();
		});
		
		$('#all_files_action_top').mouseleave(function(){
			$('#all_files_action_top').hide();
		});
		
		$('#all_files_action_bottom').mouseleave(function(){
			$('#all_files_action_bottom').hide();
		}); 
		$('#btn_import_from_google').click(function(){
			window.open("/integrate/google_docs/import/","_blank","scrollbars=1, width=750,height=600");
		});
		 
		 $('#lbl_chk_all').click(function(){
			 var  that = $(this);
			 if(that.hasClass('files_type_checked')) {
				 that.removeClass('files_type_checked').addClass('files_type_uncheck');
				
				$('.select_row_class').each(function(){
					if($(this).hasClass('active_row') && !$(this).hasClass('is_folder'))
					{
						select_row_toggle($(this));
					}
				});
				
			}else {
				that.removeClass('files_type_uncheck').addClass('files_type_checked');
				
				$('.select_row_class').each(function(){
					if(!$(this).hasClass('active_row') && !$(this).hasClass('is_folder'))
						select_row_toggle($(this));
				});
			}
		 }); 
		 
	});

has_any_checked = function(){
	var is_submit = 0;
		$("input:checkbox[name='chk_files']").each(function() {
		 if($(this).attr('checked')) {
		 	is_submit ++;
		 }
	 });
	return is_submit;
}	
	
	
move_files_to_folder = function(){
		var is_submit = false;
		var upload_files = new Array();
 		$("input:checkbox[name='chk_files']").each(function() {
			 if($(this).attr('checked')) {
			 	is_submit = true;
			 	upload_files.push($(this).val());
			 }
		 });
 		if(is_submit == true) {
 			var folder_move_id = null;
 			
 			var selected_node = $('#jstree_holder_move').find('.jstree-clicked').html();
		   if(selected_node!=null) {
				var s_node = $('#jstree_holder_move').find('.jstree-clicked');
				if(s_node.length>1){
					alert('You only select one folder to upload file!!!');
					return false;
				}else{
					folder_move_id = s_node.parent().attr('id');
				}
				
			}else{
				alert('Please select a folder to move file(s)');
				return false;
			}
 			
			 $.ajax({
				url:'/files/move_file_to_folder?'+upload_files.join('&')+'&folder_id='+folder_move_id,
				type:'GET',
				dataType:'html',
				success:function(result){
					if(result=='success') window.location.reload();
				}
			 
			 });
 			return false;
 		}
 		else 
 			//show error message
 			$('#show_move_error_message').click();
	};
	open_files_from_list = function(){
		if(has_any_checked() == 0){
			$('#show_open_error_message').click();
			return false;
		}
		if(has_any_checked() == 1){
			var url = $("input:checkbox[name='chk_files']:checked:first").parent().parent().find('td:eq(2)').find('span:first').html();
			window.location = url;
			return false;
		}
		$("input:checkbox[name='chk_files']:checked").each(function(){
			var url = $(this).parent().parent().find('td:eq(2)').find('span:first').html();
			window.open(url,'_blank');
		});
		
	};
	
	show_move_dialog = function(){
		if(has_any_checked()==0){
			$('#show_move_error_message').click();
		}else if(has_any_checked()==1){
			var title = $("input:checkbox[name='chk_files']:checked:first").parent().parent().find('td:eq(2)').find('p:first').html();
			
			$('#move_file_title').html('Move '+((title.length < 60) ? title: (title.substring(0,60) + '...'))+' to:');
			$('.movefile').click();
			initialize_tree('jstree_holder_move','mmenu_move','/files/getMoveTree');
		}else{
			$('#move_file_title').html('Move File(s) to:');
			$('.movefile').click();
			initialize_tree('jstree_holder_move','mmenu_move','/files/getMoveTree');
		}
	};
	
	import_files_from_list = function(){
		if(has_any_checked()==0){
			$('#show_delete_error_message').click();
		}
		
		else{
			$('#form_import_submit').submit();
		}
	};
	
	show_delete_dialog = function(){
		if(has_any_checked()==0){
			$('#show_delete_error_message').click();
		}else if(has_any_checked()==1){
			
			var title = $("input:checkbox[name='chk_files']:checked:first").parent().parent().find('td:eq(2)').find('p:first').html();
			//$('#delete_file_content').html('Are you sure want to move '+((title.length < 30) ? title: (title.substring(0,30) + '...'))+' to trash.');
			$('#delete_file_content').html('Are you sure want to delete "'+title+'"?');
			$('.deletefileclick').click();
		}else{
			var str = '';
			$("input:checkbox[name='chk_files']:checked").each(function() {
						var icon_file = $(this).parent().parent().find('td:eq(3)').html();
						var title_file = $(this).parent().parent().find('td:eq(2)').find('p:first').html();
						str+='<tr><td width="50px">'+icon_file+'</td><td>'+title_file+'</td></tr>'	
									 	
			 });
			$('#multi_delete_list').html(str);
			$('#delete_multi_btn').click();
		}
	};
	download_files_checked = function(){
		if(has_any_checked()==0){
			$('#alert_title').html('File(s) Download');
			$('#alert_message').html('No file(s) selected to download.');
			$('#alert_overlay').click();
		}else{
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var url = $(this).parent().find('span:first').html();
				var iframe_id = $(this).val();
				downloadURL(url, iframe_id);
			});
			
		}
	};
	
	
	function getURL_withparams(url){
		var pathExtract = /^[a-z]+:\/\/\/?[^\/]+(\/[^]*)/i;
		var thisUrl = (pathExtract.exec(url))[1];
		return thisUrl;
	};
	
	function edit_multi_files() {
		if(has_any_checked()==0){
			$('#alert_title').html('Edit File(s)');
			$('#alert_message').html('No file(s) selected to edit.');
			$('#alert_overlay').click();
		}
		else if(has_any_checked()==1){
				var urlhash = $("input:checkbox[name='chk_files']:checked:first").parent().parent().find('td:last').find('a:first').html();
				if($("input:checkbox[name='chk_files']:checked:first").val().indexOf('folder') == -1)
				{
					var url = '/files/edit/'+urlhash+'?next='+encodeURIComponent(getURL_withparams(window.location.href));
					window.location = url;
				}else{
					$('#alert_title').html('Edit File(s)');
					$('#alert_message').html('No file(s) selected to edit.');
					$('#alert_overlay').click();
					return false;
				}
		}
		else{
			var array_urlhash = new Array();
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var urlhash = 'file='+$(this).parent().parent().find('td:last').find('a:first').html();
				if($(this).val().indexOf('folder')==-1)
					array_urlhash.push(urlhash);
			});
			if(array_urlhash.length ==0){
				$('#alert_title').html('Edit File(s)');
				$('#alert_message').html('No file(s) selected to edit.');
				$('#alert_overlay').click();
				return false;
			}else{
				var url = '/files/multiedit/?'+array_urlhash.join('&')+'&next='+encodeURIComponent(getURL_withparams(window.location.href));
				window.location = url;
			}
		}
		
	}
		
	undo_delete_dialog = function(){
		
		if(has_any_checked()==0){
			$('#alert_title').html('Undo delete');
			$('#alert_message').html('No file(s) selected to undo.');
			$('#alert_overlay').click();
		}else {
			var undo_deletes = new Array();
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var that = $(this).parent().parent().find('td:eq(1)');
				var id = that.find('input:first').val();
				undo_deletes.push(id);
			});
			$.ajax({
				  url: "/files/undo_delete_from_trash?"+undo_deletes.join('&'),
				  type: 'GET',
				  dataType: 'html',
				  success: function(html){
					  if(html =='success')
						  window.location.reload();
				  }
			});
		}
		
	};
	
	delete_anyway_trash_dialog = function(){
		if(has_any_checked()==0){
			$('#alert_title').html('Delete file(s)');
			$('#alert_message').html('No file(s) selected to delete.');
			$('#alert_overlay').click();
		}else if(has_any_checked()==1){
			var title = $("input:checkbox[name='chk_files']:checked:first").parent().parent().find('td:eq(2)').find('p:first').html();
			$('#deleteanyway_file_content').html('Are you sure want to delete "'+title+'"? It cannot be undone.');
			$('#confirm_anyway_overlay').click()
		}else{
			var str = '';
			$("input:checkbox[name='chk_files']:checked").each(function() {
						var icon_file = $(this).parent().parent().find('td:eq(3)').html();
						var title_file = $(this).parent().parent().find('td:eq(2)').find('p:first').html();
						str+='<tr><td width="50px">'+icon_file+'</td><td>'+title_file+'</td></tr>'	
									 	
			 });
			$('#multi_deleteanyway_list').html(str);
			$('#deleteanyway_multi_btn').click();
		}
		
	};
	
</script>
{% endblock %}
