{% extends "new_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Email Template" %}{% endblock %} - {% if SITE_NAME %}{{ SITE_NAME }}{% endif %}

  {% block submenu %}
  <!--SUBMENU STARTS-->
<div id="submenu_container">
  <ul class="subnav">
    <li class="current"><a href="{% url vmail_email_template %}">{% trans "Fire a Email-Template" %}</a></li>
  </ul>
</div>
  <!--SUBMENU ENDS-->
  {% endblock submenu %} 
 
 {% block content %}
 <link rel="stylesheet" href="{{ MEDIA_URL }}vmail/themes/netconference/css/style.css" type="text/css" media="screen" />
 <link rel="stylesheet" href="{{ MEDIA_URL }}vmail/themes/netconference/css/common.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}vmail/js/jquery.js"></script>
<script type="text/javascript"	src="{{ MEDIA_URL }}vmail/js/jquery.corner.js"></script>
<script type="text/javascript"	src="{{ MEDIA_URL }}vmail/js/jquery.animate-shadow.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vmail/js/swfobject.js"></script>
<script src="{{ MEDIA_URL }}vmail/js/jquery.tools.min.js" type="text/javascript"></script>  
<script   type="text/javascript" src="{{ MEDIA_URL }}vmail/tiny_mce/jquery.tinymce.js"></script>
<!-- <script type="text/javascript"	src="{{ MEDIA_URL }}js/jquery.form.js"></script> -->
<script type="text/javascript"	src="{{ MEDIA_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript"	src="{{ MEDIA_URL }}js/jquery.form_new.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	

	$('.wizardbgmain').animate({boxShadow: '0 0 30px #E0DEDE'});
	$('.wizardbgmain').corner('round 5px');
	if ( $.browser.msie ) {
			  $('.iebackground').show();
			  $('.iebackground').css({"width":"945px","background":"#E8E3E3","filter":"progid:DXImageTransform.Microsoft.Blur(pixelradius=10)"});
			  $('.wizardbgmain').css({"padding":"5px","position":"relative","top":"10px","right":"-10px","background":"white","margin":"3px"});
		} 
	
	$('#ajaxForm').ajaxForm({
		dataType:'html',
		beforeSubmit: function(){
			$.blockUI({message:'<h3><img width="150px" src="{{ MEDIA_URL }}img/loading01.gif"/><br>Uploading file ...</h3>',css: { top: '10%' } });
		},
		success:function(result){
			$.unblockUI();
			alert(result);
			$('#thumb_id').attr('value',result.split(',',2)[0]);
			if($('#default_temp').is(':checked')){
				$('#default_id').attr('value','yes');
			}else{
				$('#default_id').attr('value','no');
			}
			$('#mainForm').submit();
		}
	});
	$('#mainForm').ajaxForm({
		dataType:'html',
		beforeSubmit: function(){
			$.blockUI({message:'<h3><img width="150px" src="{{ MEDIA_URL }}img/loading01.gif"/><br>Adding template ...</h3>',css: { top: '10%' } });
		},
		success:function(result){
			alert(result);
			$.unblockUI();
			$('#mainForm').resetForm();
			$('#ajaxForm').resetForm();
		}
	});
	
$('.wizard.button_dup').click(function(){
	$('#ajaxForm').submit();
	return false;
});
	
	
});
</script>  


<div class="iebackground" style="margin-top:5px;">
<div  class="wizardbgmain" style="height: 900px;">

<a class="title_step_name" style="font-size: 16px;">Preparing a email template. You can copy and paste from any where or upload from file html</a>


<form id="mainForm" action="/vmail/email_template" method="POST">
<input type="hidden" value="" name="email_html" id= "email_html">

<input type="hidden" value="" name="thumb_id" id="thumb_id">
<input type="hidden" value="" name="default_id" id="default_id">

<fieldset style="width:96%;border: #e3e3e3 solid 2px;margin:20px;height: 270px;">
<legend>Email template Information</legend>


<label style="float:left;">Name: <input type="text" id="template_name" name="template_name"> </label>
<br>
<br>
<label style="float:left;">File Name: <input type="text" id="template_filename" name="template_filename"> </label>
<br>
<br>
<label style="float:left;">Category:

<select id="categoryMainId" name="categoryMainId" style="width:200px;">
{% for i in list %}
  <option value="{{ i.id }}">{{ i.name  }}</option>
  {% endfor %}
</select>
</label><br>
<br>
Make is default: <input type="checkbox" name="default_temp">
<br><br>
 </form>

<form id="ajaxForm" method="POST" enctype="multipart/form-data" action="http://encode1.media.netconf.nxtgencdn.com/uploader_amazons3/upload-amazons3-v2.php">

<input type="hidden" name="uid" value="{{ user.id }}" />
<input type="hidden" name="cid" value="{{ bucket }}" />
<input type="hidden" name="username" value="{{ user.username }}" />
<input type="hidden" name="visibility" value="U" />

<label>Thumb for template:
<input type="file" name="files[]" id="file_upload" style="visibility:visible;" /> 
</label>  
</form>

</fieldset>

<button id="AddTemplate" class="wizard button_dup" style="float:right;margin-right:20px;margin-top:-30px;">Add Template</button><br>

</div>
</div>


 {% endblock content %}

{% block footerscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
            $(".video_trigger").overlay({
            expose: { 
                color: '#333', 
                loadSpeed: 200, 
                opacity: 0.9
            },
            closeOnClick: false,
            closeOnEsc: false,
            onLoad: function(event) { 
                      $(".scrollable").hide(); 
                      $("object#FlashID").hide();
                      $("div#decoy").show();
                    },
            onClose: function(event) { 
                       $(".scrollable").show(); 
                       $("div#decoy").hide();
                       $("object#FlashID").show();
                     },
            effect: 'apple'
        }).load(); 
   $("ul.subnav li").mouseout(function(eventObj) { $("ul.subnav li.current a").css("color", "#750998"); });
  $("ul.subnav li").mouseover(function(eventObj) { 
    if ($(this).attr("class") != "current") {
      $("li.current a").css("color", "#ffffff");
    }
  });
  $("ul#messages li").fadeOut(5000);
  $(function() { $(".subnav").lavaLamp({ fx: "backout", speed: 600 })}); 
  
  
  
});

$(document).ready(function() {
  
    $("#help_id").click(function(){
  	  var redirect = true;
  	  $.ajax({
  			  type:"GET",
  			  async: false,
  			  url: "/account/login/RedirectToForm",
  			  success: function(data){
  				  if(data=="noAuth"){
  					  
  				  }else{
  					$('#virtual_form').find('input:eq(1)').attr('value',data);
  						 redirect = false;
  				  	   }
  				  
  			      }
  			 });
  	  		 if(redirect) {
  	  			window.location.replace("http://support.netconference.com/"); 
         		 }else{
         			var form = $('#virtual_form');
 					 form.submit();
         		 }

  	  
        });
    $("#help_id").mouseover(function(){
  	  $(this).attr("style","cursor: pointer");
    });
});

</script>
{% endblock footerscript %}
