{% load i18n %}
<div style="clear:both;margin-left:20px;margin-top:0px;margin-right:30px;padding:20px;" id="footerAddition">
<a href="{{ vmail_url }}" style="color:#740099;font-size:14px;font-weight:bold;padding-left:10px;">Click Here to View your Vmail</a><br>
{% if attachment %}<p style="color:#595959;font-size:14px;font-weight:bold;padding-left:10px;">Attachments</p>{% endif %}

<ul style="min-height:50px;">
{% for attach in attachment %}
<li><a href="https://s3.amazonaws.com/{{ bucket }}/files/{{ attach.file.uuid }}.{{ attach.file.source_type }}" >{{ attach.file.filename }}</a></li>
{% endfor %}
</ul>
<br>
<br><br>
<a href="{{ linksite }}subscription/" style="font-size:10px;margin-left:100px;">Click here to open your own Free NetConference Account </a>

