{% extends "newer_base.html" %}
{% load i18n %}

{% block head_title %}{{ object.subject }}{% endblock %} - {% if SITE_NAME %}{{ SITE_NAME }}{% endif %}
     
{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
  
  </ul>
</div>
{% endblock %}
{% block content %}
 <link rel="stylesheet" href="{{ MEDIA_URL }}vmail/themes/netconference/css/style.css" type="text/css" media="screen" />
 <link rel="stylesheet" href="{{ MEDIA_URL }}vmail/themes/netconference/css/common.css" type="text/css" media="screen" />
 <link rel="stylesheet" href="{{ MEDIA_URL }}vmail/themes/netconference/font/fontload.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}vmail/js/jquery.js"></script>
<script type="text/javascript"	src="{{ MEDIA_URL }}vmail/js/jquery.corner.js"></script>
<script type="text/javascript"	src="{{ MEDIA_URL }}vmail/js/jquery.animate-shadow.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vmail/js/swfobject.js"></script>
<script src="{{ MEDIA_URL }}vmail/js/jquery.tools.min.js" type="text/javascript"></script>  
<script type="text/javascript" src="{{ MEDIA_URL }}longtail/jwplayer.js"></script>
<script type="text/javascript">
String.prototype.fulltrim=function(){return this.replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,'').replace(/\s+/g,' ');}

function checkEmail(email) {
	var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		    return re.test(email);
}
function beforeForward(){
	
}
function hexToR(h) {return parseInt((h).substring(0,2),16)};
function hexToG(h) {return parseInt((h).substring(2,4),16)};
function hexToB(h) {return parseInt((h).substring(4,6),16)};
cssProperty = function(idParent,idOpac,idtext,color, opac, width, height){
	var arr = new Array();
	arr[0] = hexToR(color);
	arr[1] = hexToG(color);
	arr[2] = hexToB(color);
	
	if ($.browser.msie ) {
		$('#'+idParent).css({'width':width,'height': height});
		$('#'+idOpac).css({"background-color":"#"+color,"height":$('#'+idParent).height(),"width":$('#'+idParent).width(),"filter": "progid:DXImageTransform.Microsoft.Alpha(opacity=" + opac + ")"});
		$('#'+idtext).css({"position":"absolute","z-index":"1","top": 0,"left":0,"filter": "progid:DXImageTransform.Microsoft.Alpha(opacity=" + 100 + ")"});
	}else{
		$('#'+idParent).css({'width':width,'height': height, 'background':'rgba('+arr[0]+','+arr[1]+','+arr[2]+','+opac/100+')'});	
	}
};
function checkEmailStream(txt, empty){
	if(empty){
		if(txt==""){
			alert('Please type a address');
			return false;
		}
		else{
			txt = txt.fulltrim();
			var arr = new Array();
			arr = txt.split(";");
			for(i in arr){
				if(arr[i]!=""){
					if(!checkEmail(arr[i])) {
						alert(arr[i]+ " not a email");
						return false;
					}
				}
			}
		}
	}
	else{
		txt = txt.fulltrim();
		var arr = new Array();
		arr = txt.split(";");
		for(i in arr){
			if(arr[i]!=""){
				if(!checkEmail(arr[i])) {
					alert(arr[i]+ " not a email");
					return false;
				}
			}
		}
	}
	return true;
};
</script>
<script type="text/javascript">
$(document).ready(function(){
	$('#sendid').click(function(){
		var to_list = $('#To_Address').attr('value');
		if(!checkEmailStream(to_list,true)) return false;
		
		var bcc_list = $('#Bcc_Address').attr('value');
		if(!checkEmailStream(bcc_list,false)) return false;
		var cc_list = $('#Cc_Address').attr('value');
		if(!checkEmailStream(cc_list,false)) return false;
		
		$('#formForward').submit();
	});
		
	var margin_left = ( screen.width - 976)/2;
	if(margin_left>0) 
		$('body div:first').css('margin-left',margin_left);
		
	$('#parentMessageId').corner('round 10px');
	
	$('.wizardbgmain').animate({boxShadow: '0 0 30px #E0DEDE'});
	$('.wizardbgmain').corner('round 5px');
	
	/* swfobject.embedSWF("{{ MEDIA_URL }}swf/VmailPlayer.swf",
			"viewVideoContainer", "448", "335", "9.0.0",
			"{{ MEDIA_URL }}swf/expressInstall.swf", 
			{stream_id:"{{ prefix }}{% if avatar %}&user_img={{ avatar }}{% endif %}"},
			{menu:"true",wmode:"transparent"},
			{id:"viewVmailPlayer",name:"viewVmailPlayer"}); */
	
		/* 	swfobject.embedSWF("{{ MEDIA_URL }}swf/VmailPlayer.swf",
					"viewVideoContainer", "448", "335", "9.0.0",
					"{{ MEDIA_URL }}swf/expressInstall.swf", 
					{stream_id:"rtmp://{% if object.isRecord %}{{ VMAIL_RECORDING_STREAM }}{{ object.StreamRecordId }}{% else %}{{ VMAIL_FILE_STREAM }}mp4/{{ object.StreamRecordId }}_500.mp4{% endif %}{% if avatar %}&user_img={{ avatar }}{% endif %}"}, 
					{menu:"true",wmode:"transparent"},
					{id:"viewVmailPlayer",name:"viewVmailPlayer"}); */
				
					
					
					/* swfobject.embedSWF("{{ MEDIA_URL }}swf/VmailPlayer.swf",
							"viewVideoContainer", "448", "335", "9.0.0",
							"{{ MEDIA_URL }}swf/expressInstall.swf", 
							{stream_id:"rtmp://{{ VMAIL_RECORDING_STREAM }}{{ object.StreamRecordId }}{% if avatar %}&user_img={{ avatar }}{% endif %}"}, 
							{menu:"true",wmode:"transparent"},
							{id:"viewVmailPlayer",name:"viewVmailPlayer"});  */
			
			
	{% if object.isRecord %}
							
	jwplayer('viewVideoContainer').setup({
	    
	    {% if avatar %}
	    'image':'{{ avatar }}',
	    'file':'flv/recording/{{ object.StreamRecordId }}.mp3',
	    {% else %}
	    'file':'flv/recording/{{ object.StreamRecordId }}.mp4',
	    {% endif %}
	    'abouttext':'Netconference',
	    'aboutlink':'{{ linksite }}',
	    modes: [{
            type: "flash",
            src: "{{ MEDIA_URL }}swf/longtail_player.swf"
        },{
            type: "html5",
            config: {
            	 {% if avatar %}
            	 file: "http://{{ CLOUDFRONT_DOWNLOAD }}/flv/recording/{{ object.StreamRecordId }}.aac",
            	 {% else %}
                file: "http://{{ CLOUDFRONT_DOWNLOAD }}/flv/recording/{{ object.StreamRecordId }}.mp4",
                {% endif %}
                provider: "video"
            }
        }],
        'provider':'rtmp',
	    'streamer': 'rtmp://{{ CLOUDFRONT_STREAM }}',
	    'controlbar': 'bottom',
	    'width': '448',
	    'height': '350'
	  }); 
					
		
	{% else %}
		jwplayer('viewVideoContainer').setup({
	    'file':'mp4/{{ object.StreamRecordId }}_500.mp4',
	    modes: [{
            type: "flash",
            src: "{{ MEDIA_URL }}swf/longtail_player.swf"
        },{
            type: "html5",
            config: {
                file: "http://{{ CLOUDFRONT_DOWNLOAD }}/mp4/{{ object.StreamRecordId }}_500.mp4",
                provider: "video"
            }
        }],
        'provider':'rtmp',
	    'streamer': 'rtmp://{{ CLOUDFRONT_STREAM }}',
	    'controlbar': 'bottom',
	    'width': '448',
	    'height': '350'
	  }); 
	{% endif %}
 
	var main = $('.wizardbgmain').position();
	var top = main.top+10+275;
	var left = main.left + parseInt($('#vmail_container').css('margin-left'))+10;
	var topIE = 275;
	var leftIE = parseInt($('#vmail_container').css('margin-left'))+5;
	
	if (!$.browser.msie ) {
		var mPos_top = {{ mPos_top }} + top;
		var mPos_left = {{ mPos_left}} +left;
		var vPos_top = {{ vPos_top }} + top+30;
		var vPos_left = {{ vPos_left}} +left;
		
		}else{
			var mPos_top = {{ mPos_top }} +topIE+5;
			var mPos_left = {{ mPos_left}}+leftIE ;
			var vPos_top = {{ vPos_top }} +topIE+42;
			var vPos_left = {{ vPos_left}}+leftIE;
			//$('#textMessageId').css({'padding-left':'30px', 'padding-right':'20px'});
		}
	
	$('#parentMessageId').css({ "position": "absolute", "top": mPos_top, "left": mPos_left});
	
	$('#viewVideoVmailId').css({ "position": "absolute", "top": vPos_top, "left": vPos_left});
	
	cssProperty('parentMessageId','viewOpacity','textMessageId','{{ object.mColor }}','{{ object.mOpacity }}','{{ mSize_weight }}','{{ mSize_height }}');
	
	if ( $.browser.msie ) {
		  $('.iebackground').show();
		  $('.iebackground').css({"width":"945px","background":"#E8E3E3","filter":"progid:DXImageTransform.Microsoft.Blur(pixelradius=10)"});
		  $('.wizardbgmain').css({"padding":"5px","position":"relative","top":"10px","right":"-10px","background":"white","margin":"3px"});
	} 

	
});
</script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher:'021f2839-161a-4c0d-bc87-31aea906bf1f'});</script>
<div class="iebackground" style="margin-top:50px;">

<div  class="wizardbgmain" style="height: 900px;">
<div style="padding:10px;">
<!-- Left  -->
<div style="width:500px;float:left;">
<form id="formForward" action="/vmail/sendforward" method="POST">
<input type="hidden" name="hashcode" value="{{ hashcode }}"></input>
<table>
<tr>
<td>To:</td>
<td><input type="text" id="To_Address" name="To_Address" style="width:400px;height:30px;clear:right;" ></td>
</tr>
<tr>
<td>Cc:</td>
<td><input type="text" id="Cc_Address" name="Cc_Address" style="width:400px;height:30px" ></td>
</tr>
<tr>
<td>Bcc:</td>
<td><input type="text" id="Bcc_Address" name="Bcc_Address" style="width:400px;height:30px" ></td>
</tr>
<tr>
<td>Subject: </td>
<td><input type="text" id="subject" name="subject"  style="width:400px;height:30px" ></td>
</tr>


</table>
<!-- 
Email:
<input id="recipient" name="recipient" type="text" style="margin-top:10px;margin-bottom:10px;clear:left;width:460px;padding-left:10px;">
Subject:
<input id="subject" name="subject" type="text" style="margin-top:10px;margin-bottom:10px;clear:left;width:460px;padding-left:10px;"> -->
</div>

<!-- End Left -->

<!-- Right -->
<div style="float:right;">
Message:</br>
<textarea name="messageContent" rows="6" cols="45"></textarea>
</div>

<!-- End Right -->


</form>

</div>
<div style="width:100%;height:50px;padding-top:10px;clear:both">
		
		<div style="float:left;width:400px;">
		<table>
		<tr>
		<td width="60px;"></td>
		<td width="250px"></td>
		</tr>
		</table>
		</div>
		<div style="float:right;">
		<table>
			<tr>
				<td><input type="button" onclick="window.location.replace('/vmail/{{ hashcode }}');"
					value="Back" class="wizard button">
				</td>
				<td><input type="button" id="sendid"
					onclick="submit();" value="Send"
					class="wizard button">
				</td>
			</tr>

		</table>
		</div>
		
		</div>
<div style="background: #e3e3e3;margin-top:10px;padding-left:10px;height: 30px;font-weight: bold;margin-bottom:10px;clear:both">Preview</div>
<div id="vmail_container" style="padding: 0px; margin: 0px; width: 900px; height: 600px;margin-left: 20px;margin-right: 20px;">
	<img  src="{% if urlBackground %}{{ urlBackground }}{% else %}/site_media/vmail/themes/netconference/images/background_default.png{% endif %}" style="width:900px;height:600px;position:absolute;"/>
						<div id="parentMessageId" class="messageVmailBox" >
						<div id="viewOpacity"></div>
						<div id="textMessageId" style="padding:10px;">
							{% autoescape off %}{{ object.message }} {% endautoescape %}
							</div>
						</div>
							
	
	
						<div id="viewVideoVmailId"
							style="{% if object.isNoVideo %}visibility:hidden;{% endif %}height: 350px; width: 450px; ">
							<div id="viewVideoContainer"></div>
							
						</div>

</div>

</div>
</div>



 {% endblock content %}


{% block extrafooterscript %}


<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script> -->
<script type="text/javascript">
$(document).ready(function(){
            $(".video_trigger").overlay({
            expose: { 
                color: '#333', 
                loadSpeed: 200, 
                opacity: 0.9
            },
            closeOnClick: false,
            closeOnEsc: false,
            onLoad: function(event) { 
                      $(".scrollable").hide(); 
                      $("object#FlashID").hide();
                      $("div#decoy").show();
                    },
            onClose: function(event) { 
                       $(".scrollable").show(); 
                       $("div#decoy").hide();
                       $("object#FlashID").show();
                     },
            effect: 'apple'
        }).load(); 
   $("ul.subnav li").mouseout(function(eventObj) { $("ul.subnav li.current a").css("color", "#750998"); });
  $("ul.subnav li").mouseover(function(eventObj) { 
    if ($(this).attr("class") != "current") {
      $("li.current a").css("color", "#ffffff");
    }
  });
  $("ul#messages li").fadeOut(5000);
  $(function() { $(".subnav").lavaLamp({ fx: "backout", speed: 600 })}); 
  
  
  
});

$(document).ready(function() {
  
    $("#help_id").click(function(){
  	  var redirect = true;
  	  $.ajax({
  			  type:"GET",
  			  async: false,
  			  url: "/account/login/RedirectToForm",
  			  success: function(data){
  				  if(data=="noAuth"){
  					  
  				  }else{
  					$('#virtual_form').find('input:eq(1)').attr('value',data);
  						 redirect = false;
  				  	   }
  				  
  			      }
  			 });
  	  		 if(redirect) {
  	  			window.location.replace("http://support.netconference.com/"); 
         		 }else{
         			var form = $('#virtual_form');
 					 form.submit();
         		 }

  	  
        });
    $("#help_id").mouseover(function(){
  	  $(this).attr("style","cursor: pointer");
    });
});

</script>
{% endblock extrafooterscript %}

<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
{% if INCLUDE_ANALYTICS %}
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-229347-17']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
{% endif %}
</body>
</html>















 