{% extends "newer_base.html" %}
{% load i18n %}

{% block head_title %}{% endblock %} 

{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li class="current"><a href="{% url vmail_wizardCompose %}">CREATE VMAIL</a></li>

  </ul>
</div>
{% endblock %}

{% block content %}
    <script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}vmail/vmail.nocache.js"></script>

    <!-- OPTIONAL: include this if you want history support -->
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
    
    <!-- RECOMMENDED if your web app will not function without JavaScript enabled -->
    <noscript>
      <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
      </div>
    </noscript>
     <input id="idReply" name = "idReply" type="hidden" value="{{ idReply }}" />
<div style="height: auto;margin-top:25px;" id="show_result" ></div>
<div id="GWT_overlay" style="visibility:hidden;z-index: 100; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: #000000; cursor: default; position: fixed; opacity: 0.6; "></div>
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
            $(".video_trigger").overlay({
            expose: { 
                color: '#333', 
                loadSpeed: 200, 
                opacity: 0.9
            },
            closeOnClick: false,
            closeOnEsc: false,
            onLoad: function(event) { 
                      $(".scrollable").hide(); 
                      $("object#FlashID").hide();
                      $("div#decoy").show();
                    },
            onClose: function(event) { 
                       $(".scrollable").show(); 
                       $("div#decoy").hide();
                       $("object#FlashID").show();
                     },
            effect: 'apple'
        }).load(); 
   $("ul.subnav li").mouseout(function(eventObj) { $("ul.subnav li.current a").css("color", "#750998"); });
  $("ul.subnav li").mouseover(function(eventObj) { 
    if ($(this).attr("class") != "current") {
      $("li.current a").css("color", "#ffffff");
    }
  });
  $("ul#messages li").fadeOut(5000);
  $(function() { $(".subnav").lavaLamp({ fx: "backout", speed: 600 })}); 
  
  
  
});

$(document).ready(function() {
	var margin_left = ( screen.width - 976)/2;
	if(margin_left>0) 
		$('body div:first').css('margin-left',margin_left);
	
	
    $("#help_id").click(function(){
  	  var redirect = true;
  	  $.ajax({
  			  type:"GET",
  			  async: false,
  			  url: "/account/login/RedirectToForm",
  			  success: function(data){
  				  if(data=="noAuth"){
  					  
  				  }else{
  					$('#virtual_form').find('input:eq(1)').attr('value',data);
  						 redirect = false;
  				  	   }
  				  
  			      }
  			 });
  	  		 if(redirect) {
  	  			window.location.replace("http://support.netconference.com/"); 
         		 }else{
         			var form = $('#virtual_form');
 					 form.submit();
         		 }

  	  
        });
    $("#help_id").mouseover(function(){
  	  $(this).attr("style","cursor: pointer");
    });
});

</script>
{% endblock extrafooterscript %}
