<html>
<head>

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript"	src="{{ MEDIA_URL }}js/jquery.form_new.js"></script>
<script type="text/javascript"	src="{{ MEDIA_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript">
$(function(){
	
	$('#addCatButton').click(function(){
		$.ajax({
			  url: "/vmail/categoryManager?action=add&catname="+$('#catName').attr('value'),
				dataType:"html",
				type:'GET',
				success: function(result){
					$('#catList').append(result);
					$('#catName').attr('value','');
			  }
			});
		
	});
	$('#catList').find('img').live('click',function(){
		if(!confirm('Are you sure? If you accept, it will delete all theme in this category!! ')){
			return false;
		}
		var id = $(this).parent().find('input').attr('value');
		$.ajax({
			  url: "/vmail/categoryManager?action=delete&catid="+id,
				dataType:"html",
				type:'GET',
				success: function(result){
					$('#catList').find('input').each(function(){
						if($(this).attr('value') == result)
							$(this).parent().parent().remove();
					});
			  }
			});
	});
	
	
	$('#ApplyCat').click(function(){
		var id = $('#categoryMainId').val();
		$('#listUp').find('select').val(String(id));
		
	});
	$('#addButton').click(function(){
		var html = $('#ajaxForm').clone();
		html.find('img').click(function(){
			$(this).parent().remove();
		});
		html.ajaxForm({
			beforeSubmit: function(){
				$.blockUI({message:'<h3><img width="150px" src="{{ MEDIA_URL }}img/loading01.gif"/><br>Uploading file ...</h3>',css: { top: '10%' } });
			},
			success:function(result){
			console.log(result);
				var uuid = result.split(',',2)[1];
				$.ajax({
					url:'/vmail/uploadtheme',
					dataType:'html',
					async:false,
					type:'POST',
					data:'uuid='+uuid+'&cat='+$('#categoryMainId').val(),
					success:function(result1){
						$.unblockUI();
						console.log(result1);
					}				
				
				});
				$('#listUp').find('form:first').remove();
				UploadFormFirst();
			}
		});
		$('#listUp').append(html);
	});
	
	$('#UploadAll').click(UploadFormFirst);
	
});

UploadFormFirst = function(){
	if($('#listUp').find('form').length>0){
		var firstForm = $('#listUp').find('form:first');
		if(firstForm.find('input:first').attr('value')=='')
		{
			firstForm.remove();
			UploadFormFirst();
			}
		else{
			firstForm.submit();
		}
	}
};

</script>

</head>
<body>
<div style="display:none;">
<form id="ajaxForm" method="POST" enctype="multipart/form-data" action="http://encode1.media.netconf.nxtgencdn.com/uploader_amazons3/upload-amazons3-v2.php">

<input type="hidden" name="uid" value="{{ user.id }}" />
<input type="hidden" name="cid" value="{{ bucket }}" />
<input type="hidden" name="username" value="{{ user.username }}" />
<input type="hidden" name="visibility" value="U" />

<label>File:<input type="file" name="files[]" id="file_upload"> 
</label>  
<img width="20px" src="{{ MEDIA_URL }}img/Close.png"> 
</form>

</div>

<fieldset>
<legend> Upload a file</legend>
<label> Category Theme:<select id="categoryMainId" name="categoryMainId">
{% for i in list %}
  <option value="{{ i.id }}">{{ i.name  }}</option>
  {% endfor %}
</select>
 <input id="ApplyCat" type="button" value="Apply Category to All" > 
<input id="addButton" type="button" value="Add" > </label>

<input id="UploadAll" type="button" value="Upload All" > 
</fieldset>

<div style="width:100%;clear:both">
<div style="width:600px;float:left">

<fieldset id="listUp">
<legend> List File Upload</legend>

</fieldset>
</div>
<div>
<fieldset>
<legend> Category</legend>
<label><input type="text" id="catName" name="catName"> <input id="addCatButton" type="button" value="Add" > </label>
<br>
<div id="catList">
{% for i in list %}
<div style="width:100%;clear:both">
<label> <img width="20px" src="{{ MEDIA_URL }}img/Close.png"> <input type="hidden" value="{{ i.id }}"> {{ i.name  }}</label>
  </div>
  {% endfor %}
</div>


</fieldset>
</div>
</div>






</body>
</html>