{% extends "newer_base.html" %}
{% load i18n %}

{% block head_title %}{{ object.subject }}{% endblock %} - {% if SITE_NAME %}{{ SITE_NAME }}{% endif %}
  {% block extra_scripts %}
   <meta name="description" content="{{ description }}" />
 <link rel="image_src"  href="{{ vmail_thumbnail }}"/>

  
{% endblock %}
 {% block content %}

  <link rel="stylesheet" href="{{ MEDIA_URL }}vmail/themes/netconference/css/style.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="{{ MEDIA_URL }}vmail/themes/netconference/css/common.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="{{ MEDIA_URL }}vmail/themes/netconference/font/fontload.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}vmail/js/jquery.js"></script>
<script type="text/javascript"	src="{{ MEDIA_URL }}vmail/js/jquery.corner.js"></script>
<script type="text/javascript"	src="{{ MEDIA_URL }}vmail/js/jquery.animate-shadow.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}vmail/js/swfobject.js"></script>
<script src="{{ MEDIA_URL }}vmail/js/jquery.tools.min.js" type="text/javascript"></script>  
<script type="text/javascript" src="{{ MEDIA_URL }}longtail/jwplayer.js"></script>
<script type="text/javascript">
function replyVmail(){
	window.location.href = '/vmail/wizardCompose';
};
applyCssAtrr = function(y){
	alert(y);
};
function hexToR(h) {return parseInt((h).substring(0,2),16)};
function hexToG(h) {return parseInt((h).substring(2,4),16)};
function hexToB(h) {return parseInt((h).substring(4,6),16)};
cssProperty = function(idParent,idOpac,idtext,color, opac, width, height){
	var arr = new Array();
	arr[0] = hexToR(color);
	arr[1] = hexToG(color);
	arr[2] = hexToB(color);
	
	if ($.browser.msie ) {
		$('#'+idParent).css({'width':width,'height': height});
		$('#'+idOpac).css({"background-color":"#"+color,"height":$('#'+idParent).height(),"width":$('#'+idParent).width(),"filter": "progid:DXImageTransform.Microsoft.Alpha(opacity=" + opac + ")"});
		$('#'+idtext).css({"position":"absolute","z-index":"1","top": 0,"left":0,"filter": "progid:DXImageTransform.Microsoft.Alpha(opacity=" + 100 + ")"});
	}else{
		$('#'+idParent).css({'width':width,'height': height, 'background':'rgba('+arr[0]+','+arr[1]+','+arr[2]+','+opac/100+')'});	
	}
};
</script>

<script type="text/javascript">
$(document).ready(function(){
	var margin_left = ( screen.width - 976)/2;
	if(margin_left>0) 
		$('body div:first').css('margin-left',margin_left);

	
	
	$('#parentMessageId').corner('round 10px');
	
	$('.wizardbgmain').animate({boxShadow: '0 0 30px #E0DEDE'});
	$('.wizardbgmain').corner('round 5px');
	
	/* swfobject.embedSWF("{{ MEDIA_URL }}swf/VmailPlayer.swf",
			"viewVideoContainer", "448", "335", "9.0.0",
			"{{ MEDIA_URL }}swf/expressInstall.swf", 
			{stream_id:"{{ prefix }}{% if avatar %}&user_img={{ avatar }}{% endif %}"}, 
			{menu:"true",wmode:"transparent"},
			{id:"viewVmailPlayer",name:"viewVmailPlayer"});  */
			
		/* 	swfobject.embedSWF("{{ MEDIA_URL }}swf/VmailPlayer.swf",
			"viewVideoContainer", "448", "335", "9.0.0",
			"{{ MEDIA_URL }}swf/expressInstall.swf", 
			{stream_id:"rtmp://{% if object.isRecord %}{{ VMAIL_RECORDING_STREAM }}{{ object.StreamRecordId }}{% else %}{{ VMAIL_FILE_STREAM }}mp4/{{ object.StreamRecordId }}_500.mp4{% endif %}{% if avatar %}&user_img={{ avatar }}{% endif %}"}, 
			{menu:"true",wmode:"transparent"},
			{id:"viewVmailPlayer",name:"viewVmailPlayer"}); */
			/* swfobject.embedSWF("{{ MEDIA_URL }}swf/VmailPlayer.swf",
			"viewVideoContainer", "448", "335", "9.0.0",
			"{{ MEDIA_URL }}swf/expressInstall.swf", 
			{stream_id:"rtmp://{{ VMAIL_RECORDING_STREAM }}{{ object.StreamRecordId }}{% if avatar %}&user_img={{ avatar }}{% endif %}"}, 
			{menu:"true",wmode:"transparent"},
			{id:"viewVmailPlayer",name:"viewVmailPlayer"}); */ 
			
	 {% if object.isRecord %}
			jwplayer('viewVideoContainer').setup({
			    
			    {% if avatar %}
			    'image':'{{ avatar }}',
			    'file':'flv/recording/{{ object.StreamRecordId }}.mp3',
			    {% else %}
			    'file':'flv/recording/{{ object.StreamRecordId }}.mp4',
			    {% endif %}
			    'abouttext':'Netconference',
			    'aboutlink':'{{ linksite }}',
			    modes: [{
		            type: "flash",
		            src: "{{ MEDIA_URL }}swf/longtail_player.swf"
		        },{
		            type: "html5",
		            config: {
		            	 {% if avatar %}
		            	 file: "http://{{ CLOUDFRONT_DOWNLOAD }}/flv/recording/{{ object.StreamRecordId }}.aac",
		            	 {% else %}
		                file: "http://{{ CLOUDFRONT_DOWNLOAD }}/flv/recording/{{ object.StreamRecordId }}.mp4",
		                {% endif %}
		                provider: "video"
		            }
		        }],
		        'provider':'rtmp',
			    'streamer': 'rtmp://{{ CLOUDFRONT_STREAM }}',
			    'controlbar': 'bottom',
			    'width': '448',
			    'height': '336'
			  }); 
			
	{% else %}
		jwplayer('viewVideoContainer').setup({
	    'file':'mp4/{{ object.StreamRecordId }}_500.mp4',
	    'abouttext':'Netconference',
	    'aboutlink':'{{ linksite }}',
	    modes: [{
            type: "flash",
            src: "{{ MEDIA_URL }}swf/longtail_player.swf"
        },{
            type: "html5",
            config: {
                file: "http://{{ CLOUDFRONT_DOWNLOAD }}/mp4/{{ object.StreamRecordId }}_500.mp4",
                provider: "video"
            }
        }],
        'provider':'rtmp',
	    'streamer': 'rtmp://{{ CLOUDFRONT_STREAM }}',
	    'controlbar': 'bottom',
	    'width': '448',
	    'height': '336'
	  }); 
	{% endif %}
			 
			


	var main = $('.wizardbgmain').position();
	var top = main.top+10;
	var left = main.left + parseInt($('#vmail_container').css('margin-left'))+10;
	var topIE = 0;
	var leftIE = parseInt($('#vmail_container').css('margin-left'))+5;
	
	
	/* var mPos_top = {{ mPos_top }} + top;
	var mPos_left = {{ mPos_left}} +left;
	var vPos_top = {{ vPos_top }} + top+30;
	var vPos_left = {{ vPos_left}} +left; */
	
	if ( !$.browser.msie ) {
		
	var mPos_top = {{ mPos_top }} + top;
	var mPos_left = {{ mPos_left}} +left;
	var vPos_top = {{ vPos_top }} + top+30;
	var vPos_left = {{ vPos_left}} +left;
	
	}else{
		var mPos_top = {{ mPos_top }} +topIE+5;
		var mPos_left = {{ mPos_left}}+leftIE ;
		var vPos_top = {{ vPos_top }} +topIE+42;
		var vPos_left = {{ vPos_left}}+leftIE;
	}
	
	
	$('#parentMessageId').css({ "position": "absolute", "top": mPos_top, "left": mPos_left});
	
	
	$('#viewVideoVmailId').css({ "position": "absolute", "top": vPos_top, "left": vPos_left});
	
	cssProperty('parentMessageId','viewOpacity','textMessageId','{{ object.mColor }}','{{ object.mOpacity }}','{{ mSize_weight }}','{{ mSize_height }}');
	
	
	if ( $.browser.msie ) {
		  $('.iebackground').show();
		  $('.iebackground').css({"width":"945px","background":"#E8E3E3","filter":"progid:DXImageTransform.Microsoft.Blur(pixelradius=10)"});
		  $('.wizardbgmain').css({"padding":"5px","position":"relative","top":"10px","right":"-10px","background":"white","margin":"3px"});
	} 

	
});
</script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher:'021f2839-161a-4c0d-bc87-31aea906bf1f'});</script>
<div class="iebackground" style="margin-top:25px;">

<div  class="wizardbgmain" style="height: 780px;">


<!-- <div style="background: #e3e3e3;margin-top:10px;padding-left:10px;height: 30px;font-weight: bold;margin-bottom:10px;">Preview</div> -->
<div id="vmail_container" style="padding: 0px; margin: 0px; width: 900px; height: 600px;margin-left: 20px;margin-right: 20px;">
	<img  src="{% if urlBackground %}{{ urlBackground }}{% else %}/site_media/vmail/themes/netconference/images/background_default.png{% endif %}" style="width:900px;height:600px;position:absolute;"/>
						<div id="parentMessageId" class="messageVmailBox" >
						<div id="viewOpacity"></div>
						<div id="textMessageId" class="content_message" style="padding:10px;margin-left:0">
							{% autoescape off %}{{ object.message }} {% endautoescape %}
							</div>
						</div>
	
						<div id="viewVideoVmailId"
							style="{% if object.isNoVideo %}visibility:hidden;{% endif %}height: 380px; width: 450px; ">
							<div id="viewVideoContainer"></div>
							
						</div>

</div>
<div style="padding-top: 10px;">
<div style="float:left;padding:20px;">
<span  class='st_email_large' ></span><span  class='st_facebook_large' ></span><span  class='st_twitter_large' ></span><span  class='st_linkedin_large' ></span>
</div>
<table style="float:right;">
<tr>
<td><a style="text-decoration: none;" href="mailto:{{ email }}?subject=Re: {{ object.subject}}"><input type="button" value="Reply Email" class="wizard button" ></a></td>
<td><form method="POST" action="/vmail/reply/{{ urlhash }}">
<input type="submit" value="Reply V-Mail&#0153;" class="wizard button" onclick="submit();"></form> </td>
</tr>
<tr>
<td>
<form method="POST" action="/vmail/forward/{{ urlhash }}">
<input type="button" value="Forward" class="wizard button" onclick="submit();">
</form>
</td>
<td><form method="GET" action="/vmail/wizardCompose">

<input type="button" value="Create your V-Mail&#0153;" class="wizard button" onclick="submit();">
</form></td>
</tr>
</table>


</div>
</div>
</div>
<!-- <div style="width:400px;height:300px" id="longtest">

</div> -->

 {% endblock content %}
 


{% block extrafooterscript %}


<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script> -->
<script type="text/javascript">
$(document).ready(function(){
            $(".video_trigger").overlay({
            expose: { 
                color: '#333', 
                loadSpeed: 200, 
                opacity: 0.9
            },
            closeOnClick: false,
            closeOnEsc: false,
            onLoad: function(event) { 
                      $(".scrollable").hide(); 
                      $("object#FlashID").hide();
                      $("div#decoy").show();
                    },
            onClose: function(event) { 
                       $(".scrollable").show(); 
                       $("div#decoy").hide();
                       $("object#FlashID").show();
                     },
            effect: 'apple'
        }).load(); 
   $("ul.subnav li").mouseout(function(eventObj) { $("ul.subnav li.current a").css("color", "#750998"); });
  $("ul.subnav li").mouseover(function(eventObj) { 
    if ($(this).attr("class") != "current") {
      $("li.current a").css("color", "#ffffff");
    }
  });
  $("ul#messages li").fadeOut(5000);
  $(function() { $(".subnav").lavaLamp({ fx: "backout", speed: 600 })}); 
  
  
  
});

$(document).ready(function() {
  
    $("#help_id").click(function(){
  	  var redirect = true;
  	  $.ajax({
  			  type:"GET",
  			  async: false,
  			  url: "/account/login/RedirectToForm",
  			  success: function(data){
  				  if(data=="noAuth"){
  					  
  				  }else{
  					$('#virtual_form').find('input:eq(1)').attr('value',data);
  						 redirect = false;
  				  	   }
  				  
  			      }
  			 });
  	  		 if(redirect) {
  	  			window.location.replace("http://support.netconference.com/"); 
         		 }else{
         			var form = $('#virtual_form');
 					 form.submit();
         		 }

  	  
        });
    $("#help_id").mouseover(function(){
  	  $(this).attr("style","cursor: pointer");
    });
});

</script>
{% endblock extrafooterscript %}

<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
{% if INCLUDE_ANALYTICS %}
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-229347-17']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
{% endif %}


</body>
</html>















