{% extends 'site_base.html' %}

{% block head_title %} Add Card{% endblock %} 
{% block extra_head %}
    <style type="text/css">
    input[type=text] { width: 250px; height: 20px; }
    select { width: 250px; height: 20px; }
    </style>
{% endblock %}

{% block body %}
    <h1 class="uni_form_header">Add Card</h1>
    <form method="post" action="{{ request.path }}" class="uniForm">
        <fieldset>
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" class="button" value="Submit" />
        </fieldset>
    </form>
    
    {% if request.user.is_superuser %}    
    <div class="prefix-5">
    <br /><br />
    Original Post Data: {{ post_data }}
    <br /><br />
    Data as JSON: {{ json_data }}
    <br /><br />
    Encrypted JSON: {{ encrypted_json }}
    <br /><br />
    Decrypted JSON: {{ decrypted_json }}
    <br /><br />
    Decrypted Python Dictionary: {{ decrypted_data }}
    <br /><br />
    {% endif %}
    
</div>
{% endblock %}