{% extends "messages/base.html" %}

{% load i18n %}

{% block extra_head_base %}
<style type="text/css">
  .subnav { margin: 0px; }
</style>
{% endblock %}

{% block subnav %}
    <ul class="subnav">
        {# <li><a href="{% url messages_compose %} ">{% trans "Compose" %}</a></li> #}
        {#         <li><a href="{% url messages_inbox %} ">{% trans "Inbox" %} ({{ messages_inbox_count }})</a></li> #}
        {#         <li><a href="{% url messages_outbox %} ">{% trans "Sent" %}</a></li> #}
        {#         <li><a href="{% url messages_trash %}">{% trans "Trash" %}</a></li> #}
        <li><a href="{% url profile_detail user.username %}">{% trans "Your Profile" %}</a></li>
        <li><a href="{% url acct_settings %}">{% trans "Account Settings" %}</a></li>
        <!--<li><a href="{% url profile_list %}">{% trans "All Profiles" %}</a></li>-->
        <li class="current"><a href="{% url notification_notices %}">{% trans "Notification Settings" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {# <li><a href="{% url invitations %}">{% trans "Invitations" %}{% if invitations_count %} ({{ invitations_count }}){% endif %}</a></li> #}
        {# <li><a href="{% url invitations_contacts %}">{% trans "Contacts" %}</a></li> #}
    </ul>
{% endblock %}
