{% extends "notification/base.html" %}

{% load humanize i18n %}
{% load pagination_tags %}
{% load timezone_filters %}

{% block head_title %}{% trans "Notices" %}{% endblock %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Notices Feed" href="{% url notification_feed_for_user %}" />
    <style type="text/css">
    .list_pagination { font-size: 14px; float: left; margin: 0px auto 0px 35%; color: #555; }
    .list_pagination a:link, .list_pagination a:visited { font-weight: bold; color: #514aa4; }
    .list_pagination a:focus, .list_pagination a:hover, .list_pagination a:active { color: #111; }
    .pagination .current { color: #555; }
    </style>
{% endblock %}

{% block body %}

    {% if notices %}
        <a href="{% url notification_mark_all_seen %}" class="buttonGreen" style="color:white;text-decoration:none;float:right;text-align:center;line-height:50px;">{% trans "Mark all as read" %}</a>
    {% endif %}
    
    <h1 style="margin-left:39px;">{% trans "Notices" %}</h1>

    {% autopaginate notices %}
    
    {% if notices %}
        <hr style="visibility:hidden;" />
        
        {# TODO: get timezone support working with regroup #}
        {% regroup notices by added.date as notices_by_date %}
        
        {% for date in notices_by_date %}
            <h1 class="items_list_top">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h1>
            
            {% for notice in date.list %}
                {% if notice.is_unseen %}
                <div class="notices_list_hilite {% cycle 'row1' 'row2' %}">
                {% else %}
                <div class="notices_list_row {% cycle 'row1' 'row2' %}">
                {% endif %}
                    <span class="notice_type">[{% trans notice.notice_type.display %}]</span>
                    <span class="notice_message">{{ notice.message|safe }}</span>
                    <span class="notice_time">{{ notice.added|localtime:account.timezone|time:"P" }}</span>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="notices_list_def">
        {% paginate %}
        </div>
    {% else %}
        <p style="margin-left:39px;">{% trans "No notices." %}</p>
    {% endif %}
    
    <hr style="visibility:hidden;margin:10px 0;">

    <h1 class="items_list_top">{% trans "Email" %}</h1>
    
    {% url acct_email as email_url %}
    {% if user.email %}
        <div class="notices_list_row" style="border-bottom: 1px solid #c7c7c7;">
            <span style="width:20%;">{% trans "Primary email" %}:</span>
            <span style="width:50%;"><b>{{ user.email }}</b></span>
            <span style="width:30%;">({% blocktrans %}change under <a href="{{ email_url }}">Account</a>{% endblocktrans %})</span>
        </div>
    {% else %}
        <p>
            <span class="notices_list_hilite" style="border-bottom: 1px solid #c7c7c7;">{% trans "Note" %}:
            {% blocktrans %}You do not have a verified email address to which notices can be sent. You can add one by going to <a href="{{ email_url }}">Account</a>.{% endblocktrans %}</span>
        </p>
    {% endif %}
    
    <hr style="visibility:hidden;margin:10px 0;">
    
    <h1 class="items_list_top">{% trans "Settings" %}</h1>
    
    <form method="POST" action=""> {# doubt this easy to do in uni-form #}
        <table class="items_list" width="870" cellspacing="0" style="border-bottom:1px solid #c7c7c7;">
            <tr class="items_list_def">
                {% for header in notice_settings.column_headers %}
                <td style="padding:0px;"><input type="checkbox" name="selectCB" onchange="selectAll();"  style="float:left;"/><p style="float:left;">{{ header }}</p></td>
                {% endfor %}
                <td style="width:85%;float:left;padding:0px;"><p>{% trans "Notification Type" %}</p></td>
            </tr>
            {% for row in notice_settings.rows %}
            <tr class="notices_list_row {% cycle 'row1' 'row2' %}">
                {% for cell in row.cells %}
                <td>
                    <input type="checkbox" class="notices_checkbox" name="{{ cell.0 }}" {% if cell.1 %}checked="yes"{% endif %}/>
                </td>
                {% endfor %}
                <td>{% trans row.notice_type.display %}<br/>
                    <span class="notice_type_description">{% trans row.notice_type.description %}</span>
                </td>
            </tr>
            {% endfor %}
            <tr class="notices_list_row row2">
                <td></td>
            </tr>
        </table>
      <p><input type="submit" class="buttonGreen" value="{% trans "Save changes" %}" style="float:left;margin: 10px 0px;"/></p>
    </form>

{% endblock %}

{% block extra_jquery %}
    $("table.items_list tr").slice(13,-2).hide();
{% endblock %}


{% block extrafooterscript %}
<script type="text/javascript">
  function selectAll() {
    if ($("input[name=selectCB]").attr("checked") === true) {
      $(".notices_checkbox").attr("checked", true);
    } else {
      $(".notices_checkbox").removeAttr("checked");
    }
  }
  $(document).ready(function() { 
    $(".notices_checkbox").change(function() {
      if ($(this).attr("checked") === false && $("input[name=selectCB]").attr("checked") === true) {
        $("input[name=selectCB]").attr("checked", false);
      }
    });
  });
</script>
{% endblock %}

