{% extends "messages/base.html" %}

{% load i18n %}
{% load humanize %}
{% load timezone_filters %}

{% block head_title %}{% trans "Notice" %}{% endblock %}

{% block subnav %}
    <ul class="subnav">
        {# <li><a href="{% url messages_compose %} ">{% trans "Compose" %}</a></li> #}
        {#         <li><a href="{% url messages_inbox %} ">{% trans "Inbox" %} ({{ messages_inbox_count }})</a></li> #}
        {#         <li><a href="{% url messages_outbox %} ">{% trans "Sent" %}</a></li> #}
        {#         <li><a href="{% url messages_trash %}">{% trans "Trash" %}</a></li> #}
        <li><a href="{% url profile_detail user.username %}">{% trans "Your Profile" %}</a></li>
        <li><a href="{% url profile_list %} ">{% trans "All Profiles" %}</a></li>
        <li class="current"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        <li><a href="{% url invitations %}">{% trans "Invitations" %}{% if invitations_count %} ({{ invitations_count }}){% endif %}</a></li>
        {# <li><a href="{% url invitations_contacts %}">{% trans "Contacts" %}</a></li> #}
    </ul>
{% endblock %}

{% block body %}
    <h1>{% trans "Notice" %}</h1>
    
    {% if notice.is_unseen %}
        <div class="unseen_notice">
    {% else %}
        <div class="notice">
    {% endif %}
        <span class="notice_type">[{% trans notice.notice_type.display %}]</span>
        <span class="notice_message">{{ notice.message|safe }}</span>
        <span class="notice_time">{{ notice.added|localtime:account.timezone|time:"P" }}</span>
    </div>
    
{% endblock %}