{% extends "conferencing/_conferencing_list.html" %}
{% load file_tags %}
{% load sort_tags %}
{% load timezone_filters %}
{% load i18n %}

{% block conference_header_row %}
<td class="files_title">{% trans "Title" %}</td>
<td class="files_length">{% sort_link "Duration" "duration" %}</td>
<td class="files_date">{% sort_link "Date" "created" %}</td>
<td class="files_download" style="text-align:right">
    <a href="{% url recorded_conf %}">
        <span class="settings" style="padding-right:10px;">{% trans "See All" %} 
            <img src="{{ MEDIA_URL }}new/images/settings_icon.png" width="16" height="16" alt="Settings" />
        </span>
    </a>
</td>
{% endblock %}

{% block conference_table %}
<tr class="{% cycle 'dark' 'light' %}">
    <td class="files_title">
        <p class="text">
        <a href="{{ conference.get_absolute_url }}">{{ conference.title }}</a>
        </p>
    </td>
    <td class="files_length">
        <p>
        {{ conference.duration|vidtime }}
        </p>
    </td>
    <td class="files_date">
        <p>
        {% if user.is_authenticated %}
        {{ conference.start|localtime:account.timezone|date:"m/j/y" }}
        {% else %}
        {{ conference.start|localtime:timezone|date:"m/j/y" }}
        {% endif %}
        </p>
    </td>
    <td class="files_empty_field">
        <p class="buttonGreenSmall" style="float:right;">
        <a href="{{ conference.get_absolute_url }}" style="color:white;">
	  {% trans "View" %}
	</a>
        </p>
    </td>
</tr>
{% endblock %}
