{% load timezone_filters %}
{% load i18n %}
{% load sort_tags %}

<table id="files_list" class="data " border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout:inherit;word-break:break-word;white-space:normal;width:100%;">
    <tr class="schedule_list_head">
        {% block conference_header_row %}
        <td class="schedule_event_title">{% sort_link_new "Title" "title" sort_by %}</td>
        <td class="schedule_event_join"></td>
        <td class="schedule_event_date">{% sort_link_new "Date & Time" "start"  sort_by %}</td>
        <td class="schedule_event_privacy">{% sort_link_new "Privacy" "private"  sort_by %}</td>
        
        <td class="schedule_event_host">{% trans "Host" %}</td>
        <td class="schedule_event_invite">{% trans "Invites" %}</td>
        <td class="schedule_event_createon">{% trans "Create On" %}</td>
        <td class="schedule_event_setting">
                    <img src="{{ MEDIA_URL }}schedule/images/icon_setting.png" style="cursor:pointer" alt="Settings" />
                    <div class="schedule_setting_form">
                    <div class="settings_header"> 
                    View Columns         
                    </div>
                    <ul id="setting_columns" class="schedule_filter" style="width:97%;margin-bottom:0">
                    <li>
                    <p><input type="checkbox" name="columns" id="column1" value="title" checked="checked" />
        <label  class="schedule_type_checked" for="column1">{% trans "Title" %}</label><br/></p>
                    </li>
                    <li>
                    <p><input type="checkbox" name="columns" id="column2" value="date_time" checked="checked" />
        <label  class="schedule_type_checked" for="column2">{% trans "Date & Time" %}</label><br/></p>
                    </li>
                   
                    <li>
                    <p><input type="checkbox" name="columns" id="column3" value="host" checked="checked" />
        <label  class="schedule_type_checked" for="column3">{% trans "Host" %}</label><br/></p>
                    </li>
                    <li>
                    <p><input type="checkbox" name="columns" id="column4" value="invites" checked="checked" />
        <label  class="schedule_type_checked" for="column4">{% trans "Invites" %}</label><br/></p>
                    </li>
                     <li>
                    <p><input type="checkbox" name="columns" id="column5" value="created_on" checked="checked" />
        <label  class="schedule_type_checked" for="column5">{% trans "Created On" %}</label><br/></p>
                    </li>
                     <li>
                    <p><input type="checkbox" name="columns" id="column6" value="privacy" checked="checked" />
        <label  class="schedule_type_checked" for="column6">{% trans "Privacy" %}</label><br/></p>
                    </li>
                    </ul>
                    </div>
        </td>
        {% endblock %}
    {% if not object_list %}
    <tr class="{% cycle 'dark' 'light' %}">
      <td colspan="8"><h3 style="color:red;">{% if query_string %}{% trans "No conferences found for this query" %}{% else %}{% trans "No conferences found" %}{% endif %}</h3></td>
    </tr>
    {% endif %}
    {% for conference in object_list %}
    {% block conference_table %}
    <tr class="{% cycle 'dark' 'light' %}">
        <td class="schedule_event_title">
            <p class="text">
            <a href="{{ conference.get_absolute_url }}">{{ conference.title }}</a>
            
           <!--  {% if allow_join %}
            <a href="javascript:void(0);" onclick="javascript:window.open('{{ conference.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;"style="float: left; padding-left: 10px;"><input type="submit" class="buttonGreenSmall" value="{% trans "Join" %}" /></a>
        {% else %}
	      <a class="buttonGreenSmall" href="{% url subscription_list %}" style="color:white;line-height:25px;text-align:center;">{% trans "Upgrade" %}</a>
        {% endif %}  -->
            
            </p>
        </td>
         <td class="schedule_event_join">
            <a href="javascript:void(0);" onclick="javascript:window.open('{{ conference.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;" style="float: left; padding-left: 10px;"><input type="submit" class="schedule_btn_60x24" value="{% trans "Join" %}" /></a>
        </td>
        <td class="schedule_event_date">
            <p>
	    {% ifequal conference.type 'G' %}
	    {% trans "Now" %}
	    {% else %}
            {% if user.is_authenticated %}
            {{ conference.start|localtime:account.timezone|date:"m/j/y h:i A" }}
            {% else %}
            {{ conference.start|localtime:timezone|date:"m/j/y h:i A" }}
            {% endif %}
	    {% endifequal %}
            </p>
        </td>
        <td class="schedule_event_privacy">
            <img src="{{ MEDIA_URL }}schedule/images/icon_{% if conference.private %}private{% else %}public{% endif %}.png" />
        </td>
        
        <td class="schedule_event_host">
            <p>
            <!-- <a href="{{ conference.get_absolute_url }}"><img style=" padding-left: 10px;" src="/site_media/new/images/share_icon_dashboard.gif"></a>  -->
            <a  style="text-decoration: underline;" href="{% url profile_detail  conference.creator.username %}">{{  conference.creator.username }}</a>
            </p>
        </td>
        <td class="schedule_event_invite">
            <p>
            {% ifequal conference.creator request.user  %} 
            <!-- <a href="{{ conference.get_invite_url }}">{% trans "Invite" %}</a> --> 
             <a >{{ conference.get_invites_count }}</a> 
            {% endifequal %}
            </p>
        </td>
        <td class="schedule_event_createon">
            <p>
            <!-- <a href="{{ conference.get_absolute_url }}"><img style=" padding-left: 10px;" src="/site_media/new/images/share_icon_dashboard.gif"></a>  -->
            {% if user.is_authenticated %}
            {{ conference.created_on|localtime:account.timezone|date:"m/j/y h:i A" }}
            {% else %}
            {{ conference.created_on|localtime:timezone|date:"m/j/y h:i A" }}
            {% endif %}
            </p>
        </td>
        <td></td>
    </tr>
    {% endblock %}
    {% endfor %}
</table>
