{% extends "conferencing/_fitler_conferences.html" %}
{% load i18n %}

{% block type %}
<tr><td><h1 class="sub_title">{% trans "Type" %}</h1></td></tr>
<tr>
    <td style="padding-top:10px;padding-bottom:10px;">
        <p><input type="radio" name="type" id="radio1" value="all" {% ifequal type "all" %}checked="checked"{% endifequal %} /><label for="radio1">{% trans "All" %}</label><br/></p>
        <p><input type="radio" name="type" id="radio1" value="U" {% ifequal type "U" %}checked="checked"{% endifequal %} /><label for="radio1">{% trans "Public" %}</label><br/></p>
        <p><input type="radio" name="type" id="radio1" value="O" {% ifequal type "O" %}checked="checked"{% endifequal %} /><label for="radio1">{% trans "Protected" %}</label><br/></p>
        <p><input type="radio" name="type" id="radio1" value="R" {% ifequal type "R" %}checked="checked"{% endifequal %} /><label for="radio1">{% trans "Private" %}</label><br/></p>
    </td>
</tr>
{% endblock %}
