{% extends "_filter_sidebar.html" %}
{% load i18n %}

{% block type %}
<tr><td><h1 class="sub_title">{% trans "Type" %}</h1></td></tr>
<tr>
    <td style="padding-top:10px;padding-bottom:10px;">
        <p><input type="radio" name="type" id="radio1" value="all" {% ifequal type "all" %}checked="checked"{% endifequal %} /><label for="radio1">{% trans "All" %}</label><br/></p>
        <p><input type="radio" name="type" id="radio2" value="private" {% ifequal type "private" %}checked="checked"{% endifequal %}/><label for="radio2">{% trans "Private" %}</label></p>
        <p><input type="radio" name="type" id="radio3" value="public" {% ifequal type "public" %}checked="checked"{% endifequal %}/><label for="radio3">{% trans "Public" %}</label></p>
    </td>
</tr>
{% endblock %}

        {% block date %}
        <tr>
            <th colspan="1" style="text-align:left">
                <h1 class="sub_title">
                    {% block date_title %}{% trans "Start Date" %}{% endblock %}
                </h1>
            </th>
        </tr>
        <tr>
            <td style="padding-top:10px;padding-bottom:10px;">
                <p><input type="radio" name="start" id="radio5" value="all" {% ifequal start "all" %}checked="checked"{% endifequal %} /><label for="radio5">{% trans "All" %}</label></p>
                <p><input type="radio" name="start" id="radio6" value="today" {% ifequal start "today" %}checked="checked"{% endifequal %} /><label for="radio6">{% trans "Today" %}</label></p>
                <p><input type="radio" name="start" id="radio7" value="week" {% ifequal start "week" %}checked="checked"{% endifequal %} /><label for="radio7">{% trans "This Week" %}</label></p>
                <p><input type="radio" name="start" id="radio8" value="month" {% ifequal start "month" %}checked="checked"{% endifequal %} /><label for="radio8">{% trans "This Month" %}</label></p>
            </td>
        </tr>
        {% endblock %}
