{% extends "new_base.html" %}
{% load i18n %}

{% block head_title %}
{{ page_title }}
{% endblock %}

{% block submenu %}
{% url my_conferences as url_my_conferences %}
{% url conferencing_add as  url_conferencing_add %}
{% url recorded_conf as url_recorded_conf %}
<div id="submenu_container">
  <ul class="subnav">
    {% if user.is_authenticated %}
	<li {% ifequal url_my_conferences request.path %} class="current" {% endifequal %}><a href="{{ url_my_conferences }}">{% trans "My Conferences" %}</a></li>
	<li{% ifequal url_conferencing_add request.path %} class="current" {% endifequal %}><a href="{{ url_conferencing_add }}">{% trans "Schedule a New Conference" %}</a></li>
	<li{% ifequal url_recorded_conf request.path %} class="current" {% endifequal %}><a href="{{ url_recorded_conf }}">{% trans "Recorded Conferences" %}</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}
  <!--CONTENT CONTAINER STARTS-->
  <div id="content_container"> 
  	<p class="files_paging">{% if page_obj.has_previous %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}type={{ type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}type={{ type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
  	<!-- LEFT FILES STARTS -->
    <div id="left_files">
        <!-- SEARCH BOX STARTS -->
	{% block search_form %}
        <div class="searchbg">
            <form action="." method="get">
                <input type="text" name="q" id="textfield" class="textfield_search" value="{% if query_string %}{{ query_string  }}{% else %}{% trans "Search Conferences" %}{% endif %}" style="height:20px; border:none; margin:5px 0px 0px 5px;color: gray;" max_length="250" />
                <input type="submit" name="button" id="button" value=" " class="submit_btn" />
            </form>
        </div>
	{% endblock %}
        <!-- SEARCH BOX ENDS -->
        
        <!-- FILTER FILES STARTS -->
        <div>
	  {% block filter_conferences %}
            {% with _("Filter Conferences") as filter_title %}
            {% include "conferencing/_fitler_conferences.html" %}
            {% endwith %}
	  {% endblock %}
        </div>
        <!-- FILTER FILES ENDS -->
 	</div>
    <!-- LEFT FILES ENDS -->
    
    <!-- RIGHT FILES STARTS -->
    <div id="right_files">
        <form action="." method="post">
            {% block table_header %}
            <table cellspacing="0" style="width:705px;">
                <tr>
                    <th colspan="8" style="text-align:left;"><h1 class="title" style="text-shadow:none;width:680px;">{{ page_title }} <em>{{ query_string }}</em></h1></th>
                </tr>
            </table>
            {% endblock %}
            {% block table %}
            {% include "conferencing/_conferencing_list.html" %}
            {% endblock %}
        </form>
  	<p class="files_paging">{% if page_obj.has_previous %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}type={{ type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}type={{ type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
    </div>
    <!-- RIGHT FILES ENDS -->
  </div>
  <!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript">
  function toggleFiles() {
    $("input[name=file-select[]]").attr("checked", $("input[name=select]").attr("checked"));
  }

  $(document).ready(function() {
    var defaultSearchQuery = $("input[name=q]").val();
    $("input[name=q]").focusin(function() { 
      if ($(this).val() == defaultSearchQuery)
        $(this).val("");
    });
    $("input[name=q]").focusout(function() {
      if (!$(this).val())
        $(this).val(defaultSearchQuery);
    });
    $("input[name='file-select[]']").change(function() { 
      if ($(this).attr("checked") === false && $("input[name=select]").attr("checked") === true) {
        $("input[name=select]").attr("checked", false);
      }
    });
  });
</script>
{% endblock %}
