{% load i18n %}
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.cookie.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.hotkeys.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.jstree.js" ></script>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}jstree/custom_jstree.js" ></script> -->
<!-- <div id="jstreeContainer" style="{% if is_filtered %}display: none;{% endif %}border:#e3e3e3 solid 1px; width:100%;min-height:300px;height:300px;overflow-y:auto;">
<div id="jstree_holder" style="height:auto;width:210px;"></div>

<div id="jstree_holder" style="height:auto;width:100%;"></div>

<div id="mmenu" style="height:30px; overflow:auto;">
<input type="button" id="add_folder" value="add folder" style="display:block; float:left;">
<input type="button" id="rename" value="rename" style="display:block; float:left;">
<input type="button" id="remove" value="remove" style="display:block; float:left;">
</div>
</div> -->
<style type="text/css">
#jstree_holder a {color:#595959; white-space:normal !important; height: auto; padding:1px 2px;word-wrap: break-word;font-size: 13px; width:85%;} 
#jstree_holder li > ins { vertical-align:top; }
#jstree_holder li { vertical-align:top;word-wrap: break-word; }
#jstree_holder .jstree-hovered, #jstree_holder .jstree-clicked { border:0; }

</style>