{% load timezone_filters %}
{% load i18n %}
{% load sort_tags %}
{% load file_tags %}
<form action="{% url delete_conferences %}" method="post" id="frm_conference">
	<table id="conferences_list" class="data " border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout:inherit;word-break:break-word;white-space:normal;width:100%;">
	    <tr class="schedule_list_head">
	        {% block conference_header_row %}
	        <td class="checkbox">
	    		<input type="checkbox" name="chk_all" id="chk_all" style="display: none;"/>
	        	<label id="lbl_chk_all" class="chk_unchecked" for="chk_all"></label>
	    	</td>
	    	<td class="flag border_left_white">{% sort_link_new "Flag" "is_flag" sort_by %}</td>
	        <td class="event_title border_left_white">{% sort_link_new "Title" "title" sort_by %}</td>
	        <td class="event_date border_left_white">{% sort_link_new "Date & Time" "start"  sort_by %}</td>
	        <td class="event_host border_left_white">{% trans "Host" %}</td>
	        <td class="event_privacy border_left_white">{% sort_link_new "Privacy" "private"  sort_by %}</td>
	        <td class="event_invite border_left_white">{% trans "Invites" %}</td>
	        <td class="event_date_created border_left_white">{% sort_link_new "Date Created" "created_on"  sort_by %}</td>
	        <td class="schedule_event_setting event_setting border_left_white">
	            <img src="{{ MEDIA_URL }}schedule/images/icon_setting.png" style="cursor:pointer; padding-left: 4px;" alt="Settings" />
	             <div class="schedule_setting">
	             	<div class="schedule_settings_header"> 
	                    View Columns         
	                </div>
	                <ul id="setting_columns" class="schedule_filter" style="width:196px; margin-bottom: 0;">
	                	<li>
	                    	<p>
	                    		<input type="checkbox" name="columns" id="column1" value="flagged" checked="checked" />
	        					<label class="schedule_type_checked" for="column1">{% trans "Flagged" %}</label>
	        				</p>
	                    </li>
	                	<li>
	                    	<p>
	                    		<input type="checkbox" name="columns" id="column2" value="title" checked="checked" />
	        					<label class="schedule_type_checked" for="column2">{% trans "Title" %}</label>
	        				</p>
	                    </li>
	                    <li>
	                    	<p>
		                    	<input type="checkbox" name="columns" id="column3" value="date_time" checked="checked" />
		        				<label class="schedule_type_checked" for="column3">{% trans "Date & Time" %}</label>
	        				</p>
	                    </li>
	                    <li>
	                    	<p>
	                    		<input type="checkbox" name="columns" id="column4" value="host" checked="checked" />
	        					<label class="schedule_type_checked" for="column4">{% trans "Host" %}</label>
	        				</p>
	                    </li>
	                    <li>
	                    	<p>
	                    		<input type="checkbox" name="columns" id="column5" value="privacy" checked="checked" />
	        					<label class="schedule_type_checked" for="column5">{% trans "Privacy" %}</label>
	        				</p>
	                    </li>
	                    <li>
	                    	<p>
	                    		<input type="checkbox" name="columns" id="column6" value="invites" checked="checked" />
	        					<label class="schedule_type_checked" for="column6">{% trans "Invites" %}</label>
	        				</p>
	                    </li>
	                     <li>
	                    	<p>
	                    		<input type="checkbox" name="columns" id="column7" value="created_on" checked="checked" />
	        					<label class="schedule_type_checked" for="column7">{% trans "Date Created" %}</label>
	        				</p>
	                    </li>
					</ul>
	        	</div>
	        </td>
	        {% endblock %}
	    {% if not object_list %}
	    <tr class="{% cycle 'dark' 'light' %}">
	      <td colspan="9"><h3 style="color:red; padding-left: 10px;">{% if query_string %}{% trans "No conferences found for this query" %}{% else %}{% trans "No conferences found" %}{% endif %}</h3></td>
	    </tr>
	    {% endif %}
	    {% for conference in object_list %}
	    {% block conference_table %}
	    <tr class="{% cycle 'dark' 'light' %} conference_row" data-title="{% eclipse_description conference.title %}">
	    	<td class="checkbox">
	    		<input type="checkbox" name="chk_confs" value="{{ conference.id }}" style="display: none;"/>
	        	<label id="lbl_chk" class="lbl_chk_confs chk_unchecked" for="chk_confs"></label>
	    	</td>
	    	<td id="{{ conference.id }}" class="flag {% if conference.is_flag %}active_flag{% else %}inactive_flag{% endif %}">
	    		<!-- <input type="hidden" value="{{ conference.id }}" /> -->
	    	</td>
	        <td class="event_title event_title_text">
	            <p style="cursor:pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;-ms-text-overflow: ellipsis;width: 140px;">
		            <a href="{{ conference.get_absolute_url }}">{{ conference.title }}</a>
		            <button onclick="javascript:window.open('{{ conference.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;" style="float: left; padding-left: 10px;" class="btn_join">{% trans "Join" %}</button>
	            </p>
	        </td>
	        <td class="event_date">
	            <p>
		    {% ifequal conference.type 'G' %}
		    {% trans "Now" %}
		    {% else %}
	            {% if user.is_authenticated %}
	            {{ conference.start|localtime:account.timezone|date:"l n/j/Y g:i A" }}
	            {% else %}
	            {{ conference.start|localtime:timezone|date:"l n/j/Y g:i A" }}
	            {% endif %}
		    {% endifequal %}
	            </p>
	        </td>
	        <td class="schedule_event_host">
	            <p>
	            <a  style="text-decoration: underline;" href="{% url profile_detail  conference.creator.username %}">{{  conference.creator.username }}</a>
	            </p>
	        </td>
	        <td class="event_privacy" style="padding-left: 10px;">
	            <img class="img_privacy" src="{{ MEDIA_URL }}schedule/images/icon_{% if conference.password_required %}protected{% else %}{% if conference.private %}private{% else %}public{% endif %}{% endif %}.png" />
	        </td>
	        
	        <td class="event_invite" style="padding-left: 5px;">
	            <p>
	             	<a>{{ conference.get_invites_count }}</a> 
	            </p>
	        </td>
	        <td class="event_date_created">
	            <p>
	            {% if user.is_authenticated %}
	            {{ conference.created_on|localtime:account.timezone|date:"n/j/Y" }}
	            {% else %}
	            {{ conference.created_on|localtime:timezone|date:"n/j/Y" }}
	            {% endif %}
	            </p>
	        </td>
	        <td></td>
	    </tr>
	    {% endblock %}
	    {% endfor %}
	</table>
	<input type="hidden" id="next" name="next" />
</form>
<script type="text/javascript" src="{{ MEDIA_URL }}files/js/jquery.timers.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}files/js/jquery.dropshadow.js"></script>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}files/js/mbTooltip.js"></script> -->
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/mbTooltip_custom.js"></script>

<script type="text/javascript">
var current_width = 140;
	$(document).ready(function(){
		$('#lbl_chk_all').click(function(){
			if($(this).hasClass('chk_unchecked')) {
				$(this).removeClass('chk_unchecked').addClass('chk_checked');
				$(this).parent().find('input:first').attr('checked','checked');
				$('.conference_row').each(function(){
					if(!$(this).hasClass('active_row'))
						select_row_toggle($(this));
				});
			}else {
				$(this).removeClass('chk_checked').addClass('chk_unchecked');
				$(this).parent().find('input:first').removeAttr('checked');
				$('.conference_row').each(function(){
					if($(this).hasClass('active_row'))
						select_row_toggle($(this));
				});
			}
		});
		$('.schedule_event_setting').click(function(){
			 $('.schedule_setting').toggle();
		});
		var title_col_pos = $('.event_title').position();
		// A ROW HOVER
		$('.conference_row').hover(
			// MOUSE OVER
			function(){
				var title_col_pos = $('.event_title').position();
				$(this).find('button.btn_join').css({'left':title_col_pos.left + 93 ,'visibility':'visible'});
				var that = $(this);
				that.addClass('purple_background');
				that.find('img.img_privacy').each(function(){
					if($(this).attr('src').indexOf('icon_protected.png')!=-1){
						$(this).attr('src','{{ MEDIA_URL }}schedule/images/white_protected.png');
					}
					else if($(this).attr('src').indexOf('icon_public.png')!=-1){
						$(this).attr('src','{{ MEDIA_URL }}schedule/images/white_public.png');
					}
					else if($(this).attr('src').indexOf('icon_private.png')!=-1){
						$(this).attr('src','{{ MEDIA_URL }}schedule/images/white_private.png');
					}
				});
			},
			// MOUSE OUT
			function(){
				
				$(this).find('button.btn_join').css({'visibility':'hidden'});
				var that = $(this);
				that.removeClass('purple_background');
				if(!that.hasClass('active_row')){
				$(this).find('img.img_privacy').each(function(){
					if($(this).attr('src').indexOf('white_protected.png')!=-1){
						$(this).attr('src','{{ MEDIA_URL }}schedule/images/icon_protected.png');
					}
					else if($(this).attr('src').indexOf('white_public.png')!=-1){
						$(this).attr('src','{{ MEDIA_URL }}schedule/images/icon_public.png');
					}
					else if($(this).attr('src').indexOf('white_private.png')!=-1){
						$(this).attr('src','{{ MEDIA_URL }}schedule/images/icon_private.png');
					}
				});
			}
		});
		// A ROW CLICKED
		$('.conference_row').click(function(){
			select_row_toggle($(this));
		});
		
		$('.schedule_filter label').click(function(){
			if($(this).hasClass('schedule_type_checked')) {
				$(this).removeClass('schedule_type_checked');
				$(this).addClass('schedule_type_uncheck');
				$(this).parent().find('input:first').attr('checked',true);
			}else if($(this).hasClass('schedule_type_uncheck')) {
				$(this).removeClass('schedule_type_uncheck');
				$(this).addClass('schedule_type_checked');
				$(this).parent().find('input:first').attr('checked',false);
			}else{
				$(this).parent().parent().find('label').removeClass('schedule_time_checked').addClass('schedule_time_uncheck');
				$(this).removeClass().addClass('schedule_time_checked');
				$(this).parent().find('input:first').attr('checked',true);
			}
			if($(this).parent().find('input:first').attr('id') == 'radio6'){
				$('.custome_range_time').fadeIn('slow');
			}else{
				$('.custome_range_time').fadeOut('slow');
			}
		 });
		
		$('#setting_columns label').click(function(){
			 if($(this).hasClass('schedule_type_uncheck')) {
				 if($(this).parent().find('input:first').val() == 'flagged') {
					 $('#conferences_list td:nth-child(2)').hide();
					 current_width += 40;
				 }
				 else if($(this).parent().find('input:first').val() == 'title'){
					$('#conferences_list td:nth-child(3)').hide();
				}else if($(this).parent().find('input:first').val() == 'date_time'){
					$('#conferences_list td:nth-child(4)').hide();
					current_width += 188;
				}
				else if($(this).parent().find('input:first').val() == 'host'){
					$('#conferences_list td:nth-child(5)').hide();
					current_width += 63;
				}else if($(this).parent().find('input:first').val() == 'privacy'){
					$('#conferences_list td:nth-child(6)').hide();
					current_width += 55;
				}
				else if($(this).parent().find('input:first').val() == 'invites'){
					$('#conferences_list td:nth-child(7)').hide();
					current_width += 55;
				}else if($(this).parent().find('input:first').val() == 'created_on'){
					$('#conferences_list td:nth-child(8)').hide();
					current_width += 100;
				}
				/* $('.event_title p').width($('.event_title:first').width()); */
			 }else{
				 if($(this).parent().find('input:first').val() == 'flagged') {
					 $('#conferences_list td:nth-child(2)').show();
					 current_width -= 40;
				 }
				 else if($(this).parent().find('input:first').val() == 'title'){
					$('#conferences_list td:nth-child(3)').show();
				}else if($(this).parent().find('input:first').val() == 'date_time'){
					$('#conferences_list td:nth-child(4)').show();
					current_width -= 188;
				}
				else if($(this).parent().find('input:first').val() == 'host'){
					$('#conferences_list td:nth-child(5)').show();
					current_width -= 63;
				}else if($(this).parent().find('input:first').val() == 'privacy'){
					$('#conferences_list td:nth-child(6)').show();
					current_width -= 55;
				}
				else if($(this).parent().find('input:first').val() == 'invites'){
					$('#conferences_list td:nth-child(7)').show();
					current_width -= 55;
				}else if($(this).parent().find('input:first').val() == 'created_on'){
					$('#conferences_list td:nth-child(8)').show();
					current_width -= 100;
				}
			 }
			 /* $('.event_title_text p').width($('.event_title_text:first').width(current_width)); */
			 $('.event_title_text p').width(current_width);
			 $('#conferences_list').width('100%');
			 
		 });
		
		$("[data-title]").mbTooltip({ // also $([domElement]).mbTooltip  >>  in this case only children element are involved
	      opacity : .97,       //opacity
	      wait:100,           //before show
	      cssClass:"default",  // default = default
	      timePerWord:70,      //time to show in milliseconds per word
	      hasArrow:false,			// if you whant a little arrow on the corner
	      hasShadow:true,
	      imgPath:"images/",
	      ancor:"mouse", //"parent"  you can ancor the tooltip to the mouse position or at the bottom of the element
	      shadowColor:"black", //the color of the shadow
	      mb_fade:0 //the time to fade-in
	    });
		
		$('.flag').click(function(){
			var that = $(this);
			var id = $(this).attr('id');
			var flag = 1;
			if($(this).hasClass('active_flag'))
				flag = 0;
			$.ajax({
				  url: "/conferencing/changeFlags?event_id="+id+"&flag="+flag,
				  type: 'GET',
				  dataType: 'html',
				  success: function(html){
					  if(html == 'success'){
							if(flag==0){
								that.removeClass('active_flag').addClass('inactive_flag');
							}else{
								that.removeClass('inactive_flag').addClass('active_flag');
							}						  
					  }else{
						 
					  }
				  }
				});
		});
	});
	// TOGGLE SLECTECT ROW
	select_row_toggle = function(that){
		if(that.hasClass('active_row')){
			that.find('td:first label').removeClass('chk_checked').addClass('chk_unchecked');
			that.find('td:first').find('input:first').removeAttr('checked');
			that.removeClass('active_row');
			if(that.is('tr:nth-child(2)')) {
				that.removeClass('line_top');
			}
			that.find('img.img_privacy').each(function(){
				if($(this).attr('src').indexOf('white_protected.png')!=-1){
					$(this).attr('src','{{ MEDIA_URL }}schedule/images/icon_protected.png');
				}
				else if($(this).attr('src').indexOf('white_public.png')!=-1){
					$(this).attr('src','{{ MEDIA_URL }}schedule/images/icon_public.png');
				}
				else if($(this).attr('src').indexOf('white_private.png')!=-1){
					$(this).attr('src','{{ MEDIA_URL }}schedule/images/icon_private.png');
				}
			});
		}else{
			that.find('td:first label').removeClass('chk_unchecked').addClass('chk_checked');
			that.find('td:first').find('input:first').attr('checked', 'checked');
			that.addClass('active_row');
			if(that.is('tr:nth-child(2)')) {
				that.addClass('line_top');
			}
			
			
			that.find('img.img_privacy').each(function(){
				if($(this).attr('src').indexOf('protected.png')!=-1){
					$(this).attr('src','{{ MEDIA_URL }}schedule/images/white_protected.png');
				}
				else if($(this).attr('src').indexOf('public.png')!=-1){
					$(this).attr('src','{{ MEDIA_URL }}schedule/images/white_public.png');
				}
				else if($(this).attr('src').indexOf('private.png')!=-1){
					$(this).attr('src','{{ MEDIA_URL }}schedule/images/white_private.png');
				}
			});
		}
	};
</script>