{% extends "conferencing/conference_list.html" %}
{% load i18n %}

{% block search_form %}
<div class="searchbg">
  <form action="." method="get">
    <input type="text" name="q" id="textfield" class="textfield_search" value="{% if query_string %}{{ query_string  }}{% else %}{% trans "Search Recorded Conferences" %}{% endif %}" style="height:20px; border:none; margin:5px 0px 0px 5px;color: gray;" max_length="250" />
    <input type="submit" id="button" value=" " class="submit_btn" />
  </form>
</div>
{% endblock %}


{% block table %}
{% include "conferencing/_conferencing_rlist.html" %}
{% endblock %}

{% block filter_conferences %}
  {% with _("Filter Conferences") as filter_title %}
    {% include "conferencing/_filter_recorded_conferences.html" %}
  {% endwith %}
{% endblock %}
