{%load i18n%}
<div class="detail_recurring">
	<div class="frequency" style="display: none">
		<span class="error_daily" style="float: right;color:red;">(*)</span>
	</div>

	<div class="frequency">
		<div class="frequency_choice">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<p>
							<input type="checkbox" name="weekday" id="checkbox7"
								value="Sunday" /><label class="frequency_type_uncheck"
								for="checkbox7">{% trans "Sunday" %}</label>
					</td>
					<td><input type="checkbox" name="weekday" id="checkbox1"
						value="Monday" /><label class="frequency_type_uncheck"
						for="checkbox1">{% trans "Monday" %}</label></td>
					<td><input type="checkbox" name="weekday" id="checkbox2"
						value="Tuesday" /><label class="frequency_type_uncheck"
						for="checkbox2">{% trans "Tuesday" %}</label></td>
					<td><input type="checkbox" name="weekday" id="checkbox3"
						value="Wednesday" /><label class="frequency_type_uncheck"
						for="checkbox3">{% trans "Wednesday" %}</label></td>
				</tr>
				<tr>
					<td>
						<p>
							<input type="checkbox" name="weekday" id="checkbox4"
								value="Thursday" /><label class="frequency_type_uncheck"
								for="checkbox4">{% trans "Thursday" %}</label>
						</p>
					</td>
					<td><input type="checkbox" name="weekday" id="checkbox5"
						value="Friday" /><label class="frequency_type_uncheck"
						for="checkbox5">{% trans "Friday" %}</label></td>
					<td><input type="checkbox" name="weekday" id="checkbox6"
						value="Saturday" /><label class="frequency_type_uncheck"
						for="checkbox6">{% trans "Saturday" %}</label></td>
					<td><span class="error_weekday"
						style="float: right; margin-top: -2px;color:red;">(*)</span></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="frequency" style="display: none">

		<p style="color: #660884; float: left; font-size: 11px; margin-left: 30px;margin-right:10px;">Day	of month</p>
		<div class="monthly_dropdown">
			 <span style="display:inline;">01</span> 
			<input	type="hidden" value="1" name="day_month" />
			<div class="monthly_dropdown-hidden">
				<a data-tag="1">01</a>
				<a data-tag="2">02</a>
				<a data-tag="3">03</a>
				<a data-tag="4">04</a>
				<a data-tag="5">05</a>
				<a data-tag="6">06</a>
				<a data-tag="7">07</a>
				<a data-tag="8">08</a>
				<a data-tag="9">09</a>
				<a data-tag="10">10</a>
				<a data-tag="11">11</a>
				<a data-tag="12">12</a>
				<a data-tag="13">13</a>
				<a data-tag="14">14</a>
				<a data-tag="15">15</a>
				<a data-tag="16">16</a>
				<a data-tag="17">17</a>
				<a data-tag="18">18</a>
				<a data-tag="19">19</a>
				<a data-tag="20">20</a>
				<a data-tag="21">21</a>
				<a data-tag="22">22</a>
				<a data-tag="23">23</a>
				<a data-tag="24">24</a>
				<a data-tag="25">25</a>
				<a data-tag="26">26</a>
				<a data-tag="27">27</a>
				<a data-tag="28">28</a>
				<a data-tag="29">29</a>
				<a data-tag="30">30</a>
				<a data-tag="31">31</a>
				<a data-tag="endmonth">end</a>
			</div>


		</div>
		
		
	</div>



</div>