{% extends "newer_base.html" %}
{% load i18n %}
{% block extra_css %}
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/newer_conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}schedule/js/jquery.blockUI.js" type="text/javascript"></script>

{% endblock %}


{% block content %}
	<div id="cancel_conference" style="width:700px;height:auto;min-height:300px;background:white;display:none;">
		<div class="title_bar_dialog" style="cursor:pointer">
							<img src="{{MEDIA_URL}}schedule/images/icon_close_dialog.png" style="position:absolute;cursor:pointer;top:10px;right:10px;" onclick="$.unblockUI();"></div>
		
		<div style="width:696px;height:auto;min-height:90px;text-align: center;clear:both">
		<div class="schedule_hardclear"></div>
		<img src="{{MEDIA_URL}}schedule/images/logo_nc.png" />
		<div class="schedule_smallclear"></div>
		<div id="error_create_schedule_conf_text" style="width:100%;height:auto;">
		
		</div>
		
		<div class="schedule_smallclear"></div>
		<div style="width:100%;height:50px;">
		<input type="button" onclick="$.unblockUI();" value="OK"	class="schedule_btn_232x47" style="float:left;margin-left:250px;">
		</div>
		</div>
		
		
		</div>
	
	
	{% block conferencing_step %}
	
	{% endblock %}
	
	
	

{% endblock %}

{% block extra_scripts %}

{% endblock %}