{% load i18n %}

{% for folder in folder_list %}
{% if folder.is_root %}
<!-- <div style="margin-top:0px;float:left;">
<a><img src="/site_media/jstree/images/root_folder.png" /></a>

</div> -->
<div style="float:left;padding-top:5px;margin-right:5px;">
<!-- <img src="/site_media/files/images/arrow-goto.png" /> -->
<a href="/conferencing/list/?folder={{ folder.id }}" class="folder_title_a" {%if forloop.last%}style="color:#750998!important"{% endif%}>{{ folder.name }}</a>
</div>
{% else %}
{% if folder.is_root_trash %}
<div style="float:left;padding-top:5px;margin-right:5px;">
<a href="/conferencing/list/?folder={{ folder.id }}" class="folder_title_a" {%if forloop.last%}style="color:#750998!important"{% endif%}>{{ folder.name }}</a>
</div>

{% else %}
<div style="float:left;padding-top:5px;margin-right:5px;">
<img src="/site_media/files/images/arrow-goto.png" />
<a href="/conferencing/list/?folder={{ folder.id }}" class="folder_title_a" {%if forloop.last%}style="color:#750998!important"{% endif%}>{{ folder.name }}</a>
</div>
{% endif %}
{% endif %}
{% endfor %}

<style>
a.folder_title_a{margin-left:5px;font:12px Arial;color:#585858}
a.folder_title_a:hover{color:#750998!important}
</style>

