{% extends "newer_base.html" %}
{% load i18n %}
{% block extra_css %}
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<!-- <link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" /> -->


{% endblock %}


{% block content %}
<div  class="schedule_main"> 
  <div class="schedule_instant_warning">
    <img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_warning_close.png" />
    <img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_question.png" />
    <p>The Instant Conference Room is a way for you to easy hold a conference at a moment's notice. Your Instant Conference Room will always be at same URL or maybe accessed from your profile, making it easy for you to share or to others to join.  </p>
    <p>You may start conference now by click on Instant Conference, or use the button below to schedule a conference for a future date. </p>
    <p>Please config you Instant Conference Room default setting below. These settings will be use anytime you use your Instant Conference Room. Note, you may change these settings during your conference or at a later time.</p> 
    </div>


</div>

{% endblock %}

{% block extra_scripts %}

{% endblock %}