{% load i18n %}
{% load conference_tags %}
<form id="form_filter" action="." method="get" enctype="multipart/form-data">
 <table class="schedule_filter" border="0" cellspacing="0" cellpadding="0">
<tr><td><h1 class="schedule_title">{{ filter_title|default:_("Filter") }}</h1></td></tr> 
 <tr>
    <td style="padding-top:10px;padding-bottom:10px;">
        <p><input type="checkbox" name="type" id="checkbox1" value="scheduled" {% ifextra "scheduled" in type %}checked="checked"{% endifextra %} />
        <label  class="schedule_type_{% ifextra "scheduled" in type %}checked{% else %}uncheck{% endifextra %}" for="checkbox1">{% trans "Scheduled" %}</label><br/></p>
        <p><input type="checkbox" name="type" id="checkbox2" value="completed" {% ifextra "completed" in type %}checked="checked"{% endifextra %}/>
        <label class="schedule_type_{% ifextra "completed" in type  %}checked{% else %}uncheck{% endifextra %}" for="checkbox2">{% trans "Completed" %}</label></p>
        <p><input type="checkbox" name="type" id="checkbox3" value="recorded" {% ifextra "recorded" in type  %}checked="checked"{% endifextra %}/>
        <label class="schedule_type_{% ifextra "recorded" in type %}checked{% else %}uncheck{% endifextra %}" for="checkbox3">{% trans "Recorded" %}</label></p>
        
        <!-- <p><input type="checkbox" name="type" id="checkbox4" value="ahost" {% ifextra "ahost" in type  %}checked="checked"{% endifextra %} />
        <label  class="schedule_type_{% ifextra "ahost" in type %}checked{% else %}uncheck{% endifextra %}" for="checkbox4">{% trans "I am a Host" %}</label><br/></p>
        <p><input type="checkbox" name="type" id="checkbox5" value="aguest" {% ifextra "aguest" in type %}checked="checked"{% endifextra %}/>
        <label class="schedule_type_{% ifextra "aguest" in type  %}checked{% else %}uncheck{% endifextra %}" for="checkbox5">{% trans "I am a Guest" %}</label></p> -->
        <p><input type="checkbox" name="type" id="checkbox6" value="private" {% ifextra "private" in type  %}checked="checked"{% endifextra %}/>
        <label class="schedule_type_{% ifextra "private" in type  %}checked{% else %}uncheck{% endifextra %}" for="checkbox6">{% trans "Private" %}</label></p>
         <p><input type="checkbox" name="type" id="checkbox7" value="public" {% ifextra "public" in type  %}checked="checked"{% endifextra %}/>
        <label class="schedule_type_{% ifextra "public" in type  %}checked{% else %}uncheck{% endifextra %}" for="checkbox7">{% trans "Public" %}</label></p>
    </td>
</tr>
 
 
 </table>
 <table id="time_filter" class="schedule_filter" border="0" cellspacing="0" cellpadding="0" style="border: #F4F4F4 solid 2px;">
<tr><td></td></tr> 
 <tr>
    <td style="padding-top:10px;padding-bottom:10px;">
        <p><input type="radio" name="time" id="radio1" value="anytime" {% ifequal time "anytime" %}checked="checked"{% endifequal %} />
        <label  class="schedule_time_{% ifequal time "anytime" %}checked{% else %}uncheck{% endifequal %}" for="radio1">{% trans "Any Time" %}</label><br/></p>
        <p><input type="radio" name="time" id="radio2" value="next24" {% ifequal time "next24" %}checked="checked"{% endifequal %}/>
        <label class="schedule_time_{% ifequal time "next24" %}checked{% else %}uncheck{% endifequal %}" for="radio2">{% trans "Next 24 hours" %}</label></p>
        <p><input type="radio" name="time" id="radio3" value="nextweek" {% ifequal time "nextweek" %}checked="checked"{% endifequal %}/>
        <label class="schedule_time_{% ifequal time "nextweek" %}checked{% else %}uncheck{% endifequal %}" for="radio3">{% trans "Next Week" %}</label></p>
        <p><input type="radio" name="time" id="radio4" value="nextmonth" {% ifequal time "nextmonth" %}checked="checked"{% endifequal %} />
        <label  class="schedule_time_{% ifequal time "nextmonth" %}checked{% else %}uncheck{% endifequal %}" for="radio4">{% trans "Next Month" %}</label><br/></p>
        <p><input type="radio" name="time" id="radio5" value="next2month" {% ifequal time "private" %}checked="checked"{% endifequal %}/>
        <label class="schedule_time_{% ifequal time "next2month" %}checked{% else %}uncheck{% endifequal %}" for="radio5">{% trans "Next 2 Months" %}</label></p>
        <p><input type="radio" name="time" id="radio6" value="custom" {% ifequal time "custom" %}checked="checked"{% endifequal %}/>
        <label class="schedule_time_{% ifequal time "custom" %}checked{% else %}uncheck{% endifequal %}" for="radio6" style="color:#660884">{% trans "Custom Range" %}</label></p>
    </td>
</tr>
 
 
 </table>
 <input name="per_page" id="per_page"  type="hidden" value="{{ per_page }}"/>
  <input type="hidden" name="filter" value="{% trans "Filter" %}"  />
 
   <!--   <input value="{% trans "TEST" %}" class="buttonBlueSmall" id="test" /> -->
 </form>
 <div id="fake_form_value">
 <!-- <input name="helper_schedule" class="helper_schedule" type="hidden" value="show"/> -->
 
<div class="custome_range_time">
<p><label>Start:&nbsp;</label><input style="color: #666666; width: 150px; height: 13px; padding-left: 10px;" name="from_time" id="from_time" type="text" value="{{ from_time|date:"m/j/y" }}" /></p>
<p><label>End:&nbsp;&nbsp;</label><input style="color: #666666; width: 150px; height: 13px; padding-left: 10px;" name="to_time" id="to_time" type="text" value="{{ to_time|date:"m/j/y" }}" /></p>
</div>
<a style="float:right;clear:both;" onclick="submit_filter();">
      <input type="submit" name="filter" value="{% trans "Filter" %}" class="buttonBlueSmall" />
    </a>
</div>

 <script type="text/javascript">
 submit_filter = function(){
	 $('#time_filter').find('input[name="time"]').each(function(){
		 if($(this).is(':checked')&& ($(this).attr('value') == "custom")){
			$('#fake_form_value').appendTo('#form_filter');
		} 
	 });
	 $('#form_filter').submit();
	 
 };
 
 $(document).ready(function(){
	 $('#test').click(function(){
		 alert($('#radio2').is(':checked')); 
	 });
	 {% ifequal time "custom" %}
	 $('.custome_range_time').show();
	 {% else %}
	 $('.custome_range_time').hide();
	 {% endifequal %}
	 
	 
	 $('#per_page_real1').change(function(){
		 $("#per_page_real1 option:selected").each(function () {
             $('#per_page').attr('value',$(this).text());
             submit_filter();
         });
	 });
	 $('#per_page_real2').change(function(){
		 $("#per_page_real2 option:selected").each(function () {
             $('#per_page').attr('value',$(this).text());
             submit_filter();
         });
	 });
	 $('.schedule_filter label').click(function(){
		if($(this).hasClass('schedule_type_checked')) {
			$(this).removeClass('schedule_type_checked');
			$(this).addClass('schedule_type_uncheck');
			$(this).parent().find('input:first').attr('checked',true);
		}else if($(this).hasClass('schedule_type_uncheck')) {
			$(this).removeClass('schedule_type_uncheck');
			$(this).addClass('schedule_type_checked');
			$(this).parent().find('input:first').attr('checked',false);
		}else{
			$(this).parent().parent().find('label').removeClass('schedule_time_checked').addClass('schedule_time_uncheck');
			$(this).removeClass().addClass('schedule_time_checked');
			$(this).parent().find('input:first').attr('checked',true);
		}
		if($(this).parent().find('input:first').attr('id') == 'radio6'){
			$('.custome_range_time').fadeIn('slow');
		}else{
			$('.custome_range_time').fadeOut('slow');
		}
	 });
	 $('#from_time').datepicker({showOn: 'both', buttonImage: '{{ MEDIA_URL }}schedule/images/calendar-icon.png', buttonImageOnly: true, buttonText: 'Please choose a Date'});
	 $('#to_time').datepicker({showOn: 'both', buttonImage: '{{ MEDIA_URL }}schedule/images/calendar-icon.png', buttonImageOnly: true, buttonText: 'Please choose a Date'});
	 $(".ui-datepicker-trigger").mouseover(function() {
		    $(this).css('cursor', 'pointer');
	 });
	 $('#setting_columns label').click(function(){
		 if($(this).hasClass('schedule_type_uncheck')) {
			if($(this).parent().find('input:first').val() == 'title'){
				$('#files_list td:nth-child(1)').hide();
			}else if($(this).parent().find('input:first').val() == 'date_time'){
				$('#files_list td:nth-child(3)').hide();
			}
			else if($(this).parent().find('input:first').val() == 'host'){
				$('#files_list td:nth-child(5)').hide();
			}else if($(this).parent().find('input:first').val() == 'invites'){
				$('#files_list td:nth-child(6)').hide();
			}else if($(this).parent().find('input:first').val() == 'created_on'){
				$('#files_list td:nth-child(7)').hide();
			}else if($(this).parent().find('input:first').val() == 'privacy'){
				$('#files_list td:nth-child(4)').hide();
			}
		 }else{
			 if($(this).parent().find('input:first').val() == 'title'){
					$('#files_list td:nth-child(1)').show();
				}else if($(this).parent().find('input:first').val() == 'date_time'){
					$('#files_list td:nth-child(3)').show();
				}
				else if($(this).parent().find('input:first').val() == 'host'){
					$('#files_list td:nth-child(5)').show();
				}else if($(this).parent().find('input:first').val() == 'invites'){
					$('#files_list td:nth-child(6)').show();
				}else if($(this).parent().find('input:first').val() == 'created_on'){
					$('#files_list td:nth-child(7)').show();
				}else if($(this).parent().find('input:first').val() == 'privacy'){
					$('#files_list td:nth-child(4)').show();
				}
		 }
		 $('#files_list').width('100%');
		 
	 });
	 
 });
 
 </script>