{% extends "newer_base.html" %}
{% load i18n %}
{% load profile_tags %}
{% load conference_tags %}
{% block title %}

{{ page_title }}
{% endblock %}
{% block extra_css %}
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/new_conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom_conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}files/css/mbTooltip.css" title="style"  media="screen">


<!-- <script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.cookie.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.hotkeys.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.jstree.js" ></script>
 -->
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/conference_custom_jstree.js" ></script>
<script type="text/javascript">
  var root_id = "{{ root_folder.id }}";
  var current_folder = "{{ current_folder.id }}";
</script>
<style>
#jstree_holder_move a {color:#595959; white-space:normal !important; height: auto; padding:1px 2px;word-wrap: break-word;font-size: 13px; } 
#jstree_holder_move li > ins { vertical-align:top; }
#jstree_holder_move li { vertical-align:top;word-wrap: break-word }
#jstree_holder_move .jstree-hovered, #jstree_holder .jstree-clicked { border:0; }
</style>
<script type="text/javascript">
  (function() {
    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
    li.src = 'https://platform.stumbleupon.com/1/widgets.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
  })();
</script>
{% endblock %}

{% block content %}

  <!--CONTENT CONTAINER STARTS-->
  <div class="schedule_main"> 
  	<ul id="contact_messages" style="margin-bottom: 0px;display:none;">
	    {% for message in messages %}
	    <li><button class="btn_messages_close" onclick="show_then_hide();" style="float:right;margin-right: 5px;"></button></li>
	    <li style="padding-bottom: 12px;">{{ message }}</li>
	    {% endfor %}
  	</ul>
  	<!-- ================ OVERLAY START ================== -->
	
	<button id="show_del_conference" rel="#delete_conference_container" style="display: none;"></button>
	<button id="show_del_error_conference" rel="#del_error_message" style="display: none;"></button>
	<!-- DELETE CONFERENCE START -->
	<div class="modal_conference" id="delete_conference_container">
		<div class="conference_overlay_header">
			Delete Conference
		</div>
	  <div style="width: 600px; margin-left: 50px;margin-bottom: 10px; margin-top: 20px;">
	  		<table border="0" style="width: 100%;" cellspacing="10">
	  			<tr><td></td></tr>
	  			<tr align="center"><td class="model_conference_title">Are you sure you want to delete conferences?</td></tr>
	  			<tr><td></td></tr>
	  			<tr><td></td></tr>
	  			<tr><td></td></tr>
	  			<tr class="title_delete_contacts" align="center" class="grey_color_text font_size_22"><td><button class="model_conference_button close">Cancel</button>&nbsp;<button class="model_conference_button">Delete</button></td></tr>
	  		</table>
	  </div>
	</div>
	<!-- DELETE CONFERENCE END -->
  	
  	
  	<div class="modal_conference" id="del_error_message">
		<div class="conference_overlay_header">
			Delete Conference
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;">
		    No conferences selected to delete.
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 220px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close model_conference_button" id="btn_cancel">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
  	
  	<!-- OVERLAY DELETE CONFERENCE FOLDER START -->
  	
  	<button style="display: none;" id="alert_overlay" rel="#alert_container"></button>
	<div class="modal_conference" id="alert_container">
		<div class="conference_overlay_header" id="alert_title">
			Title
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;" id="alert_message">
		    Message
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 220px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
  	
  	
  	
  	
  	<button style="display: none;" id="confirm_overlay" rel="#confirm_container"></button>
	<div class="modal_conference" id="confirm_container">
		<div class="conference_overlay_header" id="confirm_title">
			Title
		</div>
		<div style="text-align: center; margin-top: 30px; height:auto;">
		  <p style="color: #595959; font-size: 14px;" id="confirm_message">
		    Message
		  </p>
		 </div>
		  <div style="width: 100%; margin-left: 70px; margin-top: 40px">
		  <button style="float: left;" class="close model_conference_button">Cancel</button>
		    <button style="float: left;margin-left:5px" class="close model_conference_button">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
  	
  	<!-- OVERLAY DELETE CONFERENCE FOLDER END -->
  	
  	<!-- MOVE CONFERENCES OVERLAY START -->
  	<button id="move_conference" class="files_action_button delete_file" rel="#move_conference_container" style="display:none;">Move Hidden</button>
  	<div class="modal_conference" id="move_conference_container" style="display: none;">
		<div id="move_file_title"  class="conference_overlay_header">
			Move Conference
		</div>
		<div class="files_smallclear"></div>
		 {% include "files/files_jstree_holder.html" %}
		 <h1 style="color: #909090;font: 13px Arial,Helvetica,sans-serif;padding: 5px 11px;width: 400px;background:white;border:#e3e3e3 solid 1px;margin-left:150px;">Folders</h1>
			<div class="files_folder_root_move">
			
	 	 <div class="conferences_folders_container"> 
			<div id="jstree_holder_move" style="height:auto;width:100%;"></div>
			
		</div>
		<div id="mmenu_move" style="height:30px; overflow:auto;margin-top:5px;">
			<input value="Folder" type="button" id="add_folder" style="float:left;" class="folder_create_button">
			<input value="Rename" type="button" id="rename"  style="float:left;margin-left:5px;" class="folder_rename_button">
			<input type="button" id="remove"  style="float:left;margin-left:5px;" class="folder_delete_button">
		</div>
			</div>
		  <!-- yes/no buttons -->
		  <div style="width: 550px; margin-left: 90px; margin-top: 10px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big" id="btn_cancel">Cancel</button>
		    <button style="float: right;" class="close schedule_btn_263x45_big" id="btn_move">Move</button>
		  </div>
		  <div style="height: 10px; clear: both;"></div>
	</div>
  	<!-- MOVE CONFERENCES OVERLAY START -->
  	
  	<!-- ERROR MESSAGE MOVE CONFERENCES START -->
  	<button style="display: none;" id="show_move_error_message" class="move_conference_error_message" rel="#move_conference_error_message"></button>
  	<div class="modal_conference" id="move_conference_error_message">
		<div class="conference_overlay_header">
			Move Conference
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;">
		    No conferences selected to move.
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 220px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big" id="btn_cancel">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
  	<!-- ERROR MESSAGE MOVE CONFERENCES END -->
  	
  	<!-- ================ OVERLAY END ================== -->
  	
  	
  	<!-- LEFT CONFERENCE STARTS -->
	<div class="schedule_left_column" style="margin-top: 1px;">
	<div class="conf_button">
		<p class="pink_big">CONFERENCES</p>
		<div style="clear: both; height: 10px;"></div>
	    <button onclick="javascript:window.open('{{ instant.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;" class="schedule_btn">My 24/7 Conference Room</button>
	    <div style="clear: both; height: 4px;"></div>
	  	<button onclick="javascript:window.location='{% url conferencing_schedule %}';" class="schedule_btn">Schedule a Conference</button> 
   </div>     
   <div style="clear: both; height: 4px;"></div>
   {% include "files/files_jstree_holder.html" %}
   <!-- CONFERENCE FOLDER START -->
   <div class="conference_folder_root">
		<h1 class="conference_folder_title" style="text-align: left;">Folders</h1>
 		<div class="folders_container" style="height: 190px;">
			<div id="jstree_holder" style="height:auto;width:100%;"></div>
		</div>
		<div id="mmenu" style="height:30px; overflow:auto;padding-top:7px; background-color: white;">
			<input type="button"  id="add_folder" style="float:left; margin-left:3px;" class="folder_create_button" value="Folder" />
			<input type="button"  id="rename"  style="float:left;margin-left:3px;" class="folder_rename_button" value="Rename" />
			<input type="button" id="remove"  style="float:left;margin-left:3px;" class="folder_delete_button">
			
		</div>
	</div>
	
	<!-- CONFERENCE FOLDER END -->
        
 	</div>
    <!-- LEFT FILES ENDS -->
    
    <!-- RIGHT FILES STARTS -->
    
    <div class="schedule_right_column">
    <div class="schedule_smallclear"></div>
    
    	{% include "conferencing/search_conferences.html" %}
    <div style="height: 20px; clear: both;"></div>
    <div class="files_content_right_top">
		<button class="btn_all" onclick="show_move_dialog();">Move</button>
		<button class="delete_conferences btn_all">Delete</button>
		
		<div class="files_paging" style="float: right;">
			<div style="float: left;">
				<span style="float: left; padding-top: 6px;">
					{% if page_obj.has_previous %}
					<a title="First" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page=1{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" /></a>
					{% else %}
					<img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" class="opacity_0_5"/>
					{% endif %}
					&nbsp;&nbsp;&nbsp;&nbsp;
					{% if page_obj.has_previous %}
   					<a title="Previous" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" /></a>
   					{% else %}
   					<img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" class="opacity_0_5"/>
   					{% endif %}
   					&nbsp;&nbsp;&nbsp;&nbsp;
   					{{ first_on_page }} &nbsp;- &nbsp;{{ last_on_page }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% if page_obj.has_next %}
					<a title="Next" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next.png" /></a>
					{% else %}
					<img src="{{ MEDIA_URL }}schedule/images/icon_next.png" class="opacity_0_5"/>
					{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
					{% if page_obj.has_next %}
					<a title="Last" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ pages }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" /></a>
					{% else %}
					<img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" class="opacity_0_5"/>
					{% endif %}
				</span>
				<span style="float: left; padding-top: 5px; margin-right: 5px;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{% trans "View"%}
				</span>
			</div>
			<div style="float: right;">
				<span style="float: right; padding-top: 5px; margin-right: 0;">{% trans "per page"%}</span>
				<div style="float: right;">
					<div class="div_dropdown_per_page">
						<div id="drop_down_menu">{% if per_page %}{{ per_page }}{% else %}10{% endif %}</div>
						<div class="sub_per_page">
							<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}&per_page=10{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">10</a>
							<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}&per_page=25{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">25</a>
							<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}&per_page=50{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">50</a>
							<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}&per_page=100{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">100</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="height: 1px; clear: both;"></div>
	<div class="folder_title_holder">
		{{ current_folder.render_absolute_path }}
	</div>
   	<div style="height: 6px; clear: both;"></div>
        {% block table %}
        {% include "conferencing/conferencing_list_tbl.html" %}
        {% endblock %}
        
        <div class="files_content_right_top">
			<button class="btn_all" onclick="show_move_dialog();">Move</button>
			<button class="delete_conferences btn_all">Delete</button>
			
			<div class="files_paging" style="float: right;">
				<div style="float: left;">
					<span style="float: left; padding-top: 6px;">
						{% if page_obj.has_previous %}
						<a title="First" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page=1{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" /></a>
						{% else %}
						<img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" class="opacity_0_5"/>
						{% endif %}
						&nbsp;&nbsp;&nbsp;&nbsp;
						{% if page_obj.has_previous %}
	   					<a title="Previous" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" /></a>
	   					{% else %}
	   					<img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" class="opacity_0_5"/>
	   					{% endif %}
	   					&nbsp;&nbsp;&nbsp;&nbsp;
	   					{{ first_on_page }} &nbsp;- &nbsp;{{ last_on_page }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						{% if page_obj.has_next %}
						<a title="Next" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next.png" /></a>
						{% else %}
						<img src="{{ MEDIA_URL }}schedule/images/icon_next.png" class="opacity_0_5"/>
						{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
						{% if page_obj.has_next %}
						<a title="Last" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ pages }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" /></a>
						{% else %}
						<img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" class="opacity_0_5"/>
						{% endif %}
					</span>
					<span style="float: left; padding-top: 5px; margin-right: 5px;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% trans "View"%}
					</span>
				</div>
				<div style="float: right;">
					<span style="float: right; padding-top: 5px; margin-right: 0;">{% trans "per page"%}</span>
					<div style="float: right;">
						<div class="div_dropdown_per_page">
							<div id="drop_down_menu">{% if per_page %}{{ per_page }}{% else %}10{% endif %}</div>
							<div class="sub_per_page">
								<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}&per_page=10{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">10</a>
								<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}&per_page=25{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">25</a>
								<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}&per_page=50{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">50</a>
								<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if current_folder %}&folder={{ current_folder.id }}{% endif %}&per_page=100{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">100</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!-- RIGHT FILES ENDS -->
  </div>
  <!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extra_scripts %}
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script> -->
<script type="text/javascript">

function toggleFiles() {
   $("input[name=file-select[]]").attr("checked", $("input[name=select]").attr("checked"));
}
function is_any_checked() {
	var is_checked = false;
	$('input[name="chk_confs"]').each(function(){
		if($(this).attr('checked') == 'checked') {
			is_checked = true;
			return false;
		}
	});
	return is_checked;
}

show_move_dialog = function(){
	if(!is_any_checked()){
		$('#show_move_error_message').click();
	}else{
		$('#move_conference').click();
		initialize_tree('jstree_holder_move','mmenu_move', false);
	}
};

function move_conferences_to_folder(){
	var next = window.location.href;
	var conferences = new Array();
		$("input:checkbox[name='chk_confs']").each(function() {
		 if($(this).attr('checked')) {
		 	conferences.push($(this).val());
		 }
	 });
	var folder_move_id = null;
	var selected_node = $('#jstree_holder_move').find('.jstree-clicked').html();
	if(selected_node != null) {
		var s_node = $('#jstree_holder_move').find('.jstree-clicked');
		if(s_node.length > 1){
			alert('You only select one folder to upload file!!!');
			return false;
		}else{
			folder_move_id = s_node.parent().attr('id');
		}
	}else{
		alert('Please select a folder to move conference(s)');
		return false;
	}
	window.location = '{% url move_conference_to_folder %}?event_id='+conferences.join()+'&folder_id='+folder_move_id+'&current_folder_id=' + "{{ current_folder.id }}";
	return false;
}
$(document).ready(function() {
	initialize_tree('jstree_holder','mmenu', true);
	{% if messages %}
	$('#contact_messages').fadeIn();
	setTimeout(function(){ 
		$('#contact_messages').fadeOut();
		}, 5000);		
	{% endif %}
	$('.delete_conferences').click(function(){
		if(is_any_checked()) {
			$('#show_del_conference').click();
		}else
			$('#show_del_error_conference').click();
	});
	 $('.div_dropdown_per_page').hover(
	function(){
		$(this).find('.sub_per_page').show();
	},
	function(){
		$(this).find('.sub_per_page').hide();
	}
	 );
	 
  //=============================== TRIGGERS START =================================
  $("#show_del_conference").overlay({
		 
      // some mask tweaks suitable for modal dialogs
      mask: {
        color: '#666',
        loadSpeed: 200,
        opacity: 0.5
      },
      closeOnClick: false
  });
  
  $("#show_del_error_conference").overlay({
      // some mask tweaks suitable for modal dialogs
      mask: {
        color: '#666',
        loadSpeed: 200,
        opacity: 0.5
      },
      closeOnClick: false
  });
  
  $("#confirm_overlay").overlay({
      // some mask tweaks suitable for modal dialogs
      mask: {
        color: '#666',
        loadSpeed: 200,
        opacity: 0.5
      },
      closeOnClick: false
  });
  
  $("#move_conference").overlay({
      // some mask tweaks suitable for modal dialogs
      mask: {
        color: '#666',
        loadSpeed: 200,
        opacity: 0.5
      },
      closeOnClick: false
  });
  
  $("#show_move_error_message").overlay({
      // some mask tweaks suitable for modal dialogs
      mask: {
        color: '#666',
        loadSpeed: 200,
        opacity: 0.5
      },
      closeOnClick: false
  });
  $("#alert_overlay").overlay({
		 
      // some mask tweaks suitable for modal dialogs
      mask: {
        color: '#666',
        loadSpeed: 200,
        opacity: 0.5
      },
 
      closeOnClick: false
  });
  //=============================== TRIGGERS END ============================
	  
  var buttons1 = $("#delete_conference_container button").click(function(e) {
		var yes = buttons1.index(this);
		// if click to delete conferences
	 	if(yes == 1) {
	 		$('#next').val(window.location.href);
	 		$('#frm_conference').submit();
	 	}
	});
  
  var buttons_confirm = $("#confirm_container button").click(function(e) {
		var yes = buttons_confirm.index(this);
	 	if(yes == 1) {
	 		$("#jstree_holder").jstree('remove');
	 		//$("#jstree_holder_move").jstree('remove');
	 	}
	});
  
  var buttons_move = $("#move_conference_container button").click(function(e) {
	    // get user input
		var yes = buttons_move.index(this);
		// if click delete then delete file
	 	if(yes == 1) {
	 		move_conferences_to_folder();
	 	}
	});
 });
show_then_hide = function(){
	$('#contact_messages').fadeOut();
};
</script>
{% endblock %}
