{% extends "newer_base.html" %}
{% load i18n %}
{% load profile_tags %}

{% block title %}

{{ page_title }}
{% endblock %}
{% block extra_css %}
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />

{% endblock %}
<!-- {% block submenu %}
{% url my_conferences as url_my_conferences %}
{% url conferencing_add as  url_conferencing_add %}
{% url recorded_conf as url_recorded_conf %}
<div id="submenu_container">
  <ul class="subnav">
    {% if user.is_authenticated %}
	<li {% ifequal url_my_conferences request.path %} class="current" {% endifequal %}><a href="{{ url_my_conferences }}">{% trans "My Conferences" %}</a></li>
	<li{% ifequal url_conferencing_add request.path %} class="current" {% endifequal %}><a href="{{ url_conferencing_add }}">{% trans "Schedule a New Conference" %}</a></li>
	<li{% ifequal url_recorded_conf request.path %} class="current" {% endifequal %}><a href="{{ url_recorded_conf }}">{% trans "Recorded Conferences" %}</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %} -->

{% block content %}

<div id="instance_name_input" style="display: none;width:700px;">
	<div style="text-align: left;" class="overview_list_head">
		Please enter the conference name 
	</div>
	<div style="margin-top: 30px;">
	<!-- <p style="font-size: 14px; color: #787878; font-family: Arial,Helvetica,sans-serif">Your name: </p> -->
	<div style="float:left;margin-left:118px; margin-bottom: 40px;">
		<span style="font-size: 14px; color: #787878; font-family: Arial,Helvetica,sans-serif;">Instant Conference Name: </span>
		<input id="txt_name" style="color: #787878; width: 270px; margin-left: 10px;" type="text" value=""/><label id="error_message" style="color: red; margin-left: 5px; display: none;">(*)</label>
	</div>
	<div style="margin-top: 50px;">
		<button onclick="$.unblockUI()" class="schedule_btn_232x47" style="float:left;margin-left:115px;">Cancel</button>
		<button id="btn_submit"  class="schedule_btn_232x47" style="float:left; margin-left: 5px;">OK</button>
	</div>
	</div>
</div>
  <!--CONTENT CONTAINER STARTS-->
  <div class="schedule_main"> 
  	
  	<!-- LEFT FILES STARTS -->
   
    <div class="schedule_left_column">
        <!-- SEARCH BOX STARTS -->
   <div class="conf_button">
   <p class="pink_big">CONFERENCES</p>
   <div class="schedule_mediumclear"></div>
   <a href="{{ instant.get_conference_url }}" onclick="javascript:window.open('{{ instant.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;"><button class="schedule_btn_instant" style="font-size: 16px;">My 24/7 Conference Room</button></a>
   <!-- <button id="btn_instance_conference" class="schedule_btn_instant">Instant Conference</button> -->
   <div class="schedule_smallclear"></div>
  <button onclick="javascript:window.location='{% url conferencing_schedule %}';" class="schedule_btn_232x47">Schedule a Conference</button> 
  
   </div>     
         <div class="schedule_smallclear"></div>
        
	{% block search_form %}
	
        <div class="searchbg">
            <form action="." method="get">
            <div style="float:left;width:170px;">
                <input type="text" name="q" id="textfield" class="schedule_search_textbox" value="{% if query_string %}{{ query_string  }}{% else %}{% trans 'Search Conferences' %}{% endif %}"  maxlength="250"
onfocus="{% if not query_string %}if(this.value == 'Search Conferences') {this.value = '';}{% endif %}" onblur="{% if not query_string %}if (this.value == '') {this.value = 'Search Conferences';}{% endif %}"/>
               </div>
               <div style="float:left;">
                <input type="submit" id="button" value="" class="schedule_search_btn" />
                </div>
                <div style="float:left;">
                <input type="button" class="schedule_search_close"  />
                </div>
            </form>
        </div>
	{% endblock %}
        <!-- SEARCH BOX ENDS -->
        <div class="schedule_smallclear"></div>
        <!-- FILTER FILES STARTS -->
        
        <div>
	  {% block filter_conferences %}
            {% with _("Filter Conferences") as filter_title %}
            {% include "conferencing/new_filter_conferecing_list.html" %}
            {% endwith %}
	  {% endblock %}
        </div>
        <!-- FILTER FILES ENDS -->
 	</div>
    <!-- LEFT FILES ENDS -->
    
    <!-- RIGHT FILES STARTS -->
    
    <div class="schedule_right_column">
    <div class="schedule_section_warning">
    <img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_warning_close.png" />
    <img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_question.png" />
    <p>The Conferences section is where you may be setup, manage, and review your conferences.</p>
    <p>You may start conference now by click on Instant Conference, or use the button below to schedule a conference for a future date. </p>
    <p>Uses the tools further down the left column to search and filter conference list on the right</p> 
    </div>
       <div class="schedule_smallclear"></div>
   <p class="files_paging" style="font-weight: bold;font-size: 12px;color: #9fa0a2">
   <a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page=1{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" /></a>
   &nbsp;&nbsp;&nbsp;&nbsp;
   {% if page_obj.has_previous %}
   <a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" /></a>{% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;{{ first_on_page }} &nbsp;- &nbsp;{{ last_on_page }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   {% if page_obj.has_next %}<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next.png" /></a>{% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;
   <a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ pages }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" /></a>
    &nbsp;&nbsp;&nbsp;&nbsp; View
     <select id="per_page_real1" style="color: #666666;">
    <option value="10" {% ifequal per_page 10 %}selected="selected"{% endifequal %}>10</option>
    <option value="25" {% ifequal per_page 25 %}selected="selected"{% endifequal %}>25</option>
    <option value="50" {% ifequal per_page 50 %}selected="selected"{% endifequal %}>50</option>
    <option value="10" {% ifequal per_page 100 %}selected="selected"{% endifequal %}>100</option>
    </select>&nbsp; per page
   </p><div class="schedule_smallclear"></div>
         <form action="." method="post">
        
            {% block table %}
            {% include "conferencing/_conferencing_list.html" %}
            {% endblock %}
        </form>
  <p class="files_paging" style="font-weight: bold;font-size: 12px;color: #9fa0a2">
   <a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page=1{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" /></a>
   &nbsp;&nbsp;&nbsp;&nbsp;
   {% if page_obj.has_previous %}
   <a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" /></a>{% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;{{ first_on_page }} &nbsp;- &nbsp;{{ last_on_page }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   {% if page_obj.has_next %}<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next.png" /></a>{% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;
   <a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% ifequal type "all" %}&type={{ type }}{% else %}{% for i in type %}&type={{ i }}{% endfor %}{% endifequal %}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ pages }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" /></a>
    &nbsp;&nbsp;&nbsp;&nbsp; View
     <select id="per_page_real2" style="color: #666666;">
    <option value="10" {% ifequal per_page 10 %}selected="selected"{% endifequal %}>10</option>
    <option value="25" {% ifequal per_page 25 %}selected="selected"{% endifequal %}>25</option>
    <option value="50" {% ifequal per_page 50 %}selected="selected"{% endifequal %}>50</option>
    <option value="10" {% ifequal per_page 100 %}selected="selected"{% endifequal %}>100</option>
    </select>&nbsp; per page
   </p>
    </div>
    <!-- RIGHT FILES ENDS -->
  </div>
  <!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery.blockUI.js"></script>
<script type="text/javascript">

	
  function toggleFiles() {
    $("input[name=file-select[]]").attr("checked", $("input[name=select]").attr("checked"));
  }

  $(document).ready(function() {
	  
	  $.blockUI.defaults.css.cursor = 'default'; 
	    /* $('#btn_instance_conference').click(function(){
	    	$('#error_message').hide();
	    	$.blockUI({
	    		message: $('#instance_name_input'),
	    		css:{
	    			width:'700px',
	    			height:'220px',
	    			border: '1px solid silver'
	    		},
	    		overlayCSS: {
	    			cursor: 'pointer'
	    		}
	    		
	    	})
	    }); */
	  
	 /*  $('#btn_submit').click(function(){
		  var name = $('#txt_name').val();
		  if(name == "")
			  $('#error_message').show();
		  else {
			  window.open('{% url conferencing_instant %}?name='+name,'conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no');
			  $.unblockUI();
		  }
		  
	  }); */
   /*  var defaultSearchQuery = $("input[name=q]").val();
    $("input[name=q]").focusin(function() { 
      if ($(this).val() == defaultSearchQuery)
        $(this).val("");
    });
    $("input[name=q]").focusout(function() {
      if (!$(this).val())
        $(this).val(defaultSearchQuery);
    });
    $("input[name='file-select[]']").change(function() { 
      if ($(this).attr("checked") === false && $("input[name=select]").attr("checked") === true) {
        $("input[name=select]").attr("checked", false);
      }
    }); */
    
    $('.schedule_search_close').click(function(){
		 $('#textfield').attr('value','');
		 $('#textfield').focus();
	  });

    
    $('.schedule_warning_close').click(function(){
    	$('.schedule_section_warning').hide('slow');
    });
    
  });
</script>
{% endblock %}
