{% extends "newer_base.html" %}
{% load i18n %}
{% load profile_tags %}
{% load scheduletags %}
{% block title %}

{{ page_title }}
{% endblock %}
{% block extra_css %}

<link href="{{ MEDIA_URL }}files/css/new_file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
	<!-- CONTENT CONTAINER STARTS -->
	<table id="file_check_password" border="0">
			<td align="center" style="padding-top: 30px;"><img src="{{ MEDIA_URL }}schedule/images/thankyou.png"/></td>
		</tr>
		<tr>
			<td align="center" style="padding-top: 29px; font-size: 17px; color: #595959;">
			Your invitation has been sent successful to:</td>
		</tr>
		<tr>
			<td align="center" style="padding-top: 15px;">
			{%for email in email_list%}
			<p style="color:#750998;font:13px Arial">{{email}}</p>
			{%endfor%}
			</td>
		</tr>
		<tr style="height:20px">
		</tr>
		<tr>
		<td align="center" style="height:70px">
		<button class="schedule_btn_232x47" onclick="javascript:window.location='{% reverse_link_from_hash "s_event" event %}'">Continue</button>
		</td>
		</tr>
	</table>
	
{% endblock %}

