{% extends "conferencing/schedule_conferencing.html" %}
{% load i18n %}
{% block conferencing_step %}
<link href="{{ MEDIA_URL }}schedule/new_conference.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
  var current_folder = {{open_folder.id}};
  var folder_id ={{open_folder.id}};
</script>
<style type="text/css">
.ui-datepicker-trigger {
	float: none !important;
	margin-top: 5px !important;
}
</style>

<!-- Block using to copy -->
			
			<div class="schedule_block_holder_copy" style="display:none;">
			<div class="line-option-divide"></div>
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Start:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
						<input class="input_holder_date" name="startdate_show" readonly="readonly"	id="startdate_show" /> 
					<input class="input_holder_time" name="starttime_show" readonly="readonly" id="starttime_show" />
						</div>
						
					</div>
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">End:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<input class="input_holder_date" name="enddate_show" readonly="readonly" id="enddate_show" />
							<input	class="input_holder_time" name="endtime_show" readonly="readonly" id="endtime_show" />
						</div>
					</div>
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Time Zone:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<div class="timezone_dropdown" id="show_timezone">
								<div class="timezone_dropdown_input">
								{%if acc_info.timezone %} 
								<span>{{ acc_info.timezone.title }}</span> 
								<input	type="hidden" value="{{ acc_info.timezone.value }}" name="show_timezone_value" />
								{%else%} <span>Choose a time zone</span>
								 <input	type="hidden" value="none_select" name="show_timezone_value" /> {%endif%}
								</div>
								<div class="timezone_dropdown-hidden-main">
									<div class="timezone_filter">
									<input type="text" class="input_timezone_filter" />
									<input type="button" class="input_timezone_search" />
									<input type="button" class="input_timezone_clear" />
									</div>
								<div class="timezone_dropdown-hidden">
									 {% for tz in timezone_list %}
									 <a data-tag="{{ tz.value }}">{{ tz.title }}</a>
									  {%endfor %}
									   <a data-tag="getmore">More ...</a>
								</div>
								
								</div>
			
			
							</div>
						</div>
					</div>
					<div class="schedule_row">
					<p class="remove_hotspot_timezone">Remove time zone</p>
					<p class="add_hotspot_timezone">Add another time zone</p>
					
					</div>
		
			</div>		
<!-- /Block using to copy -->










<button style="display: none;" id="alert_overlay" rel="#alert_container"></button>
	<div class="modal_conference" id="alert_container">
		<div class="conference_overlay_header" id="alert_title">
			Title
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;" id="alert_message">
		    Message
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 220px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
<button style="display: none;" id="confirm_overlay" rel="#confirm_container"></button>
	<div class="modal_conference" id="confirm_container">
		<div class="conference_overlay_header" id="confirm_title">
			Title
		</div>
		<div style="text-align: center; margin-top: 30px; height:auto;">
		  <p style="color: #595959; font-size: 14px;" id="confirm_message">
		    Message
		  </p>
		 </div>
		  <div style="width: 100%; margin-left: 70px; margin-top: 40px">
		  <button style="float: left;" class="close model_conference_button">Cancel</button>
		    <button style="float: left;margin-left:5px" class="close model_conference_button">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>

<div class="conferencing_option_main">
	<div class="schedule_smallclear"></div>
	<div class="schedule_instant_warning" style="visibility:hidden;height:0px;">
		<img class="schedule_warning_close"
			src="{{ MEDIA_URL }}schedule/images/icon_warning_close.png" /> <img
			class="schedule_warning_close"
			src="{{ MEDIA_URL }}schedule/images/icon_question.png" />
		<p>To schedule a Conference, please enter the information below.
			You may click "Add another timezone" to help you</p>
		<p>determine a time for participants in other timezone. You may
			also set this conference to recur daily, weekly, or monthly.</p>
		<p>If set to recur, all the conferences will be held at same URL.</p>
	</div>
	<div class="schedule_mediumclear"></div>
	<div class="schedule_hardclear">
		<div class="image_schedule">
			<img src="{{ MEDIA_URL }}schedule/images/schedule_conf_text.png" />
		</div>
		<div class="text_title_conference">
		<a>Please, enter the conference information.</a>
		</div>
	</div>
	<div class=schedule_smallclear></div>
	<div class=schedule_tinyclear></div>
	<form action="." method="POST" id="form_submit" >
		<div class="option_container">
			<div class="schedule_block_holder">
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Start:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
						<input class="input_holder_date" name="startdate"	id="startdate" /> 
							<input class="input_holder_time" name="starttime" id="starttime" />
						</div>
						
					</div>
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">End:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<input class="input_holder_date" name="enddate" id="enddate" />
				<input	class="input_holder_time" name="endtime" id="endtime" />
						</div>
					</div>
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Time Zone:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<div class="timezone_dropdown" id="main_timezone">
							<div class="timezone_dropdown_input">
								{%if acc_info.timezone %} 
								<span>{{ acc_info.timezone.title }}</span> 
								<input	type="hidden" value="{{ acc_info.timezone.value }}" name="timezone_value" />
								{%else%} <span>Choose a time zone</span>
								 <input	type="hidden" value="none_select" name="timezone_value" /> {%endif%}
							</div>
							<div class="timezone_dropdown-hidden-main">
									<div class="timezone_filter">
									<input type="text" class="input_timezone_filter" />
									<input type="button" class="input_timezone_search" />
									<input type="button" class="input_timezone_clear" />
									</div>
								<div class="timezone_dropdown-hidden">
									 {% for tz in timezone_list %}
									 <a data-tag="{{ tz.value }}">{{ tz.title }}</a>
									  {%endfor %}
									   <a data-tag="getmore">More ...</a>
								</div>
								
								</div>
			
							</div>
						</div>
					</div>
					<div class="schedule_row">
					<p class="add_hotspot_timezone">Add another time zone</p>
					</div>
		
			</div>
			
			
			
					
					
		
		<div class="line-option-divide"></div>
		<div class="schedule_block_holder">
		
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Conference Title:<span class="error_title">(*)</span></p>
							
						</div>
						<div class="right_detail_block" style="margin-left:10px">
						<input class="input_holder_title" name="title"	id="title" /> 
						</div>
						
					</div>
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Description (optional):</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
						<textarea class="input_holder_description" name="description"></textarea>
						</div>
					</div>
		
			</div>		
		
		<div class="schedule_block_holder">
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Recurring (optional):</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<div class="frequence_dropdown">
							 <span style="display:inline;">Select Frequency</span> 
							<input	type="hidden" value="0" name="recurring" />
							<div class="frequence_dropdown-hidden">
							<a data-tag="0">Select Frequency</a>
								{% for rule in rules %}
								 <a data-tag="{{ rule.id }}">{{ rule.frequency|lower|capfirst }}</a>
								  {%endfor %}
							</div>
		
							
							</div>
								<div id="period" style="float: right; width: 290px;">
								<p id="text_period" style="color: #660884; float: right; font-size: 11px; margin-right: 45px;">Continue session at the same time until (including)</p>
								<div style="width: 290px; float: right;">
									<input id="period_recurring" name="period_recurring" type="text" class="input_holder_period">
								</div>
							</div>
							<div class=schedule_smallclear></div>
							{%include "conferencing/detail_recurring.html"%}
						</div>
						
					</div>
		
			</div>
		
		<div class="schedule_block_holder">
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Folder:</p>
							<input type="hidden" value="{{open_folder.id}}" name="folder_select" id="folder_select" />
						</div>
						<div class="right_detail_block" style="margin-left:10px">
						<div class="input_holder_description">
						 {% include "files/files_jstree_holder.html" %}
						<div class="add_folders_container" style="height: 100px;">
							<div id="jstree_holder_move" style="height:auto;width:100%;"></div>
						</div>
						<div id="mmenu_move" style="height:30px; overflow:auto;padding-top:7px; background-color: white;">
							<input type="button"  id="add_folder" style="float:left; margin-left:3px;" class="folder_create_button" value="Folder" />
							<input type="button"  id="rename"  style="float:left;margin-left:3px;" class="folder_rename_button" value="Rename" />
							<input type="button" id="remove"  style="float:left;margin-left:3px;" class="folder_delete_button">
						</div>
						<script type="text/javascript" src="{{ MEDIA_URL }}jstree/conference_custom_jstree.js" ></script>
						</div> 
						</div>
						
					</div>
		
			</div>
		<div class="schedule_mediumclear"></div>
	</div>
	</form>
			<div class=schedule_mediumclear></div>
<div class="navigation_button">
<button class="schedule_btn_263x45" style="float:right;" onclick="check_form_step1();">Next</button>
<button class="schedule_btn_263x45" style="float:right;margin-right:10px;" onclick="javascript:window.location='{%url my_conferences%}';">Cancel</button>

</div>

</div>








<div id="form_fake_submit" style="display: none;">
        <input name="start_date" id="start_date_fake" /> <input
            name="end_date" id="end_date_fake" /> 
           <!--  <input name="timezone"   id="timezone_fake" />  -->
           <input name="period_date" id="period_date_fake" />
        <input name="weekdays_date" id="weekdays_date_fake" />
  
    </div>





<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-timepicker-addon.js"></script>

<script type="text/javascript">
//Compare 2 datetime
function greaterThanTime(id1, id2){
	var Time1 = new $("#"+id1).datetimepicker("getDate");
	var strTime1 = parseInt(Time1.getTime().toString().substring(0,6));
    var Time2 =  $("#"+id2).datetimepicker("getDate");
    var strTime2 =  parseInt(Time2.getTime().toString().substring(0,6));
    if(strTime1 >= strTime2)
    	return true;
    return false;
};

// check if a date(width id) < current date
/* function InvalidDate(id){
    var currentDate = new Date();
    currentDate.setDate(currentDate.getDate()-1);
    var strCurrentTime = parseInt(currentDate.getTime().toString().substring(0,6));
    var date =  $("#"+id).datetimepicker("getDate");
    var strSelectedTime =  parseInt(date.getTime().toString().substring(0,6));
    if(strSelectedTime < strCurrentTime)
    	return true;
    return false;
}; */

var wrong_start_schedule = '<p style="color:#4f0768;font-weight: bold;font-size: 18px;">The NetConference system will only accept dates that are current</p>'+
'<p style="color:#4f0768;font-weight: bold;font-size: 18px;">or in the future for the start date.</p>'+
' <p style="color:#4f0768;font-weight: bold;font-size: 18px;">Please check your date and try again.</p>';


var wrong_time_schedule = '<p style="color:#4f0768;font-weight: bold;font-size: 18px;">The NetConference system will only accept dates that are current</p>'+
'<p style="color:#4f0768;font-weight: bold;font-size: 18px;">or in the future for recurring period date.</p>'+
' <p style="color:#4f0768;font-weight: bold;font-size: 18px;">Please check your date and try again.</p>';

var greater_time_schedule = '<p style="color:#4f0768;font-weight: bold;font-size: 18px;">The NetConference system will only accept dates that </p>'+
'<p style="color:#4f0768;font-weight: bold;font-size: 18px;">the end date greater the start date for scheduling a conference.</p>'+
' <p style="color:#4f0768;font-weight: bold;font-size: 18px;">Please check your date and try again.</p>';


var greater_recurring_schedule = '<p style="color:#4f0768;font-weight: bold;font-size: 18px;">The NetConference system will only accept dates that </p>'+
'<p style="color:#4f0768;font-weight: bold;font-size: 18px;">the recurring period date greater the end date for scheduling a conference.</p>'+
' <p style="color:#4f0768;font-weight: bold;font-size: 18px;">Please check your date and try again.</p>';

function InvalidDate(id){
	 var currentDate = new Date();
	 currentDate.setDate(currentDate.getDate()-1);
	 var strCurrentTime = parseInt(currentDate.getTime().toString().substring(0,6));
	 var date =  $("#"+id).datetimepicker("getDate");
	 var strSelectedTime =  parseInt(date.getTime().toString().substring(0,6));
	 if(strSelectedTime < strCurrentTime)     return true;
	 return false;
};

function InvalidDate_date_and_time(date, time){
	 var currentDate = new Date();
	 var startdate = new $("#"+date).datetimepicker("getDate");
	var starttime = new $("#"+time).datetimepicker("getDate");
	startdate.setHours(starttime.getHours());
	startdate.setMinutes(starttime.getMinutes());
		
	 var strTime1 = parseInt(startdate.getTime().toString());
	 var strTime2 =  parseInt(currentDate.getTime().toString());
	 if(strTime1 < strTime2)     return true;
	 return false;
};
function greaterThanTime(id1, id2){
	var Time1 = new $("#"+id1).datetimepicker("getDate");
	 var strTime1 = parseInt(Time1.getTime().toString().substring(0,6));
	 var Time2 =  $("#"+id2).datetimepicker("getDate");
	 var strTime2 =  parseInt(Time2.getTime().toString().substring(0,6));
	 if(strTime1 > strTime2)     return true;
	 return false;
};

function greaterThanTime_startend(start_d, start_t, end_d, end_t){
	var startdate = new $("#"+start_d).datetimepicker("getDate");
	var starttime = new $("#"+start_t).datetimepicker("getDate");
	startdate.setHours(starttime.getHours());
	startdate.setMinutes(starttime.getMinutes());
	
	var enddate = new $("#"+end_d).datetimepicker("getDate");
	var endtime = new $("#"+end_t).datetimepicker("getDate");
	enddate.setHours(endtime.getHours());
	enddate.setMinutes(endtime.getMinutes());
	
	 var strTime1 = parseInt(startdate.getTime().toString());
	 var strTime2 =  parseInt(enddate.getTime().toString());
	 if(strTime1 < strTime2)     return true;
	 return false;
};

getdatetime_combo = function(date, time){
	var date = new $("#"+date).datetimepicker("getDate");
	var time = new $("#"+time).datetimepicker("getDate");
	date.setHours(time.getHours());
	date.setMinutes(time.getMinutes());
	return date;
}

Date.prototype.addHours= function(h){
    this.setHours(this.getHours()+h);
    return this;
}
Date.prototype.addMinutes= function(m){
    this.setMinutes(this.getMinutes()+m);
    return this;
}
check_title_is_valid = function(){
	var value = true;
	if($('#title').attr('value') == '')
	{
		$('.error_title').show();
		value = false;
		$('#title').focus();
		$('body,html').animate({
			scrollTop: 200
		}, 1000);
	}
	return value;
}
check_start_is_valid = function(){
	var value = true;
	if(InvalidDate_date_and_time('startdate','starttime')) {
		$('#error_create_schedule_conf_text').html(wrong_start_schedule);
		$.blockUI({
			message: $('#cancel_conference'),
			css:{
				backgroundColor: '#000',
				width:'700px',
				height:'300px',
				border: 'none',
				top:'100px',
				left:(screen.width/2-350)+'px',
			},
			overlayCSS: {
				cursor: 'pointer',
			}
		});
		$('body,html').animate({
			scrollTop: 200
		}, 1000);
		value =  false;
	} 
	return value;
}
check_period_isvalid = function(){
	var value = true;
	if(InvalidDate('period_recurring')) {
		$('#error_create_schedule_conf_text').html(wrong_time_schedule);
		$.blockUI({
			message: $('#cancel_conference'),
			css:{
				backgroundColor: '#000',
				width:'700px',
				height:'300px',
				border: 'none',
				top:'100px',
				left:(screen.width/2-350)+'px',
			},
			overlayCSS: {
				cursor: 'pointer'
			}
		});
		$('body,html').animate({
			scrollTop: 500
		}, 1000);
		value =  false;
	} 
	return value;
	
}
check_start_with_end = function(){
	var value = true;
	if(!greaterThanTime_startend('startdate','starttime','enddate','endtime')) {
		$('#error_create_schedule_conf_text').html(greater_time_schedule);
		$.blockUI({
    		message: $('#cancel_conference'),
    		css:{
    			backgroundColor: '#000',
    			width:'700px',
				height:'300px',
				border: 'none',
				top:'100px',
				left:(screen.width/2-350)+'px',
    		},
    		overlayCSS: {
    			cursor: 'pointer'
    		}
    	});
		value =  false;
	}
	return value;
	
}
check_end_with_period = function(){
	var value = true;
	var valuecompare = $(".frequence_dropdown span:first").html().toUpperCase();
    if(valuecompare=='DAILY'||valuecompare=='WEEKLY'||valuecompare=='MONTHLY'){
		if(!greaterThanTime_startend('enddate','endtime','period_recurring','period_recurring')) {
			$('#error_create_schedule_conf_text').html(greater_recurring_schedule);
			$.blockUI({
	    		message: $('#cancel_conference'),
	    		css:{
	    			backgroundColor: '#000',
	    			width:'700px',
	    			height:'220px',
	    			border: 'none',
					top:'100px',
					left:(screen.width/2-350)+'px',
	    		},
	    		overlayCSS: {
	    			cursor: 'pointer'
	    		}
	    	});
			value =  false;
		}
    }

    return value;
}

check_weekly_checked = function(){
	var value = true;
	var valuecompare = $(".frequence_dropdown span:first").html().toUpperCase();
    if(valuecompare =='WEEKLY'){
	   	var check = false;
	   	$('.frequency_choice input[name="weekday"]:checked').each(function(){
	   		check = true;
	   	});
	   	if(!check)
	   	{
	   		$('.error_weekday').show();
	   		$('body,html').animate({
				scrollTop: 500
			}, 1000);
	   		value = false;
	   	}
   }
	
	return value;

}
check_folder_selected = function(){
	var selected_node = $('#jstree_holder_move').find('.jstree-clicked').html();
   	if(selected_node!=null) {
		var s_node = $('#jstree_holder_move').find('.jstree-clicked');
		if(s_node.length>1){
			alert('You only select one folder to upload file!!!');
			return false;
		}else{
			folder_id = s_node.parent().attr('id');
			$('#folder_select').attr('value',folder_id);
			return true;
		}
		
	}
};
check_form_step1 = function(){
	$('.error_daily').hide();
	$('.error_title').hide();
	$('.error_weekday').hide();
	if(!check_title_is_valid()) return false;
	if(!check_start_is_valid()) return false;
	if(!check_period_isvalid()) return false;
	if(!check_start_with_end()) return false;
	if(!check_end_with_period()) return false;
	if(!check_weekly_checked()) return false;
	if(!check_folder_selected()) return false;
	
	
	/*  $('.schedule_main').fadeOut('slow');
	 $('.conferencing_option_main').fadeIn('slow');
	 $('body,html').animate({
			scrollTop: 100
		}, 1000);
	 */
	submit_form_step1();
	//$('#form_submit').submit();
}


back_to_step1= function(){
	$('.conferencing_option_main').fadeOut();
	$('.schedule_main').fadeIn();
	$('body,html').animate({
		scrollTop: 200
	}, 1000);
	 
}
submit_form_step1 = function(){
	var start = getdatetime_combo('startdate','starttime');
	var end = getdatetime_combo('enddate','endtime');
	var period = $('#period_recurring').datepicker('getDate');
	
	
	var start_str = start.getFullYear()+'-'+(start.getMonth()+1)+'-'+start.getDate()+ ' '+start.getHours()+':'+start.getMinutes();
	var end_str = end.getFullYear()+'-'+(end.getMonth()+1)+'-'+end.getDate()+ ' '+end.getHours()+':'+end.getMinutes();
	var period_str = period.getFullYear()+'-'+(period.getMonth()+1)+'-'+period.getDate()+ ' '+period.getHours()+':'+period.getMinutes();
	
	$('#start_date_fake').attr('value', start_str);
	$('#end_date_fake').attr('value', end_str);
	$('#period_date_fake').attr('value', period_str);
	
	 var weekdays = new Array();
	$('.frequency_choice input[name="weekday"]').each(function(){
		if($(this).is(':checked'))
			weekdays.push($(this).attr('value'));
	});
	
	$('#weekdays_date_fake').attr('value', weekdays.join(', '));
	 
/* 	timezone_val = $('#main_timezone').find('input[name="timezone_value"]').val();
	$('#timezone_fake').attr('value',timezone_val); */
	$('#form_fake_submit').appendTo('#form_submit');
	$('#form_submit').submit();
}


convert_timezone_show = function(start_time, end_time, from_timezone, to_timezone, block){
	$.ajax({
		url:'{% url conferencing_convert %}',
		type:'POST',
		//async:false,
		data:'start_time='+start_time+'&end_time='+end_time+'&from_timezone='+from_timezone+'&to_timezone='+to_timezone,
		dataType:'html',
		success:function(result){
			var arr = result.split(',');
			var newday = new Date(parseInt(arr[0]), parseInt(arr[1])-1, parseInt(arr[2]), parseInt(arr[3]), parseInt(arr[4]), 0, 0);
			$('#hidden_fake_endtime').datetimepicker('setDate', newday);
			$('#hidden_fake_enddate').datetimepicker('setDate', newday);
			
			var arr = result.split('___');
			var start_return = arr[0];
			var end_return = arr[1];
			block.find('input[name="startdate_show"]:first').attr('value',start_return.split('$')[0]);
			block.find('input[name="starttime_show"]:first').attr('value', start_return.split('$')[1]);
			block.find('input[name="enddate_show"]:first').attr('value',end_return.split('$')[0]);
			block.find('input[name="endtime_show"]:first').attr('value', end_return.split('$')[1]);
		}
	});
};

change_datetime_by_timezone = function(){
	
	main = $('#main_timezone').find('input[name="timezone_value"]:first').val();
	
	var startdate = $('#startdate').datepicker('getDate');
	var enddate = $('#enddate').datepicker('getDate');
	
	var starttime = $('#starttime').datepicker('getDate');
	var endtime = $('#endtime').datepicker('getDate');
	
	start_occur = startdate.getFullYear()+'-'+(startdate.getMonth()+1)+'-'+startdate.getDate()+ ' '+starttime.getHours()+':'+starttime.getMinutes();
	end_occur = enddate.getFullYear()+'-'+(enddate.getMonth()+1)+'-'+enddate.getDate()+ ' '+endtime.getHours()+':'+endtime.getMinutes();
	
	$('.schedule_block_holder_copy').each(function(){
		var block = $(this);
		var to_timezone =  block.find('input[name="show_timezone_value"]:first').val();
		convert_timezone_show(start_occur, end_occur, main, to_timezone, block);
	});
	 
};

$(document).ready(function(){
	
	$.blockUI.defaults.css.cursor = 'default'; 
	
	//$('.schedule_info_rightcol span').hide();
	$('#startdate').datepicker({ dateFormat: 'DD, MM dd, yy', minDate: new Date(), onSelect: change_datetime_by_timezone});
	
	var nextday = new Date();
	nextday.setDate(nextday.getDate()+1);
	$('#startdate').datepicker('setDate',nextday);
	
	$('#enddate').datepicker({ dateFormat: 'DD, MM dd, yy', minDate: new Date(), onSelect: change_datetime_by_timezone});
	$('#enddate').datepicker('setDate',nextday);
	
	$('#startdate_show').attr('value', $('#startdate').val());
	$('#enddate_show').attr('value', $('#enddate').val());
	
	$('#starttime').timepicker({ampm: true,timeFormat:'hh:mm TT ', onSelect: change_datetime_by_timezone}); 
	$('#starttime').timepicker('setDate',new Date());
	
	$('#endtime').timepicker({ampm: true,timeFormat:'hh:mm TT ', onSelect: change_datetime_by_timezone}); 
	$('#endtime').timepicker('setDate',nextday.addHours(2));
	
	
	
	$('#starttime_show').attr('value', $('#starttime').val());
	$('#endtime_show').attr('value', $('#endtime').val());
	
	$('.bottom_datetime').hide();
	
	$('#period_recurring').datepicker({ dateFormat: 'DD, MM dd, yy', minDate: new Date(), showOn: 'both', buttonImage: '{{ MEDIA_URL }}schedule/images/calendar-icon.png', buttonImageOnly: true , buttonText: 'Please choose a Date'});
	var nextweek = new Date();
	nextweek.setDate(nextweek.getDate()+7);
	$('#period_recurring').datepicker('setDate',nextweek);
	
	$('#hidden_fake_starttime').timepicker({ampm: true,timeFormat:'hh:mm TT '});
	$('#hidden_fake_startdate').datepicker({dateFormat: 'DD, MM dd, yy'});
	$('#hidden_fake_endtime').timepicker({ampm: true,timeFormat:'hh:mm TT '});
	$('#hidden_fake_enddate').datepicker({dateFormat: 'DD, MM dd, yy'});
	
	$(".ui-datepicker-trigger").mouseover(function() {
    	$(this).css('cursor', 'pointer');
	});
	$('.schedule_show_timezone').click(function(){
		var show_timezone_text = $('#schedule_show_timezone').text();
		$('#schedule_smallclear_timezone').toggle('slow');
		$('#schedule_hardclear_timezone').toggle('slow');
		
		$('.bottom_datetime').toggle('slow');
		if(show_timezone_text.trim().toUpperCase() == "SHOW ANOTHER TIME ZONE")
			$('#schedule_show_timezone').text("Hide another time zone");
		else $('#schedule_show_timezone').text("Show another time zone");
	});
	
	
	$('#daily_datetime').timepicker({ dateFormat: 'DD, MM dd, yy' });
	
	$('.frequency_choice label').click(function(){
		if($(this).hasClass('frequency_type_checked')) {
			$(this).removeClass('frequency_type_checked');
			$(this).addClass('frequency_type_uncheck');
			$(this).parent().find('input:first').attr('checked',true);
		}else if($(this).hasClass('frequency_type_uncheck')) {
			$(this).removeClass('frequency_type_uncheck');
			$(this).addClass('frequency_type_checked');
			$(this).parent().find('input:first').attr('checked',false);
		}
	 });
	
	$('.schedule_warning_close').click(function(){
        $('.schedule_instant_warning').fadeOut('slow');
});
	
	$('.frequency').hide();
	$('#period').hide();
	$('.schedule_reminder').hide()
	
	
});

</script>


			
<script type="text/javascript">
make_trigger_general_combobox = function(classname, valuename){
	$('.'+classname).hover(function(){
		$(this).find('.'+classname+'-hidden').show();
	},function(){
		$(this).find('.'+classname+'-hidden').hide();
	});
	
	$('.'+classname+'-hidden').find('a').click(function(){
		$(this).parent().parent().find('span').html($(this).html());
		$(this).parent().parent().find('input[name="'+valuename+'"]:first').attr('value',$(this).attr('data-tag'))
		 $(this).parent().hide();
	 });
};
make_trigger_timezone_combobox = function(classname, valuename){
	 
	$('.'+classname+'_input').live('click',function(){
		$(this).parent().find('.'+classname+'-hidden-main').toggle();
		$(this).parent().find('.input_timezone_filter').focus();
	}); 
    
	$('.'+classname+'-hidden').find('a').live('click',function(){
		if( $(this).attr('data-tag') == 'getmore')
		{
			$.ajax({
				url:'{% url get_more_timezone %}',
				type:'GET',
				dataType:'html',
				success: function(html){
					$('.timezone_dropdown-hidden').html(html);
					
				}
			});
		}else{
			
			// assign click event
			var show_or_main = $(this).parent().parent().parent();
			var select_timezone = $(this).attr('data-tag');
			
			show_or_main.find('span').html($(this).html());
			//$(this).parent().hide();
			if(show_or_main.attr('id') == 'show_timezone'){
				show_or_main.find('input[name="show_timezone_value"]:first').attr('value',select_timezone);
			}else{
				show_or_main.find('input[name="'+valuename+'"]:first').attr('value',select_timezone);
			}
			change_datetime_by_timezone();
			// end  assign click event
			$('.'+classname).find('.'+classname+'-hidden-main').hide();
		}
		
	 });
};
make_trigger_frequence_combobox = function(classname, valuename){
	$('.'+classname).hover(function(){
		$('.'+classname+'-hidden').show();
	},function(){
		$('.'+classname+'-hidden').hide();
	});
	
	$('.'+classname+'-hidden').find('a').click(function(){
		$('.'+classname).find('span').html($(this).html());
		$('.'+classname).find('input[name="'+valuename+'"]:first').attr('value',$(this).attr('data-tag'))
		 $('.'+classname+'-hidden').hide();
		
		if($(this).attr('data-tag') ==0){
        	$('.frequency').hide();
        	$('#period').hide();
        	$('.schedule_reminder').hide();
        }else if($(this).html().toUpperCase() =='DAILY'){
        	$('.frequency').hide();
        	$('#period').show();
        	$('#text_period').hide();
        	$('.frequency:eq(0)').show();
        	$('.schedule_reminder').show();
        }else if($(this).html().toUpperCase() =='WEEKLY'){
        	$('.frequency').hide();
        	$('#period').show();
        	$('#text_period').show();
        	$('.frequency:eq(1)').show();
        	$('.schedule_reminder').show();
        }else if($(this).html().toUpperCase() =='MONTHLY'){
        	$('.frequency').hide();
        	$('#period').show();
        	$('#text_period').show();
        	$('.frequency:eq(2)').show();
        	$('.schedule_reminder').show();
        }
		
	 });
};

make_trigger_add_remove_hotspot = function(){
	$('.remove_hotspot_timezone').live('click',function(){
		var block = $(this).parent().parent();
		block.slideUp();
		setTimeout(function(){
			block.remove();	
			if($('.add_hotspot_timezone:visible').length==0){
				$('.add_hotspot_timezone:last').show();
			} 
		},1000);
		
	});
	$('.add_hotspot_timezone').live('click',function(){
		var that = $(this).parent().parent();
		var copy_timezone = $('.schedule_block_holder_copy:first').clone();
		copy_timezone.css({'display':'','opacity':'0','background':'#dabce2'});
		that.after(copy_timezone);
		//copy_timezone.slideDown();
		copy_timezone.animate({opacity:1},1000);
		setTimeout(function(){
			copy_timezone.animate({backgroundColor:'transparent'},1000);
		},1000);
		make_trigger_search_btn();
		make_trigger_clear_btn();
		
		$('.add_hotspot_timezone').hide();
		$('.add_hotspot_timezone:last').show();
	});
};

make_trigger_search_btn = function(){
	$('.input_timezone_filter').keyup(function(e){
		var block_hidden= $(this).parent().parent().find('.timezone_dropdown-hidden:first');
		var textValue = $(this).val();
		if(e.keyCode ==40){
			var selected = block_hidden.find('.timezone_selected');
			if(selected == null||selected.length ==0)
			{
				block_hidden.find('a:visible:first').addClass('timezone_selected');
			}else
			{
				var index_select = block_hidden.find('a:visible').index(selected);
				selected.removeClass('timezone_selected');
				var next_element = block_hidden.find('a:visible:eq('+(index_select+1)+')');
				if(next_element==null||next_element.length ==0)
					next_element = block_hidden.find('a:visible:eq(0)');
				next_element.addClass('timezone_selected');
				s_top = next_element.offset().top - block_hidden.find('a:visible:first').offset().top-40;
				block_hidden.scrollTop(s_top);
			}
			
		}else if(e.keyCode ==38){
			var selected = block_hidden.find('.timezone_selected');
			if(selected == null||selected.length ==0)
			{
				block_hidden.find('a:visible:first').addClass('timezone_selected');
			}else
			{
				var index_select = block_hidden.find('a:visible').index(selected);
				selected.removeClass('timezone_selected');
				var next_element = block_hidden.find('a:visible:eq('+(index_select-1)+')');
				if(next_element==null||next_element.length ==0)
					next_element = block_hidden.find('a:visible:eq(0)');
				next_element.addClass('timezone_selected');
				s_top = next_element.offset().top - block_hidden.find('a:visible:first').offset().top-40;
				block_hidden.scrollTop(s_top);
			}
			
		}else if(e.keyCode ==13){
			var selected = block_hidden.find('.timezone_selected');
			if(selected == null||selected.length ==0)
			{
				return false;
			}else
			{
				var show_or_main = selected.parent().parent().parent();
				var select_timezone = selected.attr('data-tag');
				
				show_or_main.find('span').html(selected.html());
				//$(this).parent().hide();
				if(show_or_main.attr('id') == 'show_timezone'){
					show_or_main.find('input[name="show_timezone_value"]:first').attr('value',select_timezone);
					
				}else{
					show_or_main.find('input[name="timezone_value"]:first').attr('value',select_timezone);
				}
				change_datetime_by_timezone();
				// end  assign click event
				selected.removeClass();
				$('.timezone_dropdown-hidden-main').hide();
				
			}
		}else{
			block_hidden.find('a').each(function(){
				if($(this).html().toLowerCase().indexOf(textValue.toLowerCase())==-1){
					$(this).hide();
				}else{
					$(this).show();
				}			
			});
		}
		
		
	});	
};

make_trigger_clear_btn  = function(){
	$('.input_timezone_clear').click(function(){
		$(this).parent().find('.input_timezone_filter').attr('value','');
		$(this).parent().find('.input_timezone_filter').focus();
		var block_hidden= $(this).parent().parent().find('.timezone_dropdown-hidden:first');
		var textValue = $(this).val();
		block_hidden.find('a').each(function(){
			if($(this).html().toLowerCase().indexOf(textValue.toLowerCase())==-1){
				$(this).hide();
			}else{
				$(this).show();
			}			
		});
		
	});
};

init_overlay = function(){
	$("#alert_overlay").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      closeOnClick: false
	  });
	 $("#confirm_overlay").overlay({
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#666',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      closeOnClick: false
	  });
	 var buttons_confirm = $("#confirm_container button").click(function(e) {
			var yes = buttons_confirm.index(this);
		 	if(yes == 1) {
		 		$("#jstree_holder_move").jstree('remove');
		 	}
		});
};

$(document).ready(function(){
	make_trigger_timezone_combobox('timezone_dropdown','timezone_value');
	make_trigger_frequence_combobox('frequence_dropdown','recurring');
	
	make_trigger_general_combobox('monthly_dropdown','day_month');
	make_trigger_general_combobox('reminder_type_dropdown','reminder_type');
	
	make_trigger_add_remove_hotspot();
	make_trigger_search_btn();
	make_trigger_clear_btn();
	initialize_tree('jstree_holder_move','mmenu_move',false);
	init_overlay();
});

</script>
{% endblock %}