{% extends "conferencing/schedule_conferencing.html" %}
{% load i18n %}
{% block conferencing_step %}
<style type="text/css" >
.growlUI { background: transparent;}
.growlUI h1, div.growlUI h2 { color: white; padding: 15px; text-align: left ;font-size: 16px }
.growlUI h2 { font-size: 14px }
</style>


<div class="conferencing_option_main">
	<div class="schedule_largeclear"></div>
	<div class="schedule_hardclear">
		<div class="image_schedule">
			<img src="{{ MEDIA_URL }}schedule/images/schedule_conf_text.png" />
		</div>
		<div class="text_title_conference">
		<a>Please, configure your conference room setup.</a>
		</div>
	</div>
	<div class=schedule_smallclear></div>
	<div class=schedule_tinyclear></div>
	<form action="." method="POST" id="configure_option" >
		<div class="option_container">
		<div class="audio_block">
			<div class="left_detail_block">
				<p class="schedule_label_text">Audio:</p>
			</div>
			<div class="right_detail_block">
			<div class="input_option_holder">
				<p><input type="radio" name="audio" id="audio1" value="voip" {%if not event.is_telephone%}checked="checked"{%endif%}  /><label  class="audio_block_{%if not event.is_telephone%}checked{%else%}uncheck{%endif%}" for="audio1">{% trans "VoIP" %}</label></p>
				<span>Use your webcam, headset, or microphone to talk.</span>
				<div class=schedule_smallclear></div>
				<p><input type="radio" name="audio" id="audio2" value="telephone" {%if event.is_telephone%}checked="checked"{%endif%} /><label  class="audio_block_{%if event.is_telephone%}checked{%else%}uncheck{%endif%}" for="audio2">{% trans "Telephone Bridge" %}</label></p>
				<span>Use a telephone to talk.</span>
				</div>
			
				<div class="phonenumber_talk">
					<p>Dial In: <span>{{ event.creator.get_conference_phonenumber}}</span></p>
					<p>Access Code: <span>{{ event.creator.get_conference_modcode}}</span></p>
				</div>
			</div>
		</div>
		<div class="line-option-divide"></div>
		
		<div class="privacy_block">
			<div class="left_detail_block">
				<p class="schedule_label_text">Privacy:</p>
			</div>
			<div class="right_detail_block">
			<div class="input_option_holder">
				<p><input type="radio" name="privacy" id="privacy1" value="public" {%if not event.private %}checked="checked"{%endif%}  /><label  class="audio_block_{%if not event.private %}checked{%else%}uncheck{%endif%}" for="privacy1">{% trans "Public" %}</label></p>
				<span>The conference will be posted on your profile page.</span>
				<div class=schedule_smallclear></div>
				<p><input type="radio" name="privacy" id="privacy2" value="private" {%if event.private %}checked="checked"{%endif%} /><label  class="audio_block_{%if event.private %}checked{%else%}uncheck{%endif%}" for="privacy2">{% trans "Private" %}</label></p>
				<span>Guest can only join the conference at its unique URL.</span>
				</div>
			
			</div>
		</div>
		<div class="line-option-divide"></div>
		
		<div class="hostoption_block">
			<div class="left_detail_block">
				<p class="schedule_label_text">Host Option:</p>
			</div>
			<div class="right_detail_block">
			<div class="input_option_holder">
				<p><input type="checkbox" name="hostoption" id="hostoption1" value="password_required" {%if event.password_required%}checked="checked"{%endif%}/><label  class="hostoption_block_{%if event.password_required %}checked{%else%}uncheck{%endif%}" for="hostoption1">Require a password for guests to enter the conference.</label></p>
				<div style="height: 20px;margin-top: 8px;""> 
					<div class="privacy_password_title"><span>Password:</span></div>
					<div class="privacy_input_password"><input type="password" name="password_detail" value="{%if event.password_required%}{{event.password_required}}{%endif%}" /> 
					<input style="display:none" type="text" name="password_display" value="{%if event.password_required%}{{event.password_required}}{%endif%}" />
					</div>
					<div class="showpassword"><a>Show password</a></div>
					<div class="errorpassword"><a>(*)</a></div>
					
				</div>
				<div class=schedule_smallclear></div>
				<p><input type="checkbox" name="hostoption" id="hostoption2" value="host_must_present" {%if event.host_must_present%}checked="checked"{%endif%} /><label  class="hostoption_block_{%if event.host_must_present %}checked{%else%}uncheck{%endif%}" for="hostoption2">Host must be present for guests to enter the conference.</label></p>
				<div class=schedule_smallclear></div>
				<p><input type="checkbox" name="hostoption" id="hostoption3" value="guest_have_approval" {%if event.guest_have_approval%}checked="checked"{%endif%}  /><label  class="hostoption_block_{%if event.guest_have_approval %}checked{%else%}uncheck{%endif%}" for="hostoption3">Guest must have host's approval before enter the conference.</label></p>
				<div class=schedule_smallclear></div>
				<p><input type="checkbox" name="hostoption" id="hostoption4" value="host_control_layout"  {%if event.host_control_layout%}checked="checked"{%endif%}   /><label  class="hostoption_block_{%if event.host_control_layout %}checked{%else%}uncheck{%endif%}" for="hostoption4">Host control conference layout for guest.</label></p>
				<div class=schedule_smallclear></div>
				</div>
			
			</div>
		</div>
		
		<div class="line-option-divide"></div>
		<div class="layoutoption_block">
			<div class="left_detail_block">
				<p class="schedule_label_text">Layout:</p>
			</div>
			<div class="right_detail_block">
			<div class="input_option_holder">
				<p><input type="radio" name="layout" id="layout1" value="presentation" {%ifequal event.layout_type "presentation"%}checked="checked"{%endifequal%}   /><label  class="audio_block_{%ifequal event.layout_type "presentation"%}checked{%else%}uncheck{%endifequal%}" for="layout1">Presentation</label></p>
				<p><input type="radio" name="layout" id="layout2" value="meeting"  {%ifequal event.layout_type "meeting"%}checked="checked"{%endifequal%}  /><label  class="audio_block_{%ifequal event.layout_type "meeting"%}checked{%else%}uncheck{%endifequal%}" for="layout2">Meeting</label></p>
				<p><input type="radio" name="layout" id="layout3" value="video"  {%ifequal event.layout_type "video"%}checked="checked"{%endifequal%}  /><label  class="audio_block_{%ifequal event.layout_type "video"%}checked{%else%}uncheck{%endifequal%}" for="layout3">Video Conversation</label></p>
				<p><input type="radio" name="layout" id="layout4" value="webinar"   {%ifequal event.layout_type "webinar"%}checked="checked"{%endifequal%} /><label  class="audio_block_{%ifequal event.layout_type "webinar"%}checked{%else%}uncheck{%endifequal%}" for="layout4">Webinar</label></p>
				<div class=schedule_smallclear></div>
				
				
			</div>
			<div class="layout_conference_thumb">
				<img id="layout_image" style="width:261px;height:151px" src="{{MEDIA_URL}}schedule/images/{%ifequal event.layout_type "presentation"%}presentation{%endifequal%}{%ifequal event.layout_type "meeting"%}meeting{%endifequal%}{%ifequal event.layout_type "video"%}video-convensation{%endifequal%}{%ifequal event.layout_type "webinar"%}webinar{%endifequal%}.png" />
				</div>
			</div>
		</div>
		
		<div class="line-option-divide"></div>
		<div class="guestpermission_block">
			<div class="left_detail_block">
				<p class="schedule_label_text">Guest Permissions:</p>
			</div>
			<div class="right_detail_block">
			<div class="input_option_holder">
				<a class="guest_text">By default, allow guests to:</a>
				<div class=schedule_smallclear></div>
				<p><input type="checkbox" name="guest_permission" id="permission1" value="view_guest_list" {%if event.view_guest_list%}checked="checked"{%endif%}   /><label  class="hostoption_block_{%if event.view_guest_list %}checked{%else%}uncheck{%endif%}" for="permission1">View Guests List</label></p>
				<p><input type="checkbox" name="guest_permission" id="permission2" value="broad_video" {%if event.broadcast_video%}checked="checked"{%endif%}    /><label  class="hostoption_block_{%if event.broadcast_video %}checked{%else%}uncheck{%endif%}" for="permission2">Broadcast Video</label></p>
				<p><input type="checkbox" name="guest_permission" id="permission3" value="broad_audio"  {%if event.broadcast_audio%}checked="checked"{%endif%}   /><label  class="hostoption_block_{%if event.broadcast_audio %}checked{%else%}uncheck{%endif%}" for="permission3">Broadcast Audio</label></p>
				<p><input type="checkbox" name="guest_permission" id="permission4" value="chat_with_host" {%if event.chat_with_host%}checked="checked"{%endif%}    /><label  class="hostoption_block_{%if event.chat_with_host %}checked{%else%}uncheck{%endif%}" for="permission4">Chat With Host</label></p>
				<p><input type="checkbox" name="guest_permission" id="permission5" value="chat_with_guest" {%if event.chat_with_guest%}checked="checked"{%endif%}   /><label  class="hostoption_block_{%if event.chat_with_guest %}checked{%else%}uncheck{%endif%}" for="permission5">Chat With Guests</label></p>
				</div>
			
			</div>
		</div>
		<div class="line-option-divide"></div>
		 <div class="action_option_block" style="padding-left:130px;border:none">
		<input onclick="reset_default();" type="button" class="schedule_btn_reset_option" style="margin-right:10px" value="Reset Defaults" />
		<input onclick="save_default();" type="button" class="schedule_btn_reset_option" value="Save as Default" />
		</div>
		<div class="schedule_mediumclear"></div>
	</div>
	</form>
			<div class=schedule_mediumclear></div>
<div class="navigation_button">
<button class="schedule_btn_263x45" style="float:right;" onclick="submit_configure_form();">Create</button>
<button class="schedule_btn_263x45" style="float:right;margin-right:10px;" onclick="javascript:window.location='{{back_url}}';">Cancel</button>

</div>
<div class="schedule_mediumclear" style="height:200px;"></div>
</div>

<script type="text/javascript">
submit_configure_form = function(){
	var value = true;
	$('input[name="hostoption"]:checked').each(function(){
		if($(this).val() == 'password_required'&& $('input[name="password_detail"]:first').val() == ''){
			
			$('.errorpassword').show();
			
			$('body,html').animate({
				scrollTop: 300
			}, 1000);
			$('input[name="password_detail"]:first').focus();
			value = false;
		}
	});
	if(!value) return false;
	$('#configure_option').submit();
}
reset_default = function(){
	$.ajax({
		url:'{%url get_configure_default%}',
		type:'GET',
		dataType:'json',
		success:function(result){
			var form = $('#configure_option');
			// reset telephone 
			if(result.is_telephone ==1)
			{
				form.find('input[name="audio"]');
				form.find('input[name="audio"]').each(function(){
					if($(this).val() == 'telephone'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('audio_block_checked');
					}else{
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('audio_block_uncheck');
					}
				});
			}
			else 
			{
				form.find('input[name="audio"]');
				form.find('input[name="audio"]').each(function(){
					if($(this).val() == 'voip'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('audio_block_checked');
					}else{
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('audio_block_uncheck');
					}
				});
			}
			// reset public 
			if(result.private ==1)
			{
				form.find('input[name="privacy"]');
				form.find('input[name="privacy"]').each(function(){
					if($(this).val() == 'private'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('audio_block_checked');
					}else{
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('audio_block_uncheck');
					}
				});
			}
			else 
			{
				form.find('input[name="privacy"]');
				form.find('input[name="privacy"]').each(function(){
					if($(this).val() == 'public'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('audio_block_checked');
					}else{
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('audio_block_uncheck');
					}
				});
			}
			
			
			// reset hostoption
			var hostoption = form.find('input[name="hostoption"]');
			if(result.password_required==null){
				hostoption.each(function(){
					if($(this).val() == 'password_required'){
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_uncheck');
					}
				});
				form.find('input[name="password_detail"]').attr('value','');
				form.find('input[name="password_display"]').attr('value','');
				
			}else{
				hostoption.each(function(){
					if($(this).val() == 'password_required'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_checked');
					}
				});
				form.find('input[name="password_detail"]').attr('value',result.password_required);
				form.find('input[name="password_display"]').attr('value',result.password_required);
			}
			
			if(result.host_must_present==1){
				hostoption.each(function(){
					if($(this).val() == 'host_must_present'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_checked');
					}
				});
				
			}else{
				hostoption.each(function(){
					if($(this).val() == 'host_must_present'){
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_uncheck');
					}
				});
			}
			
			
			if(result.guest_have_approval==1){
				hostoption.each(function(){
					if($(this).val() == 'guest_have_approval'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_checked');
					}
				});
				
			}else{
				hostoption.each(function(){
					if($(this).val() == 'guest_have_approval'){
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_uncheck');
					}
				});
			}
			
			if(result.host_control_layout==1){
				hostoption.each(function(){
					if($(this).val() == 'host_control_layout'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_checked');
					}
				});
				
			}else{
				hostoption.each(function(){
					if($(this).val() == 'host_control_layout'){
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_uncheck');
					}
				});
			}
			
				
			form.find('input[name="layout"]').each(function(){
				if($(this).val() == result.layout_type){
					$(this).attr('checked','checked');
					$(this).parent().find('label').removeClass().addClass('audio_block_checked');
					
					if(result.layout_type == 'presentation')
						$('#layout_image').attr('src','{{MEDIA_URL}}schedule/images/presentation.png');
					else if(result.layout_type == 'meeting')
						$('#layout_image').attr('src','{{MEDIA_URL}}schedule/images/meeting.png');
					else if(result.layout_type == 'video')
						$('#layout_image').attr('src','{{MEDIA_URL}}schedule/images/video-convensation.png');
					else if(result.layout_type == 'webinar')
						$('#layout_image').attr('src','{{MEDIA_URL}}schedule/images/webinar.png');
					
				}else{
					$(this).removeAttr('checked');
					$(this).parent().find('label').removeClass().addClass('audio_block_uncheck');
				}
			});
			
		var guest_permission = form.find('input[name="guest_permission"]');
			if(result.view_guest_list==1){
				
				guest_permission.each(function(){
					if($(this).val() == 'view_guest_list'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_checked');
					}
				});
				
			}else{
				guest_permission.each(function(){
					if($(this).val() == 'view_guest_list'){
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_uncheck');
					}
				});
			}
			
			if(result.broadcast_video==1){
				
				guest_permission.each(function(){
					if($(this).val() == 'broad_video'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_checked');
					}
				});
				
			}else{
				guest_permission.each(function(){
					if($(this).val() == 'broad_video'){
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_uncheck');
					}
				});
			}
			
			
			if(result.broadcast_audio==1){
				guest_permission.each(function(){
					if($(this).val() == 'broad_audio'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_checked');
					}
				});
				
			}else{
				guest_permission.each(function(){
					if($(this).val() == 'broad_audio'){
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_uncheck');
					}
				});
			}	
			
		if(result.chat_with_host==1){
				
				guest_permission.each(function(){
					if($(this).val() == 'chat_with_host'){
						$(this).attr('checked','checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_checked');
					}
				});
				
			}else{
				guest_permission.each(function(){
					if($(this).val() == 'chat_with_host'){
						$(this).removeAttr('checked');
						$(this).parent().find('label').removeClass().addClass('hostoption_block_uncheck');
					}
				});
			}	
			
		if(result.chat_with_guest==1){
			
			guest_permission.each(function(){
				if($(this).val() == 'chat_with_guest'){
					$(this).attr('checked','checked');
					$(this).parent().find('label').removeClass().addClass('hostoption_block_checked');
				}
			});
			
		}else{
			guest_permission.each(function(){
				if($(this).val() == 'chat_with_guest'){
					$(this).removeAttr('checked');
					$(this).parent().find('label').removeClass().addClass('hostoption_block_uncheck');
				}
			});
		}	
			
		$.growlUI('Reset configuration to default successful'); 	
		}
	});
};

save_default = function(){
	var params_data = '';
	var form = $('#configure_option');
	
	params_data += 'audio='+form.find('input[name="audio"]:checked').val();
	params_data += '&privacy='+form.find('input[name="privacy"]:checked').val();
	form.find('input[name="hostoption"]:checked').each(function(){
		params_data += '&hostoption='+$(this).val();
	});
	params_data += '&password_detail='+form.find('input[name="password_detail"]').val();
	params_data += '&layout='+form.find('input[name="layout"]:checked').val();
	form.find('input[name="guest_permission"]:checked').each(function(){
		params_data += '&guest_permission='+$(this).val();
	});
	
	$.ajax({
		url:'{%url update_configure_default%}',
		type:'POST',
		data:params_data,
		success:function(result){
			if(result == 'success')
				$.growlUI('Saved configuration as default successful'); 		
		}
	});
};

$(document).ready(function(){
	
	
	$('.showpassword').click(function(){
		$('.privacy_input_password').find('input').toggle();
		var that = $(this).find('a:first');
		if(that.html() == 'Show password'){
			that.html('Hide password');
		}else{
			that.html('Show password');
		}
	});
	$('.privacy_input_password').find('input').keyup(function(){
		var value = $(this).val();
		$(this).parent().find('input').attr('value', value);
	});
	
	
	
	 $('.input_option_holder label').click(function(){
			if($(this).hasClass('hostoption_block_checked')) {
				$(this).removeClass('hostoption_block_checked');
				$(this).addClass('hostoption_block_uncheck');
				$(this).parent().find('input:first').attr('checked',true);
			}else if($(this).hasClass('hostoption_block_uncheck')) {
				$(this).removeClass('hostoption_block_uncheck');
				$(this).addClass('hostoption_block_checked');
				$(this).parent().find('input:first').attr('checked',false);
			}else{
				$(this).parent().parent().find('label').removeClass('audio_block_checked').addClass('audio_block_uncheck');
				$(this).removeClass().addClass('audio_block_checked');
				$(this).parent().find('input:first').attr('checked',true);
				if($(this).parent().find('input:first').attr('name') == 'layout'){
					if($(this).parent().find('input:first').val() == 'presentation')
						$('#layout_image').attr('src','{{MEDIA_URL}}schedule/images/presentation.png');
					else if($(this).parent().find('input:first').val() == 'meeting')
						$('#layout_image').attr('src','{{MEDIA_URL}}schedule/images/meeting.png');
					else if($(this).parent().find('input:first').val() == 'video')
						$('#layout_image').attr('src','{{MEDIA_URL}}schedule/images/video-convensation.png');
					else if($(this).parent().find('input:first').val() == 'webinar')
						$('#layout_image').attr('src','{{MEDIA_URL}}schedule/images/webinar.png');
				}
				
			}
		 });
});



</script>

{% endblock %}