{% load i18n %}
{% load conference_tags %}
<div class="search_conferences" style="margin-top: 28px;">
	<div class="search_section">
        <div class="searchbg" style="float: right;">
            <form action="." method="get">
               	<div style="float: right;">
               		<input type="button" class="new_schedule_search_close"  />
               	</div>
               	<div style="float: right;">
               		<input type="submit" id="button" value="" class="new_schedule_search_btn" />
               	</div>
               	<div style="float: right; width:180px;">
                	<input type="text" name="q" id="textfield" class="new_schedule_search_textbox" value="{% if query_string %}{{ query_string  }}{% else %}{% trans 'Search' %}{% endif %}"  maxlength="250"
						onfocus="{% if not query_string %}if(this.value == 'Search') {this.value = '';}{% endif %}" onblur="{% if not query_string %}if (this.value == '') {this.value = 'Search';}{% endif %}"/>
               	</div>
               	<input type="hidden" name="folder" value="{{ current_folder.id }}" />
            </form>
        </div>
        <div style="float: right;padding-top: 7px; margin-right: 8px;">
			<a id="search_toggle" style="font-size: 13px;" class="search_link">Advanced Search</a>
		</div>
	</div>
	<div style="clear: both;"></div>
		<div class="filter_section" style="margin-top: 3px; display: none;">
			<form id="form_filter" action="." method="get">
				<table class="search_type_tbl" border="0" cellspacing="0" cellpadding="0" style="float: left; width: 465px;">
					<tr class="search_conference_title">
						<td style="padding: 7px;" colspan="2">Filter</td>
					</tr>
					<tr>
						<td colspan="2" style="padding-top:7px; padding-bottom: 7px; padding-left: 8px; background-color: #fff;"><span style="font-size: 14px;">Select:</span>&nbsp;&nbsp;<a onclick="javascript:toggle_all_type('all');" style="font-size: 14px;" class="search_link">ALL</a>&nbsp;&nbsp;<span style="font-size: 14px; font-weight: bold;">&#124;</span>&nbsp;&nbsp;<a onclick="javascript:toggle_all_type('not_all');" style="font-size: 14px;" class="search_link">None</a></td>
					</tr>
					<tr>
						<td>
		        			<p>
								<input type="checkbox" name="type" id="checkbox1" value="scheduled" {% ifequal type "all" %}checked="checked"{% else %}{% ifextra "scheduled" in type %}checked="checked"{% endifextra %}{% endifequal %} />
		        				<label class="schedule_type_{% ifequal type "all" %}checked{% else %}{% ifextra "scheduled" in type %}checked{% else %}uncheck{% endifextra %}{% endifequal %}" for="checkbox1">{% trans "Scheduled" %}</label>
		        			</p>
						</td>
						<td>
							<p>
								<input type="checkbox" name="type" id="checkbox2" value="private" {% ifequal type "all" %}checked="checked"{% else %}{% ifextra "private" in type  %}checked="checked"{% endifextra %}{% endifequal %}/>
		        				<label class="schedule_type_{% ifequal type "all" %}checked{% else %}{% ifextra "private" in type  %}checked{% else %}uncheck{% endifextra %}{% endifequal %}" for="checkbox2">{% trans "Private" %}</label>
		        			</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>
								<input type="checkbox" name="type" id="checkbox3" value="completed" {% ifequal type "all" %}checked="checked"{% else %}{% ifextra "completed" in type %}checked="checked"{% endifextra %}{% endifequal %}/>
		       					<label class="schedule_type_{% ifequal type "all" %}checked{% else %}{% ifextra "completed" in type  %}checked{% else %}uncheck{% endifextra %}{% endifequal %}" for="checkbox3">{% trans "Completed" %}</label>
		        			</p>
						</td>
						<td>
							<p>
								<input type="checkbox" name="type" id="checkbox4" value="public" {% ifequal type "all" %}checked="checked"{% else %}{% ifextra "public" in type  %}checked="checked"{% endifextra %}{% endifequal %}/>
		        				<label class="schedule_type_{% ifequal type "all" %}checked{% else %}{% ifextra "public" in type  %}checked{% else %}uncheck{% endifextra %}{% endifequal %}" for="checkbox4">{% trans "Public" %}</label>
		       				</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>
							
								<input type="checkbox" name="type" id="checkbox5" value="recorded" {% ifequal type "all" %}checked="checked"{% else %}{% ifextra "recorded" in type  %}checked="checked"{% endifextra %}{% endifequal %}/>
		        				<label class="schedule_type_{% ifequal type "all" %}checked{% else %}{% ifextra "recorded" in type %}checked{% else %}uncheck{% endifextra %}{% endifequal %}" for="checkbox5">{% trans "Recorded" %}</label>
								
								
		        			</p>
						</td>
						<td>
							<p>
								<input type="checkbox" name="type" id="checkbox6" value="unflagged" {% ifequal type "all" %}checked="checked"{% else %}{% ifextra "unflagged" in type  %}checked="checked"{% endifextra %}{% endifequal %}/>
		        				<label class="schedule_type_{% ifequal type "all" %}checked{% else %}{% ifextra "unflagged" in type  %}checked{% else %}uncheck{% endifextra %}{% endifequal %}" for="checkbox6">{% trans "Unflagged" %}</label>
		        			</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="padding-bottom: 19px;">
								<input type="checkbox" name="type" id="checkbox7" value="recurring" {% ifequal type "all" %}checked="checked"{% else %}{% ifextra "recurring" in type  %}checked="checked"{% endifextra %}{% endifequal %}/>
		        				<label class="schedule_type_{% ifequal type "all" %}checked{% else %}{% ifextra "recurring" in type %}checked{% else %}uncheck{% endifextra %}{% endifequal %}" for="checkbox7">{% trans "Recurring" %}</label>
								
		        			</p>
						</td>
						<td>
							<p style="padding-bottom: 19px;">
								<input type="checkbox" name="type" id="checkbox8" value="flagged" {% ifequal type "all" %}checked="checked"{% else %}{% ifextra "flagged" in type  %}checked="checked"{% endifextra %}{% endifequal %}/>
		        				<label class="schedule_type_{% ifequal type "all" %}checked{% else %}{% ifextra "flagged" in type  %}checked{% else %}uncheck{% endifextra %}{% endifequal %}" for="checkbox8">{% trans "Flagged" %}</label>
		        			</p>
						</td>
					</tr>
				</table>
				<table class="search_time_tbl" style="float: right; width: 230px;" cellspacing="0" cellpadding="0">
					<tr class="search_conference_title">
						<td style="padding: 7px;" colspan="2">Date Created</td>
					</tr>
					<tr>
						<td>
							<p>
								<input type="radio" name="time" id="radio1" value="anytime" {% ifequal time "anytime" %}checked="checked"{% endifequal %} />
		        				<label class="schedule_time_{% ifequal time "anytime" %}checked{% else %}uncheck{% endifequal %}" for="radio1">{% trans "Any Time" %}</label>
		        			</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>
								<input type="radio" name="time" id="radio2" value="next24" {% ifequal time "next24" %}checked="checked"{% endifequal %}/>
		        				<label class="schedule_time_{% ifequal time "next24" %}checked{% else %}uncheck{% endifequal %}" for="radio2">{% trans "Next 24 hours" %}</label>
		        			</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>
								<input type="radio" name="time" id="radio3" value="nextweek" {% ifequal time "nextweek" %}checked="checked"{% endifequal %}/>
		        				<label class="schedule_time_{% ifequal time "nextweek" %}checked{% else %}uncheck{% endifequal %}" for="radio3">{% trans "Next Week" %}</label>
		        			</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>
								<input type="radio" name="time" id="radio4" value="nextmonth" {% ifequal time "nextmonth" %}checked="checked"{% endifequal %} />
		        				<label class="schedule_time_{% ifequal time "nextmonth" %}checked{% else %}uncheck{% endifequal %}" for="radio4">{% trans "Next Month" %}</label>
		        			</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>
								<input type="radio" name="time" id="radio5" value="next2month" {% ifequal time "next2month" %}checked="checked"{% endifequal %}/>
		        				<label class="schedule_time_{% ifequal time "next2month" %}checked{% else %}uncheck{% endifequal %}" for="radio5">{% trans "Next 2 Months" %}</label>
		        			</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>
								<input type="radio" name="time" id="radio6" value="nextyear" {% ifequal time "nextyear" %}checked="checked"{% endifequal %}/>
		        				<label class="schedule_time_{% ifequal time "nextyear" %}checked{% else %}uncheck{% endifequal %}" for="radio6">{% trans "Next Year" %}</label>
		        			</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>
								<input type="radio" name="time" id="radio7" value="custom" {% ifequal time "custom" %}checked="checked"{% endifequal %}/>
		        				<label class="schedule_time_{% ifequal time "custom" %}checked{% else %}uncheck{% endifequal %}" for="radio7">{% trans "Custom Range" %}</label>
		        			</p>
						</td>
					</tr>
				</table>
				<input type="hidden" name="filter" value="Filter" />
				<input name="folder"  type="hidden" value="{{ current_folder.id }}"/>
			</form>
			<div style="clear: both; float: right;">
				<button id="btn_reset_search" class="btn_search_conference" style="margin-right: 2px;">Reset</button><button id="btn_search_conference" class="btn_search_conference">Search</button>
			</div>
			<div style="clear: both; width: 100%; padding-top: 10px;">
				<img alt="" src="{{ MEDIA_URL }}schedule/images/purple_line.png">
			</div>
			<button id="show_custom_time" rel="#search_conference_container" style="display: none;"></button>
			<div class="modal_search_conference" id="search_conference_container">
				<div class="conference_overlay_header">
					Custom Range
				</div>
				<div>
					<table border="0" style="width: 100%;" cellspacing="0" cellspacing="0">
						<tr align="center"><td style="padding-top: 12px;" class="model_conference_title">Search for conferences between the specified dates.</td></tr>
						<tr><td style="padding-top:20px;"></td></tr>
						<tr align="center" style="font-size: 14px;">
							<td><span style="margin-right: 20px;">Start</span><input class="txt_search_time" type="text" id="from_time" value="{{ from_time|date:"m/j/Y" }}"/><span style="margin-left: 20px; margin-right: 20px;">End</span><input class="txt_search_time" type="text" id="to_time" value="{{ to_time|date:"m/j/Y" }}"/></td>
						</tr>
						
						<tr align="center"><td style="padding-top: 30px; padding-bottom: 20px;"><button class="btn_search_conference_modal close">Cancel</button>&nbsp;<button class="btn_search_conference_modal close">Okay</button></td></tr>
					</table>
				</div>
			</div>
		</div>
	<div id="fake_form">
		<input name="from_time" type="hidden" />
		<input name="to_time" type="hidden" />
	</div>
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">

//===============================================
//	SELECT ALL OR NOT ALL TYPE
//	PARAMETER: type is "all" or "not_all"
//=============================================== 
function toggle_all_type(type) {
	if(type == 'not_all') {
		$('.search_type_tbl input:checkbox').each(function(){
			if($(this).attr('checked'))
				$(this).attr('checked', false);
			var $lbl_type = $(this).parent().find('label:first');
			if($lbl_type.hasClass('schedule_type_checked')) {
				$lbl_type.removeClass('schedule_type_checked').addClass('schedule_type_uncheck');
			}
		});
	} else {
		$('.search_type_tbl input:checkbox').each(function(){
			if(!$(this).attr('checked'))
				$(this).attr('checked', true);
			var $lbl_type = $(this).parent().find('label:first');
			if($lbl_type.hasClass('schedule_type_uncheck')) {
				$lbl_type.removeClass('schedule_type_uncheck').addClass('schedule_type_checked');
			}
		});
	}
}

//============== RESET SEARCH TIME: ANYTIME RADIO CHECKED =================
function reset_search_time() {
	$('.search_time_tbl label').each(function(){
		if($(this).hasClass('schedule_time_checked')) {
			$(this).removeClass('schedule_time_checked').addClass('schedule_time_uncheck');
			// exit loop query
			return false;
		}
	});
	
	// anytime radio checked
	$('#radio1').attr('checked', true).parent().find('label').removeClass('schedule_time_uncheck').addClass('schedule_time_checked');
}
$(document).ready(function(){
	
	//============ SHOW OR HIDE FILTER SECTION AFTER FILTERING ============
	if('{{is_filtered}}' == 'True') {
		$('.filter_section').show();
	}else {
		$('.filter_section').hide();
	}
	
	//========================= CHECKBOX TYPE =============================
	$('.search_type_tbl label').click(function(){
		if($(this).hasClass('schedule_type_checked')) {
			$(this).removeClass('schedule_type_checked').addClass('schedule_type_uncheck');
			$(this).parent().find('input:first').attr('checked', true);
		}else {
			$(this).removeClass('schedule_type_uncheck').addClass('schedule_type_checked');
			$(this).parent().find('input:first').attr('checked', false);
		}
	});
	
	//========================== RADIO TIME ==============================
	$('.search_time_tbl label').click(function(){
		$('.search_time_tbl label').each(function(){
			if($(this).hasClass('schedule_time_checked')) {
				$(this).removeClass('schedule_time_checked').addClass('schedule_time_uncheck');
				return false;
			}
		});
		$(this).removeClass('schedule_time_uncheck').addClass('schedule_time_checked');
		if($(this).parent().find('input:first').attr('id') == 'radio7') {
			$('#show_custom_time').click();
		}
	});
	$('#from_time').datepicker({showOn: 'both', buttonImage: '{{ MEDIA_URL }}schedule/images/calendar-icon.png', buttonImageOnly: true, buttonText: 'Please choose a Date'});
	$('#to_time').datepicker({showOn: 'both', buttonImage: '{{ MEDIA_URL }}schedule/images/calendar-icon.png', buttonImageOnly: true, buttonText: 'Please choose a Date'});
	$(".ui-datepicker-trigger").mouseover(function() {
		$(this).css('cursor', 'pointer');
	});
	
	//========================= OVERLAY ===================================
	$("#show_custom_time").overlay({
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#666',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      closeOnClick: false
	  });
	
	//======================== CANCEL CUSTOM RANGE ========================
	var buttons_custom = $("#search_conference_container button").click(function(e) {
		var yes = buttons_custom.index(this);
		// Cancel custom range
	 	if(yes == 0) {
	 		reset_search_time();
	 	}
	});
	
	//========================= SEARCH CONFERENCE BUTTON ===================
	$('#btn_search_conference').click(function(){
		// radio7: radio custom
		if($('#radio7').attr('checked')) {
			$('#fake_form input[name="from_time"]').val($('#from_time').val());
			$('#fake_form input[name="to_time"]').val($('#to_time').val());
			$('#form_filter').append($('#fake_form'));
		}
		$('#form_filter').submit();
	});
	
	//=================== RESET SEARCH CONFERENCE BUTTON ==================
	$('#btn_reset_search').click(function(){
		toggle_all_type('all');
		reset_search_time();
	});
	
	//==================== BASIC OR ADVANCED SEARCH =======================
	$('#search_toggle').click(function(){
		if($(this).html() == 'Advanced Search') {
			$(this).html('Basic Search');
		}else $(this).html('Advanced Search');
		$('.filter_section').slideToggle();
	});
});
</script>