{% extends "newer_base.html" %}
{% load scheduletags %}
{% block content %}
{% include "gwt-utils/utils.html" %}

<div class="iebackground">
<div  class="wizardbgmain" style="height: 600px;">

<div style="font-size: 14px; margin-left: 10px; margin-top: 20px;">
		<a style="margin-top: 20px;"><span style="font-size: 24px;color: #750998;float: left;">Send Invitation: &nbsp;&nbsp;</span><span class="title_step_name" style="font-size: 24px;">{{ event.title }}</span></a>
	</div>
<div class="send_invite_content">
<div class="wizard_title">
<a style="float:left;padding-top:5px;font-weight: bold;font-size:13px;">Enter e-mail addresses, contacts, or contact folders.</a>

</div>
<div style="float: left;width: 100%;margin:10px;">
<table>
<tr>
<td><a style="font-weight: bold;font-size:13px;">To:</a></td>
<td>
<div class="ui-widget">
<input class="contact_complete" type="text" id="To_Address" style="color: #888888;font: 12px Arial,Helvetica,sans-serif;width:600px;height:25px;clear:right;margin-right:20px;border:#e3e3e3 solid 1px;" {% if to_emails %}value="{{to_emails}}"{% endif %}">
</div>
</td>
<td><button class="wizard small_long_button" onclick="showNCTDialog('To');" >Address Book</button></td>

</tr>
<tr>
<td><a id="addCC" class="wizard normaltext">Add Cc </a></td>
<td><a id="addBCC" class="wizard normaltext"><span id="vertical_slash">|</span> Add Bcc</a></td>
</tr>
<tr style="display:none;">
<td><a style="font-weight: bold;font-size:13px;">Cc:</a></td>
<td>
<input class="contact_complete" type="text" id="Cc_Address"  style="color: #888888;font: 12px Arial,Helvetica,sans-serif;width:600px;height:25px;margin-right:20px;border:#e3e3e3 solid 1px;" ></td>
<td><button  class="wizard small_long_button" onclick="showNCTDialog('Cc');" >Address Book</button></td>
</tr>
<tr style="display:none;">
<td><a style="font-weight: bold;font-size:13px;">Bcc:</a></td>
<td>
<input class="contact_complete" type="text" id="Bcc_Address" style="color: #888888;font: 12px Arial,Helvetica,sans-serif;width:600px;height:25px;margin-right:20px;border:#e3e3e3 solid 1px;" ></td>
<td><button class="wizard small_long_button" onclick="showNCTDialog('Bcc');" >Address Book</button></td>
</tr>
<tr>
<td><a style="font-weight: bold;font-size:13px;">Subject:</a> </td>
<td><input type="text" id="subjectVmailId"  style="width:600px;height:30px;color: #888888;font: 12px Arial,Helvetica,sans-serif;border:#e3e3e3 solid 1px;" value="{{ event.title }}" ></td>
</tr>
</table>

</div>
<div style="padding:10px;clear:both;">
<p style="font-weight: bold;font-size:13px;">Email Message:</p>
<div id="emailMessageEditorContainer">
<textarea id="emailMessageEditor" name="elm1" rows="40" cols="150" style="width:100%;height:200px;" class="tinymce">{{ event.description }}</textarea>
</div>
<input type="hidden" id="urlhash" value="{{ urlhash }}" />


</div>



<div style="margin-top:20px;clear:both;width:100%">
		
	<input style="float:right;margin-right:20px;font-size: 22px;" type="button" onclick="send_invite_conference();" value="Send" class="wizard button">
	<input style="float:right;margin-right:10px;font-size: 22px;" type="button" onclick="javascript:window.location='{% reverse_link_from_hash "s_event" event %}';" value="Back" class="wizard button">
	</div>
	
	
</div>

</div>
</div>
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}vmail/tiny_mce/jquery.tinymce.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	$('#emailMessageEditor').tinymce({
		script_url : '{{ MEDIA_URL }}vmail/tiny_mce/tiny_mce.js',
		theme : "advanced",
		plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,advlist",
		// Theme options
		theme_advanced_buttons1 : "bold,italic,underline,strikethrough,forecolor,backcolor,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect",
		theme_advanced_buttons2 : "",
		theme_advanced_buttons3 : "",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		content_css : "{{ MEDIA_URL }}vmail/tiny_mce/recipient.css",
	});
});
</script>


{% endblock %}