{% load i18n %}
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	{% for e in emails %}
	<tr class="tr_invitaion">
		<td align="left">
			{% if e.name %}<a style="text-decoration: underline; cursor: pointer;">{{ e.name }}</a>&nbsp;&#60;<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>&#62;{% else %}<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>{% endif %}
			<img class="invitation_action" alt="" src="{{ MEDIA_URL }}schedule/images/purple_down.png" style="visibility: hidden; position: absolute; z-index: 100;">
			<div class="inivation_sub_menu">
				<a class="resend_invitation">Resend Invitation</a>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>