{% load i18n %}

{% for folder in folder_list %}
{% if folder.is_root %}
<div style="margin-top:8px;float:left;">
<a href="/files/?folder={{ folder.id }}"><img src="/site_media/jstree/images/root_folder.png" /></a>
</div>
{% else %}
<div style="float:left;padding-top:12px;margin-right:5px;">
<img src="/site_media/files/images/arrow-goto.png" />
<a href="/files/?folder={{ folder.id }}" class="folder_title_a" {%if forloop.last%}style="color:#750998!important"{% endif%}>{{ folder.name }}</a>
</div>
{% endif %}
{% endfor %}

<style>
a.folder_title_a{margin-left:5px;font:12px Arial;color:#585858}
a.folder_title_a:hover{color:#750998!important}
</style>