<a class="schedule_list_head_title" style="color:white;display:block" href="./?sort_by={% if visible_name %}{{visible_name}}{% else %}{{ sort_field }}{% endif %}{{ extra_vars }}">{% load i18n %}
{% ifequal link_text "Flag" %}	<img src="{{MEDIA_URL}}files/images/white_flag.png"/>
 {% else %}{{ link_text }}{% endifequal %}
 
 {% if not sort_active %}
{% ifequal link_text "Last Modified" %}
 <img style="width:8px;padding-top:5px;float:right;margin-right:4px" 
 		src="{{ MEDIA_URL }}schedule/images/icon_drop_down.png" alt="{% trans "Descending" %}" />
 		{% endifequal %}
 {% else %}
 		{% ifequal sort_order 'down' %}<img style="width:8px;padding-top:5px;float:right;margin-right:4px" 
 		src="{{ MEDIA_URL }}schedule/images/icon_drop_down.png" alt="{% trans "Descending" %}" />{% endifequal %}
 		{% ifequal sort_order 'up' %}<img style="width:8px;padding-top:5px;float:right;margin-right:4px" 
 		src="{{ MEDIA_URL }}schedule/images/icon_drop_up.png" alt="{% trans "Ascending" %}"  />{% endifequal %}
 {% endif %}
</a>
