<a href="./?sort_by={% if visible_name %}{{visible_name}}{% else %}{{ sort_field }}{% endif %}{{ extra_vars }}">{% load i18n %}
{{ link_text }}{% ifequal sort_order 'down' %}<img src="{{ MEDIA_URL }}new/images/down_arrowicon.png" alt="{% trans "Descending" %}" />{% else %}<img src="{{ MEDIA_URL }}new/images/up_arrowicon.png" alt="{% trans "Ascending" %}"  />{% endifequal %}
</a>
