{% load i18n %}
{% load scheduletags %}
{% load timezone_filters %}
<html>
<head>
<style type="text/css">
.background_bg{
  /* Safari 4-5, Chrome 1-9 */
  width:100%;height:100%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#750a98), to(#1b0627));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #750a98, #1b0627);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #750a98, #1b0627);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #750a98, #1b0627);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #750a98, #1b0627);
}
.email_content{width:640px;height:auto;margin-left:auto;margin-right:auto;}
.invi_header{background:url('http://{{site}}/site_media/schedule/images/email/header.png') 0 0 no-repeat;width:640px;height:88px;}
.invi_body{background:url('http://{{site}}/site_media/schedule/images/email/middle.png') 0 0 repeat-y;width:640px;height:auto;}
.invi_footer{background:url('http://{{site}}/site_media/schedule/images/email/footer.png') 0 0 no-repeat;width:640px;height:41px;}
.invi_divide{background:url('http://{{site}}/site_media/schedule/images/email/line-divide.png') 0 10px no-repeat;width:433px;margin-left:110px;height:12px;clear:both;}
.clear_small{width:100%;height:15px;clear:both;}
.anouncement{width:600px;margin-left:80px;clear:both;}
.anouncement p{color:#595959;font:24px Arial;line-height: 10px;}
.anouncement span{color:#750998}
.schedule_subblock_left{width: 180px;float: left;height: 100%;}
.schedule_leftblock_label{float: right;color: #595959;margin-top:5px;font: 14px Arial;}
.schedule_row{width: 450px;margin-left: 50px;height:15px;float: left;clear: both;margin-top:10px}
.schedule_block_holder{width: 100%;height: auto;float: left;clear: both;margin-top:0px;margin-bottom:10px}
.right_detail_block{float:left;height:100%;}
.schedule_block_holder p{line-height: 10px;color:#595959;margin-top:0;font: 13px Arial;}
.event_personal_message{width:500px;color:#595959;font:13px Arial;clear:both;margin-left:80px;}
.advertisement{width:480px;margin-left:80px;margin-top:80px;height:50px;font:13px Arial;color:#8c8c8c}
.advertisement p{line-height: 5px;}
.copyright{width:480px;margin-left:80px;margin-top:60px;height:50px;font:12px Arial;font-style:italic;color:#8c8c8c}
</style>
</head>

<body>
<div style="width:100%;min-height:500px;height:auto" class="background_bg">
	<div class="email_content">
		<div class="invi_header">
	
		</div>
		
		<div class="invi_body">
			<div class="invi_divide"></div>
			<div class="clear_small"></div>
			<div class="anouncement">
				<p>You have been invited to a Netconference</p>
					<p>by <span>{% if event.creator.get_profile.name %}{{ event.creator.get_profile.name }}{% else %}{{ event.creator }}{% endif %}:</span></p>
			</div>
			
			<div class="timezone_block">
				<div class="schedule_block_holder">
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Start:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<p>{{ event.start|localtime:event.timezone.value|date:"l, m/d/Y h:i A" }}</p>
						</div>
						 
						 
						 
					</div>
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">End:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<p>{{ event.end|localtime:event.timezone.value|date:"l, m/d/Y h:i A" }}</p>
						</div>
					</div>
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Time Zone:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<p>{{ event.timezone.title }}</p>
						</div>
					</div>
				</div>
				
				{%for extra_tz in extra_timezones %}
				<div class="schedule_block_holder"  style="margin-bottom:0px">
					<div class="invi_divide"></div>	
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Start:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<p>{{ event.start|localtime:extra_tz.timezone.value|date:"l, m/d/Y h:i A" }}</p>
						</div>
						
					</div>
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">End:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<p>{{ event.end|localtime:extra_tz.timezone.value|date:"l, m/d/Y h:i A" }}</p>
						</div>
					</div>
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Time Zone:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<p>{{ extra_tz.timezone.title }}</p>
						</div>
					</div>
				</div>		
				{%endfor%}		
				<div class="schedule_block_holder">
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Title:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<p>{{ event.title }}</p>
						</div>
					</div>
					{%if is_guest%}
						{%ifequal attendee.status "not_defined"%}
					<div class="schedule_row">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label" style="margin-top:2px;">RSVP:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<a href="http://{{site}}/conferencing/attendee/status/?code={{rsvp.yes}}" style="text-decoration: underline;color:#750998;margin-right:10px;font: 13px Arial">YES</a>
							<a href="http://{{site}}/conferencing/attendee/status/?code={{rsvp.no}}" style="text-decoration: underline;color:#750998;margin-right:10px;font: 13px Arial">NO</a>
							<a href="http://{{site}}/conferencing/attendee/status/?code={{rsvp.maybe}}" style="text-decoration: underline;color:#750998;margin-right:10px;font: 13px Arial">MAYBE</a>
						</div>
					</div>
						{%endifequal%}
					{%endif%}
				</div>		
				
				<div class="invi_divide"></div>	
					
			</div>
			<div class="event_detail">
			<p style="color:#595959;font: 13px Arial;font-weight: bold;margin-left:80px;line-height: 20px;margin-bottom:5px;">Ways to Join the Conference:</p>
				<div class="schedule_block_holder">
					<div class="schedule_row" style="width:540px;height:30px;">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Direct Link:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px;width:340px;">
							<a style="text-decoration:underline;color:#750998" href="http://{{site}}{{event.get_conference_url}}"><p style="word-wrap: break-word;color:#750998">http://{{site}}{%prevent_longstring event.get_conference_url%}</p></a>
						</div>
						
					</div>
					<div class="schedule_row" style="width:540px;height:60px">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Joining on iPad?</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px;">
							<p style="line-height: 15px;margin:0px">Tap Join Conference from the app home screen </p>
							<p style="line-height: 15px;">then enter the Conference ID (case sensitive):<p>
							<p style="line-height: 20px;font:13px Arial;color:#750998;font-weight:bold;">{{event.urlhash}}</p>
						</div>
					</div>
					<div class="schedule_row" style="width:540px;height:60px">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Profile Page:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px;">
							<p style="line-height: 15px;margin:0px">Guests may join Conference Title from the host's</p>
							<p style="line-height: 15px;">profile page:<p>
							<a href="http://{{ site }}/{{event.creator}}" style="color:#750a98;text-decoration: underline;">
					  			http://{{ site }}/{{event.creator}}</a>
						</div>
					</div>
				</div>
				
			</div>
			{%if event.is_telephone %}
			<div class="invi_divide"></div>	
			<div class="schedule_block_holder">
					
					<div class="schedule_row" style="height:35px;">
						<div class="schedule_subblock_left">
							<p class="schedule_leftblock_label">Telephone Bridge:</p>
						</div>
						<div class="right_detail_block" style="margin-left:10px">
							<p style="margin-bottom:5px;">{{event.creator.get_conference_phonenumber}}</p>
							<p ><span style="font:13px Arial;font-weight: bold; ">Access code:{{event.creator.get_conference_modcode}}</span></p>
						</div>
					</div>
					
				</div>		
			{%endif%}
			<div style="width:100%;height:40px;clear:both;"></div>	
			{%if message%}
			<div class="event_personal_message">
			<p style="color:#750998;font:16px Arial;">Personal Message from {% if event.creator.get_profile.name %}{{ event.creator.get_profile.name }}{% else %}{{ event.creator }}{% endif %}</p>
			<div class="content_message">
				 {% autoescape off %}
				{{ message }}
				{% endautoescape %}
			</div>
			
			</div>
			{%endif%}
		<div class="advertisement">
			<p>Netconference is the way to collaborate with other online, send video e-mail, share<p>
			<p>file and host meeting with other in real time. If you have any question about</p>
			<p> Netconference, don't hesitate to contact us.  </p>
			<p style="color:#595959">To sign up for your Free Trial Netconference account
			 <span ><a href="http://{{site}}/account/signup/" style="color:#750998;text-decoration: underline;">Click Here</a></span></p>
		</div>	
		<div class="copyright">
		Copyright &copy; 2012 NxtGen TV, All rights reserved. 
		</div>
			
		</div>
		
		<div class="invi_footer">
		
		</div>
		
	
	</div>
	

</div>

</body>


</html>
