{% load i18n %}
{% load timezone_filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="zoom: 100%; ">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% trans "You have a NetConference Message!" %}</title>
</head>

<body>
<div style="height: 660px; width: 660px; margin: 0 auto;">
    <div style="background-image: url(http://www.netconference.com/site_media/new/images/boxtop.jpg); height: 13px; width: 660px; float: left;"></div>
    <div style="background-image: url(http://www.netconference.com/site_media/new/images/boxmiddle.jpg); width: 660px; float: left;">
        <div style="float: left; height: 72px; width: 583px; margin-top: 10px; margin-left: 180px;">
            <img src="http://www.netconference.com/site_media/img/email/netconference.png" alt="{% trans "Netconference" %}"/>
        </div>
        <div style="float: left; height: 22px; width: 638px; margin-top: 12px; margin-left: 11px; background-image: url(http://www.netconference.com/site_media/new/images/undershade.jpg);"></div>
        <div style="float: left; width: 560px; margin-top: 20px; margin-left: 50px; margin-bottom: 40px;">
            <div style="float: left; width: 420px;">
                <span style="font-size: 20px; font-weight: bold; color: #750A98;">
		  {% if conf_message %}
                    {% blocktrans %}You have been invited to a NetConference by {% endblocktrans %}{% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}{{ user }}{% endif %}:
		  {% else %}
		    {% if video_email %}
                      {% blocktrans %}You have been sent a VMail by {% endblocktrans %}{% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}{{ user }}{% endif %}:
		    {% else %}
		      {% blocktrans %}You have been sent a NetConference message by {% endblocktrans %}{% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}{{ user }}{% endif %}
		    {% endif %}
		  {% endif %}
                </span>
                {% if conf_message %}
                <p style="font-size: 17px; font-weight: bold; color: #507705">{% trans "NetConference Invitation" %}</p>
              
              {% if voice %}
              <p>
                {% blocktrans %}You may join this conference by first dialing into the conference bridge line {% endblocktrans %}<b>{{ user.get_conference_phonenumber }}#</b> {% blocktrans %}and using this access code {% endblocktrans %}<b>{{ user.get_conference_modcode }}#</b>.
              </p>
              {% endif %}
              <p>{% trans "Click on the link below and join the conference:" %} </p>
                <a onclick="javascript:window.open('http://{{site}}{{event.get_conference_url}}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;" href="http://{{site}}{{event.get_conference_url}}">http://{{site}}{{event.get_conference_url}}</a>
	    		
		
		{% if vmail_url %}
		<p><strong>{% trans "Are you planning to attend? RSVP here:" %}</strong></p>
		<p><a href="{% if vmail_url %}{{ vmail_url }}{% else %}#{% endif %}">{% trans "Click here to RSVP" %}</a></p>
		{% endif %}
		<p><strong>{% trans "Conference details:" %}</strong></p>
		<p><strong>{% trans "Date:" %}</strong> {% ifequal event.type 'G' %}{% trans "Daily Event" %}{% else %}{{ conftime|localtime:event.timezone|date:"N j, Y (l)" }}{% endifequal %}</p>
		{% if event %}{% ifnotequal event.type "G" %}
		<p><strong>{% trans "Time:" %}</strong> {{ conftime|localtime:event.timezone|date:"h:i:s A" }}</p>
		<p><strong>{% trans "Time Zone:" %}</strong> {{ timezone }}</p>{% endifnotequal %}{% endif %}
		{% if not voice %}{%if event.password_required %}<p><strong>{% trans "Password:" %}</strong> {{ event.password_required }}</p>{% endif %}{% endif %}

                {% endif %}
                <br />
                <br />
                <span style="font-size: 17px; font-weight: bold; color: #507705;">
                    <br />
                    {% trans "Personal Message from" %} {% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}{{ user }}{% endif %}
                </span>
                <br />
		<p style="word-wrap:break-word; white-space: normal;">
              {% autoescape off %}
                {{ message }}
                {% endautoescape %}
		</p>
                <br />
                {% if attachments %}
                <span style="color: #750A98;">{% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}{{ user }}{% endif %} also attached the following for your review:</span>
                <br />
                {% for k,v in attachments.items %}
                {% ifequal k "vmail_recording" %}
                {% trans "Video Message:" %} {{ subject }}<br />
                {% else %}
                {% ifequal k "NetSign Request" %}
                {{ k }}: {{ v }}<br />
                {% else %}
		{% ifnotequal k "netsign_hash" %}
		{% ifnotequal k "signor_uuid" %}
                {% for item in v %}{{ item }}{% if not forloop.last %},{% endif %}{% endfor %}<br />
		{% endifnotequal %}
		{% endifnotequal %}
                {% endifequal %}
                {% endifequal %}
                {% endfor %}
                {% endif %}
                <br />
                <br />
                {% if vmail_url %}<a href="{{ vmail_url }}{% if url_hash %}?url_hash={{ url_hash }}{% endif %}{% if signor_uuid %}{% if url_hash %}&{% else %}?{% endif %}uuid={{ signor_uuid }}{% endif %}">{% trans "Click here to view your message and attachments." %}</a>{% endif %}
            </div>
            <div style="float: left; width: 560px; margin-top: 35px; font-size: 12px;">
                {% if show_netsign %}
                {% blocktrans %}
                <a href="http://www.netconference.com/netsign">Netsign Digital Signature Service</a> is a fast and secure way to send and sign legal documents. Once you have signed and completed your transaction you will be emailed a confirmation and a link to download a PDF version of the signed agreement for your records.<br />
                {% endblocktrans %}
                {% endif %}
                <br />
                {% blocktrans %}
                <a href="http://www.netconference.com/">NetConference</a> is a great way to collaborate with others online, send video e-mail, share files, and host meetings with others in real time. If you have any questions about NetConference, don't hesitate to contact us. 
                {% endblocktrans %}
                <br />
                {% blocktrans %}
                To sign up for your Free Trial NetConference Account <a href="https://www.netconference.com/account/signup/" style="color: #507705">Click Here.</a>
                {% endblocktrans %}
                
            </div>
        </div>
    </div>
    <div style="background-image: url(http://www.netconference.com/site_media/new/images/boxbottom.jpg); height: 18px; width: 660px; float: left;"></div>
</div>

</body>
</html>
