
/* Main body */
body,a,p{
	font-family: Arial, Helvetica, sans-serif;
/* 	font: normal 15px/1.5em Arial, Helvetica, sans-serif; */
	font-size: 14px;
}
table thead {background:none;}
a, div, p, input, button{outline:0}
object, embed { outline: 0;}
a:hover, a:active, a:focus,input:active, input:focus,button:active, button:focus { outline:0}
#title_vmail{ background: url(../images/title_vmail.png) no-repeat;}
/* End main body */
.wizard.divide_small{width:100%;height:10px;clear:both;}
.wizard.divide_tiny{width:100%;height:5px;clear:both;}
.wizard.divide_normal{width:100%;height:30px;clear:both;}
.wizard.divide_large{width:100%;height:50px;clear:both;}
/* Main title  */
.title_step{font-size: 35px;color: #90d21a; margin-right: 5px;margin-left: 5px;}
.title_step_name{font-size: 25px;color:#595959}
.title_step_alias{width:150px ;font-size: 18px;color:#29140F}
.wizard.normaltext{color: #8F32A9;cursor: pointer}

.vmailFinish{text-align:center;font-size: 35px;color:#61007D;}
.sentTitle{padding-left:30px; font-size: 18px;color: gray;}
/* End main title */

.left-column-theme tr:hover{background:#e2cbe9;cursor:pointer;}
/* Navigation bar */
.wizard.navi_bar {height: 28px;padding-top: 5px;padding-left: 10px;margin-top: 10px;background: transparent url(../images/navi_bar.png)  repeat-x;color: white;font-size: 13px;border: 0px;font-weight: bold;overflow: hidden;}
.wizard.navi_bar_dialog {height: 28px;padding-top: 5px;padding-left: 10px;background: transparent url(../images/navi_bar.png)  repeat-x;color: white;font-size: 13px;border: 0px;font-weight: bold;overflow: hidden;}

.wizard.title_bar_dialog {height: 40px;padding-top: 10px;padding-left: 10px;background: transparent url(../images/dialog_bar_bg.png)  repeat-x;color: white;font-size: 13px;border: 0px;font-weight: bold;overflow: hidden;}

/* End navigation */

/* Button */
.btn_55x18 {width: 55px;height: 18px;display: block;background: transparent url(../images/btn_55x18.png) 0px 0px no-repeat;margin: 0 auto;color: white;border: 0px;cursor: pointer;color: #FFF;font-size: 12px;}
.wizard.button {display: block;width: 263px;height: 46px;background: transparent url(../images/btn_263x46_blue.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 20px;border: 0px;cursor: pointer;}
.wizard.button:hover {background-position: 0px -46px;}
.wizard.button_dup {display: block;width: 263px;height: 46px;background: transparent url(../images/btn_263x46.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 20px;border: 0px;cursor: pointer;}
.wizard.button_dup:hover {background-position: 0px -46px;}

.wizard.button_alert {display: block;width: 210px;height: 43px;background: transparent url(../images/btn_210x129.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 20px;border: 0px;cursor: pointer;}
.wizard.button_alert:hover {background-position: 0px -43px;}
.wizard.alertbar {background: transparent url(../images/alertbar.png) 0px 0px repeat-x;height:16px;width:100%;}
.wizard.alertmessage{padding:20px;font-size: 18px;color:#770A98}



.wizard.advance_button {display: block;width: 263px;height: 46px;background: transparent url(../images/btn_263x46_blue.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 22px;border: 0px;cursor: pointer;}
.wizard.advance_button:hover {background-position: 0px -46px;}

/* .wizard.advance_button {display: block;width: 177px;height: 31px;background: transparent url(../images/btn_177x31.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 16px;border: none;cursor: pointer;} */
/* .wizard.advance_button:hover {background-position: 0px -31px;} */
.wizard.medium_button {display: block;width: 148px;height: 48px;background: transparent url(../images/btn_148x48.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 20px;border: 0px;cursor: pointer;}
.wizard.medium_button:hover {background-position: 0px -48px;}

.wizard.small_button {display: block;width: 111px;height: 36px;background: transparent url(../images/btn_111x36.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 16px;border: 0px;cursor: pointer;}
.wizard.small_button:hover {background-position: 0px -36px;}

.wizard.tiny_button {width: 55px;height: 22px;background: transparent url(../images/btn_55x22.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 10px;border: 0px;cursor: pointer;}
.wizard.tiny_button:hover {background-position: 0px -22px;}
.wizard.record_button {display: block;width: 148px;height: 48px;background: transparent url(../images/recordbtn.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 18px;border: 0px;cursor: pointer;}
.wizard.recorded_button {display: block;width: 148px;height: 48px;background: transparent url(../images/recordedbtn.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 18px;border: 0px;cursor: pointer;}

.wizard.small_long_button {width: 189px;height: 34px;background: transparent url(../images/btn_189x34.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 14px;border: 0px;cursor: pointer;}
.wizard.small_long_button:hover {background-position: 0px -34px;}
.wizard.option input{margin-right:20px;}
/* End button */

.wizard.backgroundRecord{margin-left: 10px; margin-top: 10px; overflow: auto; height: 550px;background:url('../images/background_netconf.png')}

/* Attachments table */
.wizard.customRow tbody tr{height:30px;}
.wizard.customRow tbody tr:nth-child(even) {background: #f5f5f5;}
.wizard.customRow tbody tr:hover{background-color:#e2cbe9;cursor:pointer;}

/* End attachments table */

/* table sorter */
#Attach_wraper  li:nth-child(even) {background: #f5f5f5;}
#Attach_wraper  li:nth-child(odd) {background: #ffffff;}


#filter {color:#595959;margin: 5px;width: 80%;height: 30px;background: url(../images/bg_search.png) no-repeat 100% 0px;border: 2px solid #D7D7D5;	float: left;font-size: 13;}
.tablesorter thead tr{display:block;background: url(../images/navi_bar.png) repeat-x;font-size: 11pt;color: white;font-size: 11pt;vertical-align: middle;height: 29px}
.tablesorter thead th  {cursor: pointer;font-size: 11pt;height: 30px;text-align: left;}
.tablesorter tbody{display: block;}
.tablesorter tbody tr{height:30px;vertical-align: middle;}
.tablesorter tbody tr:nth-child(even) {background: #f5f5f5;}
.tablesorter tbody tr:nth-child(odd) {background: #ffffff;}
.tablesorter tbody tr:hover{background-color:#e2cbe9;cursor:pointer;}
.tablesorter tr.even{font-size: 13px;}
.tablesorter tr.odd{font-size: 13px;}
.tablesorter {width: 100%;text-align: center;border: 2px solid #F0F0F6;}
.tablesorter thead tr .header_Img {background: #52066A;background-position: center right;cursor: pointer;font-size: 11pt;height: 30px;text-align: center;}

.tablesorter thead tr .headerSortUp {background: url(../images/arrow-up-table.png) center right no-repeat;vertical-align: middle}
.tablesorter thead tr .headerSortDown {background: url(../images/arrow-down-table.png) center right no-repeat;vertical-align: middle}
.tablescroll_wrapper {width: 100%;}
/* background template user file table */
/* .themeTable{font-family:arial;background-color: #CDCDCD;font-size: 8pt;width: 100%;text-align: left;overflow-x: hidden; overflow-y: scroll;   height: 150px;}
.themeTable tr td {color: #3D3D3D;padding: 4px;background-color: #FFF;vertical-align: top;text-align: center;font-size: 10pt;cursor:pointer;} */
.headtable tr{background: url(../images/navi_bar.png) repeat;font-size: 10pt;padding: 4px;height: 30px;color: white;text-align: center;cursor:pointer;}
/* end background table user file */

/* background template thumbnail  */
.outterbox:hover{ background: #750998;}
.outterbox_email:hover{ background: #750998;}
.outterbox_email_select{ background: #750998;}
/* End background template thumbnail */


/* tab Panel style */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {cursor: text;background: url(../images/theme-button-active.png) no-repeat;}
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .7em 50px; background:  url(../images/theme-button-inactive.png) no-repeat;color: #fff;width: 120px;text-align: center;} 

.ui-widget-header {background: #78099B; color: #ffffff; font-weight: bold; }

/* end tab Panel style */


/* Contact dialog */
.slider { width: 280px; min-height: 430px; display: block; position: relative; background: #fff; overflow: hidden; }
.slider-content { float: left; width: 92%; display: block; overflow: hidden;min-height: 430px; margin-left: 23px;}
.slider .slider-nav { position: absolute; left:0; top: 0; background: #700891; min-height:  450px; }
.slider-content .selected .title { background: #B08DBC; }
.slider-content ul ul li:hover { background: #F3E6F7; border-color: #d5ebf9; }

#listAdd li {background: url("../images/icon_delete_rollover_12x75.png") no-repeat scroll 0 0 transparent;   color: #666666; margin-bottom: 2px; padding-left: 30px; margin-left: 10px;text-decoration: none; font-size: 12px; display: block; cursor:pointer;}
#listAdd li:hover {color:#8115A0;  background-position: 0px -50px;}
#listAdd li a{font-size: 11px;}
/* End contact dialog */

/* Datetime Picker */
.buttonDatepicker {background: transparent url('../images/btn_86x28.png') 0px 0px no-repeat;color:  #ffffff;font-family: Arial,sans-serif,"Times New Roman";display:block;border:0px;cursor: pointer;   overflow: visible; width: 86px;height: 28px;float:right;font-size: 11pt;}
.buttonDatepicker:hover{background-position: 0px -28px;}
/* .buttonDateNow {background: transparent url('../images/btn_86x28.png') 0px 0px no-repeat;color:  #ffffff;font-family: Arial,sans-serif,"Times New Roman";display:block;border:0px;cursor: pointer;overflow: visible;width: 86px;height: 28px;float:left;font-size: 11pt;} 
.buttonDateNow:hover{background-position: 0px -28px;}*/
.buttonDateNow {visibility: hidden;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {color: #78099B;font-family: Arial,sans-serif;font-size: 11pt;font-weight: bold;}
.ui-slider-handle{background: #78099B;}

/* End Datetime Picker */

/* Tab Panel */

.wizard.themeButtonActive {display: block;width: 184px;height: 35px;background: transparent url(../images/theme-button-active.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 16px;border: 0px;cursor: pointer;}
.wizard.themeButtonInactive {text-align:center; display: block;width: 184px;height: 35px;margin: 0 auto;color: white;font-size: 16px;border: 0px;cursor: pointer;background: transparent url(../images/theme-button-inactive.png) 0px 0px no-repeat;}
/* End Tab Panel */

.tablesorter tbody tr.tr_current{background: #E2CBE9;}
.left-column-theme tbody tr.tr_current{background: #E2CBE9;}


.videoHiddenFake{visibility:hidden}

.checkbox_checked{background: url(../images/icon_check_on.png) no-repeat;width:15px;height:14px;padding-left:40px;}
.checkbox_uncheck{background: url(../images/icon_check_box.png) no-repeat;width:15px;height:14px;padding-left:40px;}
.radio_checked{background: url(../images/icon_radio_checked.png) no-repeat;width:15px;height:14px;padding-left:40px;}
.radio_uncheck{background: url(../images/icon_radio_uncheck.png) no-repeat;width:15px;height:14px;padding-left:40px;}
.checkbox_radio_style p{margin-top:0px;}
.contact_text_searchbg{
width: 290px;
height: 29px;
background: url(../images/contact_search_bg.png) no-repeat;
}

.contact_text_search {
background: url(../images/icon_search_contact.png) center right no-repeat;
border: 0px;
border: none;
outline: 0;
width: 210px;
margin: 5px 0px 0px 5px;
padding: 2px;
height: 15px;
border: none;
margin: 5px 0px 0px 5px;
color: gray;}
/* ul.folder_contact{width:100%;height:220px;overflow-y:auto;}
ul.folder_contact li{clear:both;min-height:30px;display:inline-block;height:auto;width:100%;line-height: 13px;cursor:pointer;word-wrap:break-word;}
ul.folder_contact li.current{background:#E2CBE9;}
ul.folder_contact li:hover{background:#E2CBE9;}
ul.folder_contact li a{padding-left:5px;word-wrap:break-word;} */
tbody.folder_contact{width:100%;height:220px;overflow-y:auto;}
tbody.folder_contact tr{clear:both;min-height:30px;display:inline-block;height:auto;width:100%;line-height: 13px;cursor:pointer;word-wrap:break-word;}
tbody.folder_contact tr.current{background:#E2CBE9;}
tbody.folder_contact tr:hover{background:#E2CBE9;}
tbody.folder_contact td:nth-child(2){padding-left:5px;word-wrap:break-word;}