
.wizard.bg-main{background: url(../images/bg-main.png) 0px 0px no-repeat;height: auto;}
.wizard.violetsmall{display: block;width: 55px;height: 22px;background: transparent url(../images/violet-btn-small.png) 0px 0px	no-repeat;margin: 0 auto;color: white;font-size: 12px;border: 0px;cursor: pointer;}
.wizard.violetlong {display: block;width: 203px;height: 36px;background: transparent url(../images/violet-btn-long.png) 0px 0px	no-repeat;margin: 0 auto;color: white;font-size: 18px;border: 0px;cursor: pointer;}
.wizard.navigation-bar {height: 100px;}
.wizard.content {background: #e3e3e3;height: auto;clear: both;}
.wizard.contentdialog {height: auto;width:100%;clear: both;background: #ffffff;	border: #e3e3e3 solid 1px;padding:0px;}
#contentdialog {height: auto;width: 945px;clear: both;background: #ffffff;border: #e3e3e3 solid 0.5px;padding:0px;z-index:-1;}
.wizard.deepcontentdl {margin: 10px;}
.wizard.topHeader {width: 90%;height: auto;padding: 20px;}
.wizard.dotselected {background: url(../images/white-dot.png) 0 0 norepeat;}
div.ProgressBar {width: 250px;padding: 0;border: 1px solid #aaa;height: 25px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
div.ProgressBar div {background: #8a278a	url(../images/ui-bg_highlight-soft_50_764d79_1x100.png) repeat-x scroll 50% 50%;color: white;font-size: 1pt;height: 100%;valign: bottom;}
#file_upload {visibility: hidden;}
#file_upload_uploading {display: block;width: 75px;height: 25px;background: transparent url(../images/bt_blank_green_small_button.png)	0px 0px no-repeat;margin: 0 auto;color: white;font-size: 12px;border: 0px;cursor: pointer;}
.wizard.content {height: auto;clear: both;}
.dynamicTable tr:hover {background: #e3e3e3;}
.wizard.leftbardialog {width: 30px;float: left;height: 28px;background: transparent url(../images/left-bar-small.png) 0px 0px	no-repeat;border: 0px;}
.wizard.rightbardialog {width: 30px;height: 28px;background: transparent url(../images/right-bar-small.png) 100% 0px	no-repeat;}
.wizard.middlebardialog {height: 28px;padding-top: 3px;padding-left: 10px;	background: #2F3A93 repeat-x;color: white;font-size: 12px;border: 0px;font-weight: bold;overflow: hidden;}
#SelectPicture {height: 28px;font-size: 13px; width: 100%; padding-top: 5px; padding-left: 20px;font-family: Arial,'Times New Roman',Georgia,Serif;background: #303B94 repeat-x;color: white;border: 0px;font-weight: bold;overflow: hidden;}
.messageVmailBox{font-size:13px;width: 250px; height: auto; cursor:pointer;min-height:100px;min-width:200px;}
.content_message ul{
display: block;
list-style-type: disc;
}
.content_message ol {
display: block;
list-style-type: decimal;
}

.content_message{padding:10px;font-size:13px;}
.content_message p{line-height:1.5}

.wizardbgmain {margin:5px;width: 99%;height:99%;padding:5px;}
.outterbox {height: 110px;width: 180px;float: left;cursor: pointer;padding:3px;}
.innerbox {height: 100%;width: 100%;}
.outterbox_email {height: 140px;width: 120px;float: left;cursor: pointer;padding:3px;}
.innerbox_email {height: 100%;width: 100%;}
