.ui-tabs {padding: .2em; zoom: 1;}
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0;}
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { border-bottom-width: 0;}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
	 /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
 } 
.ui-tabs .ui-tabs-panel {padding: 1em 1.4em; display: block; border-width: 0; background: none;}
.ui-tabs .ui-tabs-hide { display: none !important;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    outline: medium none;
    text-decoration: none;
}

