
ul.thumb {float: left;list-style: none;margin: 0; padding: 10px;width: 800px;background-color: white;}
ul.thumb li {margin: 0; padding: 5px;float: left;position: relative;width: 180px;height: 110px;}
ul.thumb li img {width: 180px; height: 110px;padding: 5px;position: absolute;left: 0; top: 0;-ms-interpolation-mode: bicubic; }
ul.thumb li img.hover {margin-top:15px;border: none;position:fixed;top:200px;left:100px;}
