{% load humanize i18n %}
{% load pagination_tags %}
{% load timezone_filters %}
    
    {# {% autopaginate notices %} #}
    
    {% if notices %}
        <hr style="visibility:hidden;" />
        
        {# TODO: get timezone support working with regroup #}
        {% regroup notices by added.date as notices_by_date %}
        
        {% for date in notices_by_date %}
            <span class="items_list_top_fullview" >{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</span>
            
            {% for notice in date.list %}
                {% if notice.is_unseen %}
                <p class="notices_list_hilite_fullview {% cycle 'row1' 'row2' %}">
                {% else %}
                <p class="notices_list_row_fullview {% cycle 'row1' 'row2' %}">
                {% endif %}
                    <span class="notice_type">[{% trans notice.notice_type.display %}]</span>
                    <span class="notice_message">{{ notice.message|safe }}</span>
                    <span class="notice_time">{{ notice.added|localtime:account.timezone|time:"P" }}</span>
                </p>
            {% endfor %}
        {% endfor %}
       
        {% paginate %}
       
    {% else %}
        <p style="margin-left:39px;">{% trans "No notices." %}</p>
    {% endif %}