{% load scheduletags %}
<h2 class="calendar_daily_header">
    <a href="{{ prev_url }}"><img align="top" border="0" src="{{MEDIA_URL}}img/cal_prev.png" class="calendar_top_prev" alt="previous" title="Previous" /></a>
    <div class="cal_month_title">{{ day.start|date:"l, F d, Y" }}</div>
    <a href="{{ next_url }}"><img align="top" border="0" src="{{MEDIA_URL}}img/cal_next.png" class="calendar_top_next" alt="next" title="Next" /></a>
</h2>
<table align="center" class="calendar_daily">
<tr class="items_list_def"><td width="68">&nbsp;</td><td width="355">Morning Events</td><td width="68">&nbsp;</td><td width="355">Afternoon / Evening Events</td></tr>
{% for am_slot, pm_slot in day_slots %}
<td class="compact
    {% if am_slot.has_occurrences %}
        {% for o in am_slot.get_occurrence_partials %}
            {% ifequal o.class 0 %} busy{% endifequal %}
            {% ifequal o.class 1 %} busy_1{% endifequal %}
            {% ifequal o.class 2 %} busy_2{% endifequal %}
            {% ifequal o.class 3 %} busy_3{% endifequal %}
        {% endfor %}
    {% endif %}
    "><small>{{ am_slot.start|time:"g:i a" }}</small></td>
{% if am_slot.has_occurrences %}<td class="compact busy">
{% for o in am_slot.get_occurrence_partials %}
{% ifequal o.class 0 %}{% title_and_options o.occurrence.event %}{% endifequal %}
{% ifequal o.class 1 %}{% title_and_options o.occurrence.event %}{% endifequal %}
{% endfor %}</td>
{% else %}<td class="compact free">{% create_event_url calendar am_slot.start %}</td>
{% endif %}
<td class="compact{% if pm_slot.has_occurrences %} busy{% endif %}"><small>{{ pm_slot.start|time:"g:i a" }}</small></td>
{% if pm_slot.has_occurrences %}<td class="compact busy">
{% for o in pm_slot.get_occurrence_partials %}
{% ifequal o.class 0 %}{% title_and_options o.occurrence.event %}{% endifequal %}
{% ifequal o.class 1 %}{% title_and_options o.occurrence.event %}{% endifequal %}
{% endfor %}</td>
{% else %}<td class="compact free" valign="absmiddle">{% create_event_url calendar pm_slot.start %}</td>
{% endif %}
</tr>
{% endfor %}
</table>
<br />