{% load scheduletags %}
{% load i18n %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load file_tags %}
{% load timezone_filters %}

{# <h1 class="items_list_top" style="margin-left:0px;float:right;width:636px;">{% blocktrans %}This Week's Conferences{% endblocktrans %}</h1> #}

<table class="items_list" width="706" cellspacing="0" style="margin-right:0px;float:right;border-top: 1px solid #aaa; ">
  <tr class="items_list_def">
    <td width="280">Conference Title</td>
    <td width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td width="50" style="text-align:center;">Date</td>
    <td width="8"></td>
    <td width="100">&nbsp;</td>
    <td width="72">&nbsp;</td>
    <td width="72">&nbsp;</td>
  </tr>
  {% for day in periods.week.get_days %}
  {% if day.has_occurrences %}
  {% for o in day.get_occurrence_partials %}
  {% ifequal o.class 0 %}
  <tr class="items_list_row {% cycle 'row1' 'row2' %}">
    <td class="items_list_title"> {% if o.occurrence.event.private %}<img src="{{ MEDIA_URL }}img/{{ o.occurrence.event.private|vidprivacy }}.png" border="0" class="privacy_lock" style="display:inline;float:left;" /> {% endif %} <a href="{{ o.occurrence.event.get_absolute_url }}" class="listTitle">{{ o.occurrence.event.title }}</a> {# {% show_tags_for event %} #} </td>
    <td class="small" style="line-height:1em;"> {% if o.occurrence.event.rule %}
      {{ o.occurrence.event.rule }}
      {% if o.occurrence.event.end_recurring_date %}
      until {% if user.is_authenticated %}{% blocktrans with o.occurrence.event.end_recurring_period|localtime:account.timezone|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}{% else %}{% blocktrans with o.occurrence.event.end_recurring_period|localtime:timezone|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}{% endif %}
      {% endif %}
      {% else %}
      &nbsp;&nbsp;&nbsp;&nbsp;
      {% endif %} </td>
    <td>{% if user.is_authenticated %}{{ o.occurrence.event.date|localtime:account.timezone|date:"m/j/y" }}<br />
      {{ o.occurrence.event.date|localtime:account.timezone|date:"P" }}{% else %}{{ o.occurrence.start|localtime:timezone|date:"m/j/y" }}<br />
      {{ o.occurrence.start|localtime:timezone|date:"P" }}{% endif %}</td>
    <td valign="middle">{% ifequal user_obj.username user.username  %}<a href="{{ o.occurrence.event.get_invite_url }}" class="button caps btn_conf" id="btn_invite" rel="invite_window">invite</a>{% endifequal %}</td>
    <td valign="middle" > {% ifequal o.occurrence.event.creator request.user  %} <a href="{{ o.occurrence.event.get_edit_url }}" class="button caps btn_conf">details</a> {% endifequal %} </td>
    {% if allow_join %}
    <td valign="middle" ><a href="#" class="button caps btn_conf" style="position:relative;top:4px;" onclick="javascript:window.open('{{ o.occurrence.event.get_conference_url }}','conferencepage',config='height=800,width=1000,top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;">join</a></td>
    {% else %}
    <td valign="middle" class="padtopten"><a href="/subscription/" class="button caps" style="position:relative;top:4px;">Upgrade</a></td>
    {% endif %} </tr>
  {% endifequal %}
  {% ifequal o.class 1 %}
  <tr class="items_list_row {% cycle 'row1' 'row2' %}">
    <td class="items_list_title"> {% if video.private %}<img src="{{ MEDIA_URL }}img/{{ o.occurrence.event.private|vidprivacy }}.png" border="0" class="privacy_lock" style="display:inline;float:left;" /> {% endif %} <a href="{{ o.occurrence.event.get_absolute_url }}" class="listTitle">{{ o.occurrence.event.title }}</a> {# {% show_tags_for event %} #} </td>
    <td class="small" style="line-height:1em;"> {% if o.occurrence.event.rule %}
      {{ o.occurrence.event.rule }}
      {% if o.occurrence.event.end_recurring_date %}
      until {% blocktrans with o.occurrence.event.end_recurring_period|localtime:account.timezone|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}
      {% endif %}
      {% else %}
      &nbsp;&nbsp;&nbsp;&nbsp;
      {% endif %} </td>
    <td>{% if user.is_authenticated %}{{ o.occurrence.start|localtime:account.timezone|date:"m/j/y" }}<br />
      {{ o.occurrence.start|localtime:account.timezone|date:"P" }}{% else %}{{ o.occurrence.start|localtime:timezone|date:"m/j/y" }}<br />
      {{ o.occurrence.start|localtime:timezone|date:"P" }}{% endif %}</td>
    <td valign="middle" >{% ifequal user_obj.username user.username  %}<a href="{{ o.occurrence.event.get_invite_url }}" class="button caps btn_conf" id="btn_invite" rel="invite_window">invite</a>{% endifequal %}</td>
    <td valign="middle" > {% ifequal o.occurrence.event.creator request.user  %} <a href="{{ o.occurrence.event.get_absolute_url }}" class="button caps btn_conf">details</a> {% endifequal %} </td>
    {% if allow_join %}
    <td valign="middle" ><a href="{{ o.occurrence.event.get_conference_url }}" class="button caps btn_conf" onclick="javascript:window.open('{{ o.occurrence.event.get_conference_url }}','conferencepage',config='height=800,width=1000,top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;">join</a></td>
    <td valign="middle" >
        </td> 
    {% else %}
      <td valign="middle" >
   <a href="/subscription/" class="button caps" >Upgrade</a>  
   </td>
    <td valign="middle" >
        </td>
    {% endif %}

     </tr>

  {% endifequal %}
  {% endfor %}
  {% endif %}
  
  {% endfor %}
</table>
