{{ event.title }} &nbsp; <a href="{{ view_event }}"><img border="0" src="{{MEDIA_URL}}img/silk/eye.png" alt="View Event" title="View Event" class="calendar_daily_options" /></a> &nbsp; <a href="{{ edit_event }}"><img border="0" src="{{MEDIA_URL}}img/silk/pencil.png" alt="Edit Event" title="Edit Event" class="calendar_daily_options" /></a> &nbsp; <a href="{{ delete_event }}"><img border="0" src="{{MEDIA_URL}}img/silk/delete.png" alt="Delete Event" title="Delete Event" class="calendar_daily_options" /></a><br/>
