{% extends "files/files_list.html" %}
{% load i18n %}

{% block table_header %}
{% endblock %}

{% block files_check_header %}
{% endblock %}

{% block files_check_row %}
{% endblock %}

{% block file_header %}
        <td class="files_title" style="padding-left:5px;">{% trans "Title" %}</td>
        <td class="files_privacy">{% trans "Privacy" %}</td>
        <td class="files_views">{% trans "Views" %}</td>
        <td class="files_length">{% trans "Length" %}</td>
        <td class="files_date">{% trans "Date" %}</td>
        <td class="files_empty_field"></td>
	{% block see_all %}
        <td class="files_download" style="text-align:right;"><a href="{% if is_me %}{% url my_files %}{% else %}{% url user_files user_obj.username %}{% endif %}">See All<img src="{{ MEDIA_URL }}new/images/icon_see_all.png" /></a></td>
	{% endblock %}
{% endblock %}


