{% load scheduletags %}
{% load i18n %}
{# <table align="center" class="calendar"> #}
{# <tr class="dateheader"><td colspan="7"> #}
{#      {% if prev_url %}<a href="{{ prev_url }}"><img align="top" border="0" src="/site_media/left_mod.png"></a> {% endif %} &nbsp; <b>{{month.name}} {{month.year}}</b> &nbsp; {% if next_url %}<a href="{{ next_url }}"><img align="top" border="0" src="/site_media/right_mod.png"></a>{% endif %} #}
{# </td></tr> #}
{# {% if day_names %} #}
{# <tr class="daysofweek"> #}
{#  {% for day_name in day_names %}<td{% ifnotequal size "small" %} width='120'{% endifnotequal %}>{{ day_name }}</td> #}
{# {% endfor %} #}
{# {% endif %} #}
{# {% for week in month.get_weeks %} #}
{#     <tr> #}
{#     {% for day in week.get_days %} #}
{#  {% day_cell calendar day month size %} #}
{#     {% endfor %} #}
{#     </tr> #}
{# {% endfor %} #}
{# </table> #}

<table cellspacing="0" class="calendar">
{% if day_names %}
    <thead>
        <tr>
        {% for day_name in day_names %}
	<th>{{ day_name }}</th>
        {% endfor %}
        </tr>
    </thead>
{% endif %}
    <tbody>
    {% for week in month.get_weeks %}
        <tr>
        {% for day in week.get_days %}
             <td {% if day.get_occurrence_partials %}class="date_has_event"{% endif %}>
                 {{day.start.day}}
                 <div class="events">
                     <ul>
                        {% for occurrence_partial in day.get_occurrence_partials %}
                            <li>
                                <span class="title">
                                    <a href="{{occurrence_partial.occurrence.event.get_absolute_url}}">{{ occurrence_partial.occurrence.event.title }}</a>
                                    {% ifequal occurrence_partial.class 0 %} ({% trans "Starts" %}){% endifequal %}
                        		    {% ifequal occurrence_partial.class 2 %} ({% trans "Continues" %}){% endifequal %}
                        		    {% ifequal occurrence_partial.class 3 %} ({% trans "Ends" %}){% endifequal %}
                                </span>
                                <span class="time">{{ occurrence_partial.occurrence.start.time|time:"P" }} - {{ occurrence_partial.occurrence.end.time|time:"P" }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
             </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
{% if day_names %}
    <tfoot>
        <tr>
        {% for day_name in day_names %}
	        <th>{{ day_name }}</th>
        {% endfor %}
        </tr>
    </tfoot>
{% endif %}
</table>