    <h3 class="prefix-1">{% block netsign_heading %}NetSign Documents Sent{% endblock %}</h3>
	<table class="items_list" width="727" cellspacing="0" style="margin-left: 16px;">
        	<tr style="text-align:center;" class="items_list_def">
        		<td width="70"></td>
        		<td width="70">{% block sent_name %}Sent to{% endblock %}</td>
                <td width="70">Status</td>
                <td width="70">Sent Date</td>
                <td width="70">Message</td>
        	</tr>
			{% for invite in invite_list %}
				<tr class="items_list_row {% cycle 'row1' 'row2' %}">
					<td>
		                <a href="{{ invite.document.get_netsign_document_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ invite.document.user_file.source_type }}.png' class='file_icon' border='0' /></a>
					</td>
					<td>
						{% block tableemail %}
						{{invite.to_email}}
						{% endblock %}
					</td>
					<td> 
					{% block sent_to_received %}

						{{invite.verbose_status}}
						{% ifequal invite.verbose_status "Signed" %}
							(<a href="{{invite.get_signed_url}}">View</a>)
						{% endifequal %}
						
					{% endblock %}
					</td>
					<td>
					    {{invite.sent|date}}
					</td>
					<td>
					    {{invite.message}}
					</td>
					
				</tr>
			{% endfor %}
			
	</table>        
