{% extends "schedule/_netsign_status.html" %}
{% load i18n %}

{% block sent_name %}
    Received from
{% endblock %}

{% block netsign_heading %}NetSign Documents Received{% endblock %}

{% block table_title %}
{% trans "Netsign Invites Received " %} 
{% endblock %}

{% block tableemail %}
{% firstof invite.from_user.get_full_name invite.from_user.username %} - {{invite.from_user.email}}
{% endblock %}


{% ifequal invite.verbose_status "Sent" %}
Received
{% else %}
{{invite.verbose_status}}
{% endifequal %}
{% ifequal invite.verbose_status "Signed" %}
	(<a href="{{invite.get_signed_url}}">View</a>)
{% endifequal %}
{% ifequal invite.verbose_status "Sent" %}
	(<a href="{{invite.get_sign_url}}">Sign</a>)
{% endifequal %}