{% extends 'schedule/base.html' %}
{% load scheduletags %}
{% load i18n %}

{% block title %}All Events{% endblock %}

{% block body %}
			<div id="all_events">
				<ul>
				{% for day in periods.week.get_days %}
					{% if day.has_occurrences %}
					{% for o in day.get_occurrence_partials %}
					{% ifequal o.class 0 %}
					<li>O Class 0 sweeeeet</li>
					{% comment %}
					<li>
						<a href="{% occurrence_url o.occurrence %}">
							<div class="all_right"></div>
							<div class="all_day">
								{{ o.occurrence.event.start|date:"l" }}
								<div class="all_date">{% blocktrans with o.occurrence.start|date:"F j" as start_date %}{{ start_date }}{% endblocktrans %}</div>
							</div>
							
							<img src="{{ o.occurrence.event.flyer.url_67x100 }}" class="allFlyer" />
							<h2 class="allTitle">{{ o.occurrence.event.title}}</h2>
							<div class="allTime">
								{% blocktrans with o.occurrence.start|date:"f a" as start_date %}{{ start_date }}{% endblocktrans %} - 
								{% blocktrans with o.occurrence.end|date:"f a" as end_date %}{{ end_date }}{% endblocktrans %}
								{% if o.occurrence.event.price %}&nbsp; &nbsp;&bull;&nbsp; &nbsp;${{ o.occurrence.event.price }}{% endif %}
							</div>
						</a>
					</li>
					{% endcomment %}
					{% endifequal %}
					{% ifequal o.class 1 %}
					<li>O Class 1 mm'kay</li>
					{% comment %}
					<li>
						<a href="{% occurrence_url o.occurrence %}">
							<div class="all_right"></div>
							<div class="all_day">
								{{ o.occurrence.event.start|date:"l" }}
								<div class="all_date">{% blocktrans with o.occurrence.start|date:"F j" as start_date %}{{ start_date }}{% endblocktrans %}</div>
							</div>
							
							<h2 class="allTitle">{{ o.occurrence.event.title}}</h2>
							<div class="allTime">
								{% blocktrans with o.occurrence.start|date:"f a" as start_date %}{{ start_date }}{% endblocktrans %} - 
								{% blocktrans with o.occurrence.end|date:"f a" as end_date %}{{ end_date }}{% endblocktrans %}
								{% if o.occurrence.event.price %}&nbsp; &nbsp;&bull;&nbsp; &nbsp;${{ o.occurrence.event.price }}{% endif %}
							</div>
						</a>
					</li>
					{% endcomment %}
					{% endifequal %}
					{% endfor %}
					{% endif %}
				{% endfor %}
				</ul>
			</div>
{% endblock %}