{% extends "schedule/base.html" %}
{% load scheduletags %}
{% block body %}
<div class="calendar_border">
    <h2 class="calendar_top">
        <a href="{% url s_calendar_date calendar.slug month.prev_month.year month.prev_month.month %}"><img align="top" border="0" src="{{MEDIA_URL}}img/cal_prev.png" class="calendar_top_prev" alt="previous" title="Previous" /></a>
        <div class="cal_month_title">{{month.start|date:_("YEAR_MONTH_FORMAT")}}</div>
        <a href="{% url s_calendar_date calendar.slug month.next_month.year month.next_month.month %}"><img align="top" border="0" src="{{MEDIA_URL}}img/cal_next.png" class="calendar_top_next" alt="next" title="Next" /></a>
    </h2>
</div>
{% month_table calendar month.start "regular" "m_calendar_date" %}
</p>
{# <p align="center"> #}
{# <a href="{% url tri_month_calendar_date calendar.slug month.start.year month.start.month %}">Three Month Calendar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url year_calendar_date calendar.slug month.start.year %}">Full Year Calendar</a> #}
{# </p> #}
{% endblock %}

{% block extra_jquery %}
    $('.date_has_event').each(function () {
		// options
		var distance = 10;
		var time = 250;
		var hideDelay = 500;
 
		var hideDelayTimer = null;
 
		// tracker
		var beingShown = false;
		var shown = false;
 
		var trigger = $(this);
		var popup = $('.events ul', this).css('opacity', 0);
 
		// set the mouseover and mouseout on both element
		$([trigger.get(0), popup.get(0)]).mouseover(function () {
			// stops the hide event if we move from the trigger to the popup element
			if (hideDelayTimer) clearTimeout(hideDelayTimer);
 
			// don't trigger the animation again if we're being shown, or already visible
			if (beingShown || shown) {
				return;
			} else {
				beingShown = true;
 
				// reset position of popup box
				popup.css({
					bottom: 20,
					left: -76,
					display: 'block' // brings the popup back in to view
				})
 
				// (we're using chaining on the popup) now animate it's opacity and position
				.animate({
					bottom: '+=' + distance + 'px',
					opacity: 1
				}, time, 'linear', function() {
					// once the animation is complete, set the tracker variables
					beingShown = false;
					shown = true;
				});
			}
		}).mouseout(function () {
			// reset the timer if we get fired again - avoids double animations
			if (hideDelayTimer) clearTimeout(hideDelayTimer);
 
			// store the timer so that it can be cleared in the mouseover if required
			hideDelayTimer = setTimeout(function () {
				hideDelayTimer = null;
				popup.animate({
					bottom: '-=' + distance + 'px',
					opacity: 0
				}, time, 'linear', function () {
					// once the animate is complete, set the tracker variables
					shown = false;
					// hide the popup entirely after the effect (opacity alone doesn't do the job)
					popup.css('display', 'none');
				});
			}, hideDelay);
		});
	});
{% endblock %}