{% extends 'schedule/base.html' %}
{% load scheduletags %}
{% block body %}
<p align="center"><b>{{ calendar.name }}</b></p>
<p><table align="center">
	<tr>
		<td valign="top">{% month_table calendar month.prev_month "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar month.start "small" "tri_month_calendar_date" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table calendar month.next_month "small" %}</td>
	</tr>
</table></p>
<p align="center">
<a href="{% url m_calendar_date month.start.year month.start.month %}">Monthly Calendar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url year_calendar_date calendar.slug month.start.year %}">Full Year Calendar</a>
</p>
{% endblock %}
