{% extends "schedule/base.html" %}
{% load scheduletags %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
{% endblock %}

{% block body %}
{% daily_table calendar day %}
</p>
<p class="prefix-10">
<a href="{% url m_calendar_date day.start.year day.start.month %}"><button><img src="{{ MEDIA_URL }}img/silk/calendar_view_month.png" border="0" />&nbsp;Current Month</button></a>
{% comment %}<a href="{% url year_calendar_date calendar.slug day.start.year %}"><button>Current Year</button></a>{% endcomment %}
</p>
{% endblock %}
