{% extends "schedule/event_form_base.html" %}
{% load i18n %}

{% block head_title %}{% blocktrans %}Create A Conference{% endblocktrans %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
    <style type="text/css" media="screen">
        #id_start_0, #id_start_1, #id_end_0, #id_end_1, #id_end_recurring_period_0, #id_end_recurring_period_1 { width: 140px; }
        #id_start_0, #id_end_recurring_period_0 { margin-right: 5px; }
        .errorlist { display: block; position: relative; top: 1.4em; left: -24px; margin: 0px; padding:0px; }
        #id_title { width: 300px; }
        #id_description { width: 300px; height: 50px; overflow: auto; }
        th { width: 150px; }
    </style>
{% endblock %}

{% block body %}
<a id="tutorial" onclick="runJoan();$(this).fadeOut();">Tutorial</a>
<h1 class="uni_form_header">{% trans "Create or change event." %}</h1>
<form class="uniForm_faux" action="" method="post">
<fieldset>
<table>
{{ form.as_table }}
</table>
<button id="btn_recurring" style="float:right;margin-right:50px;margin-bottom:20px;"><img src="{{ MEDIA_URL }}img/silk/calendar_link.png" id="option_closed" border="0" />&nbsp;{% trans "Recurring Event..." %}</button>
<button type="submit" class="positive" id="btn_save" style="float:right;margin-right:50px;clear:right;"><img src="{{ MEDIA_URL }}img/silk/accept.png" border="0" />&nbsp;{% trans "Save Event" %}</button>
</fieldset>
</form>
{% endblock %}

{% block extra_body %}
<script src="{{ MEDIA_URL }}js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery.timepickr.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
<script type="text/javascript">
	var lf_ID = '100002567';
	function runJoan(){
		runLFOW();
	} 
</script>
{% endblock %}

{% block extra_jquery %}
    $("#id_rule").parent().parent().hide();
    $("#id_end_recurring_period_0").parent().parent().hide();
    $(".errorlist").next().addClass("warning");
    $('#id_start_0').datepicker();
    $('#id_start_1').timepickr();
    {# $('#id_end_0').datepicker(); #}
    {# $('#id_end_1').timepickr(); #}
    $('#id_end_recurring_period_0').datepicker();
    $("#btn_recurring").click(function(){
        $("#id_rule").parent().parent().show();
        $("#id_end_recurring_period_0").parent().parent().show();
        $('#id_end_recurring_period_1').timepickr();
        $(this).hide();
        return false;
    });
    $("#btn_save").click(function(){
        $("input").removeClass("warning");
        var hasError = false;
		$(".errorlist").hide().remove();
		var start_0 = $('#id_start_0').val();
		var start_1 = $('#id_start_1').val();
		var end_0 = $('#id_end_0').val();
		var end_1 = $('#id_end_1').val();
		var title = $('#id_title').val();
		if(start_0 == '') {
			$("#id_start_0").before('<ul class="errorlist"><li>Please enter a start date.</li></ul>').addClass("warning");
			hasError = true;
		}
		if((start_1 == '') && (!hasError)) {
			$("#id_start_0").before('<ul class="errorlist"><li>Please enter a start time.</li></ul>');
			$("#id_start_1").addClass("warning");
			hasError = true;
		}
		if(end_0 == '') {
			$("#id_end_0").before('<ul class="errorlist"><li>Please enter an end date.</li></ul>').addClass("warning");
			hasError = true;
		}
		if((end_1 == '') && (!hasError)) {
			$("#id_end_0").before('<ul class="errorlist"><li>Please enter an end time.</li></ul>');
			$("#id_end_1").addClass("warning");
			hasError = true;
		}
		if(title == '') {
			$("#id_title").before('<ul class="errorlist"><li>Please enter a title.</li></ul>').addClass("warning");
			hasError = true;
		}
		if(hasError) {
		    return false;
	    }
    });
{% endblock %}