{% extends 'schedule/base.html' %}

{% load i18n %}

{% block head_title %}{% blocktrans %}{{ page_title }}{% endblocktrans %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
    <style>
        #id_start_0, #id_start_1, #id_end_0, #id_end_1, #id_end_recurring_period_0, #id_end_recurring_period_1 { width: 140px; }
        #id_start_0, #id_end_recurring_period_0 { margin-right: 5px; }
        .errorlist { display: block; position: relative; top: 1.4em; left: -24px; margin: 0px; padding:0px; }
        #id_title, #id_tags_string, #id_slug { width: 300px; }
        #id_description { width: 300px; height: 50px; overflow: auto; }
        th { width: 110px; }
        #btn_recurring { display: none; }
		.container th { border-bottom: none; vertical-align:top; text-align:left; }
		#id_start_2{ margin-left:5px;}
    </style>
{% endblock %}

{% block subnav %}
{% include "conference_subnav.html" %}
{% endblock %}

{% block body %}
<a id="tutorial" onclick="runJoan();$(this).fadeOut();">Tutorial</a>

<h1 class="uni_form_header">{% blocktrans %}{{ page_title }}{% endblocktrans %}</h1>
<form class="uniForm_faux" action="." method="post">
<fieldset>
<table class="label_align">
{{ form.as_table }}
</table>
<input type="hidden" name="event_type" value="conference" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="middle"><a id="btn_recurring" class="button">{% trans "Recurring Event..." %}</a></td>
    <td align="left" valign="middle"><button type="submit" class="purpleBtn" id="btn_save" ><img src="{{ MEDIA_URL }}img/silk/accept.png" border="0" />&nbsp;{% trans "Save Conference" %}</button></td>
    <td align="left" valign="middle"><a href="{{ event.get_delete_url }}" class="button" >{% trans "Clear" %}</a></td>
  </tr>
</table>




</fieldset>
</form>
{% endblock %}

{% block extra_body %}
<script src="{{ MEDIA_URL }}js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery.timepickr.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
<script type="text/javascript">
	var lf_ID = '100002567';
	function runJoan(){
		runLFOW();
	} 
</script>
{% endblock %}

{% block extra_jquery %}
    var alertCheck = $("#id_end_recurring_period_0").prev().attr("class");
    var selectCheck = $("#id_rule").val();
    if((alertCheck != "errorlist") && (!selectCheck)){
        $("#id_rule").parent().parent().hide();
        $("#id_end_recurring_period_0").parent().parent().hide();
        $("#btn_recurring").show();
    }
    $(".errorlist").next().addClass("warning");
    $('#id_start_0').datepicker({minDate: 0, maxDate: 365});
    $('#id_start_1').timepickr({convention: 12});
	$('#id_start_1').bind("blur", function(){
		time_am_pm = $(this).val();
		time =  time_am_pm.substr(0, 5);
		am_pm = time_am_pm.substr(6, 2);
		am_pm = am_pm.toUpperCase();
		$(this).val(time);
		$('#id_start_2').val(am_pm);
	});
    $('#id_end_recurring_period_0').datepicker({minDate: 0, maxDate: 365});
    $("#btn_recurring").click(function(){
        $("#id_rule").parent().parent().show();
        $("#id_end_recurring_period_0").parent().parent().show();
        $('#id_end_recurring_period_1').timepickr({convention: 12});
		$('#id_end_recurring_period_1').bind("blur focusout", function(){
			time_am_pm = $(this).val();
			time =  time_am_pm.substr(0, 5);
			am_pm = time_am_pm.substr(6, 2);
			am_pm = am_pm.toUpperCase();
			$(this).val(time);
			$('#id_end_recurring_period_2').val(am_pm);
		});
        $(this).hide();
        return false;
    });
    $("#btn_save").click(function(){
        $("input").removeClass("warning");
        var hasError = false;
		$(".errorlist").hide().remove();
		var slugReg = /^[A-Za-z0-9_-]{1,40}$/;
		var start_0 = $('#id_start_0').val();
		var start_1 = $('#id_start_1').val();
		var end_0 = $('#id_end_0').val();
		var end_1 = $('#id_end_1').val();
		var title = $('#id_title').val();
		var slug = $('#id_slug').val();
		if(start_0 == '') {
			$("#id_start_0").before('<ul class="errorlist"><li>Please enter a start date.</li></ul>').addClass("warning");
			hasError = true;
		}
		if((start_1 == '') && (!hasError)) {
			$("#id_start_0").before('<ul class="errorlist"><li>Please enter a start time.</li></ul>');
			$("#id_start_1").addClass("warning");
			hasError = true;
		}
		if(end_0 == '') {
			$("#id_end_0").before('<ul class="errorlist"><li>Please enter an end date.</li></ul>').addClass("warning");
			hasError = true;
		}
		if((end_1 == '') && (!hasError)) {
			$("#id_end_0").before('<ul class="errorlist"><li>Please enter an end time.</li></ul>');
			$("#id_end_1").addClass("warning");
			hasError = true;
		}
		if(title == '') {
			$("#id_title").before('<ul class="errorlist"><li>Please enter a title.</li></ul>').addClass("warning");
			hasError = true;
		}
		if(slug == '') {
			$("#id_slug").before('<ul class="errorlist"><li>Please enter a short name.</li></ul>');
			hasError = true;
		} else if(!slugReg.test(slug)) {
			$("#id_slug").before('<ul class="errorlist"><li>No special characters or spaces.</li></ul>');
			hasError = true;
		}
		
		if(hasError) {
		    return false;
	    }
    });
{% endblock %}