{% extends 'schedule/base.html' %}
{% load i18n %}


{% block extra_head_base %}
<style type="text/css" media="screen">
  .subnav { margin: 0px; }
</style>
{% endblock %}


{% block submenu %}
{% url my_conferences as url_my_conferences %}
{% url conferencing_add as  url_conferencing_add %}
{% url recorded_conf as url_recorded_conf %}
<div id="submenu_container">
  <ul class="subnav">
    {% if user.is_authenticated %}
    <li class="current"><a href=".">{% trans "Delete Conference" %}</a></li>
	<li {% ifequal url_my_conferences request.path %} class="current" {% endifequal %}><a href="{{ url_my_conferences }}">{% trans "My Conferences" %}</a></li>
	<li{% ifequal url_conferencing_add request.path %} class="current" {% endifequal %}><a href="{{ url_conferencing_add }}">{% trans "Schedule a New Conference" %}</a></li>
	<li{% ifequal url_recorded_conf request.path %} class="current" {% endifequal %}><a href="{{ url_recorded_conf }}">{% trans "Recorded Conferences" %}</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block body %}
<h1 class="uni_form_header">{% trans "Delete" %} {{ object }}</h1>

<form class="uniForm_faux" action="." method="POST">
        <p style="text-align:center;">{% trans "Are you sure that you really want to delete" %} <strong>{{ object }}?</strong></p>
	<p style="text-align:center;margin-bottom:30px;">
	  <a href="{{ object.get_absolute_url }}" class="buttonGreenSmall" style="text-decoration:none;text-align:center;color:white;line-height:25px;float:right;margin-left:15px;">{% trans "Cancel" %}</a>
	  <input type="submit" class="buttonGreenSmall" value="{% trans "Delete" %}" style="float:right;" />
	</p>
</form>
{% endblock %}
