{% extends 'schedule/base.html' %}

{% load i18n %} 
{% load uni_form %}
{% load file_tags %}
{% load extra_tagging_tags %}
{% load timezone_filters %}

{% block body %}
<style>
#id_recipient, #id_subject, #id_body { display: block; width: 500px; }
.vmail_recorder { width: 700px; height: 585px; margin: 0 auto; }
</style>

    
    <hr style="visibility:hidden;" />
    
    <h1 class="uni_form_header" style="width:750px;margin-left:10%;">{% trans "Send Invitation"%}: {{ event.title }}</h1>
    <form action="" method="post" class="uniForm" style="width:760px;margin-left:10%;">
        <fieldset class="inlineLabels">
            
            <h2 class="uni_form_list_step" style="margin-bottom: 14px;">1. Define Recipients</h2>
            
            <!-- the tabs --> 
            <ul class="tabs">
                <li><a href="{% url invite_email_ajax %}">Enter Email Addresses</a></li>
                <li><a href="{% url invite_contacts_ajax %}">Send To Contacts</a></li>
                <li><a href="{% url invite_groups_ajax %}">Send To Group</a></li>
            </ul> 

            <!-- tab "panes" --> 
            <div class="panes"> 
                <div style="display:block"></div> 
            </div>
            
            <hr style="visibility:hidden;" />
            <h2 class="uni_form_list_step">2. Enter Message</h2>
            <hr style="visibility:hidden;" />
            <label for="id_subject">Subject:</label>
            {{ form.subject }}
            <label for="id_body">Message:</label>
            {{ form.body }}
            <hr style="visibility:hidden;" />
            {# <h2 class="uni_form_list_step" style="margin-left:0px;"> #}
            {#     3. Record V-Mail Message #}
            {#     <input type="checkbox" class="uni_form_list_check" id="vmail_check"> #}
            {# </h2> #}
            {# <div id="vmail_wrapper"> #}
            {#  #}
            {#     <div class="vmail_recorder" id="vmail_recorder"></div> #}
            {#     {% comment %} #}
            {#     <form action="" method="post" class="uniForm" style="width:686px;margin: 0 auto;"> #}
            {#         <fieldset class="inlineLabels"> #}
            {#             <table style="margin-left:12em;"> #}
            {#             {{ form.as_table }} #}
            {#             </table> #}
            {#             <button type="submit" style="margin-left:16em;"><img src="{{ MEDIA_URL }}img/silk/webcam.png"> {% trans "Send V-Mail" %}</button> #}
            {#         </fieldset> #}
            {#     </form> #}
            {#     {% endcomment %} #}
            {# </div> #}
            {#  #}
            {# <h2 class="uni_form_list_step"> #}
            {#     4. Attach a Video Clip #}
            {#     <input type="checkbox" class="uni_form_list_check" id="attach_check"> #}
            {# </h2> #}
            <div class="form_block">
                <button type="submit" id="inviteSubmit"><img src="{{ MEDIA_URL }}img/silk/email_add.png" border="0" /> {% trans "Send Invitation" %} &raquo;</button>
            </div>
    </form>
    
    {% if recipient %}<input type="hidden" name="recipient_string" value="{{ recipient }}" id="recipient_string" />{% endif %}
    


    
{% endblock %}


{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">
    function reloadPage()
     {
       document.location.reload(true);
       return true;
     }
    
    $("ul.tabs").tabs("div.panes > div", {effect: 'ajax'}); 
    
    </script>

{% endblock %}

{% block extra_jquery %}
    $("#inviteSubmit").click(function(){					   				   
		$(".error_form").remove();
		var hasError = false;
		var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
		
		var emailFromVal = $("#id_recipient").val();
		if(emailFromVal == '') {
			$("#id_recipient").append('<span class="error_form">Enter an email address to send to.</span>');            
			hasError = true;
		}
		var messageVal = $("#id_body").val();
		if(messageVal == '') {
			$("#id_body").append('<span class="error_form">Please enter a message.</span>');
			hasError = true;
		}		
		var subjectVal = $("#id_subject").val();
		if(subjectVal == '') {
			$("#id_subject").append('<span class="error_form">Please enter a subject.</span>');
			hasError = true;
		}
		if(hasError == true){
		    return false;
		}
	});

{% endblock %}