{% extends 'schedule/base.html' %}
{% load i18n %}
{% load file_tags %}
{% load extra_tagging_tags %}
{% load timezone_filters %}
{% load scheduletags %}

{% block head_title %}{{event.title}}{% endblock %}

{% block extra_head %}
<meta name="title" content="NetConference conference: {{ event.title }}" />
<meta name="description" content="Please come join my NetConference on {{ event.start|localtime:timezone|date:_("DATETIME_FORMAT") }} Time zone is {{ timezone }}" />
<link rel="image_src" href="{{ site_url }}{{ MEDIA_URL }}img/netconference_conf_thumb.jpg" />
<style type="text/css">
    #event_list_box p { margin: 0.5em 0px; }
</style>
{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    	    {% if user.is_authenticated %}
    		<li><a href="{% url conferencing %}">{% trans "Dashboard" %}</a></li>
    		<li><a href="{% url my_conferences %}">{% trans "My Conferences" %}</a></li>
    		{# <li><a href="{% url conferences_public %}">{% trans "Public Conferences" %}</a></li> #}
    		<li><a href="{% url conferencing_add %}">{% trans "Schedule a New Conference" %}</a></li>
    		<li class="current"><a href="#">{% trans "Conference Detail" %}</a></li>
    		{% else %}
            <li><a href="#">{% trans "Conference Detail" %}</a></li>
    		{% endif %}
        </ul>
{% endblock %}

{% block body %}
<a id="tutorial" onclick="runJoan();$(this).fadeOut();">Tutorial</a>
<div class="event_actions form_note" style="margin-bottom:30px;">
    {% ifequal user event.creator  %}
    <a href="{% url d_calendar_date event.start.year,event.start.month,event.start.day %}" ><input type="submit" class="buttonBlueSmall" value="{% trans "This Day" %}" style="float:right;" /></a>
    <a href="{% url m_calendar_date event.start.year,event.start.month %}" ><input type="submit" class="buttonBlueSmall" value="{% trans "This Month" %}" style="float:right;margin-right:10px;"/></a>
	{% if back_url %}
	<a href="{{ back_url }}" title="Back" style="float:left;margin:0px 10px 10px 0px;"><input type="submit" class="buttonBlueSmall" value="{% trans "Back" %}" /></a>
	{% endif %}
    <a href="{{ event.get_edit_url }}" title="Edit Event" style="float:left;margin:0px 10px 10px 0px;"><input type="submit" class="buttonBlueSmall" value="{% trans "Edit" %}" /></a>
	<a href="{{ event.get_delete_url }}" title="Delete Event" style="float:left;margin:0px 10px 10px 0px;"><input type="submit" class="buttonBlueSmall" value="{% trans "Delete" %}" /></a>
	{% endifequal %}
</div>
<h1 class="uni_form_header" style="text-align:center;">{{event.title}}</h1>
<div class="uniForm_faux">
    <div style="background:white;border:1px solid #c7c7c7;padding:15px 10px 5px;" id="event_list_box">
        <p><strong>Meeting Host:</strong> <a href="{% url user_dashboard event.creator %}" class="purple">{% if event.creator.first_name %}{% if event.creator.last_name %}{{ event.creator.first_name }} {{ event.creator.last_name }}{% endif %}{% else %}{{ event.creator }}{% endif %}</a></p>
        <p><strong>Meeting URL:</strong> <a href="{{ site_url }}{{ event.get_absolute_url }}">{{ site_url }}{{ event.get_absolute_url }}</a></p>
        <p>Starts: &nbsp;
        {% if logged_in %}{% blocktrans with event.start|localtime:account.timezone|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}{% else %}{% blocktrans with event.start|localtime:timezone|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %} (Time zone is {{ timezone }}){% endif %}</p>
        <p>Reoccurs: &nbsp;
        {% if event.rule %}
        {{ event.rule }} until {% blocktrans with event.end_recurring_period|localtime:account.timezone|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}
        {% else %}
        {% trans "Never. This is a 'one time only' event." %}
        {% endif %}
        </p>
		{% if event.is_recorded %}
			<p> This conference will be recorded.
			</p>	
		{% endif %}
        {% if event.private %}
            <p><img src="{{ MEDIA_URL }}img/{{ event.private|vidprivacy }}.png" border="0" alt="Private Conference" title="Private Conference" class="privacy_lock_right" /> This conference is private.</p>
        {% else %}
            <p><img src="{{ MEDIA_URL }}img/{{ event.private|vidprivacy }}.png" border="0" alt="Public Conference" title="Public Conference" class="privacy_lock_right" /> This conference is public.</p>
        {% endif %}
		
			
		
        {% if event.description %}
        <p>
            <strong>Description:</strong>
            <span style="display:block;clear:left;margin-left:12px;">{{event.description|linebreaksbr}}</span>
        </p>
        {% endif %}
        <br />
	{% if allow_join %}
	    <a href="#" style="float:left;" onclick="javascript:window.open('{{ event.get_conference_url }}','conferencepage',config='height=800,width=1000,top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;"><input type="submit" class="buttonGreen" value="{% trans "Join this Conference" %}" style="font-size:20px;" /></a>
	{% else %}
	    <a href="/subscription/">
	      <input type="submit" class="buttonGreen" value="{% trans "Upgrade to Join" %}" style="font-size:20px;" />
	    </a>
	{% endif %}
        <link rel="image_src" href="{{ site_url }}{{ MEDIA_URL }}img/netconference_conf_thumb.jpg" />
        <hr style="visibility:hidden;" />      

        <a href="{{ site_url }}/schedule/ical/event/netconference.ics?event={{ urlhash }}"><input type="submit" class="buttonBlueMedium" value="{% trans "Add to Outlook/iCal" %}" style="font-size:12px;float:left;margin-right:10px;" /></a>  
        <a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{ event.title }}&dates={{ utc_str }}&sprop=website:www.netconference.com{{event.get_absolute_url}}&details={{ event.description }} Join the meeting at {{ site_url }}{{event.get_absolute_url}}" target="_blank"><input type="submit" class="buttonBlueMedium" value="{% trans "Add to Google Calendar" %}" style="font-size:12px;float:left;" /></a>
        <hr style="visibility:hidden;" />
        
        {% ifequal user event.creator %}
        <a href="{{ event.get_invite_url }}" id="btn_invite" rel="invite_window"><input type="submit" class="buttonBlueMedium" value="{% trans "Send Invitations" %}"  style="float:left;margin-right:10px;" /></a>
        {% endifequal %}
        
        {% if event.private %}
        <a href="" class="modalInput" rel="#facebook_private_notice"><input type="submit" class="buttonBlueMedium" value="{% trans "Share on Facebook" %}" style="float:left;" /></a>
        <div class="modal" id="facebook_private_notice"> 
            <h2>Private Event</h2> 
            <p>Private events cannot be shared on Facebook.</p>
            <p> <button class="close"> Okay </button> </p> 
        </div>
        {% else %}
        <script>function fbs_click() {u='{{ site_url }}{{event.get_absolute_url}}';t='{{ event.title }}';window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>
        <a href="http://www.facebook.com/share.php?u={{ site_url }}{{ event.get_absolute_url }}" onclick="return fbs_click()" target="_blank" ><input type="button" class="buttonBlueMedium" value="{% trans "Share on Facebook" %}" style="float:left;margin-right:10px;" /></a>
        <a href="http://twitter.com/?status=Join+my+NetConference:+{{ event.title }}+at+{{ event.start|localtime:account.timezone|date:_("DATETIME_FORMAT") }}+{{ site_url }}{{event.get_absolute_url}}" target="_blank"><input type="button" class="buttonBlueMedium" value="{% trans "Share on Twitter" %}" style="float:left;" /></a>
        {% endif %}
        <hr style="visibility:hidden;" />
    </div>
</div>
<br />
  <a href="#" onclick="runJoan();return false;" target="_blank" class="tutorial_btn"><p>Tutorial</p></a>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
    <script type="text/javascript">
    	var lf_ID = '100002565_B';
    	function runJoan(){
    		runLFOW();
    	} 

      if (top.location != location) {
        top.location.href = document.location.href;
      }
    </script>
{% endblock %}

{% block extra_jquery %}
    $(".modalInput").overlay({
            color: '#ccc',
            expose: {
                color: '#090909', 
                opacity: 0.9,
                closeOnClick: false
            },
            closeOnClick: false
        });
{% endblock %}
