<link rel="stylesheet" href="{{ MEDIA_URL }}css/token-input.css" type="text/css" media="screen, projection" />
<label for="id_recipient" id="autocomplete_label" class="compose_text">Enter names of people from your Contacts list:</label>
<input name="recipient" value="" id="id_recipient" type="text" title="This field is required." class="textinput" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tokeninput.js"></script>
<script>
$(function() {
    $("#id_recipient").tokenInput("/connections/contacts/autocomplete/", {
        hintText: "Start typing a name or email address",
        noResultsText: "No results",
        searchingText: "Searching..."
    });
    $("li.token-input-input-token input").addClass("textinput");
});
</script>
