<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.multiSelect.css" type="text/css" media="screen" />
<script type="text/javascript" language="Javascript" src="{{ MEDIA_URL }}js/jquery.multiSelect.js"></script>
<style>
#django_log { display: none; }
input.multiSelect { width: 500px ! important; }
.multiSelectOptions label { width: 90% ! important;}
</style>
<script>
$(document).ready(function(){
    $("#id_groups").multiSelect({ oneOrMoreSelected: '*' });
});
</script>

<label for="id_groups" id="id_groups_label" class="compose_text">Select from your Contact Groups:</label><br />
<select name="groups" id="id_groups" title="Please select a group." class="textinput">
    {% for o in object_list %}
    <option value="{{ o.id }}">{{ o.name }}</option>
    {% endfor %}
</select>

<input type="hidden" value="group" name="recipient" />
    {# <ul class="contactgroup_boxes"> #}
    {# {% for o in object_list %} #}
    {#     <li> #}
    {#         <input type="checkbox" name="contactgroup_{{ o.id }}" id="contactgroup_{{ o.id }}" class="contactgroup_check" /> #}
    {#         <label for="contactgroup_{{ o.id }}">{{ o.name }}</label> #}
    {#     </li> #}
    {# {% endfor %} #}
    {# </ul> #}
