{% extends "newer_base.html" %}
    {% block content %}
        <div id="new_inner_page">
            <div class="grid_dashboard"> <img src="{{MEDIA_URL}}images/welcome_nc.png" width="487" height="31" alt="Welcome to Your NetConference" style="margin-bottom:20px;" /><br/>
                {% comment %}
				<div class="db_hint"><div class="close"></div><div class="whatis"></div><p>We see this is your first time logging in. Use these Help Tips to familiarize yourself with the system.<br/> 
If you are comfortable, you may turn the Help Tips off in Account Settings by clicking your username in the top-right of the page.</p></div>
                {% endcomment %}
				<p style="padding-bottom:30px;"><img src="{{MEDIA_URL}}images/letstarted.png" width="182" height="25" alt="" /></p>
				<p align="center" style="padding-bottom: 80px;"><img src="{{MEDIA_URL}}images/line_devider.png" width="683" height="12" alt="" /></p>
                
                <div class="db_feature_bg"><a onclick="javascript:window.open('{{ instant.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;">
                	<div class="dash_icon_holder"><img src="{{MEDIA_URL}}images/dashboard_myconf_icon.png" width="165" height="138" alt="My conference" /> </div>
                    <p style="margin:20px 0 10px 0"><img src="{{MEDIA_URL}}images/start_conference.png" width="134" height="12" alt="" /></p>
                    My 24/7 Conference Room</a>
                </div>
                <div class="db_feature_bg"><a href="{% url conferencing_schedule %}">
                	<div class="dash_icon_holder"><img src="{{MEDIA_URL}}images/dashboard_scheduleconf_icon.png" width="161" height="142" alt="Schedule Conference" /> </div>
                    <h4>Schedule a Conference</h4></a>
                </div>
                <div class="db_feature_bg"><a href="{% url upload_file %}">
                	<div class="dash_icon_holder"><img src="{{MEDIA_URL}}images/dashboard_upload_icon.png" width="159" height="127" alt="Uplod File" /> </div>
                    <h4>Upload a File</h4></a>
                </div>
				<div class="db_feature_bg"><a href="{% url vmail_wizardCompose %}">
                	<div class="dash_icon_holder"><img src="{{MEDIA_URL}}images/dashboard_vmail_icon.png" width="114" height="132" alt="Send V-Mail" /> </div>
                    <h4>Send V-Mail<sup>&trade;</sup></h4></a>
                </div>
                <div class="clear"></div>
                {% comment %}
              <div class="notifications">
                	<div class="leftpanel">
               	    <img src="{{MEDIA_URL}}images/nc_notifications.png" width="44" height="33" alt="Notifications" />
                    My NetConference<sup>&reg;</sup> <br />Notifications
                    </div>
                    <div class="rightpanel">
                    	<p class="attention"><strong>Conference Title</strong> at 4:00pm on Thursday, March 3/13/2012. <a href="#"><img src="{{MEDIA_URL}}images/arrow_notification.png" width="9" height="13" alt="" /></a></p>
                        <p class="attention"><strong>Attention: </strong> we can not charge your account, please verify your credit card.  <a href="#"><img src="{{MEDIA_URL}}images/arrow_notification.png" width="9" height="13" alt="" /></a></p>
                        <p><strong> Attention:</strong> You are almost out of storage space. <a href="#" class="purple">UPGRADE</a> now. <a href="#"><img src="{{MEDIA_URL}}images/arrow_notification.png" width="9" height="13" alt="" /></a></p>
                  </div>
       		  </div>
                {% endcomment %}
                <div class="clear"></div>
            </div>
        </div>
    {% endblock %}
