{% extends 'schedule/base.html' %}
{% load i18n %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load avatar_tags %}
{% load timezone_filters %}

{% block head_title %}
    {% if is_public %}
    {{ user_obj.username }}'s {% trans "Public Calendar" %}
    {% else %}
    {% trans "Dashboard" %}
    {% endif %}
{% endblock %}

{% block extra_head %}
    <style type="text/css">
    h1#friends_list_top { width:256px;margin-left:0px;margin-top:-45px; }
    .button, button { display: block; }
    </style>
    <!--[if IE 7]>
    <style type="text/css">
    h1#friends_list_top { margin-top: -183px; }
    a.button { float: left; zoom: 1; position: absolute; top: 5px; left: 5px; }
    a.btn_fileList { top: 25px; }
    .listTitle { font-size: 12px; }
    </style>
    <![endif]-->
{% endblock %}

{% block logo_link_image %}
    {% if user_theme.logo %}<a href="{% url home %}"><img src="{{ user_theme.logo.url }}" alt="NetConference" border="0" /></a>
    {% else %}<a href="{% url home %}"><img src="{{ MEDIA_URL }}img/logo_main.png" alt="NetConference" border="0" /></a>
    {% endif %}
{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
    	<ul class="subnav">
    	    {% if is_public %}
    	    <li><a href="{% url conferencing %}">{% trans "Dashboard" %}</a></li>
    	    {% else %}
    		<li class="current"><a href="{% url conferencing %}">{% trans "Dashboard" %}</a></li>
    		{% endif %}
    		<li><a href="{% url my_conferences %}">{% trans "My Conferences" %}</a></li>
    		{# <li><a href="{% url conferences_public %}">{% trans "Public Conferences" %}</a></li> #}
    		<li><a href="{% url conferencing_add %}">{% trans "Schedule a New Conference" %}</a></li>
    		{% if is_public %}
    		<li class="current"><a href="{% url my_conferences %}">{{ user_obj.username }}'s Public Calendar</a></li>
    		{% endif %}
        </ul>
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
    <img src="{{ MEDIA_URL }}img/title_getstarted.png" alt="Get Started" width="119" height="24" border="0" style="margin-left:28px;" />
    <hr style="visibility:hidden;height:1px;margin:0;" />
    <div class="launcher_light" style="margin-left:20px;margin-top:0px;width:24%;">
        <ul>
            <li class="launcher_title">Create a New:</li>
            <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_conference.png" alt="" border="0" /></div><a href="{% url s_create_event %}">NetConference</a></li>
            <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_vmail.png" alt="" border="0" /></div><a href="{% url vmail_compose %}">Video Email</a></li>
            <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_upload.png" alt="" border="0" style="margin-top:1px;" /></div><a href="{% url upload_file %}">File Upload</a></li>
            <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_team.png" alt="" border="0" style="margin-top:2px;" /></div><a href="{% url tribe_create %}">Workgroup</a></li>
            {# <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_signature.png" alt="" border="0" /></div><a href="">Document for Digital Signature</a></li> #}
        </ul>
    </div>
    <div class="launcher_dark" style="margin-top:0px;width:24%;">
        <ul>
            <li class="launcher_title">Go To My:</li>
            {# <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_confroom.png" alt="" border="0" /></div><a href="{% url conference_session_quick user_obj.username %}">QuickConference Room</a></li> #}
            {# <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_confroom.png" alt="" border="0" /></div><a href="{% url conference_session_quick user_obj.username %}" onclick="javascript:window.open('{% url conference_session_quick user_obj.username %}','conferencepage',config='height=800,width=1000,top=0,left=0,fullscreen=yes,titlebar=no,personalbar=no,dialog=yes,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;">QuickConference Room</a></li> #}
            <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_datebook.png" alt="" border="0" /></div><a href="{% url user_dashboard user_obj.username %}">Conference Calendar</a></li>
            {# <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_network.png" alt="" border="0" /></div><a href="">Network</a></li> #}
            <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_profile.png" alt="" border="0" /></div><a href="{% url profile_detail user %}">Profile</a></li>
            <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_settings.png" alt="" border="0" style="margin-top:2px;" /></div><a href="{% url acct_email %}">Settings</a></li>
        </ul>
    </div>
    <div class="launcher_light" style="margin-top:0px;width:24%;">        
        <ul>
            <li class="launcher_title">My Network</li>
            {# <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_network.png" alt="" border="0" /></div><a href="">View/Manage My Network</a></li> #}
            {# <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_invite.png" alt="" border="0" /></div><a href="">Invite a Friend</a></li> #}
            {# <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_share.png" alt="" border="0" style="margin-top:1px;" /></div><a href="">Share Files with Friends</a></li> #}
            {# <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_message.png" alt="" border="0" /></div><a href="">Send a Message to My Network</a></li> #}
            {# <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_fb.png" alt="" border="0" style="margin-top:3px;" /></div><a href="">Share Meeting in Facebook</a></li> #}
            <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_vcard.png" alt="" border="0" style="margin-top:2px;" /></div><a href="{% url invitations_contacts %}">Contacts</a></li>
            <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_updates.png" alt="{% url notification_notices %}" border="0" /></div><a href="{% url notification_notices %}">Network Updates</a></li>
        </ul>
    </div>
    <div class="launcher_dark" style="margin-top:0px;width:24%;">
        <ul>
            <li class="launcher_title">More...</li>
            {# <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_headset.png" alt="" border="0" /></div><a href="">Telephone Conference Bridge</a></li> #}
            {# <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_link.png" alt="" border="0" style="margin-top:2px;" /></div><a href="">Upload a Corporate Logo</a></li> #}
            <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_import.png" alt="" border="0" /></div><a href="{% url invitations_contacts %}">Import Contacts</a></li>
        </ul>
    </div>
    
</div>

<div style="text-align:center;margin:0px auto 0px;display:block;clear:left;">
    <strong>My Conference Line:</strong> {{ ccall_pin.dial_in_number }} &nbsp;&nbsp;
    <strong>Host Access Code:</strong> {{ ccall_pin.access_code }} * &nbsp;&nbsp;
    <strong>Guest Access Code:</strong> {{ ccall_pin.access_code }} # &nbsp;&nbsp;
    <br />
    <a href="https://freeconferencecall.com/loginaccount.asp" target="_blank">Click here to download last recorded conference</a> using Subscriber PIN: {{ ccall_pin.password }}
</div>

{% endblock %}

{% block subcontent %}

    <hr style="visibility:hidden;" />

    {% include "schedule/_event_list.html" %}
    
    {% include "schedule/_media_list.html" %}

    <h1 class="items_list_top sidebar_title" id="friends_list_top">{% trans "Your Friends" %}</h1>
    <ul class="friends">
    {% if other_friends %}
        {% for friendship in other_friends %}
        <li>
            <div class="avatar">{% avatar friendship.friend 40 %}</div>
            <div class="details"><a href="{% url user_dashboard friendship.friend.username %}" title="{{ friendship.friend.username }}">
                {% if friendship.friend.first_name %}{% if friendship.friend.last_name %}
                    {{ friendship.friend.first_name }} {{ friendship.friend.last_name }}{% endif %}
                {% else %}
                    {{ friendship.friend.username }}
                {% endif %}
            </a></div>
        </li>
        {% endfor %}
    {% else %}
        <li>{% blocktrans %}None. You should look at the list of <a href="/profiles/">profiles</a> and see if there's anyone you know.{% endblocktrans %}</li>
    {% endif %}
    </ul>


{% endblock %}

{% comment %}
{% block extra_jquery %}
    $('.date_has_event').each(function () {
		// options
		var distance = 10;
		var time = 250;
		var hideDelay = 500;
 
		var hideDelayTimer = null;
 
		// tracker
		var beingShown = false;
		var shown = false;
 
		var trigger = $(this);
		var popup = $('.events ul', this).css('opacity', 0);
 
		// set the mouseover and mouseout on both element
		$([trigger.get(0), popup.get(0)]).mouseover(function () {
			// stops the hide event if we move from the trigger to the popup element
			if (hideDelayTimer) clearTimeout(hideDelayTimer);
 
			// don't trigger the animation again if we're being shown, or already visible
			if (beingShown || shown) {
				return;
			} else {
				beingShown = true;
 
				// reset position of popup box
				popup.css({
					bottom: 3,
					left: -76,
					display: 'block' // brings the popup back in to view
				})
 
				// (we're using chaining on the popup) now animate it's opacity and position
				.animate({
					bottom: '+=' + distance + 'px',
					opacity: 1
				}, time, 'linear', function() {
					// once the animation is complete, set the tracker variables
					beingShown = false;
					shown = true;
				});
			}
		}).mouseout(function () {
			// reset the timer if we get fired again - avoids double animations
			if (hideDelayTimer) clearTimeout(hideDelayTimer);
 
			// store the timer so that it can be cleared in the mouseover if required
			hideDelayTimer = setTimeout(function () {
				hideDelayTimer = null;
				popup.animate({
					bottom: '-=' + distance + 'px',
					opacity: 0
				}, time, 'linear', function () {
					// once the animate is complete, set the tracker variables
					shown = false;
					// hide the popup entirely after the effect (opacity alone doesn't do the job)
					popup.css('display', 'none');
				});
			}, hideDelay);
		});
	});
{% endblock %}
{% endcomment %}
