{% extends 'schedule/base.html' %}
{% load i18n %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load avatar_tags %}
{% load timezone_filters %}
{% load other_service_tags %}

{% load scheduletags %}
{% load file_tags %}

{% block head_title %}
    {% if is_public %}
    {{ user_obj.username }}'s {% trans "Public Calendar" %}
    {% else %}
    {% trans "Dashboard" %}
    {% endif %}
{% endblock %}

{% block extra_head %}
    <style type="text/css">
    h1#friends_list_top { width:236px;margin-left:0px;margin-top:-5px; }
    .button, button { display: block; }
        /* initially all panes are hidden */
    div.panes div { padding: 0px; }
    .btn_conf { margin-top: 5px ! important; }
    	#friends .user{
		display:block;
        height:55px;
        margin:0;
	}

		#friends .user img{
			width: 40px;
			height: 40px;
			float: left;
			margin-right: 10px;
			position: relative;
			top: 1px;
			border: 1px solid #a4a4a4;
		}

		#friends .user p{
			float: left;
			top: 0 ! important;
			margin-top: 10px;
        }
        ul.friends { width: auto; }
		ul.friends li { padding: 0; }
		ul.friends li a { text-decoration: none; display: block; height: 45px; margin: 0px; padding: 5px; }
		ul.friends li a:hover { background: #ccc; }

		a#tutorial { top: -11px; }

        #dashboard_container ul.tabsdata li { margin: 0px; }
        .settings table { padding: 0px; margin: 0px; }
        .settings table td { padding: 0px; margin: 0px; }
        .data { padding: 0px; margin: 0px; }
        .data td { padding: 0px; margin: 0px; }
        .border_data ul { padding: 0px; margin: 0px;}
        .border_data ul li { padding: 0px; margin: 0px; list-style-type: none; }
        #files_list { padding: 0px; margin: 0px; width: 698px; }
        .listTitle { font-size: 12px; }
        table .data { font-size: 12px; }
        .data td { vertical-align: middle; }
        a .link { text-decoration: underline; }
        ul .tabsdata li a { width: 183px; }

        #friendslist ul {
            margin: 0px;
            list-style-type: none;
        }
        #friendslist ul li {
            margin: 0px;
        }
        #files_list td {
            padding: 0px;
            margin: 0px;
            vertical-align: middle;
        }
        #files_list p {
            margin: 0px;
        }
        #files_list td a {
            padding-left: 5px;
        }
        .sub_title td a{
            color:black;
            font-size: 12px;
        }
        .hori_border td {
            line-height: 24px;
        }
        .subnav { margin: 0px; }
    </style>
    <!--[if IE]>
    <style type="text/css">
    .launcher_light ul, .launcher_dark ul { margin-left: 6px; }
    .launchbutton { font-size: 14px ! important; padding: 7px 8px 6px ! important; margin-top: 12px ! important; }
    #friends_list_top { position: relative; top:  190px; }
    .friends { position: relative; top:  190px; }
    .tabs { position: relative; top:  160px ! important; }
    .panes {  position: relative; top:  160px ! important; }
    .footer { clear: both; margin-top: 210px; }

    div.panes { left: 40px ! important }
    .items_list { width: 665px ! important; }
    </style>
    <![endif]-->
    <!--[if IE 7]>
    <style type="text/css">
    h1#friends_list_top { margin-top: -183px; }
    a.button { float: left; zoom: 1; position: absolute; top: 5px; left: 5px; }
    a.btn_fileList { top: 25px; }
    .listTitle { font-size: 12px; }
    </style>
    <![endif]-->
{% endblock %}

{% block subnav %}
{% include "dashboard_subnav.html" %}
{% endblock %}

{% block content950top %}
{% endblock %}

{% block content950bot %}
{% endblock %}

{% block subcontent %}
<div id="launcher_wrap">
  <ul id="launcher_left" >
    <li id="launch1" class="buttontooltip">
    	<a href="{% url upload_file %}">
 		<!--<ul>
			<span class="title">SHARE FILES<br/>WITH A<br/>SINGLE CLICK</span>
		</ul>  -->
        </a>
    </li>
    <li id="launch2" class="buttontooltip">
    	<a href="{% url conferencing_add %}" >
 		<!--<ul>
			<span class="title">COLLABORATE<br/>WITH<br/>FRIENDS</span>
		</ul>-->
        </a>
    </li>
    <li id="launch3" class="modalInput buttontooltip" rel="#phone_notice">
        <a href="#" >
 		<!--<ul>
			<span class="title">(712) 432-0690<br/>HOST : {{ ccall_pin.access_code }}*<br/>GUEST : {{ ccall_pin.access_code }}#</span>
		</ul> -->
        </a>
    </li>
    <li id="launch4" class="buttontooltip" >
        <a href="{% url vmail_compose %}">
 		<!--<ul>
			<span class="title">ALREADY HAVE<br/>A SCHEDULED<br/>CONFERENCE?</span>
		</ul>  -->
                </a>
    </li>
    <li id="launch5" class="buttontooltip" >
    <a href="{% url select_netsign %}" >
 		<!--<ul>
			<span class="title">SEND AN AGREEMENT<br/>FOR DIGITAL<br/>SIGNATURE</span>
		</ul>   -->
    </a>
    </li>
  </ul>
 	 <div id="launcher_right" class="container">
    	<div style="font-size:12px;text-align:center;margin:0px auto 0px;margin-left: 10px; display:block;clear:left;line-height:16px;"> <br/>
     	 <strong>{% trans "My Conference Line:" %}</strong> {{ ccall_pin.dial_in_number }} &nbsp;&nbsp; <strong>{% trans "Host Access Code:" %}</strong> {{ ccall_pin.access_code }}* 		&nbsp;&nbsp; <strong>Guest Access Code:</strong> {{ ccall_pin.access_code }}# &nbsp;&nbsp; <br />
    	</div>
    	<div class="launcher_dark" style="margin-left:20px;">
   		   <ul>
      		  <li class="launcher_title">{% trans "Create a New:" %}</li>

       		 <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_conference.png" alt="" border="0" /></div>
          	  	<a href="{% url s_create_event %}">{% trans "NetConference" %}</a></li>

   		     <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_vmail.png" alt="" border="0" /></div>
    	   		<a href="{% url vmail_compose %}?vmail=True">{% trans "Video Email" %}</a></li>

       		 <li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_upload.png" alt="" border="0" style="margin-top:1px;" /></div>
   		      	<a href="{% url upload_file %}">{% trans "File Upload" %}</a></li>

        {#<li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_team.png" alt="" border="0" style="margin-top:2px;" /></div><a href="{% url tribe_create %}">Workgroup</a></li>#}

        	<li><div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_signature.png" alt="" border="0" /></div>
         		<a href="{% url netsign_about %}">{% trans "Digital Signature" %}</a></li>
                          <li>
          <div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icons/project_icon.png" alt="" border="0" style="margin-top:2px;" /></div>
          <a href="{% url project_create_project %}">{% trans "Project" %}</a></li>

     	 </ul>
   	 </div>
     <div class="launcher_light">
         <ul>
             <li class="launcher_title">{% trans "Go To My:" %}</li>
             <li>
                 <div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_profile.png" alt="" border="0" /></div>
                 <a href="{% url user_dashboard username=user.username %}">{% trans "Public Profile" %}</a>
             </li>
             <li>
                 <div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_settings.png" alt="" border="0" style="margin-top:2px;" /></div>
                 <a href="{% url acct_email %}">{% trans "Settings" %}</a>
             </li>
             <li>
                 <div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_dollor.png" alt="" border="0" style="margin-top:2px;" /></div>
                 <a href="{% url affiliate_dashboard %}">{% trans "Business Dashboard" %}</a>
             </li>
             <li>
                 <div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icons/icon_projects.png" alt="" border="0" style="margin-top:2px;" /></div>
                 <a href="{% url project_dashboard %}">{% trans "Projects" %}</a>
             </li>
             <li>
                 <div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_store.png" alt="" border="0" style="margin-top:2px;" /></div>
                 <a href="{% url store_index %}">{% trans "Store" %}</a>
             </li>
         </ul>
     </div>
    <div class="launcher_dark">
      <ul>
        <li class="launcher_title">{% trans "My Network:" %}</li>
        <li>
          <div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_vcard.png" alt="" border="0" style="margin-top:2px;" /></div>
          <a href="{% url invitations %}">{% trans "Contacts" %}</a></li>
        <li>
          <div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_import.png" alt="" border="0" /></div>
          <a href="{% url invitations_contacts %}">{% trans "Import Contacts" %}</a></li>
        <li>
          <div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_updates.png" alt="" border="0" /></div>
          <a href="{% url tribe_list %}">{% trans "Network Groups" %}</a></li>
        <li>
          <div class="launcher_icon"><img src="{{ MEDIA_URL }}img/home_icon.png" alt="" border="0" /></div>
          <a href="{% url user_dashboard user_obj.username %}">{% trans "My Home Page" %}</a></li>
        <li>
          <div class="launcher_icon"><img src="{{ MEDIA_URL }}img/icon_team.png" alt="" border="0" /></div>
          <a href="{% url friends_directory %}">{% trans "Public Directory" %}</a></li>
      </ul>
    </div>
    <div class="clear">  </div>


    <div style="font-size:12px;text-align:center;margin:0px auto 0px;display:block;clear:left;line-height:20px;">
        {% trans "My Public Profile Address:" %} <a href="{{ home_page_url }}">{{ home_page_url }}</a>
        <br />
        {% trans "My Affiliate Link: (When your friends sign up through this link they are automatically added to your affiliate program)" %} <a href="{{affiliate_page_url}}">{{affiliate_page_url}}</a>
        <br />
    </div>

</div>
  <!--LAUNCHER  RIGHT ENDS-->
</div>


<div class="clear"></div>

  <!--METER USAGE STARTS-->
  <div class="meter_container">
 <table width="985" border="0" align="center" cellpadding="0" cellspacing="0" class="data_border" >
  <tr class="settings">
    <td align="left"><span class="usage_heading">{% trans "My Current Usage" %}</span></td>
    <td align="right"><table width="220" border="0" align="right" cellpadding="0" cellspacing="0">
      <tr>
        <td width="40"  class="bigpad">{% trans "Used" %}</td>
        <td width="50"  class="medpad">{% trans "Available" %}</td>
        <td width="130" align="center">{% trans "Consumed" %}</td>
      </tr>
    </table></td>
    <td align="left"><table width="220" border="0" align="right" cellpadding="0" cellspacing="0">
  <tr class="settings">
        <td width="40" align="center">{% trans "Used" %}</td>
        <td width="50" align="center">{% trans "Available" %}</td>
        <td width="130" align="center">{% trans "Consumed" %}</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3" align="left" valign="top" ><br/><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="280" align="left" valign="top">

        <div style="width:200px; float:left;">
        	<div class="metericon"><img src="{{MEDIA_URL}}/img/icon_meternew.png" width="49" height="49" alt="Meter Icon" class="left" /></div>
            <div class="metercontent"><span class="start_date"><strong>{% trans "Started on " %}{{period_start|date}}</strong></span><br/><span style="font-size:10px; line-height:14px;">{% trans "(Resources Renew Each Month)" %}</span></div>
         </div>
           <div style="width:200px; float:left;">
		   {% if show_upgrade %}
        	<div class="upgradeicon"><a href="/subscription/"><img src="{{MEDIA_URL}}/img/upgrade_small.png" width="86" height="25" alt="Upgrade" /></a></div>
            <div class="upgradecontent"><p style="font-size:10px; line-height:14px; text-align:center;">{% trans "Upgrade Today " %}<br/>{% trans "for Full and " %}<br/>{% trans "Unlimited Access" %}</p></div>
			{% else %}
			<div class="upgradeicon">&nbsp;
			</div>
			<div class="upgradecontent"><p style="font-size:10px; line-height:14px; text-align:center;">
                {% blocktrans %}
                Congrats <br/>You have <br/>full access.</p>
                {% endblocktrans %}
			</div>
			{% endif %}
         </div>

        </td>
        <td width="1" align="left" valign="top" class="ver_border">&nbsp;</td>
        <td width="380" align="left" valign="top">
	<table width="360" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr class="hori_border">
            <td align="left" style="width:105px;"><p class="category">{% trans "Conference Minutes" %}</p></td>
            <td align="center">{{conference_min.used}}</td>
            <td align="center">{{conference_min.max}}</td>
            <td align="center" valign="middle">
	    <span class="progressBar" id="pbconference_min"> </span></td>
          </tr>
          <tr class="hori_border">
            <td align="left"><p class="category">{% trans "Messages Sent" %}</p></td>
            <td width="30" align="center">{{messages_sent.used}}</td>
            <td width="30" align="center">{{messages_sent.max}}</td>
            <td width="120" align="center" valign="middle">
	    <span class="progressBar" id="pbmessages_sent"> </span>
	    </td>
          </tr>
          <tr class="hori_border">
            <td align="left"><p class="category">{% trans "Vmails Sent" %}</p></td>
            <td width="30" align="center">{{vmails_sent.used}}</td>
            <td width="30" align="center">{{vmails_sent.max}}</td>
            <td align="center" valign="middle">
	    <span class="progressBar" id="pbvmails_sent"> </span>
	    </td>
          </tr>
        </table></td>
        <td align="left" valign="top" class="ver_border">&nbsp;</td>
        <td align="left" valign="top"><table width="360" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr class="hori_border">
            <td width="140" align="left"><p class="category">{% trans "Files Uploaded (MB)" %}</p></td>
            <td align="center">{{files_uploaded.used}}</td>
            <td align="center">{{files_uploaded.max}}</td>
            <td width="120" align="center" valign="middle">
	    <span class="progressBar" id="pbfiles_uploaded"> </span>
	    </td>
          </tr>
          <tr class="hori_border">
            <td align="left"><p class="category">{% trans "NetSigns Sent" %}</p></td>
            <td align="center">{{netsigns_sent.used}}</td>
            <td align="center">{{netsigns_sent.max}}</td>
            <td align="center" valign="middle">
	    <span class="progressBar" id="pbnetsigns_sent"> </span>
	    </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    </tr>
  </table>

</div>
  <!--METER USAGE STARTS-->

  <!--DASHBOARD PAGE START -->
  <div id="dashboard_container">
    {% include "schedule/_friends_list.html" %}
    <div id="tabsdata">
        <ul class="tabsdata">
            <li class="tabsdata">
                <a class="tabsdata tabsdataactive" style="color: #ffffff;" href="#">{% trans "My Conferences" %}</a>
            </li>
            <li class="tabsdata">
                <a class="tabsdata" style="color: #ffffff;" href="#">{% trans "My Files" %}</a>
            </li>
        </ul>
        <div class="border_data">
            <ul>
            <li>
            {% include "schedule/_event_list.html" %}
            </li>
            <li>
            {% with files|slice:"5" as object_list %}
            {% include "schedule/_files_list.html" %}
            {% endwith %}
            </li>
            </ul>
        </div>
    </div>

    <div class="modal" id="phone_notice">
        <h2 style="color:#111;">{% trans "Your FREE Telephone Conference Number:" %}</h2>
        <p style="font-size:14px;color:#111;margin: 10px 30px;"><strong>{% trans "Dial In:" %}</strong> {{ ccall_pin.dial_in_number }}<br />
            <strong>{% trans "Host PIN:" %}</strong> {{ ccall_pin.access_code }}<span style="color:#a00;font-size:26px;position:relative;top:7px;margin-left:4px;">*</span><br />
            <strong>{% trans "Guest PIN:" %}</strong> {{ ccall_pin.access_code }}<span style="color:#a00;font-size:18px;margin-left:4px;">#</span></p>
        <p style="margin-top:20px;text-align:right;">
            <button class="close" id="showPhone"> {% trans "Close" %} </button>
        </p>
    </div>

    <div class="clear"></div>
  </div>
  <!--DASHBOARD PAGE ENDS -->


{% endblock %}

{% block body %}
<a href="http://feedback.netconference.com/" target="_blank" class="feedback_btn"><p>{% trans "Feedback" %}</p></a>
<a href="#" onclick="runJoan();return false;" class="tutorial_btn"><p>{% trans "Tutorial" %}</p></a>

{% get_shareasale_image request.user %}
{% endblock %}

{% block extra_jquery %}
$("ul.tabsdata").tabs($(".border_data li").not("ul.button_group li"), {effect: 'fade', current: 'tabsdataactive'});

    $("#phone_notice").overlay({
        expose: {
            color: '#090909',
            loadSpeed: 200,
            opacity: 0.9,
            closeOnClick: false
        },
        closeOnClick: false
    }).load();

{% endblock %}
{% block extra_body %}
{{super}}
<script src="{{ MEDIA_URL }}js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easing.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.pngFix.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
    <script type="text/javascript">
    	var lf_ID = '100002565_A';
    	function runJoan(){
    		runLFOW();
	        $(".tutorial_btn").removeAttr("onclick");
    	}
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.progressbar.min.js"></script>
    <script>
$(document).ready(function() {
				$("#pbconference_min").progressBar({{conference_min.disp_percent_complete}},
				{barImage : {
				       	0:  '{{MEDIA_URL}}img/progressbg_green.gif',
						30: '{{MEDIA_URL}}img/progressbg_yellow.gif',
						50: '{{MEDIA_URL}}img/progressbg_orange.gif',
						70: '{{MEDIA_URL}}img/progressbg_red.gif'
					    },
					  showText: false,
					  height			: 6,
					  width			: 120
					  });
				$("#pbfiles_uploaded").progressBar({{files_uploaded.disp_percent_complete}},
				{barImage : {
				       	        0:  '{{MEDIA_URL}}img/progressbg_green.gif',
						30: '{{MEDIA_URL}}img/progressbg_yellow.gif',
						50: '{{MEDIA_URL}}img/progressbg_orange.gif',
						70: '{{MEDIA_URL}}img/progressbg_red.gif'
					    },
					  height			: 6,
					  showText: false,
					  width			: 120
					  });
				$("#pbmessages_sent").progressBar({{messages_sent.disp_percent_complete}},
				{barImage : {
				       	        0:  '{{MEDIA_URL}}img/progressbg_green.gif',
						30: '{{MEDIA_URL}}img/progressbg_yellow.gif',
						50: '{{MEDIA_URL}}img/progressbg_orange.gif',
						70: '{{MEDIA_URL}}img/progressbg_red.gif'
					    },
					  height			: 6,
					  showText: false,
					  width			: 120
					  });
				$("#pbnetsigns_sent").progressBar({{netsigns_sent.disp_percent_complete}},
				{barImage : {
				       	        0:  '{{MEDIA_URL}}img/progressbg_green.gif',
						30: '{{MEDIA_URL}}img/progressbg_yellow.gif',
						50: '{{MEDIA_URL}}img/progressbg_orange.gif',
						70: '{{MEDIA_URL}}img/progressbg_red.gif'
					    },
					  height			: 6,
					  showText: false,
					  width			: 120
					  });
				$("#pbvmails_sent").progressBar({{vmails_sent.disp_percent_complete}},
				{barImage : {
				       	        0:  '{{MEDIA_URL}}img/progressbg_green.gif',
						30: '{{MEDIA_URL}}img/progressbg_yellow.gif',
						50: '{{MEDIA_URL}}img/progressbg_orange.gif',
						70: '{{MEDIA_URL}}img/progressbg_red.gif'
					    },
					  height			: 6,
					  showText: false,
					  width			: 120
					  });
  $("#pbvmails_sent img,#pbnetsigns_sent img,#pbmessages_sent img,#pbfiles_uploaded img,#pbconference_min img").css("margin-top", "8px");
			});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $('ul#launcher_left li').each(function () {
		// options
		var distance = 10;
		var time = 250;
		var hideDelay = 500;

		var hideDelayTimer = null;

		// tracker
		var beingShown = false;
		var shown = false;

		var trigger = $(this);
		var popup = $('a ul', this).css('opacity', 0);

		// set the mouseover and mouseout on both element
		$([trigger.get(0), popup.get(0)]).mouseover(function () {
			// stops the hide event if we move from the trigger to the popup element
			if (hideDelayTimer) clearTimeout(hideDelayTimer);

			// don't trigger the animation again if we're being shown, or already visible
			if (beingShown || shown) {
				return;
			} else {
				beingShown = true;

				// reset position of popup box
				popup.css({
					bottom: 3,
					left: -76,
					display: 'block' // brings the popup back in to view
				})

				// (we're using chaining on the popup) now animate it's opacity and position
				.animate({
					bottom: '+=' + distance + 'px',
					opacity: 1
				}, time, 'linear', function() {
					// once the animation is complete, set the tracker variables
					beingShown = false;
					shown = true;
				});
			}
		}).mouseout(function () {
			// reset the timer if we get fired again - avoids double animations
			if (hideDelayTimer) clearTimeout(hideDelayTimer);

			// store the timer so that it can be cleared in the mouseover if required
			hideDelayTimer = setTimeout(function () {
				hideDelayTimer = null;
				popup.animate({
					bottom: '-=' + distance + 'px',
					opacity: 0
				}, time, 'linear', function () {
					// once the animate is complete, set the tracker variables
					shown = false;
					// hide the popup entirely after the effect (opacity alone doesn't do the job)
					popup.css('display', 'none');
				});
			}, hideDelay);
		});
	});
});
$("a.more").tooltip({relative: false, position: "center", effect: "fade"});
</script>
{% endblock %}
