{% load scheduletags %}
{% load i18n %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load file_tags %}
{% load timezone_filters %}

<table class="items_list" id="attach_invite_list" cellspacing="0" style="padding-left:20px;width:100%;table-layout:inherit;word-break:break-word;white-space:normal;">
  <tr class="items_list_def">
    <td style="width:40%;"><p class="title_tab_text">{% trans "Conference Title" %}</p></td>
    <td style="width:15%;"><p class="title_tab_text">{% trans "Recurring" %}</p></td>
    <td style="width:30%;"><p class="title_tab_text">{% trans "Date" %}</p></td>
    <td style="width:5%;"></td>
    <td style="width:10%;"></td>
  </tr>
{% if not month.events.count %}
  <tr>
    <td colspan="5">{% trans "No conferences found. Create a new conference" %} <a href="{% url s_create_event %}">{% trans "here" %}</a></td>
  </tr>
{% endif %}
{% for week in month.get_weeks %}
{% for day in week.get_days %}
  {% if day.has_occurrences %}
  {% for o in day.get_occurrence_partials %}
  {% ifequal o.class 0 %}
  <tr class="items_list_row {% cycle 'row1' 'row2' %}">
    <td class="items_list_title">
      {% if o.occurrence.event.private %}<img src="{{ MEDIA_URL }}img/{{ o.occurrence.event.private|vidprivacy }}.png" border="0" class="privacy_lock" style="display:inline;float:left;" alt="Private" /> {% endif %}
      <a href="{{ o.occurrence.event.get_absolute_url }}" class="listTitle">{{ o.occurrence.event.title }}</a>
      {# {% show_tags_for event %} #}
    </td>
    <td class="small" style="line-height:1em;">
      {% if o.occurrence.event.rule %}
      {{ o.occurrence.event.rule }}
      {% if o.occurrence.event.end_recurring_date %}
      {% trans "until" %} {% if user.is_authenticated %}{% blocktrans with o.occurrence.event.end_recurring_period|localtime:account.timezone|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}{% else %}{% blocktrans with o.occurrence.event.end_recurring_period|localtime:timezone|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}{% endif %}
      {% endif %}
      {% else %}
      {% trans "One Time Event" %}
      {% endif %}
    </td>
    <td>{% if user.is_authenticated %}{{ o.occurrence.event.start|localtime:account.timezone|date:"m/j/y" }}<br />{% ifnotequal o.occurrence.event.type "G" %}{{ o.occurrence.event.start|localtime:account.timezone|date:"P" }}{% endifnotequal %}{% else %}{{ o.occurrence.start|localtime:timezone|date:"m/j/y" }}<br />{% ifnotequal o.occurrence.event.type "G" %}{{ o.occurrence.start|localtime:timezone|date:"P" }}{% endifnotequal %}{% endif %}</td>
    <td style="padding:0px;position:relative;">{% ifequal user_obj.username user.username  %}<a href="{{ o.occurrence.event.get_invite_url }}" class="button caps btn_conf" id="btn_invite" rel="invite_window"><input type="button" class="buttonGreenSmall" value="{% trans "Invite" %}" /></a>{% endifequal %}</td>
    <td style="padding:0px;position:relative;"><a href="#" class="button caps btn_attach_invite" id="{{ o.occurrence.event.id }}" title="{{ o.occurrence.event.title }}" {% ifnotequal o.occurrence.event.type "G" %}rel="{{ o.occurrence.start|localtime:o.occurrence.event.timezone|date:"l F d \a\t f a" }}"{% else %}rel="{{ o.occurrence.start|localtime:o.occurrence.event.timezone|date:"l F d" }}"{% endifnotequal %} style="position:relative;top:4px;"><input type="button" class="buttonBlueSmall" value="{% trans "Invite" %}" /></a></td>
  </tr>
  {% endifequal %}
  {% ifequal o.class 1 %}
  <tr class="items_list_row {% cycle 'row1' 'row2' %}">
    <td class="items_list_title">
      {% if video.private %}<img src="{{ MEDIA_URL }}img/{{ o.occurrence.event.private|vidprivacy }}.png" border="0" class="privacy_lock" style="display:inline;float:left;" alt="Private" /> {% endif %}
      <a href="{{ o.occurrence.event.get_absolute_url }}" class="listTitle">{{ o.occurrence.event.title }}</a>
      {# {% show_tags_for event %} #}
    </td>
    <td class="small" style="line-height:1em;">
      {% if o.occurrence.event.rule %}
      {{ o.occurrence.event.rule }}
      {% if o.occurrence.event.end_recurring_date %}
      {% trans "until" %} {% blocktrans with o.occurrence.event.end_recurring_period|localtime:account.timezone|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}
      {% endif %}
      {% else %}
      &nbsp;&nbsp;&nbsp;&nbsp;
      {% endif %}
    </td>
    <td>{% if user.is_authenticated %}{{ o.occurrence.start|localtime:account.timezone|date:"m/j/y" }}<br />{% ifnotequal o.occurrence.event.type "G" %}{{ o.occurrence.start|localtime:account.timezone|date:"P" }}{% endifnotequal %}{% else %}{{ o.occurrence.start|localtime:timezone|date:"m/j/y" }}<br />{% ifnotequal o.occurrence.event.type "G" %}{{ o.occurrence.start|localtime:timezone|date:"P" }}{% endifnotequal %}{% endif %}</td>
    <td style="padding:0px;position:relative;">{% ifequal user_obj.username user.username  %}<a href="{{ o.occurrence.event.get_invite_url }}" class="button caps btn_conf" id="btn_invite" rel="invite_window"><input type="button" class="buttonGreenSmall" value="{% trans "Invite" %}" /></a>{% endifequal %}</td>
    <td style="padding:0px;position:relative;"><a href="#" class="button caps btn_attach_invite" id="{{ o.occurrence.event.id }}" title="{{ o.occurrence.event.title }}" {% ifnotequal o.occurrence.event.type "G" %}rel="{{ o.occurrence.start|localtime:account.timezone|date:"l F d \a\t f a" }}"{% else %}rel="{{ o.occurrence.start|localtime:account.timezone|date:"l F d" }}"{% endifnotequal %} style="position:relative;top:4px;"><input type="button" class="buttonGreenSmall" value="{% trans "Invite" %}" /></a></td>
  </tr>
  {% endifequal %}
  {% endfor %}
  {% endif %}
  {% endfor %}	
  {% endfor %}
</table>
