{% load i18n %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load file_tags %}

<h1 class="items_list_top" style="margin:10px 0px 0px;width:610px;display:none;">
  {% trans "My Files" %}
</h1>
<div id="attach_file_list" style="margin:0;padding:0px;">
  <table class="items_list" cellspacing="0" style="width:100%;">
    <tr class="items_list_def">
      <td><p class="title_tab_text">{% trans "File Type" %}</p></td>
      <td><p class="title_tab_text">{% trans "Title" %}</p></td>
      <td><p class="title_tab_text">{% trans "Length" %}</p></td>
      <td></td>
    </tr>
    {% if not files.count %}
    <tr>
      <td colspan="3"><p class="errorlist">{% trans "No files found. Upload files" %} <a href="{% url upload_file %}">{% trans "here" %}</a></p></td>
    </tr>
    {% endif %}
    {% for file in files %}
    <tr class="items_list_row {% cycle 'row1' 'row2' %}">
      <td width="115" style="padding-left:5px;padding-right:0px;">
    	<a href="{{ file.get_absolute_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type|fileicon }}.png' class='file_icon' border='0'  alt="{{ file.source_type|fileicon }}" /></a>
      </td>
      <td width="300" class="items_list_title" style="padding-left:5px;">
        <img src="{{ MEDIA_URL }}img/{{ file.visibility|vidprivacy }}.png" border="0" class="privacy_lock" style="display:inline;float:left;" alt="{% trans "Visibility" %}" />
        <a href="{{ file.get_absolute_url }}" class="listTitle">{{ file.title }}</a>
        {# {% show_tags_for video %} #}
      </td>
      <td width="75">
        {% if file.duration %}{{ file.duration|vidtime }}{% endif %}
        {% if file.page_count %}{{ file.page_count }} slide{{ file.page_count|pluralize:"s" }}{% endif %}
      </td>
      <td width="40" style="padding-left:0px;padding-right:0px;">
	<input type="button" rel="file_upload" title="{{ file.title }}" class="buttonGreenSmall btn_attach" name="{% url file_detail file.id %}" value="{% trans "Attach" %}" id="attach_{{ file.id }}" />
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
