{% load i18n %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load file_tags %}

<div id="attach_netsign_list">
  <table class="items_list" cellspacing="0">
    <tr class="items_list_def">
      <td style="width:10%;"></td>
      <td style="width:70%;"><p class="title_tab_text">{% trans "Title" %}</p></td>
      <td style="width:20%;"><p class="title_tab_text">{% trans "Length" %}</p></td>
      <td style="width:10%;"></td>
    </tr>
    {% if not netsign.count %}
    <tr>
      <td colspan="4"><p class="errorlist">{% trans "No NetSign document found. Create a new netsign" %} <a href="{% url netsign_about %}">{% trans "here" %}</a></p></td>
    </tr>
    {% endif %}
    {% for file in netsign %}
    <tr class="items_list_row {% cycle 'row1' 'row2' %}">
      <td style="padding-left:5px;padding-right:0px;">
    	<a href="{{ file.user_file.get_absolute_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.user_file.source_type|fileicon }}.png' class='file_icon' border='0' alt="{{ file.user_file.source_type|fileicon }}" /></a>
      </td>
      <td class="items_list_title" style="padding-left:5px;">
        <img src="{{ MEDIA_URL }}img/{{ file.user_file.visibility|vidprivacy }}.png" border="0" class="privacy_lock" style="display:inline;float:left;" alt="{% trans "Visibility" %}" />
        <a href="{{ file.get_absolute_url }}" class="listTitle">{{ file.title }}</a>
        {# {% show_tags_for video %} #}
      </td>
      <td>
        {% if file.user_file.duration %}{{ file.user_file.duration|vidtime }}{% endif %}
        {% if file.user_file.page_count %}{{ file.user_file.page_count }} {% trans "slides" %}{% endif %}
      </td>
      <td style="float:right;margin-top:10px;margin-right:10px;">
	<input type="button" name="{% url file_detail file.id %}" class="buttonGreenSmall btn_attach_netsign" value="{% trans "Select" %}" title="{{ file.title }}" rel="netsign_upload" id="netsign_{{ file.id }}" />
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
