{% extends "site_base.html" %}
{% load i18n %}  

{% block head_title %}{% trans "V-Mail" %}{% endblock %}

{% block nav_script %}
    $("#messages_nav").attr('id','nav_select')
{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
    <ul class="subnav">
        <li class="current"><a href="{% url vmail_compose %}">{% trans "Compose New Message" %}</a></li>
        <li><a href="{% url vmail_outbox %}">{% trans "Sent Messages" %}</a></li>
        <li><a href="{% url vmail_trash %}">{% trans "Trash" %}</a></li>
    </ul>
    {% endif %}
{% endblock %}