{% load i18n %}

    <style>
        .vmail_recorder { width: 700px; height: 585px; margin: 0 auto; }
    </style>

<div class="vmail_recorder" id="vmail_recorder"></div>

<script type="text/javascript">
function reloadPage()
 {
   document.location.reload(true);
   return true;
 }

flashembed("vmail_recorder", {
    src: "{{ MEDIA_URL }}swf/recordVmail.swf",
    version: [9, 0],
    expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
}, {
    vmid: '{{ instance }}',
    {% if recipient %}TO_ADDR: '{{ recipient }}',
    {% endif %}{% if sender %}uid: '{{ sender.username }}',{% endif %}
    instance: '{{ instance }}'
});
</script>