{% extends "vmail/base.html" %} 
{% load i18n %}

{% block head_title %}{% trans "Compose New Message" %}{% endblock %}

{% block extra_head %}
    <style>
        .vmail_recorder { width: 744px; height: 370px; margin: 10px auto 0; }
        #id_recipient, #id_subject, #id_body { display: block; width: 500px; }
        #send_vmail { float: right; margin: 10px; }
        .error_form { font-weight: bold; }
    </style>
{% endblock %}

{% block body %}
    
    
    
    <hr style="visibility:hidden;" />
    <a id="tutorial" onclick="runJoan();$(this).fadeOut();">Tutorial</a>
    
    <h1 class="uni_form_header" style="width:760px;margin-left:8%;">{% trans "Compose New Message"%}: {{ event.title }}</h1>
    <form name="vmailForm" id="vmailForm" action="." method="post" class="uniForm" style="width:770px;margin-left:8%;">
        <fieldset class="inlineLabels" style="padding: 0;">
            
            <h2 class="uni_form_list_step" style="margin-bottom: 14px;left:0;width:auto;">
			1. Define Recipients
			</h2>
            
            <div style="margin:10px;">
                <!-- the tabs --> 
                <ul class="tabs">
                    <li><a href="{% url invite_email_ajax %}">Enter Email Addresses</a></li>
                    <li><a href="{% url invite_contacts_ajax %}">Send To Contacts</a></li> 
                    <li><a href="{% url invite_groups_ajax %}">Send To Group</a></li>
                </ul> 

                <!-- tab "panes" --> 
                <div class="panes"> 
                    <div style="display:block"></div> 
                </div>
            </div>
            
            <h2 class="uni_form_list_step" style="left:0;width:auto;">2. Enter Message</h2>
            <div style="margin:10px 14px;">
                <label for="id_subject">Subject:</label>
                {{ form.subject }}
                <label for="id_body">Message:</label>
                {{ form.body }}
                <hr style="visibility:hidden;" />
            </div>
            
            <h2 class="uni_form_list_step step_exp" style="left:0;width:auto;">
                <input type="checkbox" class="uni_form_list_check" id="attachFile" />
                <div id="attachFileBar" class="step_exp_btn"> Attach a File</div>
            </h2>
            
            <ul class="selected_attachments" id="selected_file_attachments"></ul>
            
            <div id="file_wrapper" style="margin-bottom:0;">
                <div id="file_selector" style="margin-bottom:0;">
                    <input type="hidden" name="file_attached" id="file_attached" value="false" />
                    <input type="hidden" name="file_type" id="file_type" value="" />
                    <input type="hidden" name="file_id" id="file_id" value="" />
                    {% include "vmail/_media_list.html" %}
                </div>
            </div>
            
            <h2 class="uni_form_list_step step_exp" style="left:0;width:auto;">
                <input type="checkbox" class="uni_form_list_check" id="attachInvite" />
                <div id="attachInviteBar" class="step_exp_btn"> Send a Conference Invitation</div>
            </h2>
            
            <ul class="selected_attachments" id="selected_invite_attachments"></ul>
            
            <div id="invite_wrapper" style="margin-bottom:0;display:none;">
                <div id="invite_selector" style="margin:0px;">
                    <input type="hidden" name="invite_attached" id="invite_attached" value="false" />
                    <input type="hidden" name="event_date" id="event_date" value="" />
                    <input type="hidden" name="event_name" id="event_name" value="" />
                    <input type="hidden" name="event_id" id="event_id" value="" />
                    {% include "vmail/_event_list.html" %}
                </div>
            </div>
            <h2 class="uni_form_list_step step_exp" style="left:0;width:auto;">
                <input type="checkbox" class="uni_form_list_check" id="attachNetSign" />
                <div id="attachNetSignBar" class="step_exp_btn">Send a NetSign document for digital signature</div>
            </h2>
            <ul class="selected_attachments" id="selected_netsign_attachments"></ul>
            
            <div id="netsign_wrapper" style="margin-bottom:0;">
                <div id="netsign_selector" style="margin-bottom:0;">
                    <input type="hidden" name="netsign_attached" id="netsign_attached" value="false" />
                    <input type="hidden" name="netsign_file_id" id="netsign_file_id" value="" />
                    <input type="hidden" name="netsign_file_name" id="netsign_file_name" value="" />
                    {% if netsign_disallow %}
			I'm sorry, you have exceeded the number of netsign invitations this month for your subscription type. <br/>
			Please <a href="{% url subscription_list %}">Upgrade your account</a> to send more.
		    {% else %}
                        {% include "vmail/_netsign_list.html" %}
                    {% endif %}
		</div>
            </div>
                        
            <h2 class="uni_form_list_step step_exp" style="margin:0px;left:0;width:auto;">
                <input type="checkbox" class="uni_form_list_check" name="attachVmail" id="attachVmail" />
                <input type="hidden" name="vmail_attached" id="vmail_attached" value="false" />
                <div id="attachVmailBar" class="step_exp_btn">Record V-Mail Message</div>
            </h2>
	    
            <div id="vmail_wrapper">
	    {% if vmail_disallow %}
		I'm sorry, you have exceeded the number of vmail messages this month for your subscription type. <br/>
		Please <a href="{% url subscription_list %}">Upgrade your account</a> to send more.
	    {% else %}
                <div id="vmail_recorder"></div>
                <input type="hidden" name="instance" id="instance" value="{{ instance }}" />
            </div>
            
            <div id="send_wrapper">
                <a href="#" id="send_vmail" class="button" onclick="javascript:submitForm();return false;">Send</a>
            </div>
	    {% endif %}
            
            
    </form>
    
    {% if recipient %}<input type="hidden" name="recipient_string" value="{{ recipient }}" id="recipient_string" />{% endif %}
    
    <!-- the tooltip for form validation --> 
    <div id="tooltip_sm_v">&nbsp;</div>
    
{% endblock %}

{% block extra_body %}

<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>

<script type="text/javascript">

	var lf_ID = '100002564_A';
	function runJoan(){
		runLFOW();
	} 

function submitForm(vmid){
    
    // var api = $("#vmailForm :input").tooltip({ tip: '#tooltip_sm_v', effect: 'fade', opacity: 1, api: true, events: { button: 'click'} });
    
    $("#vmail_id").val(vmid);
    
    $(".error_form").remove();
	var hasError = false;
	var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;

    // var emailFromVal = $("#id_recipient").val();
    // if(emailFromVal == '') {
    //  $("#id_recipient").append('<span class="error_form">Enter an email address to send to.</span>');            
    //  hasError = true;
    // }
    
    var is_autocomplete = $(".token-input-list").length;
    var is_autocomplete_val = $(".token-input-token p").length;    
    if((is_autocomplete != 0) && (is_autocomplete_val == 0)){
        $("#autocomplete_label").append('<span class="error_form">Please select a group to send to.</span>');
        $(".token-input-input-token input").focus();
        hasError = true;
        return false;
    }
    
    var recipientVal = $("#id_recipient").val();
    if(recipientVal == '') {
        $("#id_recipient").before('<span class="error_form">Enter an email address to send to.</span>');
        $("#id_recipient").focus();
        hasError = true;
        return false;
    }
    
    var is_groups = $(".multiSelect").length;
    var groupsVal = $("label.checked :checked").length;
    if((is_groups != 0) && (groupsVal == 0)){
        $("#id_groups_label").append('<span class="error_form">Please select a group to send to.</span>');
        $(".multiSelect").focus();
        hasError = true;
        return false;
    }
    $("#id_groups").hide();
    
    var subjectVal = $("#id_subject").val();
	if(subjectVal == '') {
		$("#id_subject").before('<span class="error_form">Please enter a subject.</span>');
		$("#id_subject").focus();
		hasError = true;
		return false;
	}
	if(hasError == true){
	    return false;
	}
    
	var messageVal = $("#id_body").val();
	if(messageVal == '') {
		$("#id_body").before('<span class="error_form">Please enter a message.</span>');
		$("#id_body").focus();
		hasError = true;
		return false;
	}
    
    // alert("success!");
    document.vmailForm.submit();
}

flashembed("vmail_recorder", {
    src: "{{ MEDIA_URL }}swf/recordVmail.swf",
    version: [9, 0],
    wmode: 'opaque',
    expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
}, {
    vmid: '{{ instance }}',
    {% if recipient %}TO_ADDR: '{{ recipient }}',
    {% endif %}{% if sender %}uid: '{{ sender.username }}',{% endif %}
    instance: '{{ instance }}'
});

$("ul.tabs").tabs("div.panes > div", {effect: 'ajax'}); 

</script>
    {{ block.super }}
{% endblock %}

{% block extra_jquery %}

    $("#vmail_wrapper,#vmail_wrapper object").height(0);
    {# $("#file_wrapper,#file_selector,#attach_file_list").height(0); #}
    
    $("#attachVmail").click(function(){
        var is_vmail = $("#attachVmail:checked").length;
        if(is_vmail > 0){
            {# $("#vmail_wrapper,#vmail_wrapper object").animate({ height: "400px" }, 1400 ); #}
            $("#send_wrapper").hide();
            $("#vmail_wrapper,#vmail_wrapper object").height(400);
            $("#vmail_attached").val("true");
            $("#vmail_id").val("{{ instance }}");
        } else {
            {# $("#vmail_wrapper,#vmail_wrapper object").animate({ height: "0px" }, 1400 ); #}
            $("#send_wrapper").show();
            $("#vmail_wrapper,#vmail_wrapper object").height(0);
            $("#vmail_attached").val("false");
            $("#vmail_id").val("");
        } 
    });
    
    $("#attachVmailBar").click(function(){
        var is_vmail = $("#attachVmail:checked").length;
        if(is_vmail > 0){
            $("#attachVmail").attr("checked",false);
            $("#send_wrapper").show();
            $("#vmail_wrapper,#vmail_wrapper object").height(0);
            $("#vmail_attached").val("false");
            $("#vmail_id").val("");
        } else {
            $("#attachVmail").attr("checked",true);
            $("#send_wrapper").hide();
            $("#vmail_wrapper,#vmail_wrapper object").height(400);
            $("#vmail_attached").val("true");
            $("#vmail_id").val("{{ instance }}");
            $("#attachVmail").attr("checked",true);
        }
    });
    
    $("#attachFile").click(function(){
        var is_file = $("#attachFile:checked").length;
        if(is_file > 0){
            $("#file_wrapper,#file_selector,#attach_file_list").fadeIn();
        } else {
            $("#file_wrapper,#file_selector,#attach_file_list").fadeOut();
        }
    });
    
    $("#attachFileBar").click(function(){
        var is_unbound = $(this).parent().hasClass("step_exp");
        if(is_unbound){
            var is_file = $("#attachFile:checked").length;
            if(is_file > 0){
                $("#attachFile").attr("checked",false);
                $("#file_wrapper,#file_selector,#attach_file_list").fadeOut();
            } else {
                $("#attachFile").attr("checked",true);
                $("#file_wrapper,#file_selector,#attach_file_list").fadeIn();
            }
        }
    });
    
    $("#attachInvite").click(function(){
        var is_invite = $("#attachInvite:checked").length;
        if(is_invite > 0){
            $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeIn();
        } else {
            $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeOut();
        }
    });
    
    $("#attachInviteBar").click(function(){
        var is_selected = $(this).hasClass("step_exp");
        if(!is_selected){
            var is_invite = $("#attachInvite:checked").length;
            if(is_invite > 0){
                $("#attachInvite").attr("checked",false);
                $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeOut();
            } else {
                $("#attachInvite").attr("checked",true);
                $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeIn();
            }
        }
    });
    
    $("#attachNetSign").click(function(){
        var is_file = $("#attachNetSign:checked").length;
        if(is_file > 0){
            $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeIn();
        } else {
            $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeOut();
        }
    });
    
    $("#attachNetSignBar").click(function(){
        var is_selected = $(this).hasClass("step_exp");
        if(!is_selected){
            var is_file = $("#attachNetSign:checked").length;
            if(is_file > 0){
                $("#attachNetSign").attr("checked",false);
                $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeOut();
            } else {
                $("#attachNetSign").attr("checked",true);
                $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeIn();
            }
        }
    });
    
    $(".btn_attach").live("click", function(){
        var filename = $(this).attr("title");
        var file_id = $(this).attr("id");
        var file_type = $(this).attr("rel");
        $("#selected_file_attachments").append("<li>Attachment: "+filename+"<input type='checkbox' class='unattach' checked='yes' /></li>");
        $("#file_attached").val("true");
        $("#file_id").val(file_id);
        $("#file_type").val(file_type);
        $("#file_wrapper,#file_selector,#attach_file_list").height(0);
        $("#attachFile").hide();
        $("#attachFile").parent().removeClass("step_exp");
        return false;
    });
    
    $(".unattach").live("click", function(){
        $(this).parent().fadeOut().remove();
        $("#file_wrapper,#file_selector").height(342);
        $("#attach_file_list").height(320);
        $("#attachFile").show();
        $("#file_attached").val("false");
        $("#file_id").val("");
        $("#file_type").val("");
        $("#attachFile").parent().addClass("step_exp");
        return false;
    });
    
    $(".btn_attach_invite").live("click", function(){
        var eventname = $(this).attr("title");
        var event_id = $(this).attr("id");
        var event_date = $(this).attr("rel");
        $("#selected_invite_attachments").append("<li>Invitation: "+eventname+", "+event_date+"<input type='checkbox' class='unattach_invite' checked='yes' /></li>");
        $("#invite_attached").val("true");
        $("#event_id").val(event_id);
        $("#event_date").val(event_date);
        $("#event_name").val(eventname);
        $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeOut();
        $("#attachInvite").hide();
        $("#attachInvite").parent().removeClass("step_exp");
        return false;
    });
    
    $(".unattach_invite").live("click", function(){
        $(this).parent().fadeOut().remove();
        $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeIn();
        $("#attachInvite").show();
        $("#invite_attached").val("false");
        $("#event_id").val("");
        $("#event_date").val("");
        $("#event_name").val("");
        $("#attachInvite").parent().addClass("step_exp");
        return false;
    });
    
    $(".btn_attach_netsign").live("click", function(){
        var doc_name = $(this).attr("title");
        var doc_id = $(this).attr("id");
        $("#selected_netsign_attachments").append("<li>NetSign Request: "+doc_name+"<input type='checkbox' class='unattach_netsign' checked='yes' /></li>");
        $("#netsign_attached").val("true");
        $("#netsign_file_id").val(doc_id);
        $("#netsign_file_name").val(doc_name);
        $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeOut();
        $("#attachNetSign").hide();
        $("#attachNetSign").parent().removeClass("step_exp");
        return false;
    });
    
    $(".unattach_netsign").live("click", function(){
        $(this).parent().fadeOut().remove();
        $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeIn();
        $("#attachNetSign").show();
        $("#netsign_attached").val("false");
        $("#netsign_file_id").val("");
        $("#netsign_file_name").val("");
        $("#attachNetSign").parent().addClass("step_exp");
        return false;
    });
    
    {% if invite_preset %}
    $("#attachInvite").attr("checked",true);
    $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeIn();
    $(".btn_attach_invite").each(function(){
        var iid = $(this).attr("id");
        if(iid == "{{ invite_preset }}"){
            var eventname = $(this).attr("title");
            var event_id = $(this).attr("id");
            var event_date = $(this).attr("rel");
            $("#selected_invite_attachments").append("<li>Invitation: "+eventname+", "+event_date+"<input type='checkbox' class='unattach_invite' checked='yes' /></li>");
            $("#invite_attached").val("true");
            $("#event_id").val(event_id);
            $("#event_date").val(event_date);
            $("#event_name").val(eventname);
            $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeOut();
            $("#attachInvite").hide();
            $("#attachInvite").parent().removeClass("step_exp");
        }
    });
    {% endif %}
    
    {% if netsign_preset %}
    $("#attachNetSign").attr("checked",true);
    $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeIn();
    $(".btn_attach_netsign").each(function(){
        var iid = $(this).attr("id");
        if(iid == "netsign_{{ netsign_preset }}"){
            var netsign_title = $(this).attr("title");
            var netsign_id = $(this).attr("id");
            $("#selected_netsign_attachments").append("<li>NetSign Request: "+netsign_title+"<input type='checkbox' class='unattach_netsign' checked='yes' /></li>");
            $("#netsign_attached").val("true");
            $("#netsign_file_id").val(netsign_id);
            $("#netsign_file_name").val(netsign_title);
            $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeOut();
            $("#attachNetSign").hide();
            $("#attachNetSign").parent().removeClass("step_exp");
        }
    });
    {% endif %}
	
	{% if select_vmail %}
		$(function(){
			$("#attachVmailBar").click();
		});
		
	{% endif %}
    
{% endblock %}
