{% extends "vmail/base.html" %} 
{% load i18n %}
{% load timezone_filters %}
{% load sort_tags %}

{% block subnav %}
<ul class="subnav" style="margin:0px;">
    <li><a href="{% url vmail_compose %}">{% trans "Compose New Message" %}</a></li>
    <li class="current"><a href="{% url vmail_outbox %}">{% trans "Sent Messages" %}</a></li>
    <li><a href="{% url vmail_trash %}">{% trans "Trash" %}</a></li>
</ul>
{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .items_list_def th,td { 
            padding: 0 0 0 10px; 
            text-align: left;
            vertical-align: middle;
        }
        .items_list_row ul {
            padding: 0px;
        }
        table.resizable tr td{
                overflow : hidden;
        }
	thead tr td { background: #ccc; color: #750998; border:0px; }
	thead td { background: #ccc; color: #750998; border:0px; }
	tr.items_list_def td a { color: #750998; }
    </style>
{% endblock %}

{% block head_title %}
{% trans "Message Outbox" %}    
{% endblock %}

{% block body %} 
{% if object_list.count %}
<p class="buttonGreenSmall" style="float:right;"><a href="#" style="color:white;text-decoration:none;padding:5px 15px;" rel="#loading_div" onclick="resendSelected();">{% trans "Resend" %}</a></p><p class="buttonGreenSmall" style="float:right;"><a href="#" rel="#loading_div" style="color:white;text-decoration:none;padding:5px 20px;" onclick="deleteSelected();">{% trans "Delete" %}</a></p>
{% endif %}
<br /><br />
<h1 class="items_list_top" style="width:98%;clear:both; margin-left: 41px; padding-right: 7px;">{% trans "Sent Messages" %}</h1>
<table class="messages resizable" style="table-layout:fixed;width:100%;word-wrap:break-word;white-space:normal;">
	<colgroup>
		<col>
		<col>
		<col>
		<col class="noSelectable">
		<col class="noSelectable">
		<col>
		<col>
	</colgroup>
    <thead>
        <tr class="items_list_def">
            <td width="3%"><input type="checkbox" name="delete_all" /></td>
            <td width="3%"></td>
            <td width="20%">{% sort_link "Recipient" "recipient" %}</td>
            <td width="22%">{% sort_link "Subject" "subject" %}</td>
            <td width="18%">{% sort_link "Sent" "sent_at" %}</td>
            <td width="15%">{% sort_link "Attachment" "attached_to" %}</td>
            <td width="20%">{% sort_link "NetSign" "attached_to" %}</td>
        </tr>
    </thead>
    <tbody>
{% with object_list as messages %}
{% for message in messages %} 
    <tr class="items_list_row {% cycle 'row1' 'row2' %}">
      <td><input type="checkbox" name="delete" value="{{ message.id }}" /></td>
        <td>
	  {% comment %}
            {% if message.read_at %}
            <img src="{{ MEDIA_URL }}img/silk/bullet_gray.png" border="0" alt="{% trans "email" %}" class="vmail_status_list" />
            {% else %}
            <img src="{{ MEDIA_URL }}img/silk/bullet_purple2.png" border="0" alt="{% trans "email" %}" class="vmail_status_list" />
            {% endif %}
	  {% endcomment %}
        </td>
        <td style="text-align:left;">
            <ul>
                {% for recipient in message.get_recipient_list %}
                <li>{{ recipient }}</li>
                {% endfor %}
            </ul>
        </td>
        <td style="text-align:left;">
        <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
        </td>
        <td style="text-align:left;font-size:12px; width:25%;">{{ message.sent_at|localtime:account.timezone|date:DATETIME_FORMAT }}</td>
        <td style="text-align:left;font-size:12px;">
            {% if message.attached_to.all %}
            <ul>
                {% for attachment in message.attached_to.all %}
                <li>
                <a href="{{ attachment.file.get_absolute_url }}">{{ attachment.file.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </td>
        <td style="text-align:left;font-size:12px;">
            {% if message.attached_to.all %}
            <ul>
                {% for attachment in message.attached_to.all %}
                {% ifequal request.user attachment.netsign.to_user %}
                <li>
                <a href="{{ attachment.netsign.document.get_netsign_document_url }}">
                    {{ attachment.netsign.document.title }}</a>
                </li>
		{% endifequal %}
                {% endfor %}
            </ul>
            {% endif %}
        </td>
        <td style="text-align:center;"></td>
    </tr>
{% endfor %}
{% endwith %}
    </tbody>
</table>
<br />
{% if object_list.count %}
<p class="buttonGreenSmall" style="float:right;"><a href="#" rel="#loading_div" style="color:white;text-decoration:none;padding:5px 15px;" onclick="resendSelected();">{% trans "Resend" %}</a></p><p class="buttonGreenSmall" style="float:right;"><a href="#" rel="#loading_div" style="color:white;text-decoration:none;padding:5px 20px;" onclick="deleteSelected();">{% trans "Delete" %}</a></p>
{% endif %}
<div class="modal" style="text-align:center;" id="loading_div">
  <img src="{{ MEDIA_URL }}new/images/ajax-loader.gif" alt="{% trans "Loading" %}" />
  <h1></h1>
</div>
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.iutil.pack.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.idrag.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.grid.columnSizing.js"></script>
<script type="text/javascript">
$(document).ready(function() { 
  $("a[rel]").overlay({expose: { 
      color: '#090909',  
      loadSpeed: 200, 
      opacity: 0.9,
    }
   });
});

function resendSelected() {
  $("#loading_div input").remove();
  var checkedVmails = $("input[name=delete]:checked");
  var msgs = new Array();
  if (checkedVmails.length == 0) {
    $("#loading_div h1").css("color", "red").html("{% trans "Please select a Vmail to resend." %}");
    $("#loading_div img").hide();
    return false;
  } else {
    $("#loading_div img").show();
    $("#loading_div h1").html("");
    checkedVmails.each(function(i, k) { 
      msgs.push($(k).val());
    });
  }
  $.post("{% url vmail_resend %}", {"message_ids": msgs}, function(data, textStatus) { 
    if (textStatus == "success") {
      window.location = "{% url vmail_outbox %}";
    }
  });
}
function deleteSelected() { 
  $("#loading_div input").remove();
  $("#loading_div img").hide();
  var checkedVmails = $("input[name=delete]:checked");
  var msgs = new Array();
  if (checkedVmails.length == 0) {
    $("#loading_div h1").css("color", "red").html("{% trans "Please select a Vmail to delete." %}");
    return false;
  } else {
    $("#loading_div h1").css("color", "red").html("{% trans "Are you sure you want to move these messages to trash?" %}");
    $("#loading_div").append("<input type='button' class='buttonGreenSmall' style='color:white;text-decoration:none;text-align:center;float:right;' value='Delete' />");
    $("#loading_div input").click(function() { 
      checkedVmails.each(function(i, k) { 
        msgs.push($(k).val());
      });
      $("#loading_div h1").html("");
      $("#loading_div input").remove();
      $("#loading_div img").show();
      $.post("{% url vmail_delete %}", {"message_ids": msgs}, function(data, textStatus) { 
        if (textStatus == "success") {
          window.location = "{% url vmail_outbox %}";
        }
      });
    });
  }
}
</script>
{% endblock %}

{% block extra_jquery %}
$("table.resizable")
    .columnSizing({
        viewResize : false, 
        viewGhost : false,
        selectCells : "tr:first>*:not(:first):not(:last)"
        })
    .end();
$("input[name=delete_all]").change(function() { 
  $("input[name=delete]").attr("checked", $(this).attr("checked"));
});
$(document).ready(function() {
    $("input[name='delete']").change(function() { 
      if ($(this).attr("checked") === false && $("input[name=delete_all]").attr("checked") === true) {
        $("input[name=delete_all]").attr("checked", false);
      }
    });
});
{% endblock %}
