{% extends "vmail/base.html" %} 
{% load i18n %}
{% load timezone_filters %}
{% load sort_tags %}

{% block head_title %}
{% trans "Trash" %}
{% endblock %}

{% block extra_head_base %}
<style type="text/css" media="screen">
  table.messages { margin-left: 0px; }
  h1.items_list_top { margin-left: 0px; }
</style>
{% endblock %}

{% block subnav %}
<ul class="subnav" style="margin:0px;">
    <li><a href="{% url vmail_compose %} ">{% trans "Compose New Message" %}</a></li>
    <li><a href="{% url vmail_outbox %} ">{% trans "Sent Messages" %}</a></li>
    <li class="current"><a href="{% url vmail_trash %} ">{% trans "Trash" %}</a></li>
</ul>
{% endblock %}

{% block body %} 
<h1 class="items_list_top" style="width:98%;">{% trans "Deleted Messages" %}</h1>
<table class="messages"  style="width:100%;table-layout:fixed;">
    <thead>
        <tr class="items_list_def">
	  <th width="30"></th>
	  <th width="300" style="text-align:left;">{% sort_link "Recipient" "recipient" %}</th>
	  <th width="330" style="text-align:left;">{% sort_link "Subject" "subject" %}</th>
	  <th width="160">{% sort_link "Date" "sent_at" %}</th>
	  <th width="35">{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% with object_list as message_list %}
{% for message in message_list %} 
    <tr class="items_list_row {% cycle 'row1' 'row2' %}">
        <td>
	  {% comment %}
            {% if message.read_at %}
            <img src="{{ MEDIA_URL }}img/silk/bullet_gray.png" border="0" alt="{% trans "Read at" %} {{ message.read_at }}" class="vmail_status_list" />
            {% else %}
            <img src="{{ MEDIA_URL }}img/silk/bullet_purple2.png" border="0" alt="{% trans "Unread Email" %}" class="vmail_status_list" />
            {% endif %}
	  {% endcomment %}
        </td>
        <td style="text-align:left;">{{ message.recipient }}</td>
        <td style="text-align:left;">
        {{ message.subject }}
        </td>
        <td>{{ message.sent_at|localtime:account.timezone|date:DATETIME_FORMAT }}</td>
        <td style="text-align:center;"><a href="{% url vmail_undelete message.id %}"><img src="{{ MEDIA_URL }}img/silk/arrow_undo.png" border="0" alt="{% trans "Recover" %}" title="{% trans "Recover" %}" class="vmail_status_list" /></a></td>
    </tr>
{% endfor %}
{% endwith %}
    </tbody>
</table>
<br />
<p>{% trans "Deleted Messages are removed from the trash at random intervals, so don't rely on this folder for long-term storage." %}</p>
{% endblock %}
