{% extends "vmail/base.html" %}
{% load i18n %}
{% load timezone_filters %}
{% load vmail_tags %}
{% load file_tags %}

{% block head_title %}{% trans "Message - " %}{{ message.subject }}{% endblock %}

{% block extra_head %}
    <style type="text/css">
        #vmail_player { width: 320px; height: 240px; margin: 0 auto 10px; }
        .vmail_body { width: 480px; margin: 1em auto; }
    </style>
{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
    <ul class="subnav">
        <li><a href="{% url vmail_compose %}">{% trans "Compose New Message" %}</a></li>
        <li><a href="{% url vmail_outbox %}">{% trans "Sent Messages" %}</a></li>
        <li><a href="{% url vmail_trash %}">{% trans "Trash" %}</a></li>
        <li class="current"><a href="#">{% trans "View Message" %}</a></li>
    </ul>
    {% else %}
    <ul class="subnav">
        <li class="current"><a href="#">{% trans "View Message" %}</a></li>
    </ul>
    {% endif %}
{% endblock %}

{% block body %}
{% for o in attachments %}
    {% if o.vmail_recording %}
        <div id="vmail_player"></div>
    {% endif %}
{% endfor %}
<h1 class="uni_form_header" style="width:580px;margin:0 auto;">{% trans "Message" %}</h1>
<dl class="message-headers" style="width:600px;margin:0 auto;background:#f3f3f3;">
    <dt><strong>{% trans "Subject" %}</strong>:</dt>
    <dd><strong>{{ message.subject }}</strong></dd>
    <dt><strong>{% trans "Sender" %}</strong>:</dt>
    <dd>{{ message.sender }}</dd>
    <dt><strong>{% trans "Date" %}</strong>:</dt>
    <dd>{{ message.sent_at|localtime:account.timezone|date:DATETIME_FORMAT }}</dd>
    <dt><strong>{% trans "Recipient" %}(s)</strong>:</dt>
    <dd>{{ message.recipient }}</dd>
    <dt><strong>{% trans "Message" %}</strong>:</dt>
    <dd>{{ message.body|linebreaksbr }}</dd>
</dl>

{% if file_attached %}
<h1 class="uni_form_header" style="width:580px;margin:12px auto 0;">{% trans "Attachments" %}</h1>
<ul id="vmail_attachments">
  {% for o in attachments %}
        {% if o.file %}
        <li>
         <a href="{{ o.file.get_absolute_url }}" class="button caps btn_vmailattach" style="float:right;">view</a>
         <a href="{{ o.file.get_absolute_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ o.file.source_type|fileicon }}.png' border='0' style="float:left;" /></a>
         <a href="{{ o.file.get_absolute_url }}" class="listTitle">{{ o.file.title }}</a>
        </li>        
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if invite_attached %}
<h1 class="uni_form_header" style="width:580px;margin:12px auto 0;">{% trans "Event Invitation" %}</h1>
<ul id="invitation_attachments">
    {% for o in attachments %}
        {% if o.invite %}
        <li>
            <a href="{{ o.invite.get_absolute_url }}" class="button caps btn_inviteattach" style="float:right;">view</a>
            <a href="{{ o.invite.get_absolute_url }}" class="listTitle">{{ o.invite.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}


{% if netsign_attached %}
    <h1 class="uni_form_header" style="width:580px;margin:12px auto 0;">{% trans "NetSign Requests" %}</h1>
    <ul id="netsign_attachments">
    {% for o in attachments %}
        {% if o.netsign %}
          {% ifequal o.netsign.uhash url_hash %}
        <li>
         {% ifequal o.netsign.status "2" %}
         <a href="{{ o.netsign.get_sign_url }}?uuid={{ signor_uuid }}" class="button caps btn_vmailattach" style="float:right;">sign</a>
         {% else %}
         <a href="{{ o.netsign.document.get_netsign_document_url }}" class="button caps btn_vmailattach" style="float:right;">view</a>
        {% endifequal %}
         <img src="{{ MEDIA_URL }}img/fileicons/file_{{ o.netsign.get_source_type|fileicon }}.png" class="items_list_thumb" border="0" />
         <a href="{% ifequal o.netsign.status "2" %}{{ o.netsign.get_sign_url }}?uuid={{ signor_uuid }}{% else %}{{ o.netsign.document.get_netsign_document_url }}{% endifequal %}" class="listTitle">{{ o.netsign.document.title }}</a>
        </li>
	{% endifequal %}
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% for o in attachments %}
    {% if o.vmail_recording %}
    <a href="{% url vmail_compose %}?vmail={{ o.vmail_recording }}" class="buttonGreenSmall" style="color:white;text-align:center;text-decoration:none;line-height:25px;">{% trans "Resend" %}</a>
    {% endif %}
{% endfor %}

{% endblock %}
{# <div class="vmail_body">{{ message.body|linebreaksbr }}</div> #}<br /><br />

{# {% ifequal message.recipient user %} #}
{# <a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a> #}
{# {% endifequal %} #}
{# <a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a> #}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
    <script type="text/javascript">
    {% for o in attachments %}
        {% if o.vmail_recording %}
    flashembed("vmail_player", {
        src: "{{ MEDIA_URL }}swf/playVmail.swf",
        version: [9, 0],
        wmode: 'opaque',
        expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
    }, {
        vmid: '{{ vmid }}'
    });
        {% endif %}
    {% endfor %}
    </script>
{% endblock %}
