{% extends "vmail/base.html" %}
{% load i18n %}
{% block subnav %}
    <ul class="subnav">
        <li><a href="{% url vmail_compose %}">{% trans "Compose New Message" %}</a></li>
        <li><a href="{% url vmail_outbox %}">{% trans "Sent Messages" %}</a></li>
        <li><a href="{% url vmail_trash %}">{% trans "Trash" %}</a></li>
    </ul>
{% endblock %}

{% block body %}
<div class="innercontent_block" >
<h1 class="signuptext ">Do you want to save the video mail you sent, into your files?</h1>
<div style="width:100px; margin:0px auto;">
<form method="post" action=".">
	<input type="submit" name="save_vmail" value="Yes" class="button"  />
    <input type="submit" name="save_vmail" value="No" class="button" />
</form>
</div>
<br/>
<br/>
<br/>
<br/>
</div>
{% endblock %}