{% extends "text_base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "About us" %}
{% endblock %}

{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li>
      <a href="{% url netconference %}" class="sidebar_plain">{% trans "What is Netconference" %}</a>
    </li>
    <li>
      <a href="{% url howitworks %}" class="sidebar_plain">{% trans "How it works" %}</a>
    </li>
    <li class="current">
      <a href="{% url aboutus %}" class="sidebar_plain">{% trans "About us" %}</a>
    </li>
    <li>
      <a href="{% url articles %}" class="sidebar_plain">{% trans "Articles" %}</a>
    </li>
  </ul>  
</div>
{% endblock %}

{% block textarea_content %}

<div class="top">{% trans "About Us" %}</div>

<div id="aboutus_pages" class="mid">

         <p>{% blocktrans %}For over 30 years, our  suite of applications for social media creation and publishing create  an unrivaled experience in online engagement and business community  participation. Our sophisticated methods of media hosting,  management, design and delivery make it simple to create vibrant social business communities to attract and win new business. An  outside-the-box approach to social business collaboration allows companies to communicate ideas and share files with employees, clients and prospects like never before.{% endblocktrans %}</p>
            <h3 class="purple_text">{% trans "Tools for sharing and participation" %}</h3>
            <p>{% blocktrans %}Adding  an irresistible 'fun factor' is our suite of tools to encourage and  enhance the socialization process. Our patented Shared Video On Demand  player allows a host to control the action,  broadcasting in real time for an entranced virtual audience.{% endblocktrans %}  {% blocktrans %}Inter-Suite communication is facilitated through our  proprietary VOIP, text and video conferencing system - a seamless  application where broadcasting live to thousands from your web camera  is easy with no downloads or firewall issues to be encountered by the users or participants.{% endblocktrans %}  {% blocktrans %}Marketing and viral possibilities are endless with a video e-mail  application that encourages users to record and send webcam messages  along with attached clips selected from their video library via email  or through a companion Facebook application. NetConferenceTV creates an  incredible and social collaborative business experience, one that will win new business  and sustain repeatable, effective participation.{% endblocktrans %}</p>
	    <hr />
            <a name="management_team"><h3 class="purple_text">{% trans "Management Team" %}</h3></a>
	    <hr/>
	    <h3 class="purple_text">Kevin Bennis</h3>
	    <strong><i>{% trans "Chief Executive Officer" %}</i></strong><br /><br />
	    <p>{% blocktrans %}Kevin Bennis brings to NxtGenTV a lifetime of exemplary leadership and vision that has defined his distinguished career in the telecommunications industry.{% endblocktrans %}
{% blocktrans %}Having spent over 21 years in top management roles, including the CMO of their Business Division at MCI, Mr. Bennis continued as President of Frontier Communications, a $2B full service telecommunications provider that was acquired by Global Crossing in 1999.{% endblocktrans %}{% blocktrans %}As President and CEO of $1.3B Sprint Canada, Bennis lead an organization of over 2,000 people serving over one million residential customers and 100,000 business customers before it was purchased by Rogers Communication in 2005.{% endblocktrans %} {% blocktrans %}As President and CEO of SunRocket, a leader in the VOIP business, Bennis grew their customer base 40 fold and became the second fastest VOIP provider. He was CEO of 10e Solutions, a leader in software for customer data integration and analytical software to support customer/product profitability before it was acquired by The Ariston Group in 2007.{% endblocktrans %}</p>
	    <hr />
            <h3 class="purple_text">Brian Weiner</h3>
			<strong><i>{% trans "Founder and Chairman" %}</i></strong><br /><br />
			<p>{% blocktrans %}As CEO of The Illusion Factory for the last 31 years, Mr. Weiner has lead some of the most creative and technically innovative teams in the entertainment industry.{% endblocktrans %} {% blocktrans %}Having been entrusted with the marketing and promotion of more than $6B in filmed, live, gaming, online and broadcast entertainment, and garnering over 230 awards in the process, The Illusion Factory continues to define itself at the nexus of technology, creativity and entertainment.{% endblocktrans %} {% blocktrans %}Mr. Weiner contributed his marketing skills to the top drama (ER) and the top comedy (Friends) on television through the entire decade that they reigned as the top watched shows in the world.{% endblocktrans %} {% blocktrans %}He has served The Illusion Factory as Creative Director in all media for all of the studios, broadcasters, record labels, cable channels, creative and talent agencies, advertising agencies and Fortune 500 companies. Weiner’s vision continues to expand with the spinoff of three successful social media ventures, FantaZ, Z  Scape and NxtGenTV.{% endblocktrans %} {% blocktrans %}As Founder Chairman, Mr. Weiner serves on the Board of Directors of NxtGenTV, and continues to bring his visionary influence to NxtGenTV in all aspects of the company’s global deployment and expansion of services and functionalities.{% endblocktrans %}</p>
			  <hr/>
	     <h3 class="purple_text">Dennis Carey</h3>
	     <strong><i>{% trans "Director of the Board" %}</i></strong><br /><br />
	     <p>{% blocktrans %}Dennis Carey is Vice Chairman of Korn/Ferry International.
He has recruited some of the most successful CEOs in American business, including companies such as TYCO International, 3M and American Standard.{% endblocktrans %}</p>
	     <p>
{% blocktrans %}As a board recruiter, Mr. Carey has built new boards from scratch ranging from Covidien Health Care and TYCO International, to EMBARQ, TYCO Electronics, DELPHI and Visteon. He has also built boards for IPOs including Goldman Sachs and Ameritrade. During the past 20 years, Mr. Carey has recruited hundreds of some of the most preeminent directors for Fortune 500 companies across the United States.{% endblocktrans %}</p>
	     <p>
{% blocktrans %}He has authored three books, published dozens of articles, and is a frequent contributor and writer for the Harvard Business Review, The Wall Street Journal, Financial Times, and McKinsey Quarterly on CEO succession, corporate governance, and mergers and acquisitions.{% endblocktrans %}
	     </p>
	     <p>{% blocktrans %}Mr. Carey's board affiliations include Composite Technologies Corporation, a cable company; NextGenTV, a media company; Airclic; a software solutions company; and ScanLife, a digital bar code scanning company. He formerly served as a director of Closure Medical, a medical device company which was sold to Johnson & Johnson.{% endblocktrans %}</p>
	     <p>
{% blocktrans %}Mr. Carey is the founder of G100, the Lead Director Academy and the CEO Academy, and the co-founder of the Directors Institute at The Wharton School, the Prium, the CHRO Board Academy, and the CFO Board Academy.{% endblocktrans %}</p>
	     <p>
{% blocktrans %}He holds a philosophy of doctorate degree, with a focus on finance and administration, from the University of Maryland, and is a former post doctoral fellow at Harvard University.{% endblocktrans %}</p>
	     <p>
{% blocktrans %}Mr. Carey swam the English Channel in 1980, and is on the Board of the Swimming Hall of Fame.{% endblocktrans %}
	     </p>
	     <hr />
	     <h3 class="purple_text">John J. Keller</h3>
	     <strong><i>{% trans "Member of the Board of Directors" %}</i></strong><br /><br />
	     <p>{% blocktrans %}John J. Keller is Vice Chairman of the CEO and Board Practice of CTPartners, a premier executive search firm committed to performance, quality and results, and he is a member of the firm’s Executive Committee, which works with the CEO in managing the firm.{% endblocktrans %}</p>
<p>
{% blocktrans %}Drawing on decades of advisory work, independent business analysis and business news reporting for some of the world’s most important publications and broadcast media, John today recruits CEOs, CFOs and directors and provides consultation to Boards of Directors dedicated to improving governance.{% endblocktrans %}</p>
<p>
{% blocktrans %}As Vice Chairman, John oversees the activities of partners worldwide, providing strategic guidance and leadership that ensures consistent, world-class service quality. He maintains a highly active search and advisory practice, assisting global publicly and privately held companies, as well as Private Equity clients, in recruiting leaders to run companies, ensure high-performance results and be actively engaged in improving governance as valued directors. He also specializes in executive and board succession planning.{% endblocktrans %}</p>
<p>
{% blocktrans %}Previously John spent more than a decade with Spencer Stuart, aiding the coordination of its Technology, Communications and Media work globally and leading its Telecommunications Practice through some of the industry’s toughest years ever.{% endblocktrans %} {% blocktrans %}He was also instrumental in strategically expanding the firm’s services as a founding member of its management assessment business and driver of its major account work. John was also a Senior Client Partner with Korn/Ferry International and a member of the Firm’s global Board & CEO, Financial Officers and Technology Practices.{% endblocktrans %}</p>
<p>
{% blocktrans %}Before entering the recruiting and strategic talent and Board advisory business, John was a distinguished business and technology industry journalist. For 25 years, he worked as a reporter and senior editor for publications such as The Wall Street Journal, BusinessWeek, and he was a founding editor of CommunicationsWeek. For his efforts, John was twice nominated by The Wall Street Journal’s editors for a Pulitzer Prize, and he received numerous awards, including the American Society of Newspaper Editors top award, and the Society of American Business Editors and Writers.{% endblocktrans %}
	     </p>
<hr />
            <!--<h3 class="purple_text">Gary Brook</h3><strong><i>{% trans "Chief Technology Officer" %}</i></strong><br /><br />
	    <p>{% blocktrans %}Gary Brooks brings his 18 years of progressive IT experience with a strong technical background in design, development and implementation of large-scale Internet, intranet and Client/Server based business applications, utilizing object-oriented techniques to NxtGenTV. {% endblocktrans %}</p><p>{% blocktrans %}
Mr. Brook has distinguished himself  by building large scale systems for Honda, Sony, Lockheed Martin, AOL, CompuServe, Time Warner and The Illusion Factory.{% endblocktrans %}</p><p>{% blocktrans %}Brook brings a deep understanding of the majority of languages and formats for all media and gaming formats and systems.{% endblocktrans %}</p>
	    <hr />
            <h3 class="purple_text">Kevin S. Upton</h3><strong><i>{% trans "Founder and Managing Partner" %}</i></strong> <br /><br />
             <p>{% blocktrans %}As the innovative founder of Enlightened Media, Mr. Upton has been a leading edge pioneer in the streaming media industry since it's inception in 2000. After his success when Enlightened Media was acquired by Synergy LLC in 2002, Mr. Upton moved into the media application development space by developing the Video Conferencing application for the heart to heart network, (www.h2hnetwork.com), subsequently acquired in 2005.  Mr. Upton has been instrumental in the development of the Shared Video on Demand technology and other core technologies that make up the NxtGenTV platforms.{% endblocktrans %}</p><hr/>
              <h3 class="purple_text">Colby Palmer</h3><strong><i>{% trans "Technology Consultant" %}</i></strong><br /><br /><p>{% blocktrans %}Colby Palmer is a Chief Technical Officer whose prior experience as a Senior Web Systems Developer and Project Manager generated numerous innovative tools for the Internet.  During his four years of developing high-level systems for Warner Bros. and other A-Level studio customers of The Illusion Factory, he leveraged his agile development of social networking platforms, using world-class frameworks for rapid and scalable deployment.  Colby is the creator of the popular Web-based Twitter client iTweet.net.  He holds a BFA degree from the San Francisco Art Institute and has been working in the Internet industry for ten years.
{% endblocktrans %}
            </p><hr/>
              <h3 class="purple_text">Christopher Tata</h3><strong><i>{% trans "Founder and Vice President, Technical Development Strategies" %}</i></strong><br /><br /><p>{% blocktrans %}As a Founder of NetConference, Christopher Tata is the inventor and chief architect of the patent pending Shared Video on Demand technologies.  As the SVP, Technical Development Strategies he is focusing his energies on product and network development.  Before NxtGenTV, Tata was a Sr. Software Engineer at SoftwareProjects, Inc. and a Sr. Systems Administrator at A1 Communications.{% endblocktrans %}</p>
            </p><hr/>-->

</div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
    <script type="text/javascript">
    	var lf_ID = '100002564_B';
    	function runJoan(){
    		runLFOW();
    	} 
    </script>

{% endblock %}
