{% extends "text_base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "How it works?" %}
{% endblock %}

{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li>
      <a href="{% url netconference %}" class="sidebar_plain">{% trans "What is Netconference" %}</a>
    </li>
    <li class="current">
      <a href="{% url howitworks %}" class="sidebar_plain">{% trans "How it works" %}</a>
    </li>
    <li>
      <a href="{% url aboutus %}" class="sidebar_plain">{% trans "About us" %}</a>
    </li>
    <li>
      <a href="{% url articles %}" class="sidebar_plain">{% trans "Articles" %}</a>
    </li>
  </ul>  
</div>
{% endblock %}

{% block textarea_content %}
<a name="how_it_works"><div class="top">
  {% trans "How it Works" %} 
</div></a>
<div id="aboutus_pages" class="mid">
  <h3 class="purple_text">{% trans " Our Technology " %}</h3>
  <p class="style4">{% blocktrans %}Here is how it works...Our Shared Video On  Demand technology allows two or more people to be viewing the same  piece of media at the same time, all the while chatting through a  proprietary and engaging conferencing system, including Video and Text  chat. Essentially, creating 'Conference Suites ' to which, everyone can upload content and subscribe to.{% endblocktrans %}<br />
    <br />
    {% blocktrans %}We see each Social Business Conference suite adoption as a unique opportunity, with analytical tools tracking every piece of media we display. For  the users, it will be both enjoyable and repeatable. All the while presented seamlessly both  on the web and within traditional Social Media systems such as Face Book, LinkedIn, Twitter and SalesForce.com.{% endblocktrans %} </p>
  <p class="style4">{% blocktrans %}NetConference&trade; Your Office In The Cloud&trade;'s patent pending  SVOD   systems allow users and clients to see life in a shared screen experience,   essentially occupying the same space in a virtual environment at the   same time.  This allows people in various separate locations to watch    media content 'together' in High Definition, sharing the same experience   at the same time (SVOD - Patent Pending).{% endblocktrans %}  {% blocktrans %}At present times, a streaming video is played by   a 'client' through an Internet connection and he/she receives his/her   own stream of data. In order for two people to enjoy the same   media at the same time it is necessary for both individuals to press   'play' at exactly the same time. What is unique to the NetConference&trade; Your Office In The Cloud&trade; process is the introduction  of a simultaneous data stream or a 'Shared   Object'.{% endblocktrans %} {% blocktrans %}This concept allows either individuals or multiple members   in a group to connect into and watch a piece of media together and yet   be watching from different locations. This allows the connected   individuals to experience the same media and enjoy the same excitement   and experiences at the same time thus increasing the social interaction   between the members of the group.{% endblocktrans %}  {% blocktrans %}When the conferencing, 'host' pauses the video for the entire  group is paused and rewind and fast forward in the same fashion.{% endblocktrans %} {% blocktrans %}When  a new user enters the conference they are  automatically cued up to be at  the same point in the media time line as the rest of the group.{% endblocktrans %} {% blocktrans %}Then, we've thrown in our proprietary video and VOIP conferencing systems and you wind up with a collaborative media  distribution model that gives real emotional 'value' to even the most  savvy of web consumers.{% endblocktrans %}</p>
  <a name="for_sales"><h3 class="purple_text">{% trans "For Sales" %} </h3></a>
  </p>
<p class="style4">{% blocktrans %}  Travel less and close more deals.  Your sales force never even has to meet face to face to close a deal saving thousands in travel costs and expenses. Everything that your sales force needs is at the tip of their fingertips including:{% endblocktrans %}</p>
  <ul>
    <li>{% trans "Video Conferencing" %}</li>
    <li>{% trans "VOIP Communication" %}</li>
    <li>{% trans "Engaging Sales Presentations all browser based, right over the web." %} </li>
    <li>{% trans "Interactive, live communications between sales people and prospects." %} </li>
    <li>{% trans "Review and finalize contracts together." %}</li>
    <li>{% trans "Gather together in one place key decision makers and cut down time to close." %}</li>
    <li>{% trans "Reaching out to worldwide distributors on a regular basis." %} </li>
  </ul>
  <a name="for_training"><h3 class="purple_text">{% trans "For Training" %}</h3></a>
  </p>
  <p>{% blocktrans %}Deliver High quality and impressive training and demonstration sessions all in High Definition. There is no more need for expensive travel or seminars, simply schedule events and train employees or clients next door or around the world. Share Video, Power Points, Office Documents and more with NetConference&trade; Your Office In The Cloud&trade;'s patent pending training tools.{% endblocktrans %} </p>
  <ul>
    <li>{% trans "Encourage learning through audience participation and feedback." %}</li>
    <li>{% trans "Allow audience members to take control of the host position and learn through doing." %}</li>
    <li>{% trans "Distribute learning materials with our easy file sharing systems." %}</li>
    <li>{% trans "Create learning 'teams' for after the conference group round tabling and collaboration" %}<br />
    </li>
  </ul>
  <a name="online_events_webinars"><h3 class="purple_text">{% trans "For Online Events and Webinars," %}</h3></a>
  </p>
  <p>{% trans "Hold online events for up to 3000 people and deliver a high impact presentation with minimal cost." %}</p>
  <p>{% blocktrans %}One of the toughest marketing challenges is to get in front of  qualified leads--people that are ready and willing to buy, and are  searching for someone with your talent, your service, or your product.{% endblocktrans %}</p>
  <p>{% blocktrans %}If  you're stuck in the 'I have to meet my prospects face-to-face to win  their business,' then it's time to get in touch with the power of the  webinars to market your business on the Internet. Interactive webinars  are clearly one of the most powerful ways on the planet to reach  prospects locally or globally, and turn them into clients.{% endblocktrans %}</p>
  <p>{% blocktrans %}It doesn't matter if your business is a solo-preneur or a global giant.  Lively, interactive webinars could be the most powerful element to make  your Internet marketing campaign unstoppable.{% endblocktrans %}</p>
  <a name="customer_support"><h3 class="purple_text">{% trans "For Customer Support" %}</h3></a>
  </p>
  <p>{% blocktrans %}Everyone,  at some point has had trouble assembling a product or figuring out a series of  complex directions for a consumer product.  Imagine the implications of being able to go onto your company's web  site where you would encounter a "live customer agent" through your subscription to NetConference&trade; Your Office In The Cloud&trade;.{% endblocktrans %} {% blocktrans %}Your agent can right then and there, pull  up a descriptive video of the process and watch right along with your customer as a  visual description was provided.{% endblocktrans %} {% blocktrans %}The  agent could then couple NetConference&trade; Your Office In The Cloud&trade;TV's "Live Agent" system with a phone  conference, lending further clarification and understanding, even to the point  of rewinding and reviewing a particular troublesome section.{% endblocktrans %} {% blocktrans %}No longer would it be, "go watch a streaming  video on our site and call us back with further questions". It would be a true hand holding experience  based on the concurrent visual nature that the NetConference&trade; Your Office In The Cloud&trade; system provides.{% endblocktrans %} </p>
  <a name="it_support"><h3 class="purple_text">{% trans "For IT Support" %}</h3></a>
  </p>
  <p>{% trans "Fix remote issues with NetConference&trade; Your Office In The Cloud&trade;'s Shared Media Space." %} </p>
  <p>{% blocktrans %}With no downloads for a client the NetConferneceTV platform is perfect for walking  through complicated issues and delivering software updates to multiple accounts.{% endblocktrans %}</p>
  <ul>
    <li>{% blocktrans %}View a clients desktop in real time and walk them through a fix{% endblocktrans %}</li>
    <li>{% trans "Transfer security patches and updates to keep systems current." %}</li>
    <li>{% trans "Connect through firewalls without hassle" %}<br />
    </li>
  </ul>
  <a name="for_enterprise"><h3 class="purple_text">{% trans "For The Enterprise" %}</h3></a>
  </p>
  <p><strong>{% trans "Many accounts, branded as you - all linked together" %}</strong></p>
  <p>{% blocktrans %}Imagine every employee, client and business relationship having a personal conference suite           branded as you. This can be 10, 20, 100 or 1000 separate accounts all having your company's           look and feel, all sharing access to general public files and conference event details. Upload an           entire library of files and media content to share and disseminate to the entire group.{% endblocktrans %}</p>
  <ul>
    <li>{% blocktrans %}Get your own companies look and feel on the entire site.{% endblocktrans %}</li>
    <li>{% blocktrans %}Pick out a custom URL or use the one you have{% endblocktrans %}</li>
    <li>{% blocktrans %}Make the entire system one closed loop community{% endblocktrans %}</li>
  </ul>
  <p>{% blocktrans %}Contact a NetConference&trade; Your Office In The Cloud&trade; Solutions Representative today to craft a complete Social Business Collaboration Suite for your company.{% endblocktrans %}</p>
  <a name="for_small_business"><h3 class="purple_text">{% trans "For The Small Business" %}</h3></a>
  </p>
  <p>{% blocktrans %}According to the U.S. Business Administration in 2007 of the 5.7  million American businesses, 99% are considered to be small businesses  with less than 500 employees. Small business owners continue to grow at  a phenomenal rate.{% endblocktrans %}</p>
  <p>{% blocktrans %}Just think about the advantages that this type of networking provides the small business owner:{% endblocktrans %}</p>
  <ul>
    <br />
    <li>{% blocktrans %}<strong>Geographic flexibility</strong> -- If you have numerous locations  or wish to expand to a new market, you can use your NetConference&trade; Your Office In The Cloud&trade; account and share what you do with others no matter where you are at that  moment.{% endblocktrans %}</li>
    <li>{% blocktrans %}<strong>Reduced costs</strong> -- No costs for driving, parking  to that weekly or monthly meeting. Traveling is expensive and using NetConference&trade; Your Office In The Cloud&trade;'s video conferencing tools no matter where you are you are always face to face. Subscribe to multiple accounts and link them together to provide a cohesive online core for you and your employees.{% endblocktrans %}</li>
    <li>{% blocktrans %}<strong>More time</strong> -- Since you can network from your office or home, you now have more  time for additional appointments. You don't have to allow additional  time for traffic, road conditions, etc.{% endblocktrans %}</li>
    <li>{% blocktrans %}<strong>Convenience</strong> --  If you live in the northern states, you can avoid winter's bad weather with a meeting on NetConference&trade; Your Office In The Cloud&trade; right from your home or office.{% endblocktrans %}</li>
    <li>{% blocktrans %}<strong>Additional Opportunities</strong> - You will have fresh individuals to connect with instead of the same  faces that you see weekly or monthly who still haven't become customers.{% endblocktrans %}</li>
    <li>{% blocktrans %}<strong>Focus</strong> -- In traditional networking environments, there are always  distractions from people interruptions to food being served. With  the NetConference&trade; Your Office In The Cloud&trade; Social Business Collaboration Suite, the focus is on you.  Now is <strong>YOUR</strong> time to shine!{% endblocktrans %}</li>
  </ul>
  <br/>
  <br/>
</div>

{% endblock %}
