{% extends "text_base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "What's NetConference?" %}
{% endblock %}


{% block textarea_content %} 
<div class="top">
    {% blocktrans %}
    What Is NetConference&trade; Your Office In The Cloud&trade; ?{% endblocktrans %}
    <p class="style2">{% trans "A Social Business Collaboration Network" %} </p>
</div>
<div id="aboutus_pages" class="mid">
    <h3 class="purple_text">{% trans "Social Media, meet Online Meetings...Online Meetings, meet Social Media" %} </h3>
    <p>{% blocktrans %}NetConference&trade; Your Office In The Cloud&trade;  is neither one nor the other. We are a <strong>Social Business Collaboration Network</strong> intuitively designed to connect 
    you, with  business relationships in a Social Media environment. We have taken all of the best features and concepts from both Social Media and Online Meeting applications and combined them into one powerful business tool that allows you to create and manage your own Social Business Collaboration Network (SBCN).{% endblocktrans %} </p>
    <p>{% blocktrans %}Within the Social Media groups you currently participate in, imagine if you could pass around large files or schedule collaborative online meeting between friends. Or vice versa, what if you could link your online meeting account together with other "friends", accounts and share in real time forums, chat and postings with true idea collaboration and brainstorming.{% endblocktrans %} </p>
    <p>{% blocktrans %}What would the impact be on your company if the marketing department could talk to the engineering department who could then return those solutions to the sales department...all the while overseen by Executive Management. It would change and streamline the way you do business. Transforming your world from archaic email chains to rich media video emails, interactive forums, blogs, teams, chats, issue tracking, video conferences, shared files and much, much more. Every system designed to keep ideas and thoughts flowing from engineering to marketing...to Sales and Prospects. Bring your world to life...start your own Social Business Collaboration Network today...{% endblocktrans %} </p>

    <span class="style2">
        <a name="online_meeting_basics"><h3 class="purple_text">{% trans "Online Meeting Basics with NetConference&trade; Your Office In The Cloud&trade;" %} </h3></a>
    </span>
    </p>
    <p>{% blocktrans %}With the help of communications technology today,  an online meeting can take place at a moments notice, for next to no  expense. Meetings held online are similar to a standard, face-to-face  meeting, especially when you consider NetConference&trade; Your Office In The Cloud&trade;  has VOIP, Video and Shared File Conferencing capabilities.{% endblocktrans %}<br />
    <br />
    {% blocktrans %}In  an online environment, people can interact with a group regardless of  the participants physical location; or one person can give a  presentation or demonstration while the other participants become the  audience, just as though they were actually in the room...without the expense!{% endblocktrans %} <br />
    <br />
    {% blocktrans %}Online  meetings work by using conference software that offers services to  participants to mimic a face-to-face meeting. You can typically, as with Net Conference  use a  conference program that allows for the host of the meeting to present  information with various tools- similar to what you'd find in a  business conference room.{% endblocktrans %}<br />
    <br />
    {% blocktrans %}With NetConference&trade; Your Office In The Cloud&trade;  webcameras are used to project a host video and up to 5 other video participants for a real face-to-face conferencing experience. A voice component allows individuals to speak  to one another either via a computer microphone or through our telephony conferencing service, and shared video, power points and other office documents round off the NetConference&trade; Your Office In The Cloud&trade;  Suite to guarantee that your participants will feel like they are really there.{% endblocktrans %} <br />
    <br />
    {% blocktrans %}There are  numerous advantages of conducting online meetings over the setting up  of more traditional meetings in your office, or renting a large  conference room in a hotel. First, the expense of face-to-face meetings  can be costly, particularly when people are traveling great distances  to meet together regularly, or when the meetings are expected to run for  hours and food is brought in to feed all participants.{% endblocktrans %}<br />
    <br />
    {% blocktrans %}If you  must rent a large hall or conference room, the expenses can be  astronomical. The costs of conducting meetings online with NetConference&trade; Your Office In The Cloud&trade;  are minimal.{% endblocktrans %}<br />
    <br />
    {% blocktrans %}Another advantage to having  online meetings as opposed to face-to-face meetings is the ability to  conduct the meeting from whatever location you may be in. No matter where you are the NetConference&trade; Your Office In The Cloud&trade; Business Collaboration Suite is there to connect you to your audience.{% endblocktrans %} <br />
    <br />
    {% blocktrans %}If  you are working from home, for example, using NetConference&trade; Your Office In The Cloud&trade;  allows you to instantly connect with co-workers or  your employees. If you must travel, you can still "sit-in" and  participate in the meetings of your co-workers or employees so you  aren't missing important information while you're conducting other  business, even if you're on the other side of the globe!{% endblocktrans %}<br />
    <br />
    {% blocktrans %}Time  management is drastically improved with using NetConference&trade; Your Office In The Cloud&trade;  as opposed to  traditional meetings. As we all know, it takes time to gather everyone into  the same room, settle people down and get a meeting underway. When you  use the NetConference&trade; Your Office In The Cloud&trade;  Collaborative Systems, everyone logs in at the same scheduled, specified  time, and the meeting begins...promptly.{% endblocktrans %} <br />
    <br />
    {% blocktrans %}There is less time required to  plan for an internet meeting, and no tables or chairs have to be set up  for the certain number of participants, no food has to be ordered and there is no need for warm up chatting or polite "how are ya's".  It's just collaborative business, from beginning to end.{% endblocktrans %} <br />
    <br />
    {% blocktrans %}Online meetings are also  extremely useful for providing demonstrations and hands-on training to  customers. If you are a company that develops software or webbased  programs, you can use the meetings to show your customers how to  operate the programs. The NetConference&trade; Your Office In The Cloud&trade;  desktop sharing environment allows you to share whatever is on your mind, quickly and efficiently.{% endblocktrans %} <br />
    <br />
    {% blocktrans %}Training employees is another perfect example of how to use the NetConference&trade; Your Office In The Cloud&trade;  Systems. You can actually conduct online courses to  train employees on new policies or procedures, whether your employees  are located in the same building or in various locations around the  world.{% endblocktrans %} <br />
    <br />
    {% blocktrans %}Sign up for your FREE trial today to start your own Social Business Collaboration Network.{% endblocktrans %}</p>
    <a name="online_meeting_uses"><p><span class="style2">{% blocktrans %}Top Ten Uses for Online Meetings{% endblocktrans %} </span></p></a>
    <h3 class="purple_text">{% blocktrans %}1. Connect Your Team, Where Ever They Are{% endblocktrans %}</h3>
    <p>{% blocktrans %}No matter where your employees might be, everyone is always accessable to a computer and the Internet. In a matter of moments gather your team from in the building or around the Globe for a quick collaboration session and thought provoking brainstorm{% endblocktrans %} </p>
    <h3 class="purple_text">{% trans "2. Travel Less" %} </h3>
    <p>{% blocktrans %}Cut your travel budget in half and avoid down time by holding online meetings instead of flying hundreds or thousands of miles away from your home base.{% endblocktrans %} </p>
    <h3 class="purple_text">{% blocktrans %}3. Better Interactivity and Participation{% endblocktrans %}</h3>
    <p>{% blocktrans %}In a live meeting you have to give up control of your computer and physically move people around in the room. With NetConference&trade; Your Office In The Cloud&trade;  easily pass the remote and allow that person to be the host, on the fly. It's a virtual, "talking stick" that allows your audience to feel aware, engaged and ready to participate{% endblocktrans %} </p>
    <h3 class="purple_text">{% trans "4. Conduct Sales Presentations and Close Business" %} </h3>
    <p>{% blocktrans %}Sales presentations and prospect demonstrations are the lifeblood of a company. The more of these you can schedule the more business you will close. And, with the Digital Signature technology off NetConference&trade; Your Office In The Cloud&trade;  built right in you can sign and close deals right from your conference suite.{% endblocktrans %} </p>
    <h3 class="purple_text">{% trans "5. The Most Efficient Way to do Business" %} </strong></h3>
<p>{% blocktrans %}When presenting or providing a  training session to individuals at various companies or locations, it  is easier to invite everyone to an online meeting instead of arranging  for multiple people to meet at one location. It is also less ackward  when the participants do not know each other, arrive late, sit near  someone they do not know etc.{% endblocktrans %}</p>
<h3 class="purple_text">{% trans "6. Training" %} </h3>
<p>{% blocktrans %}Customer and employee training is an essential part of every business. Set up regularly scheduled times and invite people from next door or around the world to an interactive session on your product or service.{% endblocktrans %} </p>
<h3 class="purple_text">{% trans "7. Host Large Meetings" %}</h3>
<p>{% blocktrans %}It is rare, for most  companies today, to have a physical space that can hold all the  employees or all the participants of a large event such as a corporate  meeting. Having an online meeting eliminates the necessity for a large  physical space or the renting of one.{% endblocktrans %}</p>
<h3 class="purple_text">{% blocktrans %}8. Everyone is Doing It{% endblocktrans %} </h3>
<p>{% blocktrans %}Today, as never before people are becoming accustomed to the notion of attending online meetings. Most online meetings are simply desktop sharing sessions, however with NetConference&trade; Your Office In The Cloud&trade;  you will be pleasantly surprised as your clients, employees and prospects are amazed at the ease of use and brilliance of the NetConference&trade; Your Office In The Cloud&trade;  collaborative systems.{% endblocktrans %} </p>
<h3 class="purple_text">{% blocktrans %}9. Greater Participant Attention{% endblocktrans %}</h3>
<p>{% blocktrans %}Most individuals are  less distracted when they are in their own office or home, in front of  their own computer, and watching a presentation or training session.  They are more likely to have the comforts they are used to, their  chair, computer, coffee mug, attire and therefore less distracted and  more able to retain the information they are exposed to.{% endblocktrans %}</p>
<h3 class="purple_text">{% trans "10. It's the Cheapest Way to Collaborate" %} </h3>
<p>{% blocktrans %}Clearly without a doubt the monthly price  of the NetConference&trade; Your Office In The Cloud&trade;  service pays for itself if you only hold one  meeting per month. The fact that no one has to travel, there is no physical space to reserve, no food to order simply saves money.{% endblocktrans %} </p>

<a name="why_netconference"><h3 class="purple_text">{% trans "Why NetConference&trade; Your Office In The Cloud&trade; ?" %} </h3></a>
<p>{% blocktrans %}NetConference&trade; Your Office In The Cloud&trade;  is the first to merge the concepts of Social Media and Online Meeting Collaboration. No other system allows you to seamlessly share and communicate with every business relationship you have. The Netconference  patent pending technology is the best of breed. There is no other application that we have found that combines every feature of every Social Media and Online Conferencing application into one cohesive system.{% endblocktrans %} </p>
<p>{% trans "Check out our state of the art feature set:" %} </p>
<ul>
    <li><a href="{% url features_files %}">{% trans "Large File Upload, Storage and Download" %}</a></li>
    <li><a href="{% url features_svod %}">{% trans "Patent Pending Shared Video on Demand" %}</a></li>
    <li><a href="{% url features_desktop %}">{% trans "Desktop Sharing and Collaboration" %}</a></li>
    <li><a href="{% url features_vmail %}">{% trans "Video E-mail" %}</a></li>
    <li><a href="{% url features_company %}">{% trans "Social Company Files and Media Content" %}</a></li>
    <li><a href="{% url features_scheduler %}">{% trans "Event Scheduler" %}</a></li>
    <li><a href="{% url features_webconference %}">{% trans "Video Web Conferencing" %}</a></li>
    <li><a href="{% url features_groupchat %}">{% trans "Group Chat" %}</a></li>
    <li><a href="{% url features_telephony %}">{% trans "Telephony Conference and PIN Numbers" %}</a></li>
    <li><a href="{% url features_rebrand %}">{% trans "Re-Brand Your Entire Suite" %}</a></li>
    <li><a href="{% url features_social %}">Social Networking Tools</a></li>
    <li><a href="{% url features_hd %}">{% trans "High Definition Presentations" %}</a></li>
    <li><a href="{% url features_contacts %}">{% trans "Import all of Your Contacts" %}</a></li>
    <li><a href="{% url features_netsign%}">{% trans "Digital Signatures" %}</a></li>
              </ul><br/><br/></div>
{% endblock %}
