{% extends "newer_base.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% comment %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NetConference</title>
<link href="css/reset_net.css" rel="stylesheet" type="text/css" />
<link href="css/styles_net.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="grid">
{% endcomment %}
        {% block netconference_logo %}
        <div class="logo"><a href="{% url home %}"><img src="{{MEDIA_URL}}images/netconf_newlogo.png" width="256"  alt="Net Conference logo" /></a></div>
        {% endblock %}
    {% block content %}
  <div id="contentpage">
    	<div class="content">
	    <img src="{{MEDIA_URL}}images/nc_wtconferencing.png" width="616" height="124" alt="" /><br />
              <p style="padding-top: 20px;">Expand your base of operations into the virtual space with a suite of collaborative tools that make your virtual meeting experience easier than ever before. Travel less and get more work accomplished with online tools which enable you to interact with others with ease and efficiency. <br /><br />
It is easy to use, easy for others to join and easier to be more productive.</p>
		</div>
	<div class="whatnc_leftimg"></div>
    <div class="whatnc_right">
        <ul>
        <li><strong>It Just Works</strong> - Our intuitive interface allow you to upload files to the cloud, schedule 		   your meetings, send invitations to others and get right down to business. Fast, intelligent 	   and available when you want it and where you want it.</li>
        <li><strong>Available Everywhere</strong> - NetConference<sup>&reg;</sup> Your Office in the Cloud<sup>&reg;</sup> is accessible from 	   any of your computers because it is cloud based. All of your files are there and ready for 	   use, regardless of which device you are accessing them from. Colleagues, employees, 	   clients, vendors and collaborators may join from any system as well.</li>
        <li><strong>Secure</strong> - All files in NetConference are encrypted for security purposes, and are only 		   accessible to whomever you have allowed access. You set the security level for every file 	   you import into the cloud to ensure you are in complete control.</li>
        <li><strong>Scalable</strong> - Our rooms are scalable from 12 - 100+ guests. Pick the package that best 		   suits your needs and relax. Your NetConference system allows you to choose how you 	   allow guests to access your files and conferences on a case by case basis. Allow 		   everyone, or select few into your conferences and NetConference does the rest.</li>
        <li><strong>V-Mail&trade;</strong> - NetConference<sup>&reg;</sup> provides you with a robust video mail message system to                     	   allow you to send unified visual communications to any of your contacts. Branded    		   messages, personalized video responses, recorded event moments that need to be 		   shared with others are just a few of the many uses for this versatile system which is 		   included free with every level package.</li>
        </ul>
        </div>
        <div class="clear"></div>
	    <div class="content">
    		<p class="content_shadowline"></p><br />
            <a name="solutions"><p><img src="{{MEDIA_URL}}images/learnmore_nc.png" width="756" height="23" /></p></a><br /><br />
            <div class="navpurple">
            	<ul>
                	<li><a href="http://www.netconference.com/file/ODI5NTAw/" style="text-decoration:none;">Education</a></li>
                    <li><a href="http://www.netconference.com/file/ODI5MTIy/" style="text-decoration:none;">Employment</a></li>
                    <li><a href="http://www.netconference.com/file/ODI5MDgw/" style="text-decoration:none;">Service</a></li>
                </ul>
                {% comment %}
                <ul>
                	<li>Sales</li>
                    <li>Healthcare</li>
                    <li>IT</li>
                </ul>
                {% endcomment %}
            </div><br /><br />
            <p class="content_shadowline"></p>
    </div>
		<div class="socialmedia">
   	  		<img src="{{MEDIA_URL}}images/start_usingnc.png" width="501" height="23" alt="" /><br />
            <p class="trialfree">Use your Social Media Account to Sign up now for a 30-day free trial.</p>
            	<div class="leftpanel">
                    <ul>
                        <li>Cloud-based File Storage</li>
                        <li>Conference with Video and Audio chat with up to 25 participants </li>
                        <li>V-Mail<sup>&trade;</sup> Promotional System</li>
                        <li>Integrate with your Google Docs, Calendar and Contacts </li>
                    </ul>
                </div>
                <div class="rightpanel">
                	<button class="facebook_btn" id="social_facebook">Facebook</button>
                    <button class="linkedin_btn" id="social_linkedin">LinkedIn</button>
                    <button class="twitter_btn" id="social_twitter">Twitter</button>
                    <button class="google_btn" id="social_google">Google</button>
                </div>
        </div>
		<div class="next"><a href="{% url features_home %}">Features</a></div>
        
    <div class="clear"></div>
    </div>
    {% endblock %}
    {% block copyright_left %}
    <div class="left" > <a href="http://nxtgen.tv/"><img src="{{MEDIA_URL}}new/images/nxtgen_tv_logo.png" width="107" height="29" style="vertical-align:middle; padding-top:15px;" alt="NxtGenTV"></a> <br>
      &copy; 2006-2010 <a href="http://nxtgen.tv" target="_blank">NxtGen LLC </a>• <a href="{% url contact %}">Contact</a> • (818)934-1204 <br/>
      NetConference technology created by <a href="http://www.illusionfactory.com/" target="_blank">The Illusion Factory</a></div>
    {% endblock %}
{% block extrafooterscript %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#social_linkedin").click(function(){
            window.location = '{% url socialauth_linkedin_login %}';
        });
        $("#social_facebook").click(function(){
            window.location = '{% url socialauth_facebook_login %}';
        });
        $("#social_twitter").click(function(){
            window.location = '{% url socialauth_twitter_login %}';
        });
        $("#social_google").click(function(){
            window.location = '{% url socialauth_google_login %}';
        });
    });
    </script>
{% endblock %}
