{% extends "newer_base.html" %}
{% block extra_css %}
    <style type="text/css">
        p.more
        {
            cursor:pointer;
        }
        p.less
        {
            cursor:pointer;
        }
    </style>
{% endblock %}
{% block content %}
  	<div id="contentpage">
		<div class="aboutpage">
			<img src="{{MEDIA_URL}}images/management_bd.png" width="477" height="40" alt="" /><br/>
			<p class="subhead">NxtGen TV Management Team</p>
	    	<div class="management">
				<div class="leftimage"><img src="{{MEDIA_URL}}images/kevin_bennis.png" width="152" height="151" alt="Kevin Bennis" /></div>
				<div class="rightpanel">
					<img src="{{MEDIA_URL}}images/kevin_bennis_txt.png" width="128" height="20" alt="Kevin Bennis" />
					<p><em>Chief Executive Officer</em></p><br />
					<p>Kevin Bennis brings to NxtGenTV a lifetime of exemplary leadership and vision<br /> 
that has defined his distinguished career in the telecommunications industry.<br />
 Having spent over 21 years in top management roles, including the CMO of the <br />
Business Division at MCI, Mr. Bennis continued as President of Frontier <br />
Communications, a $2B full service telecommunications provider that was acquired by Global Crossing in 1999. </p>
				<p class="more">More</p>
				</div>
				<div class="rightpanel2">
					 <p>As President and CEO of $1.3B Sprint Canada, Bennis lead an organization of over 2,000 people serving over one million residential customers and 100,000 business customers before it was purchased by Rogers Communication in 2005. As President and CEO of SunRocket, a leader in the VOIP business, Bennis grew their customer base 40 fold and became the second fastest VOIP provider. He was CEO of 10e Solutions, a leader in software for customer data integration and analytical software to support customer/product profitability before it was acquired by The Ariston Group in 2007.</p>
				<p class="less">Less</p>
				</div>
			</div>
			<div class="management">
				<div class="leftimage"><img src="{{MEDIA_URL}}images/brain_weiner.png" width="152" height="151" alt="Brian Weiner" /></div>
				<div class="rightpanel">
					<p><img src="{{MEDIA_URL}}images/brain_weiner_txt.png" width="128" height="20" alt="Brian Weiner" /></p>
					<p><em>Founder and Chairman</em></p><br />
					<p>As CEO of The Illusion Factory for the last 33 years, Mr. Weiner has lead some <br />
of the most creative and technically innovative teams in the entertainment <br />
industry. Having been entrusted with the marketing and promotion of more than <br />
$7B in filmed, live, gaming, online and broadcast entertainment, and garnering <br />
over 250 awards in the process, The Illusion Factory continues to define itself <br />
at the nexus of technology, creativity and entertainment. </p>
<p class="more">More</p>
				</div>
				<div class="rightpanel2">
					 <p>Mr. Weiner contributed his marketing skills to the top drama (ER) and the top comedy (Friends) on television through the entire decade that they reigned as the top watched shows in the world. He has served The Illusion Factory as Creative Director in all media for all of the studios, broadcasters, record labels, cable channels, creative and talent agencies, advertising agencies and Fortune 500 companies. Weiner’s vision continues to expand with the spinoff of NxtGenTV.  AsFounder Chairman, Mr. Weiner serves on the Board of Directors of NxtGenTV, and continues to bring his visionary influence to NxtGenTV in all aspects of the company’s global deployment and expansion of services and functionalities.</p>
				<p class="less">Less</p>
				</div>
			</div>
			<div class="management">
				<div class="leftimage"><img src="{{MEDIA_URL}}images/dennis_carey.png" width="152" height="151" alt="Dennis Carey" /></div>
				<div class="rightpanel">
					<p><img src="{{MEDIA_URL}}images/dennis_carey_txt.png" width="139" height="26" alt="Dennis Carey" /></p>
					<p><em>Director of the Board</em></p><br />
					<p>Dennis Carey is Vice Chairman of Korn/Ferry International. He has recruited some <br />
of the most successful CEOs in American business, including companies such as 
TYCO International, 3M and American Standard.As a board recruiter, Mr. Carey has built new boards from scratch ranging from Covidien Health Care and TYCO International, to EMBARQ, TYCO Electronics, DELPHI and Visteon. 

 </p>
<p class="more">More</p>
				</div>
				<div class="rightpanel2">
					 <p>He has also built boards for IPOs including Goldman Sachs and Ameritrade. During the past 20 years, Mr. Carey has recruited hundreds of some of the most preeminent directors for Fortune 500 companies across the United States.He has authored three books, published dozens of articles, and is a frequent <br />
contributor and writer for the Harvard Business Review, The Wall Street Journal, <br />
Financial Times, and McKinsey Quarterly on CEO succession, corporate governance, and mergers and acquisitions. <br /><br />

Mr. Carey is the founder of G100, the Lead Director Academy and the CEO 
Academy, and the co-founder of the Directors Institute at The Wharton School, <br />
the Prium, the CHRO Board Academy, and the CFO Board Academy.</p>

				<p class="less">Less</p>
				</div>
			</div>
			<div class="management">
				<div class="leftimage"><img src="{{MEDIA_URL}}images/john_keller.png" width="152" height="151" alt="John J. Keller" /></div>
				<div class="rightpanel">
					<p><img src="{{MEDIA_URL}}images/john_keller_txt.png" width="133" height="26" alt="John J. Keller" /></p>
					<p><em>Member of the Board of Directors</em></p><br />
					<p>John J. Keller is Vice Chairman of the CEO and Board Practice of CTPartners, a <br />
premier executive search firm committed to performance, quality and results, and <br />
he is a member of the firm’s Executive Committee, which works with the CEO in <br />
managing the firm.As Vice Chairman, John oversees the activities of partners worldwide, providing strategic guidance and leadership that ensures consistent, world-class service quality. 
 </p>
<p class="more">More</p>
				</div>
				<div class="rightpanel2">
					 <p>He maintains a highly active search and advisory practice, assisting 
global publicly and privately held companies, as well as private equity clients, 
in recruiting leaders to run companies, ensure high-performance results and be 
actively engaged in improving governance as valued directors. He also 
specializes in executive and board succession planning.<br /> <br />
 
Previously John spent more than a decade with Spencer Stuart, aiding the 
coordination of its Technology, Communications and Media work globally and 
leading its Telecommunications Practice through some of the industry’s toughest 
years ever. He was also instrumental in strategically expanding the firm’s 
services as a founding member of its management assessment business and driver of its major account work. John was also a Senior Client Partner with Korn/Ferry International and a member of the Firm’s global Board & CEO, Financial Officers and Technology Practices.</p>
				<p class="less">Less</p>
				</div>
			</div>
			<div class="management">
				<div class="leftimage"><img src="{{MEDIA_URL}}images/colin_graham.png" width="152" height="151" alt="Colin Graham" /></div>
				<div class="rightpanel">
					<p><img src="{{MEDIA_URL}}images/colin_graham_txt.png" width="147" height="22" alt="Colin Graham" /></p>
					<p><em>Member of the Board of Directors</em></p><br />
					<p>Colin Graham is a Managing Director of RSR Partners, an executive search company. He is also a member of the firm’s Industrial Practice. Mr. Graham specializes on finance, supply chain, operations and general management in the C-Suite. He has successfully completed CEO, COO and President-level searches. His clientele includes Fortune 50 conglomerates such as United Technologies Corporation, to smaller private equity portfolio companies.
 </p>
<p class="more">More</p>
				</div>
				<div class="rightpanel2">
					 <p>Previously, Mr. Graham was a Principal with Korn/Ferry International, where he was a member of the firm’s Global Industrial Market, focusing on the Diversified Manufacturing and Energy Sectors.Mr. Graham holds a bachelor’s degree in business management from Plymouth State University. Mr. Graham currently resides in Old Greenwich, CT.</p>
				<p class="less">Less</p>
				</div>
			</div>
			<div class="management">
				<div class="leftimage"><img src="{{MEDIA_URL}}images/william_laperch.png" width="152" height="151" alt="William G. LaPerch" /></div>
				<div class="rightpanel">
					<p><img src="{{MEDIA_URL}}images/william_laperch_txt.png" width="202" height="22" alt="William G. LaPerch" /></p>
					<p><em>Member of the Board of Directors</em></p><br />
					<p>Mr. William G. LaPerch, (Bill) has been the Chief Executive Officer and President of AboveNet Inc. since January 2004.  He is a  telecommunications industry veteran with more than 30 years experience. He has established the company as a profitable and recognized leader in providing optical connectivity solutions for Fortune 1000 companies.  
</p>
<p class="more">More</p>
				</div>
				<div class="rightpanel2">
					 <p>Before joining AboveNet, Mr. LaPerch served as Senior Vice President of Network Services at MCI.  He also held senior executive positions at NYNEX. <br />
Mr. LaPerch is a graduate of the United States Military Academy at West Point, where he earned a B.S. in engineering.  He received his M.B.A. from Columbia University.  In addition, he has completed numerous executive-training programs at the Brookings Institute and the Darden School of Business.</p>
				<p class="less">Less</p>
				</div>
			</div>
			<div class="management">
				<div class="leftimage"><img src="{{MEDIA_URL}}images/paul_posoli.png" width="152" height="151" alt="Paul Posoli" /></div>
				<div class="rightpanel">
					<p><img src="{{MEDIA_URL}}images/paul_posoli_txt.png" width="106" height="22" alt="Paul Posoli" /></p>
					<p><em>Member of the Board of Directors</em></p><br />
					<p>Paul Posoli is a Managing Director in the JPMorgan Global Commodities Group and head of the global power, natural gas, coal and environmental markets businesses.  Prior to JPMorgan, Paul spent the past 2 years as a Senior Managing Director and President of Bear Energy, the Bear Stearns energy trading and marketing subsidiary.  </p>
<p class="more">More</p>
				</div>
				<div class="rightpanel2">
				<p>Prior to Bear Stearns, Paul was President of Calpine Energy Services and an Executive Vice President of Calpine Corporation.  Paul joined Calpine in May of 1999 from Enron Capital & Trade Resources.  Prior to Enron, Paul received his MBA from Kellogg Business School at Northwestern and worked as a CPA in the audit practice at Coopers & Lybrand.  He received a bachelor in business administration with a major in accounting from the University of Miami. </p>
				<p class="less">Less</p>
				</div>
			</div>
        </div>
    <div class="clear"></div>
    </div><!--CONTENT ENDS-->
{% endblock %}
{% block extrafooterscript %}
    <script>
        $(document).ready(function(){
            $(".rightpanel2").hide(); 
            $(".more").click(function(){
                var div_to_show = $(this).parent().next();
                div_to_show.show();
                $(this).hide();
            });
            $(".less").click(function(){
                $(this).parent().hide();
                $(this).parent().prev().find("p.more").show();
            });
        });
    </script>
{% endblock %}
