{% extends "new_base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load projects_tags %}

{% block extra_css_pre %}
    <style>
        .uniform_faux input,textarea {
            padding:3px;
            width:260px;
        }
        #buttonCreateProject {
            width: 227px;
        }
        .errorlist {
            font:12px Arial,Helvetica,sans-serif;
        }
        #checkboxes input {
            width: auto;
        }
	#id_name, #id_slug {
	  margin-left:4px;
          margin-top:2px;
          border-left: 2px solid #CCCCCC;
          border-right: 1px solid #CCCCCC;
          border-top: 2px solid #CCCCCC;
          border-bottom: 1px solid #CCCCCC;
	}
    </style>
{% endblock %}

{% block submenu %}
<div id="submenu_container">
    <ul class="subnav">
        <li><a href="{% url project_list %}">{% trans "All Projects" %}</a></li>
        <li><a href="{% url your_projects %}">{% trans "Your Projects" %}</a></li>
        <li  class="current"><a href="{% url project_create %}">{% trans "Create a Project" %}</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<!--CONTENT STARTS -->
<div id="login_page">
    <div class="leftpanel">
        <div class="top"></div>
        <div class="mid">
            <h1 class="purple_text">{% trans "Create Project" %}</h1>
            <div><img src="{{ MEDIA_URL }}/new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></div>
            <form class="uniform_faux" action="." method="POST">
                {{ form.non_field_errors }}
                <fieldset>
                    <table width="100%" border="0" cellspacing="0" cellpadding="5">
                        <tr>
                            <td>
                                <label for="id_name">
                                    {% trans "Name" %}:
                                </label>
                            </td>
                            <td>
                                {% if project_form.name.errors  %}
                                {{ project_form.name.errors }}
                                {% endif %}
                                {{ project_form.name }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="id_slug">
                                    {% trans "Keywords" %}:
                                </label>
                            </td>
                            <td>
                                {% if project_form.slug.errors  %}
                                {{ project_form.slug.errors }}
                                {% endif %}
                                {{ project_form.slug }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="id_description">
                                    {% trans "Description" %}:
                                </label>
                            </td>
                            <td>
                                {% if project_form.description.errors  %}
                                {{ project_form.description.errors }}
                                {% endif %}
                                {{ project_form.description }}
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <table  id="checkboxes" width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="30"  valign="top">
                                            {{ project_form.private }}
                                        </td>
                                        <td>
                                            <label for="id_private">{% trans "Private" %}</label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><a href="#" onclick="$('.uniform_faux')[0].reset()" class="purple_text" style="float:right; margin-right:10px;">{% trans "Clear All" %}</a></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="submit" class="create_project" id="buttonCreateProject" value="{% trans "Create Project" %}" style="float:right;"></input>

                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
            <p>&nbsp;</p>
        </div>
        <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="{{ MEDIA_URL }}/new/images/people_working.png"  alt="People Working Together!" /></div>
    <div class="clear"></div>
</div>
<!--CONTENT ENDS --> 
{% endblock %} 

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript">
    function toggleFiles() {
        $("input[name=file-select[]]").attr("checked", $("input[name=select]").attr("checked"));
    }
$(function() { $(".subnav").lavaLamp({ fx: "backout", speed: 600 })});

$(document).ready(function() {
        $("div.center_group_function").live("mouseover", {}, function(eventObject) { 
            var mouseOver = function(selector) { 
            $(selector).attr("class", $(selector).attr("class").replace("_function", "_sendinvite_function")); 
            }
            mouseOver(this);
            mouseOver($(this).children("p").first());
            mouseOver($(this).next("div.right_group_function"));
            });
        $("div.center_group_sendinvite_function").live("mouseout", {}, function(eventObject) { 
            var mouseOver = function(selector) { 
            $(selector).attr("class", $(selector).attr("class").replace("_sendinvite_function", "_function")); 
            }
            mouseOver(this);
            mouseOver($(this).children("p").first());
            mouseOver($(this).next("div.right_group_sendinvite_function"));
            });
        $("ul.tabs").tabs("#email_contain", {effect: 'ajax'});
        $(".group_function").click(function() {
            var $checkbox = $(this).find(':checkbox');
            $checkbox.attr('checked', !$checkbox.is(':checked'));
        });
        });
    </script>
    {% endblock %}
