{% extends "netsign/base.html" %}

{% load file_tags %}
{% load extra_tagging_tags %}

{% load i18n %}

{% block head_title %}{% blocktrans %}My NetSign{% endblocktrans %}{% endblock %}

{% block subnav %}
{% include "netsign/files_subnav.block" %}
{% endblock %}

{% block body %} 
<div class="innercontent_block">
<br/>
<ul class="stage_indicators">
<li class="stage_indicators"><a href="{% url upload_file %}"><img src="{{ MEDIA_URL }}img/upload_file.gif" border="0" alt="" /></a></li>
<li class="stage_indicators"><img src="{{ MEDIA_URL }}img/arrow_big.gif" border="0" alt="" class="arrow" /></li>
<li class="stage_indicators"><a href="{% url select_netsign %}"><img src="{{ MEDIA_URL }}img/netsign_agreement.gif" border="0" alt="" /></a></li>
<li class="stage_indicators"><img src="{{ MEDIA_URL }}img/arrow_big.gif" border="0" alt="" class="arrow"  /></li>
<li class="stage_indicators"><a href="{% url my_netsign %}"><img src="{{ MEDIA_URL }}img/netsign_library.gif" border="0" alt="" /></a></li>
</ul>

	<table width="880" align="center">
	<tr><td> 
	<h5 class="prefix-2"><strong>NetSign is a fast, secure and legal way to send and sign agreements online.</strong></h5></td></tr>
	<tr>
	<td valign="top">
	    <!--<img width=200 src="{{MEDIA_URL}}img/features_content_netsign.jpg">-->
	    <p class="prefix-2"><u>How it works:</u></p>


	    <p class="prefix-2">1. You upload a file to NetConference. - <a href="{% url upload_file %}">Upload</a></p>
	    <p class="prefix-2">2. You make that file into a NetSign "Agreement" by adding fields - <a href="{% url select_netsign %}">Select document</a></p>
	    <p  class="prefix-2"> IMPORTANT NOTE:  When dropping and dragging a field onto the document it is important double click on that field and check the "pre-signed" box if this is a field you would "lock" for another signor.  This will not allow them to change or modify the information in the field.  These fields will become your name, address and most importantly your signature.</p>
	    <p  class="prefix-2"> If you wish to import a scanned signature for regular use in this system, you may use the Scaned Image field, that lets you upload your sign and crop it to add to the document</p>
	    <p class="prefix-2">3. You send it out for signature from your Library - <a href="{% url my_netsign %}">Library</a></p>
	</td></tr>
	</table>
        {% if object_list %}
<h1 class="items_list_top">
            <form id="list_search" method="get" action="search/">
    			<input type="text" id="list_search_input" class="list_search" name="q" value="search my files" />
    			<button type="submit" class="list_search_btn" id="list_search_btn">
    			    <img src="{{ MEDIA_URL }}img/btn_go_light.png" width="29" height="20" alt="search" title="search" />
    			</button>
    		</form>
    		<span class="list_pagination">{% if page_obj.has_previous %}<a href="./?page={{ page_obj.previous_page_number }}">&laquo; Prev</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="./?page={{ page_obj.next_page_number }}">next &raquo;</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}</span>
			{% block blocktitle %}            
				{% trans "My NetSign Documents" %}
			{% endblock %}
        </h1>
        <table class="items_list" width="870" cellspacing="0">
        	<tr class="items_list_def">
        		<td width="115">&nbsp;</td>
        		<td width="320">Title</td>
        		<td width="70" style="text-align:center;">Changed</td>
                <td width="70"></td>
                <td width="70"></td>
                <td width="70"></td>
        	</tr>
        {% with object_list as files %}
        {% for file in files %}
        	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
        		<td>
	                <a href="{{ file.get_absolute_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.user_file.source_type }}.png' class='file_icon' border='0' /></a>
        		</td>
            	<td class="items_list_title">
            	    <a href="{{ file.get_absolute_url }}" class="listTitle">{{ file.title }}</a>
                    {% show_tags_for file %}
            	</td>
            	<td>
            	    {{ file.saved_at|date:"m/j/y H:m a" }}
            	</td>
                {# <td><a href="{% url user_dashboard file.user %}">{{ file.user }}</a></td> #}
                <td style="padding-left:0px;padding-right:5px;">
                    <a class="button caps" href="{% url vmail_compose %}?netsign={{ file.get_netsign_document_urlhash }}" style="float:none;">Send</a>
                </td>
            	<td style="padding-left:0px;padding-right:5px;">
            	    <a href="{{ file.get_netsign_document_url }}" rel="View File" class="button caps">view</a>
            	</td>
            	<td style="padding-left:0px;padding-right:5px;">
            	    <a href="{% url netsign_delete file.hash %}" rel="View File" class="button caps">delete</a>
            	</td>
            </tr>
        {% endfor %}
        {% endwith %}
        </table>
        
        <div class="list_bot_pagination">{% if page_obj.has_previous %}<a href="./?page={{ page_obj.previous_page_number }}">&laquo; Prev</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="./?page={{ page_obj.next_page_number }}">next &raquo;</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}</div>
        
        <br /><br />
        
        {% else %}
        <h2 class="prefix-1">You have no NetSign Documents at this time.</h2>
        <br />
        <p class="prefix-2"><strong><a href="{% url select_netsign %}">Create a NetSign Request for digital signature from one of your uploaded documents.</a></strong></p>
        <br /><br />
        {% endif %}
                </div>

{% endblock %}


{% block extra_jquery %}

var searchVal = $("#list_search_input").val();
$("#list_search_input").focus(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == searchVal){
        $(this).val("");
        $("#list_search_input").css("color","#333333");
    }
});
$("#list_search_input").blur(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == ""){
        $(this).val(searchVal);
        $("#list_search_input").css("color","#777777");
    }
});
$("#list_search").submit(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == "search my files"){
        return false;
    }
});

{% endblock %}

