{% extends "netsign/base.html" %}

{% load file_tags %}
{% load comments_tag %}
{% load threadedcommentstags %}s
{% load tagging_tags %}
{% load extra_tagging_tags %}

{% load i18n %}

{% block head_title %}{{ file.title }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}pinax/css/comments.css" type="text/css" media="screen, projection" />
	
    <style type="text/css" media="screen">
        a.button { padding: 2px 6px 1px;position:relative;top:4px;float:right;font-size:14px; }
	.subnav { margin: 0px; }
    </style>
    <!--[if IE 7]>
    <style type="text/css">
        a.button { top: -25px; }
    </style>
    <![endif]-->
{% endblock %}

{% block subnav %}
{% include "netsign/files_subnav.block" %}
{% endblock %}


{% block content950top %}
    <div id="content_1010_top"></div>
    <div id="content_1010_mid">
        <div class="container">
{% endblock %}

{% block body %}

	{% if show_send %}	
	
    <hr style="visibility:hidden;" />

        <center><a class="button" href="{% url vmail_compose %}?netsign={{ urlhash }}" style="float:none;">{% trans "Send" %}</a>

		{% ifequal user ndoc.creator %}
		<a class="button" href="#" onclick="confirmDelete();" style="float:none;">{% trans "Delete" %}</a>
		{% endifequal %}
		</center>
    <hr style="visibility:hidden;" />
    
	{% endif %}	
	

    <div id="netsign_player" style="margin-left:-16px;"></div>
{% endblock %}

{% block content950bot %}
        </div><!-- end .container for content_950_mid -->
    </div>
    <div id="content_1010_bot"></div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ MEDIA_URL }}pinax/js/comments.js"></script>

{% with 'NetSigner_Viewer.swf' as netsign_swf %}
{% include "netsign/flash_vars.block" %}
{% endwith %}

{% endblock %}

{% block extra_jquery %}

    var edit_buttons = $(".btn_edit_details").overlay({
        expose: {
            color: '#090909', 
            loadSpeed: 200, 
            opacity: 0.9,
            closeOnClick: false
        },
        closeOnClick: false
    });
    
    var delete_buttons = $(".btn_delete_details").overlay({
        expose: {
            color: '#090909', 
            loadSpeed: 200, 
            opacity: 0.9,
            closeOnClick: false
        },
        closeOnClick: false
    });

function confirmDelete() { 
  if (confirm("{% trans "Are you sure you want to delete the file?" %}")) {
    window.location = "{% url netsign_delete ndoc.hash %}";
  }
}    

{% endblock %}
