{% extends "netsign/base.html" %}
{% load i18n %}

{% block head_title %}Create a NetSign Document{% endblock %}

{% block extra_head %}
    <style type="text/css" media="screen">
        a.button { padding: 2px 6px 1px;position:relative;top:4px;float:right;font-size:14px; }
    .subnav{margin:0px;}
    </style>
    <!--[if IE 7]>
    <style type="text/css">
        a.button { top: -25px; }
    </style>
    <![endif]-->
{% endblock %}

{% block subnav %}
{% include "netsign/files_subnav.block" %}
{% endblock %}

{% block extra_subnav %}
<li class="current">{% trans "Review Document" %}</li>    
{% endblock %}


{% block body %}

    <hr style="visibility:hidden;" />
    <form id="titleForm" action="." method="post">
        <input type="hidden" name="file_id" value="{{ userfile.id }}" />
        <input type="hidden" name="create_netsign" value="true" />
		<input type="hidden" name="document_json" id="swfjson" value="" />
    </form>
    <hr style="visibility:hidden;" />
    <p class="center"><img src="{{ MEDIA_URL }}img/netsign_dragfields.gif" border="0" alt="" /></p>
        <p>{% trans "Drag and drop fields on the document. Double-click on a field to edit its properties." %}</p>
        <p>{% blocktrans %}IMPORTANT NOTE: When dropping and dragging a field onto the document it is important double click on that field and check the "pre-signed" box if this is a field you would "lock" for another signor. This will not allow them to change or modify the information in the field. <br/>These fields will become your name, address and most importantly your signature.{% endblocktrans %}</p>

    <div id="netsign_player" style="margin-left:-16px;"></div>
    
{% endblock %}

{% block extra_body %}

{% with 'NetSigner_Creator.swf' as netsign_swf %}
{% include "netsign/flash_vars.block" %}
{% endwith %}

<script type="text/javascript">
  {% if ENCODER_URL %}
  $(document).ready(function() { 
    $.ajax({type: "GET", dataType: "jsonp", url: "{{ ENCODER_URL }}", data: {filename: "{{ userfile.uuid }}.{{ userfile.source_type }}", bucket: "{{ bucket }}"}, async: true });
  });
  {% endif %}

  function submitForm(swf_json) {
    if(typeof(swf_json) != "string"){
      swf_json = JSON.stringify(swf_json);
    }
    $("#swfjson").val(swf_json);
    $("#titleForm").submit();
  }
</script>

{% endblock %}
