{% extends "netsign/base.html" %}

{% load file_tags %}
{% load comments_tag %}
{% load threadedcommentstags %}s
{% load tagging_tags %}
{% load extra_tagging_tags %}

{% load i18n %}

{% block head_title %}{{ file.title }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}pinax/css/comments.css" type="text/css" media="screen, projection" />
	<script src="{{MEDIA_URL}}js/json2.js" type="text/javascript"></script>
    <style type="text/css" media="screen">
        a.button { padding: 2px 6px 1px;position:relative;top:4px;float:right;font-size:14px; }
    </style>
    <!--[if IE 7]>
    <style type="text/css">
        a.button { top: -25px; }
    </style>
    <![endif]-->
{% endblock %}

{% block subnav %}
{% include "netsign/files_subnav.block" %}
{% endblock %}

{% block content950top %}
    <div id="content_1010_top"></div>
    <div id="content_1010_mid">
        <div class="container">
{% endblock %}

{% block body %}

    <hr style="visibility:hidden;" />
    <form id="titleForm" action="." method="post">
        <input type="hidden" name="file_id" value="{{ file.id }}" />
        <input type="hidden" name="create_netsign" value="true" />
		<input type="hidden" name="document_json" id="swfjson" value="" />
        <p>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		{{netsign_title}}		
	    <div id="netsign_player" style="margin-left:-16px;"></div>
		</p>
    </form>
    <hr style="visibility:hidden;" />
    

    <div class="modal" id="edit_details_box"> 
        <h2>{% trans "Edit File Details" %}{% if file.title %}: {{ file.title }}{% else %}{% endif %}</h2>
            <form method="post" action="{{ file.get_edit_url }}" id="edit_form">
                {{ file_form.as_p }}
            <button class="save_details" type="submit"><img src="{{ MEDIA_URL }}img/silk/accept.png" border="0" alt="" /> {% trans "Save Changes" %}</button>
            <button type="button" class="close" onclick="$('.btn_edit_details').overlay().close();"> {% trans "Cancel" %} </button> 
        </form>
    </div>
    
    <div class="modal" id="delete_file_box"> 
        <h2 style="border:0px;">{% trans "Delete File" %}{% if file.title %}: {{ file.title }}{% else %}{% endif %}</h2>
            <p>Are you sure you want to permanently delete this file?</p>
            <form method="post" action="{{ file.get_edit_url }}" id="delete_file_form">
            <input type="hidden" name="delete" value="delete" />
            <button class="negative" type="submit"><img src="{{ MEDIA_URL }}img/silk/delete.png" border="0" alt="" /> {% trans "Yes, Delete File" %}</button>
            <button type="button" class="close" onclick="$('.btn_edit_details').overlay().close();"> {% trans "Cancel" %} </button> 
        </form>
    </div>
    
{% endblock %}

{% block content950bot %}
        </div><!-- end .container for content_950_mid -->
    </div>
    <div id="content_1010_bot"></div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ MEDIA_URL }}pinax/js/comments.js"></script>

{% with 'NetSigner_Signor.swf' as netsign_swf %}
{% include "netsign/flash_vars.block" %}
{% endwith %}

<script>
	function submitForm(swf_json) {
	if(typeof(swf_json) != 'string'){
		swf_json = JSON.stringify(swf_json);
		}
	$('#swfjson').val(swf_json);
	$('#titleForm').submit();
	}

</script>

{% endblock %}

{% block extra_jquery %}


	
	
    var edit_buttons = $(".btn_edit_details").overlay({
        expose: {
            color: '#090909', 
            loadSpeed: 200, 
            opacity: 0.9,
            closeOnClick: false
        },
        closeOnClick: false
    });
    
    var delete_buttons = $(".btn_delete_details").overlay({
        expose: {
            color: '#090909', 
            loadSpeed: 200, 
            opacity: 0.9,
            closeOnClick: false
        },
        closeOnClick: false
    });
    

{% endblock %}
