{% extends "netsign/base.html" %}

{% load file_tags %}
{% load extra_tagging_tags %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Create A NetSign Document{% endblocktrans %}{% endblock %}

{% block subnav %}
{% include "netsign/files_subnav.block" %}
{% endblock %}

{% block body %}
        <p class="files_paging">
        {% if page_obj.has_previous %}
        <a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}">&laquo; Prev</a>
        {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}">Next &raquo;</a>
        {% endif %}
        </p>
        {% if object_list %}
        <h1 class="items_list_top">
            <form id="list_search" method="get" action=".">
    			<input type="text" id="list_search_input" class="list_search" name="q" value="{% if query_string %}{{ query_string  }}{% else %}Search Files{% endif %}" />
    		</form>
            {% trans "Select a Document to NetSign" %}
        </h1>
        <table class="items_list" width="870" cellspacing="0">
        	<tr class="items_list_def">
        		<td width="115">&nbsp;</td>
        		<td width="320">Title</td>
        		<td width="45" style="text-align:center;">Privacy</td>
        		<td width="70" style="text-align:center;">Views</td>
        		<td width="70" style="text-align:center;">Length</td>
        		<td width="70" style="text-align:center;">Date</td>
        		{# <td width="100" style="text-align:center;">Owner</td> #}
        		<td width="40"></td>
        		<td width="40"></td>
        	</tr>
        {% with object_list as files %}
        {% for file in files %}
        	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
        		<td>
	                <a href="{{ file.get_absolute_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' class='file_icon' border='0' /></a>
        		</td>
            	<td class="items_list_title">
            	    <a href="{{ file.get_absolute_url }}" class="listTitle">{{ file.title }}</a>
                    {% show_tags_for file %}
            	</td>
            	<td><img src="{{ MEDIA_URL }}img/{{ file.private|vidprivacy }}.png" border="0" class="privacy_lock" /></td>
            	<td>
            	    {{ file.view_count }}
            	</td>
            	<td>
            	    {% if file.page_count %}{{ file.page_count }} pages{% endif %}
            	</td>
            	<td>
            	    {% if file.timestamp %}{{ file.timestamp|date:"m/j/y" }}{% endif %}
            	</td>
                {# <td><a href="{% url user_dashboard file.user %}">{{ file.user }}</a></td> #}
            	<td style="padding-left:0px;padding-right:5px;"></td>
            	<td style="padding-left:0px;padding-right:5px;">
            	    <a href="{{ file.get_netsign_create_url }}" rel="Select File to NetSign" class="button caps">select</a>
            	</td>
            </tr>
        {% endfor %}
        {% endwith %}
        </table>
        
        {% else %}
        <h2 class="prefix-1">You have no uploaded media at this time.</h2>
        <p class="prefix-2"><strong><a href="{% url upload_file %}">Click here</a> to upload some files!</strong></p><br /><br />
        {% endif %}        
        <p class="files_paging">{% if page_obj.has_previous %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}">&laquo; Prev</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}">Next &raquo;</a>{% endif %}</p>
{% endblock %}

{% block extra_jquery %}

var searchVal = $("#list_search_input").val();
$("#list_search_input").focus(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == searchVal){
        $(this).val("");
        $("#list_search_input").css("color","#333333");
    }
});
$("#list_search_input").blur(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == ""){
        $(this).val(searchVal);
        $("#list_search_input").css("color","#777777");
    }
});
$("#list_search").submit(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == "search my files"){
        return false;
    }
});

{% endblock %}
