
@charset "utf-8";
/* CSS Document */


/**************************************/
/*              GLOBALS              */
/**************************************/
body {
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
}
#main_container {
	width:945px;
	display:block;
	margin:0px auto;
	font-family:Arial, Helvetica, sans-serif;
}
/**************************************/
/*              HEADINGS              */
/**************************************/
h1 {
	font:bold 24px Arial, Helvetica, sans-serif;
	color:#595959;
}
h2 {
	font:bold 20px Arial, Helvetica, sans-serif;
	color:#595959;
}
h3 {
	font:bold 14px Arial, Helvetica, sans-serif;
	line-height:18px;
	padding:10px 0px 10px 0px;
}
p {
	font:12px Arial, Helvetica, sans-serif;
	color:#595959;
	line-height:24px;
}
p.smalltext {
	font:11px Arial, Helvetica, sans-serif;
	color:#9C9C9C;
	line-height:16px;
}
#aboutus_pages li {
	line-height: 24px
}
#aboutus_pages ul {
	list-style-position: inside;
	list-style: circle
}
p.betatext {
	font:11px Arial, Helvetica, sans-serif;
	color:#700891;
	line-height:16px;
}
/**************************************/
/*              POPUP STYLES          */
/**************************************/
.popup_container {
	width:660px;
	margin:0px auto;
	display:block;
	text-align:center;
	box-shadow:0px 0px 20px #4d4d4d;
	border-radius:10px;
	margin-top:20px;
}
.purple_strip {
	background:#680887;
	height:40px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.popup_content {
	padding:20px;
}
.inline_label {
	display:inline;
}
/* -------------------------------------------------------------------------------
CSS FOR NEW DESIGNS 
---------------------------------------------------------------------------------*/
.grid {
	width:960px;
	margin:0px auto;
}
.grid .header {
	width:960px;
	height:71px;
	min-height:71px;
	overflow:hidden;
}
.grid .header .logo {
	width:256px;
	height:71px;
	display:block;
	float:left;
}
.grid .header .topnavigation {
	width:570px;
	float:left;
	height:31px;
	margin-top:35px;
	text-align:center;
}
.grid .header .topnavigation ul {
	margin:0px;
	padding:0px;
}
.grid .header .topnavigation ul li {
	margin:0px;
	padding:0px;
	display:inline;
}
.grid .header .topnavigation ul li a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
	text-decoration:none;
	padding:0px 3px 14px 3px;
}
.grid .header .topnavigation ul li a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .header .topnavigation ul li a.active_top_nav {
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .features {
	margin-bottom:10px;
}
.grid .header .support {
	width:120px;
	float:right;
	margin-top:20px;
	margin-right:10px;
	text-align:right;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
}
.grid .header .support a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
	text-decoration:none;
	padding:0px 3px 14px 3px;
	text-transform:uppercase;
}
.grid .header .support a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .tagline {
	height:77px;
	background:url(../images/gradient_line.gif) center top no-repeat;
}
.grid .tagline h1 {
	font:30px Arial, Helvetica, sans-serif;
	line-height:74px;
	font-weight:500;
	text-align:center;
	color:#595959;
}
.grid .topline {
	height:2px;
	background:url(../images/gradient_line.gif) center top no-repeat;
}
.purple {
	color:#750998;
}
.grid .banner #container {
	width:940px;
	padding:0px 10px 10px 10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}
.grid .banner #example {
	width:940px;
	height:500px;
	position:relative;
	margin:0px auto;
}
.grid .banner #ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}
.grid .banner #frame {
	position:absolute;
	z-index:0;
	width:900px;
	height:500px;
	top:-3px;
	left:-80px;
}
/*Slideshow*/
.grid .banner #slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}
/*	Slides container	Important:	Set the width of your slides container	Set to display none, prevents content flash*/
.grid .banner .slides_container {
	width:960px;
	overflow:hidden;
	position:relative;
	display:none;
	text-align:center;
}
/*	Each slide	Important:	Set the width of your slides	If height not specified height will be set by the slide content	Set to display block*/
.grid .banner .slides_container div.slide {
	width:900px;
	height:500px;
	display:block;
}
/*	Next/prev buttons*/
.grid .banner #slides .next, #slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
	display:none;
}
#slides .next {
	left:585px;
}
/*	Pagination*/
.pagination {
	margin:26px auto 0;
	width:100px;
}
.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}
.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {
	background-position:0 -12px;
}
.grid .footer {
	margin:0px auto;
	width:880px;
	padding-top:10px;
}
.grid .footer .first_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .first_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .second_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .second_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .third_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .third_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .fourth_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .fourth_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer ul {
	margin-bottom:10px;
}
.grid .footer a {
	font:11px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	line-height:18px;
	text-decoration:none;
}
.grid .footer a:hover {
	text-decoration:underline;
	color:#750998;
}
.copyright {
	clear:both;
	width:960px;
	display:block;
	margin:0px auto;
	font:11px Arial, Helvetica, sans-serif;
	color:#AAAAAA;
	margin-bottom:30px;
}
.copyright .left {
	width:475px;
	float:left;
	font:11px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	font:12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-align:left;
	line-height:24px;
}
.copyright .left a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#878787;
	text-decoration:none;
	text-align:left;
}
.copyright .left a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#5A0075;
	text-decoration:none;
}
.copyright .right {
	width:450px;
	float:right;
	font:12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-align:right;
	line-height:24px;
}
.copyright .right a {
	font:12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-decoration:none;
}
.copyright .right a:hover {
	font:12px Arial, Helvetica, sans-serif;
	color:#5A0075;
	text-decoration:none;
}
.translate_flags {
	width:200px;
	float:left;
	margin:0 0 0 94px;
	text-align:left;
}
.secure_badges {
	width:150px;
	float:right;
	text-align:right;
}
.trademark {
	font-size:9px;
	color:#c7c4c4;
}
.shadow_line {
	width:100%;
	background:url(../images/shadow_line.png) center top no-repeat;
	height:16px;
}
.nextgen {
	display:block;
}
.nextgen img {
	vertical-align:middle;
}
.clear {
	clear:both;
}
.banner_heading {text-align:center; display:block; margin:20px 0 10px 0;}
.banner_heading h1 {font-size:42px; color:#bdbdbd;}

.grid .landing5_banner {width:837px; margin:0px auto; text-align:center; height:366px; background:url(../images/landingpage5_banner.png) no-repeat; background-position:center;}
.grid .landing5_banner form {width:380px; float:right;}
.grid .landing5_banner form legend {font:bold 32px Arial, Helvetica, sans-serif; color:#FFF; line-height:45px; text-align:center; padding-left:22px;}
.grid .landing5_banner form legend span{font:bold 33px Arial, Helvetica, sans-serif; color:#9DD630; text-decoration: underline;}
.grid .landing5_banner form h1{font: bold 18px Arial, Helvetica, sans-serif; color:#FFF; padding: 0px 5px 10px 10px; float:left;}
.grid .landing5_banner form label {width:252px; text-align:left; font:12px Arial, Helvetica, sans-serif; line-height:20px; color:#FFF; float:left; margin-left:80px;}
.grid .landing5_banner form .textinput {background:url(../images/input_textbg5.png) no-repeat; width:252px; height:22px; border:0px; margin-left: 30px; margin-bottom: 5px;}
.fl_right {float:right;}
.homebuttonGreen {display: block; width: 227px; height: 48px; background: transparent url(../images/bt_blank_green_button.png) 0px 0px no-repeat; margin: 0 auto; float:right; color: #FFF;	font-size: 24px; border:0px; cursor:pointer; margin-right:60px;}
.homebuttonGreen:hover {background-position: 0px -48px;}
.yellow{color:#fff055; text-transform: uppercase;}
.social_media {text-align:center; display:block;text-align: center; border:1px solid #E2E2E2; box-shadow: 2px 2px 2px #E2E2E2; padding:25px 0 25px 0; margin:10px 0;  }
.social_media h1 {font-size:27px; color:#4B4B4B; line-height:30px;}
.social_media h1 span{color:#536895;}
.grid .landing_social_follow {	float:none; padding:0px 20px; text-align:center; font:bold 12px Arial, Helvetica, sans-serif; 	color:#000; vertical-align:middle; margin:20px 0 0px 0;
}
.grid .landing_social_follow img {
margin:0 5px; vertical-align:middle;}
.grid .landing_social_follow .vmiddle {width:100px; float:left; line-height:35px;}
.grid .landing5_content {width:960px; display:block; padding-bottom: 30px;}
.green {color:#97e720;}
.tabler_form{width: 700px; border:1px solid #E2E2E2; display: block; margin:0 auto; margin-top: 20px; margin-bottom: 20px; }
.tabler_form .sub_title {width: 205px; height: 50px; background: url(../images/landing_trbg.png) repeat-x scroll 50% 50%;	border: 1px solid #b1b2b3; font-size: 13px; color: #888; text-align: center;}
.tabler_form .sub_titlepurple {width: 125px; height: 50px; background: url(../images/landing_trpurblebg.png) repeat-x scroll 50% 50%; border-right: 1px solid #b1b2b3; border-top: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; font: bold 13px Arial, Helvetica, sans-serif; letter-spacing: 0px; color: #FFF; margin: 0 0 0 0px; text-align: center;}
.tabler_form .purple_heading{width: 205px; font: bold 20px Arial, Helvetica, sans-serif; color:#750998;}
.tabler_form tr.dark{height: 40px; background-color: #f5f5f5; vertical-align: middle; margin: 2px;}
.tabler_form tr.light{height:40px; background-color: #ffffff; vertical-align: middle; margin: 2px;}
.tabler_form td.content {font-size:13px; color:#888888; line-height:16px; padding-left: 10px;}
.tabler_form td.tabline{width: 125px; border-left: 1px solid #E2E2E2;}
.tabler_form td.title{border-left: 1px solid #acaeae;}
.tabler_form .purplehead{font: bold 18px Arial, Helvetica, sans-serif; color:#750998; border-left: 1px solid #E2E2E2;}
.shadowline_landing {
	background:url(../images/small_shadow.png) no-repeat;
	width:316px;
	margin:0px auto;
	height:17px;
}
.center {
	text-align:center;
}
.plans{width: 890px; display:block; margin: 0 auto; border: 1px solid #EEE; background:url(../images/plans_image.png) no-repeat left top; height:164px;}
.plans .stick { background: url(../images/plans_offer.png) no-repeat center top; width:107px; margin-left:-20px; margin-top: -20px; height:107px; position: absolute;	border: 0px;}

.plans .already_deside{width: 250px; float:left; background: url(../images/devider_line.png) no-repeat right center; margin-left:324px; text-align: center; font: normal 12px Arial, Helvetica, sans-serif; color:#737373; line-height:16px; padding: 10px 50px;}
.plans .already_deside h1{font: bold 22px Arial, Helvetica, sans-serif; color: #750998;}
.plans .right_btn{width: 180px; float:right; text-align:center; padding-top: 50px; padding-right:20px; font-size: 8px; color: #C7C4C4;}
button.land_buybut {width:177px; height:47px; font:24px Arial, Helvetica, sans-serif; color:#fff; line-height:47px; text-align:center; background:url(../images/bt_landing_purple.png) no-repeat; display:block; text-decoration:none; border:0px;  float:right; cursor:pointer;}
button.land_buybut:hover {background:url(../images/bt_landing_purple.png) 0px -48px no-repeat; border:0px;}
p.bold {font-weight:bold;}
.hang {
	background:url(../images/hang_bg.png) no-repeat;
	width:291px;
	height:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	color:#FFF;
	margin-left:20px;
	margin-top:20px;
	padding:13px 10px 10px 10px;
	text-align:center;
	margin-bottom:20px;
}
.caps {
	text-transform:uppercase;
}
.smltxt{
	font: normal 9px Arial, Helvetica, sans-serif;
	color: #c7c4c4;
}