
@charset "utf-8";
/* CSS Document */


/**************************************/
/*              GLOBALS              */
/**************************************/
body {
	
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
	background:url(../images/bg_strip.png) repeat-x;
}
#main_container {
	width:945px;
	display:block;
	margin:0px auto;
	font-family:Arial, Helvetica, sans-serif;
}
/**************************************/
/*              HEADINGS              */
/**************************************/
h1 {
	font:bold 24px Arial, Helvetica, sans-serif;
	color:#595959;
}
h2 {
	font:bold 20px Arial, Helvetica, sans-serif;
	color:#595959;
}
h3 {
	font:bold 14px Arial, Helvetica, sans-serif;
	line-height:18px;
	padding:10px 0px 10px 0px;
}
p {
	font:12px Arial, Helvetica, sans-serif;
	color:#595959;
	line-height:24px;
}
p.smalltext {
	font:11px Arial, Helvetica, sans-serif;
	color:#9C9C9C;
	line-height:16px;
}
#aboutus_pages li {
	line-height: 24px
}
#aboutus_pages ul {
	list-style-position: inside;
	list-style: circle
}
p.betatext {
	font:11px Arial, Helvetica, sans-serif;
	color:#700891;
	line-height:16px;
}
/**************************************/
/*              POPUP STYLES          */
/**************************************/
.popup_container {
	width:660px;
	margin:0px auto;
	display:block;
	text-align:center;
	box-shadow:0px 0px 20px #4d4d4d;
	border-radius:10px;
	margin-top:20px;
}
.purple_strip {
	background:#680887;
	height:40px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.popup_content {
	padding:20px;
}
.inline_label {
	display:inline;
}
/* -------------------------------------------------------------------------------
CSS FOR NEW DESIGNS 
---------------------------------------------------------------------------------*/
.grid {
	width:960px;
	margin:0px auto;
}
.grid .header {
	width:960px;	
	overflow:hidden;
	

}
.grid .header .logo {
	width:256px;
	height:71px;
	display:block;
	float:left;
}
.grid .header .topnavigation {
	width:570px;
	float:left;
	height:31px;
	margin-top:35px;
	text-align:center;
}
.grid .header .topnavigation ul {
	margin:0px;
	padding:0px;
}
.grid .header .topnavigation ul li {
	margin:0px;
	padding:0px;
	display:inline;
}
.grid .header .topnavigation ul li a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
	text-decoration:none;
	padding:0px 3px 14px 3px;
}
.grid .header .topnavigation ul li a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .header .topnavigation ul li a.active_top_nav {
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .features {
	margin-bottom:10px;
}
.grid .header .support {
	width:120px;
	float:right;
	margin-top:20px;
	margin-right:10px;
	text-align:right;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
}
.grid .header .support a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
	text-decoration:none;
	padding:0px 3px 14px 3px;
	text-transform:uppercase;
}
.grid .header .support a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .tagline {
	height:77px;
	background:url(../images/gradient_line.gif) center top no-repeat;
}
.grid .tagline h1 {
	font:30px Arial, Helvetica, sans-serif;
	line-height:74px;
	font-weight:500;
	text-align:center;
	color:#595959;
}
.grid .topline {
	height:2px;
	background:url(../images/gradient_line.gif) center top no-repeat;
}
.purple {
	color:#750998;
}
.grid .banner #container {
	width:940px;
	padding:0px 10px 10px 10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}
.grid .banner #example {
	width:940px;
	height:500px;
	position:relative;
	margin:0px auto;
}
.grid .banner #ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}
.grid .banner #frame {
	position:absolute;
	z-index:0;
	width:900px;
	height:500px;
	top:-3px;
	left:-80px;
}
/*Slideshow*/
.grid .banner #slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}
/*	Slides container	Important:	Set the width of your slides container	Set to display none, prevents content flash*/
.grid .banner .slides_container {
	width:960px;
	overflow:hidden;
	position:relative;
	display:none;
	text-align:center;
}
/*	Each slide	Important:	Set the width of your slides	If height not specified height will be set by the slide content	Set to display block*/
.grid .banner .slides_container div.slide {
	width:900px;
	height:500px;
	display:block;
}
/*	Next/prev buttons*/
.grid .banner #slides .next, #slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
	display:none;
}
#slides .next {
	left:585px;
}
/*	Pagination*/
.pagination {
	margin:26px auto 0;
	width:100px;
}
.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}
.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {
	background-position:0 -12px;
}
.social_media {
	text-align:center;
	display:block;
	margin:20px 0 40px 0;
}
.social_media h1 {
	font-size:42px;
	color:#bdbdbd;
}
.grid .footer {
	margin:0px auto;
	width:880px;
	padding-top:10px;
}
.grid .footer .first_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .first_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .second_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .second_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .third_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .third_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .fourth_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .fourth_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer ul {
	margin-bottom:10px;
}
.grid .footer a {
	font:11px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	line-height:18px;
	text-decoration:none;
}
.grid .footer a:hover {
	text-decoration:underline;
	color:#750998;
}
.copyright {
	clear:both;
	width:960px;
	display:block;
	margin:0px auto;
	font:11px Arial, Helvetica, sans-serif;
	color:#AAAAAA;
	margin-bottom:30px;
}
.copyright .left {
	width:475px;
	float:left;
	font:11px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	font:12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-align:left;
	line-height:24px;
}
.copyright .left a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#878787;
	text-decoration:none;
	text-align:left;
}
.copyright .left a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#5A0075;
	text-decoration:none;
}
.copyright .right {
	width:450px;
	float:right;
	font:12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-align:right;
	line-height:24px;
}
.copyright .right a {
	font:12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-decoration:none;
}
.copyright .right a:hover {
	font:12px Arial, Helvetica, sans-serif;
	color:#5A0075;
	text-decoration:none;
}
.translate_flags {
	width:200px;
	float:left;
	margin:0 0 0 94px;
	text-align:left;
}
.secure_badges {
	width:150px;
	float:right;
	text-align:right;
}
.trademark {
	font-size:9px;
	color:#c7c4c4;
}
.shadow_line {
	width:100%;
	background:url(../images/shadow_line.png) center top no-repeat;
	height:16px;
}
.nextgen {
	display:block;
}
.nextgen img {
	vertical-align:middle;
}
.clear {
	clear:both;
}
.grid .landing2_banner {
	width:960px;
	margin:0px auto;
	text-align:;
	background-position:center;	
}
.grid .landing2_banner h1{
	font: normal 35px Arial, Helvetica, sans-serif;
	color: #888;
	padding-top: 70px;
	text-align:center;
}
.grid .landing2_banner h1 span{
	font: normal 35px Arial, Helvetica, sans-serif;
	color: #750998;
	padding-top: 70px;
}
.grid .landig2_banner .content{
	width: 950px;
	float: none;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #888;
}
.grid .landing2_banner .tabler{ width: 960px; float: none; padding-top: 20px;}

.grid .landing2_banner .content .sub_title {
	width: 125px;
	height: 50px;
	background: url(../images/landing_trbg.png) repeat-x scroll 50% 50%;
	border-right: 1px solid #b1b2b3;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	font-size: 13px;
	letter-spacing: 0px;
	color: #888;
	margin: 0 0 0 0px;
	text-align: center;
}
.grid .landing2_banner .content .sub_titlepurple {
	width: 125px;
	height: 50px;
	background: url(../images/landing_trpurblebg.png) repeat-x scroll 50% 50%;
	border-right: 1px solid #b1b2b3;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	font: bold 13px Arial, Helvetica, sans-serif;
	letter-spacing: 0px;
	color: #FFF;
	margin: 0 0 0 0px;
	text-align: center;
}
.grid .landing2_banner #plans { 
            background: url(../images/plans_offer.png) no-repeat center top;
            width:107px;
            margin-left:135px;
            height:107px; 
			position: absolute;
			border: 0px;          
        }
.grid .landing2_banner .content table .btmline{
	border-bottom: 1px solid #E7E7E7;
}

.grid .landing2_banner .content table tr.dark {
	background-color: #F4F4F4;
	height:40px;
	vertical-align: middle;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #888;
	text-align: left;
}
.grid .landing2_banner .content table tr.light {
	background-color: #ffffff;
	height:40px;
	vertical-align: middle;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #888;
	text-align: left;
}
.grid .landing2_banner .content table td.title_text{
	font: normal 13px Arial, Helvetica, sans-serif;
	color: #888;
	padding-left:10px;
	border-left: 1px solid #E7E7E7;
}
.grid .landing2_banner .content table td.title_btmtext{
	font: normal 13px Arial, Helvetica, sans-serif;
	color: #888;
	padding-left:10px;
	border-left: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
}

.conditions{
	width: 940px;
	float: none;
	font: normal 9px Arial, Helvetica, sans-serif;
	color: #888;
	text-align: center;
	padding: 10px;
}

.grid .landing2_banner .ready_purchase{
	width: 950px;
	background: url(../images/left_hang.png) no-repeat left top #EEE;
	height: 80px;
	padding: 0 5px;
}
.ready_purchase .leftHang{width: 200px; padding: 20px 10px 15px 5px; font: bold 15px Arial, Helvetica, sans-serif; color:#FFF; float:left;}
.ready_purchase .middlecontent{width: 480px; float: left; font: normal 12px Arial, Helvetica, sans-serif; color: #888; padding-left: 20px;}
.ready_purchase .middlecontent h1{font: bold 20px Arial, Helvetica, sans-serif; color: #888; text-align: left; padding-top:20px;}
.ready_purchase .purple_btn{ display:block; width:227px; height:48px; float:right; margin-top:15px; margin-right:5px; font:normal 24px Arial, Helvetica, sans-serif; color:#fff; line-height:48px; text-align:center; background:url(../images/purple_home_buttons.png) no-repeat; text-decoration:none;}
.ready_purchase .purple_btn:hover{	background:url(../images/purple_home_buttons.png) 0px -48px no-repeat;}

.grid .landing_social_follow {width:400px; padding:0px 20px; text-align:center; font:bold 12px Arial, Helvetica, sans-serif; color:#000; display:inline-block; vertical-align:middle;margin:10px 0 10px 0;}
.grid .landing_social_follow img {padding:0 10px 0 0px;}
.grid .landing_social_follow .vmiddle {width:100px; float:left; line-height:35px;}
.grid .landing2_content {width:960px; display:block;}
.grid .landing2_content .features {width:470px; margin:0 10px 0 0; float:left;}
.green {color:#97e720; text-decoration: underline;}
ul.landing2_features {padding:0 0 60px 0; clear:both;}
ul.landing2_features li.icon {width:100px; min-height:100px; float:left; text-align:center;}
ul.landing2_features li.content { width:360px; min-height:100px; float:left; padding-bottom:40px;}
ul.landing2_features li.content p{font: normal 12px Arial, Helvetica, sans-serif; color:#737373; line-height:16px;}
ul.landing2_features li.content h2{ font-size:18px; line-height:28px;}

.grid .landing2_content .offers {width:328px; float:right; border:1px solid #E2E2E2;}
.offers hr {border:1px solid #E2E2E2;}
.grid .landing2_content .offers p {font: normal 12px Arial, Helvetica, sans-serif; color:#737373; line-height:16px; padding:15px;}
.grid .landing2_content .offers h2 { font-size:18px; line-height:32px;}
.landing2_features p {font-size:13px; color:#737373; line-height:16px;}

.shadowline_landing {
	background:url(../images/small_shadow.png) no-repeat;
	width:316px;
	margin:0px auto;
	height:17px;
}
.center {
	text-align:center;
}


.grid .landing2_banner form {
	width:230px;
	min-height: 293px
	float:right;
}
.grid .landing2_banner .testBg{ background: url(../images/test_formbg.png) repeat-x left bottom #750998; padding-bottom:10px;}
.grid .landing2_banner .testBg form legend {
	font:bold 26px Arial, Helvetica, sans-serif;
	color:#FFF;
	line-height:50px;
	padding-left:10px;
}
.grid .landing2_banner form .textinput {
	background:url(../images/input_textbg.png) no-repeat left top;
	width:205px;
	height:30px;
	border:0px;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #888;
	margin: 5px 15px;
	float: left;
	vertical-align: middle;
}
.pb10{padding-bottom: 10px;}
.fl_right {
	float:right;
}
.homebuttonGreen {
	display: block;
	width: 228px;
	height: 48px;
	background: transparent url(../images/bt_blank_green_button.png) no-repeat left top;
	margin: 0 auto;
	color: white;
	font-size: 25px;
	border:0px;
	cursor:pointer;
}
.homebuttonGreen span{color: #FFF055;}
.homebuttonGreen:hover {
	background-position: 0px -48px;
}
.compare_bg {
	background:url(../images/compare_bg.jpg) no-repeat;
	width:292px;
	height:164px;
	margin:0px auto;
	margin-bottom:20px;
}
.plans_bg {
	background:url(../images/landing_plan_image.png) no-repeat;
	width:292px;
	height:206px;
	margin:0px auto;
	margin-top:-30px;
}
button.land_purplebut {
	width:177px;
	height:48px;
	font:18px Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:48px;
	text-align:center;
	background:url(../images/bt_landing_purple.png) no-repeat;
	display:block;
	text-decoration:none;
	border:0px;
	margin:110px 10px 0 0;
	float:right;
	cursor:pointer;
}
button.land_purplebut:hover {
	background:url(../images/bt_landing_purple.png) 0px -47px no-repeat;
	border:0px;
}
button.land_buybut {
	width:177px;
	height:48px;
	font:18px Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:48px;
	text-align:center;
	background:url(../images/bt_landing_purple.png) no-repeat;
	display:block;
	text-decoration:none;
	border:0px;
	margin:150px 10px 0 0;
	float:right;
	cursor:pointer;
}
button.land_buybut:hover {
	background:url(../images/bt_landing_purple.png) 0px -47px no-repeat;
	border:0px;
}
p.bold {
	font-weight:bold;
}
.hang {
	background:url(../images/hang_bg.png) no-repeat;
	width:291px;
	height:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	color:#FFF;
	margin-left:20px;
	margin-top:20px;
	padding:13px 10px 10px 10px;
	text-align:center;
	margin-bottom:20px;
}
.caps {
	text-transform:uppercase;
}
