@charset "utf-8";
/* CSS Document */


/**************************************/
/*              GLOBALS              */
/**************************************/
body {
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
	font:12px Arial, Helvetica, sans-serif;
	color:#888888;
}
#main_container {
	width:945px;
	display:block;
	margin:0px auto;
	font-family:Arial, Helvetica, sans-serif;
}
/**************************************/
/*              HEADINGS              */
/**************************************/
h1 {
	font:bold 22px Arial, Helvetica, sans-serif;
	color:#595959;
}
h2 {
	font:bold 20px Arial, Helvetica, sans-serif;
	color:#595959;
}
h3 {
	font:bold 14px Arial, Helvetica, sans-serif;
	line-height:18px;
	padding:10px 0px 10px 0px;
}
p {
	font:12px Arial, Helvetica, sans-serif;
	color:#595959;
	line-height:24px;
}
p.smalltext {
	font:11px Arial, Helvetica, sans-serif;
	color:#9C9C9C;
	line-height:16px;
}
#aboutus_pages li {
	line-height: 24px
}
#aboutus_pages ul {
	list-style-position: inside;
	list-style: circle
}
p.betatext {
	font:11px Arial, Helvetica, sans-serif;
	color:#700891;
	line-height:16px;
}
.left_fl {
	float:left;
}
.right_fl {
	float:right;
}
.clear {
	clear:both;
}
a, a img{border: none; outline:none;}
/* -------------------------------------------------------------------------------
CSS FOR NEW DESIGNS 
---------------------------------------------------------------------------------*/
.grid {
	width:960px;
	margin:0px auto;
}
.grid .header {
	width:960px;
	height:71px;
	min-height:71px;
	overflow:hidden;
}
.grid .header .logo {
	width:256px;
	height:71px;
	display:block;
	float:left;
}
.grid .header .topnavigation {
	width:540px;
	float:left;
	height:37px;
	margin-top:35px;
	text-align:center;
	
}
.grid .header .topnavigation ul {
	margin:0px;
	padding:0px;
}
.grid .header .topnavigation ul li {
	margin:0px;
	padding:0px;
	display:inline;
}
.grid .header .topnavigation ul li a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
	text-decoration:none;
	padding:0px 8px 22px 8px;
}
.grid .header .topnavigation ul li a.active {
	color:#750998;
	background:url(../images/nav_purple_arrow.png) no-repeat center bottom;
}
.grid .header .topnavigation ul li a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .header .topnavigation ul li a.active_top_nav {
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .features {
	margin-bottom:10px;
}
.grid .header .support {
	width:160px;
	float:right;
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:right;
	margin-top:20px;
	color:#888888;
}
.grid .header .support a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
	text-decoration:none;
	padding:0px 3px 14px 3px;
	text-transform:uppercase;
}
.grid .header .support a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .header .support select{text-transform: uppercase;}
.grid .header .support select option:hover{background-color: #999;}
.grid .tagline {
	height:77px;
	background:url(../images/gradient_line.gif) center top no-repeat;
}
.grid .tagline h1 {
	font:30px Arial, Helvetica, sans-serif;
	line-height:74px;
	font-weight:500;
	text-align:center;
	color:#595959;
}
.topline {
	height:2px;
	background:url(../images/gradient_line.gif) center top no-repeat;
}
.purple {
	color:#750998;
}
#help_id
{
color:#750998;
}
span.purple {
	color:#750998;
	
}
span.purple a {
	color:#750998;
}
span.purple:hover {
	color:#000;
}
.grid .banner #container {
	width:940px;
	padding:0px 10px 10px 10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}
.grid .banner #example {
	width:940px;
	height:500px;
	position:relative;
	margin:0px auto;
}
.grid .banner #ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}
.grid .banner #frame {
	position:absolute;
	z-index:0;
	width:900px;
	height:500px;
	top:-3px;
	left:-80px;
}
/*Slideshow*/
.grid .banner #slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}
/*	Slides container	Important:	Set the width of your slides container	Set to display none, prevents content flash*/
.grid .banner .slides_container {
	width:960px;
	overflow:hidden;
	position:relative;
	display:none;
	text-align:center;
}
/*	Each slide	Important:	Set the width of your slides	If height not specified height will be set by the slide content	Set to display block*/
.grid .banner .slides_container div.slide {
	width:900px;
	height:520px;
	display:block;
}
/*	Next/prev buttons*/
.grid .banner #slides .next, #slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
	display:none;
}
#slides .next {
	left:585px;
}
/*	Pagination*/
.pagination {
	margin:10px auto 0;
	width:100px;
}
.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}
.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {
	background-position:0 -12px;
}
/*	Caption*/
.caption {
	z-index:900;
	position:absolute;
	top:0px;
	left:0;
	height:50px;
	width:960px;
	font:30px Arial, Helvetica, sans-serif;
	font-weight:500;
	text-align:center;
	color:#595959;
	background:url(../../images/gradient_line.gif) center bottom no-repeat;
	line-height:75px;
	clear:both;
}
.slide_pic {
	clear:both;
	margin-top:70px;
}
.grid .calltoaction {
	width:960px;
	min-height:200px;
	clear:both;
	margin-top:60px;
}
.grid .calltoaction .left {
	width:18px;
	background:url(../images/shadow_box.png) left top no-repeat;
	float:left;
	height:200px;
}
.grid .calltoaction .right {
	width:18px;
	background:url(../images/shadow_box.png) -18px top no-repeat;
	float:left;
	height:200px;
}
.grid .calltoaction .actions {
	width:924px;
	min-height:200px;
	background:url(../images/calltoactions_bg.png);
	float:left;
}
.grid .calltoaction .actions .headlines {
	width:650px;
	float:left;
}
.grid .calltoaction .actions .headlines h1 {
	font: bold 24px Arial, Helvetica, sans-serif;
	line-height:36px;
	text-align:center;
	color:#4b4b4b;
	padding:40px 20px 20px 20px;
}
.grid .calltoaction .actions .blue_headline {
	color:#536895;
}
.grid .calltoaction .actions .social_follow {
	width:90%;
	padding:0px 20px;
	text-align:center;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#000;
	display:inline-block;
	vertical-align:middle;
}
.grid .calltoaction .actions .social_follow img {
	padding:0 5px 0 5px;
}
.grid .calltoaction .actions .action_butons {
	width:250px;
	float:right;
	padding:20px 0 0 0;
}
.grid .calltoaction .actions .action_butons a {
	margin-bottom:5px;
}
.grid .calltoaction .actions .trialbut {
	width:227px;
	height:48px;
	font:18px Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:48px;
	text-align:center;
	background:url(../../images/trial_home_button.png) no-repeat;
	display:block;
	text-decoration:none;
}
.grid .calltoaction .actions .trialbut:hover {
	background:url(../../images/trial_home_button.png) 0px -48px no-repeat;
}
.grid .calltoaction .actions .purplebut {
	width:227px;
	height:48px;
	font:18px Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:48px;
	text-align:center;
	background:url(../../images/purple_home_buttons.png) no-repeat;
	display:block;
	text-decoration:none;
}
.grid .calltoaction .actions .purplebut:hover {
	background:url(../../images/purple_home_buttons.png) 0px -48px no-repeat;
}
p.bold {
	font-weight:bold;
}
.shadow_line {
	width:100%;
	background:url(../images/shadow_line.png) center top no-repeat;
	height:16px;
	clear:both
}
.grid .footer {
	margin:0px auto;
	width:880px;
	padding-top:10px;
	clear:both
}
.grid .footer .first_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .first_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .second_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .second_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .third_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .third_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .fourth_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .fourth_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer ul {
	margin-bottom:10px;
}
.grid .footer a {
	font:11px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	line-height:18px;
	text-decoration:none;
}
.grid .footer a:hover {
	text-decoration:underline;
	color:#750998;
}
.new_inner_page {
	width:960px;
	display:block;
	margin:0px auto;
	clear:both;
	margin-top: 42px;
}

.copyright {
	clear:both;
	width:960px;
	display:block;
	margin:0px auto;
	font:11px Arial, Helvetica, sans-serif;
	color:#AAAAAA;
	margin-bottom:30px;
}
.copyright .left {
	width:475px;
	float:left;
	font:11px Arial, Helvetica, sans-serif;
	color:#AAAAAA;
	font:11px Arial, Helvetica, sans-serif;
	color:#AAAAAA;
	text-align:left;
}
.copyright .left a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#878787;
	text-decoration:none;
	text-align:left;
}
.copyright .left a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#5A0075;
	text-decoration:none;
}
.copyright .right {
	width:450px;
	float:right;
	font:11px Arial, Helvetica, sans-serif;
	color:#AAAAAA;
	text-align:right;
	line-height:24px;
	margin-top:35px;
}
.copyright .right a {
	font:11px Arial, Helvetica, sans-serif;
	color:#AAAAAA;
	text-decoration:none;
}
.copyright .right a:hover {
	font:11px Arial, Helvetica, sans-serif;
	color:#5A0075;
	text-decoration:none;
}
.feedback_btn {
	display:block;
	position:fixed;
	margin:0 auto;
	background:transparent url(../images/feedback_btn.png) 0px 0px scroll no-repeat;
	width:26px;
	height:102px;
	top:75%;
	left:0%;
}
.feedback_btn:hover {
	background-position: -26px 0px;
}
.feedback_btn p {
	display:none;
}
.tutorial_btn {
	display:block;
	position:fixed;
	margin:0 auto;
	background:transparent url(../images/tutorial_btn.png) 0px 0px scroll no-repeat;
	width:26px;
	height:102px;
	top:50%;
	left:0%;
}
.tutorial_btn:hover {
	background-position: -26px 0px;
}
.tutorial_btn p {
	display:none;
}
.active_top_nav {
	background: url(../images/topmenu_arrow.png) center bottom no-repeat;
	color:#740997;
}
.searchbg {
	width:228px;
	height:29px;
	background:url(../images/search_bgnew.gif) no-repeat;
}
.searchbg .textfield_search {
	border:0px;
	border:none;
	width:190px;
	margin-top:4px;
	padding:2px;
	margin-left:3px;
}
.searchbg .submit_btn {
	border:0px;
	border:none;
	margin-top:4px;
	background:url(../images/search_iconnew.gif) no-repeat;
	width:23px;
	height:23px;
	cursor:pointer;
}

/**************************************/
/*             NEW MESSAGES PAGES        */
/**************************************/
.messages_hint{	width:940px; display:block; margin:0px auto; padding-top:10px; clear:both; padding-bottom:10px;}
.new_innergrid{clear: both; width:950px; margin:0px auto; float:none; display: block; word-wrap: break-word;}
.new_innergrid .messageBox{width: 950px; display: inline;}
.new_innergrid .messageBox h1{width: 250px; display: inline; font-size: 25px; margin:25px 0; color: #750998; text-transform: uppercase; line-height:25px; vertical-align:middle;}
.new_innergrid .messageBox .messages_hint {width: 650px; float:right; background:#f3f3f2; padding:10px 30px 10px 30px; box-shadow:3px 3px 5px #ccc; -moz-box-shadow:3px 3px 5px #ccc;  -webkit-box-shadow:3px 3px 5px #ccc; border-radius:5px; margin: 0px 30px 25px 0px;}
.new_innergrid .messageBox .messages_hint .close {background:url(../images/hint_close_button.png) no-repeat; width:17px; height:16px; display:block; float:right; vertical-align:top; cursor:pointer; margin-top:-5px; margin-right:-15px;}
.new_innergrid .messageBox .messages_hint .whatis {background:url(../images/whatis_button.png) no-repeat; width:17px; height:16px; display:block; float:right; vertical-align:top; cursor:pointer; margin-right:4px;margin-top:-5px;}
.new_innergrid .messageBox .messages_hint p {text-align:center; line-height:16px; font-size:11px;}

.new_innergrid .leftpanel{width:235px; float:left; display:block;}
.new_innergrid .rightpanel{width:690px; float:right; display:block; padding: 10px 5px 100px 5px; margin-left:10px;}
.innergrid .button_medium_Green {width: 228px; height: 48px; background: transparent url(../images/bt_blank_green_button.png) 0px 0px no-repeat; margin: 0 auto; color: white;	font-size: 19px; border:0px; cursor:pointer;}
.innergrid .button_medium_Green:hover {background-position: 0px -48px;}
.leftpanel .button_greenbig{width: 232px; height: 47px; background: transparent url(../images/green_buttonbig.png) 0px 0px no-repeat; margin: 0 auto; color: #FFF; font: normal 16px Arial, Helvetica, sans-serif; border:0px; cursor:pointer; padding-right:45px; outline:none;}
.leftpanel .button_greenbig:hover {background-position: 0px -47px;}
.leftpanel #search-form {width: 230px; float: left; height: 30px; margin: 10px 0; border:1px solid #E8E8E8; background-color:#fff; border-top: 2px solid #E8E8E8;}
.leftpanel #searchinput {width: 155px; background: none; border: 0; float: left; margin: 0px 10px 0 0px; padding: 0 5px; height:30px; font-size: 12px; color: #888; font-family: Arial, Helvetica, sans-serif; -webkit-appearance: none; outline: none; }
#search-form .searchsubmit {margin-top: 8px; margin-right: 10px; float:right; }
#search-form .searchsubmit {border: 0px; margin-top: 4px; background: url(../images/search_icon.png) no-repeat; margin-top: 7px; margin-right: 10px; float:right; width: 16px; height: 16px; cursor: pointer; outline:none;}
#search-form .searchclose {border: 0px; margin-top: 4px; background: url(../images/cross.png) no-repeat; margin-top: 7px; margin-right: 10px; float:right; width: 16px; height: 16px; cursor: pointer; outline:none;}
.rightpanel .left_btns {display:inline; padding-right: 20px;}
.rightpanel .files_paging {text-align:right; max-height:19px; float:right; font-size:12px; height:27px; vertical-align:middle; color: #7f8184; margin-left: 20px;}
.rightpanel.files_paging img{padding: 0px 5px;}
.rightpanel .green_btn_small{display: block; float:left; width: 50px; height: 25px; background: transparent url(../images/green_btn_small.png) 0px 0px no-repeat; color: #FFF; font-size: 12px; border: 0px; cursor: pointer; font-family: Arial,Helvetica,sans-serif; margin-right:2px; outline:none;}
.rightpanel .green_btn_small:hover {background-position: 0 -25px;}
.rightpanel .green_btn_mark{display: block; float:left; width: 50px; height: 25px; background: transparent url(../images/green_btn_mark.png) 0px 0px no-repeat;color: #FFF; font-size: 12px; border: 0px; cursor: pointer; font-family: Arial,Helvetica,sans-serif; margin-right:2px; padding-right:10px; outline:none;}
.rightpanel .green_btn_mark:hover {background-position: 0 -25px;}


.rightpanel .files_paging {text-align:right; max-height:19px; float:right; font-size:12px; height:27px; vertical-align:middle; color: #7f8184;}
.rightpanel .files_paging img{margin: 0px 5px;}
.rightpanel .smallclear {clear: both; height: 10px; width: 100%; }
.rightpanel .thBg{ height:25px; background: #62067E url(../images/th_bg.png) repeat-x scroll 50% 50%; font: bold 13px Arial, Helvetica, sans-serif; color: #FFF; line-height: 25px;}
.rightpanel .tableborder{border: 1px solid #E2E2E0; box-shadow: 0px 0px 5px #AEAEAD; -moz-box-shadow: 0px 0px 5px #AEAEAD; -webkit-box-shadow: 0px 0px 5px #AEAEAD;}
.rightpanel .title{ padding: 0 3px; font: bold 12px Arial, Helvetica, sans-serif; color: #FFF; border-left: 1px solid #b682c7;}
.rightpanel .title img{float: right; margin-top: 5px;}
.rightpanel .msg_check{width: 20px; text-align: center;}
.rightpanel .msg_flag{width: 35px; padding:0 3px;}
.rightpanel .msg_leftborder{border-left: 1px solid #B682C7; padding: 0 3px;}
.rightpanel .msg_from{width: 150px; padding: 0 3px;}
.rightpanel .msg_subject{width: 170px; padding: 0 3px;}
.rightpanel .msg_to{width: 160px; padding: 0 3px;}
.rightpanel .msg_received{width: 115px; padding: 0 3px;}
.rightpanel .msg_settings{border-left: 1px solid #b682c7; width:25px;}
.rightpanel .unread{font: bold 12px Arial, Helvetica, sans-serif; color: #750998;}

.rightpanel tr.dark {background-color: #f5f5f5; height:30px; vertical-align: middle;}
.rightpanel tr.light {background-color: #ffffff; border:none; height:30px; vertical-align: middle;}

.leftpanel .navfolder{width: 230px; margin: 0px; border: 1px solid #E3E3E1; background-color: #FFF;}
.leftpanel .navfolder .listicon{width: 100px; height: 25px; background: url(../images/green_plus.png) no-repeat left top; display:block; border: 0px; cursor: pointer;}
.leftpanel .navfolder .listicon:hover{background-position: 0px -25px;}


.innergrid {width:940px; margin:0px auto;}
.innergrid .lefthead {float: left; width: 250px;}
.innergrid .lefthead h1{font: bold 25px Arial, Helvetica, sans-serif; text-align: center; text-transform: uppercase; color:#750998; }
.innergrid .message{width: 700px; float: right;}
.martop30 {
	margin-top:30px;
}
.text_filed_bg {
	width:400px;
	padding:5px;
	border:1px solid #CCC;
}
.purple_small_button {
	width:71px;
	background:url(../images/purple_small_button.png) no-repeat;
	height:29px;
	border:0px;
	margin-left:20px;
	cursor:pointer;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFF;
}
.purple_small_button:hover {
	width:71px;
	background:url(../images/purple_small_button.png) no-repeat 0 -29px;
	height:29px;
}
.gridtable {
	border:1px solid #e1e1e1;
	box-shadow:0px 2px 5px #e1e1e1;
	-moz-box-shadow:    0px 2px 5px #e1e1e1;
	-webkit-box-shadow: 0px 2px 5px #e1e1e1;
}
.gridtable th {
	background:url(../images/th_bg.png) repeat-x;
	height:23px;
	font:14px Arial, Helvetica, sans-serif;
	color:#FFF;
	padding-left:10px;
	line-height:23px;
	text-align: left;
}
.gridtable td {
	padding:3px;
}
.gridtable .pad10 {
	padding:10px;
}
.pt10 {
	padding-top:10px;
}
.gridtable .pad20 {
	padding:20px;
}
.gridtable label {
	display:block;
	padding-left:3px;
	font:14px Arial, Helvetica, sans-serif;
	color:#595959;
	line-height:24px;
}
.innergrid .flr {
	float:right;
}
.innergrid .tlr {
	text-align:right;
}


/**************************************/
/*              POPUP STYLES          */
/**************************************/

.popup_container {width:750px; margin:0px auto; display:block; text-align:center; box-shadow:0px 0px 30px #aeaead; -moz-box-shadow:0px 0px 30px #aeaead; -webkit-box-shadow:0px 0px 30px #aeaead; border-radius:10px; margin-top:20px;}
.popup_container h2{font: normal 15px Arial, Helvetica, sans-serif; color: #FFF; padding-left: 20px; padding-top:5px;}
.purple_strip {	background: url(../images/popup_headerBg.png) repeat-x left top #680887; height:31px; border-top-left-radius:10px; border-top-right-radius:10px; text-align:left; font-size:15px; color:#FFF;}
.popup_content {padding:10px 40px;}
.popup_content h3{font: normal 15px Arial, Helvetica, sans-serif; color:#595959; line-height:25px; text-align:left;}
.popup_content input{width: 669px; height:30px; border:0; background: url(../images/popup_input.png) no-repeat left top; margin-bottom: 20px;}
.btn_greenbig {	display: block; width: 263px; height: 46px; background: transparent url(../images/btn_greenbig.png) 0px 0px no-repeat; margin: 0 auto; color: #FFF; font-size: 23px;	border:0px;	cursor:pointer;	margin-bottom:10px;}
.btn_greenbig:hover {background-position: 0px -46px;}
.inline_label {display:inline;}


.yellow {
	color:#fff055;
}
.small_font {
	font-size:12px;
}
#features_nav {
	font-size:13px;
	font-weight:bold;
	color:#595959;
}
#features_content p {
	font-size:12px;
	color:#595959;
	line-height:20px;
}
#features_content ul li {
	font-size:12px;
	color:#595959;
	line-height:20px;
	list-style-type:disc;
}
.redclass {
	color:#a80e0e;
}
.yellow {
	color:#fff055;
}
.bold {
	font-weight:bold;
}
.lightgrey {
	color:#b0b0b0;
}
/* -------------------------------------------------------------------------------
NEW CONTACT PAGE
---------------------------------------------------------------------------------*/
.contact_page{width:940px; margin:0px auto; display:block; margin-top:20px;}
.contact_page .left{width:575px; float:left; display:block;}
.contact_page .right{width:335px; float:right; display:block;}
.pad20{padding:20px;}
table.common{ width:100%; border:1px solid #f9f9f9; box-shadow:2px 2px 5px #dedede; -moz-box-shadow:2px 2px 5px #dedede; -webkit-box-shadow:2px 2px 5px #dedede; font: normal 12px Arial, Helvetica, sans-serif; line-height:18px; color:#595959}
table.common p{line-height:18px;}
table.common th{width: 100%; background:url(../images/th_background.png) repeat-x; text-align:left; color:#fff; line-height:24px; padding-left:10px;}
label.block{display:block;}
.textfield_contact{width:97%; padding:3px; border:1px solid #ccc; margin-bottom:15px;}
.center{text-align:center;}
.dark_grey{color:#595959; font: normal 17px Arial, Helvetica, sans-serif; line-height:22px;}
.padtech{padding:20px 25px 20px 20px;}

/* -------------------------------------------------------------------------------
							LEFT FOLDER MENU
---------------------------------------------------------------------------------*/

.glossymenu{margin: 5px 0; padding: 0; width: 230px; /*width of menu*/ height: 200px; border: none; background-color: #F3F3F2; overflow-y: scroll;}
.glossymenu a.menuitem{font: normal 14px Arial, Helvetica, sans-serif; color: #595959; display: block; position: relative; /*To help in the anchoring of the ".statusicon" icon image*/width: auto; padding: 8px 0; padding-left: 10px; text-decoration: none;}
.glossymenu a.menuitem:hover, .glossymenu .menuitem:active{background-color: #DABBE2; color: #595959;}
.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/float: left; top: 5px; left: 5px; border: none;}
.glossymenu a.menuitem:hover{background-color: #DABBE2; color: #595959;}
.glossymenu div.submenu{ /*DIV that contains each sub menu*/background-color: #F3F3F2;}
.glossymenu div.submenu ul{ /*UL of each sub menu*/list-style-type: none; margin: 0; padding: 0;}
.glossymenu div.submenu ul li{ cursor:pointer;}
.glossymenu div.submenu ul li a{display: block; font: normal 14px Arial, Helvetica, sans-serif; color: #595959; text-decoration: none; background:url(../images/files_icon.png) no-repeat 40px top; padding: 2px 10px 5px 75px; cursor:pointer;}
.glossymenu div.submenu ul li a:hover{background-color: #DABBE2; color: #595959; padding: 2px 10px 5px 75px;}