
@charset "utf-8";
/* CSS Document */


/**************************************/
/*              GLOBALS              */
/**************************************/
body {
	
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
}
#main_container {
	width:945px;
	display:block;
	margin:0px auto;
	font-family:Arial, Helvetica, sans-serif;
}
/**************************************/
/*              HEADINGS              */
/**************************************/
h1 {
	font:bold 24px Arial, Helvetica, sans-serif;
	color:#595959;
}
h2 {
	font:bold 20px Arial, Helvetica, sans-serif;
	color:#595959;
}
h3 {
	font:bold 14px Arial, Helvetica, sans-serif;
	line-height:18px;
	padding:10px 0px 10px 0px;
}
p {
	font:12px Arial, Helvetica, sans-serif;
	color:#595959;
	line-height:24px;
}
p.smalltext {
	font:11px Arial, Helvetica, sans-serif;
	color:#9C9C9C;
	line-height:16px;
}
#aboutus_pages li {
	line-height: 24px
}
#aboutus_pages ul {
	list-style-position: inside;
	list-style: circle
}
p.betatext {
	font:11px Arial, Helvetica, sans-serif;
	color:#700891;
	line-height:16px;
}
/**************************************/
/*              POPUP STYLES          */
/**************************************/
.popup_container {
	width:660px;
	margin:0px auto;
	display:block;
	text-align:center;
	box-shadow:0px 0px 20px #4d4d4d;
	border-radius:10px;
	margin-top:20px;
}
.purple_strip {
	background:#680887;
	height:40px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.popup_content {
	padding:20px;
}
.inline_label {
	display:inline;
}
/* -------------------------------------------------------------------------------
CSS FOR NEW DESIGNS 
---------------------------------------------------------------------------------*/
.grid {
	width:945px;
	margin:0px auto;
}
.grid .header {
	width:945px;	
	overflow:hidden;
}
.grid .header .logo {
	width:256px;
	height:71px;
	display:block;
	float:left;
}
.grid .header .topnavigation {
	width:570px;
	float:left;
	height:31px;
	margin-top:35px;
	text-align:center;
}
.grid .header .topnavigation ul {
	margin:0px;
	padding:0px;
}
.grid .header .topnavigation ul li {
	margin:0px;
	padding:0px;
	display:inline;
}
.grid .header .topnavigation ul li a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
	text-decoration:none;
	padding:0px 3px 14px 3px;
}
.grid .header .topnavigation ul li a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .header .topnavigation ul li a.active_top_nav {
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .features {
	margin-bottom:10px;
}
.grid .header .support {
	width:120px;
	float:right;
	margin-top:20px;
	margin-right:10px;
	text-align:right;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
}
.grid .header .support a {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#888888;
	text-decoration:none;
	padding:0px 3px 14px 3px;
	text-transform:uppercase;
}
.grid .header .support a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#740997;
	text-decoration:none;
}
.grid .tagline {
	height:77px;
	background:url(../images/gradient_line.gif) center top no-repeat;
}
.grid .tagline h1 {
	font:30px Arial, Helvetica, sans-serif;
	line-height:74px;
	font-weight:500;
	text-align:center;
	color:#595959;
}
.grid .topline {
	height:2px;
	background:url(../images/gradient_line.gif) center top no-repeat;
}
.purple {
	color:#750998;
}
.grid .banner #container {
	width:940px;
	padding:0px 10px 10px 10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}
.grid .banner #container h1{padding: 20px 0; font: normal 25px Arial, Helvetica, sans-serif; color:#595959; text-align:center;}
.grid .banner #container .banner_img{padding: 10px 0; display:block; margin: 0 auto; text-align:center;}
.grid .banner #example {
	width:940px;
	height:500px;
	position:relative;
	margin:0px auto;
}
.grid .banner #ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}
.grid .banner #frame {
	position:absolute;
	z-index:0;
	width:900px;
	height:500px;
	top:-3px;
	left:-80px;
}
/*Slideshow*/
.grid .banner #slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}
/*	Slides container	Important:	Set the width of your slides container	Set to display none, prevents content flash*/
.grid .banner .slides_container {
	width:960px;
	overflow:hidden;
	position:relative;
	display:none;
	text-align:center;
}
/*	Each slide	Important:	Set the width of your slides	If height not specified height will be set by the slide content	Set to display block*/
.grid .banner .slides_container div.slide {
	width:900px;
	height:500px;
	display:block;
}
/*	Next/prev buttons*/
.grid .banner #slides .next, #slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
	display:none;
}
#slides .next {
	left:585px;
}
/*	Pagination*/
.pagination {
	margin:26px auto 0;
	width:100px;
}
.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}
.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {
	background-position:0 -12px;
}
.social_media {
	text-align:center;
	display:block;
	margin:20px 0 40px 0;
}
.social_media h1 {
	font-size:42px;
	color:#bdbdbd;
}
.grid .footer {
	margin:0px auto;
	width:880px;
	padding-top:10px;
}
.grid .footer .first_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .first_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .second_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .second_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .third_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .third_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer .fourth_column {
	width:200px;
	float:left;
	display:block;
	min-height:160px;
	margin:0px 10px 5px 10px;
}
.grid .footer .fourth_column h3 {
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#545454;
	padding:0px;
}
.grid .footer ul {
	margin-bottom:10px;
}
.grid .footer a {
	font:11px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	line-height:18px;
	text-decoration:none;
}
.grid .footer a:hover {
	text-decoration:underline;
	color:#750998;
}
.copyright {
	clear:both;
	width:960px;
	display:block;
	margin:0px auto;
	font:11px Arial, Helvetica, sans-serif;
	color:#AAAAAA;
	margin-bottom:30px;
}
.copyright .left{
	width:475px;
	float:left;
	font:11px Arial, Helvetica, sans-serif;
	color:#C7C7C7;
	font:12px Arial, Helvetica, sans-serif;
	text-align:left;
	line-height:24px;
}

.copyright .left a {
	font: normal 12px Arial, Helvetica, sans-serif;
	color:#8C8C8C;
	text-decoration:none;
	text-align:left;
}
.copyright .left a:hover {
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#5A0075;
	text-decoration:none;
}
.copyright .right {
	width:450px;
	float:right;
	font:12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-align:right;
	line-height:24px;
}

.copyright .right a {
	font:12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-decoration:none;
}
.copyright .right a:hover {
	font:12px Arial, Helvetica, sans-serif;
	color:#5A0075;
	text-decoration:none;
}
.copyright .right_panel {width:450px; padding-top:20px; float:right; font:12px Arial, Helvetica, sans-serif; color:#8c8c8c; text-align:right; line-height:24px;}

.copyright .right .green_link a{color: #5ea31d; text-decoration: none;}
.copyright .right .green_link a:hover{color: #5A0075; text-decoration: none;}
.translate_flags {
	width:200px;
	float:left;
	margin:0 0 0 94px;
	text-align:left;
}
.secure_badges {
	width:150px;
	float:right;
	text-align:right;
}
.trademark {
	font-size:9px;
	color:#c7c4c4;
}
.shadow_line {
	width:100%;
	background:url(../images/shadow_line.png) center top no-repeat;
	height:16px;
}
.nextgen {
	display:block;
}
.nextgen img {
	vertical-align:middle;
}
.clear {
	clear:both;
}
.socialmedia_buttons{width: 818px; padding: 20px 70px 40px 70px; box-shadow: 5px 5px 5px #E2E2E2; -webkit-box-shadow: 5px 5px 5px #E2E2E2; border:1px solid #E2E2E2; margin-bottom:40px;}
.socialmedia_buttons h1{font: normal 25px Arial, Helvetica, sans-serif; line-height: 40px; text-align: center; color:#750998; padding-bottom:30px;}
.facebook_button{width: 246px; height: 51px; background: transparent url(../images/facebook_button.png) no-repeat; color: #FFF; font-size: 20px; border:0px; cursor:pointer; margin:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;}
.facebook_button:hover {background-position: 0px -51px;}
.twitter_button{width: 246px; height: 51px; background: transparent url(../images/twitter_button.png) no-repeat; color: #FFF; font-size: 20px; border:0px; cursor:pointer; margin:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;}
.twitter_button:hover {background-position: 0px -51px;}
.instagram_button{width: 246px; height: 52px; background: transparent url(../images/instagram_button.png) no-repeat; color: #FFF; font-size: 20px; border:0px; cursor:pointer; margin:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;}
.instagram_button:hover {background-position: 0px -52px;}
.linkedin_button{width: 246px; height: 51px; background: transparent url(../images/linkedin_button.png) no-repeat; color: #FFF; font-size: 20px; border:0px; cursor:pointer; margin:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;}
.linkedin_button:hover {background-position: 0px -51px;}
.pinterest_button{width: 246px; height: 51px; background: transparent url(../images/pinterest_button.png) no-repeat; color: #FFF; font-size: 20px; border:0px; cursor:pointer; margin:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;}
.pinterest_button:hover {background-position: 0px -51px;}
.googleplus_button{width: 246px; height: 51px; background: transparent url(../images/gplus_button.png) no-repeat; color: #FFF; font-size: 20px; border:0px; cursor:pointer; margin:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;}
.googleplus_button:hover {background-position: 0px -51px;}
.tumblr_button{width: 246px; height: 51px; background: transparent url(../images/tumblr_button.png) no-repeat; color: #FFF; font-size: 20px; border:0px; cursor:pointer; margin:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;}
.tumblr_button:hover {background-position: 0px -51px;}
.googleplus_button{width: 246px; height: 51px; background: transparent url(../images/gplus_button.png) no-repeat; color: #FFF; font-size: 20px; border:0px; cursor:pointer; margin:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;}
.googleplus_button:hover {background-position: 0px -51px;}
.foursquare_button{width: 246px; height: 51px; background: transparent url(../images/foursquare_button.png) no-repeat; color: #FFF; font-size: 20px; border:0px; cursor:pointer; margin:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;}
.foursquare_button:hover {background-position: 0px -51px;}
.myspace_button{width: 246px; height: 51px; background: transparent url(../images/myspace_button.png) no-repeat; color: #FFF; font-size: 20px; border:0px; cursor:pointer; margin:10px; text-shadow: 1px 1px 1px #000; padding-left:40px;}
.myspace_button:hover {background-position: 0px -51px;}

.socialmedia_buttons .my_account{float: right;}
.socialmedia_buttons .my_account a{font-size: 12px; color: #750998; text-decoration: underline;}

.socialmedia_login{width: 945px; display:block; padding: 30px 0;}
.socialmedia_content{width: 945px; display:block;}
.socialmedia_content img{margin-right:30px; display:block; float:left;}
.socialmedia_content h1{font: normal 22px Arial, Helvetica, sans-serif; color: #750998; padding-top: 40px;}
.socialmedia_login .loginbox{width:460px; margin:0px auto; padding: 40px 100px 20px 100px; display:block; text-align:left; border:1px solid #EDEDED; box-shadow:5px 5px 5px #EDEDED; -webkit-box-shadow:5px 5px 5px #EDEDED; border-radius:10px; margin-top:20px; margin-bottom: 40px;}
.socialmedia_login .loginbox form label {width:150px; text-align:left; font:12px Arial, Helvetica, sans-serif; line-height:20px; margin-top:3px; color:#595959; float:left;}
.socialmedia_login .loginbox .textinput {width:300px; height:22px; border-left: 2px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 2px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; margin-bottom:10px; outline:none;}
.socialmedia_login .loginbox .homebuttonGreen {display: block; width: 227px; height: 48px; background: transparent url(../images/bt_blank_green_button.png) 0px 0px no-repeat; margin: 0 auto; color: #FFF; font-size: 24px; border:0px; cursor:pointer; margin-left:130px;}
.socialmedia_login .loginbox .homebuttonGreen:hover {background-position: 0px -48px;}

.grid .landing2_content {width:945px; display:block;}
.grid .landing2_content h1{font: normal 22px Arial, Helvetica, sans-serif; line-height: 25px; text-transform: uppercase; padding-bottom:50px; color: #750998;}
.grid .landing2_content .features {width:460px; margin:0 10px 0 0; float:left;}
.green {color:#97e720; text-decoration: underline;}
ul.landing2_features {padding:0 0 20px 0; clear:both;}
ul.landing2_features li.icon {width:80px; float:left; text-align:center;}
ul.landing2_features li.content { width:365px; float:left; padding-bottom:20px;}
ul.landing2_features li.content p{font: normal 12px Arial, Helvetica, sans-serif; color:#737373; line-height:16px;}
ul.landing2_features li.content h2{ font-size:16px; text-transform: uppercase;}

.grid .landing2_content .offers {width:328px; float:right; border:1px solid #E2E2E2;}
.offers hr {border:1px solid #E2E2E2;}
.grid .landing2_content .offers p {font: normal 12px Arial, Helvetica, sans-serif; color:#737373; line-height:16px; padding:15px;}
.grid .landing2_content .offers h2 { font-size:16px; line-height:32px;}
.landing2_features p {font-size:13px; color:#737373; line-height:16px;}

.shadowline_landing {
	background:url(../images/small_shadow.png) no-repeat;
	width:316px;
	margin:0px auto;
	height:17px;
}
.center {
	text-align:center;
}


.grid .landing2_banner form {
	width:230px;
	min-height: 293px
	float:right;
}
.grid .landing2_banner .testBg{ background: url(../images/test_formbg.png) repeat-x left bottom #750998; padding-bottom:10px;}
.grid .landing2_banner .testBg form legend {
	font:bold 26px Arial, Helvetica, sans-serif;
	color:#FFF;
	line-height:50px;
	padding-left:10px;
}
.grid .landing2_banner form .textinput {
	background:url(../images/input_textbg.png) no-repeat left top;
	width:205px;
	height:30px;
	border:0px;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #888;
	margin: 5px 15px;
	float: left;
	vertical-align: middle;
}
.pb10{padding-bottom: 10px;}
.fl_right {
	float:right;
}
.homebuttonGreen {
	display: block;
	width: 228px;
	height: 48px;
	background: transparent url(../images/bt_blank_green_button.png) no-repeat left top;
	margin: 0 auto;
	color: white;
	font-size: 25px;
	border:0px;
	cursor:pointer;
}
.homebuttonGreen span{color: #FFF055;}
.homebuttonGreen:hover {
	background-position: 0px -48px;
}
.compare_bg {
	background:url(../images/compare_bg.jpg) no-repeat;
	width:292px;
	height:164px;
	margin:0px auto;
	margin-bottom:20px;
}
.plans_bg {
	background:url(../images/landing_plan_image.png) no-repeat;
	width:292px;
	height:206px;
	margin:0px auto;
	margin-top:-30px;
}
button.land_purplebut {
	width:177px;
	height:48px;
	font:18px Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:48px;
	text-align:center;
	background:url(../images/bt_landing_purple.png) no-repeat;
	display:block;
	text-decoration:none;
	border:0px;
	margin:110px 10px 0 0;
	float:right;
	cursor:pointer;
}
button.land_purplebut:hover {
	background:url(../images/bt_landing_purple.png) 0px -47px no-repeat;
	border:0px;
}
button.land_buybut {
	width:177px;
	height:48px;
	font:18px Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:48px;
	text-align:center;
	background:url(../images/bt_landing_purple.png) no-repeat;
	display:block;
	text-decoration:none;
	border:0px;
	margin:150px 10px 0 0;
	float:right;
	cursor:pointer;
}
button.land_buybut:hover {
	background:url(../images/bt_landing_purple.png) 0px -47px no-repeat;
	border:0px;
}
p.bold {
	font-weight:bold;
}
.hang {
	background:url(../images/hang_bg.png) no-repeat;
	width:291px;
	height:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	color:#FFF;
	margin-left:20px;
	margin-top:20px;
	padding:13px 10px 10px 10px;
	text-align:center;
	margin-bottom:20px;
}
.caps {
	text-transform:uppercase;
}


/*-------------------------------------------------------------------------------
							FOLLOW UP MEETING BROWSER PAGE
---------------------------------------------------------------------------------*/
#browserpage{width: 925px; display: block; margin: 0 auto; margin-top: 20px; margin-bottom: 50px; border: 1px solid #dfe5e6; box-shadow: 3px 4px 5px #dfe5e6; -webkit-box-shadow: 3px 4px 5px #dfe5e6;  border-radius: 10px; padding: 30px 0px;}
#browserpage .hd_meeting{background-color: #750998; padding: 25px 0; text-align: center;}
#browserpage h1{font: normal 35px Arial, Helvetica, sans-serif; color: #595959; letter-spacing: 1px; padding-top: 20px; text-align: center;}
#browserpage .contentpart{font: normal 20px Arial, Helvetica, sans-serif; color:#595959; padding: 15px;}
.contentpart h2{float: right; font: normal 20px Arial, Helvetica, sans-serif; color:#595959;}
.contentpart .leftimg{float: left; display:block; background: url(../images/followup_hdmeeting.png) no-repeat left top;}
.contentpart .leftimg ul{margin: 0px; padding-left: 430px; padding-top: 20px;}
.contentpart .leftimg li{list-style-type: disc; padding: 5px 0 5px 20px;}
.contentpart .leftimg .tryit{font: normal 30px Arial, Helvetica, sans-serif; color: #595959; padding: 20px 0px 0px 450px;}
.contentpart .leftimg .tryit span{color: #750998; font-weight: bold;}
.contentpart .leftimg .small_text{font: normal 12px Arial, Helvetica, sans-serif; color: #750998; padding-left: 590px;}
.signup{display:block; clear:both; margin-left: 8px;}
.signup p{font: normal 18px Arial, Helvetica, sans-serif; padding: 30px 0px 0px 20px;}
.followup_facebook{width: 214px; height: 45px; background: transparent url(../images/followup_facebook.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; text-shadow: 1px 1px 1px #000; padding-left:40px; margin:30px 5px;}
.followup_facebook:hover {background-position: 0px -45px;}
.followup_linkedin{width: 215px; height: 45px; background: transparent url(../images/followup_linkedin.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; text-shadow: 1px 1px 1px #000; padding-left:40px; margin:30px 5px;}
.followup_linkedin:hover {background-position: 0px -45px;}
.followup_twitter{width: 215px; height: 45px; background: transparent url(../images/followup_twitter.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; text-shadow: 1px 1px 1px #000; padding-left:40px; margin:30px 5px;}
.followup_twitter:hover {background-position: 0px -45px;}
.followup_google{width: 215px; height: 45px; background: transparent url(../images/followup_google.png) no-repeat; color: #FFF; font-size: 14px; border:0px; cursor:pointer; text-shadow: 1px 1px 1px #000; padding-left:40px; margin:30px 5px;}
.followup_google:hover {background-position: 0px -45px;}
#browserpage form{width: 830px; display:block; margin: 0 auto; font: normal 13px Arial, Helvetica, sans-serif; color: #595959; line-height:18px;}
#browserpage form a{color: #750998; text-decoration: underline;}
#browserpage form label{font-size: 14px;}
#browserpage form .inputtext{width: 220px; border: 1px solid #C5C5C5; border-top: 2px solid #C5C5C5; height:24px; margin-right: 35px; clear:left;}
#browserpage form .privacy{width: 210px; font: normal 13px Arial, Helvetica, sans-serif; line-height: 18px;}
#browserpage form .privacy a{color: #750998; text-decoration: underline;}
#browserpage form .privacy a:hover{text-decoration: underline;}
#browserpage form .privacy img{float: left; padding-right:10px; margin-top: 10px;}
#browserpage form p{margin: 5px;}
#browserpage form .homebuttonGreen {display: block; float:right; width: 227px; height: 48px; background: transparent url(../images/bt_blank_green_button.png) 0px 0px no-repeat; margin: 0 auto; color: #FFF; font-size: 24px; border:0px; cursor:pointer; margin: 20px 80px 20px 0px; text-decoration: none; line-height: 48px; text-align: center;}
#browserpage form .homebuttonGreen:hover {background-position: 0px -48px;}
#browserpage form .remember{clear: both; font-size:12px; color: #750998; text-align: center;}
#browserpage form .schedule_type_checked{background: url(images/icon_check_on.png) no-repeat;width:15px;height:14px;padding-left:40px;}
#browserpage form .schedule_type_uncheck{background: url(images/icon_check_box.png) no-repeat;width:15px;height:14px;padding-left:40px;}
#browserpage form .schedule_time_checked{background: url(images/icon_radio_checked.png) no-repeat;width:15px;height:14px;padding-left:40px;}
#browserpage form .schedule_time_uncheck{background: url(images/icon_radio_uncheck.png) no-repeat;width:15px;height:14px;padding-left:40px;}
