<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}gwt_utils/gwt_utils.nocache.js"></script>
<div id="utils_holder" style="width:1px;height:1px;display:none;"></div>
<div id="GWT_overlay" style="visibility:hidden;z-index: 100; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: #000000; cursor: default; position: fixed; opacity: 0.6; "></div>
