<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NetConference</title>
<body>
<div style="width:640px; font: normal 12px Arial, Helvetica, sans-serif; line-height: 20px; color:#595959; margin: 0 auto; float: none;">
	<div style="padding-left:20px;"><img src="http://www.netconference.com/site_media/images/autoresponder/netconference.png" alt="NetConference" title="NetConference" width="265" height="58" /></div>
    <div style="background: url(http://www.netconference.com/site_media/images/autoresponder/headBg.png) repeat-x left top; font:bold 26px Arial, Helvetica, sans-serif; color:#FFF; padding: 30px 0 30px 40px;">Good bye for now...</div>
    <div style="width: 435px; float: left; padding: 10px 30px 20px 25px;">
    	<p style="width: 410px; font: normal 14px Arial, Helvetica, sans-serif; color: #595959; line-height:23px;"><strong>Hopefully we were able to provide you with great service and an outstanding product. The time has come and <br /> gone so quickly and now it has come to an end, but no worries! We will always be here when you need us... We’re only a click away! </strong></p><br />
   	  <p style="width: 394px;">Per your request, your NetConference account <strong>{{username}}</strong> has been successfully deactivated and you will no longer be billed the monthly service fee. You will continue to have access to your account until the end of this bill cycle ending on <span style="color:#750998; text-decoration: none;">{{expiry_date|date:"F j, Y"}}</span>. NetConference is a continually evolving product, and we<br /> are always miles ahead of the rest. So please stop in with us from time to time and see what’s new in the cloud.  Again, we appreciate your business and wish you well in your endeavors and hope to have you join us again soon.</p>
	  <br /><br />
        <p style="font: normal 12px Arial, Helvetica, sans-serif; color:#595959; line-height: 35px;">All the best,<br /></p>
        <p>Customer Service Department</p>
        <a href="http://support.netconference.com" style="font: normal 12px Arial, Helvetica, sans-serif; color:#750998; text-decoration: none;">support.netconference.com</a><br /><br /><br />
<br />
      </div>
  	<div style="clear:both"></div>
  <div style="width: 560px; padding: 0px 20px; color:#8C8C8C; background-color:#FDFDFD; float:none; margin: 0 auto; font: normal 11px Arial, Helvetica, sans-serif;">
      <p style=""><em>Copyright &copy; 2012 NxtGen TV</em>, All rights reserved. <br />
        You are receiving this email because in the past you registered for <span style="font-size:12px; color: #595959;">NetConference<sup>&reg;</sup> Your Office in the Cloud<sup>&reg;</sup></span>. Occasionally, you will receive news about NetConference along with tips to increase your productivity. <br />
        Our mailing address is: <br />
        NetConference<br />
        23679 Calabasas Rd. Suite 785<br />
        Calabasas, CA 91302<br />
      818-598-8400</p>
      <p style="font: normal 12px Arial, Helvetica, sans-serif;"><a href="mailto:noreply@netconference.com" style="font-size: 11px; text-decoration: none; color:#27b0e9;">Add us to your address book</a></p>
    <p style="text-align:center; font-size:12px; color: #27b0e9; background-color:#FDFDFD; padding-bottom: 30px;"><a href="http://www.netconference.com/autoresponder/unsubscribe/" style="text-decoration: none; color:#27b0e9;">unsubscribe from this list</a> | <a href="#" style="text-decoration: none; color:#27b0e9;">update subscription preferences</a> | <a href="#" style="text-decoration: none; color:#27b0e9;">view email in browser</a></p>
</div>
</div>
</body>
</html>
