<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NetConference</title>
<body>
<div style="width:640px; font: normal 12px Arial, Helvetica, sans-serif; line-height: 20px; color:#595959; margin: 0 auto; float: none;">
	<div style="padding-left:20px;"><img src="http://www.netconference.com/site_media/images/netconference.png" alt="NetConference" title="NetConference" width="265" height="58" /></div>
    <div style="background: url(http://www.netconference.com/site_media/images/headBg.png) repeat-x left top; font:bold 26px Arial, Helvetica, sans-serif; color:#FFF; padding: 30px 0 30px 50px;">Welcome to NetConference...</div>
    <div style="width: 390px; float: left; padding: 10px 35px 20px 25px;">
    	<p style="font: bold 14px Arial, Helvetica, sans-serif; color: #595959; padding-bottom: 10px;">Congratulations…You did it! </p>
   	  <p style="font: normal 13px Arial, Helvetica, sans-serif; color: #595959; line-height: 23px;">You just made one of the best decisions you have ever made... <br />
      you choose NetConference to help take your business to the next level and we are excited! NetConference is an innovative product that is the one-stop shop for business.  There are so many awesome things you can do…from our state-of-the art Digital Video Conference room that can accommodate up to 8* people to our Multi-User Whiteboard that let's you edit directly on your document in real time, upload large files that your email can’t handle and don’t forget our V-Mail feature. There's no software to buy or no need to download any programs, it's as simple as logging on. Your Office in the Cloud is packed with many useful functions and features and we would like to help make your experience successful. If you have questions about how to use any of them please let us know...We are here to help!</p>
   	  <br />
   	    {% if confirmation_url %}
        <p><strong>Well let’s get started…Just click the link below so we can <br />
        verify your email address and you are on your way. </strong><br />
		<a href="{{confirmation_url}}" target="_blank" style="color: #750998; text-decoration: underline;"><strong>{{confirmation_url}}</strong> </a></p>
		{% endif %}
   	  <p>Again, thanks from the team over here at NetConference and we are <br />
      honored to be a part of how you do business.</p>
   	  <br />
	  <p style="font: normal 12px Arial, Helvetica, sans-serif; color: #595959; line-height: 24px;">Welcome,<br /><br />
		<a href="" style="color: #595959; text-decoration: none;">Stacey McCuien</a> | <a href="" style="color: #595959; text-decoration: none;">NetConference</a> | <a href="" style="color: #595959; text-decoration: none;">Customer Support Manager</a> <br />
		<a href="" style="color: #750998; text-decoration: none;">staceymccuien@netconference.com</a> <br />
		NetConference.com - The Social Business Revolution</p>
        <p style="font: normal 11px Arial, Helvetica, sans-serif; color: #a5a4a4;">*Depending Upon Internet Connection</p>
    </div>
    <div style="width: 190px; float:right; display: block; text-align: center;">
    <p><a href="http://www.netconference.com/conferencing/" style="border:none;"><img src="http://www.netconference.com/site_media/images/getting_started.png" width="162" height="150" alt="" /></a></p>
    <p><a href="http://www.netconference.com/about/netconference/" style="border:none;"><img src="http://www.netconference.com/site_media/images/learn_more.png" width="161" height="150" alt="" /></a></p>
    <p><a href="http://www.netconference.com/file/ODQzMjc2/" style="border:none;"><img src="http://www.netconference.com/site_media/images/five_steps.png" width="161" height="151" alt="" /></a></p>
    </div>
  	<div style="clear:both"></div>
  <div style="width: 560px; padding: 0px 20px; color:#8C8C8C; background-color:#FDFDFD; float:none; margin: 0 auto; font: normal 11px Arial, Helvetica, sans-serif;">
      <p style=""><em>Copyright &copy; 2011 NxtGen TV</em>, All rights reserved. <br />
        You are receiving this email because in the past you registered for <span style="font-size:12px; color: #595959;">NetConference<sup>&reg;</sup> Your Office in the Cloud<sup>&reg;</sup></span>. Occasionally, you will receive news about NetConference along with tips to increase your productivity. <br />
        Our mailing address is: <br />
        NetConference<br />
        23679 Calabasas Rd. Suite 785<br />
        Calabasas, CA 91302<br />
      818-598-8400</p>
      <p style="font: normal 12px Arial, Helvetica, sans-serif;"><a href="mailto:noreply@netconference.com" style="font-size: 11px; text-decoration: none; color:#27b0e9;">Add us to your address book</a></p>
    <p style="text-align:center; font-size:12px; color: #27b0e9; background-color:#FDFDFD; padding-bottom: 30px;"><a href="http://www.netconference.com/autoresponder/unsubscribe/" style="text-decoration: none; color:#27b0e9;">unsubscribe from this list</a> | <a href="#" style="text-decoration: none; color:#27b0e9;">update subscription preferences</a> | <a href="#" style="text-decoration: none; color:#27b0e9;">view email in browser</a></p>
</div>
</div>
</body>
</html>
