{% extends "newer_base.html" %}
    {% block content %}
    <!--CONTENT STARTS-->
  	<div id="contentpage">
		<div class="unsubscribe_page">
				<p align="center"><img src="{{MEDIA_URL}}images/email_address.png" width="730" height="18" alt="" /></p>
				<h3>To adjust system notifications, please log in and go to Account Settings  <img src="{{MEDIA_URL}}images/arrow_greater.png" width="7" height="8" alt="" /> Preferences </h3>
                <form method="post" action=".">
				<p>E-mail address 
                    <input type="text" id="email_address"  class="textinput" name="email_address"/> <input type="submit" value="Unsubscribe" class="unsub_button" />
                </p>
                </form>
        </div>
    <div class="clear"></div>
    </div><!--CONTENT ENDS-->
    {% endblock %}
    
