{% extends "newer_base.html" %}
    {% block content %}
    <!--CONTENT STARTS-->
  	<div id="contentpage">
		<div class="unsubscribe_page">
			
			<h3 class="purple" style="padding: 52px 0px">{% if message %}{{message}}{% else %}The e-mail address &lt;<span>{{email_address}}</span>&gt; has been removed from our mailing list.{% endif %}</h3>
				
        </div>
    <div class="clear"></div>
    </div><!--CONTENT ENDS-->
    {% endblock %}
