@charset "utf-8";
/* CSS Document */


/**************************************/
/*              GLOBALS              */
/**************************************/
body{background:url(../traffic_geyser_images/traffic_submenu_bg.jpg) repeat-x; font:Arial, Helvetica, sans-serif; line-height:18px;}
#main_container{width:945px; display:block; margin:0px auto;  font:Arial, Helvetica, sans-serif; }



/**************************************/
/*              HEADINGS              */
/**************************************/
h1{font:bold 24px Arial, Helvetica, sans-serif; color:#595959;}
h2{ font:bold 20px Arial, Helvetica, sans-serif; color:#595959;}
h3{ font:bold 14px Arial, Helvetica, sans-serif; line-height:18px; padding:10px 0px 10px 0px;}

p{font:12px Arial, Helvetica, sans-serif; color:#595959; line-height:24px;}
p.smalltext{font:11px Arial, Helvetica, sans-serif; color:#9C9C9C; line-height:16px;}

#aboutus_pages li{line-height: 24px}
#aboutus_pages ul{list-style-position: inside; list-style: circle}


/**************************************/
/*              HOMEPAGE              */
/**************************************/
#header_container{width:945px; display:block; margin:0px auto; margin-top:15px;}
#topnavi_container{width:945px; display:block; margin:0px auto;}
#submenu_container{width:945px; display:block; margin:0px auto;  padding-top:9px; height: 26px;}
/*#submenu_container a{ font:12px Arial, Helvetica, sans-serif; color:#FFF; line-height:35px; text-decoration:none;} 
#submenu_container a:hover{ font:12px Arial, Helvetica, sans-serif; color:#CA5FED; line-height:35px; text-decoration:none;} */
#flashbanner_container{width:945px; display:block; margin:0px auto;}
#intro_content{width:945px; display:block; margin:0px auto; height:100px; background:url(../images/flashbanner_shadow.gif) center top no-repeat; padding:30px 0px 0px 0px; }
#slides_container{width:945px; clear:both; display:block;  padding-top:15px;}
#header_container #logo{width:276px; height:51px; float:left; }
#header_container #top_navi{ width:500px; float:left; height:31px; margin-top:20px;}
#header_container #top_navi a{ font:bold 12px Arial, Helvetica, sans-serif; color:#888888; text-decoration:none; padding:0px 3px 0px 3px;}
#header_container #top_navi a:hover{ font:bold 12px Arial, Helvetica, sans-serif; color:#740997; text-decoration:none;}
#header_container #account_details{ width:159px; float:left; height:51px; margin-left:10px; text-align:right;}
#settings{ font:11px Arial, Helvetica, sans-serif; color:#888888; margin-top:6px; }
#settings a{ font:11px Arial, Helvetica, sans-serif; color:#888888; text-decoration:none; padding:0px 0px 0px 5px;}
#settings a:hover{ font:11px Arial, Helvetica, sans-serif; color:#86CD03; text-decoration:none;}
#login{ font:14px Arial, Helvetica, sans-serif; color:#888888;  margin-top:2px; }
#login a{ font:14px Arial, Helvetica, sans-serif; color:#888888; text-decoration:none; }
#login a:hover{ font:14px Arial, Helvetica, sans-serif; color:#86CD03; text-decoration:none;}
#intro_content #left_block{width:707px; display:block; float:left; font:27px Arial, Helvetica, sans-serif; color:#4B4B4B; text-align:center;}
#intro_content #right_block{width:228px; display:block; float:right;}
.slide_holder{width:229px; height:322px; float:left; display:block; background:url(../images/slide_background.png) no-repeat; margin-right:9px;}
.slide_holder_nomargin{width:229px; height:322px; float:left; display:block; background:url(../images/slide_background.png) no-repeat; }
.slide_holder h1{ font:bold 18px Arial, Helvetica, sans-serif; color:#019df4; text-align:center; padding:25px 10px 20px 10px; }
.slide_holder p{ font:12px Arial, Helvetica, sans-serif; color:#737373; text-align:left; padding:15px 20px 5px 20px; height:100px; }
.slide_holder .icon{ width:170px; margin:0px auto; text-align:center;}
.slide_holder_nomargin h1{ font:bold 18px Arial, Helvetica, sans-serif; color:#78099C; text-align:center; padding:25px 10px 20px 10px; }
.slide_holder_nomargin p{ font:12px Arial, Helvetica, sans-serif; color:#737373; text-align:left; padding:15px 20px 5px 20px; height:100px; line-height:14px; }
.slide_holder_nomargin .icon{ width:170px; margin:0px auto; text-align:center;}
#content_container{ clear:both; width:945px; display:block; margin:0px auto; margin-top:42px;}
#content_container .left_panel{width:238px; float:left; font:18px Arial, Helvetica, sans-serif; color:#595959;}
#content_container .mid_panel{width:467px; float:left;}
#content_container .right_panel{width:239px; float:left; font:18px Arial, Helvetica, sans-serif; color:#595959;}
.gtalk_banner{width:238px; height:239px; display:block; margin-top:5px;}
#footer{ clear:both; width:945px; display:block; margin:0px auto; background:url(../images/footer_bg.gif) no-repeat; font:11px Arial, Helvetica, sans-serif; color:#AAAAAA; padding-top:20px; margin-top:30px; margin-bottom:30px; }
#footer .left{width:450px; float:left; font:11px Arial, Helvetica, sans-serif; color:#AAAAAA; font:11px Arial, Helvetica, sans-serif; color:#AAAAAA; line-height:24px;text-align:left;}
#footer .left a{ font:bold 12px Arial, Helvetica, sans-serif; color:#878787; text-decoration:none; text-align:left;}
#footer .left a:hover{ font:bold 12px Arial, Helvetica, sans-serif; color:#5A0075; text-decoration:none;}
#footer .right{width:450px; float:right; font:11px Arial, Helvetica, sans-serif; color:#AAAAAA; text-align:right; line-height:24px;}
#footer .right a{ font:11px Arial, Helvetica, sans-serif; color:#AAAAAA; text-decoration:none;}
#footer .right a:hover{ font:11px Arial, Helvetica, sans-serif; color:#5A0075; text-decoration:none;}

/**************************************/
/*              PRICING PAGE          */
/**************************************/
#pricing_packages{width:945px; display:block; margin:0px auto; text-align:center; padding-top:20px;}
.page_heading{font:30px Arial, Helvetica, sans-serif; color:#595959; line-height:36px; text-align:center;}
.page_heading2{font:24px Arial, Helvetica, sans-serif; color:#595959; line-height:36px; text-align:center;}
p.heading{font:14px Arial, Helvetica, sans-serif; color:#B4B4B4;}
.pricing_slide_holder{ width:945px; height:370px; display:block; margin-top:20px;}
.pricing_slide{ width:229px; height:292px; background:url(../images/pricing-images.png) no-repeat; margin:25px 7px 0px 0px; float:left;}
.pricing_slide_big{width:230px; height:342px; background:url(../images/pricing-images.png) -270px 0px no-repeat;  margin:5px 7px 0px 0px; float:left;}

.pricing_slide h1{font:bold 24px Arial, Helvetica, sans-serif; color:#78099C; margin:20px 0px 0px 0px;}
.pricing_slide h2{font:bold 14px Arial, Helvetica, sans-serif; color:#595959;}
.pricing_slide h3{font:bold 14px Arial, Helvetica, sans-serif; color:#86CD03;}
.pricing_slide p{ font:12px Arial, Helvetica, sans-serif; color:#737373; margin:30px 0px 10px 0px; line-height:22px;}

.pricing_slide_big h1{font:bold 28px Arial, Helvetica, sans-serif; color:#78099C; margin:20px 0px 0px 0px;}
.pricing_slide_big h2{font:bold 16px Arial, Helvetica, sans-serif; color:#595959;}
.pricing_slide_big h3{font:bold 16px Arial, Helvetica, sans-serif; color:#86CD03;}
.pricing_slide_big p{ font:14px Arial, Helvetica, sans-serif; color:#737373; margin:30px 0px 10px 0px; line-height:22px;}

.pricing_content{background:#EEEEEE; padding:35px; font:14px Arial, Helvetica, sans-serif; color:#595959;}
.pricing_content .left{width:420px; float:left ; font:14px Arial, Helvetica, sans-serif; color:#595959; line-height:22px; }
.pricing_content .right{width:420px; float:right; font:14px Arial, Helvetica, sans-serif; color:#595959; line-height:22px;}
.title{font:bold 14px Arial, Helvetica, sans-serif; color:#595959; line-height:30px; }


/**************************************/
/*              VIDEO PAGE            */
/**************************************/
#video_container{width:945px; display:block; margin:0px auto;}
#video_holder{ width:675px; height:450px; display:none; margin:0px auto; padding: 10px 10px 10px 10px; position: relative; z-index: 10000; cursor: pointer; text-align: center; background-image: url(../../img/overlay/trans.png); }
#video_holder .close{ background-image: url(../../img/overlay/apple-close.png); position: absolute; cursor: pointer; backgroun-repeat: no-repeat; height: 28px; width: 28px; right: 0px; top: 0px;}
#video_toolbar{width:945px; display:block; height:70px; margin-top:10px; font:bold 14px Arial, Helvetica, sans-serif; color:#595959;}
#video_toolbar .left{ width:670px; float:left;}
#video_toolbar .right{ width:270px; float:right;}

/**************************************/
/*              TEXT TEMPLATE         */
/**************************************/
#content_page{width:945px; display:block; margin:0px auto; margin-top:30px; }
#content_page .leftpanel{width:669px; float:left;}
#content_page .leftpanel .top{width:644px; background:url(../images/text_template_top.gif) no-repeat; height:50px; font:bold 16px Arial, Helvetica, sans-serif; color:#595959; padding-left:25px; line-height:50px;} 
#content_page .leftpanel .mid{width:609px; background:url(../images/text_template_middle.gif) repeat-y;  font:12px Arial, Helvetica, sans-serif; color:#595959; padding:25px 35px 25px 25px;} 
#content_page .leftpanel .bottom{width:669px; background:url(../images/text_template_bottom.gif) no-repeat; height:27px;  } 

#content_page .rightpanel{width:272px; float:right; text-align:center;}
#content_page .buttons { width:234px; margin:0px auto;}



/**************************************/
/*              LOGIN  PAGE           */
/**************************************/
#login_page{width:945px; display:block; margin:0px auto; margin-top:30px; }
#login_page .leftpanel{width:667px; float:left;}
#login_page .leftpanel .top{width:667px; background:url(../images/login_bg.gif) no-repeat; height:20px; font:bold 16px Arial, Helvetica, sans-serif; color:#595959;  line-height:50px;} 
#login_page .leftpanel .mid{width:627px; background:url(../images/login_bg_mid.gif) repeat-y;   font:12px Arial, Helvetica, sans-serif; color:#595959; padding:10px 20px 20px 20px;} 
#login_page .leftpanel .bottom{width:667px; background:url(../images/login_bg.gif) 0px -20px;  height:20px;  font:12px Arial, Helvetica, sans-serif; color:#595959; } 

#login_page .rightpanel{width:272px; float:right; text-align:center;}
#login_page .buttons { width:234px; margin:0px auto;}

.login_but{ width:227px; height:48px; background:url(../images/login_but.png) no-repeat; border:0px; cursor:pointer;}
.textfield_login{width:260px; padding:3px;}

/**************************************/
/*             CREDIT CARD PAGE       */
/**************************************/

.create_account_but{ width:257px; height:47px; background:url(../images/create_account.png) no-repeat; border:0px; cursor:pointer;}

/**************************************/
/*              BUTTONS              */
/**************************************/
.free_trial_but{ width:228px; height:48px; background:url(../images/free_trial_but.png) no-repeat;}
.free_trial_but:hover{ width:228px; height:48px; background:url(../images/free_trial_but.png) 0px -48px no-repeat;}
.watch_video_but{ width:228px; height:48px; background:url(../images/watch_video_but.png) no-repeat; margin-top:5px; }
.watch_video_but:hover{ width:228px; height:48px; background:url(../images/watch_video_but.png) 0px -48px no-repeat;}
.learnmore_but{ width:228px; height:48px; background:url(../images/learnmore_but.png) no-repeat; float:left; margin:5px 0px 0px 0px;}
.learnmore_but:hover{ width:228px; height:48px; background:url(../images/learnmore_but.png) 0px -48px no-repeat;}
.twitter_but{ width:228px; height:48px; background:url(../images/follow_twitter_but.png) no-repeat;   float:right;margin:5px 0px 0px 0px; }
.twitter_but:hover{ width:228px; height:48px; background:url(../images/follow_twitter_but.png) 0px -48px no-repeat;}
.getstarted{ width:166px; height:38px; background:url(../images/pricing-images.png) 0px -297px no-repeat; margin:0px auto; cursor:pointer;}
.getstarted:hover{ width:166px; height:38px; background:url(../images/pricing-images.png) 0px -335px no-repeat;}
.download_video_but{ width:84px; height:21px; background:url(../images/download_but.gif)  no-repeat; margin:0px auto; cursor:pointer; float:left; margin-right:5px;}
.download_video_but:hover{ width:84px; height:21px; background:url(../images/download_but.gif) 0px -21px no-repeat; }
.delete_video_but{ width:84px; height:21px; background:url(../images/deletevideo_but.gif)  no-repeat; margin:0px auto; cursor:pointer; float:left; margin-right:5px;}
.delete_video_but:hover{ width:84px; height:21px; background:url(../images/deletevideo_but.gif) 0px -21px no-repeat;}
.edit_video_but{ width:84px; height:21px; background:url(../images/editdetails_but.gif)  no-repeat; margin:0px auto; cursor:pointer; float:left; margin-right:5px;}
.edit_video_but:hover{ width:84px; height:21px; background:url(../images/editdetails_but.gif) 0px -21px no-repeat; }



/**************************************/
/*              OTHERS                */
/**************************************/

.message_rpanel{ font:16px Arial, Helvetica, sans-serif; color:#595959; line-height:24px; border-bottom:1px solid #EEEEEE; padding:15px 15px 15px 15px;}

.purp_quote{color: #536895; font-size: 13px; font-weight:bold;  text-decoration: none;}
a.purp_quote_a{color: #536895; font-size: 13px; font-weight:bold;  text-decoration: none;}


.purple_text{color:#750998;}
.green_text{color:#86CD03;}
.blue_text{color:#536895; text-decoration:none;}
.blue_text:hover{color:#750998; text-decoration:none;}
.hr{border:1px solid #989898;}

.moreinfo{font:11px Arial, Helvetica, sans-serif; color:#666; text-decoration:underline;}
.moreinfo:hover{font:11px Arial, Helvetica, sans-serif; color:#750998; text-decoration:underline;}

.left_fl{float:left;}
.right_fl{float:right;}
.clear{clear:both;}
.blue_introtext{color:#536895; text-decoration:none;}
.blue_introtext:hover{color:#78099C; text-decoration:none;}
.quotes{ font:14px Arial, Helvetica, sans-serif; text-align:center; color:#4B4B4B; margin:25px 15px 0px 15px; }
.quotes p{line-height:18px;}


ul.errorlist{ font-weight:bold; color:#F00;}


/**************************************/
/*             DASHBOARD PAGE         */
/**************************************/
#dashboard_container{width:945px; display:block; margin: 20px 0px 0px 15px; }
#dashboard_container #friendslist{ width:230px;  display:block; float:left; margin-right:15px;}
#dashboard_container #tabsdata{ width:700px;  display:block; float:right;}
#dashboard_container #friendslist .title{font:bold 14px Arial, Helvetica, sans-serif; color:#FFF; line-height:30px; background:url(../images/title_bg.gif) repeat-x; padding-left:15px;}
.settings{ font:11px Arial, Helvetica, sans-serif; color:#656464; background-color:#D6D6D4; line-height:18px; text-align:right; padding-top:6px;} 
.count{text-align:right;}
.border_div{border:1px solid #D6D6D4; padding:5px 0px 0px 0px;}
.border_div ul{}
.border_div ul li{ border-bottom:1px solid #D6D6D4; font:12px Arial, Helvetica, sans-serif; color:#656464; line-height:38px; vertical-align:middle; padding:5px 0px 7px 10px; }
.border_div ul li img{ border:1px solid #D6D6D4; float:left; margin-right:10px;}

.border_data{border:1px solid #D6D6D4; }
.border_data ul{}
.border_data ul li{ border-bottom:1px solid #D6D6D4; font:12px Arial, Helvetica, sans-serif; color:#656464; line-height:38px; vertical-align:middle;  }

ul.tabsdata{margin:0px; padding:0px; }
li.tabsdata{background:url(../images/tab_bg.png) no-repeat;  font:bold 14px Arial, Helvetica, sans-serif; color:#FFF; text-align:center; line-height:31px; display:inline-block; width:183px;}
a.tabsdata{background:url(../images/tab_bg.png) no-repeat;  font:bold 14px Arial, Helvetica, sans-serif; color:#FFF; text-align:center; line-height:31px; display:inline-block; width:183px; height:31px; padding: 0px;}
a.tabsdata:hover{background:url(../images/tab_bg.png) 0px -31px no-repeat; width:183px; height:31px; font:bold 14px Arial, Helvetica, sans-serif; color:#FFF; text-align:center;display:inline-block;  line-height:31px;}
a.tabsdataactive{background:url(../images/tab_bg.png) 0px -31px no-repeat; width:183px; height:31px; font:bold 14px Arial, Helvetica, sans-serif; color:#FFF; text-align:center;display:inline-block;  line-height:31px;}


/**************************************/
/*              FILES UPLOAD PAGE     */
/**************************************/
.textinput {
    width:540px;
    margin-left:4px;
    margin-top:2px; 
    border-style:solid;
    border-width:1px;
    border-color:#EBEBEB;
}
.bt_choose_file{ width:211px; height:37px; background:url(../images/bt_choose_file.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_choose_file:hover{ width:211px; height:37px; background:url(../images/bt_choose_file_rollover.png) no-repeat; margin:0px auto; cursor:pointer;}
.bg_files_upload_top
{
	background:url(../images/bg_files_upload_top.png); width:100%; height:51px;
}
.bg_files_upload_mid
{
	background:url(../images/bg_files_upload_mid.png); width:100%;
}
.bg_files_upload_top2
{
	background:url(../images/bg_files_upload_top2.png) no-repeat; height:48px;
}
.bg_files_upload_bottom
{
	background:url(../images/bg_files_upload_bottom.png); width:100%; height:87px;
}

#left_files 
{
	width:230px; height:auto; 
	float:left
}
#right_files 
{ 
	width:700px; height:auto; 
	float:left; padding-left:10px;
}
.files_search_box 
{
	width:230px; height:29px; 
	background:url(../images/bg_files_search_box.png); 
	margin-bottom:15px;
}

h1.title
{
	background: #453f8c url(../images/bg_files_bar.png) repeat-x scroll 50% 50%; 
	text-shadow: -2px 1px #111; 
	font-size: 18px; 
	letter-spacing: 1px; 
	color: white; 
	border-top: 1px solid #a4a4a4;
	border-bottom: 1px solid #a4a4a4; 
	border-left: 0px solid #c7c7c7; 
	border-right: 1px solid #c7c7c7; 
	margin: 0 0 0 0px; 
	padding: 5px 11px; 
	line-height: 1.1em; }
table#files_list tr.sub_title 
{ 
	background: #d6d6d4 repeat-x scroll 50% 50%; 
	font-size: 12px; letter-spacing: 1px; 
	color: black; margin: 0 0 0 0px; 
	padding: 5px 11px; line-height: 1.1em; 
}
table#files_filter h1.sub_title 
{ 
	background: #d6d6d4 repeat-x scroll 50% 50%; 
	font-size: 12px; letter-spacing: 1px; 
	color: black; margin: 0 0 0 0px; 
	padding: 5px 11px; line-height: 1.1em; 
}
table#files_filter
{
	border-left:#f4f4f4 solid 2px; 
	border-right:#f4f4f4 solid 2px; 
	border-bottom:#f4f4f4 solid 2px;
	-moz-box-shadow: 2px 2px 2px #f4f4f4; 
	webkit-box-shadow: 2px 2px 2px #f4f4f4; 
	box-shadow: 2px 2px 2px #f4f4f4;
	margin-bottom:10px;
	width: 230px;
}
p.files_paging
{
	font-weight:bold;
	text-align:right;
}
table#files_list
{
	border-left:#f4f4f4 solid 2px; 
	border-right:#f4f4f4 solid 2px; 
	border-bottom:#f4f4f4 solid 2px;
	-moz-box-shadow: 2px 2px 2px #f4f4f4; 
	webkit-box-shadow: 2px 2px 2px #f4f4f4; 
	box-shadow: 2px 2px 2px #f4f4f4;
	margin-bottom:10px;
	width:705px;
}
table#files_list tr.dark 
{ 
	background-color: #f8f8f8; height:50px; 
}
table#files_list tr.light 
{
	background-color: #ffffff; 
	border:none; 
	height:50px;
}
table#files_list tr.light td 
{
	border-bottom-style:solid; 
	border-bottom-color:#dedede; 
	border-bottom-width:2px;
}
table#files_list tr.dark td
{
	border-bottom-style:solid; 
	border-bottom-color:#dedede; 
	border-bottom-width:2px;
}
td.files_title 
{
	width:250px;
}
td.files_check 
{
	width:20px;
}
td.files_privacy 
{
	width:50px;
	text-align:center;
}
td.files_views 
{
	width:50px; 
	text-align:center;
}
td.files_length 
{
	width:50px; 
	text-align:center;
}
td.files_date 
{ 
	width:50px; 
	text-align:center;
}
td.files_empty_field 
{
	width:150px;
	text-align:center
}
td.files_download 
{ 
	width:80px;
}
td.files_title p.text 
{
	padding-bottom:10px; 
	float:left; 
	padding-left:5px;
}
td.files_title img.icon 
{
	float:left; 
	padding-left:5px;
}

/***********************/
/*       SUBNAV        */  
/***********************/
.subnav { margin: 0 0 0 160px; width: 100%; height: 27px; padding: 0; position: relative; top: 0px; left: 50px; background: transparent; overflow: hidden; font-family: Arial, Helvetica, sans-serif; display: block; }
.subnav li { list-style: none; float: left; text-align:center; }

.subnav li.back {
    background: url(../../img/lava.png) no-repeat right -27px;
    width: 7px; height: 26px;
    z-index: 8;
    position: absolute;
}
.subnav li.back .left {
    background: url(../../img/lava.png) no-repeat top left;
    height: 26px;
    margin-right: 7px;
}

.subnav li a:link, .subnav li a:visited { position: relative; overflow: hidden; color: #FFF; text-decoration: none; height: 16px; padding: 5px 20px 6px 20px; display: block; z-index: 10; text-align: center; font-size: 13px; margin-top: -2px; }
.subnav li a:focus, .subnav li a:hover, .subnav li a:active, .subnav li.current a { color: #f40123; }

/***********************************************/
/*              COMPOSE_NEW_MESSAGE PAGE       */
/***********************************************/
#compose_title{width:921px; display:block; margin:0px auto;}
#compose_title	#left_tile{width:15px; height:50px; background-image:url(../images/compose_bg_topleft_title.png); display:block; float:left; margin:0px auto; background-repeat:no-repeat;}
#compose_title	#center_tile{ width:890px; height:50px; background-image:url(../images/compose_bg_center_title.png);float:left; vertical-align:baseline;}
p.title{font:16px Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bolder; padding-top:12px;}
#compose_title	#right_tile{width:16px; height:50px; background-image:url(../images/compose_bg_topright_title.png); display:block; float:right; margin:0px auto;background-repeat:no-repeat;}

#compose_define_recip{width:923px; display:block; margin:0px auto;}
#compose_define_recip	#left_define_recip{width:12px; height:39px; background-image:url(../images/compose_bg_left_definerecip.png); display:block; float:left; margin:0px auto;background-repeat:no-repeat;}
#compose_define_recip	#center_define_recip{ width:899px; height:39px; background-image:url(../images/compose_bg_center_definerecip.png);float:left; vertical-align:baseline;}
p.define_recip{font:14px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; padding-top:10px;}
#compose_define_recip	#right_define_recip{width:12px; height:39px; background-image:url(../images/compose_bg_right_definerecip.png); display:block; float:right; margin:0px auto;background-repeat:no-repeat;}

.compose_left_contain{width:11px; height:140px; float:left; display:block; background-image:url(../images/compose_bg_left.png); margin:0px auto; }
.compose_center_contain{width:872px;  height:140px;float:left;display:block;margin:0px auto;}
.compose_right_contain{width:12px; height:140px; display:block; background-image:url(../images/compose_bg_right.png); margin:0px auto;float:right }

.tab_contain{
	width:184px;
	height:50px;
	background-repeat:no-repeat;
	float:left;
	font:16px Arial, Helvetica, sans-serif;
	font-weight:bolder;
	padding-top:2px;
	margin-top:15px;	
	text-align:center;
	
}
#email_contain{clear:both;width:800px; height:150px;display:block;margin-top:5px;}

#compose_sendmessage{
	width:920px;
	display:block;
	margin:0px auto;
	font-family: Arial, Helvetica, sans-serif;
}
#compose_sendmessage	#left_sendmessage{width:8px; height:40px; background-image:url(../images/compose_bg_left_sendmessage.png)); display:block; float:left; margin:0px auto;background-repeat:no-repeat; }
#compose_sendmessage	#center_sendmessage{ width:908px; height:40px; background-image:url(../images/compose_bg_center_sendmessage.png);float:left; vertical-align:baseline; }
p.send_message{font:14px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; padding-top:10px; padding-left:15px;}
#compose_sendmessage	#right_sendmessage{width:12px; height:40px; background-image:url(../images/compose_bg_right_sendmessage.png); display:block; float:right; margin:0px auto;background-repeat:no-repeat;}

.compose_group_function{width:920px; display:block; margin-left:14px;}
.left_group_function{width:8px; height:38px; background-image:url(../images/compose_bg_attachfile_left.png); display:block; float:left;background-repeat:no-repeat; }
.center_group_function{ width:908px; height:38px; background-image:url(../images/compose_bg_attachfile_center.png);float:left;}
.right_group_function{width:12px; height:38px; background-image:url(../images/compose_bg_attachfile_right.png); display:block; float:right; margin:0px auto;background-repeat:no-repeat;}

#compose_group_sendinvite_function{width:922px; display:block; margin:0px auto;}
.left_group_sendinvite_function{width:6px; height:40px; background-image:url(../images/compose_bg_sentinvite_left.png); display:block; float:left; margin:0px auto;background-repeat:no-repeat; }
.center_group_sendinvite_function{ width:908px; height:40px; background-image:url(../images/compose_bg_sentinvite_center.png);float:left; vertical-align:baseline; }
.right_group_sendinvite_function{width:12px; height:40px; background-image:url(../images/compose_bg_sentinvite_right.png); display:block; float:right; margin:0px auto;background-repeat:no-repeat;}

.compose_bg_bottom{width:922px; display:block; margin:0px auto; }
.left_bg_bottom{width:12px; height:29px; background-image:url(../images/compose_bg_bottom_left.png); display:block;  margin:0px auto;background-repeat:no-repeat;  float:left; margin-left:3px; margin-bottom:50px;}
.center_bg_bottom{ width:891px;height:7px; background-image:url(../images/compose_bg_center_bottom.png);float:left; vertical-align:baseline; margin-top:21px;margin-bottom:50px;}
.right_bg_bottom{width:15px; height:28px; background-image:url(../images/compose_bg_right_bottom.png); display:block; float:right; margin:0px auto;background-repeat:no-repeat;margin-right:1px;margin-bottom:50px;}


p.group_function{font:14px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; padding-top:8px; padding-left:15px;}
p.group_sendinvite_function{font:14px Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bolder; padding-top:8px; padding-left:15px;}
.compose_left_extend_contain{width:11px; height:250px; float:left; display:block; background-image:url(../images/compose_bg_left.png); margin:0px auto; }
.compose_center_extend_contain{width:850px; float:left;display:block; ; margin:0px auto; margin-left:20px;}
.compose_right_extend_contain{width:12px; height:250px; display:block; background-image:url(../images/compose_bg_right.png); margin:0px auto;float:right }

.compose_text{font:12px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; padding-top:10px;margin-left:4px;}
.compose_text_fild{font:12px Arial, Helvetica, sans-serif; }
p.text_in_tab{font:14px Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bolder; padding-top:7px;vertical-align:middle;}

a#buttonSend {
    display: block;
    width: 212px;
    height: 35px;
    background-image: url(../images/compose_btn_send.png);
    margin: 0 auto;
	background-repeat:no-repeat;
}
a#buttonSend:hover {
    background-image: url(../images/compose_btn_send_rollover.png);
	background-repeat:no-repeat;
}
a .alt { display: none; }

#buttonTab {
    display: block;
    width: 184px;
    height: 33px;
    background-image: url(../images/compose_bg_sendcontact_tab.png);
    margin: 0 auto;
	background-repeat:no-repeat;
	
}
.buttonTab {
    display: block;
    width: 184px;
    height: 33px;
    background-image: url(../images/compose_bg_sendcontact_tab.png);
    margin: 0 auto;
	background-repeat:no-repeat;
	
}
a#buttonTab:hover {
    background-image: url(../images/compose_emailaddress_tab.png);
	background-repeat:no-repeat;
}
a.buttonTab:hover {
    background-image: url(../images/compose_emailaddress_tab.png);
	background-repeat:no-repeat;
}
a .alt { display: none; }

.email_input {width:540px;margin-left:4px;margin-top:2px; border-style:solid;border-width:2px;border-color:#EBEBEB; text-indent:4px;
}

/**************************************/
/*              FRIENDS               */
/**************************************/

#left_friends 
{
	width:230px; height:auto; 
	float:left
}
#right_friends 
{ 
	width:700px; height:auto; 
	float:left; padding-left:10px;
}
h1.sub_title 
{ 
	background: #d6d6d4 repeat-x scroll 50% 50%; 
	font-size: 12px; letter-spacing: 1px; 
	color: black; margin: 0 0 0 0px; 
	padding: 5px 11px; line-height: 1.1em; 
}
p.files_paging
{
	font-weight:bold;
	text-align:right;
}
table#friends_request
{
	border-left:#f4f4f4 solid 2px; 
	border-right:#f4f4f4 solid 2px; 
	border-bottom:#f4f4f4 solid 2px;
	-moz-box-shadow: 2px 2px 2px #f4f4f4; 
	webkit-box-shadow: 2px 2px 2px #f4f4f4; 
	box-shadow: 2px 2px 2px #f4f4f4;
	margin-bottom:10px;
	width: 230px;
}
table#friends_request tr.dark 
{ 
	background-color: #f8f8f8; height:90px; 
}
table#friends_request tr.light 
{
	background-color: #ffffff; 
	border:none; 
	height:90px;
}
div.friends_avatar
{
	height:50px;
	width:100%;
	padding-top:10px;
}
div.friends_avatar img
{
	padding-left:10px;
}
div.friends_avatar p
{
	padding-left:10px;
}
div.friends_button
{
	height:30px;
	width:100%;
}
table#friends_request tr.light td 
{
	border-bottom-style:solid; 
	border-bottom-color:#dedede; 
	border-bottom-width:2px;
}
table#friends_request tr.dark td
{
	border-bottom-style:solid; 
	border-bottom-color:#dedede; 
	border-bottom-width:2px;
}
table#friends_list
{
	border-left:#f4f4f4 solid 2px; 
	border-right:#f4f4f4 solid 2px; 
	border-bottom:#f4f4f4 solid 2px;
	-moz-box-shadow: 2px 2px 2px #f4f4f4; 
	webkit-box-shadow: 2px 2px 2px #f4f4f4; 
	box-shadow: 2px 2px 2px #f4f4f4;
	margin-bottom:10px;
	width:705px;
}
table#friends_list tr.row 
{ 
	height:50px;
}
table#friends_list tr.row td
{ 
	padding-left:50px;
}
.bt_accept{ width:60px; height:24px; background:url(../images/bt_accept.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_accept:hover{ width:60px; height:24px; background:url(../images/bt_accept_rollover.png) no-repeat; margin:0px auto; cursor:pointer;}
.bt_deny{ width:60px; height:24px; background:url(../images/bt_deny.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_deny:hover{ width:60px; height:24px; background:url(../images/bt_deny_rollover.png) no-repeat; margin:0px auto; cursor:pointer;}
.bt_cancel{ width:75px; height:25px; background:url(../images/bt_cancel.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_cancel:hover{ width:75px; height:25px; background:url(../images/bt_cancel_rollover.png) no-repeat; margin:0px auto; cursor:pointer;}

#tooltip_sm_v { 
    display:none;
    background:transparent url(../../img/tooltip/val_arrow.png) no-repeat;
    font-size:14px;
    text-align: center;
    height:30px;
    width:160px;
    padding:19px 25px 25px;
    color:#333;
    font-weight: bold;
    font-style: italic;
}
.sub_title a {
    text-decoration: none;
    color: #595959;
    font-size: 14px;
}

.friends_avatar a {
    text-decoration: none;
    color: #595959;
    margin-left: 10px;
}

/***********************************************/
/*              CREATE_CONFERENCE PAGE         */
/***********************************************/


.save_conference{ width:227px; height:48px; background:url(../images/bt_save_conference.png) no-repeat; border:0px; cursor:pointer;}
.create_project{ width:227px; height:48px; background:url(../images/bt_createproject.png) no-repeat; border:0px; cursor:pointer;}
.subm
{
    display: block;
    width: 227px;
    height: 48px;
    background-image: url(../images/bt_save_conference.gif);
    margin: 0 auto;
    background-repeat:no-repeat;
    display:block;
    border:0px;
}

.subm:hover
{
    display: block;
    width: 227px;
    height: 48px;
    background-image: url(../images/bt_save_conference_rollover.gif);
    margin: 0 auto;
    background-repeat:no-repeat;
    display:block;
    border:0px;
}



a#button_save_change {
    display: block;
    width: 212px;
    height: 38px;
    background-image: url(../images/btn_save_change.png);
    margin: 0 auto;
	background-repeat:no-repeat;
}




a#button_save_change {
    display: block;
    width: 212px;
    height: 38px;
    background-image: url(../images/btn_save_change.png);
    margin: 0 auto;
	background-repeat:no-repeat;
}

a#button_save_change:hover {
    background-image: url(../images/btn_save_change_rollover.png);
	background-repeat:no-repeat;
}
a .alt { display: none; }

a#button_browse:hover {
    background-image: url(../../new/traffic_geyser_images/traffic_bt_end_meeting.png);
	background-repeat:no-repeat;
}
a .alt { display: none; }

a#button_browse {
    display: block;
    width: 212px;
    height: 38px;
    background-image:url(../../new/traffic_geyser_images/traffic_bt_end_meeting_rollover.png);
    margin: 0 auto;
	background-repeat:no-repeat;
}

/***********************************************/
/*              ACCOUNT_SETTING PAGE           */
/***********************************************/
#acc_setting_email{width:923px; display:block; margin:0px auto;}
#acc_setting_email	#left_email{width:12px; height:39px; background-image:url(../images/compose_bg_left_definerecip.png); display:block; float:left; margin:0px auto;background-repeat:no-repeat;}
#acc_setting_email	#center_email{ width:899px; height:39px; background-image:url(../images/compose_bg_center_definerecip.png);float:left; vertical-align:baseline;}
p.email{font:14px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; padding-top:10px; margin-left:2px;}
#acc_setting_email	#right_email{width:12px; height:39px; background-image:url(../images/compose_bg_right_definerecip.png); display:block; float:right; margin:0px auto;background-repeat:no-repeat;}

.acc_setting_left_contain{width:11px; height:90px; float:left; display:block; background-image:url(../images/compose_bg_left.png); margin:0px auto;}
.acc_setting_center_contain{width:872px;  height:90px;float:left;display:block; ; margin:0px auto; margin-left:20px;}
.acc_setting_right_contain{width:12px; height:90px; display:block; background-image:url(../images/compose_bg_right.png); margin:0px auto;float:right;}

#acc_setting_contain{
	width:920px;
	display:block;
	margin:0px auto;
	font-family: Arial, Helvetica, sans-serif;
}

#acc_setting_contain	#left_changepass{width:8px; height:40px; background-image:url(../images/compose_bg_left_sendmessage.png); display:block; float:left; ;background-repeat:no-repeat;}
#acc_setting_contain	#center_changepass{ width:907px; height:40px; background-image:url(../images/compose_bg_center_sendmessage.png);float:left; vertical-align:baseline; }
#acc_setting_contain #right_changepass{width:13px; height:40px; background-image:url(../images/compose_bg_right_sendmessage.png); display:block; float:right; margin:0px auto;background-repeat:no-repeat;}


#acc_setting_contain	#left_contain{width:8px; height:40px; background-image:url(../images/compose_bg_left_sendmessage.png); display:block; float:left; ;background-repeat:no-repeat;}
#acc_setting_contain	#center_contain{ width:905px; height:40px; background-image:url(../images/compose_bg_center_sendmessage.png);float:left; vertical-align:baseline; margin-left:2px;}
#acc_setting_contain #right_contain{width:13px; height:40px; background-image:url(../images/compose_bg_right_sendmessage.png); display:block; float:right; margin:0px auto;background-repeat:no-repeat;}

.acc_setting_left_extend_contain{width:11px; height:200px; float:left; display:block; background-image:url(../images/compose_bg_left.png); margin:0px auto; }
.acc_setting_center_extend_contain{width:872px; height:200px;float:left;display:block; ; margin:0px auto; margin-left:20px;}
.acc_setting_right_extend_contain{width:12px; height:200px; display:block; background-image:url(../images/compose_bg_right.png); margin:0px auto;float:right;}


p.acc_setting_title{font:14px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; padding-top:10px; margin-left:15px;}
#content_container a {
    color: #750998;
    text-decoration: none;
}
#content_container a:visited {
    color: #750998;
    text-decoration: none;
}

/***********************************************/
/*              BOX SETTING                    */
/***********************************************/

#box_body{width:945px; display:block; margin:0px auto; }
#box_body  #top_contain{min-width:600px; height:50px;  background-image:url(../images/box_top_bg.gif);background-repeat:no-repeat;margin:0px auto; }
#box_body  #mid_contain{min-width:600; min-height:30px; background-image:url(../images/box_mid_bg.gif);font:12px Arial, Helvetica, sans-serif; color:#595959;  padding:0px 5px 0px 1px; }
#box_body  #bottom_contain{min-width:600px; height:30px; background-image:url(../images/box_bottom_bg.gif); margin:0px auto; background-repeat:no-repeat; margin-bottom:40px; }

#box_title_tab{width:930px; min-height:38px ;background-image:url(../images/box_title_tab.gif);background-repeat:no-repeat;padding-left:20px;}
#box_title_tab:hover{width:930px; min-height:38px ;background-image:url(../images/box_title_tab_selected.gif);background-repeat:no-repeat;padding-left:20px;}

#box_title_tab_nohover{width:930px; min-height:38px ;background-image:url(../images/box_title_tab.gif);background-repeat:no-repeat;padding-left:20px;}

.box_body{width:945px; display:block; margin:0px auto; }
.box_body  #top_contain{min-width:600px; height:50px;  background-image:url(../images/box_top_bg.gif);background-repeat:no-repeat;margin:0px auto; }
.box_body  #mid_contain{min-width:600; min-height:30px; background-image:url(../images/box_mid_bg.gif);font:12px Arial, Helvetica, sans-serif; color:#595959;  padding:0px 5px 0px 1px; }
.box_body  #bottom_contain{min-width:600px; height:30px; background-image:url(../images/box_bottom_bg.gif); margin:0px auto; background-repeat:no-repeat; margin-bottom:40px; }

.box_title_tab{width:930px; min-height:38px ;background-image:url(../images/box_title_tab.gif);background-repeat:no-repeat;padding-left:20px;}
.box_title_tab:hover{width:930px; min-height:38px ;background-image:url(../images/box_title_tab_selected.gif);background-repeat:no-repeat;padding-left:20px;}

.box_title_tab_nohover{width:930px; min-height:38px ;background-image:url(../images/box_title_tab.gif);background-repeat:no-repeat;padding-left:20px;}
.tr_top_color{background-color:#d6d6d4;}
.tr_color{background-color:#f8f8f8;}

p.title_text{font:16px Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bolder; padding-top:12px;margin-left:20px;}
p.title_tab_text{font:14px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; padding-top:10px; }

input.txt_ind{
font:12px Arial, Helvetica, sans-serif;
text-indent:4px;
}
/**************************************/
/*              PROFILE               */
/**************************************/
#profile_introduce
{
	width:100%;
	height:auto;
	padding-bottom:30px;
}
.bt_addfriend{ width:152px; height:35px; background:url(../images/bt_addfriend.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_addfriend:hover{ width:152px; height:35px; background:url(../images/bt_addfriend_rollover.png) no-repeat; margin:0px auto; cursor:pointer;}
.bt_sendmessage{ width:152px; height:35px; background:url(../images/bt_sendmessage.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_sendmessage:hover{ width:152px; height:35px; background:url(../images/bt_sendmessage_rollover.png) no-repeat; margin:0px auto; cursor:pointer;}
.bt_moreinfo{ width:152px; height:35px; background:url(../images/bt_moreinfo.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_moreinfo:hover{ width:152px; height:35px; background:url(../images/bt_moreinfo_rollover.png) no-repeat; margin:0px auto; cursor:pointer;}
.bt_tryfree{ width:230px; height:47px; background:url(../images/bt_tryfree.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_tryfree:hover{ width:230px; height:47px; background:url(../images/bt_tryfree_rollover.png) no-repeat; margin:0px auto; cursor:pointer;}
.bt_join{ width:60px; height:24px; background:url(../images/bt_join.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_join:hover{ width:60px; height:24px; background:url(../images/bt_join_rollover.png) no-repeat; margin:0px auto; cursor:pointer;}

.bt_conference_nav{ width:100px; height:28px; background:url(../images/bt_conference_nav.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_conference_nav_active{ width:100px; height:28px; background:url(../images/bt_conference_nav_active.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_netsign_nav{ width:100px; height:28px; background:url(../images/bt_netsign_nav.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_netsign_nav_active{ width:100px; height:28px; background:url(../images/bt_netsign_nav_active.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_file_nav{ width:100px; height:28px; background:url(../images/bt_file_nav.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_file_nav_active{ width:100px; height:28px; background:url(../images/bt_file_nav_active.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_project_nav{ width:100px; height:28px; background:url(../images/bt_project_nav.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_project_nav_active{ width:100px; height:28px; background:url(../images/bt_project_nav_active.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_activity_nav{ width:100px; height:28px; background:url(../images/bt_activity_nav.png) no-repeat; margin:0px auto; cursor:pointer; }
.bt_activity_nav_active{ width:100px; height:28px; background:url(../images/bt_activity_nav_active.png) no-repeat; margin:0px auto; cursor:pointer; }
.sub_title 
{ 
	background: #d6d6d4 repeat-x scroll 50% 50%; 
	font-size: 12px; letter-spacing: 1px; 
	color: black; margin: 0 0 0 0px; 
}
.title
{
	background: #453f8c url(../images/bg_files_bar.png) repeat-x scroll 50% 50%; 
	text-shadow: -2px 1px #111; 
	font-size: 18px; 
	letter-spacing: 1px; 
	color: white; 
	border-top: 1px solid #a4a4a4;
	border-bottom: 1px solid #a4a4a4; 
	border-left: 0px solid #c7c7c7; 
	border-right: 1px solid #c7c7c7; 
	margin: 0 0 0 0px; 
	line-height: 1.1em; 
}
#left_files 
{
	width:230px; height:auto; 
	float:left
}
#right_files 
{ 
	width:700px; height:auto; 
	float:left; padding-left:10px;
}
.files_search_box 
{
	width:230px; height:29px; 
	background:url(../images/bg_files_search_box.png); 
	margin-bottom:15px;
}

h1.title
{
	background: #453f8c url(../images/bg_files_bar.png) repeat-x scroll 50% 50%; 
	text-shadow: -2px 1px #111; 
	font-size: 18px; 
	letter-spacing: 1px; 
	color: white; 
	border-top: 1px solid #a4a4a4;
	border-bottom: 1px solid #a4a4a4; 
	border-left: 0px solid #c7c7c7; 
	border-right: 1px solid #c7c7c7; 
	margin: 0 0 0 0px; 
	padding: 5px 11px; 
	line-height: 1.1em; }
table#files_list tr.sub_title 
{ 
	background: #d6d6d4 repeat-x scroll 50% 50%; 
	font-size: 12px; letter-spacing: 1px; 
	color: black; margin: 0 0 0 0px; 
	padding: 5px 11px; line-height: 1.1em; 
}
table#files_filter h1.sub_title 
{ 
	background: #d6d6d4 repeat-x scroll 50% 50%; 
	font-size: 12px; letter-spacing: 1px; 
	color: black; margin: 0 0 0 0px; 
	padding: 5px 11px; line-height: 1.1em; 
}
table#files_filter
{
	border-left:#f4f4f4 solid 2px; 
	border-right:#f4f4f4 solid 2px; 
	border-bottom:#f4f4f4 solid 2px;
	-moz-box-shadow: 2px 2px 2px #f4f4f4; 
	webkit-box-shadow: 2px 2px 2px #f4f4f4; 
	box-shadow: 2px 2px 2px #f4f4f4;
	margin-bottom:10px;
	width: 230px;
}
p.files_paging
{
	font-weight:bold;
	text-align:right;
}
table#files_list
{
	border-left:#f4f4f4 solid 2px; 
	border-right:#f4f4f4 solid 2px; 
	border-bottom:#f4f4f4 solid 2px;
	-moz-box-shadow: 2px 2px 2px #f4f4f4; 
	webkit-box-shadow: 2px 2px 2px #f4f4f4; 
	box-shadow: 2px 2px 2px #f4f4f4;
	margin-bottom:10px;
	width:705px;
}
table#files_list tr.dark 
{ 
	background-color: #f8f8f8; height:50px; 
}
table#files_list tr.light 
{
	background-color: #ffffff; 
	border:none; 
	height:50px;
}
table#files_list tr.light td 
{
	border-bottom-style:solid; 
	border-bottom-color:#dedede; 
	border-bottom-width:2px;
}
table#files_list tr.dark td
{
	border-bottom-style:solid; 
	border-bottom-color:#dedede; 
	border-bottom-width:2px;
}
table#files_list tr.sub_title a {
    color: #616161;
}
table#files_list tr.sub_title a:visited {
    color: #616161;
}
td.files_title 
{
	width:250px;
}
td.files_check 
{
	width:20px;
}
td.files_privacy 
{
	width:50px;
	text-align:center;
}
td.files_views 
{
	width:50px; 
	text-align:center;
}
td.files_length 
{
	width:50px; 
	text-align:center;
}
td.files_date 
{ 
	width:50px; 
	text-align:center;
}
td.files_empty_field 
{
	width:150px;
	text-align:center
}
td.files_download 
{ 
	width:80px;
}
td.files_title p.text 
{
	padding-bottom:10px; 
	float:left; 
	padding-left:5px;
}
td.files_title img.icon 
{
	float:left; 
	padding-left:5px;
}

/*Blue Button*/
#buttonCreateProject {
    display: block;
    width: 227px;
    height: 48px;
    background-image: url(../images/bt_createproject.png);
    margin: 0 auto;
    background-repeat:no-repeat;
    color: white;
    font-size: 18px;
} 

#buttonCreateProject:hover {
    background-image: url(../images/bt_createproject_rollover.png);
    background-repeat:no-repeat;
} 

a .alt { display: none; }

/****************************/
/* Affiliates Invite Page   */
/****************************/
#affiliates_message_block {
    background-color: #eeeeee;
    padding: 20px;
    margin-bottom: 25px;
}

#affiliates_message_block p {
    font-size: 16px;
    font:Arial, Helvetica, sans-serif;
}

#affiliates_message_block ul {
    line-height: 24px;
}

#affiliates_message_block ul li {
    font-weight: bold;
    font-size: 16px;
    font:Arial, Helvetica, sans-serif;
}

.modal {
    display: none;
    padding: 20px;
    border: 2px #000 solid;
    width: 400px;
    background: white;
}
;}

/***********************************************/
/*              TRAFFIC_BOX SETTING            */
/***********************************************/

#traffic_box_body{width:945px; display:block; margin:0px auto; }
#traffic_box_body  #top_contain{min-width:600px; height:40px;  background-image:url(../traffic_geyser_images/traffic_box_top_bg.gif);background-repeat:no-repeat;margin:0px auto; }
#traffic_box_body  #mid_contain{min-width:600; min-height:30px; background-image:url(../traffic_geyser_images/traffic_box_mid_bg.gif);font:12px Arial, Helvetica, sans-serif; color:#595959;  padding:0px 5px 0px 1px; }
#traffic_box_body  #bottom_contain{min-width:600px; height:180px; background-image:url(../traffic_geyser_images/traffic_box_bottom_bg.gif); margin:0px auto; background-repeat:no-repeat; margin-bottom:40px; }

#traffic_box_body .tr_top_color{background-color:#d6d6d4;}
#traffic_box_body .tr_color{background-color:#f8f8f8;}

input.txt_ind{font:12px Arial, Helvetica, sans-serif; color:#000;text-indent:4px;}


#traffic_box_title_tab{width:945px; height:38px ;background-image:url(../traffic_geyser_images/traffic_box_title_tab.gif);background-repeat:no-repeat;padding-left:20px;}

#traffic_box_body p.title_text{font:16px Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bolder; padding-top:12px;margin-left:20px;}
#traffic_box_body p.title_tab_text{font:14px Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bolder;padding-bottom:10px; }

#traffic_box_body input.txt_ind{
font:12px Arial, Helvetica, sans-serif;
text-indent:4px;

