{% extends 'blogango/base.html' %}

{% block title %} 
- Author {{ author }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url blogango_index %}">Blog</a></li>
    <li>Author: {{ author }}</li>
{% endblock %}

{% block blog_content %}
	{% for entry in author_posts %}
	    {% include 'blogango/entry_snippets.html' %}
	{% empty %}
	    <div class="leftblock"> 
	        <h1>No posts by this author</h1> 
	        <div class="postcontent">
	            <p>
	              <br/>
	              {{ author }} has not published any entries yet.
	            </p>
	        </div>
	    </div>
	{% endfor %}
{% endblock %} 
