{% extends "new_base.html" %}

{% load blogango_filters %}
{% blogango_extra_context %}
<head>

{% block extra_css_pre %}
<style type="text/css">
p{font-family: Arial, Helvetica, sans-serif; font-size:12px; font-style:normal; color:#393939;line-height:18px;  margin-bottom:15px; text-align:left;}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="{{ MEDIA_URL }}blogango/css/as_blog_styles.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}blogango/css/prettify.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold&subset=latin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Molengo&subset=latin' rel='stylesheet' type='text/css'>

{% if feed_url %}
<link rel="alternate" type="application/rss+xml" title="The Agiliq Blog - Django Web Development RSS Feed" href="{{feed_url}}" />
{% endif %}

{% if canonical_url %}
<link rel="canonical" href='{{ canonical_url }}' />
{% endif %}

<link rel="pingback" href="{{ pingback_xmlrpc_url }}" />

<script type="text/javascript" src="{{ MEDIA_URL }}blogango/js/prettify.js"></script> 

{% endblock %}


{% block account_links %}

{% endblock %}

{% block content %}

<!--BASE CONTAINER STARTS-->
<!--PAGE CONTAINER STARTS-->
<div id="page_container">
    <!-- BREADCRUMBS STARTS HERE -->
    <div id="breadcrumbs">
        <ul id="crumbs">
            <li><a href="/">Home</a></li>
            {% block breadcrumbs %}
            <li><a href="#">Main section</a></li>
            <li><a href="#">Sub section</a></li>
            <li>The page you are on right now</li>
            {% endblock %}
        </ul>
    </div>
    <!-- BREADCRUMBS STARTS HERE -->
    <!-- CONTENT BLOCK STARTS HERE -->
    <div id="content_block">
        <div class="leftpanel">
            {% block blog_content %}

            {% endblock %}
        </div>
        <div class="rightpanel">
            {% if recents %}
            <div id="blogposts_block">
                <div class="block_title">Posts</div>
                <ul class="list">
                    {% for recent in recents %}
                    <li><a href="{{ recent.get_absolute_url }}" title='{{ recent.title }}'>{{ recent.title|truncate_chars:40 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if tags %}
            <div id="categories_block">
                <div class="block_title" style="color:#FFF;">Topics</div>
                <ul class="list_left">
                    {% for tag in tags %}
                    <li><a href="{% url blogango_tag_details tag.slug %}" class='{% cycle "left" "right" %}'>{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </div>
            {% endif %}
            {% if archive_months %}
            <!--ARCHIEVES STARTS HERE-->
            <div id="archives_block">
                <div class="block_title">Archives</div>
                <ul class="list_left">
                    {% for month in archive_months %}
                    <li><a href="{% url blogango_archives month|date:'Y' month|date:'b' %}" class='{% cycle "left" "right" %}'>{{ month|date:'F Y' }}</a></li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </div>
            <!--ARCHIEVES ENDS HERE-->
            {% endif %}
            {% if blogroll %}
            <!--BLOGROLL STARTS HERE-->
            <div id="archives_block">
                <div class="block_title">BLOG ROLL</div>
                <ul class="list_left">
                    {% for br in blogroll %}
                    <li><a href="{{ br.url }}">{{ br.text }}</a></li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </div>
            <!--BLOGROLL ENDS HERE-->
            {% endif %}

        </div>
        <div class="clear"></div>
    </div>
    <!--  CONTENT BLOCK STARTS HERE -->
</div>
<!--PAGE CONTAINER ENDS-->
<!--BASE CONTAINER ENDS-->

{% endblock %}

{% block extrafooterscript %}

    <script type="text/javascript">
    $(document).ready(function() {
            prettyPrint();
            });
    </script>

{% endblock %}
