{% extends "blogango/base.html" %}

{% block title %}
{{block.super}} - Create
{% endblock %}

{% block main %}
<div id="columnA_2columns">

<div id="message">
Create a new entry.
</div>

<form action="." method="post">
<table>
{{create_form}}
</table>
<input type="submit" class="button" value="Post it" name="post" />
<input type="submit" class="button" value="Save as draft" name="save" />
</form>
</div>

{% endblock %}
