{% extends 'blogango/base.html' %}
{% load pingback_tags %}
{% load blogango_filters %}

{% block title %}
{{entry.title}} - {{block.super}}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url blogango_index %}">Blog</a></li>
<li><a href="{% url blogango_archives entry.created_on.year entry.created_on|date:'b' %}"> {{ entry.created_on|date:'N Y' }}</a></li>
<li>{{ entry.title }}</li>
{% endblock %}

{% block blog_content %}

{% with 'True' as post_detail %}
{% include 'blogango/entry_snippets.html' %}
{% endwith %}

{% if comments %}
<!--COMMENT BLOCK STARTS-->
<h1>Comments</h1>
{% for comment in comments %}
<div id="comments" class="commentor_block">
    <div class="leftnpanel">
        <span class="commentor">
            {% if comment.user_url %}
            <a href='{{ comment.user_url }}' rel='nofollow' target='_blank'>{{ comment.user_name }}</a>
            {% else %}
            {{ comment.user_name }}
            {% endif %}
        </span>   
        <span class="postdate">{{ comment.created_on|date:'jS N, Y' }}</span><br/>
        <div class="comment_post">
            <p>{{ comment.text|striptags|urlize|twitterize }}</p>
        </div>
    </div>
    <div class="rightnpanel">
        <img src="{% gravatar_url comment.email_id %}" width="50" height="50" alt="commmenttor" class="picborder"/> 
    </div>
    <div class="clear"></div>
</div>
{% endfor %}
<!--COMMENT BLOCK ENDS-->
{% endif %}
<div class="clear"></div>
{% if reactions %}
<!--REACTIONS BLOCK STARTS-->
<h1>Reactions</h1>
{% for reaction in reactions %}
<div id="reactions" class="commentor_block">
    <div class="leftnpanel">
        <span class="commentor">
            <a href="{{ reaction.user_url }}">
                {{ reaction.user_name }}
            </a>
        </span>
        <span class="postdate">{{ reaction.created_on|date:'jS N, Y' }}</span><br/>
        <div class="comment_post">
            <p>{{ reaction.text|safe|twitterize }}</p>
        </div>
    </div>
    <div class="rightnpanel">
        {% if reaction.profile_image %}
        <img src="{{ reaction.profile_image }}" width="50" height="50" alt="commmenttor" class="picborder" /> 
        {% endif %}
    </div>
    <div class="clear"></div>
</div>
{% endfor %}
<!--REACTION BLOCK ENDS-->
{% endif %}

<!--  Ping Backs starts -->
{% get_pingback_list for entry as pingbacks %}

{% if pingbacks %}
{% for pingback in pingbacks %}
<div class="comment_block">
    <span class="commentor">
        <!-- <a name='pingback-{{pingback.id}}' href='{{entry.get_absolute_url}}#pingback-{{ pingback.id }}'>permalink</a>  -->
    </span>
    <span class="postdate">{{ pingback.date|date:'jS N, Y' }}, pingback from {{ pingback.url|urlizetrunc:40 }}</span>
    <div class="comment_post">{{ pinback.content }}</div>
</div>
{% endfor %} 
{% endif %}
<!--  Ping Backs ends -->

<!--COMMENT FORM BLOCK STARTS-->
<div class="general_block">
    {% if entry.comments_allowed%}
    <form action="." method="post">
        <fieldset>
            <legend>Comments</legend>
            Name : {{comment_form.name.errors}}<br/> {{comment_form.name}} <br/>
            Email : {{comment_form.email.errors}} <br/> {{comment_form.email}} <br/>
            Your site url: {{comment_form.url.errors}} <br/> {{comment_form.url}} <br/>
            Comment : {{comment_form.text.errors}} <br/> {{comment_form.text}} <br/>
            <input name="button" type="submit"  id="button" value="Comment"  class="buttonGreenSmall"/>
        </fieldset>
    </form>
    {% else %}
    <div class="message">Comments are disabled.</div>
    {% endif %}
</div>
<!--COMMENT FORM BLOCK ENDS-->

{% endblock %}

