{% extends 'blogango/base.html' %}

{% block title %}
    {{block.super}} - Tagged with {{ tag.name }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url blogango_index %}">Blog</a></li>
    <li>Category: {{ tag.name }}</li>
{% endblock %}

{% block blog_content %}
	{% for entry in entries %}
	    {% include 'blogango/entry_snippets.html' %}
	{% empty %}
	    <div class="leftblock"> 
	        <h1>No entries with this tag</h1> 
	        <div class="postcontent">
	            <p>
	              <br/>
	              No entries tagged {{ tag.name }}
	            </p>
	        </div>
	    </div>
	{% endfor %}
{% endblock %}
