@charset "utf-8";
/* CSS Document */

/**************************************/
/*              GLOBALS              */
/**************************************/
body { background: url(../images/createaccount_bg.png) no-repeat center top; line-height:18px; font: normal 12px Arial, Helvetica, sans-serif; color:#888888;
}
#main_container {width:1000px; display:block; margin:0px auto; float:none;}

#header{margin:0 auto; float:none; padding-top: 116px; text-align:center; background: url(../images/devider_bg.png) no-repeat center bottom; padding-bottom:40px;}

#content{margin: 0 auto; float: none; text-align:center;}
#content h1{font: normal 32px Arial, Helvetica, sans-serif; color: #595959; line-height:50px; margin-top: 55px;}
#content h1 span{color:#750998;}
#content h1 a{border-bottom: 2px solid #750998; text-decoration: none; color: #750998;}
#content .purple{color: #750998;}