/* ie.css */
body {text-align:center; font-size: 12px; }
.container {text-align:left;}
* html .column {overflow-x:hidden;}
* html legend {margin:-18px -8px 16px 0;padding:0;}
ol {margin-left:2em;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
html>body p code {*white-space:normal;}
hr {margin:-8px auto 11px;}
.container ul { list-style: disc outside; margin-left: 2em; } /* IE can't handle :before and :after */
.container ul li { text-indent: 0; margin-left: 0; }
.container legend { margin-bottom: 1.6em; } /* IE form margin bug */
sup, sub { font-size: 100%; } /* IE superscript & subscript bug */
.container blockquote p, #content blockquote ul, #content blockquote ol, #content blockquote dl, #content blockquote pre, #content blockquote address, 
.container blockquote table, #content blockquote form, #content blockquote h1, #content blockquote h2, #content blockquote h3, #content blockquote h4, #content blockquote h5, #content blockquote h6 { margin-top: .8em; margin-bottom: .8em; } /* IE can't handle :first-child */
* html .container textarea, * html .container input { padding: 0; } /* IE < 7 form fix */
.container input[type='submit'], .container input[type='button'] { padding: 0; } /* IE 7 button fix */
.container legend+* { margin-top: 0; } /* we already added legend margin */
a abbr, a acronym { text-decoration: underline; } /* IE 7 bug */
fieldset legend { margin: 0; } /* IE 6 disappearing legend bug */

div { zoom: 1; /* trigger hasLayout - comes from Pinax setup */ }

/*****   NAVIGATION   *****/
/*.container #subnav_wrapper { height: 60px ! important; line-height: 1.3em; }
.container .subnav { height: 60px ! important; padding-bottom: 4px; }
.subnav li { height: 60px; }
.container .subnav li a:link, .subnav li a:visited { padding: 0px 20px 6px 20px ! important; }
.subnav li a {  height: 60px; }*/
.subnav li.back .left { padding-right: 20px ! important; }

/*****     FOOTER     *****/

.footer li { margin-left: 6px; margin-right: 8px;  }

/*****   HOME PAGE   *****/
#header_slideshow img {background:none !important;}

/*****   LIST TABLES   *****/

tr.items_list_row td { padding: 5px 10px; }
.row1 td { background: #efefef; }
.items_list_def td { font-size: 11px; }

/*****   CALENDAR   *****/

h2.calendar_top { width: 420px; }
h2.calendar_top img { position: relative; top: -6px; }
.calendar td { padding-top: 1px; }
div.cal_month_title { line-height: 0.8em; }


/*****   VIDEO PAGE   *****/

ul.video_details_list li { width: 100%; clear: both; margin: 0px ! important; display: block; }
/*.privacy_lock_right { position: static; }*/
/*ul.video_details_list li {  position: static; }*/

li.spacer_dd { margin:10px 0 0; }
#edit_form label { margin: 0px; padding: 0px; }

/*****   MP3 PLAYER   *****/

#player_volume_max { left:795px; }

/*****   PROFILES   *****/

ul.friends { margin: 0px; padding: 0px; }


/*****   CONFERENCE   *****/

#host_chat { float: left; }
.tabs_sm, #panel_actions { clear: left; float: left; }
.file_title { font-size: 11px; }
.quicksearch input { margin-top: -2px; }
.quicksearch .btn_close { margin-top: -14px; }

/*****   FEATURES   *****/

#features_nav li a { background-position: 10px center ! important; height: 30px; }

/*****   VMAIL   *****/

#vmail_attachments li { height: 60px; margin-left: 147px; }
#vmail_attachments li .listTitle { margin-top:-18px; }
.btn_vmailattach { float: right; margin-top: 12px; }
div#attach_file_list { position: relative; overflow: auto; width: 100%; }
/*table.items_list { width: 100%; }*/
.uni_form_list_check { display: inline; margin-top: -25px; margin-right: 10px; }

/*****   UPLOADER   *****/

#upload_types { margin-right: 40px;text-align:left; width: 400px; height: 100px; white-space: normal ! important; overflow: hidden; word-spacing: 15px; text-align: left; }

.bottom_container{ clear:both; width:985px;  display:block; margin:0px; padding:0px; margin-left:15px; margin-top:-205px;}

/*
.tabs_holder{width:750px; float:left; list-style-type:none;  }
div.panes div { display:none; padding: 12px 0px 12px 0px;float:left; margin-left:-40px; }
*/

.bbicon { margin-right:30px; float:right; margin-top:25px;}

a#tutorial { width: 79px; height: 21px; background: transparent url(/site_media/img/btn_tutorial.png) top center no-repeat; display: block; float: right; position: absolute; top: -24px; right: 16px; cursor: pointer; text-indent: -9999px; }

#footer_right li{ list-style-type:none; display:inline;margin:0px; padding:0px;}
#footer_right li a{ list-style-type:none; display:inline;margin:0px; padding:0px;}
#footer_right li a:hover{ list-style-type:none; display:inline;margin:0px; padding:0px;}
#footer_left li{ list-style-type:none; display:inline;margin:0px; padding:0px;}
#footer_left li a{ list-style-type:none; display:inline;margin:0px; padding:0px;}
#footer_left li a:hover{ list-style-type:none; display:inline;margin:0px; padding:0px;}
.bull{ width:10px; margin:0px; padding:0px; text-align:center;}


#subnav_wrapper { height: 23px; padding-top: 2px; background: #4b4b4b url(../img/bg_subnav.png) 50% 50% repeat-x; border-top: 1px solid #a4a4a4; }

.subnav { margin: 0 0 0 160px; width: 100%; height: 23px; padding: 0; position: relative; top: 1px; left: 50px; background: transparent; overflow: hidden; font-family: "Futura Medium", "Futura", "Century Gothic", "Apple Gothic", sans-serif; display: block; }
.subnav li { list-style: none; float: left; text-align: center; }

.subnav li.back {
    background: url(../img/lava.png) no-repeat right -27px;
    width: 7px; height: 25px;
    z-index: 8;
    position: absolute;
}
.subnav li.back .left {
    background: url(../img/lava.png) no-repeat top left;
    height: 25px;
    margin-right: 7px;
}

.subnav li a:link, .subnav li a:visited { position: relative; overflow: hidden; color: #c7c7c7; text-decoration: none; height: 16px; padding: 1px 25px 6px 30px; display: block; z-index: 10; text-align: center; font-size: 13px; margin-top: -2px; }
.subnav li a:focus, .subnav li a:hover, .subnav li a:active, .subnav li.current a { color: #fff; }

.uni_form_list_check { float: left; margin-right: 6px; margin-top:0px; margin-left: 0px; display:block;  }

.notices_list_hilite { background: #fdd6e9; border-bottom: 0px solid #c7b2db; width: 851px; margin: 0 0 0 39px; padding: 8px 10px; vertical-align: middle; text-align: left; font-size: 12px; line-height: 1.3em; display:block; }

.button{margin-top:10px;}
.padtopten{padding-top:10px; background-color:#039;}
.greybgnew{background-color:#EFEFEF;}



/*--------------------------
PROJECTS PAGE
--------------------------*/
#projects_name{width:985px; margin:0px auto; display:block; }
#projects_name div{ margin:0px; padding:0px; }
#projects_name form{ margin:0px; padding:0px; }
#projects_name #left_buttons{width:245px; display:block; float:left; margin:40px 0px 0px 0px;}
#projects_name #leftbuttons{width:245px; display:block; float:left; margin:30px 0px 0px 0px;}
#projects_name #right_texteditor{width:685px; display:block; float:right; margin:10px 10px 0px 0px; border:2px solid #FFF; padding:5px 10px 5px 10px;}
#projects_name #right_texteditor textarea{width:685px; height:50px; background-color:#FFF; padding:0px; margin:0px; margin-right:10px; margin-bottom:5px;}
.replybut{width:150px; height:38px; background:url(../img/reply_but.png) no-repeat; border:0px; cursor:pointer; margin-right:3px;}
.replybut:hover{width:150px; height:38px; background:url(../img/reply_but.png) no-repeat 0px -38px; border:0px; cursor:pointer;margin-right:3px;}
.right{float:right; padding-left:5px;}
.clearentry{float:right; }
.leftalign{float:left; padding-right:5px;}
.joinconf_but{width:233px; height:37px; background:url(../img/project_buttons.png) no-repeat; border:0px; cursor:pointer; margin-bottom:10px; }
.joinconf_but:hover{width:233px; height:37px; background:url(../img/project_buttons.png) no-repeat 0px -103px; border:0px; margin-bottom:10px;}
.project_but{width:233px; height:37px; background:url(../img/project_buttons.png) no-repeat 0px -44px; border:0px; cursor:pointer; }
.project_but:hover{width:233px; height:37px; background:url(../img/project_buttons.png) no-repeat 0px -147px; border:0px; }
#project_block{ }
.project_title{font-size:13px ; font-weight:bold; line-height:26px; color:#ffffff; padding-left:15px; background:url(../img/title_bg.jpg) repeat-x;}
#project_detail{ margin:10px 0px 30px 0px; clear:both;  }
.dashed_border{ border-bottom:1px dashed #CCC; padding:5px 0px 40px 0px;}
.parent_comment{width:680px; display:block; padding:10px;}
.reply_comment{width:530px; display:block; margin:10px; margin:0px auto;}
.reply_comment img{ float: left; padding:5px 15px 5px 0px;}
.reply_comment ul{ list-style-type:none;  background-color:#f0f0f0;  min-height:50px; padding:10px;}
.reply_but{ float:right; padding:5px 0px 0px 0px;}
#projects_base{width:985px; margin:0px auto; display:block;}
#projects_base #left_navi{width:245px; display:block; float:left; }
#projects_base #right_content{width:705px; display:block; float:right;}
#right_content li{ margin:0px; padding:0px;}
.items_list_projects{} 
.items_list_project .row1 { background: #efefef; text-align:left; margin:0px; padding:0px; }
.items_list_project .row2 { background: #fff; text-align:left; margin:0px; padding:0px;}
#projects_base #left_navi ul{ font-size:16px; font-weight:bold; color:#FFF; margin:0px; padding:0px;}
#projects_base #left_navi li{  font-size:12px; font-weight:normal;  margin:0px; padding:0px;  }
#projects_base #left_navi li a{ list-style-type:none; font-size:12px; padding-left:15px; font-weight:normal;  margin:0px; }
#projects_base #left_navi li a:hover{ list-style-type:none; font-size:12px; padding-left:15px; font-weight:normal;  margin:0px; }
.avatarcomment{float:left; padding:18px 10px 0px 0px; height:100px; }
.commentor_pic{float:left; padding:18px 10px 0px 0px; height:100px;width:50px; }
li.pro_white{background:url(../img/projects_whitelist.gif) no-repeat left top; width:243px; line-height:24px; list-style-type:none; color:#333;margin:0px; padding:0px;}
li.pro_white a{background:url(../img/projects_whitelist.gif) no-repeat left top; width:243px; line-height:24px; list-style-type:none; color:#333;margin:0px; padding:0px;}
li.pro_white a:hover{ width:243px; line-height:24px; list-style-type:none; color:#000;}
li.pro_grey{background:url(../img/projects_greylist.gif) no-repeat left top; width:243px; line-height:24px; list-style-type:none; color:#333; margin:0px; padding:0px;}
li.pro_grey a{background:url(../img/projects_greylist.gif) no-repeat left top; width:243px; line-height:24px; list-style-type:none; color:#333;margin:0px; padding:0px;}
li.pro_grey a:hover{  width:243px; line-height:24px; list-style-type:none; color:#000;}
li.currentproject{background:url(../img/projects_active.gif) no-repeat left top; width:243px;  list-style-type:none; color:#333;font-size:14px ; color:#ffffff; font-weight:bold; display:block; line-height:26px;}
li.currentproject a{background:url(../img/projects_active.gif) no-repeat left top; width:243px; line-height:24px; list-style-type:none; color:#ffffff;margin:0px; padding:0px;}
li.currentproject a:hover{background:url(../img/projects_active.gif) no-repeat left top; width:243px; line-height:24px; list-style-type:none; color:#ffffff;}
li#participants{background:url(../img/grey_titlebg.jpg) repeat-x; width:220px; line-height:24px; list-style-type:none;font-size:16px; font-weight:bold; color:#FFF;
margin-right:22px;}
.create_project{width:800px; margin:0px auto; display:block;}
.create_project #hint_id_slug{ float:right; margin-top:-10px; font-size:10px; line-height:14px; width:200px;}
.create_project input, textarea { margin-left:20px; width:120px; }
.positive{margin-top:-1px;}
.iefix{margin:0px; padding:0px;}
.iefix ul {margin:0px; padding:0px;}
.iefix li {margin:0px; padding:0px;}
.eventlistnew{display:block; margin-left:-40px; position:relative;float:left;}
.medialistnew{display:block; margin-left:0px; position:relative; float:left;}
.create_project{width:800px; margin:0px auto; display:block;}
.create_project #hint_id_slug{ float:right; margin-top:-35px; font-size:10px; line-height:14px; width:200px;}
#project_form { width:780px; margin:0px auto;}
#project_form label{ display:inline; width:250px; float:left;}
#project_form #id_slug, #id_name {margin-left:0px;}

.cal_month_title { display:inline; padding:5px 25px 10px 25px; position:relative; top:0em; font-weight: normal; text-transform: uppercase; font-size: 18px; letter-spacing: 1px; color: white; }

.lightSwitcher {position:relative; z-index:101; background-image:url(../images/light_bulb_off.png);background-repeat:no-repeat; background-position:left; outline:none; text-decoration:none; color:#FFF; float:right;  margin-top:50px; padding:0px 0px 0px 20px;}
.lightSwitcher:hover {text-decoration:underline; color:#FFF;}
