.jcarousel-skin-tango .jcarousel-container {
	background: #FFF;
	width: 900px;
	display:block;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 900px;
	margin:0px auto;
	text-align:center;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width:  900px;
		margin:0px auto;
	text-align:center;

}
.jcarousel-skin-tango .jcarousel-item {
	width: 900px;
		margin:0px auto;
	text-align:center;

}
.jcarousel-skin-tango .jcarousel-item-horizontal {
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
		margin:0px auto;
	text-align:center;

}
