body {  }

#logo_main_lg { margin: -8px auto 4px; }

/*#content_wrapper { background: white url(../img/efusjon_bg.jpg) bottom center no-repeat; }*/
/*#content { padding-bottom:140px; }*/
#content { padding-bottom:16px; }

/*#home_main_links { background: #ff8b02 ! important; background-image: none; }*/

#home_main_splash { background: transparent url(../img/home_panel_nuriche.jpg) no-repeat; width: 608px; height: 342px; float: right; margin: 14px 12px 0 0px; }
#nav { margin-left: 100px; }

h4.home_subtitle { color: #b81a6f; }

#footer_right { float: left; margin: 16px 195px 0px; }
.logo_netconference { float: left; margin-top: 16px; }
.logo_nxtgen_pwrd { float: left; margin-top: 16px; }

#content_950_top { width:950px;height:10px;overflow:hidden;padding:0px;background: transparent url(../img/bg_content_top_950.png) top center no-repeat;margin:0 auto; }
#content_950_mid { width:938px; min-height: 400px; overflow: auto; padding:12px 6px;background:white;margin:0 auto; }
#content_950_bot { width:950px;height:10px;overflow:hidden;padding:0px;background: transparent url(../img/bg_content_bot_950.png) top center no-repeat;margin:0 auto; }

/* Purple */
body .purpleBtn { color: #830e4c ! important; /*background: #e9bbc8 ! important;*/ border:1px solid #b81a6f ! important; }
.container a.purpleBtn:hover, .container button.purpleBtn:hover {
  background: #b81a6f ! important;
  border:1px solid #b81a6f;
  color: #fff ! important;
b81a6f}
.container a.purpleBtn:active, .container button.purpleBtn:active {
  background:#b81a6f ! important;
  border:1px solid #b81a6f;
  color:white;
}

.left_panel { margin-left: 12px; }
