{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Features" %}{% endblock %}

{% block extra_head %}
<style type="text/css">
    .features_top {
        text-shadow: none;
        padding: 10px;

background:url({{ MEDIA_URL }}/images/gradient_line.gif) center top no-repeat;
    }
	.features_bottom {

height:3px;
background:url({{ MEDIA_URL }}/images/gradient_line.gif) center top no-repeat;
    }
    .features_top h1 {
        color: #595959;
    }
    #banner_left {
        
        color: #750998;
        width: 900px;
        font:  bold 28px Arial,Helvetica,sans-serif;
        line-height: 38px;      
		margin:0px auto;
		text-align:center;
		letter-spacing:-1px;
    }
    #banner_right {
        width: 900px;
        color: #5A5A5A;
        float:right;       
		margin:0px auto;
		text-align:center;
    }
</style>
{% endblock %}
{% block nav %}
	{% include "site_nav.html" %}
{% endblock %}

{% block body %}
<style>#content { background: transparent url({{ MEDIA_URL }}/img/bg_content.png) 0px -300px repeat-x; }</style>
<a name="online_meetings"></a><div class="container features_top" >
    <div id="banner_left">
        {% trans "Online Collaboration Business Suite" %}
    </div>
    <div id="banner_right">
{% blocktrans %}   <span style="font-size:16px;  color:#595959;"> We are not just another web conferencing tool. <br/>
NetConference is a Complete System for Communication, Collaboration, Education and Presentation.    </span>
{% endblocktrans %}    </div>
</div>
<div class="container features_bottom" ></div>
{% endblock %}

{% block content950bot %}
{% endblock %}


