{% extends "features/base.html" %}
{% load i18n %}

{% block subcontent %}
<div class="container">
    <ul id="features_nav">
        <li><a href="{% url features_webconference %}" class="features_webconference">{% trans "Video Web Conferencing" %}</a></li>
        <!--<li><a href="{% url features_netsign %}" class="features_netsign">{% trans "NetSign Digital Signature" %}</a></li>-->
        <li><a href="{% url features_files %}" class="features_files">{% trans "Large File Upload, Storage and Download" %}</a></li>
        <li><a href="{% url features_svod %}" class="features_svod">{% trans "Synchronized Video/File Presentations" %}</a></li>
        <li><a href="{% url features_desktop %}" class="features_desktop current">{% trans "Desktop Sharing and Collaboration" %}</a></li>
        <li><a href="{% url features_vmail %}" class="features_vmail">{% trans "Video E-mail" %}</a></li>
        <li><a href="{% url features_company %}" class="features_company">{% trans "Social Company Files and Media Content" %}</a></li>
        <li><a href="{% url features_scheduler %}" class="features_schedulerbut">{% trans "Event Scheduler" %}</a></li>
        <li><a href="{% url features_groupchat %}" class="features_groupchat">{% trans "Group Chat" %}</a></li>
        <li><a href="{% url features_telephony %}" class="features_telephonybut">{% trans "Telephone Conference and PIN Numbers" %}</a></li>
        <li><a href="{% url features_rebrand %}" class="features_rebrand">{% trans "Re-Brand Your Entire Suite" %}</a></li>
        <li><a href="{% url features_social %}" class="features_social">{% trans "Social Networking Tools" %}</a></li>
        <li><a href="{% url features_hd %}" class="features_hd">{% trans "High Definition Presentations" %}</a></li>
        <li><a href="{% url features_contacts %}" class="features_contacts">{% trans "Import Contacts" %}</a></li>
    </ul>
    <div id="features_content">
        <br />
        <img src="{{ MEDIA_URL }}img/icon_desktop_sharing.gif" alt="{% trans "Desktop Sharing" %}" border="0" />
        <br />
        <p><em>{% blocktrans %}Share websites, Powerpoint presentations, applications, documents and any other program 
in real time with meeting attendees{% endblocktrans %}</em></p>
        <p style="font-weight:bold; font-size:18px;"><strong>{% trans "Synchronized Desktop Sharing" %}</strong></p>
        <p>{% blocktrans %}Having your clients see what you see, in real time is an incredibly powerful experience. The NetConference Your Office in the Cloud desktop sharing tool works in concert with the other features of the site to give a seamless presentation experience to your attendees. Share part of your desktop or all of it with customized controls to serve your exact needs.{% endblocktrans %}</p>
        <br />
       	{% include "features/signup_link_frag.html" %}
    </div>
    
</div>
{% endblock %}
