{% extends "features/base.html" %}
{% load i18n %}

{% block subcontent %}
<div class="container">
    <ul id="features_nav">
        <li><a href="{% url features_webconference %}" class="features_webconference">{% trans "Video Web Conferencing" %}</a></li>
       <!--<li><a href="{% url features_netsign %}" class="features_netsign">{% trans "NetSign Digital Signature" %}</a></li>-->
        <li><a href="{% url features_files %}" class="features_files">{% trans "Large File Upload, Storage and Download" %}</a></li>
        <li><a href="{% url features_svod %}" class="features_svod">{% trans "Synchronized Video/File Presentations" %}</a></li>
        <li><a href="{% url features_desktop %}" class="features_desktop">{% trans "Desktop Sharing and Collaboration" %}</a></li>
        <li><a href="{% url features_vmail %}" class="features_vmail">{% trans "Video E-mail" %}</a></li>
        <li><a href="{% url features_company %}" class="features_company">{% trans "Social Company Files and Media Content" %}</a></li>
        <li><a href="{% url features_scheduler %}" class="features_schedulerbut">{% trans "Event Scheduler" %}</a></li>
        <li><a href="{% url features_groupchat %}" class="features_groupchat current">{% trans "Group Chat" %}</a></li>
        <li><a href="{% url features_telephony %}" class="features_telephonybut">{% trans "Telephone Conference and PIN Numbers" %}</a></li>
        <li><a href="{% url features_rebrand %}" class="features_rebrand">{% trans "Re-Brand Your Entire Suite" %}</a></li>
        <li><a href="{% url features_social %}" class="features_social">{% trans "Social Networking Tools" %}</a></li>
        <li><a href="{% url features_hd %}" class="features_hd">{% trans "High Definition Presentations" %}</a></li>
        <li><a href="{% url features_contacts %}" class="features_contacts">{% trans "Import Contacts" %}</a></li>
    </ul>
    
    <div id="features_content">
        <br />
        <img src="{{ MEDIA_URL }}img/icon_group_chat.gif" alt="{% trans "Group chat" %}"  border="0" />
        <br />
        <p><em>{% trans "Create on-the-fly group text chat rooms." %}</em></p>
        <p style="font-weight:bold; font-size:18px;"><strong>{% trans "Your Community's Real-Time Message Board" %}</strong></p>
        <p>{% blocktrans %}NetConference suites are equipped with fast, efficient chat systems to make online digital communication fast and efficient. Chat is combined into the conference room with VOIP, video, whiteboard, shared media and webinar functionalities to create the ultimate collaboration system.{% endblocktrans %}</p>
        <br />
        	{% include "features/signup_link_frag.html" %}
    </div>
    
</div>
{% endblock %}
