{% extends "features/base.html" %}
{% load i18n %}

{% block subcontent %}
<div class="container">
    <ul id="features_nav">
        <li><a href="{% url features_webconference %}" class="features_webconference">{% trans "Video Web Conferencing" %}</a></li>
        <!--<li><a href="{% url features_netsign %}" class="features_netsign current">{% trans "NetSign Digital Signature" %}</a></li>-->
        <li><a href="{% url features_files %}" class="features_files">{% trans "Large File Upload, Storage and Download" %}</a></li>
        <li><a href="{% url features_svod %}" class="features_svod">{% trans "Synchronized Video/File Presentations" %}</a></li>
        <li><a href="{% url features_desktop %}" class="features_desktop">{% trans "Desktop Sharing and Collaboration" %}</a></li>
        <li><a href="{% url features_vmail %}" class="features_vmail">{% trans "Video E-mail" %}</a></li>
        <li><a href="{% url features_company %}" class="features_company">{% trans "Social Company Files and Media Content" %}</a></li>
        <li><a href="{% url features_scheduler %}" class="features_schedulerbut">{% trans "Event Scheduler" %}</a></li>
        <li><a href="{% url features_groupchat %}" class="features_groupchat">{% trans "Group Chat" %}</a></li>
        <li><a href="{% url features_telephony %}" class="features_telephonybut">{% trans "Telephone Conference and PIN Numbers" %}</a></li>
        <li><a href="{% url features_rebrand %}" class="features_rebrand">{% trans "Re-Brand Your Entire Suite" %}</a></li>
        <li><a href="{% url features_social %}" class="features_social">{% trans "Social Networking Tools" %}</a></li>
        <li><a href="{% url features_hd %}" class="features_hd">{% trans "High Definition Presentations" %}</a></li>
        <li><a href="{% url features_contacts %}" class="features_contacts">{% trans "Import Contacts" %}</a></li>
    </ul>
    
    <div id="features_content">
        <br />
        <img src="{{ MEDIA_URL }}img/features_content_netsign.gif" alt="{% trans "Webconferencing" %}"  border="0" />
        <br />
        <p><em>{% blocktrans %}Send and Sign Agreements in Half the Time with NetSign Digital Signature Service{% endblocktrans %}</em></p>
        <p style="font-weight:bold; font-size:18px;"><strong>{% trans "Send, Sign Done!" %}</strong></p>
        <p>{% trans "How it works:" %}</p>
        <ol>
        	<li>{% blocktrans %}Upload &amp; Send - Simply use our intuitive, web-based form to upload and email an agreement to one or multiple parties for signature. With no software to download and no technical ability required, the entire process is simple, straight forward, fast and secure.{% endblocktrans %}</li>
        	<li>{% blocktrans %}They Sign - Watch as your clients light up to how fast your deals get done. Hassle free, and with only a few short mouse clicks, your parties have opened your email, signed the agreement and you've closed the deal!{% endblocktrans %}</li>
        	<li>{% blocktrans %}Deal's Done! - We notify you of a signed contract the moment they sign. No more waiting by the fax machine or embarrassing inquiring phone calls. The second the deal closes everyone has a PDF  version of the legally binding, signed contract waiting for them in their email. It's that fast…it's that easy!{% endblocktrans %}</li>
        </ol>
        <p>{% blocktrans %}Is it legal? - Chances are if you've ever filed your taxes electronically you've already used Digital Signatures. Many of today's leading corporations including Brokerage Houses, Real Estate Companies, Law Firms and not to mention the US Government rely solely on digital signatures to conduct their business. On October 1, 2000, Bill Clinton signed the Federal E-SIGN Act ushering in a new age of electronic document signature. By unanimously passing this Federal Law, it now made signing documents digitally equivalent to a handwritten signature on a piece of paper. Short answer, if they click to sign…you got the deal!{% endblocktrans %}</p>
        <p>{% blocktrans %}Is it Secure? - We take every precaution to ensure the safety of your transaction. From encrypted emails to fraud and tamper-resistant documents, you can rest assured that every step of the process is monitored by the NetSign Team. Every signed agreement is held safely in your password protected account for archival and future review. {% endblocktrans %}</p>
        <p>{% blocktrans %}We Stand Behind You - Every document signed is backed by our guarantee that every step of the process is in compliance with the Federal E-SIGN Act. Equally important, your clients, customers and colleagues are clearly notified that they have been sent a document for legal and binding signature. Upon execution, NetSign provides all parties with a copy of the signed agreement. {% endblocktrans %}</p>
        <p>{% trans "Related Articles and Resources:" %}</p>
        <p><a href="http://www.abanet.org/scitech/ec/isc/dsg-tutorial.html" target="_blank">http://www.abanet.org/scitech/ec/isc/dsg-tutorial.html</a></p>
        <p><a href="http://en.wikipedia.org/wiki/Electronic_signature" target="_blank">http://en.wikipedia.org/wiki/Electronic_signature</a></p>
        <p><a href="http://library.findlaw.com/1999/Jan/1/241481.html" target="_blank">http://library.findlaw.com/1999/Jan/1/241481.html</a></p>
        <br />
        {% include "features/signup_link_frag.html" %}
    </div>
    
</div>
{% endblock %}
