{% extends "features/newer_base.html" %}
{% load i18n %}
{% block features_content %}
<div class="container">
    <ul id="features_nav">
        <li><a href="{% url features_webconference %}" class="features_webconference">{% trans "Video Web Conferencing" %}</a></li>
        <li><a href="{% url features_no_software %}" class="features_software">{% trans "No Software To Download" %}</a></li>
        <!--<li><a href="{% url features_netsign %}" class="features_netsign">{% trans "NetSign Digital Signature" %}</a></li>-->
        <li><a href="{% url features_files %}" class="features_files">{% trans "Large File Upload, Storage and Download" %}</a></li>
        <li><a href="{% url features_svod %}" class="features_svod">{% trans "Synchronized Video/File Presentations" %}</a></li>
        <li><a href="{% url features_desktop %}" class="features_desktop">{% trans "Desktop Sharing and Collaboration" %}</a></li>
        <li><a href="{% url features_multiuser %}" class="features_multiuser">{% trans "Multi-User Whiteboard" %}</a></li>
		<li><a href="{% url features_recorded %}" class="features_recordedconf">{% trans "Record Conferences" %}</a></li>
		<li><a href="{% url features_vmail %}" class="features_vmail">{% trans "Video Email " %}</a></li>
        <li><a href="{% url features_company %}" class="features_company current">{% trans "Socialize Company Files and Media Content" %}</a></li>
        <li><a href="{% url features_scheduler %}" class="features_schedulerbut">{% trans "Event Scheduler" %}</a></li>
        <li><a href="{% url features_groupchat %}" class="features_groupchat">{% trans "Group Chat" %}</a></li>
        <li><a href="{% url features_full_voip %}" class="features_voip">{% trans "Full VoIP Interconnectivity" %}</a></li>
        <li><a href="{% url features_telephony %}" class="features_telephonybut">{% trans "Telephony Conference Bridge and Pin Number" %}</a></li>
        <li><a href="{% url features_rebrand %}" class="features_rebrand">{% trans "Re-Brand Your Entire Suite" %}</a></li>
        <li><a href="{% url features_social %}" class="features_social">{% trans "Social Networking Tools" %}</a></li>
        <li><a href="{% url features_hd %}" class="features_hd">{% trans "High Definition Presentations" %}</a></li>
        <li><a href="{% url features_contacts %}" class="features_contacts">{% trans "Connected to Google Docs, Calendar <br />and Contacts" %}</a></li>
    </ul>
    
    <div id="features_content">
        <br />
        <img src="{{ MEDIA_URL }}img/socialize_banner.png" alt="{% trans "Company Files" %}"  border="0"  />
		<br /><br />
        <p><em>{% blocktrans %}Connect your site with your community's content.{% endblocktrans %}</em></p>
        <p style="font-weight:bold; font-size:15px;">{% trans "Upload once, share with everyone." %}</p>
        <p>{% blocktrans %}Acquiring, producing and promoting digital content internally within your organization or throught the social networks has never been easier. NetConference makes it possible to upload once and share your media content on a massive basis through both public and password protected media portals.{% endblocktrans %}</p>

               <br />
        	{% include "features/signup_link_frag.html" %}
    </div>
    
</div>
{% endblock %}
