{% extends "features/newer_base.html" %}
{% load i18n %}
{% block features_content %}
<div class="container">
    <ul id="features_nav">
        <li><a href="{% url features_webconference %}" class="features_webconference">{% trans "Video Web Conferencing" %}</a></li>
        <li><a href="{% url features_no_software %}" class="features_software">{% trans "No Software To Download" %}</a></li>
        <!--<li><a href="{% url features_netsign %}" class="features_netsign">{% trans "NetSign Digital Signature" %}</a></li>-->
        <li><a href="{% url features_files %}" class="features_files">{% trans "Large File Upload, Storage and Download" %}</a></li>
        <li><a href="{% url features_svod %}" class="features_svod current">{% trans "Synchronized Video/File Presentations" %}</a></li>
        <li><a href="{% url features_desktop %}" class="features_desktop">{% trans "Desktop Sharing and Collaboration" %}</a></li>
        <li><a href="{% url features_multiuser %}" class="features_multiuser">{% trans "Multi-User Whiteboard" %}</a></li>
		<li><a href="{% url features_recorded %}" class="features_recordedconf">{% trans "Record Conferences" %}</a></li>
		<li><a href="{% url features_vmail %}" class="features_vmail">{% trans "Video Email " %}</a></li>
        <li><a href="{% url features_company %}" class="features_company">{% trans "Socialize Company Files and Media Content" %}</a></li>
        <li><a href="{% url features_scheduler %}" class="features_schedulerbut">{% trans "Event Scheduler" %}</a></li>
        <li><a href="{% url features_groupchat %}" class="features_groupchat">{% trans "Group Chat" %}</a></li>
        <li><a href="{% url features_full_voip %}" class="features_voip">{% trans "Full VoIP Interconnectivity" %}</a></li>
        <li><a href="{% url features_telephony %}" class="features_telephonybut">{% trans "Telephony Conference Bridge and Pin Number" %}</a></li>
        <li><a href="{% url features_rebrand %}" class="features_rebrand">{% trans "Re-Brand Your Entire Suite" %}</a></li>
        <li><a href="{% url features_social %}" class="features_social">{% trans "Social Networking Tools" %}</a></li>
        <li><a href="{% url features_hd %}" class="features_hd">{% trans "High Definition Presentations" %}</a></li>
        <li><a href="{% url features_contacts %}" class="features_contacts">{% trans "Connected to Google Docs, Calendar <br />and Contacts" %}</a></li>
    </ul>
    
    <div id="features_content">
        <img src="{{ MEDIA_URL }}img/video_banner.png" alt="{% trans "No More Rejection" %}"  border="0" />
        <p><em>{% trans "Watch HD video together, synchronized in real time." %}</em></p>
        <p style="font-weight:bold; font-size:15px;">{% trans "Synchronized Video/File Presentations" %}</p>
        <p>{% blocktrans %}Our patented "Shared Media On Demand" concept revolutionizes the online user experience by bringing users together to watch video together in real time. Play HD video in your conference room and invite as many people as you like - When you hit play, everyone's video plays. At the same time you can use our webcam video chat and/or group text chat modules to talk about what you are watching together.{% endblocktrans %}</p>

        <p>{% blocktrans %}This technology has many different applications, from entertainment to education to marketing. This is truly appointment television that comes with interactive calendars and invitation systems to bring your groups together online for a complete social experience.{% endblocktrans %}</p>
        <br />
        {% include "features/signup_link_frag.html" %}
    </div>
    
</div>
{% endblock %}
