{% extends "newer_base.html" %}
{% load i18n %}

{% block extra_css %}
<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/uni-form.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen, projection" />        
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, projection" />		
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/print.css" type="text/css" media="print" />	
<style type="text/css">
    .features_top {
        text-shadow: none;
        padding: 10px;

    }
	.features_bottom {

height:3px;
background:url({{ MEDIA_URL }}/images/gradient_line.gif) center top no-repeat;
    }
    .features_top h1 {
        color: #595959;
    }
    #banner_left {
        color: #595959;
        width: 900px;
        font:  bold 30px Arial,Helvetica,sans-serif;
        line-height: 50px;      
		margin:0px auto;
		text-align:center;
		letter-spacing:1px;
    }
    #banner_right {
        width: 900px;
        color: #5A5A5A;
        float:right;       
		margin:0px auto;
		text-align:center;
    }
	.purple{color: #750998;}
</style>
{% endblock %}
{% block content %}
<div class="container features_top">
    <div id="banner_left">
        <span class="purple">{% trans "Online Collaboration" %}</span>{% trans " Business Suite" %}
    </div>
    <div id="banner_right">
{% blocktrans %}<span style="font-size:16px;  color:#595959;">We&rsquo;re not just another web conferencing tool. <br />
NetConference<sup>&reg;</sup> is a Complete System for Communication, Collaboration, Education and Presentation.{% endblocktrans %} </span></div>
</div>
<div class="container features_bottom"></div>
<br/>
<br/>
    {% block features_content %}
    {% endblock %}
{% endblock %}
