{% extends "features/newer_base.html" %}
{% load i18n %}
{% block features_content %}
<div class="container">
    <ul id="features_nav">
        <li><a href="{% url features_webconference %}" class="features_webconference">{% trans "Video Web Conferencing" %}</a></li>
        <li><a href="{% url features_no_software %}" class="features_software">{% trans "No Software To Download" %}</a></li>
        <!--<li><a href="{% url features_netsign %}" class="features_netsign">{% trans "NetSign Digital Signature" %}</a></li>-->
        <li><a href="{% url features_files %}" class="features_files">{% trans "Large File Upload, Storage and Download" %}</a></li>
        <li><a href="{% url features_svod %}" class="features_svod">{% trans "Synchronized Video/File Presentations" %}</a></li>
        <li><a href="{% url features_desktop %}" class="features_desktop">{% trans "Desktop Sharing and Collaboration" %}</a></li>
        <li><a href="{% url features_multiuser %}" class="features_multiuser">{% trans "Multi-User Whiteboard" %}</a></li>
		<li><a href="{% url features_recorded %}" class="features_recordedconf">{% trans "Record Conferences" %}</a></li>
		<li><a href="{% url features_vmail %}" class="features_vmail">{% trans "Video Email " %}</a></li>
        <li><a href="{% url features_company %}" class="features_company">{% trans "Socialize Company Files and Media Content" %}</a></li>
        <li><a href="{% url features_scheduler %}" class="features_schedulerbut">{% trans "Event Scheduler" %}</a></li>
        <li><a href="{% url features_groupchat %}" class="features_groupchat">{% trans "Group Chat" %}</a></li>
        <li><a href="{% url features_full_voip %}" class="features_voip">{% trans "Full VoIP Interconnectivity" %}</a></li>
        <li><a href="{% url features_telephony %}" class="features_telephonybut">{% trans "Telephony Conference Bridge and Pin Number" %}</a></li>
        <li><a href="{% url features_rebrand %}" class="features_rebrand">{% trans "Re-Brand Your Entire Suite" %}</a></li>
        <li><a href="{% url features_social %}" class="features_social current">{% trans "Social Networking Tools" %}</a></li>
        <li><a href="{% url features_hd %}" class="features_hd">{% trans "High Definition Presentations" %}</a></li>
        <li><a href="{% url features_contacts %}" class="features_contacts">{% trans "Connected to Google Docs, Calendar <br />and Contacts" %}</a></li>
    </ul>
    
    <div id="features_content">
        <br />
        <img src="{{ MEDIA_URL }}img/icon_social.png" alt="{% trans "Social Tools" %}" border="0" style="padding:20px 0px 120px 0px;" />
        <br />
        <p><em>{% trans "Broadcast your public media throughout the world of social media" %}</em></p>
        <p style="font-weight:bold; font-size:15px;">{% trans "Social networking tools for your media library." %}</p>
        <p>{% blocktrans %}Inviting your community to share your media library is a lot of fun. But how do you (and your audience) find out what the best parts of your media library are? That's where social tools such as comments, ratings and link sharing come into play. Let your users provide feedback for both you and other users as well. Create dynamic &quot;featured&quot; sections of your library that sort your content by &quot;highest rated&quot;, &quot;most commented&quot;, etc.{% endblocktrans %}</p>
      <p><strong>{% blocktrans %}Our suite of social media applications includes:{% endblocktrans %}</strong></p>
        <ul>
            <li>{% trans "Facebook applications tied with your site content" %}</li>
            <li>{% trans "Post links to scheduled events on Face Book, Twitter and Linkedin" %}</li>
            <li>{% trans "Create Teams amongst your friends or different accounts" %}</li>
            <li>{% trans "Ratings and comments modules for all your media" %}</li>
            <li>{% trans "Dynamic sorting of your media to highlight top content" %}</li>
            <li>{% trans "Microblogging with Twitter integration" %}</li>
            <li>{% trans "User-generated blogs" %}</li>
            <li>{% trans "Link sharing with up/down audience ratings" %}</li>
            <li>{% trans "Photo journals" %}</li>
            <li>{% trans "Location-centric moblogging" %}</li>
            <li>{% trans "Interest groups and wikis" %}</li>
        </ul>
        <br />
        {% include "features/signup_link_frag.html" %}<br /><br /><br />
    </div>
    
</div>
{% endblock %}
