{% extends "features/newer_base.html" %}
{% load i18n %}
{% block features_content %}
<div class="container">
    <ul id="features_nav">
        <li><a href="{% url features_webconference %}" class="features_webconference current">{% trans "Video Web Conferencing" %}</a></li>
        <li><a href="{% url features_no_software %}" class="features_software">{% trans "No Software To Download" %}</a></li>
        <!--<li><a href="{% url features_netsign %}" class="features_netsign">{% trans "NetSign Digital Signature" %}</a></li>-->
        <li><a href="{% url features_files %}" class="features_files">{% trans "Large File Upload, Storage and Download" %}</a></li>
        <li><a href="{% url features_svod %}" class="features_svod">{% trans "Synchronized Video/File Presentations" %}</a></li>
        <li><a href="{% url features_desktop %}" class="features_desktop">{% trans "Desktop Sharing and Collaboration" %}</a></li>
        
		<li><a href="{% url features_multiuser %}" class="features_multiuser">{% trans "Multi-User Whiteboard" %}</a></li>
		<li><a href="{% url features_recorded %}" class="features_recordedconf">{% trans "Record Conferences" %}</a></li>
		<li><a href="{% url features_vmail %}" class="features_vmail">{% trans "Video Email " %}</a></li>
        <li><a href="{% url features_company %}" class="features_company">{% trans "Socialize Company Files and Media Content" %}</a></li>
        <li><a href="{% url features_scheduler %}" class="features_schedulerbut">{% trans "Event Scheduler" %}</a></li>
        <li><a href="{% url features_groupchat %}" class="features_groupchat">{% trans "Group Chat" %}</a></li>
        <li><a href="{% url features_full_voip %}" class="features_voip">{% trans "Full VoIP Interconnectivity" %}</a></li>
        <li><a href="{% url features_telephony %}" class="features_telephonybut">{% trans "Telephony Conference Bridge and Pin Number" %}</a></li>
        <li><a href="{% url features_rebrand %}" class="features_rebrand">{% trans "Re-Brand Your Entire Suite" %}</a></li>
        <li><a href="{% url features_social %}" class="features_social">{% trans "Social Networking Tools" %}</a></li>
        <li><a href="{% url features_hd %}" class="features_hd">{% trans "High Definition Presentations" %}</a></li>
        <li><a href="{% url features_contacts %}" class="features_contacts">{% trans "Connected to Google Docs, Calendar <br />and Contacts" %}</a></li>
    </ul>
    
    <div id="features_content">
        <p><img src="{{ MEDIA_URL }}img/webconf_banner.png" alt="{% trans "Webconferencing" %}" border="0" /></p>
        <p><em>{% trans "Up to eight* video attendees plus hundreds or thousands more off camera" %}</em></p>
        <p style="font-weight:bold; font-size:15px;">{% trans "Eight video participants, all on camera together." %}</p>
        <p>{% blocktrans %}Meet with your groups online for Presentations, Meetings, Webinars and Conversations. Simple conference templates make launching your conference fast and efficient, while our extensive state of the art suite of collaboration tools and systems make interaction in the virtual meeting rooms easy and opportune. With no download required, NetConference is the most impressive and effective way to bring your online meetings to a new level of efficiency and interactivity. This guarantees greater participation by all attendees as everyone appreciates it when their time is put to best use.
{% endblocktrans %}</p>
        <br />
        {% include "features/signup_link_frag.html" %}
      <p style="padding-top:30px; font: normal 10px Arial, Helvetica, sans-serif; color: #A5A4A4; text-align:right;">*Depending Upon Internet Connection</p>
  </div>
    
</div>
{% endblock %}
