{% extends "features/base.html" %}
{% load i18n %}

{% block subcontent %}
<div class="container">
    <ul id="features_nav">
        <li><a href="{% url features_webconference %}" class="features_webconference">{% trans "Video Web Conferencing" %}</a></li>
        <li><a href="{% url features_netsign %}" class="features_netsign">{% trans "NetSign Digital Signature" %}</a></li>
        <li><a href="{% url features_files %}" class="features_files">{% trans "Large File Upload, Storage and Download" %}</a></li>
        <li><a href="{% url features_svod %}" class="features_svod">{% trans "Synchronized Video/File Presentations" %}</a></li>
        <li><a href="{% url features_desktop %}" class="features_desktop">{% trans "Desktop Sharing and Collaboration" %}</a></li>
        <li><a href="{% url features_vmail %}" class="features_vmail">{% trans "Video E-mail" %}</a></li>
        <li><a href="{% url features_company %}" class="features_company">{% trans "Social Company Files and Media Content" %}</a></li>
        <li><a href="{% url features_scheduler %}" class="features_schedulerbut current">{% trans "Event Scheduler" %}</a></li>
        <li><a href="{% url features_groupchat %}" class="features_groupchat">{% trans "Group Chat" %}</a></li>
        <li><a href="{% url features_telephony %}" class="features_telephonybut">{% trans "Telephone Conference and PIN Numbers" %}</a></li>
        <li><a href="{% url features_rebrand %}" class="features_rebrand">{% trans "Re-Brand Your Entire Suite" %}</a></li>
        <li><a href="{% url features_social %}" class="features_social">{% trans "Social Networking Tools" %}</a></li>
        <li><a href="{% url features_hd %}" class="features_hd">{% trans "High Definition Presentations" %}</a></li>
        <li><a href="{% url features_contacts %}" class="features_contacts">{% trans "Import Contacts" %}</a></li>
    </ul>
    
    <div id="features_content">
        <br />
        <img src="{{ MEDIA_URL }}img/icon_event_scheduler.gif" alt="{% trans "Event Scheduler" %}"  border="0" />
        <br />
        <p><em>{% blocktrans %}Scheduling events is simple, intuitive and efficient.{% endblocktrans %}</em></p>
        <p><strong>{% blocktrans %}Our comprehensive event scheduler does all the work for you!{% endblocktrans %}</strong></p>
        <p>{% blocktrans %}Choose a date, an event and recipients. They are delivered your invitation in multiple formats to work with their calendar of choice, and sent reminders if you or they request them. Our companion Event Manager gives you a to-the-minute glance at your calendar and scheduled events. This is a great way to virally share your media as well as allowing users to be enveloped within your media brand. Our scheduler also posts a beautiful announcement in Facebook and Twitter.{% endblocktrans %}</p>

        
        <br />
        {% include "features/signup_link_frag.html" %}
    </div>
    
</div>
{% endblock %}
