{% extends "features/base.html" %}
{% load i18n %}

{% block subcontent %}
<div class="container">
    <ul id="features_nav">
        <li><a href="{% url features_webconference %}" class="features_webconference">{% trans "Video Web Conferencing" %}</a></li>
        <!--<li><a href="{% url features_netsign %}" class="features_netsign">{% trans "NetSign Digital Signature" %}</a></li>-->
        <li><a href="{% url features_files %}" class="features_files">{% trans "Large File Upload, Storage and Download" %}</a></li>
        <li><a href="{% url features_svod %}" class="features_svod">{% trans "Synchronized Video/File Presentations" %}</a></li>
        <li><a href="{% url features_desktop %}" class="features_desktop">{% trans "Desktop Sharing and Collaboration" %}</a></li>
        <li><a href="{% url features_vmail %}" class="features_vmail">{% trans "Video E-mail" %}</a></li>
        <li><a href="{% url features_company %}" class="features_company">{% trans "Social Company Files and Media Content" %}</a></li>
        <li><a href="{% url features_scheduler %}" class="features_schedulerbut">{% trans "Event Scheduler" %}</a></li>
        <li><a href="{% url features_groupchat %}" class="features_groupchat">{% trans "Group Chat" %}</a></li>
        <li><a href="{% url features_telephony %}" class="features_telephonybut">{% trans "Telephone Conference and PIN Numbers" %}</a></li>
        <li><a href="{% url features_rebrand %}" class="features_rebrand">{% trans "Re-Brand Your Entire Suite" %}</a></li>
        <li><a href="{% url features_social %}" class="features_social current">{% trans "Social Networking Tools" %}</a></li>
        <li><a href="{% url features_hd %}" class="features_hd">{% trans "High Definition Presentations" %}</a></li>
        <li><a href="{% url features_contacts %}" class="features_contacts">{% trans "Import Contacts" %}</a></li>
    </ul>
    
    <div id="features_content">
        <br />
        <img src="{{ MEDIA_URL }}img/icon_social.gif" alt="{% trans "Social Tools" %}" border="0" />
        <br />
        <p><em>{% trans "Social networking tools for your media." %}</em></p>
        <p style="font-weight:bold; font-size:18px;"><strong>{% trans "The audience has spoken." %}</strong></p>
        <p>{% blocktrans %}Inviting your community to share your media library is a lot of fun. But how do you (and your 
        audience) find out what the best parts of your media library are?{% endblocktrans %}{% blocktrans %} That's where social tools such 
        as comments, ratings and link sharing come into play. Let your users provide feedback for both 
        you and other users as well. Create dynamic "featured" sections of your library that sort your 
        content by "highest rated", "most commented", etc.{% endblocktrans %}</p>
        <p><strong>{% blocktrans %}Our suite of social media applications includes:{% endblocktrans %}</strong></p>
        <ul>
            <li>{% trans "Facebook applications tied with your site content" %}</li>
            <li>{% trans "Post links to scheduled events on Face Book, Twitter and Linkedin" %}</li>
            <li>{% trans "Create Teams amongst your friends or different accounts" %}</li>
            <li>{% trans "Ratings and comments modules for all your media" %}</li>
            <li>{% trans "Dynamic sorting of your media to highlight top content" %}</li>
            <li>{% trans "Microblogging with Twitter integration" %}</li>
            <li>{% trans "User-generated blogs" %}</li>
            <li>{% trans "Link sharing with up/down audience ratings" %}</li>
            <li>{% trans "Photo journals" %}</li>
            <li>{% trans "Location-centric moblogging" %}</li>
            <li>{% trans "Interest groups and wikis" %}</li>
        </ul>
        <br />
        {% include "features/signup_link_frag.html" %}
    </div>
    
</div>
{% endblock %}
