{% extends "features/base.html" %}
{% load i18n %}

{% block subcontent %}
<div class="container">
    <ul id="features_nav">
        <li><a href="{% url features_webconference %}" class="features_webconference">{% trans "Video Web Conferencing" %}</a></li>
        <!--<li><a href="{% url features_netsign %}" class="features_netsign">{% trans "NetSign Digital Signature" %}</a></li>-->
        <li><a href="{% url features_files %}" class="features_files">{% trans "Large File Upload, Storage and Download" %}</a></li>
        <li><a href="{% url features_svod %}" class="features_svod current">{% trans "Synchronized Video/File Presentations" %}</a></li>
        <li><a href="{% url features_desktop %}" class="features_desktop">{% trans "Desktop Sharing and Collaboration" %}</a></li>
        <li><a href="{% url features_vmail %}" class="features_vmail">{% trans "Video E-mail" %}</a></li>
        <li><a href="{% url features_company %}" class="features_company">{% trans "Social Company Files and Media Content" %}</a></li>
        <li><a href="{% url features_scheduler %}" class="features_schedulerbut">{% trans "Event Scheduler" %}</a></li>
        <li><a href="{% url features_groupchat %}" class="features_groupchat">{% trans "Group Chat" %}</a></li>
        <li><a href="{% url features_telephony %}" class="features_telephonybut">{% trans "Telephone Conference and PIN Numbers" %}</a></li>
        <li><a href="{% url features_rebrand %}" class="features_rebrand">{% trans "Re-Brand Your Entire Suite" %}</a></li>
        <li><a href="{% url features_social %}" class="features_social">{% trans "Social Networking Tools" %}</a></li>
        <li><a href="{% url features_hd %}" class="features_hd">{% trans "High Definition Presentations" %}</a></li>
        <li><a href="{% url features_contacts %}" class="features_contacts">{% trans "Import Contacts" %}</a></li>
    </ul>
    
    <div id="features_content">
        <br /><br />
        <img src="{{ MEDIA_URL }}img/features_content_svod.gif" alt="{% trans "No More Rejection" %}"  border="0" />
        <br />
        <p><em>{% trans "Watch HD video together, synchronized in real time." %}</em></p>
        <p style="font-weight:bold; font-size:18px;"><strong>{% trans "Synchronized Video/File Presentations" %}</strong></p>
        <p>{% blocktrans %}Our patented "Shared Media On Demand" concept revolutionizes the online user experience by bringing users together to watch video together in real time. Play HD video in your conference room and invite as many people as you like - When you hit play, everyone's video plays. At the same time you can use our webcam video chat and/or group text chat modules to talk about what you are watching together.{% endblocktrans %}</p>

        <p>{% blocktrans %}This technology has many different applications, from entertainment to education to marketing. This is truly appointment television that comes with interactive calendars and invitation systems to bring your groups together online for a complete social experience.{% endblocktrans %}</p>
        <br />
        {% include "features/signup_link_frag.html" %}
    </div>
    
</div>
{% endblock %}
