{% extends "features/base.html" %}
{% load i18n %}

{% block subcontent %}
<div class="container">
    <ul id="features_nav">
        <li><a href="{% url features_webconference %}" class="features_webconference">{% trans "Video Web Conferencing" %}</a></li>
        <!--<li><a href="{% url features_netsign %}" class="features_netsign">{% trans "NetSign Digital Signature" %}</a></li>-->
        <li><a href="{% url features_files %}" class="features_files">{% trans "Large File Upload, Storage and Download" %}</a></li>
        <li><a href="{% url features_svod %}" class="features_svod">{% trans "Synchronized Video/File Presentations" %}</a></li>
        <li><a href="{% url features_desktop %}" class="features_desktop">{% trans "Desktop Sharing and Collaboration" %}</a></li>
        <li><a href="{% url features_vmail %}" class="features_vmail current">{% trans "Video E-mail" %}</a></li>
        <li><a href="{% url features_company %}" class="features_company">{% trans "Social Company Files and Media Content" %}</a></li>
        <li><a href="{% url features_scheduler %}" class="features_schedulerbut">{% trans "Event Scheduler" %}</a></li>
        <li><a href="{% url features_groupchat %}" class="features_groupchat">{% trans "Group Chat" %}</a></li>
        <li><a href="{% url features_telephony %}" class="features_telephonybut">{% trans "Telephone Conference and PIN Numbers" %}</a></li>
        <li><a href="{% url features_rebrand %}" class="features_rebrand">{% trans "Re-Brand Your Entire Suite" %}</a></li>
        <li><a href="{% url features_social %}" class="features_social">{% trans "Social Networking Tools" %}</a></li>
        <li><a href="{% url features_hd %}" class="features_hd">{% trans "High Definition Presentations" %}</a></li>
        <li><a href="{% url features_contacts %}" class="features_contacts">{% trans "Import Contacts" %}</a></li>
    </ul>
    
    <div id="features_content">
        <br />
        <img src="{{ MEDIA_URL }}img/icon_video_mail.gif" alt="{% trans "V-Mail" %}" border="0" />
        <br />
        <p><em>{% trans "Record and send video messages from your webcam." %}</em></p>
        <p style="font-weight:bold; font-size:18px;"><strong>{% trans "Viral Messaging Using Video Clips and Webcam Recording" %}</strong></p>
        <p>{% blocktrans %}Record video from your webcam or upload a video from your computer. Then customize a video mail message using our custom VMail System featuring an extensive library of backgrounds and graphics. Our clients use VMail for a myriad of campaigns, marketing agendas, customer relationship management and much more. VMail is perfect for seasonal promotions, movie premieres, site launches, social media bursts, major event announcements or just staying in contact with your customer base. It is simple, fun and effective. Try it for yourself and see!{% endblocktrans %}</p>

         <br />
        {% include "features/signup_link_frag.html" %}
    </div>
    
</div>
{% endblock %}
