.conference_info_main{
width:100%;
height:auto;
box-shadow-left: 0 0 40px #e3e3e3;
box-shadow-bottom: 0 0 40px #e3e3e3;
box-shadow-right: 0 0 40px #e3e3e3;
-moz-border-radius: 3px;
border-radius: 3px;
border:#e3e3e3 solid 2px\9;}
.conference_info_line_div{background:url('images/overview-line-div.png') 50px 0px no-repeat;width:100%;height:3px;}
.conference_info_timezone{width:100%;height:110px;}
.left_detailinfo_block{width:145px;float:left;height:100%;}
.left_detailinfo_block p{float:right;color:#595959;clear:right;line-height: 30px;}
.right_detailinfo_block{float:left;height:100%;margin-left:10px;}
.right_detailinfo_block p{color:#595959;float:left;clear:left;line-height: 30px;}
.conference_info_description{width:100%;height:auto;}
.schedule_textarea_text{width:275px;height:90px;overflow-y:auto;float:left;margin-left:0px;border:#e3e3e3 solid 2px;clear:both;font: 13px Arial;padding:5px;}
.conference_info_reminder{width:100%;height:40px;}
.edit_info_btn{background:url('images/save-default.png') 0 0 no-repeat;height:32px;width:132px;margin: 0 auto;color: white;font-size: 14px;border: 0px;cursor: pointer; font-family: Arial;display:block;}
.edit_info_btn:hover{background-position: 0 -32px;}
.schedule_info_navigator{width:100%;height:50px;margin-top:10px;clear:both;}
.conference_info_description table td{vertical-align: top;padding: 5px;font: 13px Arial;color:#595959}
.conference_info_description table p{font: 13px Arial;color:#595959;line-height: 20px;}
.conference_info_description table td:nth-child(1){width:130px;text-align: right;}
.conference_info_description table td:nth-child(2){width:250px;text-align: left;}
.schedule_url_text{width:275px;height:auto;}
