input, textarea{outline:none 0;}

.schedule_main{
clear: both;
width: 945px;
display: block;
margin: 0px auto;
margin-top: 25px;
word-wrap: break-word;
}
.schedule_main a,p {font-family: Arial;text-decoration: none;color:#888}
.pink_big{font-size:24px;color:#750998}
.schedule_clear{clear:both;}
.schedule_tinyclear{clear:both;height:5px;width:100%}
.schedule_smallclear{clear:both;height:10px;width:100%}
.schedule_mediumclear{clear:both;height:20px;width:100%}
.schedule_hardclear{clear:both;height:30px;width:100%}
.schedule_largeclear{clear:both;height:50px;display: table-cell;  vertical-align: middle; width: 350px;}
.schedule_btn_instant{display: block;width: 228px;height: 48px;background: transparent url(images/instant-conference.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 18px;border: 0px;cursor: pointer;font-family: Arial;}
.schedule_btn_instant:hover {background-position: 0px -48px;}
.schedule_btn_228x47{display: block;width: 228px;height: 47px;background: transparent url(images/btn_star_conference.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 16px;border: 0px;cursor: pointer;padding-right:40px; font-family: Arial,Helvetica,sans-serif;}
.schedule_btn_228x47:hover {background-position: 0px -47px;}
.schedule_btn_232x47{display: block;width: 232px;height: 47px;background: transparent url(images/join-conference.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 18px;border: 0px;cursor: pointer; font-family: Arial;}
.schedule_btn_232x47:hover {background-position: 0px -47px;}
.schedule_btn_60x24{display: block;width: 60px;height: 24px;background: transparent url(images/btn_green_small.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 12px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;}
.schedule_btn_60x24:hover {background-position: 0px -24px;}
.schedule_btn_263x45{display: block;width: 263px;height: 45px;background: transparent url(images/btn_green_large.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 22px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;}
.schedule_btn_263x45:hover {background-position: 0px -45px;}

.schedule_btn_263x45{display: block;width: 263px;height: 45px;background: transparent url(images/btn_green_large.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 22px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;}
.schedule_btn_263x45:hover {background-position: 0px -45px;}

.schedule_btn_reset_option{display: block;width: 132px;height: 32px;background: transparent url(images/save-default.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 14px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;float:left}
.schedule_btn_reset_option:hover {background-position: 0px -32px;}

.schedule_section_warning{
width:700px;height:80px;font-size:11px;text-align:center;
background:#F2F2F2;
-moz-box-shadow: 2px 2px 2px #f4f4f4;
webkit-box-shadow: 2px 2px 2px #f4f4f4;
box-shadow: 2px 2px 2px #f4f4f4;
}
.schedule_warning_close{float:right;margin-right:10px;cursor:pointer;}
.schedule_right_column{
	width:700px;height:auto;float:left;margin-left:10px;
}
.schedule_left_column{
	width: 230px;height: auto;float: left;
}

/* .schedule_search_textbox{border: 0px;border: none;outline:0;width: 165px;margin-top: 4px;padding: 2px;margin-left: 3px; height:15px; border:none; margin:5px 0px 0px 5px;color: #949599;font: 13px Arial,Helvetica,sans-serif;}

.schedule_search_btn{border: 0px;border: none;margin-top: 8px;background: url(images/icon_search.png) no-repeat;width: 14px;height: 14px;cursor: pointer;}
.schedule_search_close{border: 0px;border: none;margin-top: 8px;background: url(images/icon_close.png) no-repeat;margin-left: 10px;cursor: pointer; }
.schedule_search_close:hover {color:#8115A0;  background-position: 0px -50px;} */

.schedule_search_textbox{border: 0px;border: none;outline:0;width: 165px;margin-top: 4px;padding: 2px;margin-left: 3px; height:15px; border:none; margin:5px 0px 0px 5px;color: #949599;font: 13px Arial,Helvetica,sans-serif;}

.schedule_search_btn{border: 0px;border: none;margin-top: 8px;background: url(images/icon_search.png) no-repeat;width: 14px;height: 14px;cursor: pointer;}
.schedule_search_close{border: 0px; height:12px; border: none;margin-top: 8px;background: url(images/icon_close.png) no-repeat;margin-left: 10px;cursor: pointer; }
.schedule_search_close:hover {color:#8115A0;  background-position: 0px -50px;}

.schedule_title{background: #62067E url(images/bg_files_bar.png) repeat-x scroll 50% 50%;
font-size: 13px;
color: white;
border-top: 1px solid #A4A4A4;
border-bottom: 1px solid #A4A4A4;
border-left: 0px solid #C7C7C7;
border-right: 1px solid #C7C7C7;
margin-right: -5px;
padding: 5px 11px;
line-height: 1.1em;
font-weight: bold;
}
.schedule_filter{
	/* border-left: #F4F4F4 solid 2px;
	border-right: #F4F4F4 solid 2px;
	border-bottom: #F4F4F4 solid 2px; */
	/* border-left: #E3E3E3 solid 2px !important;
	border-right: #E3E3E3 solid 2px !important;
	border-bottom: #E3E3E3 solid 2px !important; */
	border: #E3E3E3 solid 2px !important;
	
	-moz-box-shadow: 2px 2px 2px #f4f4f4;
	webkit-box-shadow: 2px 2px 2px #f4f4f4;
	box-shadow: 2px 2px 2px #f4f4f4;
	margin-bottom: 10px;
	width: 230px;
	background:#f3f3f3;
}
.custome_range_time{width:100%;height:50px;padding-left:0px;clear:both;}
.custome_range_time input{padding-right:0px;outline:0;}
.custome_range_time label{font-size:14px;color:#949599;}
.schedule_filter input{display:none;}
.schedule_filter p{margin-left:10px;}
.schedule_filter label{font-size:14px;color:#949599;cursor:pointer;}
/* .schedule_type_checked{background: url(images/icon_check_on.png) no-repeat;width:15px;height:14px;padding-left:40px;}
.schedule_type_uncheck{background: url(images/icon_check_box.png) no-repeat;width:15px;height:14px;padding-left:40px;}
.schedule_time_checked{background: url(images/icon_radio_checked.png) no-repeat;width:15px;height:14px;padding-left:40px;}
.schedule_time_uncheck{background: url(images/icon_radio_uncheck.png) no-repeat;width:15px;height:14px;padding-left:40px;} */
.schedule_type_checked{background: url(images/icon_check_on.png) no-repeat;width:15px;height:14px;padding-left:30px;}
.schedule_type_uncheck{background: url(images/icon_check_box.png) no-repeat;width:15px;height:14px;padding-left:30px;}
.schedule_time_checked{background: url(images/icon_radio_checked.png) no-repeat;width:15px;height:14px;padding-left:30px;}
.schedule_time_uncheck{background: url(images/icon_radio_uncheck.png) no-repeat;width:15px;height:14px;padding-left:30px;}

.schedule_list_head{
background: #62067E url(images/bg_files_bar.png) repeat-x scroll 50% 50%;
font-size: 13px;
color:white;
font-weight:bold;
font-family: Arial,Helvetica,sans-serif;
letter-spacing: 0px;
color: white;
margin: 0 0 0 0px;
padding: 5px 11px;
line-height: 1.1em;
height:25px;
}
.schedule_list_head_title{
text-decoration:none;
font-size: 13px;
color:white;
font-family: Arial,Helvetica,sans-serif;
}

.schedule_list_head_title:visited{color: white;}

.schedule_event_title {padding-left:10px;}
.schedule_event_title a{color:#740798;text-decoration: none;}
/* .schedule_event_privacy {width:80px;border-left: 1px solid white;} */
/* .schedule_event_privacy {width:60px;} */
.schedule_event_privacy {width:65px;}

/* .schedule_event_date {padding-left:10px;width:110px;border-left: 1px solid white;} */
.schedule_event_date {padding-left:10px;width:110px;}

/* .schedule_event_host {padding-left:10px; width:80px;border-left: 1px solid white;} */
.schedule_event_host {padding-left:3px; width:57px;}

.schedule_event_host a{color:#818085;font-size:12px;}

.schedule_event_join {width:80px;}
/* .schedule_event_invite {width:60px;border-left: 1px solid white;} */
.schedule_event_invite {width: 45px;}

/* .schedule_event_createon {padding-left:10px;width:110px;border-left: 1px solid white;} */
.schedule_event_createon {padding-left:10px;width:110px;}

.schedule_event_setting{width:20px;}

.new_schedule_event_setting {
	width: 20px !important;
	padding-left: 3px;
}

.settings_header{
background: #62067E url(images/bg_files_bar.png) repeat-x scroll 50% 50%;
font-size: 13px;
color:white;
font-weight:bold;
font-family: Arial,Helvetica,sans-serif;
letter-spacing: 0px;
color: white;
margin: 0 0 0 0px;
padding: 5px 11px;
line-height: 1.1em;

}
.schedule_setting_form{position:absolute;z-index:100;width:200px;height:auto;display:none;border:#e3e3e3 solid 1px;color:#f3f3f3}

.schedule_instant_warning{
width:800px;height:50px;font-size:11px;text-align:center;
background:#F2F2F2;
margin: 0px auto;
padding:10px;
-moz-box-shadow: 2px 2px 2px #f4f4f4;
webkit-box-shadow: 2px 2px 2px #f4f4f4;
box-shadow: 2px 2px 2px #f4f4f4;
}
.schedule_instant_warning p{color:#595959;line-height: 1.5em;}
.schedule_section_warning p{color:#595959;}
.schedule_section_warning {
	color:#505051;
	padding-top: 8px;	
	padding-right: 0px;
	line-height: 17px;
}
.schedule_info_content {width:100%;height:520px;border:#e3e3e3 solid 2px;padding-top:40px;}
.schedule_info_content input {color:#818085;padding-left:8px;}
.schedule_info_content p {font-size: 13px;font-family: Arial,Helvetica,sans-serif;color:#535353;}
.schedule_info_content label {font-size: 14px;font-family: Arial,Helvetica,sans-serif;color:#535353;}
.schedule_info_leftcol {width:380px;float:left;padding:10px;padding-left:20px;}
.schedule_info_rightcol{width:430px;float:left;padding:10px;margin-left:80px;}

.schedule_show_timezone{cursor:pointer;float:right;text-decoration: underline;}
.navigation_button{float:right}
.frequency {float:right;width:320px;}
.frequency_choice {float:right;width:300px;clear:both;}
.frequency_choice input[type="checkbox"],.frequency_choice input[type="radio"]{display:none;display:block\9;width:1px\9;height:1px\9;filter:alpha(opacity=0)\9;}
.frequency_choice p{float:left;padding:0;margin:0}
.frequency_choice label{font-size:11px;color:#949599;cursor:pointer;}


/* .frequency_type_checked{background: url(images/icon_check_on.png) no-repeat;width:15px;height:14px;padding-left:25px;margin-left:10px;}
.frequency_type_uncheck{background: url(images/icon_check_box.png) no-repeat;width:15px;height:14px;padding-left:25px;margin-left:10px;} */

.frequency_type_checked{background: url(images/icon_check_on.png) no-repeat;width:15px;height:14px;padding-left:15px;margin-left:11px;}
.frequency_type_uncheck{background: url(images/icon_check_box.png) no-repeat;width:15px;height:14px;padding-left:15px;margin-left:11px;}

.frequency_radio{float:left;}
.frequency_radio input{display:none;}
.frequency_radio p{padding:0;margin-left:20px}
.frequency_radio label{font-size:13px;color:#949599;cursor:pointer;}

.schedule_radio_checked{background: url(images/icon_radio_checked.png) no-repeat;width:15px;height:14px;padding-left:40px;}
.schedule_radio_uncheck{background: url(images/icon_radio_uncheck.png) no-repeat;width:15px;height:14px;padding-left:40px;}

#recurring {font-size: 13px;font-family: Arial,Helvetica,sans-serif;color:#535353;text-transform: capitalize;}
.error{}
.error_title{color:red;margin-left:5px;margin-right:5px;display:none;}
.left_subcolumn{width:200px;background:#e3e3e3;height:50px;float:left;}
.right_subcolumn{width:200px;background:red;height:50px;float:left;}
.schedule_reminder{width:290px;clear:both;float:right;}
/* .reminder_input{width:50px;} */
#files_list td:nth-child(6){text-align:center;}
#files_list td:nth-child(4){text-align:center;}
.conferencing_option_main{width:940px;height:auto;margin-left:15px;}
.image_schedule{width:280px;float:left;}
.text_title_conference{float:left;padding-top:15px;color:#595959}
.option_container{
	width:100%;
box-shadow: 0 0 40px #e3e3e3;
height:auto;
clear:both;
-moz-border-radius: 3px;
border-radius: 3px;
border:#e3e3e3 solid 2px\9;
}
.audio_block{width:650px;margin-left:200px;height:85px;margin-top:25px;float:left;clear:both;}
.left_detail_block{width:130px;float:left;height:100%;}
.left_detail_block p{float:right;color:#595959;}
.right_detail_block{float:left;height:100%;}
.schedule_label_text{font: 14px Arial;color:#595959;}
.input_option_holder{float:left;}
.input_option_holder input[type="checkbox"],.input_option_holder input[type="radio"]{display:none;display:inline\9;width:1px\9;filter:alpha(opacity=0)\9;}
.input_option_holder p{padding:0;margin-left:5px;line-height: 1.5em}
.input_option_holder p label{font-size:14px;font-family:'Arial';color:#595959;cursor:pointer;}
.input_option_holder span{margin-left:30px;}

.audio_block_checked{background: url(images/icon_radio_checked.png) 0px 2px no-repeat;width:15px;height:14px;padding-left:25px;}
.audio_block_uncheck{background: url(images/icon_radio_uncheck.png) 0px 2px  no-repeat;width:15px;height:14px;padding-left:25px;}
.phonenumber_talk{float:right;margin-top:40px;height:40px;width:150px;}
.phonenumber_talk p {line-height: 1.5em;font-size: 13px;}
.phonenumber_talk span {font-weight: bold}
.line-option-divide{background: url('images/line-option.png') 0px 0px no-repeat;height:2px;width:647px;clear:both;margin-left:150px;}

.privacy_block{width:650px;margin-left:200px;height:95px;margin-top:20px;float:left;clear:both;}
.hostoption_block{width:650px;margin-left:200px;height:140px;margin-top:20px;float:left;clear:both;}
.hostoption_block_checked{background: url(images/icon_check_on.png) no-repeat;width:15px;height:14px;padding-left:25px;}
.hostoption_block_uncheck{background: url(images/icon_check_box.png) no-repeat;width:15px;height:14px;padding-left:25px;}
.privacy_password_title{float:left;}
.privacy_input_password{float:left;width:101px;height:19px;margin-left:5px;}
.privacy_input_password input{padding-left:5px;width:95px;height:17px;border:none;display:inline;background: url(images/input_password.png) no-repeat;font-size: 11px;}
.showpassword{float:left;margin-left:5px;}
.showpassword a{color:#750998;text-decoration: underline;cursor:pointer;}
.errorpassword{float:left;margin-left:5px;color:red;display:none;}
.layoutoption_block{width:650px;margin-left:200px;height:250px;margin-top:20px;float:left;clear:both;}
.layout_conference_thumb{margin-left:10px;float:left;width:300px;height:150px;clear:both;}
.guestpermission_block{width:650px;margin-left:200px;height:140px;margin-top:20px;float:left;clear:both;}
.guest_text{color:#595959;padding-left:5px;}
.action_option_block{border:#e3e3e3 solid 1px;width:650px;margin-left:200px;height:50px;margin-top:20px;float:left;clear:both;}


.schedule_input_title{padding-top:5px\9;padding-left:5px;width:380px;height:29px;border:none;background:url(images/bg_input_title.png) 0 0 no-repeat;}
.schedule_input_date{padding-top:5px\9;padding-left:5px;width:240px;height:29px;border:none;background:url(images/bg_input_date.png) 0 0 no-repeat;float:left;}
.schedule_input_time{padding-top:5px\9;padding-left:5px;width:89px;height:29px;border:none;background:url(images/bg_input_time.png) 0 0 no-repeat;float:left;margin-left:2px;}
.schedule_input_timezone{padding-top:5px\9;width:340px;height:28px;border:none;background:url(images/dropdown-timezone.png) 0 0 no-repeat;}


.timezone_dropdown{padding:2px;background:url('images/dropdown-timezone.png') 0 0 no-repeat;width:340px;min-height:28px;border:none;padding: 3px 0px 0 7px;float:left;margin-top:2px;}
.timezone_dropdown span{font: 13px/20px Arial;}
.timezone_dropdown-hidden{
	background-color: #FFFFFF;
    border:#ccc solid 1px;
    font: 13px/20px Arial;
    text-align: left;
    width: 330px;
    z-index: 100;
    margin:5px;
    height:95px;
    overflow-y:auto;
    }
.timezone_dropdown-hidden a{
	color: #595959;
    display: block;
    text-decoration: none;
    line-height:1.8em;
    padding-left:5px;
    cursor:default;
    clear:both;
}
.timezone_dropdown-hidden a:hover{
	background-color: #707070;
color: #FFF!important;}
.timezone_dropdown-hidden-main{
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    border:#e3e3e3 solid 2px\9;
    font: 13px/20px Arial;
    position: absolute;
    text-align: left;
    width: 340px;
    z-index: 100;
    margin-top:5px;
    margin-left:-6px;
    display:none;
    height:145px;
}

.frequence_dropdown{background:url('images/dropdown-frequence.png') 0 0 no-repeat;width:144px;min-height:24px;border:none;padding: 2px 0px 0 7px;float:left;margin-top:2px;}
.frequence_dropdown span{font: 13px/20px Arial;}
.frequence_dropdown-hidden{
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    border:#e3e3e3 solid 2px\9;
    font: 13px/20px Arial;
    position: absolute;
    text-align: left;
    width: 144px;
    z-index: 100;
    margin-top:2px;
    margin-left:-6px;
    min-height:50px;
    display:none;
    }
.frequence_dropdown-hidden a{
	color: #595959;
    display: block;
    text-decoration: none;
    line-height:1.8em;
    padding-left:5px;
    cursor:default;
}
.frequence_dropdown-hidden a:hover{
	background-color: #707070;
color: #FFF!important;}
.error_daily, .error_weekday{display:none;}


.monthly_dropdown{background:url('../files/images/dropdown-perpage.png') 0 0 no-repeat;width:53px;min-height:23px;border:none;padding: 1px 0px 0 7px;float:left;margin-top:2px;}
.monthly_dropdown span{font: 13px/20px Arial;}
.monthly_dropdown-hidden{
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    border:#e3e3e3 solid 2px\9;
    font: 13px/20px Arial;
    position: absolute;
    text-align: left;
    width: 53px;
    z-index: 100;
    margin-top:0px;
    margin-left:-6px;
    min-height:50px;
    height:140px;
    overflow-y:auto;
    display:none;
    }
.monthly_dropdown-hidden a{
	color: #595959;
    display: block;
    text-decoration: none;
    line-height:1.8em;
    padding-left:5px;
    cursor:default;
}
.monthly_dropdown-hidden a:hover{
	background-color: #707070;
color: #FFF!important;
}




.reminder_type_dropdown{background:url('images/dropdown-frequence.png') 0 0 no-repeat;width:127px;min-height:24px;border:none;padding: 2px 0px 0 7px;float:left;margin-top:2px;}
.reminder_type_dropdown span{font: 13px/20px Arial;}
.reminder_type_dropdown-hidden{
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    border:#e3e3e3 solid 2px\9;
    font: 13px/20px Arial;
    position: absolute;
    text-align: left;
    width: 127px;
    z-index: 100;
    margin-top:0px;
    margin-left:-6px;
    min-height:50px;
    display:none;
    }
.reminder_type_dropdown-hidden a{
	color: #595959;
    display: block;
    text-decoration: none;
    line-height:1.8em;
    padding-left:5px;
    cursor:default;
}
.reminder_type_dropdown-hidden a:hover{
	background-color: #707070;
color: #FFF!important;}

.title_bar_dialog {height: 40px;background: transparent url(images/dialog_bar_bg.png)  repeat-x;color: white;font-size: 13px;border: 0px;font-weight: bold;overflow: hidden;border-top-left-radius:10px;border-top-right-radius:10px;}
.schedule_btn_action {
	padding-bottom: 2px;
	padding-left: 5px;
	pading-right: 0;
	width: 50px;
	height: 24px;
	background: transparent url(images/btn_50x24.png)  0 0 no-repeat;
	color: white;
	font-size: 13px;
	border: 0px;
	cursor: pointer;
	font-family: Arial;
	margin-right:3px;
}
.schedule_btn_action:hover {
	background-position: 0 -24px;
}
.div_dropdown_per_page {
	width: 51px;
	height: 22px;
	background: url(images/dropdown-perpage.png) no-repeat;
	border:0px;
	cursor: pointer;
	font-size: 13px;
	padding-left: 5px;
	padding-top: 4px;
}
.sub_per_page {
	background-color: #FFFFFF;
    -moz-box-shadow:   0 0 20px #707070;
  	-webkit-box-shadow: 0 0 20px #707070;
  	box-shadow: 0 0 20px #707070;
    font: 13px/20px Arial;
    position: absolute;
    text-align: left;
    width: 50px;
    z-index: 100;
    margin-top: 3px;
    margin-left: -5px;
    display: none;
    border: 2px solid #c5c5c5;
}

.sub_per_page a {
	display: block;
	padding-left: 5px;
}
.sub_per_page a:hover {
	background-color: #707070;
	color: white !important; 
}
.opacity_0_5 {
	-moz-opacity: 0.5; 
	filter:alpha(opacity=50); 
	opacity: 0.5;
}
table.new_files_list {
	border-top: #f4f4f4 solid 2px;
	-moz-box-shadow: 2px 2px 2px #f4f4f4;
	webkit-box-shadow: 2px 2px 2px #f4f4f4;
	box-shadow: 2px 2px 2px #f4f4f4;
	margin-bottom:10px;
	width:705px;
}

.schedule_chk_checked {
	background-image: url(images/icon_check_on.png);
	width: 16px;
	height: 14px;
}
/* .schedule_chk_uncheck {
	background-image: url(images/icon_check_box.png);
	width: 16px;
	height: 12px;
} */
.schedule_chk_uncheck {
	background: url(images/icon_check_box.png) no-repeat;
	width:15px;
	height:12px;
	display: inline-block;
}
td.schedule_flag {
    width: 34px;
    text-align: left;
    padding-left:3px;
    border-right: white solid 1px;
}
td.new_schedule_flag {
	border-right: none !important;
}
td.schedule_checkbox {
	 width: 25px;
     text-align: center;
     /* padding-left: 3px !important; */
}
.border_left_white {
	border-left: white solid 1px;
}
/* #files_list tbody tr:hover {
	background-color: #750998;
	color: white !important;
} */

.new_schedule_list_head_title {
	padding-left: 3px !important;
}
.new_schedule_section_warning {
	height: 65px !important;
}
.new_schedule_event_date {padding-left: 3px !important; width: 160px !important;}
.new_schedule_event_privacy {padding-left: 3px !important;}
.new_schedule_event_invite {padding-left: 3px !important;}
.new_schedule_event_createon {padding-left: 3px !important; text-align: left !important;}
.schedule_btn_263x45_big{display: block;width: 263px;height: 45px;background: transparent url(images/btn_green_large.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 24px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;}
.schedule_btn_263x45_big:hover {background-position: 0px -45px;}

.action-overview-conference{padding:0;display: block;width: 210px;height: 38.5px;background: transparent url(images/setup-conference.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 16px;border: 0px;cursor: pointer; font-family: Arial}
.action-overview-conference:hover{background-position:0 -38px;}
.action-overview-conference.active{background-position:0 -76px;}

.btn_action_overview{padding:0;display: block;width: 230px;height: 37px;background: transparent url(images/btn_purple_230x37.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 16px;border: 0px;cursor: pointer; font-family: Arial}
.btn_action_overview:hover{padding:0;display: block;width: 230px;height: 37px;background: transparent url(images/btn_purple_230x37_roll.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 16px;border: 0px;cursor: pointer; font-family: Arial}
.btn_action_overview.active{background-position:0 -76px;padding:0;display: block;width: 230px;height: 37px;background: transparent url(images/btn_purple_230x37_selected.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 16px;border: 0px;cursor: pointer; font-family: Arial; color: #fff !important;}


ul#contact_messages {
	margin: 0px auto 0px auto;
	padding: 0;
	list-style: none;
	position: relative;
	top:10px;
}

ul#contact_messages{
	padding: 5px 0px 5px 5px;
	background: none repeat scroll 0 0 #F3F3F3;
	box-shadow: 2px 2px 2px #F4F4F4;
	-moz-box-shadow:    2px 2px 2px #F4F4F4;
	-webkit-box-shadow: 2px 2px 2px #F4F4F4;
	font-size: 11px;
	text-align: center;
	width: 685px;
	line-height: 15px;
	float:right;
}
ul#contact_messages li {
	overflow: auto;
	font-size: 16px;
	font-style: italic;
	color: #88888;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	
}
ul#contact_messages li a.button {
	float: right;
	font-style: normal;
	font-weight: normal;
	text-transform: lowercase;
	position: relative;
	top: -6px;
	padding: 3px 12px 1px ! important;
}
.btn_messages_close {
	width: 16px;
	height: 15px;
	background:url(../contact/images/icon_warning_close.png) no-repeat;
	border:0px;
	cursor:pointer;
	padding-bottom: 3px;
}