.overview_smallclear{clear:both;height:10px;width:100%}
#overview_top_column {
	margin-bottom:10px;
	height:auto;
	width:100%;
}
#overview_top_column_left {
	float: left;
	min-height:30px;height:auto;	
}
#overview_top_column_right {
	float: right;
	background: none repeat scroll 0 0 #F2F2F2;
    box-shadow: 2px 2px 2px #F4F4F4;
    font-size: 11px;
    height: 60px;
    text-align: center;
    width: 700px;
    padding: 5px;
    margin-right: 0px;
    color: #444444;
    margin-bottom: 10px;
}
.btn_overview_all_conferences {
	display: block;width: 127px;height: 30px;background: transparent url(images/btn_all_conference.png) 0px 0px no-repeat;margin: 0 auto;color: white;padding: 0; font-size: 12px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.btn_overview_all_conferences:hover {
	background-position: 0px -30px;
}

.btn_all_conferences {
	width: 151px;height: 31px;background: transparent url(images/btn_back.png) 0px 0px no-repeat;margin: 0 auto;color: white;padding: 0; font-size: 12px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.btn_all_conferences:hover {
	background: transparent url(images/btn_back_roll.png) 0px 0px no-repeat;
}
.btn_overview_join_conferences {
	display: block;width: 232px;height: 47px;background: transparent url(images/btn_join_conference.png) 0px 0px no-repeat;margin: 0 auto;color: white;padding: 0; font-size: 20px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.btn_overview_join_conferences:hover {
	background-position: 0px -47px;
}
.btn_overview_star_conference {
	display: block;width: 228px;height: 47px;background: transparent url(images/btn_star_confernce1.png) 0px -47px no-repeat;margin: 0 auto;color: white;padding: 0; font-size: 16px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
/* .btn_overview_star_conference:hover {
	background-position: 0px -47px;
} */
.btn_overview_purple {
	display: block;width: 228px;height: 47px;background: transparent url(images/btn_star_conference.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 16px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.ddl_overview_purple {
	display: block;width: 228px;height: 47px;background: transparent url(images/btn_instant_conference.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 16px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.btn_overview_purple:hover {
	background-position: 0px -47px;
}

/*========== Buttons overview_right_column =========*/
.btn_overview_iCal {
	display: block;width: 178px;height: 41px;background: transparent url(images/btn_blue.png) 0px 0px no-repeat;margin: 0 auto;color: white;padding: 0; font-size: 16px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.btn_overview_iCal:hover{
	background-position: 0px -41px;
}

.btn_overview_outlook {
	display: block;width: 178px;height: 41px;background: transparent url(images/btn_blue.png) 0px 0px no-repeat;margin: 0 auto;color: white;padding: 0; font-size: 16px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.btn_overview_outlook:hover {
	background-position: 0px -41px;
}
.btn_overview_google {
	display: block;width: 178px;height: 41px;background: transparent url(images/btn_blue.png) 0px 0px no-repeat;margin: 0 auto;color: white;padding: 0; font-size: 16px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.btn_overview_google:hover {
	background-position: 0px -41px;
}
.btn_overview_yahoo {
	display: block;width: 178px;height: 41px;background: transparent url(images/btn_blue.png) 0px 0px no-repeat;margin: 0 auto;color: white;padding: 0; font-size: 16px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.btn_overview_google:yahoo {
	background-position: 0px -41px;
}
/*=================================================*/

#overview_top_column_title {
	font-size: 12px;
	color: #808080;
	margin-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	/*width:100%;*/
	clear:both;
}
.overview_title_text {
	vertical-align:middle;
}
#overview_left_column {
	float: left;clear:both;
}
#overview_right_column {
	float: left;
	/* width: 200px; */
	width: 250px;
	margin-left:2px;
}
.overview_border {
    margin-bottom: 10px;
box-shadow: 0 0 10px #e3e3e3;
height:auto;
-moz-border-radius: 3px;
border-radius: 3px;
border:#e3e3e3 solid 1px;
border:#e3e3e3 solid 2px\9;
}
#overview_middle_column {
	/* width: 480px; */
	width: 450px;
	float:left;
	margin-left:4px;
}
.overview_list_head {
	background: #62067E url(images/overview-bar.png) repeat-x scroll 50% 50%;
	font-size: 13px;
	color:white;
	font-family: Arial,Helvetica,sans-serif;
	letter-spacing: 0px;
	color: white;
	margin: 0 0 0 0px;
	padding: 5px 10px;
	line-height: 1.1em;
	height:15px;
	
}
.data_overview {
	font-family: Arial,Helvetica,sans-serif;
	color: #666666;
	font-size: 14px;
	margin-top: 0;
	padding-top: 0;
}
.data_overview td:nth-child(1){
	text-align: right;
}
.ui-datepicker-trigger {
margin-left : 5px;
vertical-align : middle !important;
margin-top:5px;
float:right;
}
.date_time_head {
	background: #62067E url(images/date_time_bg.png) repeat-x scroll 50% 50%;
	font-size: 14px;
	color:white;
	font-family: Arial,Helvetica,sans-serif;
	letter-spacing: 0px;
	color: white;
	margin: 0 0 0 0px;
	line-height: 1.1em;
	height: 34px;
}
.recording_content{width:100%;border:#e3e3e3 solid 1px;min-height:300px;height:auto;}
.recording_action_holder{width:100%;}
.recording_del_button{line-height:1.8em;padding:0;display: block;width:50px;height: 24px;background: transparent url(../files/images/btn_50x24.png)  0 0 no-repeat;color: white;font-size: 13px;border: 0px;cursor: pointer;font-family: Arial;float:left;margin-right:5px;}
.recording_del_button:hover{background-position:0 -24px;}
.recording_files_holder{width:680px;min-height:240px;height:auto;margin-left:10px;border:#e3e3e3 solid 1px;overflow-y:auto;}
.recording_table{width:100%}
tr.recording_row{height:30px}
.schedule_label_text{font:13px Arial}
