#edit_title {
	font-size: 30px;
	color: #750096;
}
#edit_content {
	
}
.edit_content_border {
    border: 2px solid #F4F4F4;
    box-shadow: 2px 2px 2px #F4F4F4;
}
.edit_content_head {
	background: #62067E url(images/bg_files_bar.png) repeat-x scroll 50% 50%;
	font-size: 13px;
	color:white;
	font-weight:bold;
	font-family: Arial,Helvetica,sans-serif;
	letter-spacing: 0px;
	color: white;
	margin: 0 0 0 0px;
	padding: 5px 11px;
	line-height: 1.1em;
	height:14px;
	margin-top: 15px;
}
#edit_content_inner_left {
	float: left;
	margin-top: 40px;
}
#edit_content_inner_right {
	float: right;
	margin-top: 40px;
}