.schedule_btn{
	display: block;
	width: 232px;
	height: 47px;
	background: transparent url(images/join-conference.png) 0px 0px no-repeat;
	margin: 0 auto;
	color: white;
	font-size: 18px;
	border: 0px;
	cursor: pointer;
	font-family: Arial,Helvetica,sans-serif;
	padding: 0;
}
.schedule_btn:hover {
	background-position: 0px -47px;
}
.conference_folder_root {
	width:100%;
	height:auto;
	border:#e3e3e3 solid 1px;
	background:#f3f3f3;
}
.conference_folder_title {
    background: url("images/bg_files_bar.png") repeat-x scroll 50% 50% #62067E;
    border-color: #A4A4A4 #C7C7C7 solid 1px;
    color: white;
    font-size: 13px;
    /* padding: 5px 11px; */
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 3px;
    width: 220px;
    height: 19px;
}
.folders_container {
	width:226px;;
	height:250px;
	overflow-y:auto;
	text-align: left;
	/* border:#e3e3e3 solid 2px;
	background:#f3f3f3; */
}
.folder_create_button {
	display: block;
	width:100px;
	height: 25px;
	background: transparent url(images/btn_100x50.png) 0px 0px no-repeat;
	margin: 0 auto;
	color: white;
	font-size: 13px;
	border: 0px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	padding-left:20px;
}
.folder_create_button:hover {
	background-position: 0 -24px;
}
.folder_rename_button {
	display: block;
	width:88px;
	height: 25px;
	background: transparent url(images/btn_88x50.png) 0px 0px no-repeat;
	margin: 0 auto;
	color: white;
	font-size: 13px;
	border: 0px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
}
.folder_rename_button:hover {
	background-position: 0 -24px;
}
.folder_delete_button {
	display: block;
	width:30px;
	height: 25px;
	background: transparent url(images/30x50.png) 0px 0px no-repeat;
	margin: 0 auto;
	color: white;
	font-size: 13px;
	border: 0px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
}
.folder_delete_button:hover {
	background-position: 0 -25px;
}
.chk_unchecked, .chk_checked {
	background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.chk_unchecked {
	background-image: url(images/icon_chk_unchecked.png);
	width: 16px;
	height: 12px;
}
.chk_checked {
	background-image: url(images/icon_chk_checked.png);
	width: 16px;
	height: 14px;
}
.inactive_flag {
	background:url('images/inactive_flag.png') 4px 5px no-repeat;
	cursor:pointer;
}
.active_flag {
	background:url('images/active_flag.png') 4px 5px no-repeat;
	cursor:pointer;
}

/* table#files_list tr.sub_title {
	background: #d6d6d4 repeat-x scroll 50% 50%;
	font-size: 11px;
	letter-spacing: 0px;
	color: black;
	margin: 0 0 0 0px;
	padding: 5px 11px;
	line-height: 1.1em;
}
table#files_list tr.sub_title th {
	vertical-align:middle;
}
table#files_filter h1.sub_title {
	background: #d6d6d4 repeat-x scroll 50% 50%;
	font-size: 12px;
	letter-spacing: 1px;
	color: black;
	margin: 0 0 0 0px;
	padding: 5px 11px;
	line-height: 1.1em;
} */
table#conferences_list {
	border-left: #f0f0f0 solid 2px;
	border-right: #f0f0f0 solid 2px;
	border-bottom: #f0f0f0 solid 2px;
	-moz-box-shadow: 2px 2px 2px #f4f4f4;
	webkit-box-shadow: 2px 2px 2px #f4f4f4;
	box-shadow: 2px 2px 2px #f4f4f4;
	margin-bottom:10px;
	width:705px;
}

table#conferences_list tr.dark {
	background-color: #f5f5f5;
	height:30px;
	vertical-align: middle;
}
table#conferences_list tr.light {
	background-color: #ffffff;
	border:none;
	height:30px;
	vertical-align: middle;
}
table#conferences_list tr.light td {
	vertical-align: middle;
}
table#conferences_list tr.dark td {
	vertical-align: middle;
}
td.checkbox {
	width: 20px;
	text-align: center;
}
td.flag {
	width: 42px;
	padding-left: 3px;
}
td.event_title {
	width: 135px;
	padding-left: 3px;
	margin-left: 0;
}
td.event_date {
	width: 185px;
	padding-left: 3px;
	margin-left: 0; 
}
td.event_host {
	width: 57px;
	padding-left: 3px;
	margin-left: 0;
}
td.event_privacy {
	width: 60px;
	padding-left: 3px;
	margin-left: 0;
}
td.event_invite {
	width: 47px;
	padding-left: 3px;
	margin-left: 0;
}
td.event_date_created {
	width: 97px;
	padding-left: 3px;
	margin-left: 0;
}
td.event_setting {
	width: 25px !important;
	text-align: left;
	margin-left: 0;
}
.border_left_white {
	border-left-color: white;
}
.btn_all {
	width: 50px;
	height: 25px;
	font-weight: normal;
	background:url(images/btn_small_green.png) no-repeat;
	border:0px;
	cursor:pointer;
	font: Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size: 12px;
	padding-bottom: 3px;
	outline: none;
}

.btn_all:hover {
	background:url(images/btn_small_green_roll.png) no-repeat;
	width: 50px;
	height: 25px;
}
.btn_trash {
	width: 90px;
	height: 25px;
	font-weight: normal;
	background:url(images/undo_delete.png) no-repeat;
	border:0px;
	cursor:pointer;
	font: Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size: 12px;
	padding-bottom: 3px;
	outline: none;
	padding-left: 0;
	padding-right: 0;
}
.btn_trash:hover {
	background-position: 0 -25px;
}

.btn_join {
	width: 50px;
	height: 25px;
	font-weight: normal;
	background:url(images/btn_small_green.png) no-repeat;
	border:0px;
	cursor:pointer;
	font: Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size: 12px;
	padding-bottom: 3px;
	outline: none;
	position: absolute;
	z-index: 100;
	visibility: hidden;
}

.btn_join:hover {
	background:url(images/btn_small_green_roll.png) no-repeat;
	width: 50px;
	height: 25px;
}
.schedule_setting {
	position:absolute;
	z-index:100;
	width:200px;
	height:auto;
	display:none;
	color:#f3f3f3;
}
.schedule_settings_header{
	background: #62067E url(images/bg_files_bar.png) repeat-x scroll 50% 50%;
	font-size: 13px;
	color:white;
	font-weight:bold;
	font-family: Arial,Helvetica,sans-serif;
	letter-spacing: 0px;
	color: white;
	margin: 0 0 0 0px;
	padding: 5px 11px;
	line-height: 1.1em;
}
.purple_background {
	background-color: #750998 !important;
}
.purple_background p, .purple_background a{
	color: white !important;
}
.active_row {
	background-color: #750998 !important;
}
.active_row td {
	border-bottom: 2px solid #9442ae;
	/* border-top: 1px solid #9442ae; */
}
.line_top td {
	border-top: 2px solid #b29aba;
}
.active_row p, .active_row a{
	color: white !important;
}
/*====== OVERLAY START ========*/
.modal_conference {
    background-color:#fff;
    display:none;
    width:700px;
    /* height: 300px; */
    text-align:left;
    
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
    box-shadow: 0 0 50px #ccc;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
    z-index: 1000;
    position: absolute;
 }
 .modal_search_conference {
    background-color:#fff;
    display:none;
    width:500px;
    heigth: 300px;
    text-align:left;
    
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
    /* box-shadow: 0 0 50px #ccc; */
    /* box-shadow: 0 0 50px #707070; */
    box-shadow: 0 0 50px #cccc;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
    z-index: 1000;
    position: absolute;
    
 }
 .conference_overlay_header {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background:url(images/bg_files_bar.png) repeat-x;
	height:29px;
	color: white;
	font-size: 14px;
	padding-left: 15px;
	padding-top: 7px;
}

/*====== OVERLAY END =======*/
.model_conference_title {
	color: #5a5a5a;
	font-size: 14px;
}
.model_conference_button {
	font-family: Arial,Helvetica,sans-serif;
	background: url("images/btn_xlarge_green.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 25px !important;
    margin: 0 auto;
    width: 263px;
    height: 46px;
}
.model_conference_button:hover {
	background: url("images/btn_xlarge_green_roll.jpg") no-repeat scroll 0 0 transparent;
}
.make_public_conference {
	font-family: Arial,Helvetica,sans-serif;
	background: url("images/btn_green_293x46.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 25px !important;
    margin: 0 auto;
    width: 293px;
    height: 46px;
    padding: 0;
}
.make_public_conference:hover {
	background: url("images/btn_green_293x46roll.png") no-repeat scroll 0 0 transparent;
}
.btn_search_conference_modal {
	font-family: Arial,Helvetica,sans-serif;
	background: url("images/btn_200x32.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 18px !important;
    margin: 0 auto;
    width: 200px;
    height: 32px;
}
.btn_search_conference_modal:hover {
	background-position: 0 -32px;
}
.jstree li[rel="root_folder"] > a > .jstree-icon {
	height:22px;
	width:26px;
background-image: url('/site_media/jstree/images/root_folder.png');
background-position: 0px -2px!important;
}
.jstree li[rel="trash_folder"] > a > .jstree-icon {
	height:22px;
	width:26px;
background-image: url('/site_media/jstree/images/trash_folder.png');
background-position: 0px -2px!important;
}
.jstree li[rel="normal_folder"] > a > .jstree-icon {
	height:22px;
	width:26px;
background-image: url('/site_media/jstree/images/normal_folder.png');
background-position: 0px -2px!important;
}
.files_folder_root_move {
	width: 420px;
	height: auto;
	margin-left: 150px;
}
.conferences_folders_container {
	width: 100%;
	height: 250px;
	overflow-y: auto;
	text-align: left;
	border: #e3e3e3 solid 2px;
	background: #f3f3f3;
}
.folder_title_holder {
    width: 100%;
}
.new_schedule_search_close {
	border: 0px;
	height:12px;
	border: none;
	margin-top: 9px;
	background: url(images/icon_close.png) no-repeat;
	margin-left: 5px;
	cursor: pointer; 
}
.new_schedule_search_close:hover {
	color:#8115A0; 
	background-position: 0px -50px;
}
.new_schedule_search_btn {
	border: 0px;
	border: none;
	margin-top: 9px;
	background: url(images/icon_search.png) no-repeat;
	width: 14px;
	height: 14px;
	cursor: pointer;
}
.new_schedule_search_textbox {
	border: 0px;
	border: none;
	outline:0;
	width: 170px;
	padding: 2px;
	height:15px; 
	border:none;
	margin-top: 5px;
	color: #949599;
	font: 13px Arial,Helvetica,sans-serif;
}
.search_conference_title {
    background: url("images/bg_files_bar.png") repeat-x scroll 50% 50% #62067E;
    color: white;
    font-size: 13px;
    height: 19px;
    font-weight: bold;
}
table.search_type_tbl {
	border-left: #eaeae8 solid 1px;
	border-right: #eaeae8 solid 1px;
	border-bottom: #eaeae8 solid 1px;
	
	-moz-box-shadow: 2px 2px 2px #f4f4f4;
	webkit-box-shadow: 2px 2px 2px #f4f4f4;
	box-shadow: 2px 2px 2px #f4f4f4;
	margin-bottom: 5px;
	background-color: #f3f3f3;
}
table.search_type_tbl p {
	font-size: 14px;	
	padding-left: 11px;
	padding-top: 11px;
}
table.search_type_tbl p>label{
	cursor: pointer;
}
table.search_time_tbl {
	border-left: #eaeae8 solid 1px;
	border-right: #eaeae8 solid 1px;
	border-bottom: #eaeae8 solid 1px;
	
	-moz-box-shadow: 2px 2px 2px #f4f4f4;
	webkit-box-shadow: 2px 2px 2px #f4f4f4;
	box-shadow: 2px 2px 2px #f4f4f4;
	margin-bottom: 5px;
	background-color: #f3f3f3;
}
table.search_time_tbl p {
	font-size: 14px;	
	padding-left: 8px;
	padding-top: 3px;
}
table.search_time_tbl p>label{
	cursor: pointer;
}
.search_link {
	color: #750A98 !important;
	cursor: pointer;
	text-decoration: underline !important;
}
.search_type_tbl input[type="radio"], .search_type_tbl input[type="checkbox"] {
    display: none;
}
.search_time_tbl input[type="radio"], .search_time_tbl input[type="checkbox"] {
    display: none;
}
.btn_search_conference {
	background: url("images/btn_purple_71x58.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-family: Arial;
    font-size: 13px;
    height: 29px;
    margin: 0 auto;
    padding: 0;
    width: 71px;
}
.btn_search_conference:hover {
	background-position: 0 -29px;
}
.txt_search_time {
	width: 90px;
	border-top:#c5c5c5 solid 2px;
	border-left:#c5c5c5 solid 1px;
	border-bottom:#e3e3e3 solid 1px;
	border-right:#e3e3e3 solid 1px;
	margin-right: 15px;
	color: #595959;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.ui-datepicker-trigger {
	float: none !important;
	margin-top: -3px !important;
}
.drop_down {
	background: url(images/drop_down.png) no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 13px;
    height: 20px;
    margin-top: 3px;
    padding-left: 5px;
    padding-top: 4px;
    width: 120px;
    display: inline-block;
}
.btn_send_invitation {
	background: url('images/btn_send_invitaion.png') no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 13px;
    height: 33px;
    margin: 0;
    padding: 0;
    width: 112px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.btn_send_invitation:hover {
	background: url('images/btn_send_invitaion_roll.png') no-repeat scroll 0 0 transparent;
}
.sub_drop_down_invited {
	display: none;
	position: absolute;
	z-index: 101;
	background-color: #fff;
    border: 1px solid #C5C5C5;
    cursor: pointer;
    width: 118px;
}
.sub_drop_down_invited a {
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding: 3px 0 3px 2px;
	color: #7a7a7a !important;
}
.sub_drop_down_invited a:hover {
	background-color: #707070;
	color: white !important; 
}
.inivation_sub_menu {
	display: none;
	position: absolute;
	z-index: 101;
	background-color: #fff;
    border: 1px solid #C5C5C5;
    padding-top: 5px;
    padding-bottom: 5px;
    
    cursor: pointer;
}
.inivation_sub_menu a {
	padding-left: 5px;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
	color: #7a7a7a !important;
}
.inivation_sub_menu a:hover {
	background-color: #707070;
	color: white !important;
	
}
.drop_down_reminder {
	background: url('images/drop_down_77x24.png') no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 13px;
    width: 77px;
    height: 24px;
    color: #595959;
    font-family: Arial, Helvetica, sans-serif;
    
}
.div_current_drop_down {
	padding-left: 5px; 
	padding-top: 5px;
}
.sub_drop_down_reminder {
	display: none;
	position: absolute;
	z-index: 101;
	background-color: #fff;
    border: 1px solid #C5C5C5;
    width: 75px;
    margin-top: 3px;
}
.sub_drop_down_reminder a{
	color: #595959 !important;
	padding: 3px 5px 3px 5px;
	display: block;
}
.sub_drop_down_reminder a:hover {
	background-color: #707070;
	color: white !important; 
}
.txt_time {
	border-color: #C5C5C5 #E3E3E3 #E3E3E3 #C5C5C5;
    border-style: solid;
    border-width: 2px 1px 1px;
    color: #595959;
    font-family: Arial,Helvetica,sans-serif;
    width: 40px;
    height: 18px;
}
.border_error {
	border: 1px solid red !important;
}
.reminder_close {
	border: 0px;
	height:12px;
	border: none;
	margin-top: 5px;
	background: url(images/icon_close.png) no-repeat;
	margin-left: 5px;
	cursor: pointer; 
}
.reminder_close:hover {
	color:#8115A0; 
	background-position: 0px -50px;
}
.row_reminder {
	margin-bottom: 4px;
	font-weight: normal;
}
.make_conference_public {
	font-family: Arial,Helvetica,sans-serif;
	background: url("images/btn_xlarge_green.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 23px !important;
    margin: 0 auto;
    width: 263px;
    height: 46px;
}
.sub_drop_down_invited a {
	display: block;
}
.btn_schedule_similar {
	display: block;width: 232px;height: 57px;background: transparent url(images/btn_green_232x57.png) 0px 0px no-repeat;margin: 0;color: white;padding: 0; font-size: 20px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.btn_schedule_similar:hover {
	display: block;width: 232px;height: 57px;background: transparent url(images/btn_green_232x57_roll.png) 0px 0px no-repeat;margin: 0;color: white;padding: 0; font-size: 20px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}


table#related_conferences td {
	padding-left: 18px;
	font-size: 13px;
}
table#related_conferences tr.dark {
	background-color: #f3f3f3;
	height:45px;
	vertical-align: middle;
}
table#related_conferences tr.light {
	background-color: #ffffff;
	border:none;
	height: 45px;
	vertical-align: middle;
}
.sort_related_conferences_up {
	background: url('images/icon_drop_up.png') no-repeat scroll 0 0 transparent;;
	widows: 9px;
	height: 9px;
	border: none;
	cursor: pointer;
}
.sort_related_conferences_down {
	background: url('images/icon_drop_down.png') no-repeat scroll 0 0 transparent;;
	widows: 9px;
	height: 9px;
	border: none;
	cursor: pointer;
}
.tabs {
	padding-left: 30px;
} 
.tabs div {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	background-color: #f5f5f5; 
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0;
}
.tabs div a {
	font-size: 14px;
}
.tabs li a {
	font-size: 14px;
	background-color: #f5f5f5;
	paddint-top: 6px;
	paddint-bottom: 6px;
}
.normal {
	color: #595959 !important;
}
.active {
	color: #750998 !important;
}
.panes_border {
	border: #eaeae8 solid 1px;
	background-color: #fcfcfc;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}