.schedule_leftblock_label{float: right;color: #595959;margin-top:5px;font: 14px Arial;}
.input_holder_date{float:left;margin-right:10px;width:240px;padding:3px;border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;overflow-y:auto;height:20px;font:13px Arial;color:#595959}
.input_holder_time{float:left;margin-right:10px;width:90px;padding:3px;border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;overflow-y:auto;height:20px;font:13px Arial;color:#595959}
.schedule_row{width: 650px;margin-left: 180px;height: auto;float: left;clear: both;margin-top:10px}
.schedule_block_holder{width: 100%;height: auto;float: left;clear: both;margin-top:10px;margin-bottom:10px}
.schedule_block_holder_copy{width: 100%;background:#dabce2;height: auto;float: left;clear: both;margin-top:10px;margin-bottom:10px}
.schedule_subblock_left{width: 150px;float: left;height: 100%;}
.add_hotspot_timezone{color:#750998;float:right;margin-right:150px;font:13px Arial;clear:both;text-decoration: underline;cursor: pointer;}
.remove_hotspot_timezone{color:#750998;float:right;margin-right:150px;font:13px Arial;clear:both;text-decoration: underline;cursor: pointer;}
.input_holder_title{float:left;margin-right:10px;width:350px;padding:3px;border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;overflow-y:auto;height:20px;font:13px Arial;color:#595959}
.input_holder_period{float:left;margin-right:10px;width:240px;padding:3px;border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;overflow-y:auto;height:20px;font:13px Arial;color:#595959}
.input_holder_description{margin-left:0;float:left;margin-right:10px;width:350px;padding:3px;border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;overflow-y:auto;height:140px;font:13px Arial;color:#595959}
#configure_option{height:auto;width:100%;}
.blockOverlay{background:#000;-moz-opacity: 0.5;filter:alpha(opacity=50);opacity: 0.5;}
.timezone_filter{width:330px;height:28px;display:block;clear:both;float:left;border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;margin:5px;}
.input_timezone_filter{float:left;width:280px;padding:3px;border:0 none;overflow-y:auto;height:20px;font:13px Arial;color:#595959}
/* .timezone_filter_container{width:100%;height:auto;display:block;clear:both;} */
.input_timezone_search{border: 0px;border: none;margin-top: 8px;background: url(images/icon_search.png) no-repeat;width: 14px;height: 14px;cursor: pointer;float:left;}
.input_timezone_clear{border: 0px; height:12px; border: none;margin-top: 8px;background: url(images/icon_close.png) no-repeat;margin-left: 10px;cursor: pointer; float:left;}
.input_timezone_clear:hover {color:#8115A0;  background-position: 0px -50px;}
.timezone_selected{background-color: #707070;color: #FFF!important;}
.add_folders_container {
	width: 100%;;
	height:250px;
	overflow-y:auto;
	text-align: left;
}
.thankyou_container{width:460px;margin-left:230px;text-align:center;height:90px;}
