.roomsetup_main{float:left;width:700px;margin-left:10px;height:1000px;}
.option_container{
	box-shadow: 0 0 40px #e3e3e3;
	height:920px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:#e3e3e3 solid 2px\9;
}
.audio_block{width:650px;margin-left:80px;height:85px;margin-top:25px;float:left;clear:both;}
.line-option-divide{background: url(images/line-option.png) 0px 0px no-repeat;height:2px;width:647px;clear:both;margin-left:20px;}

.privacy_block{width:650px;margin-left:80px;height:95px;margin-top:20px;float:left;clear:both;}
.hostoption_block{width:650px;margin-left:80px;height:140px;margin-top:20px;float:left;clear:both;}
.layoutoption_block{width:650px;margin-left:80px;height:250px;margin-top:20px;float:left;clear:both;}
.guestpermission_block{width:650px;margin-left:80px;height:140px;margin-top:20px;float:left;clear:both;}
.guest_text{color:#595959!important;padding-left:5px;}


.navigation_button{margin-top:20px;}
