{% extends 'registration/base.html' %}

{% block contents %}
{% if account %}
<p>Hey {{account.username}}, you have been activated. <a href="/accounts/login/">Proceed to login</a></p>
{%else%}
<p>There was a problem with processing your request. Your acount was not activated. Please try following the instructions in the mail.</p>
{% endif %}

{% endblock %}