{% extends 'registration/base.html' %}

{% block contents %}
<h2> Thank you for registering</h2>
<p>You would be getting a mail from us soon. Please check your mailbox to annd follow the instructions to register your account</p>
{% endblock %}