{% extends 'registration/base.html' %}


{% block contents %}
<div class="password">
<h3>Register</h3>
<div class="createcontent"
<p>All fields are required</p>
<form action="." method="post">
{{form.as_p}}
<input type="submit" name="register" value="register" />
</form>
</div>
</div>
{% endblock %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
<title>Page title</title>
</head>
<body>

<form action="." method="post">
{{form.as_p}}
<input type="submit" name="register" value="register" />
</form>

</body>
</html>
