{% extends 'project/base.html' %}


		{% block topheader %}
<div class="signout"><a href="/accounts/logout/">Sign Out</a></div>
		<div id="logo">
		<img src="/site_media/images/logo.gif" alt="" /></div>
		<div class="icon"></div>
		<div class="topicon"></div>		
		{% endblock %}	

{% block subheader %}
      <div class="sub_header">
			<div class="welcome"><p>Howdy {{user.username}}<br />
			{% block breadcrumbs %}
			<span class="breadcrumbs"><a href="/dashboard/">Dashboard</a> > <a href="{{project.get_absolute_url}}">{{project.name}}</a> 
			</span>
			{% endblock %}
			</p></div>
			<div class="nav">
			<ul>
			<li><a href="/dashboard/" class="nav-selected">Dashboard</a></li>
			<li><a href="/accounts/settings/">Settings</a></li>
			</ul>
		
		   </div><!--End nav -->
	   </div> <!--end sub_header -->
{% endblock %}

{% block subnav %}
<div class="subnav">
</div>
{% endblock %}




{% block contents %}

<div class="genericform">
<h3>Your projects</h3>
<div class="createcontent" >
{% if user.subscribeduser_set.all %}
<table>
<thead>
<tr>
<td>Project</td>
<td>Access</td>
<td>Unsubscribe</td>
</tr>
</thead>
<tbody>
{% for sub in user.subscribeduser_set.all %}
<tr>
<td>{{sub.project.name}}</td>
<td>{{sub.group}}</td>
<td>
<form action="." method="post">
<input type="hidden" name="projname" value="{{sub.project.shortname}}" />
<input type="image" src="/site_media/images/x-icon.gif" name="unsub" />
<input type="hidden" name="unsub" value="unsubscribe" />
</form>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
You are not subscribed to any project.
{% endif %}
</div>
</div>


<div class="genericform">
<h3>Your settings</h3>
<div class="createcontent" >
<form action="." method="post">
{{prefform.as_p}}
<input type="submit" name="settings" value="Change settings" class="submitbtn"/>
</form>
</div>
</div>

<div class="genericform">
<h3>Change password</h3>
<div class="createcontent" >
<form action="." method="post">
{{passch_form.as_p}}
<input type="submit" name="changepass" value="Change Password" class="submitbtn"/>
</form>
</div>
</div>

{% endblock %}

{% block sidebar %}
<h3>About</h3>
<p>Settings for {{user.username}}</p>

<h3>Meta</h3>
<ul>
<li><a href="/accounts/password/reset/">Reset Password</a><li>
</ul>
{% endblock %}