/* REMOVE OUTLINE INPUT */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
/* END REMOVE OUTLINE INPUT */
.body {
	font-family: Arial, Helvetica, sans-serif;
}

.file_text{
	font-family: Arial, Helvetica, sans-serif;
	color: #595959;
	font-size: 14px;
}
.purple_text {
	color:#750998;
}
.purple_small_button {
	width:71px;
	background:url(../images/purple_small_button.png) no-repeat;
	height:29px;
	border:0px;
	margin-left:20px;
	cursor:pointer;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFF;
}
.purple_small_button:hover {
	background-position: 0 -29px;
}
.text_filed_bg {
	width: 350px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 2px 5px #E1E1E1;
	margin-bottom: 20px;
}
.gridtable {
	border:1px solid #e1e1e1;
	box-shadow:0px 2px 5px #e1e1e1;
	-moz-box-shadow:    0px 2px 5px #e1e1e1;
	-webkit-box-shadow: 0px 2px 5px #e1e1e1;
	font-size: 13px;
}
.gridtable th {
	background:url(../images/th_bg.png) repeat-x;
	height:23px;
	font:14px Arial, Helvetica, sans-serif;
	color:#FFF;
	padding-left:10px;
	line-height:23px;
	text-align: left;
}
.gridtable td {
	padding:3px;
}
#option_file_info{
	margin-top: 0;
}
.gridtable .pad10 {
	padding:10px;
}
.pt10 {
	padding-top:10px;
}
.gridtable .pad20 {
	padding:20px;
}
.gridtable label {
	display:block;
	padding-left:3px;
	font:14px Arial, Helvetica, sans-serif;
	color:#595959;
	line-height:24px;
}
.button_medium_Green {
	width: 228px;
	height: 48px;
	background: transparent url(../images/bt_blank_green_button.png) 0px 0px no-repeat;
	margin: 0 auto;
	color: white;
	font-size: 19px !important;
	border:0px;
	cursor:pointer;
}
.button_medium_Green:hover {
	background-position: 0 -48px;
}
.transparent {
	opacity: 0.5;
	cursor: default;
	disabled: disabled !important;
}
.txt_password {
	width: 150px;
	height: 15px;
}
.trans_but_continue{
	width: 263px;
	height: 46px;
	color: white;
	font-size: 19px !important;
	border:0px;
	cursor:pointer;
	background: transparent url(../images/trans_but.png) no-repeat;
	cursor: default;
	disabled: disabled;
}
.tip_process_upload_file {
	margin-top: 20px;
	color: #760998;
	font-size: 14px;
	display: none;
}
.ui-corner-all{
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.ui-progressbar-value {
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.ui-button-text {
    padding: 0.4em 0.5em !important;
}
.btn_all_files {
	width: 127px;height: 30px;background: transparent url(../images/btn_all_files.png) 0px 0px no-repeat;margin: 0 auto;color: white;padding: 0; font-size: 13px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.file_smallclear { clear:both; height:10px; width:100% }
/* .file_edit_content_left_col {
	width: 220px;
} */
.btn_file {
	width:210px;
	font-weight: normal;
	background:url(../images/bt_prf_purple_button.png) no-repeat;
	height:37px;
	border:0px;
	cursor:pointer;
	font: 16px Arial, Helvetica, sans-serif;
	color:#FFF;	
}
.btn_file:hover {
	background:url(../images/bt_prf_purple_overbutton.png) no-repeat;
}

.btn_file_download {
        font-weight: normal;
        background:url(../images/btn_gray_normal.png) no-repeat;
        width:83px;
        height:24px;
        border:0px;
        cursor:pointer;
        font: 14px Arial, Helvetica, sans-serif;
        color:#FFF;        
        padding-left: 0px;
        padding-right: 0px;
}
.btn_file_download:hover{
	background:url(../images/btn_gray_normal_roll.png) no-repeat;
}

.btn_file_common {
	font-weight: normal;
	background:url(../images/btn_gray_small.png) no-repeat;
	width:53px;
	height:24px;
	border:0px;
	cursor:pointer;
	font:14px Arial, Helvetica, sans-serif;
	color:#FFF;	
}
.btn_file_common:hover{
	background:url(../images/btn_gray_small_roll.png) no-repeat;
}

.files_list_head {
	/* background: #62067E url(..images/bg_files_bar.png) repeat-x scroll 50% 50%; */
	background:url(../images/bg_files_bar.png) repeat-x;
	font-size: 13px;
	color:white;
	font-family: Arial,Helvetica,sans-serif;
	letter-spacing: 0px;
	color: white;
	margin: 0 0 0 0px;
	padding: 5px 11px;
	/* line-height: 1.1em; */
	height:25px; 
	font-weight: bold;
}
.box_shaddow {
	border:1px solid #e1e1e1;
	box-shadow:0px 2px 5px #e1e1e1;
	-moz-box-shadow:    0px 2px 5px #e1e1e1;
	-webkit-box-shadow: 0px 2px 5px #e1e1e1;
	padding: 0;
	margin: 0;
}
.textarea_style {
	width: 230px;
	margin-left: 20px;
	margin: 0;
	padding: 2px;
	border: none;
	color: #595959;
	font-size: 13px;
	font-family: Arial,Helvetica,sans-serif;
}
.grey_background {
	background-color: #F5F5F5;
}
/* FILES LIST*/
#files_top {
	margin-top: 20px;
	vertical-align: middle;
}
#files_top_left { font-size: 24px; color: #750998; float: left;}
#files_top_right { float: right; margin-right: 80px;}
#files_main a,p {font-family: Arial,Helvetica,sans-serif;color:#818085;text-decoration: none;}
.files_left_column{
	width: 230px;height: auto;float: left;
}
.files_tinyclear{clear:both;height:5px;width:100%}
.files_smallclear{clear:both;height:10px;width:100%}
.files_mediumclear{clear:both;height:20px;width:100%}
.files_hardclear{clear:both;height:30px;width:100%}
#files_top_right{
	padding: 10px;
	background: none repeat scroll 0 0 #F2F2F2;
    box-shadow: 2px 2px 2px #F4F4F4;
    -moz-box-shadow:    2px 2px 2px #F4F4F4;
	-webkit-box-shadow: 2px 2px 2px #F4F4F4;
    font-size: 11px;
    height: 50px;
    text-align: center;
    width: 680px;
    line-height: 15px;
    margin:0px;
}
#files_top_right_tootip {
	float: left;
	color: #595959;
}
#files_top_right_close_icon {
	float: right;
	cursor: pointer;
}
.btn_file_upload{
	width: 226px;
	height: 48px;
	font-weight: normal;
	background:url(../images/bt_blank_green_button.png) no-repeat;
	border:0px;
	cursor:pointer;
	font: 22px Arial, Helvetica, sans-serif;
	color:#FFF;	
}
.btn_file_upload:hover{
	background-position: 0 -48px;	
}
.btn_all {
	width: 58px;
	height: 24px;
	font-weight: normal;
	background:url(../images/prof_btn_all.png) no-repeat;
	border:0px;
	cursor:pointer;
	font: 13px Arial, Helvetica, sans-serif;
	color:#FFF;	
}
.btn_all:hover{
	background-position: 0 -24px;
}
.btn_list_view {
	width: 29px;
	height: 24px;
	background:url(../images/btn_green_list.png) no-repeat;
	border:0px;
	cursor:pointer;
}
.btn_list_view:hover {
	background-position: 0 -24px;
}
.btn_grid_view {
	width: 29px;
	height: 24px;
	background:url(../images/btn_green_thumb.png) no-repeat;
	border:0px;
	cursor:pointer;
}

.btn_grid_view:hover{
	background-position: 0 -24px;
}
.files_clear{clear:both;}

#files_content_left {
	width: 230px;
	float: left;
	text-align: center;
}
#files_content_right {
	/* margin-left: 240px; */
	width: 720px;
	float: right;
}
#files_paging_option {
	float: right;
}
/* .files_list_head{
	background: #62067E url(/images/bg_files_bar.png') repeat-x;
	font-size: 13px;
	color:white;
	font-weight:bold;
	font-family: Arial,Helvetica,sans-serif;
	letter-spacing: 0px;
	color: white;
	margin: 0 0 0 0px;
	padding: 5px 11px;
	line-height: 1.1em;
	height:29px;
} */
#files_list td:nth-child(6){text-align:center;}
#files_list td:nth-child(4){text-align:center;}

/* #files_list tbody tr:hover{background-color: #dabce2;} */
/* #files_list tbody tr:hover{background-color: #dabce2 !important;} */

#files_list tbody tr:hover{
	background:#750998;
	color:#fff!important;	
}
#files_list tbody tr:hover a {
	color:#fff!important;	
}
.files_title a{color:#740798;text-decoration: none;}
.schedule_list_head_title {
	font-size: 12px;
	font-weight: bold !important;
}
.files_type_uncheck, .files_type_checked {
	background-repeat: no-repeat;
    display: inline-block;
    /* float: left; */
    width: 15px;
    height: 15px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
/* .files_type_checked {
	background-image: url(/static/files/images/icon_check_on.png);
}
.files_type_uncheck {
	background-image: url(/static/files/images/icon_check_box.png);
} */

.files_type_checked {
	background-image: url(../images/icon_check_on.png);
	width: 16px;
	height: 14px;
}
.files_type_uncheck {
	background-image: url(../images/icon_check_box.png);
	width: 16px;
	height: 12px;
}

/* custom files_list */
/*  */
td.files_checkbox {
	width:20px;
	text-align:center;
}

td.files_type {
	width:45px;
	text-align: center;
}

td.files_name {
	width:130px;
}
td.files_info {
	width:65px;
	text-align: left !important;
}
td.files_new_size {
	width:55px !important;
}
td.files_new_views {
	width:60px;
}
td.files_last_modified {
	width:100px;
}
td.files_created_on {
	width: 80px;
}
td.files_icon_settings {
	width:25px;
	text-align: center;
	padding-left:0;
}
td.files_privacy {
	text-align: left;
	width: 60px;
}
td.files_empty_field {
	width:30px;
}
td.files_download {
	width:80px;
}
.files_setting_form {
	margin-top: 5px;
	position:absolute;
	z-index:100;
	width:150px;
	height:auto;
	display:none;
	/* border:#e3e3e3 solid 1px; */
	color:#f3f3f3;
	text-align: left;
	box-shadow: 1px 1px 1px #F4F4F4;
    -moz-box-shadow:    1px 1px 1px #F4F4F4;
	-webkit-box-shadow: 1px 1px 1px #F4F4F4;
}
.files_icon_settings_type_checked{background: url(images/icon_check_on.png) no-repeat;width:15px;height:14px;padding-left:40px;}
.padding_left_10 {
	padding-left: 10px;	
}
.all_files_action {
	text-align: left;
	display: none;
	background-color: white;
	border: 2px solid #e1e1e1;
	width: 150px;
	margin-left: 190px;
	z-index: 100;
	margin-top:10px;
	position: absolute;
}
.all_files_action li {
	margin: 0;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.all_files_action li:hover {
	background-color: #dabce2;
}
.all_files_action a {
	display: block;
	cursor:default;
}
.icon_action {
	display: none;
}
.file_action {
	text-align: left;
	display: none;
	background-color: white;
	border: 2px solid #e1e1e1;
	width: 150px;
	/* margin-left: 38px; */
	z-index: 100;
	position: absolute;
}
.file_action li {
	margin: 0;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.file_action li:hover {
	background-color: #dabce2;
}
.file_action li a {
	display: block;
}
.share_sub_menu{
	text-align: left;
	display: none;
	background-color: white;
	border: 2px solid #e1e1e1;
	width: 150px;
	margin-left:145px;
	margin-top:-15px;
	z-index: 100;
	position: absolute;
}

/* OVERLAY SETTINGS*/
.modal_file {
    background-color:#fff;
    display:none;
    width:700px;
    heigth: 300px;
    text-align:left;
    
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
    box-shadow: 0 0 50px #ccc;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
    z-index: 1000;
    position: absolute;
  }
.file_delete_header {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	background:url(../images/bg_files_bar.png) repeat-x;
	font-size: 15px;
	color:white;
	font-family: Arial,Helvetica,sans-serif;
	letter-spacing: 0px;
	color: white;
	margin: 0 0 0 0px;
	padding: 5px 11px;
	height:29px; 
}
.file_upload_header {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/* background:url(../images/bg_files_bar.png) repeat-x; */
	background:url(../images/upload_msg_bg.png) repeat-x;
	/* height:30px; */
	height:40px;
	/* width: 703px; */
}
#file_upload_header_icon_close {
	background: transparent url(../images/icon_close.png) no-repeat;
	padding-right: 5px;
	width: 24px;
	height: 24px;
	margin-top: 8px;
	border: 0;
}
#file_upload_header_icon_close:hover{
	cursor: pointer;
}
.file_upload_icon_close_msg {
	background: transparent url(../images/icon_close.png) no-repeat;
	padding-right: 5px;
	width: 24px;
	height: 24px;
	margin-top: 8px;
	border: 0;
}
.file_upload_icon_close_msg:hover {
	cursor: pointer;
}
table.file_info td {
	padding: 5px;
}
#file_view_action{
	
	margin: 0;
	
	padding: 0;
	padding-top: 5px;
	/* display: table-cell; */
	vertical-align: middle;
	text-align: left;
	height: 32px;
	
	/* width: 688px; */
	/* background-image: -ms-linear-gradient(top, #8F8F8F 0%, #555555 100%);
	
	background-image: -moz-linear-gradient(top, #8F8F8F 0%, #555555 100%);
	
	background-image: -o-linear-gradient(top, #8F8F8F 0%, #555555 100%);
	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8F8F8F), color-stop(1, #555555));
	
	background-image: -webkit-linear-gradient(top, #8F8F8F 0%, #555555 100%);
	
	background-image: linear-gradient(top, #8F8F8F 0%, #555555 100%); */
	
	background:url(../images/file_action_bg.png) repeat-x;
}
.file_view_action_full_screen {
	width: 100% !important;
}
#file_view_action button {
	cursor: pointer;
}
#view_file_video_container {
	/* margin-left: 95px; */
}
#view_file_mp3_container {
	margin-left: 95px;
}
#view_file_container{
	
	margin-top: 40px;
	background-color: white;
}


#view_image_id {
	margin: 0;
	padding: 0;
}
#view_file_document_container {
	margin: 0;
	padding: 0;
}
/* #file_view_content_video_right_col{
	float: right;
	width: 690px !important;
	height: 395px;
} */
#file_view_content_mp3_right_col{
	float: right;
	width: 690px !important;
	/* height: 395px; */
}
#file_view_content_video_right_col{
	float: right;
	width: 945px;
}
/* #file_view_content_doc_right_col{
	float: right;
	width: 688px;
} */
#file_view_content_doc_right_col{
	float: right;
	width: 688px;
}
/* #file_view_content_image_right_col{
	float: right;
	width: 688px;
} */
/* .file_view_content_image_right_col_normal{
	float: right;
	width: 688px !important;
} */
.file_view_content_image_right_col_normal{
	float: right;
	width: 945px !important;
}
/* .file_view_content_image_right_col_max{
	width: 945px !important;
} */
.file_view_content_image_right_col_min{
	float: right;
	width: 688px !important;
}



/* .file_view_content_doc_right_col_normal{
	float: right;
	width: 688px !important;
} */
.file_view_content_doc_right_col_min{
	float: right;
	width: 688px !important;
}
.file_view_content_doc_right_col_normal{
	/* float: right; */
	width: 945px !important;
}
.file_view_content_doc_right_col_max{
	width: 945px !important;
}
/* .file_view_content_image_right_col_max{
	width: 945px !important;
} */
.file_action_max {
	width: 945px !important;
}
.file_action_min {
	width: 688px !important;
}
.width_688{
	width: 688px !important;
}
.width_945 {
	width: 945px !important;
}
.file_view_content_image_right_col_full_screen {
	float: none !important;
}
/* #file_view_content_doc_right_col_full_screen:fullscreen{
	width: 100% !important;
	height: 100% !important;	
} */
/* FILE VIEW ACTIONS*/
.current_page {
	width: 22px;
	height: 22px;
	border-style: ridge;
	text-align: center;
	vertical-align: middle;
}
.total_page {
	width: 18px;
	height: 22px;
	border: 0;
	outline:0;
	
	/* text-align: center; */
	margin:0;
	padding:0;
	vertical-align: middle;
	
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #8F8F8F 0%, #555555 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #8F8F8F 0%, #555555 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #8F8F8F 0%, #555555 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8F8F8F), color-stop(1, #555555));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #8F8F8F 0%, #555555 100%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #8F8F8F 0%, #555555 100%);
	/* background:url(../images/file_action_bg.png) repeat-x; */
}
.current_zoom {
	width: 70px;
	height: 22px;
	border-style: ridge;
	font-size: 12px;
	font-weight: bold;
	color: #656565;
	text-align: center;
	vertical-align: middle;
}
.current_zoom:hover {
	cursor: default;
}
#option_list_view_scale {
	display: none;
	width: 90px;
	z-index: 100;
	position: absolute;
	background-color: white;
	border: 2px solid #e1e1e1;
	font-size: 12px;
}
#option_list_view_scale div:hover{
	background-color: #dabce2;
	cursor:default;
}
#option_list_view_scale div{
	padding: 3px;
}
.prev_inactive {
	background: url(../images/icon/icon_action/icon_previous_inactive.png) no-repeat;
	width: 22px;
	height: 17px;
	margin-top: 6px;
	border: none;
}
.prev_up {
	background: url(../images/icon/icon_action/icon_previous_up.png) no-repeat;
	width: 22px;
	height: 17px;
	margin-top: 6px;
	border: none;
}
#prev:hover{
	background: url(../images/icon/icon_action/icon_previous_over.png) no-repeat;
}
.next_up {
	background: url(../images/icon/icon_action/icon_next_up.png) no-repeat;
	width: 22px;
	height: 17px;
	margin-top: 6px;
	border: none;
}
.next_inactive {
	background: url(../images/icon/icon_action/icon_next_inactive.png) no-repeat;
	width: 22px;
	height: 17px;
	margin-top: 6px;
	border: none;
}
#next:hover {
	background: url(../images/icon/icon_action/icon_next_over.png) no-repeat;
	border: none;
	
}
#auto_play{
	background: url(../images/icon/icon_action/icon_play_up.png) no-repeat;
	width: 30px;
	height: 29px;
	/* border: none; */
}
.mouse_pointer{
	background: url(../images/icon/icon_action/icon_arrow_mouse_up.png) no-repeat;
	width: 24px;
	height: 29px;
	border: none;
}
.mouse_pointer:hover{
	background: url(../images/icon/icon_action/icon_arrow_mouse_over.png) no-repeat;
}
.mouse_hand{
	background: url(../images/icon/icon_action/icon_hand_up.png) no-repeat;
	width: 24px;
	height: 29px;
	border: none;
}
.mouse_hand:hover{
	background: url(../images/icon/icon_action/icon_hand_over.png) no-repeat;
}

#zoom_in{
	background: url(../images/icon/icon_action/icon_zoom_in_up.png) no-repeat;
	width: 24px;
	height: 29px;
	border: none;
}
#zoom_out{
	background: url(../images/icon/icon_action/icon_zoom_out_up.png) no-repeat;
	width: 24px;
	height: 29px;
	border: none;
}
#btn_drop_down_list {
	background: url(../images/icon/icon_action/icon_drop_list.png) no-repeat;
	width: 6px;
	height: 6px;
	border: none;
}
#centered_doc{
	background: url(../images/icon/icon_action/icon_center_up.png) no-repeat;
	width: 24px;
	height: 29px;
	border: none;
}
#centered_image{
	background: url(../images/icon/icon_action/icon_center_up.png) no-repeat;
	width: 24px;
	height: 29px;
	border: none;
}
#btn_full_screen{
	background: url(../images/icon/icon_action/icon_fullcreen_up.png) no-repeat;
	width: 29px;
	height: 29px;
	border: none;
}

/* .view_image{
	width:  690px;
	height: 550px;
} */
.view_image_fullscreen {
	width: 100% !important;
	height: 100% !important;
}
#shape_over{
	width: 5px;
	height: 29px;
	background: url(../images/icon/icon_action/shape_over.png) no-repeat;
	border: none;
	cursor: default !important;
}
#shape_vertical {
	width: 5px;
	height: 29px;
	background: url(../images/icon/icon_action/shape_vertical.png) no-repeat;
	border: none;
	cursor: default !important;
}
#view_file_document_container{
	width: 690px;
	height:550px;
	text-align: center;
	vertical-align: bottom;
}
.scroll {
	overflow: auto !important;	
}

.info {
	background: url(../images/icon/icon_action/btn_info.png) no-repeat;
	width: 31px;
	height: 25px;
	margin-top: 1px;
	border: none;
}
.info_pressed {
	background: url(../images/icon/icon_action/btn_info_pressed.png) no-repeat;
	width: 31px;
	height: 25px;
	margin-top: 1px;
	border: none;
}
#view_file_document_container_test{
	display: table-row;
	width: 690px;
	height:550px;
	overflow: auto;
	text-align: center;
	vertical-align: middle;
}
/* JQUERY ZOOM PLUGIN*/
.wrapper{
  margin: 0 auto;
  width: 510px;
}

.wrapper h3{
  clear:both;
  text-align:center;
  margin:0;
  padding:20px 0 5px 0;
}

.zoom{
  /* cursor: crosshair; */
  cursor: default;
}
.view_file_document_container_full_screen{
	width: 100% !important;
	height: 100% !important;
}
#view_file_document_container:fullscreen {
	border: 5px solid green;
}
.fullScreen{
	width: 860px;
	margin: 0 auto;
}
.file_view_content_doc_right_col_full_screen {
	float: none !important;
}
.vertical_middle {
	vertical-align: middle;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.new_schedule_title{background: #62067E url(images/bg_files_bar.png) repeat-x scroll 50% 50%;
	font-size: 13px;
	color: white;
	border-top: 1px solid #A4A4A4;
	border-bottom: 1px solid #A4A4A4;
	border-left: 0px solid #C7C7C7;
	border-right: 1px solid #C7C7C7;
	margin-right: -5px;
	padding: 5px 11px;
	line-height: 1.1em;
	font-weight: bold;
	width: 204px;
}
.purple_color_text {
	color: #4d0767;
}
.grey_color_text {
	color: #595959;
}
.font_size_20 {
	font-size: 20px;
}
.font_size_18 {
	font-size: 18px;
}
.font_size_19 {
	font-size: 19px;
}
.font_size{
	font-size: 13px;
}
.font_weight_bold {
	font-weight: bold;
}
.font_size_22 {
	font-size: 22px;
}
.upload_file_msg {
	background: url("../images/btn_green_large_normal.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 23px !important;
    height: 44px;
    margin: 0 auto;
    width: 210px;
}
.upload_file_msg:hover{
	background: url("../images/btn_green_large_mouse.png") no-repeat scroll 0 0 transparent;
}
/* .googleplus {
    background-image: url("../images/google_social_icon.png") !important;
    width: 16px !important;
    height: 16px !important;
} */
#img_flag {
	cursor: pointer;
}
ul#contact_messages {
	margin: 0px auto 0px auto;
	padding: 0;
	list-style: none;
	position: relative;
	top:10px;
}

ul#contact_messages{
	padding: 5px 0px 5px 5px;
	background: none repeat scroll 0 0 #F3F3F3;
	box-shadow: 2px 2px 2px #F4F4F4;
	-moz-box-shadow:    2px 2px 2px #F4F4F4;
	-webkit-box-shadow: 2px 2px 2px #F4F4F4;
	font-size: 11px;
	text-align: center;
	width: 685px;
	line-height: 15px;
	float:right;
}
ul#contact_messages li {
	overflow: auto;
	font-size: 16px;
	font-style: italic;
	color: #88888;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	
}
ul#contact_messages li a.button {
	float: right;
	font-style: normal;
	font-weight: normal;
	text-transform: lowercase;
	position: relative;
	top: -6px;
	padding: 3px 12px 1px ! important;
}
.btn_messages_close {
	width: 16px;
	height: 15px;
	background:url(../../contact/images/icon_warning_close.png) no-repeat;
	border:0px;
	cursor:pointer;
	padding-bottom: 3px;
}
.div_more_action {
	display: inline-block;
}
.div_more_action_sub {
	position: absolute;
	border: 1px solid #e1e1e1;	
	background-color: #fff;
	z-index: 100;
	width: 100px;
	margin-left: 20px;
	margin-top: -10px;
	display: none;
}
.div_more_action_sub a{
	color: #595959 !important;
	font-size: 13px !important;
	display: block;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.div_more_action_sub a:hover {
	background-color: #dabce2;
	cursor: pointer;
}