#tooltip{
    width:auto;
    max-width:230px;
    min-width:50px;
    font-size:12px;
}
/* 
#tooltip #ttimg.top{
    margin-top:-17px;
    margin-left:2px
}
#tooltip #ttimg.bottom{
    bottom:0;
    margin-bottom:-12px;
    margin-left:2px
} */


#tooltip.default{
    background:#e4e2e5;
    color:#595959;
    margin-top:3px;
    margin-left:3px;
    padding: 5px 10px 5px 10px;
    word-wrap:break-word;
    text-align: center;
}


/* #tooltip.default #ttimg.top{
	position:absolute;
	margin-top:-8px;
    margin-left:-8px
}
#tooltip.default #ttimg.bottom{
	position:absolute;
    bottom:0;
    margin-bottom:-3px;
    margin-left:-8px
} */