table#newer_files_list tr.sub_title {
    background: none repeat-x scroll 50% 50% #D6D6D4;
    color: black;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 1.1em;
    margin: 0;
    padding: 5px 11px;
}
table#newer_files_list tr.sub_title th {
    vertical-align: middle;
}
table#newer_files_list h1.sub_title {
    background: none repeat-x scroll 50% 50% #D6D6D4;
    color: black;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.1em;
    margin: 0;
    padding: 5px 11px;
}
table#newer_files_list {
    border-bottom: 2px solid #F4F4F4;
    border-left: 2px solid #F4F4F4;
    border-right: 2px solid #F4F4F4;
    box-shadow: 2px 2px 2px #F4F4F4;
    margin-bottom: 10px;
    width: 230px;
}

table#newer_files_list {
    border-bottom: 2px solid #F4F4F4;
    border-left: 2px solid #F4F4F4;
    border-right: 2px solid #F4F4F4;
    box-shadow: 2px 2px 2px #F4F4F4;
    margin-bottom: 10px;
    width: 705px;
}
table#newer_files_list tr.dark {
    background-color: #F5F5F5;
    height: 30px;
    vertical-align: middle;
}
table#newer_files_list tr.light {
    background-color: #FFFFFF;
    border: medium none;
    height: 30px;
    vertical-align: middle;
}
table#newer_files_list tr.light td {
    vertical-align: middle;
}
table#newer_files_list tr.dark td {
    vertical-align: middle;
}



.files_search_block_right{
	width:720px;
	height:auto;
	/* border:#e3e3e3 solid 2px; */
	float:left;
	margin-left:10px;
}
.searchbg_file {
    background: url("../images/search_bgnew.gif") no-repeat scroll 0 0 transparent;
    height: 29px;
    width: 228px;
    float:right;
    margin-right:5px;
    margin-top:5px;
}

.file_type_filter {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #E3E3E3 !important;
    box-shadow: 2px 2px 2px #F4F4F4;
    margin-bottom: 10px;
    width: 230px;
    float:left;
    height:215px;
}
.file_type_filter input[type="radio"],.file_type_filter input[type="checkbox"] {display:none;}
.file_type_filter p{margin-left:10px;}
.file_type_filter label{font-size:14px;color:#949599;cursor:pointer;}

.top_block_search{width:100%;height:40px;clear:both;}
.new_file_block_title {
    background: url("../images/bg_files_bar.png") repeat-x scroll 50% 50% #62067E;
    border-color: #A4A4A4 #C7C7C7 solid 1px;
    color: white;
    font-size: 13px;
    padding: 5px 11px;
    width: 208px;
}

.select_choice{font-size: 14px;color:#595959;}
.select_choice span{color:#750a98;text-decoration: underline;}

.file_tags_option{width: 100%; padding: 0px; float:left;font: 13px Arial,Helvetica,sans-serif;color:#595959}
.tags_holder{outline: none;clear:left;height:142px;color:#595959;width:212px;font: 12px Arial;font-style:italic;margin: 1px;}
.tags_form{background:#e3e3e3;width: 225px;height:215px; padding: 0px;margin-left:13px;float:left;border:#e3e3e3 solid 1px;}
.file_time_custom{width:480px;height:40px;background: white;}
.file_time_custom table {margin-left:70px;}
.file_time_custom table p{font:14px Arial;color:#595959;}


.files_select_button{display: block;width:91px;height: 29px;background: transparent url(../multiupload/images/select-icon.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 13px;border: 0px;cursor: pointer;font-family: Arial}
.files_select_button:hover{background-position: 0 -29px}
.files_remove_button{display: block;width:71px;height: 29px;background: transparent url(../multiupload/images/remove-icon.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 13px;border: 0px;cursor: pointer;font-family: Arial;float:right}
.files_remove_button:hover{background-position: 0 -29px}
.files_action_button{line-height:1.8em;padding:0;display: block;width:50px;height: 24px;background: transparent url(../images/btn_50x24.png)  0 0 no-repeat;color: white;font-size: 13px;border: 0px;cursor: pointer;font-family: Arial;float:left;margin-right:5px;}
.files_action_button:hover{background-position: 0 -24px}
.search_action_bar{width:100%;height:40px}
.files_search_textbox {
    border: medium none;
    color: gray;
    height: 15px;
    margin: 5px 0 0 5px;
    outline: 0 none;
    padding: 2px 5px 0 2px;
    width: 165px;
    font: 13px Arial,Helvetica,sans-serif;
}
.middle_block_search{width:100%;height:280px;}

.schedule_list_head_title{
	font-size: 13px !important;
}
td.files_checkbox {
    text-align: center;
    width: 20px;
    border-right: white solid 1px;
}
td.files_type {
	
     text-align: left;
     padding-left:4px;
    width: 50px;
    border-right: white solid 1px;
}
td.files_flag {
    width: 40px;
     text-align: left;
     padding-left:4px;
    border-right: white solid 1px;
}
td.files_name {
    width: auto;
     text-align: left;
     padding-left:4px;
      border-right: white solid 1px;
}
td.files_info {
     text-align: left;
     padding-left:4px;
    width: 60px;
    border-right: white solid 1px;
}
td.files_new_views {
    width: 55px;
    text-align: left;
     padding-left:4px;
    border-right: white solid 1px;
}
td.files_new_size {
	width: 60px;
     text-align: left;
     padding-left:4px;
    border-right: white solid 1px;
}
td.files_last_modified {
    width: 110px;
     text-align: left;
     padding-left:4px;
    border-right: white solid 1px;
}
td.files_created_on {
    width: 100px;
     text-align: left;
     padding-left:4px;
    border-right: white solid 1px;
}
td.files_privacy {
      text-align: left;
     padding-left:4px;
    width: 65px;
    border-right: white solid 1px;
}
td.files_icon_settings{
	 width:25px;
}
/* td.files_checkbox {
    text-align: center;
    width: 5%;
    border-right: white solid 1px;
}
td.files_type {
	
    text-align: center;
    width: 5%;
    border-right: white solid 1px;
}
td.files_flag {
    width: 5%;
    text-align: center;
    border-right: white solid 1px;
}
td.files_name {
     text-align: left;
     padding-left:4px;
}
td.files_info {
    text-align: center !important;
    width: 8%;
    border-right: white solid 1px;
}
td.files_new_views {
    width: 10%;
    text-align: center !important;
    border-right: white solid 1px;
}
td.files_new_size {
	width: 5%;
    text-align: center !important;
    border-right: white solid 1px;
}
td.files_last_modified {
    width: 15%;
    text-align: center!important;
    border-right: white solid 1px;
}
td.files_created_on {
    width: 15%;
    text-align: center!important;
    border-right: white solid 1px;
}
td.files_privacy {
     text-align: center!important;
    width: 10%;
    border-right: white solid 1px;
}
td.files_icon_settings{
	 width: 3%;
} */
.files_content_center{text-align: left!important;padding-left: 4px;cursor: default;}
.files_content_title{text-align: left!important;padding-left: 4px;cursor: default;}}
.files_main_button_area{width:100%;height:100px;}
.files_amount_container{width:100%;height:45px;border:#e3e3e3 solid 1px;}
.type_search_text{color:#750a98!important;float:right;font: 13px  Arial,Helvetica,sans-serif;text-decoration: underline!important; cursor: pointer;}
.files_folders_container{width:100%;height:250px;overflow-y:auto;text-align: left;background:#f3f3f3}
.files_folders_container_menu{width:100%;height:285px;text-align: left;border:#e3e3e3 solid 1px;margin-bottom:5px;}
.files_folder_root{width:100%;height:auto;}

.files_folder_root_move{width:420px;height:auto;margin-left:150px;}
.contact_searchbg {
    background: url("../images/search_bgnew.gif") no-repeat scroll 0 0 transparent;
    height: 29px;
    width: 163px;
}
.inactive_flag{background:url('../images/inactive_flag.png') 4px 5px no-repeat;cursor:pointer}
.active_flag{background:url('../images/active_flag.png') 4px 5px no-repeat;cursor:pointer}
tr.active_row{background:#750998!important;}
tr.active_row{color:#fff!important;}
tr.active_row p{color:#fff!important;}

tr.active_row td{border-bottom: 1px solid #9442ae !important;}

tr.hover_row{background:#750998!important;}
tr.hover_row{color:#fff!important;}
tr.hover_row p{color:#fff!important;}


.folder_title_holder{width:100%;min-height:20px;clear:both;}
p.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
 	 width: 100px;
}

 .tooltip {
    display:none;
    background:#e3e3e3;
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#eee;
  }
  
.file_small_purble{display: block;width:71px;height: 29px;background: transparent url(../multiupload/images/remove-icon.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 13px;border: 0px;cursor: pointer;font-family: Arial;padding:0}
.file_small_purble:hover{background-position: 0 -28px}
/* tr.select_row_class:hover{background:#750998!important;border:1px solid #750998;color:#fff!important}
tr.select_row_class:hover p{color:#fff!important}
tr.select_row_class:hover td:nth-child(8){background-position: 0 -10px;} */

.dropdown-perpage{background:url('../images/dropdown-perpage.png') 0 0 no-repeat;min-height:23px;width:53px;float:left;padding: 4px 0px 0 7px;}
.dropdown-perpage-hidden{
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    font: 12px/20px Arial;
    position: absolute;
    text-align: left;
    width: 50px;
    z-index: 100;
    display:none;
    margin-top:5px;
    margin-left:-6px;
    }
.dropdown-perpage-hidden a{
	color: #595959;
    display: block;
    text-decoration: none;
    line-height:1.8em;
    padding-left:5px;
    }
.dropdown-perpage-hidden a:hover{
	background-color: #707070;
color: #FFF!important;}
.paging-dev-left{float:left;width:auto;margin-right:30px;padding-top:5px}
.paging-dev-right{float:left;width:150px;}

.files_tags_dropdown{background:url('../images/dropdown-medium.png') 0 0 no-repeat;min-height:28px;width:220px;padding: 3px 0px 0 7px;float:left;margin-top:2px;}
.files_tags_dropdown span{font: 13px/20px Arial;}
.dropdown-filetag-hidden{
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    font: 13px/20px Arial;
    position: absolute;
    text-align: left;
    width: 223px;
    z-index: 100;
    margin-top:5px;
    margin-left:-6px;
    height:155px;
    overflow-y:auto;
    display:none;
    }
.dropdown-filetag-hidden a{
	color: #595959;
    display: block;
    text-decoration: none;
    line-height:1.8em;
    padding-left:5px;
    cursor:default;
    }
.dropdown-filetag-hidden a:hover{
	background-color: #707070;
color: #FFF!important;}

.files_undodel_button{display: block;width:95px;height: 25px;background: transparent url(../images/undo_delete.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 13px;border: 0px;cursor: pointer;font-family: Arial;float:left}
.files_undodel_button:hover{background-position: 0 -25px}

.ui-datepicker-trigger {
margin-left: 5px;
vertical-align: middle !important;
margin-top: 2px;
float: right;
}

.files_customrange_button{padding:0;display: block;width:200px;height: 32px;background: transparent url(../images/btn_200x32.png)  0 0 no-repeat;color: white;font-size: 16px;border: 0px;cursor: pointer;font-family: Arial;float:left;}
.files_customrange_button:hover{background-position: 0 -32px}
.multidelete_table {font:13px Arial;height:90px;overflow-y:auto;width:530px;border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;margin-left:100px;margin-top:10px;}
.multidelete_table table{margin:5px;width:510px;border:#DDD solid 1px}
.multidelete_table tr{height:20px;}
.multidelete_table tbody tr:nth-child(odd){background:#e3e3e3}

.processing_bar{width:500px;margin-left:100px;background:url('../multiupload/images/pbar-ani.png') repeat-x;height:30px;margin-top:20px;}
.btn_file_copyto{font-weight: normal;
background: url(../images/copy_to_myfile.png) no-repeat;
width: 123px;
height: 24px;
border: 0px;
cursor: pointer;
font: 14px Arial, Helvetica, sans-serif;
color: white;
padding-left: 0px;
padding-right: 0px;}
.btn_file_copyto:hover{background-position:0 -24px}
