input:focus {
	outline: none;
}
#file_check_password {
	font-family: Arial, Helvetica, sans-serif;
	border: 2px solid #f3f3f3;
	margin-top: 30px;
	margin-bottom: 110px;
	-moz-box-shadow: 2px 2px 2px 2px #f4f4f4;
	-webkit-box-shadow: 2px 2px 2px 2px #f4f4f4;
	box-shadow: 2px 2px 2px 2px #f4f4f4;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 100%;
}
#file_check_passwork_inner {
	/* width: 50%;
    margin: 0px auto;*/
    border: 1px solid red; 
    display: inline-block;
}
.txt_file_check_pwd {
	background: url(../images/txt_file_check_pwd.png) no-repeat;
	height: 29px;
	width: 229px;
	border: none;
	padding-left: 10px;
	color: #595959;
}
.btn_file_check_pwd {
	background: transparent url(../images/btn_file_check_pwd.png) 0px 0px no-repeat;
	height: 28px;
	width: 69px;
	border: none;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	cursor: pointer;
}
.btn_file_check_pwd:hover {
	background-position: 0 -28px;
}