.radiobuttons label{
	background:url('images/icon_radio_uncheck.png') 3px 0px no-repeat;
}
.radiobuttons li {
	padding: 2px 0;
	position: relative;
	height: 25px;
}
.radiobuttons input[type="radio"] {
	height: 15px;
	
	left: 0;
	/* margin: 10px; */
	opacity: 0;
	padding: 0;
	position: absolute;
	width: 22px;
	background:url('images/icon_radio_uncheck.png') 3px 0px no-repeat;
	
}

.radiobuttons label {
	font-size: 13px;
	font-weight:bold;
	height: 22px;
	padding: 0 20px 2px 30px;
	vertical-align: baseline;
}

.radiobuttons input[type="radio"]:checked+label {
	background:url('images/icon_radio_checked.png') 3px 0px no-repeat;
}

.radiobuttons input[type="radio"]:active+label {
	background:url('images/icon_radio_uncheck.png') 3px 0px no-repeat;
}

/* .radiobuttons input:focus+label,.radiobuttons input:active:checked+label,.radiobuttons input:checked+label:active
{
	background:url('images/icon_radio_checked.png') 0 2px no-repeat;
}
 */


.multiupload_title{width:100%;height:50px;overflow-y: visible;}
.multiupload_files_holder{width:920px;padding-left:10px;clear:both;}
.multiupload_button_small{display: block;width: 111px;height: 36px;background: transparent url(images/btn_111x36.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 14px;border: 0px;cursor: pointer;font-family: Arial}
.multiupload_button_small:hover{background-position:0 -36px}
.multiupload_button_tiny{display: block;width: 75px;height: 29px;background: transparent url(images/purple_small_button.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 14px;border: 0px;cursor: pointer;font-family: Arial}
.multiupload_button_tiny:hover{background-position: 0 -29px}
.multiupload_button_big{display: block;width:210px;height: 43px;background: transparent url(images/btn_210x129.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 22px;border: 0px;cursor: pointer;font-family: Arial}
.multiupload_button_big:hover{background-position: 0 -43px}

.schedule_btn_263x45_big{display: block;width: 263px;height: 45px;background: transparent url(images/btn_green_large.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 24px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;}
.schedule_btn_263x45_big:hover {background-position: 0px -45px;}

.multiupload_file_info{margin-left:10px;margin-top:10px;width:930px;height:220px;border:#e3e3e3 solid 2px;}
.multiupload_title_bar{width:926px;height:29px;background:url('images/bg_files_bar.png') 0 0 repeat-x;color:white;font-size: 13px;padding-top:5px;padding-left:5px;}
.multiupload_file_folder{margin-left:10px;margin-top:10px;width:930px;height:280px;border:#e3e3e3 solid 2px;}
.jstree li[rel="root_folder"] > a > .jstree-icon {
	height:22px;
	width:26px;
background-image: url('/site_media/jstree/images/root_folder.png');
background-position: 0px -2px!important;
}
.jstree li[rel="normal_folder"] > a > .jstree-icon {
	height:22px;
	width:26px;
background-image: url('/site_media/jstree/images/normal_folder.png');
background-position: 0px -2px!important;
}
.multiupload_left_info{width:500px;height:auto;float:left;margin-left:20px}
.multiupload_right_info{width:400px;height:auto;float:left;}
.multiupload_tinyclear{clear:both;height:5px;width:100%}
.multiupload_smallclear{clear:both;height:10px;width:100%}
.multiupload_mediumclear{clear:both;height:20px;width:100%}
.multiupload_hardclear{clear:both;height:30px;width:100%}

.multiupload_left_folder{margin-left:20px;width:450px;float:left}
.multiupload_right_folder{width:450px;float:left}

.password_type_holder{width:200px;height:50px;float:right;margin-top:-40px;margin-right:50px;}

#Attachedlist tr{height:25px;vertical-align: middle;}
#Attachedlist tr:nth-child(even) {background: #f5f5f5;}
#Attachedlist tr:nth-child(odd) {background: #ffffff;}
#Attachedlist tr:hover{background:#dabce2;cursor: pointer;}
#Attachedlist tr.uploadfile_selected{background:#dabce2;}

.allow_space_header{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background:url(../images/upload_msg_bg.png) repeat-x;
	height:40px;
}
.allow_space_close {
	background: transparent url(../images/icon_close.png) no-repeat;
	padding-right: 5px;
	width: 24px;
	height: 24px;
	margin-top: 8px;
	border: 0;
	cursor:pointer;
}
.nofication_dialog {text-align: center;}
.nofication_dialog p{color: #4d0767;font-size: 20px;font-weight: bold;}
.btn_notification {
	background: url("../images/btn_green_large_normal.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 23px !important;
    height: 44px;
    margin: 0 auto;
    width: 210px;
}
.modal_file {
    background-color:#fff;
    display:none;
    width:700px;
    heigth: 300px;
    text-align:left;
    
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
    box-shadow: 0 0 50px #ccc;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
    z-index: 1000;
    position: absolute;
  }
  
.folder_create_button{display: block;width:100px;height: 25px;background: transparent url(images/btn_100x50.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 13px;border: 0px;cursor: pointer;font-family: Arial, Helvetica, sans-serif;padding-left:20px;}
.folder_create_button:hover{background-position: 0 -24px}
.folder_rename_button{display: block;width:88px;height: 25px;background: transparent url(images/btn_88x50.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 13px;border: 0px;cursor: pointer;font-family: Arial, Helvetica, sans-serif;}
.folder_rename_button:hover{background-position: 0 -24px}
.folder_delete_button{display: block;width:30px;height: 25px;background: transparent url(images/30x50.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 13px;border: 0px;cursor: pointer;font-family: Arial}
.folder_delete_button:hover{background-position: 0 -25px}

.multiupload_select_button{display: block;width:91px;height: 29px;background: transparent url(images/select-icon.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 13px;border: 0px;cursor: pointer;font-family: Arial}
.multiupload_select_button:hover{background-position: 0 -29px}
.multiupload_remove_button{display: block;width:71px;height: 29px;background: transparent url(images/remove-icon.png) 0px 0px no-repeat;margin: 0 auto;color: white;font-size: 13px;font-weight:bold;border: 0px;cursor: pointer;font-family: Arial;padding:0}
.multiupload_remove_button:hover{background-position: 0 -28px}
.privacy_container{margin-left:50px;width:380px;border:#e3e3e3 solid 1px;height:180px;}

.warning_file_type{
height:auto;width:385px;
background:#f3f3f3;
padding:10px;
-moz-border-radius: 5px;
border-radius: 5px;
display:none;
margin-top:10px;
z-index:5000;
}
.warning_text{color:#595959;font-size: 11px;font-weight: bold;font-family: Arial;line-height: 1.5em}
.warning_type{color:#750a98;font-size: 11px;font-weight: bold;font-family: Arial;margin-left:80px;clear:left;}
.continue_disable{opacity:0.5; filter:alpha(opacity=50);}

.input_holder_tags{width:400px;padding:3px;clear:both;border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;overflow-y:auto;height:90px;}
.input_holder_folder{width:400px;padding:3px;border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;height:144px;margin-left:10px;overflow-y:auto;}

.file_delete_header {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	background:url(../images/bg_files_bar.png) repeat-x;
	font-size: 15px;
	color:white;
	font-family: Arial,Helvetica,sans-serif;
	letter-spacing: 0px;
	color: white;
	margin: 0 0 0 0px;
	padding: 5px 11px;
	height:29px; 
}
.password-divide{background: url(../images/password_div_separate.png) 0px 0px no-repeat;height:3px;width:238px;clear:both;margin-left:10px;}
.password-holder-toggle{display:none;clear:both;}
.password-holder-toggle table{border:0}
.password-holder-toggle table p{font:13px Arial;color:#750a98}
.password-holder-toggle table input{border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;height:16px;width:140px;font:12px Arial;}

.ui-widget-content {background: #eeeeee; color: #333333; }
.ui-widget-content a { color: #595959; }

.ui-widget-header a { color: #ffffff; }
.ui-menu {
	/* filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=5);
	-moz-border-radius: 5px;
	border-radius: 5px; */
	 -moz-box-shadow:    0px 0px 10px 0px #707070;
	  -webkit-box-shadow: 0px 0px 10px 0px #707070;
	  			box-shadow: 0px 0px 10px 0px #707070;
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
	border:#e3e3e3 solid 1px;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
	color: white;background:#9B56B3;
}

.input_text_folder{margin-left:10px;color:#595959;width:385px;padding:3px;padding-right:20px;clear:both;border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;height:20px;font:13px Arial}
.remove_file_close{border: 0px;border: none;margin-top: 8px;margin-left:-17px;background: url(../../schedule/images/icon_close.png) no-repeat;cursor: pointer;width:10px;height:15px; }
.remove_file_close:hover {color:#8115A0;background-position: 0px -50px;}
