{% load i18n %}
<html>
    <head>
        <title>Message</title>
    </head>
    <body style="background:white url(http://netconference.com/site_media/img/email/bg.jpg) top center repeat-x;margin:0;padding:0;font-family: Helvetica, Tahoma, Geneva, Arial, sans-serif; font-size: 12px;text-align:center;line-height:1.4em;">
        <a href="http://netconference.com" style="text-decoration:none;"><img src="http://netconference.com/site_media/img/email/logo.jpg" alt="NetConference" border="0" width="450" height="120" /></a>
        <div style="width:600px;margin:10px auto;text-align:left;">
            <p>
                 I would like you to please join me in my NetConference virtual conference room, {{conftime}}.
            </p><p>
                You may join this conference by first dialing into the conference bridge line <b>{{ ccall_pin.dial_in_number }}</b> and using this access code <b>{{ ccall_pin.access_code }}</b>.
                Then, click on the link below and join the conference
            </p>
                   <a onclick="javascript:window.open('http://www.netconference.com{{event.get_conference_url}}','conferencepage',config='height=800,width=1000,top=0,left=0,fullscreen=yes,titlebar=no,personalbar=no,dialog=yes,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;" href="http://www.netconference.com{{event.get_conference_url}}">http://www.netconference.com{{event.get_conference_url}}</a>
            <p>
                I look forward to seeing you there.
            </p>
            <p>            
            {{user.username}}
            </p>
            {% blocktrans %}
            <p style="font-size:11px;"><a href="http://www.netconference.com" style="color: #8a278a;">NetConference</a> is a great way to collaborate with others online, send video e-mail, share files, and host meetings with others in real time.  If you have any questions about NetConference, don't hesitate to <a href="http://netconference.com/contact/" style="color: #8a278a;">contact us.</a></p>
            {% endblocktrans %}
        </div>
    </body>
</html>
