{% load i18n %}
<html>
    <head>
        <title>Message</title>
    </head>
    <body style="background:white url(http://netconference.com/site_media/img/email/bg.jpg) top center repeat-x;margin:0;padding:0;font-family: Helvetica, Tahoma, Geneva, Arial, sans-serif; font-size: 12px;text-align:center;line-height:1.4em;">
        <a href="http://netconference.com" style="text-decoration:none;"><img src="http://netconference.com/site_media/img/email/logo.jpg" alt="NetConference" border="0" width="450" height="120" /></a>
        <div style="width:600px;margin:10px auto;text-align:left;">
            <p>{% blocktrans %}You have been invited to a NetConference {% endblocktrans %} {% trans "by" %} {% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}{{ user }}{% endif %}:</p>
	    {% if conf_message %}
	    <p><strong>{% trans "NetConference Invitation" %}</strong></p>
	    <p>
                 {% blocktrans %}I would like you to please join me in my NetConference virtual conference room{% endblocktrans %}, {{conftime|date:"N j, Y (l) h:i:s A" }}.
            </p>
	    <p>
                {% blocktrans %}You may join this conference by first dialing into the conference bridge line {% endblocktrans %}<b>{{ ccall_pin.dial_in_number }}</b> {% blocktrans %}and using this access code {% endblocktrans %}<b>{{ ccall_pin.access_code }}</b>.
                Then click on the link below and join the conference
	    </p>
                   <a onclick="javascript:window.open('http://www.netconference.com{{event.get_conference_url}}','conferencepage',config='height=800,width=1000,top=0,left=0,fullscreen=yes,titlebar=no,personalbar=no,dialog=yes,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;" href="http://www.netconference.com{{event.get_conference_url}}">http://www.netconference.com{{event.get_conference_url}}</a>
	    {% endif %}
	    <p><strong>{% trans "Message" %}</strong></p>
            {% blocktrans %}<p>{{ message }}</p>{% endblocktrans %}
            {% if attachments %}
                <p>{% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}{{ user }}{% endif %} also attached the following for your review:</p>
                <p><em>
                {% for k,v in attachments.items %}
                    {% ifequal k "Video E-mail" %}
                        Video E-mail Recording: {{ subject }}<br />
                    {% endifequal %}
                {% endfor %}
                </em></p>
            {% endif %}

            <p><a href="{{ vmail_url }}" style="color: #8a278a;">Click here to view your message{% if attachments %} and attachments{% endif %}.</a></p>
            <br />
            
            {% if show_netsign %}
            <p style="font-size:11px;">
            {% blocktrans %}
            <a href="http://www.netconference.com/netsign" style="color: #8a278a;">NetSign
            Digital Signature Service</a> is a fast and secure way to send and sign legal documents. Once you have signed and completed your transaction you will be emailed a confirmation and a link to download a PDF version of the signed agreement for your records.
            {% endblocktrans %}
            {% endif %}
            {% blocktrans %}
            <p style="font-size:11px;"><a href="http://www.netconference.com" style="color: #8a278a;">NetConference</a> is a great way to collaborate with others online, send video e-mail, share files, and host meetings with others in real time.  If you have any questions about NetConference, don't hesitate to <a href="http://netconference.com/contact/" style="color: #8a278a;">contact us.</a></p>
            {% endblocktrans %}
        </div>
    </body>
</html>
