/* CONTACT LIST */

#contact_main a,p {font-family: Arial,Helvetica,sans-serif;color:#818085;text-decoration: none;}

/* REMOVE OUTLINE INPUT */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
/* END REMOVE OUTLINE INPUT */

input:focus {
	outline: none;
	-moz-outline-style: none;
}
select:focus {
	outline: none;
	-moz-outline-style: none;
}
#contact_top {
	margin-top: 25px;
	vertical-align: middle;
}
#new_contact_title {
	font-size: 28px;
	color: #750998;
}
#contact_top_left { font-size: 24px; color: #750998; float: left;}

#contact_top_right { float: right;}
#contact_top_right_tooltip {
	float: left;
	color: #595959;
}
#contact_top_right_close_icon {
	float: right;
	cursor: pointer;
}
#contact_top_right{
	padding: 15px 0px 10px 10px;
	background: none repeat scroll 0 0 #F3F3F3;
    box-shadow: 2px 2px 2px #F4F4F4;
    -moz-box-shadow:    2px 2px 2px #F4F4F4;
	-webkit-box-shadow: 2px 2px 2px #F4F4F4;
    font-size: 11px;
    height: 50px;
    text-align: center;
    width: 680px;
    line-height: 15px;
}
td.files_checkbox {
	width:25px;
	text-align:center;
}

td.first_name {
	width:160px;
}

td.last_name {
	width:140px;
}
td.email {
	width:200px;
	text-align: left !important;
}
td.phone {
	width:100px;
}
td.group {
	width:115px;
}
.create_contact{
	font-family: Arial,Helvetica,sans-serif;
	width: 226px;
	height: 48px;
	font-weight: normal;
	background:url(../images/bt_blank_purple_button.png) no-repeat;
	border:0px;
	cursor:pointer;
	font: 22px Arial, Helvetica, sans-serif;
	color:#FFF;	
}
.create_contact:hover{
	background-position: 0 -48px;
}
.import_contact {
	width: 226px;
	height: 48px;
	font-weight: normal;
	background:url(../images/bt_blank_green_button.png) no-repeat;
	border:0px;
	cursor:pointer;
	font: 22px Arial, Helvetica, sans-serif;
	color:#FFF;
}
.import_contact:hover{
	background-position: 0 -48px;
}
.btn_group {
	width: 50px;
	height: 25px;
	font-weight: normal;
	background:url(../images/btn_group.png) no-repeat;
	border:0px;
	cursor:pointer;
	font: Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size: 12px;
	padding-left: 0px;
	padding-bottom: 3px;
}
.btn_group:hover{
	background:url(../images/btn_group_roll.png) no-repeat;
}
.group_header {
	background: url(../images/bg_contact_bar.png) repeat-x scroll 50% 50%;
	font-size: 13px;
	color:white;
	font-family: Arial,Helvetica,sans-serif;
	letter-spacing: 0px;
	color: white;
	margin: 0 0 0 0px;
	/* padding: 5px 11px; */
	padding: 30px !important;
	line-height: 1.1em;
	height:29px;
	
}
table.contact_group {
	border-collapse: collapse;
	background: #f3f3f3;
	margin-left: 2px;
}
table.contact_group td{
	padding: 10px;
	font-size: 14px;
	color: #5a5a5a;
	font-family: Arial,Helvetica,sans-serif;
}

#contact_content_left {
	width: 230px;
	float: left;
	text-align: center;
}
#contact_content_right {
	width: 720px;
	float: right;
}

.filter_alphabet {
	font-size: 13px;
	color: #750a98 !important;
	text-decoration: underline !important;
	font-weight: bold;
}
.filter_alphabet_active {
	font-size: 13px;
	color: #595959;
	font-weight: normal;
}
#btn_new_group {
	background: url(../images/btn_green_group.png) no-repeat;
	width: 100px;
	height: 25px;
	color: white;
	border: none;
	cursor: pointer;
	padding-left: 20px;
	font-size: 12px;
}
#btn_new_group:hover {
	background: url(../images/btn_green_group_roll.png) no-repeat;
}
.contact_group tbody tr:hover {
	background-color: #750998;
}
.contact_group tbody tr:hover td:first-child a{
	color: white !important;
}
.contact_group tbody tr.selected{
	background-color: #750998;
}
.contact_group tbody tr.selected td:first-child a{
	color: white !important;
}
.contact_action {
	text-align: left;
	display: none;
	background-color: white;
	border: 2px solid #c5c5c5;
	width: 150px;
	/* margin-left: 38px; */
	z-index: 100;
	position: absolute;
	
	-moz-box-shadow:   0 0 20px #707070;
  	-webkit-box-shadow: 0 0 20px #707070;
  	box-shadow: 0 0 20px #707070;
	
}
.contact_action li {
	margin: 0;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.contact_action li:hover {
	background-color: #dabce2;
}
.contact_action li a {
	display: block;
}
.icon_contact_action {
	display: none;
}
.contact_data {
	padding-left: 5px;
	text-align: left !important;
}
.contact_action_sub {
	font-size: 13px;
}
#add_group_sub {
	text-align: left;
	display: none;
	background-color: white;
	border: 2px solid #c5c5c5;
	width: 130px;
	z-index: 100;
	position: absolute;
	-moz-box-shadow:   0 0 20px #707070;
	-webkit-box-shadow: 0 0 20px #707070;
	box-shadow: 0 0 20px #707070;
}
#remove_group_sub {
	text-align: left;
	display: none;
	background-color: white;
	border: 2px solid #c5c5c5;
	width: 130px;
	z-index: 100;
	position: absolute;
	-moz-box-shadow:   0 0 20px #707070;
	-webkit-box-shadow: 0 0 20px #707070;
	box-shadow: 0 0 20px #707070;
}
#new_contact_main {
	border-left: 2px solid #f3f3f3;
	border-right: 2px solid #f3f3f3;
	border-bottom: 2px solid #f3f3f3;
	padding: 20px;
}
/*CREATE CONTACT*/
.create_contact_textbox {
	width: 260px;
}
.button_create {
	font-family: Arial,Helvetica,sans-serif;
	background: url(../images/btn_xlarge_green.jpg) no-repeat;
	width: 263px;
	height: 46px;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 25px;
}
.button_create:hover {
	background: url(../images/btn_xlarge_green_roll.jpg) no-repeat;
}

.btn_select_image {
	font-family: Arial,Helvetica,sans-serif;
	background: url(../images/btn_green_small.png) no-repeat;
	width: 60px;
	height: 24px;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 13px;
	padding-bottom: 2px;
}
.btn_select_image:hover {
	background-position: 0 -24px;
}
.create_contact_title {
	color: #5a5a5a;
	font-size: 14px;
}
.text_field_bg {
    border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;
    height: 25px;
    color: #5A5A5A;
    padding-left: 5px;
}
.text_field_bg_overlay {
    border: 1px solid #CCCCCC;
    box-shadow: 0 2px 5px #E1E1E1;
    height: 26px;
    color: #5A5A5A;
    padding-left: 18px;
}
.create_contact_option_text {
	color: #5a5a5a;
	font-size: 13px;
}
.create_contact_select_text {
	color: #5a5a5a;
	font-size: 13px;
	width: 120px;
}
.button_more {
	background: url(../images/icon_plus.png) no-repeat;
	width: 17px;
	height: 17px;
	border: none;
	cursor: pointer;
}
.add_group {
	background: url(../images/icon_plus.png) no-repeat;
	width: 17px;
	height: 17px;
	border: none;
	cursor: pointer;
}
.button_less {
	background: url(../images/icon_minus.png) no-repeat;
	width: 17px;
	height: 17px;
	border: none;
	cursor: pointer;
}
.remove_group {
	background: url(../images/icon_minus.png) no-repeat;
	width: 17px;
	height: 17px;
	border: none;
	cursor: pointer;
}
.contact_overlay_header {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background:url(../images/bg_files_bar.png) repeat-x;
	height:29px;
	color: white;
	font-size: 14px;
	padding-left: 15px;
	padding-top: 7px;
}
.contact_overlay_button {
	font-family: Arial,Helvetica,sans-serif;
	background: url("../images/btn_xlarge_green.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 23px !important;
    margin: 0 auto;
    width: 263px;
    height: 46px;
}
.contact_overlay_button:hover {
	background: url("../images/btn_xlarge_green_roll.jpg") no-repeat scroll 0 0 transparent;
}
/*CONTACT DETAILS*/


.btn_all_contacts {
	padding:0;
	width: 151px;height: 31px;background: transparent url(../images/btn_back.png) 0px 0px no-repeat;margin: 0 auto;color: white; font-size: 13px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.btn_all_contacts:hover{
	padding: 0;
	width: 151px;height: 31px;background: transparent url(../images/btn_back_roll.png) 0px 0px no-repeat;margin: 0 auto;color: white; font-size: 13px;border: 0px;cursor: pointer; font-family: Arial,Helvetica,sans-serif;
}
.contact_top_left {
    color: #750998;
    float: left;
    font-size: 24px;
}
.btn_contact_details {
	font-family: Arial,Helvetica,sans-serif;
	background: url("../images/btn_purple_210x37.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 18px !important;
    margin: 0 auto;
    width: 210px;
    height: 37px;
}
.btn_contact_details:hover {
	background: url("../images/btn_purple_roll_210x37.png") no-repeat scroll 0 0 transparent;
}
.contact_details_data {
	color: #5A5A5A;
    font-size: 14px;
}
.contact_details_data td:nth-child(1){
	text-align: right;
	
}
/*END CONTACT DETAILS*/
/*TEST*/
.checkboxes label{
        background:url('../images/icon_check_box.png') 0 2px no-repeat;
}
.checkboxes li {
        padding: 2px 0;
        position: relative;
        height: 25px;
}
.checkboxes input[type="checkbox"] {
        height: 22px;
        left: 0;
        margin: 10px;
        opacity: 0;
        padding: 5;
        position: absolute;
        width: 22px;
        background:url('../images/icon_check_box.png') 0 2px no-repeat;
}

.checkboxes label {
        font-size: 14px;
        height: 22px;
        padding: 0 20px 2px 30px;
        vertical-align: baseline;
}

.checkboxes input[type="checkbox"]:checked+label {
        background:url('../images/icon_check_on.png') 0 2px no-repeat;
}
.title_err_delete_contacts {
	display: none;
	color: red;
	font-size: 20px;
}
.padding_left_10 {
	padding-left: 10px;
}
.ui-button-text {
    line-height: normal !important;
}
.import_contacts_text {
	font-family: Arial,Helvetica,sans-serif;
	color: #595959;
	font-size: 12px;
}
.import_contact_buttons {
	font-family: Arial,Helvetica,sans-serif;
	background: url("../images/btn_blue.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 18px !important;
    margin: 0 auto;
    width: 178px;
    height: 41px;
    padding-bottom: 0;
    padding-top: 5px;
}
.import_contact_buttons:hover {
	background-position: 0 -41px;
}
.contact_search_textbox{
	border: none;
	outline:0;
	width: 115px;
	
	padding: 2px;
	margin-left: 3px; 
	height:15px; 
	/* margin:5px 0px 0px 5px; */
	color: gray;
	font-size: 12px !important;
}
.contact_searchbg {
    background: url("../images/search.png") no-repeat scroll 0 0 transparent;
    height: 29px;
    width: 163px;
}
.contact_search_close{
	border: 0px;
	border: none;
	/* margin-top: 4px; */
	background: url(../images/icon_close.png) no-repeat;
	padding-left: 10px;
	cursor: pointer;
	width: 14px;
	height: 14px;
}
.contact_search_close:hover {
	color:#8115A0;
	background-position: 0px -50px;
}
.contact_search_btn {
	border: 0px;
	border: none;
	/* margin-top: 4px; */
	background: url(../images/icon_search.png) no-repeat;
	width: 14px;
	height: 14px;
	cursor: pointer;
	margin-right: 5px;
}
.btn_all_delete {
	width: 50px;
	height: 25px;
	font-weight: normal;
	background:url(../images/btn_small_green.png) no-repeat;
	border:0px;
	cursor:pointer;
	font: Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size: 12px;
	padding-bottom: 3px;
	outline: none;
}

.btn_all_delete:hover {
	background:url(../images/btn_small_green_roll.png) no-repeat;
	width: 50px;
	height: 25px;
}
.sel_edit_group {
	width: 300px;
	color: #5A5A5A;
    font-size: 13px;
}
/*END TEST*/
.btn_message {
	width: 90px;
	height: 25px;
	font-weight: normal;
	background:url(../images/btn_message.png) no-repeat;
	border:0px;
	cursor:pointer;
	font: Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size: 12px;
	padding-bottom: 3px;
}
.btn_message:hover {
	background:url(../images/btn_message_roll.png) no-repeat;
}
tr.active_row {
	background:#750998!important;
	color:#fff!important;
}
tr.active_row td{
	border-bottom: #9442AE solid 1px;
}
tr.active_row a {
	color:#fff!important;
}
.opacity_0_5 {
	-moz-opacity: 0.5; 
	filter:alpha(opacity=50); 
	opacity: 0.5;
}
#files_list tbody tr.files_list_head:hover{
	background: url("../images/bg_files_bar.png") repeat-x scroll 0 0 transparent;
    color: white;
}
/*CONTACT MESSAGES*/
 
ul#contact_messages {
	margin: 0px auto 0px auto;
	padding: 0;
	list-style: none;
	position: relative;
	top:10px;
}

ul#contact_messages{
	padding: 5px 0px 5px 5px;
	background: none repeat scroll 0 0 #F3F3F3;
	box-shadow: 2px 2px 2px #F4F4F4;
	-moz-box-shadow:    2px 2px 2px #F4F4F4;
	-webkit-box-shadow: 2px 2px 2px #F4F4F4;
	font-size: 11px;
	text-align: center;
	width: 685px;
	line-height: 15px;
	float:right;
}
ul#contact_messages li {
	overflow: auto;
	font-size: 16px;
	font-style: italic;
	color: #88888;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	
}
ul#contact_messages li a.button {
	float: right;
	font-style: normal;
	font-weight: normal;
	text-transform: lowercase;
	position: relative;
	top: -6px;
	padding: 3px 12px 1px ! important;
}
.btn_messages_close {
	width: 16px;
	height: 15px;
	background:url(../images/icon_warning_close.png) no-repeat;
	border:0px;
	cursor:pointer;
	padding-bottom: 3px;
}
#div_dropdown_name {
	width: 94px;
	height: 24px;
	background:url(../images/dropdown_name.png) no-repeat;
	border:0px;
	cursor: pointer;
	font-size: 13px;
	padding-left: 8px;
	padding-top: 4px;
	margin-top: 3px;
}
#sub_dropdown_name {
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    font: 13px/20px Arial;
    position: absolute;
    text-align: left;
    width: 90px;
    z-index: 100;
    margin-top: 4px;
    margin-left: -8px;
    
   	/* border: 2px solid #e1e1e1; */
    border: 2px solid #c5c5c5;
}
#sub_dropdown_name a {
	display: block;
	padding-left: 5px;
}
#sub_dropdown_name a:hover {
	background-color: #707070;
	color: white !important;
}
.un_selected {
	display: none;
}
.div_dropdown_per_page {
	width: 51px;
	height: 22px;
	background:url(../images/dropdown_per_page.png) no-repeat;
	border:0px;
	cursor: pointer;
	font-size: 13px;
	padding-left: 5px;
	padding-top: 4px;
}
.sub_per_page {
    background-color: #FFFFFF;
    -moz-box-shadow:   0 0 20px #707070;
  	-webkit-box-shadow: 0 0 20px #707070;
  	box-shadow: 0 0 20px #707070;
    font: 13px/20px Arial;
    position: absolute;
    text-align: left;
    width: 50px;
    z-index: 100;
    margin-top: 3px;
    margin-left: -5px;
    display: none;
    border: 2px solid #c5c5c5;
}

.sub_per_page a {
	display: block;
	padding-left: 5px;
}
.sub_per_page a:hover {
	background-color: #707070;
	color: white !important; 
}
.div_dropdown_email {
	width: 127px;
	height: 24px;
	background:url(../images/dropdown_long.png) no-repeat;
	border:0px;
	font-size: 13px;
	padding-left: 5px;
	padding-top: 4px;
	margin-top: 5px;
}
.div_dropdown_email a {
	display: block;
	padding-left: 5px;
}
.div_dropdown_email a:hover {
	background-color: #707070;
	color: white !important;
}
.sub_div_dropdown_email {
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    font: 13px/20px Arial;
    position: absolute;
    text-align: left;
    width: 125px;
    z-index: 100;
    margin-top: 4px;
    margin-left: -4px;
    display: none;
}
.sub_div_dropdown_email a {
	color: #818085 !important;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none !important;
}
.sub_div_dropdown a {
	color: #818085 !important;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none !important;
}
.div_dropdown {
	width: 127px;
	height: 24px;
	background:url(../images/dropdown_long.png) no-repeat;
	border:0px;
	font-size: 13px;
	padding-left: 5px;
	padding-top: 4px;
	margin-top: 5px;
}
.new_div_dropdown {
	width: 127px;
	height: 24px;
	background:url(../images/dropdown_long.png) no-repeat;
	border:0px;
	cursor: pointer;
	font-size: 13px;
	padding-left: 5px;
	padding-top: 4px;
	margin-top: 5px;
}
.div_dropdown a {
	display: block;
	padding-left: 5px;
}
.div_dropdown a:hover {
	background-color: #707070;
	color: white !important;
}
.sub_div_dropdown {
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    font: 13px/20px Arial;
    position: absolute;
    text-align: left;
    width: 125px;
    z-index: 100;
    margin-top: 4px;
    margin-left: -4px;
    display: none;
    
}
.sub_div_dropdown a{color:#818085!important;text-decoration: none!important;}

.div_dropdown_group {
	width: 386px;
	height: 24px;
	background:url(../images/dropdown_large.png) no-repeat;
	border:0px;
	font-size: 13px;
	padding-left: 5px;
	padding-top: 4px;
	margin-top: 5px;
}
.div_dropdown_group_edit {
	width: 300px !important;
	background:url(../images/dropdown_medium.png) no-repeat !important;
}
.sub_div_dropdown_group {
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    font: 13px/20px Arial;
    position: absolute;
    text-align: left;
    width: 383px;
    z-index: 100;
    margin-top: 4px;
    margin-left: -5px;
    display: none;
    border: 2px solid #c5c5c5;
}
.sub_div_dropdown_group_edit {
	width: 300px;
}
.sub_div_dropdown_group a {
	display: block;
	padding-left: 5px;
}
.sub_div_dropdown_group a:hover {
	background-color: #707070;
	color: white !important; 
}
/*END CONTACT MESSAGES*/
.small_clear {
	clear: both;
    height: 4px;
    width: 100%;
}
.contact_merge_action {
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    font: 12px/20px Arial;
    position: absolute;
    text-align: left;
    width: 150px;
    z-index: 100;
    margin-top: 4px;
    margin-left: -5px;
    display: none;
    border: 2px solid #c5c5c5;
}
.contact_merge_action li {
	margin: 0;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.contact_merge_action li:hover {
	background-color: #dabce2;
}
.contact_merge_action li a {
	display: block;
	cursor: pointer;
}

.contact_merge_action_bottom {
	background-color: #FFFFFF;
    box-shadow: 0 0 20px #707070;
    font: 12px/20px Arial;
    position: absolute;
    text-align: left;
    width: 150px;
    z-index: 100;
    margin-top: 4px;
    margin-left: -5px;
    display: none;
    border: 2px solid #c5c5c5;
}
.contact_merge_action_bottom li {
	margin: 0;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.contact_merge_action_bottom li:hover {
	background-color: #dabce2;
}
.contact_merge_action_bottom li a {
	display: block;
	cursor: pointer;
}



/* FIND AND MERGE CONTACTS START */
#tbl_merge_contacts{
	/* margin: auto; */
	font-size: 14px;
	margin-left: 260px;
}

#tbl_merge_contacts td {
	text-align: left;
}
#tbl_merge_contacts  td:nth-child(1) {
	text-align: right;
	/* text-align: left; */
}

.tbl_center {
	margin: auto;
	font-size: 14px;
}
.div_merge_contacts {
	font-family: Arial, Helvetica, sans-serif;
	border: 2px solid #f3f3f3;
	margin-top: 30px;
	margin-bottom: 30px;
	-moz-box-shadow: 2px 2px 2px 2px #f4f4f4;
	-webkit-box-shadow: 2px 2px 2px 2px #f4f4f4;
	box-shadow: 2px 2px 2px 2px #f4f4f4;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
}
.btn_merge_contacts {
	width: 263px;
	height: 45px;
	font-weight: normal;
	background:url(../images/btn_green_large.png) no-repeat;
	border:0px;
	cursor:pointer;
	font: Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size: 23px;
}
.btn_merge_contacts:hover {
	background-position: 0 -45px;
}
#tbl_merge_contacts {
	text-align: center;
	color: #595959;
}
#tbl_merge_contacts a{
	color: #750A98;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}
table.tbl_merge_action {
	margin-left: 257px;
}
.tbl_merge_action a{
	color: #750A98 !important;
	font-size: 12px;
	text-decoration: underline !important;
	cursor: pointer;
}
/* FIND AND MERGE CONTACTS END*/