{% load i18n %}

{% block subnav %}
    	<ul class="subnav">
	  {% if request.user.is_authenticated %}
    		<li><a href="{% url my_files %}">{% trans "My Files" %}</a></li>
     		<li><a href="{% url upload_file %}">{% trans "Upload Files" %}</a></li>
     		<li><a href="{% url files_browse %}">{% trans "Browse Files" %}</a></li>
	  {% endif %}
        </ul>
{% endblock %}
