{% extends "files/base.html" %}{% load file_tags %}{% load i18n %}

{% block extra_head %}
<style type="text/css">
  .subnav { margin:0px; }
  .passwordBox { display:none; }
  .labelfloat label{float:left;width:110px;}
</style>
{% endblock %}

{% block head_title %}
{% trans "Browse Files" %}
{% endblock %}

{% block body %}
<div class="files_main"> {% if tag1 %}
  <h1 class="size16">{% trans "Search by or add Tags, (keywords) to files" %} <span style="float:right; margin-right:10px;">{% trans "Files having Tags :" %} {% for tag in tag_list %} {{tag}}{% if not forloop.last %},{% endif %} {% endfor %}</span></h1>
  {% endif %}
  <!--STAGE ONE STARTS HERE-->
  <div class="stage_one" >
    <h1 class="title">{% trans "Tag 1" %}</h1>
    <table width="130" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="filetitle newtitle" >{% trans "Tags - Filter 1" %}</td>
      </tr>
      <tr class="altrowc">
        <td class="browse">
        <ul style="width: 128px ; word-wrap:break-word; "  >
            {% for tag in tag_list1 %}
            {% if tag.name %} 
            <li {% ifequal tag1.name tag.name %} class="current" {% endifequal %} style="margin-left:2px; width: 128px " >
            <a style="text-align:left;" href="{% url files_browse_tag tag1=tag.name|revslug %}" >{{tag}}</a> 
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          </td>
      </tr>
    </table>
  </div>
  <!--STAGE TWO ENDS HERE-->
  <!--STAGE TWO STARTS HERE-->
  <div class="stage_two">
    <h1 class="title">{% trans "Tag 2" %}</h1>
    <table width="130" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="filetitle newtitle">{% trans "Tags - Filter 2" %}</td>
      </tr>
      <tr class="altrowc">
        <td class="browse"><ul>
            {% for tag in tag_list2 %}{% if tag.name and tag1.name %}
            <li {% ifequal tag2.name tag.name %} class="current" {% endifequal %} style="margin-left:5px;">
              <a href="{% url files_browse_tag2 tag1=tag1.name|revslug tag2=tag.name|revslug %}">{{tag}}</a>
            </li>
            {% endif %}{% endfor %}
          </ul></td>
      </tr>
    </table>
  </div>
  <!--STAGE TWO ENDS HERE-->
  <!--STAGE THREE STARTS HERE-->
  <div class="stage_three">
    <h1 class="title">{% trans "Tag 3" %}</h1>
    <table width="130" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="filetitle newtitle">{% trans "Tags - Filter 3" %}</td>
      </tr>
      <tr class="altrowc">
        <td class="browse"><ul>
            {% for tag in tag_list3 %}{% if tag.name and tag1.name and tag2.name %}
            <li {% ifequal tag3.name tag.name %} class="current" {% endifequal %} style="margin-left:5px;">
            <a href="{% url files_browse_tag3 tag1=tag1.name|revslug tag2=tag2.name|revslug tag3=tag.name %}">{{tag}}</a>
            </li>
            {% endif %}{% endfor %}
          </ul></td>
      </tr>
    </table>
  </div>
  <!--STAGE THREE ENDS HERE-->
  <!--FILTERED FILES STARTS HERE-->
  <div class="stage_four">
    <h1 class="title"> {% trans "Filtered Files" %} </h1>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-right:1px solid #666;" >
      <tr>
        <td width="50" class="filetitle newtitle"></td>
        <td width="230" class="filetitle newtitle">{% trans "Title" %}</td>
          <td class="filetitle newtitle"></td>
        <td class="filetitle newtitle"></td>
      </tr>
      {% for uf in user_files %}
      <tr class="tab_borders">
        <td align="center" valign="middle"  class="filetype"><a href="{{uf.get_absolute_url}}"><img src="{{ MEDIA_URL }}img/fileicons/icon_file_{{ uf.source_type|fileicon }}.png" height="40" /></a></td>
        <td align="center" valign="middle"  class="filetitle"><a href="{{uf.get_absolute_url}}"> {{uf.title}} </a></td>
        <td align="center" valign="middle"  class="length"><a onclick="showOverlay(this);" rel="#edit_file_{{ uf.id }}" style="color:white;line-height:25px;text-decoration:none;text-align:center;" class="buttonBlueSmall">{% trans "Edit" %}</a>
	  <form method="post" id="" action="{% url file_edit uf.urlhash %}">
	      <div id="edit_file_{{ uf.id }}" class="modal labelfloat" style="z-index:99999;">
		<table cellspacing="0" cellpadding="0" border="0">
		  <h2>{% trans "Edit File:" %} {{ uf.title }}</h2>
		  <tr><td><label>{% trans "Title:" %}</label><input type="text" name="title" value="{{ uf.title }}" /></td></tr>
		  <tr><td><label >{% trans "Description:" %}</label><textarea name="description" rows="5" cols="30">{% if uf.description %}{{ uf.description }}{% endif %}</textarea></td></tr>
		  <tr><td><label>{% trans "Tags:" %}</label><input type="text" name="tags_string" value="{% for tag in uf.tags %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}" /></td></tr>
		  <tr><td><label>{% trans "Visibility:" %}</label><select name="visibility">
			<option value="R" {% ifequal uf.visibility 'R' %}selected="selected"{% endifequal %}>{% trans "Private" %}</option>
			<option value="U" {% ifequal uf.visibility 'U' %}selected="selected"{% endifequal %}>{% trans "Public" %}</option>
			<option value="O" {% ifequal uf.visibility 'O' %}selected="selected"{% endifequal %}>{% trans "Protected" %}</option>
		    </select></td>
		    </tr>
		    <tr class="passwordBox">
		      <td>{% trans "Password" %}: </td><td><input type="password" name="password" value="" /></td>
		    </tr>
		    <tr class="passwordBox">
		      <td>{% trans "Confirm Password" %}: </td><td><input type="password" name="confirm_password" value="" /></td>
		    </tr>
		  </tr>
		  <tr><td><p><input type="hidden" name="next" value="{% url files_browse %}" /><input type="submit" class="buttonGreenSmall" value="{% trans "Save" %}" /></p></td><td><input type="reset" class="buttonGreenSmall close" value="{% trans "Cancel" %}" /></td></tr>
		</table>
	      </div>
	  </form>	  
	</td>
        <td align="center" valign="middle"  class="length"><a href="{{uf.get_download_url}}" style="color:white;text-decoration:none;line-height:25px;text-align:center;" class="buttonGreenSmall">{% trans "Download" %}</a></td>
      </tr>
      <tr class="tab_borders bor_bot">
        <td class="edit" id="{{uf.urlhash}}" data = "abcd" colspan="4" align="left" valign="middle" >&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Filtered by" %} :
          {% include "files/browse_tags_block.html" %}
          <!--<input type="text" name="textfield" id="textfield" class="tags_container" />--></td>
      </tr>
      {% endfor %}
    </table>
      <br/> 
  </div>
  <!--FILTERED FILES ENDS HERE-->
  <div class="clear"></div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
<script type="text/javascript">
  function showOverlay(elem) {
    $(elem).overlay({
      expose: { 
        color: '#333', 
        loadSpeed: 200, 
        opacity: 0.9 
      }, 
      closeOnClick: false}).click();
  }
  $(document).ready(function() {
    if ($("select[name=visibility]").children("option:selected").val() == "O") {
      $("select[name=visibility]").closest("tr").siblings("tr.passwordBox").show();
    }
    $("select[name=visibility]").change(function() { 
      if ($(this).children("option:selected").val() == "O") {
        $(this).closest("tr").siblings("tr.passwordBox").show();
      } else {
        $(this).closest("tr").siblings("tr.passwordBox").hide();
      }
    });
  });
</script>
{% endblock %}
