{% extends "files/base.html" %}

{% load file_tags %}
{% load comments_tag %}
{% load threadedcommentstags %}
{% load tagging_tags %}
{% load extra_tagging_tags %}

{% load i18n %}

{% block head_title %}{{ file.title }}{% endblock %}

{% block extra_head_base %}

<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=47cca2d7-6954-4236-842f-ed556d6e51cb&amp;type=website&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine&amp;button=false">
</script>

<style type="text/css">
body {font-family:helvetica,sans-serif;font-size:12px;}
a.stbar.chicklet img {border:0;height:16px;width:16px;margin-right:3px;vertical-align:middle;}
a.stbar.chicklet {height:16px;line-height:16px;}
.subnav { margin: 0px; }
#edit_details_box label{display:block;}
h2.uni_form_list_def { color: white; }
</style>


<link rel="stylesheet" href="{{ MEDIA_URL }}pinax/css/comments.css" type="text/css" media="screen, projection" />
<style type="text/css" media="screen">
a.button { 
    padding: 2px 6px 1px; 
    position:relative;
    top:4px;
    float:right;
    font-size:14px; 
}
a.buttonGreenSmall { 
    padding-top: 2px; 
    margin: 2px 6px 1px;
    top:4px;
    float:right;
    color:#ffffff;
    text-decoration:none;
    text-align: center;
    height:24px;
}
#edit_form textarea {
    width: 355px;
}
</style>
<!--[if IE 7]>
    <style type="text/css">
        a.button { top: -25px; }
    </style>
    <![endif]-->
{% endblock %}

{% include "files/_detail_subnav.html" %}

{% block body %}
<div class="right" style="clear:both;margin-left:20px;padding-left:20px;margin-bottom:5px;">      
    <span class="sharevideo">

        <a id="ck_email" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/email.gif" /></a>
        <a id="ck_facebook" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/facebook.gif" /></a>
        <a id="ck_twitter" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/twitter.gif" /></a>
        <a id="ck_sharethis" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/sharethis.gif" />
        </a>
        <script type="text/javascript">
var shared_object = SHARETHIS.addEntry({
title: document.title,
url: document.location.href
});

shared_object.attachButton(document.getElementById("ck_sharethis"));
shared_object.attachChicklet("email", document.getElementById("ck_email"));
shared_object.attachChicklet("facebook", document.getElementById("ck_facebook"));
shared_object.attachChicklet("twitter", document.getElementById("ck_twitter"));
        </script>      
    </span>
    {% block lights_off %}{% endblock %}
</div>
<div id="file_info" class="prefix-1" style="clear: both;">
    <dl class="file_details">
        <dt>{% trans "Uploaded:" %}</dt>
        <dd style="margin-top:5px;">Uploaded {{ file.timestamp|date:"m/j/y" }}</dd>
        <dt>{% trans "Owner:" %}</dt>
        <dd style="margin-top:5px;">by <a href="{% url user_dashboard file.user %}">{{ file.user }}</a></dd>
        <dt>{% trans "Viewed:" %}</dt>
        <dd style="margin-top:5px;">{% blocktrans with file.views_total as file_views %}Viewed {{ file_views }} times{% endblocktrans %}</dd>
        <dt>{% trans "Privacy:" %}</dt>
        <dd style="margin-top:1px;"><img src="{{ MEDIA_URL }}img/{{ file.visibility|vidprivacy }}.png" border="0" class="privacy_lock" /></dd>
        {% ifequal user file.user %}
        <a href="#" rel="#delete_file_box" id="delete_details" class="btn_delete_details buttonGreenSmall">{% trans "Delete" %}</a>
        {% if file.is_editable %}
        <a href="/integrate/google_docs/edit?urlhash={{ file.urlhash }}" class="btn_edit_details buttonGreenSmall">{% trans "Edit content" %}</a>
        {% endif %}
        <a href="{% url file_edit file.urlhash %}" rel="#edit_details_box" id="edit_details" class="btn_edit_details buttonGreenSmall">{% trans "Edit" %}</a>
        <a href="{% url vmail_compose %}?file={{ file.urlhash }}" class="buttonGreenSmall">{% trans "Send" %}</a>
        {% endifequal %}
        {% if file.filename %}
        <a href="{{ file.get_download_url }}" rel="Download" target="_blank" class="buttonGreenSmall" onclick="javascript:window.location='{{ file.get_download_url }}';return false;">{% trans "Download" %}</a>
        {% endif %}
    </dl>
</div>

{% block file_player %}
{% endblock %}

<hr style="visibility:hidden;" />

{% if file.description %}
<h5 class="prefix-1">{% trans "Description:" %}</h5>
<p class="prefix-1">{{ file.description|linebreaksbr }}</p>
{% endif %}

{% if file.tags_string %}
<h5 class="prefix-1">{% trans "Tags:" %}</h5>
<p class="prefix-1">{% show_tags_for file %}</p>
{% endif %}

<h5 class="prefix-1">{% get_comment_count for file as commentcount %} {% blocktrans with commentcount as commentcount and commentcount|pluralize as commentplural %}{{ commentcount }} comment{{ commentplural }} on this file:{% endblocktrans %}</h5>

{% comments file %}

{% ifequal request.user file.user %}
{{ form.non_field_errors }}
<div class="modal" id="edit_details_box"> 
    <h2 style="border:0px;">{% trans "Edit File Details" %}{% if file.title %}: {{ file.title }}{% else %}{% endif %}</h2>
    <form method="post" action="{{ file.get_edit_url }}" id="edit_form">
      {% for field in file_form %}
      <p>{{ field.label }}</p>
      <p>{{ field }}</p>
      {% endfor %}
	<br />
        <button class="save_details" type="submit"><img src="{{ MEDIA_URL }}img/silk/accept.png" border="0" alt="" /> {% trans "Save Changes" %}</button>
        <button type="button" class="close" onclick="$('.btn_edit_details').overlay().close();"> {% trans "Cancel" %} </button> 
    </form>
</div>

<div class="modal" id="delete_file_box"> 
    <h2 style="border:0px;">{% trans "Delete File" %}{% if file.title %}: {{ file.title }}{% else %}{% endif %}</h2>
    <p>{% trans "Are you sure you want to permanently delete this file?" %}</p>
    <form method="post" action="{{ file.get_edit_url }}" id="delete_file_form">
        <input type="hidden" name="delete" value="delete" />
        <button class="negative" type="submit"><img src="{{ MEDIA_URL }}img/silk/delete.png" border="0" alt="" /> {% trans "Yes, Delete File" %}</button>
        <button type="button" class="close" onclick="$('.btn_edit_details').overlay().close();"> {% trans "Cancel" %} </button> 
    </form>
</div>
{% endifequal %}

{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validate.js"></script>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ MEDIA_URL }}pinax/js/comments.js"></script>

{% endblock %}

{% block extra_jquery %}

$(".uniForm").validate();
$(".respForm").each(function(i, k) { 
  $(k).validate()
});

var edit_buttons = $(".btn_edit_details").overlay({
expose: {
color: '#090909', 
loadSpeed: 200, 
opacity: 0.9,
closeOnClick: false
},
closeOnClick: false
});

var delete_buttons = $(".btn_delete_details").overlay({
expose: {
color: '#090909', 
loadSpeed: 200, 
opacity: 0.9,
closeOnClick: false
},
closeOnClick: false
});
$(document).ready(function() { 
  $("#id_password,#id_confirm_password").parents("p").hide();
  $("#id_password,#id_confirm_password").parents("p").prev("p").hide();
  $("select[name=visibility]").change(function() { 
    if ($(this).children("option:selected").val() == "O") {
      $("#id_password,#id_confirm_password").parents("p").show();
      $("#id_password,#id_confirm_password").parents("p").prev("p").show();
    } else {
      $("#id_password,#id_confirm_password").parents("p").hide();
      $("#id_password,#id_confirm_password").parents("p").prev("p").hide();
    }
  });
  $("form[name=deleteCommentForm]").submit(function(event) { 
    if (confirm("{% trans "Are you sure you want to permanently delete the comment?" %}")) {
      return true;
    } else {
      event.stopPropagation();
      return false;
    }
  });
});
{% endblock %}
