{% extends "files/detail_base.html" %}

{% load file_tags %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load comments_tag %}
{% load threadedcommentstags %}
{% load i18n %}

{% block extra_head %}
    {{ block.super }}
<style type="text/css">
    #content_950_top { height: auto; }
</style>
{% endblock %}

{% block lights_off %}
    <p><a style="float:right;margin:0px 50px;" href="#" class="lightSwitcher">{% trans "Turn Off the lights" %}</a></p>
{% endblock %}

{% block file_player %}
<div class="video_holder"><div id="rec_conf_player">
    
</div></div>
{% endblock %}


{% block extra_body %}
<div id="shadow"></div>
<script type="text/javascript" src="{{ MEDIA_URL }}pinax/js/comments.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
            $("#shadow").css("height", $(document).height()).hide();
				$("#shadow").click(function(){
				if (!$("#shadow").is(":hidden")){
					$(".lightSwitcher").click();	
				}
				
			});
            $(".lightSwitcher").click(function(){
                $("#shadow").toggle();
                if ($("#shadow").is(":hidden"))
                    $(this).html("Turn off the lights").removeClass("turnedOff");
                 else
                    $(this).html("Turn on the lights").addClass("turnedOff");
            });
            
        });
flashembed("rec_conf_player", {
    src: "{{ MEDIA_URL }}swf/video_player.swf",
    version: [9, 0],
    wmode: 'window',
    expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
}, {
	path_file: 'flv/recording/{% calculated_file_uuid file %}.{{ file.current_type }}',
});

$("#edit_details,.btn_delete_details").click(function(){
	$("#rec_conf_player").hide();		
});       
$(".close").click(function(){
	$("#rec_conf_player").show();	
});



</script>
{% endblock %}

{% block extra_jquery %}
	{{ block.super }}
    $(".uniForm").each(function(i, k) { $(k).validate(); });
    $(".respForm").each(function(i, k) { $(k).validate(); });
    $("#show_videocontent").hide();
    $("#dimLightSwitcher").click(function(){
        $(".lightSwitcher").click();
    });

    $("#moreinfo_but").click(function(){
        $("#show_videocontent").toggle();
    });

	$("#edit_this").click(function(){
	    $("#video_info_box").slideUp(function(){
	       $("#edit_video_info").slideDown(); 
	    });
	});
	$("#cancel_edit").click(function(){
	    $("#edit_video_info").slideUp(function(){
	       $("#video_info_box").slideDown(); 
	    });
	});
	
    var delete_buttons = $(".btn_delete_details").overlay({
        expose: {
            color: '#090909', 
            loadSpeed: 200, 
            opacity: 0.9,
            closeOnClick: false
        },
        closeOnClick: false
    });
    
    $(".btn_edit_details").overlay({
        expose: {
            color: '#090909', 
            loadSpeed: 200, 
            opacity: 0.9,
            closeOnClick: false
        },
        closeOnClick: false
    });
    
    var api = $("#video_player").expose({color: "#000", api: true, lazy: true, opacity: 0.8});
    
    $("#movie_expose").click(function(){
        api.load();
        return false;
    });
    video_player1_width = 0;
    $('div.editdetails_but').click(function() {
    	video_player1_width = $('#video_player1').css('width');
    	$('#video_player1').css('width', '500px');
    });
    $('#cancel_edit').click(function() {
    	$('#video_player1').css('width', video_player1_width);
    });
{% endblock %}
