{% extends "files/base.html" %}
{% load file_tags %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load comments_tag %}
{% load threadedcommentstags %}
{% load i18n %}


{% block extra_head %}
<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=47cca2d7-6954-4236-842f-ed556d6e51cb&amp;type=website&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine&amp;button=false">
</script>
<style type="text/css">
body {font-family:helvetica,sans-serif;font-size:12px;}
a.stbar.chicklet img {border:0;height:16px;width:16px;margin-right:3px;vertical-align:middle;}
a.stbar.chicklet {height:16px;line-height:16px;}
</style>
<link rel="video_src" href="{{ MEDIA_URL }}swf/flv_player.swf?"/> 
<meta name="video_height" content="200" /> 
<meta name="video_width" content="300" />
<meta name="video_type" content="application/x-shockwave-flash" />
{% endblock %}

{% block head_title %}{% trans "What's NetConference?" %}{% endblock %}

{% block body %}
<div id="container">
    <div class="video_container"  id="video_info_box" >
        <!--VIDEO CONTENT STARTS-->
        <div class="leftpanel">
            <span class="video_title">{{ file }}</span>
        </div>
        <div class="video_buttons"> 
            <a style="float:right;" class="moreinfo_but"id="moreinfo_but">
                <div class="moreinfo_but"></div>
            </a> 
            <a class="dimLightSwitcher" id="dimLightSwitcher">
                <div class="dim_but"></div>
            </a> 
            <a href="{{ file.get_download_url }}" onclick="javascript:window.location='{{ file.get_download_url }}';return false;" rel="Download" target="_blank">
                <div class="download_but"></div>
            </a>
            <a id="btn_delete" rel="#delete_file_box">
                <div class="deletevideo_but"></div>
            </a>
            <a id="edit_this">
                <div class="editdetails_but"></div>
            </a> 
            <a href="{% url vmail_compose %}?file={{ file.urlhash }}">
                <div class="send_but"></div>
            </a> 
        </div>

        <div class="clear"></div>
        <a class="lightSwitcher turnedOff" href="#">&nbsp;</a>


        <!--SHOW VIDEO CONTENT STARTS HERE-->
        <div class="show_videocontent" id="show_videocontent">
            <div class="left">Uploaded on {{ file.timestamp|date:"m/j/y" }} by <span class="upload_name"><a href="{% url user_dashboard file.user %}">{{ file.user.username }}</a></  span><br/>Clip Length: {{ file.duration|vidtime }}	     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Viewed {{ file.views_total }} times <br/><span class="videostatus">This video is {% if file.private %} private {% else %} public {% endif %}</span> </div>
                <div class="right">
                    Description: {{ file.description }}
                </div>
                <div class="clear"></div>      
            </div>
            <!--SHOW VIDEO CONTENT ENDS HERE-->
            <div class="clear"></div>
        </div>
    </div>
    <div id="edit_video_info">
        <h1 class="video_detail_top">{% blocktrans %}Edit Video{% endblocktrans %}</h1>
        <div class="video_details">
            <div id="edit_items_list">
                <form action="{{ file.get_edit_url }}" method="post" name="edit_form" id="edit_form">
                    {% if file_form.title.errors %}
                    <div style="height:auto;margin:0;padding:0;">{{ file_form.title.errors }}</div>
                    {% endif %}
                    <label for="id_title">Video Title:</label>
                    <br />
                    {{ file_form.title }}
                    {% if file_form.description.errors %}
                    <div style="height:auto;margin:0;padding:0;">{{ file_form.description.errors }}</div>
                    {% endif %}
                    <label for="id_description">Description:</label>
                    <br />
                    {{ file_form.description }}
                    {% if file_form.tags_string.errors %}
                    <div style="height:auto;margin:0;padding:0;">{{ file_form.tags_string.errors }}</div>
                    {% endif %}
                    <label for="id_tags_string">Tags:</label>
                    <br />
                    {{ file_form.tags_string }}
                    <label for="id_private">Make this video private (only you can share)?</label>
                    <br />
                    {{ file_form.private }}<br/>
                    <div class="clear"></div>
                    <div class="edit_video_buttons"> 
                        <a href="#" class="button" id="cancel_edit"> <img src="{{ MEDIA_URL }}img/silk/cross.png" alt="" style="margin-top:30px;" /> Cancel </a>
                        <button type="submit" class="button positive"> <img src="{{ MEDIA_URL }}img/silk/tick.png" alt="" /> Save Changes </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="delete_file_box">
        <h2 style="border:0px;">{% trans "Delete File" %}{% if file.title %}: {{ file.title }}{% else %}{% endif %}</h2>
        <p>Are you sure you want to permanently delete this file?</p>
        <form method="post" action="{{ file.get_edit_url }}" id="delete_file_form">
            <input type="hidden" name="delete" value="delete" />
            <button class="negative" type="submit"><img src="{{ MEDIA_URL }}img/silk/delete.png" border="0" alt="" /> {% trans "Yes, Delete File" %}</button>
            <button type="button" class="close" onclick="$('.btn_edit_details').overlay().close();"> {% trans "Cancel" %} </button>
        </form>
    </div>
    <!--VIDEO CONTENT ENDS-->
    <!--VIDEO FILE STARTS-->
    <div class="video_holder">
        <div id="video_player1"></div>
    </div>
    <!--VIDEO FILE ENDS-->
</div>
{% endblock %}

{% block content950bot %}
{% endblock %}
{% block subcontent %}
<!--PAGE CONTENT STARTS-->
<div class="videocontent_holder" >
    <div class="videoleftpanel">
        <div class="addcomment">
            <form action="{% get_comment_url file %}" method="post">
                <textarea name="comment" id="textarea" class="nobor"></textarea>
                <br/>
                <br/>
                <input  type="image" src="{{MEDIA_URL}}img/post_comment_btn.png" width="200" height="36" alt="Post Comment" class="imgright" />
            </form>
        </div>
    </div>

    <div class="videorightpanel">
        <span class="comment_heading"> {% get_comment_count for file as commentcount %}{{commentcount}} comment{{ commentcount|pluralize }} on this file:
            {% get_threaded_comment_tree for file as tree %} </span><br/>

        <br/>
        <hr class="hrbold" />
        {% for comment in tree %}
        <div class="comment_block"> <span class="commentor_heading">{{comment.user}} commented on this video</span> <span class="time">on {{comment.date_submitted|date:"m/j/y"}}</span>

            <p><br/>
            {{comment.comment}}</p>
        </div>

        {% endfor %}
        <div class="clear"></div>
    </div>
</div>
<!--PAGE CONTENT ENDS-->



{% endblock %}
{% block extra_body %}
<div id="shadow"></div>
<script>
$(document).ready(function(){
        $(document).ready(function(){
            $("#shadow").css("height", $(document).height()).hide();
            $("#shadow").click(function(){
                if (!$("#shadow").is(":hidden")){
                $(".lightSwitcher").click();	
                }

                });
            $(".lightSwitcher").click(function(){
                $("#shadow").toggle();
                if ($("#shadow").is(":hidden"))
                {$(this).html("").removeClass("turnedOff");}
                else
                {$(this).html("Turn on the lights").addClass("turnedOff");}
                });

            });

        });

function dimScreen(){
    $(".lightSwitcher").click();
}

flashembed("video_player1", {
src: "{{ MEDIA_URL }}swf/flv_player.swf",
type: "application/x-shockwave-flash", 
allowscriptaccess: "always",
allowfullscreen: "true",
version: [9, 0],
wmode: 'transparent',
expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
}, {
stream_id: '{{ file.uuid }}',
stream_name: '{{ file.title }}',
urlhash: '{{ urlhash }}'
});

</script>
{% endblock %}

{% block extra_jquery %}
$("#show_videocontent").hide();
$("#moreinfo_but").click(function(){

$("#show_videocontent").toggle();
});

$("#dimLightSwitcher").click(function(){
$(".lightSwitcher").click();
});

$("#edit_this").click(function(){
$("#video_info_box").slideUp(function(){
$("#edit_video_info").slideDown(); 
});
});
video_player1_width = 0;
$('div.editdetails_but').click(function() {
video_player1_width = $('#video_player1').css('width');
$('#video_player1').css('width', '500px');
});
//$('#cancel_edit').click(function() {
//	$('#video_player1').css('width', video_player1_width);
//});
$("#cancel_edit").click(function(){
$("#edit_video_info").slideUp(function(){
$("#video_info_box").slideDown(); 
$('#video_player1').css('width', video_player1_width);
});
});

var delete_buttons = $("#btn_delete").overlay({
expose: {
color: '#090909', 
loadSpeed: 200, 
opacity: 0.9,
closeOnClick: false
},
closeOnClick: false
});

var api = $("#video_player").expose({color: "#000", api: true, lazy: true, opacity: 0.8});

$("#movie_expose").click(function(){
api.load();
return false;
});

$("link[rel=video_src]").href += $("#video_player1 param[name=flashvars]").val();

{% endblock %}
