{% extends "files/detail_base.html" %}
{% load file_tags %}

{% block body %}

    <br /><br />
    
    <div id="jquery_jplayer" class="prefix-1"></div>

	<div id="player_container">
		<ul id="player_controls">
			<li id="player_play">play</li>
			<li id="player_pause">pause</li>
            {# <li id="player_stop">stop</li> #}
			<li id="player_volume_min">min volume</li>
			<li id="player_volume_max">max volume</li>
		</ul>

		<div id="player_progress">
		    <div id="song_title">{{ file.title }}</div>
		    <div id="play_time">{{ file.duration|vidtime }}</div>
			<div id="total_time">{{ file.duration|vidtime }}</div>
			<div id="player_progress_load_bar">
				<div id="player_progress_play_bar"><div id="player_scrub_handle"></div></div>
			</div>
		</div>
		<div id="player_volume_bar">
			<div id="player_volume_bar_value"></div>
		</div>
	</div>
	<div id="jplayer_info"></div>

    {{ block.super }}

{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jplayer.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}pinax/js/comments.js"></script>
{% endblock %}

{% block extra_jquery %}

    $("#jquery_jplayer").jPlayer({
    	ready: function () {
    		$(this).setFile("http://static.netconf.nxtgencdn.com/{% calculated_file_uuid file %}.mp3", "http://static.netconf.nxtgencdn.com/{% calculated_file_uuid file %}.mp3").play();
            {# demoInstanceInfo($(this), $("#jplayer_info")); #}
    	},
    	volume: 80,
    	swfPath: "http://www.netconference.com/site_media/swf"
    })
    .jPlayerId("play", "player_play")
    .jPlayerId("pause", "player_pause")
    {# .jPlayerId("stop", "player_stop") #}
    .jPlayerId("loadBar", "player_progress_load_bar")
    .jPlayerId("playBar", "player_progress_play_bar")
    .jPlayerId("volumeMin", "player_volume_min")
    .jPlayerId("volumeMax", "player_volume_max")
    .jPlayerId("volumeBar", "player_volume_bar")
    .jPlayerId("volumeBarValue", "player_volume_bar_value")
    .onProgressChange( function(loadPercent, playedPercentRelative, playedPercentAbsolute, playedTime, totalTime) {
    	var myPlayedTime = new Date(playedTime);
    	var ptMin = (myPlayedTime.getUTCMinutes() < 10) ? "0" + myPlayedTime.getUTCMinutes() : myPlayedTime.getUTCMinutes();
    	var ptSec = (myPlayedTime.getUTCSeconds() < 10) ? "0" + myPlayedTime.getUTCSeconds() : myPlayedTime.getUTCSeconds();
    	$("#play_time").text(ptMin+":"+ptSec);

    	var myTotalTime = new Date(totalTime);
    	var ttMin = (myTotalTime.getUTCMinutes() < 10) ? "0" + myTotalTime.getUTCMinutes() : myTotalTime.getUTCMinutes();
    	var ttSec = (myTotalTime.getUTCSeconds() < 10) ? "0" + myTotalTime.getUTCSeconds() : myTotalTime.getUTCSeconds();
    	$("#total_time").text(ttMin+":"+ttSec);
    });

    {{ block.super }}

{% endblock %}
