{% extends "files/detail_base.html" %}

{% block body %}
    <div class="prefix-1">
        <img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' border='0' width="48" height="48" style="float:left;" />
        <h2 style="float:left;position:relative;top:-8px;">&nbsp; {{ file.title }}</h2>
    </div>

    {{ block.super }}
{% endblock %}
