{% extends "files/detail_base.html" %}
{% load file_tags %}

{% block file_player %}
    <div id="file_player" class="prefix-1"></div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ MEDIA_URL }}pinax/js/comments.js"></script>
<script>
flashembed("file_player", {
    src: "{{ MEDIA_URL }}swf/doc_player.swf",
    version: [9, 0],
    wmode: 'opaque',
    expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
}, {
    docid: '{% calculated_file_id file %}'
});

</script>
{% endblock %}
