  	<h1 class="uni_form_filter" style="width:138px">Filter Files</h1>
	<form>
    <table  border="0" cellspacing="0" cellpadding="0" width="160px">
	  <tr>
	    <td class="newtitle">&nbsp;&nbsp;&nbsp;File Type</td>
	  </tr>
	  <tr class="altrowc">
	    <td class="tags">
	      <input type="radio" name="type" id="radio1" value="pdf" {% ifequal file_type 'pdf' %}checked="checked"{% endifequal %} />Pdf <br/>
		  <input type="radio" name="type" id="radio2" value="word" {% ifequal file_type 'word' %}checked="checked"{% endifequal %} />Word <br/>
		  <input type="radio" name="type" id="radio3" value="flv" {% ifequal file_type 'flv' %}checked="checked"{% endifequal %} />Flv <br/>
		  <input type="radio" name="type" id="radio4" value="all"  {% ifequal file_type 'all' %}checked="checked"{% endifequal %} />All </td>
	  </tr>
	    <tr>
	    <td class="newtitle">&nbsp;&nbsp;&nbsp;Uploaded</td>
	  </tr>
	  <tr class="altrowc">
	    <td class="tags">
		  <input type="radio" name="uploaded" id="radio5" value="today" {% ifequal uploaded 'today' %}checked="checked"{% endifequal %} />Today<br/> 
		  <input type="radio" name="uploaded" id="radio6" value="week" {% ifequal uploaded 'week' %}checked="checked"{% endifequal %} />This Week <br/> 
		  <input type="radio" name="uploaded" id="radio7" value="month" {% ifequal uploaded 'month' %}checked="checked"{% endifequal %} />This Month<br/>
		  <input type="radio" name="uploaded" id="radio8" value="all" {% ifequal uploaded 'all' %}checked="checked"{% endifequal %} />All Time</td>
	  </tr>
	  
    </table>

	<input type="submit" name="filter" value="filter" class="button" style="margin-left:10px; margin-top:10px;"/>
	</form>
