{% extends "files/base.html" %}

{% load file_tags %}
{% load extra_tagging_tags %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Files Search{% endblocktrans %}{% endblock %}

{% block subnav %}
  <ul class="subnav">
    <li class="current"><a href="{% url my_files %}">My Files</a></li>
    <li><a href="{% url upload_file %}">Upload Files</a></li>
    <li><a href="{% url files_browse %}">Browse Files</a></li>
  </ul>
{% endblock %}

{% block body %}
    {% if object_list %}
        <h1 class="items_list_top">
            {% ifequal page_title "My Files Search" %}
            <form id="list_search" method="get" action=".">
    			<input type="text" id="list_search_input" class="list_search" name="q" value="search my files" />
    			<button type="submit" class="list_search_btn" id="list_search_btn">
    			    <img src="{{ MEDIA_URL }}img/btn_go_light.png" width="29" height="20" alt="search" title="search" />
    			</button>
    		</form>
    		{% else %}
    		<form id="list_search" method="get" action=".">
    			<input type="text" id="list_search_input" class="list_search" name="q" value="search public files" />
    			<button type="submit" class="list_search_btn" id="list_search_btn">
    			    <img src="{{ MEDIA_URL }}img/btn_go_light.png" width="29" height="20" alt="search" title="search" />
    			</button>
    		</form>
    		{% endifequal %}
    		{% if is_paginated %}
    		<span class="list_pagination">{% if page_obj.has_previous %}<a href="./?page={{ page_obj.previous_page_number }}">&laquo; Prev</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="./?page={{ page_obj.next_page_number }}&q={{query_string}}">next &raquo;</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}</span>
    		{% endif %}
            {{ page_title }}: <em>{{ query_string }}</em>
        </h1>
        <table class="items_list" width="870" cellspacing="0">
        	<tr class="items_list_def">
        		<td width="115">Thumbnail</td>
        		<td width="320">Video Title</td>
        		<td width="45" style="text-align:center;">{# Status #}</td>
        		<td width="70" style="text-align:center;">Views</td>
        		<td width="70" style="text-align:center;">Length</td>
        		<td width="70" style="text-align:center;">Date</td>
        		<td width="100" style="text-align:center;">{# Owner #}</td>
        		<td width="40"></td>
        		<td width="40"></td>
        	</tr>
        {% for file in object_list %}
        	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
        		<td>
	            {% ifequal file.current_type "flv" %}
	                <a href="{{ file.get_absolute_url }}"><img src="{{ thumb_url }}{{ file.uuid }}.jpg" width="100" height="67" class="items_list_thumb" /></a>
	            {% else %}
		            {% ifequal file.current_type "mp4" %}
		            <a href="{{ file.get_absolute_url }}"><img src="{{ thumb_url }}{{ file.uuid }}.jpg" width="100" height="67" class="items_list_thumb" /></a>
		            {% else %}
    		            {% ifequal file.current_type "f4v" %}
    		        <a href="{{ file.get_absolute_url }}"><img src="{{ thumb_url }}{{ file.uuid }}.jpg" width="100" height="67" class="items_list_thumb" /></a>
    		            {% else %}
    		        <a href="{{ file.get_absolute_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' class='file_icon' border='0' /></a>
    		            {% endifequal %} 
    		        {% endifequal %}    
		        {% endifequal %}  
        		</td>
            	<td class="items_list_title">
            	    <a href="{{ file.get_absolute_url }}" class="listTitle">{{ file.title }}</a>

                    {% ifequal request.user.username file.user.username %}
            	    {% show_tags_for file %}
            	    {% else %}
            	    {% show_public_tags_for file file.user.username %}
            	    {% endifequal %}
            	</td>
            	<td><img src="{{ MEDIA_URL }}img/{{ file.private|vidprivacy }}.png" border="0" class="privacy_lock" /></td>
            	<td>
            	    {% if file.page_count %}
            	    {% if file.view_count %}{{ file.view_count }}{% else %}0{% endif %}
            	    {% else %}
            	        {% if file.duration %}
            	    {% if file.view_count %}{{ file.view_count }}{% else %}0{% endif %}
            	        {% endif %}
            	    {% endif %}
            	</td>
            	<td>{% if file.duration %}{{ file.duration|vidtime }}{% endif %}
        	    {% if file.page_count %}{{ file.page_count }} slides{% endif %}</td>
            	<td>{{ file.timestamp|date:"m/j/y" }}</td>
            	<td>{# <a href="{% url user_dashboard file.user %}">{{ file.user }}</a> #}</td>
            	<td style="padding-left:0px;padding-right:5px;">{% if file.filename %}<a href="{{ file.get_download_url }}" onclick="javascript:window.location='{{ file.get_download_url }}';return false;" rel="Download" target="_blank" class="button caps">download</a>{% endif %}</td>
            	<td style="padding-left:0px;padding-right:5px;">
            	    {% if file.page_count %}
            	    <a href="{{ file.get_absolute_url }}" rel="View File" class="button caps">view</a>
            	    {% else %}
            	        {% if file.duration %}
            	    <a href="{{ file.get_absolute_url }}" rel="View File" class="button caps">view</a>
            	        {% endif %}
            	    {% endif %}
            	</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2 class="prefix-1">Your search returned no results.</h2>
        
    {% endif %}

{% endblock %}

{% block extra_jquery %}

var searchVal = $("#list_search_input").val();

$("#list_search_input").focus(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == searchVal){
        $(this).val("");
        $("#list_search_input").css("color","#333333");
    }
});
$("#list_search_input").blur(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == ""){
        $(this).val(searchVal);
        $("#list_search_input").css("color","#777777");
    }
});
{# $("#list_search").submit(function(){ #}
{#     var currentVal = $("#list_search_input").val(); #}
{#     if(currentVal == "search files"){ #}
{#         return false; #}
{#     } #}
{# }); #}
    
{% endblock %}
