{% extends "files/base.html" %}

{% load file_tags %}
{% load sort_tags %}
{% load extra_tagging_tags %}


{% load i18n %}

{% block head_title %}{% blocktrans %}My Files{% endblocktrans %}{% endblock %}

{% block subnav %}
{% include "files/navigation.html" %}
{% endblock %}

{% block body %}
<div class="files_main">
  <div class="left"> {% if object_list %} <br/>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="file_border">
      <tr>
        <td><h1 class="uni_form_myfiles">
            <form id="list_search" method="get" action="search/">
              <input type="text" id="list_search_input" class="list_search" name="q" value="search my files" />
              <button type="submit" class="list_search_btn" id="list_search_btn"> <img src="{{ MEDIA_URL }}img/btn_go_light.png" width="29" height="20" alt="search" title="search" /> </button>
            </form>
            <span class="list_pagination">{% if page_obj.has_previous %}<a href="./?page={{ page_obj.previous_page_number }}">&laquo; Prev</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="./?page={{ page_obj.next_page_number }}">next &raquo;</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}</span> {% trans "My Media" %} </h1>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" >
            <form action="">
              <tr>

                            <td class="download newtitle"><input type="checkbox" class="select_file_all"  id="select_file_all" /></td>
            <td  class="filetype newtitle">&nbsp;</td>
              <td align="left"  class="filetitle newtitle">&nbsp;&nbsp;{% sort_link "Title" "title" %}</td>
              <td  class="privacy newtitle">{% sort_link "Privacy" "private" %}</td>
              <td  class="views newtitle">{% sort_link "Views" "views_total" %}</td>
              <td  class="length newtitle">{% sort_link "Length" "duration" %}</td>
              <td  class="date newtitle">{% sort_link "Date" "timestamp" %}</td>
              <td class="view newtitle" >View</td>
              <td class="download newtitle" >Download</td>
              <td class="download newtitle" >Sell</td>
            </tr>
                        </form>

            <form action="." method="post">
              {% with object_list as files %}
              {% for file in files %}
              <tr class="switch {% cycle 'altrowa' 'altrowb' %}">
                <td class="select_file" align="center" ><input type="checkbox" class="select_file"  name="file-select[]" value="{{ file.pk }}" /></td>
                <td align="center" valign="middle"  class="filetype"> {% ifequal file.current_type "flv" %} <a href="{{ file.get_absolute_url }}"><img src="{{ thumb_url }}{{ file.uuid }}.jpg" width="30" height="30"  /></a> {% else %}
                  {% ifequal file.current_type "mp4" %} <a href="{{ file.get_absolute_url }}"><img src="{{ thumb_url }}{{ file.uuid }}.jpg" width="30" height="30" /></a> {% else %}
                  {% ifequal file.current_type "f4v" %} <a href="{{ file.get_absolute_url }}"><img src="{{ thumb_url }}{{ file.uuid }}.jpg" width="30" height="30" /></a> {% else %} <a href="{{ file.get_absolute_url }}"> <img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' width="30" height="30"  border='0' /></a> {% endifequal %} 
                  {% endifequal %}    
                  {% endifequal %} </td>
                <td align="center" valign="middle"  class="filetitle"><a href="{{ file.get_absolute_url }}">{{ file.title }}</a> {% show_tags_for file %} </td>
                <td align="center" valign="middle"  class="privacy"><img src="{{ MEDIA_URL }}img/{{ file.private|vidprivacy }}.png" border="0" /></td>
                <td align="center" valign="middle"  class="views"> {{ file.views_total }} </td>
                <td align="center" valign="middle"  class="length"> {% if file.duration %}{{ file.duration|vidtime }}{% endif %}
                  {% if file.page_count %}{{ file.page_count }} slides{% endif %} </td>
                <td align="center" valign="middle"  class="date"> {% if file.timestamp %}{{ file.timestamp|date:"m/j/y" }}{% endif %} </td>
                <td align="center" valign="middle" class="view" ><a href="{{ file.get_absolute_url }}" rel="View File" >VIEW</a></td>
                <td align="center" valign="middle" class="download" > {% if file.filename %}<a href="{{ file.get_download_url }}" onclick="window.location.href='{{ file.get_download_url }}';return false;" target="_blank" >DOWNLOAD</a>{% endif %} </td>
                <td align="center" valign="middle" class="download" > {% if file.is_selling %} <a href="{% url store_file_sell file.urlhash %}">Stop selling</a>{% else %}<a href="{% url store_file_sell file.urlhash %}">Sell</a>{% endif %} </td>
              </tr>
              {% endfor %}
              {% endwith %}
              <tr>
                <td colspan="5"><input type="submit" name="delete_all" value="Delete selected files." class="button" /></td>
				{% if project_select %}
					<td colspan="5"><input type="submit" name="attach_to_project" value="Attach to projects." class="button" /></td>
					<input type="hidden" name="project_id" value="{{ project_select }}" />
				{% endif %}
              </tr>
            </form>
          </table></td>
      </tr>
    </table>
    {% else %}
        {% if is_filtered %}
        <h2 class="prefix-1">There are no results to show for your selection.</h2>
        <p class="prefix-2"><strong><a href="{% url upload_file %}">Click here</a> to upload some files!</strong></p>
        <br />
        <br />
        {% else %}
        <h2 class="prefix-1">You have no uploaded media at this time.</h2>
        <p class="prefix-2"><strong><a href="{% url upload_file %}">Click here</a> to upload some files!</strong></p>
        <br />
        <br />
        {% endif %}       
    {% endif %} </div>
  <div class="right"><br/>
    {% include "_filter_sidebar.html" %} </div>
  <div class="clear"></div>
</div>
{% if object_list %}
<div class="list_bot_pagination">{% if page_obj.has_previous %}<a href="./?page={{ page_obj.previous_page_number }}">&laquo; Prev</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="./?page={{ page_obj.next_page_number }}">next &raquo;</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}</div>
<br /><br />
{% endif %}        

{% endblock %}

{% block extra_jquery %}

var searchVal = $("#list_search_input").val();
$("#list_search_input").focus(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == searchVal){
        $(this).val("");
        $("#list_search_input").css("color","#333333");
    }
});
$("#list_search_input").blur(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == ""){
        $(this).val(searchVal);
        $("#list_search_input").css("color","#777777");
    }
});
$("#list_search").submit(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == "search my files"){
        return false;
    }
});

$(function(){
	$("#select_file_all").change(function(){
		is_checked = $(this).attr("checked");
		$(".select_file").attr("checked", is_checked);
	})

});

{% endblock %} 
