{% extends "files/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Upload a File{% endblocktrans %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
    <style>
    div.ProgressBar {  position: relative; top: 6px; width: 120px; padding: 0; border: 1px solid #aaa; margin-right: 1em; height:1em; margin-left:3em; margin-top:-1.5em; -moz-border-radius: 4px; -webkit-border-radius: 4px; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline; }
    div.ProgressBar div { background: #8a278a url({{ MEDIA_URL }}css/custom-theme/images/ui-bg_highlight-soft_50_764d79_1x100.png) repeat-x scroll 50% 50%; color: white; font-size: 1pt; height:100%; float:left; }
    span.asyncUploader object { position: relative; top: 5px; left: 41px; }
    #file_upload_uploading { position:relative;top:-5px; }
    #file_upload { visibility: hidden; }
    a#tutorial { top: -60px; }
    </style>
{% endblock %}

{% block subnav %}
{% include "files/navigation.html" %}
{% endblock %}

{% block body %}
            <a id="tutorial" onclick="runJoan();$(this).fadeOut();">Tutorial</a>
            <form action="http://http.fms1-gd.nxtgen.tv/uploader/media-upload.php" enctype="multipart/form-data" method="post" name="uploadform" id="uploadform">
                <h1 style="margin-left: 78px;" class="hdr_fancy">1. {% trans "Add Title and Description" %}</h1>
                <div class="hdr_fancy_bot"></div>
            	<div class="span-10 prefix-2">
            	    {% if file_form.title.errors %}<div>{{ file_form.title.errors }}</div>{% endif %}
        	        <label for="id_title">File Title:</label><br />
        	    	<input id="id_title" name="title" maxlength="50" type="text" title="This field is required."><br /><br />
        	    	{% if file_form.description.errors %}<div>{{ file_form.description.errors }}</div>{% endif %}
        	        <label for="id_description">Description:</label><br />
        	    	{{ file_form.description }}<br /><br />
            	</div>
            	<div class="span-9 prefix-1">
                    {% if file_form.tags_string.errors %}<div>{{ file_form.tags_string.errors }}</div>{% endif %}
                    <label for="id_tags_string">Tags:</label>
                    {{ file_form.tags_string }}<br /><br /><br />
            		<div>{{ file_form.private.errors }}</div><br />
        	    	<label for="id_private">Make this file private, so only you can share it?</label>
        	    	{{ file_form.private }}<br /><br /><br />
			{{ file_form.project.label_tag }}
        		{{ file_form.project }}<br />
        			<input type="hidden" name="uid" value="{{ user.id }}">
        			<input type="hidden" name="username" value="{{ user.username }}">
        			<input type="hidden" name="cid" value="{{ cid }}">
					<input type="hidden" name="redirect_url" value="{{ redirect_url }}">
                    {# <button id="btn_send" type="submit"><img src="{{ MEDIA_URL }}img/silk/picture_save.png" border="0" /> Save This File</button> #}
        		</div>
        		<hr style="visibility:hidden;">
        		<h1 style="margin-left: 78px;" class="hdr_fancy">2. {% trans "Choose and Upload a File (500MB maximum)" %}</h1>
        		<div class="hdr_fancy_bot"></div>
        		<p class="span-20 prefix-2">You can upload any type of file for sharing, commenting, and download. In addition many file types can be processed by our system for use during NetConferences and for display in our slide/video players.</p>
                <div class="span-10 prefix-2" id="upload_types">
                    <strong>Supported formats for NetConference processing:</strong><br />
                    <strong>Video:</strong> &nbsp; flv &nbsp; mov &nbsp; mpg &nbsp; avi &nbsp; wmv &nbsp; mp4 &nbsp; mpeg4 &nbsp; f4v<br />
                    <strong>Audio:</strong> &nbsp; mp3 &nbsp; wav &nbsp; m4a &nbsp; aac<br />
                    <strong>Text:</strong> &nbsp; doc &nbsp; rtf &nbsp; txt &nbsp; wpd &nbsp; html &nbsp; xls<br />
                    <strong>Media:</strong> &nbsp; ppt &nbsp; pdf &nbsp; swf <br />
                    <strong>OpenOffice:</strong> &nbsp; odt &nbsp; sxw &nbsp; sxc &nbsp; sci &nbsp; odt &nbsp; ods &nbsp; odp
                </div>
                    <input type="file" name="file_upload" id="file_upload">
                    <div id="processing" style="display:none;"><img src='/site_media/img/ajax-loader.gif' border='0' width='28' height='28' style='position:relative;top:10px;margin-right:5px;' /> Processing your file. <strong>Do not leave this page.</strong></div>
        	</form>
            <hr style="visibility:hidden;">
        	<p class="clear span-14 center" style="position:relative;left:180px;margin-top:20px;padding: 10px 14px;background: transparent url({{ MEDIA_URL }}img/bg_body.gif) repeat;border: 1px solid #aaa;color:black;">Do not upload any TV shows, music videos, music concerts, or commercials without permission unless they consist entirely of content you created yourself. Make sure that you own all copyrights in this video or have express permission from all copyright owners to upload it.</p>

    
    <!-- the tooltip for form validation --> 
    <div id="tooltip_sm_v"></div>

{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/swfupload.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-asyncUpload-0.1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>

<script type="text/javascript">
	var lf_ID = '100002563_B';
	function runJoan(){
		runLFOW();
	} 
</script>
{% endblock %}

{% block extra_jquery %}
    
    swfu_list = $("#file_upload").makeAsyncUploader({
        upload_url: "http://http.fms1-gd.nxtgen.tv/uploader/media-upload.php",
        flash_url: 'http://http.fms1-gd.nxtgen.tv/swfs/media-upload.swf',
        button_image_url: '{{ MEDIA_URL }}img/blankButton.png',
		button_disabled : true,
        // disableDuringUpload: "BUTTON[type='submit']",
        // file_types: '*.doc; *.ppt; *.pdf; *.xls; *.wmv; *.flv; *.mov; *.mpg; *.mpeg; *.mp4; *.aac; *.mpeg4; *.f4v; *.avi; *.mp3; *.wav; *.m4a; *.odt; *.sxw; *.rtf; *.txt; *.wpd; *.html; *.ods; *.sxc; *.odp; *.sxi; *.swf', file_size_limit: "500 MB"
        file_types: '*', file_size_limit: "500 MB"
        });
    $("#id_title").change(function(){
		if($(this).val()){
			swfu_list[0].swfu.setButtonDisabled(false);
		}
	});
	
	
    $("#uploadform").submit(function(){
       var titleVal = $("#id_title").val();
       var api = $("#id_title").tooltip({ tip: '#tooltip_sm_v', effect: 'fade', opacity: 1, api: true, events: { button: 'click'} });
       if(titleVal == ""){
           $("#id_title").val("Untitled File");
           {# $("#id_title").focus(); #}
           {# api.show(); #}
           {# $("#id_title").unbind("focus"); #}
           return false;
       }
    });
    
{% endblock %}
