{% load i18n %}
{% url my_files  as myfiles %}
{% url upload_file as upload_file %}
{% url files_browse as browse_files %}
<ul class="subnav">
    <li {% ifequal my_files request.get_full_path %} class="current" {% endifequal %}>
    <a href="{{myfiles}}">{% trans "My Files" %}</a>
    </li>
    <li {% ifequal upload_file request.get_full_path %} class="current" {% endifequal %}>
    <a href="{{upload_file}}">{% trans "Upload Files" %}</a>
    </li>
    <li id="browse_files" {% ifequal browse_files request.get_full_path %} class="current" {% endifequal %}>
    <a href="{{ browse_files }}">{% trans "Browse Files" %}</a>
    </li>
</ul>