{% extends "newer_base.html" %}
{% load i18n %}
{% block content %}
    <ul id="messages">
      {% for message in messages %}
      <li>{{ message }}<a href="#" class="buttonGreenSmall message-close" style="float:right;text-align:center;text-decoration:none;line-height:25px;margin-bottom:10px;" onclick="$('#messages li').hide();">{% trans "Clear" %}</a></li>
      {% endfor %}
    </ul>
    <div id="folder_structure">
    </div>
    <input type="button" id="add_folder" class="buttonBlueSmall" style="margin-left:18px;" value="{% trans "Add folder" %}"/>
    <form method="post" action="{% url delete_folder %}">
        <input type="submit" id="" class="buttonBlueSmall" style="margin-left:18px;" value="{% trans "Delete folder" %}"/>
        <input type="hidden" name="delete_folder"/>
    </form>
    <div id="add_folder_modal" class="modal">
        <h2 style="border:0px;">{% trans "Add folder" %}</h2>
        <p>{% trans "Add a folder" %}</p>
        <form method="post" action="{% url add_folder %}">
        <input type="hidden" name="parent_folder"/>
        <input type="text" name="folder_name" id=""/>
        <br/>
        <button type="submit" class="buttonGreenSmall" style="float:right;margin-left:10px;"> {% trans "Add" %} </button>
        </form>    
        <button type="button" class="close buttonGreenSmall" style="float:right;margin-left:10px;"> {% trans "Cancel" %} </button>
    </div>
{% endblock %}
{% block extrafooterscript %}
<script>
    $(document).ready(function(){
        $("#add_folder").click(function(){
           $("#add_folder_modal").overlay({
                expose:{
                    color: "#333",
                    loadSpeed : 220,
                    opacity : 0.9
                },
                closeOnClick : true,
                load : true,
            }); 
            $("#add_folder_modal").overlay().load();
        });
    });
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jstree.js"></script>
<script>
    $(document).ready(function(){
        $("#folder_structure").jstree({
            json_data:{
                "data": {{json_data|safe}}
            },
            plugins: ["themes", "json_data", "ui"]
        }).bind("select_node.jstree", function(e, data){
            //alert("hello");
            $("input[name='parent_folder']").val(jQuery.data(data.rslt.obj[0], "id"));
            $("input[name='delete_folder']").val(jQuery.data(data.rslt.obj[0], "id"))
        });
    });
</script>
{% endblock %}
