{% extends "files/files_detail.html" %}
{% block head_title %}{{ file.title }}{% endblock %}
{% block view_file_container %}
<link rel="video_src" href="{{ MEDIA_URL }}swf/longtail_player.swf?{{ file.encode_url_video_share }}"/> 
<link rel="image_src" href="http://{{ CLOUDFRONT_DOWNLOAD }}/thumb/{{ file.uuid }}.jpg"/>
<meta name="video_height" content="260" /> 
<meta name="video_width" content="460" />
<meta name="description" content="{% if file.description %}{{ file.description }}{% else %}<No Description>{% endif %}" />
<meta name="video_type" content="application/x-shockwave-flash" />
	<table id="file_view_content_video_right_col" border="0">
		<tr>
			<td align="center"><div id="view_file_video_container"></div></td>
		</tr>
	</table>
	<script type="text/javascript">
	var toggle_max_video_size = false;
	var current_video_width;
	function setSize(theWrapper, theWidth, theHeight) { 
		current_video_width = theWidth;
        var tmp = document.getElementById(theWrapper);
        
            if (tmp) { 
                var unitStr = "px";

            }
            sizeWrap(theWrapper, theWidth, theHeight, unitStr);	                       
    }


    function sizeWrap(theWrapper, theWidth, theHeight, unitStr) { 
        var tmp = document.getElementById(theWrapper);
            if (tmp) { 
                if (! unitStr) { var unitStr = 'px'; }
                tmp.style.width = parseInt(theWidth)+unitStr; 
                tmp.style.height = parseInt(theHeight)+unitStr; 
            }
    }
	
	
		$(document).ready(function(){
			
			var MAX_WIDTH = 945;
			var MIN_WIDTH = 400;
			
			{% if file.dimension_height %}
			var height = {{file.dimension_height}};
			var width = {{file.dimension_width}};
			
			var real_height_video = height;
			var real_width_video = width;
			
			if(width > MAX_WIDTH) {
				
				height = parseInt(MAX_WIDTH*height/width);
				width = MAX_WIDTH;
			}
			if(width < MIN_WIDTH) {
				height = parseInt(MIN_WIDTH*height/width);
				width = MIN_WIDTH;
			}
			{% else %}
			var width = MAX_WIDTH;
			var height = 400;
			var real_height_video = height;
			var real_width_video = width;
			{% endif %}
			var table_width = $('#file_view_content_video_right_col').width();
			var delta = (table_width - width)/2;
			
			var real_width = $('#file_title').width() - delta;
			$('#file_title').width(real_width);
			$('#view_count').css({'margin-right': delta});
			
			
			//toggle view add info
			 $('#btn_show_add_info').click(function(){
				 toggle_max_video_size = !toggle_max_video_size;
				 if(toggle_max_video_size) {
					 $('#btn_show_add_info').html('Hide Info');
					 if(real_width_video < 690) {
						setSize('view_file_video_container', real_width_video, real_height_video);
						$('#file_view_content_video_right_col').css({'width':real_width_video, 'heigth':real_height_video});
						$('#view_file_video_container_wrapper').css({'height':real_height_video,'width':690});
					 }
					 else{
						 var temp_width = 690;
						 var temp_height = parseInt(real_height_video*690/real_width_video);
						setSize('view_file_video_container', temp_width, temp_height);
						$('#view_file_video_container_wrapper').css({'width':690, 'height':temp_height});
						$('#file_view_content_video_right_col').css({'width':temp_width, 'height':temp_height});
						
					} 
					 
				 }else {
					 $('#btn_show_add_info').html('Info');
					if(real_width_video > 945) {
						var temp_width = 945;
						var temp_height = parseInt(real_height_video*945/real_width_video);
						 setSize('view_file_video_container', temp_width, temp_height);
						 $('#file_view_content_video_right_col').css({'width':temp_width, 'heigth':temp_height});
						 $('#view_file_video_container_wrapper').css({'width':945, 'height':temp_height});
					}
					else {
						setSize('view_file_video_container', real_width_video, real_height_video);
						 $('#file_view_content_video_right_col').css({'width':real_width_video, 'heigth':real_height_video});
						 $('#view_file_video_container_wrapper').css({'width':945, 'height':real_height_video});
					}
				 }
				 $('#file_edit_content_left_col').toggle();
				 var new_file_detail_top_width =  $('#file_detail_top').width();
				 var new_table_width = $('#file_view_content_video_right_col').width();
				 var delta = (new_table_width - current_video_width)/2;
				 $('#file_title').width(945 - delta);
				 
				 $('#view_count').css({'margin-right': delta});
			 });
													
			
			
			jwplayer('view_file_video_container').setup({
				{% ifequal file.source_type "rec_conf" %}
	               'file':'flv/recording/{% if file.child_uuid %}{{file.child_uuid}}{% else %}{{ file.uuid }}{% endif %}.mp4',
	            {% else %}
	               'file':'mp4/{% if file.child_uuid %}{{file.child_uuid}}{% else %}{{ file.uuid }}{% endif %}_500.mp4',
	            {% endifequal %}
 			    'abouttext':'Netconference',
			    'aboutlink':'{{ bucket }}',
 			    modes: [{
	 			            type: "flash",
	 			            src: "{{ MEDIA_URL }}swf/longtail_player.swf"
	 			        },{
				            type: "html5",
				            config: {
				                file: "http://{{ CLOUDFRONT_DOWNLOAD }}/{% ifequal file.source_type "rec_conf" %}flv/recording/{% if file.child_uuid %}{{file.child_uuid}}{% else %}{{ file.uuid }}{% endif %}.mp4{% else %}mp4/{% if file.child_uuid %}{{file.child_uuid}}{% else %}{{ file.uuid }}{% endif %}_500.mp4{% endifequal %}",
				                provider: "video"
				            }
	 			          }
 			    ],
		        'provider':'rtmp',
			    'streamer': 'rtmp://{{ CLOUDFRONT_STREAM }}',
			    'controlbar': 'bottom',
			    'width': width,
			    'height': height
			  });
			
		});
	</script>			
{% endblock %}