{% extends "new_base.html" %}
{% load i18n %}
{% load uni_form %}

{% block head_title %}
{% blocktrans %}Upload File: Step {{ step }} of {{ step_count }}{% endblocktrans %}
{% endblock %}

{% block extra_css_post %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/uni-form.css" type="text/css" media="screen" />
<style type="text/css" media="screen">
  label { display:block; }
  .uniForm { width: 563px; margin: 0px; }
  .title { width: 100%; padding: 5px 0px 5px 10px; }
  #id_description,#id_project,#id_visibility { width: 540px; }
  #id_password,#id_confirm_password {
    width:540px;
    margin-left:4px;
    margin-top:2px; 
    border-left: 2px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 2px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
  #div_id_project,#div_id_password,#div_id_confirm_password { display: none; }
  #content_container{ width: 565px }
</style>
{% endblock %}

{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li><a href="{% url my_files %}">{% trans "My Files" %}</a></li>
    <li class="current"><a href="{% url upload_file %}">{% trans "Upload Files" %}</a></li>
    <li><a href="{% url files_browse %}">{% trans "Browse Files" %}</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div id="content_container">
  <h2 class="title">{% blocktrans %}Upload File: Step {{ step }} of {{ step_count }}{% endblocktrans %}</h2>
  <div class="uniForm" >
    <form method="post" action="." autocomplete="off">
      {{ form|as_uni_form }}   
      <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
      <p><input type="submit" value="{% trans "Proceed" %}" class="buttonGreen" /></p>
    </form>
  </div>
</div>
{% endblock %}


{% block extrafooterscript %}
<script type="text/javascript">
$(document).ready(function() { 
  {% if show_project %}
  $("#div_id_project").show();
  {% endif %}
  if ($("#id_project").children("option:selected").val()) {
    $("#div_id_project").show();
  }
  if ($("#id_visibility").children("option:selected").val() == "O") {
    $("#div_id_password,#div_id_confirm_password").show();
  }
  $("#id_visibility").change(function() { 
    if ($(this).children("option:selected").val() == "O") {
      $("#div_id_password,#div_id_confirm_password").show();
    } else {
      $("#div_id_password,#div_id_confirm_password").hide();
      $("#id_password,#id_confirm_password").val("");
    }
  });
});
</script>
{% endblock %}
