{% extends "new_base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}
{% trans "Confirm Password to View File" %}
{% endblock %}

{% block submenu %}
<div id="submenu_container">
    <ul class="subnav">
        <li><a href="{% url my_files %}">{% trans "My Files" %}</a></li>
        <li class="current"><a href="{% url upload_file %}">{% trans "Upload Files" %}</a></li>
        <li><a href="{% url files_browse %}">{% trans "Browse Files" %}</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<div id="content_container">
  {% if password_invalid %}<h3 style="color:red;">{% trans "Invalid Password. Please try again!" %}</h3>{% endif %}
    <form action="." method="POST">
        <label>{% trans "This file is password protected." %}</label>
        <br />
        <label>{% trans "Please enter the password to continue:" %}</label>
        <input type="password" name="password" value="" />
        <br />
        <input type="submit" name="Submit" value="Submit" class="buttonBlueSmall" style="display:inline;" />
    </form>
</div>
{% endblock %}
