{% extends "newer_base.html" %}
{% load i18n %}
{% block head_title %}
{% load timezone_filters %}
{% load conference_tags %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<link href="{{ MEDIA_URL }}vmail/themes/netconference/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.ui.widget.js" type="text/javascript"></script>
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}schedule/js/jquery.blockUI.js" type="text/javascript"></script>
<link href="{{ MEDIA_URL }}files/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}files/js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.tmpl.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.xdr-transport.js" type="text/javascript"></script>
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />

<script src="{{ MEDIA_URL }}files/js/jquery.fileupload.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.fileupload-ui.js" type="text/javascript"></script>


<script type="text/javascript">
var uuid_init = guidGenerator();
var path_file = "";
var file_size_upload = 0;
function get_file_name(path) {
    var objRE = new RegExp(/([^\/\\]+)$/);
    var strName = objRE.exec(path);
 
    if (strName == null) {
        return null;
    }
    else {
        return strName[0];
    }
}
// Check if password and repeat password matched
function is_pwd_match(pwd, re_pwd) {
	if(pwd == re_pwd) return true;
	return false;
}
//Check if radio password checked
function is_rad_pwd_checked() {
	var name = $("input[name='rdio']:checked").val();
	if(name == 'password')
		return true;
	return false;
}
function is_file_suppoted(file_extension) {
	var my_files =new Array("png","jpg","jpeg","mp3","mp4","aac","wav","flv","wmv","avi","f4v","mov","mpg","mpeg","pdf","doc","docx","xls","xlsx","ppt","pptx","odt","ods","odp"); // condensed array
	var supported = false;
	file_extension = file_extension.toLowerCase();
	for(var i = 0; i < my_files.length; i++) {
		if(my_files[i] == file_extension) {
			supported = true;
			break;
		}
	}
	return supported;
}
function submit_file_info() {
	var description = $('#description').val();
	var privacy = $("input[name='rdio']:checked").val();
	if(privacy == 'password')
		var pwd = $('#txt_pwd').val();
	var tags = $('#tags').val();
	var file_title = $('#txt_file_title').val();
	var file_name = get_file_name(path_file);
	var file_size = file_size_upload;
	
	$("#form_submit input[name=uuid]").val(uuid_init);
	$("#form_submit input[name=desc]").val(description);
	$("#form_submit input[name=privacy]").val(privacy);
	$("#form_submit input[name=pwd]").val(pwd);
	$("#form_submit input[name=tags_string]").val(tags);
	$("#form_submit input[name=file_name]").val(file_name);
	$("#form_submit input[name=file_title]").val(file_title);
	$("#form_submit input[name=file_size]").val(file_size);
	$('#form_submit').submit();
}
$(document).ready(function(){
	
	$('#file_upload_header_icon_close').click(function(){
		$('#close_overlay_upload').click();	
	});
	
	$('#file_upload_header_icon_close_msg').click(function(){
		$('#close_overlay_upload_msg').click();
	});
	var triggers = $("#show_overlay").overlay({
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#ebecff',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 
	      closeOnClick: false
	  });
	var triggers = $("#show_overlay_upload").overlay({
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#ebecff',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 
	      closeOnClick: true
	  });
	$('#btn_continue').attr('disabled', true);
	$('input[name="rdio"]').change(function(){
		$('#error_message').hide();
		if(is_rad_pwd_checked()) {
			$('#pwd_area').show();
			$('#re-type-pwd-col').show();
		}
		else {
			
			$('#pwd_area').hide();
			$('#re-type-pwd-col').hide();
			$('#txt_pwd').val('');
			$('#txt_re_pwd').val('');
		}
	});
	$('#btn_upload_file').attr('disabled', true);
	$('#file_upload').change(function(){
		path_file = $('#file_upload').val();
		var filename = get_file_name(path_file);
		$('#txt_file_upload').val(filename);
		if($.trim($('#txt_file_title').val()) == '')
			$('#txt_file_title').val(filename);
		
		$('#btn_upload_file').css({'opacity':'1', 'cursor':'pointer'});
		$('#btn_upload_file').attr('disabled', false);
	});
	
	$('#videoUploadID').fileupload({
		dataType: 'html',
	    type:'POST',
	    maxNumberOfFiles: 1,
	     after_add: function(){
	    	var file_size = $('#fileupload-content').find('tr:first').find('td:eq(2)').html();
	    	if(file_size.lastIndexOf('KB') > -1) {
	    		file_size_upload = parseInt(parseFloat(file_size)*1024);
	    	}else if(file_size.lastIndexOf('MB') > -1) {
	    		file_size_upload = parseInt(parseFloat(file_size)*1024*1024);
	    	}else if(file_size.lastIndexOf('GB') > -1) {
	    		file_size_upload = parseInt(parseFloat(file_size)*1024*1024*1024);
	    	}
	    }
	}).bind('fileuploadsubmit', function (e, data){
		   var uuid = uuid_init;
		   var title = $('#txt_file_title').val();
		   data.formData = {
		   uuid:uuid,
		   uid: '{{ user.id }}',
		   title: title,
		   cid: '{{ bucket }}',
		   username: '{{ user.username }}',
		   visibility: 'U',
		   };
	});
	
	if ( $.browser.msie ) {
		$('#videoUploadID').bind('fileuploadalways', function(e, data){
       		var uuid = uuid_init;
               $('#uploading').text('Complete!');
       		$('#btn_continue').css({ 
       			'opacity':'1', 'cursor':'pointer'
       		});
       		$('#btn_continue').attr('disabled', false);
       		$('.ui-progressbar').progressbar({
       		    value: 200
       		});
       		//$('#btn_continue').click();
       		submit_file_info();
        });
	}else{
       	$('#videoUploadID').bind('fileuploaddone', function(e, data){
       		var result = data.result.toString();
       		uuid = result.split(',',2)[1];
       		$('#uploading').text('Complete!');
       		$('#btn_continue').css({ 
       			'opacity':'1', 'cursor':'pointer'
       		});
       		$('#btn_continue').attr('disabled', false);
       		$('.ui-progressbar').progressbar({
       		    value: 200
       		});
       		//$('#btn_continue').click();
       		submit_file_info();
        });
	}
	
	$('#btn_continue').click(function(){
		/* var description = $('#description').val();
		var privacy = $("input[name='rdio']:checked").val();
		if(privacy == 'password')
			var pwd = $('#txt_pwd').val();
		var tags = $('#tags').val();
		var file_title = $('#txt_file_title').val();
		var file_name = get_file_name(path_file);
		var file_size = file_size_upload;
		
		$("#form_submit input[name=uuid]").val(uuid_init);
		$("#form_submit input[name=desc]").val(description);
		$("#form_submit input[name=privacy]").val(privacy);
		$("#form_submit input[name=pwd]").val(pwd);
		$("#form_submit input[name=tags_string]").val(tags);
		$("#form_submit input[name=file_name]").val(file_name);
		$("#form_submit input[name=file_title]").val(file_title);
		$("#form_submit input[name=file_size]").val(file_size);
		$("#form_submit input[name=file_id]").val(file_id);
		//alert('file_id' + file_id);
		$('#form_submit').submit(); */
		submit_file_info();
	});
	$('#btn_upload_file').click(function(){
		// check if upload
		
		var subscription_apply = '{{ SUBSCRIPTION_APPLY }}';
		var limit_file_size = {{limit_file_size}};
		var total_file_size = {{total_file_size}};
		var file_size = file_size_upload;
		var extension = path_file.substr( (path_file.lastIndexOf('.') +1) );
		if(!is_file_suppoted(extension)) {
			$('#show_overlay_upload').click();
			$('#txt_file_title').val('');
			return false;
		}
		
		if(subscription_apply == 'True' && (total_file_size + file_size > limit_file_size*1024*1024)) {
			$('#show_overlay').click();
			return false;
		}
		var pwd = $('#txt_pwd').val();
		var re_pwd = $('#txt_re_pwd').val();
		if( is_rad_pwd_checked() && !is_pwd_match(pwd, re_pwd)) {
			$('#error_message').show();
			$('#error_message').focus();
			return false;
		}
		$('#UploadVideoStartHidden').click();
		$('#fileupload-buttonbar').hide();
		$('#option_file_info').hide();
		$('#uploading').show();
		$('#btn_cont_area').show();
		$('#big_clear').show();
		$('.tip_process_upload_file').show()
	});
	$('#upgrade').click(function(){
		window.location.replace('/subscription');
	});
});


</script>
{% endblock %}

{% block content %}
  	<!--CONTENT CONTAINER STARTS-->
  	
	<div id="content_container"> 
		<button id="show_overlay" rel="#upload_file_container" style="visibility:hidden;"></button>
		<button id="show_overlay_upload" rel="#upload_file_type_container" style="visibility:hidden;"></button>
		<!-- OVERLAY HERE -->
		
		<div class="modal_file" id="upload_file_container">
			<div class="file_upload_header">
				<div id="file_upload_header_icon_close_msg" class="file_upload_icon_close_msg" style="float: right;"></div>
			</div>
			<button class="close" style="visibility: hidden;" id="close_overlay_upload_msg"></button>
		  <div style="width: 600px; margin-left: 50px;margin-bottom: 10px; margin-top: 20px;">
		  		<table border="0" style="width: 100%;">
		  			<tr align="center"><td><img src="{{ MEDIA_URL }}files/images/logo.png" border="0"/></td></tr>
		  			<tr><td><div style="height: 25px;"></div></td></tr>
		  			<tr align="center" class="purple_color_text font_size_20 font_weight_bold"><td>Uploading this file will exceed your total allotted space on</td></tr>
		  			<tr align="center" class="purple_color_text font_size_20 font_weight_bold"><td>the cloud. Please either delete a file from your account to</td></tr>
		  			<tr align="center" class="purple_color_text font_size_20 font_weight_bold"><td>make room or upgrade to a higher level account.</td></tr>
		  			<tr><td><div style="height: 15px;"></div></td></tr>
		  			
		  			<tr align="center" class="grey_color_text font_size_18"><td>Would you like to upgrade your account?</td></tr>
		  			<!-- <tr align="center" class="grey_color_text font_size_22"><td>Thank You. Team <span style="color: #750a98; font-size: 22px;">NetConference</span></td></tr> -->
		  			<tr><td><div style="height: 20px;"></div></td></tr>
		  			<tr align="center" class="grey_color_text font_size_22"><td><a href="{% url my_files %}"><button id="not_upgrade" class="upload_file_msg">Not Now</button></a>&nbsp;<button id="upgrade" class="upload_file_msg">Upgrade</button></td></tr>
		  			<tr><td><div style="height: 20px;"></div></td></tr>
		  		</table>
		  </div>
		</div>
		
		
		<div class="modal_file" id="upload_file_type_container">
			<div class="file_upload_header">
				<div id="file_upload_header_icon_close" style="float: right;"></div>
			</div>
			<button class="close" style="visibility: hidden;" id="close_overlay_upload"></button>
		  <div style="width: 600px; margin-left: 50px;margin-bottom: 10px; margin-top: 20px;">
		  		<table border="0" style="width: 100%;">
		  			<tr align="center"><td><img src="{{ MEDIA_URL }}files/images/logo.png" border="0"/></td></tr>
		  			<tr><td><div style="height: 25px;"></div></td></tr>
		  			<tr align="center" class="purple_color_text font_size_20 font_weight_bold"><td>NetConference does not currently support the file format</td></tr>
		  			<tr align="center" class="purple_color_text font_size_20 font_weight_bold"><td>that you are trying to upload. We currently support the</td></tr>
		  			<tr align="center" class="purple_color_text font_size_20 font_weight_bold"><td>following file formats:</td></tr>
		  			<tr><td><div style="height: 15px;"></div></td></tr>
		  			<tr align="center" class="purple_color_text font_size"><td>Image: PNG, JPG, JPEG</td></tr>
		  			<tr><td><div style="height: 5px;"></div></td></tr>
		  			<tr align="center" class="purple_color_text font_size"><td>Audio: mp3,aac, wav</td></tr>
		  			<tr><td><div style="height: 5px;"></div></td></tr>
		  			<tr align="center" class="purple_color_text font_size"><td>Video: flv, wmv, avi, f4v, mov, mpg, mpeg, mp4</td></tr>
		  			<tr><td><div style="height: 5px;"></div></td></tr>
		  			<tr align="center" class="purple_color_text font_size"><td>Office: pdf, doc, docx, xls, xlsx, ppt, pptx, odt, ods, odp</td></tr>
		  			<tr><td><div style="height: 10px;"></div></td></tr>
		  			<tr align="center" class="grey_color_text font_size_20"><td>Please convert you file to a supported format and upload again.</td></tr>
		  			<!-- <tr align="center" class="grey_color_text font_size_22"><td>Thank You. Team <span style="color: #750a98; font-size: 22px;">NetConference</span></td></tr> -->
		  			<tr><td><div style="height: 20px;"></div></td></tr>
		  			<tr align="center" class="grey_color_text font_size_22"><td><img src="{{MEDIA_URL}}files/images/upload_file_mesage.png" /></td></tr>
		  			<tr><td><div style="height: 20px;"></div></td></tr>
		  		</table>
		  </div>
		</div>
		
		<div id="form_fake_submit" style="display:none;">
			<form id="form_submit" action="{% url upload_file %}" method="post">
				<input name="uuid" id="uuid"/>
				<input name="desc" id="desc"/>
				<input name="privacy" id="privacy"/>
				<input name="pwd" id="pwd"/>
				<input name="tags_string" id="tags_string"/>
				<input name="file_name" id="file_name" />
				<input name="file_title" id="file_title" />
				<input name="file_size" id="file_size" />
			</form>
		</div>
		<div id="upload_file">
			
	<div id="videoUploadID" style="padding-top:20px;">
	    <!-- <form id="videoUploadForm" action="http://encode1.media.netconf.nxtgencdn.com/uploader_amazons3/upload-amazons3-v2.php" method="POST" enctype="multipart/form-data"> -->
	    <form id="videoUploadForm" action="http://192.168.1.107:8080/FileUpload/" method="POST" enctype="multipart/form-data">
	      	<div class="fileupload-buttonbar" id="fileupload-buttonbar">
	      		<p><h1 style="font-size: 28px; font-weight: normal;" class="purple_text"><img alt="Upload File" src="{{ MEDIA_URL }}files/images/files_upload_title.png"> </h1></p>
	      		<div style="height: 15px;"></div>
				<p class="file_text" style="margin-bottom: 5px;">Select a file to upload from your computer</p>
	      		<input id="txt_file_upload" type="text" class="text_filed_bg file_text" readonly="readonly"/>
	            <label class="fileinput-button">
	                <span>Browse</span>
	                <input id="file_upload" type="file" name="files[]" title="Please select a file before uploading">
	            </label>
	        	<button type="submit" class="start" id="UploadVideoStartHidden" style="visibility: hidden;">Upload</button>
	    	</div>
	    </form>
        <script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{% templatetag openvariable %}if error{% templatetag closevariable %} ui-state-error{% templatetag openvariable %}/if{% templatetag closevariable %}">
        <td class="preview"></td>
        <td class="name">{% templatetag openvariable %}if name{% templatetag closevariable %}${name}{% templatetag openvariable %}else{% templatetag closevariable %}Untitled{% templatetag openvariable %}/if{% templatetag closevariable %}</td>
        <td class="size">${sizef}</td>
                <td class="uuid"><input name="uuid" value="${uuid}"></td>
        {% templatetag openvariable %}if error{% templatetag closevariable %}
            <td class="error" colspan="2">Error:
                {% templatetag openvariable %}if error === 'maxFileSize'{% templatetag closevariable %}File is too big
                {% templatetag openvariable %}else error === 'minFileSize'{% templatetag closevariable %}File is too small
                {% templatetag openvariable %}else error === 'acceptFileTypes'{% templatetag closevariable %}Filetype not allowed
                {% templatetag openvariable %}else error === 'maxNumberOfFiles'{% templatetag closevariable %}Max number of files exceeded
                {% templatetag openvariable %}else{% templatetag closevariable %}${error}
                {% templatetag openvariable %}/if{% templatetag closevariable %}
            </td>
        {% templatetag openvariable %}else{% templatetag closevariable %}
            <td class="start"><button>Start</button></td>
        {% templatetag openvariable %}/if{% templatetag closevariable %}
        <td class="cancel"><button>Cancel</button></td>
    </tr>
	</script>
        <div class="fileupload-content" id="fileupload-content">
            <table class="files"></table>
            <div id="uploading" style=" color: #595959; display: none;">Uploading...</div>
            <div style="vertical-align: middle;">
	            <div class="fileupload-progressbar" style="float: left;"></div>
	            <div id="btn_cont_area" style="float: right; display: none;" ><button id="btn_continue" class="button_medium_Green transparent">Continue</button></div>
            </div>
            <div style="clear: both;"></div>
            <div class="tip_process_upload_file">Please wait while we process your file. This may take a few seconds, minutes or considerably longer depending upon the file type and size that you have uploaded. When the Continue button activates, you will be directed to your file. Please do not close this page while your file is loading or the process will not be completed.</div>
            <div id="big_clear" style="width: 100%; height: 200px; display: none;"></div>
        </div>
        
     </div>
      
		</div>
		<div id="option_file_info">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridtable">
            	<th colspan="2" style="font-size: 13px;">Optional File Information</th>
                <tr>
                    <td align="left" valign="top" class="pad20">
                    	<label for="title">Title:</label><input style="margin-left: 4px;" type="text" name="txt_file_title" id="txt_file_title" class="text_filed_bg file_text"/>
                    	<label for="description">Description: </label><textarea cols="40" rows="6" name="description" id="description" class="text_filed_bg file_text"></textarea>
                    </td>
                    <td align="left" valign="top" class="pad20" ><label for="tags">Tags: </label><textarea cols="40" rows="3" name="tags" id="tags" class="text_filed_bg file_text"></textarea><br/><br/>
                    <label for="privacy">Privacy : </label>
                    <table border="0" style="color: #595959; font-weight: bold;">
                    	<tr>
                    		<td><input type="radio" value="private" checked="checked" name="rdio" id="rad_private"/></td><td>Private</td>
                    	</tr>
                    	<tr>
                    		<td><input type="radio" value="password" id="rad_password" name="rdio"/></td><td>Password</td><td><div id="pwd_area" style="display: none"><input id="txt_pwd" type="password" class="txt_password file_text"/></div> </td>
                    	</tr>
                    	<tr style="display: none;" id="re-type-pwd-col">
                    		<td></td><td style="font-weight: normal;">Re-type</td><td><input id="txt_re_pwd" type="password" class="txt_password file_text"/> </td>
                    	</tr>
                    	<tr>
                    		<td><input type="radio" value="public" id="rad_public" name="rdio"/></td><td>Public</td>
                    	</tr>
	                    
                    </table>
                </tr>
            </table>
            <div style="margin-top: 10px; float: right;">
               <a href="{% url my_files %}"><button class="button_medium_Green">Cancel</button></a>  &nbsp;&nbsp;  <button id="btn_upload_file" class="button_medium_Green transparent">Upload</button> 
            </div>
            <div style="clear: both;"></div>
            <div id="error_message" style="float: right; color: red; margin-top: 10px; margin-right: 2px;font-size: 13px; display: none;">
            	Error: Passwords do not match.
            </div>
            <div style="padding-bottom: 180px;"></div>
		</div>
  	</div>
  	<!--CONTENT CONTAINER ENDS--> 
   
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>

{% endblock %}
