{% extends "new_base.html" %}
{% load i18n %}
{% load uni_form %}

{% block head_title %}
{% blocktrans %}Files Upload: Step {{ step }} of {{ step_count }}{% endblocktrans %}
{% endblock %}

{% block extra_css_post %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/uni-form.css" type="text/css" media="screen" />
<style type="text/css" media="screen">
  label { display:block; }
  .uniForm { width: 100%; margin: 0px; }
  .title { width: 100%; padding: 5px 0px 5px 10px; }
  div.ProgressBar { width: 250px; padding: 0; border: 1px solid #aaa; height:25px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
  div.ProgressBar div { background: #8a278a url({{ MEDIA_URL }}css/custom-theme/images/ui-bg_highlight-soft_50_764d79_1x100.png) repeat-x scroll 50% 50%; color: white; font-size: 1pt; height:100%; valign:bottom; }
  #file_upload { visibility: hidden; }
  a#tutorial { top: -60px; }
  #file_upload_uploading { 
    display: block;
    width: 75px;
    height: 25px;
    background: transparent url({{ MEDIA_URL }}new/images/bt_blank_green_small_button.png) 0px 0px no-repeat;
    margin: 0 auto;
    color: white;
    font-size: 12px;
    border:0px; 
    cursor:pointer;
 }
</style>
{% endblock %}

{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li><a href="{% url my_files %}">{% trans "My Files" %}</a></li>
    <li class="current"><a href="{% url upload_file %}">{% trans "Upload Files" %}</a></li>
    <li><a href="{% url files_browse %}">{% trans "Browse Files" %}</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div id="content_container">
  <h2 class="title">{% blocktrans %}Files Upload: Step {{ step }} of {{ step_count }}{% endblocktrans %}</h2>
  <div class="uniForm">
    <h3>{% trans "Choose and Upload a File (2GB maximum)" %}</h3>
  <p>
    {% trans "You can upload any type of file for sharing, commenting, and download. In addition many file types can be processed by our system for use during NetConferences and for display in our slide/video players." %}
  </p>
  <p><b>{%trans "Supported formats for NetConference processing:" %}</b></p>
  <p><b>{% trans "Video" %}: </b>  FLV, MOV, MPG, AVI, WMV, MP4, MPEG4, F4V</p>
  <p><b>{% trans "Audio" %}:  </b> MP3, WAV, M4A, AAC</p>
  <p><b>{% trans "Text" %}: </b> RTF, TXT, WPD, HTML, XLS</p>
  <p><b>{% trans "Media" %}:  </b> PPT, PPTX, PDF, SWF</p>
  <p><b>{% trans "Documents" %}: </b> DOC, DOCX, ODT, SXW, SXC, SCI, ODT, ODS, ODP</p>
  
  <form method="post" action="{{ FILE_UPLOADER_URL }}" enctype="multipart/form-data" name="uploadform" id="uploadform">
    <div>
      {{ form|as_uni_form }}    
      <input type="file" name="file_upload" id="file_upload" />
    </div>
    <input type="hidden" name="cid" value="{{ cid }}" />
    <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
      {{ previous_fields|safe }}
  </form>
  <p><strong>{% trans "Do not upload any TV shows, music videos, music concerts, or commercials without permission unless they consist entirely of content you created yourself. Make sure that you own all copyrights in this video or have express permission from all copyright owners to upload it." %}</strong>
  </p>
  </div>
</div>
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/swfupload.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-asyncUpload-0.1.js"></script>
<script type="text/javascript">
var asyncUploaderOptions = {
    upload_url: "{{ FILE_UPLOADER_URL }}",
    flash_url: "{{ FILE_UPLOADER_FLASH_URL }}",
    button_image_url: "{{ MEDIA_URL }}new/images/bt_choose_file_upload.png",
    width: 211,	
    height: 37,
    button_text: "",
    button_disabled: {% if file_upload_disallow %}true{% else %}false{% endif %},
    file_size_limit: "2048 MB",
    button_action: SWFUpload.BUTTON_ACTION.SELECT_FILE
  };
var swfu_list = $("#file_upload").makeAsyncUploader(asyncUploaderOptions);
</script>
{% endblock %}
