{% extends "newer_base.html" %}
{% load i18n %}
{% block head_title %}
{% load timezone_filters %}
{% load conference_tags %}
{% load scheduletags %}
{% load file_tags %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.ui.widget.js" type="text/javascript"></script>
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/multiupload/multiupload.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/css/new_list_file.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}longtail/jwplayer.js"></script>

<link href="{{ MEDIA_URL }}vmail/themes/netconference/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-b4c67e3-4a07-80be-95ff-3df9d65c2b8f"}); </script>
{% if is_host %}
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/custom_jstree.js" ></script>
{%endif%}
<style>
#jstree_holder_move a {color:#595959; white-space:normal !important; height: auto; padding:1px 2px;word-wrap: break-word;font-size: 13px; } 
#jstree_holder_move li > ins { vertical-align:top; }
#jstree_holder_move li { vertical-align:top;word-wrap: break-word }
#jstree_holder_move .jstree-hovered, #jstree_holder .jstree-clicked { border:0; }
.stButton {
position: relative;
z-index: 1;
text-decoration: none;
color: black;
display: inline-block;
cursor: pointer;
margin-right: 3px;
margin-left: 3px;
font-size: 11px;
height: 24px!important;width:53px!important;
}
.stButton .chicklets{
background-repeat: no-repeat;
padding-left: 20px;
padding-right: 3px;
white-space: nowrap;
font-family: Verdana,Helvetica,sans-serif;
font-size: 11px;
display: inline-block;
height: 24px!important;
width: 53px!important;
}
.stButton .email{background-image:url('{{MEDIA_URL}}files/images/btn_gray_small.png')!important;background-position:0 0;}
.stButton .twitter{background-image:url('{{MEDIA_URL}}files/images/icon/sharethis/icon_twitter.png')!important;}
.stButton .linkedin{background-image:url('{{MEDIA_URL}}files/images/icon/sharethis/icon_in.png')!important;}
.stButton .googleplus{background-image:url('{{MEDIA_URL}}files/images/icon/sharethis/icon_google.png')!important;}
.stButton .facebook{background-image:url('{{MEDIA_URL}}files/images/icon/sharethis/icon_face.png')!important;}
</style>
{% endblock %}

{% block content %}
	
	<button style="display: none;" id="confirm_overlay" rel="#confirm_container"></button>
	<div class="modal_file" id="confirm_container">
		<div class="file_delete_header" id="confirm_title">
			Title
		</div>
		<div style="text-align: center; margin-top: 30px; height:auto;">
		  <p style="color: #595959; font-size: 14px;" id="confirm_message">
		    Message
		  </p>
		 </div>
		  <div style="width: 100%; margin-left: 70px; margin-top: 40px">
		  <button style="float: left;" class="close schedule_btn_263x45_big">Cancel</button>
		    <button style="float: left;margin-left:20px" class="close schedule_btn_263x45_big">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	
	
	
	<button style="display: none;" id="alert_overlay" rel="#alert_container"></button>
	<div class="modal_file" id="alert_container">
		<div class="file_delete_header" id="alert_title">
			Title
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;" id="alert_message">
		    Message
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 230px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	
	
	<!-- OVERLAY DELETE FOLDER START -->
	<button style="display: none;" id="confirm_overlay" rel="#confirm_container"></button>
	<div class="modal_file" id="confirm_container">
		<div class="file_delete_header" id="confirm_title">
			Title
		</div>
		<div style="text-align: center; margin-top: 30px; height:auto;">
		  <p style="color: #595959; font-size: 14px;" id="confirm_message">
		    Message
		  </p>
		 </div>
		  <div style="width: 100%; margin-left: 70px; margin-top: 40px">
		  <button style="float: left;" class="close schedule_btn_263x45_big">Cancel</button>
		    <button style="float: left;margin-left:20px" class="close schedule_btn_263x45_big">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	<!-- OVERLAY DELETE FOLDER END -->
	
	<!-- OVERLAY FODER MOVE FILE HERE -->
	<div class="modal_file" id="move_file_container">
		<div id="move_file_title"  class="file_delete_header">
			Move File
		</div>
		<div class="files_smallclear"></div>
		 {% include "files/files_jstree_holder.html" %}
		 <!-- <h1 style="color: #909090;font: 13px Arial,Helvetica,sans-serif;padding: 5px 11px;width: 400px;background:white;border:#e3e3e3 solid 1px;margin-left:150px;">Folders</h1> -->
			<div class="files_folder_root_move">
			<div class="files_folders_container_menu">
	 	 <div class="files_folders_container">
			<div id="jstree_holder_move" style="height:auto;width:100%;"></div>
		
		</div>
			<div id="mmenu_move" style="height:30px; overflow:auto;margin-top:5px;">
			<input value="Folder" type="button" id="add_folder" style="float:left;" class="folder_create_button">
			<input value="Rename" type="button" id="rename"  style="float:left;margin-left:5px;" class="folder_rename_button">
			<input type="button" id="remove"  style="float:left;margin-left:5px;" class="folder_delete_button">
			</div>
		</div>
		
			</div>
		  <!-- yes/no buttons -->
		  <div style="width: 550px; margin-left: 90px; margin-top: 30px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big" id="btn_cancel">Cancel</button>
		    <button style="float: right;" class="close schedule_btn_263x45_big" id="btn_move">Move</button>
		  </div>
		  <div style="height: 10px; clear: both;"></div>
	</div>
	
	<!-- END OVERLAY FODER MOVE FILE HERE -->
	
  	<!--CONTENT CONTAINER STARTS-->
  	
	<div id="content_container">
		<!-- OVERLAY HERE -->
		<div class="modal_file" id="delete_file_container">
			<div class="file_delete_header">
				Delete File
			</div>
			  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 18px;">
			    Are you sure want to move "{{ file.title }}" to trash?
			  </p>
			 
			  <!-- yes/no buttons -->
			  <div style="width: 600px; margin-left: 80px; margin-top: 40px; margin-bottom: 30px;">
			    <button style="float: left;" class="close schedule_btn_263x45_big" id="btn_cancel">Cancel</button>
			  
			    <button style="float: left;margin-left:10px" class="close schedule_btn_263x45_big" id="btn_delete">Delete</button>
			  </div>
			  <div style="height: 30px; clear: both;"></div>
		</div>
		<ul id="contact_messages" style="margin-bottom: 0px;clear:both;height:auto;position: inherit;display: none;">
	    <li><button class="btn_messages_close" onclick="show_then_hide();" style="float:right;margin-right: 5px;"></button></li>
	    {% for message in messages %}
	    <li style="padding-bottom: 12px;">{{ message }}</li>
	    {% endfor %}
  	</ul>
		<div id="file_detail_top" style="width:100%;clear:both;">
			<table border="0">
				<tr>
					<td><a href="{% url my_files %}"><button type="submit" class="btn_all_files">ALL FILES</button></a></td>
					<td style="padding-left: 10px;"><span style="color: #750998; font-size: 28px; font-weight: normal; font-family: Futura, Arial, Helvetica,sans-serif;">{{ file.title }}</span><span style="margin-left:20px;"><img id="img_flag" class="{% if file.is_flag %}flag{% else %}un_flag{% endif %}" style="width:25px;" src="{{MEDIA_URL}}files/images/{% if file.is_flag %}active_flag.png{%else%}inactive_flag.png{%endif%}" /></span></td>
				</tr>
			</table>
			<div class="file_smallclear"></div>
			<div class="file_smallclear"></div>
			<div id="file_title">
				<!-- <div style="float: left; vertical-align: middle;">
					<button id="btn_show_add_info" class="btn_file_download">Info</button>
					<a onclick="downloadURL('{{ file.get_download_url }}');" style="cursor: pointer;"><button class="btn_file_download">Download</button></a>
					{%if file.is_system%}
						{%if user.is_superuser%}
					<a href="{% url file_edit file.urlhash %}?next={{ request.get_full_path }}"><button class="btn_file_common">Edit</button></a>
					<button id="btn_del_file" class="btn_file_download" id="{{file.id}}" rel="#delete_file_container">Delete</button>
						{%endif%}
					{%else%}
						{% if is_host %}
							<a href="{% url file_edit file.urlhash %}?next={{ request.get_full_path }}"><button class="btn_file_common">Edit</button></a>
							<button id="btn_del_file" class="btn_file_download" id="{{file.id}}" rel="#delete_file_container">Delete</button>
						{%endif%}
					{% endif %}
				</div> -->
				
				<div style="float: left; vertical-align: middle;width:275px;">
					<!-- <button id="btn_show_add_info" class="btn_file_download">Info</button> -->
					<a  style="float:left;margin-right:3px;" onclick="downloadURL('{{ file.get_download_url }}');" style="cursor: pointer;"><button class="btn_file_download">Download</button></a>
					{% if not is_host %}
					<a  style="float:left;margin-right:3px;" onclick="javascript:window.location='{%reverse_link_from_hash "copy_to_myfile" file%}'" style="cursor: pointer;"><button class="btn_file_copyto">Copy to My File</button></a>
					{% endif %}
					{%if file.is_system%}
						{%if user.is_superuser%}
					<a  style="float:left;margin-right:3px;" href="{% url file_edit file.urlhash %}?next={{ request.get_full_path }}"><button class="btn_file_common">Edit</button></a>
					<!-- <button id="btn_del_file" class="btn_file_download" id="{{file.id}}" rel="#delete_file_container">Delete</button> -->
					<div class="div_more_action" style="float:left;margin-right:3px;">
								<button class="btn_file_common" id="btn_more">More</button>
								<div class="div_more_action_sub">
									<a id="move_file" rel="#move_file_container">Move</a>
									<a id="btn_del_file" rel="#delete_file_container">Delete</a>
								</div>
							</div>
						{%endif%}
					{%else%}
						{% if is_host %}
							<a style="float:left;margin-right:3px;" href="{% url file_edit file.urlhash %}?next={{ request.get_full_path }}" style="float:left"><button class="btn_file_common">Edit</button></a>
							<div class="div_more_action" style="float:left;margin-right:3px;">
								<button class="btn_file_common" id="btn_more">More</button>
								<div class="div_more_action_sub">
									<a id="move_file" rel="#move_file_container">Move</a>
									<a id="btn_del_file" rel="#delete_file_container">Delete</a>
								</div>
							</div>
						{%endif%}
					{% endif %}
					{%ifequal file.visibility "R"%}
						{%else%}
						<div style="margin:0;float:left;cursor: pointer;;margin-right:3px;">
						
						
						<span class='st_email'><a style="position:absolute;color:white;z-index:1000;padding-left:10px;padding-top:3px;">Share</a></span>
						</div>
						
					{%endifequal%}
				</div>
				
				
			</div>
		</div>
		<div class="file_smallclear"></div>
		<div id="file_edit_content">
			<!-- <div id="file_edit_content_left_col" style="float: left; width: 240px; text-align: center;"> -->
			<div id="file_edit_content_left_col" style="float: left; width: 240px; text-align: center; display: none;">
				<div id="description" class="box_shaddow">
					<div class="files_list_head" style="margin: 0; text-align: left;">
						Description
					</div>
					<div style="text-align: left; padding: 10px; line-height: 20px;">
						{% ifequal file.description '' %}&lt;No Description&gt;{% else %}{{ file.description }}{% endifequal %}
					</div>
				</div>
				<div class="file_smallclear"></div>
				<div id="tags" class="box_shaddow">
					<div class="files_list_head" style="margin: 0; text-align: left;">
						Tags
					</div>
					<div style="text-align: left; padding: 10px; line-height: 20px;">
						{% ifequal file.tags_string '' %}&lt;No Tags&gt;{% else %}{{ file.tags_string }}{% endifequal %}
					</div>
				</div>
				<div class="file_smallclear"></div>
				<table class="file_info" style="font-size: 13px; text-align: left; width: 100%; border: 1px solid #EEEEEE;">
					<tr class="grey_background" style="padding: 10px;">
						<td>
						File Size:<br/>
						{{ file.file_size|filesizeformat }}
						</td>
					</tr>
					<tr style="padding: 10px;">
						<td>
						Created On:<br/>
						{{ file.timestamp|date:"n/j/Y g:i A" }}
						</td>
					</tr>
					<tr class="grey_background" style="padding: 10px;">
						<td>
						Last Modified:<br/>
						{{ file.last_modified|date:"n/j/Y g:i A" }}
						</td>
					</tr>
				</table>
			</div>
			
			{% block view_file_container %}
			
			{% endblock %}
			<div style="clear: right;"></div>
			<div id="view_count" style="float: right; font-size: 13px; margin-top: 10px;">
				Viewed {{ file.views_total|default_if_none:"0" }} times. &nbsp;<img border="0" height="10" width="19" alt="" src="{{ MEDIA_URL }}files/images/icon_views.png">
			</div>
		</div>
		<form id="submit_form" method="POST" action="{% url delete_files %}">
			<input type="hidden" name="chk_files"/>
			<input type="hidden" name="next" value="{% url my_files %}"/>
		</form>
  	</div>
  	<!--CONTENT CONTAINER ENDS--> 
   
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">

function move_files_to_folder(){
	var folder_move_id = null;
	var selected_node = $('#jstree_holder_move').find('.jstree-clicked').html();
	if(selected_node != null) {
		var s_node = $('#jstree_holder_move').find('.jstree-clicked');
		if(s_node.length > 1){
			alert('You only select one folder to upload file!!!');
			return false;
		}else{
			folder_move_id = s_node.parent().attr('id');
		}
	}else{
		alert('Please select a folder to move files(s)');
		return false;
	}
	/* window.location = '{% url move_conference_to_folder %}?event_id='+{{event.id}}+'&folder_id='+folder_move_id+'&current_folder_id=' + "{{ current_folder.id }}"; */
	$.ajax({
		url:'/files/move_file_to_folder?file='+{{file.id}}+'&folder_id='+folder_move_id,
		type:'GET',
		dataType:'html',
		success:function(result){
		}
	 
	 });
	return false;
}

var root_id = "{{ root_folder.id }}";
var current_folder = "{{ root_folder.id }}"

var downloadURL = function(url)
	{
	    var iframe;
	    iframe = document.getElementById("hiddenDownloader");
	    if (iframe === null)
	    {
	        iframe = document.createElement('iframe');  
	        iframe.id = "hiddenDownloader";
	        iframe.style.display = 'none';
	        document.body.appendChild(iframe);
	    }
	    iframe.src = url;   
	    return false;
	}
show_then_hide = function(){
	$('#contact_messages').fadeOut();
};
	$(document).ready(function() {
		
		
		{% if messages %}
		$('#contact_messages').fadeIn();
		setTimeout(function(){ 
			$('#contact_messages').fadeOut();
			}, 3000);		
		{% endif %}
		
		var buttons_confirm = $("#confirm_container button").click(function(e) {
			var yes = buttons_confirm.index(this);
		 	if(yes == 1) {
		 		$("#jstree_holder_move").jstree('remove');
		 	}
		});
		
		$("#confirm_overlay").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#000',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		      top:(screen.availHeight/2)-200,
		      closeOnClick: false
		  });
		
		$("#alert_overlay").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#000',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		      top:(screen.availHeight/2)-200,
		      closeOnClick: false
		  });
		
		$('#btn_more').click(function(){
			$(this).parent().find('.div_more_action_sub').show();
		});
		$('.div_more_action').mouseleave(function(){
			$(this).find('.div_more_action_sub').hide();
		});

		
		
		/* var triggers = $("#btn_del_file").overlay({
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#ebecff',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 
	      closeOnClick: false
	  }); */
	  var triggers = $("#btn_del_file").overlay({
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#ebecff',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 	
	      closeOnClick: false
	  });
		
		var buttons = $("#delete_file_container button").click(function(e) {
		    // get user input
			var yes = buttons.index(this);
			// if click delete then delete file
		 	if(yes == 1) {
		 		$("#submit_form input[name='chk_files']").val({{file.id}});
		 		$("#submit_form").submit();
		 	}
		});
		
		$("#move_file").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#000',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		      onBeforeLoad:function(){
		    	  initialize_tree('jstree_holder_move','mmenu_move','/files/getMoveTree');
		      },
		      top:(screen.availHeight/2)-300,
		      closeOnClick: false
		  });
		
		var buttons_move = $("#move_file_container button").click(function(e) {
		    // get user input
			var yes = buttons_move.index(this);
			// if click delete then delete file
		 	if(yes == 1) {
		 		move_files_to_folder();
		 	}
		});
		
		// FLAG CLICK EVENT
		if('{{ is_host }}' == 'True') {
			$('#img_flag').click(function(){
				var that = $(this);
				var flag = 0;
				var id = {{ file.id }}; 
				if($(this).hasClass('un_flag'))
					flag = 1;
				$.ajax({
					  url: "/files/changeFlags?file_id="+id+"&flag="+flag,
					  type: 'GET',
					  dataType: 'html',
					  success: function(html){
						  if(html == 'success'){
								if(flag==0){
									that.removeClass('flag').addClass('un_flag');
									that.attr('src','{{MEDIA_URL}}files/images/inactive_flag.png');
								}else{
									that.attr('src','{{MEDIA_URL}}files/images/active_flag.png');
									that.removeClass('un_flag').addClass('flag');
								}						  
						  }else{
							 
						  }
					  }
				});
			});
		}else {
			$('#img_flag').css({'cursor': 'default'});
		}
	});
</script>
{% endblock %}
