{% extends "files/files_detail.html" %}
{% block head_title %}{{ file.title }}{% endblock %}
{% block view_file_container %}
<link rel="stylesheet" href="{{MEDIA_URL}}files/css/jquery.gzoom.css" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}files/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}files/js/jquery.gzoom.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}files/js/jquery.fullscreen.js"></script>
<link rel="image_src" href="http://{{ CLOUDFRONT_DOWNLOAD }}/thumb/{{file.uuid}}.jpg"/>
<meta name="description" content="{% if file.description %}{{ file.description }}{% else %}<No Description>{% endif %}" />
<script type="text/javascript">
	var width_before_full_screen;
	var toggle_add_info = false;
	var html = '';
	var client_screen_width = 0;
	var client_screen_height = 0;
	var temp_img_width = 0;
	var temp_img_height = 0;
	var imgHeight = 0;
	var imgWidth = 0;
	var fix_height = 0;
	var fix_width = 0;
	var imgPath = 'http://{{ CLOUDFRONT_DOWNLOAD }}/files/{% if file.child_uuid %}{{file.child_uuid}}{% else %}{{file.uuid}}{% endif %}.{{file.source_type}}';
	var myImage = new Image();
	myImage.name = imgPath;
	myImage.onload = function(){
		imgHeight = myImage.height;
		imgWidth = myImage.width;
		 var fix_W = 945;
		if(imgWidth < fix_W)
			fix_W = imgWidth;
		var fix_H = (fix_W*imgHeight)/imgWidth;
		fix_height = fix_H;
		fix_width = fix_W;
		$(function() {
			$("#view_file_image_container").gzoom({
	      	sW: fix_W,
	      	sH: fix_H,
	      	lW: fix_W*3,
	      	lH: fix_H*3,
	      	lighbox : false,
			}).css({'text-align':'center','vertical-align':'middle'});
			$('#loading_image').hide();
			
			$('#view_image_id').attr('src', imgPath);
			$('#view_image_id').show();
	  	});
	};
	myImage.src = imgPath;
	
  $(document).ready(function(){
	  if(!$.support.fullscreen){
		  $('#btn_full_screen').hide();
	  }
	  width_before_full_screen = $('#file_view_content_image_right_col').width();
	  $('#centered_image').click(function(){
			var top = -(parseInt($('#view_image_id').height()) - parseInt($('#view_file_image_container').height()))/2;
			var left = -(parseInt($('#view_image_id').width()) - parseInt($('#view_file_image_container').width()))/2;
			$('#view_image_id').css({'top':top,'left':left});
		});
		
			
		image = $('#view_image_id');
		
		$('#view_file_document_container').click(function(){
			$('#option_list_view_scale').hide();
		});
		
		$('#view_scale').click(function(){
			var pos = $(this).position();
			$('#option_list_view_scale').css({'left':pos.left, 'top':pos.top + 28}).slideToggle('fast');
		});
		$('#btn_drop_down_list').click(function(){
			$('#view_scale').click();
		});
		
		$('#btn_full_screen').click(function(e){
			client_screen_width = screen.width;
			client_screen_height = screen.height - 40;
			temp_img_height = imgHeight;
			temp_img_width = imgWidth;
			
			e.preventDefault();
			$('#file_view_content_image_right_col').fullScreen();
		});
		
		$('#sel_default_cursor').click(function(){
			$('.zoom').css({'cursor': 'default'});
		});
		$('#mouse_hand').click(function(){
			$('.zoom').css({'cursor': 'move'});
		});
		$('#mouse_pointer').click(function(){
			$('.zoom').css({'cursor': 'default'});
		});
		$("#view_image_id").draggable();
		
		$('#btn_show_add_info').click(function(){
			html = $("#view_file_image_container").clone();
			toggle_add_info = !toggle_add_info;
			$('#view_scale').val('Auto Fit');
			// scale image following the max width of file_view_content_image_right_col
			if(toggle_add_info) {
				//$('#btn_show_add_info').html('Hide Info');
				$('#btn_show_add_info').removeClass('info').addClass('info_pressed');
				$('.gzoomwrap').remove();
				$('#file_view_content_image_right_col').append(html);
				var fix_W = 687;
				if(imgWidth < fix_W)
					fix_W = imgWidth;
				var fix_H = (fix_W*imgHeight)/imgWidth;
				fix_height = fix_H;
				fix_width = fix_W;
				
				$("#view_file_image_container").gzoom({
		      	sW: fix_W,
		      	sH: fix_H,
		      	lW: fix_W*3,
		      	lH: fix_H*3,
		      	lighbox : false,
				}).css({'text-align':'center','vertical-align':'middle'});
				$("#view_image_id").draggable();
				$('#file_view_action').removeClass('width_945');
			}else {
				//$('#btn_show_add_info').html('Info');
				$('#btn_show_add_info').removeClass('info_pressed').addClass('info');
				$('#file_view_action').addClass('width_945');
				$('.gzoomwrap').remove();
				
				$('#file_view_content_image_right_col').append(html);
				var fix_W = 945;
				if(imgWidth < fix_W)
					fix_W = imgWidth;
				var fix_H = (fix_W*imgHeight)/imgWidth;
				fix_height = fix_H;
				fix_width = fix_W;
				
				$("#view_file_image_container").gzoom({
		      	sW: fix_W,
		      	sH: fix_H,
		      	lW: fix_W*3,
		      	lH: fix_H*3,
		      	lighbox : false,
				}).css({'text-align':'center','vertical-align':'middle'});
				$("#view_image_id").draggable();
			}

			
			 if(!$('#file_view_content_image_right_col').hasClass('file_view_content_image_right_col_min')) {
				$('#file_view_content_image_right_col').addClass('file_view_content_image_right_col_min');
				$('#file_view_content_image_right_col').removeClass('file_view_content_image_right_col_normal');
				$('#file_view_action').addClass('file_action_min');
				$('#view_file_image_container').addClass('file_view_content_image_right_col_min');
			}
			else {
				$('#file_view_content_image_right_col').removeClass('file_view_content_image_right_col_min');
				$('#file_view_content_image_right_col').addClass('file_view_content_image_right_col_normal');
				$('#file_view_action').removeClass('file_action_min');
				$('#view_file_image_container').removeClass('file_view_content_image_right_col_min');
			} 
			$('#file_edit_content_left_col').toggle();
			width_before_full_screen = $('#file_view_content_image_right_col').width();
		});
		
  });
  	
</script>

	<div id="file_view_content_image_right_col" class="file_view_content_image_right_col_normal box_shaddow" >
		<div id="file_view_action" class="width_945">
			<div class="float_left" style="padding-left: 20px;"><button id="btn_show_add_info" class="info" title="Info"></button></div>
			<div class="float_right" style="padding-right: 20px;"><button id="btn_full_screen" title="Full Screen"></button></div>
			<div class="float_right" style="padding-right: 20px;"><button id="centered_image" title="Centered Image"></button></div>
			<div class="float_right" style="padding-right: 20px;"><button id="shape_vertical" disabled="disabled"></button></div>
			<div class="float_right" style="padding-right: 20px;">
				<input type="text" id="view_scale" class="current_zoom" value="Auto Fit" readonly="readonly"/>
				<button id="btn_drop_down_list"></button>&nbsp;
				<div id="option_list_view_scale">
					<div id="auto_fit">Auto Fit</div>
					<div id="100">150%</div>
					<div id="75">125%</div>
					<div id="50">100%</div>
					<div id="25">75%</div>
					<div id="5">50%</div>
				</div>
			</div>
			<div class="float_right" style="padding-right: 20px;"><button id="zoom_out" title="Zoom out"></button></div>
			<div class="float_right" style="padding-right: 20px;"><button id="zoom_in" title="Zoom in"></button></div>
		</div>
		<div id="loading_image" style="width: 100%; height: 100%; background-color: white;"><img style="display: block; margin: 0 auto 0 auto; border: none;" src="{{ MEDIA_URL }}/files/images/loading.gif"/></div>
		<div id="view_file_image_container" class="zoom">
			<img id="view_image_id" src="" style="display: none;"/>
		</div>
	</div>
{% endblock %}
