{% extends "newer_base.html" %}
{% load i18n %}
{% block head_title %}
{% load timezone_filters %}
{% load conference_tags %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<script src="{{ MEDIA_URL }}files/js/jquery.ui.widget.js" type="text/javascript"></script>
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}schedule/js/jquery.blockUI.js" type="text/javascript"></script>
<link href="{{ MEDIA_URL }}files/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}files/js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.tmpl.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.xdr-transport.js" type="text/javascript"></script>
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />

<script src="{{ MEDIA_URL }}files/js/jquery.fileupload.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.fileupload-ui.js" type="text/javascript"></script>

<link href="{{ MEDIA_URL }}vmail/themes/netconference/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
var uuid = "";
var path_file = "";


// Check if password and repeat password matched
function is_pwd_match(pwd, re_pwd) {
	if(pwd == re_pwd) return true;
	return false;
}
//Check if radio password checked
function is_rad_pwd_checked() {
	var name = $("input[name='rdio']:checked").val();
	if(name == 'password')
		return true;
	return false;
}
$(document).ready(function(){
	
	$('#txt_pwd').blur(function(){
		if($('#txt_pwd').val() == '') {
			$('#txt_pwd').val('********');
			$('#txt_re_pwd').val('********');
		}
	});
	$('#txt_pwd').focus(function(){
		if($('#txt_pwd').val() == '********') {
			$('#txt_pwd').val('');
			$('#txt_re_pwd').val('');
		}
	});
	// check if which privace is checked
	var privacy = '{{ file.visibility }}';
	if(privacy == 'R')
		// private cheked
		$("#rad_private").attr("checked", "checked");
	else if(privacy == 'O') {
		// password checked
		$("#rad_password").attr("checked", "checked");
		$('#pwd_area').show();
		$('#re-type-pwd-col').show();
		$('#txt_pwd').val('********');
		$('#txt_re_pwd').val('********');
	}
	else //public checked
		$("#rad_public").attr("checked", "checked");
	
	$('input[name="rdio"]').change(function(){
		$('#error_message').hide();
		if(is_rad_pwd_checked()) {
			$('#pwd_area').show();
			$('#re-type-pwd-col').show();
		}
		else {
			
			$('#pwd_area').hide();
			$('#re-type-pwd-col').hide();
		}
	});
	$('#btn_save_file').click(function(){
		var description = $('#description').val();
		var privacy = $("input[name='rdio']:checked").val();
		
		var pwd = $('#txt_pwd').val();
		var re_pwd = $('#txt_re_pwd').val();
		
		if( is_rad_pwd_checked() && !is_pwd_match(pwd, re_pwd)) {
			$('#error_message').show();
			$('#error_message').focus();
			return false;
		}
		if(privacy == 'password')
			var pwd = $('#txt_pwd').val();
		var tags = $('#tags').val();
		var file_title = $('#txt_file_title').val();
		$("#form_submit input[name=desc]").val(description);
		$("#form_submit input[name=privacy]").val(privacy);
		$("#form_submit input[name=pwd]").val(pwd);
		$("#form_submit input[name=tags_string]").val(tags);
		$("#form_submit input[name=file_title]").val(file_title);
		$('#form_submit').submit();
	});
});


</script>
{% endblock %}

{% block content %}

  	<!--CONTENT CONTAINER STARTS-->
	<div id="content_container"> 
		<div id="form_fake_submit" style="display:none;">
			<form id="form_submit" action="" method="post">
				<input name="desc" id="desc"/>
				<input name="privacy" id="privacy"/>
				<input name="pwd" id="pwd"/>
				<input name="tags_string" id="tags_string"/>
				<input name="file_title" id="file_title" />
			</form>
		</div>
		<div id="upload_file">
			<p><h1 style="font-size: 28px; font-weight: normal;" class="purple_text"><img alt="Edit Info" src="{{ MEDIA_URL }}files/images/edit_info.png" /> </h1></p>
			<div style="height: 40px;"></div>
			<input id="txt_file_upload" type="text" class="text_filed_bg file_text" readonly="readonly" value="{{ file.filename }}"/>
		</div>
		<div id="option_file_info">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridtable">
            	<th colspan="2" style="font-size: 13px;">Optional File Information</th>
                <tr>
                    <td align="left" valign="top" class="pad20">
                    	<label for="title">Title:</label><input style="margin-left: 4px;" type="text" name="txt_file_title" id="txt_file_title" class="text_filed_bg file_text" value="{{ file.title }}"/>
                    	<label for="description">Description : </label><textarea cols="40" rows="6" name="description" id="description" class="text_filed_bg file_text">{{ file.description }}</textarea>
                    </td>
                    <td align="left" valign="top" class="pad20" ><label for="tags">Tags : </label><textarea cols="40" rows="3" name="tags" id="tags" class="text_filed_bg file_text">{{ file.tags_string }}</textarea><br/><br/>
                    <label for="privacy">Privacy : </label>
                    <table border="0" style="color: #595959; font-weight: bold;">
                    	<tr>
                    		<td><input type="radio" value="private" checked="checked" name="rdio" id="rad_private"/></td><td>Private</td>
                    	</tr>
                    	<tr>
                    		<td><input type="radio" value="password" id="rad_password" name="rdio"/></td><td>Password</td><td><div id="pwd_area" style="display: none"><input id="txt_pwd" type="password" class="txt_password file_text"/></div> </td>
                    	</tr>
                    	<tr style="display: none;" id="re-type-pwd-col">
                    		<td></td><td style="font-weight: normal;">Re-type</td><td><input id="txt_re_pwd" type="password" class="txt_password file_text"/> </td>
                    	</tr>
                    	<tr>
                    		<td><input type="radio" value="public" id="rad_public" name="rdio"/></td><td>Public</td>
                    	</tr>
	                    
                    </table>
                </tr>
            </table>
            <div style="margin-top: 10px; float: right;">
               <a href="{{next}}"><button class="button_medium_Green">Cancel</button></a>  &nbsp;&nbsp;  <button id="btn_save_file" class="button_medium_Green">Save</button>
            </div>
            <div style="clear: both;"></div>
            <div id="error_message" style="float: right; color: red; margin-top: 10px; margin-right: 2px;font-size: 13px; display: none;">
            	Error: Passwords do not match.
            </div>
            <div style="padding-bottom: 180px;"></div>
		</div>
  	</div>
  	<!--CONTENT CONTAINER ENDS--> 
   
{% endblock %}
