{% extends "files/files_detail.html" %}
{% block view_file_container %}

<meta name="description" content="{% if file.description %}{{ file.description }}{% else %}<No Description>{% endif %}" />
<meta name="video_type" content="application/x-shockwave-flash" />
	<div id="file_view_content_mp3_right_col">
		<div id="view_file_mp3_container">
			
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#file_edit_content_left_col').show();
			$('#btn_show_add_info').hide();
			var width = 500;
			var height = 335;
			var table_width = $('#file_view_content_mp3_right_col').width();
			var delta = (table_width - width)/2;
			var real_width = $('#file_title').width() - delta;
			$('#file_title').width(real_width);
			$('#view_count').css({'margin-right': delta});
			jwplayer('view_file_mp3_container').setup({
		    'file':'mp3/{% if file.child_uuid %}{{file.child_uuid}}{% else %}{{ file.uuid }}{% endif %}.mp3',
		    'abouttext':'Netconference',
		    'aboutlink':'{{ bucket }}',
		    modes: [{
	            type: "flash",
	            src: "{{ MEDIA_URL }}swf/longtail_player.swf"
	        },{
	            type: "html5",
	            config: {
	                file: "http://{{ CLOUDFRONT_DOWNLOAD }}/mp3/{% if file.child_uuid %}{{file.child_uuid}}{% else %}{{ file.uuid }}{% endif %}.mp3",
	                provider: "video"
	            }
	        }],
	        'provider':'rtmp',
		    'streamer': 'rtmp://{{ CLOUDFRONT_STREAM }}',
		    'controlbar': 'bottom',
		    'width': width,
		    'height': 335
		  });
		});
	</script>			
{% endblock %}