{% load i18n %}
{% load conference_tags %}
<div class="top_block_search">	
		<!-- 	<div class="contact_searchbg" style="float: right;">
                           <form action="." method="get">
                               <div style="margin-top: 5px; float: left;"><input type="text" name="q" id="textfield" class="contact_search_textbox" value="{% if query_string %}{{ query_string  }}{% else %}{% trans 'Search' %}{% endif %}"  maxlength="250"
                                               onfocus="{% if not query_string %}if(this.value == 'Search') {this.value = '';}{% endif %}" onblur="{% if not query_string %}if (this.value == '') {this.value = 'Search';}{% endif %}"/></div>
                                               <div style="float: right; margin-top: 9px;"><input type="button" class="contact_search_close"/></div>
                               <div style="float: right; margin-top: 9px;"><input type="submit" id="button" value="" class="contact_search_btn"/></div>
                               
                           </form>
                       </div> -->
		        <div class="searchbg_file">
		            <form action="." method="get">
		            <div style="float:left;width:185px;">
		                <input type="text" name="q" id="textfield" class="files_search_textbox" value="{% if query_string %}{{ query_string  }}{% else %}{% trans 'Search' %}{% endif %}"  maxlength="250"
						onfocus="{% if not query_string %}if(this.value == 'Search') {this.value = '';}{% endif %}" onblur="{% if not query_string %}if (this.value == '') {this.value = 'Search';}{% endif %}"/>
		                </div>
		                <div style="float:left;">
		                <input type="submit" id="button" value="" class="schedule_search_btn" />
		                </div>
		                <div style="float:left;">
		                <input type="button" class="schedule_search_close"  />
		                </div>
		            </form>
		        </div>
		        <div style="padding-top:15px;margin-right:10px;width:120px;float:right">
		       		<a class="type_search_text" id="basic_search" style="{%if not is_filtered%}display: none;{%endif%}">Basic search</a>
		       		<a class="type_search_text"  id="advance_search" style="{%if is_filtered%}display:none{%endif%}">Advanced search</a>
		        </div>
	        </div>
	        
<div class="middle_block_search" style="{%if not is_filtered%}display:none{%endif%}">
<form id="form_filter" action="." method="get" enctype="multipart/form-data">

<div class="file_type_filter">

 <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
<tr><td><h1 class="new_file_block_title">{{ filter_title|default:_("Filters") }}</h1></td></tr> 
 <tr style="background:#fff">
 <td>
 <p class="select_choice">Select:&nbsp;&nbsp; <span onclick="select_all();" style="cursor: pointer;">All</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span style="cursor: pointer;" onclick="select_none();">None</span></p>
 </td>
 </tr>
 
 <tr>
    <td style="padding-top:10px;padding-bottom:10px;">
       <!--  <p><input type="checkbox" name="type" id="checkbox1" value="all" {% ifequal type "all" %}checked="checked"{% endifequal %} />
        <label  class="schedule_type_{% ifequal type "all" %}checked{% else %}uncheck{% endifequal %}" for="checkbox1">{% trans "All File Types" %}</label><br/></p>
         -->
        <p><input type="checkbox" name="type" id="checkbox2" value="document" {% ifequal type  "all" %}checked="checked"{%else%}{% ifextra "document"  in type  %}checked="checked"{% endifextra %}{%endifequal%}/>
        <label class="schedule_type_{% ifequal type  "all" %}checked{%else%}{% ifextra "document" in type %}checked{% else %}uncheck{% endifextra %}{%endifequal%}" for="checkbox2">{% trans "Documents" %}</label></p>
        
        <p><input type="checkbox" name="type" id="checkbox3" value="image" {% ifequal type  "all" %}checked="checked"{%else%}{% ifextra "image"  in type  %}checked="checked"{% endifextra %}{%endifequal%}/>
        <label class="schedule_type_{% ifequal type  "all" %}checked{%else%}{% ifextra "image"  in type %}checked{% else %}uncheck{% endifextra %}{%endifequal%}" for="checkbox3">{% trans "Images" %}</label></p>
        
        <p><input type="checkbox" name="type" id="checkbox4" value="presentation" {% ifequal type  "all" %}checked="checked"{%else%}{% ifextra "presentation"  in type %}checked="checked"{% endifextra %}{%endifequal%} />
        <label  class="schedule_type_{% ifequal type  "all" %}checked{%else%}{% ifextra "presentation"  in type %}checked{% else %}uncheck{% endifextra %}{%endifequal%}" for="checkbox4">{% trans "Presentation" %}</label><br/></p>
        
        <p><input type="checkbox" name="type" id="checkbox5" value="video" {% ifequal type  "all" %}checked="checked"{%else%}{% ifextra "video"  in type  %}checked="checked"{% endifextra %}{%endifequal%}/>
        <label class="schedule_type_{% ifequal type  "all" %}checked{%else%}{% ifextra "video" in type %}checked{% else %}uncheck{% endifextra %}{%endifequal%}" for="checkbox5">{% trans "Videos" %}</label></p>
        
        <p><input type="checkbox" name="type" id="checkbox6" value="flagged" {% ifequal type  "all" %}checked="checked"{%else%}{% ifextra "flagged"  in type  %}checked="checked"{% endifextra %}{%endifequal%}/>
        <label class="schedule_type_{% ifequal type  "all" %}checked{%else%}{% ifextra "flagged" in type %}checked{% else %}uncheck{% endifextra %}{%endifequal%}" for="checkbox6">{% trans "Flagged" %}</label></p>
        
        <p><input type="checkbox" name="type" id="checkbox7" value="unflagged" {% ifequal type  "all" %}checked="checked"{%else%}{% ifextra "unflagged"  in type  %}checked="checked"{% endifextra %}{%endifequal%}/>
        <label class="schedule_type_{% ifequal type  "all" %}checked{%else%}{% ifextra "unflagged" in type %}checked{% else %}uncheck{% endifextra %}{%endifequal%}" for="checkbox7">{% trans "Unflagged" %}</label></p>
    </td>
</tr>
 </table>
 </div>
 
 
 <div class="file_type_filter" style="margin-left:12px;">
 <h1 class="new_file_block_title">Date Created</h1>
 <table id="time_filter"  border="0" cellspacing="0" cellpadding="0" style="width:100%;">
	 <tr>
	    <td style="padding-top:10px; padding-bottom: 0;">
	        <p><input type="radio" name="time" id="radio1" value="all" {% ifequal time "all" %}checked="checked"{% endifequal %} />
	        <label  class="schedule_time_{% ifequal time "all" %}checked{% else %}uncheck{% endifequal %}" for="radio1">{% trans "Any Time" %}</label><br/></p>
	        
	        <p><input type="radio" name="time" id="radio2" value="last_24h" {% ifequal time "last_24h" %}checked="checked"{% endifequal %}/>
	        <label class="schedule_time_{% ifequal time "last_24h" %}checked{% else %}uncheck{% endifequal %}" for="radio2">{% trans "Past 24 Hours" %}</label></p>
	        
	        <p><input type="radio" name="time" id="radio3" value="last_week" {% ifequal time "last_week" %}checked="checked"{% endifequal %}/>
	        <label class="schedule_time_{% ifequal time "last_week" %}checked{% else %}uncheck{% endifequal %}" for="radio3">{% trans "Past Week" %}</label></p>
	        
	        <p><input type="radio" name="time" id="radio4" value="last_month" {% ifequal time "last_month" %}checked="checked"{% endifequal %} />
	        <label  class="schedule_time_{% ifequal time "last_month" %}checked{% else %}uncheck{% endifequal %}" for="radio4">{% trans "Past Month" %}</label><br/></p>
	        
	        <p><input type="radio" name="time" id="radio5" value="last_2month" {% ifequal time "last_2month" %}checked="checked"{% endifequal %}/>
	        <label class="schedule_time_{% ifequal time "last_2month" %}checked{% else %}uncheck{% endifequal %}" for="radio5">{% trans "Past 2 Months" %}</label></p>
			
			<p><input type="radio" name="time" id="radio6" value="last_year" {% ifequal time "last_year" %}checked="checked"{% endifequal %}/>
	        <label class="schedule_time_{% ifequal time "last_year" %}checked{% else %}uncheck{% endifequal %}" for="radio6">{% trans "Past Year" %}</label></p>        
			
			
			<p style=" padding-bottom: 5px; margin: 0; padding-left:0;"><span style="margin-left: 10px;"></span><input type="radio" name="time" id="radio7" value="custom" {% ifequal time "custom" %}checked="checked"{% endifequal %}/>
	        <label class="schedule_time_{% ifequal time "custom" %}checked{% else %}uncheck{% endifequal %}" for="radio7">{% trans "Custom Range" %}</label>&nbsp;&nbsp;&nbsp;&nbsp;<span id="edit_custom_range_span" style="font:14px Arial;text-decoration: underline;color:#9abd6b;cursor: pointer;display:none;">edit</span></p>
	
	    
	    </td>
	</tr>
 </table>

 </div>
 	<input name="per_page" id="per_page"  type="hidden" value="{{ per_page }}"/>
 	
 	{% ifequal current_folder.id root_folder.id %}
 	
 	{% else %}
 	<input name="folder"  type="hidden" value="{{ current_folder.id }}"/>
 	{% endifequal %}
 	
  	<input type="hidden" name="filter" value="{% trans "Filter" %}"  />
 
 </form>
 
 
 <button style="display: none;" id="custom_range_btn" rel="#custom_range_container"></button>
	<div class="modal_file" id="custom_range_container" style="width:500px;">
		<div class="file_delete_header">
			Custom Range
		</div>
		<div style="width:100%;height:30px;text-align: center;">
		<p style="font: 14px Arial;color:#595959">Search for files between the specified dates</p>
		</div>
		<div style="text-align: center;height:auto;">
		  	<div id="fake_form_value" class="file_time_custom">
		  	
				 <table>
				 <tr>
				 <td><p>Start:&nbsp;&nbsp;</p></td>
				 <td><input style="color: #666666; width: 90px; height: 15px; padding-left: 10px;" name="from_time" id="from_time" type="text" value="{{ from_time|date:"m/j/Y" }}" /></td>
				 <td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End:&nbsp;&nbsp;</p></td>
				 <td><input style="color: #666666; width: 90px; height: 15px; padding-left: 10px;" name="to_time" id="to_time" type="text" value="{{ to_time|date:"m/j/Y" }}" /></td>
				 </tr>
				 </table>
 
			</div>
		  
		 </div>
		  <div style="width: 100%; margin-left: 50px; margin-top: 10px">
		  <button style="float: left;" class="close files_customrange_button">Cancel</button>
		    <button style="float: left;margin-left:10px" class="close files_customrange_button">Okay</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
 
 
	
<div id="fake_form_tag" class="tags_form">
<h1 class="new_file_block_title" style="width:203px;">Tags</h1>
	 <div class="files_tags_dropdown">
	 {%if select_tag%}
	 <span>{{ select_tag }}</span>
	 <input type="hidden" value="{{ select_tag }}" name="select_tag" />	
	 {%else%}
	 <span>All Tags ({{ total_tags }})</span>
	 <input type="hidden" value="all_tags" name="select_tag" />	
	 {%endif%}
				
					<div class="dropdown-filetag-hidden">
					<a data-tag="all_tags">All Tags ({{ total_tags }})</a>
					{% for tag in tags %}
				 		<a data-tag="{{ tag.name }}">{{ tag.name }}</a>
				 	{% endfor %}
					</div>
					
					
	</div>
			<div class="tags_holder" >
			 <textarea  name="option_tag" id="option_tag">{% if option_tag %}{{option_tag}}{% else %}{% endif %}</textarea>
			</div>		
	
	 <div class="schedule_tinyclear"></div>
	
</div>
<div class="schedule_tinyclear"></div>
<div class="search_action_bar">
	 
	<input onclick="submit_filter();" type="submit" name="filter" value="{% trans "Search" %}" class="files_remove_button" />
	<input style="margin-right:10px;" onclick="reset_filter();" type="submit" name="reset" value="{% trans "Reset" %}" class="files_remove_button" />
 <div class="files_smallclear"></div>
 <div class="files_smallclear"><img src="{{ MEDIA_URL }}files/images/purple_line.png" /></div>
 </div>
 
</div>

  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}files/multiupload/jquery.tagsinput.css" />
  <style type="text/css">
  div.tagsinput {background: #FFF;border-top:#c5c5c5 solid 2px;border-left:#c5c5c5 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px; padding:5px; width:300px; height:140px; overflow-y: auto;}
  div.tagsinput input { width:80px; margin:0px;font: 12px Arial; border:1px solid #e3e3e3;background:#9b56b3 url('{{MEDIA_URL}}/files/images/plus_icon.png')  90% 6px no-repeat; padding:3px;color: white; outline:0px; margin-right:10px;height:15px; }
  
  </style>
  
  
<script type="text/javascript" src="{{ MEDIA_URL }}files/multiupload/js/jquery.tagsinput.js"></script>
 <script type="text/javascript">
 var current_width = 100;
 submit_filter = function(){
	 $('#time_filter').find('input[name="time"]').each(function(){
		 if($(this).is(':checked')&& ($(this).attr('value') == "custom")){
			$('#fake_form_value').appendTo('#form_filter');
		} 
	 });
	 
	if($('#option_tag').val() != 'New tag'||$('.files_tags_dropdown input[name="select_tag"]:first').val()!='all_tags')
	 	{
			if($('#option_tag').val()=='New tag')
				$('#option_tag').remove();
			if($('.files_tags_dropdown input[name="select_tag"]:first').val()=='all_tags')
				$('.files_tags_dropdown').remove();
			$('#fake_form_tag').appendTo('#form_filter');
	 	}
	 $('#form_filter').submit();
 };
 
 $(document).ready(function(){
	 
	 $("#custom_range_btn").overlay({
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5,
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	 
	 
	 $('#option_tag').tagsInput({
		  'height':'140px', 
		  'width':'210px',
		  'autocomplete_url':'{%url tags_autocomplete%}',
		   'interactive':true,
		   'defaultText':'New tag',
		   'removeWithBackspace' : true,
		   'placeholderColor':'#ffffff',
		   'minChars' : 0,
		   'maxChars' : 0 //if not provided there is no limit,
		   
		});
	 
	 
	 $('.files_tags_dropdown').hover(function(){
			$(this).find('.dropdown-filetag-hidden').show();
		},function(){
			$(this).find('.dropdown-filetag-hidden').hide();
		});
		
	 $('.dropdown-filetag-hidden').find('a').click(function(){
		 $('.files_tags_dropdown').find('span').html($(this).html());
		 $('.files_tags_dropdown input[name="select_tag"]:first').attr('value',$(this).attr('data-tag'))
		 $('.dropdown-filetag-hidden').hide();
	 });
	 
	 $('#btn_upgrade').click(function(){
			window.location = '/subscription';
		return false;
	 });
	 $('#icon_settings').click(function(){
			 
		 $('.files_setting_form').toggle();
	 });
	 
	 $('#test').click(function(){
		 alert($('#radio2').is(':checked')); 
	 });
	 
	 
	 $('#per_page_real1').change(function(){
		 $("#per_page_real1 option:selected").each(function () {
             $('#per_page').attr('value',$(this).text());
             submit_filter();
         });
	 });
	 $('#per_page_real2').change(function(){
		 $("#per_page_real2 option:selected").each(function () {
             $('#per_page').attr('value',$(this).text());
             submit_filter();
         });
	 });
	 $('.file_type_filter label').click(function(){
		if($(this).hasClass('schedule_type_checked')) {
			$(this).removeClass('schedule_type_checked');
			$(this).addClass('schedule_type_uncheck');
			$(this).parent().find('input:first').attr('checked',true);
		}else if($(this).hasClass('schedule_type_uncheck')) {
			$(this).removeClass('schedule_type_uncheck');
			$(this).addClass('schedule_type_checked');
			$(this).parent().find('input:first').attr('checked',false);
		}else{
			$(this).parent().parent().find('label').removeClass('schedule_time_checked').addClass('schedule_time_uncheck');
			$(this).removeClass().addClass('schedule_time_checked');
			$(this).parent().find('input:first').attr('checked',true);
			$('#edit_custom_range_span').hide();
		}
		if($(this).parent().find('input:first').attr('id') == 'radio7'){
			$('#custom_range_btn').click();
			$('#edit_custom_range_span').show();
		}
	 });
	 $('#edit_custom_range_span').click(function(){
		 $('#custom_range_btn').click();
	 });
	 $('#from_time').datepicker({showOn: 'both', buttonImage: '{{ MEDIA_URL }}schedule/images/calendar-icon.png', buttonImageOnly: true, buttonText: 'Please choose a Date'});
	 $('#to_time').datepicker({showOn: 'both', buttonImage: '{{ MEDIA_URL }}schedule/images/calendar-icon.png', buttonImageOnly: true, buttonText: 'Please choose a Date'});
	 $(".ui-datepicker-trigger").mouseover(function() {
		    $(this).css('cursor', 'pointer');
	 });
	 $('#setting_columns label').click(function(){
		 
		 if($(this).hasClass('schedule_type_checked')) {
			 
			if($(this).parent().find('input:first').val() == 'type'){
				$('#newer_files_list td:nth-child(4)').hide();
				current_width += 50;
			}else if($(this).parent().find('input:first').val() == 'name'){
				$('#newer_files_list td:nth-child(3)').hide();
			}
			else if($(this).parent().find('input:first').val() == 'file_info'){
				$('#newer_files_list td:nth-child(5)').hide();
				current_width += 60;
			}
			else if($(this).parent().find('input:first').val() == 'size'){
				$('#newer_files_list td:nth-child(6)').hide();
				current_width += 60;
			}else if($(this).parent().find('input:first').val() == 'views'){
				$('#newer_files_list td:nth-child(9)').hide();
				current_width += 55;
			}else if($(this).parent().find('input:first').val() == 'last_modified'){
				$('#newer_files_list td:nth-child(7)').hide();
				current_width += 110;
				
			}else if($(this).parent().find('input:first').val() == 'created_on'){
				$('#newer_files_list td:nth-child(10)').hide();
				current_width += 100;
			}else if($(this).parent().find('input:first').val() == 'privacy'){
				$('#newer_files_list td:nth-child(8)').hide();
				current_width += 65;
			}else if($(this).parent().find('input:first').val() == 'flagged'){
				$('#newer_files_list td:nth-child(2)').hide();
				current_width += 35;
			}
			$(this).removeClass('schedule_type_checked').addClass('schedule_type_uncheck');
			$('.files_content_title p').width($('.files_name:first').width());
		 }else{
			
			 if($(this).parent().find('input:first').val() == 'type'){
					$('#newer_files_list td:nth-child(4)').show();
					current_width -= 50;
				}else if($(this).parent().find('input:first').val() == 'name'){
					//$('#newer_files_list td:nth-child(3)').width(current_width);
					$('#newer_files_list td:nth-child(3)').show();
				}
				else if($(this).parent().find('input:first').val() == 'file_info'){
					$('#newer_files_list td:nth-child(5)').show();
					current_width -= 60;
				}
				else if($(this).parent().find('input:first').val() == 'size'){
					$('#newer_files_list td:nth-child(6)').show();
					current_width -= 60;
				}else if($(this).parent().find('input:first').val() == 'views'){
					$('#newer_files_list td:nth-child(9)').show();
					current_width -= 55;
				}else if($(this).parent().find('input:first').val() == 'last_modified'){
					$('#newer_files_list td:nth-child(7)').show();
					current_width -= 110;
				}else if($(this).parent().find('input:first').val() == 'created_on'){
					$('#newer_files_list td:nth-child(10)').show();
					current_width -= 100;
				}else if($(this).parent().find('input:first').val() == 'privacy'){
					$('#newer_files_list td:nth-child(8)').show();
					current_width -= 65;
				}else if($(this).parent().find('input:first').val() == 'flagged'){
					$('#newer_files_list td:nth-child(2)').show();
					current_width -= 35;
				}
			 $(this).removeClass('schedule_type_uncheck').addClass('schedule_type_checked');
		 }
		 
		 $('#newer_files_list').width('100%');
		 $('.files_content_title p').width(current_width);
		 //$('#newer_files_list td:nth-child(3)').width(current_width);
		 /* $('#newer_files_list td:nth-child(3)').hide();
			setTimeout(function(){
				$('#newer_files_list td:nth-child(3)').show();	
			},10); */
			
	 });
	 
	 
	 $('.schedule_event_setting').click(function(){
		 $('.schedule_setting_form').toggle();
	 });
	 $('#basic_search').click(function(){
		 $(this).hide();
		 $('#advance_search').show();
		 $('.middle_block_search').slideUp();
	 });
	 $('#advance_search').click(function(){
		 $(this).hide();
		 $('#basic_search').show();
		 $('.middle_block_search').slideDown();
		 
	 });
 });
 select_none = function(){
	 $('.file_type_filter:eq(0) label').each(function(){
				$(this).removeClass().addClass('schedule_type_uncheck');
				$(this).parent().find('input:first').attr('checked',false);
	 });
 };
 select_all = function(){
	 $('.file_type_filter:eq(0) label').each(function(){
			$(this).removeClass().addClass('schedule_type_checked');
			$(this).parent().find('input:first').attr('checked',true);
	});
 };
 
 reset_filter = function(){
	 select_all();
	 $('.file_type_filter:eq(1) label').each(function(){
			$(this).removeClass().addClass('schedule_time_uncheck');
			$(this).parent().find('input:first').attr('checked',false);
	});
	 
	 $('.file_type_filter:eq(1) label:first').removeClass().addClass('schedule_time_checked').parent().find('input:first').attr('checked',true);
 };
 </script>