{% extends "new_base.html" %}
{% load i18n %}

{% block head_title %}
{% if user_search.get_full_name %}{{ user_search.get_full_name }}{% else %}{{ user_search.username }}{% endif %}'s {% trans "Files" %}
{% endblock %}

{% block submenu %}
<div id="submenu_container">
{% if user.is_authenticated %}
    <ul class="subnav">
        <li class="current"><a href="{% url my_files %}">{% trans "My Files" %}</a></li>
        <li><a href="{% url upload_file %}">{% trans "Upload Files" %}</a></li>
        <li><a href="{% url files_browse %}">{% trans "Browse Files" %}</a></li>
    </ul>
{% endif %}
</div>
{% endblock %}

{% block content %}
  <!--CONTENT CONTAINER STARTS-->
  <div id="content_container"> 
  	<p class="files_paging">{% if page_obj.has_previous %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
  	<!-- LEFT FILES STARTS -->
    <div id="left_files">
        <!-- SEARCH BOX STARTS -->
        <div class="searchbg">
            <form action="." method="get">
                <input type="text" name="q" value="{% if query_string %}{{ query_string  }}{% else %}{% trans "Search Files" %}{% endif %}" class="textfield_search" />
		<input type="submit" value="" class="submit_btn" />
            </form>
        </div>
        <!-- SEARCH BOX ENDS -->
        
        <!-- FILTER FILES STARTS -->
        <div>
            {% with _("Filter Files") as filter_title %}
            {% include "_filter_sidebar.html" %}
            {% endwith %}
        </div>
        <!-- FILTER FILES ENDS -->
 	</div>
    <!-- LEFT FILES ENDS -->
    
    <!-- RIGHT FILES STARTS -->
    <div id="right_files">
      {% if is_me %}
        <form action="{% url my_files %}" method="post">
            {% include "files/files_list.html" %}
            <a style="float:left;" href="#">
                <input type="image" src="{{ MEDIA_URL }}new/images/bt_delete.png" name="delete_all" value="1" />
            </a>
        </form>
      {% else %}
	{% include "files/files_list.html" %}
      {% endif %}
  	<p class="files_paging">{% if page_obj.has_previous %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
    </div>
    <!-- RIGHT FILES ENDS -->
  </div>
  <!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript">
  function toggleFiles() {
    $("input[name=file-select[]]").attr("checked", $("input[name=select]").attr("checked"));
  }

  $(document).ready(function() {
    var defaultSearchQuery = $("input[name=q]").val();
    $("input[name=q]").focusin(function() { 
      if ($(this).val() == defaultSearchQuery)
        $(this).val("");
    });
    $("input[name=q]").focusout(function() {
      if (!$(this).val())
        $(this).val(defaultSearchQuery);
    });
  });
</script>
{% endblock %}
