{% load timezone_filters %}
{% load i18n %}
{% load sort_tags %}
{% load file_tags %}
 
<!-- <table id="files_list" class="data" border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout:auto;word-break:break-word;white-space:normal;width:100%;"> -->
<table id="newer_files_list" class="data" border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout:auto;word-break:break-word;white-space:normal;width:100%;">
    <tr class="files_list_head">
    	{% block conference_header_row %}
    	<td class="files_checkbox">
    		<input type="checkbox" name="type" id="checkbox1" style="display: none;"/>
        	<label id="lbl_chk_all" class="files_type_uncheck" for="checkbox1"></label>
    	</td>
    	<td class="files_flag " >{% sort_link_new "Flag" "is_flag" sort_by %}</td>
    	<td class="files_name " style="word-wrap:break-word;">{% sort_link_new "Name" "filename" sort_by %}</td>
    	<!-- <td style="border-right: white solid 1px;"><img src="{{ MEDIA_URL }}files/images/purple_down.png" style="visibility: hidden;"/></td> -->
    	<td class="files_type ">{% sort_link_new "Type" "current_type" sort_by %}</td>
    	
    	<td class="files_info ">{% sort_link_new "Info" "page_count" sort_by %}</td>
    	<td class="files_new_size " style="text-align: left;">{% sort_link_new "Size" "file_size" sort_by %}</td>
    	<td class="files_last_modified ">{% sort_link_new "Last Modified" "last_modified" sort_by %}</td>
    	<td class="files_privacy ">{% sort_link_new "Privacy" "visibility" sort_by %}</td>
    	<td class="files_new_views ">{% sort_link_new "Views" "views_total" sort_by %}</td>
    	<td class="files_created_on ">{% sort_link_new "Date Created" "timestamp" sort_by %}</td>
    	<td class="files_icon_settings " id="icon_settings">
    		<img src="{{ MEDIA_URL }}schedule/images/icon_setting.png" style="cursor:pointer" alt="Settings"/>
    		
    		<div class="files_setting_form">
            	<div class="settings_header"> 
                    View Columns         
                </div>
                <ul id="setting_columns" class="schedule_filter" style="width:97%;margin-bottom:0">
                	<li>
                 	<p><input type="checkbox" name="columns" id="column0" value="flagged" checked="checked"/>
     				<label  class="schedule_type_checked" for="column0">{% trans "Flagged" %}</label><br/></p>
                 </li>
                     	<li>
                		<p><input type="checkbox" name="columns" id="column2" value="name" checked="checked" />
    					<label  class="schedule_type_checked" for="column2">{% trans "Name" %}</label><br/></p>
                	</li>
                	<li>
                 	<p><input type="checkbox" name="columns" id="column1" value="type" checked="checked" />
     				<label  class="schedule_type_checked" for="column1">{% trans "Type" %}</label><br/></p>
                	</li>
               
                	<li>
                		<p><input type="checkbox" name="columns" id="column3" value="file_info" checked="checked" />
     				<label  class="schedule_type_checked" for="column3">{% trans "Info" %}</label><br/></p>
                 </li>
                 <li>
                 	<p><input type="checkbox" name="columns" id="column4" value="size" checked="checked" />
     				<label  class="schedule_type_checked" for="column4">{% trans "Size" %}</label><br/></p>
                 </li>
                 
                  <li>
                 	<p><input type="checkbox" name="columns" id="column5" value="last_modified" checked="checked" />
     				<label  class="schedule_type_checked" for="column5">{% trans "Last Modified" %}</label><br/></p>
                 </li>
                 
                 <li>
                  <li>
                 	<p><input type="checkbox" name="columns" id="column7" value="privacy" checked="checked"/>
     				<label  class="schedule_type_checked" for="column7">{% trans "Privacy" %}</label><br/></p>
                 </li>
                 	<p><input type="checkbox" name="columns" id="column4" value="views" checked="checked" />
     				<label  class="schedule_type_checked" for="column4">{% trans "Views" %}</label><br/></p>
                 </li>
                 
                  <li>
                 	<p><input type="checkbox" name="columns" id="column6" value="created_on" checked="checked" />
     				<label  class="schedule_type_checked" for="column6">{% trans "Date Created" %}</label><br/></p>
                 </li>
                 
                </ul>
            </div>
    		
    	</td>
    	
        {% endblock %}
    </tr>
    {% if not object_list %}
    {% if not child_folders%}
    <tr class="{% cycle 'dark' 'light' %}">
      <td colspan="11"><h3 style="color:red;">{% if query_string %}{% trans "No files found for this query" %}{% else %}{% trans "No files found" %}{% endif %}</h3></td>
    </tr>{% endif %}
    {% endif %}
    
    <!-- Child folder -->
   	 {% for folder in child_folders %}
		   <tr class="{% cycle 'dark' 'light' %} select_row_class" id="{{folder.id}}" title="{% eclipse_description folder.name %}">
		   	<td class="files_checkbox" style="border-right: none;">
		   	<span style="display:none;">{%if folder.is_root%}root{%else%}{%if folder.is_system%}system{%else%}{%if folder.is_trash%}trash{%else%}folder{%endif%}{%endif%}{%endif%}</span>
		       	<input type="checkbox" name="chk_files" style="display: none;" value="folder={{ folder.id }}"/>
		       	<label class="lbl_chk_files files_type_uncheck" for="chk_files"></label>
		       </td>
		   	<td class="flag {% if folder.is_flag %}active_flag{% else %}inactive_flag{% endif %}">
		   	<input type="hidden" value="folder_id={{ folder.id }}" />
		   	</td>
		   	<td class="files_content_title">
		   		<span style="display:none">{%if not folder.is_deleted %}?folder={{folder.id}}{%endif%}</span>
		   		<p style="cursor:pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;-ms-text-overflow: ellipsis;width: 100px;">{{ folder.name }}</p>
		   	</td>
		   	<td class="files_content_center" ><img border="0" height="25" width="22" alt="icon" src="{{ MEDIA_URL }}jstree/images/normal_folder.png">
		   	</td>
		   	
		   	<td class="files_content_center" >{{folder.total_files}} files</td>
		   	
		   	<td  class="files_content_center">{{ folder.total_size|filesizeformat }}</td>
		   	<td class="files_content_center">{{ folder.last_modified|date:"n/j/Y" }}</td>
		   	<td class="files_content_center privacy_image"><!-- <img src="{{ MEDIA_URL }}files/images/icon/icon_{% if folder.is_private %}private.png{%else%}public.png{% endif %}" /> --></td>
		   	<td class="files_content_center"></td>
		   	
		   	<td class="files_content_center">{{ folder.date_created|date:"n/j/Y" }}</td>
		   	
		   	<td class="files_content_center"><a style="display:none;"></a></td>
		   </tr>
    {% endfor %}
    
    <!-- File -->
    
    {% with object_list as files %}
    {% for file in files %}
    <tr class="{% cycle 'dark' 'light' %} select_row_class" id="{{file.id}}" data-title="{% eclipse_description file.title %}">
    	<td class="files_checkbox" style="border-right: none;">
    	<span style="display:none;">{{ file.get_download_url }}</span>
        	<input type="checkbox" name="chk_files" style="display: none;" value="file={{ file.id }}"/>
        	<label class="lbl_chk_files files_type_uncheck" for="chk_files"></label>
        </td>
    	<td class="flag {% if file.is_flag %}active_flag{% else %}inactive_flag{% endif %}">
    	<input type="hidden" value="file_id={{ file.id }}" />
    	</td>
    	<td class="files_content_title">
    		<span style="display:none">{%if not file.is_deleted %}{% url file_detail file.urlhash %}{%endif%}</span>
    		<p style="cursor:pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;-ms-text-overflow: ellipsis;width: 100px;">{{ file.title }}</p>
    	</td>
    	<td class="files_content_center" style="padding-top: 1px;">
    	<a href="{% url file_detail file.urlhash %}">
    	{% if file.is_file_supported %} <img height="25" width="22" alt="icon" src="{{ MEDIA_URL }}files/images/icon/{{ file.source_type }}.png">
    	{% else %}
    	<img border="0" height="25" width="22" alt="Icon" src="{{ MEDIA_URL }}files/images/icon/default.png">
    	{% endif %}
    	</a>
    	</td>
    	
    	<td class="files_content_center" >{% if file.duration %}{{ file.duration|vidtime }}{% endif %}{% if file.page_count %}{{ file.page_count }} {% if file.is_document_file %}page{% else %}slide{% endif %}{{ file.page_count|pluralize:"s" }}{% endif %}</td>
    	
    	<td  class="files_content_center">{{ file.file_size|filesizeformat }}</td>
    	<td class="files_content_center">{{ file.last_modified|date:"n/j/Y" }}</td>
    	<td class="files_content_center privacy_image"><img  src="{{ MEDIA_URL }}files/images/icon/icon_{% ifequal file.visibility 'R' %}private.png{% endifequal %}{% ifequal file.visibility 'U' %}public.png{% endifequal %}{% ifequal file.visibility 'O' %}protected.png{% endifequal %}" /></td>
    	<td class="files_content_center">{{ file.views_total }}</td>
    	
    	<td class="files_content_center">{{ file.timestamp|date:"n/j/Y" }}</td>
    	
    	<td class="files_content_center"><a style="display:none;">{{ file.urlhash }}</a></td>
    </tr>
    {% endfor %}
    
    {% endwith %}
</table>
<script type="text/javascript" src="{{ MEDIA_URL }}files/js/jquery.timers.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}files/js/jquery.dropshadow.js"></script>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}files/js/mbTooltip.js"></script> -->
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/mbTooltip_custom.js"></script>
<script type="text/javascript">
	
	$(document).ready(function(){
		$('.files_content_title p').click(function(){
			var link = $(this).parent().find('span:first').html();
			if(link=='') return false;
			window.location = link;
		});
		
		$('.select_row_class').click(function(){
			select_row_toggle($(this));
		});
		$('tr.select_row_class').hover(function(){
			var that = $(this);
			that.addClass('hover_row');
			that.find('.privacy_image img').each(function(){
				if($(this).attr('src').indexOf('protected.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_protected.png');
				}
				if($(this).attr('src').indexOf('public.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_public.png');
				}
				if($(this).attr('src').indexOf('private.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_private.png');
				}
			});
		},function(){
			var that = $(this);
			that.removeClass('hover_row');
			if(!that.hasClass('active_row')){
			that.find('.privacy_image img').each(function(){
				if($(this).attr('src').indexOf('white_protected.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_protected.png');
				}
				if($(this).attr('src').indexOf('white_public.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_public.png');
				}
				if($(this).attr('src').indexOf('white_private.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_private.png');
				}
			});
			}
		});
		
		
		$("[data-title]").mbTooltip({ // also $([domElement]).mbTooltip  >>  in this case only children element are involved
		      opacity : .97,       //opacity
		      wait:100,           //before show
		      cssClass:"default",  // default = default
		      timePerWord:70,      //time to show in milliseconds per word
		      hasArrow:false,			// if you whant a little arrow on the corner
		      hasShadow:true,
		      imgPath:"images/",
		      ancor:"mouse", //"parent"  you can ancor the tooltip to the mouse position or at the bottom of the element
		      shadowColor:"black", //the color of the shadow
		      mb_fade:0 //the time to fade-in
		    });
	});
	
	select_row_toggle = function(that){
		if(that.hasClass('active_row')){
			that.find('td:first label').removeClass('files_type_checked').addClass('files_type_uncheck');
			that.find('td:first').find('input:first').attr('checked',false);
			that.removeClass('active_row');
			that.find('.privacy_image img').each(function(){
				if($(this).attr('src').indexOf('white_protected.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_protected.png');
				}
				if($(this).attr('src').indexOf('white_public.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_public.png');
				}
				if($(this).attr('src').indexOf('white_private.png')!=-1){
					$(this).attr('src','/site_media/files/images/icon/icon_private.png');
				}
			});
		}else{
			that.find('td:first label').removeClass('files_type_uncheck').addClass('files_type_checked');
			that.find('td:first').find('input:first').attr('checked',true);
			that.addClass('active_row');
			that.find('.privacy_image img').each(function(){
				if($(this).attr('src').indexOf('protected.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_protected.png');
				}
				if($(this).attr('src').indexOf('public.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_public.png');
				}
				if($(this).attr('src').indexOf('private.png')!=-1){
					$(this).attr('src','/site_media/files/images/white_private.png');
				}
			});
		}
	};
	
</script>