{% load file_tags %}
{% load sort_tags %}
{% load i18n %}

<table id="files_list" cellspacing="0" style="margin-bottom:0px;">
    {% block table_header %}
    <tr>
        <th colspan="8" style="text-align:left;"><h1 class="title" style="text-shadow:none;">{{ page_title }} <em>{{ query_string }}</em></h1></th>
    </tr>
    {% endblock %}
    <tr class="sub_title">
        {% block file_header %}
        {% block files_check_header %}
        <td class="files_check">{% if not user_search %}<input type="checkbox" name="select" onClick="toggleFiles();" />{% endif %}</td>
        {% endblock %}
        <td class="files_title">{% sort_link "Title" "title" %}&nbsp;</td>
        <td class="files_privacy">{% sort_link "Privacy" "visibility"  %}&nbsp;</td>
        <td class="files_views" >{% sort_link "Views" "views_total"  %}&nbsp;</td>
        <td class="files_length">{% sort_link "Length" "duration" %}&nbsp;</td>
        <td class="files_date">{% sort_link "Date" "timestamp" %}&nbsp;</td>
        <td class="files_empty_field"></td>
        {% block see_all %}
        <td class="files_download" style="float:right;">{% if is_me %}<a href="{% url files_browse %}">{% trans "See All" %}&nbsp;<img src="{{ MEDIA_URL }}new/images/icon_see_all.png" /></a>{% else %}{% endif %}</td>
        {% endblock %}
	{% endblock %}
    </tr>
    {% with object_list as files %}
    {% for file in files %}
    <tr class="{% cycle 'dark' 'light' %}">
        {% block files_check_row %}
        <td class="files_check">
	  {% if not user_search %}
	  <input type="checkbox" name="file-select[]" value="{{ file.pk }}" />
	  {% endif %}
	</td>
        {% endblock %}
        <td class="files_title"><img class="icon" src="{{ MEDIA_URL }}img/fileicons/icon_file_{{ file.source_type|fileicon }}.png" width="30" border="0" /><p class="text"><a href="{{ file.get_absolute_url }}">{{ file.title }}</a></p></td>
        <td class="files_privacy"><img src="{{ MEDIA_URL }}new/images/icon_{{ file.visibility|vidprivacy }}.png" /></td>
        <td class="files_views"><p>{{ file.views_total }}</p></td>
        <td class="files_length"><p>{% if file.duration %}{{ file.duration|vidtime }}{% endif %}{% if file.page_count %}{{ file.page_count }} slide{{ file.page_count|pluralize:"s" }}{% endif %}</p></td>
        <td class="files_date"><p>{% if file.timestamp %}{{ file.timestamp|date:"m/j/y" }}{% endif %}</p></td>
	<td class="files_empty_field"></td>
	<td class="files_download">
	  <ul class="button_group">
	    {% if file.is_selling %}
	    <li class="sellbtn">
		{% if is_me %}
		<a href="{% url store_file_sell file.urlhash %}" style="color:#FFF;">{% trans "Stop Sale" %}</a>
		{% else %}
		<a href="{% url store_file_paypal file.urlhash %}" style="color:#FFF;">{% trans "Buy" %}</a>
		{% endif %}
	    </li>
	    {% else %}
	    {% if is_me %}
	    <li class="sellbtn">
	      <a href="{% url store_file_sell file.urlhash %}" style="color:#FFF;">{% trans "Sell" %}</a>
	    </li>
	    {% else %}
	    <li class="sellbtndisabled">
	      <a href="#" style="color:#FFF;">{% trans "Buy" %}</a>
	    </li>
	    {% endif %}
	    {% endif %}
	    <li class="viewbtn">
	      <a href="{{ file.get_absolute_url }}" style="color:#FFF;">{% trans "View" %}</a>
	    </li>
	    <!-- <li class="addbtn" {% ifequal request.user file.user %}onclick="showOverlay(this);"{% endifequal %}> -->
	    <li class="addbtn" {% ifequal request.user file.user %} {% endifequal %}>
	      {% ifequal request.user file.user %}
	      <!-- <a rel="#edit_file_{{ file.id }}" style="color:#FFF;padding-left:0px;">{% trans "Edit" %}</a> -->
	      <a href="{% url file_edit file.urlhash %}" rel="#edit_file_{{ file.id }}" style="color:#FFF;padding-left:0px;">{% trans "Edit" %}</a>
	      <div id="edit_file_{{ file.id }}" class="modal" style="z-index:99999; width: 325px">
		<table cellspacing="0" cellpadding="0" border="0">
		  <h2>{% trans "Edit File:" %} {{ file.title }}</h2>
		  <tr><td style="border:0px;"><p>{% trans "Title:" %}</p></td><td style="border:0px;"><input type="text" name="title" value="{{ file.title }}" class="textinput" style="width:225px;" /></td></tr>
		  <tr><td style="border:0px;"><p>{% trans "Description:" %}</p></td><td style="border:0px;"><textarea name="description" rows="5" cols="30" style="width: 225px"  >{% if file.description %}{{ file.description }}{% endif %}</textarea></td></tr>
		  <tr><td style="border:0px;"><p>{% trans "Tags:" %}</p></td><td style="border:0px;"><input type="text" name="tags_string" value="{{ file.tags_string }}" class="textinput" style="width:225px;"/></td></tr>
		  <tr><td style="border:0px;"><p>{% trans "Visibility:" %}</p></td>
		    <td style="border:0px;">
		      <select name="visibility" onChange="showPasswdBox(this);">
			<option value="U" {% ifequal file.visibility 'U' %}selected="selected"{% endifequal %}>{% trans "Public" %}</option>
			<option value="O" {% ifequal file.visibility 'O' %}selected="selected"{% endifequal %}>{% trans "Protected" %}</option>
			<option value="R" {% ifequal file.visibility 'R' %}selected="selected"{% endifequal %}>{% trans "Private" %}</option>
		      </select>
		      <div class="passwordBox" style="display:none;">
			<p>{% trans "Password" %}: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="password" value="" style="width: 123px" /></p>
			<p>{% trans "Confirm Password" %}: <input type="password" name="password2" value="" style="width:123px " /></p>
		      </div>
		    </td>
		  </tr>
		  <tr><td style="border:0px;"><p><input type="button" class="buttonGreenSmall" value="{% trans "Save" %}" onclick="editFile('{% url file_edit file.urlhash %}', '{{ file.id }}', '{{ file.get_absolute_url }}');" /></p></td><td style="border:0px;"><input type="reset" class="buttonGreenSmall close" value="{% trans "Cancel" %}" /></td></tr>
		</table>
	      </div>
	      {% else %}
	      <a href="{% url copy_file file.urlhash %}" style="color:#FFF;">{% trans "Add" %}</a>
	      {% endifequal %}
	    </li>
	    <li class="downloadbtn">
	      <a href="{{ file.get_download_url }}" style="color:#FFF;">{% trans "Download" %}</a>
	    </li>
	  </ul>
	</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8"><p class="errorlist">{% trans "No Files found." %}</p></td>
    </tr>
    {% endfor %}
    {% endwith %}
</table>


{% block extrafooterscript %}
    <script type="text/javascript">
       /* function showOverlay(elem) {
        $($(elem).children('a[rel]').overlay({
            expose: { 
                color: '#333', 
                loadSpeed: 200, 
                opacity: 0.9
            },
            closeOnClick: false})).click();
      } */
 
      function editFile(fileEditURL, fileId, fileURL) {
        $("#edit_file_"+fileId+" h3.errorlist").remove();
        var data = {title: $("#edit_file_"+fileId+" input[name=title]").val(), 
                    visibility: $("#edit_file_"+fileId+" select[name=visibility] option:selected").val()}
        if (data.visibility && data.visibility == "O") {
          var password  = $("#edit_file_"+fileId+" input[name=password]").val();
          var password2 = $("#edit_file_"+fileId+" input[name=password2]").val();
          if (password != password.trim()) {
            $("#edit_file_"+fileId+" h2").append("<h3 class='errorlist'>{% trans "Passwords should not contain any whitespace." %}</h3>");
            return false;
          }
          if (!password) {
            $("#edit_file_"+fileId+" h2").append("<h3 class='errorlist'>{% trans "Please enter a password." %}</h3>");
            return false;
          }
          if (password != password2) {
            $("#edit_file_"+fileId+" h2").append("<h3 class='errorlist'>{% trans "Passwords do not match." %}</h3>");
            return false;
          } else {
            data.password = password;
            data.confirm_password = password2;
          }
        }
        if ($("#edit_file_"+fileId+" textarea[name=description]").val().trim()) {
          data.description = $("#edit_file_"+fileId+" textarea[name=description]").val().trim();
        }
        if ($("#edit_file_"+fileId+" input[name=tags_string]").val().trim()) {
          data.tags_string = $("#edit_file_"+fileId+" input[name=tags_string]").val().trim();
        }
        $.post(fileEditURL, data, 
               function(data, textStatus) { 
                 if (textStatus == "success") { 
                   window.location = fileURL; 
                 } 
               }
        );
      }

      function showPasswdBox(elem) {
        if ($(elem).children("option:selected").val() == "O") {
          $(elem).closest(".modal").find(".passwordBox").show();
        } else {
          $(elem).closest(".modal").find(".passwordBox").hide();
        }
      }
    </script>
{% endblock %}
