{% extends "new_base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}

{% block head_title %}
{% trans "Upload Files" %}
{% endblock %}

{% block extra_css_pre %}
    <style type="text/css">
    div.ProgressBar {  position: relative; top: 6px; width: 120px; padding: 0; border: 1px solid #aaa; margin-right: 1em; height:1em; margin-left:3em; margin-top:-1.5em; -moz-border-radius: 4px; -webkit-border-radius: 4px; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline; }
    div.ProgressBar div { background: #8a278a url(/media2/css/custom-theme/images/ui-bg_highlight-soft_50_764d79_1x100.png) repeat-x scroll 50% 50%; color: white; font-size: 1pt; height:100%; float:left; }
    span.asyncUploader object { position: relative; top: 5px; left: 41px; }
    #file_upload_uploading { position:relative;top:-5px; }
    #file_upload { visibility: hidden; }
    a#tutorial { top: -60px; }

    </style>
{% endblock %}

{% block submenu %}
<div id="submenu_container">
    <ul class="subnav">
        <li><a href="{% url my_files %}">{% trans "My Files" %}</a></li>
        <li class="current"><a href="{% url upload_file %}">{% trans "Upload Files" %}</a></li>
        <li><a href="{% url files_browse %}">{% trans "Browse Files" %}</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<!--CONTENT CONTAINER STARTS-->

<div id="content_container">
  <form action="{{ FILE_UPLOADER_URL }}" enctype="multipart/form-data" method="post" name="uploadform" id="uploadform">
      <div style="width:100%;">
      <div class="bg_files_upload_top"><h1 style="font-size:22px; color:white; padding-left:20px; padding-top:15px;">{% trans "1. Add Title and Description" %}</h1></div>
      <div class="bg_files_upload_mid">
        <table style="padding-top:20px;" width="100%" border="0" cellspacing="0" cellpadding="">
          <tr style="height:70px;">
              <td style="padding-left:30px;">
                <label for="id_title">
            <p style="font-size:14px;">{% trans "File Title:" %}</p>
          	</label>
                <input style="width:350px;" type="text" maxlength="50" name="title" id="id_title" title="{% trans "This field is required." %}" class="textinput" />
		{% if file_form.description.errors %}<div>{{ file_form.description.errors }}</div>{% endif %}
              </td>
              <td>
              	<label for="id_tags_string"><p style="font-size:14px;">{% trans "Tags:" %}</p></label>
		{% if file_form.tags.errors %}<div>{{ file_form.tags_string.errors }}</div>{% endif %}
                <input style="width:350px;" type="text" name="tags_string" class="textinput" />
              </td>
          </tr>
          <tr style="height:170px;">
              <td style="padding-left:30px;">
                  <label for="id_description"><p style="font-size:14px;">{% trans "Description:" %}</p></label>
                  <textarea style="width:350px;" rows="5" name="description" id="id_description" class="textinput" ></textarea>
                  {% if file_form.tags_string.errors %}<div>{{ file_form.tags_string.errors }}</div>{% endif %}
              </td>
              <td>
                  {{ file_form.project.label_tag }}
                  {{ file_form.project }}
                  <input type="hidden" name="uid" value="{{ user.id }}" />
                  <input type="hidden" name="username" value="{{ user.username }}" />
                  <input type="hidden" name="cid" value="{{ cid }}" />
                  <input type="hidden" name="redirect_url" value="{{ redirect_url }}" />

              </td>
          </tr>
          <tr>
              <td style="padding: 0 0 20px 30px;">
                  <table cellspacing="0">
                      <tr>
                          <td>
                              <p style="font-size:14px;">
                              {% trans "Make this file Password Protected?" %}
                              </p>
                          </td>
                          <td>
                                <input style="width:auto;" type="checkbox" name="private" class="textinput" />
                          </td>
                      </tr>
                  </table>
                  <div class="hidden" style="display:none;">
                      <p style="font-size: 14px;">{% trans "Password: " %}</p>
                      <input type="password" id="id_password" name="password" class="textinput" style="width:auto;" title="{% trans "Passwords do not match." %}"></input>
                      <p style="font-size: 14px;">{%trans "Repeat Password: " %}</p>
                      <input type="password" id="id_password2" name="password2" class="textinput" style="width:auto;"></input>
                  </div>
              </td>
          </tr>
          <tr><th colspan="2" class="bg_files_upload_top2"><h1 style="font-size:22px; color:white; padding-left:20px; text-align:left;">{%trans "2. Choose and Upload a File (2GB maximum)" %}</h1></th></tr>
          <tr>
          		<th colspan="2"><p style="font-size:14px; padding-top:20px; padding-left:50px; padding-right:50px; text-align:left;">{% trans "You can upload any type of file for sharing, commenting, and download. In addition many file types can be processed by our system for use during NetConferences and for display in our slide/video players." %}
                            </p></th>
          </tr>
          <tr>
          		<td>

                <p style="font-size:14px; padding-top:20px; padding-left:50px; padding-right:50px; padding-bottom:20px; text-align:left;"><b>{%trans "Supported formats for NetConference processing:" %}</b><br />
                {% blocktrans %}
<b>Video: </b>  flv   mov   mpg   avi   wmv   mp4   mpeg4   f4v<br />
<b>Audio:  </b> mp3   wav   m4a   aac<br />
<b>Text: </b>  doc   rtf   txt   wpd   html   xls<br />
<b>Media:  </b> ppt   pdf   swf<br />
<b>OpenOffice: </b>  odt   sxw   sxc   sci   odt   ods   odp<br /></p>
                 {% endblocktrans %}
                </td>
                <td>
		  <input type="file" name="file_upload" id="file_upload" />
                </td>
          </tr>
        </table>
      </div>
      <div class="bg_files_upload_bottom">
      	<p style="text-align:center; padding-top:10px; padding-left:100px; padding-right:100px; font-size:14px; color:white;">{%trans "Do not upload any TV shows, music videos, music concerts, or commercials without permission unless they consist entirely of content you created yourself. Make sure that you own all copyrights in this video or have express permission from all copyright owners to upload it." %}</p>
      </div>
    </div>
  </div>
  <div id="tooltip_sm_v"></div>
</form>
</div>
  <a href="#" onclick="runJoan();return false;" class="tutorial_btn"><p>{% trans "Tutorial" %}</p></a>
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/swfupload.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-asyncUpload-0.1.js"></script>
<script type="text/javascript">
var lf_ID = "100002563_A";
function runJoan() {
  runLFOW();
  $(".tutorial_btn").removeAttr("onclick");
}

function toggleFiles() {
  $("input[name=file-select[]]").attr("checked", $("input[name=select]").attr("checked"));
}
var asyncUploaderOptions = {
    upload_url: "http://encode1.media.netconf.nxtgencdn.com/uploader/media-upload.php",
    flash_url: "http://encode1.media.netconf.nxtgencdn.com/swfs/media-upload.swf",
    button_image_url: "{{ MEDIA_URL }}new/images/bt_choose_file_upload.png",
    width: 211,	
    height: 37,
    button_text: "",
    button_disabled: {% if file_upload_disallow %}true{% else %}false{% endif %},
    file_size_limit: "2048 MB"
  };
swfu_list = $("#file_upload").makeAsyncUploader(asyncUploaderOptions);
var originalUploadHandler = $(swfu_list).attr("swfu").settings.upload_start_handler;
$.extend($(swfu_list).attr("swfu").settings, {upload_start_handler: function() { 
  if ($("#id_title").val() == "") {
    alert("{% trans "Please enter a file title to be able to upload a file." %}");
    $("#id_title").focus();
    return false;
  }
  originalUploadHandler();
  }
});

$("#uploadform").submit(function(){
  if ( !$("#id_title").val() ) {
    var result = confirm("{% trans "Are you sure you want to upload a file without a title?" %}");
    if (!result) {
      $("#id_title").focus();
      return false;
    }
    $("#id_title").val("Untitled File");
  }
});
$("#id_password2").blur(function() {
  if ($("#id_password").val() != $("#id_password2").val()) {
    var pwd = $("#id_password").tooltip({ tip: '#tooltip_sm_v', effect: 'fade', opacity: 1, api: true, events: { button: 'click'} });
    pwd.show();
  }
});
$("input[name='private']").change(function() {
        if ($(this).attr("checked")) {
            $(".hidden").show();
        }
        else {
            $(".hidden").hide();
        }
});
</script>
{% endblock %}
