{% load i18n %}
{% for folder in folder_list %}
<div style="float:left;padding-top:3px;margin-right:5px;">
{%if not forloop.first%}<img src="/site_media/files/images/arrow-goto.png" />{%endif%}
<a href="/files/?folder={{ folder.id }}" class="folder_title_a" 
		{% if is_only %}
			style="color:#750998!important;"
		{%else%}
		{%if not forloop.last%}style="color:#750998!important;"{%endif%}
		{%endif%}>{{ folder.name }}</a>
</div>
{% endfor %}

<style>
a.folder_title_a{margin-left:5px;font:11.99px Arial;color:#585858}
a.folder_title_a:hover{color:#750998!important;font-weight: bold;}
</style>