{% extends "newer_base.html" %}
{% load i18n %}

{% block extra_css %}
<link href="{{ MEDIA_URL }}files/multiupload/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/multiupload/multiupload.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript">
  var root_id = "{{ root_folder.id }}";
  </script>
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.ui.widget.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/multiupload/js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/multiupload/js/jquery.tmpl.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/multiupload/js/jquery.xdr-transport.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/multiupload/js/jquery.fileupload.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/multiupload/js/jquery.fileupload-ui.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/multiupload/multiupload.js" type="text/javascript"></script>

{% endblock %}

{% block content %}
<input type="hidden" id="user_id" value="{{ user.id }}" />
  <input type="hidden" id="bucket" value="{{ bucket }}" />
  <input type="hidden" id="username" value="{{ user.username }}" />
  <!-- <input type="hidden" id="IeAttachUUID" value="" /> -->
  
  <div class="warning_file_type" id="warning_video_type" onclick="video_container_click();">
  <img src="{{ MEDIA_URL }}files/multiupload/images/warning-icon.png" style="float:left;" />
  <p class="warning_text" style="float:left;margin-left:10px;margin-top:5px;">The following video codecs are compatible with the Netconference video player</p>
  <p class="warning_type">flv, mov, mpg, avi, wmv, mp4, mpeg4, f4v</p>
  <p class="warning_text">If you are using a special video codecs, the file will be available for other to download</p>
  <p class="warning_text">but will not play on the website or in conference room</p>
  </div>
   <div class="warning_file_type" id="warning_ppt_type" onclick="ppt_container_click();">
	  <img src="{{ MEDIA_URL }}files/multiupload/images/warning-icon.png" style="float:left;" />
	  <p class="warning_text" style="float:left;margin-left:10px;margin-top:5px;">You are about to upload a Powerpoint file into Netconference.Here are a</p>
	  <p class="warning_text" style="float:left;margin-left:10px;">couple of suggestions to make this work perfectly for your needs</p>
	  <div class="multiupload_smallclear"></div>
	  <p class="warning_text" style="clear:both;font-weight: normal;">Not at all fonts are compatible and raw PowerPoint files may experience their type</p>
	  <p class="warning_text"  style="clear:both;font-weight: normal;">reflowing when uploaded into the cloud</p>
	  </div>
  
  
  
  <button id="allowspace_btn" rel="#allowspace_container" style="display:none">Show</button>
  
  <div class="modal_file" id="allowspace_container">
			<div class="allow_space_header">
				<div id="file_upload_header_icon_close_msg" class="close allow_space_close" style="float: right;"></div>
			</div>
		  <div class="nofication_dialog" style="width: 600px; margin-left: 50px;margin-bottom: 10px; margin-top: 20px;">
		  			<img src="{{ MEDIA_URL }}files/images/logo.png" style="border:0;"/>
		  			<div class="multiupload_hardclear"></div>
		  			<p>Uploading these file will exceed your total allotted space <p>
		  			<p>on the cloud. Please either delete a file from your account</p>
		  			<p>to make room or upgrade to a higher level account.</p>
		  			<div class="multiupload_mediumclear"></div>
		  			<p style="color:#595959">Would you like to upgrade your account?</p>
		  			<div class="multiupload_mediumclear"></div>
		  			<div>
		  			<button onclick="javascript:window.open('{% url my_files %}','_blank');return false;" class="btn_notification">Not Now</button>
		  			<button onclick="javascript:window.open('{% url subscription_list %}','_blank');return false;" class="btn_notification">Upgrade</button>
		  			</div>
		</div>
  </div>
  
  
  <div id="content_container">
  
  
  <div class="multiupload_title">
  <img src="{{ MEDIA_URL }}files/images/files_upload_title.png" style="float:left;"/>
	  
  </div>
   
  <div class="multiupload_files_holder">
  <p id="uploading_p" style="font-size: 13px;display:none;text-decoration: blink;">Uploading ...</p>
  <button id="continous_button" style="display:none;float:right;margin-right:10px" class="schedule_btn_263x45_big" style="float:right;display: inline;margin-right:0px" onclick="upload_multi_submit();">Continue</button>
  <p id="notification_p" style="font-size: 14px;">Select file(s) from your computer, then click upload.</p>
		  <div id="attachUploadID" style="width:100px;float:left;height:50px;margin-top:0px;">
		    <form id="form_upload_hide" action="{{FILE_UPLOADER_URL}}" method="POST" enctype="multipart/form-data">
				<input type="hidden" value="" id="IeAttachUUID">
		      <div class="fileupload-buttonbar" style="width: 130px;clear:both;margin-left:-10px;">
		            <label class="fileinput-button">
		                <span>Select File(s)</span>
		                <input id="selectFile5" style="" type="file" name="files[]" multiple>
		            </label>
		            <input type="submit"  class="start" id="attachStartHidden" style="display:none;" />
		             <button type="submit"  class="cancel" id="attachCancelHidden" style="display:none;" >Cancel</button>
		        </div>
		            
		    </form>
   		  
		    <div id="progress-container" class="fileupload-content" style="position:absolute;margin-top:-150px;height:50px;width:900px">
		        <table id="table_attach_file" class="files"></table>
		        <div id="progress-bar-show" class="fileupload-progressbar"></div>
		    </div>
		
		  </div>
		  <div id="extra_button" style="float:left;margin-top:2px;">
		  <button class="multiupload_remove_button" onclick="remove_fileupload_selected();">Remove</button>
		  </div>
		  
		  <div id="view_upload_list" style="width:600px;clear:both;border:#e3e3e3 solid 2px;overflow-y:auto;height:100px;">
		  <table cellspacing=0>
		  <tbody id="Attachedlist" >
		  
		  </tbody>
		  </table>
		  </div>
  </div>
    <div id="please_wait" style="float:left;display:none;width: 460px; clear: both; height: 100px; margin-top: 20px; margin-left: 15px;">
		  <p style="color:#750a98;font-size: 14px;">Please wait while we process your file(s). This may take a few seconds, minutes or considerably longer depending upon the file(s) type and size that you have uploaded
		  . Please do not close this page while your file(s) is processing or the process will not be completed.</p>
		  
		  </div>
 
  <div id="space_uploading" class="multiupload_hardclear" style="display:none;"></div>
  <div class="multiupload_file_info">
	  <div class="multiupload_title_bar">File Infomation</div>
		  <div class="multiupload_left_info">
		  <p style="font-size: 14px;">Name:</p>
		  <p><input type="text" style="height:25px;border:#e3e3e3 solid 1px;width:420px;color:#595959" id="current_name"  name="filename_info" /> </p>
		  <p style="font-size: 14px;">Tags:</p>
		  <p><textarea style="margin:0;width:420px;border:#e3e3e3 solid 1px;height:85px;overflow-y:auto;color:#595959" id="current_tags" name="tags_info" ></textarea> </p>
		  </div>
	  
		   <div class="multiupload_right_info">
		   <p style="font-size: 14px;">Description:</p>
		  <p><textarea style="margin:0;width:380px;border:#e3e3e3 solid 1px;height:140px;overflow-y:auto;color:#595959" id="current_description" name="description_info" ></textarea> </p>
		  </div>
  
  </div>
  
   <div class="multiupload_file_folder">
  <div class="multiupload_title_bar">Upload File(s) to Folder</div>
  <div class="multiupload_left_folder">
  <p style="font-size: 14px;">Select file(s) from your computer to upload, then click upload.</p>
  {% include "files/files_jstree_holder.html" %}
  <div id="jstreeContainer" style="border:#e3e3e3 solid 1px; width:420px;min-height:180px;height:180px;overflow-y:auto;">
	<div id="jstree_holder" style="height:auto;width:100%;"></div>
	
	</div>
	<div id="mmenu" style="height:30px; overflow:auto;margin-top:5px;">
	<input type="button" id="add_folder" style="float:left;" class="folder_create_button" value="Folder">
	<input type="button" id="rename"  style="float:left;margin-left:5px;" class="folder_rename_button" value="Rename">
	<input type="button" id="remove"  style="float:left;margin-left:5px;" class="folder_delete_button">
	</div>
  <script type="text/javascript" src="{{ MEDIA_URL }}files/multiupload/multiupload_jstree.js" ></script>
  </div>
  <div class="multiupload_right_folder">
 <!--  <div class="multiupload_mediumclear"></div> -->
  <p style="font-size: 14px;margin-left:50px;">Privacy:</p>
  <div class="privacy_container">
  <div class="multiupload_smallclear"></div>
  <ul class="radiobuttons clfx" style="margin-left:20px;">
		<li>
			<input checked id="privacy_1" name="privacy" type="radio" value="private">
			<label for="privacy_1">Private</label>
		</li>
		<li style="height:50px;">
			<input id="privacy_2" name="privacy" type="radio" value="protected">
			<label for="privacy_2">Password</label>
			<p style="font-size: 13px;margin-left: 30px;">Re-type</p>
			<div class="password_type_holder">
				<input type="password" id="password" style="margin-bottom:5px;border:#e3e3e3 solid 1px;width:100px;height:15px;display: inline;position: relative;" />
				<input type="password" id="password_confirm" style="border:#e3e3e3 solid 1px;width:100px;height:15px;display: inline;;position: relative;" />
			</div> 
		</li>
		<li>
			<input id="privacy_3" name="privacy" type="radio" value="public">
			<label for="privacy_3">Public</label>
		</li>
	</ul>
		</div> 
		
		 
		 
  </div>
  </div>
  
  <div id="multiupload_action_button" style="width:100%;height:50px;margin-top:5px">
		<button class="schedule_btn_263x45_big" style="float:right;display: inline;margin-right:0px" onclick="upload_multi_submit();">Upload</button>
		<button class="schedule_btn_263x45_big" style="float:right;display: inline;margin-right:0px" onclick="check_privacy_value();">Cancel</button>
		
		<p id="error_pass" style="font-size: 13px;color: red;display:none;float:right;margin-right:20px;">Error: Password do not match</p>
		</div> 
    <script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{% templatetag openvariable %}if error{% templatetag closevariable %} ui-state-error{% templatetag openvariable %}/if{% templatetag closevariable %}">
        <td class="preview"></td>
        <td class="name">{% templatetag openvariable %}if name{% templatetag closevariable %}${name}{% templatetag openvariable %}else{% templatetag closevariable %}Untitled{% templatetag openvariable %}/if{% templatetag closevariable %}</td>
        <td class="size">${sizef}</td>
                <td class="uuid"><input name="uuid" value="${uuid}"></td>
        	<td class="size_raw"><input name="size_raw" value="${size_raw}"></td>
				<td class="tags"><input name="tags" value="${tags}"></td>
				<td class="description"><input name="description" value="${description}"></td>
	<td class="title"><input name="title" value="${title}"></td>
        {% templatetag openvariable %}if error{% templatetag closevariable %}
            <td class="error" colspan="2">Error:
                {% templatetag openvariable %}if error === 'maxFileSize'{% templatetag closevariable %}File is too big
                {% templatetag openvariable %}else error === 'minFileSize'{% templatetag closevariable %}File is too small
                {% templatetag openvariable %}else error === 'acceptFileTypes'{% templatetag closevariable %}Filetype not allowed
                {% templatetag openvariable %}else error === 'maxNumberOfFiles'{% templatetag closevariable %}Max number of files exceeded
                {% templatetag openvariable %}else{% templatetag closevariable %}${error}
                {% templatetag openvariable %}/if{% templatetag closevariable %}
            </td>
        {% templatetag openvariable %}else{% templatetag closevariable %}
            <td class="start"><button>Start</button></td>
        {% templatetag openvariable %}/if{% templatetag closevariable %}
        <td class="cancel"><button>Cancel</button></td>
    </tr>
	</script>

  
  
  </div>	   
{% endblock %}
  	