{% extends "newer_base.html" %}
{% load i18n %}
<!-- {% load profile_tags %} -->
{% block head_title %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<!--CONTENT CONTAINER STARTS-->
<div id="files_main">
	<!-- OVERLAY HERE -->
	<div class="modal_file" id="delete_file_container">
		<div class="file_delete_header">
			Delete File
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;">
		    Are you sure want to delete file? It cannot be undone.
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 110px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_232x47" id="btn_cancel">Cancel</button>
		  
		    <button style="float: right;" class="close schedule_btn_232x47" id="btn_delete">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	<button style="display: none;" id="show_delete_error_message" class="show_delete_error_message" rel="#delete_file_error_message"></button>
	<div class="modal_file" id="delete_file_error_message">
		<div class="file_delete_header">
			Delete File
		</div>
		  <p style="text-align: center; margin-top: 30px; color: red; font-size: 20px;">
		    No files selected to delete.
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 230px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_232x47" id="btn_cancel">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	
	
	
	<!-- OVERLAY STOP --> 
	<form id="form_submit" action="" method="post">
		<input type="hidden" name="file_id" id="file_id"/>
	</form>
	<!-- FILES TOP START -->
	<div id="files_top">
		<div id="files_top_left" style="margin-top: 20px;">
			FILES
		</div>
		<div id="files_top_right">
			<div id="files_top_right_tootip">
				The files sections is where you may upload, manage, and share your files.<br/>
				Use the buttons on the left to upload or import a file. Use the tools further down to search and filter the file list on the right.<br/>
				Using your mouse, roll-over a file and click the arrow button to access the file menu.
			</div>
			<div id="files_top_right_close_icon">
				<img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_warning_close.png" />
    			<img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_question.png" />
			</div>
		</div>
	</div>
	<!-- FILES TOP END -->
	<div class="files_hardclear"></div>
	<!-- FILES CONTENT START -->
	<div id="files_content">
		<div id="files_content_left">
			<div class="files_clear files_mediumclear"></div>
			<a href="{% url upload_file %}"><button class="btn_file_upload">Upload File</button></a>
			<div class="files_smallclear"></div>
			<button id="btn_import_from_google" class="btn_file">Import from Google&reg;</button>
			<div class="file_smallclear"></div>
			{% block search_form %}
			
	        <div class="searchbg">
	            <form action="." method="get">
	                <input type="text" name="q" id="textfield" class="schedule_search_textbox" value="{% if query_string %}{{ query_string  }}{% else %}{% trans 'Search Files' %}{% endif %}"  maxlength="250"
					onfocus="{% if not query_string %}if(this.value == 'Search Files') {this.value = '';}{% endif %}" onblur="{% if not query_string %}if (this.value == '') {this.value = 'Search Files';}{% endif %}"/>
	                <input type="submit" id="button" value="" class="schedule_search_btn" />
	                <input type="button" class="schedule_search_close"  />
	            </form>
	        </div>
	        
		{% endblock %}
	<div class="files_smallclear"></div>
		<!-- <div id="AdvancedSearchID" style="text-align: left;{% if not is_filtered %}display: none;{% endif %}"> -->
		<div id="AdvancedSearchID" style="text-align: left;">
		     {% block filter_conferences %}
	            {% with _("Filter Conferences") as filter_title %}
	            {% include "files/files_list_filter.html" %}
	            {% endwith %}
	  		{% endblock %}
	  	</div>
	  	
		</div>
		<div id="files_content_right">
			<div class="files_content_right_top">
				<button id="btn_all_top" class="btn_all">All</button>
				<div id="all_files_action_top" class="all_files_action">
					<ul>
						<!-- <li><a href="">Open in new window</a></li>
						<li><a href="">Export to Google&reg;</a></li>
						<li><a href="javascript:void(0)" id="delete_all_files" class="delete_file" rel="#delete_file_container">Delete</a></li> -->
						<li><a href="javascript:void(0);" class="delete_file" id="delete_all_files_top" rel="#delete_file_container">Delete</a></li>
					</ul>
				</div>
				<div class="files_paging" style="float: right;">
					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}&type={{ type }}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page=1{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% if page_obj.has_previous %}
   					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}&type={{ type }}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" /></a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   					{{ first_on_page }} &nbsp;- &nbsp;{{ last_on_page }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% if page_obj.has_next %}<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}&type={{ type }}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next.png" /></a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}&type={{ type }}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ pages }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% trans "View"%}
					<select id="per_page_real1" style="color: #666666;">
					    <option value="10" {% ifequal per_page 10 %}selected="selected"{% endifequal %}>10</option>
					    <option value="25" {% ifequal per_page 25 %}selected="selected"{% endifequal %}>25</option>
					    <option value="50" {% ifequal per_page 50 %}selected="selected"{% endifequal %}>50</option>
					    <option value="10" {% ifequal per_page 100 %}selected="selected"{% endifequal %}>100</option>
					</select>
					{% trans "per page"%}&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
			</div>
			<div class="files_clear files_smallclear"></div>
			<form id="form_delete_submit" action="." method="post">
		            {% block table %}
		            {% include "files/files_list_table.html" %}
		            {% endblock %}
			</form>
			<div style="height: 10px;"></div>
			<div class="files_content_right_top">
				<button id="btn_all_bottom" class="btn_all">All</button>
				<div id="all_files_action_bottom" class="all_files_action">
					<ul>
						<!-- <li><a href="">Open in new window</a></li>
						<li><a href="">Export to Google&reg;</a></li> -->
						<li><a href="javascript:void(0);" class="delete_file" id="delete_all_files_bottom" rel="#delete_file_container">Delete</a></li>
					</ul>
				</div>
				<div class="files_paging" style="float: right;">
					
					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}&type={{ type }}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page=1{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% if page_obj.has_previous %}
   					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}&type={{ type }}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" /></a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   					{{ first_on_page }} &nbsp;- &nbsp;{{ last_on_page }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% if page_obj.has_next %}<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}&type={{ type }}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next.png" /></a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}&type={{ type }}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ pages }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% trans "View"%}
					<select id="per_page_real2" style="color: #666666;">
					    <option value="10" {% ifequal per_page 10 %}selected="selected"{% endifequal %}>10</option>
					    <option value="25" {% ifequal per_page 25 %}selected="selected"{% endifequal %}>25</option>
					    <option value="50" {% ifequal per_page 50 %}selected="selected"{% endifequal %}>50</option>
					    <option value="10" {% ifequal per_page 100 %}selected="selected"{% endifequal %}>100</option>
					</select>
					{% trans "per page"%}&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
			</div>
		</div>
		
	</div>
	<!-- FILES CONTENT STOP -->
</div>
<!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extra_scripts %}
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
var downloadURL = function(url)
{
    var iframe;
    iframe = document.getElementById("hiddenDownloader");
    if (iframe === null)
    {
        iframe = document.createElement('iframe');  
        iframe.id = "hiddenDownloader";
        iframe.style.display = 'none';
        document.body.appendChild(iframe);
    }
    iframe.src = url;   
    return false;
}
	$(document).ready(function() {
		
		$("input:checkbox[name='chk_files']").each(function() {
			 $(this).attr('checked', false);
		 });
		
		
		var triggers = $(".delete_file").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#ebecff',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		 
		      closeOnClick: false
		  });
		
		var triggers = $(".show_delete_error_message").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#ebecff',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		 
		      closeOnClick: false
		  });
		
		
		var buttons = $("#delete_file_container button").click(function(e) {
		    // get user input
			var yes = buttons.index(this);
			// if click delete then delete file
		 	if(yes == 1) {
		 		var is_submit = false;
		 		$("input:checkbox[name='chk_files']").each(function() {
					 if($(this).attr('checked')) {
					 	is_submit = true;
					 // exit each loop jquery
					 return false;
					 }
				 });
		 		if(is_submit == true) {
		 			$("#form_delete_submit").submit();
		 			return false;
		 		}
		 		else 
		 			//show error message
		 			$('#show_delete_error_message').click();
		 	}
		});
		
		
		$('.tr_hover').mouseenter(function(){
			var file_id = $(this).attr("id");
			var current_file_id = file_id;
			var current_file_id_st = '#cur_file_id_' + current_file_id;
			
			
			$(current_file_id_st).click(function(){
				// search checkbox (name: chk_files) has value is current_file_id
				$("input:checkbox[name='chk_files']").each(function() {
					 if($(this).attr('value') == current_file_id){
						 
						 $(this).attr('checked', true); 
					 }
				 });
			});
			
			
			
			var icon_action_id = '#icon_action_' + file_id;
			var file_action_id = '#file_action_' + file_id;
			var delete_id = '#'+ file_id;
			$(icon_action_id).show();
			
			$(icon_action_id).click(function(){
				var position = $(icon_action_id).position();
				var share_id = '#share_' + file_id;
				$('.file_action').css({'left':position.left, 'top':position.top + 15});
				
				$(file_action_id).show();
				$(share_id).mouseenter(function(){
					var share_sub_menu_id = '#share_sub_menu_' + file_id;
					var pos = $(share_id).position();
					$('.share_sub_menu').css({'left':pos.left + 150, 'top':pos.top});
					$(share_sub_menu_id).show();
					
				});
				$(share_id).mouseleave(function(){
					var share_sub_menu_id = '#share_sub_menu_' + file_id;
					$(share_sub_menu_id).hide();
				});
			});
		});
		
		$('.tr_hover').mouseleave(function(){
			var file_id = $(this).attr("id");
			var icon_action_id = '#icon_action_' + file_id
			var file_action_id = '#file_action_' + file_id;
			$(icon_action_id).hide();
			$(file_action_id).hide();
			
		});
		
		
		
		$('#btn_all_top').click(function(){
			$('#all_files_action_top').show();
		});
		
		$('#btn_all_bottom').click(function(){
			$('#all_files_action_bottom').show();
		});
		
		$('#all_files_action_top').mouseleave(function(){
			$('#all_files_action_top').hide();
		});
		$('#all_files_action_bottom').mouseleave(function(){
			$('#all_files_action_bottom').hide();
		});
		$('#btn_import_from_google').click(function(){
			window.open("/integrate/google_docs/import/","_blank","scrollbars=1, width=750,height=600");
		});
		
		$('.schedule_search_close').click(function(){
			$('#textfield').attr('value','');
			$('#textfield').focus();
		});
		$('.schedule_warning_close').click(function(){
			$('#files_top_right').hide('slow');
		});
		$('#per_page_real1').change(function(){
			 $("#per_page_real1 option:selected").each(function () {
	             $('#per_page').attr('value',$(this).text());
	             $('#form_filter').submit();
	         });
		 });
		 $('#per_page_real2').change(function(){
			 $("#per_page_real2 option:selected").each(function () {
	             $('#per_page').attr('value',$(this).text());
	             $('#form_filter').submit();
	         });
		 });
		 $('.lbl_chk_files').click(function(){
				if($(this).hasClass('files_type_checked')) {
					$(this).removeClass('files_type_checked');
					$(this).addClass('files_type_uncheck');
					$(this).parent().find('input:first').attr('checked',false);
				}else {
					$(this).removeClass('files_type_uncheck');
					$(this).addClass('files_type_checked');
					c = $(this).parent().find('input:first')
					c.attr('checked',true);
				}
		});
		 $('#lbl_chk_all').click(function(){
			 if($(this).hasClass('files_type_checked')) {
				$(this).removeClass('files_type_checked');
				
				$('.lbl_chk_files').removeClass('files_type_checked');
				
				$(this).addClass('files_type_uncheck');
				$('.lbl_chk_files').addClass('files_type_uncheck');
				$("input:checkbox[name='chk_files']").each(function() {
					 $(this).attr('checked', false);
				 });
			}else {
				$(this).removeClass('files_type_uncheck');
				$('.lbl_chk_files').removeClass('files_type_uncheck');
				$(this).addClass('files_type_checked');
				$('.lbl_chk_files').addClass('files_type_checked');
				$("input:checkbox[name='chk_files']").each(function() {
					 $(this).attr('checked', true);
				});
			}
		 });
	});
</script>
{% endblock %}
