{% extends "newer_base.html" %}
{% load i18n %}
{% load profile_tags %}
{% block title %}

{{ page_title }}
{% endblock %}
{% block extra_css %}

<link href="{{ MEDIA_URL }}files/css/new_file.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
	<!-- CONTENT CONTAINER STARTS -->
	<form method="post" action="." id="form_check_pass">
	<table id="file_check_password" border="0">
		{% if password_invalid %}<tr><td align="center"><h3 style="color:red;">{% trans "Invalid Password. Please try again!" %}</h3></td></tr>{% endif %}
		<tr>
			<td align="center" style="padding-top: 30px;"><img src="{{ MEDIA_URL }}files/images/proteced-pass-txt.png"/></td>
		</tr>
		<tr>
			<td align="center" style="padding-top: 29px; font-size: 17px; color: #595959;">Please enter the password to continue</td>
		</tr>
		<tr>
			<td align="center" style="padding-top: 15px; padding-bottom: 75px;"><input name="password" type="password" class="txt_file_check_pwd"/><button class="btn_file_check_pwd" id="submit_check_pass">Submit</button></td>
		</tr>
	</table>
	</form>
	<!-- CONTENT CONTAINER ENDS --> 
{% endblock %}
<script type="text/javascript">
	$('#submit_check_pass').click(function(){
		$('#form_check_pass').submit();
	});
</script>

