{% extends "newer_base.html" %}
{% load i18n %}
{% block head_title %}
{% load timezone_filters %}
{% load conference_tags %}
{{ page_title }}
{% endblock %}
{% block extra_css %}

<link href="{{ MEDIA_URL }}files/multiupload/multiupload.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />

<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.ui.widget.js" type="text/javascript"></script>

{% endblock %}

{% block content %}

<input type="hidden" id="user_id" value="{{ user.id }}" />
  <input type="hidden" id="bucket" value="{{ bucket }}" />
  <input type="hidden" id="username" value="{{ user.username }}" />
  <input type="hidden" id="IEUuid_hack" value="" />
  
  
 <button style="display: none;" id="alert_overlay" rel="#alert_container"></button>
	<div class="modal_file" id="alert_container">
		<div class="file_delete_header" id="alert_title">
			Title
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 20px;" id="alert_message">
		    Message
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 230px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	
  <button style="display: none;" id="confirm_overlay" rel="#confirm_container"></button>
	<div class="modal_file" id="confirm_container">
		<div class="file_delete_header" id="confirm_title">
			Title
		</div>
		<div style="text-align: center; margin-top: 30px; height:auto;">
		  <p style="color: #595959; font-size: 20px;" id="confirm_message">
		    Message
		  </p>
		 </div>
		  <div style="width: 100%; margin-left: 70px; margin-top: 40px">
		  <button style="float: left;" class="close schedule_btn_263x45_big">Cancel</button>
		    <button style="float: left;margin-left:20px" class="close schedule_btn_263x45_big">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
  
  
  <button id="allowspace_btn" rel="#allowspace_container" style="display:none">Show</button>
  
  <div class="modal_file" id="allowspace_container">
			<div class="allow_space_header">
				<div id="file_upload_header_icon_close_msg" class="close allow_space_close" style="float: right;"></div>
			</div>
		  <div class="nofication_dialog" style="width: 600px; margin-left: 50px;margin-bottom: 10px; margin-top: 20px;">
		  			<img src="{{ MEDIA_URL }}files/images/logo.png" style="border:0;"/>
		  			<div class="multiupload_hardclear"></div>
		  			<p>Uploading these file will exceed your total allotted space <p>
		  			<p>on the cloud. Please either delete a file from your account</p>
		  			<p>to make room or upgrade to a higher level account.</p>
		  			<div class="multiupload_mediumclear"></div>
		  			<p style="color:#595959">Would you like to upgrade your account?</p>
		  			<div class="multiupload_mediumclear"></div>
		  			<div>
		  			<button onclick="javascript:window.open('{% url my_files %}','_blank');return false;" class="btn_notification">Not Now</button>
		  			<button onclick="javascript:window.open('{% url subscription_list %}','_blank');return false;" class="btn_notification">Upgrade</button>
		  			</div>
		</div>
  </div>
  <div class=schedule_hardclear></div>
 <div class="multiupload_title" style="margin-left:10px;">
    
    
  <img style="float:left;" src="{{ MEDIA_URL }}files/images/edit_multifiles.png" />
<p id="uploading_p" style="display:none;margin-top:15px;font-size: 13px;text-decoration: blink;float:left;clear:left;margin-left:10px;">Uploading ...</p>
  <div id="please_wait" style="display:none;float:left;width: 460px; clear: both; height: 100px; margin-top: 70px; margin-left: 10px;">
		  <p style="color:#750a98;font-size: 14px;">Please wait while we process your file(s). This may take a few seconds, minutes or considerably longer depending upon the file(s) type and size that you have uploaded
		  . Please do not close this page while your file(s) is processing or the process will not be completed.</p>
		  
		  </div>
 
  <button id="continous_button" style="display:none;float:right;margin-right:10px;margin-top:20px" class="schedule_btn_263x45_big" onclick="upload_multi_submit();">Continue</button>
  
  </div>

<div class="conferencing_option_main" style="height:auto;">
		<div class=schedule_smallclear></div>
		<div class="option_container" style="height:auto;" id="option_container">
		<div class="audio_block" style="height:auto;margin-bottom:0px;margin-left:160px;">
			<div class="left_detail_block">
				<p class="schedule_label_text" style="margin-top:4px;">File:</p>
			</div>
			<div class="right_detail_block" style="padding-left:10px;">
			<p id="notification_p" style="font-size: 13px;">The file information and settings below will apply to all file in the list.</p>
			 <div id="view_upload_list" class="input_holder_tags" style="padding-top:2px;padding-bottom:2px;">
						  <table cellspacing=0 style="width:100%">
						  <tbody id="Attachedlist">
						  	{% for file in files %}
						  	<tr>
						  	<td>{{file.title}}</td>
						  	</tr>
						  	{%endfor%}
						  </tbody>
						  </table>
					  </div>
					  
			
			
			</div>
		</div>
		<div class=schedule_mediumclear></div>
		<form id="edit_file_form" action="." method="POST">
		<input type="hidden" name="next"  value="{{next}}" />
		{%for urlhash in urlhashs%}
		<input type="hidden" name="file"  value="{{urlhash}}" />
		{%endfor%}
		<input type="hidden" name="folderid" id="folderid"  value="{%if files.0.folder%}{{ files.0.folder.id }}{%else%}{{files.0.user.get_root_folder.0.id}}{%endif%}" />
		<div class="line-option-divide"></div>
		
		<div class="privacy_block" style="height:auto;margin-bottom:10px;margin-left:160px;">
			<div class="left_detail_block">
				<p class="schedule_label_text">Description:</p>
			</div>
			<div class="right_detail_block">
			<div class="input_holder_folder">
				<textarea style="margin:0;width:396px;border:0;height:130px;overflow-y:auto;color:#595959;font:13px Arial" id="description" name="description"></textarea>
			</div>
			</div>
		</div>
		<div class="privacy_block" style="height:auto;margin-bottom:20px;margin-left:160px;">
			<div class="left_detail_block">
				<p class="schedule_label_text">Tags:</p>
			</div>
			<div class="right_detail_block" style="padding-left:10px;">
			<div class="input_holder_tags" >
				<input style="margin:0;width:396px;border:0;overflow-y:auto;font:13px Arial" id="tags_string" name="tags_string" value="{{tags}}"/>
			</div>
			</div>
		</div>
		<div class="line-option-divide"></div>
		
		<div class="hostoption_block" style="height:auto;margin-bottom:20px;margin-left:155px;">
			<div class="left_detail_block">
				<p class="schedule_label_text">Privacy:</p>
			</div>
			<div class="right_detail_block"  style="padding-left:10px;">
			 <div class="input_option_holder">
				<p><input type="radio" name="privacy" id="privacy1" value="private"  /><label  class="audio_block_uncheck" for="privacy1">Private</label></p>
				<p><input type="radio" name="privacy" id="privacy2" value="protected" /><label  class="audio_block_uncheck" for="privacy2">Password</label></p>
				<p><input type="radio" name="privacy" id="privacy3" value="public" checked="checked" /><label  class="audio_block_checked" for="privacy3">Public</label></p>
			</div>
			<div class="password-holder-toggle">
				<div class="schedule_smallclear" ></div>
				<div class="password-divide"></div>
				<div class="schedule_smallclear" ></div>
				<div>
					<table>
					<tr>
					<td><p>Enter Password:</p></td>
					<td><input type="password" name="password" id="password" value=""/></td>
					<td><p id="error_pass" style="display:none;"><span style="color:red">Error: Password do not match</span></p></td>
					</tr>
					<tr>
					<td><p>Re-type Password:</p></td>
					<td><input type="password" name="confirm_password" id="confirm_password" value=""/></td>
					<td></td>
					</tr>
					</table>
				</div>
				
			</div>
			</div>
		</div>
		</form>
		<div class="line-option-divide"></div>
		<div class="layoutoption_block" style="height:auto;margin-bottom:20px;margin-left:160px;">
			<div class="left_detail_block">
				<p class="schedule_label_text" style="margin-top:4px;">Folder:</p>
			</div>
			<div class="right_detail_block" style="padding-left:10px;">
				  {% include "files/files_jstree_holder.html" %}
				  <div class=schedule_smallclear></div>
				  <div  class="input_holder_folder">
				 	 <div id="jstreeContainer" style="border:0; width:400px;min-height:105px;height:105px;overflow-y:auto;">
					<div id="jstree_holder" style="height:auto;width:100%;margin-top:5px;"></div>
					
					</div>
					<div id="mmenu" style="height:30px; overflow:auto;margin-top:5px;">
					<input type="button" id="add_folder" style="float:left;" class="folder_create_button" value="Folder">
					<input type="button" id="rename"  style="float:left;margin-left:5px;" class="folder_rename_button" value="Rename">
					<input type="button" id="remove"  style="float:left;margin-left:5px;" class="folder_delete_button">
					</div>
					<script type="text/javascript" src="{{ MEDIA_URL }}files/multiupload/multiupload_jstree.js" ></script>
					</div>
			</div>
		</div>
		
		<div class="schedule_smallclear"></div>
		
	</div>
			<div class="schedule_mediumclear"></div>
   <div id="multiupload_action_button" style="width:100%;height:50px;margin-top:5px">
		<button class="schedule_btn_263x45_big" style="float:right;display: inline;margin-right:0px" onclick="update_file_submit();">Save</button>
		 <a href="{{next}}"><button class="schedule_btn_263x45_big" style="float:right;display: inline;margin-right:0px">Cancel</button></a>
		
		<p id="error_pass" style="font-size: 13px;color: red;display:none;float:right;margin-right:20px;">Error: Password do not match</p>
		</div>

</div>
<div id="footer_clear" class="schedule_hardclear" style="height:210px;"></div>
 <script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{% templatetag openvariable %}if error{% templatetag closevariable %} ui-state-error{% templatetag openvariable %}/if{% templatetag closevariable %}">
        <td class="preview"></td>
        <td class="name">{% templatetag openvariable %}if name{% templatetag closevariable %}${name}{% templatetag openvariable %}else{% templatetag closevariable %}Untitled{% templatetag openvariable %}/if{% templatetag closevariable %}</td>
        <td class="size">${sizef}</td>
                <td class="uuid"><input name="uuid" value="${uuid}"></td>
        	<td class="size_raw"><input name="size_raw" value="${size_raw}"></td>
				<td class="tags"><input name="tags" value="${tags}"></td>
				<td class="description"><input name="description" value="${description}"></td>
	<td class="title"><input name="title" value="${title}"></td>
        {% templatetag openvariable %}if error{% templatetag closevariable %}
            <td class="error" colspan="2">Error:
                {% templatetag openvariable %}if error === 'maxFileSize'{% templatetag closevariable %}File is too big
                {% templatetag openvariable %}else error === 'minFileSize'{% templatetag closevariable %}File is too small
                {% templatetag openvariable %}else error === 'acceptFileTypes'{% templatetag closevariable %}Filetype not allowed
                {% templatetag openvariable %}else error === 'maxNumberOfFiles'{% templatetag closevariable %}Max number of files exceeded
                {% templatetag openvariable %}else{% templatetag closevariable %}${error}
                {% templatetag openvariable %}/if{% templatetag closevariable %}
            </td>
        {% templatetag openvariable %}else{% templatetag closevariable %}
            <td class="start"><button>Start</button></td>
        {% templatetag openvariable %}/if{% templatetag closevariable %}
        <td class="cancel"><button>Cancel</button></td>
    </tr>
	</script>


<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}files/multiupload/jquery.tagsinput.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}files/multiupload/js/jquery.tagsinput.js"></script>
<script type="text/javascript">
var root_id = "{%if files.0.folder%}{{ files.0.folder.id }}{%else%}{{files.0.user.get_root_folder.0.id}}{%endif%}";
var folder_id= root_id;
//data common
var general_description = '';
var general_tags = '';
var general_privacy = '';
var general_password = '';


check_data_before_submit = function(){
	var result = true;
	var privacy =  $("input[name='privacy']:checked").val();
	if($('#confirm_password').val()!=$('#password').val()&&privacy == 'protected'){
		$('body,html').animate({
			scrollTop: 500
		}, 1000);
		$('#error_pass').show();
		$('#password').focus();
		result = false;
	}else{
		$('#error_pass').hide();
	}
	
	var selected_node = $('#jstree_holder').find('.jstree-clicked').html();
   if(selected_node!=null) {
		var s_node = $('#jstree_holder').find('.jstree-clicked');
		if(s_node.length>1){
			$('#alert_title').html('Warning');
			$('#alert_message').html("Please select only one folder");
			$('#alert_overlay').click();
			folder_id = null;
			result= false;
		}else{
			folder_id = s_node.parent().attr('id');
		}
		
	}
   return result;
   
};

update_file_submit = function(){
	if(!check_data_before_submit()) return false;
	$('#folderid').attr('value',folder_id);
	$('#edit_file_form').submit();
};

$(document).ready(function(){
	
	  $('#tags_string').tagsInput({
		  'height':'80px', 
		  'width':'375px',
		  'autocomplete_url':'{%url tags_autocomplete%}',
		   'interactive':true,
		   'defaultText':'New tag',
		   'removeWithBackspace' : true,
		   'placeholderColor':'#ffffff',
		   'minChars' : 0,
		   'maxChars' : 0 //if not provided there is no limit,
		   
		});
	
	$("#alert_overlay").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 
	      closeOnClick: false
	  });
	$("#confirm_overlay").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 
	      closeOnClick: false
	  });
	
	var buttons_confirm = $("#confirm_container button").click(function(e) {
		var yes = buttons_confirm.index(this);
	 	if(yes == 1) {
	 		$("#jstree_holder").jstree('remove');
	 	}
	});
	
	
	$('.input_option_holder label').click(function(){
		if($(this).hasClass('hostoption_block_checked')) {
			$(this).removeClass('hostoption_block_checked');
			$(this).addClass('hostoption_block_uncheck');
			$(this).parent().find('input:first').attr('checked',true);
		}else if($(this).hasClass('hostoption_block_uncheck')) {
			$(this).removeClass('hostoption_block_uncheck');
			$(this).addClass('hostoption_block_checked');
			$(this).parent().find('input:first').attr('checked',false);
		}else{
			$(this).parent().parent().find('label').removeClass('audio_block_checked').addClass('audio_block_uncheck');
			$(this).removeClass().addClass('audio_block_checked');
			$(this).parent().find('input:first').attr('checked',true);
			if($(this).parent().find('input:first').val() == 'protected'){
				$('.password-holder-toggle').slideDown();
				$('#password').focus();
			}else{
				$('.password-holder-toggle').slideUp();
			}
			
		}
	 }); 
	
	
	
});

</script>



   
{% endblock %}
