{% extends "newer_base.html" %}
{% load i18n %}
{% block head_title %}
{% load timezone_filters %}
{% load conference_tags %}
{{ page_title }}
{% endblock %}
{% block extra_css %}

<link href="{{ MEDIA_URL }}files/multiupload/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/multiupload/multiupload.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="{{ MEDIA_URL }}schedule/js/jquery.blockUI.js" type="text/javascript"></script>

<script src="{{ MEDIA_URL }}files/js/jquery.ui.widget.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/multiupload/js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/multiupload/js/jquery.tmpl.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/multiupload/js/jquery.xdr-transport.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/multiupload/js/jquery.fileupload.js" type="text/javascript"></script>

<script src="{{ MEDIA_URL }}files/js/edit1-jquery.fileupload-ui.js" type="text/javascript"></script>

{% endblock %}

{% block content %}

<input type="hidden" id="user_id" value="{{ user.id }}" />
  <input type="hidden" id="bucket" value="{{ bucket }}" />
  <input type="hidden" id="username" value="{{ user.username }}" />
  <input type="hidden" id="IEUuid_hack" value="" />
  
  
 <button style="display: none;" id="alert_overlay" rel="#alert_container"></button>
	<div class="modal_file" id="alert_container">
		<div class="file_delete_header" id="alert_title">
			Title
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 20px;" id="alert_message">
		    Message
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 230px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	
  <button style="display: none;" id="confirm_overlay" rel="#confirm_container"></button>
	<div class="modal_file" id="confirm_container">
		<div class="file_delete_header" id="confirm_title">
			Title
		</div>
		<div style="text-align: center; margin-top: 30px; height:auto;">
		  <p style="color: #595959; font-size: 20px;" id="confirm_message">
		    Message
		  </p>
		 </div>
		  <div style="width: 100%; margin-left: 70px; margin-top: 40px">
		  <button style="float: left;" class="close schedule_btn_263x45_big">Cancel</button>
		    <button style="float: left;margin-left:20px" class="close schedule_btn_263x45_big">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
  
  
  <button id="allowspace_btn" rel="#allowspace_container" style="display:none">Show</button>
  
  <div class="modal_file" id="allowspace_container">
			<div class="allow_space_header">
				<div id="file_upload_header_icon_close_msg" class="close allow_space_close" style="float: right;"></div>
			</div>
		  <div class="nofication_dialog" style="width: 600px; margin-left: 50px;margin-bottom: 10px; margin-top: 20px;">
		  			<img src="{{ MEDIA_URL }}files/images/logo.png" style="border:0;"/>
		  			<div class="multiupload_hardclear"></div>
		  			<p>Uploading these file will exceed your total allotted space <p>
		  			<p>on the cloud. Please either delete a file from your account</p>
		  			<p>to make room or upgrade to a higher level account.</p>
		  			<div class="multiupload_mediumclear"></div>
		  			<p style="color:#595959">Would you like to upgrade your account?</p>
		  			<div class="multiupload_mediumclear"></div>
		  			<div>
		  			<button onclick="javascript:window.open('{% url my_files %}','_blank');return false;" class="btn_notification">Not Now</button>
		  			<button onclick="javascript:window.open('{% url subscription_list %}','_blank');return false;" class="btn_notification">Upgrade</button>
		  			</div>
		</div>
  </div>
  <div class=schedule_hardclear></div>
 <div class="multiupload_title" style="margin-left:10px;">
    
    
  <img style="float:left;" src="{{ MEDIA_URL }}files/images/edit_info.png" />
<p id="uploading_p" style="display:none;margin-top:15px;font-size: 13px;text-decoration: blink;float:left;clear:left;margin-left:10px;">Uploading ...</p>
  <div id="please_wait" style="display:none;float:left;width: 460px; clear: both; height: 100px; margin-top: 70px; margin-left: 10px;">
		  <p style="color:#750a98;font-size: 14px;">Please wait while we process your file(s). This may take a few seconds, minutes or considerably longer depending upon the file(s) type and size that you have uploaded
		  . Please do not close this page while your file(s) is processing or the process will not be completed.</p>
		  
		  </div>
 
  <button id="continous_button" style="display:none;float:right;margin-right:10px;margin-top:20px" class="schedule_btn_263x45_big" onclick="upload_multi_submit();">Continue</button>
  
  </div>

<div class="conferencing_option_main" style="height:auto;">
		<div class=schedule_smallclear></div>
		<div class="option_container" style="height:auto;" id="option_container">
		<div class="audio_block" style="height:auto;margin-bottom:0px;margin-left:160px;">
			<div class="left_detail_block">
				<p class="schedule_label_text" style="margin-top:4px;">File:</p>
			</div>
			<div class="right_detail_block" style="padding-left:10px;">
			<p id="notification_p" style="font-size: 13px;">Select a file from your computer to replace this file, edit the information below.</p>
				  <div id="attachUploadID" style="width:100px;float:left;height:50px;margin-top:0px;">
				    <form id="form_upload_hide" action="{{FILE_UPLOADER_URL}}" method="POST" enctype="multipart/form-data">
						<input type="hidden" value="" id="IeAttachUUID">
				      <div class="fileupload-buttonbar" style="width: 130px;clear:both;margin-left:-10px;">
				            <label class="fileinput-button">
				                <span>Select File(s)</span>
				                <input title="Please select file(s)"  id="selectFile5" style="" type="file" name="files[]" multiple>
				            </label>
				            <input type="submit"  class="start" id="attachStartHidden" style="display:none;" />
				             <button type="submit"  class="cancel" id="attachCancelHidden" style="display:none;" >Cancel</button>
				        </div>
				            
				    </form>
	   		  
				    <div id="progress-container" class="fileupload-content" style="position:absolute;margin-top:-140px;margin-left:-80px;height:50px;width:900px">
				        <table id="table_attach_file" class="files"></table>
				        <div id="progress-bar-show" class="fileupload-progressbar"></div>
				    </div>
			
			 		</div>
			 		 
			 		 <div id="extra_button" style="float:left;margin-top:2px;">
						  <input id="replace_file_name" class="input_text_folder" readonly="readonly"  type="text" style="width:275px;float:left;" />
						  <button class="remove_file_close" onclick="remove_replace_file();"></button>
						  </div>
						  
			</div>
		</div>
		<form id="edit_file_form" action="." method="POST">
		<input type="hidden" name="folderid" id="folderid"  value="{%if file.folder%}{{ file.folder.id }}{%else%}{{file.user.get_root_folder.0.id}}{%endif%}" />
		<input type="hidden" name="title" id="title"  value="" />
		<input type="hidden" name="next"  value="{{next}}" />
		
		<div class="privacy_block" style="height:auto;margin-bottom:10px;margin-left:160px;margin-top:0">
			<div class="left_detail_block">
				<p class="schedule_label_text" style="margin-top:4px;">Name:</p>
			</div>
			<div class="right_detail_block">
			<input type="text" name="txt_file_title" id="txt_file_title" class="input_text_folder" value="{{ file.title }}"/>
			</div>
		</div>
		
		<div class="line-option-divide"></div>
		
		<div class="privacy_block" style="height:auto;margin-bottom:10px;margin-left:160px;">
			<div class="left_detail_block">
				<p class="schedule_label_text">Description:</p>
			</div>
			<div class="right_detail_block">
			<div class="input_holder_folder">
				<textarea style="margin:0;width:396px;border:0;height:130px;overflow-y:auto;color:#595959;font:13px Arial" id="description" name="description">{%if file.description %}{{ file.description }}{%endif%}</textarea>
			</div>
			</div>
		</div>
		<div class="privacy_block" style="height:auto;margin-bottom:20px;margin-left:160px;">
			<div class="left_detail_block">
				<p class="schedule_label_text">Tags:</p>
			</div>
			<div class="right_detail_block" style="padding-left:10px;">
			<div class="input_holder_tags" >
				<input style="margin:0;width:396px;border:0;overflow-y:auto;font:13px Arial" id="tags_string" name="tags_string" value="{%if file.tags_string %}{{ file.tags_string }}{%endif%}"/>
			</div>
			</div>
		</div>
		<div class="line-option-divide"></div>
		
		<div class="hostoption_block" style="height:auto;margin-bottom:20px;margin-left:155px;">
			<div class="left_detail_block">
				<p class="schedule_label_text">Privacy:</p>
			</div>
			<div class="right_detail_block"  style="padding-left:10px;">
			 <div class="input_option_holder">
				<p><input type="radio" name="privacy" id="privacy1" value="private" {%ifequal file.visibility "R"%}checked="checked"{%endifequal%} /><label  class="audio_block_{%ifequal file.visibility "R"%}checked{%else%}uncheck{%endifequal%}" for="privacy1">Private</label></p>
				<p><input type="radio" name="privacy" id="privacy2" value="protected" {%ifequal file.visibility "O"%}checked="checked"{%endifequal%}   /><label  class="audio_block_{%ifequal file.visibility "O"%}checked{%else%}uncheck{%endifequal%}" for="privacy2">Password</label></p>
				<p><input type="radio" name="privacy" id="privacy3" value="public"  {%ifequal file.visibility "U"%}checked="checked"{%endifequal%}  /><label  class="audio_block_{%ifequal file.visibility "U"%}checked{%else%}uncheck{%endifequal%}" for="privacy3">Public</label></p>
			</div>
			<div class="password-holder-toggle" style="{%ifequal file.visibility "O"%}display:block{%endifequal%}">
				<div class="schedule_smallclear" ></div>
				<div class="password-divide"></div>
				<div class="schedule_smallclear" ></div>
				<div>
					<table>
					<tr>
					<td><p>Enter Password:</p></td>
					<td><input type="password" name="password" id="password" value="{%ifequal file.visibility "O"%}********{%endifequal%}"/></td>
					<td><p id="error_pass" style="display:none;"><span style="color:red">Error: Password do not match</span></p></td>
					</tr>
					<tr>
					<td><p>Re-type Password:</p></td>
					<td><input type="password" name="confirm_password" id="confirm_password" value="{%ifequal file.visibility "O"%}********{%endifequal%}"/></td>
					<td></td>
					</tr>
					</table>
				</div>
				
			</div>
			</div>
		</div>
		</form>
		<div class="line-option-divide"></div>
		<div class="layoutoption_block" style="height:auto;margin-bottom:20px;margin-left:160px;">
			<div class="left_detail_block">
				<p class="schedule_label_text" style="margin-top:4px;">Folder:</p>
			</div>
			<div class="right_detail_block" style="padding-left:10px;">
				  {% include "files/files_jstree_holder.html" %}
				  <div class=schedule_smallclear></div>
				  <div  class="input_holder_folder">
				 	 <div id="jstreeContainer" style="border:0; width:400px;min-height:105px;height:105px;overflow-y:auto;">
					<div id="jstree_holder" style="height:auto;width:100%;margin-top:5px;"></div>
					
					</div>
					<div id="mmenu" style="height:30px; overflow:auto;margin-top:5px;">
					<input type="button" id="add_folder" style="float:left;" class="folder_create_button" value="Folder">
					<input type="button" id="rename"  style="float:left;margin-left:5px;" class="folder_rename_button" value="Rename">
					<input type="button" id="remove"  style="float:left;margin-left:5px;" class="folder_delete_button">
					</div>
					<script type="text/javascript" src="{{ MEDIA_URL }}files/multiupload/multiupload_jstree.js" ></script>
					</div>
			</div>
		</div>
		
		<div class="schedule_smallclear"></div>
		
	</div>
			<div class="schedule_mediumclear"></div>
   <div id="multiupload_action_button" style="width:100%;height:50px;margin-top:5px">
		<button class="schedule_btn_263x45_big" style="float:right;display: inline;margin-right:0px" onclick="update_file_submit();">Save</button>
		 <a href="{{next}}"><button class="schedule_btn_263x45_big" style="float:right;display: inline;margin-right:0px">Cancel</button></a>
		
		<p id="error_pass" style="font-size: 13px;color: red;display:none;float:right;margin-right:20px;">Error: Password do not match</p>
		</div>

</div>
<div id="footer_clear" class="schedule_hardclear" style="height:210px;"></div>
 <script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{% templatetag openvariable %}if error{% templatetag closevariable %} ui-state-error{% templatetag openvariable %}/if{% templatetag closevariable %}">
        <td class="preview"></td>
        <td class="name">{% templatetag openvariable %}if name{% templatetag closevariable %}${name}{% templatetag openvariable %}else{% templatetag closevariable %}Untitled{% templatetag openvariable %}/if{% templatetag closevariable %}</td>
        <td class="size">${sizef}</td>
                <td class="uuid"><input name="uuid" value="${uuid}"></td>
        	<td class="size_raw"><input name="size_raw" value="${size_raw}"></td>
				<td class="tags"><input name="tags" value="${tags}"></td>
				<td class="description"><input name="description" value="${description}"></td>
	<td class="title"><input name="title" value="${title}"></td>
        {% templatetag openvariable %}if error{% templatetag closevariable %}
            <td class="error" colspan="2">Error:
                {% templatetag openvariable %}if error === 'maxFileSize'{% templatetag closevariable %}File is too big
                {% templatetag openvariable %}else error === 'minFileSize'{% templatetag closevariable %}File is too small
                {% templatetag openvariable %}else error === 'acceptFileTypes'{% templatetag closevariable %}Filetype not allowed
                {% templatetag openvariable %}else error === 'maxNumberOfFiles'{% templatetag closevariable %}Max number of files exceeded
                {% templatetag openvariable %}else{% templatetag closevariable %}${error}
                {% templatetag openvariable %}/if{% templatetag closevariable %}
            </td>
        {% templatetag openvariable %}else{% templatetag closevariable %}
            <td class="start"><button>Start</button></td>
        {% templatetag openvariable %}/if{% templatetag closevariable %}
        <td class="cancel"><button>Cancel</button></td>
    </tr>
	</script>


<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}files/multiupload/jquery.tagsinput.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}files/multiupload/js/jquery.tagsinput.js"></script>
<script type="text/javascript">
var root_id = "{%if file.folder%}{{ file.folder.id }}{%else%}{{file.user.get_root_folder.0.id}}{%endif%}";
//data common
var general_description = '';
var general_tags = '';
var general_privacy = '';
var general_password = '';


check_allow_space = function(){
	var total_size_upload = 0;
	$('#table_attach_file tr').each(function(){
		total_size_upload+=	parseInt($(this).find('input[name="size_raw"]:first').val());
	});
	var return_value = true;
	$.ajax({
		  url: "/vmail/getAllowSpaceInfo?param="+total_size_upload,
		  type: 'GET',
		  async:false,
		  dataType: 'html',
		  success: function(html){
			  if(html == 'success'){
				  return_value = true;
			  }else{
				  $('#allowspace_btn').click();
				  return_value =  false;
			  }
		  }
		});
	
	return return_value;
};

check_data_before_submit = function(){
	var result = true;
	var privacy =  $("input[name='privacy']:checked").val();
	if($('#confirm_password').val()!=$('#password').val()&&privacy == 'protected'){
		$('body,html').animate({
			scrollTop: 500
		}, 1000);
		$('#error_pass').show();
		$('#password').focus();
		result = false;
	}else{
		$('#error_pass').hide();
	}
	
	var selected_node = $('#jstree_holder').find('.jstree-clicked').html();
   if(selected_node!=null) {
		var s_node = $('#jstree_holder').find('.jstree-clicked');
		if(s_node.length>1){
			$('#alert_title').html('Warning');
			$('#alert_message').html("Please select only one folder");
			$('#alert_overlay').click();
			folder_id = null;
			result= false;
		}else{
			folder_id = s_node.parent().attr('id');
		}
		
	}
   return result;
   
};
hide_element_then_upload = function(){
	$('body,html').animate({
		scrollTop: 0
	}, 1000);
	$('#form_upload_hide').hide();
	$('#notification_p').hide();
	$('.left_detail_block').hide();
	$('.line-option-divide').hide();
	$('.privacy_block').hide();
	$('.hostoption_block').hide();
	$('.layoutoption_block').hide();
	$('#extra_button').fadeOut();
	$('#view_upload_list').fadeOut();
	
	$('#multiupload_action_button').fadeOut();
	$('#option_container').removeClass('option_container');
	$('#footer_clear').hide();
	$('#progress-container').css({'margin-top':'-200px','margin-left':'-170px'});
	$('#uploading_p').show();
	$('#space_uploading').show();
	$('#please_wait').show();
	$('#continous_button').show().prop('disabled', false).addClass('continue_disable');
	$('#warning_ppt_type').fadeOut();
	$('#warning_video_type').fadeOut();
}


update_file_submit = function(){
	if(!check_data_before_submit()) return false;
	if(!check_allow_space()) return false;
	if($('#table_attach_file tr').length>0)
	{
			general_privacy =  $("input[name='privacy']:checked").val();
		   general_password = $('#password').val();
		   general_tags = $('#tags_string').val();
		   general_description = $('#description').val();
		   
		hide_element_then_upload();
		$('#attachStartHidden').click();
		return false;
	}else{
		$('#folderid').attr('value',folder_id);
		$('#title').attr('value',$('#txt_file_title').val());
		
		$('#edit_file_form').submit();
	}
	
};

remove_replace_file = function(){
	$('.template-upload').find('.cancel').find('button:first').click();
	$('#replace_file_name').attr('value','');
	return false;
}

$(document).ready(function(){
	
	  $('#tags_string').tagsInput({
		  'height':'80px', 
		  'width':'375px',
		  'autocomplete_url':'{%url tags_autocomplete%}',
		   'interactive':true,
		   'defaultText':'New tag',
		   'removeWithBackspace' : true,
		   'placeholderColor':'#ffffff',
		   'minChars' : 0,
		   'maxChars' : 0 //if not provided there is no limit,
		   
		});
	
	  var triggers = $("#allowspace_btn").overlay({
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 
	      closeOnClick: false
	  });
	$("#alert_overlay").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 
	      closeOnClick: false
	  });
	$("#confirm_overlay").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 
	      closeOnClick: false
	  });
	
	var buttons_confirm = $("#confirm_container button").click(function(e) {
		var yes = buttons_confirm.index(this);
	 	if(yes == 1) {
	 		$("#jstree_holder").jstree('remove');
	 	}
	});
	
	
	if ($.browser.msie) {
		$('#attachUploadID').fileupload({
		    dataType: 'html',
		    type:'POST',
		    sequentialUploads: true,
		    display_name:'replace_file_name',
		    onlyPlay:true,
		    after_add:function(){
		    },
			}).bind('fileuploadsubmit', function (e, data){
				   var uuid = data.context.find('input[name$="uuid"]').val();
				   var title = data.context.find('input[name$="title"]').val();
					$('#IEUuid_hack').attr('value',uuid);
				   data.formData = {
						   uid: $('#user_id').val(),
						   uuid: uuid,
						   title: title,
						   cid: $('#bucket').val(),
						   username: $('#username').val(),
						   visibility: 'U',
				   };
				    if (!data.formData.cid||!data.formData.uid||!data.formData.username||!data.formData.visibility) {
				        return false;
				     }
				  
				   
			});
		
			$('#attachUploadID').bind('fileuploadalways',  function(e, data){
				uuid = $('#IEUuid_hack').val();
				if(folder_id==null){
					folder_id = 0
				}
				$.ajax({
					url:'/files/edit/{{file.urlhash}}/',
					type:'POST',
					async:false,
					dataType:'html',
					data:'uuid='+uuid+'&title='+$('#txt_file_title').val()+'&description='+general_description+'&tags_string='
						+general_tags+'&password='+$('#password').val()+'&privacy='+general_privacy+'&folderid='+folder_id,
					success:function(result){
						if(result =='success')
							window.location = '{{next}}';
					}
				});
				
			});
				    
				    
	}else{
		$('#attachUploadID').fileupload({
		    dataType: 'html',
		    type:'POST',
		    display_name:'replace_file_name',
		    onlyPlay:true,
			})
			.bind('fileuploadsubmit', function (e, data){
				   var uuid = data.context.find('input[name$="uuid"]').val();
				   var title = data.context.find('input[name$="title"]').val();
				   data.formData = {
						   uid: $('#user_id').val(),
						   uuid: uuid,
						   title: title,
						   cid: $('#bucket').val(),
						   username: $('#username').val(),
						   visibility: 'U',
				   };
				    if (!data.formData.cid||!data.formData.uid||!data.formData.username||!data.formData.visibility) {
				        return false;
				     }
				    
			});
			$('#attachUploadID').bind('fileuploaddone', function(e, data){
				var result = data.result.toString();
				var uuid = result.split(',',2)[1];
				if(folder_id==null){
					folder_id = 0
				}
				
				$.ajax({
					url:'/files/edit/{{file.urlhash}}/',
					type:'POST',
					async:false,
					dataType:'html',
					data:'uuid='+uuid+'&title='+$('#txt_file_title').val()+'&description='+general_description+'&tags_string='
						+general_tags+'&password='+$('#password').val()+'&privacy='+general_privacy+'&folderid='+folder_id,
					success:function(result){
						if(result =='success')
							window.location = '{{next}}';
					}
				});
				
			});
	}
	
	
	
	
	
	$('.input_option_holder label').click(function(){
		if($(this).hasClass('hostoption_block_checked')) {
			$(this).removeClass('hostoption_block_checked');
			$(this).addClass('hostoption_block_uncheck');
			$(this).parent().find('input:first').attr('checked',true);
		}else if($(this).hasClass('hostoption_block_uncheck')) {
			$(this).removeClass('hostoption_block_uncheck');
			$(this).addClass('hostoption_block_checked');
			$(this).parent().find('input:first').attr('checked',false);
		}else{
			$(this).parent().parent().find('label').removeClass('audio_block_checked').addClass('audio_block_uncheck');
			$(this).removeClass().addClass('audio_block_checked');
			$(this).parent().find('input:first').attr('checked',true);
			if($(this).parent().find('input:first').val() == 'protected'){
				$('.password-holder-toggle').slideDown();
				$('#password').focus();
			}else{
				$('.password-holder-toggle').slideUp();
			}
			
		}
	 }); 
	
	
	
});

</script>















  	<!--CONTENT CONTAINER STARTS-->
	<!-- <div id="content_container"> 
		<div id="form_fake_submit" style="display:none;">
			<form id="form_submit" action="" method="post">
				<input name="desc" id="desc"/>
				<input name="privacy" id="privacy"/>
				<input name="pwd" id="pwd"/>
				<input name="tags_string" id="tags_string"/>
				<input name="file_title" id="file_title" />
			</form>
		</div>
		<div id="upload_file">
			<p><h1 style="font-size: 28px; font-weight: normal;" class="purple_text"><img alt="Edit Info" src="{{ MEDIA_URL }}files/images/edit_info.png" /> </h1></p>
			<div style="height: 40px;"></div>
			<input id="txt_file_upload" type="text" class="text_filed_bg file_text" readonly="readonly" value="{{ file.filename }}"/>
		</div>
		<div id="option_file_info">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridtable">
            	<th colspan="2" style="font-size: 13px;">Optional File Information</th>
                <tr>
                    <td align="left" valign="top" class="pad20">
                    	<label for="title">Title:</label><input style="margin-left: 4px;" type="text" name="txt_file_title" id="txt_file_title" class="text_filed_bg file_text" value="{{ file.title }}"/>
                    	<label for="description">Description : </label><textarea cols="40" rows="6" name="description" id="description" class="text_filed_bg file_text">{{ file.description }}</textarea>
                    </td>
                    <td align="left" valign="top" class="pad20" ><label for="tags">Tags : </label><textarea cols="40" rows="3" name="tags" id="tags" class="text_filed_bg file_text">{{ file.tags_string }}</textarea><br/><br/>
                    <label for="privacy">Privacy : </label>
                    <table border="0" style="color: #595959; font-weight: bold;">
                    	<tr>
                    		<td><input type="radio" value="private" checked="checked" name="rdio" id="rad_private"/></td><td>Private</td>
                    	</tr>
                    	<tr>
                    		<td><input type="radio" value="password" id="rad_password" name="rdio"/></td><td>Password</td><td><div id="pwd_area" style="display: none"><input id="txt_pwd" type="password" class="txt_password file_text"/></div> </td>
                    	</tr>
                    	<tr style="display: none;" id="re-type-pwd-col">
                    		<td></td><td style="font-weight: normal;">Re-type</td><td><input id="txt_re_pwd" type="password" class="txt_password file_text"/> </td>
                    	</tr>
                    	<tr>
                    		<td><input type="radio" value="public" id="rad_public" name="rdio"/></td><td>Public</td>
                    	</tr>
	                    
                    </table>
                </tr>
            </table>
            <div style="margin-top: 10px; float: right;">
               <a href="{{next}}"><button class="button_medium_Green">Cancel</button></a>  &nbsp;&nbsp;  <button id="btn_save_file" class="button_medium_Green">Save</button>
            </div>
            <div style="clear: both;"></div>
            <div id="error_message" style="float: right; color: red; margin-top: 10px; margin-right: 2px;font-size: 13px; display: none;">
            	Error: Passwords do not match.
            </div>
            <div style="padding-bottom: 180px;"></div>
		</div>
  	</div> -->
  	<!--CONTENT CONTAINER ENDS--> 
   
{% endblock %}
