{% extends "newer_base.html" %}
{% load i18n %}
{% load file_tags %}
{% block head_title %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<!-- <link href="{{ MEDIA_URL }}schedule/newer.jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" /> -->

<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom_conference.css" rel="stylesheet" type="text/css" />

<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/css/new_list_file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/multiupload/multiupload.css" rel="stylesheet" type="text/css" />
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.ui.widget.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}jstree/custom_jstree.js" ></script>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}files/css/mbTooltip.css" title="style"  media="screen">


 <script type="text/javascript">
  var root_id = "{{ root_folder.id }}";
  var current_folder = "{{ current_folder.id }}"
  </script>
<style>
#jstree_holder_move a {color:#595959; white-space:normal !important; height: auto; padding:1px 2px;word-wrap: break-word;font-size: 13px; } 
#jstree_holder_move li > ins { vertical-align:top; }
#jstree_holder_move li { vertical-align:top;word-wrap: break-word }
#jstree_holder_move .jstree-hovered, #jstree_holder .jstree-clicked { border:0; }

</style>
{% endblock %}

{% block content %}
<!-- Place this tag where you want the su badge to render -->



<script type="text/javascript">
  (function() {
    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
    li.src = 'https://platform.stumbleupon.com/1/widgets.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
  })();
</script>
<!--CONTENT CONTAINER STARTS-->
<div id="files_main">
<button style="display: none;" id="alert_overlay" rel="#alert_container"></button>
	<div class="modal_file" id="alert_container">
		<div class="file_delete_header" id="alert_title">
			Title
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;" id="alert_message">
		    Message
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 230px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>

<button style="display: none;" id="processing_overlay" rel="#processing_container"></button>
	<div class="modal_file" id="processing_container">
		<div class="file_delete_header">
			Delete File(s)
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;" id="alert_message">
		    Please wait while deleting file(s) from cloud drive.<br />This page will reload when file(s) delete complete !!!
		  </p>
		  
		  <div class="processing_bar">
		  
		  </div>
		  <button style="float: left;display:none" class="close">close</button>
		  <div style="height: 30px; clear: both;"></div>
	</div>


<button style="display: none;" id="confirm_overlay" rel="#confirm_container"></button>
	<div class="modal_file" id="confirm_container">
		<div class="file_delete_header" id="confirm_title">
			Title
		</div>
		<div style="text-align: center; margin-top: 30px; height:auto;">
		  <p style="color: #595959; font-size: 14px;" id="confirm_message">
		    Message
		  </p>
		 </div>
		  <div style="width: 100%; margin-left: 70px; margin-top: 40px">
		  <button style="float: left;" class="close schedule_btn_263x45_big">Cancel</button>
		    <button style="float: left;margin-left:20px" class="close schedule_btn_263x45_big">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	
	<button style="display: none;" id="confirm_anyway_overlay" rel="#confirm_anyway_container"></button>
	<div class="modal_file" id="confirm_anyway_container">
		<div class="file_delete_header">
			Delete File(s)
		</div>
		<div style="text-align: center; margin-top: 30px; height:auto;">
		  <p style="color: #595959; font-size: 14px;"   id="deleteanyway_file_content">
		    Are you sure you want to delete?
		  </p>
		 </div>
		  <div style="width: 100%; margin-left: 70px; margin-top: 40px">
		  <button style="float: left;" class="close schedule_btn_263x45_big">Cancel</button>
		    <button style="float: left;margin-left:20px" class="close schedule_btn_263x45_big">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	
	
	<button style="display: none;" id="deleteanyway_multi_btn" rel="#deleteanyway_multifile_container"></button>
	<div class="modal_file" id="deleteanyway_multifile_container">
		<div class="file_delete_header">
			Delete Multiple Files
		</div>
		
		  <p style="text-align: center; margin-top: 30px; color: #595959; font: 14px Arial">
		    Are you sure you want to delete these files?
		  </p>
		  <div class="multidelete_table">
		  <table id="multi_deleteanyway_list" cellspacing=0>
		 
		 </table>
		  
		  </div>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 550px; margin-left: 100px; margin-top: 40px; margin-bottom: 30px;height:auto;">
		    <button style="float: left;" class="close schedule_btn_263x45_big">Cancel</button>
		    <button style="float: left;margin-left:10px;" class="close schedule_btn_263x45_big">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	
	
	
	
<button style="display: none;" id="confirm_empty_btn" rel="#confirm_empty_container"></button>
	<div class="modal_file" id="confirm_empty_container">
		<div class="file_delete_header" id="confirm_empty_title">
			Empty all of the items from the trash?
		</div>
		<div style="text-align: center; margin-top: 30px; height:auto;">
		  <p style="color: #595959; font-size: 14px;" id="confirm_empty_message">
		    If you choose to empty the trash, all items in it will be permanently lost. 
		    </p>
		     <p style="color: #595959; font-size: 14px;" >
		     Please note that you can also delete them separately.
		     </p>
		    
		  
		 </div>
		  <div style="width: 100%; margin-left: 70px; margin-top: 40px">
		  <button style="float: left;" class="close schedule_btn_263x45_big">Cancel</button>
		    <button style="float: left;margin-left:20px" class="close schedule_btn_263x45_big">Empty</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>

	<!-- OVERLAY HERE -->
	<div class="modal_file" id="move_file_container">
		<div id="move_file_title"  class="file_delete_header">
			Move File
		</div>
		<div class="files_smallclear"></div>
		 {% include "files/files_jstree_holder.html" %}
		 <!-- <h1 style="color: #909090;font: 13px Arial,Helvetica,sans-serif;padding: 5px 11px;width: 400px;background:white;border:#e3e3e3 solid 1px;margin-left:150px;">Folders</h1> -->
			<div class="files_folder_root_move">
			<div class="files_folders_container_menu">
	 	 <div class="files_folders_container">
			<div id="jstree_holder_move" style="height:auto;width:100%;"></div>
		
		</div>
			<div id="mmenu_move" style="height:30px; overflow:auto;margin-top:5px;">
			<input value="Folder" type="button" id="add_folder" style="float:left;" class="folder_create_button">
			<input value="Rename" type="button" id="rename"  style="float:left;margin-left:5px;" class="folder_rename_button">
			<input type="button" id="remove"  style="float:left;margin-left:5px;" class="folder_delete_button">
			</div>
		</div>
		
			</div>
		  <!-- yes/no buttons -->
		  <div style="width: 550px; margin-left: 90px; margin-top: 30px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big" id="btn_cancel">Cancel</button>
		    <button style="float: right;" class="close schedule_btn_263x45_big" id="btn_move">Move</button>
		  </div>
		  <div style="height: 10px; clear: both;"></div>
	</div>
	<button style="display: none;" id="delete_multi_btn" rel="#delete_multifile_container"></button>
	<div class="modal_file" id="delete_multifile_container">
		<div class="file_delete_header">
			Delete Multiple Files
		</div>
		
		  <p style="text-align: center; margin-top: 30px; color: #595959; font: 14px Arial" >
		    Are you sure you want to delete these files?
		  </p>
		  <div class="multidelete_table">
		  <table id="multi_delete_list" cellspacing=0>
		 
		 </table>
		  
		  </div>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 550px; margin-left: 100px; margin-top: 40px; margin-bottom: 30px;height:auto;">
		    <button style="float: left;" class="close schedule_btn_263x45_big">Cancel</button>
		    <button style="float: left;margin-left:10px;" class="close schedule_btn_263x45_big">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	
	
	<div class="modal_file" id="delete_file_container">
		<div class="file_delete_header">
			Delete File(s)
		</div>
		
		  <p style="text-align: center; margin-top: 30px; color: #595959; font: 14px Arial" id="delete_file_content" >
		    Are you sure want to delete file? It cannot be undone.
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 550px; margin-left: 100px; margin-top: 40px; margin-bottom: 30px;height:auto;">
		    <button style="float: left;" class="close schedule_btn_263x45_big">Cancel</button>
		  
		    <button style="float: left;margin-left:10px;" class="close schedule_btn_263x45_big" id="btn_delete">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	<button style="display: none;" id="show_delete_error_message" class="show_delete_error_message" rel="#delete_file_error_message"></button>
	<button style="display: none;" id="show_move_error_message" class="show_delete_error_message" rel="#move_file_error_message"></button>
	<div class="modal_file" id="delete_file_error_message">
		<div class="file_delete_header">
			Delete File
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;">
		    No files selected to delete.
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 230px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big" id="btn_cancel">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	<div class="modal_file" id="move_file_error_message">
		<div class="file_delete_header">
			Move File
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;">
		    No files selected to move.
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 230px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big" id="btn_cancel">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
	
	<!-- OVERLAY STOP --> 
	<form id="form_submit" action="" method="post">
		<input type="hidden" name="file_id" id="file_id"/>
	</form>
	<!-- FILES TOP START -->
	<div id="files_top">
		<div id="files_top_left" style="margin-top: 8px;margin-left:5px;">
			FILES
		</div>
		
	</div>
	<!-- FILES TOP END -->
	<div class="files_smallclear"></div>
	<!-- FILES CONTENT START -->
	<div id="files_content">
		<div id="files_content_left" style="float: left;">
			<div class="files_main_button_area">
				<a href="{% url upload_file %}"><button class="btn_file_upload"  style="font-size: 20px;">Upload
						File</button></a>
				<div class="files_smallclear" style="height:4px;"></div>
				<button id="btn_import_from_google" class="btn_file_upload" style="font-size: 20px;">Import
					from Google<sup><span style="font-size: 13px;">&reg;</span></sup></button>
			</div>
			<div class="files_smallclear" style="height:7px;"></div>
			{% include "files/files_jstree_holder.html" %}
			
			<!-- FILE FOLDER START -->
			
			<div class="files_folder_root">
				<h1 class="new_file_block_title" style="text-align: left;width: 210px;">Folders</h1>
				<div class="files_folders_container_menu">
		 		<div class="files_folders_container">
					<div id="jstree_holder" style="height:auto;width:100%;"></div>
					
				</div>
				<div id="mmenu" style="height:30px; overflow:auto;margin-top:5px;">
						<input type="button"  id="add_folder" style="float:left;" class="folder_create_button" value="Folder" />
						<input type="button"  id="rename"  style="float:left;margin-left:5px;" class="folder_rename_button" value="Rename" />
						<input type="button" id="remove"  style="float:left;margin-left:5px;" class="folder_delete_button">
					</div>
					</div>
			</div>
			
			<!-- FILE FOLDER END -->
			
			<div class="files_amount_container"> 
				<div class="files_tinyclear"></div>
				<div style="float:left;width:130px;text-align:left;padding-left:5px">
					<p style="font: 13px Arial, Helvetica, sans-serif;font-weight:bold;color:#595959;line-height: 1.5em">Total Storage</p>
					<p style="font: 12px Arial, Helvetica, sans-serif;color:#868686;line-height: 1.5em">{{ total_file_size }} / {{ limit_file_size }}</p>
				</div>
						
				<div  style="float:right;margin-right:10px;margin-top:3px;">
					<button class="file_small_purble" id="btn_upgrade">{% trans "Upgrade" %}</button>
				</div>
			</div>
		</div>
		<div class="files_search_block_right">
		{%if not helper_file %}
			<div id="files_top_right" style="display:none;">
				<div id="files_top_right_tootip">
					The files sections is where you may upload, manage, and share your files.<br/>
					Use the buttons on the left to upload or import a file. Use the tools further down to search and filter the file list on the right.<br/>
					Using your mouse, roll-over a file and click the arrow button to access the file menu.
				</div>
				
				<div id="files_top_right_close_icon">
					<img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_warning_close.png" />
	    			<img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_question.png" />
				</div>
				
			</div>
		{%endif%}
		{%if messages%}
		<ul id="contact_messages" style="margin-bottom: 0px;">
		    {% for message in messages %}
		    <li><button class="btn_messages_close" onclick="show_then_hide();" style="float:right;margin-right: 5px;"></button></li>
		    <li style="padding-bottom: 12px;">{{ message }}</li>
		    {% endfor %}
  		</ul>
		{%endif%}
		<div class="files_tinyclear"></div>
		
			
		<div class="files_tinyclear"></div>
			<div id="AdvancedSearchID" style="text-align: left;">
			     {% block filter_conferences %}
		            {% with _("Filters") as filter_title %}
		            {% include "files/files_list_filter.html" %}
		            {% endwith %}
		  		{% endblock %}
		  	</div>
	  	<div class="files_tinyclear"></div>
	  	
		</div>
		<div id="files_content_right">
			<div class="files_content_right_top">
			
				
				{%if current_folder.is_trash%}
				<button class="files_action_button" style="margin-right:2px;" onclick="delete_anyway_trash_dialog();">Delete</button>
				<button class="files_undodel_button" style="margin-right:2px;"  onclick="undo_delete_dialog();">Undo Delete</button>
				<button class="files_undodel_button" onclick="$('#confirm_empty_btn').click();">Empty Trash</button>
				{%else%}
				
					{%if not current_folder.is_system or user.is_superuser%}
					<button class="files_action_button open_file" onclick="open_files_from_list();">Open</button>	
				<button class="files_action_button delete_file deletefileclick" rel="#delete_file_container" style="display:none;">Delete Hidden</button>
					<button class="files_action_button" onclick="show_move_dialog();">Move</button>
					<button class="files_action_button delete_file" onclick="show_delete_dialog();">Delete</button>
					<button class="files_action_button" id="btn_all_top">More</button>
				<button class="files_action_button movefile" rel="#move_file_container" style="display:none;">Move Hidden</button>
				<div id="all_files_action_top" class="all_files_action">
					<ul>
						<li><a onclick="download_files_checked();">Download</a></li>
						<li  class="share_parent">
							<div>
							<a href="javascript:void(0);" style="display:inline">Share</a>
							<img src="{{ MEDIA_URL }}contact/images/icon_show_list.png" alt="" style="float: right; padding-right:5px; padding-top:3px;" id="img_show_list">
							</div>
							<div style="clear:both;"></div>
							<div class="share_sub_menu">
		    					<ul>
		    						<li><a onclick="share_linkedin();" href="javascript:void(0)" style="color: #888888!important" >LinkedIn</a></li>
		    						<li><a onclick="share_facebook();" href="javascript:void(0)" style="color: #888888!important" >Facebook&reg;</a></li>
		    						<li><a href="javascript:void(0)" onclick="share_twitter();" style="color: #888888!important" >Twitter&reg;</a></li>
		    						<li><a onclick="share_stumbleupon();" href="javascript:void(0)" style="color: #888888!important">StumbleUpon&reg;</a></li>
		    					 
		    					</ul>
	    					</div>
						
						</li>
						<li><a onclick="edit_multi_files();">Edit</a></li>
						<li  class="share_parent">
							<div>
							<a href="javascript:void(0);" style="display:inline">Mark</a>
							<img src="{{ MEDIA_URL }}contact/images/icon_show_list.png" alt="" style="float: right; padding-right:5px; padding-top:3px;" id="img_show_list">
							</div>
							<div style="clear:both;"></div>
							<div class="share_sub_menu">
		    					<ul>
		    						<li><a onclick="mark_flag_files(1);" href="javascript:void(0)" style="color: #888888!important" >Flagged</a></li>
		    						<li><a onclick="mark_flag_files(0);" href="javascript:void(0)" style="color: #888888!important">UnFlagged</a></li>
		    					 
		    					</ul>
	    					</div>
						
						</li>
						
						
					</ul>
				</div> 
				{%endif%}
				
				
				
				{%endif%}
				
				<div class="files_paging" style="float: right;">
				<div class="paging-dev-left">
					{% if page_obj.has_previous %}
					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page=1{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% else %}<img style="opacity:0.5; filter:alpha(opacity=50);" src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% endif %}
					
					{% if page_obj.has_previous %}
   					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" /></a>{% else %}<img style="opacity:0.5; filter:alpha(opacity=50);" src="{{ MEDIA_URL }}schedule/images/icon_previous.png" />{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   					
   					{{ first_on_page }} &nbsp;- &nbsp;{{ last_on_page }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% if page_obj.has_next %}<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next.png" /></a>{% else %}<img style="opacity:0.5; filter:alpha(opacity=50);" src="{{ MEDIA_URL }}schedule/images/icon_next.png" />{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
					{% if page_obj.has_next %}
					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ pages }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" /></a>
					{% else %}<img style="opacity:0.5; filter:alpha(opacity=50);" src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" />
					{% endif %}
					
					
				</div>
				<div class="paging-dev-right">
				<a style="float:left;padding-top:5px;margin-right:10px;">{% trans "View"%}</a>
					<div class="dropdown-perpage">
					<span>{%if per_page %}{{ per_page }}{%else%}10{%endif%}</span>
					<div class="dropdown-perpage-hidden">
					<a style="{%ifequal per_page 10 %}display:none{%endifequal%}" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page=10{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}">10</a>
					<a style="{%ifequal per_page 25 %}display:none{%endifequal%}" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page=25{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}">25</a>
					<a style="{%ifequal per_page 50 %}display:none{%endifequal%}" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page=50{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}">50</a>
					<a style="{%ifequal per_page 100 %}display:none{%endifequal%}" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page=100{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}">100</a>
					</div>
					
					
					</div>
					<a style="float:left;padding-top:5px;">{% trans "per page"%}</a>
			  </div>
				</div>
			</div>
			<div class="folder_title_holder" style="margin:0;margin-bottom:3px;">
			{% if is_filtered or request.GET.q %}
				<div style="float:left;padding-top:0px;margin-right:5px;">
				<a class="folder_title_a" style="color:#750998!important;">Search Result</a>
				</div>			
			{%else%}
				{{ current_folder.render_absolute_path }}
			{%endif%}
			</div>
						<div class="files_clear files_smallclear" style="height:2px"></div>
			
			<form id="form_delete_submit" action="{% url delete_files %}" method="post">
		            <input id="next" type="hidden" name="next" value="" />
		            {% block table %}
		            {% include "files/files_list_table.html" %}
		            {% endblock %}
			</form>
			<div style="height: 10px;"></div>
			<div class="files_content_right_top">
			
			{%if current_folder.is_trash%}
			<button class="files_action_button" style="margin-right:5px;" onclick="delete_anyway_trash_dialog();">Delete</button>
				<button class="files_undodel_button" style="margin-right:5px;"  onclick="undo_delete_dialog();">Undo Delete</button>
				<button class="files_undodel_button" style="padding:0;margin:0" onclick="$('#confirm_empty_btn').click();">Empty Trash</button>
				
				{%else%}
				
				
				
				
				{%if not current_folder.is_system or user.is_superuser%}
				<button class="files_action_button open_file" onclick="open_files_from_list();">Open</button>
				<button class="files_action_button" onclick="show_move_dialog();">Move</button>
					<button class="files_action_button delete_file" onclick="show_delete_dialog();">Delete</button>
					<button class="files_action_button" id="btn_all_bottom">More</button>
				<div id="all_files_action_bottom" class="all_files_action">
					<ul>
						<li><a onclick="download_files_checked();">Download</a></li>
						<li  class="share_parent">
						<div>
							<a href="javascript:void(0);" style="display:inline">Share</a>
							<img src="{{ MEDIA_URL }}contact/images/icon_show_list.png" alt="" style="float: right; padding-right:5px; padding-top:3px;" id="img_show_list">
							</div>
							<div style="clear:both;"></div>
							<div class="share_sub_menu">
		    					<ul>
		    					<li><a onclick="share_linkedin();" href="javascript:void(0)" style="color: #888888!important">LinkedIn</a></li>
		    						<li><a onclick="share_facebook();" href="javascript:void(0)" style="color: #888888!important" >Facebook&reg;</a></li>
		    						<li><a href="javascript:void(0)" onclick="share_twitter();" style="color: #888888!important" >Twitter&reg;</a></li>
		    						<li><a onclick="share_stumbleupon();" href="javascript:void(0)" style="color: #888888!important">StumbleUpon&reg;</a></li>
		    					</ul>
	    					</div>
						
						</li>
						<li><a onclick="edit_multi_files();">Edit</a></li>
						<li  class="share_parent">
							<div>
							<a href="javascript:void(0);" style="display:inline">Mark</a>
							<img src="{{ MEDIA_URL }}contact/images/icon_show_list.png" alt="" style="float: right; padding-right:5px; padding-top:3px;" id="img_show_list">
							</div>
							<div style="clear:both;"></div>
							<div class="share_sub_menu">
		    					<ul>
		    						<li><a onclick="mark_flag_files(1);" href="javascript:void(0)" style="color: #888888!important" >Flagged</a></li>
		    						<li><a onclick="mark_flag_files(0);" href="javascript:void(0)" style="color: #888888!important">UnFlagged</a></li>
		    					 
		    					</ul>
	    					</div>
						
						</li>
					</ul>
				</div> 
					
				{%endif%}
				
				{%endif%}
				<div class="files_paging" style="float: right;">
				<div class="paging-dev-left">
					{% if page_obj.has_previous %}
					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page=1{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% else %}<img style="opacity:0.5; filter:alpha(opacity=50);" src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% endif %}
					
					{% if page_obj.has_previous %}
   					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" /></a>{% else %}<img style="opacity:0.5; filter:alpha(opacity=50);" src="{{ MEDIA_URL }}schedule/images/icon_previous.png" />{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   					
   					{{ first_on_page }} &nbsp;- &nbsp;{{ last_on_page }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% if page_obj.has_next %}<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next.png" /></a>{% else %}<img style="opacity:0.5; filter:alpha(opacity=50);" src="{{ MEDIA_URL }}schedule/images/icon_next.png" />{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
					{% if page_obj.has_next %}
					<a href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ pages }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" /></a>
					{% else %}<img style="opacity:0.5; filter:alpha(opacity=50);" src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" />
					{% endif %}
					
					
				</div>
				<div class="paging-dev-right">
				<a style="float:left;padding-top:5px;margin-right:10px;">{% trans "View"%}</a>
					<div class="dropdown-perpage">
					<span>{%if per_page %}{{ per_page }}{%else%}10{%endif%}</span>
					<div class="dropdown-perpage-hidden">
					<a style="{%ifequal per_page 10 %}display:none{%endifequal%}" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page=10{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}">10</a>
					<a style="{%ifequal per_page 25 %}display:none{%endifequal%}" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page=25{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}">25</a>
					<a style="{%ifequal per_page 50 %}display:none{%endifequal%}" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page=50{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}">50</a>
					<a style="{%ifequal per_page 100 %}display:none{%endifequal%}" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page=100{% endif %}{%ifequal type "all"%}{%else%}{% generate_get_url "type" type %}{%endifequal%}{% ifequal time "custom" %}&time={{ time }}&from_time={{ from_time }}&to_time={{ to_time }}{% else %}&time={{time}}{% endifequal %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}{% ifequal current_folder.id root_folder.id%}{%else%}&folder={{current_folder.id}}{% endifequal %}">100</a>
					</div>
					
					
					</div>
					<a style="float:left;padding-top:5px;">{% trans "per page"%}</a>
			  </div>
				</div>
			</div>
		</div>
		
	</div>
	<!-- FILES CONTENT STOP -->
</div>
<!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extra_scripts %}

<!-- <script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script> -->
<script type="text/javascript">
var downloadURL = function(url, iframe_id)
{
    var iframe;
    iframe = document.getElementById("hiddenDownloader"+iframe_id);
    if (iframe === null)
    {
        iframe = document.createElement('iframe');  
        iframe.id = "hiddenDownloader"+iframe_id;
        iframe.style.display = 'none';
        document.body.appendChild(iframe);
    }
    iframe.src = url;   
}
initial_overlay_trigger = function(){
	$("#alert_overlay").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#processing_overlay").overlay({
		 
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#confirm_overlay").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#confirm_anyway_overlay").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#confirm_empty_btn").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 	  top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#delete_multi_btn").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 	  top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$("#deleteanyway_multi_btn").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	 	  top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	
	$(".delete_file").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	$(".movefile").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-300,
	      closeOnClick: false
	  });	
	
	$(".show_delete_error_message").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#000',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      top:(screen.availHeight/2)-200,
	      closeOnClick: false
	  });
	
};

initial_button_overlay = function(){
	var buttons_confirm = $("#confirm_container button").click(function(e) {
		var yes = buttons_confirm.index(this);
	 	if(yes == 1) {
	 		$("#jstree_holder").jstree('remove');
	 		//$("#jstree_holder_move").jstree('remove');
	 	}
	});
	var buttons_anyway_confirm = $("#confirm_anyway_container button").click(function(e) {
		var yes = buttons_anyway_confirm.index(this);
	 	if(yes == 1) {
			var that = $("input:checkbox[name='chk_files']:checked:first").parent().parent().find('td:eq(1)');
			var id = that.find('input:first').val();
			$.ajax({
				  url: "{% url empty_trash%}",
				  type: 'POST',
				  data: id,
				  dataType: 'html',
				  success: function(result){
					  window.location.reload();
				  }
			});
			setTimeout(function(){
				$('#processing_overlay').click();
			},500);
	 	}
	});
	
	
	var buttons_empty_confirm = $("#confirm_empty_container button").click(function(e) {
		var yes = buttons_empty_confirm.index(this);
	 	if(yes == 1) {
	 		$.ajax({
	 			url:'{%url empty_trash%}',
	 			type:"POST",
	 			data:"type=all",
	 			success:function(result){
	 				console.log(result);
	 				if(result == 'success')
	 					window.location.reload();
	 			}
	 		});
	 		
	 	}
	});
	
	
	var buttons = $("#delete_file_container button").click(function(e) {
	    // get user input
		var yes = buttons.index(this);
		// if click delete then delete file
	 	if(yes == 1) {
	 		var is_submit = false;
	 		var delete_arrays = new Array();
	 		$("input:checkbox[name='chk_files']").each(function() {
				 if($(this).attr('checked')) {
				 	is_submit = true;
				 	delete_arrays.push($(this).val());
				 }
			 });
	 		if(is_submit == true) {
	 			//$("#form_delete_submit").submit();
	 			$.ajax({
	 				url:'{%url move_files_to_trash%}',
	 				type:'POST',
	 				data:delete_arrays.join('&')+'&current_folder={{current_folder.id}}',
	 				success:function(result){
	 					if(result == 'success'){
	 						window.location.reload();
	 					}
	 				}
	 			})
	 			
	 			return false;
	 		}
	 		else 
	 			//show error message
	 			$('#show_delete_error_message').click();
	 	}
	});
	
	var buttons_multidel = $("#delete_multifile_container button").click(function(e) {
	    // get user input
		var yes = buttons_multidel.index(this);
		// if click delete then delete file
	 	if(yes == 1) {
	 		var is_submit = false;
	 		var delete_arrays = new Array();
	 		$("input:checkbox[name='chk_files']").each(function() {
				 if($(this).attr('checked')) {
				 	is_submit = true;
				 	delete_arrays.push($(this).val());
				 }
			 });
	 		if(is_submit == true) {
	 			//$("#form_delete_submit").submit();
	 			$.ajax({
	 				url:'{%url move_files_to_trash%}',
	 				type:'POST',
	 				data:delete_arrays.join('&')+'&current_folder={{current_folder.id}}',
	 				success:function(result){
	 					if(result == 'success'){
	 						window.location.reload();
	 					}
	 				}
	 			})
	 			
	 			return false;
	 		}
	 		else 
	 			//show error message
	 			$('#show_delete_error_message').click();
	 	}
	});
	
	
	var buttons_multidelanyway = $("#deleteanyway_multifile_container button").click(function(e) {
	    // get user input
		var yes = buttons_multidelanyway.index(this);
		// if click delete then delete file
	 	if(yes == 1) {
	 		var anyway_deletes = new Array();
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var that = $(this).parent().parent().find('td:eq(1)');
				var id = that.find('input:first').val();
				anyway_deletes.push(id);
			});
			$.ajax({
				  url: "{% url empty_trash%}",
				  type: 'POST',
				  data: anyway_deletes.join('&'),
				  dataType: 'html',
				  success: function(result){
					  window.location.reload();
				  }
			});
			setTimeout(function(){
				$('#processing_overlay').click();
			},500);
	 	}
	});
	
	var buttons_move = $("#move_file_container button").click(function(e) {
	    // get user input
		var yes = buttons_move.index(this);
		// if click delete then delete file
	 	if(yes == 1) {
	 		move_files_to_folder();
	 	}
	});
};
show_then_hide = function(){
	$('#contact_messages').fadeOut();
};
$(document).ready(function() {
		{% if messages %}
		$('#contact_messages').fadeIn();
		setTimeout(function(){ 
			$('#contact_messages').fadeOut();
			}, 5000);		
		{% endif %}
		initial_overlay_trigger();
		initial_button_overlay();
		var pathname =  window.location.href;
		var relative_path =  document.location.pathname;
		$('#next').val(pathname);
		
		
		$('.dropdown-perpage').hover(function(){
			$(this).find('.dropdown-perpage-hidden').show();
		},function(){
			$(this).find('.dropdown-perpage-hidden').hide();
		});
		
		
		$("input:checkbox[name='chk_files']").each(function() {
			 $(this).attr('checked', false);
		 });
		
		$('.flag').click(function(){
			var that = $(this);
			var id = that.find('input:first').val();
			var flag = 0;
			if(that.hasClass('inactive_flag'))
				var flag = 1;	
			$.ajax({
				  url: "/files/changeFlags?"+id+"&flag="+flag,
				  type: 'GET',
				  dataType: 'html',
				  success: function(html){
					  if(html == 'success'){
							if(flag==0){
								that.removeClass('active_flag').addClass('inactive_flag');
							}else{
								that.removeClass('inactive_flag').addClass('active_flag');
							}						  
					  }else{
						 
					  }
				  }
				});
		});
		
		
		$('#btn_all_top').click(function(){
			$('#all_files_action_top').show();
		});
		
		$('#btn_all_bottom').click(function(){
			$('#all_files_action_bottom').fadeIn();
		});
		$('.share_parent').mouseenter(function(){
			$(this).find('.share_sub_menu').show();
		});
		
		$('.share_parent').mouseleave(function(){
			$(this).find('.share_sub_menu').hide();
		});
		
		$('#all_files_action_top').mouseleave(function(){
			$('#all_files_action_top').hide();
		});
		
		$('#all_files_action_bottom').mouseleave(function(){
			$('#all_files_action_bottom').hide();
		}); 
		$('#btn_import_from_google').click(function(){
			//window.open("/integrate/google_docs/import/","_blank","scrollbars=1, width=750,height=600");
			window.location = '/googledriver/importfile/';
		});
		
		$('.schedule_search_close').click(function(){
			//$('#textfield').attr('value','');
			///$('#textfield').focus();
			window.location = '{%url my_files %}';
		});
		$('.schedule_warning_close').click(function(){
			
			$.ajax({
				url:'{%url hide_helper_session%}',
				type:'POST',
				data:'type=file',
				success:function(result){
					if(result == 'success')
					$('#files_top_right').hide('slow');
				}
			});
		});
		 
		 $('#lbl_chk_all').click(function(){
			 var  that = $(this);
			 if(that.hasClass('files_type_checked')) {
				 that.removeClass('files_type_checked').addClass('files_type_uncheck');;
				
				$('.select_row_class').each(function(){
					if($(this).hasClass('active_row'))
						select_row_toggle($(this));
				});
				
			}else {
				that.removeClass('files_type_uncheck').addClass('files_type_checked');;
				
				$('.select_row_class').each(function(){
					if(!$(this).hasClass('active_row'))
						select_row_toggle($(this));
				});
			}
		 }); 
		 
	});

has_any_checked = function(){
	var is_submit = 0;
		$("input:checkbox[name='chk_files']").each(function() {
		 if($(this).attr('checked')) {
		 	is_submit ++;
		 }
	 });
	return is_submit;
}	
	
	
move_files_to_folder = function(){
		var is_submit = false;
		var upload_files = new Array();
 		$("input:checkbox[name='chk_files']").each(function() {
			 if($(this).attr('checked')) {
			 	is_submit = true;
			 	upload_files.push($(this).val());
			 }
		 });
 		if(is_submit == true) {
 			var folder_move_id = null;
 			
 			var selected_node = $('#jstree_holder_move').find('.jstree-clicked').html();
		   if(selected_node!=null) {
				var s_node = $('#jstree_holder_move').find('.jstree-clicked');
				if(s_node.length>1){
					alert('You only select one folder to upload file!!!');
					return false;
				}else{
					folder_move_id = s_node.parent().attr('id');
				}
				
			}else{
				alert('Please select a folder to move file(s)');
				return false;
			}
 			
			 $.ajax({
				url:'/files/move_file_to_folder?'+upload_files.join('&')+'&folder_id='+folder_move_id,
				type:'GET',
				dataType:'html',
				success:function(result){
					if(result=='success') window.location.reload();
				}
			 
			 });
 			return false;
 		}
 		else 
 			//show error message
 			$('#show_move_error_message').click();
	};
	open_files_from_list = function(){
		if(has_any_checked() == 0){
			$('#show_open_error_message').click();
			return false;
		}
		if(has_any_checked() == 1){
			var url = $("input:checkbox[name='chk_files']:checked:first").parent().parent().find('td:eq(2)').find('span:first').html();
			window.location = url;
			return false;
		}
		$("input:checkbox[name='chk_files']:checked").each(function(){
			var url = $(this).parent().parent().find('td:eq(2)').find('span:first').html();
			window.open(url,'_blank');
		});
		
	};
	
	show_move_dialog = function(){
		if(has_any_checked()==0){
			$('#show_move_error_message').click();
		}else if(has_any_checked()==1){
			var title = $("input:checkbox[name='chk_files']:checked:first").parent().parent().find('td:eq(2)').find('p:first').html();
			
			$('#move_file_title').html('Move '+((title.length < 60) ? title: (title.substring(0,60) + '...'))+' to:');
			$('.movefile').click();
			initialize_tree('jstree_holder_move','mmenu_move','/files/getMoveTree');
		}else{
			$('#move_file_title').html('Move File(s) to:');
			$('.movefile').click();
			initialize_tree('jstree_holder_move','mmenu_move','/files/getMoveTree');
		}
	};
	
	show_delete_dialog = function(){
		if(has_any_checked()==0){
			$('#show_delete_error_message').click();
		}else if(has_any_checked()==1){
			
			var title = $("input:checkbox[name='chk_files']:checked:first").parent().parent().find('td:eq(2)').find('p:first').html();
			//$('#delete_file_content').html('Are you sure want to move '+((title.length < 30) ? title: (title.substring(0,30) + '...'))+' to trash.');
			$('#delete_file_content').html('Are you sure want to delete "'+title+'"?');
			$('.deletefileclick').click();
		}else{
			var str = '';
			$("input:checkbox[name='chk_files']:checked").each(function() {
						var icon_file = $(this).parent().parent().find('td:eq(3)').html();
						var title_file = $(this).parent().parent().find('td:eq(2)').find('p:first').html();
						str+='<tr><td width="50px">'+icon_file+'</td><td>'+title_file+'</td></tr>'	
									 	
			 });
			$('#multi_delete_list').html(str);
			$('#delete_multi_btn').click();
		}
	};
	download_files_checked = function(){
		if(has_any_checked()==0){
			$('#alert_title').html('File(s) Download');
			$('#alert_message').html('No file(s) selected to download.');
			$('#alert_overlay').click();
		}else{
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var url = $(this).parent().find('span:first').html();
				var iframe_id = $(this).val();
				downloadURL(url, iframe_id);
			});
			
		}
	};
	
	function share_facebook() {
		if(has_any_checked()==0){
			$('#alert_title').html('Share Facebook');
			$('#alert_message').html('No file(s) selected to share.');
			$('#alert_overlay').click();
		}else{
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var url = 'http://{{bucket}}'+$(this).parent().parent().find('td:eq(2)').find('span:first').html();
				var sharer = "https://www.facebook.com/sharer/sharer.php?u=";
				window.open(sharer + encodeURIComponent(url), '_blank');
			});
			
		}
		
	}
	function share_twitter() {
		if(has_any_checked()==0){
			$('#alert_title').html('Share twitter');
			$('#alert_message').html('No file(s) selected to share.');
			$('#alert_overlay').click();
		}else{
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var url = 'http://{{bucket}}'+$(this).parent().parent().find('td:eq(2)').find('span:first').html();
				var sharer = "https://twitter.com/share?url=";
				window.open(sharer + encodeURIComponent(url), '_blank');
			});
			
		}
		
	}
	function share_linkedin() {
		if(has_any_checked()==0){
			$('#alert_title').html('Share Linkedin');
			$('#alert_message').html('No file(s) selected to share.');
			$('#alert_overlay').click();
		}else{
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var url = encodeURIComponent('http://{{bucket}}'+$(this).parent().parent().find('td:eq(2)').find('span:first').html());
				var title = encodeURIComponent($(this).parent().parent().find('td:eq(2)').find('p:first').html());
				var description = encodeURIComponent($(this).parent().parent().attr('tooltip'));
				
				var sharer = "http://www.linkedin.com/shareArticle?mini=true";
				var params = '';
				params += '&url='+url;
				params += '&articleTitle='+title;
				params += '&summary='+description;
				window.open(sharer+params, '_blank');
			});
			
		}
		
	}
	function share_stumbleupon() {
		if(has_any_checked()==0){
			$('#alert_title').html('Share StumbleUpon');
			$('#alert_message').html('No file(s) selected to share.');
			$('#alert_overlay').click();
		}else{
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var url = encodeURIComponent('http://{{bucket}}'+$(this).parent().parent().find('td:eq(2)').find('span:first').html());
				
				var sharer = "http://www.stumbleupon.com/submit?";
				var params = '';
				params += '&url='+url;
				window.open(sharer+params, '_blank');
			});
			
		}
		
	}
	
	function getURL_withparams(url){
		var pathExtract = /^[a-z]+:\/\/\/?[^\/]+(\/[^]*)/i;
		var thisUrl = (pathExtract.exec(url))[1];
		return thisUrl;
	};
	
	function edit_multi_files() {
		if(has_any_checked()==0){
			$('#alert_title').html('Edit File(s)');
			$('#alert_message').html('No file(s) selected to edit.');
			$('#alert_overlay').click();
		}
		else if(has_any_checked()==1){
				var urlhash = $("input:checkbox[name='chk_files']:checked:first").parent().parent().find('td:last').find('a:first').html();
				if($("input:checkbox[name='chk_files']:checked:first").val().indexOf('folder') == -1)
				{
					var url = '/files/edit/'+urlhash+'?next='+encodeURIComponent(getURL_withparams(window.location.href));
					window.location = url;
				}else{
					$('#alert_title').html('Edit File(s)');
					$('#alert_message').html('No file(s) selected to edit.');
					$('#alert_overlay').click();
					return false;
				}
		}
		else{
			var array_urlhash = new Array();
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var urlhash = 'file='+$(this).parent().parent().find('td:last').find('a:first').html();
				if($(this).val().indexOf('folder')==-1)
					array_urlhash.push(urlhash);
			});
			if(array_urlhash.length ==0){
				$('#alert_title').html('Edit File(s)');
				$('#alert_message').html('No file(s) selected to edit.');
				$('#alert_overlay').click();
				return false;
			}else{
				var url = '/files/multiedit/?'+array_urlhash.join('&')+'&next='+encodeURIComponent(getURL_withparams(window.location.href));
				window.location = url;
			}
		}
		
	}
	var flag_change_mark = 0;
	mark_flag_files = function(flag){
		/* var flag = (flag_change_mark==1)?0:1;
		flag_change_mark=(flag_change_mark==1)?0:1; */
		if(has_any_checked()==0){
			$('#alert_title').html('Mark File(s)');
			$('#alert_message').html('No file(s) selected to mark.');
			$('#alert_overlay').click();
		}else{
			var change_flags = new Array();
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var that = $(this).parent().parent().find('td:eq(1)');
				var id = that.find('input:first').val();
				change_flags.push(id);
			});
			$.ajax({
				  url: "/files/changeFlags?"+change_flags.join('&')+"&flag="+flag,
				  type: 'GET',
				  dataType: 'html',
				  success: function(html){
					  if(html == 'success'){
						  $("input:checkbox[name='chk_files']:checked").each(function(){
								var that = $(this).parent().parent().find('td:eq(1)');
								if(flag==0){
									that.removeClass('active_flag').addClass('inactive_flag');
								}else{
									that.removeClass('inactive_flag').addClass('active_flag');
								}	
							});
												  
					  }else{
						 
					  }
				  }
				});
			
		}
		
	};
	
	
	undo_delete_dialog = function(){
		
		if(has_any_checked()==0){
			$('#alert_title').html('Undo delete');
			$('#alert_message').html('No file(s) selected to undo.');
			$('#alert_overlay').click();
		}else {
			var undo_deletes = new Array();
			$("input:checkbox[name='chk_files']:checked").each(function(){
				var that = $(this).parent().parent().find('td:eq(1)');
				var id = that.find('input:first').val();
				undo_deletes.push(id);
			});
			$.ajax({
				  url: "/files/undo_delete_from_trash?"+undo_deletes.join('&'),
				  type: 'GET',
				  dataType: 'html',
				  success: function(html){
					  if(html =='success')
						  window.location.reload();
				  }
			});
		}
		
	};
	
	delete_anyway_trash_dialog = function(){
		if(has_any_checked()==0){
			$('#alert_title').html('Delete file(s)');
			$('#alert_message').html('No file(s) selected to delete.');
			$('#alert_overlay').click();
		}else if(has_any_checked()==1){
			var title = $("input:checkbox[name='chk_files']:checked:first").parent().parent().find('td:eq(2)').find('p:first').html();
			$('#deleteanyway_file_content').html('Are you sure want to delete "'+title+'"? It cannot be undone.');
			$('#confirm_anyway_overlay').click()
		}else{
			var str = '';
			$("input:checkbox[name='chk_files']:checked").each(function() {
						var icon_file = $(this).parent().parent().find('td:eq(3)').html();
						var title_file = $(this).parent().parent().find('td:eq(2)').find('p:first').html();
						str+='<tr><td width="50px">'+icon_file+'</td><td>'+title_file+'</td></tr>'	
									 	
			 });
			$('#multi_deleteanyway_list').html(str);
			$('#deleteanyway_multi_btn').click();
		}
		
	};
	
</script>
{% endblock %}
