{% extends "newer_base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{{ page_title }}{% endblock %}
{% block content %}

<div class="contact_page">
    <div class="left">
		<h1 class="purple"><img src="{{MEDIA_URL}}images/new_contact_title.png" alt="" /></h1>
		<br/>
		<table border="0" cellpadding="0" cellspacing="0" class="common">
			<th>General Inquiry</th>
			<tr >
				<td class="pad20">
					<form method="post" action=".">
                        {% if form.name.errors %}
                            {{form.name.errors}}
                        {% endif %}
						<label for="id_name" class="block" >Your Name:</label>
                        {{form.name}}
                        {% if form.email.errors %}
                            {{form.email.errors}}
                        {% endif %}
						<label for="id_email" class="block" >Your Email:</label>
                        {{form.email}}
                        {% if form.phone.errors %}
                            {{form.phone.errors}}
                        {% endif %}
						<label for="id_phone" class="block" >Your Phone Number:</label>
                        {{form.phone}}
                        {% if form.body.errors %}
                            {{form.body.errors}}
                        {% endif %}
						<label for="id_body" class="block" >Your Message:</label>
                        {{form.body}}
						<input type="submit" value="Send" class="buttonGreen right_fl"  />
					</form>
				</td>
			</tr>
		</table>
  </div>
	<div class="right"> 
	<br/>
	<h1 class="purple">&nbsp;</h1>
		<table border="0" cellpadding="0" cellspacing="0" class="common">
			<th>Call Us Toll-Free</th>
			<tr >
				<td class="pad20">
					<h1>1-855-856-8855</h1>
				</td>
			</tr>
		</table>
<br/>
		<table border="0" cellpadding="0" cellspacing="0" class="common">
			<th>E-mail</th>
			<tr >
				<td class="pad20">
					<h3 class="dark_grey">Sales:  <a href="mailto:sales@netconference.com" class="purple" style="text-decoration:none;">sales@netconference.com</a></h3>
				</td>
			</tr>
		</table>
<br/>
		<table border="0" cellpadding="0" cellspacing="0" class="common">
			<th>Technical Support</th>
			<tr >
				<td class="padtech">
					<h3 class="dark_grey">Please visit the <a href="http://support.netconference.com/" class="purple">Support Page</a> to view
tutorials, search the knowledge base,
submit a support ticket, and get live
chat assistance.</h3>
				</td>
			</tr>
		</table>
		
  </div>
	<div class="clear"></div>
	<br/>
	<table border="0" cellpadding="0" cellspacing="0" class="common">
			<th>Send Us Feedback</th>
			<tr >
				<td class="pad20">
					<p class="center">We are always looking for ways to make NetConference the best that it can be for our users and a big part of that is hearing experiences from people like you. <br/>
Thanks so much for taking the time to reach out and let us know what you are seeing and what you think we could improve to make the NetConference system better.</p><br/>
				
				<textarea name="message" id="message" cols="20" rows="6" class="textfield_contact" ></textarea>
				<input type="submit" value="Submit Feedback" class="buttonGreen right_fl" />
				</td>
			</tr>
		</table>
<br/>
		<br/>
	</div>


{% endblock %}
{% block extrafooterscript %}
<script>
$(document).ready(function(){
    $("#id_body").attr("cols", 20);
    $("#id_body").attr("rows", 6);
})
</script>
{% endblock %}
