{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Contact Us" %}{% endblock %}

{% block body %}

<div class="span-9 prefix-8">
	<h2>Thank You!</h2>
	
	<div class="success"><img src="{{ MEDIA_URL }}img/icons/tick.png" alt=""> &nbsp; &nbsp;<strong>Your message was sent.</strong></div>

	<div class="infoBox">
	    Thank you for your interest in NetConference.<br />
	    We will get back to you as soon as possible!
	</div>

</div>
<hr style="visibility:hidden" />
<br /><br />

{% endblock %}