{% extends "conferencing/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Plugin Test Page{% endblocktrans %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
{% endblock %}

{% block subnav %}{% endblock %}

{% block body %}

<center>
<div class="ui-dialog ui-widget ui-widget-content ui-corner-all" style="overflow: hidden; display: block; outline-color: -moz-use-text-color; outline-style: none; outline-width: 0px; height: auto; width: 425px;">
    <div style="-moz-user-select: none;" unselectable="on" class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span style="-moz-user-select: none;" unselectable="on" id="ui-dialog-title-wizard_panel" class="ui-dialog-title">Webcam and Microphone Setup Wizard</span>
    </div>
    
    <div id="wizard_panel" class="dialog ui-dialog-content ui-widget-content" style="height: 302px; min-height: 112px; width: auto;">
	    <div id="wizard"></div>
    </div>
</div>

<br /><br />
<a href="http://www.javatester.org/enabled.html" target="_blank" class="button" style="float:none;">Java Tester</a>

</center>
<br /><br /><br />

{% endblock %}

{% block extra_body %}
<script src="{{ MEDIA_URL }}js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>

<script type="text/javascript">
flashembed("wizard", {
    src: "{{ MEDIA_URL }}swf/miccamwizard_help.swf",
    version: [10, 0],
    wmode: 'opaque',
    expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
});
</script>
{% endblock %}

{% block extra_jquery %}
	
    {# $('#wizard_panel').dialog({ #}
    {#         width: 425, #}
    {#         height: 340, #}
    {#         title: 'Webcam and Microphone Setup Wizard', #}
    {#         resizable: false #}
    {#     }); #}

{% endblock %}
