{% extends "conferencing/base.html" %}

{% load file_tags %}
{% load extra_tagging_tags %}
{% load timezone_filters %}

{% load i18n %}

{% block head_title %}{% blocktrans %}My Conferences{% endblocktrans %}{% endblock %}

{% block body %}
    
    {% if is_paginated %}
         <p class="files_paging">
         {% if page_obj.has_previous %}
         <a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}">&laquo; Prev</a>
         {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         {% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}">Next &raquo;</a>
         {% endif %}
         </p>
    {% endif %}
    {% if object_list %}
    
    <h1 class="items_list_top">
        {% ifequal page_title "Public Conference Search" %}
        <form id="list_search" method="get" action="/conferencing/search/public/">
            <input type="text" id="list_search_input" class="list_search" name="q" value="search public conferences" />
            <button type="submit" class="list_search_btn" id="list_search_btn">
                <img src="{{ MEDIA_URL }}img/btn_go_light.png" width="29" height="20" alt="search" title="search" />
            </button>
        </form>
        {% else %}
        <form id="list_search" method="get" action="/conferencing/search/">
            <input type="text" id="list_search_input" class="list_search" name="q" value="search my conferences" />
            <button type="submit" class="list_search_btn" id="list_search_btn">
                <img src="{{ MEDIA_URL }}img/btn_go_light.png" width="29" height="20" alt="search" title="search" />
            </button>
        </form>
        {% endifequal %}
        {% block conference_title %}
        {% trans "My Conferences" %}
        {% endblock %}
    </h1>
    
    {% block conferencetable %}
    <table class="items_list" width="870" cellspacing="0">
    	<tr class="items_list_def">
    		<td width="415">Conference Title</td>
    		<td width="20"></td>
    		<td width="45" style="text-align:center;">Status</td>
    		<td width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    		<td width="70" style="text-align:center;">Date</td>
    		<td width="100" style="text-align:center;">Moderator</td>
    		<td width="110"></td>
    		<td width="40"></td>
    	</tr>
    {% for conference in object_list %}
    	<tr class="items_list_row {% cycle 'row1' 'row2' %}">
    		<td class="items_list_title">
    		    <a href="{{conference.get_absolute_url}}" class="listTitle">{{ conference.title }}</a>
    		</td>
    		<td></td>
    		<td><img src="{{ MEDIA_URL }}img/{{ conference.private|vidprivacy }}.png" border="0" class="privacy_lock" /></td>
    		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        	<td>{{ conference.start|localtime:account.timezone|date:"m/j/y" }}<br />{{ conference.start|localtime:account.timezone|date:"P" }}</td>
        	<td><a href="{% url user_dashboard conference.creator %}">{{ conference.creator }}</a></td>
        	<td>
        	    {% ifequal conference.creator request.user  %}
        	       <a href="{{ conference.get_absolute_url }}" class="button caps" style="position:relative;top:4px;">details</a>
        	    {% endifequal %}
        	</td>
		{% if allow_join %}
        	<td><a href="{{ conference.get_conference_url }}" class="button caps" style="position:relative;top:4px;" onclick="javascript:window.open('{{ conference.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,fullscreen=yes,titlebar=no,personalbar=no,dialog=yes,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;">join</a></td>
		{% else %}
		<td><a href="/subscription/" class="button caps" style="position:relative;top:4px;">Upgrade</td>
		{% endif %}
        </tr>
    {% endfor %}
    </table>
    {% endblock %}
    
    {% else %}
    {% block events %}
        <h1 class="hdr_fancy prefix-1">No events are scheduled.</h1><div class="hdr_fancy_bot">&nbsp;</div><br />
    {% endblock %}
    {% endif %}

    {% if is_paginated %}
         <p class="files_paging">
         {% if page_obj.has_previous %}
         <a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}">&laquo; Prev</a>
         {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         {% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}">Next &raquo;</a>
         {% endif %}
         </p>
    {% endif %}
{% endblock %}

{% block extra_jquery %}

var searchVal = $("#list_search_input").val();
$("#list_search_input").focus(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == searchVal){
        $(this).val("");
        $("#list_search_input").css("color","#333333");
    }
});
$("#list_search_input").blur(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == ""){
        $(this).val(searchVal);
        $("#list_search_input").css("color","#777777");
    }
});
$("#list_search").submit(function(){
    var currentVal = $("#list_search_input").val();
    if(currentVal == "search my conferences"){
        return false;
    }
});
    
{% endblock %}
