{% extends "conferencing/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Conference{% endblocktrans %}{% endblock %}

{% block body %}
    <div id="conference"></div>
{% endblock %}


{% block extra_body %}
    <script>
    flashembed("conference", {
        src: "{{ MEDIA_URL }}swf/conference.swf",
        version: [10, 0],
        expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
    }, {
        oid: '{{ object.creator }}',
        uid: '{{ user }}'
    });
    </script>
{% endblock %}