{% load conference_tags %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% trans "NetConference: Login to Conference" %}</title>
<style type="text/css">
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #0D0D0D;
}
.signinwrapper {
	width: 667px;
	margin: 0 auto;
}
.boxtop {
	background-image: url({{ MEDIA_URL }}new/images/boxtop.png);
	float: left;
	height: 11px;
	width: 667px;
}
.boxmiddle {
	float: left;
	width: 667px;
	background-image: url({{ MEDIA_URL }}new/images/boxmiddle.png);
}
.boxbottom {
	background-image: url({{ MEDIA_URL }}new/images/boxbottom.png);
	float: left;
	height: 11px;
	width: 667px;
}
.firsttitle {
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #5B1377;
	width: 604px;
}
.undershade {
	background-image: url({{ MEDIA_URL }}new/images/underlineshade.png);
	float: left;
	height: 10px;
	width: 633px;
	margin-top: 7px;
	margin-left: 17px;
}
.registerform {
	float: left;
	margin-top: 23px;
	margin-left: 30px;
	width: 604px;
}
.topline {
	float: left;
	height: 30px;
	width: 604px;
}
.bottomline {
	float: left;
	height: 30px;
	width: 604px;
	margin-top: 10px;
}
.instructions {
	float: left;
	height: 15px;
	width: 140px;
	margin-top: 5px;
	color: #595959;
	font-size: 12px;
}
.textbox {
	float: left;
	height: 30px;
}
.secondtitle {
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	font-size: 20px;
	color: #5B1377;
	width: 604px;
}
.alreadymember {
	float: left;
	font-weight: bold;
}
.subtitle {
	float: left;
	height: 15px;
	margin-top: 7px;
	font-size: 12px;
	margin-left: 5px;
	color: #595959;
}
.loginwrapper {
	float: right;
	height: 70px;
	width: 230px;
	margin-top: 1px;
	margin-right: 25px;
	margin-bottom: 8px;
}
.joinbutton {
	float: left;
	height: 48px;
	width: 268px;
	margin-top: 20px;
	margin-left: 200px;
}
.forgotpassword {
	float: right;
	width: 230px;
	text-align: right;
	font-size: 12px;
	text-decoration: underline;
}
.forgotpassword a {
	color: #5B1377;
}
.loginbutton {
	float: right;
	height: 48px;
	width: 227px;
	margin-top: 7px;
}
.buttonPurple {
    display: block;
    width: 227px;
    height: 48px;
    background: transparent url({{ MEDIA_URL }}new/images/bt_blank_purple_button.png) 0px 0px no-repeat;
    margin: 0 auto;
    color: white;
    font-size: 22px;
    border:0px; 
    cursor:pointer;
}

.buttonPurple:hover {
    background-position: 0px -48px;
}

.buttonGreen {
    display: block;
    width: 227px;
    height: 48px;
    background: transparent url({{ MEDIA_URL }}new/images/bt_blank_green_button.png) 0px 0px no-repeat;
    margin: 0 auto;
    color: white;
    font-size: 22px;
    border:0px; 
    cursor:pointer;
}

.buttonGreen:hover {
    background-position: 0px -48px;
}
.textinput {
    width:400px;
    margin-left:4px;
    margin-top:2px; 
    border-left: 2px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 2px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
.errorlist { margin: 0px; padding:0px; list-style: none; color:red; }
</style>
</head>

<body>
<div class="signinwrapper"><div class="boxtop"></div><div class="boxmiddle">
  <div class="firsttitle">{% blocktrans %}Welcome to NetConferece&trade; Your Office in the Cloud&trade;<br /> Sign into this NetConference below...{% endblocktrans %}</div>
  <div class="undershade"></div>
  <div class="registerform">
    <form method="post" id="screenForm" action=".">
    <div class="topline">
      <div class="instructions">{% trans "Enter a Screen name:" %}</div>
      <div class="textbox">
        <label for="screen_name"></label>
        <input name="screenname" type="text" id="screen_name" size="50" class="textinput" />
      </div>
    </div><div class="bottomline">
      <div class="instructions">{% trans "Enter an Email:" %}</div>
      <div class="textbox">
        <label for="id_email"></label>
        <input name="email" type="text" id="id_email" size="50" class="textinput" />
	<input type="hidden" name="anonymous" value="{{ anonymous_token }}" id="anonymous_token" />
      </div>
    </div>
    <div class="loginbutton">
      <input type="submit" class="buttonGreen" value="{% trans "Join" %}" />
    </div>
    </form>
  </div>
  <div class="secondtitle">
    <div class="alreadymember">{% trans "Already a Member?" %}</div>
    <div class="subtitle">{% trans "Log into this meeting using your account and have access to all your files" %}</div>
  </div>
  <div class="undershade"></div>
<div class="registerform">
    <form method="post" id="loginForm" action=".">
    <div class="topline">
      <div class="instructions">{% trans "Username:" %}</div>
      <div class="textbox">
        <label for="id_username"></label>
        <input name="username" type="text" id="id_username" size="50" class="textinput" />
      </div>
    </div><div class="bottomline">
      <div class="instructions">{% trans "Password:" %}</div>
      <div class="textbox">
        <label for="id_password"></label>
        <input name="password" type="password" id="id_password" size="50" class="textinput" />
      </div>
    </div>   
    <div class="loginwrapper">
    <div class="forgotpassword"><a href="{% url acct_passwd_reset %}">{% trans "Forgot Password?" %}</a></div>
    <div class="loginbutton"><input type="submit" class="buttonPurple" value="{% trans "Login" %}" /></div>
  </div>   
    </form>
  </div>
  
</div><div class="boxbottom"></div>
<div class="joinbutton"><input type="button" class="buttonGreen" value="{% trans "Join NetConference" %}" onclick="signUp();" /></div>
</div>
<script src="{{ MEDIA_URL }}js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
<script type="text/javascript">
  function signUp() {
    window.location.href = "{% url subscription_list %}";
  }

  $(document).ready(function() {
    $("#screenForm").submit(function(){
      var sn = $("#screen_name").val();
      if(sn == ""){
        alert("{% blocktrans %}Please enter a screen name before you continue.{% endblocktrans %}");
        return false;
      }
      
    });
  });
</script>
</body>
</html>
