{% extends "conferencing/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Conference{% endblocktrans %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
{% endblock %}

{% block subnav %}
    	<ul class="subnav">
    		<li class="current"><a href="">Now In Session</a></li>
    		<li><a href="{% url my_conferences %}">{% trans "My Conferences" %}</a></li>
    		<li><a href="{% url conferencing_add %}">{% trans "Create Conference" %}</a></li>
            {# <li><a href="{% url conferences_public %}">{% trans "Public Conferences" %}</a></li> #}
    		<li><a href="{% url my_calendar %}">{% trans "Calendar" %}</a></li>
        </ul>
{% endblock %}

{% block body %}
    <h1>{% trans "Edit Your Conference" %}</h1>
    <h3>Moderator: {{ user }}</h3>
    <form accept="." method="post">
        <div class="span-8 prefix-4">
        	<div>{{ conference_form.title.errors }}</div>
            <label for="id_title">Conference Title:</label><br />
        	{{ conference_form.title }}<br /><br />
        	<div>{{ conference_form.tags_string.errors }}</div>
            <label for="id_tags_string">Tags: <span class="small" style="color:#aaa;"><em>ex: "work presentation newyork"</em></span></label><br />
        	{{ conference_form.tags_string }}<br /><br />
    	</div>
    	<div class="span-8">
        	<div>{{ conference_form.date.errors }}</div>
        	<label for="id_date_0">Date &amp; Time: <span class="small" style="color:#aaa;"><em>ex: 10/25/2009, 14:30</em></span></label><br />
        	{{ conference_form.date }}
        	{# <label for="id_date_0">Date: <span class="small" style="color:#aaa;"><em>ex: 10/25/2009</em></span></label><br /> #}
        	{#         <input name="date_0" id="id_date_0" type="text"><br /><br /> #}
        	{#         <label for="id_date_1">Time: <span class="small" style="color:#aaa;"><em>24-hr format, ex: 14:30</em></span></label><br /> #}
        	{#         <input name="date_1" id="id_date_1" type="text"> #}
    		<div>{{ conference_form.private.errors }}</div><br />
    	    <label for="id_private">Private Conference - not posted publicly</label>
    	    {{ conference_form.private }}<br /><br />
    		<a href="{% url my_conferences %}" class="button">
        	  <img src="{{ MEDIA_URL }}img/silk/cross.png" alt="" /> Cancel
        	</a>
    		<button type="submit" class="button positive">
                <img src="{{ MEDIA_URL }}img/silk/tick.png" alt="" /> Save changes
        	</button><br />
    	
        	<br /><br />
		</div>
	</form>
	<hr class="hide" />
	<div class="span-8 prefix-12">
    	<form accept="." method="post" id="item_delete">
    	    <input type="hidden" name="delete" value="delete" />
    	    <button type="submit" class="button negative" id="btn_delete">
    	        <img src="{{ MEDIA_URL }}img/silk/delete.png" alt=""> Delete this conference</a>
    	    </button><br /><br /><br /><br /><br />
    	</form>
	</div>
	<br />
	<div id="dialog" title="Delete this conference?" style="display:none;">
    	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>The conference will be permanently deleted and cannot be recovered.<br />Are you sure?</p>
    </div>
    
{% endblock %}

{% block extra_body %}
<script src="{{ MEDIA_URL }}js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery.timepickr.min.js" type="text/javascript"></script>
{% endblock %}

{% block extra_jquery %}

$('#id_date_0').datepicker();
$('#id_date_1').timepickr();
$('#btn_delete').click(function(){
    $('#dialog').dialog('open');
    return false;
});
$('#dialog').dialog({
    autoOpen: false,
    modal: true,
    overlay: {
        backgroundColor: '#fff',
        opacity: 0.7
    },
    buttons: {
        'Yes, delete conference': function(){
            $(this).dialog('close');
            $('#item_delete').submit();
        },
        Cancel: function() {
            $(this).dialog('close');
            return false;
        }
    }
});

{% endblock %}