{% load conference_tags %}{% load file_tags %}{% load case_tag %} {% load i18n %}
<head>
<title></title>
<meta name="google" value="notranslate" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Include CSS to eliminate any default margins/padding and set the height of the html element and 
             the body element to 100%, because Firefox, or any Gecko based browser, interprets percentage as 
             the percentage of the height of its parent container, which has to be set explicitly.  Fix for
             Firefox 3.6 focus border issues.  Initially, don't display flashContent div so it won't show 
             if JavaScript disabled.
        -->
<style type="text/css" media="screen">
html,body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow: auto;
	text-align: center;
	background-color: #000000;
}

object:focus {
	outline: none;
}

#flashContent {
	display: none;
}
</style>

<!-- Enable Browser History by replacing useBrowserHistory tokens with two hyphens -->
<!-- BEGIN Browser History required section -->
<link rel="stylesheet" type="text/css"
	href="{{ MEDIA_URL }}swf/history/history.css" />
<script type="text/javascript"
	src="{{ MEDIA_URL }}swf/history/history.js"></script>
<!-- END Browser History required section -->

<script type="text/javascript" src="{{ MEDIA_URL }}swf/swfobject.js"></script>
<script type="text/javascript">
	// For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. 
	var swfVersionStr = "10.2.0";
	// To use express install, set to playerProductInstall.swf, otherwise the empty string. 
	var xiSwfUrlStr = "{{ MEDIA_URL }}swf/playerProductInstall.swf";
	var flashvars = {};
	flashvars.screenname = '{{ screenname }}';
	flashvars.type = '{{ type }}';
	flashvars.email = '{{ email }}';
	flashvars.userid = '{{ userid }}';
	flashvars.conferenceHash = '{{ conferenceHash }}';
	flashvars.first_name = '{{ first_name }}';
	flashvars.last_name = '{{ last_name }}';
	flashvars.avatar = '{{ avatar }}';
	flashvars.hasAdminRight = {{ hasAdminRight }};

	var params = {};
	params.quality = "high";
	params.bgcolor = "#000000";
	params.allowscriptaccess = "sameDomain";
	params.allowfullscreen = "true";
	var attributes = {};
	attributes.id = "WebConference";
	attributes.name = "WebConference";
	attributes.align = "middle";
	swfobject.embedSWF("{{ MEDIA_URL }}swf/WebConference-@VERSION.swf", "flashContent",
			"100%", "100%", swfVersionStr, xiSwfUrlStr, flashvars, params,
			attributes);
	// JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
	swfobject.createCSS("#flashContent", "display:block;text-align:left;");
</script>
<script>
	function closeBrowser() {
		var val = navigator.userAgent.toLowerCase();
		if (val.indexOf("firefox") > -1) {
			netscape.security.PrivilegeManager
					.enablePrivilege("UniversalBrowserWrite");
			window.open('', '_self');
			window.close();
		} else if (val.indexOf("msie") > -1) {
			window.opener = 'x';
			window.close();
		} else {
			window.open('', '_self', '');
			window.close();
		}
	}
</script>
</head>
<body>
	<div id="flashContent">
		<p>To view this page ensure that Adobe Flash Player version 10.2.0
			or greater is installed.</p>
		<script type="text/javascript">
			var pageHost = ((document.location.protocol == "https:") ? "https://"
					: "http://");
			document
					.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" 
                     + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>");
		</script>
		<script src="{{MEDIA_URL}}/js/deployJava.js"></script>
	</div>
	<div id="appletDiv">
		<script>
			var isAppletLoaded = false;

			function deployApplet() {
				if (isAppletLoaded) {
					appletLoadSuccessCallback();
					return;
				}

				var attributes = {
					code : 'com.esofthead.desktopsharing.ScreenShareApplet.class',
					archive : '{{ MEDIA_URL }}jar/eScreenShare-@VERSION.jar',
					id : 'eScreenShare',
					width : 0,
					height : 0
				};

				var parameters = {
					codebase_lookup : 'false',
					cid : '{{ cid }}',
					java_arguments: '-Xmx256m',
                    browser: determineBrowser(),
                    agent: navigator.userAgent
				};
				var version = '1.5';
				var intercepted = '';
				var got = document.write;
				document.write = function(arg) {
					intercepted += arg;
				}
				//deployJava.runApplet(attributes, parameters, version);
				
				if (version == 'undefined' || version == null) {
					version = '1.1';
				}
				var regex = "^(\\d+)(?:\\.(\\d+)(?:\\.(\\d+)(?:_(\\d+))?)?)?$";
				var matchData = version.match(regex);
				
				if (matchData != null) {
					var browser = deployJava.getBrowser();
					if ((browser != '?') && ('Safari' != deployJava.browserName2)) {
						if (deployJava.versionCheck(version + '+')) {
							deployJava.writeAppletTag(attributes, parameters);
						} else {
							displayAlertToRedirectUpdateJRE();
						}
					} else {
						deployJava.writeAppletTag(attributes, parameters);
					}
				} else {
					if (deployJava.debug) {
						alert('Invalid minimumVersion argument to runApplet():'
								+ version);
					}
				}
				
				document.write = got;
				document.getElementById("appletDiv").innerHTML = intercepted;
				isAppletLoaded = true;
			}
			
			function appletLoadSuccessfull() {
				 thisMovie("WebConference").appletLoadSuccessfull();
			}
			
			function displayAlertToRedirectUpdateJRE() {
              thisMovie("WebConference").displayAlertToRedirectUpdateJRE();
            }

			function checkAppletEnable() {
				return navigator.javaEnabled();
			}

			function detectJavaPlugin(isDetect) {
				thisMovie("WebConference").detectJavaPluginCallback(isDetect);
			}

			function appletLoadSuccessCallback() {
				thisMovie("WebConference").appletLoadSuccessCallback();
			}

			function screenShareLoadSuccessCallback() {
				thisMovie("WebConference").screenShareLoadSuccessCallback();
			}

			function thisMovie(movieName) {
				if (navigator.appName.indexOf("Microsoft") != -1) {
					return window[movieName];
				} else {
					return document[movieName];
				}
			}

			function startDesktopSharing(arg) {
				thisMovie("eScreenShare").startDesktopSharing(arg);
			}

			function stopDesktopSharing() {
				thisMovie("eScreenShare").stopDesktopSharing();
			}

			function startRecordConferenceFromHost(userid, recordUser, endpoint, bucketName, roomName, fileuuid, fileName)
			{
				thisMovie("eScreenShare").startRecordFromHost(userid, recordUser, endpoint, bucketName, roomName, fileuuid, fileName);
			}

			function stopRecordConferenceFromHost(roomName) {
				thisMovie("eScreenShare").stopRecordFromHost(roomName);
			}

			function recordExceptionCallback(warningMessage) {
				thisMovie("WebConference").recordExceptionCallback(
						warningMessage);
			}

			function nativeAppIsStoped() {
				thisMovie("WebConference").nativeAppIsStoped();
			}

			function recordProgress(progressSize, totalSize) {
				thisMovie("WebConference").recordProgress(progressSize,
						totalSize);
			}
			
			function determineBrowser()
          {
          		var nVer = navigator.appVersion;
				var nAgt = navigator.userAgent;
				var browserName  = navigator.appName;
				var fullVersion  = ''+parseFloat(navigator.appVersion); 
				var majorVersion = parseInt(navigator.appVersion,10);
				var nameOffset,verOffset,ix;
				
				// In Opera, the true version is after "Opera" or after "Version"
				if ((verOffset=nAgt.indexOf("Opera"))!=-1) {
				 browserName = "Opera";
				 fullVersion = nAgt.substring(verOffset+6);
				 if ((verOffset=nAgt.indexOf("Version"))!=-1) 
				   fullVersion = nAgt.substring(verOffset+8);
				}
				// In MSIE, the true version is after "MSIE" in userAgent
				else if ((verOffset=nAgt.indexOf("MSIE"))!=-1) {
				 browserName = "Microsoft Internet Explorer";
				 fullVersion = nAgt.substring(verOffset+5);
				}
				// In Chrome, the true version is after "Chrome" 
				else if ((verOffset=nAgt.indexOf("Chrome"))!=-1) {
				 browserName = "Chrome";
				 fullVersion = nAgt.substring(verOffset+7);
				}
				// In Safari, the true version is after "Safari" or after "Version" 
				else if ((verOffset=nAgt.indexOf("Safari"))!=-1) {
				 browserName = "Safari";
				 fullVersion = nAgt.substring(verOffset+7);
				 if ((verOffset=nAgt.indexOf("Version"))!=-1) 
				   fullVersion = nAgt.substring(verOffset+8);
				}
				// In Firefox, the true version is after "Firefox" 
				else if ((verOffset=nAgt.indexOf("Firefox"))!=-1) {
				 browserName = "Firefox";
				 fullVersion = nAgt.substring(verOffset+8);
				}
				// In most other browsers, "name/version" is at the end of userAgent 
				else if ( (nameOffset=nAgt.lastIndexOf(' ')+1) < 
				          (verOffset=nAgt.lastIndexOf('/')) ) 
				{
				 browserName = nAgt.substring(nameOffset,verOffset);
				 fullVersion = nAgt.substring(verOffset+1);
				 if (browserName.toLowerCase()==browserName.toUpperCase()) {
				  browserName = navigator.appName;
				 }
				}
				// trim the fullVersion string at semicolon/space if present
				if ((ix=fullVersion.indexOf(";"))!=-1)
				   fullVersion=fullVersion.substring(0,ix);
				if ((ix=fullVersion.indexOf(" "))!=-1)
				   fullVersion=fullVersion.substring(0,ix);
				
				majorVersion = parseInt(''+fullVersion,10);
				if (isNaN(majorVersion)) {
				 fullVersion  = ''+parseFloat(navigator.appVersion); 
				 majorVersion = parseInt(navigator.appVersion,10);
				}
				
				return browserName + " " + fullVersion;
          }
		</script>
	</div>
	<noscript>
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			width="100%" height="100%" id="WebConference">
			<param name="movie" value="{{ MEDIA_URL }}swf/WebConference-@VERSION.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#000000" />
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="allowFullScreen" value="true" />
			<!--[if !IE]>-->
			<object type="application/x-shockwave-flash"
				data="{{ MEDIA_URL }}swf/WebConference-@VERSION.swf" width="100%"
				height="100%">
				<param name="quality" value="high" />
				<param name="bgcolor" value="#000000" />
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="allowFullScreen" value="true" />
				<!--<![endif]-->
				<!--[if gte IE 6]>-->
				<p>Either scripts and active content are not permitted to run or
					Adobe Flash Player version 10.2.0 or greater is not installed.</p>
				<!--<![endif]-->
				<a href="http://www.adobe.com/go/getflashplayer"> <img
					src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
					alt="Get Adobe Flash Player" />
				</a>
				<!--[if !IE]>-->
			</object>
			<!--<![endif]-->
		</object>
	</noscript>
</body>
