{% extends "conferencing/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Conference{% endblocktrans %}{% endblock %}

{% block content950top %}{% endblock %}

{% block body %}
    <div style="width:1000px;height:10px;overflow:hidden;padding:0px;background: transparent url({{ MEDIA_URL }}img/bg_content_top_1000.png) top center no-repeat;margin:0 auto;"></div>
        <div style="width:988px;padding:6px;background:white;margin:0 auto;">
            <div id="conference"></div>
        </div>
    <div style="width:1000px;height:10px;overflow:hidden;padding:0px;background: transparent url({{ MEDIA_URL }}img/bg_content_bot_1000.png) top center no-repeat;margin:0 auto;"></div>
{% endblock %}

{% block content950bot %}{% endblock %}

{% block extra_body %}
    <script>
    flashembed("conference", {
        src: "{{ MEDIA_URL }}swf/conference_test.swf",
        version: [10, 0],
        wmode: 'opaque',
        expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
    }, {
        oid: '{{ conference }}',
        uid: '{{ user }}'
    });
    
     if (navigator.appName.indexOf("Microsoft") != -1) {
	    document.write('<OBJECT ',
	                   'classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"',
	                   'id="VHScreenShare"',
	                   'width="1"',
	                   'height="1">',
	                   '<PARAM NAME="archive" VALUE="{{ MEDIA_URL }}jar/VHScreenShare.jar">',
	                   '<PARAM name="code" value="CScreenShareStarter.class">',
	                   '</OBJECT>');	 
	 }else{
	    document.write('<applet code="CScreenShareStarter.class"',
	    			   'name="VHScreenShare"',
	    			   'archive="{{ MEDIA_URL }}jar/VHScreenShare.jar"',
	                   'width="1"',
	                   'height="1"',
	                   'type="application/x-java-applet;version=1.5.0">');	 
	 }
	
	var drec;

 	var rec = "5,5,720,480";
 	var capturing = false;

 	// initial rectangle
 	var rx1 = 5;
 	var rx2 = rx1 + 720;
 	var ry1 =  5;
 	var ry2	= ry1 + 480;
 	var mpad = 60;

 	var scrw = 0;
 	var scrh = 0;	

 	//setInterval  ( "trackMouse()", 500 );

 	function trackMouse ( )
 	{

 	 	if(!capturing) return;

 	 	if(drec == undefined){
 	 		drec = thisMovie("VHScreenShare").get_desktoprect().split(",");
 	 		scrw = parseInt(drec[2]);
 			scrh = parseInt(drec[3]);
 		}

 	 	var rec2 = thisMovie("VHScreenShare").get_mousepointer();

 	 	if(rec == rec2+",720,480") return;

 	 	var recUpdated = false; 
 	 	var pta = rec2.split(",");
 	 	var ptx = parseInt(pta[0]);
 	 	var pty = parseInt(pta[1]);


 		var pptx1 = ptx-mpad;
 		pptx1 = pptx1<0? 0 : pptx1;
 		var pptx2 = ptx+mpad;
 		pptx2 = pptx2>scrw? scrw :pptx2;
 		var ppty1 = pty-mpad;
 		ppty1 = ppty1<0? 0 : ppty1;
 		var ppty2 = pty+mpad;
 		ppty2 = ppty2>scrh? scrh : ppty2;


 	 	if(pptx1 < rx1){
 	 		rx1 = pptx1;
 	 		rx2 =  rx1 + 720;
 	 		recUpdated = true;
 	 	}else if(pptx2>rx2){
 	 		rx2 = pptx2;
 	 		rx1 =  rx2 - 720;
 	 		recUpdated = true;
 	 	}

 	 	if(ppty1<ry1){
 	 		ry1 = ppty1;
 	 		ry2 =  ry1 + 480;
 	 		recUpdated = true;
 	 	}else if(ppty2>ry2){
 	 		ry2 =ppty2;
 	 		ry1 =  ry2 - 480;
 	 		recUpdated = true;
 	 	}	 	

 	 	if(recUpdated){
 	 		rec2 = rx1+","+ry1+",720,480";	
 	 		thisMovie("VHScreenShare").move_area(rec2);
 	 		thisMovie("VHScreenShare").update_frame("1,5,16728128,16776960,720x480,720x480", rec2);
 	 		rec = rec2;
 	 	}
 	}

 	function doAlert(s) {
 	   alert(s);
 	}
 	function startJScrCap(arg1,arg2) {

 	        thisMovie("VHScreenShare").update_frame("1,5,16728128,16776960,720x480,720x480", rec);
 	        thisMovie("VHScreenShare").start_streaming(arg1, arg2);
 	        capturing = true;	      
 	}
 	function stopJScrCap() {
 	        thisMovie("VHScreenShare").update_frame("0,4,16728128,16776960,720x480,720x480", rec);
 	        thisMovie("VHScreenShare").stop_streaming();
 	        capturing = false;

 	}
 	function moveJScrCap(arg1) {
 		thisMovie("VHScreenShare").move_area(arg1);
 	    //thisMovie("VHScreenShare").update_frame("1,5,16728128,16776960,720x480,720x480", arg1);
 	  //  alert(arg1);
 	    rec = arg1;
 	}

 	function thisMovie(movieName) {
 	    if (navigator.appName.indexOf("Microsoft") != -1) {
 	        return window[movieName];
 	    } else {
 	        return document[movieName];
 	    }
 	}

 	function JScrCap_Event(operation, code, desc) {
 		thisMovie("conference").vhLogCallback(operation, code, desc);
 		if(operation == 'frame_bounds'){
 			//alert(code);
 			moveJScrCap(code);
 		}
 		//alert("op: " + operation + ", code: " + code + ", desc: " + desc);
 	}
    </script>
{% endblock %}