{% load i18n %}
{% load timezone_filters %}
<html>
    <head>
        <title>Message</title>
    </head>
     <body style="background:white url(http://netconference.com/site_media/img/email/bg.jpg) top center repeat-x;margin:0;padding:0;font-family: Helvetica, Tahoma, Geneva, Arial, sans-serif; font-size: 12px;text-align:center;line-height:1.4em;">
        <a href="http://{{ site_namespace }}" style="text-decoration:none;"><img src="http://netconference.com/site_media/img/email/logo.jpg" alt="{{ site_namespace }}" border="0" width="450" height="120" /></a>
        <div style="width:600px;margin:10px auto;text-align:left;">
            <p>{% blocktrans %}You have been invited to a NetConference {% endblocktrans %} {% trans "by" %} {{ full_name }}:</p>
	    <p><strong>{% trans "NetConference Invitation" %}</strong></p>
	    <p>
                 {% blocktrans %}I would like you to please join me in my NetConference virtual conference room{% endblocktrans %}, {{ time_start }}.
            </p>
            {% if voice %}
	    <p>
                {% blocktrans %}You may join this conference by first dialing into the conference bridge line {% endblocktrans %}<b>{{ event.creator.get_conference_phonenumber }}</b> {% blocktrans %}and using this access code {% endblocktrans %}<b>{{ event.creator.get_conference_attendeecode }}</b>.
                Then click on the link below and join the conference
	    </p>
	    {% endif %}
                   <a onclick="javascript:window.open('http://{{ site_namespace }}{{event.get_conference_url}}','conferencepage',config='height=800,width=1000,top=0,left=0,fullscreen=yes,titlebar=no,personalbar=no,dialog=yes,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;" href="http://{{ site_namespace }}{{event.get_conference_url}}">http://{{ site_namespace }}{{event.get_conference_url}}</a>
	    <p><strong>{% trans "Message" %}</strong></p>
            {% blocktrans %}<p>{{ message }}</p>{% endblocktrans %}
           
            {% blocktrans %}
            <p style="font-size:11px;"><a href="http://{{ site_namespace }}" style="color: #8a278a;">NetConference</a> is a great way to collaborate with others online, send video e-mail, share files, and host meetings with others in real time.  If you have any questions about NetConference, don't hesitate to <a href="http://{{ site_namespace }}/contact/" style="color: #8a278a;">contact us.</a></p>
            {% endblocktrans %}
        </div> 
    </body>
</html>
