@charset "utf-8";
/* CSS Document */
#content .compose{
	min-height:1000px;
	height:auto !important;
	height:1000px;
}
#content .inside{
	padding:29px 0 0  43px;
}
#content h2{
	color:#78099c;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:2em;
}
#compose #top{
	background:url(../images/compose-top.jpg) no-repeat;
	height:52px;
}
#compose #middle{
	background:url(../images/compose-middle.jpg) repeat-y;
}
#compose #bottom{
	background:url(../images/compose-bottom.jpg) no-repeat;
	height:36px;
}
#compose #top h3{
	font-size:1.6em;
	padding:18px 0 0 25px
}
#compose .title{
	background:url(../images/title-bg.jpg) repeat-x;
	height:28px;
	font-size:1.5em;
	font-weight:bold;
	color:#595959;
	padding:12px 0 0 24px;
	width:917px;
	margin-left:1px
}
#compose .title span{
	font-size:0.7em;
}
#compose #middle .inside{
	padding:32px 0 25px 50px;
}
#compose #middle .inside label{
	color:#595959;
	font-size:1.2em;
	display:block;
	margin-bottom:10px
}
#compose #middle .inside .input-wrapper{
	background:url(../images/input-bg.jpg) no-repeat;
	width:552px;
	height:24px;
}
#compose #middle .inside .input-wrapper input{
	background:none;
	border:none;
	width:527px;
	height:17px;
	font-size:1.2em;
	padding:2px 13px 0 10px;
}
#compose #middle .inside .text-wrapper{
	background:url(../images/textarea-bg.jpg) no-repeat;
	width:552px;
	height:113px;
}
#compose #middle .inside .text-wrapper textarea{
	background:none;
	border:none;
	width:540px;
	height:110px;
	font-size:1.2em;
	font-family:Arial, Helvetica, sans-serif;
	padding:3px 0px 0 10px;
}
#compose input.send{
	background:url(../images/send-btn.jpg) no-repeat;
	font-size:1.8em;
	width:211px;
	height:37px;
	color:#FFF;
	border:none;
	line-height:37px;
	padding:0;
	margin:0;
	margin-right:20px;
	margin-top:25px;
	margin-bottom:5px
}