@import url('common.css');

/* CSS Document */



/* = RESETS, BASIC PAGE SETUP, BASIC TYPOGRAPHY 

 ------------------------------------------ */



* { margin: 0; padding: 0;list-style:none ; text-decoration:none;}



html { overflow-y: scroll; }



a { outline: none; 	}



a img { border: none; }



img{ border:none}



/* END RESET */



.clear{	clear:both; }



.clearfix:after {

    content: "."; 

    display: block; 

    height: 0; 

    clear: both; 

    visibility: hidden;

}



.clearfix {display:inline-block;}



/* Hides from IE-mac \*/



.clearfix {display:block;}



/* End hide from IE-mac */





/* = font reset

 ------------------------------------------ */

body {

	text-align:center;

	font-family:Arial, Helvetica, sans-serif;

	font-size:62.5%;

	color:#595959;

}

/* @group Font sizes */

/* basic font sizes */

p, ul, ol, dl, table, address, blockquote, fieldset, pre, form div {

	font-size: 1.2em ; /* 12px */

}

/* deal with likely (but certainly not all) inherited shrinkage */

ul p, ol p, table p, dl p, ul ul, ol ol, ul ol, ol ul, address p, li blockquote, blockquote p, form div div, form div p, fieldset div, table form div {

	font-size: 1em;

}





/* = page styles

 ------------------------------------------ */

body{

	background:#ffffff url(../images/body-bg.jpg) repeat-x;

	text-align:center;

	color:#fff;	

}



.gray{

	color:#8c8c8c;

}



#wrapper{

	width:986px;

	margin:0 auto;

	text-align:left;

}



/* = header styles

 ------------------------------------------ */



#header{

	margin-top:10px;

	height:76px	

}



#header-left{

	float:left;	

	width:277px;	

}

#header-middle{

	float:left;	

	width:500px;	

}



#header-right{

	float:right;

	width:206px;



}









#header-middle ul li{

	float:left;

}



#header-middle ul li a{

	float:left;

	color:#888888;

	line-height:42px;

	padding:0 10px;

}



#header-middle ul li a:hover, #header-middle ul li.selected a{

	color:#750998;

	background: url(../images/triangle.gif) bottom center no-repeat;

}



#header-middle ul.nav-affiliate li a:hover, #header-middle ul.nav-affiliate li.selected a{

	color:#86cd03;



}





#header-right p{

	line-height:18px;

	color:#888888;	

	text-align:right;



	/*clear:both;*/

}

#header-right p a{

	padding-left:6px;

	font-size:0.9em;

	color:#888888;	

}

#header-right p a:hover{

	color:#750998;	

}

#header-right p a span.green{

	color:#86cd03;	

}



h1#logo a{

	display:block;

	background:url(../images/logo.gif) no-repeat;

	width:271px;

	height:32px;

	text-indent:-3000px;

	top:0px;

	left:0px;

}



#header h2 { 

	position:absolute; 

	right:257px; top:50px; 

	font-size:2.4em; 

	font-weight:bold; 

	color:#0d86db;

	}







#nav{

	

}

#nav li{

	float:left;

}

#nav li a{

	color:#fff;

	display:inline-block;

	padding-left:12px;

	line-height:34px;

}

#nav li a span{

	padding-right:12px;

}



#nav li a:hover{

	background:url(../images/nav.gif) no-repeat;	

	color:#750998;		

}

#nav li a:hover span{

	background:url(../images/nav.gif) right bottom no-repeat;	

	display:block;

}

/* = content styles

 ------------------------------------------ */



#content{

	text-align:left;

	margin:12px 0;

}



#content-left{

	float:left;

	width:231px;

	text-align:center;

}



#content-right{

	float:none;

	margin-left:250px;		

}



.conference-wrapper{

	background:url(../images/conference-middle.jpg) repeat-y;	



}



.conference-wrapper .conference{

	background:url(../images/conference-top.jpg) no-repeat;

	line-height:52px;

	padding-left:12px;

}

.conference-wrapper .conference-bottom{

	background:url(../images/conference-bottom.jpg) left bottom no-repeat;

	height:35px;

	line-height:47px;

	padding:12px 0 0 12px;

}

#content-right p.conference-bottom {

	text-align:right;

	font-size:12px;

	padding-right:18px;

}

#content-right p.conference-bottom a{

	color:#750998;	

}



#content h2, h4, ul li,{

	font-weight:bold;

}



#content-left h4{

	background:url(../images/violet-bg.gif) left top no-repeat;

	line-height:31px;

	margin-bottom:10px;

	font-size:1.5em;

}



#content-left ul{

	margin-bottom:15px;

}



#content-left ul li{

	background:url(../images/sidebar-bg.gif) left top no-repeat;

	line-height:47px;

	margin-bottom:10px;

	font-size:1.8em;

}

#content-left ul li a{

	color:#FFF

}



#content-right{

	text-align:left;

	padding-left:3px;

	min-height:1000px;

	height:auto !important;

	height:1000px;



}



.content-right-inside{

	padding-left:35px;

	padding:12px 35px;

}



#content-right h2{

	font-size:2em;

	line-height:48px;

}



#content-right h4{

	font-size:1.5em;

}



#content-right p{

	color:#595959;

	line-height:29px;

	font-size:1.5em;

}



h4.desc{

	background:url(../images/desc-bg.jpg) repeat-x;

	line-height:40px;

	color:#595959;

	padding-left:15px;

}

#content .inside{

	padding:29px 0 0  43px;

}

#content .inside2{

	padding:6px 0 0  0px;

}

#content h2{

	color:#78099c;

	font-family:Arial, Helvetica, sans-serif;

	font-weight:bold;

	font-size:2em;

}





/*  affiliate */ 



#rsvp{

	float:right;

	width:272px;	

}
#rsvp #subcribe{
	background:url(../images/affiliate-bg.jpg) left top no-repeat;
}
#rsvp h4{
	line-height:31px;
	margin-bottom:10px;
	font-size:1.5em;
	padding-left:10px
}
#rsvp h4.calendar{
	background:url(../images/affiliate-header-bg.jpg) left top no-repeat;
}
#rsvp #subcribe .inside{
	padding:0px 0 10px 12px;
}
#rsvp #subcribe .inside label{
	color:#656464;
	font-size:1em;
	display:block;
	font-weight:bold
}
#rsvp #subcribe .inside .input-wrapper{
	background:url(../images/subscribe-input-bg.jpg) no-repeat;
	width:247px;
	height:30px;
}
#rsvp #subcribe .inside .input-wrapper input{
	background:none;
	border:none;
	width:224px;
	height:24px;
	font-size:1.1em;
	padding:6px 13px 0 10px;
}
.rsvpsub{
	float:right;
	margin-top:18px
}

#affliliate-main{

	float:none;

	margin-right:330px;

	color:#595959;	

}





.affiliate-wrapper{

	background:url(../images/affiliate-middle.jpg) repeat-y;	

}



.affiliate-wrapper .affiliate{

	background:url(../images/affiliate-top.jpg) no-repeat;

	line-height:48px;

	padding-left:12px;

}

.affiliate-wrapper .affiliate-bottom{

	background:url(../images/affiliate-bottom.jpg) left bottom no-repeat;

	height:45px;

	line-height:47px;

}



.affiliate-wrapper p.affiliate-bottom {

	text-align:right;

	font-size:12px;

	padding-right:18px;

}

.affiliate-wrapper p.affiliate-bottom a{

	color:#750998;	

}





.affiliate-wrapper p{

	line-height:29px;

	font-size:1.5em;		

}



.affiliate-wrapper h4{

	font-size:1.5em;

	color:#fff;	

}



.affiliate-middle{

	background:url(../images/affiliate-middle-inside.jpg) repeat-y;

	padding-bottom:20px;
	min-height:250px;
	height:auto important;
	height:250px; 	

}



.affiliate-middle h4{

	color:#750998;

	font-size:1.5em;

	padding-top:12px;

}

/* previwew styling */



.preview{

	background:url(../images/preview-top.jpg) no-repeat;

	color:#656464;

	margin-top:12px;

}



.preview h4{

	font-size:1.5em;

	line-height:32px;

	padding-left:12px;

	color:#fff;

}

.preview p.preview-title{

	padding-left:50px;

	color:#656464;

	line-height:22px;

}



.preview li.white{

	background:url(../images/preview-white.jpg) no-repeat;

	height:60px;

}

.preview li.grey{

	background:url(../images/preview-grey.jpg) no-repeat;

	height:60px;

}



.preview li div.pdf{

	background:url(../images/pdf.png) 12px center no-repeat;

	height:60px;

	padding-left:50px;		

}



.preview li p{

	padding-top:18px;	

}



.preview-bottom{

	background:url(../images/preview-bottom.jpg) left bottom no-repeat;

	height:12px;

}







/* = footer styles

 ------------------------------------------ */

#footer{

	clear:both;

	background:url(../images/footer-bg.jpg) left top no-repeat;

	margin-left:43px;

	padding-top:12px;

	color:#c7c7c7;

}

#footer-left{

	float:left;

	width:500px;

}

#footer-right{

	float:none;

	margin-left:580px;

}

#footer p{

	line-height:20px;

	font-size:1.2em

}

#footer-right p.bottom-links a{

	padding:0 0 0 6px;

	background:url(../images/bullet.jpg) left center no-repeat;	

	color:#c7c7c7;

}

#footer-right p a.first{

	background:none;

	padding:0

}

#footer-left p a{

	color:#8c8c8c;

}
