{% extends "project/nc_base.html" %}
{% load avatar_tags %}
{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load sorting_tags %}
{% load activity_tags %}

{% block head_title %}{% blocktrans %}Tasks{% endblocktrans %}{% endblock %}

{% block content950top %}
{% endblock %}

{% block body %}
<br/>
<div class="projects_base_container">


    <div class="projects_left_column">
        {% block contents %}
        <div class="contenttext">

            <div class="curve"><p></p></div>

            <div class="tblpad">

                <div class="textcontent">
                    {%  block innercontent %}
                    {% endblock %}
                </div><!-- end  textcontent -->


            </div> <!-- end tblpad -->


        </div><!-- end contenttext -->
        {% block formsarea %}
        {% endblock %}

        {% endblock contents %}	
    </div>

    {% block nosidebar %}
    <div class="projects_right_column">

        {% include "project/nav_sidebar.html" %}

        {% block sidebar %}
        {% endblock %}
    </div>
    {% endblock %}

    <div class="clear">
    </div>

</div>

{% endblock %}

{% block extra_head %}
{% endblock %}

{% block jquery_tools %}
{% endblock %}

{% block extra_body %}
{% endblock %}
