{% extends "project/base.html" %}
{% load avatar_tags %}
{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load sorting_tags %}
{% load activity_tags %}

{% block head_title %}{% blocktrans %}Project Calendar{% endblocktrans %}{% endblock %}

{% block content950top %}
{% endblock %}

{% block body %}
<br/>
<div class="projects_base_container">


    <div class="projects_left_column">
        <div class="contenttext">
            <h1 class="title">{{project.name}}</h1>


            {% for month in month_data %}
            <div class="calwrap">
                <div class="calendar">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="monthtitle">
                        <tr>

                            <td >{{month.name}}</td>
                        </tr>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="days tbl">
                        <tr class="tdbggrey">
                            <td class="textday">Mon</td>
                            <td class="textday">Tue</td>

                            <td class="textday">Wed</td>
                            <td class="textday">Thu</td>
                            <td class="textday">Fri</td>
                            <td class="textday">Sat</td>
                            <td class="textday">Sun</td>
                        </tr>

                        {% for week in month.calendar %}

                        <tr>
                            {% for day in week %}
                            <td class="{% if day.1 or day.2 %}yellowbg{% endif %}">
                                {% if day.0 %}
                                <div class="date">
                                    {{day.0}}
                                </div>
                                {% else %}
                                &nbsp;
                                {% endif %}
                                <div class="starttasks">
                                    {% for task in  day.1 %}
                                    {{task}}
                                    {% endfor %}
                                </div>

                                <div class="endtasks">
                                    {% for task in  day.2 %}
                                    {{task}}
                                    {% endfor %}
                                </div>

                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="projects_right_column">
        {% include "project/nav_sidebar.html" %}
        <div id="rightcolumn">
            <h3>Months</h3>
            <ul>
                {% for month in month_data %}
                <li><a href="{{month.href}}" class="monthname">    {{month.name}}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <div class="clear">

    </div>

</div>

{% endblock %}

{% block extra_head %}
{% endblock %}

{% block jquery_tools %}
{% endblock %}

{% block extra_body %}
{% endblock %}
