{% extends 'project/base.html' %}
{% load i18n %}

{% block head_title %}
Project Calendar
{% endblock %}



{% block contents %}
<div class="clear"></div>
			<div id="calendar">
        <div class="month">
				<span>{{ req_date|date:"F" }} {{ req_date|date:"Y" }}</span>
				</div><h1 class="title">{{project.name}}</h1>
          <div class="contenttext">
            <div class="curve"><p></p></div>

            <div class="tblpad">
			 
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbltitle">
				
				
  <tr>
    <td width="13%" style=" padding-left:20px;">{% trans "Monday" %}</td>
    <td width="13%"  >{% trans "Tuesday" %}</td>
    <td width="15%" >{% trans "Wednesday" %}</td>
    <td width="15%" >{% trans "Thursday" %}</td>

	<td width="14%" >{% trans "Friday" %}</td>
	<td width="15%" >{% trans "Saturday" %}</td>
    <td width="15%"  >{% trans "Sunday" %}</td>
  </tr>
 
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl">


    {% for week in month_dates %}
    
        <tr class="{% cycle "" "tdbggrey" %}">
        {% for day in week %}
        <td width="{% cycle 13 13 15 15 14 15 15 %}" {% if day.1 or day.2 %}class="yellowbg"{% endif %}>
            {% if day.0 %}
            <div class="date">
            
            {{day.0}}
            </div>
						{% else %}
						&nbsp;
            {% endif %}
						
						
        <div class="starttasks">
				<ul>
        {% for task in  day.1 %}
           <li><a href="{{task.get_absolute_url}}">{{task.name}}</a></li>
        {% endfor %}
				</ul>
        </div>
        
        <div class="endtasks">
				<ul>
        {% for task in  day.2 %}
           <li><a href="{{task.get_absolute_url}}">{{task.name}}</a></li>
        {% endfor %}
				</ul>
        </div>
        
        </td>
        {% endfor %}
        </tr>
		{% endfor %}
 
</table>
</div>
</div>
</div>
	 
{% endblock %}

{% block sidebar %}
<h3>{% trans "Interesting Months" %}</h3>
<ul>
{% for month in month_data %}
    <li><a href="{{month.href}}" class="monthname">    {{month.name}}</a></li>
{% endfor %}
</ul>
{% endblock %}
