{% extends "new_base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load projects_tags %}

{% block extra_css_pre %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
    <style>
        .uniform_faux input,textarea {
            padding:3px;
            width:260px;
        }
        #buttonCreateProject {
            width: 227px;
        }
        .errorlist {
            font:12px Arial,Helvetica,sans-serif;
        }
        #checkboxes input {
            width: auto;
        }
    </style>
{% endblock %}

    {% block head_title %}
    {% trans "Create a Project" %}
    {% endblock %}

{% block submenu %}
<div id="submenu_container">
    <ul class="subnav">
        <li><a href="{% url project_dashboard %}">All Projects</a></li>
        <li  class="current"><a href="{% url project_create_project %}">Create a Project</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<!--CONTENT STARTS -->
<div id="login_page">
    <div class="leftpanel">
        <div class="top"></div>
        <div class="mid">
            <h1 class="purple_text">{% trans "Create Project" %}</h1>
            <div><img src="{{ MEDIA_URL }}/new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></div>
            <form class="uniform_faux" action="." method="POST">
              
                <fieldset>
                    <table width="100%" border="0" cellspacing="0" cellpadding="5">
                        {{ form.as_table }}
                        <tr>
                            <td align="left">&nbsp;</td>
                            <td align="left"><input type="submit" class="create_project" id="buttonCreateProject" name="createproject" value="Create Project" style="float:left;"></input>

                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
            <p>&nbsp;</p>
        </div>
        <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="{{ MEDIA_URL }}/new/images/people_working.png"  alt="People Working Together!" /></div>
    <div class="clear"></div>
</div>
<!--CONTENT ENDS --> 
{% endblock %} 

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript">
    function toggleFiles() {
        $("input[name=file-select[]]").attr("checked", $("input[name=select]").attr("checked"));
    }
    $(function() { $(".subnav").lavaLamp({ fx: "backout", speed: 600 })});

    $(document).ready(function() {
        var options = {
            'minDate': 0,
            'maxDate': 365,
            'dateFormat': 'yy-mm-dd'
        }
        $('#id_start_date').datepicker(options);
        $('#id_end_date').datepicker(options);
    });
</script>
{% endblock %}
