{% extends 'project/base.html' %}

		{% block topheader %}
		<div class="signout"></div>
		<div id="logo">
		<img src="/site_media/images/logo.gif" alt="" /></div>
		<div class="icon"></div>
		
		<div class="topicon"></div>		
		{% endblock %}	

{% block subnav %}
{% endblock %}

{% block subheader %}
{% endblock %}

{% block title %}
{{block.super}} - Help
{% endblock %}


{% block contents %}
<div class="document" id="using-dashbard">
<h1 class="title">Using Dashbard</h1>
<table class="docinfo" frame="void" rules="none">
<col class="docinfo-name" />
<col class="docinfo-content" />
<tbody valign="top">
<tr><th class="docinfo-name">Author:</th>
<td>Shabda Raaj</td></tr>
<tr><th class="docinfo-name">Version:</th>
<td>1</td></tr>
<tr><th class="docinfo-name">Copyright:</th>
<td>This document is realeased under CC Attribution Lisence.</td></tr>
</tbody>
</table>
<div class="contents topic">
<p class="topic-title first"><a id="contents" name="contents">Contents</a></p>
<ul class="simple">
<li><a class="reference" href="#welcome" id="id9" name="id9">Welcome</a></li>
<li><a class="reference" href="#features" id="id10" name="id10">Features</a></li>
<li><a class="reference" href="#benefits" id="id11" name="id11">Benefits</a></li>
<li><a class="reference" href="#access-levels" id="id12" name="id12">Access Levels</a></li>
<li><a class="reference" href="#tasks" id="id13" name="id13">Tasks</a></li>
<li><a class="reference" href="#taskitems" id="id14" name="id14">Taskitems</a></li>
<li><a class="reference" href="#todo" id="id15" name="id15">Todo</a></li>
<li><a class="reference" href="#wiki" id="id16" name="id16">Wiki</a></li>
<li><a class="reference" href="#calendar" id="id17" name="id17">Calendar</a></li>
<li><a class="reference" href="#noticeboard" id="id18" name="id18">Noticeboard</a></li>
<li><a class="reference" href="#logs" id="id19" name="id19">Logs</a></li>
<li><a class="reference" href="#metrics" id="id20" name="id20">Metrics</a></li>
<li><a class="reference" href="#the-tabs" id="id21" name="id21">The Tabs</a><ul>
<li><a class="reference" href="#dashboard" id="id22" name="id22">Dashboard</a></li>
<li><a class="reference" href="#project-details" id="id23" name="id23">Project Details</a></li>
<li><a class="reference" href="#id1" id="id24" name="id24">Tasks</a></li>
<li><a class="reference" href="#id2" id="id25" name="id25">Todo</a></li>
<li><a class="reference" href="#id3" id="id26" name="id26">Noticeboard</a></li>
<li><a class="reference" href="#id4" id="id27" name="id27">Calendar</a></li>
<li><a class="reference" href="#id5" id="id28" name="id28">Wiki</a></li>
<li><a class="reference" href="#files" id="id29" name="id29">Files</a></li>
<li><a class="reference" href="#id6" id="id30" name="id30">Metrics</a></li>
<li><a class="reference" href="#id7" id="id31" name="id31">Logs</a></li>
</ul>
</li>
<li><a class="reference" href="#other-pages" id="id32" name="id32">Other Pages</a><ul>
<li><a class="reference" href="#taskdetails-page" id="id33" name="id33">Taskdetails Page</a></li>
<li><a class="reference" href="#tasks-quickentry" id="id34" name="id34">Tasks Quickentry</a></li>
<li><a class="reference" href="#taskitems-quickentry" id="id35" name="id35">Taskitems Quickentry</a></li>
<li><a class="reference" href="#create-wikipage" id="id36" name="id36">Create Wikipage</a></li>
<li><a class="reference" href="#edit-task" id="id37" name="id37">Edit Task</a></li>
<li><a class="reference" href="#task-versions-page" id="id38" name="id38">Task Versions Page</a></li>
<li><a class="reference" href="#task-diff-page" id="id39" name="id39">Task Diff Page</a></li>
<li><a class="reference" href="#edit-taskitem-page" id="id40" name="id40">Edit Taskitem page</a></li>
<li><a class="reference" href="#taskitems-versions-page" id="id41" name="id41">Taskitems versions page</a></li>
<li><a class="reference" href="#taskitems-diff-page" id="id42" name="id42">Taskitems diff page</a></li>
<li><a class="reference" href="#task-revision-page" id="id43" name="id43">Task revision page</a></li>
<li><a class="reference" href="#taskitem-reision-page" id="id44" name="id44">Taskitem reision page</a></li>
<li><a class="reference" href="#wikipage" id="id45" name="id45">Wikipage</a></li>
<li><a class="reference" href="#id8" id="id46" name="id46">Create Wikipage</a></li>
<li><a class="reference" href="#edit-wikipage" id="id47" name="id47">Edit Wikipage</a></li>
<li><a class="reference" href="#wikipage-versions" id="id48" name="id48">Wikipage versions</a></li>
<li><a class="reference" href="#wikipage-diff-page" id="id49" name="id49">Wikipage diff page</a></li>
<li><a class="reference" href="#wikipage-revisiosn-page" id="id50" name="id50">Wikipage revisiosn page</a></li>
</ul>
</li>
</ul>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id9" id="welcome" name="welcome">Welcome</a></h1>
<p>Hello and welcome to Dashbard. Dashbard is a tool to manage and track your projects. We are excited to have you use Dashbard, and we are confident that dashbard will help you get the most out of your projects. If you have any doubts, or would like help in using Dashbard please do not hesitate to get in touch with us.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id10" id="features" name="features">Features</a></h1>
<p>Dashbard is an web based collaborative tool to magange and track your projects.</p>
<p>The basic features of Dashbard are</p>
<ul class="simple">
<li>Tasks to track dates and milestones for the project.</li>
<li>Taskitems to track the time sepnt in the project on each task.</li>
<li>Tracking and logging all changes in the project.</li>
<li>Personal Todo lists available to all team members.</li>
<li>Noticeboard, to keep conversation on the project with the project.</li>
<li>Project specific Wiki, to share information in the team.</li>
<li>Files, to securely share documents within the team.</li>
<li>Multiple access levels, allowing people to act as owner, particpant or viewer in the project.</li>
</ul>
<p>Dashbard has a rich set of features, but you do not need to use, or learn every feature for Dashbard to work for you. You may want to use only the task feature and never care about the wiki. Or vice versa.</p>
<p>Dashbard is based around giving people freedom, but tracking and logging changes so that the freedom is used responsibly. Dashbard tracks and logs all changes done to projects.</p>
<p>Using tasks and taskitems you can divide large projects into smaller managable chunks, and delegate each task or taskitem to a team member.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id11" id="benefits" name="benefits">Benefits</a></h1>
<p>At Dashbard everything is versioned, and everything is logged. This means that you can give access to your project with the fear of it being used maliciously. Multiple access levels means that people with auxilary roles can be invited as viewers.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id12" id="access-levels" name="access-levels">Access Levels</a></h1>
<p>People with acess to a project can be either viewer, participant or owners of the project. Viewers can see everything in a project, but they can not make edits to the project. Partcipant can create and edit tasks, task items, wiki pages, notices and files. The owner can make project level changes, such as making the project inactive. Inviting other users to the project, and removing a user from the project.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id13" id="tasks" name="tasks">Tasks</a></h1>
<p>Tasks are the real workhorse of Dashbard. They allow you to break a project into smallers managable chunks, and allow each task to be assigned to a person. A task has start and ent date when you estimate it to start. It has a user responsible who is the person responsible for finishing the task. Once the task is complete, you can enter actual start and end dates, to track the slippage on the tasks.</p>
<p>Like everything else Tasks are versioned and logged. When you create a task this information is looged, and is accesible from the Logs tab. When you edit a task the previous version is saved, and anew version is created. You can see all the previous versions and roll back to any version of the task.</p>
<p>Tasks can have a hierachy, any level deep. This can be used to track and manage depenendancy of tasks. For example, if your team is divided into subteams, the team leads can be made responsible for the top level tasks. The other team members can have tasks, which are subtasks of the top level tasks.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id14" id="taskitems" name="taskitems">Taskitems</a></h1>
<p>Tasks are a good way to manage and track dates when a part of the project needs to be completed, and a way to delegate responsibility. When you want to manage the time spent on the project, taskitems are a good fit. If tasks have dates, task items have Time spent.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id15" id="todo" name="todo">Todo</a></h1>
<p>We have a confession to make. When we said that everything in Dashbard is versioned and logged, we were not being entirely truthful, Todos are not versioned or tracked. But this is a good thing as, you will see in a moment.</p>
<p>Once you have been assigned some work, you might want to divide that work into smallers chunks. But you might not want to share this information with everyone else. Todos are a way for you to track yourself. Anything you do here is visible to you only.</p>
<p>Todo Lists can contain Todo Items. As you complete your tasks, you may keep on making your todo items complete. When a new job is assigned to you, you would create a new Todo List. When the job is fully complete, you can make the List complete and the List is removed from your Todo page.</p>
<p>Todos are not versioned as they are meant to be personal. They help you manage yourself.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id16" id="wiki" name="wiki">Wiki</a></h1>
<p>Wikis are a great way for your team to collaborate. They serve as a platform where the team can share information or capture freeform infomration. As the information changes the wiki pages can be modified by your team members. The ability to see changes made by everyone, and the ability to rollback, if mistakes happen give the courage to be bold.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id17" id="calendar" name="calendar">Calendar</a></h1>
<p>Calendars show the tasks in a easier to understand and digest view. Each calendar shows the tasks which start and end on a specific day. You can drill down to any month and then access tasks starting on those days.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id18" id="noticeboard" name="noticeboard">Noticeboard</a></h1>
<p>Did you ever have a comunication with all your team mates, only to lose that email thread when you needed it most? Noticeboard is meant to remove this chaos, by keeping project specific notices with the project. When you add a notice, this notice is kept with the project in perpetuity.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id19" id="logs" name="logs">Logs</a></h1>
<p>Logs are like the heartbeat of your project. Looking at them you can see how the project is progressing. Every change made to the project, and the person making the change is logged. These logs are available as RSS feeds or as emails. You can also access them from within the project using the Logs tab.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id20" id="metrics" name="metrics">Metrics</a></h1>
<p>Metrics give you a high level overview of the project. They show the percent of tasks done, the percent of tasks which missed their deadline.</p>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id21" id="the-tabs" name="the-tabs">The Tabs</a></h1>
<div class="section">
<h2><a class="toc-backref" href="#id22" id="dashboard" name="dashboard">Dashboard</a></h2>
<p>When you log in you would be directed to this page. This is the place where your ineraction with Dashbard starts. This page shows the projects you are subscribed to, and the overdue tasks in those projects. This page allows you to create new Projects, and when a project gets over, this page allows you to archive the Projects. By default only the active pages are shown. If you want to access an archieved project, which you have marked as inactive, you can click &quot;Show Inactive Projects&quot;. If you have completed a task, shows here, you can mark that as complete from this page.</p>
<p><img alt="dashbard_image" src="/site_media/help/tn_dashboard.png" /> <a class="reference" href="/site_media/help/dashboard.png">Dashboard Full</a></p>
<blockquote>
</blockquote>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id23" id="project-details" name="project-details">Project Details</a></h2>
<p>This page shows relevant details specific to a project. The recetly modified tasks, as well as the tasks which are overdue are visible on this page. This page allows you to invite a registered user to your project, or to add a top level task to the project. This page shows the users who are subscrbed to this project, as well as the users who have been invited to this project.</p>
<p><img alt="project-details_image" src="/site_media/help/tn_project-details.png" /> <a class="reference" href="/site_media/help/project-details.png">Project Details Full</a></p>
<blockquote>
</blockquote>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id24" id="id1" name="id1">Tasks</a></h2>
<p>This page shows the list of top level tasks for the project, and shows the sub tasks and task items for those projects. On this page you can create a top level task. You can edit, delete or mark as complete the task.</p>
<p><img alt="tasks_image" src="/site_media/help/tn_tasks.png" /> <a class="reference" href="/site_media/help/tasks.png">Tasks Full</a></p>
<blockquote>
</blockquote>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id25" id="id2" name="id2">Todo</a></h2>
<p>This page shows the personal todos you have created for yourself. You can create new todo lists or add items to the existing todo list. You can mark a todo list or todo item as complete from this page. By default only the non complete Todo lists are shown. If you want to see the completed todo lists as well, click &quot;Show Completed Lists&quot;.</p>
<p><img alt="todo_image" src="/site_media/help/tn_todo.png" /> <a class="reference" href="/site_media/help/todo.png">Todo Full</a></p>
<blockquote>
</blockquote>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id26" id="id3" name="id3">Noticeboard</a></h2>
<p>This page shows the notices put up for the project, and the user and the time when the notice was put. You can add a new notice using this page.</p>
<p><img alt="noticeboard_image" src="/site_media/help/tn_noticeboard.png" /> <a class="reference" href="/site_media/help/noticeboard.png">Noticeboard Full</a></p>
<blockquote>
</blockquote>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id27" id="id4" name="id4">Calendar</a></h2>
<p>This page shows the months of interest, (The months where a task either starts or ends). The number of tasks starting on a specific day are shown. You can drill down to a specific months where you can see the tasks starting or ending on a specific date.</p>
<p><img alt="calendar_image" src="/site_media/help/tn_calendar.png" /> <a class="reference" href="/site_media/help/calendar.png">Calendar Full</a></p>
<blockquote>
<p><img alt="calendar-details_image" src="/site_media/help/tn_calendar-details.png" /> <a class="reference" href="/site_media/help/calendar-details.png">Calendar details Full</a></p>
</blockquote>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id28" id="id5" name="id5">Wiki</a></h2>
<p>This page shows the list of the wiki pages available for this project. A excerpt of the page, and the user who last edited this page is shown. You can navigate to any shown wiki page from this page.</p>
<p><img alt="wiki_image" src="/site_media/help/tn_wiki.png" /> <a class="reference" href="/site_media/help/wiki.png">Wiki Full</a></p>
<blockquote>
</blockquote>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id29" id="files" name="files">Files</a></h2>
<p>This page shows the files added to the project, and the revisions for the files. You can add a new file, delete a file, and create new revisions for existing files. If you add a new file with the same name as an existing file, the previous file is versioned.</p>
<p><img alt="files_image" src="/site_media/help/tn_files.png" /> <a class="reference" href="/site_media/help/files.png">Files Full</a></p>
<blockquote>
</blockquote>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id30" id="id6" name="id6">Metrics</a></h2>
<p>This page shows a overview of the project, the nuber of tasks remaining to be done, the number of tasks required each month, and other such relevent details.</p>
<p><img alt="metrics_image"tn_metrics.png" /> <a class="reference" href="/site_media/help/metrics.png">Metrics Full</a></p>
<blockquote>
</blockquote>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id31" id="id7" name="id7">Logs</a></h2>
<p>Any change done to the project is logged. This log is available from this page. You can see the logs as a RSS feed or can subscribe to an email where the logs are sent to you.</p>
<p><img alt="logs_image" src="/site_media/help/tn_logs.png" /> <a class="reference" href="/site_media/help/logs.png">Logs Full</a></p>
<blockquote>
</blockquote>
</div>
</div>
<div class="section">
<h1><a class="toc-backref" href="#id32" id="other-pages" name="other-pages">Other Pages</a></h1>
<div class="section">
<h2><a class="toc-backref" href="#id33" id="taskdetails-page" name="taskdetails-page">Taskdetails Page</a></h2>
<p>This page shows details for a sepcific task. The dates for the task, the sub tasks for this task, and the tasks items are shown. You can add sub task to the task, add a task item, and add a note to the task.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id34" id="tasks-quickentry" name="tasks-quickentry">Tasks Quickentry</a></h2>
<p>If you want to enter multipe tasks at one time, you can use Tasks Quick Entry page. You need to enter only as many tasks as needed, and those tasks are created.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id35" id="taskitems-quickentry" name="taskitems-quickentry">Taskitems Quickentry</a></h2>
<p>If you want to create multiple task items at one time, you can use this page. You only need to enter data for as many taskitems as needed.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id36" id="create-wikipage" name="create-wikipage">Create Wikipage</a></h2>
<p>Allows you to create a new wiki page.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id37" id="edit-task" name="edit-task">Edit Task</a></h2>
<p>Allows you to edit a previously created task. You can enter actual start and end dates as well as completion status for the task on this page.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id38" id="task-versions-page" name="task-versions-page">Task Versions Page</a></h2>
<p>Shows all the revisions for the task, and allows to see a diff (Showing changes made between two tasks).</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id39" id="task-diff-page" name="task-diff-page">Task Diff Page</a></h2>
<p>Shows the diff between two versions of the task.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id40" id="edit-taskitem-page" name="edit-taskitem-page">Edit Taskitem page</a></h2>
<p>Allows editing taskitems. You can enter actual time and completion status for the task item on this page, and change other details.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id41" id="taskitems-versions-page" name="taskitems-versions-page">Taskitems versions page</a></h2>
<p>Shows the previous versions for the taskitem, and allows to take a diff between any two versions of the taskitem.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id42" id="taskitems-diff-page" name="taskitems-diff-page">Taskitems diff page</a></h2>
<p>Shows the diff between two versions of the taskitem.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id43" id="task-revision-page" name="task-revision-page">Task revision page</a></h2>
<p>Shows a specific revision of the task, and allows rolling back to that task.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id44" id="taskitem-reision-page" name="taskitem-reision-page">Taskitem reision page</a></h2>
<p>Shows a specific revision of the taskitem and allows rolling back to that revision of the tasksitem.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id45" id="wikipage" name="wikipage">Wikipage</a></h2>
<p>Shows the current version of the wikipage.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id46" id="id8" name="id8">Create Wikipage</a></h2>
<p>Allows you to create a new wiki page.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id47" id="edit-wikipage" name="edit-wikipage">Edit Wikipage</a></h2>
<p>Allows editing an existing wikipage. The title of the wikipage, once created, can not be changed.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id48" id="wikipage-versions" name="wikipage-versions">Wikipage versions</a></h2>
<p>Allows you to see previous versions of a wiki page and to take a diff between them.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id49" id="wikipage-diff-page" name="wikipage-diff-page">Wikipage diff page</a></h2>
<p>Shows the diff taken between two versions of a wiki page.</p>
</div>
<div class="section">
<h2><a class="toc-backref" href="#id50" id="wikipage-revisiosn-page" name="wikipage-revisiosn-page">Wikipage revisiosn page</a></h2>
<p>Shows a specific revision of the wiki page, and allows rolling back to that revision.</p>
</div>
</div>
</div>
{% endblock %}

{% block sidebar %}
<h3>Sections</h3>
<ul>
<ul class="simple">
<li><a class="reference" href="#welcome" id="id9" name="id9">Welcome</a></li>
<li><a class="reference" href="#features" id="id10" name="id10">Features</a></li>
<li><a class="reference" href="#benefits" id="id11" name="id11">Benefits</a></li>
<li><a class="reference" href="#access-levels" id="id12" name="id12">Access Levels</a></li>
<li><a class="reference" href="#tasks" id="id13" name="id13">Tasks</a></li>
<li><a class="reference" href="#taskitems" id="id14" name="id14">Taskitems</a></li>
<li><a class="reference" href="#todo" id="id15" name="id15">Todo</a></li>
<li><a class="reference" href="#wiki" id="id16" name="id16">Wiki</a></li>
<li><a class="reference" href="#calendar" id="id17" name="id17">Calendar</a></li>
<li><a class="reference" href="#noticeboard" id="id18" name="id18">Noticeboard</a></li>
<li><a class="reference" href="#logs" id="id19" name="id19">Logs</a></li>
<li><a class="reference" href="#metrics" id="id20" name="id20">Metrics</a></li>
<li><a class="reference" href="#the-tabs" id="id21" name="id21">The Tabs</a><ul>
<li><a class="reference" href="#dashboard" id="id22" name="id22">Dashboard</a></li>
<li><a class="reference" href="#project-details" id="id23" name="id23">Project Details</a></li>
<li><a class="reference" href="#id1" id="id24" name="id24">Tasks</a></li>
<li><a class="reference" href="#id2" id="id25" name="id25">Todo</a></li>
<li><a class="reference" href="#id3" id="id26" name="id26">Noticeboard</a></li>
<li><a class="reference" href="#id4" id="id27" name="id27">Calendar</a></li>
<li><a class="reference" href="#id5" id="id28" name="id28">Wiki</a></li>
<li><a class="reference" href="#files" id="id29" name="id29">Files</a></li>
<li><a class="reference" href="#id6" id="id30" name="id30">Metrics</a></li>
<li><a class="reference" href="#id7" id="id31" name="id31">Logs</a></li>
</ul>
</li>
<li><a class="reference" href="#other-pages" id="id32" name="id32">Other Pages</a><ul>
<li><a class="reference" href="#taskdetails-page" id="id33" name="id33">Taskdetails Page</a></li>
<li><a class="reference" href="#tasks-quickentry" id="id34" name="id34">Tasks Quickentry</a></li>
<li><a class="reference" href="#taskitems-quickentry" id="id35" name="id35">Taskitems Quickentry</a></li>
<li><a class="reference" href="#create-wikipage" id="id36" name="id36">Create Wikipage</a></li>
<li><a class="reference" href="#edit-task" id="id37" name="id37">Edit Task</a></li>
<li><a class="reference" href="#task-versions-page" id="id38" name="id38">Task Versions Page</a></li>
<li><a class="reference" href="#task-diff-page" id="id39" name="id39">Task Diff Page</a></li>
<li><a class="reference" href="#edit-taskitem-page" id="id40" name="id40">Edit Taskitem page</a></li>
<li><a class="reference" href="#taskitems-versions-page" id="id41" name="id41">Taskitems versions page</a></li>
<li><a class="reference" href="#taskitems-diff-page" id="id42" name="id42">Taskitems diff page</a></li>
<li><a class="reference" href="#task-revision-page" id="id43" name="id43">Task revision page</a></li>
<li><a class="reference" href="#taskitem-reision-page" id="id44" name="id44">Taskitem reision page</a></li>
<li><a class="reference" href="#wikipage" id="id45" name="id45">Wikipage</a></li>
<li><a class="reference" href="#id8" id="id46" name="id46">Create Wikipage</a></li>
<li><a class="reference" href="#edit-wikipage" id="id47" name="id47">Edit Wikipage</a></li>
<li><a class="reference" href="#wikipage-versions" id="id48" name="id48">Wikipage versions</a></li>
<li><a class="reference" href="#wikipage-diff-page" id="id49" name="id49">Wikipage diff page</a></li>
<li><a class="reference" href="#wikipage-revisiosn-page" id="id50" name="id50">Wikipage revisiosn page</a></li>
</ul>
</li>
</ul>

</ul>

{% endblock %}