{% extends "project/base.html" %}
{% load avatar_tags %}
{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load sorting_tags %}
{% load activity_tags %}

{% block head_title %}{% blocktrans %}Projects{% endblocktrans %}{% endblock %}

{% block content950top %}
{% endblock %}

{% block extra_css_pre %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
{% endblock %}

{% block extra_head_base %}
{{ block.super }}
<style type="text/css" media="screen">
  .createcontent p {
    padding: 0px;
  }
</style>
{% endblock %}

{% block body %}

{% block contents %}

{% endblock %} <br />
<br />
<div class="projects_base_container">
    <div class="projects_left_column">
        <div class="contenttext">

            <div class="curve"><p></p></div>

            <div class="tblpad">

                <div class="textcontent">

                    <div class="genericform">
                        <h3>Editing {{ task.name }}</h3>
                        <div class="createcontent"><br/>
                            <form action="." method="post">
                                {{editform|as_uni_form}}
                                <input type="submit" name="edit" value="Edit Task" class="buttonGreenMedium" style="float:left;margin-left:125px;">

                            </form>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div><!-- end  textcontent -->


            </div> <!-- end tblpad -->


        </div>
    </div>
    <div class="projects_right_column">
        {% include "project/nav_sidebar.html" %}
        <h3>
            Meta
        </h3>
        <p class="sideblurb">You are editing {{task.name}}.</p>
        <ul>
            <li><a href="{{task.get_absolute_url}}">Details</a></li>
        </ul>

        <h3>
            Older Versions
        </h3>
        {% include 'project/taskversions.html' %}
    </div>
    <div class="clear"> </div>
</div>
{% endblock %} 

{% block extra_head %}
{% endblock %}

{% block jquery_tools %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
var options = {
'minDate': 0,
'maxDate': 365,
'dateFormat': 'yy-mm-dd'
}
$('#id_start_date').datepicker(options);
$('#id_end_date').datepicker(options);
$('#id_actual_start_date').datepicker(options);
$('#id_actual_end_date').datepicker(options);
</script>
{% endblock %} 
