{% extends 'project/base.html' %}
{% load i18n %}

{% block head_title %}
{% trans "Project Files" %}
{% endblock %}

{% block contents %}
{% if  project.projectfile_set.count %}
<div class="contenttext">
  <div class="curve">
    <p></p>
  </div>
  <div class="tblpad">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbltitle">
      <tr>
        <td width="30%" class="projectname">{% trans "File Name" %}</td>
        <td width="15%"  >{% trans "Created On" %}</td>
        <td width="15%" >{% trans "User" %}</td>
        <td width="20%" >{% trans "File Size" %} ({% trans "bytes" %})</td>
        <td width="20%"  >{% trans "Delete" %}</td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl">
      {% for file in project.projectfile_set.all %}
      <tr class="{% cycle '' 'tdbggrey' %}">
        <td width="30%" class="projectname"><a href="{{file.get_absolute_url}}">{{file.title}}</a></td>
        <td width="15%"> {{file.timestamp|date}} </td>
        <td width="15%"> {{file.user.username}} </td>
        <td width="20%"> {{file.file_size}}</td>
        <td width="20%" >
	  <form action="." method="post" name="deleteFilesForm">
            <input type="hidden" name="fileid" value="{{file.id}}" />
            <p><input type="image" name="deletefile" value="deletefile" src="/site_media/images/x-icon.gif" /></p>
          </form>
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% else %}
<h1 class="purple_text"> {% trans "No files added." %} </h1>
{% endif %}
{% ifnotequal access 'Viewer' %}
<div id="create">
  <div class="createcontent">
    <form action="." method="post" enctype="multipart/form-data">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
	  <td><a href="{% url upload_file %}?project={{ project.shortname }}" class="buttonGreen" style="color:white;text-align:center;line-height:50px;float:left;text-decoration:none;">{% trans "Upload File" %}</a></td>
        </tr>
      </table>
    </form>
  </div>
</div>
{% endifnotequal %}
{% endblock %}


{% block sidebar %}
<h3>{% trans "About" %}</h3>
<p>{% blocktrans with project.name as project_name %}You are looking at files for {{project_name}}{% endblocktrans %}</p>
{% endblock %} 


{% block extra_body %}
<script type="text/javascript">
  $(document).ready(function() { 
    $("form[name=deleteFilesForm]").submit(function(event) { 
      if (confirm("{% trans "Are you sure you want to permanently delete the file?" %}")) { 
        return true;
      } else {
        event.stopPropagation();
        return false;
      }
    });
  });
</script>
{% endblock %}
