{% extends 'project/base.html' %}
{% load i18n %}
{% load timezone_filters %}

{% block head_title %}
Logs for {{ project.name }}
{% endblock %}


		
	
{% block contents %}
<h1 class="title">Logs for {{project.name}} </h1>
	
<div class="contenttext">
			
				<div class="curve"><p></p></div>
				
				<div class="tblpad">
				
					<div class="textcontent">
<ul>
    {% for log in logs %}
    
        <li class="{% cycle 'tdbggrey' 'tdbwhite' %}">{{log.text}}
            <br />
            {% if log.description %}
            {{log.description}}
            {% endif %}
            <br />
            Created on {{log.created_on|localtime:account.timezone|date }} {{log.created_on|localtime:account.timezone|time}}
        </li>
    {% endfor %}
    </ul>
    
    <div  class="files_paging">
        {% if page_data.has_next_page %}
        <a href="{% url project_logs project_name=project.shortname %}?page={{page_data.next_page}}"><b>{% trans "Next" %} &gt;&gt;</b></a>
        {% endif %}
        
        {% if page_data.has_prev_page %}
        <a href="{% url project_logs project_name=project.shortname %}?page={{page_data.prev_page}}"><b>&lt;&lt; {% trans "Prev" %}</b></a>
        {% endif %}
    </div>					
				
					</div><!-- end  textcontent -->
				</div> <!-- end tblpad -->
			</div><!-- end contenttext -->
{% endblock %}

		{% block sidebar %}
		<h3>{% trans "Meta" %}</h3>
		<p>{% trans "You are viewing logs for" %} :<br />
		{{project.name}}<br />
		  These are also available<br />
		  as <a href="/projects/feeds/project/{{ project.shortname }}">{% trans "RSS feeds" %}</a></p>	
		{% endblock %}
