<td align="center" class="tab_bord">
    <form action="." method="post" id="markdone-{{task.id}}" class="markdone">
        {% if task.is_complete %}
        <input type="hidden" name="taskid" value="{{task.id}}" />
        <input type="hidden" name="markundone" value="markundone" />
        <input type="checkbox" name="markundone_check" value="{{task.is_complete}}" checked="checked" onchange="submit()" />

        {% else %}
        <input type="hidden" name="taskid" value="{{task.id}}" />
        <input type="checkbox" name="markdone" value="{{task.is_complete}}" onchange="submit()"/>
        {% endif %}
    </form>
</td>
