{% url project_details project.shortname as project_details %}
{% url project_tasks project.shortname as project_tasks %}
{% url project_todo project.shortname as project_todo %}
{% url project_noticeboard project.shortname as project_noticeboard %}
{% url project_calendar project.shortname as project_calendar %}
{% url project_files project.shortname as project_files %}
{% url project_health project.shortname as project_health %}
{% url project_logs project.shortname as project_logs %}
<h3>Navigate</h3>
<ul>
    <li><a {% ifequal project_details request.path %}class="current"{% endifequal %} href="{{ project_details }}">Project Details</a></li>
    <li><a {% ifequal project_tasks request.path %}class="current"{% endifequal %} href="{{ project_tasks }}">Tasks</a></li>
    <li><a {% ifequal project_todo request.path %}class="current"{% endifequal %} href="{{ project_todo }}">To Do</a></li>
    <li><a {% ifequal project_noticeboard request.path %}class="current"{% endifequal %} href="{{ project_noticeboard }}">Notice Board</a></li>
    <li><a {% ifequal project_calendar request.path %}class="current"{% endifequal %} href="{{ project_calendar }}">Calendar</a></li>
    <li><a {% ifequal project_files request.path %}class="current"{% endifequal %} href="{{ project_files }}">Files</a></li>
    <li><a {% ifequal project_health request.path %}class="current"{% endifequal %} href="{{ project_health }}">Metrics</a></li>
    <li><a {% ifequal project_logs request.path %}class="current"{% endifequal %} href="{{ project_logs }}">Logs</a></li>
</ul>
