{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}projects{% endblock %}


{% block extra_head_base %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}projects/css/projects.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
<style type="text/css">
  .subnav { margin: 0px; }
</style>
{% endblock %}

{% block subnav %}
    <ul class="subnav">
        <li id="all_projects"><a href="{% url project_dashboard %}">{% trans "All Projects" %}</a></li>
        {% if user.is_authenticated %}
            <li id="create_project"><a href="{% url project_create_project %}">{% trans "Create a Project" %}</a></li>
            {% if project %}
            <li id="project_details" class="current"><a href="{% url project_details project.shortname %}">{% trans "Project" %} {{ project.shortname }}</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}

    {% block extrafooterscript %}<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>{% endblock %}
