{% extends 'project/base.html' %}
{% load i18n %}{% load uni_form %}

{% block head_title %}
{% trans "Notice Board" %}
{% endblock %}

{% block extra_head_base %}
{{ block.super }}
<style type="text/css" media="screen">
  .projects_base_container .errorlist li{ display:block; }
</style>
{% endblock %}

{% block contents %}


<div class="contenttext">
				<div class="curve"><p></p></div>

    {% ifnotequal access 'Viewer' %}
		<div class="genericform">
		<h3>{% trans "Add a notice." %}</h3>		
    <div id="noticeform">		
		<div class="createcontent">
        <form action="." method="post">
            {{ addnoticeform|as_uni_form }}
            <input type="submit" name="addnotice" value="Add Notice" class="buttonGreenMedium"/>
        </form>
		</div>
    </div>
		</div>
		{% endifnotequal %}
    <br />
    <h2>{% trans "Notice Board" %}</h2>
				<div class="tblpad">
					<div class="noticeboard">
					{% if notices %}
					{% for notice in notices %}
					<div class="noticetext {% cycle "noticebgwhite" "noticebggrey" %}">
					<p class="noticetitle">{{notice.text|linebreaks|urlize}}</p>
<p class="putby">Put by <a href="{% url user_dashboard username=notice.user.username %}">{{notice.user.username}}</a> on {{notice.created_on|date}} {{notice.created_on|time}}</p>
					</div>
					{% endfor %}
					{% else %}
					<div class="noticetext">
					{% trans "No notices yet." %}
					</div>
					{% endif %}
					
					</div>
					
					
				
			
				</div>

			
			</div>
    <div>
        {% if page_data.has_next_page %}
        <a href="{% url project_noticeboard project_name=project.shortname %}?page={{page_data.next_page}}">{% trans "Next" %}&gt;&gt;</a>
        {% endif %}
        
        {% if page_data.has_prev_page %}
        <a href="{% url project_noticeboard project_name=project.shortname %}?page={{page_data.prev_page}}">&lt;&lt;{% trans "Previous" %}</a>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
	 <h3>{% trans "About" %}</h3>
	 <p>
    You are viewing notices put for <a href="{% url project_details project_name=project.shortname %}">{{project.name}}</a>.<br />
    There are {{notices.count}} notices.<br />
    {% if notices %}
        The latest notice was put by <a href="{% url user_dashboard username=notices.0.user.username %}">{{notices.0.user.username}}</a> on {{notices.0.created_on|date}}<br />
    {% endif %}
		</p>
{% endblock %}
