{% extends 'project/base.html' %}
{% load i18n %}
{% load uni_form %}

{% block title %}
{% trans "Tasks" %}
{% endblock %}

{% block contenttitle %}
<h1 class="purple_text"> Tasks for project {{project.name}} </h1>
{% endblock %}

{% block extra_css_pre %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
{% endblock %}

{% block extra_head_base %}
{{ block.super }}
<style type="text/css" media="screen">
  .createcontent p {
    padding: 0px;
  }
  #div_id_name {
    margin-top: 10px;
  }
  thead tr td {
    font-weight: normal;
    text-align:left;
    padding-left: 5px;
  }
</style>
{% endblock %}

{% block contents %}
<div class="contenttext">
<div class="genericform">
  <h3>{% trans "Add a task" %}</h3>
  <div class="createcontent">
    <div id="taskform">
      <form action="." method="post">
        {{taskform|as_uni_form}}
        <input type="SUBMIT" name="addtask" value="Add Task" class="buttonGreenMedium" style=" clear:both; float:left; margin-left:125px; " />
      </form>
      <div class="clear"></div>
    </div>
  </div>
</div><br />
  <div class="tblpad">
    <div class="textcontent" style="padding:0px; border:0px;  "> {% if tasks %}					
       <table style="float:left;" width="100%">
	 <thead>
	<tr>
	    <td style="width:13%;">{% trans "Task Name" %}</td>
	    <td style="width:18%;">{% trans "Expected Start Date" %}</td>
	    <td style="width:18%;">{% trans "Expected End Date" %}</td>
	    <td style="width:15%;">{% trans "User Responsible" %}</td>
	    <td style="width:6%;">{% trans "Details" %}</td>
	    <td style="width:6%;">{% trans "Edit" %}</td>
	    <td style="width:14%;">{% trans "Mark Done" %}</td>
	    <td style="width:6%;">{% trans "Delete" %}</td>
	</tr>
	</thead>
	 <tbody>
	{% for task in tasks %}
	  {% include "project/taskrow.html" %}
	{% endfor %}
	</tbody>
      </table>
      {% else %}
      <div class="no_table"> No tasks for project {{project.name}} </div>
      {% endif %} </div>
    {% if tasks %}
    <div class="showing">
      <p class="files_paging"> 
        {% if page_data.has_prev_page %} <a href="{% url project_tasks project_name=project.shortname %}?page={{page_data.prev_page}}">&lt;&lt; prev</a> {% endif %}
	[Showing task {{page_data.first_on_page}} - {{page_data.last_on_page}} of {{page_data.total}} tasks]        
        {% if page_data.has_next_page %} <a href="{% url project_tasks project_name=project.shortname %}?page={{page_data.next_page}}">next &gt;&gt;</a> {% endif %}
    </p>
    {% endif %}</div> </div>
</div>
{% endblock %}


{% block sidebar %}
<h3>Actions</h3>
<ul>
  <li> <a href="#taskform" class="taskshow">Add a task</a> </li>
  <li><a href="{{project.quicktasks_url}}">Tasks Quick Entry</a></li>
  <li><a href="{{project.quicktaskitems_url}}">Task Items Quick Entry</a></li>
</ul>
<h3>Meta</h3>
<p class="sideblurb">You are looking at the tasks for {{project.name}}</p>
<ul>
  <li><a href="{% url project_tasks project_name=project.shortname %}{% if not includecomplete %}?includecomplete=1{% endif %}">{% if includecomplete %}Show incomplete tasks{% else %}Show completed tasks{% endif %}</a></li>
</ul>
{% endblock %}


{% block extra_body %}
<script type="text/javascript">
    $('.taskshow').click(function(){
        $('#taskform').show('slow');
    });
    $('.taskrowdetail').hide()
    $('.showtaskdetails').click(function(){
        $(this).closest(".taskrow").nextUntil(".taskrow", ".taskrowdetail").toggle();
        return false;
    })
    var options = {
        'minDate': 0,
        'maxDate': 365,
        'dateFormat': 'yy-mm-dd'
    }
    $('#id_start_date').datepicker(options);
    $('#id_end_date').datepicker(options);
</script>
{% endblock %} 
