{% extends 'project/base.html' %}
{% load i18n %}

{% block head_title %}
{% trans "Metrics" %}
{% endblock %}

{% block extra_head_base %}
<style type="text/css" media="screen">
  thead tr td {
    font-weight:normal;
    text-align:left;
  }
</style>
{% endblock %}

{% block contents %}
<div class="contenttext">
  <div class="curve">
    <p></p>
  </div>
  <div class="tblpad">
    <div class="textcontent">
      <p class="metricstitle">{{project.name}} has {{num_tasks}} tasks with {{num_taskitems}} task items, and {{num_tasks_complete}} tasks are complete.
        The total effort required is {{time_str}} and  {{time_str_complete}} work has been completed.</p>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tblmetrics">
        <tr>
          <td> {% if num_tasks %} <img src="{{task_chart_url}}" alt="Task chart" /> {% endif %} </td>
          <td> {% if num_tasks %} <img src="{{deadl_chart_url}}" alt="Deadline status chart" /> {% endif %} </td>
          <td> {% if num_taskitems %} <img src="{{item_chart_url}}" alt="Taskitem status chart" /> {% endif %} </td>
        </tr>
        <tr>
          <td>{% trans "Total tasks" %}: {{num_tasks}}
            {% trans "Tasks complete" %}: {{num_tasks_complete}}</td>
          <td>{% trans "Total tasks" %}: {{num_tasks}}
            {% trans "Missed deadlines" %}: {{num_deadline_miss}}</td>
          <td>{% trans "Total task items" %}: {{num_taskitems}}
            {% trans "Extra hours" %}: {{num_extra_hours}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div id="thismonth">
  <h2 class="purple_text">{% trans "Tasks starting this month" %}</h2>
  <div class="contenttext">
    <div class="curve">
      <p></p>
    </div>
    <div class="tblpad">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<thead>
        <tr>
          <td width="41%" style=" padding-left:30px;" >{% trans "Month" %}</td>
          <td width="59%"  style="" >{% trans "Starting this month." %}</td>
        </tr>
	</thead>
	<tbody>
        {% for monthview in start_month %}
        <tr>
          <td width="41%" style=" padding-left:30px;">{{monthview.0}} {{monthview.1}}</td>
          <td width="59%"> {{monthview.2}} </td>
        </tr>
        {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
  <h2 class="purple_text">{% trans "Tasks ending this month" %}</h2>
  <div class="contenttext">
    <div class="curve">
      <p></p>
    </div>
    <div class="tblpad">
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<thead>
        <tr>
          <td width="41%" style=" padding-left:30px;" >{% trans "Month" %}</td>
          <td width="59%"  >{% trans "Ending this month." %}</td>
        </tr>
	</thead>
	<tbody>
        {% for monthview in end_month %}
        <tr>
          <td width="41%" style=" padding-left:30px;"> {% if monthview.0 %}
            {{monthview.0}} {{monthview.1}}
            {% else %}
            {% trans "Unspecified" %}
            {% endif %} </td>
          <td width="59%"> {{monthview.2}} </td>
        </tr>
        {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}			
