{% extends "project/base.html" %}
{% load avatar_tags %}
{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load sorting_tags %}
{% load activity_tags %}

{% block head_title %}{% blocktrans %}All Projects{% endblocktrans %}{% endblock %}

{% block content950top %}
{% endblock %}

{% block extra_css_pre %}
<style type="text/css">
#subcontent_wrapper {
    width: 700px;
    float: right;
}
#subcontent {
    width: 700px;
}
.projects_menu {
    display:block;
    float:left;
    margin:0;
    padding:0;
    width:245px;
}
.tooltip_new li {
    color: #000000;
}
li.currentproject a {
    color: #ffffff;
}
body{font:12px Arial, Helvetica, sans-serif; color:#595959; line-height:24px;}

</style>
{% endblock %}

{% block body %}


{% block contents %}

{% if invites %}
<br/>
<h1 class="purple_text">{% trans "Pending Invites" %}</h1>
<ul>
    {% for invite in invites %}
    <li style="border-top:1px solid #CCC;border-bottom:1px solid #CCC; padding-top:5px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="200" align="left" valign="middle">{{invite.project.name}}</td>
    <td align="left" > <form action="." method="post">    
        <input type="hidden" name="projid" value={{invite.project.id}} />
        <input type="hidden" name="invid" value={{invite.id}} />
        <input type="submit" name="acceptinv" value="Accept" class="buttonGreenSmall" style="float:left;"/>
        <input type="submit" name="rejectinv" value="Reject" class="buttonGreenSmall" style="float:left;"/>
    </form></td>
  </tr>
</table>   
   
</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}

<br />

<div class="projects_base_container">


    <div class="projects_left_column">

        <div class="contenttext">
            <div class="curve"><p></p></div>
            <div class="tblpad">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbltitle">
                    <tr>
                        <td width="27%" style="text-align:left;">{% trans "Project Name" %}</td>
                        <td width="27%" style=" text-align:left;" >{% trans "Start Date" %}</td>
                        <td width="20%" style=" text-align:left;">{% trans "End Date" %}</td>
                        <td width="14%" style=" text-align:left;">{% trans "Owner" %}</td>
                        <td width="12%"  style="text-align:left;">{% trans "Active" %}</td>
                    </tr>

                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl">
                    {% for sub in subs %}
                    <tr class={% cycle "" "tdbggrey" %}>
                        <td width="27%" class="projectname" style="word-break:break-word;white-space:normal;"><a href="{{sub.project.get_absolute_url}}">{{sub.project.name}}</a></td>
                        <td width="27%">{{sub.project.start_date}}</td>
                        <td width="20%">{% if sub.project.end_date %}{{ sub.project.end_date }}{% else %}-{% endif %}</td>
                        <td width="14%">{% ifequal sub.project.owner request.user %}True{% else %}False{% endifequal %}</td>
			<td>{% if sub.project.is_active %}True{% else %}False{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
    <div class="projects_right_column">
{% comment %}
        <h3>{% trans "Projects" %}</h3>
        <ul>
            {% for sub in subs %}
            <li>
            <a href="{{ sub.project.get_absolute_url }}"  style="margin-left:20px;">{{ sub.project.name }}</a>
            <div class="floatform"  style="margin-left:10px;">
                <form action="." method="post">
                    <input type="hidden" name="projectid" value="{{sub.project.id}}" />
                    {% if sub.project.is_active %}
                                        <input type="checkbox" name="inactivate" value="" onchange="submit()" checked="checked" class="projstatus" style="float:left; display:inline;  margin:-20px 10px 0px 0px;" />

                    <input type="hidden" name="activestatus" value="true" />
                    {% else %}
                    <input type="hidden" name="activestatus" value="false" />
                    <input type="checkbox" name="activate" value="" onchange="submit()" class="projstatus" style="float:left; display:inline;  margin:-20px 10px 0px 0px;" />
                    {% endif %}
                </form>			
            </div>	
            </li>
            {% endfor %}
        </ul>
{% endcomment %}
        <h3>{% trans "Meta" %}</h3>
        <p class="sideblurb">{% blocktrans with subs.count as subs_count %}Your dashboard has {{subs_count}} projects.{% endblocktrans %}</p>		
        <ul>
	  {% if includeinactive %}
            <li><a href="{% url project_dashboard %}">{% trans "Show active projects" %}</a></li>
	  {% else %}
            <li><a href="{% url project_dashboard %}?includeinactive=1">{% trans "Include inactive projects" %}</a></li>
	    {% endif %}
        </ul>
    </div>

    <div class="clear">

    </div>

</div>

{% endblock %} 

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/nyro_modal/styles/nyroModal.css" />
{% endblock %}

{% block jquery_tools %}
<script type="text/javascript" src="{{MEDIA_URL}}js/nyro_modal/js/jquery.nyroModal-1.6.2.min.js"> </script>
{% endblock %}

{% block extra_body %}
<script>
$('a.showhideproject').click(function() {
        // var activity_id = $(this).attr('activity_id');
        $(this).parent().parent().parent().find('.base_project').toggle();
        $(this).parent().find('.showhideproject').toggle();
        $(this).hide();
        return false;
        });
$("a.gears").tooltip({
relative: false, 
position: "center", 
effect: "fade",
offset: [30, -210],
tipClass: 'tooltip_new'
});
</script>
{% endblock %} 
