{% extends "project/base.html" %}
{% load avatar_tags %}
{% load projects_tags %}
{% load activity_tags %}
{% load uni_form %}
{% load i18n %}

{% block content950top %}
{% endblock %}

{% block head_title %}
{% trans "Project Details" %} - {{ project.name }} 
{% endblock %}

{% block extra_css_pre %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
    <style type="text/css">
        .taskrowdetail {
            display: none;
        }
        #inviteform {
            display: none;
        }
        #taskform {
            display: none;
        }
    </style>
{% endblock %}

    {% block extra_head_base %}
    {{ block.super }}
    <style type="text/css" media="screen">
      	.createcontent p {
	  padding: 0px;
	}
	#div_id_username,#div_id_name {
	  margin-top:10px;
	}
	thead tr td {
	  font-weight: normal;
	  text-align:left;
	  padding-left: 5px;
	}
    </style>
    {% endblock %}


{% block body %}


{% block contents %}

{% if invites %}
<h2>{% trans "Pending Invites" %}</h2>
<ul>
  {% for invite in invites %}
  <li> {{invite.project.name}}
    <form action="." method="post">
      <input type="hidden" name="projid" value={{invite.project.id}} />
      <input type="hidden" name="invid" value={{invite.id}} />
      <input type="submit" name="acceptinv" value="Accept" />
    </form>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %} <br />
<br />
<div class="projects_base_container">
  <div class="projects_left_column">
    <div class="contenttext">
      <div class="curve">
        <p></p>
      </div>
      {% ifequal access 'Owner' %}
      <div class="genericform">
        <h3 id="inviteuser">{% trans "Invite a User" %}
          <a href="#" class="inviteshow">[{% trans "show" %}]</a>
        </h3>
	<div class="createcontent">
          <div id="inviteform">
            <form action="." method="post">
              {{inviteform|as_uni_form}}
              <div><br/>
		<input type="submit" name="invite" value="{% trans "Invite User" %}" class="buttonGreenMedium" style=" clear:both; float:left; margin-left:125px;" />
		<div class="clear"></div>
              </div>
            </form>
          </div>
	</div>
      </div>
      {% endifequal %}
      {% ifnotequal access 'Viewer'  %}
      <div class="genericform">
	<h3 id="addtask">{% trans "Add a task" %} 
          <a href="#addtask" class="taskshow">[{% trans "show" %}]</a>
	</h3>
	<div class="createcontent">
          <div id="taskform">
            <form action="." method="post">
              {{taskform|as_uni_form}}
              <div><br/>
		<input type="submit" name="task" value="{% trans "Add a task" %}" class="buttonGreenMedium" style=" clear:both; float:left; margin-left:125px;" />
		<div class="clear"></div>
              </div>
            </form>
          </div>
	</div>
      </div>
      {% endifnotequal %}
    </div>
    <div class="tblpad">
      <div class="tblpad">
        {% if new_tasks %}
    

	<h1 class="titleor" style="float:left">{% blocktrans %}Displaying Recent 3 Tasks{% endblocktrans %}</h1><p style="float:right;margin-top:20px;"><a href="{% url project_tasks project_name=project.shortname %}">See All</a></p>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="float: left;">
          <thead>
            <tr>
              <td width="13%" style="padding-left:10px;">{% trans "Task Name" %}</td>
              <td width="18%" style=" text-align:center">{% trans "Expected Start Date" %}</td>
              <td width="18%" style=" text-align:center">{% trans "Expected End Date" %}</td>
              <td width="15%" style=" text-align:left">{% trans "User Responsible" %}</td>
              <td width="7%" style=" text-align:left">{% trans "Details" %}</td>
              <td width="6%" style=" text-align:left">{% trans "Edit" %}</td>
              <td width="10%" style=" text-align:left">{% trans "Mark Done" %}</td>
              <td width="6%" style="">{% trans "Delete" %}</td>
            </tr>
          </thead>
          <tbody>
          {% for task in new_tasks %}
            {% include 'project/taskrow.html' %}
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="no_table">
          {% trans "No Recent Tasks." %}
        </div>
        {% endif %}
      </div>
    </div>
    <h1 class="titleor" style="margin-top:150px">{% trans "Overdue tasks" %}</h1>
    <div class="contenttext">
      <div class="curve">
        <p></p>
      </div>
      <div class="tblpad">
        {% if overdue_tasks %}
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td width="13%" style="padding-left:10px;">{% trans "Task Name" %}</td>
              <td width="18%" style=" text-align:center">{% trans "Expected Start Date" %}</td>
              <td width="18%" style=" text-align:center">{% trans "Expected End Date" %}</td>
              <td width="15%" style=" text-align:left">{% trans "User Responsible" %}</td>
              <td width="7%" style=" text-align:left">{% trans "Details" %}</td>
              <td width="6%" style=" text-align:left">{% trans "Edit" %}</td>
              <td width="10%" style=" text-align:left">{% trans "Mark Done" %}</td>
              <td width="6%" >{% trans "Delete" %}</td>
            </tr>
          </thead>
          <tbody>
          {% for task in overdue_tasks %}
            {% include 'project/taskrow.html' %}
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="no_table">
          {% trans "No overdue tasks." %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div>
  <div class="projects_right_column"> {% block sidebar %}

      {% include "project/nav_sidebar.html" %}

    {% ifnotequal access 'Viewer' %}
    <h3>{% trans "Actions" %}</h3>
    <ul>
      <li><a href="#addtask" id="taskshow">{% trans "Add a task" %}</a></li>
      <li><a href="#inviteuser" id="inviteshow">{% trans "Invite a user" %}</a></li>
      <li><a href="{{project.quicktasks_url}}">{% trans "Tasks Quick Entry" %}</a></li>
      <li><a href="{{project.quicktaskitems_url}}">{% trans "Task Items Quick Entry" %}</a></li>
      {% ifequal access 'Owner' %}
      <li><a href="{{project.settings_url}}">{% trans "Settings" %}</a></li>
      {% endifequal %} 
    </ul>
    {% endifnotequal %}

    {% if project.invited_users %}
    <div>
      <h3>{% trans "Pending users." %}</h3>
      <ul>
          {% for user in project.invited_users %}
          <li> <a href="{% url user_dashboard user.user %}">{{ user.user.username }}</a> </li>
          {% endfor %}
      </ul>
    </div>
    {% endif %}
    <h3>{% trans "Users" %}</h3>
    <ul>
        {% for user in project.subscribeduser_set.all %}
        <li> <a href="{% url user_dashboard user.user %}">{{ user.user.username }}</a> </li>
        {% endfor %}
    </ul>

    {% endblock %} </div>
  <div class="clear"> </div>
</div>
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block jquery_tools %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
$('.showtaskdetails').click(function(){
    $(this).closest('.taskrow').nextUntil('.taskrow', '.taskrowdetail').toggle();
    return false;
});
var options = {
    'minDate': 0,
    'maxDate': 365,
    'dateFormat': 'yy-mm-dd'
}
$('#id_start_date').datepicker(options);
$('#id_end_date').datepicker(options);
$("#inviteshow").click(function() {
    $("#inviteform").hide();
    $(".inviteshow").click();
});
$(".inviteshow").click(function() {
    if ($("#inviteform").css("display") == "none") {
        $("#inviteform").show();
        $(this).text("[hide]");
    } else {
        $("#inviteform").hide();
        $(this).text("[show]");
    }
});
$("#taskshow").click(function() {
    $("#taskform").hide();
    $(".taskshow").click();
});
$(".taskshow").click(function() {
    if ($("#taskform").css("display") == "none") {
        $("#taskform").show();
        $(this).text("[hide]");
    } else {
        $("#taskform").hide();
        $(this).text("[show]");
    }
});
$(document).ready(function() { 
  {% if inviteform.errors %}
    $(".inviteshow").click();
  {% endif %}
  {% if taskform.errors %}
    $(".taskshow").click();
  {% endif %}
});
</script>
{% endblock %}

