{% extends 'project/base.html' %}
{% load i18n %}

{% block head_title %}
{% trans "Settings" %} - {{project.name}}
{% endblock %}

{% block extra_head_base %}
{{ block.super }}
<style type="text/css">
form{border:0px; padding:0px; margin:0px; }
form input{padding:0px; margin:0px;}
form table{ cellpadding:0; cellspacing:0;}
form table tr td{ cellpadding:0; cellspacing:0;}
</style >
{% endblock %}
{% block innercontent %}
<div class="sintable">
<table width="100%" cellpadding="0" class="border_div ">
  <thead>
    <tr>
      <td width="20%" align="center">User</td>
      <td width="20%" align="center">Unsubscribe</td>
      <td width="60%" align="center" >Change Permisson</td>
    </tr>
  </thead>
{% for user in project.subscribeduser_set.all %}
    <tr>

      <td align="center" style="font-size: medium;">{{user.user.username}}</td>
      <td align="center">
	 <form action="."  method="post">
	    <input type="submit" name="remove" value="Unsubscribe" class="buttonGreenMedium"  style="margin-bottom: -5px ; margin-top: 15px"/>
	    <input type="hidden" name="user" value="{{user.user.username}}" />
	 </form>
      </td>
      <td align="center">
	  <form action="."  method="post">
	      <table width="100%" cellpadding="0" cellspacing="0" >
		  <tr> 
		    <td valign="top">
		      <label for="id_group" style="valign:top; float:left;">Group:</label> 
		      <select id="id_group" class="required" name="group" style="margin-bottom: 5px ">
			    <option value="Owner" {% ifequal user.group 'Owner' %}selected="selected"{% endifequal %}>Owner</option>
			    <option value="Participant" {% ifequal user.group 'Participant' %}selected="selected"{% endifequal %}>Participant</option>
			    
			    <option value="Viewer" {% ifequal user.group 'Viewer' %}selected="selected"{% endifequal %}>Viewer</option>
		      </select>
		    </td>
		    <td valign="bottom">
		      <input type="hidden" name="user" value="{{user.user.username}}" />
		      <input type="submit" name="chgroup" value="Change group" class="buttonGreenMedium" style="float:right; margin-top:-5px;margin-bottom: -5px" />
		    </td>

		  </tr>	 
	      </table>
	  </form>	 
      </td>
	 
	 
</tr>	
{% endfor %}
</table>
</div>
{% endblock %}

{% block sidebar %}
<h3>About</h3>
<p>You are viewing settings for project {{project.name}}</p>
{% endblock %}
