{% extends "project/base.html" %}
{% load avatar_tags %}
{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load sorting_tags %}
{% load activity_tags %}

{% block head_title %}{% blocktrans %}Tasks{% endblocktrans %}{% endblock %}

{% block content950top %}
{% endblock %}

{% block body %}

{% if invites %}
<h2>Pending Invites</h2>
<ul>
  {% for invite in invites %}
  <li> {{invite.project.name}}
    <form action="." method="post">
      <input type="hidden" name="projid" value={{invite.project.id}} />
      <input type="hidden" name="invid" value={{invite.id}} />
      <input type="submit" name="acceptinv" value="Accept" />
    </form>
  </li>
  {% endfor %}
</ul>
{% endif %} <br />
<br />
<div class="projects_base_container">
  <div class="projects_left_column">
    <div class="contenttext">
      <div class="curve">
        <p></p>
      </div>
      <div class="tblpad">
        <div class="textcontent" style="padding:0px; border:0px; border-top:1px solid #EDEDED; ">
          <div class="currenttasks">
            <p class="metricstitle">tuxcanfly</p>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="create">
              <tbody>
                <tr class=" taskrow">
                  <td width="19%" class="projectname1"><a class="showtaskdetails" href="#">tuxcanfly</a></td>
                  <td width="16%"> Jan. 7, 2011 </td>
                  <td width="16%"> Jan. 14, 2011 </td>
                  <td width="16%"> tuxcanfly </td>
                  <td width="8%"><a href="/Project/taskdetails/2/">Details</a></td>
                  <td width="6%"><a href="/Project/edittask/2/"> <img src="/site_media/images/edit_new.png" alt="edit"> </a></td>
                  <td width="10%"><form action="." method="post" id="markdone-2" class="markdone">
                      <div>
                        <input type="hidden" name="taskid" value="2">
                        <input type="checkbox" name="markdone" value="0" onclick="this.form.submit();">
                      </div>
                    </form></td>
                  <td width="9%"><form action="." method="post" id="deletetask-2" class="deletetask">
                      <div>
                        <input type="hidden" name="taskid" value="2">
                        <input type="hidden" name="deletetask" value="deletetask">
                        <input type="image" src="/site_media/images/x-icon.gif" name="deletetask" value="Delete">
                      </div>
                    </form></td>
                </tr>
                <tr class="taskrowdetail" style="display: none; ">
                  <td>Actual start date</td>
                  <td> No date specified </td>
                </tr>
                <tr class="taskrowdetail" style="display: none; ">
                  <td>Actual end date</td>
                  <td> No date specified </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="currenttasks">
            <p class="metricstitle">test</p>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="create">
              <tbody>
                <tr class="taskrow">
                  <td width="19%" class="projectname1"><a class="showtaskdetails" href="#">test</a></td>
                  <td width="16%"> Jan. 7, 2011 </td>
                  <td width="16%"> Jan. 14, 2011 </td>
                  <td width="16%"> tuxcanfly </td>
                  <td width="8%"><a href="/Project/taskdetails/1/">Details</a></td>
                  <td width="6%"><a href="/Project/edittask/1/"> <img src="/site_media/images/edit_new.png" alt="edit"> </a></td>
                  <td width="10%"><form action="." method="post" id="markdone-1" class="markdone">
                      <div>
                        <input type="hidden" name="taskid" value="1">
                        <input type="checkbox" name="markdone" value="0" onclick="this.form.submit();">
                      </div>
                    </form></td>
                  <td width="9%"><form action="." method="post" id="deletetask-1" class="deletetask">
                      <div>
                        <input type="hidden" name="taskid" value="1">
                        <input type="hidden" name="deletetask" value="deletetask">
                        <input type="image" src="/site_media/images/x-icon.gif" name="deletetask" value="Delete">
                      </div>
                    </form></td>
                </tr>
                <tr class="taskrowdetail" style="display: none; ">
                  <td>Actual start date</td>
                  <td> No date specified </td>
                </tr>
                <tr class="taskrowdetail" style="display: none; ">
                  <td>Actual end date</td>
                  <td> No date specified </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="showing">
          <div id="pagination"> [Showing task 1 - 2 of 2 tasks] </div>
        </div>
      </div>
      <div class="genericform">
        <h3>Add a task </h3>
        <div class="createcontent">
          <div id="taskform">
            <form action="." method="post">
              <!--{{taskform.as_p}}-->
              <p>
                <label for="id_name">Name:</label>
                <input id="id_name" type="text" class="textfield required input" name="name" maxlength="200">
                <span class="help_text" style="display: none; "> Name of the task</span></p>
              <p>
                <label for="id_start_date">Start date:</label>
                <input id="id_start_date" type="text" class="datefield required input hasDatepicker" name="start_date">
                <span class="help_text" style="display: none; "> When will this task start?</span></p>
              <p>
                <label for="id_end_date">End date:</label>
                <input id="id_end_date" type="text" class="datefield input hasDatepicker" name="end_date">
                <span class="help_text" style="display: none; "> When will this task end?</span></p>
              <p>
                <label for="id_user_responsible">User responsible:</label>
                <select id="id_user_responsible" class="required" name="user_responsible">
                  <option value="None">None</option>
                  <option value="tuxcanfly">tuxcanfly</option>
                </select>
                <span class="help_text" style="display: none; "> Who is reponsible for this task?</span></p>
              <div><br/>
                <input type="submit" name="task" value="Add a task" class="buttonGreenMedium" style=" clear:both; float:left; margin-left:125px; " />
                <div class="clear"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="projects_right_column">
    <div id="rightcolumn">
      <h3>Actions</h3>
      <ul>
        <li> <a href="#" id="taskshow">Add a task</a> </li>
        <li><a href="">Create a new task</a></li>
        <li><a href="/Project/tasks/quickentry/">Tasks Quick Entry</a></li>
        <li><a href="/Project/taskitems/quickentry/">Task Items Quick Entry</a></li>
        <li><a href="./?includecomplete=1">Show completed tasks</a></li>
      </ul>
      <h3>Navigate</h3>
      <ul>
        <li><a href="">Project Details</a></li>
        <li><a href="#Project/tasks/quickentry/" class="current">Tasks</a></li>
        <li><a href="#">To Do</a></li>
        <li><a href="#">Notice Board</a></li>
        <li><a href="#">Calandar</a></li>
        <li><a href="#">Files</a></li>
        <li><a href="#">Metrics</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"> </div>
</div>
{% endblock %} 

{% block extra_head %}
{% endblock %}

{% block jquery_tools %}
{% endblock %}

{% block extra_body %}
{% endblock %} 