{% extends "project/base.html" %}
{% load avatar_tags %}
{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load sorting_tags %}
{% load activity_tags %}

{% block head_title %}{% trans "Task Details" %}{% endblock %}

{% block content950top %}
{% endblock %}

{% block extra_css_pre %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
    <style type="text/css">
        #subtaskform {
            display: none;
        }
        #itemform {
            display: none;
        }
        #noteform {
            display: none;
        }
        .taskrowdetail {
            display: none;
        }
        #notes {
            display: none;
        }
    </style>
{% endblock %}

 {% block extra_head_base %}
{{ block.super }}
 <style type="text/css" media="screen">
   .createcontent p {
     padding: 0px;
   }
   #div_id_name,#div_id_item_name,#div_id_text {
     margin-top: 10px;
   }
 </style>
 {% endblock %}

{% block body %}


{% block contents %}

{% endblock %} <br />
<br />
<div class="projects_base_container">
    <div class="projects_left_column">
        <div class="contenttext">
            <div class="curve">
                <p></p>
            </div>
            <div class="tblpad">
                <div class="textcontent">
                    <h1 class="purple_text" style=" word-wrap:break-word;">{{task.name}}</h1>
                    <div class="tblpad">
                        <div class="curve">
                            <br/>            </div>
                        <div class="taskinfo">
                            <table width="99%" cellspacing="0" class="tblpad">
                                <thead>
                                    <tr>
                                        <td  align="center">{% trans "Start Date" %}</td>
                                        <td align="center">{% trans "End Date" %}</td>
                                        <td align="center">{% trans "Responsible" %}</td>
                                        <td align="center">{% trans "Edit" %}</td>
                                        <td align="center">{% trans "Complete" %}?</td>
                                    </tr>
                                </thead>
                                <tr>
                                    <td align="center" class="tab_bord">{{task.expected_start_date|date}}</td>
                                    <td align="center" class="tab_bord">{{task.expected_end_date|date}}</td>
                                    <td align="center" class="tab_bord">{{task.user_responsible}}</td>
                                    <td align="center" class="tab_bord"><a href="{{task.edit_url}}">Edit</a></td>
                                    {% include 'project/markdone_controls.html' %}
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="taskdetails">

                        <div id="notes">
                            {% if task.get_notes %}
                            <h3>{% trans "Notes" %}</h3>
                            <ul>
                                {% for note in task.get_notes %}
                                <li>{{note.text}} <br />added by <a href="{% url user_dashboard username=note.user.username %}">{{note.user.username}}</a></li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            {% trans "No notes on this task." %}
                            {% endif %}
                        </div>

                        {% if task.num_child_tasks %}
                        <div id="subtasks">
                            <h3>Sub tasks for {{task.name}}</h3>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbltitle">
                               
                                    <tr>
                                        <td width="16%" >{% trans "Subtask" %}</td>
                                        <td width="14%" >{% trans "Start Date" %}</td>
                                        <td width="14%" >{% trans "End Date" %}</td>
                                        <td width="16%" >{% trans "Responsible" %}</td>
                                        <td width="10%" >{% trans "Details" %}</td>
                                        <td width="10%" >{% trans "Edit" %}</td>
                                        <td width="10%" >{% trans "Complete" %}?</td>
                                        <td width="10%" >{% trans "Delete" %}</td>
                                    </tr>
                                
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl">
                                {% for task in task.task_set.all %}
                               
                                {% include 'project/taskrow.html' %}
                               
                                {% endfor %}
                            </table>
                        </div>
                        {% endif %}

                        {% if task.num_items %}
                        <div id="taskitems">
                            <h3>Items for {{task.name}}</h3>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbltitle">
                                <thead>
                                    <tr>
                                        <td>
                                            {% trans "Item" %}
                                        </td>
                                        <td>
                                            {% trans "User" %}
                                        </td>
                                        <td>
                                            {% trans "Time" %}
                                        </td>
                                        <td>
                                            {% trans "Complete" %}?
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl">
                                {% for item in task.taskitem_set.all %}
                                <tbody>
                                <tr class={% cycle "odd" "even" %}>
                                    <td><a href="{{item.get_absolute_url}}">{{item.name}}</a></td>
                                    <td>{{item.user}}</td>
                                    <td>{{item.time_worked}}</td>
                                    {% include 'project/taskitem_done.html' %}
                                </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                        {% endif %}

                    </div>

                </div>
                <!-- end  textcontent -->
            </div>
            <!-- end tblpad -->
        </div>

        {% block formsarea %}

        <div class="genericform">
            <h3>{% trans "Add a sub task" %}
                <a href="#" class="togglesubtask">[{% trans "show" %}]</a>
            </h3>
            <div class="createcontent">
                <div id="subtaskform">
                    <form action="." method="post">
                        {{addsubtaskform|as_uni_form}}
                        <br/>
                        <input type="SUBMIT" name="addsubtask" value="Add a subtask" class="buttonGreenMedium" style="float:left; margin-left:125px;">
                    </form><br/>

                    <div class="clear"></div>

                </div>
            </div>
        </div>
        <div class="genericform">
            <h3>{% trans "Add a task item" %}
                <a href="#" class="toggleitem">[{% trans "show" %}]</a>
            </h3>
            <div class="createcontent">
                <div id="itemform">
                    <form action="." method="post">
                        {{additemform|as_uni_form}}
                        <br/>
                        <input type="SUBMIT" name="additem" value="Add a taskitem" class="buttonGreenMedium" style="float:left;margin-left:125px;" >
                        <br/>
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="genericform">
            <h3>{% trans "Add a note" %}
                <a href="#" class="togglenote">[{% trans "show" %}]</a>
            </h3>
            <div class="createcontent">
                <div id="noteform">
                    <form action="." method="post">
                        {{noteform|as_uni_form}}
                        <br/>
                        <input type="submit" name="addnote" value="Add Note" class="buttonGreenMedium" style="float:left;margin-left:125px;">
                        <br/>
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        {% endblock %}

    </div>
    <div class="projects_right_column">
        {% include "project/nav_sidebar.html" %}
        <h3>{% trans "Actions" %}</h3>
        <ul>
            <li><a href="#subtaskform" id="taskformshow">{% trans "Add a sub task" %}.</a></li>
            <li><a href="#itemform" id="itemformshow">{% trans "Add a task item" %}.</a></li>
            <li><a href="#shownotes" id="shownotes">{% trans "Show notes" %}</a></li>
            <li><a href="#noteform" id="shownotesform">{% trans "Add a note" %}</a></li>
        </ul>

        <h3>{% trans "Meta" %}</h3>
        <p class="sideblurb">You are looking at {{task.name}}, a task for {{project.name}}.</p>
        <ul> 
            <li><a href="{{task.edit_url}}">{% trans "Edit this task" %}</a></li>
            <li><a href="{{task.version_url}}">{% trans "See previous versions" %}</a></li>
        </ul>

        <h3>
            Older Versions
        </h3>

        {% include 'project/taskversions.html' %}
        <p>
        Task {{task.name}} was created on {{task.created_on|date}}. It has {{task.num_child_tasks}} sub tasks and {{task.num_items}} task items.
        {% if task.expected_end_date %}
        You need to complete this by {{task.expected_end_date|date}}
        {% endif %}
        </p>
    </div>
    <div class="clear"> </div>
</div>
{% endblock %} 

{% block extra_head %}
{% endblock %}

{% block jquery_tools %}
{% endblock %}


{% block extra_body %}
<script>
$('.showtaskdetails').click(function(){
    $(this).closest(".taskrow").nextUntil(".taskrow", ".taskrowdetail").toggle();
    return false;
});
var options = {
    'minDate': 0,
    'maxDate': 365,
    'dateFormat': 'yy-mm-dd'
}
$('#id_start_date').datepicker(options);
$('#id_end_date').datepicker(options);
$("#taskformshow").click(function() {
  if ($(".togglesubtask").parent().siblings(".createcontent").first().css("height") == "0px") {
    $(".togglesubtask").click();
  }
});
$("#itemformshow").click(function() {
  if ($(".toggleitem").parent().siblings(".createcontent").first().css("height") == "0px") {
    $(".toggleitem").click();
  }
});
$("#shownotesform").click(function() {
  if ($(".togglenote").parent().siblings(".createcontent").first().css("height") == "0px") {
    $(".togglenote").click();
  }
});
$(".togglesubtask").toggle(
    function() {
        $("#subtaskform").show();
        $(this).text("[hide]");
    },
    function() {
        $("#subtaskform").hide();
        $(this).text("[show]");
    }
);
$(".toggleitem").toggle(
    function() {
        $("#itemform").show();
        $(this).text("[hide]");
    },
    function() {
        $("#itemform").hide();
        $(this).text("[show]");
    }
);
$(".togglenote").toggle(
    function() {
        $("#noteform").show();
        $(this).text("[hide]");
    },
    function() {
        $("#noteform").hide();
        $(this).text("[show]");
    }
);
$('#shownotes').toggle(
    function(){
        $('#notes').toggle('slow');
        $(this).html('Hide notes')
    },
    function(){
        $('#notes').toggle('slow');
        $(this).html('Show notes')
    }
);
$(document).ready(function() { 
  {% if addsubtaskform.errors %}
    $(".togglesubtask").click();
  {% endif %}
  {% if additemform.errors %}
    $(".toggleitem").click();
  {% endif %}
  {% if noteform.errors %}
    $(".togglenote").click();
  {% endif %}
});
</script>
{% endblock %}
