{% extends 'project/base.html' %}
{% load i18n %}

{% block head_title %}
{% trans "Task diff" %}
{% endblock %}

{% block contents %}
<h1 class="title">{% trans "Task diff" %} - {{ ver1 }}</h2>
<h3>{% trans "Version" %} {{ ver1.id }}</h3>
<pre>
{{ver1.as_text}}
</pre>
<h3>{% trans "Version" %} {{ ver2.id }}</h3>
<pre>
{{ver2.as_text}}
</pre>

<h3>{% trans "Diff" %}</h3>
    {{diff|safe}}
{% endblock %}

{% block sidebar %}
    <h3>{% trans "Meta" %}</h3>
    <ul>
	<li>
	    <a href="{{task.get_absolute_url}}">{% trans "Details" %}</a>
	</li>
	<li>
	    <a href="{{task.edit_url}}">{% trans "Edit" %}</a>
	</li>
    </ul>
{% endblock %}
