{% extends 'project/base.html' %}
{% load i18n %}

{% block extra_css_pre %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
{% endblock %}

{% block head_title %}
{% trans "Tasks Quick Entry" %}
{% endblock %}

{% block contents %}
<h1 class="purple_text">{{project.name}}</h1>
<div class="contenttext">
    <div class="tblpad">
        <div id="quickentry" >
            <form action="." method="post" class="quick">
                <br/>
                <table width="99%" align="center" cellpadding="3" cellspacing="2" class="border_div">
                    <thead>
                        <tr> {% for field in entry_form.data.0.fields.values %}
                            <td> {{field.label}}</td>
                            {% endfor %} </tr>
                    </thead>
                    {% for form in entry_form.data %}
                    <tr class="{% cycle  'odd' 'even' %}"> {% for field in form %}
                        <td><div class="errors"> {{field.errors}} </div>
                            {{field}}</td>
                        {% endfor %} </tr>
                    {% endfor %}
                </table>
                <br/>
                <input type="submit" name="AddStay" value="Add tasks" class="buttonGreenMedium" style="float:left;"/> 
		<a href="{% url project_tasks project_name=project.shortname %}" class="buttonGreenMedium" style="float:left;color:white;text-align:center;line-height:35px;">Go to tasks page</a>
            </form>
            <div class="clear"></div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_body %}
<script type="text/javascript">

var options = {
    'minDate': 0,
    'maxDate': 365,
    'dateFormat': 'yy-mm-dd'
}
$('input[id*="date"]').datepicker(options);
</script>

{% endblock %}
