{% extends 'project/base.html' %}
{% load i18n %}

{% block head_title %}
{% trans "Task Items Quick Entry" %}
{% endblock %}

{% block innercontent %}
<h1 class="purple_text">{{project.name}}</h1>
<div class="contenttext">
    <div class="tblpad">
	 <div id="quickentry">
    <form action="." method="post" class="quick">
    <fieldset>
    <table width="99%" align="center" cellpadding="3" cellspacing="2" class="border_div">
    <thead>
        <tr>
        {% for field in itementry_form.data.0.fields.values %}
        <td>{{ field.label }}</td>
        {% endfor %}
        </tr>
    </thead>
   {% for form in itementry_form.data %}
   <tr>
    {% for field in form %}
   <td>
        <div class="errors">   
        {{field.errors}} 
        </div>    
    {{field}}</td>
   {% endfor %}
   </tr>
   {% endfor %}
   </table>
   <br/>
    <input type="submit" name="AddStay" value="Add tasks" class="buttonGreenMedium" style="float:left;" />
    <input type="submit" name="AddRedirect" value="Go to tasks page" class="buttonGreenMedium" style="float:left; margin-left:10px;" />
    </fieldset>
    </form>
		</div>
         <div class="clear"></div>
         </div>
         </div>
{% endblock %}

