{% extends 'project/base.html' %}
{% load i18n %}

{% block head_title %}
Task Revision {{item.name}}
{% endblock %}

{% block extra_head_base %}
{{ block.super }}
<style type="text/css" media="screen">
  thead tr td {
    text-align:left;
    font-weight:normal;
  }
  tbody tr td {
    padding-left: 5px;
  }
</style>
{% endblock %}

{% block innercontent %}
 	<h1 class="title" style="word-break:break-word;white-space:normal;">{{task.name}}</h1>
	<br />
	<table width="100%">
            <thead>
                <tr>
                    <td>{% trans "Start Date" %}</td>
                    <td>{% trans "End Date" %}</td>
                    <td>{% trans "Person Responsible" %}</td>
		    <td>{% trans "Details" %}</td>
                    <td>{% trans "Edit" %}</td>
                </tr>
            </thead>
	    <tbody>
            <tr>
            <td>{{task.expected_start_date|date}}</td>
            <td>{{task.expected_end_date|date}}</td>
            <td>{{task.user_responsible}}</td>
	    <td><a href="{{task.get_absolute_url}}">{% trans "Details" %}</a></td>
            <td><a href="{{task.edit_url}}">{% trans "Edit" %}</a></td>
            </tr>
	    </tbody>
	</table>
        
        <form action="{% url project_task_revision project_name=project.shortname task_id=task.id %}"  method="post">
        <input type="hidden" name="taskid" value="{{task.id}}" />
        <input type="submit" class="buttonGreenSmall" name="rollback" value="Rollback" style="float:left;" />
        </form>
        
        
    {% if task.num_child_tasks %}	
    <div id="subtasks">
	<h3>Sub tasks for {{task.name}}</h3>
	<ul>
	{% for task in task.task_set.all %}
	    <li>
	    <a href="{{task.get_absolute_url}}">{{task.name}}</a>
	    </li>
	{% endfor %}
	</ul>
    </div>
    {% endif %}
    
    {% if task.num_items %}
    <div id="taskitems">
	<h3>Items for {{task.name}}</h3>
	<ul>
	{% for item in task.taskitem_set.all %}
	    <li>
	    <a href="{{item.get_absolute_url}}">{{item.name}}</a>
	    </li>
	{% endfor %}
	</ul>
    </div>
    {% endif %}	

{% endblock %}
