<tr class="{% cycle "" "tdbggrey" %} taskrow">{% load i18n %}
    <td width="16%" class="projectname1">
        <a class="showtaskdetails" href="#">{{task.name}}</a>
    </td>
    <td width="14%" style="text-align:center;">
        {{task.expected_start_date|date}}
    </td>
    <td width="14%" style="text-align:center;">
        {{task.expected_end_date|date}}
    </td>
    <td width="16%" style="text-align:center;">
        {{task.user_responsible}}
    </td>
    <td width="10%">
        <a href="{{task.get_absolute_url}}">{% trans "Details" %}</a>
    </td>
    <td width="10%">
        <a href="{{task.edit_url}}">
            <img src="/site_media/images/edit.png" alt="{% trans "edit" %}" />
        </a>
    </td>
    <td width="10%">
        <form action="." method="post" id="markdone-{{task.id}}" class="markdone">
            <div>
                {% if task.is_complete %}
                <input type="hidden" name="taskid" value="{{task.id}}" />
                <input type="hidden" name="markundone" value="markundone" />
                <input type="checkbox" name="markundone_check" value="{{task.is_complete}}" checked="checked" onclick="this.form.submit();" />

                {% else %}
                <input type="hidden" name="taskid" value="{{task.id}}" />
                <input type="checkbox" name="markdone" value="{{task.is_complete}}" onclick="this.form.submit();"/>
                {% endif %}
            </div>
        </form>
    </td>
    <td width="10%">
        <form action="." method="post" id="deletetask-{{task.id}}" class="deletetask">
            <div>
                <input type="hidden" name="taskid" value="{{task.id}}" />
                <input type="hidden" name="deletetask" value="deletetask" />
                <input type="image" src="/site_media/images/x-icon.gif" name="deletetask" value="Delete" />
            </div>
        </form>
    </td>

</tr>

<tr class="taskrowdetail">
    <td>{% trans "Actual start date" %}</td>
    <td style="text-align:center;">
        {% if task.actual_start_date %}
        {{task.actual_start_date|date}}
        {% else %}
        {% trans "No date specified" %}
        {% endif %}

    </td>
    <td colspan="6" style="text-align:center;">
    </td>
</tr>
<tr class="taskrowdetail">
    <td>{% trans "Actual end date" %}</td>
    <td style="text-align:center;">
        {% if task.actual_end_date %}
        {{task.actual_end_date|date}}
        {% else %}
        {% trans "No date specified" %}
        {% endif %}
    </td>
    <td colspan="6" style="text-align:center;">
    </td>
</tr>
