{% extends "project/base.html" %}
{% load avatar_tags %}
{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load sorting_tags %}
{% load activity_tags %}

{% block head_title %}{% blocktrans %}To Do{% endblocktrans %}{% endblock %}

{% block content950top %}
{% endblock %}

{% block extra_head_base %}
{{ block.super }}
<style type="text/css" media="screen">
  .createcontent p {
    padding: 0px;
  }
  #div_id_name,#div_id_text { 
    margin-top: 10px;
  }
</style>
{% endblock %}

{% block body %}
<br/>
<div class="projects_base_container">

    <div class="projects_left_column">
        <div class="contenttext">
            <div class="curve"><p></p></div>
            <div class="tblpad">
                    <div id="create">
                        <h3>{% trans "Create a new to do list" %}</h3>
                        <div class="createcontent">
                            <form action="." method="post">
                                {{addlistform|as_uni_form}}
                                <input name="addlist" type="submit" value="Submit" class="buttonGreenMedium" style="float:left; margin-left:125px;" />
                            </form>
                            <br />
                            <div class="clear"></div>

                        </div>
                    </div>

                <div id="accordion">
                    {% if lists.count %}
                    {% for list in lists %}
                    <div class="accordionheader">
                        <a id="todolist-{{list.id}}">{{list.name}}</a>
                    </div>
                    <div class="textcontent" style="padding:0px;  border:0px; border-top:1px solid #EDEDED;" >
                        <div class="currenttasks">
                            <p class="metricstitle">
                            </p>
                            <div class="accordionitem">
                                <div class="items">
                                    {% if list.todoitem_set.all %}
                                    <table>
                                        {% for item in list.todoitem_set.all %}
                                        <tr>
                                            <td class="{% cycle 'odd' 'even' %}">{{item.text}}</td>
                                            <td>
                                                <form action="." method="post">
                                                    <p>
                                                    {% if item.is_complete %}
                                                    <input type="hidden" name="todoitemid" value="{{item.id}}" />
                                                    <input type="checkbox" name="itemmarkdone" value="" checked="checked" disabled="disabled" />
                                                    {% else %}
                                                    <input type="hidden" name="id" value="{{item.id}}" />
                                                    <input type="checkbox" name="itemmarkdone" value="" onchange="submit()" />
                                                    {% endif %}
                                                    </p>

                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    {% else %}
                                    <div >
                                        No items added for this todo list.
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="listcontrols">
                                    <div class="genericform">
                                        <h3>{% trans "Add a to do item." %}</h3>
                                        <div class="createcontent">
                                            <form action="." method="post">
                                                {{list.item_form|as_uni_form}}

                                                <input type="hidden" name="id" value="{{list.id}}" />
                                                <input type="submit" name="additem" value="Add todo item" class="buttonGreenMedium" style="float:left; margin-left:125px;" />
                                            </form>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="listcontrols">
                                    <form action='.' method="post">
                                        <fieldset>
                                            <label>Complete</label>
                                            {% if list.is_complete %}
                                            <input type="hidden" name="todoitemid" value="{{list.id}}" />
                                            <input type="checkbox" name="listmarkdone" value="" checked="checked" disabled="disabled" />
                                            {% else %}
                                            <input type="hidden" name="id" value="{{list.id}}" />
                                            <input type="checkbox" name="listmarkdone" value="" onchange="submit()" />
                                            {% endif %}
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="no_table">
                        <h3>No {% if includecomplete %}complete {% endif %}Todo Lists.</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="projects_right_column">
        {% include "project/nav_sidebar.html" %}
        <h3>Meta</h3>
        <p class="sideblurb">   You are looking at your todo items created for {{project.name}}</p>
        <ul>
            <li><a href="{% url project_todo project_name=project.shortname %}{% if not includecomplete %}?includecomplete=1{% endif %}">Display {% if includecomplete %}incomplete{% else %}completed{% endif %} lists</a></li>
        </ul>
    </div>

    <div class="clear">
    </div>

</div>

{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.1.custom.min.js"></script>
{% endblock %}

{% block jquery_tools %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easing.1.3.js"></script>
<script type="text/javascript">
$('#accordion').accordion({
    header: '.accordionheader'
});
</script>
{% endblock %}
