{% extends 'project/base.html' %}

{% block title %}
{{block.super}} - Wiki
{% endblock %}

	{% block subnav %}
                
		<div class="subnav">	11
		 <a href="/dashboard/" class="dp-icon">Dashboard</a>  |  <a href="{{project.get_absolute_url}}">Project Details</a>  |  <a href="{{project.tasks_url}}">Tasks</a>  |  <a href="{{project.todo_url}}">Todo</a>  | 
		 <a href="{{project.noticeboard_url}}">Noticeboard</a>  |  <a href="{{project.calendar_url}}">Calendar</a>  | <a href="{{project.wiki_url}}"   class="subnav_selected">Wiki</a> | <a href="{{project.files_url}}">Files</a>  |  <a href="{{project.metrics_url}}">Metrics</a>  |  <a href="{{project.logs_url}}">Logs</a>
		</div>
	{% endblock %}
	
	{% block contenttitle %}
	<h1 class="title">Wiki Pages</h1>
	{% endblock %}
					
		{% block contents %}
			 <div class="contenttext">
				<div class="curve"><p></p></div>
				<div class="tblpad">
					<div class="textcontent1">
	 					{% if wikipages %}
            {% for page in wikipages %}
										<div class="textpad"><h3 ><a href="{{page.get_absolute_url}}">{{page.title}}</a></h3>
										{{page.current_revision.html_text|safe|truncatewords_html:30}}
										</div>
										<div class="textbottom">
											<p><span>Last Modifeid by</span>  : {{page.current_revision.user.username}}  <span>on</span> {{page.current_revision.created_on|date}}</p>
										</div>
            {% endfor %}
						{% else %}
						<div class="textpad">
										No wikipages yet.
						</div>
						{% endif %}
						</div>
					</div>
				</div>
		{% endblock %}	
								
		{% block sidebar %}		
		<h3>Meta</h3>
				<p class="totalproject">You are looking at the wiki for {{project.name}}</p>
		<ul>
				<li><a href="{{project.new_wikipage_url}}">Create a new page</a></li>
		</ul>
		
	
		{% endblock %}