{% extends 'project/base.html' %}

{% block title %}
{{block.super}} - Wiki diff results
{% endblock %}

{% block contenttitle %}
	 <h3>{{page.title}}</h3>
{% endblock %}

{% block innercontent %}
    <div class="revision">
    <h3>Version {{revision1.version_number}}</h3>
    {{revision1.html_text|truncatewords_html:50|safe}}
    </div>
    <div class="revision">
    <h3>Version {{revision2.version_number}}</h3>
    {{revision2.html_text|truncatewords_html:50|safe}}
    </div>
    <div class="diff">
    <h3>Diff</h3>
    {{htmldiff|safe}}
    </div>
{% endblock %}

{% block sidebar %}
    <h3>Meta</h3>
		<p class="sideblurb">You are looking at diff reuslts for {{page.title}}</p>
    <ul>
    <li><a href="{{page.edit_url}}">Edit this page</a></li>
    <li><a href="{{page.version_url}}">See previous versions</a></li>
    </ul>
{% endblock %}