{% extends "new_base.html" %}
{% load i18n %}

{% block extra_css_pre %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/token-input.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
<style type="text/css">
  #django_log { display: none; }
  input.multiSelect { width: 500px ! important; }
  .multiSelectOptions label { width: 90% ! important;}
  body { font:12px Arial,Helvetica,sans-serif; }
  #id_recipient,#id_subject,#id_body,#recipient_contact { 
    width:540px;
    margin-left:4px;
    margin-top:2px; 
    border-left: 2px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 2px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;    
  }
</style>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.multiSelect.css" type="text/css" media="screen" />

{% endblock %}

{% block extra_css_post %}
<style type="text/css" media="screen">
  .selected_attachments { width: 100%; word-wrap:break-word; white-space:normal; table-layout:inherit; }
  .unattach,.unattach_invite,.unattach_netsign {float:right; margin-right: 24px; }
</style>
{% endblock %}


{% block head_title %}
{% trans "Compose Message" %}
{% endblock %}
 
{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li class="current"><a href="{% url vmail_compose %}">{% trans "Compose Message" %}</a></li>
    <li><a href="{% url vmail_outbox %}">{% trans "Sent Messages" %}</a></li>
    <li><a href="{% url vmail_trash %}">{% trans "Trash" %}</a></li>
  </ul>
</div>
{% endblock %}
 
{% block content %}{% url subscription_list as subscription_list %}
<!--CONTENT CONTAINER STARTS-->
<div id="content_container">
  <ul id="messages">
    {% for message in messages %}
    <li>{{ message }}<a href="#" class="buttonGreenSmall message-close" style="margin-bottom:15px;float:right;line-height:25px;text-decoration:none;text-align:center;" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;">{% trans "clear" %}</a></li>
    {% endfor %}
  </ul>
  <form name="vmailForm" id="vmailForm" action="." method="post">
    <div class="page_title">
      <p class="title_text" style="padding-bottom:10px;">{% trans "Compose New Message:" %}</p>
    </div> 
    <div style="border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;">
      <div class="sub_title_text">
	<h3>{% trans "1. Define Recipients" %}</h3>
      </div>
      <div style="padding-left:150px;">
	<ul class="tabs" style="padding-top:20px;">
 	  <li class="tab_li"><h3><a href="#email_address" style="color:white;">{% trans "Enter Email Addresses" %}</a></h3></li>
 	  <li class="tab_li"><h3><a href="#email_contacts" style="color:white;">{% trans "Send to Contacts" %}</a></h3></li>
 	  <li class="tab_li"><h3><a href="#email_groups" style="color:white;">{% trans "Send to Group" %}</a></h3></li>
	</ul>
	<div style="clear:both;padding:20px 0px;">
	  {% if form.recipient.errors %}<p>{{ form.recipient.errors }}</p>{% endif %}
	  <div id="email_address">
	    <label for="id_recipient" class="compose_text">{% trans "Enter email addresses (Separate multiple addresses with a comma):" %}</label>
	    {{ form.recipient }}
	  </div>
	  <div id="email_contacts">
	    <label for="id_recipient" id="autocomplete_label" class="compose_text">{% trans "Enter names of people from your Contacts list:" %}</label>
	    <input type="text" id="recipient_contact" name="recipient_contacts" value="" />
	  </div>
	  <div id="email_groups">
	    <label for="id_groups" id="id_groups_label" class="compose_text">{% trans "Select from your Contact Groups:" %}</label><br />
	    <select name="groups" id="id_groups" title="{% trans "Please select a group." %}" class="textinput">
	      {% for group in groups %}
	      <option value="{{ group.id }}">{{ group.name }}</option>
	      {% endfor %}
	    </select>
	  </div>
	</div>
      </div>
    </div>
    <div style="border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;clear:both;">
      <div class="sub_title_text">
	<h3>{% trans "2. Enter Message" %}</h3>
      </div>
      <div style="padding: 20px 0px;padding-left: 150px;">
        {{ form.subject.errors }}
        <p><label class="compose_text"  for="id_subject"> {% trans "Subject:" %}</label></p>
	{{ form.subject }}
	<br />
	{{ form.body.errors }}
        <p><label class="compose_text"  for="id_body"> {% trans "Message:" %}</label></p>
	{{ form.body }}
      </div>
    </div>
    <div style="border-left:1px solid #eeeeee;border-right:1px solid #eeeeee;color:#616161;">
	<div class="sub_title_text">
	  <h3><input type="checkbox" id="attachFile" value="{% trans "Attach File" %}" style="vertical-align:bottom;"/>{% trans "Attach a File" %}</h3>
	</div>
	<table class="selected_attachments" id="selected_file_attachments" ></table>
	    <div id="file_wrapper" style="display:none;">
	      <div id="file_selector" style="margin:0px;  padding-bottom:12px; ">
		<input type="hidden" name="file_attached" value="false" />
		<input type="hidden" name="file_type" value="" />
		<input type="hidden" name="file_id" value="" />
		{% include "vmail/_media_list.html" %}
	      </div>
	    </div>
      </div>
      <div>
	<div class="sub_title_text">
	  <h3><input type="checkbox" id="attachInvite" value="Send Conference" style="vertical-align:bottom;"/>{% trans "Send a conference invitation" %}</h3>
	</div>
	<table class="selected_attachments" id="selected_invite_attachments"></table>
	<div id="invite_wrapper" style="display:none;">
	  <div id="invite_selector" style="margin:0px;">
	    <input type="hidden" name="invite_attached" id="invite_attached" value="false" />
	    <input type="hidden" name="event_date" id="event_date" value="" style="padding-left:5px;"/>
	    <input type="hidden" name="event_name" id="event_name" value="" />
	    <input type="hidden" name="event_id" id="event_id" value="" />
	    {% include "vmail/_event_list.html" %}
	  </div>
	</div>
      </div>
      <div>
	<div class="sub_title_text">
	  <h3><input type="checkbox" id="attachNetSign" value="Send NetSign" style="vertical-align:bottom;"/>{% trans "Send a NetSign document for digital signature" %}</h3>
	</div>
	<table class="selected_attachments" id="selected_netsign_attachments" style="display:none;">
	    <tr><td colspan="2">{% trans "Deadline (leave untouched for no deadline)" %}</td></tr>
	    <tr><td colspan="2">{% trans "Date:" %}<input type="text" name="deadline_date" value="" /><br/>{% trans "Time:" %}<input type="text" name="deadline_time" value="" />{{ timezone }}</td></tr>
	</table>
	<div id="netsign_wrapper" style="display:none;">
	  <div id="netsign_selector" style="margin-bottom:0;">
	    <input type="hidden" name="netsign_attached" id="netsign_attached" value="false" />
	    <input type="hidden" name="netsign_file_id" id="netsign_file_id" value="" />
	    <input type="hidden" name="netsign_file_name" id="netsign_file_name" value="" />
	    {% if netsign_disallow %}
	      <p class="title_tab_text">{% trans "I'm sorry, you have exceeded the number of netsign invitations this month for your subscription type." %}<br />
		{% blocktrans with subscription_list as subscription_list %}Please <a href="{{ subscription_list }}">Upgrade your account</a> to send more.</p>{% endblocktrans %}
	    {% else %}
	      {% include "vmail/_netsign_list.html" %}
	    {% endif %}
	  </div>
	</div>
      </div>
      <div>
	<div class="sub_title_text">
        <h3><input type="checkbox" id="attachVmail" name="attachVmail" style="vertical-align:bottom;"/>{% blocktrans %}{{ vmail_action }} a V-Mail Message{% endblocktrans %}</h3>
	</div>
	<p>
    <input type="hidden" name="vmail_attached" id="vmail_attached" />
    <input type="hidden" name="vmail_preset" id="vmail_preset" value="{{ vmail_preset }}" />
    </p>
	<div id="vmail_wrapper" style="height:400px;width:750px;display:none;">
	  {% if vmail_disallow %}{% url subscription_list as subscription_list %}
	    <p class="title_tab_text">{% blocktrans with subscription_list as subscription_list %}I'm sorry, you have exceeded the number of vmail messages this month for your subscription type. <br/>Please <a href="{{ subscription_list }}">Upgrade your account</a> to send more.{% endblocktrans %}</p>
	</div>					  
	  {% else %}
	    <div id="vmail_recorder" style="height:400px;"></div>
        <div id="vmail_player" style="height:240px;width:320px;align:center;"></div>
	  {% endif %}
      </div>
    <div style="-moz-border-radius:0px 0px 10px 10px;border-radius:0px 0px 10px 10px;border:1px solid #eeeeee;padding:10px;min-height:50px;">
      <p><input type="hidden" name="instance" id="instance" value="{{ instance }}" /></p>
      {% if message_disallow %}
      <p class="title_tab_text">{% blocktrans with subscription_list as subscription_list %}I'm sorry, you have exceeded the number of messages this month for your subscription type. <br/>Please <a href="{{ subscription_list }}">Upgrade your account</a> to send more.{% endblocktrans %}</p>
      {% endif %}
      <p style="float:right;" id="preview"><a href="#preview" onclick="previewMail();" style="font-size:16px;">{% trans "Preview Mail" %}</a></p>
      <p style="float:right;clear:both;">{% if not message_disallow %}
	<input type="submit" class="buttonGreen" value="{% trans "Send" %}" />
      {% else %}
	<a href="{% url subscription_list %}" class="buttonGreen" style="color:white;text-decoration:none;line-height:50px;text-align:center;">{% trans "Upgrade" %}</a>
      {% endif %}
      </p>
    </div>
    </div>
</form>

  <a href="#" onclick="runJoan();return false;" class="tutorial_btn"><span style="display:none;">{% trans "Tutorial" %}</span></a>
</div>
{% endblock %}
 
{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tokeninput.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.multiSelect.js"></script>
<!-- <script src="{{ MEDIA_URL }}js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script> -->
<script src="{{ MEDIA_URL }}js/jquery.timepickr.min.js" type="text/javascript"></script>
<script type="text/javascript">
  function toggleFiles() {
    $("input[name=file-select[]]").attr("checked", $("input[name=select]").attr("checked"));
  }
 
var lf_ID = '100002564_A';
function runJoan() {
  runLFOW();
  $(".tutorial_btn").removeAttr("onclick");
}

function normalizeEmail(contactName) {
  var pattern = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/i;
  contactList = contactName.split(" ");
  for(var i=0; i < contactList.length; i++) {
    if (pattern.test(contactList[i])) {
      return pattern.exec(contactList[i]);
    }
  }
  return false;
}

  $(document).ready(function() {
    $("ul.tabs").tabs("ul.tabs ~ div div");
    $("li.tab_li a").click(function(eventObj) {
      $("li.tab_li").css("background-color", "#646464");
      if ($(this).attr("class") == "current") {
        $(this).parent("h3").parent("li").css("background-color", "#750998");
      }
    });
    $("li.tab_li a").first().click();
    $("input[name=deadline_date]").datepicker({minDate: 0, maxDate: 365, dateFormat: 'yy-mm-dd'});
    $("input[name=deadline_time]").timepickr();
    $("li.tab_contain a").first().click();
    $("#email_contacts #recipient_contact").tokenInput("/connections/contacts/autocomplete/", {
      hintText: "{% trans "Start typing a name or email address" %}",
      noResultsText: "{% trans "No results" %}",
      searchingText: "{% trans "Searching..." %}",
      onAdd: function(item) { 
        var recipient_val = $("#id_recipient").val();
        $("#id_recipient").val(function() { 
            var email = normalizeEmail(item.name);
            if (email) {
              return email[0]+(recipient_val?","+recipient_val:"");
            }
            return "";
          }()
        );
      },
      onDelete: function(item) {
        var email = normalizeEmail(item.name);
        var recipient_emails = $("#id_recipient").val();
        if (email) {
          var comma_succeeds = false;
          var search_idx = recipient_emails.search(email[0]);
          if (search_idx != -1) { 
            comma_succeeds = recipient_emails.substr(search_idx + email[0].length, 1) == ",";
          }
          $("#id_recipient").val(recipient_emails.replace(email[0]+(comma_succeeds?",":"") , ""));
        }
      }
    });
  $("li.token-input-input-token input").addClass("textinput");
  $("#id_groups").multiSelect({ oneOrMoreSelected: '*' });
  $("input[name=groups]").attr("checked", false);
});
 
function previewMail() {
  var form = $("#vmailForm");
  var formSubmitURL = form.attr("action");
  form.attr("action", "{% url vmail_preview %}");
  form.attr("target", "_blank");
  form.submit();
  form.removeAttr("target");
  form.attr("action", formSubmitURL);
}

{% if not vmail_disallow %} 
    flashembed("vmail_recorder", {
        src: "{{ MEDIA_URL }}swf/recordVmail.swf",
        version: [9, 0],
        wmode: 'window',
        expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
    }, {
        vmid: '{{ instance }}',
        {% if recipient %}TO_ADDR: '{{ recipient }}',
        {% endif %}{% if sender %}uid: '{{ sender.username }}',{% endif %}
        instance: '{{ instance }}'
    });
{% endif %}
 
$("#attachVmail").click(function() {
  var is_vmail = $(this).attr("checked");
  if(is_vmail == true){
    $("#vmail_wrapper").show();
    $("#vmail_attached").val("true");
    $("#vmail_id").val("{{ vmail_preset }}");
  } else {
    $("#vmail_wrapper").hide();
    $("#vmail_attached").val("false");
    $("#vmail_id").val("");
  }
});
     
$("#attachFile").click(function(){
  var is_file = $("#attachFile:checked").length;
  if(is_file > 0){
    $("#file_wrapper,#file_selector,#attach_file_list").fadeIn();
  } else {
    $("#file_attached").val("false");
    $("#file_selector input[name=file_type]").not("input[value='']").remove();
    $("#file_selector input[name=file_id]").not("input[value='']").remove();
    $("#selected_file_attachments li").remove();
    $("#file_wrapper,#file_selector,#attach_file_list").fadeOut();
  }
});
     
$("#attachInvite").click(function(){
  var is_invite = $("#attachInvite:checked").length;
  if(is_invite > 0){
    $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeIn();
  } else {
    $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeOut();
  }
});
     
$("#attachNetSign").click(function(){
  var is_file = $("#attachNetSign:checked").length;
  if(is_file > 0){
    $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeIn();
  } else {
    $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeOut();
  }
});
     
$(".btn_attach").live("click", function(){
  var filename = $(this).attr("title");
  var file_id = $(this).attr("id");
  var file_type = $(this).attr("rel");
  $("#selected_file_attachments").append("<tr><td><h3>{% trans "Attachment:" %} "+filename+"</h3></td><td><input type='button' class='unattach buttonBlueSmall' rel='"+file_id+"' value='{% trans "Unattach" %}' /></td></tr>");
  $("input[name=file_attached]").val("true");
  $("input[name=file_id]").last().clone().appendTo("#file_selector");
  $("input[name=file_type]").last().clone().appendTo("#file_selector");
  $("input[name=file_id]").last().val(file_id);
  $("input[name=file_type]").last().val(file_type);
  $("#file_wrapper,#file_selector,#attach_file_list").fadeIn();
  $("#attachFile").hide();
  $("#attachFile").parent().removeClass("step_exp");
  $(this).closest("tr").hide();
  return false;
});
     
$(".unattach").live("click", function(){
  $(this).closest("tr").fadeOut().remove();
  $("#file_wrapper,#file_selector").fadeIn();
  $("#attach_file_list").fadeIn();
  var fileIdInput = $("#file_selector input[name=file_id][value="+$(this).attr("rel")+"]");
  fileIdInput.next("input[name=file_type]").remove();
  fileIdInput.remove();
  $("#attachFile").parent().addClass("step_exp");
  $("#"+$(this).attr("rel")).closest("tr").show();
  if ($("#selected_file_attachments tr").length == 0) {
    $("#attachFile").show();
    $("#attachFile").attr("checked", "checked");
  }
  return false;
});
     
$(".btn_attach_invite").live("click", function(){
  var eventname = $(this).attr("title");
  var event_id = $(this).attr("id");
  var event_date = $(this).attr("rel");
  $("#selected_invite_attachments").append("<tr id='event_"+event_id+"'><td><h3>Invitation: "+eventname+", "+event_date+"</h3></td><td><input type='button' class='unattach_invite buttonBlueSmall' rel='"+event_id+"' value='{% trans "Unattach" %}' /></td></tr>");
  $("#invite_attached").val("true");
  $("#event_id").val(event_id);
  $("#event_date").val(event_date);
  $("#event_name").val(eventname);
  $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeOut();
  $("#attachInvite").hide();
  $("#attachInvite").parent().removeClass("step_exp");
  return false;
});
     
$(".unattach_invite").live("click", function(){
  $(this).parent().fadeOut().remove();
  var eventId = $(this).attr("rel");
  $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeIn();
  $("#attachInvite").show();
  $("#invite_attached").val("false");
  $("#event_id").val("");
  $("#event_date").val("");
  $("#event_name").val("");
  $("#attachInvite").parent().addClass("step_exp");
  $("#selected_invite_attachments tr#event_"+eventId).fadeOut().remove();  
  return false;
});
     
$(".btn_attach_netsign").live("click", function(){
  var doc_name = $(this).attr("title");
  var doc_id = $(this).attr("id");
  $("#selected_netsign_attachments tr").first().html("<td><h3>"+doc_name+"</h3></td><td><input type='button' class='unattach_netsign buttonBlueSmall' rel=netsign_'"+doc_id+"' value='{% trans "Unattach" %}' /></td>");
  $("#selected_netsign_attachments").show();
  $("#netsign_attached").val("true");
  $("#netsign_file_id").val(doc_id);
  $("#netsign_file_name").val(doc_name);
  $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeOut();
  $("#attachNetSign").hide();
  $("#attachNetSign").parent().removeClass("step_exp");
  return false;
});
     
$(".unattach_netsign").live("click", function(){
  var docId = $(this).attr("rel");
  $("#selected_netsign_attachments").hide();
  $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeIn();
  $("#attachNetSign").show();
  $("#attachNetSign").attr("checked", "checked");
  $("#netsign_attached").val("false");
  $("#netsign_file_id").val("");
  $("#netsign_file_name").val("");
  $("#attachNetSign").parent().addClass("step_exp");
  $("#selected_netsign_attachments tr").first().html("").fadeOut();
  $("input[name=deadline_date],input[name=deadline_time]").val("");
  return false;
});
{% if invite_preset %}

  $("#attachInvite").attr("checked",true);
  $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeIn();
  $(".btn_attach_invite").each(function(){
    var iid = $(this).attr("id");
    if(iid == "{{ invite_preset }}"){
      var eventname = $(this).attr("title");
      var event_id = $(this).attr("id");
      var event_date = $(this).attr("rel");
      $("#selected_invite_attachments").append("<tr id='event_"+event_id+"'><td><h3>Invitation: "+eventname+", "+event_date+"</h3></td><td><input type='button' class='unattach_invite buttonBlueSmall' rel='"+event_id+"' value='{% trans "Unattach" %}' /></td></tr>");
      $("#invite_attached").val("true");
      $("#event_id").val(event_id);
      $("#event_date").val(event_date);
      $("#event_name").val(eventname);
      $("#invite_wrapper,#invite_selector,#attach_invite_list").fadeOut();
      $("#attachInvite").hide();
      $("#attachInvite").parent().removeClass("step_exp");
    }
  });
{% endif %}
     
{% if netsign_preset %}
  $("#attachNetSign").attr("checked",true).hide();
  $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeIn();
  $(".btn_attach_netsign").each(function() {
    var iid = $(this).attr("id");
    if(iid == "netsign_{{ netsign_preset }}") {
      var netsign_title = $(this).attr("title");
      var netsign_id = $(this).attr("id");
      $("#selected_netsign_attachments tr").first().html("<td><h3>"+netsign_title+"</h3></td><td><input type='button' class='unattach_netsign buttonBlueSmall' rel=netsign_'"+netsign_id+"' value='{% trans "Unattach" %}' /></td>");
      $("#netsign_attached").val("true");
      $("#netsign_file_id").val(netsign_id);
      $("#netsign_file_name").val(netsign_title);
      $("#netsign_wrapper,#netsign_selector,#attach_netsign_list").fadeOut();
      $("#selected_netsign_attachments").show();
    }
  });
{% endif %}
{% if file_preset %}
  {% for preset in file_preset %}
    $("#attach_"+{{ preset }}).click();
  {% endfor %}
{% endif %}
{% ifequal vmail_action "Send" %}
    $("#attachVmail").attr("checked", true).triggerHandler("click");
{% endifequal %}
</script>   
{% endblock %}
