{% extends 'new_base.html' %}
{% load i18n %}
{% load file_tags %}
{% load extra_tagging_tags %}
{% load timezone_filters %}
{% load scheduletags %}

{% block head_title %}{{event.title}}{% endblock %}

{% block extra_css_pre %}
<meta name="title" content="NetConference conference: {{ event.title }}" />
<link rel="image_src" href="{{ site_url }}{{ MEDIA_URL }}img/netconference_conf_thumb.jpg" />
<style type="text/css">
    #event_list_box p { margin: 0.5em 0px; }
</style>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}inv/public/css/style.css">
{% endblock %}

{% block extra_css_post %}
<style type="text/css" media="screen">
  a { color: #750998; }
</style>
{% endblock %}


{% block submenu %}
<div id="submenu_container">
    <ul class="subnav">
        {% if user.is_authenticated %}
        <li><a href="{% url conferencing %}">{% trans "Dashboard" %}</a></li>
        <li><a href="{% url my_conferences %}">{% trans "My Conferences" %}</a></li>
        {# <li><a href="{% url conferences_public %}">{% trans "Public Conferences" %}</a></li> #}
        <li><a href="{% url conferencing_schedule %}">{% trans "Schedule a New Conference" %}</a></li>
        <li class="current"><a href="#">{% trans "Conference Detail" %}</a></li>
        {% else %}
        <li><a href="#">{% trans "Conference Detail" %}</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}
  <ul id="messages">
    {% if message %}
    <li>{{ message }}</li>
    {% endif %}
  </ul>

    <div id="content">

    <div class="inside2">


<div id="rsvp">
		<img src="{{ MEDIA_URL }}inv/public/images/affiliate.jpg" width="272" height="155" alt=""/>
		<div id="subcribe" class="mt15">
			<h4>{% trans "RSVP to this Conference" %}</h4>
			<form name="subcribe" action="{% url rsvp_for_event urlhash=urlhash %}" method="post">
			  {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
				<div class="inside">
					<label>{% trans "Name:" %}</label>
					{% if form.name.errors %}{{ form.name.errors }}{% endif %}
					<div class="input-wrapper">
					  {{ form.name }}
					</div>
                </div>
				<div class="inside">
					<label>{% trans "Email:" %}</label>
					{% if form.email_field.errors %}{{ form.email_field.errors }}{% endif %}
					<div class="input-wrapper">
					  {{ form.email_field }}
					</div>
                </div>
				<div class="inside">
					<label>{% trans "Phone:" %}</label>
					{% if form.phone.errors %}{{ form.phone.errors }}{% endif %}
					<div class="input-wrapper">
					  {{ form.phone }}
					</div>
                </div>
				{% if form.event.errors %}{{ form.event.errors }}{% endif %}
				{{ form.event }}
				<input type="submit" class="buttonGreenSmall" value="{% trans "RSVP" %}" style="float:right;margin-top:10px;" />
			</form>
		</div>
		<h4 class="mt45">{% trans "Add Conference to Calendar" %}</h4>
		<a href="{{ site_url }}/schedule/ical/event/netconference.ics?event={{ urlhash }}"><input type="submit" class="buttonGreen" value="{% trans "Add to Outlook/iCal" %}" /></a><br />
		<a href="http://www.google.com/calendar/event?action=TEMPLATE&text={{ event.title }}&dates={{ utc_str }}&sprop=website:www.netconference.com{{event.get_absolute_url}}&details={{ event.description }} Join the meeting at {{ site_url }}{{event.get_absolute_url}}"><input type="submit" class="buttonGreen" value="{% trans "Add to Google Calendar" %}" /></a>
    </div>





    <div id="affliliate-main">





    <div class="affiliate-wrapper">

        <h4 class="affiliate">{% if request.user.is_authenticated %}{% trans "Hello" %} {{ request.user|capfirst }}!{% else %}{% trans "Hello Guest!" %}{% endif %}</h4>







          <div class="affiliate-middle pl24">

                <div class="video fl w250 mr24" id="vmail_player" style="height:200px;">
                </div>

              <div class="fl w285 bold">

                <h4>{% trans "Conference Details" %}</h4>

                <p>{% trans "Title:" %} {{ event.title|truncatewords:"5" }}</p>

		<p>{% trans "Host:" %} <a href="{% url profile_detail username=event.creator.username %}">{{ event.creator.username }}</a></p>		
		{% ifnotequal event.type 'G' %}
		<p>{% trans "Date:" %} {{ event.start|localtime:event.timezone|date }}</p>
		{% endifnotequal %}

                <p>{% trans "Time:" %} {% ifequal event.type 'G' %}{% trans "Now" %}{% else %}{{ event.start|localtime:event.timezone|time }}{% endifequal %}</p>

		{% ifnotequal event.type 'G' %}
                <p>{% trans "Time Zone:" %} {{ event.timezone }}</p>
		{% endifnotequal %}

		<p class="buttonGreen" style="margin-left:0px;"><a href="#" onclick="javascript:window.open('{{ event.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;" class="fl ml24 mt15" style="color:white;font-size:20px;line-height:18px;padding-left:15px;">{% trans "Join Conference" %}</a></p>

              </div>


          </div>

        <div><p  class="affiliate-bottom">{% trans "Direct Link to Event:" %}
            <a target="_blank" href="{{ site_url }}{{ event.get_conference_url }}">{{ site_url }}{{ event.get_conference_url }}</a>

        </p></div>

      </div>





{% if file_attached %}
<div class="preview">


    <h4>{% trans "Conference Files to Preview" %}</h4>



    <p class="preview-title" style="padding-left:10px;">{% trans "Title" %}</p>

    <ul>
        {% for o in attachments %}
            {% if o.file %}
            <li class="{% cycle "white" "grey" %}">
	      <p style="float:left; padding-left:10px;"><img class="icon" src="/site_media/img/fileicons/icon_file_{{ o.file.type|fileicon }}.png" width="30" border="0"></p>
              <p class="fl">{{ o.file.title }}</p>
              <div class="buttonGreenSmall" style="float:right;text-align:center;margin-top:20px;"><a href="{{ o.file.get_absolute_url }}" style="color:white;line-height:25px;">{% trans "View" %}</a></div>
            </li>
              {% endif %}
        {% endfor %}
    </ul>




    </div><!-- #preview -->
{% endif %}

{% if netsign_attached %}
<div class="preview">
  <h4>{% trans "NetSign Documents Attached" %}</h4>
  <p class="preview-title" style="padding-left:10px;">{% trans "Title" %}</p>
  <ul>
    {% for o in attachments %}
      {% if o.netsign %}
      {% with o.netsign.document.user_file as ns_doc %}
    <li class="{% cycle "white" "grey" %}">
      <p style="float:left; padding-left:10px;"><img class="icon" src="/site_media/img/fileicons/icon_file_{{ ns_doc.type|fileicon }}.png" width="30" border="0"></p>
      <p class="fl">{{ ns_doc.title }}</p>
      <div class="buttonGreenSmall" style="float:right;text-align:center;margin-top:20px;"><a href="{{ o.netsign.get_sign_url }}" style="color:white;line-height:25px;">{% trans "Sign" %}</a></div>
    </li>
      {% endwith %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}




    </div>





    </div><!-- #inside2 -->

    </div><!-- #content-->




{% endblock %}

{% block extrafooterscript %}
 <script type="text/javascript">
   {% for o in attachments %}
     {% if o.vmail_recording %}
     flashembed("vmail_player", {
          src: "{{ MEDIA_URL }}swf/playVmail.swf",
          version: [9, 0],
          wmode: 'opaque',
          expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
      }, {
         vmid: '{{ message.instance }}'
      });
     {% endif %}
   {% endfor %}
</script>
{% endblock %}
