@charset "utf-8";
/* CSS Document */
.clear{clear:both;}


h1{font-family: Arial, Helvetica, sans-serif; font-size:24px; font-style:normal; color:#962000;line-height:40px;}
h2{font-family: Arial, Helvetica, sans-serif; font-size:18px; font-style:normal; color:#750998;line-height:20px; }
h3{font-family: Arial, Helvetica, sans-serif; font-size:16px; font-style:normal;color:#962000;line-height:24px;}
h4{font-family: Arial, Helvetica, sans-serif; font-size:14px; font-style:normal;color:#595959;line-height:20px;}
h5{font-family:  Arial, Helvetica, sans-serif; font-size:12px; font-style:normal;color:#962000;line-height:20px;}
h6{font-family:  Arial, Helvetica, sans-serif; font-size:12px; font-style:normal;color:#962000;line-height:30px;}


#bg{background:url(../../images/email_bg.png); width:675px; height:497px;}
#main_container{width:650px; min-height:225px;display:block;}
#logo{background:url(../../images/email_logo.png) no-repeat ;width:589px; height:79px; margin:10px 40px 0px 50px; }
#Content{margin:60px 0px 0px 50px; width:570px; min-height:300px;}
#left_panel{ width:290px; min-height:225px; float:left; display:block;}
.txt{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#595959;line-height:15px;}
.txt2{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#750998;line-height:15px; margin-left:10px; margin-top:20px;}
.txt2 a {font-family:Arial, Helvetica, sans-serif, sans-serif; color: #750998; font-size: 14px; text-decoration:underline;}
			.txt2 a:link {text-decoration: none; color: #750998; text-decoration:underline; }
			.txt2 a:visited {text-decoration: none; color:#750998; text-decoration:underline;}
			.txt2 a:hover {text-decoration: none; color: #888888; }
			.txt2 a:active {text-decoration: none; color: #750998; }

#right_panel{ background-color:#eeeeee;width:235px; display:block; min-height:140px;  float:right;}		
.txt3{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#595959;line-height:15px; padding-left:10px; padding-top:10px;}	
.txt4{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#595959;line-height:15px; padding-left:20px; padding-top:20px;}
