{% extends "new_base.html" %}

{% load avatar_tags %}{% load pagination_tags %}{% load friends_tags %}{% load i18n %}

{% block extra_css_pre %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen" />
<style type="text/css">
    .more_info {
        display:none;
    }
</style>
{% endblock %}

{% block head_title %}
{% trans "Community Directory" %}
{% endblock %}

{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li><a href="{% url invitations_contacts %}">{% trans "Imported Contacts" %}</a></li>
    <li><a href="{% url contact_groups %}">{% trans "Contact Groups" %}</a></li>
    <li><a href="{% url invitations %}">{% trans "Contacts" %}</a></li>
    <li class="current"><a href="{% url community_search %}">{% trans "Search Contacts" %}</a></li>
    <li><a href="{% url affiliate_invite %}">{% trans "Invite Affiliates" %}</a></li>
    {% if user.is_staff %}<li><a href="{% url admin_invite_user %}">{% trans "Send Promo Code" %}</a></li>{% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}
  <!--CONTENT CONTAINER STARTS-->
  {% autopaginate users %}
  <div id="content_container"> 
    <ul id="messages">{% for message in messages %}<li>{{ message }}<a href="#" class="button message-close" style="margin:0;padding:2px 5px;" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;">{% trans "clear" %}</a></li>{% endfor %}</ul>
  	<p class="files_paging">{% if page_obj.has_previous %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}page={{ page_obj.previous_page_number }}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}page={{ page_obj.next_page_number }}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
  	<!-- LEFT FRIENDS STARTS -->
    <div id="left_friends">
    	<!-- SEARCH BOX STARTS -->
        <div class="searchbg">
            <form method="get" action="{% url community_search %}">
                <input type="text" name="q" id="textfield" class="textfield_search" value="{% if query_string %}{{ query_string  }}{% else %}{% trans "Search Community" %}{% endif %}" style="height:20px; border:none; margin:5px 0px 0px 5px;color: gray;" />
                <input type="submit" value="" id="button" class="submit_btn" />
            </form>
        </div>
        <!-- SEARCH BOX ENDS -->
    </div>
    <!-- RIGHT FRIENDS STARTS -->
    <div id="right_friends">
        <table id="friends_list" cellspacing="0">
          <tr><th colspan="2" style="text-align:left;"><h1 class="title" style="text-shadow:none;">{% trans "Netconference Community" %}</h1></th></tr>
          <tr>
	    <th colspan="2">
	      <h1 class="sub_title">
		<a href="?q=a">A</a>
		<a href="?q=b">B</a>
		<a href="?q=c">C</a>
		<a href="?q=d">D</a>
		<a href="?q=e">E</a>
		<a href="?q=f">F</a>
		<a href="?q=g">G</a>
		<a href="?q=h">H</a>
		<a href="?q=i">I</a>
		<a href="?q=j">J</a>
		<a href="?q=k">K</a>
		<a href="?q=l">L</a>
		<a href="?q=m">M</a>
		<a href="?q=n">N</a>
		<a href="?q=o">O</a>
		<a href="?q=p">P</a>
		<a href="?q=q">Q</a>
		<a href="?q=r">R</a>
		<a href="?q=s">S</a>
		<a href="?q=t">T</a>
		<a href="?q=u">U</a>
		<a href="?q=v">V</a>
		<a href="?q=w">W</a>
		<a href="?q=x">X</a>
		<a href="?q=y">Y</a>
		<a href="?q=z">Z</a>
	      </h1>
	  </th></tr>
	  {% for f in users %}
      <tr class="row {% cycle "light" "dark" %}">
            <td>
              <div class="friends_avatar">
		<div style="float:left;display:block;">
                  <div>{% avatar f 40 %}</div>
		</div>
		{% with f.get_profile as profile %}
		<div style="float:left;display:block;">
		  <p style="margin-top:8px;">
		    <strong>{% trans "Username:" %}</strong>
		    <a href="{% url profile_detail f.username %}">{{ f.username }}</a>
		  </p>
		  <p style="margin-top:8px;">
		  {% if f.first_name %}
		    <strong>{% trans "Name:" %}</strong>
		      {% if f.first_name %}{% if f.last_name %}
		        {{ f.first_name }} {{ f.last_name }}{% endif %}
		      {% endif %}
		    {% endif %}
            <a href="javascript:void(0);" onclick="toggle_more_info({{ f.id }});" class="more_info">More</a>
		  </p>
		</div>
        <div id="info_{{ f.id }}" style="display:none;" class="info">

            {% with profile.location as location %}
            {% if location %}
            <div style="float:left;display:block;clear:both;">
                <p style="margin-top:8px;">
                <strong>{% trans "Location:" %}</strong>
                {{ location }}
                </p>
            </div>
            {% endif %}
            {% endwith %}
            {% with profile.website as website %}
            {% if website %}
            <div style="float:left;display:block;clear:both;">
                <p style="margin-top:8px;">
                <strong>{% trans "Website:" %}</strong>
                <a href="{{ website }}">{{ website }}</a>
                </p>
            </div>		
            {% endif %}
            {% endwith %}
            {% with profile.interested_in as interested_in %}
            {% if interested_in.count %}
            <div style="float:left;display:block;clear:both;">
                <p style="margin-top:8px;">
                <strong>{% trans "Interested in:" %}</strong>
                {% for interest in interested_in.all %}
                {{ interest }}{% if not forloop.last %},{% endif %}
                {% endfor %}
                </p>
            </div>	
            {% endif %}
            {% endwith %}
            {% with profile.industry as industries %}
            {% if industries.count %}
            <div style="float:left;display:block;clear:both;">
                <p style="margin-top:8px;">
                <strong>{% trans "Industries:" %}</strong>
                {% for industry in industries.all %}
                {{ industry }}{% if not forloop.last %},{% endif %}
                {% endfor %}
                </p>
            </div>	
            {% endif %}
            {% endwith %}
        </div>
    </div>
            </td>
            <td>
                {% is_friend request.user f as is_user_friend %}
                {% if not is_user_friend %}<p><input type="button" id="addFriend_{{ f.id }}" class="buttonGreenSmall" value="{% trans "Add" %}" style="float:right;margin-right:10px;" onclick="addFriend({{ f.id }});" /></p>{% else %}<p style="float:right;margin-right:10px;font-size:14px;">{{ is_user_friend }}</p>{% endif %}
                {% endwith %}
            </td>
	    </tr>
          {% empty %}
          <tr>
	    <td colspan="2"><p class="errorlist">{% trans "No users found." %}</p></td>
	  </tr>
	  {% endfor %}
        </table>
	<form method="post" id="addFriendForm" action="{% url friends %}add/">
	  <input type="hidden" name="contact_id" value="" />
	</form>
    </div>
    <!-- RIGHT FRIENDS ENDS -->
  	<p class="files_paging">{% if page_obj.has_previous %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}page={{ page_obj.previous_page_number }}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}page={{ page_obj.next_page_number }}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
  </div>
  <!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var defaultSearchQuery = $("input[name=q]").val();
    $("input[name=q]").focusin(function() { 
      if ($(this).val() == defaultSearchQuery)
        $(this).val("");
    });
    $("input[name=q]").focusout(function() {
      if (!$(this).val())
        $(this).val(defaultSearchQuery);
    });
    $(".more_info").each(function(i, k) {
        if ($(k).parent().parent().siblings(".info").children().length) {
            $(k).show();
        }
    });
  });

function addFriend(friendID) {
  var submitURL = $("#addFriendForm").attr("action")+friendID+"/";
  $("#addFriendForm input[name=contact_id]").val(friendID);
  $.post(submitURL, function(data, textStatus) { 
    $("ul#messages").html("<li>"+data+"</li>").fadeOut(5000);
  });
  $("#addFriend_"+friendID).remove();
}

function toggle_more_info(uid) {
    $("#info_"+uid).toggle();
}

</script>
{% endblock %}
