{% extends "newer_base.html" %}
{% load i18n %}
<!-- {% load profile_tags %} -->
{% block head_title %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}contact/css/contact.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<!--CONTENT CONTAINER STARTS-->
<div id="contact_main">
	<!-- OVERLAYS START  -->
	<!-- DELETE CONTACT OVERLAY -->
	<div class="modal_file" id="delete_contact_container">
		<div class="contact_overlay_header">
			Delete Contact
		</div>
	  <div style="width: 600px; margin-left: 30px;margin-bottom: 10px; margin-top: 20px;">
	  		<table border="0" style="width: 100%;" cellspacing="10">
	  			<tr><td></td></tr>
	  			<tr align="center"><td class="create_contact_title">Are you sure you want to delete contact?</td></tr>
	  			<tr><td></td></tr>
	  			<tr><td></td></tr>
	  			<tr><td></td></tr>
	  			<tr align="center" class="grey_color_text font_size_22"><td><button class="contact_overlay_button close">Cancel</button>&nbsp;<button class="contact_overlay_button">Delete</button></td></tr>
	  		</table>
	  </div>
	</div>
	<!-- DELETE GROUP OVERLAY END-->
	<!-- OVERLAYS END  -->
	
	<!-- FORM DELETE CONTACT -->
	
	<form id="form_del_contact" action="{% url contacts_delete contact.id %}" method="post">
		
	</form>
	<!-- END FORM DELETE CONTACT -->
	<div id="contact_details_top" style="margin-top: 25px; margin-bottom: 20px;">
		<div style="margin-bottom: 20px;"><button class="btn_all_contacts">BACK TO CONTACTS</button></div>
		<div class="contact_top_left"><img alt="Edit Contact" src="{{ MEDIA_URL }}contact/images/contact_details_text.png"></div>
	</div>
	<div style="clear: both;"></div>
	<div id="contact_details_data">
		<table class="contact_details_data" cellspacing="10">
			<tr>
				<td>
					<table cellspacing="5" border="0">
						<tr><td align="center"><img style="display: block; margin: 0 auto 0 auto;" id="img_upload" alt="" src="{% if contact.uuid %}http://{{ CLOUDFRONT_DOWNLOAD }}/files/{{ contact.uuid }}.{{ contact.source_type }} {% else %} {{ MEDIA_URL }}contact/images/image.png {% endif %}" border="0" height="144" width="187"></td></tr>
						<tr align="center"><td><button class="btn_contact_details" id="btn_edit_contact">Edit Contact</button></td></tr>
						<tr align="center"><td><button class="show_delete_contact_container btn_contact_details" rel="#delete_contact_container">Delete Contact</button></td></tr>
					</table>
				</td>
				<td>
					<table cellspacing="25">
						<tr>
							<td>First Name:</td>
							<td>{{ contact.name }}</td>
						</tr>
						<tr>
							<td>Last Name:</td>
							<td>{{ contact.last_name }}</td>
						</tr>
						<tr>
							<td>Email:</td>
							<td>(main)&nbsp;{{ contact.email }}</td>
						</tr>
						{% for contact_email in contact.get_contact_emails %}
						<tr>
							<td>Email:</td>
							<td>({{ contact_email.label }})&nbsp;{{ contact_email.email }}</td>
						</tr>
						{% endfor %}
						{% for contact_phone in contact.get_contact_phones %}
						<tr>
							<td>Phone:</td>
							<td>({{ contact_phone.label }})&nbsp;{{ contact_phone.phone }}</td>
						</tr>
						{% endfor %}
						{% if contact.get_contact_groups_string %}
						<tr>
							<td>Group:</td>
							<td>{{ contact.get_contact_groups_string }}</td>
						</tr>
						{% endif %}
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div style="height: 100px;"></div>
</div>
<!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extra_scripts %}
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
	
	$(document).ready(function(){
		$('.btn_all_contacts').click(function(){
			window.location = '{% url invitations_contacts %}';
		});
		$('#btn_edit_contact').click(function(){
			window.location = '{% url contacts_edit contact.urlhash %}';
		});
		// TRIGGER FOR DELETE CONTACT OVERLAY
		var triggers = $(".show_delete_contact_container").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#ebecff',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		 
		      closeOnClick: false
		  });
		
		//END TRIGGER FOR DELETE CONTACT OVERLAY
		
		// DELETE CONTACT EVENT
		
		var buttons = $("#delete_contact_container button").click(function(e) {
		    // get user input
			var yes = buttons.index(this);
			// if click delete contact
		 	if(yes == 1) {
		 		$('#form_del_contact').submit();
		 		return false;
		 	}
		});
		
		// END DELETE CONTACT EVENT
		
	});	
</script>
{% endblock %}
