{% extends "new_base.html" %}
{% load pagination_tags %}
{% load active_nav %}
{% load i18n %}
{% load sort_tags %}

{% block extra_css_post %}
<style type="text/css">
#id_groups { width:100%; }
</style>
{% endblock %}

{% block head_title %}
{% trans "Import and Invite Contacts" %}
{% endblock %}

{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">{% url invitations_contacts as invitations_contacts %}
    <li class="{% active_nav request invitations_contacts 'current' %}"><a href="{{ invitations_contacts }}">{% trans "Imported Contacts" %}</a></li>
    {% url contact_groups as contact_groups %}
    <li class="{% active_nav request contact_groups 'current' %}"><a href="{{ contact_groups }}">{% trans "Contact Groups" %}</a></li>
    {% url invitations as invitations %}
    <li><a href="{{ invitations }}">{% trans "Contacts" %}</a></li>
    <li><a href="{% url community_search %}">{% trans "Search Contacts" %}</a></li>
    {% url affiliate_invite as affiliate_invite %}
    <li class="{% active_nav request affiliate_invite 'current' %}"><a href="{{ affiliate_invite }}">{% trans "Invite Affiliates" %}</a></li>
    {% if user.is_staff %}<li><a href="{% url admin_invite_user %}">{% trans "Send Promo Code" %}</a></li>{% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}
<div id="content_container">
  <ul id="messages" style="margin-bottom: 15px">
    {% for message in messages %}
    <li>{{ message }} <button class="buttonGreenSmall" onclick="$(this).parent('li').fadeOut(1000);" style="float:right;margin-bottom: 10px">{% trans "Clear" %}</button></li>
    {% endfor %}
  </ul>
  {% if invite_affiliate %}
  <div id="affiliates_message_block" >
    <p>{% blocktrans %}Every one of your contacts who signs up for NetConference from your invitation will not only be added to your affiliate pool but also receive an extra month FREE!{% endblocktrans %}<br /><br />
      <ul>
	<li><p>{% blocktrans %}1. Import contacts (from an address book, google contacts or just enter them manually){% endblocktrans %}</p></li>
	<li><p>{% blocktrans %}2. Send an invitation to your contacts{% endblocktrans %}</p></li>
      </ul>
    </p>
  </div>
  {% endif %}

  <p class="files_paging">{% if has_previous %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}page={{ previous }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page }} {% trans "of" %} {{ pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if has_next %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}page={{ next }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">{% trans "Next" %} &raquo;</a>{% endif %}</p>

<div id="left_files">
  <div class="searchbg">
    <form method="get" action="{% url contacts_search %}">
          <input style="color: gray;" type="text" name="q" id="textfield" class="textfield_search" value="{% if query_string %}{{ query_string  }}{% else %}{% trans "Search My Contacts" %}{% endif %}" style="height:20px; border:none; margin:5px 0px 0px 5px;" />
          <input type="submit" value=" " class="submit_btn" />
      </form>
  </div>

  <div>
    <form method="post" action="{% url contacts_add %}" name="addContactForm">
      <table id="files_filter" cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed;width:100%;word-wrap:break-word;white-space:normal;">
	<tr>
	  <td>
	    <h1 class="title" style="text-shadow:none;">{% trans "Add a Contact" %}</h1>
	  </td>
	</tr>
	<tr>
	  <td>
	    <p>{{ add_form.name.errors }}</p>
	    <p><strong>{% trans "Name" %}:</strong><br /><input type="text" name="name" value="" /></p>
	    <p>{{ add_form.email.errors }}</p>
	    <p><strong>{% trans "Email" %}:</strong><br /><input type="text" name="email" value="" /></p>
	    <p>{{ add_form.phone.errors }}</p>
	    <p><strong>{% trans "Phone:" %}</strong><br /><input type="text" name="phone" value="" /></p>
	    {% if add_form.fields.groups.queryset.count %}
	    <p>{{ add_form.groups.errors }}</p>
	    <p><strong>{% trans "Groups" %}:</strong><br />
	    <p>{{ add_form.groups }}</p>
	    <p>{% trans "Use Ctrl/Cmd to select multiple groups." %}</p>
	    {% endif %}
	  </td>
	</tr>
	<tr>
	  <td>
	    <a style="float:right;" href="#" onclick="submitAddContactForm();return false;">
	      <input type="submit" value="{% trans "Add" %}" class="buttonBlueSmall" />
	    </a>
	  </td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	</tr>
	<tr>
	  <td>
	    <h1 class="title" style="text-shadow:none;">{% trans "Import contacts from" %}</h1>
	  </td>
	</tr>
	<tr>
	  <td style="padding-top:10px;padding-bottom:10px;">
	    <p><input type="button" value="{% trans "Address Book/vCard" %}" style="cursor:pointer;" rel="#upload_vcard" class="buttonGreen" /></p>
	    <p><input type="button" value="{% trans "Google Contacts" %}" style="cursor:pointer;" rel="#import_google" class="buttonGreen" /></p>
	  </td>
	</tr>
      </table>
    </form>
  </div> 
</div>

<div id="right_files">
  <form method="post" action=".">
    <table id="files_list" cellspacing="0" style="margin-bottom:0px;table-layout:inherit;word-wrap:break-word;white-space:normal;">
      <tr>
	<td colspan="6"><h1 class="title" style="text-shadow:none;">{% trans "Contacts" %}</h1></td>
      </tr>
      <tr class="sub_title">
	<td style="width:5%;"><p><input type="checkbox" name="selectAll" /></p></td>
	<td style="width:30%;">{% sort_link "Name" "name" %}</td>
	<td style="width:30%;">{% sort_link "Email" "email" %}</td>
	<td style="width:10%;">{% sort_link "Phone" "phone" %}</td>
	<td style="width:15%;">{% sort_link "Group" "groups" %}</td>
	<td style="width:10%;"></td>
      </tr>
      {% for contact in object_list %}
      <tr class="{% cycle 'dark' 'light' %}">
	<td><p><input type="checkbox" name="contact" value="{{ contact.id }}" /></p></td>
	<td><p>{% if contact.name %}{{ contact.name|capfirst }}{% else %}-{% endif %}</p></td>
	<td class="email"><p>{% if contact.email %}<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>{% else %}-{% endif %}</p></td>
	<td><p>{% if contact.phone %}{{ contact.phone }}{% else %}-{% endif %}</p></td>
	<td><p>{% for group in contact.groups.all %}{% if group %}{{ group }}{% else %}-{% endif %}{% if not forloop.last %},{% endif %}{% endfor %}</p></td>
	<td>
	  <p>
	    <a href="#{{ contact.id }}" rel="#edit_contact" onclick="fetchModalForm(this);">
	      <input type="submit" class="buttonBlueSmall" value="{% trans "Edit" %}" />
	    </a>
	  </p>
	</td>
      </tr>
      {% empty %}
      <tr>
	<td colspan="6"><p class="errorlist">{% trans "No Contacts found." %}</p></td>
      </tr>
      {% endfor %}
    </table>
    {% if object_list.count %}
    <p style="float:left;">
      {% if invite_affiliate %}
      <input type="submit" value="{% trans "Invite" %}" onclick="sendInvites(this);" rel="#invite_contact" class="buttonGreenSmall" style="float:left;margin:0px 5px 10px 0px;" />
      <input type="submit" value="{% trans "Customize" %}" onclick="sendCustomInvites(this);" rel="#invite_contact" class="buttonGreenSmall" style="float:left;margin:0px 5px 10px 0px;" />
      {% endif %}
      <input type="submit" value="{% trans "Delete" %}" rel="#confirm_delete" class="buttonBlueSmall" style="float:left;margin:0px 10px 10px 0px;" />
      {% if groups.count %}
      <select name="group" style="float:left;margin:0px 10px 10px 0px;width:200px;">
	{% for group in groups %}
	<option value="{{ group.id }}">{{ group }}</option>
	{% endfor %}
      </select>
      <input type="submit" class="buttonGreenSmall" value="{% trans "Add to Group" %}" style="float:left; margin: 0px 10px 10px 0px;font-size:10px;" onclick="addToGroup(this);" rel="#invite_contact" />
      {% endif %}
    </p>
    {% endif %}
    <p class="files_paging">{% if has_previous %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}page={{ previous }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page }} {% trans "of" %} {{ pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if has_next %}<a href="?{% if query_string %}q={{ query_string }}&{% endif %}page={{ next }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">{% trans "Next" %} &raquo;</a>{% endif %}</p>    
  </form>
</div>

<!-- user input dialogs --> 
<div class="modal" id="upload_vcard"> 
  <h2>{% trans "Import vCard" %}</h2> 
  <p>{% trans "Upload a vCard file that you've exported from Outlook, Apple's Address Book, or your personal contacts manager." %}</p>
  <form enctype="multipart/form-data" method="post" action="{% url invitations_contacts %}">
    <input type="hidden" name="action" value="upload_vcard" />
    {{ import_vcard_form.as_p }}
    <button type="submit" id="import_vcard" class="buttonGreenMedium" style="float:left;">{% trans 'Import vCard' %}</button>
    <button type="button" class="buttonGreenMedium close" style="float:left;">{% trans "Cancel" %} </button>
  </form>
</div>

<div class="modal" id="import_google"> 
  <h2>{% trans "Import from Google Contacts" %}</h2>
  {% if oauth_token %}
  <form method="POST" action="{% url invitations_contacts %}">
    <input type="hidden" name="action" value="import_google" /> 
    <button type="submit" class="buttonGreenMedium" style="float:left;">{% trans 'Import Contacts' %}</button>
    <button type="button" class="buttonGreenMedium close" style="float:left;">{% trans "Cancel" %}</button> 
  </form>
  {% else %}
  <div><p>{% blocktrans %}This will be a <strong>two</strong> step process. {% endblocktrans %}</p>
    <ol>
      <li>
	<p>1. {% blocktrans %}Authenticate with Google{% endblocktrans %}.</p>
      </li>
      <li>
	<p>2. {% blocktrans %}Once you have agreed to let {{ SITE_NAME }} have access to your Google Contacts, click once more on "Google Contacts" and an "Import Contacts" button will appear{% endblocktrans %}.</p>
      </li>
    </ol>
  </div>
  <p> <button id="auth_google" class="buttonGreenMedium btn_sm" style="float:left;">{% trans "Authenticate" %}</button><button class="buttonGreenMedium close" style="float:left;">{% trans "Cancel" %}</button> </p> 
  {% endif %}
</div>

<div class="modal" id="import_yahoo"> 
  <h2>{% trans "Import from Yahoo! Address Book" %}</h2>
  {% if bbauth_token %}
  <form method="POST" action="{% url invitations_contacts %}">
    <input type="hidden" name="action" value="import_yahoo" />
    <button type="submit"> {% trans 'Import Yahoo Address Book' %}</button> 
    <button type="button" class="close"> {% trans "Cancel" %} </button>
  </form>
  {% else %}
  <p>
    {% blocktrans %}This will be a two step process. First you must{% endblocktrans %} <a href="{% url bbauth_login %}">{% blocktrans %}authenticate with Yahoo{% endblocktrans %}</a>. {% blocktrans %}Once you have agreed to let {{ SITE_NAME }} have access to your Yahoo Address Book, you will be taken back here and an "Import Yahoo Address Book" button will appear here{% endblocktrans %}.
  </p>
  <p> <button id="auth_yahoo" class="btn_sm">{% trans "Authenticate with Yahoo" %}</button> <button class="close"> {% trans "Cancel" %} </button> </p> 
  {% endif %}
</div>

<div class="modal" id="edit_contact">
  <form method="post" action="{% url invitations_contacts %}">
  <div id="edit_contact_wrap">    
  </div>
  <input type="button" class="buttonGreenSmall" id="save_contact" value="{% trans "Save" %}" style="float:left;" />
  <input type="reset" class="buttonGreenSmall close" value="{% trans "Cancel" %}" style="float:left;" />
  </form>
</div>

<div id="invite_contact" class="modal">
  <div id="invite_contact_wrap" style="text-align: center;">
    <h1></h1>
  </div>
  <div id="custom_invite_contact_wrap" style="text-align:center;display:none;">
    <p>{% trans "Enter a custom invitation message" %}</p>
    <p><textarea name="custom_message" rows="5" cols="50" style="width:100%;"></textarea></p>
    <br />
    <p><button class="buttonGreenMedium"  onclick="sendInvites(this, $('textarea[name=\'custom_message\']').val());" rel="#invite_contact">{% trans "Send Invite" %}</button></p>
  </div>
</div>

<div class="modal" id="confirm_delete">
<h3>{% trans "Are you sure you want to delete the contacts?" %}</h3>
<input type="button" class="buttonBlueSmall" id="delete_continue" value="{% trans "Continue" %}" rel="#invite_contact" style="float:left;" />
<input type="button" class="buttonBlueSmall close" value="{% trans "Cancel" %}"  style="float:left; margin-left:10px;" />
</div>

</div>
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript">
  function submitAddContactForm() {
    if ($("input[name=name]").val() && $("input[name=email]").val()) {
      document.addContactForm.submit();
    } else {
      alert("{% trans "Both Name and Email are compulsory." %}");
      return false;
    }
  }
  $(document).ready(function() {
    var defaultSearchQuery = $("input[name=q]").val();
    $("input[name=q]").focusin(function() { 
      if ($(this).val() == defaultSearchQuery)
        $(this).val("");
    });
    $("input[name=q]").focusout(function() {
      if (!$(this).val())
        $(this).val(defaultSearchQuery);
    });
    $("input[name=selectAll]").change(function(eventObj) {
      $("td input[name=contact]").attr("checked", $("input[name=selectAll]").attr("checked"));
    });
    $("input[name=contact]").change(function(eventObj) {
      if ($("input[name=selectAll]").attr("checked") === true && $(this).attr("checked") === false) {
        $("input[name=selectAll]").attr("checked", false);
      }
    });
    $("#auth_google").click(function() { 
      window.location = "{{ oauth_login|safe }}";
    });
   $("a[rel],input[rel],button[rel]").overlay({
    expose: {
      color: "#090909",
      loadSpeed: 1000,
      opacity: 0.9
    },
    closeOnClick: true
  });
  $("#delete_continue").click(function() {
    $(this).siblings("input").first().click();
    setTimeout('deleteSelected($(this))', 500);
  });
});

function fetchModalForm(eventObj) {
  var editURL = "{% url invitations_contacts %}edit/"+$(eventObj).attr("href").split("#")[1]+"/";
  $("#edit_contact_wrap").parent("form").attr("action", editURL);
  $("#edit_contact_wrap").load(editURL);
}

$("#save_contact").click(function(event) { 
  $("#edit_contact_wrap ul.errorlist").remove();
  if (!$("#edit_contact_wrap #id_name").val()) {
    $("#id_name").closest("tr").before("<tr style='font-size: small;'><td></td><td><ul class='errorlist' ><li>{% trans "A name is required" %}</li></ul></td></tr>");
  }
  if (!$("#edit_contact_wrap #id_email").val()) {
    $("#id_email").closest("tr").before("<tr style='font-size: small;'><td></td><td><ul class='errorlist'><li>{% trans "An email is required" %}</li></ul></td></tr>");
  }
  if ($("#edit_contact_wrap #id_name").val() && $("#edit_contact_wrap #id_email").val()) {
    $(this).parent("form").submit();
  }
});

function sendInvites(eventObj, custom_message) {
  $("#custom_invite_contact_wrap").hide();
  $("#invite_contact_wrap").show();
  if ($("input[name=contact]:checked").length == 0) {
   $("#invite_contact_wrap h1").css("color","red").html("{% trans "Please select a contact to invite." %}");
    return false;
  } else {
    data = {};
    if (arguments.length > 1) {
      if (custom_message.trim()) {
        data = {custom_message: custom_message};
      } else {
        $("#custom_invite_contact_wrap p").first().css("color", "red");
        $("#custom_invite_contact_wrap").show();
        return false;
     }
    }
    $("#invite_contact_wrap h1").html("Sending...").css("color", "blue");
    $("#invite_contact_wrap").show();
    $("input[name=contact]:checked").each(function(i, k) {
      var contact_email = $(k).closest("td").siblings("td.email").children("p").children("a").attr("href");
      if (contact_email) {
        $.ajax({async: false, type: "POST", data: data, url: "/affiliate/email_affiliate_ajax/"+$(k).val()+"/",
                success: function(data, textStatus) {
            if (textStatus == "success" && data == "<h3>Sent<h3>") {
              $("#invite_contact_wrap h1").css("color","green").html("{% trans "Invitations successfully sent." %}");
            }
          }
        });
      }
    });
  }
}

function sendCustomInvites(eventObj) {
  if ($("input[name=contact]:checked").length == 0) {
    $("#custom_invite_contact_wrap").hide();
    $("#invite_contact_wrap h1").css("color","red").html("{% trans "Please select a contact to invite." %}");
    $("#invite_contact_wrap").show();
    return false;
  } else {
    $("#invite_contact_wrap").hide();
    $("#invite_contact_wrap h1").html("");
    $("#custom_invite_contact_wrap").show();
    $("#custom_invite_contact_wrap p").first().css("color", "black");
    $("textarea[name=custom_message]").val("");
  }
}

function deleteSelected(eventObj) {
  $("#custom_invite_contact_wrap").hide();
  $("#invite_contact_wrap").show();
  if ($("input[name=contact]:checked").length == 0) {
    $("#invite_contact_wrap h1").css("color","red").html("{% trans "Please select a contact to delete." %}");
    return false;
  }
  $("input[name=contact]:checked").each(function(i, k) {
      $("#invite_contact_wrap h1").css("color", "green").html("{% trans "Deleting selected contacts." %}");
      $.ajax({async: false, type: "GET", url: "/connections/contacts/delete/"+$(k).val()+"/",
              success: function(data, textStatus) {
          if (textStatus == "success" && data == "<h3>Sent<h3>") {
            $("#invite_contact_wrap h1").css("color", "green").html("{% trans "Contact Deletion...SUCCESS" %}");
          }
        }
      });
  });
  if("{{query_string}}")
  {
    window.location = "{% url invitations_contacts %}";
  }
  else{
    window.location = ".";
  }
}

function addToGroup(eventObj) {
  var group = $("select[name=group]").val();
  var selectedContacts = new Array();
  $("input[name=contact]:checked").each(function(i, k) { 
    selectedContacts.push($(k).val());
  });
  if (selectedContacts.length > 0) {
    $("#invite_contact_wrap h1").css("color", "green").html("{% trans "Adding contact to group..." %}");
    $.post("{% url contacts_add_to_group %}", {"contacts": selectedContacts, "group": group}, function(data, textStatus) { 
      window.location = "{% url contact_groups %}";
    });
  } else {
    $("#custom_invite_contact_wrap").hide();
    $("#invite_contact_wrap h1").css("color","red").html("{% trans "Please select a contact to add." %}");
  }
}

</script>
{% endblock %}
