{% extends "newer_base.html" %}
{% load i18n %}
{% block head_title %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}files/js/jquery.ui.widget.js" type="text/javascript"></script>
<link href="{{ MEDIA_URL }}contact/css/contact.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}contact/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}files/js/jquery.fileupload.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}contact/js/jquery.fileupload-ui.js" type="text/javascript"></script>

<script src="{{ MEDIA_URL }}files/js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.tmpl.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}files/js/jquery.xdr-transport.js" type="text/javascript"></script>


{% endblock %}
{% block content %}

<!--CONTENT CONTAINER STARTS-->
<div id="contact_main">

	<div style="height: 25px;"></div>
	<div id="new_contact_title">
		<img alt="Edit Contact" src="{{ MEDIA_URL }}contact/images/edit_contact_text.png">
	</div>
	<div style="height: 10px;"></div>
	<div class="files_list_head box_shaddow">
		
	</div>
	<div id="new_contact_main" class="box_shaddow">
	
		<table border="0" width="100%">
			<tr>
				<td style="padding-right: 50px;" valign="top">
				<form action="{% url contacts_edit contact.urlhash %}" method="post" id="form_edit_contact">
				<input type="hidden" name="contact_uuid" id="contact_uuid" />
				<input type="hidden" name="source_type" id="source_type" />
				<input type="hidden" name="img_type" id="img_type" />
				<input type="submit" id="submit_form" style="display: none;"/>
				<div style="display: none;" id="groups_submit">
					
				</div>
					<table border="0" cellspacing="10">
						<tr>
							<td colspan="2" class="create_contact_title">First Name:</td>
						</tr>
						<tr>
							<td colspan="2"><input style="width: 390px;" type="text" class="text_field_bg padding_left_10" name="name" id="contact_name" value="{{ contact.name }}"/></td>
						</tr>
						<tr><td colspan="2"><div id="error_msg_name" style="color: red; display: none;">Error: First Name is required.</div></td></tr>
						<tr>
							<td colspan="2" class="create_contact_title">Last Name:</td>
						</tr>
						<tr>
							<td colspan="2"><input style="width: 390px;" type="text" class="text_field_bg padding_left_10" name="last_name" id="contact_last_name" value="{{ contact.last_name }}"/></td>
						</tr>
						<tr><td colspan="2"><div id="error_msg_last_name" style="color: red; display: none;">Error: Last Name is required.</div></td></tr>
					</table>
					<table cellspacing="10" id="tbl_email" border="0">
						<tr>
							<td colspan="3" class="create_contact_title">Email:</td>
						</tr>
						<tr>
							<td>
								<div class="div_dropdown">
									Main
								</div>
								<input type="hidden" name="email_labels[]" value="Main"/>
							</td>
							<td>
								<input class="create_contact_textbox text_field_bg padding_left_10" type="text" name="emails[]" value="{{ contact.email }}"/>
								<div class="error_msg_emails" style="color: red; display: none; clear: left;">Error: Email is not valid.</div>
							</td>
							<td><button class="remove_phone button_less" style="visibility: hidden;"></button></td>
						</tr>
						{% for email in contact.get_contact_emails %}
						<tr>
							<td>
								<div class="div_dropdown_email"> 
									<div class="email_val" style="cursor: pointer;">{{ email.label }}</div>
									<div class="sub_div_dropdown_email">
										<a href="javascript:void(0);">Main</a>
										<a href="javascript:void(0);">Home</a>
										<a href="javascript:void(0);">Office</a>
										<a href="javascript:void(0);">Work</a>
									</div>
									<input type="hidden" name="email_labels[]" value="{{ email.label }}"/>
								</div>
								
							</td>
							<td>
								<input class="create_contact_textbox text_field_bg padding_left_10" type="text" name="emails[]" value="{{ email.email }}"/>
								<div class="error_msg_emails" style="color: red; display: none; clear: left;">Error: Email is not valid.</div>
							</td>
							<td><div class="remove_email button_less"></div></td>
						</tr>
						
					{% endfor %}
						</table>
						
						<table cellspacing="10" id="tbl_phone" border="0">
						<tr>
							<td colspan="3" class="create_contact_title">Phone:</td>
						</tr>
						
						{% if contact.get_contact_phones %}
						{% for phone in contact.get_contact_phones %}
						<tr>
							<td>
								<div class="div_dropdown">
									<div class="phone_val" style="cursor: pointer;">{{ phone.label }}</div>
									<div class="sub_div_dropdown">
										<a href="javascript:void(0);">Main</a>
										<a href="javascript:void(0);">Mobile</a>
										<a href="javascript:void(0);">Office</a>
										<a href="javascript:void(0);">Work</a>
										<a href="javascript:void(0);">Fax</a>
									</div>
									<input type="hidden" name="phone_labels[]" value="{{ phone.label }}"/>
								</div>
								
							</td>
							<td>
								<input class="create_contact_textbox text_field_bg padding_left_10" type="text" name="phones[]" value="{{ phone.phone }}"/>
								<div class="error_msg_phones" style="color: red; display: none; clear: left;">Error: Phone is not valid.</div>	
							</td>
							{% if forloop.first %}
							<td><div class="remove_phone button_less" style="visibility: hidden;"></div></td>
							{% else %}
							<td><div class="remove_phone button_less"></div></td>
							{% endif %}
							
						</tr>
						{% endfor %}
						{% else %}
						<tr>
							<td>
								<div class="div_dropdown">
									<div class="phone_val">Main</div>
									<div class="sub_div_dropdown">
										<a href="javascript:void(0);">Main</a>
										<a href="javascript:void(0);">Mobile</a>
										<a href="javascript:void(0);">Office</a>
										<a href="javascript:void(0);">Work</a>
										<a href="javascript:void(0);">Fax</a>
									</div>
									<input type="hidden" name="phone_labels[]" value="Main"/>
								</div>
							</td>
							<td>
								<input class="create_contact_textbox text_field_bg padding_left_10" type="text" name="phones[]"/>
								<div class="error_msg_phones" style="color: red; display: none; clear: left;">Error: Phone is not valid.</div>
							</td>
							<td><div class="remove_phone button_less" style="visibility: hidden;"></div></td>
						</tr>
						{% endif %}
					</table>
					</form>
				</td>
				<td valign="top">
					<table cellspacing="10" border="0" id="tbl_groups" style="margin-left: -5px;">
						<tr>
							<td colspan="2" class="create_contact_title">Group:</td>
						</tr>
						{% for selected_group in selected_groups %}
						<tr>
							<td>
								
								<div class="div_dropdown_group div_dropdown_group_edit">
									<div class="group_name" style="cursor: pointer;">{{ selected_group.name }}</div>
									<div class="sub_div_dropdown_group sub_div_dropdown_group_edit">
										{% for group in all_groups %}
										<a href="javascript:void(0);" id="{{ group.id }}">{{ group.name }}</a>
										{% endfor %}
										<input id="sel_group" type="hidden" name="groups[]" value="{{ selected_group.id }}"/>
									</div>
								</div>
								
							</td>
							<td><div class="remove_group button_less"></div></td>
						</tr>
						{% endfor %}
					</table>
					<table cellspacing="5">	
						<tr>
							<td colspan="2" class="create_contact_title">
								Contact Image:
							</td>
						</tr>
						<tr>
        					<td>
        						<input type="radio" name="rad_img_type" id="rad_img_default" value="rad_img_default" style="display: none;"/>
        						<label  class="schedule_time_uncheck create_contact_option_text" for="rad_img_default">{% trans "Use the contact's profile or default image" %}</label>
        					</td>
							
						</tr>
						<tr>
							<td style="margin: 0; padding:0;" colspan="2">
							<!-- upload image start -->
								<div id="videoUploadID" style="height: 200px; margin: 0; padding:0;" >
								    <form id="videoUploadForm" action="http://encode1.media.netconf.nxtgencdn.com/uploader_amazons3/upload-amazons3-v2.php" method="POST" enctype="multipart/form-data">
								      	<div class="fileupload-buttonbar" id="fileupload-buttonbar">
								      		<div>
								      			<table border="0" style="margin-left: -2px;">
								      			<tr>
								      				<td>
								      					<input style="display: none; margin-left: -20px;" type="radio" name="rad_img_type" id="rad_img_upload" value="document"/>
	       												<label class="schedule_time_checked create_contact_option_text" for="rad_img_upload">{% trans "Use an image I choose." %}</label>&nbsp;
	       												<label class="fileinput-button">
								                			<span>Select</span>
								                		<input id="file_upload" type="file" name="files[]" title="Please select a file before uploading">
								            			</label>
	       											
	       												<button style="display: none;" class="btn_select_image" id="btn_upload_file">Post</button>
	       											</td>
       											</tr>
       											</table>
       											
								      		</div>
								            <img id="img_upload" alt="" src="{% if contact.uuid %}http://{{ CLOUDFRONT_DOWNLOAD }}/files/{{ contact.uuid }}.{{ contact.source_type }} {% else %} {{ MEDIA_URL }}contact/images/image.png {% endif %}" border="0" height="144" width="187" style="margin-top: 10px;">
								        	<button type="submit" class="start" id="UploadVideoStartHidden" style="visibility: hidden;">Upload</button>
								    	</div>
								    </form>
	        						<script id="template-upload" type="text/x-jquery-tmpl">
    									<tr class="template-upload{% templatetag openvariable %}if error{% templatetag closevariable %} ui-state-error{% templatetag openvariable %}/if{% templatetag closevariable %}">
        									<td class="preview"></td>
        									<td class="name">{% templatetag openvariable %}if name{% templatetag closevariable %}${name}{% templatetag openvariable %}else{% templatetag closevariable %}Untitled{% templatetag openvariable %}/if{% templatetag closevariable %}</td>
        									<td class="size">${sizef}</td>
                							<td class="uuid"><input name="uuid" value="${uuid}"></td>
        									{% templatetag openvariable %}if error{% templatetag closevariable %}
            								<td class="error" colspan="2">Error:
                							{% templatetag openvariable %}if error === 'maxFileSize'{% templatetag closevariable %}File is too big
                							{% templatetag openvariable %}else error === 'minFileSize'{% templatetag closevariable %}File is too small
                							{% templatetag openvariable %}else error === 'acceptFileTypes'{% templatetag closevariable %}Filetype not allowed
                							{% templatetag openvariable %}else error === 'maxNumberOfFiles'{% templatetag closevariable %}Max number of files exceeded
                							{% templatetag openvariable %}else{% templatetag closevariable %}${error}
                							{% templatetag openvariable %}/if{% templatetag closevariable %}
            								</td>
        									{% templatetag openvariable %}else{% templatetag closevariable %}
            								<td class="start"><button>Start</button></td>
        									{% templatetag openvariable %}/if{% templatetag closevariable %}
        									<td class="cancel"><button>Cancel</button></td>
    									</tr>
									</script>
								        <div class="fileupload-content" id="fileupload-content" style="padding:0; margin:0;">
								            <table class="files"></table>
								            <div style="vertical-align: middle;">
								            <div class="fileupload-progressbar" style="float: left; margin: 0; width: 300px;"></div>
							            </div>
							        </div>
						     	</div>						
							<!-- upload image end -->
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div style="float: right; height: 100px; margin-top: 20px;">
		<button id="btn_cancel" class="button_create">Cancel</button>&nbsp;<button id="btn_save" class="button_create">Save</button>
	</div>
	<div style="heigth: 50px;"></div>
</div>
<!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
	var is_update_uuid = false;
	var is_show_post_button = true;
	var uuid_init = guidGenerator();
	var extension;
	// check if submit to create contact
	function is_blank(value) {
		if($.trim(value) == "")
			return true;
		return false;
	}
	// VALIDATE EMAIL NUMBER
	function is_valid_email(email) {
		var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
		email = $.trim(email);
		if(email == '' || !emailReg.test(email))
			return false;
		return true;
	}
	// VALIDATE PHONE NUMBER
	function is_valid_phone(phone) {
		var phoneReg = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
		phone = $.trim(phone);
		if(!phoneReg.test(phone))
			return false;
		return true;
	}
	$(document).ready(function(){
		//EMAIL

		$('.email_val').live('click', function(){
			$(this).parent().find('.sub_div_dropdown_email').show();
		});
		$('.div_dropdown_email').live('mouseleave', function(){
			$(this).find('.sub_div_dropdown_email').hide();
		});
		$('.sub_div_dropdown_email a').live('click', function(){
			var temp_email_val = $(this).html();
			$(this).parent().parent().find('.email_val').html(temp_email_val);
			$(this).parent().parent().find('input[name="email_labels[]"]').val(temp_email_val);
			$(this).parent().hide();
		});
		
		// PHONE
		$('.phone_val').live('click', function(){
			$(this).parent().find('.sub_div_dropdown').show();
		});
		$('.div_dropdown').live('mouseleave', function(){
			$(this).find('.sub_div_dropdown').hide();
		});
		$('.sub_div_dropdown a').live('click', function(){
			var temp_phone_val = $(this).html();
			$(this).parent().parent().find('.phone_val').html(temp_phone_val);
			$(this).parent().parent().find('input[name="phone_labels[]"]').val(temp_phone_val);
			$(this).parent().hide();
		});
		// GROUP
		
		$('.group_name').live('click', function(){
			$(this).parent().find('.sub_div_dropdown_group').show();
		});
		
		$('.div_dropdown_group').live('mouseleave', function(){
			$(this).find('.sub_div_dropdown_group').hide();
		});
		
		$('.sub_div_dropdown_group a').live('click',function(){
			var temp_group_val = $(this).html();
			var group_id = $(this).attr('id');
			$(this).parent().parent().find('.group_name').html(temp_group_val);
			if(temp_group_val == 'Add to Group') {
				$(this).parent().find('input[name="groups[]"]').val('no_group');
			} else $(this).parent().find('input[name="groups[]"]').val(group_id);
			$(this).parent().hide();
		});
		/* upload file */
		
		$('#videoUploadID').fileupload({
		dataType: 'html',
	    type:'POST',
	    maxNumberOfFiles: 1,
	    acceptFileTypes: /.(jpg|png|gif|jpeg|bmp)/i
		}).bind('fileuploadsubmit', function (e, data){
			   data.formData = {
			   uuid:uuid_init,
			   /* uid: '{{ user.id }}', */
			   title: 'title',
			   cid: '{{ bucket }}',
			   username: '{{ user.username }}',
			   visibility: 'U',
			   };
		});
	
		if ( $.browser.msie ) {
			$('#videoUploadID').bind('fileuploadalways', function(e, data){
				is_update_uuid = true;
				var image_link = "http://{{ CLOUDFRONT_DOWNLOAD }}/files/" + uuid_init + '.' + extension;
	       		$('#img_upload').attr('src',image_link);
	       		$('.ui-progressbar').progressbar({
	       		    value: 300
	       		});
	       		$('#btn_upload_file').hide();
	        });
		}else{
	       	$('#videoUploadID').bind('fileuploaddone', function(e, data){
	       		is_update_uuid = true;
	       		var image_link = "http://{{ CLOUDFRONT_DOWNLOAD }}/files/" + uuid_init + '.' + extension;
	       		$('#img_upload').attr('src',image_link);
	       		$('.ui-progressbar').progressbar({
	       		    value: 300
	       		});
	       		$('#btn_upload_file').hide();
	        });
		}
		
		/* end upload  */
		
		
		$('.remove_group').live('click',function(){
			if($(this).hasClass('remove_group')){
				$(this).removeClass('remove_group').addClass('add_group');	
				$(this).attr('title', 'Add group');
				$(this).parent().find('input:first').attr('checked', false);
			}
			return false;
		});
		
		$('.add_group').live('click', function(){
			if($(this).hasClass('add_group')) {
				$(this).removeClass('add_group').addClass('remove_group');
				$(this).attr('title', 'Remove group');
				$(this).parent().find('input:first').attr('checked', true);
			}
			return false;
		});
		
		
		var row_email = 
			'<tr>' +
				'<td>' +
					'<div class="div_dropdown_email">' + 
						'<div class="email_val" style="cursor: pointer;">Main</div>' +
						'<div class="sub_div_dropdown_email">' +
							'<a href="javascript:void(0);">Main</a>' +
							'<a href="javascript:void(0);">Home</a>' +
							'<a href="javascript:void(0);">Office</a>' +
							'<a href="javascript:void(0);">Work</a>' +
						'</div>' +
					'<input type="hidden" name="email_labels[]" value="Main"/>' +
				'</div>' +
				'</td>' +
				'<td>' +
					'<input class="create_contact_textbox text_field_bg padding_left_10" type="text" name="emails[]" value="{{ email.email }}"/>' +
					'<div class="error_msg_emails" style="color: red; display: none; clear: left;">Error: Email is not valid.</div>' +
				'</td>' +
				'<td><button class="remove_email button_less"></button></td>' +
				'<td><div id="add_email" class="button_more"></div></td>' +
			'</tr>';
			var row_phone = 
				'<tr>' +
					'<td>' +
						'<div class="div_dropdown">' +
							'<div class="phone_val" style="cursor: pointer;">Main</div>' +
							'<div class="sub_div_dropdown">' +
								'<a href="javascript:void(0);">Main</a>' +
								'<a href="javascript:void(0);">Mobile</a>' +
								'<a href="javascript:void(0);">Office</a>' +
								'<a href="javascript:void(0);">Work</a>' +
								'<a href="javascript:void(0);">Fax</a>' +
							'</div>' +
							'<input type="hidden" name="phone_labels[]" value="Main"/>' +
						'</div>' +
					'</td>' +
					'<td>' +
						'<input class="create_contact_textbox text_field_bg padding_left_10" type="text" name="phones[]" value="{{ phone.phone }}"/>' +
						'<div class="error_msg_phones" style="color: red; display: none; clear: left;">Error: Phone is not valid.</div>' +
						'</td>' +
					'<td><div class="remove_phone button_less"></div></td>' +
					'<td><div id="add_phone" class="button_more"></div></td>' +
				'</tr>';
			
			
		var row_group = '<tr>' +
							'<td>' +
								'<div class="div_dropdown_group div_dropdown_group_edit">' +
									'<div class="group_name" style="cursor: pointer;">{{ all_groups.0.name }}</div>' +
									'<div class="sub_div_dropdown_group sub_div_dropdown_group_edit">' +
										{% for group in all_groups %}
										'<a href="javascript:void(0);" id="{{ group.id }}">{{ group.name }}</a>' +
										{% endfor %}
										'<input id="sel_group" type="hidden" name="groups[]" value="{{ all_groups.0.id }}"/>' +
									'</div>' +
								'</div>' +
							'</td>' +
							'<td><div class="remove_group button_less"></div></td>' +
							'<td><div id="add_group" class="add_new_group button_more"></div></td>' +
						'</tr>'; 
		
		
		// CREATE BUTTON CLICK EVENT
		$('#btn_save').click(function(){
			var is_submit_emails = true;
			// check if contact name is blank
			if(is_blank($('#contact_name').val()) == true) {
				$('#error_msg_name').show();
				return false;
			}
			else $('#error_msg_name').hide();
			
			// check if contact last name is blank
			if(is_blank($('#contact_last_name').val()) == true) {
				$('#error_msg_last_name').show();
				return false;
			}
			else $('#error_msg_name').hide();
			
			$('#tbl_email input[name="emails[]"]').each(function(){
				
				if(is_valid_email($(this).val()) == false) {
					$(this).parent().parent().find('.error_msg_emails').show();
					is_submit_emails = false;
				}
				else $(this).parent().parent().find('.error_msg_emails').hide();
			});
			
			// VALIDATE ALL PHONES
			$('#tbl_phone input[name="phones[]"]').each(function(){
				if($.trim($(this).val()) != '') {
					if(is_valid_phone($(this).val()) == false) {
						$(this).parent().parent().find('.error_msg_phones').show();
						is_submit_emails = false;
					}
					else $(this).parent().parent().find('.error_msg_phones').hide();
				}
			});
			
			if(is_submit_emails == false)
				return false;
			if(is_update_uuid) 
				$('#contact_uuid').val(uuid_init);
			$('#source_type').val(extension);
			if($('#rad_img_default').is(':checked')) {
				$('#img_type').val('rad_img_default');
			}else $('#img_type').val('rad_img_upload');
			
			
			$('#tbl_groups input[name="groups[]"]').each(function(){
				$('#groups_submit').append($(this));
			});
			$('#submit_form').click();
			return false;
		});
		
		// CANCEL BUTTON CLICK EVENT
		$('#btn_cancel').click(function(){
			window.location = '{% url contact_details contact.urlhash %}';
		});
		$('#add_email').live('click',function(){
			var new_row = row_email;
			$('#tbl_email').append(new_row);
			$(this).parent().remove();
		});
		$('.remove_email').live('click', function(){
			if($(this).parent().parent().find('#add_email').html() != null) {
				var table_select = $(this).parent().parent().parent();
				var count_row = table_select.find('tr').length;
				var btn_add_phone = '<td><div id="add_email" class="button_more"></div></td>';
				table_select.find('tr:eq('+(count_row-2)+')').append(btn_add_phone);
				table_select.find('tr:last').remove();
			}
			else $(this).parent().parent().remove();
		});
		$('#add_phone').live('click', function(){
			var new_row = row_phone;
			$('#tbl_phone').append(new_row);
			$(this).parent().remove();
		});
		$('.remove_phone').live('click', function(){
			if($(this).parent().parent().find('#add_phone').html() != null) {
				var table_select = $(this).parent().parent().parent();
				var count_row = table_select.find('tr').length;
				var btn_add_phone = '<td><div id="add_phone" class="button_more"></div></td>';
				table_select.find('tr:eq('+(count_row-2)+')').append(btn_add_phone);
				table_select.find('tr:last').remove();
			}
			else $(this).parent().parent().remove();
		});
		
		
		$('#add_group').live('click', function(){
			var new_row = row_group;
			$('#tbl_groups').append(new_row);
			$(this).parent().remove();
		});
		$('.remove_group').live('click', function(){
			if($(this).parent().parent().find('#add_group').html() != null) {
				var table_select = $(this).parent().parent().parent();
				var count_row = table_select.find('tr').length;
				var btn_add_group = '<td><div id="add_group" class="button_more"></div></td>';
				table_select.find('tr:eq('+(count_row-2)+')').append(btn_add_group);
				table_select.find('tr:last').remove();
			}
			else $(this).parent().parent().remove();
		});
		
		$('#tbl_phone').find('tr:last').append('<td><div id="add_phone" class="button_more"></div></td>');
		$('#tbl_email').find('tr:last').append('<td><div id="add_email" class="button_more"></div></td>');
		$('#tbl_groups').find('tr:last').append('<td><div id="add_group" class="add_new_group button_more"></div></td>');
		
		$('label.create_contact_option_text').click(function(){
			
			if($(this).hasClass('schedule_time_uncheck')) {
				$(document).find('label.create_contact_option_text').removeClass('schedule_time_checked').addClass('schedule_time_uncheck');
				$(document).find(':radio').attr('checked', false);
				
				$(this).removeClass('schedule_time_uncheck').addClass('schedule_time_checked');
				$(this).parent().parent().find('input:first').attr('checked',true);
			}
		});
		
		
		
		
		$('#btn_select_image').click(function(){
			uuid_init = guidGenerator();
			$('#file_upload').click();
			return false;
		});
		$('#file_upload').change(function(){
			var path_file = $(this).val();
			extension = path_file.substr( (path_file.lastIndexOf('.') +1) );
			if(is_show_post_button == true) {
				
				$('#btn_upload_file').show();
			}else $('#btn_upload_file').hide();
		});
		$('#btn_upload_file').click(function(){
			$('#UploadVideoStartHidden').click();
			//$('#fileupload-buttonbar').hide();
			return false;
		});
		
		var selected = new Array();
		{%  for g in selected_groups %}
			selected.push({{g.id}});
		{% endfor %}
		for(var i=0;i<selected.length;i++){
			$('#tbl_groups').find('select:eq('+i+')').val(selected[i]);
		}
	});
	
</script>
{% endblock %}
