{% extends "newer_base.html" %}
{% load i18n %}
{% load conference_tags %}
{% block head_title %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}contact/css/contact.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<!--CONTENT CONTAINER STARTS-->

<!-- MERGE CONTACTS OVERLAY -->
	<button style="display: none;" id="show_error_message" rel="#error_contacts_container"></button>
	<!-- DELETE CONTACTS OVERLAY -->
	<div class="modal_file" id="error_contacts_container">
		<div class="contact_overlay_header">
			Merge Contacts
		</div>
	  <div style="width: 600px; margin-left: 30px;margin-bottom: 10px; margin-top: 20px;">
 		<table border="0" style="width: 100%;" cellspacing="10">
 			<tr><td></td></tr>
 			<tr align="center" style="color: red; font-size: 20px;"><td>No contacts selected.</td></tr>
 			<tr><td></td></tr>
 			<tr><td></td></tr>
 			<tr><td></td></tr>
 			<tr align="center" class="grey_color_text font_size_22"><td><button class="contact_overlay_button close">OK</button></td></tr>
 		</table>	
	  </div>
	</div>
	<!-- MERGE CONTACTS OVERLAY END -->




<div id="contact_main" style="margin-top: 25px;">
	<div id="merge_top" style="color: #595959;">
		<table border="0">
			<tr valign="middle">
				<td valign="middle">
					<img src="{{ MEDIA_URL }}contact/images/merge_contacts_text.png" style="display: inline-block;margin: 0 auto;"/>
				</td>
				<td valign="middle" style="padding-left: 9px; color: #595959;">The following&nbsp;{{ total }}&nbsp;contacts have duplicate information. Select contacts you would like to merge.</td>
			</tr>
		</table>
	</div>
	<div class="div_merge_contacts">
		<table class="tbl_merge_action" cellspacing="5" cellpadding="0" border="0">
			<tr>
				<td style="padding-top: 20px; padding-right: 4px;">
					<input type="checkbox" name="chk_all" id="chk_all" checked="checked" style="display: none;"/>
		        	<label id="lbl_chk_all" class="files_type_checked" for="chk_all"></label>
				</td>
				<td colspan="1" style="text-align: left; padding-top: 20px;"><span style="font-size: 13px; font-weight: bold; color: #595959; margin-right: 20px;">Contact Name</span><a onclick="show_all_details();">show all details</a>&nbsp;/&nbsp;<a onclick="hide_all_details();" id=>hide all details</a></td>
				
			</tr>
		</table>
		<table class="tbl_center"> 
			<tr><td colspan="2" style="padding-top: 12px; padding-bottom: 12px;">
				<img src="{{ MEDIA_URL }}contact/images/purple_line.png">
			</td></tr>
		</table>
			<!-- loop start -->
		<form method="post" action="." id="frm_merge_contacts">
		<table id="tbl_merge_contacts">	
			{% for merge_contact in merge_contacts %}
			<tr>
				<td style="padding-top: 10px; padding-right: 7px;">
					<input type="checkbox" name="chk_contacts" checked="checked" style="display: none;" value="{{merge_contact.merged_contact.contact.id}}"/>
		        	<label class="lbl_chk_contacts files_type_checked" for="chk_contacts"></label>
				</td>
				<td colspan="3" style="text-align: left; padding-top: 10px; font-weight: bold;">{{ merge_contact.merged_contact.contact.name }}&nbsp;{{ merge_contact.merged_contact.contact.last_name }}&nbsp;({{ merge_contact.count }} contacts) &nbsp;<a class="toggle_merge_contacts" id="{{merge_contact.merged_contact.contact.id}}" style="font-weight: normal;">show details</a></td>
			</tr>
			<!-- hide or show -->
			<tr>
			<td></td>
			<td colspan="2">
			<table class="tbl_data_merge" border="0" id="tbl_data_merge_{{merge_contact.merged_contact.contact.id}}" style="display: none;">
			<tr>
				<td colspan="3" style="text-align: left; padding-top:7px;">
					<span style="color: #750A98; font-size: 13px; font-weight: bold;">Merged Contact Information</span>
				</td>
			</tr>
			<tr>
				<td style="padding-top: 7px; padding-right: 8px;">First Name:</td>
				<td colspan="2" style="padding-top: 7px;"><input name="merge_contact_name{{merge_contact.merged_contact.contact.id}}" class="text_field_bg" type="text" style="width: 334px;" value="{{ merge_contact.merged_contact.contact.name }}"/></td>
			</tr>
			<tr>
				<td style="padding-top: 5px; padding-bottom: 5px; padding-right: 8px;">Last Name:</td>
				<td colspan="2" style="padding-top: 5px;padding-bottom: 5px;"><input name="merge_contact_lastname{{merge_contact.merged_contact.contact.id}}" class="text_field_bg" type="text" style="width: 334px;" value="{{ merge_contact.merged_contact.contact.last_name }}"/></td>
			</tr>
			{% for main_email in merge_contact.merged_contact.main_emails %}
			<tr>
				<td style="padding-top: 6px; padding-right: 8px;">E-mail:</td>
				<td style="padding-top: 6px;">
					<div class="div_dropdown" style="cursor: default;">
						<div class="email_val">Main</div>
						<div class="sub_div_dropdown" style="display: none; ">
						<a href="javascript:void(0);">Main</a>
						<a href="javascript:void(0);">Home</a>
						<a href="javascript:void(0);">Office</a>
						<a href="javascript:void(0);">Work</a>
						</div>
						<input type="hidden" name="email_labels{{merge_contact.merged_contact.contact.id}}[]" value="Main"/>
					</div>
				<td style="padding-top: 6px;"><input name="email_after_merged{{merge_contact.merged_contact.contact.id}}" class="text_field_bg" type="text" style="width: 200px;" value="{{ main_email.email }}"/></td>
			</tr>
			{% endfor %}
			<!-- loop email -->
			{% for email in merge_contact.merged_contact.contact_emails %}
			<tr>
				<td style="padding-top: 6px; padding-right: 8px;">E-mail:</td>
				<td style="padding-top: 6px;">
					<div class="div_dropdown" style="cursor: default;">
						<div class="email_val">{{email.label}}</div>
						<div class="sub_div_dropdown" style="display: none; ">
						<a href="javascript:void(0);">Main</a>
						<a href="javascript:void(0);">Home</a>
						<a href="javascript:void(0);">Office</a>
						<a href="javascript:void(0);">Work</a>
						</div>
						<input type="hidden" name="email_labels{{merge_contact.merged_contact.contact.id}}[]" value="{{email.label}}"/>
					</div>
				</td>
				<td style="padding-top: 6px;"><input name="email_after_merged{{merge_contact.merged_contact.contact.id}}" class="text_field_bg" type="text" style="width: 200px;" value="{{ email.email }}"/></td>
			</tr>
			{% endfor %}
			<!-- end loop email  -->
			<!-- loop phone -->
			{% for phone in merge_contact.merged_contact.contact_phones %}
			<tr>
				<td style="padding-top: 6px; padding-right: 8px;">Phone:</td>
				<td style="padding-top: 6px;">
					<div class="div_dropdown" style="cursor: default;">
						<div class="email_val">{{ phone.label }}</div>
						<div class="sub_div_dropdown" style="display: none; ">
						<a href="javascript:void(0);">Main</a>
						<a href="javascript:void(0);">Mobile</a>
						<a href="javascript:void(0);">Home</a>
						<a href="javascript:void(0);">Office</a>
						<a href="javascript:void(0);">Work</a>
						<a href="javascript:void(0);">Fax</a>
						</div><input type="hidden" name="phone_labels{{merge_contact.merged_contact.contact.id}}[]" value="{{phone.label}}"/>
					
					</div>
				</td>
				<td style="padding-top: 6px;"><input name="phone_after_merged{{merge_contact.merged_contact.contact.id}}" class="text_field_bg" type="text" style="width: 200px;" value="{{ phone.phone }}"/></td>
			</tr>
			<!-- end loop phone -->
			{% endfor %}
			<tr>
				<td colspan="3" style="text-align: left; padding-top: 15px;">
					<span style="color: #750A98; font-size: 13px; font-weight: bold;">Duplicate Contact Information</span>
				</td>
			</tr>
			<!-- loop duplicate contacts start -->
			{% for dup_contact in merge_contact.duplicate_contacts %}
			<tr>
				<td style="padding-top: 13px; padding-right: 8px;">First Name:</td>
				<td style="padding-top: 13px;">{{ dup_contact.name }}</td>
			</tr>
			<tr>
				<td style="padding-top: 9px; padding-right: 8px;">Last Name:</td>
				<td style="padding-top: 9px;">{{ dup_contact.last_name }}</td>
			</tr>
			<tr>
				<td style="padding-top: 9px; padding-right: 8px;">E-mail:</td>
				<td style="padding-top: 9px;">Main</td>
				<td style="padding-top: 9px;">{{ dup_contact.email }}</td>
			</tr>
			<!-- loop email -->
			{% for email in dup_contact.get_contact_emails %}
			<tr>
				<td style="padding-top: 9px; padding-right: 8px;">E-mail:</td>
				<td style="padding-top: 9px;">{{ email.label }}</td>
				<td style="padding-top: 9px;">{{ email.email }}</td>
			</tr>
			{% endfor %}
			<!-- loop email end  -->
			<!-- loop duplicate contacts start -->
			
			<!-- loop phone -->
			{% for phone in dup_contact.get_contact_phones %}
			<tr>
				<td style="padding-top: 9px; padding-right: 8px;">Phone:</td>
				<td style="padding-top: 9px;">{{ phone.label }}</td>
				<td style="padding-top: 9px;">{{ phone.phone }}</td>
			</tr>
			{% endfor %}
			<!-- loop phone end  -->
			{% if forloop.last %}
			<tr><td style="padding-bottom: 8px;"></td></tr>
			{% else %}
			<tr><td style="padding-top: 15px; padding-bottom: 3px; text-align: left;" colspan="4"><img alt="" src="{{ MEDIA_URL }}contact/images/merge_contact_line.png"> </td></tr>
			{% endif %}
			{% endfor %}
			<!-- end hide or show -->
			</table>
			</td>
			</tr>
			<!-- loop duplicate contacts start -->
			{% endfor %}
			<!-- loop stop -->
			<tr><td style="padding-bottom: 15px;"></td></tr>
		</table>
		</form>
	</div>
	<div style="float: right; margin-bottom: 155px;">
		<button class="btn_merge_contacts" onclick="javascript:window.location = '{% url invitations_contacts %}';">Cancel</button>&nbsp;<button id="btn_merge_contacts" class="btn_merge_contacts">Merge</button>
	</div>
</div>
<!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extra_scripts %}
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
	function any_contacts_checked() {
		var is_checked = false;
		$("input:checkbox[name='chk_contacts']").each(function() {
			 if($(this).attr('checked')) {
				 is_checked = true;
				// exit each loop jquery
				 return false;
			 }
		 });
		return is_checked;
	}
	function hide_all_details() {
		$('.tbl_data_merge').hide();
		$('.toggle_merge_contacts').html('show details');
	}
	function show_all_details() {
		$('.tbl_data_merge').show();
		$('.toggle_merge_contacts').html('hide details');
	}
	$(document).ready(function(){
		$('.div_dropdown').live({
			mouseenter: function(){
				$(this).find('.sub_div_dropdown').show();
			},
			mouseleave: function() {
				$(this).find('.sub_div_dropdown').hide();
			}

		});
		
		$('.sub_div_dropdown a').live('click', function(){
			var temp_email_val = $(this).html();
			$(this).parent().parent().find('.email_val').html(temp_email_val);
			$(this).parent().parent().find('input:first').val(temp_email_val);
			$(this).parent().hide();
		});
		
		
		$('.toggle_merge_contacts').click(function(){
			var id = $(this).attr('id');
			var tbl_id = '#tbl_data_merge_' + id;
			var text = $(this).html();
			if(text == 'hide details')
				$(this).html('show details');
			else $(this).html('hide details');
			$(tbl_id).toggle();
		});
		
		$('.lbl_chk_contacts').click(function(){
			if($(this).hasClass('files_type_uncheck')) {
				$(this).removeClass('files_type_uncheck').addClass('files_type_checked');
				$(this).parent().find('input:first').attr('checked','checked');
			}else {
				$(this).removeClass('files_type_checked').addClass('files_type_uncheck');
				$(this).parent().find('input:first').removeAttr('checked');
			}
		});	
		$('#lbl_chk_all').click(function(){
			if($(this).hasClass('files_type_uncheck')) {
				$(this).removeClass('files_type_uncheck').addClass('files_type_checked');
				$(this).parent().find('input:first').attr('checked','checked');
				$('#tbl_merge_contacts').find('input[name="chk_contacts"]').each(function(){
					$(this).attr('checked','checked');
					if($(this).parent().find('.lbl_chk_contacts:first').hasClass('files_type_uncheck'))
						$(this).parent().find('.lbl_chk_contacts:first').removeClass('files_type_uncheck').addClass('files_type_checked');
				});
			}else {
				$(this).removeClass('files_type_checked').addClass('files_type_uncheck');
				$(this).parent().find('input:first').removeAttr('checked');
				$('#tbl_merge_contacts').find('input[name="chk_contacts"]').each(function(){
					$(this).removeAttr('checked');
					if($(this).parent().find('.lbl_chk_contacts:first').hasClass('files_type_checked'))
						$(this).parent().find('.lbl_chk_contacts:first').removeClass('files_type_checked').addClass('files_type_uncheck');
				});
			}
		});
		
		$("#show_error_message").overlay({
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#ebecff',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		      closeOnClick: false
		  });
		// MERGE CONTACT
		$('#btn_merge_contacts').click(function(){
			
			if(any_contacts_checked()) {
				$('#frm_merge_contacts').submit();
			}
			else $('#show_error_message').click();
		});
	});
	
</script>
{% endblock %}
