{% extends "newer_base.html" %}
{% load i18n %}
{% block head_title %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}contact/css/contact.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<!--CONTENT CONTAINER STARTS-->
<div id="contact_main" style="height: 300px;">
	<div id="contact_details_top" style="margin-top: 35px; margin-bottom: 20px;">
		<div style="margin-bottom: 20px;"><button class="btn_all_contacts">BACK TO CONTACTS</button></div>
		<div class="contact_top_left" style="margin-left: 20px;">
			<table cellspacing="2" border="0">
				<tr valign="middle">
					<td valign="middle">
						<img alt="Edit Contact" src="{{ MEDIA_URL }}contact/images/import_contact_text.png">
					</td>
					<td>
						<span style="padding-left: 8px;" class="import_contacts_text">Select a service below to import contacts from.</span>
					</td>
				</tr>
			</table>	
		</div>
		<div style="clear: both;  height: 10px;"></div>
		<div style="margin-left: 20px;">
			<button id="btn_import_facebook" class="import_contact_buttons" style="opacity:0.5;filter:alpha(opacity=50);">Facebook</button>
			<button id="btn_import_linkedin" class="import_contact_buttons" style="opacity:0.5;filter:alpha(opacity=50);">LinkedIn</button>
			<button id="btn_import_google" class="import_contact_buttons">Google</button>
			<button id="btn_import_yahoo" class="import_contact_buttons">Yahoo</button>
		</div>
		<div style="clear: both;  height: 25px;"></div>
		<div class="import_contacts_text" style="margin-left: 20px;">
			You will be asked to log in with the account you created for that service.<br/>
			Then, you may continue to import your contacts.
		</div>
	</div>
	<form id="frm_import_contact" method="post" action="">
		<input type="hidden" name="action" />
	</form>
</div>
<!--CONTENT CONTAINER ENDS--> 
{% endblock %}

{% block extra_scripts %}
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.btn_all_contacts').click(function(){
		window.location = '{% url invitations_contacts %}';
	});
	// import contact from Facebook
	
	// import contact from LinkedIn
	
	// import contact from Google
	$('#btn_import_google').click(function(){
			window.location = "{% url googles_import %}";
	});
	// import contact from Yahoo
	$('#btn_import_yahoo').click(function(){
		window.location = "{% url yahoo_import %}";
	});
});
		
</script>
{% endblock %}
