{% extends "new_base.html" %}

{% load avatar_tags %}{% load pagination_tags %}{% load i18n %}

{% block head_title %}
{% trans "Contacts Dashboard" %}
{% endblock %}

{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li><a href="{% url invitations_contacts %}">{% trans "Imported Contacts" %}</a></li>
    <li><a href="{% url contact_groups %}">{% trans "Contact Groups" %}</a></li>
    <li class="current"><a href="{% url invitations %}">{% trans "Contacts" %}</a></li>
    <li><a href="{% url community_search %}">{% trans "Search Contacts" %}</a></li>
    <li><a href="{% url affiliate_invite %}">{% trans "Invite Affiliates" %}</a></li>
    {% if user.is_staff %}<li><a href="{% url admin_invite_user %}">{% trans "Send Promo Code" %}</a></li>{% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}
  <!--CONTENT CONTAINER STARTS-->
  {% autopaginate friends %}
  <div id="content_container"> 
    <ul id="messages">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
  	<p class="files_paging">{% if page_obj.has_previous %}<a href="?{% if is_filtered %}filter=1&q={{ filter_arg }}&{% endif %}page={{ page_obj.previous_page_number }}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?{% if is_filtered %}filter=1&q={{ filter_arg }}&{% endif %}page={{ page_obj.next_page_number }}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
  	<!-- LEFT FRIENDS STARTS -->
    <div id="left_friends">
    	<!-- SEARCH BOX STARTS -->
        <div class="searchbg">
            <form method="get" action="{% url friends_directory %}">
                <input type="text" name="q" id="textfield" class="textfield_search" value="{% if query_string %}{{ query_string  }}{% else %}{% trans "Search My Contacts" %}{% endif %}" style="height:20px; border:none; margin:5px 0px 0px 5px; color: gray;" />
                <input type="submit" name="button" id="button" value=" " class="submit_btn" />
            </form>
        </div>
        <!-- SEARCH BOX ENDS -->
        
        <!-- FRIENDS REQUEST & PENDING STARTS -->
        <div>
	  <form name="friendsForm" method="post" action=".">
            <table id="friends_request" border="0" cellspacing="0" cellpadding="0">
                <tr><td><h1 class="title" style="font-size: 14px; text-shadow:none;">{% trans "New Contact Request" %}</h1></td></tr>                
		{% if invites_received %}
		{% for invitation in invites_received %}
		{% ifequal invitation.status "2" %}
                <tr class="{% cycle 'dark' 'light' %}">
                    <td>
                    <div class="friends_avatar">
                    <div style="float:left;">{% avatar invitation.from_user 40 %}</div><p style="float:left;padding-left:0px;margin-top:8px;"><a href="{% url profile_detail invitation.from_user.username %}">{{ invitation.from_user }}</a></p>
                    </div>
                    <div class="friends_button">
                      <a style="float:right; padding-right:10px;" href="#"><div class="bt_accept" id="{{ invitation.id }}_accept"></div></a>

                      <a style="float:right; padding-right:10px;" href="#"><div class="bt_deny" id="{{ invitation.id }}_decline"></div></a>
                    </div>
                    </td>
                </tr>
		{% endifequal %}
		{% endfor %}
		{% else %}
		<tr class="{{ row_colours }}">
		  <td>
		    <div class="friends_avatar">
		      <p style="float: left;">{% trans "No invitation requests received" %}</p>
		    </div>
		</td>
		</tr>
		{% endif %}
                <tr><td><h1 class="title" style="font-size: 14px; text-shadow:none;">{% trans "Pending Contact Request" %}</h1></td></tr> 
		{% if invites_sent %}
		{% for invitation in invites_sent %}
		{% ifequal invitation.status "2" %}
                <tr class="{% cycle 'dark' 'light' %}">
                    <td>
                    <div class="friends_avatar">
		    <div style="float:left">{% avatar invitation.to_user 40 %}</div><p style="float:left;padding-left:0px;margin-top:8px;"><a href="{% url profile_detail invitation.to_user.username %}">{{ invitation.to_user }}</a></p>
                    </div>
                    <div class="friends_button">
                    <a style="float:right; padding-right:10px;" href="#"><div class="bt_cancel" id="{{ invitation.id }}_cancel"></div></a> 
                    </div>
                    </td>
                </tr>
		{% endifequal %}
		{% endfor %}
		{% else %}
		<tr class="{% cycle 'dark' 'light' %}">
		  <td>
		    <div class="friends_avatar">
		      <p style="float: left;">{% trans "No contact requests sent." %}</p>		      
		    </div>
		  </td>
		</tr>
		{% endif %}
            </table>	    
	    <input type="hidden" name="invitation" value="" />
	    <input type="hidden" name="action" value="" />
	  </form>
        </div>
        <!-- FRIENDS REQUEST & PENDING ENDS -->
    </div>
    <!-- LEFT FRIENDS ENDS -->
    
    <!-- RIGHT FRIENDS STARTS -->
    <div id="right_friends">
        <table id="friends_list" cellspacing="0">
          <tr><th colspan="2" style="text-align:left;"><h1 class="title" style="text-shadow:none;">{% trans "My Contacts" %}</h1></th></tr
          <tr>
	    <th colspan="2">
	      <h1 class="sub_title">
		<a href="?q=a">A</a>
		<a href="?q=b">B</a>
		<a href="?q=c">C</a>
		<a href="?q=d">D</a>
		<a href="?q=e">E</a>
		<a href="?q=f">F</a>
		<a href="?q=g">G</a>
		<a href="?q=h">H</a>
		<a href="?q=i">I</a>
		<a href="?q=j">J</a>
		<a href="?q=k">K</a>
		<a href="?q=l">L</a>
		<a href="?q=m">M</a>
		<a href="?q=n">N</a>
		<a href="?q=o">O</a>
		<a href="?q=p">P</a>
		<a href="?q=q">Q</a>
		<a href="?q=r">R</a>
		<a href="?q=s">S</a>
		<a href="?q=t">T</a>
		<a href="?q=u">U</a>
		<a href="?q=v">V</a>
		<a href="?q=w">W</a>
		<a href="?q=x">X</a>
		<a href="?q=y">Y</a>
		<a href="?q=z">Z</a>
	      </h1>
	  </th></tr>
	  {% if friends %}
	  {% for f in friends %}
	  {% if not forloop.counter|divisibleby:"2" %}
          <tr class="row">
	    {% endif %}
            <td>
              <div class="friends_avatar">
		<div style="float:left">
                  {% avatar f 40 %}
		</div>
		<p style="float:left;padding-left:0px;margin-top:8px;">
		  <a href="{% url profile_detail f.username %}">
		    {% if f.first_name %}{% if f.last_name %}
		      {{ f.first_name }} {{ f.last_name }}{% endif %}
		    {% else %}
		      {{ f.username }}
		    {% endif %}
		  </a>
		</p>
              </div>
            </td>
	    {% if forloop.counter|divisibleby:"2" %}
	    </tr>
	    {% endif %}
	  {% endfor %}
	  {% else %}
	  <tr>
	    <td><h3 style="color:red;">{% if not filter_arg %}{% trans "No friends found" %}{% else %}{% trans "No friends found with this query" %}{% endif %}</h3></td>
	  </tr>
	  {% endif %}
        </table>
    </div>
    <!-- RIGHT FRIENDS ENDS -->
  	<p class="files_paging">{% if page_obj.has_previous %}<a href="?{% if is_filtered %}filter=1&q={{ filter_arg }}&{% endif %}page={{ page_obj.previous_page_number }}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?{% if is_filtered %}filter=1&q={{ filter_arg }}&{% endif %}page={{ page_obj.next_page_number }}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
  </div>
  <!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var defaultSearchQuery = $("input[name=q]").val();
    $("input[name=q]").focusin(function() { 
      if ($(this).val() == defaultSearchQuery)
        $(this).val("");
    });
    $("input[name=q]").focusout(function() {
      if (!$(this).val())
        $(this).val(defaultSearchQuery);
    });
    $("div.files_search_box").bind("click", {}, function(eventObject) { 
      $(this).children("form").submit();
    });
    $(".bt_accept,.bt_deny,.bt_cancel").mouseover(function(eventObj) {
      $(this).css("cursor", "pointer");
    });
    $(".bt_accept,.bt_deny,.bt_cancel").click(function(eventObj) { 
      var idnaxn = $(this).attr("id").split("_");
      $("input[name=invitation]").val(idnaxn[0]);
      $("input[name=action]").val(idnaxn[1]);
      $("form[name=friendsForm]").submit();
    });
  });
</script>
{% endblock %}
