{% extends "newer_base.html" %}
{% load i18n %}
{% load conference_tags %}
{% block head_title %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}contact/css/contact.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<!--CONTENT CONTAINER STARTS-->
<div id="contact_main">
	
	<ul id="contact_messages" style="margin-bottom: 0px;display:none;">
	    {% for message in messages %}
	    <li><button class="btn_messages_close" onclick="show_then_hide();" style="float:right;margin-right: 5px;"></button></li>
	    <li style="padding-bottom: 12px;">{{ message }}</li>
	    {% endfor %}
  	</ul>
	
	<!-- form rename submit -->
	<form action="{% url contact_group_rename %}" method="post" id="form_rename_group">
		<input type="hidden" name="group_id" />
		<input type="hidden" name="group_name" />
		<input type="hidden" name="action" />
	</form>
	<!-- end rename submit -->
	
	<!-- OVERLAYS START  -->
	
	<!-- ADD CONTACTS TO NEW GROUP OVERLAY -->
	<div class="modal_file" id="add_contacts_new_group_container">
		<div class="contact_overlay_header">
			New Group
		</div>
	  <div style="width: 600px; margin-left: 30px;margin-bottom: 10px; margin-top: 20px;">
	  		<table border="0" style="width: 100%;" cellspacing="10">
	  			<tr><td class="create_contact_title">Group Name:</td></tr>
	  			<tr><td><input type="text" style="width: 600px;" id="txt_contact_new_group_name" class="text_field_bg_overlay create_contact_title"/></td></tr>
	  			<tr><td><span style="color: red; display: none;" class="err_msg_create_group_name">Error: Group Name is required.</span></td></tr>
	  			<tr><td></td></tr>
	  			<tr align="center" class="grey_color_text font_size_22"><td><button class="contact_overlay_button close">Cancel</button>&nbsp;<button class="contact_overlay_button">Create Group</button></td></tr>
	  		</table>
	  </div>
	</div>
	<!-- ADD CONTACTS TO NEW GROUP OVERLAY END -->
	
	<button id="error_merge_contacts" rel="#find_merge_contacts_container" style="display: none;"></button>
	
	<!-- RENAME GROUP OVERLAY -->
	<div class="modal_file" id="rename_group_container">
		<div class="contact_overlay_header">
			Rename Group
		</div>
	  <div style="width: 600px; margin-left: 30px;margin-bottom: 10px; margin-top: 20px;">
	  		<table border="0" style="width: 100%;" cellspacing="10">
	  			<tr><td class="create_contact_title">Group Name:</td></tr>
	  			<tr><td><input type="text" style="width: 600px;" id="txt_group_name" class="text_field_bg_overlay create_contact_title"/></td></tr>
	  			<tr><td><span style="color: red; display: none;" class="err_msg_group_name">Error: Group Name is required.</span></td></tr>
	  			<tr><td></td></tr>
	  			<tr align="center" class="grey_color_text font_size_22"><td><button class="contact_overlay_button close">Cancel</button>&nbsp;<button class="contact_overlay_button">Okay</button></td></tr>
	  		</table>
	  </div>
	</div>
	<!-- RENAME GROUP OVERLAY END -->
	
	
	<!-- CREATE GROUP OVERLAY -->
	<div class="modal_file" id="create_group_container">
		<div class="contact_overlay_header">
			New Group
		</div>
	  <div style="width: 600px; margin-left: 30px;margin-bottom: 10px; margin-top: 20px;">
	  		<table border="0" style="width: 100%;" cellspacing="10">
	  			<tr><td class="create_contact_title">Group Name:</td></tr>
	  			<tr><td><input type="text" style="width: 600px;" id="txt_new_group_name" class="text_field_bg_overlay create_contact_title"/></td></tr>
	  			<tr><td><span style="color: red; display: none;" class="err_msg_create_group_name">Error: Group Name is required.</span></td></tr>
	  			<tr><td></td></tr>
	  			<tr align="center" class="grey_color_text font_size_22"><td><button class="contact_overlay_button close">Cancel</button>&nbsp;<button class="contact_overlay_button">Create Group</button></td></tr>
	  		</table>
	  </div>
	</div>
	<!-- CREATE GROUP OVERLAY END -->
	
	
	<!-- DELETE GROUP OVERLAY -->
	<div class="modal_file" id="delete_group_container">
		<div class="contact_overlay_header">
			Delete Group
		</div>
	  <div style="width: 600px; margin-left: 30px;margin-bottom: 10px; margin-top: 20px;">
	  		<table border="0" style="width: 100%;" cellspacing="10">
	  			<tr><td></td></tr>
	  			<tr align="center"><td class="create_contact_title">Are you sure you want to delete&nbsp;<label id="label_group_name"></label>?</td></tr>
	  			<tr align="center"><td class="create_contact_title" style="color: #750A98;">The group will be deleted, but your contacts will be saved.</td></tr>
	  			<tr><td></td></tr>
	  			<tr><td></td></tr>
	  			<tr><td></td></tr>
	  			<tr align="center" class="grey_color_text font_size_22"><td><button class="contact_overlay_button close">Cancel</button>&nbsp;<button class="contact_overlay_button">Delete</button></td></tr>
	  		</table>
	  </div>
	</div>
	<!-- DELETE GROUP OVERLAY END-->
	
	<!-- DELETE CONTACTS OVERLAY -->
	<div class="modal_file" id="delete_contacts_container">
		<div class="contact_overlay_header">
			Delete Contacts
		</div>
	  <div style="width: 600px; margin-left: 30px;margin-bottom: 10px; margin-top: 20px;">
	  		<table border="0" style="width: 100%;" cellspacing="10">
	  			<tr><td></td></tr>
	  			<tr align="center" class="title_delete_contacts"><td class="create_contact_title">Are you sure you want to delete contacts?</td></tr>
	  			<tr align="center" class="title_err_delete_contacts"><td>No contacts selected to delete.</td></tr>
	  			<tr><td></td></tr>
	  			<tr><td></td></tr>
	  			<tr><td></td></tr>
	  			<tr class="title_delete_contacts" align="center" class="grey_color_text font_size_22"><td><button class="contact_overlay_button close">Cancel</button>&nbsp;<button class="contact_overlay_button">Delete</button></td></tr>
	  			<tr class="title_err_delete_contacts" align="center" class="grey_color_text font_size_22"><td><button class="contact_overlay_button close">OK</button></td></tr>
	  		</table>
	  </div>
	</div>
	<!-- DELETE GROUP OVERLAY END-->
	<button style="display: none;" id="show_error_message" rel="#error_contacts_container"></button>
	<!-- DELETE CONTACTS OVERLAY -->
	<div class="modal_file" id="error_contacts_container">
		<div class="contact_overlay_header">
			Contacts
		</div>
	  <div style="width: 600px; margin-left: 30px;margin-bottom: 10px; margin-top: 20px;">
 		<table border="0" style="width: 100%;" cellspacing="10">
 			<tr><td></td></tr>
 			<tr align="center" style="color: red; font-size: 20px;"><td>No contacts selected.</td></tr>
 			<tr><td></td></tr>
 			<tr><td></td></tr>
 			<tr><td></td></tr>
 			<tr align="center" class="grey_color_text font_size_22"><td><button class="contact_overlay_button close">OK</button></td></tr>
 		</table>	
	  </div>
	</div>
	<!-- DELETE GROUP OVERLAY END-->
	
	<button style="display: none;" id="show_error_merge" rel="#error_merge_contacts_container"></button>
	<!-- MERGE CONTACTS EROR OVERLAY -->
	<div class="modal_file" id="error_merge_contacts_container">
		<div class="contact_overlay_header">
			Merge Contacts
		</div>
	  <div style="width: 600px; margin-left: 30px;margin-bottom: 10px; margin-top: 20px;">
 		<table border="0" style="width: 100%;" cellspacing="10">
 			<tr><td></td></tr>
 			<tr align="center" style="color: red; font-size: 20px;"><td>You must choose at least two contacts to merge.</td></tr>
 			<tr><td></td></tr>
 			<tr><td></td></tr>
 			<tr><td></td></tr>
 			<tr align="center" class="grey_color_text font_size_22"><td><button class="contact_overlay_button close">OK</button></td></tr>
 		</table>	
	  </div>
	</div>
	<div style="height: 25px;"></div>
	<!-- FILES CONTENT START -->
	<div id="contact_content">
		<div id="contact_content_left">
			<div id="contact_top_left" style="margin-bottom: 8px;">
				CONTACTS
			</div>
			<button class="import_contact" id="btn_create_contact">Create Contact</button>
			<div class="small_clear"></div>
			<button id="btn_import_contact" class="import_contact">Import Contacts</button>
			<div class="small_clear"></div>
			<table class="contact_group box_shaddow" border="0" width="226" style="text-align: left;">
				<tr class="group_header"><td style="padding: 5px; color: white;" colspan="2">Groups</td></tr>
				{% for group in groups %}
				<tr class="tr_hover tr_group_hover {% ifequal group.id group_id %}selected{% endifequal %}" id="{{ group.id }}">
					<td><a href="/connections/contacts/group/{{ group.urlhash }}">{{ group.name }} ({{ group.count_contacts_in_group }})</a></td>
					<td align="right">
						<img src="{{ MEDIA_URL }}files/images/purple_down.png" id="group_id_{{ group.id }}" class="icon_contact_action"/>
						<div class="contact_action contact_action_sub" id="contact_action_{{ group.id }}">
			    			<ul>
			    				<li><a class="show_rename_overlay" href="javascript:void(0)" rel="#rename_group_container" id="group_{{ group.id }}" title="{{ group.name }}">Rename</a></li>
			    				<li><a class="show_delete_overlay" href="javascript:void(0)" rel="#delete_group_container" id="group_del_{{ group.id }}" title="{{ group.name }}" style="cursor: pointer;">Delete</a></li>
			    			</ul>
			    		</div>	
					</td>
				</tr>
				{% endfor %}
				<tr style="background: white;"><td align="left" colspan="2" style="margin-left: 0; padding-left:0; padding-top: 5px; padding-bottom:5px;"><button class="show_create_overlay" rel="#create_group_container" id="btn_new_group">New Group</button></td></tr>
			</table>
			
		<div class="files_smallclear"></div>
		</div>
		<div id="contact_content_right" style="margin-top: 17px;">
		{%if not helper_contact %}
			<div id="contact_top_right" style="margin-bottom: 12px;visibility: hidden;height:0px;margin:10px;padding:0">
			
				<div id="contact_top_right_tooltip">
					<div style="float: left; margin-left: 100px;">The Contacts sections is where you may manage your e-mail addresses and phone numbers.</div>
					<div id="contact_top_right_close_icon">
					<img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_warning_close.png" />
	    			<img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_question.png" />
				</div>
					<div style="clear: both;"></div>
					You may add or import contact information using the buttons in the left column. Further down, you can organize your contacts into groups.<br/>
					Use the list on the right to search for a contact to edit or compose a message.
				</div>
			
			</div>	
		{%endif%}
			<div class="contact_filter_search">
				<form id="form_contact_filter" method="get" action="{% url invitations_contacts %}">
					<input type="hidden" name="filter_name" />
					<input type="hidden" name="alphabet" />
					<input type="hidden" name="filter" value="Filter"/>
					<input type="hidden" name="per_page" />
				</form>
				
				<div class="contact_filter" style="float: left;">
					<div id="div_dropdown_name" style="float: left;">
						<div id="name_search">{% ifequal filter_name "last_name" %}Last Name{% else %}First Name{% endifequal %}</div>
						<div id="sub_dropdown_name" style="display: none;">
							<a href="javascript:void(0);" id="first_name">First Name</a>
							<a href="javascript:void(0);" id="last_name">Last Name</a>
						</div>
					</div>
					<div style="float: left; margin-top: 7px;">
					&nbsp;&nbsp;
					<a class="filter_alphabet{% ifequal alphabet "all" %}_active{% endifequal %}" href="javaScript:void(0);" onclick="submit_contact_filter('all')">ALL</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "a" %}_active{% endifequal %}" href="javaScript:void(0);" onclick="submit_contact_filter('a')">A</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "b" %}_active{% endifequal %}" href="javaScript:void(0);" onclick="submit_contact_filter('b')">B</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "c" %}_active{% endifequal %}" href="javaScript:void(0);" onclick="submit_contact_filter('c')">C</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "d" %}_active{% endifequal %}" href="javaScript:void(0);" onclick="submit_contact_filter('d')">D</a> &nbsp;
					<a class="filter_alphabet{% ifequal alphabet "e" %}_active{% endifequal %}" href="javaScript:void(0);" onclick="submit_contact_filter('e')">E</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "f" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('f')">F</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "g" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('g')"">G</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "h" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('h')">H</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "i" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('i')">I</a> &nbsp;
					<a class="filter_alphabet{% ifequal alphabet "j" %}active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('j')">J</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "k" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('k')">K</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "l" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('l')">L</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "m" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('m')">M</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "n" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('n')">N</a> &nbsp;
					<a class="filter_alphabet{% ifequal alphabet "o" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('o')">O</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "p" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('p')">P</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "q" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('q')">Q</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "r" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('r')">R</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "s" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('s')">S</a> &nbsp;
					<a class="filter_alphabet{% ifequal alphabet "t" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('t')">T</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "u" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('u')">U</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "v" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('v')">V</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "w" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('w')">W</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "x" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('x')">X</a> &nbsp;
					<a class="filter_alphabet{% ifequal alphabet "y" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('y')">Y</a> &nbsp;<a class="filter_alphabet{% ifequal alphabet "z" %}_active{% endifequal %}" href="javascript:void(0);" onclick="submit_contact_filter('z')">Z</a>
					</div>
				</div>
				
				<div class="contact_searchbg" style="float: right;">
		            <form action="{% url contacts_search %}" method="get">
		                <div style="margin-top: 5px; float: left;"><input type="text" name="q" id="textfield" class="contact_search_textbox" value="{% if query_string %}{{ query_string  }}{% else %}{% trans 'Search' %}{% endif %}"  maxlength="250"
						onfocus="{% if not query_string %}if(this.value == 'Search') {this.value = '';}{% endif %}" onblur="{% if not query_string %}if (this.value == '') {this.value = 'Search';}{% endif %}"/></div>
						<div style="float: right; margin-top: 9px;"><input type="button" class="contact_search_close"/></div>
		                <div style="float: right; margin-top: 9px;"><input type="submit" id="button" value="" class="contact_search_btn"/></div>
		                
		            </form>
	        	</div>
				
			</div>
			<div style="clear: both; height: 7px;"></div>
			<div class="files_content_right_top">
				<div style="display: inline-block;" class="div_group_action">
					<button id="btn_group" class="btn_all_delete">Group</button>
					<div id="group_action" class="contact_action">
						<ul>
							<li id="add_to_group">
								<div>
									<a href="javascript:void(0);" style="float: left;">Add to Group</a>
									<img id="img_show_list" style="float: right; padding-right:5px; padding-top:3px;" alt="" src="{{ MEDIA_URL }}contact/images/icon_show_list.png">
								</div>
								<div style="clear: both;"></div>
								<div id="add_group_sub">
									<ul>
										<li><a href="javascript:void(0);" class="show_add_contacts_to_new_group" rel="#add_contacts_new_group_container">New Group</a></li>
										<li><img alt="" src="{{ MEDIA_URL }}contact/images/line.jpg"> </li>
										{% for group in groups %}
										<li><a href="javascript:void(0);" onclick="add_contacts_to_group('{{ group.id }}');">{{ group.name }}</a></li>
										{% endfor %}
									</ul>
								</div>
							</li>
							<li id="remove_from_group">
								<div>
									<a href="javascript:void(0);" style="float: left;">Remove from Group</a>
									<img id="img_show_list" style="float: right; padding-right:5px; padding-top:3px;" alt="" src="{{ MEDIA_URL }}contact/images/icon_show_list.png">
								</div>
								<div style="clear: both;"></div>
								<div id="remove_group_sub">
									<ul>
										{% for group in groups %}
										<li><a href="javascript:void(0);" onclick="del_contacts_from_group('{{ group.id }}');">{{ group.name }}</a></li>
										{% endfor %}
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<button id="btn_edit_top" class="btn_all_delete" onclick="open_edit_contacts();">Edit</button>
				<button id="btn_delete_top" class="delete_contacts btn_all_delete" rel="#delete_contacts_container">Delete</button>
				
				<div style="display: inline-block;" class="div_more">
					<button id="btn_more_top" class="more_action btn_all_delete">More</button>
					<div class="contact_merge_action">
						<ul>
							<li><a onclick="merge_contacts();">Merge Contacts</a></li>
							<li><a onclick="find_merge_contacts();">Find and Merge Contacts</a></li>
						</ul>
					</div>
				</div>
				<div class="files_paging" style="float: right;">
					<div style="float: left;">
						<!-- <span style="margin-right: 3px; padding-top: 5px;float: left;">{{ object_list.0.ellipses_full_name }}{% ifextra object_list.count > 1 %}{% if object_list.0.ellipses_full_name %}&nbsp;-&nbsp;{% endif %}{% for item in object_list %}{% if forloop.last %}{{ item.ellipses_full_name }}{% endif %}{% endfor %}{% endifextra %}</span> -->
						<span style="float: left; padding-top: 6px;">
							{% if page_obj.has_previous %}
							<a title="First" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}&page=1{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" /></a>
							{% else %}
							<img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" class="opacity_0_5"/>
							{% endif %}
							&nbsp;&nbsp;&nbsp;&nbsp;
							{% if page_obj.has_previous %}
		   					<a title="Previous" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" /></a>
		   					{% else %}
		   					<img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" class="opacity_0_5"/>
		   					{% endif %}
		   					&nbsp;&nbsp;&nbsp;&nbsp;
							{% if page_obj.has_next %}<a title="Next" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next.png" /></a>
							{% else %}
							<img src="{{ MEDIA_URL }}schedule/images/icon_next.png" class="opacity_0_5"/>
							{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
							{% if page_obj.has_next %}
							<a title="Last" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ pages }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" /></a>
							{% else %}
							<img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" class="opacity_0_5"/>
							{% endif %}
						</span>
						<span style="float: left; padding-top: 5px; margin-right: 5px;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						{% trans "View"%}
						</span>
					</div>
					<div style="float: right;">
						<span style="float: right; padding-top: 5px; margin-right: 0;">{% trans "per page"%}</span>
						<div style="float: right;">
							<div id="div_dropdown_per_page_top" class="div_dropdown_per_page">
								<div id="drop_down_menu">{% if per_page %}{{ per_page }}{% else %}10{% endif %}</div>
								<div class="sub_per_page">
									<a href="?{% if query_string %}q={{ query_string }}{% endif %}&per_page=10{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">10</a>
									<a href="?{% if query_string %}q={{ query_string }}{% endif %}&per_page=25{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">25</a>
									<a href="?{% if query_string %}q={{ query_string }}{% endif %}&per_page=50{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">50</a>
									<a href="?{% if query_string %}q={{ query_string }}{% endif %}&per_page=100{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">100</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="files_clear files_smallclear"></div>
			<!-- <form id="form_delete_submit" action="." method="post"> -->
		            {% block table %}
		            {% include "friends_app/contact_list_table.html" %}
		            {% endblock %}
			<!-- </form> -->
			<div style="height: 10px;"></div>
				<div style="display: inline-block;" class="div_group_action_bottom">
					<button id="btn_group_bottom" class="btn_all_delete">Group</button>
					<div id="group_action" class="contact_action">
						<ul>
							<li id="add_to_group">
								<a href="javascript:void(0);">Add to Group</a>
								<div id="add_group_sub">
									<ul>
										<li><a href="javascript:void(0);" class="show_add_contacts_to_new_group" rel="#add_contacts_new_group_container">New Group</a></li>
										<li><img alt="" src="{{ MEDIA_URL }}contact/images/line.jpg"> </li>
										{% for group in groups %}
										<li><a href="javascript:void(0);" onclick="add_contacts_to_group('{{ group.id }}');">{{ group.name }}</a></li>
										{% endfor %}
									</ul>
								</div>
							</li>
							<li id="remove_from_group">
								<a href="">Remove from Group</a>
								<div id="remove_group_sub">
									<ul>
										{% for group in groups %}
										<li><a href="javascript:void(0);" onclick="del_contacts_from_group('{{ group.id }}');">{{ group.name }}</a></li>
										{% endfor %}
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<button id="btn_edit_bottom" class="btn_all_delete" onclick="open_edit_contacts();">Edit</button>
				<button id="btn_delete_bottom" class="delete_contacts btn_all_delete" rel="#delete_contacts_container">Delete</button>
				<div style="display: inline-block;" class="div_more_bottom">
					<button id="btn_more_bottom" class="more_action btn_all_delete">More</button>
					<div class="contact_merge_action_bottom">
						<ul>
							<li><a onclick="merge_contacts();">Merge Contacts</a></li>
							<li><a onclick="find_merge_contacts();">Find and Merge Contacts</a></li>
						</ul>
					</div>
				</div>
				<div class="files_paging" style="float: right;">
					
					<div style="float: left;">
						<!-- <span style="margin-right: 3px; padding-top: 5px;float: left;">{{ object_list.0.ellipses_full_name }}{% ifextra object_list.count > 1 %}{% if object_list.0.ellipses_full_name %}&nbsp;-&nbsp;{% endif %}{% for item in object_list %}{% if forloop.last %}{{ item.ellipses_full_name }}{% endif %}{% endfor %}{% endifextra %}</span> -->
						<span style="float: left; padding-top: 6px;">
							{% if page_obj.has_previous %}
							<a title="First" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}&page=1{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" /></a>
							{% else %}
							<img src="{{ MEDIA_URL }}schedule/images/icon_previous_first.png" class="opacity_0_5"/>
							{% endif %}
							&nbsp;&nbsp;&nbsp;&nbsp;
							{% if page_obj.has_previous %}
		   					<a title="Previous" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.previous_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" /></a>
		   					{% else %}
		   					<img src="{{ MEDIA_URL }}schedule/images/icon_previous.png" class="opacity_0_5"/>
		   					{% endif %}
		   					&nbsp;&nbsp;&nbsp;&nbsp;
							{% if page_obj.has_next %}<a title="Next" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ page_obj.next_page_number }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next.png" /></a>
							{% else %}
							<img src="{{ MEDIA_URL }}schedule/images/icon_next.png" class="opacity_0_5"/>
							{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
							{% if page_obj.has_next %}
							<a title="Last" href="?{% if query_string %}q={{ query_string }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}&page={{ pages }}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}"><img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" /></a>
							{% else %}
							<img src="{{ MEDIA_URL }}schedule/images/icon_next_last.png" class="opacity_0_5"/>
							{% endif %}
						</span>
						<span style="float: left; padding-top: 5px; margin-right: 5px;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						{% trans "View"%}
						</span>
					</div>
					<div style="float: right;">
						<span style="float: right; padding-top: 5px; margin-right: 0;">{% trans "per page"%}</span>
						<div style="float: right;">
							<div id="div_dropdown_per_page_top" class="div_dropdown_per_page">
								<div id="drop_down_menu">{% if per_page %}{{ per_page }}{% else %}10{% endif %}</div>
								<div class="sub_per_page">
									<a href="?{% if query_string %}q={{ query_string }}{% endif %}&per_page=10{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">10</a>
									<a href="?{% if query_string %}q={{ query_string }}{% endif %}&per_page=25{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">25</a>
									<a href="?{% if query_string %}q={{ query_string }}{% endif %}&per_page=50{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">50</a>
									<a href="?{% if query_string %}q={{ query_string }}{% endif %}&per_page=100{% if filter_name %}&filter_name={{ filter_name }}{% endif %}{% if alphabet %}&alphabet={{ alphabet }}{% endif %}{% if is_filtered %}&filter=Filter{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">100</a>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		
	</div>
	<!-- FILES CONTENT STOP -->
	<div style="height: 20px; width: 100%; clear: both;"></div>
</div>

<!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extra_scripts %}
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
	function find_merge_contacts() {
		
		window.location='{% url find_merge_contacts %}';
		
	}
	
	function count_contacts_checked() {
		var count = 0;
		$("input:checkbox[name='chk_contacts']").each(function() {
			 if($(this).attr('checked')) {
			 	count++;
			 }
		 });
		return count;
	}
	
	//check if submit form: any checkbox is checked
	function is_submited() {
		var is_submit = false;
		$("input:checkbox[name='chk_contacts']").each(function() {
			 if($(this).attr('checked')) {
			 	is_submit = true;
			 // exit each loop jquery
			 return false;
			 }
		 });
		return is_submit;
	}
	// submit contact filter
	function add_contacts_to_group(group_id) {
		 if(is_submited()){
			 $('#form_contact input[name=group_id]').val(group_id);
			 $('#form_contact input[name=action]').val("add");
			 $('#form_contact').submit();
		 }else {
			 $("#show_error_message").click();
		 }
	}
	function del_contacts_from_group(group_id) {
		if(is_submited()){
			 $('#form_contact input[name=group_id]').val(group_id);
			 $('#form_contact input[name=action]').val("remove");
			 $('#form_contact').submit();
		}else {
			 $("#show_error_message").click();
		 }
	}
	// ADD CONTACTS TO NEW GROUP
	function add_contacts_new_group() {
		if(is_submited()){
			var new_group_name = $('#txt_contact_new_group_name').val();
	 		if($.trim(new_group_name) == '') {
	 			$('.err_msg_create_group_name').show();
	 		}else {
	 			$('.err_msg_create_group_name').hide();
		 		$('#form_contact input[name="group_name"]').val(new_group_name);
		 		$('#form_contact input[name="action"]').val('add_contacts_new_group');
		 		$('#form_contact').submit();
		 		return false;
	 		}
		}else {
			$("#show_error_message").click();
		}
	}
	function submit_contact_filter(alphabet) {
		/* $('#form_contact_filter input[name=filter_name]').val($('#filter_name_sel').val()); */
		var name_search = $('#name_search').html();
		var name_search_value = 'name';
		if(name_search == 'Last Name') {
			name_search_value = 'last_name';
		}
		$('#form_contact_filter input[name=filter_name]').val(name_search_value);
		$('#form_contact_filter input[name=alphabet]').val(alphabet);
		$('#form_contact_filter input[name=per_page]').val('{{per_page}}');
		$('#form_contact_filter').submit();
	}
	function submit_delete_contacts() {
		$('#form_contact input[name=action]').val("delete_contacts");
		$('#form_contact input[name=next]').val(window.location.href);
		$('#form_contact').submit();
	}
	
	function open_edit_contacts() {
		// if have any checkboxes checked
		if(is_submited()){
			//show all edit contacts page
			$("input:checkbox[name='chk_contacts']").each(function() {
				 if($(this).attr('checked')) {
					var contact_urlhash = $(this).attr('id');
				 	window.open('/connections/contacts/edit/' + contact_urlhash,'_blank');
				 }
			 });
		}else {
			$('#show_error_message').click();
		}
	}
	function merge_contacts() {
		
		// if have any checkboxes checked
		if(count_contacts_checked() >= 2){
			//merge contacts
			$('#form_contact input[name=action]').val("merge_contacts");
			$('#form_contact').submit();
			return false;
		}else {
			$('#show_error_merge').click();
		}
	}
	$(document).ready(function() {
		
		/* MORE BUTTON ACTION */
		$('#btn_more_top').click(function(){
			var pos = $(this).position();
			$('.contact_merge_action').css({'left': pos.left + 5, 'top': pos.top + 20});
			$('.contact_merge_action').show();				
		});
		$('#btn_more_bottom').click(function(){
			var pos = $(this).position();
			$('.contact_merge_action_bottom').css({'left': pos.left + 5, 'top': pos.top + 20});
			$('.contact_merge_action_bottom').show();				
		});
		$('.div_more').mouseleave(function(){
			$('.contact_merge_action').hide();
		});
		$('.div_more_bottom').mouseleave(function(){
			$('.contact_merge_action_bottom').hide();
		});
		/* END MORE BUTTON ACTION */
		$('.div_dropdown_per_page').click(function(){
			$(this).find('.sub_per_page').show();
		});
		$('.div_dropdown_per_page').mouseleave(function(){
			$(this).find('.sub_per_page').hide();
		});
		$('#name_search').click(function(){
			$('#sub_dropdown_name').show();
		});
		
		$('#div_dropdown_name').mouseleave(function(){
			$('#sub_dropdown_name').hide();
		});
		$('#sub_dropdown_name a').click(function(){
			var type = $(this).html();
			$('#name_search').html(type);
			$('#sub_dropdown_name').hide();
		});
		// TRIGGER FOR ADD CONTACTS TO NEW GROUP OVERLAY
		var triggers1 = $(".show_add_contacts_to_new_group").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#ebecff',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		      onBeforeLoad:function(){
		    	  $('.err_msg_create_group_name').hide();
		      },
		      closeOnClick: false
		  });
		//END TRIGGER FOR ADD CONTACTS TO NEW GROUP OVERLAY
		
		var buttons1 = $("#add_contacts_new_group_container button").click(function(e) {
		    // get user input
			var yes = buttons1.index(this);
			// if click create group
		 	if(yes == 1) {
		 		add_contacts_new_group();
		 	}
		 	else {
		 		$('.err_msg_group_name').hide();
		 	}
		});
		
		
		// TRIGGER FOR ERROR MESSAGE OVERLAY
		var triggers2 = $("#show_error_message").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#ebecff',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		      closeOnClick: false
		  });
		//END TRIGGER FOR ERROR MESSAGE OVERLAY
		
		// TRIGGER FOR RENAME GROUP OVERLAY
		var triggers3 = $(".show_rename_overlay").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#ebecff',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		      closeOnClick: false
		  });
		//END TRIGGER FOR RENAME GROUP OVERLAY
		
		// TRIGGER FOR DELETE GROUP OVERLAY
		var triggers4 = $(".show_delete_overlay").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#ebecff',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		 
		      closeOnClick: false
		  });
		// END TRIGGER FOR DELETE GROUP OVERLAY
		
		// TRIGGER FOR CREATE GROUP OVERLAY
		var triggers5 = $(".show_create_overlay").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#ebecff',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		      closeOnClick: false
		  });
		// END TRIGGER FOR CREATE GROUP OVERLAY
		
		
		// TRIGGER FOR DELETE CONTACTS OVERLAY
		var triggers6 = $(".delete_contacts").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#ebecff',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		 	  onBeforeLoad:function(){
		 		 $('.title_delete_contacts').show();
		 		 $('.title_err_delete_contacts').hide();
		 	  },
		      closeOnClick: false
		  });
		
		$("#show_error_merge").overlay({
			 
		      // some mask tweaks suitable for modal dialogs
		      mask: {
		        color: '#ebecff',
		        loadSpeed: 200,
		        opacity: 0.5
		      },
		      closeOnClick: false
		  });
		
		
		// END TRIGGER FOR DELETE CONTACTS OVERLAY
		 $('#per_page_real_top').change(function(){
			$('#form_contact_filter input[name=filter_name]').val('{{ filter_name }}');
			$('#form_contact_filter input[name=alphabet]').val('{{alphabet}}');
		    $('#form_contact_filter input[name=per_page]').val($("#per_page_real_top").val());
			$('#form_contact_filter').submit();
		});
		 $('#per_page_real_bottom').change(function(){
				$('#form_contact_filter input[name=filter_name]').val('{{ filter_name }}');
				$('#form_contact_filter input[name=alphabet]').val('{{alphabet}}');
			    $('#form_contact_filter input[name=per_page]').val($("#per_page_real_bottom").val());
				$('#form_contact_filter').submit();
			});
		
		/*=========CONTACT=============*/
		$('.schedule_warning_close').click(function(){
			
			$.ajax({
				url:'{%url hide_helper_session%}',
				type:'POST',
				data:'type=contact',
				success:function(result){
					if(result == 'success')
					{
						$('#contact_top_right').fadeOut();
						$('#contact_content_right').css({'margin-top': '37px'});
					}
				}
			});
			
			
		});
		
		/*=========================*/
		$("input:checkbox[name='chk_files']").each(function() {
			 $(this).attr('checked', false);
		 });
		
		
		$('.tr_hover').mouseenter(function(){
			var file_id = $(this).attr("id");
			var current_file_id = file_id;
			var current_file_id_st = '#cur_file_id_' + current_file_id;
			
			$(current_file_id_st).click(function(){
				// search checkbox (name: chk_files) has value is current_file_id
				$("input:checkbox[name='chk_files']").each(function() {
					 if($(this).attr('value') == current_file_id){
						 
						 $(this).attr('checked', true); 
					 }
				 });
			});
			
			var icon_action_id = '#icon_action_' + file_id;
			var file_action_id = '#file_action_' + file_id;
			var delete_id = '#'+ file_id;
			$(icon_action_id).show();
			
			$(icon_action_id).click(function(){
				var position = $(icon_action_id).position();
				var share_id = '#share_' + file_id;
				$('.file_action').css({'left':position.left, 'top':position.top + 15});
				
				$(file_action_id).show();
				$(share_id).mouseenter(function(){
					var share_sub_menu_id = '#share_sub_menu_' + file_id;
					var pos = $(share_id).position();
					$('.share_sub_menu').css({'left':pos.left + 150, 'top':pos.top});
					$(share_sub_menu_id).show();
					
				});
				$(share_id).mouseleave(function(){
					var share_sub_menu_id = '#share_sub_menu_' + file_id;
					$(share_sub_menu_id).hide();
				});
			});
		});
		
		$('.tr_hover').mouseleave(function(){
			var file_id = $(this).attr("id");
			var icon_action_id = '#icon_action_' + file_id
			var file_action_id = '#file_action_' + file_id;
			$(icon_action_id).hide();
			$(file_action_id).hide();
			
		});
		
		
		$('#btn_all_top').click(function(){
			$('#all_files_action_top').show();
		});
		
		$('#btn_all_bottom').click(function(){
			$('#all_files_action_bottom').show();
		});
		
		$('#all_files_action_top').mouseleave(function(){
			$('#all_files_action_top').hide();
		});
		$('#all_files_action_bottom').mouseleave(function(){
			$('#all_files_action_bottom').hide();
		});
		
		$('.contact_search_close').click(function(){
			$('#textfield').attr('value','');
			$('#textfield').focus();
		});
		$('.schedule_warning_close').click(function(){
			$('#files_top_right').hide('slow');
		});
		
		$('.tr_group_hover').mouseenter(function(){
			var id = $(this).attr('id');
			var group_id = '#group_' + id;
			// Rename click event
			$(group_id).click(function(){
				var group_name = $(this).attr('title');
				$('#txt_group_name').val(group_name);
				// check if okay button is clicked
				
				var buttons5 = $("#rename_group_container button").click(function(e) {
				    // get user input
					var yes = buttons5.index(this);
					// if click delete then delete file
				 	if(yes == 1) {
				 		var new_group_name = $('#txt_group_name').val();
				 		if($.trim(new_group_name) == '') {
				 			$('.err_msg_group_name').show();
				 		}else {
				 			$('.err_msg_group_name').hide();
					 		$('#form_rename_group input[name="group_id"]').val(id);
					 		$('#form_rename_group input[name="group_name"]').val(new_group_name);
					 		$('#form_rename_group input[name="action"]').val('rename');
					 		$('#form_rename_group').submit();
					 		return false;
				 		}
				 	}
				 	else {
				 		$('.err_msg_group_name').hide();
				 	}
				});
				// end check if okay button is clicked
			});
			// End Rename click event
			
			// Delete group click event
			var group_del_id = '#group_del_' + id;
			$(group_del_id).click(function(){
				$('#label_group_name').html($(this).attr('title'));
				// check if delete button is clicked
				
				var buttons2 = $("#delete_group_container button").click(function(e) {
				    // get user input
					var yes = buttons2.index(this);
					// if click delete then delete file
				 	if(yes == 1) {
				 		
				 		$('#form_rename_group input[name="group_id"]').val(id);
				 		$('#form_rename_group input[name="action"]').val('delete');
				 		$('#form_rename_group').submit();
				 		return false;
				 	}
				});
				// end check if delete button is clicked
			});
			
			// End Delete group click event
		});
		
		// CREATE GROUP EVENT
		
		var buttons3 = $("#create_group_container button").click(function(e) {
		    // get user input
			var yes = buttons3.index(this);
			// if click create group
		 	if(yes == 1) {
		 		var new_group_name = $('#txt_new_group_name').val();
		 		if($.trim(new_group_name) == '') {
		 			$('.err_msg_create_group_name').show();
		 		}else {
		 			$('.err_msg_create_group_name').hide();
			 		$('#form_rename_group input[name="group_name"]').val(new_group_name);
			 		$('#form_rename_group input[name="action"]').val('create');
			 		$('#form_rename_group').submit();
			 		return false;
		 		}
		 	}
		 	else {
		 		$('.err_msg_create_group_name').hide();
		 	}
		});
		
		// END CREATE GROUP EVENT
		
		
		
		// END ADD CONTACTS TO NEW GROUP EVENT
		
		// CREATE GROUP EVENT
		
		var buttons4 = $("#delete_contacts_container button").click(function(e) {
		    // get user input
			var yes = buttons4.index(this);
			// if click create group
		 	if(yes == 1) {
		 		//DELETE CONTATS
		 		if(is_submited()) {
		 			submit_delete_contacts();
		 			return false;
		 		}
		 		else {
		 			$('.title_delete_contacts').hide();
		 		  	$('.title_err_delete_contacts').show();
		 		  }
		 	}
		});
		
		// END CREATE GROUP EVENT
		
		
		
		
		// get table row hover to get group.id
		$('.tr_hover').mouseenter(function(){
			var id = $(this).attr('id');
			var group_id = '#group_id_' + id;
			var contact_action_id = '#contact_action_' + id;
			//console.log('group_id: ' + group_id);
			$(group_id).show();
			$(group_id).click(function(){
				var pos = $(this).position();
				$(contact_action_id).css({'top':pos.top + 10, 'left':pos.left});
				$(contact_action_id).show();
			});
		});
		$('.tr_hover').mouseleave(function(){
			var id = $(this).attr('id');
			var group_id = '#group_id_' + id;
			var contact_action_id = '#contact_action_' + id;
			//console.log('group_id: ' + group_id);
			$(group_id).hide();
			$(contact_action_id).hide();
		});
		
		// group action: Add to Group, Remove from Group
		$('#btn_group').click(function(){
			var pos = $(this).position();
			$('#group_action').css({'top':pos.top + 20, 'left':pos.left + 25});
			$('#group_action').toggle();
			// Add to Group
			$('#add_to_group').mouseenter(function(){
				var pos = $(this).position();
				$('#add_group_sub').css({'top':pos.top - 2, 'left':pos.left + 150});
				$('#add_group_sub').show();
			});
			$('#add_to_group').mouseleave(function(){
				$('#add_group_sub').hide();
			});
			// Remove from Group
			$('#remove_from_group').mouseenter(function(){
				var pos = $(this).position();
				$('#remove_group_sub').css({'top':pos.top - 2, 'left':pos.left + 150});
				$('#remove_group_sub').show();
			});
			$('#remove_from_group').mouseleave(function(){
				$('#remove_group_sub').hide();
			});
		});
		
		$('.div_group_action').mouseleave(function(){
			$('.contact_action').hide();
		});
		/* $('.div_group_action_bottom').mouseleave(function(){
			console.log('mouseleave');
			$('#group_action_bottom').hide();
		}); */
		// group action: Add to Group, Remove from Group
		$('#btn_group_bottom').click(function(){
			var pos = $(this).position();
			$('#group_action').css({'top':pos.top + 20, 'left':pos.left + 25});
			$('#group_action').toggle();
			// Add to Group
			$('#add_to_group').mouseenter(function(){
				var pos = $(this).position();
				$('#add_group_sub').css({'top':pos.top - 2, 'left':pos.left + 150});
				$('#add_group_sub').show();
			});
			$('#add_to_group').mouseleave(function(){
				$('#add_group_sub').hide();
			});
			// Remove from Group
			$('#remove_from_group').mouseenter(function(){
				var pos = $(this).position();
				$('#remove_group_sub').css({'top':pos.top - 2, 'left':pos.left + 150});
				$('#remove_group_sub').show();
			});
			$('#remove_from_group').mouseleave(function(){
				$('#remove_group_sub').hide();
			});
		});
		
		
		// button create contact
		$('#btn_create_contact').click(function(){
			window.location = '{% url create_contact %}';
		});
		$('#btn_import_contact').click(function(){
			window.location = '{% url contacts_import %}';
		});
		
		{% if messages %}
		$('#contact_messages').fadeIn();
		setTimeout(function(){ 
			$('#contact_messages').fadeOut();
			}, 5000);		
		{% endif %}
		
	});
	
	show_then_hide = function(){
		$('#contact_messages').fadeOut();
	};
	
</script>
{% endblock %}
