{% extends "newer_base.html" %}
{% load i18n %}
{% load profile_tags %}
{% load scheduletags %}
{% block title %}

{{ page_title }}
{% endblock %}
{% block extra_css %}

<link href="{{ MEDIA_URL }}files/css/new_file.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
	<!-- CONTENT CONTAINER STARTS -->
	<table id="file_check_password" border="0">
		<tr>
			<td align="center" style="padding-top: 29px; font-size: 17px; color: #595959;">
			No duplicate contacts found.</td>
		</tr>
		<tr style="height:20px">
		</tr>
		<tr>
		<td align="center" style="height:70px">
		<button class="schedule_btn_232x47" onclick="javascript:window.location='{{next}}'">Continue</button>
		</td>
		</tr>
	</table>
	<div style="width:100%;clear:both;height:100px;"></div>
{% endblock %}

