{% extends "new_base.html" %}
{% load i18n %}{% load avatar_tags %}{% load checkout_tags %}

{% block head_title %}
{% trans "Account Settings" %}
{% endblock %}

{% block submenu %}
<div id="submenu_container">
    <ul class="subnav">
        <li class="current"><a href="{% url acct_settings %}">{% trans "Account Settings" %}</a></li>
        <li><a href="{% url notification_notices %}">{% trans "Notification Settings" %}</a></li>
    </ul>
</div>
{% endblock %}


{% block content %}
<ul id="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
<!--CONTENT CONTAINER STARTS--> 
  <div id="content_container">
	<div id="box_body">	
        <div id="top_contain">	<p class="title_text">{% trans "Account Settings" %}</p></div>
   		<div id="mid_contain">	

            <div id="box_title_tab_nohover">
                <p class="title_tab_text" id="email_settings">{% trans "1. Username" %}</p>
		
            </div>

            <table width="100%" border="0" cellspacing="0" cellpadding="5" style="padding-left:30px;padding-top:20px;padding-bottom:20px;" >
                <tr>
                    <td>
                        <div class="acc_setting_center_contain">
                            <div style="width:200px; float:left;margin-top:20px; ">
                                <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:20px; " for="Current Profile">{% trans "Change Username" %}</label>
                            </div>

                            <div style="float:left; margin-top:20px;margin-left:50px; width:380px;">
                                <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:18px; " for="profile text">{% trans "New Username" %}:</label><br/>
                                <div style="float:left;margin-top:5px;">
                                    <form method="post" name="usernameForm" action="{% url acct_username_change %}">
                                        {{ username_change_form.errors }}
                                        {{ username_change_form.username }}
                                    </form>
                                </div>
                            </div>

                             <div style="float:right; margin-top:21px;">
                                <a href="#" onclick="$('form[name=usernameForm]').submit();return false;">
                                    <input type="button" value="{% trans "Save changes" %}" class="buttonGreen" />
                                </a>

                            </div>

                        </div>
                    </td>
                </tr>
            </table>

          <div id="box_title_tab_nohover">
              <p class="title_tab_text" id="email_settings">{% trans "2. Email" %}</p>
          </div>
            
      		<table width="100%" border="0" cellspacing="0" cellpadding="5" style="padding-left:30px;padding-top:20px;padding-bottom:20px;" >
             
              <tr>
                <td>               
				<div class="acc_setting_center_contain">    
                    <div style="width:200px; float:left; margin-left:1px;">   
		      {% if user.emailaddress_set.all %}
		      {% for emailaddress in user.emailaddress_set.all %}
              <label style="font:12px Arial, Helvetica, sans-serif; color:#616161; margin-top:20px;" for="Primary Email">{% if emailaddress.primary %}<strong>{% trans "Primary Email" %}: </strong>{% else %}{% trans "Email" %}: {% endif %} </label><br />
              <label style="font:13px Arial, Helvetica, sans-serif; color:#616161; height:50px;" for="Primary Email">{% if emailaddress.primary %}<strong>{{ emailaddress.email }}</strong>{% else %}{{ emailaddress.email }} <a href="#" onclick="removeEmailAddress('{{ emailaddress.email }}');return false;">{% trans "Remove" %}</a>{% endif %}</label>  <br />
		      {% endfor %}
			{% else %}
		      <p>{% trans "You should really add one primary email address so you can receive notifications, reset your password etc" %}</p>
		      {% endif %}

		      <form method="post" name="emailRemove" action="{% url acct_email %}">
			<input type="hidden" name="action" value="" />
			<input type="hidden" name="email" value="" />

		      </form>
                    </div>          
			<div style="width:280px; float:left; margin-left:50px;">   
			      <form method="post" name="emailAdd" action="{% url acct_email %}">
			      {{ add_email_form.email.errors }}
				<label style="font:12px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:20px; " for="Primary Email">  Add an Email Address: </label>
				<input type="text" value="{{ add_email_form.data.email }}" id="email" name="email" style="width:230px;margin-top:2px;margin-left:0px;" class="textinput" />      
				<input type="hidden" name="action" value="add" />
			      </form>
			</div>            
			<div style="float:right;">                       
			  <a href="#" onclick="$('form[name=emailAdd]').submit();return false;">
			    <input type="button" name="" value="{% trans "Save changes" %}" class="buttonGreen" />
			  </a>        	
			</div>
		    <div style="clear:both; height:5px;"></div>
                </div>


          		</td>
              </tr>
            </table>   
            
            <div id="box_title_tab_nohover">
                <p class="title_tab_text"> {% trans "3. Change Password" %}</p>
            </div>
            
      		 <table width="100%" border="0" cellspacing="0" cellpadding="5" style="padding-left:30px;padding-bottom:20px;" >
              
              <tr>
                <td>               
                  <div style="width:639px;float:left;">      
		    <form method="post" name="changePassword" action="{% url acct_passwd %}">
                     <p>&nbsp;</p>        
		     {{ password_change_form.oldpassword.errors }}
             <label class="compose_text"  for="Current Password"> {% trans "Current Password" %}</label> <br>
                      <input type="password" value="" id="currentpass" name="oldpassword" style="width:300px;margin-left:4px;margin-top:2px;" class="textinput" />           
                    <p>&nbsp;</p>        

		    {{ password_change_form.password1.errors }}
            <label class="compose_text"  for="New Password."> {% trans "New Password" %}</label> <br>
                     <input type="password" value="" id="newpass" name="password1" style="width:300px;margin-left:4px;margin-top:2px;" class="textinput" />           
                    <p>&nbsp;</p>
            
		    {{ password_change_form.password2.errors }}
            <label class="compose_text"  for="New Password(a)"> {% trans "Confirm New Password" %}</label> <br>
                     <input type="password" value="" id="newpassagain" name="password2" style="width:300px;margin-left:4px;margin-top:2px;" class="textinput" />
		    </form>
                  </div>
                  <div style="float:right;margin-top:75px;">                       
                    <a href="#" onclick="$('form[name=changePassword]').submit();return false;">
		      <input type="button" value="{% trans "Save changes" %}" class="buttonGreen" />
		    </a>	
                  </div>
          	</td>
              </tr>
           	 </table>                                          
             
            <div id="box_title_tab_nohover">
                <p class="title_tab_text"> {% trans "4. Profile Picture" %}</p>                                                  
            </div>
            
            <table width="100%" border="0" cellspacing="0" cellpadding="5" style="padding-left:30px;padding-bottom:20px;" >
              
              <tr>
                <td>               
                <div style="width:200px; float:left;margin-top:20px;">   
                    <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:20px; " for="Current Profile"> {% trans "Current Profile Picture" %}: </label>
                    <div style="margin-left:20px; margin-top:10px;"><img src="{% avatar_url user 40 %}" alt="{{ user }}" /></div>
                </div>      
                <div style="width:400px; float:left; margin-top:20px;">   
                    <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:18px; " for="profile text"> {% blocktrans %}Your picture is currently the one found on <a href="http://www.gravatar.com/" target="_blank">Gravatar</a>, but you can upload a custom picture just for this site! To do so, simply use the form below. {% endblocktrans %}<br/>            </label>
                    <br/>
                    <br/>
                    <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:20px; " for="Upload Profile"> {% trans "Upload a Profile Picture" %}: </label> 
		    <form method="post" name="avatarForm" action="{% url avatar_change %}" enctype="multipart/form-data">
       		    <input type="file" name="avatar" style="width:300px;margin-top:8px;" class="textinput" />          
		    <input type="hidden" name="next" value="{% url acct_settings %}" />
                </div>                		      
		    </form>
        
                <div style="float:right; margin-top:21px;">                       
                   <a href="#" onclick="$('form[name=avatarForm]').submit();return false;">
		     <input type="button" value="{% trans "Save changes" %}" class="buttonGreen" />
		   </a>        	
                </div>
          		</td>
              </tr>
           	 </table> 
            
            
            <div id="box_title_tab_nohover">
                <p class="title_tab_text"> {% trans "5. Time Zone" %}</p>   
            </div>
            
             <table width="100%" border="0" cellspacing="0" cellpadding="5" style="padding-left:30px;padding-bottom:20px;" >
              
              <tr>
                <td>               
                <div class="acc_setting_center_contain">
                    <div style="width:200px; float:left;margin-top:20px;">   
                        <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:20px; " for="Current Profile">{% trans "This site can localize all time into your preferred timzone." %}</label>
                    </div>
                   
                    <div style="width:300px;float:left; margin-top:20px;margin-left:50px;">   
                        
                        <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:18px; " for="profile text">{% trans "Select Time Zone" %}:</label>		
            
                        <div style="float:left;margin-top:5px;">
			  <form method="post" name="timezoneForm" action="{% url acct_timezone_change %}">
			    {{ timezone_change_form.errors }}
			    {{ timezone_change_form.timezone }}
			  </form>
			</div> 
                              
                    </div>                    
                    <div style="float:right; margin-top:21px;">                       
                       <a href="#" onclick="$('form[name=timezoneForm]').submit();return false;">
			 <input type="button" value="{% trans "Save changes" %}" class="buttonGreen" />
		       </a>        	
                    </div>
                   </div>
          		</td>
              </tr>
           	 </table> 
            
            <div id="box_title_tab_nohover">
                <p class="title_tab_text"> {% trans "6. Language" %}</p>   
            </div>
            
            <table width="100%" border="0" cellspacing="0" cellpadding="5" style="padding-left:30px;padding-bottom:20px;" >
              
              <tr>
                <td>               
            		<div class="acc_setting_center_contain">
                        <div style="width:200px; float:left;margin-top:20px;">   
                            <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:20px; " for="Current Profile">{% trans "This site can be used in your preferred language." %}</label>
                        </div>
                       
                        <div style="width:300px;float:left; margin-top:20px;margin-left:50px;">   
                            
                            <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bold; margin-top:18px;" for="profile text">{% trans "Select Language" %}:</label><br />
                
                            <div style="float:left;margin-top:5px;">
			      <form method="post" name="languageForm" action="{% url acct_language_change %}">
				{{ language_change_form.errors }}
				{{ language_change_form.language }}
			      </form>
                            </div> 
                        </div>
                        
                        <div style="float:right; margin-top:21px;">                       
                          <a href="#" onclick="$('form[name=languageForm]').submit();return false;">
			    <input type="button" value="{% trans "Save changes" %}" class="buttonGreen" />
			  </a>        	
                        </div>
                       </div>
          		</td>
              </tr>
           	 </table> 	
             
            <div id="box_title_tab_nohover">
                <p class="title_tab_text">{% trans "7. Subscription" %}</p>   
            </div>
            
            <table width="100%" border="0" cellspacing="0" cellpadding="5" style="padding-left:30px;padding-bottom:20px;" >
              
              <tr>
                <td>               
            		<div class="acc_setting_center_contain">
                        <div style="width:200px; float:left;margin-top:20px;">   
                            <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:20px; " for="Current Profile">{{ user|capfirst }}'s {% trans "Subscription" %}: {{ user_subscription|capfirst }}</label>
                        </div>
                       
                        <div style="width:300px;float:left; margin-top:20px;margin-left:50px;">   
                            
                            <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:18px; " for="profile text">{% trans "Previous Orders" %}: </label>		
                
                            <div style="float:left;margin-top:5px;">
			      {% for order in user_orders|slice:":3" %}
			      <p><a href="{{ order.get_absolute_url }}">{{ order }}</a> {{ order.title }} {{ order.status|order_status }} {{ order.date|date }}</p>
			      {% endfor %}
                            </div>
			</div>
                        
                        <div style="width:207px; float:right; margin-top:21px;margin-right:4px;">                       
                            <p>{% trans "See" %} <a href="{% url subscription_personal %}">{% trans "all orders" %}</a> </p>
                        </div>
                       </div>
          		</td>
              </tr>
           	 </table> 	
                                
             <div id="box_title_tab_nohover">
                 <p class="title_tab_text">{% trans "8. Google Apps Settings" %}</p>   
             </div>
         
             <table width="100%" border="0" cellspacing="0" cellpadding="5" style="padding-left:30px;padding-bottom:20px;" >
                 <tr>
                     <td>               
                         <form method="post" name="AppsDomainForm" action="{% url acct_apps_domain_change %}">
                             <div class="acc_setting_center_contain" style="margin-top:15px;">
                                 <div style="width: 200px; float: left; margin-top: 20px;">   
                                     {{ apps_domain_change_form.use_apps_calendar }}
                                     <label for="id_use_apps_calendar" style="font: bolder 11px Arial,Helvetica,sans-serif; color: rgb(97, 97, 97); margin-top: 20px;">{% trans "Use my Google Apps calendar for exporting events" %}</label>
                                 </div>
                                 <div style="width:230px; float:left; margin-left:100px; margin-top:15px;">   
                                     {{ apps_domain_change_form.errors }}
                                     <label style="font:12px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:20px;">{% trans "Google Apps Domain" %}:</label>
                                     {{ apps_domain_change_form.apps_domain }}
                                 </div>            
                                 <div style="float:right; margin-top:15px;">                       
                                     <a href="#" onclick="$('form[name=AppsDomainForm]').submit();return false;">
                                         <input type="button" name="" value="{% trans "Save changes" %}" class="buttonGreen" />
                                     </a>        	
                                 </div>
                             </div>
                         </form>
                     </td>
                 </tr>
             </table> 	

             <div id="box_title_tab_nohover">
                 <p class="title_tab_text">{% trans "9. Change Dashboard Logo" %}</p>
             </div>

             <table width="100%" border="0" cellspacing="0" cellpadding="5" style="padding-left:30px;padding-bottom:20px;" >
                 <tr>
                     <td>               
                         <div class="acc_setting_center_contain">
                            <div style="width:200px; float:left;margin-top:20px;">
                                {% if user_theme %}
                                <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:18px; " for="profile text">{% trans "Current Logo" %}:</label>
                                <br />
                                <img src="{{ user_theme.logo_url }}" height="32px" alt="{% trans "Dashboard Logo" %}" />
                                {% endif %}
                            </div>

                            <div style="float:left; margin-top:20px;margin-left:50px;">
                                <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:18px;display:block; " for="profile text">{% trans "Select Logo" %}:</label>
                                <div style="float:left;margin-top:5px;">
                                    <form method="post" name="userthemeForm" enctype="multipart/form-data" action="{% url acct_usertheme_change %}">
				      {{ usertheme_change_form.non_field_errors }}
                                        {{ usertheme_change_form.errors.logo }}
					{{ usertheme_change_form.logo }}
                                    </form>
                                </div>
                            </div>
                            <div style="float:right; margin-top:21px;">
                                <a href="#" onclick="$('form[name=userthemeForm]').submit();return false;">
                                    <input type="button" value="{% trans "Save changes" %}" class="buttonGreen" />
                                </a>
                            </div>
                        </div>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         {{ usertheme_change_form.logo.help_text }}
                     </td>
                 </tr>
             </table> 	

             <div id="box_title_tab_nohover">
                 <p class="title_tab_text">{% trans "10. Change Conference Logo" %}</p>
             </div>

             <table width="100%" border="0" cellspacing="0" cellpadding="5" style="padding-left:30px;padding-bottom:20px;" >
                 <tr>
                     <td>               
                         <div class="acc_setting_center_contain">
                             <div style="width:200px; float:left;margin-top:20px;">
                                 {% if user_theme %}
                                 <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:18px;display:block; " for="profile text">{% trans "Current Logo" %}:</label>
                                 <br />
                                 <img src="{{ user_theme.conference_logo_url }}" height="32px" alt="{% trans "Conference Logo" %}" />
                                 {% endif %}
                             </div>

                             <div style="float:left; margin-top:20px;margin-left:50px;">
                                 <label style="font:11px Arial, Helvetica, sans-serif; color:#616161; font-weight:bolder; margin-top:18px; display:block;" for="profile text">{% trans "Select Logo" %}:</label>
                                 <div style="float:left;margin-top:5px;">
                                     <form method="post" name="confthemeForm" enctype="multipart/form-data" action="{% url acct_usertheme_change %}">
				      {{ usertheme_change_form.non_field_errors }}
                                         {{ usertheme_change_form.conference_logo.errors }}
                                         {{ usertheme_change_form.conference_logo }}
                                     </form>
                                 </div>
                             </div>
                             <div style="float:right; margin-top:21px;">
                                 <a href="#" onclick="$('form[name=confthemeForm]').submit();return false;">
                                     <input type="button" value="{% trans "Save changes" %}" class="buttonGreen" />
                                 </a>
                             </div>
                         </div>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         {{ usertheme_change_form.conference_logo.help_text }}
                     </td>
                 </tr>
             </table> 	

             <div id="box_title_tab_nohover">
                         <div class="acc_setting_center_contain">
                 <p class="title_tab_text">{% trans "11. Cancel the account" %}</p>
</div>
             </div>
              <table>
                <td>
                <p style="color: #616161; font: bolder 11px Arial,Helvetica,sans-serif; margin-top: 20px; margin-left: 20px;">To cancel the account,<a href ="{% url cancel_contact %}"> click here</a></p>   
                                 </td>
              </table> 
	
   		<div id="bottom_contain">	</div>		   
    </div>	
	
  </div>
{% endblock %}


{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
<script type="text/javascript">
function removeEmailAddress(email) {
  var form = "form[name=emailRemove]";
  $(form).children("input[name=action]").val("remove");
  $(form).children("input[name=email]").val(email);
  $(form).submit();
}
</script>   
{% endblock %}
