{% extends "email_templates/base.html" %}
{% load i18n %}

{% block content %}
<div id="left_panel" align="left" style="width:100%; float:left; display:block;">
  <div class="txt" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#595959;line-height:15px;">
    <p>{% blocktrans %}Dear {{ username }},{% endblocktrans %}</p>
    <p>{% blocktrans %}Your account will be cancelled.{% endblocktrans %}</p>
    <p>{% blocktrans %}Thank you for using our product.{% endblocktrans %}</p>
    <p>
      {% blocktrans %}We'd be grateful if you leave feedback at http://feedback.netconference.com
      and help us improve.{% endblocktrans %}
    </p>
    <p>{% blocktrans %}Of course, you are free to contact us at http://www.netconference.com/contact anytime.{% endblocktrans %}</p>
    <p>{% blocktrans %}You will not receive any further communication from us, but we do hope you come back soon.{% endblocktrans %}</p>
    <br />
    <p>{% blocktrans %}Thanks,{% endblocktrans %}</p>
    <p>{% blocktrans %}Team Netconference.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}

