{% extends "newer_base.html" %}
  	{% block content %}
    <div id="contentpage">
    <div id="landing_signup">
        <h1>Try it now – <span>FREE</span> for 30 days!</h1>
        <h5>No credit card required.</h5><br />
        <p class="icon1"><h6>Sign Up Now for FREE Using Your Social Media Account:</h6></p>
        <p class="line_devider2"></p><br />
        <p><button class="facebook_btn" id="social_facebook">Facebook</button>
        <button class="linkedin_btn" id="social_linkedin">LinkedIn</button>
        <button class="twitter_btn" id="social_twitter">Twitter</button>
        <button class="google_btn" id="id_google">Google</button></p>
        <h2>or </h2>
        <p class="icon2"><h6>Create An Account Using Your E-mail Here:</h6></p>
        <p class="line_devider2"></p><br />
		<form method="post" action=".">
            <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
                {% if form.non_field_errors %}
                    <tr>
                            <td>{{form.non_field_errors}}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        {% if form.name.errors %}{{form.name.errors}}{% endif %}
                    </td>
                    <td>
                        {% if form.username.errors %}{{form.username.errors}}{% endif %}
                    </td>
                    <td>
                        {% if form.email.errors %}{{form.email.errors}}{% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label>Name:</label></td>
                    <td><label>User Name:</label></td>
                    <td><label>E-mail:</label></td>
                </tr>
                <tr>
                    <td>{{form.name}}</td>
                    <td>{{form.username}}</td>
                    <td>{{form.email}}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        {% if form.password1.errors %}{{form.password1.errors}}{% endif %}
                    </td>
                    <td>
                        {% if form.password2.errors %}{{form.password2.errors}}{% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label>Password:</label></td>
                    <td><label>Confirm Password:</label></td>
                    <td rowspan="2" valign="top" class="privacy" style="padding-left:25px;"><img src="{{MEDIA_URL}}images/lock_purple.png" width="31" height="41" alt="" /> <br />
          We respect your privacy<br />
    and will keep your personal<br />
    information confidential as stated in<br />
    our <a href="{% url privacy %}">Privacy Policy</a>.</td>
                </tr>
                <tr>
                    <td valign="top">{{form.password1}}</td>
                    <td valign="top">{{form.password2}}</td>
                </tr>
            </table>
            <div class="login_setting_form" style="display: block; padding-top:25px;">
                <ul class="login_filter">
                    <li>
                        <p style="margin-bottom:15px;" class="abc">
                            <input type="checkbox" id="column1" checked="checked" style="margin-top:5px;">
                            <label class="login_type_checked" id="keep_informed">Keep me informed about NetConference.
                            </label>
                        </p>
                    </li><span style="margin-bottom:25px;"></span>
                    <li>
                        <p style="margin-bottom:15px;">
                            <input type="checkbox" name="columns" id="column1" value="inform" style="margin-top:5px;">
                            <label class="login_type_uncheck bold" id="agree_terms">I agree to the <a href="{% url terms %}">Terms of Service</a>. (required.)
                            </label><br>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <button class="bigbuttonGreen">Create My Account</button>
        </form>
    </div>
    <div class="clear"></div>
    </div>
    {% endblock %}
    {% block extrafooterscript %}
        <script>
            $(document).ready(function(){
                $("#id_name").removeClass("textinput");
                $("#id_name").addClass("inputtext");
                $("#id_username").removeClass("textinput");
                $("#id_username").addClass("inputtext");
                $("#id_email").removeClass("textinput");
                $("#id_email").addClass("inputtext");
                $("#id_password1").removeClass("textinput");
                $("#id_password1").addClass("inputtext");
                $("#id_password2").removeClass("textinput");
                $("#id_password2").addClass("inputtext");

                $("#social_linkedin").click(function(){
                    window.location = '{% url socialauth_linkedin_login %}';
                });
                $("#social_facebook").click(function(){
                    window.location = '{% url socialauth_facebook_login %}';
                });
                $("#social_twitter").click(function(){
                    window.location = '{% url socialauth_twitter_login %}';
                });
                $("#social_google").click(function(){
                    window.location = '{% url socialauth_google_login %}';
                });
            });
            $(document).ready(function(){
                $("#keep_informed").click(function(){
                    if($(this).hasClass('login_type_checked'))
                    {
                        $(this).removeClass('login_type_checked');
                        $(this).addClass('login_type_uncheck');
                        //$('#column1').attr('checked', false);
                        $(this).parent().find('input').attr('checked', false);
                    }
                    else
                    {
                        $(this).removeClass('login_type_uncheck');
                        $(this).addClass('login_type_checked');
                        $(this).parent().find('input').attr('checked', true);
                        //$('#column1').attr('checked', true);
                    }
                });
                $("#agree_terms").click(function(){
                    if($(this).hasClass('login_type_checked'))
                    {
                        $(this).removeClass('login_type_checked');
                        $(this).addClass('login_type_uncheck');
                        //$('#column1').attr('checked', false);
                        $(this).parent().find('input').attr('checked', false);
                    }
                    else
                    {
                        $(this).removeClass('login_type_uncheck');
                        $(this).addClass('login_type_checked');
                        $(this).parent().find('input').attr('checked', true);
                        //$('#column1').attr('checked', true);
                    }
                });
            });
        </script>
    {% endblock %}
