{% extends "newer_base.html" %}

{% load i18n %}

{% block head_title %}
{% trans "Login" %}
{% endblock %}

{% block content %}

  <!--CONTENT STARTS -->
  <div id="login_page">
	{% if user.is_authenticated %}
        <p class="error" class="form_note"><img src="{{ MEDIA_URL }}img/silk/exclamation.png" border="0" /> &nbsp;<span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}</p>
    {% endif %}
    <div class="leftpanel">
      <div class="top"></div>
      <div class="mid">
        <h1 class="purple_text">{% trans "LOG IN" %}</h1>
		<form class="login uniForm" method="POST" action="">
        <p style="padding-top:10px;">Log in using your NetConference account.</p>
	<br/>
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
        {% if form.errors %}
			{{ form.non_field_errors }}
		{% endif %}
          <tr>
            <td>{{ form.username.label }} :</td>
			<td>
				{% if form.password.errors  %}
					{{ form.username.errors }}
				{% endif %}
				{{ form.username }}
			</td>
          </tr>
	  
          <tr>
            <td style="padding-top:15px;">{{ form.password.label }} :</td>
            <td style="padding-top:15px;">
            	{% if form.password.errors  %}
				{{ form.password.errors }}
				{% endif %}
            	{{ form.password }}
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
                {% comment %}
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="30" rowspan="2" valign="top" class="bold">
                  	{{ form.remember }}
				  </td>
                <td >
                    <label for="id_remember" class="bold">{% trans "Remember Me?" %}</label>
                </td>
                </tr>
                <tr>
                  <td ><span class="lightgrey">{% trans "If checked you will stay logged in for 3 weeks" %}</span></td>
                </tr>
                <tr>
                	<td>&nbsp;</td>
                </tr>
                </table>
                {% endcomment %}
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
                                <tr>
								<td width="30" valign="top" class="bold" style="padding-top:22px;">
                                	<div class="login_setting_form" style="display: block;">
										<ul class="login_filter">
											<li><p>
                                                <input type="checkbox" id="id_remember" checked="checked">
											<label class="login_type_checked bold" for="id_remember">Remember Me?</label><br></p></li>
										</ul>
                                        <span class="lightgrey" style="padding-left: 25px;">If checked you will stay logged in for 3 weeks</span>
									</div><div class="clear"></div>
                                </td>
                                </tr>
							<tr>
                            	<td>&nbsp;</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
							</tr>
							</tbody>
						</table>
            </td>
          </tr>
          <tr>
            <td colspan="2"  style="padding-top:25px;">
                <input type="hidden" value="{{ next }}" />
                <input type="submit" class="create_project" id="buttonCreateProject" value="{% trans "Log In" %}" style="float:right;" />
            </td>
          </tr>
		  <tr>           
            <td colspan="2">&nbsp;</td>
          </tr>
		   <tr>           
            <td colspan="2"><a href="{% url acct_passwd_reset %}" class="purple_text" style="float:right; margin:0px 10px 10px 0px;">{% trans "Forgot Password?" %}</a></td>
          </tr>
          <tr>           
            <td colspan="2"><a href="{% url subscription_list %}" class="purple_text" style="float:right; margin:0px 10px 30px 0px;">{% trans "Create Account" %}</a></td>
          </tr>
          <tr>
          	<td colspan="2">
            	<div><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></div>
            </td>
          </tr>
        </table>
		</form>
       <p style="padding-bottom:10px;">Or log in using an existing account.</p>
       <button class="nc_facebook" id="social_facebook">Facebook</button>
       <button class="nc_linkedin" id="social_linkedin">LinkedIn</button>
       <button class="nc_twitter" id="social_twitter">Twitter</button>
       <button class="nc_google" id="social_google">Google</button>
       
</div>
      <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="{{ MEDIA_URL }}new/images/hello_message.gif" alt="{% trans "Your Office In The Cloud" %}" /></div>
    <div class="clear"></div>
  </div>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <!--CONTENT ENDS --> 


{% endblock %}
{% block extrafooterscript %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#social_linkedin").click(function(){
            window.location = '{% url socialauth_linkedin_login %}';
        });
        $("#social_facebook").click(function(){
            window.location = '{% url socialauth_facebook_login %}';
        });
        $("#social_twitter").click(function(){
            window.location = '{% url socialauth_twitter_login %}';
        });
        $("#social_google").click(function(){
            window.location = '{% url socialauth_google_login %}';
        });
    });

    $(document).ready(function(){
        $(".login_filter label").click(function(){
            if($(this).hasClass('login_type_checked'))
            {
                $(this).removeClass('login_type_checked');
                $(this).addClass('login_type_uncheck');
                $(this).parent().find('input').trigger('change');
            }
            else
            {
                $(this).removeClass('login_type_uncheck');
                $(this).addClass('login_type_checked');
                $(this).parent().find('input').trigger('change');
            }
        });
    });
    </script>
{% endblock %}
