{% extends "new_base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "Welcome to NetConference: Your Office in the Cloud" %}
{% endblock %}

{% block content %}
<br /><br />
<h1 class="title">{% blocktrans %}Thank you for signing up for NetConference.{% endblocktrans %}</h1><br />
<h3>{% blocktrans %}We value your opinion and are continually working to bring you many new features, functionalities and tools.{% endblocktrans %}</h3>
<h3>{% blocktrans %}Please let us know what you think could be improved and we will work to make this product serve all of your needs on the Cloud.{% endblocktrans %}</h3>
<h3 style="float:right;">Regards<br />Team NC</h3>
<a href="http://feedback.netconference.com/" target="_blank" class="feedback_btn"><p>{% trans "Feedback" %}</p></a>
<img src="https://shareasale.com/sale.cfm?amount={{ amount }}&tracking={{ request.user.id }}&transtype=lead&merchantID={{ SHAREASALE_MERCHANT_ID }}" width="1" height="1" />
{% endblock %}

{% block extrafooterscript %}
{% if not DEBUG %}
<!-- Google Code for Purchase/Sale Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1071975067;
var google_conversion_language = "en";
var google_conversion_format = "1";
var google_conversion_color = "666666";
var google_conversion_label = "purchase";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1071975067/?label=purchase&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<script type="text/javascript">
$(document).ready(function() { 
  setTimeout(function() { window.location="{% url acct_settings %}"; }, 5000);
});
</script>
{% endif %}
{% endblock %}
