{% extends "new_base.html" %}

{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}tribes/css/tribes.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
<script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
		<li><a href="{% url conferencing %}">{% trans "conferences" %}</a></li>
		<li><a href="{% url my_files %}">{% trans "files" %}</a></li>
		<li><a href="{% url vmail_compose %}">{% trans "messages" %}</a></li>
		<li><a href="{% url invitations_contacts %}">{% trans "contacts" %}</a></li>
		<li><a href="{% url tribe_list %}" id="nav_select">{% trans "workgroups" %}</a></li>
	{% else %}
	    <li><a href="{% url about %}">{% trans "what's netconference?" %}</a>
	    <li><a href="{% url features_home %}">{% trans "features" %}</a>
	    <li><a href="{% url subscription_list %}" class="signup_link" rel="#signup_note">{% trans "pricing" %}</a>
	    <li><a href="{% url acct_signup %}" class="signup_link" rel="#signup_note">{% trans "get started" %}</a>
	{% endif %}
{% endblock %}


{% block submenu %}
<div id="submenu_container">
{% block subnav %}
     <ul class="subnav">
        {% if user.is_authenticated %}
                <li class="current"><a href="{% url tribe_list %}">{% trans "All Activity Groups" %}</a></li>
            {% ifequal user_subscription.subscription.name "Basic Account" %}
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Your Activity Groups" %}</a></li>
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Create an Activity Group" %}</a></li>
    		{% else %}
    		    {% if user_subscription %}
    		    <li><a href="{% url your_tribes %} ">{% trans "Your Activity Groups" %}</a></li>
                <li><a href="{% url tribe_create %}">{% trans "Create an Activity Group" %}</a></li>
    		    {% else %}
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Your Activity Groups" %}</a></li>
                <li><a href=""class="modalInput" rel="#upgrade_notice">{% trans "Create an Activity Group" %}</a></li>
    		    {% endif %}
    		{% endifequal %}
        {% endif %}
    </ul>
{% endblock %}
</div>
{% endblock %}

{% block content %}
<ul id="messages">
  {% for message in messages %}
    <li>{{ message }}<a href="#" class="buttonGreenSmall message-close" style="margin-bottom:15px;float:right;line-height:25px;text-decoration:none;text-align:center;" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;">{% trans "clear" %}</a></li>
  {% endfor %}
</ul>
    {% block body %}
    {% endblock %}
{% endblock %}
