{% extends "tribes/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load tribes_tags %}

{% block head_title %}{% blocktrans %}Create an Activity Group{% endblocktrans %}{% endblock %}

{% block subnav %}
     <ul class="subnav">
        {% if user.is_authenticated %}
            <li><a href="{% url tribe_list %}">{% trans "All Activity Groups" %}</a></li>
            {% ifequal user_subscription.subscription.name "Basic Account" %}
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Your Activity Groups" %}</a></li>
    		    <li class="current"><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Create an Activity Group" %}</a></li>
    		{% else %}
    		    {% if user_subscription %}
    		    <li><a href="{% url your_tribes %} ">{% trans "Your Activity Groups" %}</a></li>
                <li class="current"><a href="{% url tribe_create %}">{% trans "Create an Activity Group" %}</a></li>
    		    {% else %}
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Your Activity Groups" %}</a></li>
                <li class="current"><a href=""class="modalInput" rel="#upgrade_notice">{% trans "Create an Activity Group" %}</a></li>
    		    {% endif %}
    		{% endifequal %}
        {% endif %}
    </ul>
{% endblock %}

{% block body %}

<style>
    #id_name, #id_slug, #id_description { width: 490px; display: block; clear: left; }
    #hint_id_slug { clear: left; display: block; text-align: left; width: 100%; margin-left:0; float:left; }
    .ctrlHolder { margin: 25px 0px; }
</style>

<div id="login_page">
    <div class="leftpanel">
        <div class="top"></div>
        <div class="mid">

            <h1 class="purple_text">{% trans "Create an Activity Group" %}</h1>

            {% if user.is_authenticated %}
            {% ifequal user_subscription.subscription.name "Basic Account" %}
            <div class="uniForm_faux">
                <div style="border: 1px solid #aaa;background:white;padding:10px;">
                    <p>To access this feature, you need to upgrade your subscription.</p>
                    <p>A subscribed account has many advantages, such as Video Guests, Personal Media uploads, up to 50 concurrent viewers, Activity Group access, and extended Messaging privileges.</p>
                    <p><a href="{% url subscription_list %}">Click here to upgrade your account!</a></p>
                </div>
            </div>
            {% else %}
            {% if user_subscription %}
            <form class="uniForm" id="tribe_form" method="POST" action="">
                <fieldset class="inlineLabels">
                    <br />
                    <p>{% trans "An <b>Activity Group</b> is a group of people with some common interest." %}</p>
                    {{ tribe_form|as_uni_form }}
                    <div class="form_block" style="margin-left: 12px;">
                        <input type="hidden" name="action" value="create" />
                        <br />
                        <input type="submit" value="Create Activity Group" class="buttonGreenMedium" style="float:left;" />
                        <!--<button type="submit"><img src="{{ MEDIA_URL }}img/silk/group_add.png" border="0" /> {% trans 'Create Workgroup' %}</button>-->
                    </div>
                </fieldset>
            </form>
            {% else %}
            <div class="uniForm_faux">
                <div style="border: 1px solid #aaa;background:white;padding:10px;">
                    <p>To access this feature, you need to upgrade your subscription.</p>
                    <p>A subscribed account has many advantages, such as Video Guests, Personal Media uploads, up to 50 concurrent viewers, Activity Group access, and extended Messaging privileges.</p>
                    <p><a href="{% url subscription_list %}">Click here to upgrade your account!</a></p>
                </div>
            </div>
            {% endif %}
            {% endifequal %}

            {% else %}
            {% url acct_signup as signup_url %}
            {% url acct_login as login_url %}
            <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own Activity Group or join an existing one.{% endblocktrans %}</p>
            {% endif %}
        </div>
        <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="/site_media/new/images/people_working.png"  alt="Your Office In The Cloud"></div>
    <div class="clear"></div>
</div>

{% endblock %}
