{% extends "tribes/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load tribes_tags %}
{% load sort_tags %}

{% block head_title %}{% blocktrans %}Activity Group{% endblocktrans %}{% endblock %}

{% block submenu %}
<div id="submenu_container">
     <ul class="subnav">
        {% if user.is_authenticated %}
                <li class="current"><a href="{% url tribe_list %}">{% trans "All Activity Groups" %}</a></li>
            {% ifequal user_subscription.subscription.name "Basic Account" %}
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Your Activity Groups" %}</a></li>
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Create an Activity Group" %}</a></li>
    		{% else %}
    		    {% if user_subscription %}
    		    <li><a href="{% url your_tribes %} ">{% trans "Your Activity Groups" %}</a></li>
                <li><a href="{% url tribe_create %}">{% trans "Create an Activity Group" %}</a></li>
    		    {% else %}
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Your Activity Groups" %}</a></li>
                <li><a href=""class="modalInput" rel="#upgrade_notice">{% trans "Create an Activity Group" %}</a></li>
    		    {% endif %}
    		{% endifequal %}
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block body %}
<div id="login_page">
    <div class="leftpanel">
        <div class="top"></div>
        <div class="mid">
            <h1 class="purple_text">{% trans "Activity Groups" %}</h1>

            <p>{% trans "An <strong>activity group</strong> is a way to collaborate with business relationships on a particular topic." %}</p>
            {% if user.is_authenticated %}

            {% ifequal user_subscription.subscription.name "Basic Account" %}
            <p><a href="" class="modalInput button" rel="#upgrade_notice"><img src="{{ MEDIA_URL }}img/silk/group_go.png" border="0" />Create Activity Group</a></p>
            {% else %}
            {% if user_subscription %}
            <!--<p><a href="{% url tribe_create %}" class="buttonGreenMedium">Create an Activity Group</a></p>-->
            <p style="float:left;">
            <a href="{% url tribe_create %}" style="text-decoration:none;color:white;line-height:34px; text-align:center;" class="buttonGreenMedium">Create Activity Group</a>
            </p>
            <div class="clear"></div>
            {% else %}
            <p><a href="" class="modalInput button" rel="#upgrade_notice"><img src="{{ MEDIA_URL }}img/silk/group_go.png" border="0" />Create Activity Group</a></p>
            {% endif %}
            {% endifequal %}

            {% else %}
            {% url acct_signup as signup_url %}
            {% url acct_login as login_url %}
            <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own activity group or join an existing one.{% endblocktrans %}</p>
            {% endif %}
            <hr style="visibility:hidden;" />
            <form method="GET" action="">
                <table cellspacing="0">
                    <tr>
                        <td>
                            <input type="text" name="search" value="{{ search_terms }}" style="width:200px;" />
                        </td>
                        <td>
                            <input type="submit" value="Search" class="buttonGreenSmall" style="margin-left: 10px;"/>
                        </td>
                    </tr>
                </table>
                {% if search_terms %}
                <a href="{% clear_search_url request %}">{% trans "Clear Search Terms" %}</a>
                {% endif %}
            </form>
            <hr style="visibility:hidden;" />
	    {% with object_list as tribes %}
            {% autopaginate tribes 10 %}
            <div>
                <span class="purple_heads">{% trans "Order by:" %}</span>
		{% sort_link "Topics" "topic_count" %}
		{% sort_link "Members" "member_count" %}
		{% sort_link "Name" "name" %}
		{% sort_link "Date" "created" %}
            </div>
            <div class="clear"></div>
            <br />
            <div>
	      {% if tribes.count %}
                {% for tribe in tribes %}
                {% show_tribe tribe %}
                {% endfor %}
	      {% else %}
	      <h3 class="errorlist">{% trans "No activity group found." %}</h3>
	      {% endif %}
            </div>
            <div class="pagination_new" style=" margin:0px auto; margin-top:20px; text-align:center;">{% paginate %}</div>
	    {% endwith %}
        </div>
        <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="/site_media/new/images/people_working.png"  alt="Your Office In The Cloud"></div>
    <div class="clear"></div>
</div>

{% endblock %}

{% block extrafooterscript %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() { 
    $(".purple_heads").siblings("a").addClass("sortbutton");
    {% if active %}
    var active = "{{ active }}";
    if (active) { 
      $(".purple_heads").siblings("a").each(function(i, k) { 
        if ($(k).attr("href").match(new RegExp(active[0]=="-"?active.slice(1):active))) {
          $(this).addClass("active");
        }
      });
    }
    {% endif %}
  });
</script>
{% endblock %}
