{% load i18n %}
{% load extra_tagging_tags %}

{% comment %}

<dt>{{ tribe.name }} (<a href="{{ tribe.get_absolute_url }}">{{ tribe.slug }}</a>)</dt>
<dd>{{ tribe.description }}
    <div class="tribe_stats">
        {% trans "Members:" %} <b>{{ tribe.member_count }}</b>
        <br />
        {% trans "Topics:" %} <b>{{ tribe.topic_count }}</b>
        <br />
        {# {% show_tags_for tribe %} #} {# @@@ #}
    </div>
</dd>


{% endcomment %}

<div class="group_border">
    <span class="purple_headsmall">
        <a href="{{ tribe.get_absolute_url }}">
            {{ tribe.name }}
        </a>
    </span>
    <br/>
    <p style="word-break:break-word;white-space:normal;">{{ tribe.description }}</p>
    <b>{% trans "Members:" %} {{ tribe.member_count }}</b>
    <b>{% trans "Topics:" %} {{ tribe.topic_count }}</b>
</div>
