{% extends "tribes/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load wiki_tags %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load tribes_tags %}
{% load group_tags %}
{% load topics_tags %}

{% block head_title %}{{ tribe.name }}{% endblock %}

{% block extra_css_post %}
<style type="text/css" media="screen">
  label { display: block; margin-top: 10px; margin-left: 4px; }
</style>
{% endblock %}


{% block body %}

<div id="login_page">
    <div class="leftpanel">
        <div class="top"></div>
        <div class="mid">

            <h1 class="purple_text">{{ tribe.name }}</h1>

            <p>
            {% trans "Slug:" %} <tt>{{ tribe.slug }}</tt><br />
            {% trans "Creator:" %} <a href="{% url user_dashboard tribe.creator.username %}">{{ tribe.creator }}</a><br />
            {% trans "Created:" %} {{ tribe.created|date }}
            <br />
            </p>
	    <p>{% trans "Description" %}:</p>
            <p style="word-break:break-word;white-space:normal;">{{ tribe.description }}</p>

            {% ifequal user tribe.creator %}
            <input type="button" class="buttonGreenMedium" value="Edit Details" id="edit-tribe-toggle" style="float:left;"/>
	    <a href="{% url tribe_delete tribe.slug %}" class="buttonGreenMedium" style="float:left;text-align:center;text-decoration:none;line-height:35px;">{% trans "Delete Activity Group" %}</a>
            <div class="form-toggle" style="clear:both;margin-top:30px;display:block;">
                <form class="uniForm" id="edit-tribe" method="POST" action="">
                    <fieldset class="inlineLabels">
                        {{ tribe_form|as_uni_form }}
                        <div class="form_block">
                            <input type="hidden" name="action" value="update" />
                            <button type="submit" class="buttonGreenMedium" style="float:left;"> {% trans 'Update Activity Group' %}</button>
                        </div>
                    </fieldset>
                </form>
            </div>

            {% endifequal %}

            {% if user.is_authenticated %}
            <div>
                <form method="POST" action="">
                    {% if is_member %}
                    {% ifequal user tribe.creator %}
                    {% else %}
                    <input type="hidden" name="action" value="leave" />
                    <button type="submit" class="buttonGreenMedium"> {% trans 'Leave Activity Group' %}</button>
                    {% endifequal %}
                    {% else %}
                    {% ifequal user_subscription.subscription.name "Basic Account" %}
                    <a href="" class="modalInput button" rel="#upgrade_notice" style="text-decoration:none;color:white;line-height:34px; text-align:center;float:left;" class="buttonGreenMedium" > {% trans 'Join Activity Group' %}</a>
                    {% else %}
                    {% if user_subscription %}
                    <input type="hidden" name="action" value="join" />
                    <button type="submit" class="buttonGreenMedium" style="float:left;">{% trans 'Join Activity Group' %}</button>
                    {% else %}
                    <a href="" class="modalInput buttonGreenMedium" rel="#upgrade_notice" style="text-align:center;text-decoration:none;color:white;line-height:34px;float:left;">{% trans 'Join Activity Group' %}</a>
                    {% endif %}
                    {% endifequal %}
                    {% endif %}
                </form>
            </div>
            {% else %}
            {% url acct_signup as signup_url %}
            {% url acct_login as login_url %}
            <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to join this Activity Group.{% endblocktrans %}</p>
            {% endif %}

            <hr style="visibility:hidden;" />

            {% if user.is_authenticated %}

            <div class="clear"></div>
            <div class="group_border">
                <h1 class="purple_tiles">{% trans "Members" %}</h1>
               
                {% for member in tribe.members.all %}
                {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                    <li>
                    <div class="avatar">{% avatar member 40 %}</div>
                    <div class="details"><a href="{% url user_dashboard member.username %}" title="{{ member.username }}">{{ member.username }}</a></div>
                    </li>
		    
                    {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                {% endfor %}

                <div style="clear:both;"></div>
            </div>
 <div style="clear:both;"></div>

            {% comment %}
            
            <h1 class="items_list_top sidebar_title" style="width:256px;margin-left:0px;float:right;">{% trans "Members" %}</h1>
            <ul class="friends" style="float:right;clear:right;">
                {% for member in tribe.members.all %}
                {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                    <li>
                    <div class="avatar">{% avatar member 40 %}</div>
                    <div class="details"><a href="{% url user_dashboard member.username %}" title="{{ member.username }}">{{ member.username }}</a></div>
                    </li>
                    {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                {% endfor %}
            </ul>
            {% endcomment %}
            {% endif %}

            {% if user.is_authenticated %}
            <div class="group_border">
                <h1 class="purple_tiles">{% trans "Discussion Topics" %}{% if tribe.topics.all.count %} ({{ tribe.topics.all.count }}){% endif %}</h1>

                {% get_topics_for_group tribe as topic_queryset %}
                {% with topic_queryset|slice:":5" as topics %}
                {% if topics %}
                {% for topic in topics|slice:":5" %}
                {% show_topic topic %}
                {% endfor %}
                <p style="margin-top:1em;text-align:center;font-size:18px;"><a href="{% groupurl topic_list tribe %}">{% trans "More" %} &raquo;</a></p>
                {% else %}
                {% groupurl topic_list tribe as new_topic_url %}
                <p style="margin-top:1em;text-align:center;">{% blocktrans %}None yet. <a href="{{ new_topic_url }}">Start one...</a>{% endblocktrans %}</p>
                {% endif %}
                {% endwith %}

                <div style="clear:both;"></div>
            </div>

            {% content_objects tribe "wiki.Article" as articles %}

            {% if articles %}
            <div class="group_border">
                <h1 class="purple_text" style="margin-left:0;">{% trans "Wiki Articles" %}{% if articles %} ({{ articles|length }}){% endif %}</h1>
                <div style="background:white;padding:10px;">
                    <table class="topics">
                        {% for article in articles %}
                        {% show_teaser article %}
                        {% endfor %}
                    </table>
                </div>
                <p style="margin-top:1em;text-align:center;font-size:18px;"><a href="{% groupurl wiki_list tribe %}">{% trans "More" %} &raquo;</a></p>
                <div style="clear:both;"></div>
            </div>
            {% else %}
            <div class="uniForm_faux" style="margin-left:0;">
                <div style="background:white;padding:10px;">
                    {% groupurl wiki_list tribe as wiki_url %}
                    <p style="margin-top:1em;text-align:center;">{% blocktrans %}None yet. Go to the <a href="{{ wiki_url }}" title="wiki">wiki</a> to start a new article.{% endblocktrans %}
                    </p>
                </div>
            </div>
            {% endif %}

            {% endif %}
        </div>
        <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="/site_media/new/images/people_working.png" alt="Your Office In The Cloud"></div>
    <div class="clear"></div>
</div>

{% endblock %}


{% block extrafooterscript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit-tribe').hide();
            $('#edit-tribe-toggle').click(function() {
                $('#edit-tribe').toggle();
                $('#edit-tribe').autoscroll();
                return false;
            });
            if ($('#edit-tribe .error').length) {
                $('#edit-tribe').show();
                $('#edit-tribe .error').autoscroll();
            }
        });
    </script>
{% endblock %}
