{% extends "tribes/base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "Delete Workgroup" %}
{% endblock %}

{% block extra_css_post %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/uni-form.css" type="text/css" media="screen" />
{% endblock %}

{% block body %}
<br />
<form class="uniForm_faux" action="." method="POST" style="width:100%;margin:0px;">
  <h1 class="uni_form_header">{% trans "Delete Workgroup:" %} {{ tribe }}</h1>
        <p style="text-align:center;">{% trans "Are you sure that you really want to delete" %} <strong>{{ tribe }}?</strong></p>
	<p style="text-align:center;margin-bottom:30px;">
	  <a href="{{ tribe.get_absolute_url }}" class="buttonGreenSmall" style="text-decoration:none;text-align:center;color:white;line-height:25px;float:right;margin-left:15px;">{% trans "Cancel" %}</a>
	  <input type="submit" class="buttonGreenSmall" value="{% trans "Delete" %}" style="float:right;" />
	</p>
</form>
{% endblock %}
