{% extends "tribes/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load tribes_tags %}

{% block head_title %}{% trans "Your Activity Groups" %}{% endblock %}

{% block subnav %}
     <ul class="subnav">
        {% if user.is_authenticated %}
                <li><a href="{% url tribe_list %}">{% trans "All Activity Groups" %}</a></li>
            {% ifequal user_subscription.subscription.name "Basic Account" %}
    		    <li class="current"><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Your Activity Groups" %}</a></li>
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Create an Activity Group" %}</a></li>
    		{% else %}
    		    {% if user_subscription %}
    		    <li class="current"><a href="{% url your_tribes %} ">{% trans "Your Activity Groups" %}</a></li>
                <li><a href="{% url tribe_create %}">{% trans "Create an Activity Group" %}</a></li>
    		    {% else %}
    		    <li class="current"><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Your Activity Groups" %}</a></li>
                <li><a href=""class="modalInput" rel="#upgrade_notice">{% trans "Create an Activity Group" %}</a></li>
    		    {% endif %}
    		{% endifequal %}
        {% endif %}
    </ul>
{% endblock %}

{% block body %}

<style type="text/css">
    p.group_border{border:1px solid #CCC; margin:5px 10px 0px 0px; padding:5px;}
</style>

<div id="login_page">
    <div class="leftpanel">
        <div class="top"></div>
        <div class="mid">
            <h1 class="purple_text">{% trans "Your Activity Groups" %}</h1>

	    {% if tribes.count %}
            <h3>{% trans "These are the Activity Groups you participate in." %}</h3>
            {% autopaginate tribes %}

            <dl>
                {% for tribe in tribes %}
                {% show_tribe tribe %}
                {% endfor %}
            </dl>

            {% paginate %}
	    {% else %}
	    <h3 style="color:red;">{% trans "You don't seem to be participating in any activity groups." %}</h3>
	    {% endif %}
        </div>
        <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="/site_media/new/images/people_working.png"  alt="Your Office In The Cloud"></div>
    <div class="clear"></div>
</div>

{% endblock %}
