{% load i18n %}
{% blocktrans with file.get_absolute_url as file_url %}Your file <a href="{{ file_url }}">{{ file_title }}</a> has received a comment from {% endblocktrans %}<a href="{% url user_dashboard instance.user %}">{{ instance.user.username }}</a>.