<div class="socialfollow">Follow us&nbsp;
    <a href="http://www.facebook.com/netconferenceyourofficeinthecloud" target="_blank"><img src="{{MEDIA_URL}}images/fb_social_icon.png" width="19" height="19" alt="Facebook" style="vertical-align:middle;"></a>
    <a href="https://twitter.com/netconference" target="_blank"><img src="{{MEDIA_URL}}images/twitter_social_icon.png" width="19" height="19" alt="Twitter" style="vertical-align:middle;"></a>
    <a href="http://www.linkedin.com/pub/netconference%C2%AE-your-office-in-the-cloud%C2%AE/51/82/48" target="_blank"><img src="{{MEDIA_URL}}images/linkedin_social_icon.png" width="19" height="19" alt="LinkedIn" style="vertical-align:middle;"></a>
    <a href="https://plus.google.com/108762519558200057811/posts" target="_blank"><img src="{{MEDIA_URL}}images/google_docs.png" width="19" height="19" alt="Google" style="vertical-align:middle;"></a>
</div>
