{% extends "landingpages/landingbase.html" %}
{% load i18n %}
{% block content %}
	<div class="clear"></div>
    <!--CONTENT STARTS-->
  	<div id="landing_page1">
    	<div class="banner7">
        	<h1>Unlimited Online Web Meetings</h1>
            <div class="rightpanel">
            	<form action="." method="post">
                	<fieldset>
                    	<legend>{% trans "Free Account" %}</legend>
                    	{{form.non_field_errors}}
                        <label>{% trans "Name" %}</label>
                        {% if form.name.errors %}
                        <div class="required">{{form.name.errors.0}}</div>
                        {% endif %}
                        {{form.name}}
                        <label>{% trans "User Name" %}</label>
                        {% if form.username.errors %}
                        <div class="required">{{form.username.errors.0}}</div>
                        {% endif %}
                        {{form.username}}
                        <label>{% trans "Password" %}</label>
                        {% if form.password1.errors %}
                        <div class="required">{{form.password1.errors.0}}</div>
                        {% endif %}
                        {{form.password1}}
                        <label>{% trans "Confirm Password" %}</label>
                        {% if form.password2.errors %}
                        <div class="required">{{form.password2.errors.0}}</div>
                        {% endif %}
                        {{form.password2}}
                        <label>{% trans "Email" %}</label>
                        {% if form.email.errors %}
                        <div class="required">{{form.email.errors.0}}</div>
                        {% endif %}
                        {{form.email}}
                        <button class="buttonGreen" type="submit">Try It <span class="yellow">FREE</span></button>
                        <div class="nocredit">No Credit Card<br />&nbsp; Required.</div><br />
                        <p>NetConference protects your <span>privacy</span>.</p>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="clear"></div>
        <div class="contentpart">
        	<div class="leftpanel">
        	 	<h2>Meet Online and Travel Less.</h2>
                Try NetConference<sup>&reg;</sup> Your Office in the Cloud<sup>&reg;</sup> <span class="purple">FREE</span> and see how you can:
                <ul>
                	<li>MultiUser Whiteboard</li>
                    <li>HD Video </li>
                    <li>Screen Share </li>
                    <li>Video Share </li>
                    <li>Files in the Cloud </li>
                </ul>
            </div>
            <div class="rightpanel">
            	<p><span class="purple">Questions?</span><br />Call us toll free: (855)856-8855</p>
                {% include "landingpages/landingsocial.html" %}
            </div>
        </div>
    	<div class="clear"></div>
    </div><!--CONTENT ENDS-->
    <div class="clear"></div>
{% endblock %}
