{% extends "landingpages/landingbase.html" %}
{% block content %}
    <div class="clear"></div>
    <div id="landing_page1">
        <div class="banner">
            <h1>Unlimited Online Web Meetings</h1>
            <h3>MultiUser Whiteboard<br />HD Video<br />Screen Share<br />Video Share<br />Files in the Cloud</h3>
            <a class="buttonGreen" href="{% url landing_signup_new %}">Try It <span class="yellow">FREE</span></a>
            <p>No Credit Card Required.</p>
        </div>
        {% include "landingpages/landingsocial.html" %}
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}
