{% extends "landingpages/landing_page_base.html" %}
    {% block css %}
        <link href="{{MEDIA_URL}}new/css/landing_six.css" rel="stylesheet" type="text/css" />
    {% endblock %}
    {% block content %}
    <div class="new_inner_page">
        <div class="grid">
            <div class="landing6_banner">
                <div class="left"></div>
                <div class="right">
                    <div class="form_title">Save up to 50% over<br/>
                        WebEx® or GoToMeeting®!</div>
                    <div class="form_list">
                    <ul>
                    <li>Video Conferencing</li>
                         <li>Share and Present Anything</li>
                         <li>Attend Conferences
                         <li>From Your Tablet</li>
                         <li>Synchronized HD-Video</li>
                         <li>and much more!</li></div>
                    <form action="#">
                        <table>
                            <tr>
                                <td><label>First Name:</label></td>
                                <td><input type="text" id="firstname" class="textinput"/></td>
                            </tr>
                            <tr>
                                <td><label>Last Name:</label></td>
                                <td><input type="text" id="lastname" class="textinput"/></td>
                            </tr>
                            <tr>
                                <td><label>Email:</label></td>
                                <td><input type="text" id="email" class="textinput"/></td>
                            </tr>
                            <tr>
                                <td><label>Phone Number: </label></td>
                                <td><input type="text" id="phonenumber" class="textinput"/></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="center" class="greytext">NetConference respects your privacy. <br />
                                    No credit card required.</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><button class="trialbut" >Try It <span class="yellow">FREE</span></button></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center" class="greytext">* with one year upfront payment.</td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <!-- CALL TO ACTION BUTTONS -->
        <div class="grid">
            <div class="social_media_6">
            {% include "landingpages/social_icons.html" %}
            </div>
        </div>
        <div class="round_block">
            <div class="title">
                <h2 class="purple">HD Video Web <br/>
                    Conferencing</h2>
            </div>
            <p>Up to 6 participants on video camera may speak live before an audience of thousands. Our simple, intuitive video conferencing system saves travel time and money. <a href="#">Learn More</a></p>
            <p><img src="{{MEDIA_URL}}images/webcam_landing_icon.png" alt="Web Conferencing" width="48"  /></p>
        </div>
        <div class="round_block">
            <div class="title">
                <h2 class="purple">Video E-mail</h2>
            </div>
            <p>Record and send video messages from your webcam. V-Mail allows you to record a message using your webcam, attach a piece of media from your library, and email anyone with a custom video message. </p>
            <p><img src="{{MEDIA_URL}}images/vmail_landing_icon.png"  alt="Video E-mail" /></p>
        </div>
        <div class="round_block">
            <div class="title">
                <h2 class="purple">Large File Upload,<br />
                    Storage and Download</h2>
            </div>
            <p>Safely store your files on the cloud. Send a client large files such as videos, PowerPoint presentations or groups of photos. No hassels, No Rejection!</p>
            <p><img src="{{MEDIA_URL}}images/files_landing_icon.png"  alt="Large File Upload" /></p>
        </div>
        <div class="round_block_last">
            <div class="title">
                <h2 class="purple">High Definition <br />
                    Presentations</h2>
            </div>
            <p>Watch as your participants light up when they see you present shared videos in perfect sync, all in HD quality using our patented Shared Video on 
                Demand system.</p>
            <p><img src="{{MEDIA_URL}}images/hd_landing_icon.png"  alt="HD Video" /></p>
        </div>
        <div class="clear"></div>
    </div>
    <br/>
    <br/>
    {% endblock %}
