{% extends "landingpages/landingbase.html" %}
{% block content %}
	<div class="clear"></div>
  	<div id="landing_page1">
    	<div class="banner2">
        	<h2>Unlimited Online Web Meetings,<br />Now as low as $11.99/month</h2>
            <h3>• MultiUser Whiteboard<br />• HD Video<br />• Screen Share<br />• Video Share<br />• Files in the Cloud</h3>
            <a class="buttonPurple" href="{% url subscription_list %}">Buy Now</a>
            
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}
