<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NetConference</title>
<link href="{{MEDIA_URL}}new/css/reset_net.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% block css %}
{% endblock %}
</head>
<body>
<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->
<div class="grid">
    <!-- HEADER -->
    <div class="header">
        <div class="logo"><a href="{% url home %}"><img src="{{MEDIA_URL}}images/netconf_newlogo.png" width="256" height="63" alt="Net Conference logo" /></a></div>
        {% block login_logout %}
        <!--<div class="support"> {% if user.is_authenticated %}<a href="{% url acct_logout %}">Logout</a>{% else %}<a href="{% url acct_login %}" class="purple">Log in</a>{% endif %} / {% if user.is_authenticated %}<a href="{% url profile_detail user %}">Profile</a>{% else %}<a href="{% url subscription_list %}">Sign up</a>{% endif %}</div>-->
        {% endblock %}
    </div>
    {% block content %}
    {% endblock %}
    <div class="shadow_line"></div>
    <!-- COPYRIGHT -->
    {% block footer %}
    <div class="copyright">
        <div class="left" >
            <div>&copy; 2006-2011 <a href="http://nxtgen.tv/" target="_blank">NxtGen LLC </a>• <span class="bold">Contact 818-598-8400</span> </div>
            <div class="nextgen"><a href="http://nxtgen.tv/"><img src="{{MEDIA_URL}}images/nextgen_logo.png" alt="NxtGenTV" width="87" height="24" /></a> NetConference technology created by <a href="http://www.illusionfactory.com/" target="_blank">The Illusion Factory</a></div>
            <div class="trademark">GoToMeeting® is a trademark of Citrix Online, LLC. WebEx® is a trademark of Cisco.</div>
        </div>
        <div class="right" >
            <div><a href="#">Opportunity</a> • <a href="#">Investor Relations</a> • <a href="#">Terms of Service</a> • <a href="#">Privacy Policy</a></div>
            <div>
                <div class="translate_flags"> Translate: <a href="#"><img src="{{MEDIA_URL}}images/flag_01.png" alt="English" title="English" style="vertical-align:middle;"/></a> <a href="#"><img src="{{MEDIA_URL}}images/flag_02.png" alt="German" title="German" style="vertical-align:middle;"/></a> <a href="#"><img src="{{MEDIA_URL}}images/flag_03.png" alt="Spanish" title="Spanish" style="vertical-align:middle;"/></a> <a href="#"><img src="{{MEDIA_URL}}images/flag_04.png" alt="French" title="French" style="vertical-align:middle;"/></a> <a href="#"><img src="{{MEDIA_URL}}images/flag_05.png" alt="Swedish" title="Swedish" style="vertical-align:middle;"/></a></div>
                <div class="secure_badges"><img src="{{MEDIA_URL}}images/bbb_icon.gif" width="37" height="36" alt="bbb" /><img src="{{MEDIA_URL}}images/verusign_icon.gif" width="88" height="45" alt="Verisign" /></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- COPYRIGHT ENDS -->
    {% endblock %}
</div>
{% block extrafooterscript %}
{% endblock %}
<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type='text/javascript'>
document.write(unescape("%3Cscript%20src='"+
 (document.location.protocol=='https:'?
   'https://clicktale.pantherssl.com/':
     'http://s.clicktale.net/')+
      "WRc9.js'%20type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      var ClickTaleSSL=1;
      if(typeof ClickTale=='function') ClickTale(7601,1,"www09");
      </script>
      <!-- ClickTale end of Bottom part -->
</body>
{% if INCLUDE_ANALYTICS %}
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29982394-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
{% endif %}
</html>
