{% extends "landingpages/landing_page_base.html" %}
    {% block css %}
        <link href="{{MEDIA_URL}}new/css/landing_one.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            body
            {
                background:none;
            }
        </style>
    {% endblock %}
    {% block content %}
    <div class="new_inner_page">
        <div class="top"></div>
        <div class="middle">
            <div class="grid">
                <div class="landing1_banner">
                    <div class="content">
                            <h1><span class="green">FREE!</span> Test Drive </h1>
                            <h3>Sign Up for FREE<br /> Using Your Social Media Accounts</h3>
                				<button class="mainpage_facebook" id="social_facebook">Facebook</button>
                                <button class="mainpage_linkedin" id="social_linkedin">Linked In</button>
                				<button class="mainpage_twitter" id="social_twitter">Twitter</button>
                				<button class="mainpage_google" id="social_google">Google</button>
                				<!--<p class="myaccount"><a hidden="#" href="">No thanks. I would prefer to create my account using email.</a></p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom"></div>
    </div>
    <!-- CALL TO ACTION BUTTONS -->
    <div class="grid">
        <div class="social_media">
            <h1><span class="purple">The New Way to WebConference.</span> Fast. Easy. Free.</h1>
        </div>
    </div>
    <!-- CALL TO ACTION BUTTONS ENDS-->
    <div class="landing1_content">
        <div class="features">
            <ul class="landing1_features">
                <li class="icon"><img src="{{MEDIA_URL}}images/webcam_landing_icon.png" width="54" height="65" alt="HD Video Web Confereing" /></li>
                <li class="content">
                    <h2 class="purple">HD Video Web Conferencing</h2>
                    <p>Up to 8 participants on HD Video Camera may speak live before an audience of thousands. Our simple, intuitive video conferencing system saves travel time and money. <a href="{% url features_webconference %}" class="purple">Learn More</a></p>
                </li>
            </ul>
            <ul class="landing1_features">
                <li class="icon"><img src="{{MEDIA_URL}}images/presentations_icon.png" width="65" height="77" alt="HD Presentations" /></li>
                <li class="content">
                    <h2 class="purple">High Definition Presentations</h2>
                    <p>Watch as your participants light up when they see you present shared videos in perfect sync, all in HD quality using our patented Shared Video on Demand system.</p>
                </li>
            </ul>
            <ul class="landing1_features">
                <li class="icon"><img src="{{MEDIA_URL}}images/landing_largefile_icon.png" width="69" height="60" alt="Large File Upload" /></li>
                <li class="content">
                    <h2 class="purple">Large File Upload,Storage and Download</h2>
                    <p>Safely store your files ont the cloud. Send a client large files such as videos, PowerPoint presentations or groups of photos. 
                        No hassels, No Rejection!</p>
                </li>
            </ul>
            <ul class="landing1_features">
                <li class="icon"><img src="{{MEDIA_URL}}images/landing_whiteboard_icon.png" width="70" height="58" alt="White Board" /></li>
                <li class="content">
                    <h2 class="purple">Multi-User Whiteboard</h2>
                    <p>All of your meeting participants may collaborate on multiple whiteboards generated inside the conference room. Whiteboard functions are available on top of videos, Word, Excel, PDF and PowerPoint documents for efficient online collaboration.</p>
                </li>
            </ul>
            <ul class="landing1_features">
                <li class="icon"><img src="{{MEDIA_URL}}images/landing_vmail_icon.png" width="60" height="69" alt="Video Email" /></li>
                <li class="contentlast">
                    <h2 class="purple">Video E-mail</h2>
                    <p>Record and send video messages from your webcam.
                        V-Mail allows you to record a message using your webcam, attach a piece of media from your library, and email anyone with a custom 
                        video message. </p>
                </li>
            </ul>
        </div>
        <div class="offers">
            <div class="hang"><span class="caps">Save up to 50% over</span><br/>
    WebEx<sup>&reg;</sup> or GoToMeeting<sup>&reg;</sup>!</div>
            <h2 class="purple center" >The Search is Over!</h2>
            <div class="shadowline_landing"></div>
            <p>When you compare the online collaboration systems, NetConference is the clear solution. </p>
            <br />
            <div class="compare_bg">
                <button class="land_purplebut">Compare</button>
            </div>
            <hr/>
            <h2 class="purple center" >Already Decided?</h2>
            <div class="shadowline_landing"></div>
            <p>Up to 8 Video Seats<br/>
        <br />
                No Software to Download or Install<br/><br />

                Corporate Mutli-Seat Discounts Available<br/><br />
                Your Office in the Cloud<sup>&reg;</sup> can be accessed
                from any device from anywhere.<br/>
            </p>
            <div class="plans_bg">
                <button class="land_buybut">Buy Now</button>
            </div>
            <p class="smalltext">* with one year upfront payment. </p>
        </div>
        <div class="clear"></div>
  </div>
	<div class="landing_social_follow">
        FOLLOW US 
            	<a href="http://www.facebook.com/netconferenceyourofficeinthecloud" target="_blank"><img src="{{MEDIA_URL}}images/fb_social_icon.png" width="33" height="32" alt="Facebook" /></a>
                <a href="https://twitter.com/#!/netconference" target="_blank"><img src="{{MEDIA_URL}}images/twitter_social_icon.png" width="33" height="32" alt="Twitter" /></a>
                <a href="http://www.linkedin.com/pub/net-conference/51/82/48" target="_blank"><img src="{{MEDIA_URL}}images/linkedin_icon1.png" width="33" height="33" alt="LinkedIn" /></a>
                <a href="https://plus.google.com/108762519558200057811/posts" target="_blank"><img src="{{MEDIA_URL}}images/google_plus_icon.png" width="34" height="34" alt="Facebook" /></a>
                <a href="http://www.stumbleupon.com/stumbler/NetConference" target="_blank"><img src="{{MEDIA_URL}}images/stumble_upon.png" width="33" height="33" alt="Facebook" /></a>
                <a href="http://www.youtube.com/user/NxtGenTV" target="_blank"><img src="{{MEDIA_URL}}images/youtube_social_icon.png" width="33" height="32" alt="YouTube" /></a>
	</div>    
	<br/> <br/>
    {% endblock %}
{% block extrafooterscript %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#social_linkedin").click(function(){
            window.location = '{% url socialauth_linkedin_login %}';
        });
        $("#social_facebook").click(function(){
            window.location = '{% url socialauth_facebook_login %}';
        });
        $("#social_twitter").click(function(){
            window.location = '{% url socialauth_twitter_login %}';
        });
        $("#social_google").click(function(){
            window.location = '{% url socialauth_google_login %}';
        });
    });
    </script>
{% endblock %}
