{% extends "newer_base.html" %}
{% block header %}
<div class="header">
    <div class="logo"><a href="{% url home %}"><img src="{{MEDIA_URL}}images/netconf_newlogo.png" width="256" alt="Net Conference logo" /></a></div>
    
</div>
{% endblock %}
{% block content %}
{% endblock %}
{% block after_content_shadow %}
{% endblock %}
{% block footer %}
{% endblock %}
