{% load i18n %}
                <div class="social_follow">{% trans "Signup now using your social media account :" %}
                    <a href="{% url socialauth_linkedin_login %}" target=""><img src="{{MEDIA_URL}}images/linkedin_social_icon.png" width="32" height="32" alt="Twitter" style="vertical-align:middle;" /></a>
                    <a href="http://www.facebook.com/pages/NetConference/150620931645938" target="_blank"><img src="{{MEDIA_URL}}images/fb_social_icon.png" width="33" height="32" alt="Facebook" style="vertical-align:middle;" /></a>
                    <!--<a href="https://twitter.com/#!/netconference" target="_blank"><img src="{{MEDIA_URL}}images/twitter_social_icon.png" width="33" height="32" alt="Twitter" style="vertical-align:middle;" /></a>-->
                    <!--<a href="https://plus.google.com/108762519558200057811" target="_blank"><img src="{{MEDIA_URL}}images/google_social_icon.png" width="33" height="32" alt="Google" style="vertical-align:middle;" /></a>
                    <a href="http://www.stumbleupon.com/stumbler/NetConference" target="_blank"><img src="{{MEDIA_URL}}images/stumble_social_icon.png" width="33" height="32" alt="StumbleUpon" style="vertical-align:middle;" /></a>
                    <a href="http://www.youtube.com/user/NxtGenTV" target="_blank"><img src="{{MEDIA_URL}}images/youtube_social_icon.png" width="33" height="32" alt="YouTube" style="vertical-align:middle;" /></a>-->
                </div>
