{% extends "affiliate/base.html" %}
{% load i18n %} 
{% load timezone_filters %}

{% block head_title %}
{% trans "Affiliate Dashboard" %}
{% endblock %}

{% block submenu %}
<div id="submenu_container">
  {% include "dashboard_subnav.html" %}
</div>
{% endblock %}

{% block content %}
<div id="content_container">
<div class="title_dashboard">
    <h1 class="title" style="text-shadow:none;">
      {% trans "Affiliate Dashboard" %}
      <span style="float:right;margin-left:20px;">{% trans "Total Commission" %}: {% firstof affiliate.get_total_money "0" %}</span>
      <span style="float:right;">{% trans "Total Signup" %}: {% firstof affiliate.get_total_count "0" %}</span>
    </h1>
</div>

{% if has_referred %}


<table border="0" cellpadding="0" cellspacing="0" id="files_list" style="width:100%;">
  <tr>
    <th style="text-align:left;" colspan="7">
      <h1 class="title" style="text-shadow:none;">
	{% trans "Directly Referred Affiliates" %}
	<span style="float:right;margin-left:20px;">{% trans "Direct Revenue" %}: {{ affiliate.get_money_primary|default:"0" }}</span>
	<span style="float:right;">{% trans "Referred directly" %}: {{ affiliate.count_primary }}</span>
      </h1>
    </th>
  </tr>
  <tr class="sub_title" style="height:25px;text-align:left;">
    <th style="text-align:left;width:150px;"><p>{% trans "Name" %}</p></th>
    <th style="text-align:left;"><p>{% trans "Email" %}</p></th>
    <th style="text-align:left;width:50px;"></th>
    <th style="text-align:left;width:50px;"><p>{% trans "Paid" %}</p></th>
    <th style="text-align:left;width:100px;"><p>{% trans "Subscription" %}</p></th>
    <th style="text-align:left;width:100px;"><p>{% trans "Rate" %}</p></th>
    <th style="text-align:left;width:150px;"><p>{% trans "Commission" %}(10%)</p></th>
  </tr>



  {% for el in affiliate.get_primary_signups %}

  <tr class="{% cycle 'dark' 'light' %}" style="text-align:left;margin:0 auto;">
    <td style="text-align:left;"><p><a href="/profiles/profile/{{el.user.username}}">{{el.user.username}}</a></p></td>
    <td style="text-align:left;"><p>{{el.user.email}}</p></td>
    <td style="text-align:left;"><p><a href="{% url vmail_compose %}?recipient={{el.user.email}}"><img src="{{MEDIA_URL}}images/dashboard_emailicon.png"></a></p></td>
    <td style="text-align:left;"><p>{% if el.user.subscription and el.user.subscription.price %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}</p></td>
    <td style="text-align:left;"><p>{% firstof el.user.subscription.name "Free" %}</p></td>
    <td style="text-align:left;"><p>{% firstof el.user.subscription.price "Free" %}</p></td>
    <td style="text-align:left;"><p>{{ el.pri_commission }}</p></td>
  </tr>

  {% endfor %}

</table>
<p>&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0" id="files_list" style="width:100%">
  <tr style="text-align:left;">
    <th colspan="8" style="text-align:left;">
      <h1 class="title">{% trans "Indirectly Referred Affiliates" %}
	<span style="float:right;margin-left:20px;">{% trans "Indirect Revenue" %}: {{ affiliate.get_money_secondary }}</span>
	<span style="float:right;">{% trans "Referred Indirectly" %}: {{ affiliate.count_secondary }}</span>
      </h1>
    </th>
  </tr>
  <tr class="sub_title" style="height:25px;text-align:left;">
    <th style="text-align:left;"><p>{% trans "Name" %}</p></th>
    <th style="text-align:left;"><p>{% trans "Email" %}</p></th>
    <th style="text-align:left;"></th>
    <th style="text-align:left;"><p>{% trans "Referred by" %}</p></th>
    <th style="text-align:left;"><p>{% trans "Paid" %}</p></th>
    <th style="text-align:left;"><p>{% trans "Subscription" %}</p></th>
    <th style="text-align:left;"><p>{% trans "Rate" %}</p></th>
    <th style="text-align:left;"><p>{% trans "Commission" %}(5%)</p></th>
  </tr>

  {% for el in affiliate.get_secondary_signups %}

  <tr class="{% cycle 'dark' 'light' %}" style="text-align:left;margin:0 auto;">
    <td style="text-align:left;"><p><a href=/profiles/profile/{{el.user.username}}>{{el.user.username}}</a></p></td>
    <td style="text-align:left;"><p>{{el.user.email}}</p></td>
    <td style="text-align:left;"><p><a href="{% url vmail_compose %}?recipient={{el.user.email}}"><a href="{% url vmail_compose %}?recipient={{el.user.email}}"><img src="{{MEDIA_URL}}images/dashboard_emailicon.png"></a></p></td>
    <td style="text-align:left;"><p><a href="/profiles/profile/{{el.referred_by.user.username}}">{% firstof el.referred_by.user.get_first_name el.referred_by.user.username %}</a></p></td>
    <td style="text-align:left;"><p>{% if el.user.subscription and el.user.subscription.price %} Yes {% else %} No {% endif %}</p></td>
    <td style="text-align:left;"><p>{% firstof el.user.subscription.name "Free" %}</p></td>
    <td style="text-align:left;"><p>{% firstof el.user.subscription.price "Free" %}</p></td>
    <td style="text-align:left;"><p>{{ el.sec_commission }}</p></td>
  </tr>

  {% endfor %}

</table>
<br/>
<br/>


{% else %}


<p>{% trans "You have not referred anybody yet. You can refer people to signup to netconference at" %} <a href="http://www.netconference.com/affiliate/{{user.username}}/">http://www.netconference.com/affiliate/{{user.username}}/</a> {% trans "and you will get" %} {% trans "10% of their signup amount. and 5%" %} {% trans "of the signup amount of whoever they refer" %}.</p>



{% endif %}



<a href="#" onclick="runJoan();return false;" class="tutorial_btn"><p>{% trans "Tutorial" %}</p></a>  
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
<script type="text/javascript">
var lf_ID = "100002564_B";
function runJoan() {
  runLFOW();
  $(".tutorial_btn").removeAttr("onclick");
}
</script>
{% endblock %}
