{% extends "affiliate/base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "Affiliate Opportunity" %}
{% endblock %}

{% block submenu %}
<div id="submenu_container">
  {% include "dashboard_subnav.html" %}
</div>
{% endblock %}

{% block content %}
<div id="content_page" style="width:850px;">
  <div class="leftpanel" style="width:350px;">
    <h1>{% trans "Opportunity" %}
    <p class="purple_text" style="font-weight:bold;padding:10px 0px;">{% blocktrans %}Can you use an extra $100 or $200 per month? {% endblocktrans %}<br/>
      {% blocktrans %}
      Of course, we all can, and with our generous
      two tier  affiliate compensation plan, we will
      support you 100% until you achieve this success
      {% endblocktrans %}
    </p>
	  
    <p style="padding: 0px 0px 10px 0px;">
      <a class="purple_text" href="{{ MEDIA_URL }}pdf/NC_affiliates_overview.pdf">{% blocktrans %}Download Affiliate White Paper Here{% endblocktrans %}</a>
    </p>
    <p>{% blocktrans %}As a NetConference affiliate, you are an entrepreneur who, from day one,
      has a distinguished design and development team, <br/>a superior product
      which everyone may benefit from, a fully staffed sales and marketing
      team, and a friendly customer support staff...all dedicated to your success.{% endblocktrans %}<br/>
      <br/>
      {% blocktrans %}NetConference is a business and communication tool which everyone
      may use.  Watch your friends light up and thank you as they hold video
      conferences and online meetings that make them more money and which
      makes them look great in front of their clients.{% endblocktrans %}<br/>
      <br/>
      {% blocktrans %}We stand behind you - Our sales support staff will help you close business. 
      Set up a meeting or a call and we'll be right there to help you close the deal.{% endblocktrans %}</p>
    <p class="purple_text" style="font-weight:bold; padding:10px 0px;">{% blocktrans %}Our two tiered compensation plan pays you:{% endblocktrans %}
    <ul>
      <li><p>{% blocktrans %}10% recurring monthly on all direct sales and business you close.{% endblocktrans %}</p></li>
      <li><p>{% blocktrans %}5% recurring monthly on all first level sales of your direct closed business.{% endblocktrans %}</p></li>
    </ul>
    </p>
  </div>
  <div class="rightpanel" style="width:450px;text-align:left;"><img src="{{MEDIA_URL}}img/opportunity_tree.png" width="423" height="470" alt="{% trans "Opportunity" %}" />
    <p>{% blocktrans %}Get started below by importing your contacts.  From there, we'll help you by
      walking you through how to select individuals to send invitations to.{% endblocktrans %}{% blocktrans %}  Every
      time a new client signs up through your invitation or at your public dashboard,
      we pay you commissions on a monthly basis for the term of the user's
      relationship with our product.{% endblocktrans %}</p>
    <a href="{% url affiliate_dashboard %}" class="buttonGreen" style="text-decoration:none;color:white;float:right;line-height:50px;text-align:center;">{% trans "Get Started" %}</a>
  </div>
  <div class="clear"></div>
</div>
  <a href="#" onclick="runJoan();return false;" class="tutorial_btn"><p>{% trans "Tutorial" %}</p></a>
{% endblock %}

{% block extrafooterscript %}
    <script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
    <script type="text/javascript">
    	var lf_ID = '100002564_B';
    	function runJoan(){
    		runLFOW();
	        $(".tutorial_btn").removeAttr("onclick");
    	} 
    </script>
{% endblock %}
