<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.sound.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chat/jquery.linkify.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chat/strophe.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chat/strophe.muc.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chat/settings.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chat/jquery.stropify.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        {% if xmpp_token %}
            $('head').stropify({
                'username': '{{ username }}',
                'password': '{{ xmpp_token }}',
                'room': '{{ room }}'
            });
        {% else %}
            // anonymous user
            $('head').stropify({
                'nick': '{{ nick }}',
                'room': '{{ room }}'
            });
        {% endif %}
        $("#upload_form").ajaxForm({
            dataType:  'json',
            beforeSubmit: function() {
                $("#upload_result").html("Uploading file...");
            },
            success: function(data) {
                var file_html = "<a href='" + data.url + "'>" + data.filename + "<a>";
                $("#uploaded_files").append("<li>" + file_html + "</li>");
                var msg = "/me has uploaded a file: " + file_html; 
                $("#txt_message").trigger("send_message", [ msg ]);
                $("#upload_result").html("");
            }
        });
    });
</script>

<style>
    #container {
        width: 680px;
    }
    #chat {
        height: 200px;
        width: 580px;
        overflow-y: scroll;
    }
    #roster {
        float: right;
    }
    .status {
        font-size: 10px;
    }
</style>

<div id="container">
    <div id="roster_wrapper">
        <ul id="roster">
        </ul>
    </div>

    <div id="chat">
    </div>

    <textarea id="txt_message" rows="2" cols="80"></textarea>
    <br />
    <br />
    <br />

    <div>
        <form action="{% url shared_file_upload room %}" id="upload_form" method="post">
            <table cellspacing="0">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Upload" />
        </form>
        <span id="upload_result"></span>
        <ul id="uploaded_files">
            {% for file  in  room.sharedfile_set.all %}
                <li><a href="{{ file.get_absolute_url }}">{{ file }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <input id="invite_url" type="text" readonly="true" style="width: 450px;" onclick="this.select();" value="{{ invite_url  }}" />
    <br />
    <input id="btn_connect" type="button" value="Disconnect"></input>
    <input id="btn_join" type="button" value="Leave"></input>
</div>
