<form action="{{ request.path }}" method="POST">
    <input type="text" name="nick" />
    <input type="hidden" name="token" value="{{ request.GET.token }}" />
    <input type="submit" value="Join" />
</form>

