{% load i18n %}
<html>
    <head>
        <title>Netconference Event Invitation</title>
    </head>
    <body style="background:white url(http://netconference.com/site_media/img/email/bg.jpg) top center repeat-x;margin:0;padding:0;font-family: Helvetica, Tahoma, Geneva, Arial, sans-serif; font-size: 12px;text-align:center;line-height:1.4em;">
        <a href="http://netconference.com" style="text-decoration:none;"><img src="http://netconference.com/site_media/img/email/logo.jpg" border="0" width="450" height="120" /></a>
        <div style="width:600px;margin:10px auto; padding: 10px; text-align:left;">
            {% blocktrans %}
            <p>You have been sent a NetConference invitation by {{ user }}.</p>

            <p>{{ user }} said:</p>

            <p>"{{ message }}"</p>

            <p><a href="{{ event_url }}" style="color: #8a278a;">Click here to view the details of this NetConference, or to join if the conference is in session.</a></p>
            
            <p><a href="http://netconference.com/{{ user }}" style="color: #8a278a;">Click here to see {{ user }}'s public calendar of netconference.com events.</a></p>
            
            <br />
            <p style="font-size:11px;"><a href="http://www.netconference.com" style="color: #8a278a;">NetConference</a> is a great way to collaborate with others online, send video e-mail, share files, and host meetings with others in real time.  If you have any questions about NetConference, don't hesitate to <a href="http://netconference.com/contact/" style="color: #8a278a;">contact us.</a></p>
            {% endblocktrans %}
            <br /><br />
            <table border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                    <td><a href="http://www.socializemedia.com"><img src="http://netconference.com/site_media/img/email/footer-1.jpg" border="0" width="200" height="110" /></a></td>
                    <td><a href="http://illusionfactory.com"><img src="http://netconference.com/site_media/img/email/footer-2.jpg" border="0" width="200" height="110" /></a></td>
                    <td><a href="http://www.nxtgen.com"><img src="http://netconference.com/site_media/img/email/footer-3.jpg" border="0" width="200" height="110" /></a></td>
                </tr>
                <tr><td></td></tr>
            </table>
        </div>
    </body>
</html>