{% extends "site_base.html" %}
{% load i18n %}  

{% block head_title %}{% trans "Contacts" %}{% endblock %}

{% block nav_script %}
    $("#contacts_nav").attr('id','nav_select')
{% endblock %}

{% block extra_head_base %}
<style type="text/css" media="screen">
  .subnav { margin: 0px; }
</style>
{% endblock %}


{% block subnav %}
<ul class="subnav">
    <li><a href="{% url invitations_contacts %}">{% trans "Imported Contacts" %}</a></li>
    <li><a href="{% url contact_groups %}">{% trans "Contact Groups" %}</a></li>
    <li><a href="{% url invitations %}">{% trans "Contacts" %}{% if invitations_count %} ({{ invitations_count }}){% endif %}</a></li>
    <li><a href="{% url community_search %}">Search Contacts</a></li>
    {% if user.is_staff %}<li><a href="{% url admin_invite_user %}">{% trans "Send Promo Code" %}</a></li>{% endif %}
    <li id='affiliate_invite'><a href="{% url affiliate_invite %}">{% trans "Invite Affiliates" %}</a></li>
</ul>
{% endblock %}
