<td style="text-align:left;">{% if contact_name %}{% for other_user in contact.users.all %}<a href="{% url user_dashboard other_user.username %}">{% endfor %}{{ contact_name }}{% for other_user in contact.users.all %}</a>{% endfor %}{% endif %}</td>
<td style="text-align:left;">{{ contact_email }}</td>
<td style="text-align:left;">{% if contact_phone %}{{ contact_phone }}{% endif %}</td>
<td style="text-align:left;">{% for group in contacts_form.groups.all %}{{ group }}<br />{% endfor %}</td>
<td>
    <a href="{% url contacts_edit contact_id %}" rel="#edit_contact" class="btn_edit_contact"><img src="{{ MEDIA_URL }}img/silk/vcard_edit.png" border="0"></a>
</td>
<td><a href="{% url contacts_delete contact_id %}?next={% url invitations_contacts %}" class="contact_delete modalInput" id="{{ contact_id }}" rel="#confirm_delete"><img src="{{ MEDIA_URL }}img/silk/vcard_delete.png" border="0"></a></td>
<td><a href="mailto:{{ contact_email }}"><img src="{{ MEDIA_URL }}img/silk/email_add.png" border="0"></a></td>
<td><a href="{% url vmail_compose %}?recipient={{ contact_email }}"><img src="{{ MEDIA_URL }}img/silk/webcam_add.png" border="0"></a></td>