{% extends "vmail/base.html" %}
{% load i18n %}
{% load uni_form %}

{% block head_title %}{% blocktrans %}Edit Contact: {{ contact_name }}{% endblocktrans %}{% endblock %}

{% block subnav %}
<ul class="subnav">
    <li class="current"><a href="{% url invitations_contacts %}">{% trans "My Contacts" %}</a></li>
    <li><a href="{% url invitations %}">{% trans "Friends" %}{% if invitations_count %} ({{ invitations_count }}){% endif %}</a></li>
    {% if user.is_staff %}<li><a href="{% url admin_invite_user %}">{% trans "Send Promo Code" %}</a></li>{% endif %}
    <li id='affiliate_invite'><a href="{% url affiliate_invite %}">{% trans "Invite Affiliates" %}</a></li>
</ul>
{% endblock %}

{% block body %}
<h1 class="uni_form_header">{% trans "Edit Contact" %}: {{ contact_name }}</h1>
<form class="uniForm" method="post" action=".">
    <fieldset class="inlineLabels">
        {{ contacts_form|as_uni_form }}
        <hr style="visibility:hidden;margin-bottom:0.2em;" /><br />
        <div class="form_block" style="clear:left;">
            <button class="positive" type="submit"><img src="{{ MEDIA_URL }}img/silk/accept.png" border="0" alt="" /> {% trans "Save Changes" %}</button>
        </div>
        <br />
    </fieldset>
</form>

{% endblock %}