{% extends "friends_app/base.html" %}
{% load i18n %}
{% load uni_form %}

{% block extra_head_base %}
<style type="text/css">
  .uniForm .ctrlHolder { border: 0px; }
  .subnav { margin: 0px; }
</style>
{% endblock %}

{% block head_title %}
{% trans "Add Contact" %}
{% endblock %}

{% block subnav %}
  <ul class="subnav">
    <li class="current"><a href="{% url invitations_contacts %}">{% trans "Imported Contacts" %}</a></li>
    <li><a href="{% url contact_groups %}">{% trans "Contact Groups" %}</a></li>
    <li><a href="{% url invitations %}">{% trans "Contacts" %}</a></li>
    <li><a href="{% url community_search %}">{% trans "Search Contacts" %}</a></li>
    <li><a href="{% url affiliate_invite %}">{% trans "Invite Affiliates" %}</a></li>
    {% if user.is_staff %}<li><a href="{% url admin_invite_user %}">{% trans "Send Promo Code" %}</a></li>{% endif %}
  </ul>
{% endblock %}

{% block body %}
<h1 class="uni_form_header">{% trans "Add Contact" %}</h1>
<form class="uniForm" method="post" action=".">
    <fieldset class="inlineLabels">
        {{ contacts_form|as_uni_form }}
        <hr style="visibility:hidden;margin-bottom:0.2em;" /><br />
        <br />
    </fieldset>
    <input type="submit" class="buttonGreenMedium" value="{% trans "Add Contact" %}" />
</form>

{% endblock %}
