{% load i18n %}
<style>
#django_log { display: none; }
</style>
    <h2>Edit Contact: {% if contact_name %}{{ contact_name }}{% else %}{{ contact_email }}{% endif %}</h2>
    <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
        <div name='/connections/contacts/edit/{{ contact_id }}/' id='edit_contact_form' rel='{{ contact_id }}' style="width:100%;">
            {{ contacts_form.as_table }}	          
    </table>
