{% extends "friends_app/base.html" %}

{% load i18n %}
{% load pagination_tags %}

{% block head_title %}{% trans "Contacts Search:" %} {{ query_string }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.multiSelect.css" type="text/css" media="screen" />
    <style type="text/css" media="screen">
        span.pagination a { border-top: 0px solid white ! important; }
        .error_form { display:block; float: left; margin-left: 10px; top:0px; background-position: 0px 3px; font-weight:bold; }
        #add_contact label, #edit_contact label { float: left; }
        #id_email, #id_name, #id_phone { clear: left; width: 320px; height: 18px; }
        ul.errorlist li { float: left; margin-left:90px; position: relative; top: 16px; }
        #id_vcard_file { display: block; width: 280px; }
    </style>
{% endblock %}

{% block subnav %}
<ul class="subnav">
    <li class="current"><a href="{% url invitations_contacts %}">{% trans "All Contacts" %}</a></li>
    <li><a href="{% url contact_groups %}">{% trans "Contact Groups" %}</a></li>
    <li><a href="{% url invitations %}">{% trans "Friends" %}{% if invitations_count %} ({{ invitations_count }}){% endif %}</a></li>
    {% if user.is_staff %}<li><a href="{% url admin_invite_user %}">{% trans "Send Promo Code" %}</a></li>{% endif %}
    <li id='affiliate_invite'><a href="{% url affiliate_invite %}">{% trans "Invite Affiliates" %}</a></li>
</ul>
{% endblock %}

{% block body %}

    <p class="prefix-1"><span style="float:left;margin-right: 12px;"><strong>Import Contacts From: </strong></span><button id="btn_import_vcard" class="modalInput" rel="#upload_vcard"><img src="{{ MEDIA_URL }}img/silk/book_addresses.png" border="0"> {% trans "Address Book/vCard" %}</button> <button id="btn_import_google" class="modalInput" rel="#import_google"><img src="{{ MEDIA_URL }}img/silk/book_addresses.png" border="0"> {% trans "Google Contacts" %}</button> <button id="btn_import_yahoo" class="modalInput" rel="#import_yahoo"><img src="{{ MEDIA_URL }}img/silk/book_addresses.png" border="0"> {% trans "Yahoo Address Book" %}</button> <button class="modalInput" rel="#add_contact" id="add_contact_btn"><img src="{{ MEDIA_URL }}img/silk/vcard_add.png" border="0" /> {% trans 'Enter Manually' %}</button></p>
    
    <!-- user input dialogs --> 
    <div class="modal" id="upload_vcard"> 
        <h2>Import vCard</h2> 
        <p>Upload a vCard file that you've exported from Outlook, Apple's Address Book, or your personal contacts manager.</p>
        <form enctype="multipart/form-data" method="post" action="">
            <input type="hidden" name="action" value="upload_vcard" />
                {{ import_vcard_form.as_p }}
                <button type="submit" id="import_vcard"><img src="{{ MEDIA_URL }}img/silk/vcard_add.png" border="0" /> {% trans 'Import vCard' %}</button>
                <button type="button" class="close"> Cancel </button>
            </table>
        </form>
    </div>

    <div class="modal" id="import_google"> 
        <h2>Import from Google Contacts</h2>
        {% if authsub_token %}
            <form method="POST" action="">
                <input type="hidden" name="action" value="import_google" /> 
                <button type="submit"> {% trans 'Import Google Contacts' %}</button>
                <button type="button" class="close"> Cancel </button> 
            </form>
        {% else %}
        <p>This will be a two step process. First you must <a href="{% url authsub_login %}">authenticate with Google</a>.  Once you have agreed to let {{ SITE_NAME }} have access to your Google Contacts, you will be taken back here and an "Import Google Contacts" button will appear here.</p>
        <p> <button id="auth_google"> Authenticate with Google </button> <button class="close"> Cancel </button> </p> 
        {% endif %}
    </div>
    
    <div class="modal" id="import_yahoo"> 
        <h2>Import from Yahoo! Address Book</h2>
        {% if bbauth_token %}
            <form method="POST" action="">
                <input type="hidden" name="action" value="import_yahoo" />
                <button type="submit"> {% trans 'Import Yahoo Address Book' %}</button> 
                <button type="button" class="close"> Cancel </button>
            </form>
        {% else %}
            <p>
                This will be a two step process. First you must <a href="{% url bbauth_login %}">authenticate with Yahoo</a>. Once you have agreed to let {{ SITE_NAME }} have access to your Yahoo Address Book, you will be taken back here and an "Import Yahoo Address Book" button will appear here.
            </p>
            <p> <button id="auth_yahoo"> Authenticate with Yahoo </button> <button class="close"> Cancel </button> </p> 
        {% endif %}
    </div>
    
    <div class="modal" id="add_contact"> 
        <h2>Add a Contact</h2>
            <form method="POST" id="add_contact_form" action="/connections/contacts/add/">
                {{ add_form.as_p }}
                <button type="submit" class="save_contact"> {% trans 'Save Contact' %}</button>
                <button type="button" class="close"> Cancel </button> 
            </form>
    </div>
    
    <div class="modal" id="edit_contact">
        <span id="edit_contact_wrap"></span>
            <button class="save_contact close" type="submit"><img src="{{ MEDIA_URL }}img/silk/accept.png" border="0" alt="" /> {% trans "Save Changes" %}</button>
            <button type="button" class="close" onclick="$('.btn_edit_contact').overlay().close();"> {% trans "Cancel" %} </button> 
        </form>
    </div>
    
    <hr style="visibility:hidden;" />
    
    {% with object_list as contacts %}
        
        {% autopaginate contacts %}
        
        <h1 class="items_list_top">
            <form id="list_search" method="get" action="/connections/contacts/search/">
    			<input type="text" id="list_search_input" class="list_search" name="q" value="search my contacts" />
    			<button type="submit" class="list_search_btn" id="list_search_btn">
    			    <img src="{{ MEDIA_URL }}img/btn_go_light.png" width="29" height="20" alt="search" title="search" />
    			</button>
    		</form>
            {% paginate %}
            {{ page_title }}: <em>{{ query_string }}</em></h1>
        
        {% if contacts %}
            <table class="items_list" width="870" cellspacing="0">
                <tr class="items_list_def">
            		<td width="200">Name</td>
                    <td width="260">Email Address</td>
                    <td width="130">Telephone</td>
                    <td width="160">Group</td>
                    <td width="30">Edit</td>
                    <td width="30">Delete</td>
                    <td width="30">Email</td>
                    <td width="30">Video E-Mail</td>
            	</tr>
                {% for contact in contacts %}
                <tr class="items_list_row {% cycle 'row1' 'row2' %}" id="usr_{{ contact.id }}" rel="{{ contact.id }}">
                    <td style="text-align:left;">{% if contact.name %}{% for other_user in contact.users.all %}<a href="{% url user_dashboard other_user.username %}">{% endfor %}{{ contact.name }}{% for other_user in contact.users.all %}</a>{% endfor %}{% comment %}{% else %}<a href="{% url contacts_edit contact.id %}" rel="#edit_contact" class="btn_edit_contact"><em><small>add name</small></em></a>{% endcomment %}{% endif %}</td>
                    <td style="text-align:left;">{{ contact.email }}</td>
                    <td style="text-align:left;">{% if contact.phone %}{{ contact.phone }}{% endif %}</td>
                    <td style="text-align:left;">{% for group in contact.groups.all %}{{ group }}<br />{% endfor %}</td>
                    <td>
                        <a href="{% url contacts_edit contact.id %}" rel="#edit_contact" class="btn_edit_contact"><img src="{{ MEDIA_URL }}img/silk/vcard_edit.png" border="0"></a>
                    </td>
                    <td><a href="{% url contacts_delete contact.id %}?next={% url invitations_contacts %}" class="contact_delete modalInput" id="{{ contact.id }}" rel="#confirm_delete"><img src="{{ MEDIA_URL }}img/silk/vcard_delete.png" border="0"></a></td>
                    <td><a href="mailto:{{ contact.email }}"><img src="{{ MEDIA_URL }}img/silk/email_add.png" border="0"></a></td>
                    <td><a href="{% url vmail_compose %}?recipient={{ contact.email }}"><img src="{{ MEDIA_URL }}img/silk/webcam_add.png" border="0"></a></td>
                </tr>
                {% endfor %}
            </table>
            
        {% else %}
            <p style="margin-left:40px;margin-top:12px;">{% trans "No contacts." %}</p>
        {% endif %}
    {% endwith %}
    
        <div class="modal" id="confirm_delete"> 
            <h2>Delete this contact?</h2> 
            <p>This contact's information will be <strong>permanently deleted</strong>.<br />Are you sure?</p>
            <p> <button class="close" id="delete_id"><img src="{{ MEDIA_URL }}img/silk/delete.png" border="0"> Delete </button> <button class="close"> Cancel </button> </p> 
        </div>

        <script type="text/javascript">
        function getMSvalues(selectName) { 
        myArray = []; 
        $(".multiSelectOptions input[name="+selectName+"][type=checkbox]:checked").each( function( intIndex ){ 
        myArray.push( $(this).val() ); 
        }); 
        return myArray; 
        }
        </script>
    {% endblock %}
    
    {% block jquery_link %}<script src="{{ MEDIA_URL }}js/jquery.js" type="text/javascript"></script>{% endblock %}

    {% block extra_body %}
        <script type="text/javascript" language="Javascript" src="{{ MEDIA_URL }}js/jquery.multiSelect.js"></script>
    {% endblock %}

{% block extra_jquery %}
    
    var searchVal = $("#list_search_input").val();
    $("#list_search_input").focus(function(){
        var currentVal = $("#list_search_input").val();
        if(currentVal == searchVal){
            $(this).val("");
            $("#list_search_input").css("color","#333333");
        }
    });
    $("#list_search_input").blur(function(){
        var currentVal = $("#list_search_input").val();
        if(currentVal == ""){
            $(this).val(searchVal);
            $("#list_search_input").css("color","#777777");
        }
    });
    $("#list_search").submit(function(){
        var currentVal = $("#list_search_input").val();
        if(currentVal == "search my contacts"){
            return false;
        }
    });
    
    var edit_buttons = $("#edit_contact").overlay({
        api: true,
        expose: {
            color: '#333',
            loadSpeed: 200, 
            opacity: 0.9,
            closeOnClick: false
        },
        onBeforeLoad: function() { 
            // grab wrapper element inside content 
            $("span#edit_contact_wrap").html("<div style='text-align:center;font-size:15px;font-style:italic;margin:65px auto;'>Loading...</div><hr style='visibility:hidden;' />");
            // $("span#edit_contact_wrap").load(this.getTrigger().attr("href"));
        },
        closeOnClick: false
    });
    
    // set-up a live() event to bind click to all future triggers 
    $(".btn_edit_contact").live('click', function(e){ 
        e.preventDefault(); 
        // load the overlay 
        edit_buttons.load();
        url = $(this).attr("href");
        $("span#edit_contact_wrap").load(url);
    });
    
    $(".contact_delete").click(function(){
        var c_link = $(this).attr("href");
        $("#delete_id").attr("rel", c_link);
    });

    $("#auth_google").click(function(e) { 
        document.location = "{% url authsub_login %}";
    });
    
    $("#auth_yahoo").click(function(e) { 
        document.location = "{% url bbauth_login %}";
    });
    
    $(".modal_close").click(function(e) {
        $(this).overlay().close();
    });
    
    var buttons = $("#confirm_delete button").click(function(e) { 
        // get user input 
        var yes = buttons.index(this) === 0;
        // do something with the answer 
        if(yes){
            var c_link = $("#delete_id").attr("rel");
            document.location = c_link;
        }
    });
    
    $("#upload_vcard form").submit(function(e) { 
        triggers.eq(1).overlay().close();
        var input = $("input", this).val();
        // do something with the answer
        if(input == ""){
            return e.preventDefault();
            return false;
        }
    });
    
    $("#import_google form").submit(function(e) { 
        triggers.eq(1).overlay().close();
        var input = $("input", this).val();
        // do something with the answer
        if(input == ""){
            return e.preventDefault();
            return false;
        }
    });
    
    $("#import_yahoo form").submit(function(e) { 
        triggers.eq(1).overlay().close();
        var input = $("input", this).val();
        // do something with the answer
        if(input == ""){
            return e.preventDefault();
            return false;
        }
    });
    
    {% if authsub_token %}
    $("#btn_import_google").overlay({
        expose: { 
            color: '#090909',  
            loadSpeed: 200, 
            opacity: 0.9,
            closeOnClick: false
        },
        closeOnClick: false 
    }).load();
    {% endif %}
    
    {% if bbauth_token %}
    $("#btn_import_yahoo").overlay({
        expose: { 
            color: '#090909',  
            loadSpeed: 200, 
            opacity: 0.9,
            closeOnClick: false
        },
        closeOnClick: false 
    }).load();
    {% endif %}
    
    if($('ul.errorlist').length) {
        $('#btn_import_vcard').overlay({
            expose: {
                color: '#090909', 
                loadSpeed: 200,
                opacity: 0.9,
                closeOnClick: false
            },
            closeOnClick: false 
        }).load();
    }
    
    // Form validation
    $(".save_contact").live("click", function(){				   				   
		$(".error_form").remove();
		$(".errorlist").remove();
		var hasError = false;
		var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
		var emailFromVal = $(this).parent().find("#id_email").val();
		if(emailFromVal == '') {
			$(this).parent().find("#id_email").before('<span class="error_form">Enter an email address.</span>');            
			hasError = true;
		} else if(!emailReg.test(emailFromVal)) {	
			$(this).parent().find("#id_email").before('<span class="error_form">Invalid email address.</span>');
			hasError = true;
		}
		
		var phoneVal = $(this).parent().find("#id_phone").val();
		
		var nameVal = $(this).parent().find("#id_name").val();
		if(nameVal == '') {
			$(this).parent().find("#id_name").before('<span class="error_form">Please enter a name.</span>');
			hasError = true;
		}
		if(hasError == true){
		    return false;
		} else {
            // $(this).parent().parent().find("form").submit();
		    // Show test data

            {# var serializedForm = $("#edit_contact_form").serialize(); #}
            {# var results = $("#edit_contact_form").serialize().replace(/&/g, '\n'); #}
            {# results = decodeURI(results); #}
            myArray = getMSvalues('groups');
            $("#id_groups").attr("value", myArray);
            var submit_url = $("#edit_contact_form").attr("action");
            if(submit_url){
                var add = "false";
                var submit_url = $("#edit_contact_form").attr("action");
            } else {
                var add = "true";
                var submit_url = $("#add_contact_form").attr("action");
            }
            $.post(submit_url, { name: nameVal, email: emailFromVal, phone: phoneVal, groups: myArray },
                function(data){
                    if(add == "true"){
                        document.location = "/connections/contacts/";
                    } else {
                        $("tr").find("td:contains("+emailFromVal+")").parent().html(data);
                    }
                });
            return false;
		}
	});
	
    $("#import_vcard").click(function(){                                    
     $(".error_form").remove();
     $(".errorlist").remove();
     var hasError = false;
     var nameVal = $("#id_vcard_file").val();
     if(nameVal == '') {
         $("#id_vcard_file").before('<span class="error_form" style="float:right;margin-right: 60px;">Please select a valid vCard file.</span>');
         hasError = true;
     }
     if(hasError == true){
         return false;
     }
    });
    
    $("#id_groups").multiSelect({
          // selectAll: false,
          noneSelected: 'Select groups for this contact.',
          oneOrMoreSelected: '*'
        });
        
	
{% endblock %}