{% extends "friends_app/base.html" %}

{% load i18n %}
{% load pagination_tags %}

{% block head_title %}{% trans "Contact Groups" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
    <style type="text/css" media="screen">
        span.pagination a { border-top: 0px solid white ! important; }
        .error_form { display:block; float: left; margin-left: 10px; top:0px; background-position: 0px 3px; font-weight:bold; }
        #add_contact label, #edit_contact label { float: left; }
        #id_email, #id_name, #id_phone { clear: left; width: 320px; height: 18px; }
        ul.errorlist li { float: left; margin-left:90px; position: relative; top: 16px; }
        #id_vcard_file { display: block; width: 280px; }
	.subnav { margin: 0px; }
    </style>
{% endblock %}

{% block subnav %}
<ul class="subnav">
    <li><a href="{% url invitations_contacts %}">{% trans "Imported Contacts" %}</a></li>
    <li class="current"><a href="{% url contact_groups %}">{% trans "Contact Groups" %}</a></li>
    <li><a href="{% url invitations %}">{% trans "Contacts" %}{% if invitations_count %} ({{ invitations_count }}){% endif %}</a></li>
    <li><a href="{% url community_search %}">Search Contacts</a></li>
    {% if user.is_staff %}<li><a href="{% url admin_invite_user %}">{% trans "Send Promo Code" %}</a></li>{% endif %}
    <li id='affiliate_invite'><a href="{% url affiliate_invite %}">{% trans "Invite Affiliates" %}</a></li>
</ul>
{% endblock %}

{% block body %}

    <p class="prefix-1">
<input type="submit" value="{% trans "Add Group" %}" rel="#add_group" class="buttonGreen modalInput" style="float:left;" />
</p>
    
    <!-- user input dialogs --> 
    
    
    <div class="modal" id="add_group"> 
        <h2 style="border:0px;">{% trans "Add a Group" %}</h2>
            <form method="POST" action="{% url contact_groups_add %}">
                {{ group_form.as_p }}
                <input type="hidden" name="add_group" value="add_group">
		<br />
                <button type="submit" class="save_group"><img src="{{ MEDIA_URL }}img/silk/group_add.png" border="0" alt="" /> {% trans 'Save New Group' %}</button>
                <button type="button" class="close"> {% trans "Cancel" %} </button> 
            </form>
    </div>
    
    <hr style="visibility:hidden;" />
        
        <h1 class="items_list_top" style="width:98%;">{% trans "Contact Groups" %}</h1>
        
        {% if groups %}
            <table class="items_list" cellspacing="0" style="width:100%;table-layout:fixed;word-wrap:break-word;white-space:normal;">
                <tr class="items_list_def">
            	  <td style="width:70%;">{% trans "Name" %}</td>
            	  <td style="width:20%;">{% trans "Members" %}</td>
            	  <td style="width:10%;">{% trans "Delete" %}</td>
            	</tr>
            	{% with groups as groups_list %}
                {% for o in groups_list %}
                <tr class="items_list_row {% cycle 'row1' 'row2' %}">
                    <td style="text-align:left;">{% if o.name %}{{ o.name }}{% endif %}</td>
                    <td style="text-align:left;">
                        <a href="" class="members" style="text-decoration:none;"><strong>{% trans "Members" %}: ({{ o.contact_groups.all|length }})</strong></a>
                        <div class="members_list" style="display:none;clear:left">
                        {% for obj in o.contact_groups.all %}
                            {{ obj.name }} - {{ obj.email }}<br />
                        {% endfor %}
                        </div>
                    </td>
                    <td style="text-align:left;"><a href="{% url contact_groups_delete o.id %}?next={% url contact_groups %}" class="group_delete modalInput" id="{{ contact.id }}" rel="#confirm_delete"><img src="{{ MEDIA_URL }}img/silk/group_delete.png" alt="Delete" border="0" style="padding-left:10px;"/></a></td>
                </tr>
                {% endfor %}
                {% endwith %}
            </table>
            
        {% else %}
            <h4 style="margin-left:40px;">{% trans "You have not created any groups yet." %}</h4>
            <p><form>
        {% endif %}
    
    <div class="modal" id="confirm_delete"> 
        <h2>{% trans "Delete this contact group?" %}</h2> 
        <p>{% trans "This contact group will be" %} <strong>{% trans "permanently deleted" %}</strong>.<br />({% trans "Your contacts will not be deleted, only the relation to this group" %}.)<br />{% trans "Are you sure?" %}</p>
        <p> <button class="close" id="delete_id"><img src="{{ MEDIA_URL }}img/silk/delete.png" border="0"> {% trans "Delete" %} </button> <button class="close"> {% trans "Cancel" %} </button> </p> 
    </div>
{% endblock %}

{% block extra_jquery %}
    
    var searchVal = $("#list_search_input").val();
    $("#list_search_input").focus(function(){
        var currentVal = $("#list_search_input").val();
        if(currentVal == searchVal){
            $(this).val("");
            $("#list_search_input").css("color","#333333");
        }
    });
    $("#list_search_input").blur(function(){
        var currentVal = $("#list_search_input").val();
        if(currentVal == ""){
            $(this).val(searchVal);
            $("#list_search_input").css("color","#777777");
        }
    });
    $("#list_search").submit(function(){
        var currentVal = $("#list_search_input").val();
        if(currentVal == "search my contacts"){
            return false;
        }
    });
    
    var edit_buttons = $(".btn_edit_contact").overlay({
        expose: {
            color: '#090909', 
            loadSpeed: 200, 
            opacity: 0.9,
            closeOnClick: false
        },
        onBeforeLoad: function() { 
            // grab wrapper element inside content 
            $("span#edit_contact_wrap").html("<div style='text-align:center;font-size:15px;font-style:italic;margin:65px auto;'>Loading...</div><hr style='visibility:hidden;' />");
            $("span#edit_contact_wrap").load(this.getTrigger().attr("href"));
        },
        closeOnClick: false
    });
    
    $("#delete_id").click(function(e) {
        var c_link = $("#delete_id").attr("rel");
        document.location = c_link;
    });
    
    $(".modal_close").click(function(e) {
        $(this).overlay().close();
    });
    
    $("#add_group form").submit(function(e) { 
        triggers.eq(1).overlay().close();
        var input = $("input", this).val();
        // do something with the answer
        if(input == ""){
            return e.preventDefault();
            return false;
        }
    });
    
    if($('ul.errorlist').length) {
        $('#btn_import_vcard').overlay({
            expose: {
                color: '#090909', 
                loadSpeed: 200,
                opacity: 0.9,
                closeOnClick: false
            },
            closeOnClick: false 
        }).load();
    }
    
    $(".group_delete").click(function(){
        var c_link = $(this).attr("href");
        $("#delete_id").attr("rel", c_link);
    });
    
    // Form validation
    $(".save_contact").click(function(){				   				   
		$(".error_form").remove();
		$(".errorlist").remove();
		var hasError = false;
		var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
		var emailFromVal = $(this).parent().find("#id_email").val();
		if(emailFromVal == '') {
			$(this).parent().find("#id_email").before('<span class="error_form">{% trans "Enter an email address." %}</span>');            
			hasError = true;
		} else if(!emailReg.test(emailFromVal)) {	
			$(this).parent().find("#id_email").before('<span class="error_form">{% trans "Invalid email address." %}</span>');
			hasError = true;
		}
		
		var nameVal = $(this).parent().find("#id_name").val();
		if(nameVal == '') {
			$(this).parent().find("#id_name").before('<span class="error_form">{% trans "Please enter a name." %}</span>');
			hasError = true;
		}
		if(hasError == true){
		    return false;
		} else {
		    $(this).parent().parent().find("form").submit();
		}
	});
	
    $("#import_vcard").click(function(){                                    
     $(".error_form").remove();
     $(".errorlist").remove();
     var hasError = false;
     var nameVal = $("#id_vcard_file").val();
     if(nameVal == '') {
         $("#id_vcard_file").before('<span class="error_form" style="float:right;margin-right: 60px;">{% trans "Please select a valid vCard file." %}</span>');
         hasError = true;
     }
     if(hasError == true){
         return false;
     }
    });
	
	$(".members").click(function(){
	   $(this).next('.members_list').slideToggle();
	   return false;
	});
	
{% endblock %}
