{% load i18n %}
{% load uni_form %}
{% load ifsetting_tag %}
{% load active_nav %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Netconference.com : Social Business Collaboration</title>

{% block extra_css_pre %}
{% endblock %}

<link href="{{ MEDIA_URL }}new/traffic_geyser_css/reset_net.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}new/traffic_geyser_css/styles_net.css" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}new/Scripts/swfobject_modified.js" type="text/javascript"></script>
<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie6.css" />
<![endif]-->
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie7.css">
<![endif]-->
<!--[if gt IE 7]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie8-and-up.css" />
<![endif]-->
<!--[if gte IE 8]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie8-and-up.css" />
<![endif]-->
</head>

<body>
<div id="main_container"> 
  
  <!--HEADER STARTS-->
  <div id="header_container">
  	<div id="logo">
  	{% block logo_link_image %}
		{% if user_theme.logo %}<a href="{% url home %}"><img src="{{ user_theme.logo.url }}" alt="NetConference" border="0" /></a> {% else %}<a href="{% url home %}"><img src="{{ MEDIA_URL }}new/traffic_geyser_images/traffic_logo.png" alt="NetConference" border="0" /></a> {% endif %}
	{% endblock %}
	</div>
	{% block nav %}
	<div id="top_navi">
    	{% if user.is_authenticated %}
	{% url conferencing as conferencing %}
        <a id="dashboard_nav" href="{{ conferencing }}" class="{% active_nav request conferencing %}" >{% trans "Dashboard" %}</a>
	{% url my_conferences as my_conferences %}
        <a id="conf_nav" href="{{ my_conferences }}" class="{% active_nav request my_conferences %}">{% trans "Conferences" %}</a>
	{% url my_files as my_files %}
        <a id="files_nav" href="{{ my_files }}" class="{% active_nav request my_files %}">{% trans "Files" %}</a>
	{% url my_netsign as my_netsign  %}
        <a id="netsign_nav" href="{{ my_netsign }}" class="{% active_nav request my_netsign %}">Netsign</a>
	{% url vmail_compose as vmail_compose %}
        <a id="messages_nav" href="{{ vmail_compose }}" class="{% active_nav request vmail_compose %}">{% trans "Messages" %}</a>
	{% url invitations_contacts as invitations_contacts  %}
        <a id="contacts_nav" href="{{ invitations_contacts }}" class="{% active_nav request invitations_contacts %}">{% trans "Contacts" %}</a>
	{% url project_list as project_list %}
        <a id="projects_nav" href="{{ project_list }}" class="{% active_nav request project_list %}">{% trans "Projects" %}</a>
    {% else %}
	{% url netconference as netconference %}
   	<a id="whats_netc_logout_nav" href="{{ netconference }}" class="{% active_nav request netconference %}">{% trans "What is NetConference?" %}</a>
	{% url features_home as features_home  %}
	<a id="features_logout_nav" href="{{ features_home }}" class="{% active_nav request features_home %}">Features</a>
	{% url subscription_list as subscription_list  %}
	<a id="pricing_logout_nav" href="{{ subscription_list }}" class="signup_link {% active_nav request subscription_list %}" rel="#signup_note"><span class="green_text">Plans & Pricing</span></a>
	{% url acct_signup as acct_signup %}
		<a id="signup_logout_nav" href="{{ acct_signup }}" class="signup_link {% active_nav request acct_signup %}" rel="#signup_note">Get Started</a>
	{% endif %}
	</div>
    
	
	{% endblock %}
    <div id="account_details">
	  {% block account_links %}
      <div id="settings">
      	{% if user.is_authenticated %}<a href="{% url subscription_list %}">UPGRADE</a> <a href="{% url acct_settings %}">SETTINGS</a>{% endif %} <a href="{% url help %}">HELP</a>
      </div>
      <div id="login">
      	{% if user.is_authenticated %}
	<a href="{% url acct_logout %}">LOGOUT</a> / <a href="{% url profile_detail user %}">PROFILE</a>
	{% else %}
	<a href="{% url acct_login %}">LOGIN</a> / <a href="{% url subscription_list %}">SIGN UP</a>{% endif %}
      </div>
      {% endblock %} 
    </div>
    <div class="clear"></div>
  </div>
  <!--HEADER ENDS--> 
  
  
  {% block submenu %}
  <!--SUBMENU STARTS-->
  <div id="submenu_container"></div>
  <!--SUBMENU ENDS-->
  {% endblock submenu %} 
 
 {% block content %}
 {% endblock content %}
 
 {% block footer %}
  
  <!--FOOTER STARTS-->
  <div id="footer">
    <div class="left">© 2006-2010<a href="http://nxtgen.tv/" target="_blank"> NxtGen LLC</a> • 
	<a href="{% url contact %}">Contact</a> • 
	(818) 934-1204
	<br/>
    <a href="http://nxtgen.tv/" target="_blank">NxtGenTV</a> NetConference technology created by 
	<a href="http://www.illusionfactory.com/" target="_blank">The Illusion Factory</a>
	</div>
    <div class="right">
    	<a href="{% url affiliate_opportunity %}">Opportunity</a> • 
	<a href="/invest/">Investor Relations</a> • 
	<a href="http://feedback.netconference.com/" style="color:#86CD03;">Feedback</a> •  
	<a href="{% url terms %}">Terms of Service</a> • 
	<a href="{% url privacy %}"> Privacy Policy</a>
	<br/>
      Translate: <a href="{% url acct_language_change %}"><img src="{{ MEDIA_URL }}new/images/maps.png" width="134" height="15" alt="Maps" /></a>
	   &nbsp;<a href="http://www.la.bbb.org/Business-Report/NxtGenTV-LLC-100097178"><img src="{{ MEDIA_URL }}new/images/bbb_icon.gif" width="37" height="36" alt="bbb" /></a> &nbsp;
	  <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=XtsRX9f9yipRMIWJgGecrgSHLpzopsfxYINOI0oNEwBzmJfUy4PSv0xo9G"></script></span> 
    <div class="clear"></div>
  </div>
  <!--FOOTER ENDS-->
 {% endblock footer %} 
  
</div>

{% block footerscript %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.conf.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	    $(".video_trigger").overlay({ 
            expose: { 
                color: '#333', 
                loadSpeed: 200, 
                opacity: 0.9
            },
            effect: 'apple'
        }).load();
  $("ul.subnav li").mouseout(function(eventObj) { $("li.current a").css("color", "#f40123"); });
  $("ul.subnav li").mouseover(function(eventObj) { 
    if ($(this).attr("class") != "current") {
      $("li.current a").css("color", "#ffffff");
    }
  });
  $(function() { $(".subnav").lavaLamp({ fx: "backout", speed: 600 })}); 
});
</script>
{% endblock footerscript %}

{% block extrafooterscript %}
{% endblock %}
    

</body>
</html>
