
{% load wiki_tags %}
{% load avatar_tags %}
{% load markup_tags %}

<tr class="{% cycle odd,even %}">
    <td class="meta">
        <div class="avatar">{% avatar article.creator 40 %}</div>
        <div class="details">
            <a href="{% url user_dashboard article.creator.username %}">
                {{ article.creator }}
            </a>
        </div>
        {{ article.last_update|date }}
    </td>
    <td>
        <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
        <div class="body">{{ article.summary|apply_markup:article.markup }}</div>
    </td>
</tr>
