{% extends group_base|default:"site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block subnav %}
     <ul class="subnav">
        {% if user.is_authenticated %}
                <li class="current"><a href="{% url tribe_list %}">{% trans "All Activity Groups" %}</a></li>
            {% ifequal user_subscription.subscription.name "Basic Account" %}
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Your Activity Groups" %}</a></li>
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Create a Workgroup" %}</a></li>
    		    <li class="current"><a href="{% groupurl wiki_list group %} ">{% trans "Wiki Articles" %}</a></li>
    		{% else %}
    		    {% if user_subscription %}
    		    <li><a href="{% url your_tribes %} ">{% trans "Your Activity Groups" %}</a></li>
                <li><a href="{% url tribe_create %}">{% trans "Create a Workgroup" %}</a></li>
                <li class="current"><a href="{% groupurl wiki_list group %} ">{% trans "Wiki Articles" %}</a></li>
    		    {% else %}
    		    <li><a href="" class="modalInput" rel="#upgrade_notice">{% trans "Your Activity Groups" %}</a></li>
                <li><a href=""class="modalInput" rel="#upgrade_notice">{% trans "Create a Workgroup" %}</a></li>
                <li class="current"><a href="{% groupurl wiki_list group %} ">{% trans "Wiki Articles" %}</a></li>
    		    {% endif %}
    		{% endifequal %}
        {% endif %}
    </ul>
{% endblock %}
