{% extends 'wiki/base.html' %}

{% load i18n %}
{% load wiki_tags %}
{% load group_tags %}

{% block head_title %}Wiki for {{ group.name }} - {{ article.title }} {% endblock %}

{% block body %}
<div style="margin: 0px 20px;">
    {% wiki_title group %}

    <h2><a href="{% groupurl wiki_article group title=article.title %}">{{ article.title }}</a></h2>

    {% if changeset.old_title %}
        <h3>{{ changeset.old_title }}</h3>
    {% endif %}

    {{ changeset.display_diff|safe }}<br />
    <b>{% trans "Markup:" %}</b>
    {% if changeset.old_markup %}
        {{ changeset.old_markup }}
    {% else %}
        {% trans "Plain Text." %}
    {% endif %}
</div>
{% endblock %}
