{% extends "wiki/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load wiki_tags %}
{% load group_tags %}

{% block head_title %}Wiki for {{ group.name }} - {% trans "Edit Article" %} {% endblock %}

{% block body %}
<style>
input, textarea { width: 500px ! important; display: block; clear: left; }
#hint_id_slug { clear: left; display: block; text-align: center; width: 100%; margin-left:0; }
</style>

<div style="margin: 0px 20px;">
    {% wiki_title group %}
    
    <h1 class="uni_form_header">{% trans "Edit Article" %}</h1>
    
    <form method="POST" action="" class="uniForm">
        <fieldset class="inlineLabels">
            {{ form|as_uni_form }}
            <div class="form_block">
                <button type="submit" class="positive"><img src="/site_media/img/silk/accept.png" border="0" /> {% trans "Save Article" %}</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
