{% extends "wiki/base.html" %}

{% load timezone_filters %}
{% load i18n %}
{% load wiki_tags %}
{% load group_tags %}

{% block head_title %}Wiki for {{ group.name }} - {{ article.title }} {% endblock %}

{% block body %}
<div style="margin: 0px 20px;">
    {% wiki_title group %}

    <h1 class="items_list_top" style="width:850px;margin-left:40px;">{% trans "History for article" %} <a href="{% groupurl wiki_article group title=article.title %}"> {{ article.title }} </a></h1>

    {% if changes %}
         <form method="post" action="{% groupurl wiki_revert_to_revision group title=article.title %}">
	   
            <table class="messages items_list"  >
                <tr class="tbheader">
                    <td>{% trans "Date" %}</td>
                    <td>{% trans "Editor" %}</td>
                    <td>{% trans "Comment" %}</td>
                    <td>{% trans "Revert to..." %}</td>
                </tr>
                {% for change in changes %}
                    <tr>
                        <td>
                            <a href="{% groupurl wiki_changeset group title=article.title revision=change.revision %}">
                            {{ change.modified|localtime:account.timezone|date:_("DATETIME_FORMAT") }}</a>
                        </td>
                        <td>
                            {% if change.is_anonymous_change %}
                                {{ change.editor_ip }}
                            {% else %}
                                <a href="{% url user_dashboard change.editor.username %}">{{ change.editor }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if change.comment %}<i>'{{ change.comment}}'</i> {% endif %}
                        </td>
                        <td>
                            {% if forloop.first %}
                                {% trans "Current Revision" %}
                            {% else %}
                                <input name="revision" type="radio"
                                       {% if not allow_write %}disabled="disabled"{% endif %}
                                       value="{{ change.revision }}">
                            {% endif %}
                        </td>
                    </tr>
             {% endfor %}
           </table>
               
               {% ifequal user_subscription.subscription.name "Basic Account" %}
                   <a href="" class="modalInput button" rel="upgrade_notice">{% trans "Revert" %}</a>
               {% else %}
       		    {% if user_subscription %}
                  <input type="submit" class="button" value="{% trans "Revert" %}" {% if not allow_write %}disabled="disabled"{% endif %}>
       		    {% else %}
       		    <a href="" class="modalInput button" rel="upgrade_notice">{% trans "Revert" %}</a>
       		    {% endif %}
       		{% endifequal %}

         </form>
    {% else %}
        <p>{% trans "No changes in this article" %}</p>
    {% endif %}
</div>
{% endblock %}
