{% extends "wiki/base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load group_tags %}
{% load pagination_tags %}
{% load humanize %}

{% block head_title %}Wiki for {{ group.name }}{% endblock %}

{% block body %}
<div style="margin: 0px 20px;">
    {% wiki_title group %}

{% comment %}
    {% include "wiki/searchbox.html" %}
{% endcomment %}

    {% autopaginate articles %}

    {% regroup articles by created_at.date as articles_by_creation_date %}

    {% if articles %}
        {% for date in articles_by_creation_date %}
            <h2 class="join_date">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h2>

            {% for article in date.list %}
                <a href="{% groupurl wiki_article group title=article.title %}">{{ article.title }}</a><br />
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if allow_write %}
        <a href="{% groupurl wiki_edit group title=new_article.title %}" class="button" style="margin-left:20%;"><img src="/site_media/img/silk/newspaper_add.png" border="0" /> Start a New Article</a>
    {% endif %}
</div>
{% endblock %}
