{% load i18n %}
{% load group_tags %}
{% load uni_form %}

{% if search_form %}
    <h1 class="uni_form_header">Search the Wikis</h1>
    <div id="searchbox">
        <form class="uniForm" method="post" action="{% groupurl wiki_search group %}">
            <fieldset class="inlineLabels">
                {{ search_form|as_uni_form }}
                    <button type="submit" name="search_button"><img src="/site_media/img/silk/magnifier.png" border="0" />  {% trans 'Search' %}</button>
            </fieldset>
        </form>
    </div>
{% endif %}
