{% extends "wiki/base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load group_tags %}
{% load markup_tags %}
{% load extra_tagging_tags %}


{% block head_title %}Wiki for {{ group.name }} - {{ article.title }} {% endblock %}

{% block body %}
<div style="margin: 0px 20px;">
    {% if allow_write or article.id %}
    <div class="right_panel" style="width:160px;">
        <div class="actions" style="line-height:1.4em;">
            <h2>{% trans "Actions" %}</h2>
            {% if article.id %}
            <p>
                {% if allow_write %}
                        
                    {% ifequal user_subscription.subscription.name "Basic Account" %}
                        <a href="" class="modalInput" rel="#upgrade_notice">{% trans "Edit this article" %}</a><br />
                    {% else %}
            		    {% if user_subscription %}
                        <a href="{% groupurl wiki_edit group title=article.title %}">{% trans "Edit this article" %}</a><br />
            		    {% else %}
            		    <a href="" class="modalInput" rel="#upgrade_notice">{% trans "Edit this article" %}</a><br />
            		    {% endif %}
            		{% endifequal %}

                {% endif %}
                <a href="{% groupurl wiki_article_history group title=article.title %}">{% trans "Editing history" %}</a><br />

            {% else %}

                <a href="{% groupurl wiki_edit group title=article.title %}">{% trans "Create this article" %}</a>
            </p>

            {% endif %}
        </div>
    </div>
    {% endif %}

    {% wiki_title group %}

    <h2><a href="{% groupurl wiki_article group title=article.title %}" rel="bookmark">{{ article.title }}</a></h2>

    {% if not article.id and allow_write %}
        <p>
            {% trans "This article does not exist." %}
            <a href="{% groupurl wiki_edit group title=article.title %}" {% trans ">Create it now?" %}</a>
        </p>
    {% endif %}
    <div style="width:655px;">
        {{ article.content|apply_markup:article.markup|wiki_links }}
    </div>
    <br /><br />
    {# {% show_tags_for article %} #}

    {# @@@ this should be done via inclusion tag provided by notification #}
    {% if article.id and can_observe %}
    <br /><br />
        
        {% ifequal user_subscription.subscription.name "Basic Account" %}
            <a href="" class="modalInput button" rel="#upgrade_notice">{% trans "Observe Article" %}</button>
        {% else %}
		    {% if user_subscription %}
                {% if is_observing %}
                    <form action="{% groupurl wiki_stop_observing group title=article.title %}" method="post">
                        <button type="submit">{% trans "Stop Observing Article" %}</button>
                    </form>
                {% else %}
                    <form action="{% groupurl wiki_observe group title=article.title %}" method="post">
                        <button type="submit">{% trans "Observe Article" %}</button>
                    </form>
                {% endif %}
		    {% else %}
		    <a href="" class="modalInput button" rel="#upgrade_notice">{% trans "Observe Article" %}</a>
		    {% endif %}
		{% endifequal %}

    {% endif %}
</div>
{% endblock %}
