{% extends "schedule/base.html" %}

{% block subnav %}
{% include "dashboard_subnav.html" %}
{% endblock %}

{% block body %}
<div class="meter_content">
 <div class="meter_icon"><img src="{{MEDIA_URL}}img/meter_icon.png" width="57" height="60" alt="Usage Meter" /></div>
 <div class="meter_title">Usage Meter</div>
 <div class="clear"></div>
</div>
<br/>
<h1 class="items_list_top">Usage meter from {{period_start|date}}</h1>
<table border="0" cellpadding="0" cellspacing="0" class="messages">
  <thead>
    <tr class="items_list_def">
      <th align="left"></th>
      <th align="center">Used </th>
      <th align="center">Available </th>
      <th align="center">Consumed </th>
    </tr>
  </thead>
  <tbody>
{% for rest in meter_dict %}
<tr class="items_list_row {% cycle 'row1' 'row2' %}">
<td>{{rest.verbose}}</td><td>{{rest.used}}</td><td>{{rest.max}}</td>
<td>
<span class="progressBar" id="pb{{forloop.counter}}">
</span>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<br/>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.progressbar.min.js"></script>
<script>
$(document).ready(function() {
    {% for rest in meter_dict %}
				$("#pb{{forloop.counter}}").progressBar({{rest.disp_percent_complete}},
				{barImage : {
				       	        0:  '{{MEDIA_URL}}img/progressbg_green.gif',
						30: '{{MEDIA_URL}}img/progressbg_yellow.gif',
						50: '{{MEDIA_URL}}img/progressbg_orange.gif',
						70: '{{MEDIA_URL}}img/progressbg_red.gif'
					    },
					  showText: false,
					  width			: 120
					  });
				<!--$("#pb2").progressBar({ barImage: '{{MEDIA_URL}}img/progressbg_yellow.gif'} );-->
				<!--$("#pb3").progressBar({ barImage: '{{MEDIA_URL}}img/progressbg_orange.gif', showText: false} );-->
				<!--$("#pb4").progressBar(65, { showText: false, barImage: '{{MEDIA_URL}}img/progressbg_red.gif'} );-->
    {% endfor %}
			});
</script>
{% endblock %}
