/* @@@ this has some overlap with topics.css and needs review */

.responses .even, .topics .even {
    background-color: #FAFAFA;
}
.responses .odd, .topics .odd {
    background-color: #F3F3F3;
}
ul.responses {
    margin-left: 0px;
    padding-left: 0px;
    margin: 0px 40px;
}
ul.responses li {
    list-style-type: none;
}
div.meta {
    float: left;
    width: 100px;
    margin: 4px;
    padding: 4px;
}
div.bulk {
    margin-left: 120px;
    padding: 4px;
}
.hidden { display: none; }
li.thread-0 { margin-left: 0px ! important; }
li.thread-1 { margin-left: 20px ! important; }
li.thread-2 { margin-left: 40px ! important; }
li.thread-3 { margin-left: 60px ! important; }
li.thread-4 { margin-left: 80px ! important; }
li.thread-5 { margin-left: 100px ! important; }
li.thread-6 { margin-left: 120px ! important; }
li.thread-7 { margin-left: 140px ! important; }
li.thread-8 { margin-left: 160px ! important; }
