/* this has some overlap with comments.css and needs review */

table.topic, table.topics {
    width: 100%;
}
table.topic td, table.topics td {
    vertical-align: top;
    padding: 5px 20px 5px 5px;
}
table.topic td h1, table.topics td h2 {
    margin: 0;
    padding: 0;
}
.responses .even, .topics .even {
    background-color: #FAFAFA;
}
.responses .odd, .topics .odd {
    background-color: #F3F3F3;
}
.responses {
    margin-left: 0px;
    padding-left: 0px;
}
.responses li {
    list-style-type: none;
}
td.meta {
    width: 100px;
    margin: 4px;
}
div.meta {
    float: left;
    width: 100px;
    margin: 4px;
    padding: 4px;
}
div.bulk {
    margin-left: 14px;
    padding: 4px;
}
.hidden { display: none; }
.container .thread-0 { margin-left: 0px; }
.container .thread-1 { margin-left: 20px; }
.container .thread-2 { margin-left: 40px; }
.container .thread-3 { margin-left: 60px; }
.container .thread-4 { margin-left: 80px; }
.container .thread-5 { margin-left: 100px; }
.container .thread-6 { margin-left: 120px; }
.container .thread-7 { margin-left: 140px; }
.container .thread-8 { margin-left: 160px; }

table.topics .created {
    color: #999;
    font-size: 90%;
}
table.topics .comment_stats {
    color: #999;
    border-top: 1px solid #CCC;
    font-size: 90%;
}