body {
    background-color: #FFF;
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    color: #333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 10pt;
}
a, a:visited {
    color: #13C;
}
img {
    border: 0;
}
dt {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    font-size: inherit;
}
td {
    margin: 0;
    border: 0;
    padding: 0;
}
#body {
    clear: both;
    margin: 0 auto;
    padding: 10px;
    width: 800px;
}
#footer {
    color: #999; /* footer text colour */
    margin: 50px auto;
    padding: 10px;
    clear: both;
    width: 800px;
}
#footer a, #footer a:visited {
    color: #444; /* footer link colour */
}
#footer a:hover {
    color: #777; /* footer link hover colour */
}
#site_wide_announcements {
    background: #e4d6f1;
    border-bottom: 1px solid #c7b2db;
    padding: 10px 0px;
    text-align: center;
}
#site_wide_announcements ul {
    padding: 0;
    margin: 0;
}
#site_wide_announcements ul li { list-style: none; }
#site_wide_announcements ul li a { color: #222; text-decoration: none; font-size: 12px; }
h1 {
    margin: 0;
}
#tabhead {
    position: relative;
    background: #035 url('/site_media/pinax/images/heading.png') left top repeat-x;
    border-bottom: 1px solid #000; /* tab border */
}
#tabhead .logo {
    height: 80px;
    padding-left: 5px;
    padding-top: 0;
}
#tabhead .logo img {
    width: 190px;
    height: 79px;
}
#tabhead .login {
    position: absolute;
    top: 6px;
    right: 15px;
    color: #DEF; /* login bar text colour */
}
#tabhead .login a, #tabhead .login a:visited {
    color: #DEF; /* login bar link colour */
}
#tabhead .login a:hover {
    color: #FFF; /* login bar link hover colour */
}

form th {
    text-align : left;
}
form.signup input[type="submit"], form.login input[type="submit"] {
    margin: 20px 0;
    font-size: 14pt;
}
input[type="text"], input[type="password"], textarea {
    padding: 3px;
    margin: 3px;
    border: solid 1px #C6C6C6;
    border-bottom: solid 1px #E3E3E3;
    color: #333;
    font-size: 12pt;
    background: #F3F3F3 url('/site_media/pinax/images/form-shadow.png') left top repeat-x;
}
/*
input[type="submit"] {
    background-color: #FFF0F5;
    border: 1px solid #FF0000;
    cursor: pointer;
    color: #FF0000;
    text-decoration: underline;
}
*/
.clearboth {
    clear: both;
}

ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
    color: red;
}
ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 5px 5px 10px;
    background: #EFD;
    margin: 3px;
    border: 1px solid #BC9;
    overflow: auto;
}
ul#messages li a.button {
    float: right;
    color: #693;
}
.verified {
    color: green;
}
.remove {
    color: red;
}
.unverified {
    color: gray;
}
.primary {
    font-weight: bold;
}
table.email_list td {
    padding: 5px 10px;
}
table.invitation_list {
    width: 500px;
}
table.invitation_list td {
    padding: 5px 10px;
}
table.contact_list {
    width: 500px;
}
table.contact_list td {
    padding: 5px 10px;
}
.friendship_request {
    padding: 5px;
    background: #DEF;
    border: 1px solid #9BC;
    overflow: auto;
}
.friendship_request p {
    padding: 0;
    margin: 0;
}
.friendship_request form {
    padding: 0;
    margin: 0;
}
.friendship_request p.invitation_message {
    font-size: 12pt;
    margin: 5px;
}
.warning {
    color: red;
    font-weight: bold;
}

div.notice {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}
div.unseen_notice {
    margin: 0;
    padding: 5px;
    background: #DFC;
    border-bottom: 1px solid #CCC;
}
h2.notice_date,
h2.join_date,
h2.creation_date
{
    font-size: 12pt;
    color: #666;
    border-bottom: 1px solid #999;
}
span.notice_type {
    color: #666;
}
span.notice_message {
}
span.notice_time {
    color: #999;
    font-size: 90%;
}
table.notice_settings td {
    line-height: 90%;
    padding: 5px 10px;
    
}
span.notice_type_description {
    color: #666;
    font-size: 80%;
    font-style: italic;
}

div.profile_info p {
    margin: 0;
}
#avatar_replace {
    position: absolute;
    margin-top: -23px;
    background-color: #FFFFFF;
    padding: 3px;
    display: none;
}
ul.avatar_choices,ul.avatar_choices ul {
    margin-left: 0px;
    padding-left: 0px;
}
ul.avatar_choices li {
    display: inline;
    list-style-type: none;
}
.invitation_5, .invitation_7 {
    color: green;
    font-weight: bold;
}
.invitation_2 {
    color: gray;
}
table.messages {
    width: 100%;
}

table.messages tbody tr {
    border-bottom: 1px solid #ccc;
}

table.messages tr th, table.messages tr td {
    text-align: left;
    padding: 5px;
}

table.messages tr th {
    font-weight:bold;
    border-bottom: 1px solid #999;
}
/*
#subnav {
    margin: 0;
    padding: 0;
    background: #DEF;
    border-bottom: 1px solid #9BC;
}

#subnav ul {
    float: right;
    margin: 0 20px;
    padding: 0;
}

#subnav ul li {
    display: inline;
    list-style-type: none;
}

#subnav ul a:link, #subnav ul a:visited {
    float: left;
    font-weight: bold;
    text-decoration: none;
    color: #444;
    padding: 4px 20px;
}

#subnav ul a:hover {
    color: #FFF;
    background: #9BC;
}
*/
dl.message-headers {
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    padding: 5px 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

dl.message-headers dt {
    width: 70px;
    text-align: right;
    float: left;
    padding-right: 10px;
    font-weight: bold;
    color: #444;
}
dl.message-header dd {
    float: left;
}
div.right_panel {
    margin-top: 20px;
    width: 300px;
    float: right;
    z-index: 999;
}

div.left_panel {
    width: 550px;
}

div.friends {
    background: #eee;
    padding: 8px;
    margin-bottom: 20px;
}
div.friends h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.friends .avatar {
    padding: 0;
    text-align: center;
}
div.friends .details {
    text-align: center;
    overflow: hidden;
    width: 60px;
    margin: 0 0 12px 0;
}
div.tribes {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.tribes h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.members {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.members h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.members .avatar {
    padding: 0;
    text-align: center;
}
div.members .details {
    text-align: center;
    overflow: hidden;
    width: 60px;
    margin: 0 0 12px 0;
}
div.notice_settings {
    background: #DEF;
    padding: 8px;
    margin: 20px 0;
}
div.notice_settings h2 {
    margin: 0 0 5px 0;
    padding: 0;
}
div.tweet {
    width: 500px;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #CCC;
    font-size: 12pt;
}
div.tweet .timesince {
    color: #999;
    font-size: 80%;
}
span#chars_left {
    font-size: 16pt;
}
div.tweet .reply {
    font-size: 80%;
}

#locale_switcher {
    display:inline;
}

.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /* 
    if width will be 100% horizontal scrollbar will apear 
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /* 
    it is very important, if line-height not setted or setted 
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
}

.ac_results li img {
    float: left;
    margin: 5px;
}

.ac_loading {
    background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color: #0A246A;
    color: white;
}

/* topics */
table.topic, table.topics {
    width: 100%;
}
table.topic td, table.topics td {
    vertical-align: top;
    padding: 5px 20px 5px 5px;
}
table.topic td h1, table.topics td h2 {
    margin: 0;
    padding: 0;
}
.responses .even, .topics .even {
    background-color: #FAFAFA;
}
.responses .odd, .topics .odd {
    background-color: #F3F3F3;
}
.responses {
    margin-left: 0px;
    padding-left: 0px;
}
.responses li { 
    list-style-type: none; 
}
td.meta {
    width: 100px;
    margin: 4px;
}
div.meta {
    float: left;
    width: 100px;
    margin: 4px;
    padding: 4px;
}
div.bulk {
    margin-left: 120px;
    padding: 4px;
}
.hidden { display: none; }
.thread-0 { margin-left: 0px; }
.thread-1 { margin-left: 20px; }
.thread-2 { margin-left: 40px; }
.thread-3 { margin-left: 60px; }
.thread-4 { margin-left: 80px; }
.thread-5 { margin-left: 100px; }
.thread-6 { margin-left: 120px; }
.thread-7 { margin-left: 140px; }
.thread-8 { margin-left: 160px; }

table.topics .created {
    color: #999;
    font-size: 90%;
}
table.topics .comment_stats {
    color: #999;
    border-top: 1px solid #CCC;
    font-size: 90%;
}


/* pagination */
.pagination {
    margin: 10px 0;
}
.pagination .disabled {
    padding: 3px;
    color: #999;
    border: 1px solid #CCC;
}
.pagination .current {
    padding: 3px;
    color: #FFF;
    border: 1px solid #9BC;
    background: transparent;
}
.pagination a {
    padding: 3px;
    text-decoration: none;
    border: 1px solid #9BC;
    color: #444;
    background: transparent;
}

/* reference:
 *   http://www.positioniseverything.net/easyclearing.html
 *   http://www.zeldman.com/2006/10/27/ie7fixes1/
 *      comment by michael on 10/28/2006
 */
.clearfix {
    min-height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */

/* feedutil */
.feed-entry-summary {
    font-style: italic;
}
.feed-entries {
    width: 500px;
}

/* bookmarks */
table.narrow {
    width: 500px;
}
table.bookmarks td {
    vertical-align: top;
    padding: 5px;
}
table.bookmarks td h2 {
    margin: 0;
    padding: 0;
}
table.bookmarks td.vote {
    width: 80px;
    text-align: center;
    vertical-align: middle;
}
.bookmarks .even {
    background-color: #FAFAFA;
}
.bookmarks .odd {
    background-color: #F3F3F3;
}
div.url {
    color: #666;
    font-size: 90%;
    font-style: italic;
}



dl.what_next {
    margin: 2em;
}
dl.what_next dt {
    font-size: 120%;
}
dl.what_next dd {
    margin: 0 0 1em 0;
    font-style: italic;
}
p.what_next {
    font-size: 120%;
}
/* blogs */
.blog-post h2 {
    margin: 10px 0 0 0;
    font-style: italic;
}
.blog-post-tease {
    width: 500px;
    float: left;
}
.blog-post-meta {
    width: 200px;
    float: left;
    margin-left: 30px;
}
.blog-post-meta img { 
    border: 1px solid #666;
}
.blog-list tr.odd {
    background-color: #f3f3f3;
}
.blog-list td {
    vertical-align: top;
    padding: 3px 3px 15px 3px;
}
.blog-list td p {
    padding: 0;
    margin: 0;
}

.blog-post-meta img.noborder {
    border: 0;
}

/* projects */
.project_stats {
    color: #999;
    border-top: 1px solid #CCC;
    font-size: 90%;
}


/* tasks */

.tasks .even {
    background-color: #FAFAFA;
}
.tasks .odd {
    background-color: #F3F3F3;
}
table.task td, table.tasks td {
    vertical-align: top;
    padding: 5px 20px 5px 5px;
}
table.task, table.tasks {
    width: 100%;
}

div.task-meta {
    float: left;
    width: 150px;
    margin: 4px;
    padding: 4px;
    font-size: 80%;
}

div.task div.bulk h2 {
    margin: 0;
}
div.task-meta2 {
    color: #666;
    margin-top: 1em;
    font-size: 90%;
}

div.task-meta2 b {
    color: #000;
}

tr.task_resolved td a, tr.task_closed td a {
    text-decoration: line-through;
}

h2.task_resolved, h2.task_closed {
    text-decoration: line-through;
}

/* PHOTOS **************************************/
.thumb-row {
    margin: 20px 0;
    padding: 20px 0;
}
.gallery-photo-thumb {
    width: 100px; 
    margin: 10px 10px 20px 0;
    float: left;
    text-align: center;
}

.photo-right-profile, .photo-right-tools {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}

.photo-profile-details {
    font-size: 0.9em;
}

.photo-avatar {
    float: left;
    margin-right: 10px;
}

.photo-avatar img {
    border: 1px solid #666;
}

.photo-right-tools ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.photo-right-tools ul li {
    background: #fff;
    padding: 2px 4px;
    margin: 2px 0;
}

.photo-right-tools li a {
    text-decoration: none;
}

.photo-right-tools li:hover {
    background: #DDDDDD;
}

.photo-profile-details h2 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

.photo-right-tools h2 {
    margin: 0 0 5px 0;
    padding: 0;
}

#embed-code textarea {
    width: 150px;
    font-size: 0.8em;
}
div.embed {
    margin: 10px 0;
    font-style: none;
}

.photo-right-tools form {
    margin: 0;
    padding: 0;
}
/* FORMS **********************************/

/* ----------- basic-sm ----------- */

#basic-form .underlineme {
    border-bottom: 4px solid #DEDEDE;
    margin-top: 15px;
}
#basic-form hr {
  border-top:solid 4px #DEDEDE;
}
#basic-form p{
  color:#666666;
  border-bottom:solid 1px #dedede;
  padding-bottom: 5px;
}
#basic-form label{
  display:block;
  font-weight:bold;
}
#basic-form td {
  padding: 2px;
}
#basic-form td.rightd {
  padding-right: 70px;
}
#basic-form span{
  color: #aaa;
  font-style: italic;
  width:300px;
}
#basic-form input, #basic-form select{
  float:left;
  margin:2px 0 2px 10px;
  font-size: 11px;
}

#basic-form textarea{
  float:left;
  margin:2px 0 2px 10px;
  font-size: 11px;
}

#basic-form .button{ 
  clear:both;
  width:125px;
  height:31px;
  text-align:center;
  line-height:20px;
  color:#FFFFFF;
  font-size:11px;
  font-weight:bold;
  border: 0 transparent;
  background: url(button.png) no-repeat;
  margin-top: 20px;
  cursor: pointer;
}
.delete_form {
    padding: 5px;
    background: #F99;
}

/* Fieldsets */
fieldset { padding: 20px; margin: 0 0 1.5em 0; border: 2px solid #ddd; }
legend { padding: 0 .4em; font-weight: bold; font-size: 1.2em; }

.left-form {
    width: 360px;
    float: left;
    margin-right: 60px;
}

.right-form {
    width: 360px;
    float: right;
}
.right-form p {
    line-height: 21px;
}
.padtop {
    margin-top: 20px;
}

.signupform {
    float: left;
}

/* form toggle */

.form-toggle p {
    margin-bottom: 2px;
}

.form-toggle p span {
    background: #DEF;
    padding: 3px 6px;
    border-top: 1px solid #9BC;
    border-left: 1px solid #9BC;
    border-right: 1px solid #9BC;
    cursor: pointer;
}

.form-toggle form {
    padding: 3px 6px;
    margin: 0;
    background: #DEF;
    border: 1px solid #9BC;
}

.form-toggle input[type="submit"] {
}

/* locations */
div#ymap {
    width: 350px;
    height: 200px;
    float: right;
    border: 1px solid gray; 
}