{% extends "new_base.html" %}

{% load i18n %}

{% block extra_css_pre %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/uni-form.css" type="text/css" media="screen" />
{% endblock %}

{% block extra_css_post %}
<style type="text/css" media="screen">
.subnav { margin: 0px; }
.errorlist { display: block; position:static; }
.errorlist li { display: block; list-style: none; }
</style>
{% endblock %}

{% block submenu %}
{% block subnav %}
{% include "store/navigation_frag.html" %}
{% endblock %}
{% endblock %}

{% block content %}
<ul id="messages">
  {% for message in messages %}
  <li>{{ message }}<a href="#" class="buttonGreenSmall message-close" style="float:right;text-align:center;text-decoration:none;line-height:25px;margin-bottom:10px;">{% trans "Clear" %}</a></li>
  {% endfor %}
</ul>
{% block body %}
{% endblock %}
{% endblock %}
		    

