{% extends "store/base.html" %}
{% load i18n %}

{% load store_tags %}

{% block head_title %}
{% blocktrans with store_owner.username as username %}{{ username }}'s Store{% endblocktrans %}
{% endblock %}

{% block body %}

<div id="content_container"> 
{% ifequal user store_owner %}
  <img src="{{ MEDIA_URL }}img/store_banner.png" alt="Try the Best Online Conferincing System for Free" width="898" height="154" /> 
 {% endifequal %}
  <h1 class="alc2">
  	<span class="purple">{{ store_owner.username }}'s</span><span class="initcap"> {% trans "files Available For Purchase." %}</span></h1>

  <div class="category_list">
    <h1 class="categoty_title">{% trans "Categories" %}</h1>
    <table width="240" border="0" cellspacing="0" cellpadding="0" class="items_listcat">
      <tr class="items_list_def">
        <td>{% trans "Browse files by category" %}</td>
      </tr>
      <tr class="items_list_def">
        <td>
        	<ul>
            {% for category in categories %}
            <li {% ifequal category.1 selected_category %}class="current"{% endifequal %}><a href="{% url store_buy_user_files_category store_owner.username category.0 %}">{{ category.1 }}</a></li>
            {% endfor %}
          </ul>
		 </td>
      </tr>
    </table>
  </div>
  
  <div class="store_products">
    <ul>
      {% for obj in object_list %}
      <li>

        <div class="pro_bound"> <span class="catname">{{ obj.file.title }}: <br/>
          {% if obj.category %}<a href="{% url store_buy_user_files_category obj.user.username obj.urlized_category %}">{{ obj.category }}</a>{% endif %}</span> <img src="{{ obj.thumbnail.url }}" width="88" height="120" alt="{{ obj.file.title }}" /><br/>
          {% trans "Price" %} : ${{ obj.price }}<br/>
		  {% if is_adaptive_payment %}
		  	<a href="{% url store_file_paypal obj.file.urlhash %}" class="cart_but"><span class="none">{% trans "Buy it now" %}</span></a> </div>
		  <div class="cart_but">
			  {% else %}
			  	{% store_paypal_form obj paypal_email %}
			  {% endif %}
          </div>

      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
