{% extends "store/base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "Sell File" %}
{% endblock %}

{% block extra_css_post %}
<style type="text/css">
.errorlist { display: block; position:static; }
.errorlist li { display: block; list-style: none; }
</style>
{% endblock %}

{% block body %}
<br />
<h1 class="store_title" style="width:99%;">{% trans "Set price for" %} {{ ufile.title }}</h1>
<form class="uniForm" action="." method="post" enctype="multipart/form-data" style="width:100%;margin:0px;">
  <div class="ctrlHolder">
    <table border="0" style="width:100%;">
      {{ form.as_table }}
      <tr><td colspan="2"><input type="submit" class="buttonGreenSmall" value="{% trans "Sell" %}" /></td></tr>
    </table>
  </div>
</form>
{% endblock %}
