{% extends "store/base.html" %}

{% block body %}
<div class="innercontent_block">
<h1 class="title"> Bought File </h1>
<br/>
 <h1 class="store_title">Bought file {{ ufile.title }}</h1>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="items_listsell">
<tr>
<td>
<p>
	You bought the file {{ ufile.title }} for $ {{ store_object.price }}. Thanks for your purchase!
	
</p>

<p>
	You can download it from <a href="{{ ufile.get_download_url }}">here</a>
</p>
</td>
</tr>
</table>

</div>
{% endblock %}
