{% extends "store/base.html" %}

{% block body %}
<div class="innercontent_block">
 <h1 class="store_title">Your sold files</h1>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="items_listsell">
		<tr  class="items_list_def">
		  <td align="left">
				File
			</td>
			<td align="center">
				Sold on
			</td>
			<td align="center">
				Sold for
			</td>
			<td align="center">
				Category
			</td>
		</tr>
		
		{% for obj in object_list %}
<tr class="items_list_row {% cycle 'row1' 'row2' %}">
			<td align="left" class="leftalign">
				{{ obj.store_object.file.title }}
			</td>
		<td align="center">
			{{ obj.created|date }}
		</td>
		<td align="center">
			{{ obj.price_paid }}
  </td>
			<td align="center">
				{{ obj.store_object.category }}
	    </td>
		</tr>
		{% endfor %}
	
</table>
</div>
{% endblock %}
