{% extends "store/base.html" %}

{% block body %}
<div class="innercontent_block">
<h1 class="title">Upgrade</h1>
<br/>
<h3>Please upgrade.</h3>

<p>
	You tried to sell a file. This function is available only to subscribers with basic account or higher.
	<a href="{% url subscription_list %}">Please upgrade.</a> 
</p>	  


</div>
{% endblock %}