<div id="submenu_container">
  <ul class="subnav">
    <li class="current"><a href="{% url store_index %}">Store</a></li>
    {% if request.user.is_authenticated %}<li><a href="{% url store_set_paypal %}">Set PayPal Address</a></li>{% endif %}
  </ul>
</div>

