{% extends "store/base.html" %}

{% block body %}
<div class="innercontent_block">
<h1 class="title"> Trouble connecting Paypal</h1>
<br/>
<h3>
	We had some trouble connecting to Paypal, please try again later.
</h3>

</div>
{% endblock %}