{% extends "store/base.html" %}
{% load i18n %}


{% block head_title %}
{% trans "Set PayPal Address" %}
{% endblock %}

{% block subnav %}
<div id="submenu_container">
  <ul class="subnav">
    <li><a href="{% url store_index %}">{% trans "Store" %}</a></li>
    {% if request.user.is_authenticated %}<li class="current"><a href="{% url store_set_paypal %}">{% trans "Set PayPal Address" %}</a></li>{% endif %}
  </ul>
</div>
{% endblock %}

{% block body %}
<ul id="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
<div class="innercontent_block">
  <h1 class="store_title">{% trans "Set your PayPal id" %}</h1>

<p><strong>{% trans "Note:" %}</strong>{% blocktrans %}Sales from your store are directly credited into your paypal account.{% endblocktrans %}</p>
<form action="." method="post">
  {{ form.as_p }}
  <br />
  <div >
  <input type="submit" class="buttonGreen" value="{% blocktrans %}Set your paypal address{% endblocktrans %}" style="float:left;clear:both;"/>
  </div>
</form>
</div>
{% endblock %}
