{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Page Not Found" %}{% endblock %}

{% block content950top %}
{% endblock %}

{% block body %}

<div style="width:640px;">
<ul id="messages">
  {% for message in messages %}
    <li>{{ message }}<a href="#" class="buttonGreenSmall message-close" style="margin-bottom:15px;float:right;line-height:25px;text-decoration:none;text-align:center;" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;">{% trans "clear" %}</a></li>
  {% endfor %}
</ul>
 <h1 style="font-size:96px;color:#a12ec1;float:left;margin-left:60px;">404</h1>
 <h1 style="float:right;margin-top:60px;color:#a12ec1;">{% trans "PAGE COULD NOT BE FOUND" %}</h1>
 <img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="900px" alt="Separator Line" />
 <div style="width:560px;position:relative;left:30%;">
   <h1 style="color:#a12ec1;">
   {% if message %}
   {{ message }}
   {% else %}
   {% trans "Sorry, the page you are looking for may have moved and cannot be found at this address." %}
   {% endif %}
   
   </h1>
 </div> 
 <div style="margin-top:50px;position:relative;left:15%;">
   <p style="text-align:center;color:#999999;font-size:16px;">{% trans "Please click below to visit our home page. Thanks!" %}</p>
   <p class="buttonPurple" style="font-size:20px;line-height:50px;">
     <a href="{% url home %}" style="color:white;padding-left:18px;">
       {% trans "NetConference Home" %}
     </a>
   </p>
 </div>
</div>
	
{% endblock %}

{% block content950bot %}
{% endblock %}
