{% extends "new_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Application Error" %}{% endblock %}

{% block content %}
<div id="content">
 <h1 class="page_header_500">{% trans "NetConference: Application error" %}</h1>
 <img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="900px" alt="Separator Line" />
 <div>
   <h1 class="page_header_500" style="position:relative;align:left;width:75%;left:10%;">
   {% if message %}
   {{ message }}
   {% else %}
   {% blocktrans %}We've encountered an error and our technical service has been notified. We apologize for any inconvenience this causes you. Please click on the feedback tab to help us prevent this from happening in the future.{% endblocktrans %}
   {% endif %}
   </h1>
 </div> 
 <div>
   <br />
   <p style="text-align:center;color:#999999;font-size:16px;">{% trans "Please click below to visit our home page. Thanks!" %}</p>
   <p class="buttonPurple" style="font-size:20px;line-height:50px;">
     <a href="{% url home %}" style="color:white;padding-left:18px;text-decoration:none;">{% trans "NetConference Home" %}</a>
   </p>
 </div>
</div>
<a href="http://feedback.netconference.com/" target="_blank" class="feedback_btn"><p>{% trans "Feedback" %}</p></a>
{% endblock %}
