{% load comments %}
<html>
<body>
{% get_comment_form for activity as form %}
<table>
<form action="{% url activity_comment activity.id %}" method="post">
    {{form}}
    <tr>
    <td><input type="submit"></td>
    </tr>
</form>
</table>
</body>
</html>