{% load i18n %}
{% load uni_form %}
{% load ifsetting_tag %}
{% load compress %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    	<meta name="distribution" content="global"/>
    	<meta name="revisit-after" content="5 days"/>
    	<meta name="robots" content="{% block robots %}index, follow{% endblock %}"/>
    	<meta name="author" content="Written by Colby Palmer for NxtGenTV, http://nxtgen.tv"/>
    	<meta name="copyright" content="NxtGenTV LLC, 2006 - 2010"/>
    	<meta name="keywords" content="netconference, web conference, web meeting, webinar, shared desktop, collaboration, online meetings, shared video, video chat, business collaboration, social business collaboration, webmeeting, video conference, video conferencing, webex, webinar, web conference, web meeting, online conferencing, web meetings, online conference, webconference, netconference, net conference, webmeetings, onlineconference, go to meeting, gotomeeting, gotowebinar"/>
    	<meta name="description" content="NetConference is a Social Business Collaboration system that allows real-time webconferences, collaboration and distant learning. Features include screen sharing (desktop sharing), video chat, digital signature, online meetings, web conferences, real-time collaboration, file sharing, file storage, and can be applied in many ways: business meetings, customer service, education, training seminars."/>
        

	<title>{% block head_title %}{% endblock %} - {% if SITE_NAME %}{{ SITE_NAME }}{% endif %}</title>

{% block extra_css_pre %}
{% endblock %}

	<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico">
	<link href="{{ MEDIA_URL }}new/css/reset_net.css" rel="stylesheet" type="text/css" />	
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/uni-form.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen, projection" />        
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, projection" />		
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/print.css" type="text/css" media="print" />	
	<link href="{{ MEDIA_URL }}new/css/styles_net_old.css" rel="stylesheet" type="text/css" />

<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie6.css" />
<![endif]-->
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie7.css">
<![endif]-->
<!--[if gt IE 7]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie8-and-up.css" />
<![endif]-->
<!--[if gte IE 8]>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ie8-and-up.css" />
<![endif]-->

	{% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
</head>

<body>
<form id="virtual_form" action="http://support.netconference.com/index.php?/Base/User/Login/" method="post">
<input  type="hidden" name="_redirectAction" value=""/>
<input type="hidden" name="scemail" value="" />
<input  type="hidden" name="scpassword" value="#netconference#"/></form>
<div id="main_container">
	
        {% if site_wide_announcements %}
            <div id="site_wide_announcements">
                <ul>
                    {% for announcement in site_wide_announcements %}
                    <li>
                    	<strong>Sitewide Announcement:</strong> &nbsp;
                        <a href="{{ announcement.get_absolute_url }}" style="text-decoration:underline;">{{ announcement }} - click here to read</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}" style="background:#ddd;padding:2px 4px;border: 1px solid #bbb;"><strong>{% trans "Hide this" %}</strong></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
  
  <!--HEADER STARTS-->
  <div id="header_container">
  <div id="login_user">{% if request.user.is_authenticated %}Logged in as {{ request.user.username }}{% endif %}</div>
    <div id="logo" style="margin-top:-20px;">
	{% block logo_link_image %}<a href="/"><img src="{{MEDIA_URL}}images/netconf_newlogo.png" width="256" alt="NetConference" border="0" height="63px" /></a>{% endblock %}
    </div>
    
	{% block nav %}
		<div id="top_navi">
		{% if user.is_authenticated %}
		<a id="dashboard_nav" href="{% url conferencing %}" >{% trans "Dashboard" %}</a>
		<a id="conf_nav" href="{% url my_conferences %}">{% trans "Conferences" %}</a>
		<a id="files_nav" href="{% url my_files %}">{% trans "Files" %}</a>
		<a id="netsign_nav" href="{% url my_netsign %}">Netsign</a>
		<a id="messages_nav" href="{% url vmail_compose %}">{% trans "Messages" %}</a>
		<a id="contacts_nav" href="{% url invitations_contacts %}">{% trans "Contacts" %}</a>
		<a id="projects_nav" href="{% url project_dashboard %}">{% trans "Projects" %}</a>
	    {% else %}
		<a id="whats_netc_logout_nav" href="{% url netconference %}">{% trans "what is netconference?" %}</a>
			<a id="features_logout_nav" href="{% url features_home %}">features</a>
			<a id="pricing_logout_nav" href="{% url subscription_list %}" class="signup_link" rel="#signup_note">pricing</a>
			<a id="signup_logout_nav" href="{% url acct_signup %}" class="signup_link" rel="#signup_note">get started</a>
		{% endif %}
		</div>
	{% endblock %}
	
	{% block locale_switcher %}{% endblock %}
    
    <div id="account_details">
    <div id="settings">
      {% block account_links %}
		
			{% if user.is_authenticated %}<a href="{% url acct_email %}">SETTINGS</a>
			{% endif %} 
			<a href="{% url help %}">HELP</a>
      {% endblock %}
	</div>
	  <div id="login">
      {% block login %}
		{% if user.is_authenticated %}
			<a href="{% url acct_logout %}">LOG OUT</a> / 
			<a href="{% url profile_detail user %}">PROFILE</a>
		{% else %}
			<a href="{% url acct_login %}">LOG IN</a> / 
			<a href="{% url acct_signup %}">SIGN UP</a>
		{% endif %}
      {% endblock %}
      </div>      
	  
    </div>
    <div class="clear"></div>
  </div>
  <!--HEADER ENDS--> 
  
  
  {% block submenu %}
  <!--SUBMENU STARTS-->
  <div id="submenu_container">
  	{% block subnav %}{% endblock %}
  </div>
  <!--SUBMENU ENDS-->
  {% endblock submenu %}
  
  
  	            {% if messages %}
	                <br />
	                <ul id="messages">
	                    {% for message in messages %}
                        <li id="message_{{ forloop.counter }}"><a href="#" class="button message-close" style="margin:0;padding:2px 5px;" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;">{% trans "clear" %}</a> {{ message|safe }}</li>
	                    {% endfor %}
	                </ul>
	            {% endif %}
 
 {% block content %}
 {% endblock content %}
 
 	        {% block content950top %}
	        <div id="content_950_top">
			</div>
                <div id="content_950_mid">
                </div>
                 {% endblock %}
	            
	        {% block body %}
	        {% endblock %}
		    
		{% block content950bot %}
            <div id="content_950_bot">
		    </div>
        {% endblock %}
	    
 
 	{% block subcontent_wrapper %}	
	<div id="subcontent_wrapper">
		<div id="subcontent" class="container">
		{% block subcontent %}
		{% endblock %}
		</div><!-- end #subcontent -->
	</div><!-- end #subcontent_wrapper -->
	{% endblock %}
 
 
  </div>
  <!--FOOTER STARTS-->
  <div id="footer">
    {% block footer %}
    <div class="left">© 2006-2010<a href="http://nxtgen.tv/" target="_blank"> NxtGen LLC</a> • 
	<a href="{% url contact %}">Contact</a> • 
	(818) 934-1204 • 
	{% if request.user.is_authenticated %}
	<a href="{% url cancel_contact %}" style="color:#0000ff;">Cancel Subscription</a> • 
	{% endif %}
	<br/>
    NetConference technology created by 
	<a href="http://www.illusionfactory.com/" target="_blank">The Illusion Factory</a>
	</div>
    <div class="right">
    	<a href="{% url affiliate_opportunity %}">Opportunity</a> • 
		<a href="/invest/">Investor Relations</a> • 
		<a href="http://support.netconference.com/" style="color:#86CD03;">Feedback</a> •  
		<a href="{% url terms %}">Terms of Service</a> • 
		<a href="{% url privacy %}"> Privacy Policy</a>
		<br/>
      Translate: <a href="{% url acct_language_change %}"><img src="{{ MEDIA_URL }}new/images/flag_01.png"/></a>
		<a href="{% url acct_language_change %}"><img src="{{ MEDIA_URL }}new/images/flag_02.png" /></a>
		<a href="{% url acct_language_change %}"><img src="{{ MEDIA_URL }}new/images/flag_03.png" /></a>
		<a href="{% url acct_language_change %}"><img src="{{ MEDIA_URL }}new/images/flag_04.png" /></a>
		<a href="{% url acct_language_change %}"><img src="{{ MEDIA_URL }}new/images/flag_05.png" /></a>
       &nbsp;<img src="{{ MEDIA_URL }}new/images/cea_logo.gif" width="88" height="31" alt="cea" /> &nbsp;
	   &nbsp;<img src="{{ MEDIA_URL }}new/images/bbb_icon.gif" width="37" height="36" alt="bbb" /> &nbsp;
	  <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=XtsRX9f9yipRMIWJgGecrgSHLpzopsfxYINOI0oNEwBzmJfUy4PSv0xo9G"></script></span> 
    <div class="clear"></div>
    {% endblock footer %} 
  </div>
  <!--FOOTER ENDS-->
 
  
</div>

{% block footerscript %}

	<script src="{{ MEDIA_URL }}js/jquery.min.js" type="text/javascript">
    </script>
	{% compress js %}
	<script src="{{ MEDIA_URL }}new/Scripts/swfobject_modified.js" type="text/javascript">
	</script>
	
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js">
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.conf.min.js">
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js">
    </script>
	<script type="text/javascript">
				$(document).ready(function() {
					setTimeout(function() { $(".message-close").click(); }, 3000);
				});
	</script>
    {% block js_effects %}<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>{% endblock %}
    {% endcompress %}

    {% block jquery_tools %}<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>{% endblock %}


{% endblock footerscript %}

{% block extrafooterscript %}
{% endblock %}


			{% block new_jquery_plugins %}
			{% endblock %}
			

			
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
{% if INCLUDE_ANALYTICS %}
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29982394-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
{% endif %}
</body>
</html>
