{% load i18n %}

{% url my_conferences as url_my_conferences %}
{% url conferencing_add as  url_conferencing_add %}
{% url usage_meter as url_usage_meter %}
<ul class="subnav">
    {% if user.is_authenticated %}
	<li {% ifequal url_my_conferences request.get_full_path %} class="current" {% endifequal %}><a href="{{ url_my_conferences }}">{% trans "My Conferences" %}</a></li>
	<li{% ifequal url_conferencing_add request.get_full_path %} class="current" {% endifequal %}><a href="{{ url_conferencing_add }}">{% trans "Schedule a New Conference" %}</a></li>
	<li id="recorded_conf"><a href="{% url recorded_conf %}">{% trans "Recorded Conferences" %}</a></li>
    {% endif %}
</ul>
