{% load i18n %}
{% load active_nav %}

{% url conferencing as url_conferencing %}
{% url affiliate_dashboard as url_affiliate_dashboard %}
{% url affiliate_invite as url_affiliate_invite %}
{% url affiliate_opportunity as url_affiliate_opportunity %}

<ul class="subnav">
<li class="{% ifequal request.path url_conferencing %}current{% endifequal %}"><a href="{{ url_conferencing }}">{% trans "Dashboard" %}</a></li>
{% if user.is_authenticated %}
<li class="{% ifequal request.path url_affiliate_dashboard %}current{% endifequal %}"><a href="{{ url_affiliate_dashboard }}">{% trans "Affiliate Dashboard" %}</a></li>
<li class="{% ifequal request.path url_affiliate_invite %}current{% endifequal %}"><a href="{% url affiliate_invite %}">{% trans "Invite Affiliates" %}</a></li>
<li class="{% ifequal request.path url_affiliate_opportunity %}current{% endifequal %}"><a href="{{ url_affiliate_opportunity }}">{% trans "Opportunity" %}</a></li>
{% endif %}
</ul>
