<script src="{{ MEDIA_URL }}pinax/js/facebox.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('a[rel*=facebox]').facebox({
            loadingImage: '{{ MEDIA_URL }}pinax/images/facebox/loading.gif',
            closeImage: '{{ MEDIA_URL }}pinax/images/facebox/closelabel.gif'
        });
        $(document).bind('reveal.facebox', function() {
            $("form.in_facebox").submit(function() {
                form = this;
                jQuery.facebox(function($) {
                    fields = jQuery(form).find("input[type='text']").filter(":enabled");
                    params = {}
                    fields.each(function() {
                        params[this.name] = this.value;
                    });
                    jQuery.post(form.action, params,
                        function(data, textStatus) {
                            jQuery.facebox(data);
                        }
                    );
                });
                return false;
            });
        });
     });
</script>
