{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Social Business Collaboration" %}{% endblock %}

{% block extra_head %}
<meta name="google-site-verification" content="yueRkvC-MKICtCHq4bUZti5Vx9edl_wQuZVkTxNrww4" />
<style type="text/css">
#content { background: transparent url({{ MEDIA_URL }}img/bg_content.png) top center repeat-x; text-align: center; padding-top: 20px; padding-bottom:0px; color: #444; }
#content_bot { width: 100%; height: 0px; background: transparent url({{ MEDIA_URL }}img/bg_subcontent.png) bottom center repeat-x; 
    }
#subcontent_wrapper { background: url({{ MEDIA_URL }}img/nc_mid_bg.gif) no-repeat center top; padding-top: 0px; text-align: left;}
#subcontent { padding-top: 0px; width: 985px; position: relative; }
    
</style>
{% endblock %}

{% block content950top %}
{% endblock %}

{% block body %}
<div style="width:960px; margin:0px auto; z-index:1500;">
	    <!--Tutorial Button starts-->
             <a id="tutorialhome" onclick="runJoan();$(this).fadeOut();">Tutorial</a>
	    <!--Tutorial Button ends-->
</div>
<div class="video_loop"  > 
  <a href="{% url acct_signup %}" class="join_now">join now</a> 
  <a href="#" class="play_video video_trigger" rel="#video_holder">play video</a>
    <a href="#" class="video video_trigger" rel="#video_holder"></a>
    
  <div class="header_slideshow"> 
  
  <img src="{{ MEDIA_URL }}img/landing_banner.jpg" alt="Try the very best Online Conferincing System for Free" width="985" height="241" border="0" />
  	<img src="{{ MEDIA_URL }}img/nc_vid_headline_1.jpg" alt="Close the Deal Now With NetSign - The Digital Signature Service." width="985" height="241" /> 
      <img src="{{ MEDIA_URL }}img/nc_vid_headline_4.jpg" alt="Get your FREE account NOW!!" width="985" height="241"/> 
    
    <img src="{{ MEDIA_URL }}img/nc_vid_headline_2.jpg" alt="NetConference is the Ultimate Suite of Online Business Tools for Virtual Office Interactivity" width="985" height="241"/> 
      <img src="{{ MEDIA_URL }}img/landing_banner.jpg" alt="Try the very best Online Conferincing System for Free" width="985" height="241" /> 
      

    <img src="{{ MEDIA_URL }}img/nc_vid_headline_3.jpg" alt=" Large File Storage and Repository, Share Anything from Anywhere." width="985" height="241"/> 
    
        <img src="{{ MEDIA_URL }}img/nc_vid_headline_4.jpg" alt="Get your FREE account NOW!!" width="985" height="241"/> 

  
 
       <img src="{{ MEDIA_URL }}img/nc_vid_headline_6.jpg" alt="NetConference Wins the Prestigious Summit International Emerging Media Award" width="985" height="241"/> 
        <img src="{{ MEDIA_URL }}img/landing_banner.jpg" alt="Try the very best Online Conferincing System for Free" width="985" height="241" /> 

    <img src="{{ MEDIA_URL }}img/nc_vid_headline_7.jpg" alt="Meet Anyone, Anywhere, Anytime without Traveling." width="985" height="241"/> 
    <img src="{{ MEDIA_URL }}img/nc_vid_headline_4.jpg" alt="Get your FREE account NOW!!" width="985" height="241"/> 
 </div>
</div>
<div class="black" id="video_holder"></div>
{% endblock %}

{% block content950bot %}
{% endblock %}

{% block subcontent %}
<!-- wrapper for navigator elements -->
<div class="hometagline">Fast.  &nbsp;Easy to Use.  &nbsp;Effective.&nbsp;  Free.   &nbsp;Online Collaboration has never been easier. </div>

<div class="navi"></div>
<div> <a class="prev browse left">LEFT</a>
  <div id="scrollable">
    <div class="features selfclear">
      <div class="cell"> <span class="hdr_fancy_sm">Digital Signature</span>
        <p class="copy">Prospect. Present. Close. Get the deal done now with NetSign our Digital Signature Service.  Upload and sign contracts in half the time. No more scanning or waiting by the fax machine. Sign. Send. Done!</p>
        <a href="{% url features_netsign %}" class="learn_more">learn more</a>
        <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_digital_sign.jpg" width="117" height="129" />
		</p>
      </div>
      <div class="cell"> <span class="hdr_fancy_sm">Free Conference Line</span>
        <p class="copy">Everyone who signs up for an account receives a FREE telephone conference bridge.  Host, record, mute and playback your bridge conference with advanced conferencing features.</p>
        <a href="{% url features_telephony %}" class="learn_more">learn more</a>
        <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_conference_line.jpg" width="155" height="124" /></p>
      </div>
      <div class="cell"> <span class="hdr_fancy_sm">Scheduled Events</span>
        <p class="copy">Meetings are easily scheduled, and synced with Google Calendar and Outlook.  Share your events through our invitation system or post announcements directly to Facebook or Twitter for an even greater distribution.</p>
        <a href="{% url features_scheduler %}" class="learn_more">learn more</a>
        <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_calendar.gif" width="175" height="121" /></p>
      </div>
      <div class="cell"> <span class="hdr_fancy_sm">Send High-res Files</span>
        <p class="copy">Every file and media type uploaded to your account has a separate download link that can be shared through the system or within your personal email. Sharing high res files has never been easier.</p>
        <a href="{% url features_files %}" class="learn_more">learn more</a>
        <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_high_res.jpg" width="194" height="108" /></p>
      </div>
      <div class="cell"> <span class="hdr_fancy_sm">Shared Video</span>
        <p class="copy">A group of people in a face to face video conference may seamlessly watch videos of any length together using our patent-pending Shared Video on Demand system. </p>
        <a href="{% url features_svod %}" class="learn_more">learn more</a>
        <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_shared_video.jpg" width="167" height="99" /></p>
      </div>
      <div class="cell"> <span class="hdr_fancy_sm">Shared Media</span>
        <p class="copy">Simple. Easy. Effective.   Experience seamless online virtual collaboration while reviewing powerpoint presentations, PDFs, Word, Excel  and other files together in real time. </p>
        <a href="{% url features_webconference %}" class="learn_more">learn more</a>
        <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_shared_desktop.jpg" width="187" height="120" /></p>
      </div>
      <div class="cell"> <span class="hdr_fancy_sm">Video Conference</span>
        <p class="copy">Up to 6 participants on video camera may speak live before an audience of thousands of viewers in our simple, intuitive video conferencing system. Save travel time, money and frustrations with a virtual meeting.</p>
        <a href="{% url features_webconference %}" class="learn_more">learn more</a>
        <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_video_conference.jpg" width="167" height="100" /></p>
      </div>
      <div class="cell"> <span class="hdr_fancy_sm">Video Mail</span>
        <p class="copy">Send Video E-mail messages to your contacts or to groups of your contacts.</p>
        <a href="{% url features_vmail %}" class="learn_more">learn more</a>
        <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_video_mail.jpg" width="180" height="118" /></p>
      </div>
    </div>
  </div>
  <!-- #end of scroll -->
 {% if not user.is_authenticated %}
  <!--Login form starts here-->
  <div id="loginbg">
  <div id="login_home" style="display:none;"  >
    <div id="login" class="cell" > <span class="hdr_fancy_sm">{% trans "Log In" %}</span>
      <form class="login uniForm" method="POST" action="{% url acct_login %}">
        <fieldset class="inlineLabels">
          <div class="ctrlHolder" id="div_id_username">
            <label for="id_username">Username*</label>
            <input type="text" maxlength="30" name="username" class="textinput" id="id_username">
          </div>
          <div class="ctrlHolder" id="div_id_password">
            <label for="id_password">Password*</label>
            <input type="password" name="password" class="passwordinput" id="id_password">
          </div>
          <div class="ctrlHolder checkbox" id="div_id_remember">
            <input type="checkbox" name="remember" class="checkboxinput" id="id_remember">
            <label for="id_remember">Remember Me</label>
            <p class="formHint" id="hint_id_remember">New? <a href="/account/signup/" class="get_started">Get Started for Free</a><br/>
              <br/>
            </p>
          </div>
          <hr style="visibility:hidden;margin-bottom:0.2em;" />
          <div class="form_block" style="float:right;"> <a href="{% url acct_passwd_reset %}" class="" style="font-size:10px;">{% trans "Forgot password?" %}</a> </div>
          <div class="form_block" style="clear:left;">
            <button class="positive" type="submit">{% trans "Log in" %} <img src="{{ MEDIA_URL }}img/silk/bullet_go.png" border="0" alt="log in" /></button>
          </div>
        </fieldset>
      </form><br/>
    </div>
    </div>



  <!-- login ends here -->
  
  <!--signup form starts here-->
<div id="signup_home">
    <div id="login" class="cell"> <br/>
      <form class="login uniForm" method="POST" action="{% url acct_signup %}">
        <fieldset class="inlineLabels">
          <div class="ctrlHolder" id="div_id_username">
            <label for="id_username">Username</label>
            <input type="text" maxlength="30" name="username" class="textinput" id="id_username">
          </div>
                    <div class="ctrlHolder" id="div_id_email">
            <label for="id_email">Email Address</label>
            <input type="text" name="email" class="textinput" id="id_email">
          </div>

          <div class="ctrlHolder" id="div_id_password">
            <label for="id_password">Password</label>
            <input type="password" name="password1" class="passwordinput" id="id_password">
          </div>
                    <div class="ctrlHolder" id="div_id_password">
            <label for="id_password">Confirm Password</label>
            <input type="password" name="password2" class="passwordinput" id="id_password">
          </div>
          <div class="ctrlHolder" id="div_id_username">
            <label for="id_phone_number">Phone Number</label>
            <input type="text" maxlength="30" name="phone_number" class="textinput" id="id_phone_number">
          </div>

          <div  > <span style="padding-left:40px;">No Credit Card Required  </span>
            <input type="submit" name="button" id="button" value=" "  style="height:38px;" class="tryit"/>
          </div>
        </fieldset>
      </form>
    </div>
    </div>
  </div>
  <!-- signup ends here -->
  
  <a class="next browse right">RIGHT</a>  
 </div>
 {% endif %}
 
 
<div class="bottom_half selfclear">
  <div class="column_one">
    <h1 class="hdr_fancy_sm"><span class="grey">Who's Connected?</span></h1>
    <div class="connected"> <img src="{{ MEDIA_URL }}img/connected/nationl_veterans_foundation.png" width="242" height="215" alt="National Veterans Foundation" /> <img src="{{ MEDIA_URL }}img/connected/ucla_volunteer_center.png" width="242" height="215" alt="UCLA Volunteer Center" /> <img src="{{ MEDIA_URL }}img/connected/paramount_digital.png" width="242" height="215" alt="Paramount Digital Entertainment" /> <img src="{{ MEDIA_URL }}img/connected/warner_tv.png" width="242" height="215" alt="Warner TV" /> <img src="{{ MEDIA_URL }}img/connected/green_planet_ventures.png" width="242" height="215" alt="Green Planet Ventures" /> </div>
    <div class="collaborators">
      <h1 class="hdr_fancy_sm"><span class="grey">Collaborators</span></h1>
      <p><img src="{{ MEDIA_URL }}img/nc_collaborators.gif" alt="NetConference Collaborators" width="231" height="119" style="padding-top:9px;" /></p>
    </div>
    <p style="display:none;"><a href="#"><img src="{{ MEDIA_URL }}img/nc_affiliate_program.gif" alt="NetConference Affiliate Program - learn more" width="231" height="78" /></a></p>
  </div>
  <div class="column_two">
    
    <div class="quotes">
    <p class="quote">"NxtGenTV has just released the most cohesive system of online tools <br/>to facilitate the ultimate interactive communication."<br/><span class="purp_quote">Forbes.com  -  </span><a href="{{ MEDIA_URL }}inthemedia/www.forbes.com/feeds/prnewswire/2010/08/16/index.html" target="_blank" >Read more...</a></p>
        <p class="quote"> "Working with NetConference technology has given us the<br/> opportunity to engage in unique and effective ways.<br/> There is no limit to what is possible with this team.<br/> If we can dream it, they can make it happen."<br/>
<span class="purp_quote">Michael Johnstone - Director - New Business Group   <br>
Paramount Digital Entertainment </span></p>
        <p class="quote"> "UCLA is where the internet began and with NetConference <br/>
we are exploring what the internet will become."<br/><span class="purp_quote">David Bloome - Campaign Director   <br/>
UCLA Volunteer Center - Chancellor's Office</span></p>
<img src="{{ MEDIA_URL }}img/summitaward.gif" alt="Follow us on Twitter" width="456" height="119" style="padding-top:21px;" />
    </div>
  </div>
  <div class="column_three">
  <h1 class="hdr_fancy_sm"><span class="grey">Use It Every Month</span></h1>
    <div id="opportunity">     
      <div class="middle"> <br/>       
        <p>Use NetConference for FREE every single month. <br/><br/>Your FREE account limits<br/> will renew monthly.</p>
        <br/>
        </div>
    </div>

    <a href="http://twitter.com/NetConference" target="_blank"><img src="{{ MEDIA_URL }}img/nc_twitter.gif" alt="Follow us on Twitter" width="230" height="61" /></a>
    <div id="ecofriendly"></div>
  </div>
</div>
<!-- end .bottom_half -->
{% endblock %}

{% block js_effects %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.pngFix.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.backgroundPosition.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.color.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<!--[if IE]>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/cp_pngfix.js"></script>
	<![endif]-->
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cycle.js"></script>
<script>

	$('a.get_started').click( function () {
		$('#login_home').hide();	
		$('#signup_home').show();
		return false;
	});
    $("#video_holder").flashembed({
		src: '{{ MEDIA_URL }}swf/nc_home_vid_player.swf',
		version: [9, 0],
		scale: "showall",
		wmode: 'transparent',
		expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
	});	
	$(window).load(function(){
	    $(".video_trigger").overlay({ 
            expose: { 
                color: '#333', 
                loadSpeed: 200, 
                opacity: 0.9
            },
            effect: 'apple'
        }).load();
	});
	
	$(document).ready(function(){
       var scrollsize = {% if user.is_authenticated %}4{% else %}3{% endif %};
       var homescr = $("#scrollable").scrollable({
           size: scrollsize, 
           loop: true, 
           clickable: false, 
           items: '.cell'
        }).autoscroll({
            autoplay: true, 
            steps: 1, 
            interval: 7000
        });
    	
        $('.header_slideshow').cycle({
			fx: 'fade',
			speed: 'slow'
		});
		
		$('.connected').cycle({
			fx: 'fade',
			speed: 'slow'
		});
    });
    
			
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
    <script type="text/javascript">
    	var lf_ID = '100002563_A';
    	function runJoan(){
    		runLFOW();
    	} 
    </script>

{% if INCLUDE_ANALYTICS %}
	<script type="text/javascript" src="http://s3.amazonaws.com/new.cetrk.com/pages/scripts/0004/9606.js"> </script>
{% endif %}
{% endblock %} 
