{% extends "site_base.html" %}
{% load i18n %}
{% load uni_form %}
{% load ifsetting_tag %}
{% load compress %}

{% block head_title %}{% trans "Social Business Collaboration" %}{% endblock %}

{% block extra_head %}
<meta name="google-site-verification" content="yueRkvC-MKICtCHq4bUZti5Vx9edl_wQuZVkTxNrww4" />
<style type="text/css">
#content { background: transparent url({{ MEDIA_URL }}img/bg_content.png) top center repeat-x; text-align: center; padding-top: 20px; padding-bottom:0px; color: #444; }
#content_bot { width: 100%; height: 0px; background: transparent url({{ MEDIA_URL }}img/bg_subcontent.png) bottom center repeat-x; 
    }
#subcontent_wrapper { background: url({{ MEDIA_URL }}img/nc_mid_bg.gif) no-repeat center top; padding-top: 0px; text-align: left;}
#subcontent { padding-top: 0px; width: 985px; position: relative; }    
</style>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/landing_carousal.css" type="text/css" />
{% endblock %}

{% block content950top %}
{% endblock %}

{% block body %}

<div class="video_loop"> <a href="{% url acct_signup %}" class="join_now">join now</a> <a href="#" class="play_video video_trigger" rel="#video_holder">play video</a> <a href="#" class="video video_trigger" rel="#video_holder"></a>
  <div class="header_slideshow"> <img src="{{ MEDIA_URL }}img/landing_banner.jpg" alt="Close the Deal Now With NetSign - The Digital Signature Service." width="985" height="241" /> </div>
</div>
<div class="overlay black" id="video_holder"></div>
{% endblock %}

{% block content950bot %}
{% endblock %}

{% block subcontent %}
<!-- wrapper for navigator elements -->
<div class="navi"></div>
<div class="tagline">Fast.  &nbsp;Easy to Use.  &nbsp;Effective.&nbsp;  Free.   &nbsp;Online Collaboration has never been easier. </div>
<!--SCROLLABLE AND SIGNUP FORM STARTS HERE-->
<div class="landing_container">
  <div class="scroll_features">
    <!--CAROUSAL STARTS-->
    <div> <a class="prev browse left">LEFT</a>
      <div id="scrollablenew">
        <div class="features selfclear">
          <div class="cell"> <span class="hdr_fancy_sm">Shared Video</span>
            <p class="copy">A group of people in a face to face video conference may seamlessly watch videos of any length together using our patent-pending Shared Video on Demand system. </p>
            <a href="{% url features_svod %}" class="learn_more">learn more</a>
            <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_shared_video.jpg" width="167" height="99" /></p>
          </div>
          <div class="cell"> <span class="hdr_fancy_sm">Shared Media</span>
            <p class="copy">Simple. Easy. Effective.   Experience seamless online virtual collaboration while reviewing powerpoint presentations, PDFs, Word, Excel  and other files together in real time. </p>
            <a href="{% url features_webconference %}" class="learn_more">learn more</a>
            <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_shared_desktop.jpg" width="187" height="120" /></p>
          </div>
          <div class="cell"> <span class="hdr_fancy_sm">Digital Signature</span>
            <p class="copy">Prospect. Present. Close. Get the deal done now with NetSign our Digital Signature Service.  Upload and sign contracts in half the time. No more scanning or waiting by the fax machine. Sign. Send. Done!</p>
            <a href="{% url features_netsign %}" class="learn_more">learn more</a>
            <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_digital_sign.jpg" width="117" height="129" /></p>
          </div>
          <div class="cell"> <span class="hdr_fancy_sm">Free Conference Line</span>
            <p class="copy">Everyone who signs up for an account receives a FREE telephone conference bridge.  Host, record, mute and playback your bridge conference with advanced conferencing features.</p>
            <a href="{% url features_telephony %}" class="learn_more">learn more</a>
            <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_conference_line.jpg" width="155" height="124" /></p>
          </div>
          <div class="cell"> <span class="hdr_fancy_sm">Scheduled Events</span>
            <p class="copy">Meetings are easily scheduled, and synced with Google Calendar and Outlook.  Share your events through our invitation system or post announcements directly to Facebook or Twitter for an even greater distribution.</p>
            <a href="{% url features_scheduler %}" class="learn_more">learn more</a>
            <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_calendar.gif" width="175" height="121" /></p>
          </div>
          <div class="cell"> <span class="hdr_fancy_sm">Send High-res Files</span>
            <p class="copy">Every file and media type uploaded to your account has a separate download link that can be shared through the system or within your personal email. Sharing high res files has never been easier.</p>
            <a href="{% url features_files %}" class="learn_more">learn more</a>
            <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_high_res.jpg" width="194" height="108" /></p>
          </div>
          <div class="cell"> <span class="hdr_fancy_sm">Video Conference</span>
            <p class="copy">Up to 6 participants on video camera may speak live before an audience of thousands of viewers in our simple, intuitive video conferencing system. Save travel time, money and frustrations with a virtual meeting.</p>
            <a href="{% url features_webconference %}" class="learn_more">learn more</a>
            <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_video_conference.jpg" width="167" height="100" /></p>
          </div>
          <div class="cell"> <span class="hdr_fancy_sm">Video Mail</span>
            <p class="copy">Send Video E-mail messages to your contacts or to groups of your contacts.</p>
            <a href="{% url features_vmail %}" class="learn_more">learn more</a>
            <p class="image"><img src="{{ MEDIA_URL }}img/nc_cell_video_mail.jpg" width="180" height="118" /></p>
          </div>
        </div>
      </div>
      <!-- #end of scroll -->
      <a class="next browse rightlanding">RIGHT</a> </div>
    <!--CAROUSAL ENDS-->
  </div>
  <!--SIGN UP FORM STARTS-->
  <form action="{% url acct_signup %}" method="post">
    <div class="signup_form"><span class="signup_title">Try it Right Now for FREE</span><br/>
      <div class="formfields">Username : <br/>
        {{form.username}} </div>
      <div class="formfields">Email Address :<br/>
        {{form.email}} </div>
      <div class="formfields">Password :<br/>
        {{form.password1}} </div>
      <div class="formfields">Password (again) :<br/>
        {{form.password2}} </div>
      <div class="submit_block">No Credit card required.<br/>
        <input type="submit" name="button" id="button" value="" class="submit_button" />
        <br/>
        <a href="#">Privacy policy</a></div>
    </div>
  </form>
  <div class="clear"></div>
</div>
<!--SCROLLABLE AND SIGNUP FORM ENDS HERE-->

<div class="bottom_half selfclear">
  <div class="landing">
  <script type="text/javascript">

var delay = 4000; //set delay between message change (in miliseconds)
var maxsteps=30; // number of steps to take to change from start color to endcolor
var stepdelay=40; // time in miliseconds of a single step
//**Note: maxsteps*stepdelay will be total time in miliseconds of fading effect
var startcolor= new Array(255,255,255); // start color (red, green, blue)
var endcolor=new Array(74,74,74); // end color (red, green, blue)

var fcontent=new Array();
begintag='<div style="font:16px "Futura", "Futura Medium", "Century Gothic", AppleGothic, sans-serif; line-height:20px; color:#4a4a4a; text-align:center;  padding:3px 0px 0px 0px;">'; //set opening tag, such as font declarations
fcontent[0]='"\Working with NetConference technology has given us the opportunity to engage in unique and effective ways. <br/>There is no limit to what is possible with this team. If we can dream it, they can make it happen."\<br/><br/><b>Michael Johnstone - Director - New Business Group <br/>Paramount Digital Entertainment</b>';
fcontent[1]='"\UCLA is where the internet began and with NetConference we are exploring what the internet will become."\<br/><br/><b>David Bloome - Campaign Director <br />    UCLA Volunteer Center  - Chancellor&rsquo;s Office</b>';
closetag='</div>';

var fwidth='900px'; //set scroller width
var fheight='150px'; //set scroller height

var fadelinks=1;  //should links inside scroller content also fade like text? 0 for no, 1 for yes.

///No need to edit below this line/////////////////


var ie4=document.all&&!document.getElementById;
var DOM2=document.getElementById;
var faderdelay=0;
var index=0;


/*Rafael Raposo edited function*/
//function to change content
function changecontent(){
  if (index>=fcontent.length)
    index=0
  if (DOM2){
    document.getElementById("fscroller").style.color="rgb("+startcolor[0]+", "+startcolor[1]+", "+startcolor[2]+")"
    document.getElementById("fscroller").innerHTML=begintag+fcontent[index]+closetag
    if (fadelinks)
      linkcolorchange(1);
    colorfade(1, 15);
  }
  else if (ie4)
    document.all.fscroller.innerHTML=begintag+fcontent[index]+closetag;
  index++
}


function linkcolorchange(step){
  var obj=document.getElementById("fscroller").getElementsByTagName("A");
  if (obj.length>0){
    for (i=0;i<obj.length;i++)
      obj[i].style.color=getstepcolor(step);
  }
}

/*Rafael Raposo edited function*/
var fadecounter;
function colorfade(step) {
  if(step<=maxsteps) {	
    document.getElementById("fscroller").style.color=getstepcolor(step);
    if (fadelinks)
      linkcolorchange(step);
    step++;
    fadecounter=setTimeout("colorfade("+step+")",stepdelay);
  }else{
    clearTimeout(fadecounter);
    document.getElementById("fscroller").style.color="rgb("+endcolor[0]+", "+endcolor[1]+", "+endcolor[2]+")";
    setTimeout("changecontent()", delay);
	
  }   
}

/*Rafael Raposo's new function*/
function getstepcolor(step) {
  var diff
  var newcolor=new Array(3);
  for(var i=0;i<3;i++) {
    diff = (startcolor[i]-endcolor[i]);
    if(diff > 0) {
      newcolor[i] = startcolor[i]-(Math.round((diff/maxsteps))*step);
    } else {
      newcolor[i] = startcolor[i]+(Math.round((Math.abs(diff)/maxsteps))*step);
    }
  }
  return ("rgb(" + newcolor[0] + ", " + newcolor[1] + ", " + newcolor[2] + ")");
}

if (ie4||DOM2)
  document.write('<div id="fscroller" width:'+fwidth+';height:'+fheight+'"></div>');

if (window.addEventListener)
window.addEventListener("load", changecontent, false)
else if (window.attachEvent)
window.attachEvent("onload", changecontent)
else if (document.getElementById)
window.onload=changecontent

</script>
  <!--
    <ul id="mycarousel" class="jcarousel-skin-tango">
      <li>
        <p class="landing">"Working with NetConference technology has given us the opportunity to engage in unique and effective ways. <br/>
          There is no limit to what is possible with this team. If we can dream it, they can make it happen."</p>
        <p class="landingbold">Michael Johnstone - Director - New Business Group <br/>
          Paramount Digital Entertainment</p>
      </li>
      <li>
        <p class="landing">"UCLA is where the internet began and with NetConference we are exploring what the internet will become."</p>
        <p class="landingbold">David Bloome - Campaign Director<br />
          UCLA Volunteer Center  - Chancellor&rsquo;s Office</p>
      </li>

    </ul>
    -->
  </div>
</div>
<!-- end .bottom_half -->

{% endblock %}

{% block js_effects %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.pngFix.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.backgroundPosition.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.color.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jcarousel.min.js"></script>
<!--[if IE]>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/cp_pngfix.js"></script>
	<![endif]-->
{% endblock %}

{% block extra_body %}

{% compress js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cycle.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
    <script type="text/javascript">
    	var lf_ID = '100002563_A';
    	function runJoan(){
    		runLFOW();
    	} 
    </script>

<script>
    
    $("#video_holder").flashembed({
		src: '{{ MEDIA_URL }}swf/nc_home_vid_player.swf',
		version: [9, 0],
		wmode: 'transparent',
		expressInstall: "{{ MEDIA_URL }}swf/expressinstall.swf"
	});
	
	$(window).load(function(){
	    $(".video_trigger").overlay({ 
            expose: { 
                color: '#333', 
                loadSpeed: 200, 
                opacity: 0.9
            },
            effect: 'apple'
        }).load();
	});
	
	$(document).ready(function(){
    
       var homescr = $("#scrollablenew").scrollable({
           size: 1, 
           loop: true, 
           clickable: false, 
           items: '.cell'
        }).autoscroll({
            autoplay: true, 
            steps: 1, 
            interval: 7000
        });
    	
        $('.header_slideshow').cycle({
			fx: 'fade',
			speed: 'slow'
		});
		
		$('.connected').cycle({
			fx: 'fade',
			speed: 'slow'
		});
    });
    
			
    </script>
    <script type="text/javascript" src="http://dnn506yrbagrg.cloudfront.net/pages/scripts/0004/9606.js"> </script>
<script type="text/javascript"> 
 
function mycarousel_initCallback(carousel)
{
    // Disable autoscrolling if the user clicks the prev or next button.
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });
 
    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });
 
    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
};
 
jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        auto: 9,
        wrap: 'last',
        initCallback: mycarousel_initCallback
    });
	runJoan();
});
</script>
{% endcompress %}

{% endblock %} 