<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% trans "Welcome to Netconference.com" %}
</title>
<link href="{{ MEDIA_URL }}new/css/landing.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">

  <!--HEADER STARTS HERE-->
  
  <div id="header_container">
   <div id="logo" ><a href="{% url home %}"><img src="{{ MEDIA_URL }}img/logo_main.png" width="267" height="32" alt="logo" style="border:none;" /></a> </div><h2 class="text" >- {% trans "Your Office In The Cloud" %} &trade;</h2>
  </div>
  <!--HEADER ENDS HERE--> 
   <div class="headerbg"></div>
   
     <!--BANNER STARTS HERE--> 

   <div id="banner">
   <div class="right_banner"><h1>{% trans "NetConference all of your online meetings for FREE for 30 days. It's easy." %}</h1></div>
   </div>
        <!--BANNER ENDS HERE-->
        
        <!--TEXT STARTS HERE--> 
  <div id="block">
<div class="left_block">
  <span class="purple">{% trans "Social Business Collaboration™" %}</span> <br />
    <span class="blue">{% trans "will save you Money, Time, and your Freedom." %}</span>
    <p>{% trans "Get your FREE NetConference™ - Your Office in the Cloud™ today. Change the way you do business forever." %}
  </p>
  <ul>
  <li class="u_list">{% trans "Exceptional systems, tools and functionality" %}</li><br />

    <li class="u_list">{% trans "Make presentations from any computer— Windows, Mac and Linux" %}</li><br />

  <li class="u_list">{% trans "Hold meetings for as long as you want" %}</li><br />

  <li class="u_list">{% trans "Virtual conference room is always ready with your files for your presentations" %}</li><br />

  <li class="u_list">{% trans "Easy to use system for you and your guests" %}</li><br />

  <li class="u_list">{% trans "Twice the features of everyone else for half of the price" %}</li><br />

  <li class="u_list">{% trans "The most cost-effective, high quality web conferencing solution" %}</li>

  </ul>
</div> 

<div class="right_block">
<div id="text_container">
<span class="black">{% trans "Would you like a private labeled system for your company?" %}</span><br />

<span class="grey"><a href="mailto:support@nxtgen.tv">{% trans "Send me information" %}</a></span>
</div>
<div id="bg">
<div class="white" id="tabs">
 {% trans "Create Your FREE NetConference Account!" %}
    </div>
     <div class="account">
     <div class="formbg">
       <form method="post" action="{% url landing_signup %}">
         <div class="formlable">{% trans "First Name:" %}</div>
         <div class="formfield"><input type="text" name="first_name" id="textfield" class="inputbg" /></div>
         <div class="formlable">{% trans "Last Name:" %}</div>
         <div class="formfield"><input type="text" name="last_name" id="textfield" class="inputbg"  /></div>
         <div class="formlable">{% trans "Email:" %}</div>
         <div class="formfield">
           <input type="text" name="email" id="textfield"  class="inputbg" />
         </div>
         <div class="formlable">{% trans "Company:" %}</div>
         <div class="formfield"><input type="text" name="company" id="textfield"  class="inputbg" /></div><br />
{% url terms as terms %}
          <div class="bottom_text" style="clear:both;">{% blocktrans with terms as terms %}Protecting your privacy is important to us. Your email address and personal information are confidential and will not be sold or rented. See our Privacy Policy for more details. By clicking Continue, you agree to the <a href='{{ terms }}'>Terms of Service</a>.{% endblocktrans %}</div>
	 <div class="formlable">
	   <input type="submit" class="buttonGreenMedium" value="{% trans "Continue" %}" />
	 </div>
       </form>
     </div> 
     </div>
</div>
<br />
</div>
  </div>
<!--TEXT ENDS HERE-->
<div class="learn"><a href="{% url features_home %}">{% trans "Learn more" %}</a></div>
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
<script type="text/javascript">
  var lf_ID = '100002563_A';
  function runJoan(){
    runLFOW();
  }
</script>
{% if INCLUDE_ANALYTICS %}
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29982394-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
{% endif %}
</body>
</html>
