{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    
    <body>
    
        {% if site_wide_announcements %}
            <div id="site_wide_announcements">
                <ul>
                    {% for announcement in site_wide_announcements %}
                    <li>
                    	<strong>Sitewide Announcement:</strong> &nbsp;
                        <a href="{{ announcement.get_absolute_url }}" style="text-decoration:underline;">{{ announcement }} - click here to read</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}" style="background:#ddd;padding:2px 4px;border: 1px solid #bbb;"><strong>{% trans "Hide this" %}</strong></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <div id="wrapper">
        <div id="header">
            <div class="container">
            <div class="logo" id="logo_main" dir="ltr">{% block logo_link_image %}{% endblock %}</div>
            <ul id="nav">{% block nav %}{% endblock %}</ul>
            {% block locale_switcher %}{% endblock %}
            <ul id="toplinks">
            	<li id="toplinks_sm">
            		{% block account_links %}{% endblock %}
				</li>
				<li id="toplinks_lg">
            		{% block login %}{% endblock %}
            	</li>
            </ul>
            
        {% comment %}
            <form id="topsearch" method="post" action="">
				<input type="text" id="topsearch_input" class="search" value="" />
				<input type="image" src="{{ MEDIA_URL }}img/btn_go.png" class="search_btn" id="topsearch_btn" />
			</form>
		{% endcomment %}
		    </div>
        </div><!-- end #header -->
        
        <div id="subnav_wrapper">
			<div class="container">
					{% block subnav %}{% endblock %}
			</div><!-- end .subnav's .container -->
		</div><!-- end #subnav_wrapper -->

        <div id="content_wrapper">
        	<div id="content">
        	    
        	    <!--[if lt IE 7]>
                <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
                  <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
                  <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
                    <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
                    <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
                      <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>
                      <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>
                    </div>
                    <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
                    <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
                    <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
                    <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
                  </div>
                </div>
                <![endif]-->
                
	            {% if messages %}
	                <br />
	                <ul id="messages">
	                    {% for message in messages %}
	                    <li id="message_{{ forloop.counter }}"><a href="#" class="button" style="margin:0;padding:2px 5px;" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;">{% trans "clear" %}</a> {{ message }}</li>
	                    {% endfor %}
	                </ul>
	            {% endif %}
	            
	            {% block content950top %}
	                <div id="content_950_top"></div>
                    <div id="content_950_mid">
                        <div class="container" style="position:relative;">
                {% endblock %}
	            
	            {% block body %}
	            {% endblock %}
	            
	            {% block content950bot %}
	                    </div><!-- end .container for content_950_mid -->
	                </div>
                    <div id="content_950_bot"></div>
                {% endblock %}
                
                <div id="content_bot">&nbsp;</div>
			</div><!-- end #content -->
		</div><!-- end #content_wrapper -->
		
		<div id="subcontent_wrapper">
			<div id="subcontent" class="container" style="position:relative;">
				{% block subcontent %}
	            {% endblock %}
			</div><!-- end #subcontent -->
		</div><!-- end #subcontent_wrapper -->
		
		<div id="footer_wrapper">
    		<div class="container">
    			{% block footer %}{% endblock %}
            </div><!-- end .container for footer -->
        </div>
        {% block jquery_link %}<script src="{{ MEDIA_URL }}js/jquery.js" type="text/javascript"></script>{% endblock %}
	{% block js_effects %}<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>{% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </div>
    </body>
</html>