    {% load i18n %}
	
    <div class="left" style="width:470px;">
    <a href="http://nxtgen.tv/"><img src="{{ MEDIA_URL }}new/images/footer_logo.png" style="vertical-align:middle;height:46px;" alt="{% trans "Netconference" %}" /></a>
    <br />
	{% trans "NetConference technology created by" %} 
	<a href="http://www.illusionfactory.com/" target="_blank">{% trans "The Illusion Factory" %}</a>
	&copy;2006 - 2011 NxtGen LLC
    </div>
	
    <div class="right" style="width:475px; padding:0px;">
    	<a href="{% url contact %}">{% trans "Contact Us" %}</a> • 
    	<a href="{% url affiliate_opportunity %}">{% trans "Opportunity" %}</a> • 
		<a href="/invest/">{% trans "Investor Relations" %}</a> • 
		<a href="http://feedback.netconference.com/" style="color:#86CD03;">{% trans "Feedback" %}</a> •  
		<a href="{% url terms %}">{% trans "Terms of Service" %}</a> • 
		<a href="{% url privacy %}">{% trans "Privacy Policy" %}</a>
		<br/>
      {% trans "Translate" %}: 
	<a href="{% url acct_language_change_by_code lang_code='en' %}"><img src="{{ MEDIA_URL }}new/images/flag_01.png" alt="{% trans "English" %}" title="{% trans "English" %}" /></a>
	<a href="{% url acct_language_change_by_code lang_code='de' %}"><img src="{{ MEDIA_URL }}new/images/flag_02.png" alt="{% trans "German" %}" title="{% trans "German" %}" /></a>
	<a href="{% url acct_language_change_by_code lang_code='es' %}"><img src="{{ MEDIA_URL }}new/images/flag_03.png" alt="{% trans "Spanish" %}" title="{% trans "Spanish" %}" /></a>
	<a href="{% url acct_language_change_by_code lang_code='fr' %}"><img src="{{ MEDIA_URL }}new/images/flag_04.png" alt="{% trans "French" %}" title="{% trans "French" %}" /></a>
	<a href="{% url acct_language_change_by_code lang_code='sv' %}"><img src="{{ MEDIA_URL }}new/images/flag_05.png" alt="{% trans "Swedish" %}" title="{% trans "Swedish" %}" /></a>
       &nbsp;<a href="http://ce.org/default.asp" target="_blank"><img src="{{ MEDIA_URL }}new/images/cea_logo.gif" width="88" height="31" alt="cea" /></a> &nbsp;
	  &nbsp;<a href="http://www.la.bbb.org/Business-Report/NxtGenTV-LLC-100097178" target="_blank"><img src="{{ MEDIA_URL }}new/images/bbb_icon.gif" width="37" height="36" alt="bbb" /></a> &nbsp;
	  <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=XtsRX9f9yipRMIWJgGecrgSHLpzopsfxYINOI0oNEwBzmJfUy4PSv0xo9G"></script></span>
	</div> 
    <div class="clear"></div>
	
