{% load i18n %}
{% load active_nav %}

{% block nav %}

<div id="top_navi">
    {% if user.is_authenticated %}
    {% url conferencing as conferencing %}
    <a id="dashboard_nav" href="{{ conferencing }}" class="{% active_nav request conferencing %}" >{% trans "Dashboard" %}</a>
    {% url my_conferences as my_conferences %}
    <a id="conf_nav" href="{{ my_conferences }}" class="{% active_nav request my_conferences %}">{% trans "Conferences" %}</a>
    {% url my_files as my_files %}
    <a id="files_nav" href="{{ my_files }}" class="{% active_nav request my_files %}">{% trans "Files" %}</a>
    <!--{% url my_netsign as my_netsign  %}
    <a id="netsign_nav" href="{{ my_netsign }}" class="{% active_nav request my_netsign %}">{% trans "NetSign" %} </a>-->
    {% url vmail_compose as vmail_compose %}
    <a id="messages_nav" href="{{ vmail_compose }}" class="{% active_nav request vmail_compose %}">{% trans "Messages" %}</a>
    {% url vmail_wizardCompose as vmail_wizardCompose %}
    <a id="vmail_nav" href="{{ vmail_wizardCompose }}" class="{% active_nav request vmail_wizardCompose %}">{% trans "V-Mail&#0153;" %}</a>
   
    {% url invitations_contacts as invitations_contacts  %}
    <a id="contacts_nav" href="{{ invitations_contacts }}" class="{% active_nav request invitations_contacts %}">{% trans "Contacts" %}</a>
{% comment %}
    {% url your_tribes as your_tribes  %}
    <a id="workgroups_nav" href="{{ your_tribes }}" class="{% active_nav request your_tribes %}">{% trans "Groups" %}</a>
    {% url project_dashboard as project_list %}
    <a id="projects_nav" href="{{ project_list }}" class="{% active_nav request project_list %}">{% trans "Projects" %}</a>
{% endcomment %}
    {% else %}
    {% url netconference as netconference %}
    <a id="whats_netc_logout_nav" href="{{ netconference }}" class="{% active_nav request netconference %}">{% trans "What is NetConference?" %}</a>
    {% url features_home as features_home  %}
    <a id="features_logout_nav" href="{{ features_home }}" class="{% active_nav request features_home %}">{% trans "Features" %}</a>
    {% url subscription_list as subscription_list  %}
    <a id="pricing_logout_nav" href="{{ subscription_list }}" class="signup_link {% active_nav request subscription_list %}" rel="#signup_note"><span class="green_text">{% trans "Plans & Pricing" %}</span></a>
    {% url acct_signup as acct_signup %}
    <a id="signup_logout_nav" href="{{ acct_signup }}" class="signup_link {% active_nav request acct_signup %}" rel="#signup_note">{% trans "Get Started" %}</a>
    {% endif %}
</div>
{% endblock %}
