{% extends "base.html" %}

{% load i18n %}
{% load openid_tags %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block account_links %}
    {% if user.is_authenticated %}<a href="{% url subscription_list %}">{% trans "UPGRADE" %}</a> <a href="{% url acct_settings %}">{% trans "SETTINGS" %}</a>{% endif %} <a id="help_id">{% trans "HELP" %}</a>
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
    <a href="{% url acct_logout %}">{% trans "LOG OUT" %}</a> / <a href="{% url profile_detail user %}">{% trans "PROFILE" %}</a>

    {% else %}
    <a href="{% url acct_login %}">{% trans "LOG IN" %}</a> / <a href="{% url subscription_list %}">{% trans "SIGN UP" %}</a>{% endif %}
{% endblock %}

{% comment %}
{% block logo_link_image %}
    {% if user_theme.logo %}<a href="{% url home %}"><img src="{{ user_theme.logo_url }}" alt="{% trans "NetConference" %}" border="0" height="32px" /></a> {% else %}<a href="{% url home %}"><img src="{{ MEDIA_URL }}img/logo_main.png" alt="{% trans "NetConference" %}" border="0" height="32px" /></a> {% endif %}
{% endblock %}
{% endcomment %}

{% block nav %}
{% include "site_nav.html" %}
{% endblock %}


{% block footer %}
	{% include "site_footer.html" %}
	{% block modals %}
	{% endblock %}
{% endblock %}


{% block extra_body_base %}

{% if INCLUDE_ANALYTICS %}
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
<script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-229347-13");
    pageTracker._trackPageview();
    } catch(err) {}
	</script>
{% endif %}

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
    {% block extra_body %}{% endblock %}
<script type="text/javascript">


	    {% if subnav_current_add %}
	    $('.subnav').append('<li class="current"><a href=".">{{subnav_current_add}}</a></li>')
	    {% endif %}    
	    {% if subnav_current %}
	    $("#{{ subnav_current }}").addClass('current')
	    {% endif %}
	    {% if nav_current %}
	    $("#{{ nav_current }}").attr('id','nav_select')
	    {% endif %}
	
	
	{% block nav_script %}{% endblock %}

	
	$(function() { $(".subnav").lavaLamp({ fx: "backout", speed: 600 })});
	$("ul.subnav li").mouseout(function(eventObj) { $("ul.subnav li.current a").css("color", "#750998"); });
	$("ul.subnav li").mouseover(function(eventObj) { 
	    if ($(this).attr("class") != "current") {
	      $("li.current a").css("color", "#ffffff");
	    }
	});
	
	$(document).ready(function(){
	    $(document).pngFix();
	    
	    $("#help_id").click(function(){
	    	  var redirect = true;
	    	  $.ajax({
	    			  type:"GET",
	    			  async: false,
	    			  url: "/account/login/RedirectToForm",
	    			  success: function(data){
	    				  if(data=="noAuth"){
	    					  
	    				  }else{
	    					$('#virtual_form').find('input:eq(1)').attr('value',data);
	    					 $('#virtual_form').submit();
	    						 redirect = false;
	    				  	   }
	    				  
	    			      }
	    			 });
	    	  
	    	  		 if(redirect) {
	    	  			window.location.replace("http://support.netconference.com/"); 
	           		 }

	    	  
	          });
	      $("#help_id").mouseover(function(){
	    	  $(this).attr("style","cursor: pointer");
	      });
	      
	    $('#nav li a').not("#nav_select")
	        .css( {backgroundPosition: "50% 52px"} )
	        .mouseover(function(){
	            $(this).animate({
	                backgroundPosition: "(50% 37px)",
	                color: "#8a278a"
	            }, { duration: 200, queue: false });
	            })
	    .mouseout(function(){
	        $(this).animate({
	            backgroundPosition: "(50% 52px)",
	            color: "#fff"
	        }, { duration: 200, queue: false });
	    });
	
	    var triggers = $(".modalInput").overlay({ 
	        expose: { 
	            color: '#090909',  
	            loadSpeed: 200, 
	            opacity: 0.9,
	            closeOnClick: false
	        },
	        closeOnClick: false 
	    });
	
	    var upgrade_buttons = $("#upgrade_notice button").click(function(e) { 
	        var yes = upgrade_buttons.index(e.target) === 0;
	        var c_link = "{% url subscription_list %}";
	        if(yes){
	            document.location = c_link;
	        }
	    });
	
	    {% block extra_jquery %}{% endblock %}
	});
	</script>
{% endblock %}
