{% extends "new_base.html" %}
{% load checkout_tags %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Signup (all fields are required)" %}{% endblock %}

{% block extra_css_pre %}
<style type="text/css">
    .mid table td {
        padding: 5px;
    }
    .paypal {
        display:none;
    }
</style>
{% endblock %}

{% block content %}
<!--CONTENT STARTS -->
<div id="content_page">
    <div class="leftpanel">
        {% if error_message %}
        <tr>
            <td colspan="2" align="left" valign="middle">
                <ul class="errorlist">
                    <li>
                    {{ error_message }}
                    </li>
        {% endif %}
        {% if form.non_field_errors %}
                    {% for error  in form.non_field_errors %}
                    <li>
                        {{ error }}
                    </li>
                    {% endfor %}
        {% endif %}
                </ul>
            </td>
        </tr>
	<div class="top">{% trans "You are just seconds away from upgrading your NetConference account!" %}</div>
          <div class="mid">
            <h3 class="green_text"><img src="{{ MEDIA_URL }}new/images/one_icon.png" width="25" height="26" alt="One" class="left_fl" />&nbsp;{% trans "Contact Info" %}</h3>
            <div></div>
            <form method="POST" action=".">
                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                        <td colspan="2" align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle">{% trans "Email" %}:</td>
                        <td align="left" valign="middle">
                            {% if form.email.errors  %}
                            {{ form.email.errors }}
                            {% endif %}
                            {{ form.email }}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle">{% trans "Phone" %}:</td>
                        <td align="left" valign="middle">
                            {% if form.phone.errors  %}
                            {{ form.phone.errors }}
                            {% endif %}
                            {{ form.phone}}
                        </td>
                    </tr>
                </table>
                <br/>
                <h3 class="green_text"><img src="{{ MEDIA_URL }}new/images/two_icon.png" width="25" height="26" alt="Two" class="left_fl"  />&nbsp;{% trans "Credit Card Info" %}</h3>
                <div></div>
                <br/>
                <!--<h3 class="green_text"><img src="{{ MEDIA_URL }}new/images/three_icon.png" width="25" height="26" alt="Three"  class="left_fl" />&nbsp;Enter Your Billing Information - SECURE</h3>-->
                <div></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                        <td colspan="2" align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
                    </tr>
                    <tr>
                        <td width="150" align="left" valign="middle">{% trans "Payment Method" %}:</td>
                        <td align="left" valign="middle">
                            {{ form.credit_card_type }}
                            <img src="{{ MEDIA_URL }}new/images/icons.png" width="193" height="23" alt="card Icons" style="vertical-align:middle;" />
                        </td>
                    </tr>
                    <tr class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
                        <td align="left" valign="middle">{% trans "Card Number" %}:</td>
                        <td align="left" valign="middle">
                            {% if form.credit_card_number.errors  %}
                            {{ form.credit_card_number.errors }}
                            {% endif %}
                            {{ form.credit_card_number }}
                        </td>
                    </tr>
                    <tr class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
                        <td align="left" valign="middle">{% trans "Expires on" %}:</td>
                        <td align="left" valign="middle">
                            {{ form.credit_card_expire_month }}
                            {{ form.credit_card_expire_year }}
                        </td>
                    </tr>
                    <tr class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
                        <td align="left" valign="middle">{% trans "CVV" %}</td>
                        <td align="left" valign="middle">
                            {% if form.credit_card_cvv.errors  %}
                            {{ form.credit_card_cvv.errors }}
                            {% endif %}
                            {{ form.credit_card_cvv }}
                        </td>
                    </tr>
                </table>
                <h3 class="green_text toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
                    <img src="{{ MEDIA_URL }}new/images/three_icon.png" width="25" height="26" alt="Three"  class="left_fl" />&nbsp;{% trans "Enter Your Billing Information - SECURE" %}
                </h3>
                <div></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="5" class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
                    <tr>
                        <td colspan="2" align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle">{% trans "Billing Name:" %}</td>
                        <td align="left" valign="middle">
                            {% if form.billing_name.errors  %}
                            {{ form.billing_name.errors }}
                            {% endif %}
                            {{ form.billing_name}}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle">{% trans "Billing Address 1:" %}</td>
                        <td align="left" valign="middle">
                            {% if form.billing_address_1.errors  %}
                            {{ form.billing_address_1.errors }}
                            {% endif %}
                            {{ form.billing_address_1}}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle">{% trans "Billing Address 2:" %}</td>
                        <td align="left" valign="middle">
                            {% if form.billing_address_2.errors  %}
                            {{ form.billing_address_2.errors }}
                            {% endif %}
                            {{ form.billing_address_2}}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle">{% trans "Billing City:" %}</td>
                        <td align="left" valign="middle">
                            {% if form.billing_city.errors  %}
                            {{ form.billing_city.errors }}
                            {% endif %}
                            {{ form.billing_city}}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle">{% trans "Billing State:" %}</td>
                        <td align="left" valign="middle">
                            {% if form.billing_state.errors  %}
                            {{ form.billing_state.errors }}
                            {% endif %}
                            {{ form.billing_state}}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle">{% trans "Billing Zip:" %}</td>
                        <td align="left" valign="middle">
                            {% if form.billing_zip.errors  %}
                            {{ form.billing_zip.errors }}
                            {% endif %}
                            {{ form.billing_zip}}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle">{% trans "Billing Country:" %}</td>
                        <td align="left" valign="middle">
                            {% if form.billing_country.errors  %}
                            {{ form.billing_country.errors }}
                            {% endif %}
                            {{ form.billing_country}}
                        </td>
                    </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="5" class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
                    <tr>
                        <td align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
                    </tr>
                    <tr>
                        <td align="left" valign="middle">{% url terms as terms %}{% url privacy as privacy %}
                            {% blocktrans with terms as terms %}
                            <p>By clicking Upgrade my account you agree to the<span class="blue_text"><a href="{{ terms }}" class="blue_text"> Terms of Service</a></span>, <span class="blue_text"><a href="{{ privacy }}" class="blue_text">Privacy</a></span>, and<span class="blue_text"> <a href="#" class="blue_text">Refund policies</a></span>. </p>
                            {% endblocktrans %}
                            <p><br />
                            </p>
                            <p>{{ form.signup_code }}</p>
                            <input type="submit" name="button" id="button" value="{% trans "Upgrade My Account" %}" class="buttonGreen" style="float:right;" /></td>
                    </tr>
                </table>
            </form>
            <div class="paypal">
                {{ paypal_form.render }}
            </div>
        </div>
        <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="{{ MEDIA_URL }}new/images/thanks_message.png" width="259" height="169" alt="{% trans "Thanks for choosing NetConference" %}" />
        {% blocktrans %}
        <div class="message_rpanel">Blow right through your daily <br/>
            business objectives using your <br/>
            virtual office in the cloud</div>
        <div class="message_rpanel">
            <h2>Thousands of</h2>
            new users sign up every week</div>
        <div class="message_rpanel">
            <h2>Secure and Reliable</h2>
            Your data is backed up daily</div>
        <div class="message_rpanel">
            <h2>Great Customer Service</h2>
            Fast, accurate, and friendly help</div>
        {% endblocktrans %}
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
</div>
<!--CONTENT ENDS -->
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" charset="utf-8">
$("#id_credit_card_type").change(function() {
        var toggle_rows = $(".toggle");
        if ($(this).val() == "PayPal") {
        toggle_rows.hide();
        $(".paypal").show();
        }
        else {
        toggle_rows.show();
        $(".paypal").hide();
        }
        });
</script>
{% endblock %}
