<tr>
	<td width="160" style="text-align:right;vertical-align:middle;">
	{% if form_field.field.required %}*{% endif %}
	{{ form_field.label_tag }}
	</td>
	<td>
	{% if form_field.errors %}
		<ul class="errorlist">
		{% for error in form_field.errors %}
			<li>{{ form_field.label }}: {{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
			
	{{ form_field }}
	</td>
</tr>