{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Receipt" %}{% endblock %}

{% load catalog_filters %}

{% block subnav %}
    {% if user.is_authenticated %}
    	<ul class="subnav">
            <li><a href="{% url acct_email %}">{% trans "E-Mail Addresses" %}</a></li>
            {# <li><a href="/openid/associations/">{% trans "OpenID Associations" %}</a></li> #}
            {% if user.password %}
            <li><a href="{% url acct_passwd %}">{% trans "Change Password" %}</a></li>
            {% else %}
            <li><a href="{% url acct_passwd_set %}">{% trans "Set Password" %}</a></li>
            {% endif %}
            {% if user.password and request.openids %}
            <li><a href="{% url acct_passwd_delete %}">{% trans "Delete Password" %}</a></li>
            {% endif %}
            <li><a href="{% url acct_language_change %}">{% trans "Language" %}</a></li>
            <li><a href="{% url acct_timezone_change %}">{% trans "Time Zone" %}</a></li>
            <li><a href="{% url avatar_change %}">{% trans "Picture" %}</a></li>
            <li class="current"><a href="{% url subscription_personal %}">{% trans "Subscription" %}</a></li>
        </ul>
    {% else %}
        &nbsp; {# need this to give subnav some height when empty #}
    {% endif %}
{% endblock %}

{% block body %}
<style type="text/css">
    tr.items_list_row td { text-align: left; }
    th.right, td.right { text-align: right; }
</style>
    <h3 style="text-align:center;">{% trans "Thanks" %}! &nbsp;{% trans "Your subscription was successful" %}.</h3>
    
    <h1 class="uni_form_header" style="margin: 1em auto 0;border-left: 1px solid #aaa; border-right: 1px solid #aaa;">{% trans "Order Confirmation" %}</h1>
	<table id="receipt" class="items_list" width="594" style="margin: 0 auto 2em;">
		<thead>
		<tr class="items_list_def" style="line-height:14px;">
			<th scope="col">{% trans "Name" %}</th>
			<th scope="col">{% trans "Price" %}</th>
			<th scope="col">{% trans "Quantity" %}</th>
			<th class="right" scope="col">{% trans "Total" %}</th>
		</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="2" style="height:8px;text-align:left;border-top:1px solid #ccc;background:#ffc;line-height:14px;padding:6px 0em 4px 0em;font-weight:bold;">
				<span style="margin-left:10px;">{% trans "Your Order Number is" %}: {{ order.hash_uuid }}</span>
				</td>
				<td style="height:8px;text-align:left;border-top:1px solid #ccc;background:#ffc;line-height:14px;padding:6px 0em 4px 0em;font-weight:bold;"> </td>
				<td style="height:8px;text-align:right;padding-right:1em;border-top:1px solid #ccc;background:#ffc;line-height:14px;padding:6px 0em 4px 0px;font-weight:bold;">
				<span style="margin-right:10px;">{% trans "Order Total" %}: {{ order.total|currency }}</span>
				</td>
			</tr>
		</tfoot>
		<tbody>
		{% for item in order_items %}
		<tr class="items_list_row">
			<td>{{ item.name }}</td>
			<td>{{ item.price|currency }} {% ifequal item.recurrence_unit "M" %}/{% trans "month" %}{% endifequal %}</td>
			<td>{{ item.quantity }}</td>
			<td class="right" style="text-align:right;">{{ item.total|currency }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<img src="https://shareasale.com/sale.cfm?amount={{ order.total }}&tracking={{ order.hash_uuid }}&transtype=sale&merchantID=28392" width="1" height="1">
{% endblock %}

{% comment %}
{% block receipt_analytics %}
	{% include 'marketing/google_analytics_order.html' %}
	
{% endblock %}
{% endcomment %}
