{% extends "new_base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "Dashboard" %}
{% endblock %}

{% block content %}
<div id="dashboard_base">
  <div><img src="{{ MEDIA_URL }}new/images/dashboard_newtitle.gif" alt="Let's Get Started" width="453" height="76" /></div>
  <div><img src="{{ MEDIA_URL }}new/images/dashboard_shadow.gif" width="657" height="24" alt="shadow" /></div>
  <h1>Your subscription has been {% ifequal action "upgrade" %}upgraded{% else %}{% ifequal action "downgrade" %}downgraded{% endifequal %}{% endifequal %} and now you are subscribed to {{sub}} plan</h1>
  <h2>
    Your subscription will remain valid till {{expires}}. You will be charged ${{price}}
 when your current term expires on {{expires}}.
  </h2>
  <h2>
    Click <a href="{% url conferencing %}">here</a> to go to your dashboard.
  </h2>
</div>
{% endblock %}
