<div class="left" style="text-align:center"><img src="{{MEDIA_URL}}images/profile_img.jpg" width="164" height="126" alt="" />
  <p class="name">{% if user_obj.first_name %}{{user_obj.first_name}}{% if user_obj.last_name %}{{user_obj.last_name}}{% endif %}{% else %}{{user_obj.username}}{% endif %}</p>
  
  <input type="button" class="prof_buttonGreen" value="Instant Conference" />
  <ul class="leftNav">
    {% if not is_public %}<li><a href="{% url profile_edit %}">Edit Profile</a></li>{% endif %}
    <li><a href="{% url profile_detail1 user_obj.username %}" class={% if conferences_button %}"profselected"{% endif %}>Conferences</a></li>
    <li><a href="{% url profile_files user_obj.username %}" class={% if files_button %}"profselected"{% endif %}>Files</a></li>
    <li><a href="{% url profile_contacts user_obj.username %}" class={% if contacts_button %}"profselected"{% endif %}>Contacts</a></li>
    <li><a href="{% url vmail_compose %}?send_to={{user_obj.username}}">Send Message</a></li>
    {% ifnotequal request.user user_obj %}{% if request.user.is_authenticated %}<li><a href="{% url profile_add_contact user_obj.username %}">Add to Contacts</a></li>{% endif %}{% endifnotequal %}
  </ul>

<div class="clear"></div>
<div class="location">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="dark">
          <td align="left" valign="top">
          	<p><strong>Location:</strong></p>
              <ul>
                <li>{{user_obj.get_profile.location}}</li>
              </ul>
      	</td>
        </tr>
        <tr class="light">
          <td align="left" valign="top">
          	<p><strong>Time Zone:</strong></p>
              <ul>
                <li>{{timezone}}</li>
              </ul>
      	</td>
        </tr>
        <tr class="dark">
          <td align="left" valign="top"><p><strong>Website:</strong></p>
              <ul>
              	<li><a href="{{user_obj.get_profile.website}}">{{user_obj.get_profile.website}}</a></li>
              </ul>
      	</td>
        </tr>
        <tr class="light">
          <td align="left" valign="top">
          	<p><strong>About:</strong></p>
              <ul>
                <li>{{user_obj.get_profile.about}}</li>
              </ul>
		</td>
        </tr>
      </table>
    </div>
</div>
