  {% extends "newer_base.html" %}
{% load i18n %}
{% load subscription_tags %}
  {% block content %}
<ul id="messages">
  {% for message in messages %}
  <li>{{ message }}<a href="#" class="buttonGreenSmall message-close" style="float:right;text-align:center;text-decoration:none;line-height:25px;margin-bottom:10px;" onclick="$(this).parent().hide();">{% trans "Clear" %}</a></li>
  {% endfor %}
</ul>
  <div class="profile_page">
    {% include "profiles/newer_profile_sidebar.html" %}
    <div class="right"><p class="conf">Files:</p> 
    <div class="profile_btn_all">All</div>
    <div class="right_view">
    <div class="list_view"></div>
    <div class="thumb_view"></div>
    </div>
    <div class="files_paging">
    <div class="files_pagination">
   <a href="?per_page={{per_page}}&page=1"><img src="{{MEDIA_URL}}images/icon_previous_first.png" width="9" height="9" border="0"></a>
   &nbsp;&nbsp;&nbsp;&nbsp;
   {% if page_obj.has_previous %}<a href="?per_page={{per_page}}&page={{page_obj.previous_page_number}}"><img src="{{MEDIA_URL}}images/icon_previous.png" width="8" height="9" border="0"></a>{% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{page_obj.start_index}} &nbsp;- &nbsp;{{page_obj.end_index}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   {% if page_obj.has_next %}<a href="?per_page={{per_page}}&page={{page_obj.next_page_number}}"><img src="{{MEDIA_URL}}images/icon_next.png" width="8" height="9" border="0"></a>{% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;
   <a href="?per_page={{per_page}}&page={{page_obj.paginator.num_pages}}"><img src="{{MEDIA_URL}}images/icon_next_last.png" width="9" height="9" border="0"></a>
    &nbsp;&nbsp;&nbsp;&nbsp; View
     <select id="per_page_real1">
    <option value="25" {% ifequal per_page 25 %}selected="selected"{% endifequal %}>25</option>
    <option value="50" {% ifequal per_page 50 %}selected="selected"{% endifequal %}>50</option>
    <option value="100" {% ifequal per_page 100 %}selected="selected"{% endifequal %}>100</option>
    </select>&nbsp; per page
    </div>
    
    </div>
    
    <div class="smallclear"></div>
   <table class="files_list tableborder" cellpadding="0" cellspacing="0" style="table-layout:inherit; word-break: break-word; white-space: normal; width: 100%;">
   	<tbody>
    	<tr class="thBg">
        	<td align="left" valign="middle" class="profile_check rightline"><input type="checkbox" /></td>
            <td align="left" valign="middle" class="profile_type rightline">Type</td>
            <td align="left" valign="middle" class="profile_name rightline">Name<a href="#"><img src="{{MEDIA_URL}}images/arrow_up.png" alt="" width="14" height="10" border="0" align="right" /></a></td>
          <td align="left" valign="middle" class="profile_fileinfo rightline">File Info</td>
            <td align="left" valign="middle" class="profile_size rightline">Size</td>
            <td align="left" valign="middle" class="profile_views rightline">Views</td>
            <td align="left" valign="middle" class="profile_modified rightline">Lastmodified</td>
            <td align="left" valign="middle" class="profile_createdon rightline">Created On</td>
            <td align="center" valign="middle" class="profile_settingicon"><img src="{{MEDIA_URL}}images/profile_setting.png" alt="Settings" width="16" height="15" border="0" style="cursor: pointer;" />
            <div class="schedule_setting_form" style="display: none;">
                    <div class="settings_header"> 
                    View Columns         
                    </div>
                    <ul id="setting_columns" class="schedule_filter" style="width:97%;margin-bottom:0">
                    <li>
                    <p><input type="checkbox" name="columns" id="column1" value="title" checked="checked">
        <label class="schedule_type_checked" for="column1">Type</label><br></p>
                    </li>
                    <li>
                    <p><input type="checkbox" name="columns" id="column2" value="date_time" checked="checked">
        <label class="schedule_type_checked" for="column2">Name</label><br></p>
                    </li>
                   
                    <li>
                    <p><input type="checkbox" name="columns" id="column3" value="host" checked="checked">
        <label class="schedule_type_checked" for="column3">File Info</label><br></p>
                    </li>
                    <li>
                    <p><input type="checkbox" name="columns" id="column4" value="invites" checked="checked">
        <label class="schedule_type_checked" for="column4">Views</label><br></p>
                    </li>
                    <li>
                    <p><input type="checkbox" name="columns" id="column5" value="created_on" checked="checked">
        <label class="schedule_type_checked" for="column5">Last Modified</label><br></p>
                    </li>
                     <li>
                    <p><input type="checkbox" name="columns" id="column6" value="created_on" checked="checked">
        <label class="schedule_type_checked" for="column6">Created On</label><br></p>
                    </li>
                     <li>
                    <p><input type="checkbox" name="columns" id="column7" value="privacy" checked="checked">
        <label class="schedule_type_checked" for="column7">Privacy</label><br></p>
                    </li>
                    </ul>
                    </div>
            </td>
    	</tr>
        {% if not object_list %}
            <tr class="{% cycle 'dark' 'light' %}">
              <td colspan="9"><h3 style="color:red;">{% if query_string %}{% trans "No files found for this query" %}{% else %}{% trans "No files found" %}{% endif %}</h3></td>
            </tr>
        {% endif %}
        {% for file in object_list %}
    	<tr class="{% cycle 'dark' 'light' %}" onmouseover="this.className='over'" onmouseout="this.className='light'">
    	  <td align="left" valign="middle" class="profile_check"><input type="checkbox" /></td>
    	  <td align="left" valign="middle" class="profile_type"><img src="{{MEDIA_URL}}images/doc_icon.png" alt="" width="20" height="23" border="0" /></td>
    	  <td align="left" valign="middle" class="profile_name">{{file.title}}</td>
    	  <td align="left" valign="middle" class="profile_fileinfo">{% if file.page_count %}{{file.page_count}} pages{% endif %}</td>
  	      <td align="left" valign="middle" class="profile_size">{% if file.page_count %}{{file.page_count}} pages{% endif %}</td>
  	      <td align="left" valign="middle" class="profile_views">{{file.views_total}}</td>
  	      <td align="left" valign="middle" class="profile_modified">{{file.timestamp|date:"m/j/y"}}</td>
  	      <td align="left" valign="middle" class="profile_createdon">{{file.timestamp|date:"m/j/y"}}</td>
  	      <td align="left" valign="middle">&nbsp;</td>
    	</tr>
    {% endfor %}
    	<tr class="light">
    	  <td align="left" valign="middle">&nbsp;</td>
    	  <td align="left" valign="middle" class="profile_type">&nbsp;</td>
    	  <td align="left" valign="middle" class="profile_name">&nbsp;</td>
    	  <td align="left" valign="middle" class="profile_fileinfo">&nbsp;</td>
    	  <td align="left" valign="middle" class="profile_size">&nbsp;</td>
    	  <td align="left" valign="middle" class="profile_views">&nbsp;</td>
          {% if not is_public %}
    	  <td colspan="2" align="left" valign="middle" style="padding:10px 0;">{{total_bytes}} / {{user_obj.get_subscription.file_size_mb_limit|file_size_units}} &nbsp; <a href="{% url subscription_list %}"><button class="purple_small_button">Upgrade</button></a></td>
          {% endif %}
    	  <td align="left" valign="middle">&nbsp;</td>
  	  </tr>
    </tbody>
   </table>
   <div class="smallclear"></div>
   <div class="profile_btn_all">All</div>
    <div class="right_view">
    <div class="list_view"></div>
    <div class="thumb_view"></div>
    </div>
    <p class="files_paging" style="font-weight: bold;font-size: 12px;color: #9fa0a2; vertical-align:middle;">
   <a href="?per_page={{per_page}}&page=1"><img src="{{MEDIA_URL}}images/icon_previous_first.png" width="9" height="9" border="0"></a>
   &nbsp;&nbsp;&nbsp;&nbsp;
   {% if page_obj.has_previous %}<a href="?per_page={{per_page}}&page={{page_obj.previous_page_number}}"><img src="{{MEDIA_URL}}images/icon_previous.png" width="8" height="9"></a>{% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;{{page_obj.start_index}} &nbsp;- &nbsp;{{page_obj.end_index}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   {% if page_obj.has_next %}<a href="?per_page={{per_page}}&page={{page_obj.next_page_number}}"><img src="{{MEDIA_URL}}images/icon_next.png" width="8" height="9"></a>{% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;
   <a href="?per_page={{per_page}}&page={{page_obj.paginator.num_pages}}"><img src="{{MEDIA_URL}}images/icon_next_last.png" width="9" height="9"></a>
    &nbsp;&nbsp;&nbsp;&nbsp; View
     <select id="per_page_real1">
    <option value="25" {% ifequal per_page 25 %}selected="selected"{% endifequal %}>25</option>
    <option value="50" {% ifequal per_page 50 %}selected="selected"{% endifequal %}>50</option>
    <option value="100" {% ifequal per_page 100 %}selected="selected"{% endifequal %}>100</option>
    </select>&nbsp; per page</p>
    </div>
  </div>
{% block extrafooterscript %}
    <script>
    $("#per_page_real1").change(function(){
        var selected_per_page = $("#per_page_real1 option:selected").text();
        //alert(selected_per_page);
        window.location = '{% url profile_files user_obj %}?per_page=' + selected_per_page + '&page=1';
    });
    $("#per_page_real2").change(function(){
        var selected_per_page = $("#per_page_real2 option:selected").text();
        //alert(selected_per_page);
        window.location = '{% url profile_files user_obj %}?per_page=' + selected_per_page + '&page=1';
    });
    </script>
{% endblock %}
  {% endblock %}
