  {% extends "newer_base.html" %}
    {% load i18n %}
  {% block content %}
<ul id="messages">
  {% for message in messages %}
  <li>{{ message }}<a href="#" class="buttonGreenSmall message-close" style="float:right;text-align:center;text-decoration:none;line-height:25px;margin-bottom:10px;" onclick="$(this).parent().hide();">{% trans "Clear" %}</a></li>
  {% endfor %}
</ul>
  <div class="profile_page">
    {% include "profiles/newer_profile_sidebar.html" %}
    <div class="right"><p class="conf">Contacts: </p>
    <div id="files_paging">
    <div id="search-form">
    	<form method="get" id="searchform" action=".">
		  <input type="text" value="Search " name="search" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" id="searchinput" />
		  <input type="button" id="searchsubmit" class="searchsubmit" />
          <input type="button" id="searchClear" class="searchclear" />
		</form>
	</div> <!-- end #search-form -->

    <div class="files_pagination">
    {{page_obj.object_list.0.name}} - {% for obj in object_list %}{% if forloop.last %}{{obj.name}}{% endif %}{% endfor %} <a href="?per_page={{per_page}}&page=1"><img src="{{MEDIA_URL}}images/icon_previous_first.png" alt="" width="9" height="9" border="0"></a>
   
    {% if page_obj.has_previous %}
   <a href="?per_page={{per_page}}&page={{page_obj.previous_page_number}}"><img src="{{MEDIA_URL}}images/icon_previous.png" alt="" width="8" height="9" border="0"></a>
    {% endif %}
   &nbsp;&nbsp;{{page_obj.start_index}} &nbsp;- &nbsp;{{page_obj.end_index}}&nbsp;&nbsp;
    {% if page_obj.has_next %}
   <a href="?per_page={{per_page}}&page={{page_obj.next_page_number}}"><img src="{{MEDIA_URL}}images/icon_next.png" alt="" width="8" height="9" border="0"></a>
    {% endif %}
   
   <a href="?per_page={{per_page}}&page={{page_obj.paginator.num_pages}}"><img src="{{MEDIA_URL}}images/icon_next_last.png" alt="" width="9" height="9" border="0"></a>
     View
     <select id="per_page_real1">
    <option value="25" {% ifequal per_page 25 %}selected="selected"{% endifequal %}>25</option>
    <option value="50" {% ifequal per_page 50 %}selected="selected"{% endifequal %}>50</option>
    <option value="10" {% ifequal per_page 100 %}selected="selected"{% endifequal %}>100</option>
    </select>&nbsp; per page   </div>
    </div>
    <div class="smallclear"></div>
   <table class="files_list tableborder" cellpadding="0" cellspacing="0" style="table-layout:inherit; word-break: break-word; white-space: normal; width: 100%;">
   	<tbody>
    	<tr class="thBg">
        	<td align="left" valign="middle" class="schedule_event_title">First Name <a href="#"><img src="{{MEDIA_URL}}images/arrow_up.png" align="right" width="14" height="10" alt="" /></a></td>
            <td align="left" valign="middle" class="schedule_event_title">Last Name</td>
          </tr>
        {% if not object_list %}
    	<tr class="{% cycle 'dark' 'light' %}">
    	  <td align="left" valign="middle" class="profile_firstname" colspan="2">No contacts exist</td>
    	  </tr>
        {% endif %}
        {% for contact in object_list %}
            <tr class="{% cycle 'dark' 'light' %}">
              <td align="left" valign="middle" class="profile_firstname">{{contact.name}}</td>
              <td align="left" valign="middle" class="profile_lastname">{{contact.name}}</td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
   <div class="smallclear"></div>
    </div>
  </div>
  {% endblock %}
{% block extrafooterscript %}
    <script>
        $("#searchClear").click(function(){
            $("#searchinput").val('');            
        });
        $("#per_page_real1").change(function(){
            var selected_per_page = $("#per_page_real1 option:selected").text();
            window.location = '{% url profile_contacts user_obj %}?per_page=' + selected_per_page + '&page=1';
        });
    </script>
{% endblock %}
