{% extends "newer_base.html" %}
{% load i18n %}
{% load timezone_filters %}
{% load scheduletags %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% block extra_css %}
{% endblock %}
  {% block content %}
<ul id="messages">
  {% for message in messages %}
  <li>{{ message }}<a href="#" class="buttonGreenSmall message-close" style="float:right;text-align:center;text-decoration:none;line-height:25px;margin-bottom:10px;" onclick="$(this).parent().hide();">{% trans "Clear" %}</a></li>
  {% endfor %}
</ul>
  <div class="profile_page">

    {% include "profiles/newer_profile_sidebar.html" %}

    <div class="right"><p class="conf">Conferences: </p> 
    <div class="files_pagination">
   <a href="?{% if per_page %}per_page={{per_page}}{% endif %}&page=1"><img src="{{MEDIA_URL}}images/icon_previous_first.png" width="9" height="9"></a>
   &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_previous %}
   <a href="?{% if per_page %}per_page={{per_page}}{% endif %}&page={{page_obj.previous_page_number}}"><img src="{{MEDIA_URL}}images/icon_previous.png" width="8" height="9"></a>
    {% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{first_on_page}} &nbsp;- &nbsp;{{last_on_page}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
   <a href="?{% if per_page %}per_page={{per_page}}{% endif %}&page={{page_obj.next_page_number}}"><img src="{{MEDIA_URL}}images/icon_next.png" width="8" height="9"></a>
    {% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;
   <a href="?{% if per_page %}per_page={{per_page}}{% endif %}&page={{pages}}"><img src="{{MEDIA_URL}}images/icon_next_last.png" width="9" height="9"></a>
    &nbsp;&nbsp;&nbsp;&nbsp; View
     <select id="per_page_real1">
    <option value="25" {% ifequal per_page 25 %}selected="selected"{% endifequal %}>25</option>
    <option value="50" {% ifequal per_page 50 %}selected="selected"{% endifequal %}>50</option>
    <option value="10"{% ifequal per_page 100 %}selected="selected"{% endifequal %}>100</option>
    </select>&nbsp; per page
   </div>
   <div class="smallclear"></div>
   <table class="files_list tableborder" cellpadding="0" cellspacing="0" style="table-layout:inherit; word-break: break-word; white-space: normal; width: 100%;">
   	<tbody>
    	<tr class="thBg">
        	<td colspan="2" align="left" valign="middle" class="schedule_event_title">Title</td>
            <td align="left" valign="middle" class="schedule_event_title">Date &amp; Time</td>
            <td align="left" valign="middle" class="schedule_event_title">Created</td>
        </tr>
        {% if not object_list %}
            <tr class="{% cycle 'dark' 'light' %}">
              <td colspan="4"><h3 style="color:red;">{% if query_string %}{% trans "No conferences found for this query" %}{% else %}{% trans "No conferences found" %}{% endif %}</h3></td>
            </tr>
        {% endif %}
        {% for conference in object_list %}
            <tr class="{% cycle 'dark' 'light'%}">
                  <td align="left" valign="middle" class="purple schedule_event_text"><strong>{{conference.title}}</strong></td>
                  <td align="left" valign="middle" class="schedule_event_join"><a href="{{conference.get_conference_url}}" class="profile_join_btn">Join</a>
                  </td>
                  <td align="left" valign="middle" class="schedule_event_date">
                    {% ifequal conference.type 'G' %}
                    {% trans "Now" %}
                    {% else %}
                        {% if user.is_authenticated %}
                        {{ conference.start|localtime:account.timezone|date:"m/j/Y, h:i A" }}
                        {% else %}
                        {{ conference.start|localtime:timezone|date:"m/j/Y, h:i A" }}
                        {% endif %}
                    {% endifequal %}                  </td>
                  <td align="left" valign="middle" class="schedule_event_createon">
                        {% if user.is_authenticated %}
                        {{ conference.created_on|localtime:account.timezone|date:"m/j/Y" }}
                        {% else %}
                        {{ conference.created_on|localtime:timezone|date:"m/j/Y" }}
                        {% endif %}                  </td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
   <div class="smallclear"></div>
   <p class="files_paging" style="font-weight: bold;font-size: 12px;color: #9fa0a2">
   <a href="?{% if per_page %}per_page={{per_page}}{% endif %}&page=1"><img src="{{MEDIA_URL}}images/icon_previous_first.png" width="9" height="9" border="0"></a>
   &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_previous %}
   <a href="?{% if per_page %}per_page={{per_page}}{% endif %}&page={{page_obj.previous_page_number}}"><img src="{{MEDIA_URL}}images/icon_previous.png" width="8" height="9" border="0"></a>
    {% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;{{first_on_page}} &nbsp;- &nbsp;{{last_on_page}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
   <a href="?{% if per_page %}per_page={{per_page}}{% endif %}&page={{page_obj.next_page_number}}"><img src="{{MEDIA_URL}}images/icon_next.png" width="8" height="9" border="0"></a>
    {% endif %}
   &nbsp;&nbsp;&nbsp;&nbsp;
   <a href="?{% if per_page %}per_page={{per_page}}{% endif %}&page={{pages}}"><img src="{{MEDIA_URL}}images/icon_next_last.png" width="9" height="9" border="0"></a>
    &nbsp;&nbsp;&nbsp;&nbsp; View
     <select id="per_page_real2">
    <option value="25" {% ifequal per_page 25 %}selected="selected"{% endifequal %}>25</option>
    <option value="50" {% ifequal per_page 50 %}selected="selected"{% endifequal %}>50</option>
    <option value="10"{% ifequal per_page 100 %}selected="selected"{% endifequal %}>100</option>
    </select>&nbsp; per page
   </p>
    </div>
  </div>
{% endblock %}
{% block extrafooterscript %}
    <script>
    $("#per_page_real1").change(function(){
        var selected_per_page = $("#per_page_real1 option:selected").text();
        //alert(selected_per_page);
        window.location = '{% url profile_detail1 user_obj %}?per_page=' + selected_per_page + '&page=1';
    });
    $("#per_page_real2").change(function(){
        var selected_per_page = $("#per_page_real2 option:selected").text();
        //alert(selected_per_page);
        window.location = '{% url profile_detail1 user_obj %}?per_page=' + selected_per_page + '&page=1';
    });
    </script>
{% endblock %}
