{% extends "new_base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% block head_title %}{% blocktrans %}Edit Profile{% endblocktrans %}{% endblock %}

{% block submenu %}
<div id="submenu_container">
<ul class="subnav">
  <li class="current"><a href="{% url profile_detail user.username %}">{% trans "Your Profile" %}</a></li>
  <li><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
</ul>
</div>
{% endblock %}

{% block extra_css_pre %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
<style>
    th { width: 110px; }
    #btn_recurring { display: none; }
    .container th { border-bottom: none; vertical-align:top; text-align:left; }
    #id_start_2{ margin-left:5px;}
    .hidden { display: none; }
    .uniform_faux input,textarea {
        padding:3px;
        width:260px;
    }
    #button_save_conference {
        width: 227px;
    }
    .checkboxes input {
        width: auto;
    }
</style>
{% endblock %}

{% block content %}
<!--CONTENT STARTS -->
<div id="login_page">
<div class="leftpanel">
 <div class="top"></div>
<div class="mid">
<h1 class="purple_text">{% blocktrans %}Edit Profile{% endblocktrans %}</h1>
<div><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" alt="shadow" height="19" width="619"></div>
<form class="uniform_faux" action="." method="post"> {{ profile_form.non_field_errors }}
  <fieldset>
  <table  width="100%" border="0" cellspacing="0"  cellpadding="5" >
   
      <tr>
        <td>{% trans "Name" %} * :</td>
        <td> {% if profile_form.name.errors %} {{ profile_form.name.errors }} {% endif %} {{ profile_form.name }} </td>
      </tr>
     
      <tr>
        <td>{% trans "Location" %} :</td>
        <td> {% if profile_form.location.errors %} {{ profile_form.location.errors }} {% endif %} {{ profile_form.location }}
        </td>
      </tr>
     
      <tr>
        <td >{% trans "About" %} :</td>
        <td > {% if profile_form.about.errors %} {{ profile_form.about.errors }} {% endif %} {{ profile_form.about }} </td>
      </tr>
     
      <tr>
        <td>{% trans "Website" %} :</td>
        <td> {% if profile_form.website.errors %} {{ profile_form.website.errors }} {% endif %} {{ profile_form.website }} </td>
      </tr>

      <tr>
        <td>{% trans "Phone" %} *:</td>
        <td> {% if profile_form.phone.errors %} {{ profile_form.phone.errors }} {% endif %} {{ profile_form.phone }} </td>
      </tr>

      <tr>
        <td width="100"  style="vertical-align: top;">{% trans "Interested in" %} *:</td>
        <td class="checkboxes">
            {% if profile_form.interested_in.errors %} {{ profile_form.interested_in.errors }} {% endif %} {{ profile_form.interested_in }}
        </td>
      </tr>
      <tr>
        <td colspan="2"> <br />
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">{% trans "Industry" %} *:</td>
        <td class="checkboxes">
            {% if profile_form.industry.errors %} {{ profile_form.industry.errors }} {% endif %} {{ profile_form.industry }}
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><a href="javascript:void(0);" onclick="$('.uniform_faux')[0].reset()" class="purple_text" style="float: right; margin-right: 10px;">{% trans "Cancel Changes" %}</a></td>
      </tr>
      <tr>
        <td><br />
        </td>
        <td>
        <div style="width: 207px; float: right; margin-right: 4px;"> 
            <input id="button_save_change" type="submit" class="buttonGreen"  value="{% trans "Save Changes" %}" />
        </div>
        <br />
        </td>
      </tr>
    
  </table>
  </fieldset>
</form>
<p>&nbsp;</p>
</div>
 <div class="bottom" ></div>
<div style="margin-bottom:50px;"></div>
</div>

<div class="rightpanel"> <img src="{{ MEDIA_URL }}new/images/tell_us_message.gif" alt="{% trans "Your Office in The Cloud" %}" height="82" width="241"></div>

</div>

<!--CONTENT ENDS --> {% endblock %}
