{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head_base %}
<style type="text/css">
  .subnav { margin: 0px; }
</style>
{% endblock %}


{% block subnav %}
    {% if user.is_authenticated %}
        <ul class="subnav">
            <li><a href="{% url profile_detail user.username %} ">{% trans "Your Profile" %}</a></li>
            <li><a href="{% url profile_list %} ">{% trans "All Profiles" %}</a></li>
            <li><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
