{% load i18n %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load humanize %}

<div class="profile clearfix">
    <div style="float: left;">{% avatar user 40 %}</div>
    <div style="padding: 5px; margin-left: 50px;"><a href="{% url user_dashboard user.username %}">{{ user }}</a><br />
     {% if user.get_profile.name %}<b>{% trans "Name" %}</b>: {{ user.get_profile.name }}{% endif %}<br />
     {% if user.get_profile.about %}<b>{% trans "About" %}</b>: {{ user.get_profile.about|linebreaks }}<br />{% endif %}
     {% if user.get_profile.location%}<b>{% trans "Location" %}</b>: {{ user.get_profile.location }}<br />{% endif %}
     {% if user.get_profile.website %}<b>{% trans "Website" %}</b>: <a href="{{ other_user.get_profile.website }}">{{ user.get_profile.website }}</a><br />{% endif %}
     </div>
</div><!-- end .profile -->