{% extends "profiles/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load humanize %}
{% load profile_tags %}

{% block head_title %}{% blocktrans %}All Profiles{% endblocktrans %}{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul class="subnav">
            <li><a href="{% url profile_detail user.username %} ">{% trans "Your Profile" %}</a></li>
            <li class="current"><a href="{% url profile_list %} ">{% trans "All Profiles" %}</a></li>
            <li><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="items_list_top">
        <form id="list_search" method="GET" action="">
            <input type="text" id="list_search_input" class="list_search" name="search" value="{{ search_terms }}" />
            <button type="submit" class="list_search_btn" id="list_search_btn">
    		    <img src="{{ MEDIA_URL }}img/btn_go_light.png" width="29" height="20" alt="search" title="search" />
    		</button>
        </form>
        {% if search_terms %}
        <a href="{% clear_search_url request %}" style="font-size:11px;color:#fff;float:right;margin-right:16px;position:relative;top:-4px;"><em>{% trans "Clear Search Terms" %}</em></a>
        {% endif %}
        {% trans "Profiles" %}
    </h1>
    
    <div style="width:850px;margin-left:40px;">
    {% if users %}
        <p>{% trans "Order by:" %}
            {% ifequal order 'date' %}
                <a href="{% url profile_list %}?order=name">{% trans "Name" %} &uarr;</a>
            {% else %}
                <a href="{% url profile_list %}?order=date">{% trans "Date" %} &darr;</a>
            {% endifequal %}
        </p>
 
        {% autopaginate users %}
        
        {% ifequal order 'date' %}
            {% regroup users by date_joined.date as users_by_date_joined %}
 
            {% for date in users_by_date_joined %}
                <h2 class="join_date">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h2>
 
                {% for user in date.list %}
                    {% show_profile user %}
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for user in users %}
                {% show_profile user %}
            {% endfor %}
        {% endifequal %}
        <hr />
        <div class="paginate_dark">
        {% paginate %}
        </div>
       {% else %}
       <p>{% trans "No profiles were found" %}.</p>
    {% endif %}
    </div>
{% endblock %}
