{% load uni_form %}

<form class="uniForm" method="POST" action="{% url profile_edit %}">
    <fieldset class="inlineLabels">
        {{ profile_form|as_uni_form }}
        <div class="form_block" style="margin-top: 12px;">
            <button type="submit" class="positive"><img src="{{ MEDIA_URL }}img/silk/accept.png" border="0" /> &nbsp;Save Changes</button>
            <a href="{% url profile_detail profile.user.username %}" class="button negative close" onclick="$.facebox.close();return false;"><img src="{{ MEDIA_URL }}img/silk/cancel.png" border="0" /> &nbsp;Cancel</a>
        </div>
    </fieldset>
</form>