{% load i18n %}
{% load avatar_tags %}
{% if is_me %}

{% comment %} REMOVED FOR NOW
    <div class="tribes">
        <h2>{% trans "Your Tribes" %}</h2>
        {% if other_user.tribe_set.all %}
            {% for tribe in other_user.tribe_set.all %}
                <a href="{% url tribe_detail tribe.slug %}">{{ tribe.name }}</a>
            {% endfor %}
        {% else %}
            {% url tribe_thing_list "" as tribe_url %}
            <p>{% blocktrans %}You are not yet a member of any <a href="{{ tribe_url }}">tribes</a>.{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endcomment %}
    <h1 class="store_title" style="width:256px;margin-left:0px;float:right;margin-right:12px; width:300px;">{% trans "Your Friends" %}</h1>
    <ul class="friends" style="float:right;clear:right;margin-right:12px; width:323px;">
    {% if other_friends %}
        {% for friendship in other_friends %}
        <li>
	  <div style="height:100%;">
            <div class="avatar">{% avatar friendship.friend 40 %}</div>
            <div class="details" style="position:relative;top:20%;">
	      <a href="{% url user_dashboard friendship.friend.username %}" title="{{ friendship.friend.username }}">
                {% if friendship.friend.first_name %}{% if friendship.friend.last_name %}
                    {{ friendship.friend.first_name }} {{ friendship.friend.last_name }}{% endif %}
                {% else %}
                    {{ friendship.friend.username }}
                {% endif %}
              </a>
	    </div>	    
	  </div>
        </li>
        {% endfor %}
    {% else %}
        <li>{% blocktrans %}None. You should look at the list of <a href="/profiles/">profiles</a> and see if there's anyone you know.{% endblocktrans %}</li>
    {% endif %}
    </ul>
{% endif %}

{% if is_friend %}

{% comment %} REMOVED FOR NOW
    <div class="tribes">
        <h2>{% blocktrans %}{{ other_user }}'s Tribes{% endblocktrans %}</h2>
        {% if other_user.tribe_set.all %}
            {% for tribe in other_user.tribe_set.all %}
                <a href="{% url tribe_detail tribe.slug %}">{{ tribe.name }}</a>
            {% endfor %}
        {% else %}
            <p>{% blocktrans %}Not yet a member of any tribes.{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endcomment %}
    <h1 class="title">{% blocktrans %}{{ other_user }}'s Friends{% endblocktrans %}</h1>
    <ul class="friends" style="width:260px;">
    {% if other_friends %}
        {% for friendship in other_friends %}
        <li>
            <div class="avatar">{% avatar friendship.friend 40 %}</div>
            <div class="details"><a href="{% url user_dashboard friendship.friend.username %}" title="{{ friendship.friend.username }}">
                {% if friendship.friend.first_name %}{% if friendship.friend.last_name %}
                    {{ friendship.friend.first_name }} {{ friendship.friend.last_name }}{% endif %}
                {% else %}
                    {{ friendship.friend.username }}
                {% endif %}
            </a></div>
        </li>
        {% endfor %}
    {% else %}
        <li style="text-align:center;">{% blocktrans %}None.{% endblocktrans %}</li>
    {% endif %}
    </ul>
{% endif %}
