{% extends "profiles/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Edit Profile{% endblocktrans %}{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul class="subnav">
            <li class="current"><a href="{% url profile_detail user.username %} ">{% trans "Your Profile" %}</a></li>
            <li><a href="{% url profile_list %} ">{% trans "All Profiles" %}</a></li>
            <li><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

{% block body %}
    
    <h1 class="uni_form_header">{% trans "Edit Profile" %}</h1>
    
    {% include "profiles/profile_form.html" %}
    
{% endblock %}
