
{% extends "profiles/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load uni_form %}
{% load vmail_tags %}

{% block head_title %}{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}pinax/css/facebox.css" />
{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul class="subnav">
            <li{% if is_me %} class="current"{% endif %}><a href="{% url profile_detail user.username %} ">{% trans "Your Profile" %}</a></li>
            <!--<li><a href="{% url profile_list %} ">{% trans "All Profiles" %}</a></li>-->
            <li><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
            {% if not is_me %}<li class="current"><a href="#">Profile for {{ other_user }}</a></li>{% endif %}
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

{% block body %}
    
    <div class="right_panel" style="float:right;">
        {% include "profiles/profile_right_panel.html" %}
    </div>
    
    <div class="span-14 prefix-1" style="float:left;">
        <br />
        <div class="vcard">
            <div id="profile_avatar">
                <div><img src="{% avatar_url other_user 80 %}" alt="Photo of {{ other_user }}" class="photo" /></div>
                {% if is_me %}
                <a href="{% url avatar_change %}" id="avatar_replace">({% trans "replace" %})</a>
                {% endif %}
            </div>
            
            {% if other_user.get_profile.name %}
                <h1>{% blocktrans %}Profile for <span class="nickname">{{ other_user }}</span>{% endblocktrans %}</h1>
            {% else %}
                <h1>{% blocktrans %}Profile for <span class="fn nickname">{{ other_user }}</span>{% endblocktrans %}</h1>
            {% endif %}
            
            <div class="profile_info">
                {% if other_user.get_profile.name %}<p><b>{% trans "Name" %}</b>: <span class="fn">{{ other_user.get_profile.name }}</span></p>{% endif %}
                {% if other_user.get_profile.location%}<p><b>{% trans "Location" %}</b>: {{ other_user.get_profile.location }}</p>{% endif %}
                {% if other_user.get_profile.website %}<p><b>{% trans "Website" %}</b>: <a class="url" href="{{ other_user.get_profile.website }}">{{ other_user.get_profile.website }}</a></p>{% endif %}
                {% if other_user.get_profile.about %}<p><strong>{% trans "About" %}</strong>: {{ other_user.get_profile.about|urlize|linebreaks }}</p>{% endif %}
            </div>
            
            {% if is_me %}
            <p>
            <input type="button" class="buttonGreen" value="{% trans "Edit Profile" %}" style="float:left;" onclick="javascript:location.href='{% url profile_edit %}';"/>
            </p>
            {% endif %}
        {% if user.is_authenticated %}
        
        {% comment %} REMOVED FOR NOW
            <p>
                <a href="{% url tweet_followers other_user %}">{% trans "Followers" %}</a>: {{ other_user.followers.count|default:"0" }}
                <a href="{% url tweet_following other_user %}">{% trans "Following" %}</a>: {{ other_user.followed.count|default:"0" }}
            </p>
        {% endcomment %}
        
            {% if is_me %}
            {% else %}
            
            {% comment %} REMOVED FOR NOW
                {# @@@ this could be done with ajax, or at the very least turned into an inclusion tag #}
                <div>
                    <form method="POST" action="{% url toggle_follow other_user %}">
                        {% if is_following %}
                            <input type="hidden" name="action" value="unfollow" /><input type="submit" value="{% trans "unfollow" %}"/>
                        {% else %}
                            <input type="hidden" name="action" value="follow" /><input type="submit" value="{% trans "follow tweets" %}"/>
                        {% endif %}
                    </form>
                </div>
            {% endcomment %}
            <br />
                {# @@@ this should be an inclusion tag #}
                {% if is_friend %}
                    <p>{% blocktrans %}You are friends with {{ other_user }}.{% endblocktrans %} {# <a href="{% url messages_compose %}{{ other_user }}/">{% trans "Send a message" %}.</a> #}</p>
                    <div>
                        <form method="POST" action="">
                          <input type="hidden" name="action" value="remove" /><input type="submit" value="{% trans "Remove From Friends" %}" class="buttonGreenMedium" style="float:left;" />
                        </form>
                    </div>
                {% else %}
                    {% if previous_invitations_from %}
                        <p>{% blocktrans %}{{ other_user }} has requested friendship.{% endblocktrans %}</p>
                        {% for invitation in previous_invitations_from %}
                            <div class="friendship_request">
                                <p>From <a href="{% url profile_detail invitation.from_user.username %}">{{ invitation.from_user }}</a> ({{ invitation.sent }}):</p>
                                <p class="invitation_message">{{ invitation.message }}</p>
                                <form method="post" action="">
                                    <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                    <input type="hidden" name="action" value="accept"/>
                                    <input type="submit" class="buttonGreenSmall" style="float:left;" value="{% trans 'Accept' %}" />
                                </form>
                                <form method="post" action="">
                                    <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                    <input type="hidden" name="action" value="decline"/>
                                    <input type="submit" class="buttonGreenSmall" style="float:left;" value="{% trans 'Decline' %}" />
                                </form>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% if previous_invitations_to %}
                            <p>{% trans "Friendship request sent." %}</p>
                        {% else %}
                            <h1 class="uni_form_header">{% trans "Add As Friend" %}</h1>
                            <form class="uniForm" method="POST" action="">
                                <fieldset class="inlineLabels">
                                    {{ invite_form|as_uni_form }}
                                    <div class="form_block">
                                        <input type="hidden" name="action" value="invite" />
                                        <button type="submit">{% trans "Invite" %}</button>
                                        {% blocktrans %}{{ other_user }} to be a friend.{%  endblocktrans %}
                                    </div>
                                </fieldset>
                            </form>
                        {% endif %} {# previous_invitations_to #}
                    {% endif %} {# previous_invitations_from #}
                {% endif %} {# is_friend #}
                
            {% endif %} {# is me #}
            
            {% comment %} REMOVED FOR NOW
            {% plugin_point "profiles.profile" user=other_user owner=other_user viewer=user %}
            {% endcomment %}
            
        {% else %} {# not user.is_authenticated #}
            {% url acct_signup as signup_url %}
            {% url acct_login as login_url %}
            {% url subscription_list as subscription_url %}
            <p>{% blocktrans %}<a href="{{ subscription_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to add this person as a friend<!-- and see their tweets and blog posts-->.{% endblocktrans %}</p>
        {% endif %}
    </div>
    </div>
{% endblock %}

{% block extra_body %}
    {% include "facebox_js.html" %}
    <script src="{{ STATIC_URL }}pinax/js/avatar.js" type="text/javascript"></script>
{% endblock %}

