{% extends "account/base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block head_title %}{% trans "Picture" %}{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul class="subnav">
            <li><a href="{% url acct_email %}">{% trans "E-Mail Addresses" %}</a></li>
            {# <li><a href="/openid/associations/">{% trans "OpenID Associations" %}</a></li> #}
            {% if user.password %}
            <li><a href="{% url acct_passwd %}">{% trans "Change Password" %}</a></li>
            {% else %}
            <li><a href="{% url acct_passwd_set %}">{% trans "Set Password" %}</a></li>
            {% endif %}
            {% if user.password and request.openids %}
            <li><a href="{% url acct_passwd_delete %}">{% trans "Delete Password" %}</a></li>
            {% endif %}
            <li><a href="{% url acct_language_change %}">{% trans "Language" %}</a></li>
            <li><a href="{% url acct_timezone_change %}">{% trans "Time Zone" %}</a></li>
            <li class="current"><a href="{% url avatar_change %}">{% trans "Picture" %}</a></li>
            <li><a href="{% url subscription_personal %}">{% trans "Subscription" %}</a></li>
            {% comment %}
            <li><a href="{% url acct_other_services %}">{% trans "Other Services" %}</a></li>
            {% endcomment %}
        </ul>
    {% else %}
        &nbsp; {# need this to give subnav some height when empty #}
    {% endif %}
{% endblock %}

{% block body %}
    <div style="margin: 0 2em;">
        <h1>{% trans "Picture" %}</h1>
        <h3>{% trans "Here is your current picture:" %}</h3>
      {% avatar user 80 %}
      {% if not avatars %}
            <h3>Your picture is currently the one found on <a href="http://www.gravatar.com/">Gravatar</a>, but you can upload a custom picture just for this site!  To do so, simply use the form below.</h3>
        {% else %}
            <h3>{% trans "Select a different picture" %}:</h3>
            <form method="POST" action="">
                <ul class="avatar_choices">
                    {{ primary_avatar_form.choice }}
                </ul><br/>
                <input type="submit" value="Choose new Default" class="buttonGreenMedium" style="float:left;"/>
            </form>
            {% url avatar_delete as avatar_delete_url %}<br/><br/>
            <p>{% blocktrans %}Don&rsquo;t like these pictures? You can <a href="{{ avatar_delete_url }}">choose which ones to delete</a>.{% endblocktrans %}</p>
        {% endif %}
<br/><br/>
        <h3>{% trans "Upload a Picture:" %}</h3>
        <form enctype="multipart/form-data" method="POST" action="">
            <input type="file" name="avatar" value="{% trans "Avatar Image" %}" /><br/>
            <input type="submit" value="{% trans "Upload New Image" %}" class="buttonGreenMedium" style="float:left;"/>
        </form>
    </div>
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
       <!-- nothing here -->
    </script>
{% endblock %}
