{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Picture" %}{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul class="subnav">
            <li><a href="{% url acct_email %}">{% trans "E-Mail Addresses" %}</a></li>
            {# <li><a href="/openid/associations/">{% trans "OpenID Associations" %}</a></li> #}
            {% if user.password %}
            <li><a href="{% url acct_passwd %}">{% trans "Change Password" %}</a></li>
            {% else %}
            <li><a href="{% url acct_passwd_set %}">{% trans "Set Password" %}</a></li>
            {% endif %}
            {% if user.password and request.openids %}
            <li><a href="{% url acct_passwd_delete %}">{% trans "Delete Password" %}</a></li>
            {% endif %}
            <li><a href="{% url acct_language_change %}">{% trans "Language" %}</a></li>
            <li><a href="{% url acct_timezone_change %}">{% trans "Time Zone" %}</a></li>
            <li class="current"><a href="{% url avatar_change %}">{% trans "Picture" %}</a></li>
            <li><a href="{% url subscription_personal %}">{% trans "Subscription" %}</a></li>
            {% comment %}
            <li><a href="{% url acct_other_services %}">{% trans "Other Services" %}</a></li>
            {% endcomment %}
        </ul>
    {% else %}
        &nbsp; {# need this to give subnav some height when empty #}
    {% endif %}
{% endblock %}

{% block body %}
    <h1>{% trans "Picture" %}</h1>
  {% if not avatars %}
        <h3>You have no pictures to delete.  Please <a href="{% url avatar_change %}">upload one</a> now.</h3>
    {% else %}
        <h3>Select which pictures to delete:</h3>
        <form method="POST" action="">
            <ul class="avatar_choices">
                {{ delete_avatar_form.choices }}
            </ul>
            <input type="hidden" name="next" value="{% url avatar_change %}" />
            <input type="submit" value="Delete" class="buttonGreenSmall" style="float:left"/>
        </form>
    {% endif %}
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
       <!-- nothing here -->
    </script>
{% endblock %}
