{% extends "friends_app/base.html" %}
{% load i18n %}

{% block head_title %}Send Promo Code{% endblock %}

{# {% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans "Home" %}</a> &rsaquo; Invite user</div>{% endblock %} #}
{% block extra_head %}
    <style type="text/css">
    form input[type=text] { width: 500px; height: 24px; clear: left; }
    textarea { width: 500px; height: 200px; }
    label { clear: right; display: block; }
    button { float: none; }
    #example_text p { margin: 0.7em auto 0.3em; }
    </style>
{% endblock %}

{% block subnav %}
<ul class="subnav">
    <li><a href="{% url invitations_contacts %}">{% trans "Imported Contacts" %}</a></li>
    <li><a href="{% url contact_groups %}">{% trans "Contact Groups" %}</a></li>
    <li><a href="{% url invitations %}">{% trans "Invitations" %}{% if invitations_count %} ({{ invitations_count }}){% endif %}</a></li>
    <li id='affiliate_invite'><a href="{% url affiliate_invite %}">{% trans "Invite Affiliates" %}</a></li>
    {% if user.is_staff %}<li class="current"><a href="{% url admin_invite_user %}">{% trans "Send Promo Code" %}</a></li>{% endif %}
</ul>
{% endblock %}

{% if user.is_staff %}

{% block body %}
<div id="content-main" class="span-22 prefix-1">
    <h2>Welcome, {% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}user.username</h2>{% endif %}. This is a staff-only page.</h2>
    <p>{% blocktrans %}Invite a user by entering their e-mail address. You can enter multiple addresses as a comma-separated list.{% endblocktrans %}</p>
    <p>{% blocktrans %}The recipients will be e-mailed an individual signup code from {% endblocktrans %}{% if user.email %}{{ user.email }}{% else %}noreply@netconference.com{% endif %}{% blocktrans %} to create their account on this website. The code gives them one free Premium Account subscription, for a full year.  They have to redeem the code within 30 days.{% endblocktrans %}</p>
    <p><a href="/admin/signup_codes/signupcoderesult/" target="_blank">{% blocktrans %}Click here to see which signup codes have been redeemed.</a>{% endblocktrans %}</p>
    
    <p><a href="#" id="example">Click here to show an example of the email that will be sent.</a></p>
    <div id="example_text" style="width:86%;background:#eee;border:1px #ccc;margin:-12px auto 2em;padding:0.6em 2em 1em;font-size:12px;display:none;">
        <p>Hello from NetConference and {% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}user.username</h2>{% endif %},</p>

        <p>YOUR PERSONAL MESSAGE WILL APPEAR HERE</p>

        <p>{% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}user.username</h2>{% endif %} has given you the gift of a FREE premium subscription at {{ domain }} ($1200 value).  This subscription is valid for a full year, but you must use your signup link within 30 days to take advantage of this offer.</p>

        <p>Please click the link below to sign up for your FREE NetConference account:</p>

        <p>SIGNUP CODE WILL APPEAR HERE</p>

        <p>NetConference is an exciting new Social Business Collaboration tool where you can:</p>

        <ul>
            <li>Receive a Telephone Conference line with up to 100 participants</li>
            <li>Hold an online meeting with video and VOIP conferencing</li>
            <li>Share your desktop with conference attendees</li>
            <li>Share HD video and other rich media in live sync with your friends</li>
            <li>Upload, store and share large files</li>
            <li>Collaborate in your business like never before!</li>
        </ul>
        
        <p>To see a full list of our features please click here: http://www.netconference.com/features/</p>

        <p>Thanks,<br />
        NetConference Administrative Staff</p>
    </div>
    <form method="POST" action="">
    <div>
        {{ form.as_p }}
        <button type="submit">Send signup code</button>
    </div>
    </form>
</div>
{% endblock %}
    
{% endif %}

{% block extra_jquery %}
    $("#example").live("click", function(){
        $(this).html("Click here to hide the example e-mail.");
        $(this).attr("id", "example_hide");
        $("#example_text").fadeIn();
    });
    $("#example_hide").live("click", function(){
        $(this).html("Click here to show an example of the email that will be sent.");
        $(this).attr("id", "example");
        $("#example_text").fadeOut();
    });
{% endblock %}
