{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Incorrect Code" %}{% endblock %}

{% block body %}
    {% if code %}
    <div style="text-align:center;">
        <h1>{% trans "Incorrect Code" %}</h1>
        <p>{% blocktrans %}The code <b>{{ code }}</b> is incorrect.{% endblocktrans %}</p>
        <p>{% trans "Try again:" %}</p>
    </div>
    {% else %}
    <h2 style="text-align:center;line-height:2em;">{% blocktrans %}Thank you for your interest.<br />NetConference is very close to launching publicly.  Until then signup is disabled.{% endblocktrans %}</h2>
    <p style="text-align:center;">{% blocktrans %}If you have been given a promo code, please enter it here:{% endblocktrans %}</p>
    {% endif %}
    <form action="." style="text-align:center;">
        <input type="text" style="width:200px;height:24px;" name="code" />
        <button type="submit" style="float:none;">Submit</button>
    </form>
{% endblock %}