{% extends "messages/base.html" %}

{% load i18n %}
{% load timezone_filters %}

{% block subnav %}
    <ul class="subnav">
        <li><a href="{% url messages_compose %} ">{% trans "Compose" %}</a></li>
        <li class="current"><a href="{% url messages_inbox %} ">{% trans "Inbox" %} ({{ messages_inbox_count }})</a></li>
        <li><a href="{% url messages_outbox %} ">{% trans "Sent" %}</a></li>
        <li><a href="{% url messages_trash %}">{% trans "Trash" %}</a></li>
        <li><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        <li><a href="{% url invitations %}">{% trans "Invitations" %}{% if invitations_count %} ({{ invitations_count }}){% endif %}</a></li>
        <li><a href="{% url invitations_contacts %}">{% trans "Contacts" %}</a></li>
    </ul>
{% endblock %}

{% block body %}
    <h1>{% trans "Inbox" %}</h1>
    
    <table class="messages">
        <thead>
            <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Received" %}</th><th>{% trans "Action" %}</th></tr>
        </thead>
        <tbody>
            {% for message in message_list %} 
                <tr>
                    <td>{{ message.sender }}</td>
                    <td>
                        {% if message.new %}<strong>{% endif %}
                        {% if message.replied %}<em>{% endif %}
                        <a href="{{ message.get_absolute_url }}">{% if message.subject.strip %}{{ message.subject }}{% else %}(none){% endif %}</a>
                        {% if message.replied %}</em>{% endif %}
                        {% if message.new %}</strong>{% endif %}</td>
                    <td>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT") }}</td>
                    <td><a href="{% url messages_delete message.id %}">{% trans "delete" %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
