{% extends "messages/base.html" %} 

{% load i18n %} 
{% load oembed_tags %}
{% load timezone_filters %}

{% block subnav %}
    <ul class="subnav">
        <li><a href="{% url messages_compose %} ">{% trans "Compose" %}</a></li>
        <li class="current"><a href="{% url messages_inbox %} ">{% trans "Inbox" %} ({{ messages_inbox_count }})</a></li>
        <li><a href="{% url messages_outbox %} ">{% trans "Sent" %}</a></li>
        <li><a href="{% url messages_trash %}">{% trans "Trash" %}</a></li>
        <li><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        <li><a href="{% url invitations %}">{% trans "Invitations" %}{% if invitations_count %} ({{ invitations_count }}){% endif %}</a></li>
        <li><a href="{% url invitations_contacts %}">{% trans "Contacts" %}</a></li>
    </ul>
{% endblock %}

{% block body %}
    <h1>{% trans "View Message" %}</h1>
    
    <dl class="message-headers">
        <dt>{% trans "Sender" %}:</dt>
        <dd><a href="{% url user_dashboard message.sender %}">{{ message.sender }}</a></dd>
        <dt>{% trans "Subject" %}:</dt>
        <dd><strong>{{ message.subject }}</strong></dd>
        <dt>{% trans "Date" %}:</dt>
        <dd>{{ message.sent_at|localtime:account.timezone|date:_("DATETIME_FORMAT")}}</dd>
        <dt>{% trans "Recipient" %}:</dt>
        <dd>{{ message.recipient }}</dd>
    </dl>
    
    <p>{% oembed %}{{ message.body|linebreaksbr }}{% endoembed %}</p>
    
    {% ifequal message.recipient user %}
        <p><a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a></p>
    {% endifequal %}
    
    <p><a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a></p>
{% endblock %}