html > body  {
	background-color:#ffffff;
	font-size:13px;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:normal;
	line-height:normal;
	text-align:left;
	margin:0;
	padding:0;
	text-align:left;
    margin-left:auto;
	margin-right:auto;
	border-width: 1px;
    border-style: solid;
	border-color: #A9A9A9;
	width:1055px;
	position : relative;
}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,p {
	margin:0px;
	padding:0px;
}
ul li {
	list-style-type:none;
}
cite {
	font-style:normal;
}
img {
	border:none;
}
a {
	color:#003399;
	text-decoration:none;
	cursor:pointer;
}
a:visited {
color:#6699CC;
}
a:hover {
text-decoration:underline;
}

/* MISC */
hr.clear {
clear:both;
height:20px;
margin:0 0 0 0;
padding:0;
visibility:hidden;
}
div#footContainer {
	margin-left: auto;
	margin-right: auto;
	width:790px;
}
/*
div#mainStoryCont	ul li {
	list-style-type:none;
}
*/
/* BEGIN STORY STYLES */
div#mainStoryContTop	{
	margin: -5px 0px 0px 5px;
	width: 790px;
	height: 10px;
	background-image: url(../../media/story/storyContTop_785.gif);
	background-repeat: no-repeat;
}
div#mainStoryContBottom	{
	margin:0px 0px 50px 5px;
	width: 790px;
	height: 10px;
	background-image: url(../../media/story/storyContBottom_785.gif);
	background-repeat: no-repeat;
}
div#mainStoryCont	{
	background-color:#fff;
	text-align:left;
	margin:-5px 0px 0px 5px;
	width:785px;
	min-height:1000px;
}
div#storyCo11	{
	width:418px;
	margin-right:10px;
	padding-left:6px;
	float:left;
	min-height:1000px;
	overflow:hidden;
}
div#storyCo12	{
	width:345px;
	margin-right:6px;
	background-color: #fff;
	float:right;
	min-height:1000px;
}
/* WIDE TEMPLATE */
div#storyColWide1	{
	width:576px;
	margin-right:10px;
	padding-left:6px;
	float:left;
	min-height:1000px;
	overflow:hidden;
}
div#storyColWide2	{
	width:172px;
	margin-right:6px;
	background-color: #fff;
	float:right;
	min-height:1000px;
}
/* WIDE TEMPLATE */

div#storyColXwide	{
	width:758px;
	margin-right:10px;
	padding-left:6px;
	min-height:1000px;
	overflow:hidden;
}
/*
div#storyCo12:after	{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
*/
/* STORY BODY */
div#storyBody 	{
	font-size:14px;
	padding:10px 10px 0 10px;
}
div#storyBody h1	{
	font-size:18px;
}
div#storyBody h2	{
	font-weight:normal;
	color:#666;
	font-size:13px;
}
div#storyBody h2.storyDek	{
	font-size:14px;
	margin:8px 0px;
	font-weight:bold;
	color:#000;
}


div#storyBody p	{
	margin:8px 0px;
	font-size:14px;
	line-height:20px;
}

div#storyBody p	{
	margin:10px 0px;
	line-height:22px;
}
div#storyBody .date	{
	color:#666;
}


/* PARTER BACK LINKS */
div#storyBody div#partnerLogo.top	{
	text-align:left;
}

div#storyBody div#partnerLogo.bottom	{
	margin-bottom:20px;
}
div#storyBody div#partnerLogo img	{
	 border:none;
	 width:130px;
	 height:30px;
}

/* BIG STORY ART - CHANGED ON 11.18.09 NGOULD */
div#storyBody #bigStoryArt  {
	width: 390px;
	/*width: 398px;*/
	border: 1px solid #666;
	overflow:hidden;
}
div#storyBody #bigStoryArt img.top {
	/*width: 398px;*/
	/*height:206px;*/
	border-bottom: 1px solid #666;
 }
div#storyBody #bigStoryArt  h4	{
	font-size:14px;
	margin:5px;
 }

/* SMALL STORY ART */
div#storyBody #smallStoryArt  {
	width: 170px;
	border: 1px solid #666;
	float:left;
	margin:0px 10px 5px 0px;
	position:relative;
	top:5px;
 }
div#storyBody #smallStoryArt.smallImageLeft  {
	float:left;
	clear:both;
}
div#storyBody #smallStoryArt.smallImageRight   {
	float:right;
}
div#storyBody #smallStoryArt img.top {
	width: 170px;
	height:170px;
	border-bottom: 1px solid #666;
 }
div#storyBody #smallStoryArt  h4	{
	font-size:13px;
	margin:5px;
 }
/* COLUMNIST TOP*/
div#storyBody #columnistHead b	{
	font-family:Trebuchet MS,Verdana,sans-serif;
	letter-spacing:1px;
	display:block;
	float:left;
	font-weight:normal;
	font-size:11px;
	text-transform:uppercase;
	color:#666;
	margin:0px 8px 0 0;
	padding:1px 6px 0 0;
	border-right:1px solid #000;
	position:relative;
	top:5px;
}
div#storyBody #columnistHead  h2  {
	font-family:Trebuchet MS,Verdana,sans-serif;
	letter-spacing:1px;
	font-weight: bold;
	font-size: 18px;
	margin-left:5px;
	color:#369;
}
div#storyBody #columnist h2.storyDek	{	
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
	margin: 0px;
	color:#000;
}
div#storyBody #columnist h4  {
	font-weight: bold;
	font-size: 16px;
	margin: 0px;
}
div#storyBody #columnist h5 {
	/*font-style: italic;*/
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	margin: 10px 0px 8px 0px;
}
div#storyBody #columnist  {
	width: 200px;
	*width: 380px;
	min-height: 228px;
	border: 1px solid #666;
	padding: 6px 186px 6px 10px;
	margin-top:2px;
	background-position: 0px 0px; 
	background-repeat: no-repeat;
 }



div#storyBody #columnist cite  {
	display:block;
	font-size: 14px;
	font-weight: normal;
	color: #666;
	margin: 3px 0px 10px 0px;
}



div#storyBody #columnist div  {
	font-size: 12px;
	font-weight: bold;
}
/* MARKETS: COMPANY CHART BOX */
div#storyBody #compChartBox	{
	border-right:solid 1px #cccccc;
	border-bottom:solid 1px #cccccc;
	border-left:solid 1px #cccccc;
	width:195px;
	position:relative;
	top:5px;
	float:left;
	margin:0px 10px 5px 0px;
	background:#efefef;
	padding:0px;
}
div#storyBody #compChartBox ul li {
	border-top:solid 1px #cccccc;
	background:#efefef;
	padding:2px;
	text-align:left;
	margin:0px;
}
div#storyBody #compChartBox ul li a h4 {
	font-size: 11px;
	margin:0px;
}
div#storyBody #compChartBox ul li a.flTab,div#storyBody #compChartBox ul li a.flTab:hover,div#storyBody #compChartBox	ul li a.flTab:visited,div#storyBody #compChartBox	ul li a.flTab:active
{
	color: #000;
	text-decoration: none;
	font-size: 11px;
	display: block;
	outline: none;
	background-image: url(../../media/story/expand.gif);
	background-position: 180px 2px;
	background-repeat: no-repeat;
}
div#storyBody #compChartBox ul li.selected a.flTab,div#storyBody #compChartBox ul li.selected a.flTab:hover,div#storyBody #compChartBox ul li.selected a.flTab:visited,div#storyBody #compChartBox ul li.selected a.flTab:active	{
	color: #000;
	text-decoration: none;
	font-size: 11px;
	display: block;
	outline: none;
	background-image: url(../../media/story/collapse.gif);
	background-position: 180px 2px;
	background-repeat: no-repeat;
}
div#storyBody #compChartBox	ul li div  {
	height:190px;
}
div#storyBody #compChartBox	ul li div div {
	margin:2px;
	border:solid 1px #cccccc;
	background:#fff;
	height:152px;
}
div#storyBody #compChartBox div.makeTab {
	margin:0px;
	border:none;
	background:#fff;
	height:120px;
}
div#chartImageBox .forbes-inner-border {
	border-right:none;
}
div#storyBody #compChartBox	ul li div div img {
	clear:both;
	width:175px;
	height:100px;
	border:none;
	padding:0 5px 5px 5px;
}
div#storyBody #compChartBox	ul li div div img.hide {
	display:none;
}
div#storyBody #compChartBox	ul li div div span {
	display:block;
	color: #666;
	text-align:right;
	font-size:10px;
	padding-right:5px;
}
div#storyBody #compChartBox	cite {
	display:block;
	text-align:left;
	font-size:10px;
	padding-right:5px;
	font-style:normal;
	position:relative;
	top:5px;
}
div#storyBody #compChartBox	ul li div div dl  {
	display:block;
	margin-right:5px;
}
div#storyBody #compChartBox	ul li div div dl dt  {
	float:left;
	width:10px;
}
div#storyBody #compChartBox	ul li div div dl dd  {
	text-align:right;
	float:left;
	font-weight:bold;
	color:#000;
	font-size:11px;
	padding:0 2px 0px 0;
	width:54px;
	/*border-right:solid 1px #900;*/
}
div#storyBody #compChartBox .quoteT { 
	width:15px;
	height:12px;
	padding:0px 3px;
	text-align: center;
	font-size:10px;
	margin-left:5px; 
	display:inline;
	border:solid 1px #fff;
}
div#storyBody #compChartBox .d {background-color:#ccc;color:#000;}
div#storyBody #compChartBox .rt{background-color:#f93;color:#000;}
div#storyBody #compChartBox	div#chartImageBox ul  {
	display:block;
	width:185px;
}
div#storyBody #compChartBox	div#chartImageBox ul li.ui-tabs-selected  {
	border-right:solid 1px #cccccc;
	border-top:solid 1px #fff;
	background:#999;
	color:#fff;
	float:left;
	font-size:10px;
}
div#storyBody #compChartBox	div#chartImageBox ul li a  {
	color:#666;
	text-decoration:none;
}
div#storyBody #compChartBox	div#chartImageBox ul li.ui-tabs-selected a  {
	color:#fff;
	text-decoration:none;
	outline:none;
}
div#storyBody #compChartBox	div#chartImageBox ul li  {
	border-right:solid 1px #cccccc;
	border-bottom:solid 1px #cccccc;
	border-top:solid 1px #fff;
	background:#fff;
	float:left;
	font-size:10px;
	width:39px;
	text-align:center;
}
div#storyBody #compChartBox	div#chartImageBox ul > li:last-child  {
	border-right:none;
	border-top:solid 1px #fff;
	background:#fff;
	float:left;
	font-size:10px;
	width:49px;
	text-align:center;
}
div#storyBody #compChartBox	ul li div div ul > li:last-child a  {
	color:#006699;
}
div#storyBody #compChartBox	ul li div div dl dt img	{
	width:8px;
	height:7px;
	border:none;
	position:relative;
	top:2px;
	left:10px;
}
div#storyBody #compChartBox	ul li div div dl dd.red {color:#900;}
div#storyBody #compChartBox	ul li div div dl dd.green  {color:#060;}
div#storyBody #compChartBox	ul li div p  {
	display:block;
	background:#efefef;
	font-size:11px;
	text-align:center;
	padding-top:2px;
	margin:0px;
	line-height:14px;
}

/* MARKETS BRIEF BOX */
div#storyBody #mktBrief	{
	border-top:solid 1px #cccccc;
	border-bottom:solid 1px #cccccc;
	background:#efefef;
	/*width:195px;*/
	margin:20px 0px;
	padding:10px;
}
div#storyBody #mktBrief	h4 {
	color:#990000;
	font-size:14px;
	display:block;
}
div#storyBody #mktBrief	h4 span {
	color:#666;
	font-size:11px;
	font-weight:normal;
}
div#storyBody #mktBrief	h2 {
	font-size:16px;
	margin:10px 0 0 0;
	font-weight:bold;
}
div#storyBody #mktBrief	p {
	font-size:14px;
	line-height:18px;
	margin:0px;
}
div#storyBody #mktBrief	p a {
	font-weight:bold;
}
div#storyBody #mktBrief	div {
	font-size:14px;
	text-align:right;
	margin:10px 0 0 0;
	font-weight:bold;
}
div#storyBody div.commentLink
{
	clear:both;
	background-image: url(../../media/story/comment.gif);
	background-repeat: no-repeat;
	background-position: 3px 0px;
	height:25px;
	margin:15px 0px;
	
}
div#storyBody div.commentLink	h4  {
	padding:2px 0px 0px 33px;
}
div#storyBody div.commentLink	h4 a {
	color:#990000;
	font-size:14px;
	display:block;
}

div#storyBody div#contextualLinks	h4	{
	clear:both;
	padding:8px 0px 8px 0px;
	font-size:14px;
	line-height:
}
div#storyBody div#contextualLinks	h4 img	{
	width: 16px;
	height: 13px;
	position:relative;
	top:2px;
	margin-left:5px;
}
div#storyBody div#sponsoredLinks        h4      {
        clear:both;
        padding:8px 0px 8px 0px;
}




/* ARTICLE CONTROLS */
div#storyBody	#controlsbox {
	width:145px;
	margin:0px 0px 10px 10px;
	padding: 10px;
	float:right;
	border:solid 1px #cccccc;
	background-color:#fff;
	text-align:left;
}

div#storyBody	#controlsbox .control {
	padding:10px;

}


div#storyBody	#controlsbox a {
	font-size: 10px;
	color:#333399;
	text-decoration:none;
	text-transform:uppercase;
	outline: 0;
}
div#storyBody	#controlsbox a:hover {
	color:#990000;
}
div#storyBody	#controlsbox a:focus {
	outline: none;
}
div#storyBody	#controlsbox .control img
{
	padding: 0px 5px 0px 0px;
	width: 17px;
	height: 14px;
	border: none;
	vertical-align: middle;
	float:left;
}
div#storyBody	#controlsbox p {
	margin:6px 0px 6px 0px;
	line-height:17px;
}
div#storyBody	#controlsbox h4 {
	margin:0px 0px 8px 0px;
	color:#990000;
	font-size:13px;
}
div#storyBody	#controlsbox #shareOpen {
	display: none;
	margin:8px 0px 5px 20px;
}
div#storyBody	#controlsbox #shareOpen p {
	margin:0px 0px 6px 0px;
}
div#storyBody	#controlsbox #shareOpen img {
	width: 15px; 
    height: 15px;
	float:left;
}
div#storyBody	#controlsbox a#sharePanel   { 
    width:	72px; 
}
div#storyBody	#controlsbox a#sharePanel	span	{
	margin-left:2px;
}
div#storyBody	#controlsbox a#sharePanel img  { 
	width: 15px; 
    height: 15px;
    position:relative;
    top:0px;
    left:1px;
	vertical-align: middle;
	float:left;
}
div#storyBody	#controlsbox img#buzz  { 
	width: 15px; 
    height: 15px;
    position:relative;
    top:0px;
    left:1px;
	vertical-align: middle;
	float:left;
}
div#storyBody	#controlsbox .shareIconsActive	{
	background-image: url(../../media/story/shareclose_icon.gif);
	background-repeat: no-repeat;
	background-position: 1px -2px;
}
div#storyBody	#controlsbox .shareIconsActive img {
	display:none;
}
div#storyBody	#controlsbox .shareIconsActive	span	{
	/*display:block;*/
	position:relative;
	left:20px;
}







/*sponsored (bottom) horizontal controls styles*/

#horizontalControls {
	margin:20px 0px;
	width:388px;
	min-height:85px;
	border:1px solid #cccccc;
	padding:3px;
}


#horizontalControls .left {
	float:left;
	width:240px;

}

#horizontalControls .left .controls {
	width:240px;

}

#horizontalControls .left ul {
	width:230px;

}


#horizontalControls .controlsLogo {
	float:right;
	width:145px;
	overflow:hidden;
}

#horizontalControls ul {
margin:0px;
padding: 10px 0px;
*padding: 7px 0px;
clear: both;
}


#horizontalControls ul li {
float: left;
margin: 0px 0px 0px 0px;
display: inline;
}

#horizontalControls ul a {
font-size: 10px;
color:#333399;
text-transform:uppercase;
outline: 0;
text-decoration: none;
*letter-spacing: 0.5px;
display: block;
}

#horizontalControls ul a:hover {
color:#990000;
}

#horizontalControls ul a:focus {
outline: none;
}

#horizontalControls ul li img  {
padding: 0px 2px 0px 0px;
width: 17px;
height: 14px;
border: none;
float:left;
margin: -1px 0px 0px 0px;
*margin: 0px 0px 5px 0px;
}

#horizontalControls ul li a.sharePanel   { 
margin: 0px 0px 0px 0px;
}

#horizontalControls ul li a.sharePanel img  { 
width: 13px; 
height: 13px;
vertical-align: middle;
margin: 0px 0px 0px 0px;
}

#horizontalControls ul li div.shareOpen {

border: 1px solid #666;
background-color: #fff;
width: 85px;
padding: 10px 10px 0px 10px;
position: absolute;
z-index: 1;
}

#horizontalControls ul li div.shareOpen div.option {
margin:0px 0px 13px 0px;
display: block;
}

#horizontalControls ul li div.shareOpen div.option img {
float: left;
width: 13px; 
height: 13px;
border: none;
margin: -3px 5px 0px 0px;
}

#horizontalControls ul li img#buzz { 
width: 25px; 
height: 25px;
margin: 0px 0px 5px 0px;
float:left;
}

#horizontalControls ul li .shareIconsActive	{
background-image: url(../../media/story/shareclose_icon.gif);
background-repeat: no-repeat;
background-position: 1px -2px;
}

#horizontalControls ul li .shareIconsActive img {
display:none;
}

#horizontalControls ul li .shareIconsActive	span {
/*display:block;*/
position:relative;
left:20px;
}

#horizontalControls ul div.clear {
height: 5px;
clear: both;
}










/*regular (top) horizontal controls styles*/


div#storyBody ul.controls {
width:398px;
margin:0px 0px 20px 0px;
background-color:#fff;
text-align:left;
padding: 0px;
clear: both;
}



div#storyBody ul.controls li {
float: left;
margin: 0px 9px 0px 0px;
display: inline;
}

div#storyBody ul.controls a {
font-size: 10px;
color:#333399;
text-transform:uppercase;
outline: 0;
text-decoration: none;
*letter-spacing: 0.5px;
display: block;
}

div#storyBody ul.controls a:hover {
color:#990000;
}

div#storyBody ul.controls a:focus {
outline: none;
}

div#storyBody ul.controls li img  {
padding: 0px 2px 0px 0px;
width: 17px;
height: 14px;
border: none;
float:left;
margin: -1px 0px 0px 0px;
*margin: 0px 0px 5px 0px;
}

/*div#storyBody	#controlsbox div.imgs h4 {
margin:0px 0px 8px 0px;
color:#990000;
font-size:13px;
}*/

div#storyBody ul.controls li a.sharePanel   { 
margin: 0px 0px 0px 0px;
}

div#storyBody ul.controls li a.sharePanel img  { 
width: 13px; 
height: 13px;
vertical-align: middle;
margin: 0px 0px 0px 0px;
}

div#storyBody ul.controls li div.shareOpen {
display: none;
border: 1px solid #666;
background-color: #fff;
width: 85px;
padding: 10px 10px 0px 10px;
position: absolute;
z-index: 1;
}

div#storyBody ul.controls li div.shareOpen div.option {
margin:0px 0px 13px 0px;
display: block;
}

div#storyBody ul.controls li div.shareOpen div.option img {
float: left;
width: 13px; 
height: 13px;
border: none;
margin: -3px 5px 0px 0px;
}

div#storyBody ul.controls li img#buzz { 
width: 25px; 
height: 25px;
/*position:relative;
top:0px;
left:1px;
vertical-align: middle;*/
margin: 0px 0px 5px 0px;
float:left;
}

div#storyBody ul.controls li .shareIconsActive	{
background-image: url(../../media/story/shareclose_icon.gif);
background-repeat: no-repeat;
background-position: 1px -2px;
}

div#storyBody ul.controls li .shareIconsActive img {
display:none;
}

div#storyBody ul.controls li .shareIconsActive	span {
/*display:block;*/
position:relative;
left:20px;
}

div#storyBody ul.controls div.clear {
height: 5px;
clear: both;
}







/* SMALL QUOTES BOX */
div#storyBody #quotesbox {
	min-width:158px;
	margin:0px 10px 5px 0px;
	padding:5px;
	float:left;
	border:solid 1px #ccc;
	font-size: 12px;
	font-weight:bold;
	background-color:#fff;
	text-align:left;
	position:relative;
	top:5px;
}
div#storyBody #quotesbox tr	{height:20px;}
div#storyBody #quotesbox td	{white-space: nowrap;}
div#storyBody #quotesbox td.aRight	{text-align: right;}
div#storyBody #quotesbox td.aLeft	{text-align:left;}
div#storyBody #quotesbox td.aCenter { text-align: center; }
div#storyBody #quotesbox div.dQuote { padding:0px 1px;text-align: center;background-color:#ccc;font-size:10px;margin-left:5px; }
div#storyBody #quotesbox div.rtQuote { padding:0px 1px;text-align: center;background-color:#f93;font-size:10px;margin-left:5px; }

div#storyBody #quotesbox a {
	font-size: 12px;
	font-weight:bold;
	color:#333399;
	text-decoration:none;
}

div#storyBody #quotesbox a:hover {
	color:#990000;
}

div#storyBody #quotesbox h4 {
	font-size: 13px;
	color:#990000;
	margin:0px 0px 8px 0px;
}

div#storyBody #quotesbox table {
	padding:0px;
	font-size: 12px;
	font-weight:bold;
	width:158px;
	border:none;
	border-spacing:0px;
	border-spacing: expression(cellSpacing=0)
	border-top:none;
	border-left:none;
	border-right:none;
 	border-bottom:1px solid #cccccc;
	padding:0px 0px 10px 0px;
}

div#storyBody #quotesbox table tr td {
	padding:2px 0px;
}
div#storyBody #quotesbox td img	{
	 width:11px;
	 height:10px;
	 border:none;
}
div#storyBody #quotesbox .red, #quotesTab .red {color:#900;}
div#storyBody #quotesbox .green, #quotesTab .green  {color:#060;}
div#storyBody #quotesbox .nochange, #quotesTab .nochange  {color:#333;}

div#storyBody #quotesbox form {
	padding:6px 0px 0px 0px;
 	width:158px;
 	height:45px;
 	margin:6px 0px 0px 0px;
}

div#storyBody #quotesbox .search {
	margin:5px 5px 0px 0px;
	width:110px;
	font-size: 10px;
	/*float:left;*/
	display:inline;
}

div#storyBody #quotesbox input.go {
	color:#000;
	margin:0 0 -18px 0;
	font-size: 10px;
	font-weight:bold;
	float:right;
	width:35px;
	position:relative;
	top:-18px;
	height:18px;
}

div#storyBody #quotesbox h3 {
}
/* DIGG BOX */
div#storyBody #diggbox {
	width:158px;
	margin:0px 10px 5px 0px;
	padding:5px;
	float:left;
	border:solid 1px #ccc;
	font-size: 12px;
	font-weight:bold;
	background-color:#fff;
	text-align:left;
}
div#storyBody #diggbox h4 {
	font-size: 13px;
	color:#990000;
	margin:0px 0px 8px 0px;
}
div#storyBody #diggbox p {
	font-size: 13px;
	margin:5px 0px 5px 0px;
	font-weight:bold;
	line-height:15px;
}
div#storyBody #diggbox div  {
	border-top:1px solid #ccc;
	margin-top:8px;
	padding-top:8px;
}
div#storyBody #diggbox div h4 {
	display:block;
	float:left;
	width:100px;
	font-weight:bold;
	margin:0px 0px 0px 0px;
}
div#storyBody #diggbox div img {
	float:right;
	width:50px;
	height:35px;
	margin:5px 0px 0px 0px;
	border:none;
}

/* RELATED WIDE 
div#storyColWide1 div#storyBody #relatedBox	{
	width:550px;
}
div#storyColWide1 .noQuote .ui-tabs-panel {
	width:530px;
}
div#storyColWide1 .quote .ui-tabs-panel {
	width:530px;
}*/
/* RELATED XWIDE 
div#storyColXwide div#storyBody #relatedBox	{
	width:732px;
}
div#storyColXwide .noQuote .ui-tabs-panel {
	width:712px;
}
div#storyColXwide .quote .ui-tabs-panel {
	width:712px;
}*/
div#storyBody #relatedBox .quoteT { 
	width:15px;
	height:12px;
	text-align: center;
	font-size:10px;
	margin-left:5px; 
	display:inline;
	border:solid 1px #fff;
}
div#storyBody #relatedBox .d  {background-color:#ccc;color:#000;padding:0px 6px;}
div#storyBody #relatedBox .rt {background-color:#f93;color:#000;padding:0px 3px;}

/* RELATED BOX */
.noQuote .ui-tabs-panel {
	width:380px;
	min-height:100px;
}
.quote .ui-tabs-panel {
	width:380px;
	/*min-height:150px;*/
}
div#storyBody #relatedBox	{
	width:400px;
	margin:15px 0px 35px 0px;
	background-color:#fff;
	text-align:left;
}
/* UPDATED */
div#storyBody #relatedBox	h3 {
	font-size:13px;
	font-weight:bold;
	color:#990000;
	margin-bottom:5px
}
@media projection, screen { .ui-tabs-hide { display:none; } }
@media print { .ui-tabs-nav { display: none; } }

.forbes-inner-border {
	border-right:1px solid #666;
}

div#storyBody #relatedBox .ui-tabs-nav {
	padding:0!important;
	float:left;
	width:100%; 
	margin:0;
}
#relatedBox .ui-tabs-nav li {
  list-style:none;
  float:left;
}
#relatedBox .ui-tabs-nav a {
  background-image:url(../../media/assets/back.gif);
  background-repeat:repeat-x;
  display:block;
  height:17px;
  text-align:center;
  color:#000;
  text-decoration:none!important;
  font-family:Arial,Helvetica,sans-serif;
  outline:none; 
  border-top:1px solid #666;
  font-size:12px;
  font-weight:bold;
  
}
#relatedBox .ui-tabs-nav a:visited {
  color:#000;
}
/*this repositions the bg image.*/
#relatedBox .ui-tabs-nav .ui-tabs-selected a {
  background-image:none;
  border-top:none;
  color:#900;
  font-size:12px;
  background-color:#fff;
}
#relatedBox .ui-tabs-nav .ui-tabs-selected a:visited {
  color:#900;
  
}
#relatedBox .ui-tabs-nav .ui-tabs-disabled a,
#relatedBox .ui-tabs-nav .ui-tabs-disabled a span {
  color:#000;
  opacity:0.4;
  filter:alpha(opacity=40);
  cursor:default;
}
#relatedBox .ui-tabs-panel {
	clear:both;
	padding:10px;
	border-top:1px solid #666;
	border-right:1px solid #666;
	border-bottom:none;
	border-left:1px solid #666;
}

#relatedBox ul.mkBrd	{
  	border-right:1px solid #666;
  	border-left:1px solid #666;
	border-bottom:1px solid #666;
}

div#storyBody #relatedBox	cite {
	clear:both;
	display:block;
	text-align:left;
	font-size:10px;
	padding-right:5px;
	font-style:normal;
	position:relative;
	top:5px;
}



/* RELATED BOX: QUOTES TAB */
div#storyBody #quotesTab	h3 span {
	font-size:10px;
	font-weight:normal;
	color:#666;
}
div#storyBody #quotesTab dl  {
	clear:both;
	display:block;
	padding-top:5px;
	min-height:50px;
}
div#storyBody #quotesTab	dl dt {
	display:block;
	width:100px;
	float:left;
}
div#storyBody #quotesTab	dl dd {
	display:block;
	width:280px;
	float:right;
	background:#fff;
}
div#storyBody #quotesTab	h4  {
	font-size:13px;
	margin:0px;
}
div#storyBody #quotesTab	h4 span {
	font-size:10px;
}
div#storyBody #quotesTab dl dd ul, #storiesTab ul	{
	border:none;
	margin:3px 0px 0px 0px;
}
div#storyBody #quotesTab dl dd ul	li {
	font-weight:bold;
	font-size:12px;
	float:left;
	margin-right:10px;
}
div#storyBody #quotesTab	dl dt img {
	 width:90px;
	 height:50px;
	 border:none;
}
div#storyBody #quotesTab dl dd ul img	{
	 width:11px;
	 height:10px;
	 border:none;
}
div#storyBody #quotesTab dl dd div	{
	clear:left;
	font-size:12px;
	font-weight:bold;
	padding-top:2px;
}


/* RELATED BOX: STORIES TAB */

#storiesTab ul, #slidesTab ul, #videosTab ul {
	border:none;
	margin:3px 0px 0px 0px;
}
#storiesTab ul li, #slidesTab ul li, #videosTab ul li	{
	font-weight:bold;
	font-size:12px;
	padding:3px 0px 3px 0px;
	margin:0px;
}
#storiesTab h5, #slidesTab h5, #videosTab h5	{
	clear:both;
	float:right;
	font-size:13px;
	padding:8px 0px 8px 0px;
}
/* RELATED BOX: IN PIX TAB */
#slidesTab dl	{
	margin:0px;
	float:none;
	clear:both;
}
#slidesTab dl dt	{
	display: block;
	width: 40px;
	float: left;
	clear: both;
}
#slidesTab dl dt img	{
	padding:0px 0px 1px 0px;
	width:35px;
	height:35px:
	border:none;
}
#slidesTab dl dd
{
	display: block;
	float: left;
	padding-top:10px;
}
#slidesTab dl dd a, #videosTab dl dd a	{
	font-weight:bold;
	font-size:12px;
}
/* RELATED BOX: VIDEO TAB */
#videosTab dl	{
	margin:0px;
	float:none;
	clear:both;
}
#videosTab dl dt	{
	display: block;
	width: 67px;
	float: left;
	clear: both;
}
#videosTab dl dt img	{
	padding:0px 0px 1px 0px;
	 width:62px;
	 height:35px:
	 border:none;
}
#videosTab dl dd
{
	display: block;
	float: left;
	padding-top:10px;
}
/* POPULAR STORIES VIDEOS */
#popTabs  {
	/*width:334px;*/
	background-color:#fff;
	text-align:left;
	border:1px solid #666;
}
div#popTabs ol {
	margin-left:40px;
	padding:0;
}
div#popTabs ol li {	
	font-size:12px;
	font-weight:bold;
	list-style-type:decimal;
	margin:0;
	padding:2px 0;
}
#popTabs .ui-tabs-nav {
	padding:0!important;
	float:left;
	width:100%; 
	margin:0;
}
#popTabs .ui-tabs-nav li {
  list-style:none;
  float:left;
}
#popTabs .ui-tabs-nav a {
  background-image:url(../../media/assets/back.gif);
  background-repeat:repeat-x;
  display:block;
  height:17px;
  text-align:center;
  color:#000;
  text-decoration:none!important;
  font-family:Arial,Helvetica,sans-serif;
  outline:none; 
  border-bottom:1px solid #666;
  font-size:11px;
  font-weight:bold;
  
}
#popTabs .ui-tabs-nav a:visited {
  color:#000;
}
/*this repositions the bg image.*/
#popTabs .ui-tabs-nav .ui-tabs-selected a {
/*  background-position:left -23px; */
  background-image:none;
  border-bottom:none;
  color:#900;
  
}
#popTabs .ui-tabs-nav .ui-tabs-selected a:visited {
  color:#900;
  
}
#popTabs .ui-tabs-nav .ui-tabs-disabled a,
#popTabs .ui-tabs-nav .ui-tabs-disabled a span {
  color:#000;
  opacity:0.4;
  filter:alpha(opacity=40);
  cursor:default;
}
#popTabs .ui-tabs-panel {
  padding:0!important;
  border-top:1px solid #FFF;
  clear:left;
  padding:10px 10px 8px 10px;
}

/* hacks to get it working in IE */
#popTabs .ui-tabs-nav li {
  display: inline !important;
  position: relative;
  _top: -3px;
}
#popTabs .ui-tabs-nav li a {
  display: inline !important;
  float: left;

}

#popTabs .ui-tabs-nav li a span {
  display: inline !important;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
  top: -2px;
  _top: 0px;
  _left: 3px;
  _padding-bottom: 2px;
  _padding-right: 13px;
}
/* PAGE */
div#nextPage	{
	font-size:13px;
	margin-top:20px;
	padding-bottom:20px;
}
div#nextPage dl	{
	float:right;
	display:block;
}
div#nextPage dl dt	{
	float:left;
	display:block;
	margin-left:5px;
	font-weight:bold;
}
div#nextPage dl dd	{
	float:left;
	border-right:1px solid #666;
	padding-left:8px;
	padding-right:8px;
	font-weight:bold;
}
div#nextPage dl > dd:last-child	{
	border-right:none;
	padding-right:0px;
}

/* COMMENTS PHASE 2 */
div#commBox	{
	border: 1px solid #666;
	width:196px;
	padding:10px;
	position: relative;
}
div.commStory	{
	float:right;
	margin:0px 0px 10px 10px;
	position:relative;
	left:3px;
}

/* RATE PHASE 2*/
div#rateStoryP2  {
	width:100%;
	margin:0px 0px 1px 0px;
	/*clear:both;*/
}
div#rateStoryP2 h3, div#readerCommentsP2 h3 {
	font-size:13px;
	color:#900;
	font-weight:bold;
}
div#rateStoryP2 ul  {
	display:block;
	border-bottom: 1px dotted #ccc;
	padding:10px 0px;
}
div#rateStoryP2 ul li {
	padding-bottom: 5px;
}
div#rateStoryP2  ul li  h6.rating {
	font-size: 11px;
	/*padding-left: 5px;*/
	font-weight: bold;
	color: #000;
	margin: 0px;
	padding: 0px;
	display: inline;
}
div#rateStoryP2  ul li img	{
	width: 17px;
	height: 18px;
	margin: 0px 1px 0px 1px;
	position: relative;
	top: 3px;
	cursor: pointer;
} 
div#rateStoryP2 img.no	{cursor: default;} 
div#storyColWide1 div#rateStoryP2 img  {
	margin: 0px 3px 0px 3px;
} 

	
/* COMMENTS PHASE 2 */
div#readerCommentsP2 {
	width:100%;
	margin:15px 0px 0px 0px;
	padding:0px 10px 10px 0px;
}
div#readerCommentsP2 .comment {
	background-image: url(../../media/assets/home/commentquote.gif);
	background-repeat: no-repeat;
	background-position: -2px 2px;
	margin:5px 0;
}
div#readerCommentsP2 .editor {
	background-image: url(../../media/story/editcommentquote.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color:#FFFFE5;
	margin:5px 0;
}
div#readerCommentsP2 .comment  p, div#readerCommentsP2 .editor p {
	display:block;
	font-size:13px;
	font-weight:bold;
	padding:10px 10px 0px 5px;
	margin: 0px;
	line-height:18px;
}
div#readerCommentsP2 .comment  span, div#readerCommentsP2 .editor span {
	display:block;
	font-size:12px;
	font-style:normal;
	padding:2px 10px 0px 10px;
	margin: 0px;
}
div#readerCommentsP2 cite img {
	width:60px;
	height:15px;
	position:relative;
	top:5px;
	left:0px;
}
div#storyBody div#readerCommentsP2  div.commentLink2
{
	clear:both;
	background-image: url(../../media/story/comment.gif);
	background-repeat: no-repeat;
	height:25px;
	background-position: 0px 0px;
	margin:-10px 0px 5px -5px;
}


div#storyBody div#readerCommentsP2 div.commentLink2	cite  {
	padding:2px 0px 0px 33px;
	color: #900;
	font-size:12px;
	display:inline;
	font-weight: bold;
}

div#storyBody div#readerCommentsP2 div.commentLink2	cite span {
display: inline;
}

div#storyBody div#readerCommentsP2  div.noComments
{
	position:relative;
	left:6px;
	margin-top:-40px;
	background-color:#fff;
}

div#storyBody div.commentLink	h4 a {
	color:#990000;
	font-size:12px;
	display:block;
}

div#storyBody div.commentLink2	cite a {
	color:#990000;
	font-size:12px;
	display:inline;
	font-weight: bold;
	left:30px;
	position:absolute;
	top:5px;
}

div#readerCommentsP2 dl {
	display:block;
	width:400px;
}
div#readerCommentsP2 dl dt  {
	display:block;
	/*float: left;*/
	padding:15px 0px 0px 39px;
	font-size:12px;
	font-weight:bold;
	height: 12px;
}

/*
div#readerCommentsP2 dl dd  {
	display:block;
	float: right;
	padding:15px 20px 0px 10px;
	font-size:11px;
	font-weight:bold;
}
*/

div#readerCommentsP2 div.commentLink2  {
	clear:both;
	position:relative;
	top:20px;
	left:10px;
}
div#readerCommentsP2 form  {	
	margin:0px;
	padding:0px;
}

div#readerCommentsP2 #commentForm  {	
	clear:both;
	position:relative;
	top:5px;
	padding:10px 0px 0px 0px;
}

div#readerCommentsP2 #commentForm h4 {	
	color:#990000;
	font-size:12px;
	font-weight:bold;
	margin-top: 5px;
}
div#readerCommentsP2 #commentForm h4 {	
	border-bottom:1px dotted #CCCCCC;
	color:#990000;
	font-size:12px;
	font-weight:bold;
	border-bottom: 0pt none; margin-top: 5px;
}
div#readerCommentsP2 #commentForm span {	
	color: rgb(153, 153, 153); 
	font-size: 10px;
}
div#readerCommentsP2 #commentForm img {	
	margin-right: 5px;
	float: left;
	border:none;
}
div#readerCommentsP2 #commentForm textarea	{
	order: 1px solid rgb(102, 102, 102); 
	overflow: auto; 
	background-color: rgb(235, 235, 235);
}
div#readerCommentsP2 #commentForm input#submitbutton	{
	background-color: rgb(235, 235, 235);
	margin-top: 10px;
}


div#storyColWide1 div#readerComments #commentForm textarea {
width: 565px;
}

div#storyColXwide div#readerComments #commentForm textarea {
width: 730px;
}

	

/* RATE */
div#storyColWide1 div#rateStory  {
	width:530px;
	margin:15px 0px 15px 0px;
	clear:both;
}
div#storyColWide1 div#rateStory img  {
	margin: 0px 3px 0px 3px;
} 
div#storyColWide1 div#rateStory div span,div#storyColXwide div#rateStory div span {
	padding-left: 35px;
}
div#storyColXwide div#rateStory	{
	width:732px;
}


div#rateStory  {
	width:400px;
	margin:15px 0px 1px 0px;
	clear:both;
}
div#rateStory h3, div#readerComments h3 {
	font-size:13px;
	color:#900;
	font-weight:bold;
}
div#rateStory div  {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	padding:10px 0px;
}
div#rateStory div span {
	font-size: 11px;
	padding-left: 5px;
	font-weight: bold;
}
div#rateStory img	{
	width: 17px;
	height: 18px;
	margin: 0px 2px 0px 2px;
	position: relative;
	top: 3px;
	cursor: pointer;
} 
div#rateStory img.no	{cursor: default;} 
div#storyColWide1 div#rateStory img  {
	margin: 0px 3px 0px 3px;
} 
	
/* COMMENTS REVISED 12.03.08 NGOULD*/
div#readerComments {
	width:410px;
	margin:15px 0px 15px 0px;
	padding:0px 10px 10px 0px;
}
div#storyColWide1 div#readerComments {
	width:530px;
	margin:15px 0px 15px 0px;
	padding:0px 10px 10px 0px;
}
div#storyColXwide div#readerComments {
	width:732px;
	margin:15px 0px 15px 0px;
	padding:0px 10px 10px 0px;
}
div#readerComments .comment {
	background-image: url(../../media/assets/home/commentquote.gif);
	background-repeat: no-repeat;
	background-position: -2px 2px;
	margin:5px 0;
}
div#readerComments .editor {
	background-image: url(../../media/story/editcommentquote.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color:#ffffe5;
	margin:5px 0;
}
div#readerComments .comment  p, div#readerComments .editor p {
	display:block;
	font-size:16px;
	font-style:normal;
	padding:10px 10px 0px 5px;
	margin: 0px;
}
div#readerComments .comment  p img {
	width:38px;
	height:29px;
	border:none;
	position:relative;
	top:2px;
	left:-5px;
	padding:0px 0px 0px 0px;
	margin: 0px;
}
div#readerComments .comment  span, div#readerComments .editor span {
	display:block;
	font-size:12px;
	font-style:normal;
	padding:2px 10px 0px 10px;
	margin: 0px;
}

div#readerComments cite {
	color:#555;
	display:block;
	font-size:11px;
	font-style:normal;
	padding:1px 10px;
}
div#readerComments cite img {
	width:60px;
	height:15px;
	position:relative;
	top:3px;
	left:10px;
}

div#readerComments .more, .report  {
	font-size: 12px;
	font-weight: bold;
}

div#readerComments dl {
	display:block;
	width:400px;
}
div#readerComments dl dt  {
	display:block;
	float: left;
	padding:15px 0px 0px 10px;
	font-size:13px;
	font-weight:bold;
}

div#readerComments dl dd  {
	display:block;
	float: right;
	padding:15px 20px 0px 10px;
	font-size:11px;
	font-weight:bold;
}

div#readerComments div.commentLink  {
	clear:both;
	position:relative;
	top:20px;
	left:10px;
}
div#readerComments #commentForm  {	
	clear:both;
	position:relative;
	top:5px;
	padding:10px 10px 20px 10px;
}

div#readerComments #commentForm h4 {	
	color:#990000;
	font-size:12px;
	font-weight:bold;
	margin-top: 5px;
}

div#readerComments #commentForm h4 {	
	border-bottom:1px dotted #CCCCCC;
	color:#990000;
	font-size:12px;
	font-weight:bold;
	border-bottom: 0pt none; margin-top: 5px;
}
div#readerComments #commentForm span {	
	color: rgb(153, 153, 153); 
	font-size: 10px;
}
div#readerComments #commentForm img {	
	margin-right: 5px;
	float: left;
	border:none;
}
div#readerComments #commentForm textarea	{
	order: 1px solid rgb(102, 102, 102); 
	overflow: auto; 
	background-color: rgb(235, 235, 235);
}
div#readerComments #commentForm input#submitbutton	{
	background-color: rgb(235, 235, 235);
	margin-top: 10px;
}


/* ANSWER NETWORK */
div#answerNet	{
	clear:both;
	min-height: 34px;
	background-image: url(../../media/answernetwork/qmark_med.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	margin:20px 0 0px 0;
	padding:25px 0 4px 25px;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
}
div#answerNet a	{
	width: 350px;
	display:block;
	font-size:13px;
	position:relative;
	left:20px;
	font-weight:bold;
}

/* MINI HP */
div#miniHP	{
	clear:both;
	padding-top:20px;
	width:400px;
}
table#bottomStory	{
	margin:10px 0 20px 3px;
	clear:both;
	width:388px;
	border:none;
	border-spacing:0px;
	border-spacing: expression(cellSpacing=0)
}
table#bottomStory tr { vertical-align: top; }
table#bottomStory tr td {
	font-size:11px;
	line-height:14px;
	text-align:center;
	width:97px;
}
table tr td.smalltxt {
	font-size:11px;
	/*line-height:14px;*/
	text-align:center;
	/*width:85px!important;*/
}
table tr td.smalltxt img {
	/*width:85px;*/
	/*height:85px;*/
	border:none;
	margin-bottom:5px;
}
div#miniHP table  {
	border:none;
	border-spacing:0px;
	border-spacing: expression(cellSpacing=0)
	/*width:0px;*/
	clear:both;
}
table#bottomStory tr td img {
	/*width:65px;*/
	/*height:65px;*/
	border:none;
	margin-bottom:5px;
}
div.artcntrlheds {
	/*border-bottom:1px dotted #ccc;*/
	color:#990000;
	font-size:12px;
	font-weight:bold;
}
div.artcntrltxt {
font-size:11px;
padding:3px 0 0 5px;
}
div.artcntrltxt img {
	/*width:85px;*/
	/*height:85px;*/
	border:none;
	float:left;
	margin: 3px 12px 30px 4px;
}
.artcntrltxt .newshed {
font-size:14px;
font-weight:bold;
line-height:1.5em;
}
.artcntrltxt .byline {
color:#666666;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
}
/*
.artcntrltxt ul {
margin:3px;
padding:0px;
}
.artcntrltxt ul li	{
list-style-position:inside;
list-style-type:square;
margin:0px;
padding:0px;
line-height:12px;
}
*/
.artcntrltxt ul {
margin:0 0 0px 15px;
padding:0 0 10px 0;
/*position:relative;
left:15px;*/
float:left;
}
.artcntrltxt ul li	{
list-style-position:outside;
list-style-type:square;
margin:0px;
padding:0px;
line-height:12px;
}
.grey {
color:#666666;
}
/* SUBSCRIPTIONS */
div#subs	{
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	padding:15px 0px 0 0 ;
	margin-bottom:20px;
}
div#subs h4	a {
	font-size:13px;
	color:#900;
}
div#subs ul		{
	margin:10px 0px;
	height:20px;

}
div#subs ul	li	{
	font-size:12px;
	float:left;
	text-align:center;
	width:190px;
	font-weight:bold;
}

div#storyBody div.adContainer	{
	clear:both;
	width:336px;
	text-align:center;
	font-size:10px;
	color:#666;
	margin-left: auto;
	margin-right: auto;
}
div#storyBody .adContainer	{
	clear:both;
	width:336px;
	text-align:center;
	font-size:10px;
	color:#666;
	margin-left: auto;
	margin-right: auto;
}

/* RIGHT COLUMN */
div.adBgMId div.adContainer	{
	clear:both;
	width:336px;
	text-align:center;
	font-size:10px;
	color:#666;
	margin:10px auto 10px auto;
	padding-top:3px;
}
div.adBgMId div.adContainer	.adHed {
	text-align:left;
}
div.adBgMId 	{
	margin-top:0px;
	background-color: #e1e1e1;
	padding:0px;
	text-align:center;
}
div.adBgTop	{
	width: 348px;
	height: 3px;
	background-image: url(../../media/story/storyCo12top_345.gif);
	background-repeat: no-repeat;
	margin-bottom:-10px;
}
div.adBgBottom	{
	margin:-10px 0 10px 0;
	width: 348px;
	height: 3px;
	background-image: url(../../media/story/storyCo12bottom_345.gif);
	background-repeat: no-repeat;
}

/* COLUMN AD */
/*
div.adBgTop	{
	width: 172px;
	height: 3px;
	background-image: url(http://images.forbes.com/media/story/storySmalltop.gif);
	background-repeat: no-repeat;
	margin-bottom:-6px;
}
*/
div.adColBgMId 	{
	margin-top:0px;
	background-color: #e1e1e1;
	padding:0px;
	text-align:center;
	width: 172px;
}
div.adColBgBottom	{
	margin:-7px 0 10px 0;
	width: 172px;
	height: 3px;
	background-image: url(../../media/story/storySmallbottom.gif);
	background-repeat: no-repeat;
}
div.adColBgMId div.adContainer	{
	clear:both;
	width:160px;
	text-align:center;
	font-size:10px;
	color:#666;
	margin:6px auto 6px auto;
	padding-top:3px;
}
div.adColBgMId div.adContainer	.adHed {
	text-align:left;
}

div.adBgMId div.adContainer	dl.leftBottom {
	display:block;
	clear:both;
	width:300px;
    min-height:140px;
	margin: 0 auto 0 auto;
}
div.adBgMId div.adContainer	dl.leftBottom dt {
	width:150px;
	float:left;
	padding-bottom:10px;
}
div.adBgMId div.adContainer	dl.leftBottom dd {
	width:150px;
	float:right;
	padding-bottom:10px;
}


div#storyBody div.adContainer	{
	clear:both;
	width:336px;
	text-align:center;
	font-size:10px;
	color:#666;
	margin-left: auto;
	margin-right: auto;
}

/* RIGHT COLUMN */

/* COLUMN AD */
div.adColBgTop	{
	width: 172px;
	height: 3px;
	background-image: url(../../media/story/storySmalltop.gif);
	background-repeat: no-repeat;
	margin-bottom:-6px;
}
div.adColBgMId 	{
	margin-top:0px;
	background-color: #e1e1e1;
	padding:0px;
	text-align:center;
	width: 172px;
}
div.adColBgBottom	{
	margin:-7px 0 10px 0;
	width: 172px;
	height: 3px;
	background-image: url(../../media/story/storySmallbottom.gif);
	background-repeat: no-repeat;
}
div.adColBgMId div#adContainer	{
	clear:both;
	width:160px;
	text-align:center;
	font-size:10px;
	color:#666;
	margin:6px auto 6px auto;
	padding-top:3px;
}
div.adColBgMId div#adContainer	.adHed {
	text-align:left;
}
ul#colAd	{
	width: 345px;
	list-style-type:none;
}
ul#colAd  li 	{
	width: 165px;
	float:left;
	/*background-color: #77f;*/
	float: expression(this.nextSibling == null ? 'right' : (this.parentNode.id == 'colAd') ? 'left' : '-' )
}
ul#colAd > li:last-child 	{
	width: 170px;
	float:right;
	/*background-color: #f5f;*/
}


/* VIDEO PLAYER */
/*
div#vidPlayer	{
	background-image: url(http://images.forbes.com/media/story/videoPlayer.gif);
	width: 336;
	height: 433px;
	background-repeat: no-repeat;
}

*/


/* EMAIL NEWSLETTERS: WINDOW */
div#eNewsltrs div 	{
	border:1px solid #666;
	padding:5px;
}
div#eNewsltrs div span.logo	{float:right;}
div#eNewsltrs div span.logo	img {border:none;}
div#eNewsltrs div p	{
	font-weight:bold;
	/*float:left;*/
}
div#eNewsltrs div p	a {
	padding-left:5px;
}
div#eNewsltrs div ul	{
	display:block;
	margin-top:5px;
	clear:both;
}
div#eNewsltrs div ul li	{
	display:block;
	width:155px;
	float:left;
	margin-left:10px;
}
div#eNewsltrs div ul li p	{
	font-weight:normal;
	clear:both;
	margin-bottom:2px;
}
div#eNewsltrs div ul li p input	{
	width:22px;
	float:left;
}
div#eNewsltrs div ul li p label	{
	width:125px;
	float:right;
	/*background-color: #f5e;*/
	position:relative;
	top:3px;
}
div#eNewsltrs div span	{
	float:right;
	margin:3px 0 0 0;
	padding:0px;
	font-weight:normal;
	font-size:11px;
}

div#eNewsltrs div div.clear {
	clear:both;
	height:10px;
	margin:0;
	padding:0;
	visibility:hidden;
}
div#eNewsltrs div dl	{
	display:block;
	padding-bottom:5px;
	clear:both;
	height:20px;
}
div#eNewsltrs div dl dt	{
	width:165px;
	float:left;
}
div#eNewsltrs div dl dd	{
	width:165px;
	float:right;
}
div#eNewsltrs div dl dd	label {
	font-size:11px;
	font-weight:bold;
}
div#eNewsltrs div dl input#textInput {width:160px;}
div#eNewsltrs div dl select#textInput {width:165px;}
div#eNewsltrs div cite	{
	display:block;
	float:right;
	margin:12px 0 0 0;
	padding:0px;
	font-weight:normal;
	font-size:11px;
}
div#eNewsltrs input.submitB	{
	width:95px;
	height:21px;
	border:none;
	margin:6px 0 0 0;
}

div#eNewsltrs form	{padding:0px;margin:0px;clear:both;}


/* Alerts Logo styles BLOCK - edited 10.05.09 ngould */
div#storyCo12 div#eNewsltrs h4
{
	float: left;
	height: 26px;
	position: relative;
	top: 10px;
	color: #990000;
	font-size: 13px;
	font-weight: bold;
	*margin-bottom: 3px;
}
div#storyCo12 div#eNewsltrs span.logo	{float:right;margin-bottom:2px;height:26px;}
div#storyCo12 div#eNewsltrs span.logo img	{border:none:}

/* Alerts Logo styles COLUMN - added 02.26.09 ngould */
div#storyCo12 ul#colAd div#eNewsltrs h4	{float:none;height:15px;position:relative;top:0px;}
div#storyCo12 ul#colAd div#eNewsltrs span.logo	{display:block;text-align:right;margin-bottom:3px;}
div#storyCo12 ul#colAd div#eNewsltrs span.logo img	{border:none:}


/* REG BUBBLE */
#popupbox {
	width: auto;
	height: auto;
	font-family: arial;
	position: absolute;
	visibility: hidden;
	z-index:15;
}

/* EMAIL NEWSLETTERS: COLUMN */
div#eNewsltrs div span.logoCol	{
	clear:both;
	display:block;
	text-align:center;
}
div#eNewsltrs div span.logoCol	img {
	border:none;
	margin:10px 0 5px 0;
}
div#colAd	{
	width: 172px;
}

ul#colAd div#eNewsltrs h4, div#colAd div#eNewsltrs h4	{
	margin-bottom:3px;
}
ul#colAd div#eNewsltrs div, div#colAd div#eNewsltrs div	{
	border:1px solid #666;
	padding:5px;
}
ul#colAd div#eNewsltrs div ul li, div#colAd div#eNewsltrs div ul li	{
	display:block;
	width:150px;
	margin-left:5px;
}
ul#colAd div#eNewsltrs div ul li p, div#colAd div#eNewsltrs div ul li p	{
	font-weight:normal;
	clear:both;
	margin-bottom:2px;
}
ul#colAd div#eNewsltrs div ul li p input, div#colAd div#eNewsltrs div ul li p input	{
	width:22px;
	float:left;
}
ul#colAd div#eNewsltrs div ul li p label, div#colAd div#eNewsltrs div ul li p label	{
	width:116px;
	float:right;
	margin:0 5px 0 0;
	position:relative;
	top:3px;
}
ul#colAd div#eNewsltrs div span, div#colAd div#eNewsltrs div span	{
	display:block;
	margin:3px 0 0 0;
	padding:0px;
	font-weight:normal;
	font-size:11px;
	float:none;
}
ul#colAd div#eNewsltrs div b, div#colAd div#eNewsltrs div b	{
	display:block;
	font-weight:bold;
	font-size:12px;
}
ul#colAd div#eNewsltrs div input#textInput, div#colAd div#eNewsltrs div input#textInput {width:145px;margin-bottom:3px;}
ul#colAd div#eNewsltrs div select#textInput, div#colAd div#eNewsltrs div select#textInput  {width:150px;}
ul#colAd div#eNewsltrs div span label {
	font-size:11px;
	font-weight:bold;
}
ul#colAd div#eNewsltrs div cite, div#colAd div#eNewsltrs div cite	{
	display:block;
	float:none;
	margin:5px 0 0 0;
	padding:0px;
	font-weight:normal;
	font-size:11px;
	text-align:center;
}
ul#colAd div#eNewsltrs input.submitB, div#colAd div#eNewsltrs input.submitB	{
	width:95px;
	height:21px;
	border:none;
	margin:6px 0 0 30px;
}

/* READERS WHO READ THIS... */
div.loomia_recommendations {
	text-align: left;  
	font-weight: bold;
	margin: 10px 0 10px 0;
	padding: 10px;
	border: 1px solid #666;
}
div.loomia_recommendations .loomia_similaritems { 
	border: 0;
	padding: 0;
}
div.loomia_recommendations ul li { 
	padding: 0;
}
.loomia_title { display: none; }
.loomia_heading {
	color: #900; 
	font-size: 13px; 
	margin-bottom: 10px; 
}

/* BOOK CLUB */
div#bookClub h4	{
	color:#900;
	font-size:12px;
}
div#bookClub div	{
	border:1px solid #666;
	padding:3px;
	min-height:150px;
}
div#bookClub span {
	display:block;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	text-transform:uppercase;
}
div#bookClub cite {
	display:block;
	color:#666666;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}
div#bookClub dl	{
	border-top:1px solid #ccc;
	display:block;
	height:102px;
	margin-top:5px;
	padding-top:5px;

}
div#bookClub  dt 	{
	float:left;
	margin-right:5px;
}
div#bookClub  dt img	{
	width:67px
	border:none;
}
div#bookClub div dd 	{
	float:left;
	text-align:left;
	width:260px;
}
div.relatedTopics	{
	background-color:#fff;
	width:100%;
	text-align:left;
	height:45px;
	border:1px solid #666;
}
div.relatedTopics h6	{
	color:#900;
	font-size:12px;
	border-bottom:1px dotted #666;
	padding:3px;
}
div.relatedTopics dl 	{
	font-size:12px;
}
div.relatedTopics dl dt	{
	float:left;
	padding:3px;
}
div.relatedTopics dl dd	{
	float:right;
	padding:3px;
}
div#capterra    {
        clear: all;
        width: 335px;
        height: 151px;
        background:url(../../media/story/capterra_bg.jpg) no-repeat;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 11px;
        padding: 0 0 0 0;
        text-align:left;
}

div#capterraNew	{
	clear: all; 
	width: 335px; 
	height: 151px; 
	background:url(../../media/partners/capterra/bg_folder_main.gif) no-repeat; 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 0 0 0 0;
	text-align:left;
}
div#capterra form	{padding: 0; margin: 0;}
div#capterra div#capForm	{padding: 35px 0 0 10px;}
div#capterra div#capLeft	{float: left; width: 195px; padding-top: 13px; padding-left: 0px;}
div#capterra div#capRight	{float: right; width: 135px; padding-top: 13px; padding-left: 0px;}
div#capterra div#capLeft ul,div#capterra div#capRight ul	{list-style-type: square; color: #900; margin: 0; padding: 0 0 0 12px;}
div#capterra div#capLeft ul li,div#capterra div#capRight ul	li{padding-bottom: 2px;}
div#capterra div#capLeft ul li a,div#capterra div#capRight ul li a{color: #369; text-decoration: underline;}
div#capterra div#capBottom	{clear: both; text-align: right; padding: 8px 20px; 0 0;}
div#capterra div#capBottom	a {color: #900; font-weight: bold; text-decoration: underline;}
div#capterra input.commit	{position: relative; height: 19px; width: 23px; color: #fff; border:1px solid #888;background:#369; font-size: 11px;}


div#capterraNew form	{padding: 0; margin: 0;}
div#capterraNew div#capForm	{padding: 35px 0 0 10px;}
div#capterraNew div#capLeft	{float: left; width: 195px; padding-top: 13px; padding-left: 0px;}
div#capterraNew div#capRight	{float: right; width: 135px; padding-top: 13px; padding-left: 0px;}
div#capterraNew div#capLeft ul,div#capterraNew div#capRight ul	{list-style-type: square; color: #900; margin: 0; padding: 0 0 0 12px;}
div#capterraNew div#capLeft ul li,div#capterraNew div#capRight ul	li{padding-bottom: 2px;}
div#capterraNew div#capLeft ul li a,div#capterraNew div#capRight ul li a{color: #369; text-decoration: underline;}
div#capterraNew div#capBottom	{clear: both; text-align: right; padding: 8px 20px; 0 0;}
div#capterraNew div#capBottom	a {color: #900; font-weight: bold; text-decoration: underline;}
div#capterra input.commit	{position: relative; height: 19px; width: 23px; color: #fff; border:1px solid #888;background:#369; font-size: 11px;}


div#tradingCenter	{
	background-color:#fff;
	width:336px;
	text-align:left;
	border:1px solid #666;
	height:165px;
}
div#tradingCenter h6	{
	color:#900;
	font-size:12px;
	padding:3px 0 0 3px;
}
div#tradingCenter span	{
	text-align:right;
	display:block;
	padding-right:3px;
	position:relative;
	top:-13px;
}
div#tradingCenter dl 	{
	display:block;
	position:relative;
	top:-5px;
}
div#tradingCenter dl dt	{
	/*width:150;*/
	float:left;
	margin-left:20px;
	margin-bottom:8px;
}
div#tradingCenter dl dd	{
	/*width:150;*/
	float:right;
	margin-right:20px;
	margin-bottom:8px;
}

/*CUSTOM BOXES*/
div#storyBody #custombox {
	float: left; 
	position:relative; 
	margin:15px 10px 4px 0;
}


/* HEADER STYLE */
/* white text header for search box */
.mainfindertitle {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #FFFFFF;
	font-weight : bold;
	text-decoration: none;
}
.tagline {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	color : #ccddee;
	font-weight : bold;
	text-decoration: none;
}
/* international homepage current version indicator */
.intlhomepageon {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	color : #000000;
	font-weight : bold;
	text-decoration: none;
}
/* international homepage link to other versions */
.intlhomepagelink {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	color : #FFFFFF;
	font-weight : bold;
	text-decoration: none;
}
.intlhomepagelink:visited {
	color : #FFFFFF;
}
.advfindertitle {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #FFFFFF;
	text-decoration: none;
}
/* search forbesfinder web toggle  */
.finderweb {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #FFFFFF;
}

/* special advertising section label  */
.adsection {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	color : #666666;
}
/* home page date */
.maindate {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	color : #666666;
	font-weight : bold;
}
/* navigation links and disclaimer text styles */
.mainglobalnav {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #FFFFFF;
	text-decoration : none;
	font-weight : bold;
}
.mainglobalnavon {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
	font-weight : bold;
	text-decoration : none;
}
.mainbottomnav {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #FFFFFF;
	font-weight : bold;
	text-decoration : none;
}
.maincopynav {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #FFFFFF;
	text-decoration : none;
}
.whitelink	{
	font-size : 12px;

}

/********User Tools***************/
div#utilities
{
	position:absolute;
	display:block;
	width:212px;
	top:2px;
	text-align:left;
}
div#utilities h3
{
	color:#fff;
	font-weight:bold;
	font-size:13px;
}
div#utilities h3 a
{	
	color:#fff;	
}
div#utilities h4
{
	font-size:11px;
	background-image: url(../../media/assets/home/util_bg.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	margin-bottom:3px;
	padding:1px 0 0 2px;
}	

div#utilities h4 a
{
	color:#fff;
	font-weight:bold;
	display:block;
}
div#utilities h4 a:hover
{
text-decoration:underline;
}
div#utilities div#utilityLinks
{
	
	display:block;
	margin-bottom:3px;
}
div#utilities div#utilityLinks,div#utilities div#utilityLinks a
{
	color:#fff;
	font-size:11px;
}

div.horizRO	{background-color:#fff;padding-top:4px;margin-top:-4px;}
span.horizItem	{background-color:#fff;padding:6px;}
div.navitem	{border-bottom:1px solid #fff;}
div.navbg	table	{background-color:#fff;}
input.inputsty {
     height:15px;
     width:360px;
     padding:0px;
     margin:0px 5px 0 0;
     padding-top:-5px;
     font-size:small;
} 
div.adContainer	form	{margin:0;padding:0;}

/* LEGACY BOX STYLES*/
.boxborder {
	border:1px solid #003399;
}
.boxtext {
	padding:3px;
	font-size:12px;
}
.whitetxt {color : #ffffff;}


/* XIGNITE REAL-TIME STYLES added 12.10.2008 */
/* Xignite General */
.shim { clear:both; }
.content { width:980px; }
.story { width:600px;float:left;font-size:1.2em; }
.widgets { width:350px;float:right; }
.break { clear:left; visibility:hidden; height:0px; width: 50px;margin:0; padding:0;}
.provider {  }
.providerBottom { font-size:0.7em;padding:0.2em;color:#888; }

/* Xignite Small Related Quotes */
#RelatedQuotes { vertical-align:middle;border:1px solid #ccc;width:170px;margin:0px 10px 5px 0px;float:left; padding-right:2px;}
#RelatedQuotes .header { margin:3px;font-weight:bold; color:#990000;font-size:13px;}
#RelatedQuotes .time { text-align:right;font-size:0.7em;margin-right:0.2em; }
#RelatedQuotes .listing { margin-left:0.1em; }
#RelatedQuotes .provider { border-top:1px solid #ccc;font-size:0.65em;padding:0.2em; }
#RelatedQuotes .footer { border-top:1px solid #ccc;padding:0.2em; }
#RelatedQuotes .footer .title { color:black;font-weight:bold; font-size:12px;}
#qForm { width:160px;padding:0;margin:0;text-align:center; }
#qForm input[class="search"] { width:115px;margin-right:2px; } 
#qForm input[type="submit"] { width:35px;text-align:center; } 
.xLastSale2 { font-size:12px;font-weight:bold;margin:0.5em 0; }
.xLastSale2 ul { padding:0;margin:0;display:inline; }
.xLastSale2 ul li { display:inline;line-height:1.2em;font-size:12px;}
.xLastSale2 span { display:block;float:left; }
.xLastSale2 .symbol { width:3.5em;margin-left:0.2em; }
.xLastSale2 .last { color:#000;width:6em;text-align:right;margin-left:0.2em; }
.xLastSale2 .percentChange { text-align:right;width:4em; }
.xLastSale2 .pos { color:green; }
.xLastSale2 .neg { color:#a22631; }


/* Xignite Full Related Quotes */
#RelatedTab { width:395px;}
#RelatedTab .header { margin:0.2em 0;font-weight:bold;color:#990000;font-size:13px; }
#RelatedTab .time { font-size:0.7em;width:150px; }
#RelatedTab .provider { font-size:0.7em;padding:0.2em; }

.xLastSale3 { margin:1em 0; }
.xLastSale3 ul { padding:0;margin:0; }
.xLastSale3 ul li { display:inline; }
.xLastSale3 .quote { margin:0.2em 0;font-size:12px; }
.xLastSale3 .quote li { margin-right:1.5em;font-weight:bold; }
.xLastSale3 .links { clear:both;margin-top:.5em;font-size:0.9em;font-size:12px; }
.xLastSale3 .links li { border-right:1px solid #ccc;padding:0 0.2em;margin-right:0.2em; }
.xLastSale3 .links li.end { border:none; }
.xLastSale3 .links a { text-decoration:none; }
.xLastSale3 .arrow { padding:2px 10px; }
.xLastSale3 .pos { color:green; }
.xLastSale3 .pos .arrow { background:url(../../media/story/rt/arrow-up_18.gif) 1px 0 no-repeat; }
.xLastSale3 .neg { color:#a22631; }
.xLastSale3 .neg .arrow { background:url(../../media/story/rt/arrow-down_18.gif) 1px 0 no-repeat; }
.xLastSale3 .chart { width:0px;height:50px;}
.xLastSale3 .chart img { border:none;width:0px;height:50px; }
.xLastSale3 .chart, .xLastSale3 .snapshot { float:left; }
.xLastSale3 .snapshot { margin-left:0.7em;min-width:280px; }
.xLastSale3 .title { font-weight:bold;color:black;font-size:12px; }
.xLastSale3 .title a { font-weight:normal; }
.xLastSale3 .last { color:black; }

/* COMPANY BOX */
#CompanyBox { float:left;margin:0 10px 10px 0;width:196px;border:1px solid #ccc;background-color:#eee; }
#CompanyBox .provider { font-size:0.7em;padding:0.2em;border-top:1px solid #ccc; }
#CompanyBox .accordion .title
{
	font-weight: bold;
	cursor: pointer;
	display: block;
	padding: 0.2em 0.2em 0;
	text-decoration: none;
	border-top: 1px solid #ccc;
	font-size: 12px;
	background-image: url(../../media/story/rt/accordion-close.jpg);
	background-repeat: no-repeat;
	background-position: 183px 3px;
}
#CompanyBox .accordion .selected .title
{
	color: #000;
	/*background-color: #CCC;*/
	background-image: url(../../media/story/rt/accordion-open.jpg);
	background-repeat: no-repeat;
	background-position: 183px 3px;
}
#CompanyBox .accordion a.title 	{color: #000;}
#CompanyBox .accordion .title:hover
{
	color: #fff;
	background-color: #888;
	background-image: url(../../media/story/rt/accordion-close.jpg);
	background-repeat: no-repeat;
	background-position: 183px 3px;
}
#CompanyBox .accordion .selected .title:hover
{
	color: #000;
	background-color: #eee;
	background-image: url(../../media/story/rt/accordion-open.jpg);
	background-repeat: no-repeat;
	background-position: 183px 3px;
	cursor: arrow;
}
.xLastSale7 { overflow:hidden; }
.xLastSale7 .arrow { padding:2px 10px; }
.xLastSale7 .pos { color:green; }
.xLastSale7 .pos .arrow { background:url(../../media/story/rt/arrow-up_18.gif) 1px 0px no-repeat; }
.xLastSale7 .neg { color:#a22631; }
.xLastSale7 .neg .arrow { background:url(../../media/story/rt/arrow-down_18.gif) 1px 0px no-repeat; }
.xLastSale7 .time { float:right;width:150xp;text-align:right;font-size:0.7em;padding:0 0.2em;float:right;width:150px; }
.xLastSale7 .snapshot { border:1px solid #888;background-color:#fff;margin:0.3em auto;width:190px; }
.xLastSale7 .info { padding-bottom:9px; }
.xLastSale7 .title { font-weight:bold;font-size:0.9em; }
.xLastSale7 .last { color:black; }
.xLastSale7 .chart { margin:0 auto;width:185px; }
.xLastSale7 .chart img { width:185px;height:100px;margin:0.1em 0; }
.xLastSale7 .quote { clear:both;text-align:center;font-weight:bold; }
.xLastSale7 .quote ul { margin:0.2em auto; }
.xLastSale7 .quote li { 
	margin:0 0.2em 0.1em;
	font-size:12px;
	/*position:relative;*/
	/*top:3px;*/
	}
.xLastSale7 .ui-tabs-hide { display:none; }
.xLastSale7 li .advancedTab { text-align:center;cursor:pointer;color:#888;margin:0.1em 0.5em 0 0.5em; }
.xLastSale7 ul.tabs { margin-top:0.2em;padding:0;font-size:0.8em;background-color:#88c;}
.xLastSale7 ul.tabs li { display:inline;float:left;margin:0;padding:0.1em 0.28em 0 0.25em;border-right:1px solid #888;font-size:11px; }
.xLastSale7 ul.tabs li a { text-decoration:none;padding:0.3em;color:#888; }	
.xLastSale7 ul.tabs li.ui-tabs-selected { background-color:#aaa; }
.xLastSale7 ul.tabs li.ui-tabs-selected a { color:#fff; }
.xLastSale7 ul.links { text-align:center;margin-bottom:0; }
.xLastSale7 ul.links li { border-right:1px solid #ccc;padding:0 0.2em 0 0.2em; }
.xLastSale7 ul.links a { text-decoration:none;font-size:0.8em; }
.xLastSale7 ul { padding:0;margin:0; }
.xLastSale7 ul li { display:inline; }
.xLastSale7 ul li.end { border:none; }

/* Xignite box on Markets stories added 07.21.2009 */
#CompanyBoxWikiInvest { float:left;margin:0 10px 10px 0;width:196px;border:1px solid #ccc; }
#CompanyBoxWikiInvest .provider { font-size:0.8em;padding:0.2em;border-top:1px solid #ccc; }
#CompanyBoxWikiInvest .accordion .title { color:#000;text-decoration:none;font-size:12px;font-weight:bold;cursor:pointer;display:block;padding:0.2em 0.2em 0;text-decoration: none;border-top: 1px solid #ccc;background:#eee url(../../media/story/rt/accordion-close.jpg)) 181px 3px no-repeat; }
#CompanyBoxWikiInvest .accordion .title:hover { color:#fff;background:#888 url(../../media/story/rt/accordion-close.jpg) 181px 3px no-repeat; }
#CompanyBoxWikiInvest .accordion .selected .title { color:#000;background-color:#ccc;background:url(../../media/story/rt/accordion-open.jpg) 181px 3px no-repeat; }
.xLastSale9 { overflow:hidden;display:block; }
.xLastSale9 .pos { color:green; }
.xLastSale9 .neg { color:#a22631; }
.xLastSale9 .time { float:right;width:125px;text-align:right;font-size:0.8em;padding:0 0.2em;float:right;width:150px; }
.xLastSale9 .snapshot { background-color:#fff;margin:0 auto;width:191px; }
.xLastSale9 .info { padding-bottom:9px; }
.xLastSale9 .title { font-weight:bold;font-size:0.9em; }
.xLastSale9 .last { color:black; }
.xLastSale9 .quote { text-align:center;clear:both;font-weight:bold; }
.xLastSale9 .quote ul { margin:0 auto;padding-top:0.2em; }
.xLastSale9 .quote li { margin:0 0.2em 0.1em; }
.xLastSale9 .info .attribution { font-size:0.8em;vertical-align:middle; }
.xLastSale9 .info .attribution img { border:none; }
.xLastSale9 .info .attribution a { text-decoration:underline; }
.xLastSale9 .ui-tabs-hide { display:none; }
.xLastSale9 .chart { width:99%;text-align:center; }
.xLastSale9 li .advancedTab { text-align:center;cursor:pointer;color:#888;margin:0.1em 0.3em 0 0.3em; }
.xLastSale9 ul.tabs { margin-top:0.2em;padding:0;font-size:0.9em; }
.xLastSale9 ul.tabs li { display:inline;margin:0;padding:0.1em 0.1em 0 0.2em;border-right:1px solid #888; }
.xLastSale9 ul.tabs li a { text-decoration:none;padding:0.1em;color:#888; }	
.xLastSale9 ul.tabs li.ui-tabs-selected { background-color:#aaa; }
.xLastSale9 ul.tabs li.ui-tabs-selected a { color:#fff; }
.xLastSale9 ul.links { padding-left:15px;margin-bottom:0.1em; }
.xLastSale9 ul.links li { border-right:1px solid #ccc;padding:0 0.2em; }
.xLastSale9 ul.links li.last { border-right:1px solid #ccc;padding:0 0.1em 0 0; }
.xLastSale9 ul.links a { text-decoration:none;font-size:0.8em; }
.xLastSale9 ul { padding:0;margin:0; }
.xLastSale9 ul li { display:inline; }
.xLastSale9 ul li.end { border:none; }

/* SPONSOR LOGO added 111208 */
#storyBody div.sponsorLogo    {
float:right;
margin:2px 0px 0px 10px;
position:relative;
}


/* Social Network Links (at top of stories) */

div.networkLink {
text-align:right;
margin: 2px 0px 0px 0px;
width: 130px;
height: 22px;
}

div.networkLink img.facebook {
width: 130px;
height:20px;
border: 0px;
}

div.networkLink img.twitter {
width: 130px;
height:22px;
border: 0px;
}

div#lingo_span {
clear: both;
}

/* Links at bottom of stories */

div.network_digg {
padding: 5px 0px 15px 0px;
margin: 0px 0px 0px -20px;
}

div.network_facebook {
padding: 5px 0px 15px 0px;
margin: 0px 0px 0px 0px;
width: 130px;
height:20px;
}

div.network_facebook img {
border: 0px;
}

div.network_reddit {
padding: 5px 0px 15px 0px;
margin: 0px 0px 0px 0px;
}

div.network_twitter {
padding: 5px 0px 15px 0px;
margin: 0px 0px 0px 0px;
width: 130px;
height:22px;
}

div.network_twitter img {
border: 0px;
}

/* End Social Network Links */

#mostCommented {
	background-color: #fff;
	border: 1px #666 solid;
	text-align: left;
	width: 334px;
	padding: 5px;
	margin: 0 auto;
}
div#mostCommented	h4 {
	color: #990000;
	font-size: 13px;
	padding:5px;
}
div#mostCommented	ol {
	margin:0 0 10px 40px;
	padding:0;
}
div#mostCommented	ol li {	
	font-size:12px;
	list-style-type:decimal;
	margin:0;
	padding:3px 0;
	font-weight:bold;
}
div#mostCommented	ol li a {	
	font-weight:bold;
}
div#mostCommented	ol li cite {
	display:block;
}
div#mostCommented	ol li cite a {
	/*color:#555555;*/
	font-weight: normal;
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
}
div#mostCommented	ol li cite a img {
	border:none;
	position:relative;
	top:3px;
	left:-2px;
}
div#mostCommented div {
	font-weight:bold;
	margin:0 0 10px 40px;
	font-size:12px;
}

div.ad300x250 {
	width: 300px;
	margin: 0 auto;
}

#inlineAdsense {
	display: none;
}