{% extends "new_base.html" %}
{% load i18n %}

{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li><a href="{% url invitations_contacts %}">{% trans "Imported Contacts" %}</a></li>
    <li><a href="{% url contact_groups %}">{% trans "Contact Groups" %}</a></li>
    <li><a href="{% url invitations %}">{% trans "Contacts" %}</a></li>
    <li><a href="{% url friends_directory %}">{% trans "Search Contacts" %}</a></li>
    <li><a href="{% url affiliate_invite %}">{% trans "Invite Affiliates" %}</a></li>
    {% if user.is_staff %}<li class="current"><a href="{% url admin_invite_user %}">{% trans "Send Promo Code" %}</a></li>{% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}
  <!--CONTENT STARTS -->
  <ul id="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  <div id="login_page">
    <div class="leftpanel">
      <div class="top"></div>
      <div class="mid">
        <h1 class="purple_text">Invite User</h1>
        <div><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></div>
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td colspan="2">Invite a user by entering their e-mail address. You can enter multiple addresses as a comma-separated list.
          </tr>
          <tr>
            <td colspan="2">
          </tr>
          <tr>
            <td colspan="2">The recipients will be e-mail an individual signup code from brian@illusionfactory.com to create their account this website. The code gives them one free Premium Account subscription, for a full year. They have to redeem the code within 30 days.  </td>
          </tr>
           <tr>
            <td colspan="2">
          </tr>
          
          <tr>
            <td colspan="2">
              <a href="{% url admin:signup_codes_signupcoderesult_changelist %}" style="font:12px Arial, Helvetica, sans-serif; color:#750998;">Click here</a> to see Which signup codes have been redeeemed.
            </td>
          </tr>                 
        <tr>
            <td colspan="2">
            	<a href="#" onclick="$('#example_text').toggle();return false;" style="font:12px Arial, Helvetica, sans-serif; color:#750998;">Click here</a> to view an example of the email that will be sent.
		<div style="display:none;background-color:#cccccc;" id="example_text">
		  <p style="margin:10px;padding:10px;">Hello from NetConference and {{ request.user|capfirst }},<br /><br />

		    YOUR PERSONAL MESSAGE WILL APPEAR HERE<br /><br />

		    {{ request.user|capfirst }} has given you the gift of a FREE premium subscription at ($1200 value). This subscription is valid for a full year, but you must use your signup link within 30 days to take advantage of this offer.<br /><br />

		    Please click the link below to sign up for your FREE NetConference account:<br /><br />
		    
		    SIGNUP CODE WILL APPEAR HERE <br /><br />

		    NetConference is an exciting new Social Business Collaboration tool where you can:<br /><br />

		    * Receive a Telephone Conference line with up to 100 participants <br />
		    * Hold an online meeting with video and VOIP conferencing <br />
		    * Share your desktop with conference attendees <br />
		    * Share HD video and other rich media in live sync with your friends <br />
		    * Upload, store and share large files <br />
		    * Collaborate in your business like never before! <br /><br />

		    To see a full list of our features please click here: http://www.netconference.com/features/ <br /><br />

		    Thanks,<br />
		    NetConference Administrative Staff <br />
		    </p>
		</div>
            </td>
          </tr>
        <form method="post" name="promoForm" action=".">
          
          <tr>
            <td>Email :</td>
            <td>
	      <p>{{ form.email.errors }}</p>
	      <p><input type="text" name="email" id="textemail" class="textinput textfield_login" /></p>
	    </td>
          </tr>
              
            <tr>
            <td>Personal Message:</td>
            <td>
	      <p>{{ form.notes.errors }}</p>
	      <p><textarea name="notes" rows="5" cols="80" class="textinput textfield_login" id="textmessage"></textarea></p>
	    </td>
          </tr>
          <tr>   
                    
          <tr>
            <td>&nbsp;</td>
            <!--<td><input name=" " type="submit" class="save_conference" id="button_save_conference" value=" "  style="float:right;" ></input>-->
            
            <td> 
	      <div style="float:right; margin-top:21px;">                       
		<a id="buttonSend" href="#" onclick="$('form[name=promoForm]').submit();return false;" style="text-decoration:none; margin-right: 30px">
		  <input type="submit" value="{% trans "Send" %}" class="buttonGreen" />
		</a>
		<br/>
		<a id="buttonSend" href="#" onclick="javascript: setIsGenerate()" style="text-decoration:none; margin-right: 30px">
		  <input type="button" value="{% trans "Generate" %}" class="buttonGreen"/>
		</a> 
       	      </div>
	    </td>
          </tr>
	  <input type="hidden" name="isGenerate" id="isGenerate"/>
	</form>
        </table>
        <p>&nbsp;</p>
</div>
      <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="{{ MEDIA_URL }}new/images/promo_message.gif" width="241" height="136" alt="Your Office Iin The Cloud" /></div>
    <div class="clear"></div>
  </div>
  <!--CONTENT ENDS -->
  
  <script type="text/javascript">
    function setIsGenerate()
    {
      //alert("something");
      $("#isGenerate").val(true)
      //alert($("#isGenerate").val())
      $('form[name=promoForm]').submit();
    }
  </script>
{% endblock %}
