{% extends "new_base.html" %}
{% load i18n %}
{% block submenu %}
<div id="submenu_container">
  <ul class="subnav">
    <li><a href="{% url invitations_contacts %}">{% trans "Imported Contacts" %}</a></li>
    <li><a href="{% url contact_groups %}">{% trans "Contact Groups" %}</a></li>
    <li><a href="{% url invitations %}">{% trans "Contacts" %}</a></li>
    <li><a href="{% url friends_directory %}">{% trans "Search Contacts" %}</a></li>
    <li><a href="{% url affiliate_invite %}">{% trans "Invite Affiliates" %}</a></li>
    {% if user.is_staff %}<li class="current"><a href="{% url admin_invite_user %}">{% trans "Send Promo Code" %}</a></li>{% endif %}
  </ul>
</div>
{% endblock %}
{% block content %}
  <!--CONTENT STARTS -->
  <ul id="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
    <div>
        {{message}}
    </div>
{% endblock %}