<html>
<head>
<title>Happy Holidays</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" style="padding:0px; margin:0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4e4e4e;">
<!-- ImageReady Slices (holidayEmail.jpg) -->
<div style="font-family:  Arial, Helvetica, sans-serif; font-size:14px;color:#4e4e4ef;line-height:20px;">
  {{ notes|linebreaks }}
</div>
<table id="Table_01" width="600" height="801" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4e4e4e;">
	<tr>
		<td colspan="5">
			<img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/holidayEmail_01.png" width="600" height="314" alt=""></td>
	</tr>
	<tr>
	  <td colspan="2">
			<img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/holidayEmail_02.png" width="116" height="182" alt=""></td>
		<td width="379" height="182" valign="top" style="padding-left:30px;">
		  <p>
		    <span class="txt1" style="font-family:Arial,Helvetica,sans-serif; font-size:18px;font-weight:bold;font-style:normal;color:#1f6fae;line-height:20px;">Use the link below<br>
	    to activate your <span class="txt8" style="font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold; color:#2371b1;"><strong>FREE</strong></span> gift.</span></p>
		    <p>
		      <span class="txt3" style="font-family:  Arial, Helvetica, sans-serif; font-size:14px;color:#4e4e4ef;line-height:20px;">It is a NetConference&trade; Office in the Cloud&trade;<br>
		      Premium Subscription valued at $1200.
		      </span>
		  </p>
      <p class="txt4" style="font-family:  Arial, Helvetica, sans-serif; font-size:12px;font-weight:normal;color:#4e4e4ef;line-height:20px;">This subscription is valid for a full year, but you must activate your subscription within 30 days of this email.</p>
		</td>
		<td colspan="2">
			<img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/holidayEmail_04.png" width="105" height="182" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/holidayEmail_05.png" width="77" height="304" alt=""></td>
		<td colspan="3"><a style="font-family:Arial, Helvetica, sans-serif, sans-serif; color: #5d9335; font-size: 12px; text-decoration: none;" href="http://{{ domain }}/account/signup/promo/?code={{ signup_code.code }}"><img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/holidayEmail_06.png" alt="" width="441" height="92" border="0"></a></td>
		<td rowspan="3">
			<img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/holidayEmail_07.png" width="82" height="304" alt=""></td>
	</tr>
	<tr>
		<td height="185" colspan="3"><span class="txt6" style="font-family:  Arial, Helvetica, sans-serif; font-size:12px;font-weight:bold;font-style:normal;color:#525252;line-height:20px;">NetConference</span> is the state of the art Social Business Collaboration System where you may:<br><br />
		  &#8226; Host video conferences with 5 video guests and an audience of 100 people.<br>
		  &#8226; Send video mail messages<br>
		  &#8226; Deliver Netsign documents for digital signature<br>
		  &#8226; Share your desktop,powerpoint,videos,websites in your presentations<br>
		  &#8226; Access multiuser whiteboard tools<br>
		  &#8226; Use your FREE telephone conference bridge with or without the video conference<br>
		  &#8226; Upload large files to share with or present to others<br> 
		          <span class="txt5" style="font-family:  Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#438217;line-height:20px; float:right;"><a style="font-family:Arial, Helvetica, sans-serif, sans-serif; color: #5d9335; font-size: 12px; text-decoration: none;" href="http://{{ domain }}{% url features_home %}">Click here for a full list of features&gt;&gt;</a></span></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/holidayEmail_09.png" width="441" height="27" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/spacer.gif" width="77" height="1" alt=""></td>
		<td>
			<img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/spacer.gif" width="39" height="1" alt=""></td>
		<td>
			<img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/spacer.gif" width="379" height="1" alt=""></td>
		<td>
			<img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/spacer.gif" width="23" height="1" alt=""></td>
		<td>
			<img src="http://{{ domain }}{{ MEDIA_URL }}new/images/holiday/spacer.gif" width="82" height="1" alt=""></td>
	</tr>
</table>
<!-- End ImageReady Slices -->
</body>
</html>
