{% load store_tags %}

{% comment %}

{% load humanize i18n %}
{% load pagination_tags %}
{% load timezone_filters %}
    
    {# {% autopaginate notices %} #}
    
    {% if notices %}
        <hr style="visibility:hidden;" />
        
        {# TODO: get timezone support working with regroup #}
        {% regroup notices by added.date as notices_by_date %}
        
        {% for date in notices_by_date %}
            <span class="items_list_top_fullview" >{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</span>
            
            {% for notice in date.list %}
                {% if notice.is_unseen %}
                <p class="notices_list_hilite_fullview {% cycle 'row1' 'row2' %}">
                {% else %}
                <p class="notices_list_row_fullview {% cycle 'row1' 'row2' %}">
                {% endif %}
                    <span class="notice_type">[{% trans notice.notice_type.display %}]</span>
                    <span class="notice_message">{{ notice.message|safe }}</span>
                    <span class="notice_time">{{ notice.added|localtime:account.timezone|time:"P" }}</span>
                </p>
            {% endfor %}
        {% endfor %}
       
        {% paginate %}
       
    {% else %}
        <p style="margin-left:39px;">{% trans "No notices." %}</p>
    {% endif %}

{% endcomment %}


<div class="store_products">
    <ul>
        {% for obj in store_objects %}
        <li>

        <div class="pro_bound"> <span class="catname">{{ obj.file.title }}: <br/>
                <a href="{% url store_buy_user_files_category obj.user.username obj.urlized_category %}">{{ obj.category }}</a></span> <img src="{{ obj.thumbnail.url }}" width="88" height="120" alt="Product name" /><br/>
            Price : ${{ obj.price }}<br/>
            {% if is_adaptive_payment %}
            <a href="{% url store_file_paypal obj.file.urlhash %}" class="cart_but"><span class="none">Buy it now</span></a> </div>
        <div class="cart_but">
            {% else %}
            {% store_paypal_form obj paypal_email %}
            {% endif %}
        </div>

        </li>
        {% endfor %}
    </ul>
</div>
