{% load scheduletags %}
{% load i18n %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load file_tags %}
{% load timezone_filters %}

{# <h1 class="items_list_top" style="margin-left:0px;float:right;width:636px;">{% blocktrans %}This Week's Conferences{% endblocktrans %}</h1> #}

{% if general_conference %}
<table id="files_list" cellspacing="0" style="margin-bottom:0px;border:0px;">
  <tr class="sub_title" style="height:28px;">
    <td style="width:29%;padding-left:5px;">{% trans "Standard Conference Room" %}</td>
    <td style="width:10%;">{% ifequal general_conference.creator request.user %}{% trans "Details" %}{% endifequal %}</td>
    <td style="width:10%;">{% ifequal general_conference.creator request.user %}{% trans "Invite" %}{% endifequal %}</td>
    <td style="width:61%;">{% trans "Direct Link - Never Expires and Never Changes" %}</td>
  </tr>
  <tr class="dark">
    <td style="padding-left:5px;">
      <p class="text"><a href="{{ general_conference.get_absolute_url }}" target="_blank">{{ general_conference.title }}</a></p>
    </td>
    <td>
      {% ifequal general_conference.creator request.user %}
        <a href="{{ general_conference.get_absolute_url }}">
            <img src="{{ MEDIA_URL }}new/images/share_icon_dashboard.gif" style="float: left; padding-left: 10px;">
        </a> 
      {% endifequal %}
    </td>
    <td>
      {% ifequal general_conference.creator request.user %}
      <p class="text"><a href="{{ general_conference.get_invite_url }}" style="padding-left:0px;">{% trans "Invite" %}</a></p>
      {% endifequal %}
    </td>
    <td>
      <p style="float:left;"><a href="{{ general_conference.get_conference_url }}">{{ request.META.SERVER_NAME }}{{ general_conference.get_conference_url }}</a></p>
      {% if allow_join %}
            <a href="javascript:void(0);" onclick="javascript:window.open('{{ general_conference.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;" style="float:right;padding-top:0px;"><input type="button" class="buttonGreenSmall" value="{% trans "Join" %}" /></a>
        {% else %}
            <a href="{% url subscription_list %}" style="float:right;"><input type="button" class="buttonGreenSmall" value="{% trans "Upgrade" %}" /></a>  
        {% endif %}
    </td>
  </tr>
</table>
{% endif %}
<table id="files_list" cellspacing="0" style="margin-bottom:0px;border:0px;">
    <tr class="sub_title">
        <td style="width:30%;padding-left:5px;">{% trans "Special Events" %}</td>
        <td style="width:10%;">{% if is_me %}{% trans "Details" %}{% endif %}</td>
        <td style="width:10%;">{% if is_me %}{% trans "Invite" %}{% endif %}</td>
        <td style="width:15%;">{% trans "Date" %}</td>
        <td style="width:15%;">{% trans "Time" %}</td>
        <td style="width:10%;">{% trans "Status" %}</td>
        <td style="width:10%;">
	  {% if is_me %}
            <a href="{% url my_conferences %}">
                <div style="float:right;color:#000; font:12px arial;line-height:18px;">{% trans "See All" %}
                    <img src="{{ MEDIA_URL }}new/images/settings_icon.png" width="16" height="16" alt="Settings" style=""/>
                </div>
            </a>
	    {% endif %}
        </td>
    </tr>
    {% for day in periods.week.get_days %}
    {% if day.has_occurrences %}
    {% for o in day.get_occurrence_partials|slice:"5" %}
    <tr class="{% cycle 'dark' 'light' %}">
        <td style="padding-left:5px;"> 
            <p class="text">
                <a href="{{ o.occurrence.event.get_absolute_url }}">{{ o.occurrence.event.title }}</a> 
            </p>
        </td>
	<td>
        {% ifequal o.occurrence.event.creator request.user  %}
        <a href="{{ o.occurrence.event.get_absolute_url }}">
            <img src="{{ MEDIA_URL }}new/images/share_icon_dashboard.gif" style="float: left; padding-left: 10px;">
        </a> 
        {% endifequal %}
	<td><p class="text"><a href="{{ o.occurrence.event.get_invite_url }}" style="padding-left:0px;">{% trans "Invite" %}</a></p></td>
        <td>
            <p>
            {% if user.is_authenticated %}
            {{ o.occurrence.start|localtime:account.timezone|date:"m/j/y" }}
            {% else %}{{ o.occurrence.start|localtime:timezone|date:"m/j/y" }}
            {% endif %}
            </p>
        </td>
        <td>
            <p>
            {% if user.is_authenticated %}
            {{ o.occurrence.start|localtime:account.timezone|date:"P" }}
            {% else %}
            {{ o.occurrence.start|localtime:timezone|date:"P" }}
            {% endif %}
            </p>
        </td>
        <td style="padding-left:10px;">
            <img src="{{ MEDIA_URL }}new/images/icon_{% if not o.occurrence.event.private %}un{% endif %}lock.png" />
        </td>
        <td>
        {% if allow_join %}
            <a href="javascript:void(0);" onclick="javascript:window.open('{{ o.occurrence.event.get_conference_url }}','conferencepage',config='height=800,width=1000,top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;"style="float: right; padding-left: 10px;"><input type="button" class="buttonGreenSmall" value="{% trans "Join" %}" /></a>
        {% else %}
            <a href="{% url subscription_list %}" style="float:right;color:white;text-align:center;padding:0px;line-height:25px;" class="buttonGreenSmall">{% trans "Upgrade" %}</a>  
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% endif %}

    {% endfor %}
</table>
