{% load i18n %}
{% load avatar_tags %}

<!--FRIENDS LIST STARTS-->
<div id="friendslist">
    <div class="title">
        {% if is_me %}My{% else %}{% if user_obj.get_full_name %}{{ user_obj.get_full_name }}{% else %}{{ user_obj.username }}{% endif %}{% endif %}'s {% trans "Contacts" %}<span class="count">({{ other_friends|length }})</span>
    </div>
        <div class="settings" style="padding-top:6px;height:22px;">
      {% if is_me %}
    <a href="{% url invitations %}">
	  {% trans "See All" %}
            <img src="{{ MEDIA_URL }}new/images/settings_icon.png" width="16" height="16" alt="Settings" style="padding-right:2px;" />
    </a>
	{% endif %}
        </div>
    <div class="border_div" style="overflow:auto;height:250px;">
        <ul>
            {% if other_friends %}
            {% for friendship in other_friends %}
            <li>
            <a href="{% url user_dashboard friendship.friend.username %}" title="{{ friendship.friend.username }}">
                <span class="border">{% avatar friendship.friend 40 %}</span>
                {% if friendship.friend.first_name %}{% if friendship.friend.last_name %}
                {{ friendship.friend.first_name }} {{ friendship.friend.last_name }}{% endif %}
                {% else %}
                {{ friendship.friend.username }}
                {% endif %} 
            </a> 
            </li>
            {% endfor %}
            {% else %}
            <li>{% blocktrans %}You have not made any NetConference friends yet.{% endblocktrans %}</li>
            {% endif %}
        </ul>
    </div>
</div>

<!--FRIENDS LIST ENDS-->

