{% load i18n %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load file_tags %}
{% load timezone_filters %}

{# <h1 class="items_list_top" style="margin-top:10px;margin-left:0px;float:right;"> #}
    {#     <form id="list_search" method="get" action="search/"> #}
    {#  <input type="text" id="list_search_input" class="list_search" name="q" value="search my files" /> #}
    {#  <button type="submit" class="list_search_btn" id="list_search_btn"> #}
    {#      <img src="{{ MEDIA_URL }}img/btn_go_light.png" width="29" height="20" alt="search" title="search" /> #}
    {#  </button> #}
    {# </form> #}
    {# <span class="list_pagination">{% if page_obj.has_previous %}<a href="./?page={{ page_obj.previous_page_number }}">&laquo; Prev</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="./?page={{ page_obj.next_page_number }}">next &raquo;</a>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}</span> #}
{#     <span style="float:right;font-size:12px;margin-right:6px;display:inline;"><a href="{% url user_files user_obj.username %}">see all <span style="font-size:14px;">&raquo;</span></a></span> #}
{#     {% if is_public %}{{ user_obj.username }}'s {% trans "Recent Media" %}{% else %}{% trans "My Recent Media" %}{% endif %} #}
{# </h1> #}
<table class="items_list" width="706" cellspacing="0" style="margin:0px 0px 0px 0px;top:0;float:right;border-top:1px solid #aaa;">
	<tr class="items_list_def">
		<td width="115">File Type</td>
		<td width="327">Title</td>
		<td width="70" style="text-align:center;">Length</td>
		<td width="105"></td>
		<td width="80" style="padding:0px;text-align:right;"><span style="margin:0 10px 0 0;padding:0px;display:inline;font-weight:bold;"><a href="{% url user_files user_obj.username %}">see all <span style="font-size:14px;">&raquo;</span></a></span></td>
        <td>&nbsp;</td>
	</tr>
	{% with files as files_list %}
    {% for file in files_list %}
	<tr class="items_list_row {% cycle 'row1' 'row2' %}" >
		<td style="padding-left:5px;padding-right:0px;">
		            {% ifequal file.current_type "flv" %}
		    <a href="{{ file.get_absolute_url }}"><img src="{{ thumb_url }}{{ file.uuid }}.jpg" width="100" height="67" class="items_list_thumb" /></a>
		            {% else %}
    		            {% ifequal file.current_type "mp4" %}
    		    <a href="{{ file.get_absolute_url }}"><img src="{{ thumb_url }}{{ file.uuid }}.jpg" width="100" height="67" class="items_list_thumb" /></a>
    		            {% else %}
        		            {% ifequal file.current_type "f4v" %}
        		    <a href="{{ file.get_absolute_url }}"><img src="{{ thumb_url }}{{ file.uuid }}.jpg" width="100" height="67" class="items_list_thumb" /></a>
        		            {% else %}
        		                <a href="{{ file.get_absolute_url }}"><img src='{{ MEDIA_URL }}img/fileicons/file_{{ file.source_type }}.png' class='file_icon' border='0' /></a>
        		            {% endifequal %} 
        		        {% endifequal %}    
			        {% endifequal %}  
		</td>
    	<td class="items_list_title" style="padding-left:5px;">
    	    {% if file.private %}<img src="{{ MEDIA_URL }}img/{{ file.private|vidprivacy }}.png" border="0" class="privacy_lock" style="display:inline;float:left;" /> {% endif %}
    	    <a href="{{ file.get_absolute_url }}" class="listTitle">{{ file.title }}</a>
    	    
    	    {% ifequal request.user.username file.user.username %}
    	    {% show_tags_for file %}
    	    {% else %}
    	    {% show_public_tags_for file file.user.username %}
    	    {% endifequal %}

    	</td>
    	<td>
    	    {% if file.duration %}{{ file.duration|vidtime }}{% endif %}
    	    {% if file.page_count %}{{ file.page_count }} slides{% endif %}
    	</td>
    	
    	<td style="padding:0px;position:relative;">
    	{% if file.filename %}
    	<a href="{{ file.get_download_url }}" onclick="javascript:window.location='{{ file.get_download_url }}';return false;" rel="Download" class="button caps btn_fileList" target="_blank">download</a>
    	{% endif %}
    	</td>
    	<td style="padding:0px 0px 0px 0px;position:relative;text-align:right;">
    	    <a href="{{ file.get_absolute_url }}" rel="View File" class="button caps btn_fileList" style="float:right;margin-left:10px;">view</a>  
    	</td>
        <td>&nbsp;
        </td>
    </tr>
	
    {% endfor %}
    {% endwith %}
</table>
<br /><br />
