{% extends "netsign/_netsign_sent_list.html" %}
{% load i18n %}

{% block table_header %}
{% endblock %}

{% block netsign_header %}
  <td style="width:25%;" style="padding-left:5px;">{% trans "Title" %}</td>
  <td style="width:20%;">{% block sent_name %}{% trans "Sent to" %}{% endblock %}</td>
  <td style="width:15%;">{% trans "Status" %}</td>
  <td style="width:15%;">{% trans "Sent Date" %}</td>
  <td style="width:25%;">{% trans "Message" %}</td>
{% endblock %}
