{% extends "new_base.html" %}

{% load i18n %}

{% block submenu %}
<div id="submenu_container">
    <ul class="subnav">
        {% if user.is_authenticated %}
        <li><a href="{% url my_conferences %}">{% trans "My Conferences" %}</a></li>
        {# <li><a href="{% url conferences_public %}">{% trans "Public Conferences" %}</a></li> #}
        <li><a href="{% url conferencing_add %}">{% trans "Schedule a New Conference" %}</a></li>
        <li><a href="{{ event.get_absolute_url }}">{% trans "Conference Detail" %}</a></li>
        <li class="current"><a href="#">{% trans "Conference Statistics" %}</a></li>
        {% else %}
        <li><a href="#">{% trans "Conference Detail" %}</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block head_title %}
{% trans "Conference Statistics" %}
{% endblock %}

{% block content %}
<div id="content_container">
  <h1 class="title">{{ event.title }}: {{ event.start|date }} ({{ event.start|date:"H:i" }} - {{ event.end|date:"H:i" }})</h1>
  <h1 class="title">{% trans "Number of invites sent" %} ({{ invites.count }})</h1>
  {% for invite in invites %}
  <p><a href="{% url vmail_compose %}?recipient={{ invite.message.recipient }}">{{ invite.message.recipient }}</a></p>
  {% endfor %}
  <p></p>
  <h1 class="title">{% trans "Number of RSVPs" %} ({{ rsvps|length }})</h1>
  {% for rsvp in rsvps %}
  <p><a href="{% url vmail_compose %}?recipient={{ rsvp.email_field }}">{{ rsvp.name }}</a></p>
  {% endfor %}
  <h1 class="title" id="attendees">{% trans "Attendees" %} ({{ attendees|length }})</h1>
  {% if event_ended %}
  {% for attendee in attendees %}
  {% if attendee.email %}
  <p class="attendees"><a href="{% url vmail_compose %}?recipient={{ attendee.email }}" rel="{{ attendee.email }}">{{ attendee.screen_name }}</a></p>
  {% endif %}
  {% if attendee.user.email %}
  <p class="attendees"><a href="{% url vmail_compose %}?recipient={{ attendee.user.email }}" rel="{{ attendee.user.email }}">{{ attendee.user.username }}</a></p>
  {% endif %}
  {% endfor %}
  {% if attendees %}
  <p><a href="#attendees" onclick="mailAttendees();" class="buttonGreenSmall" style="color:white;text-align:center;float:left;clear:both;">{% trans "Mail Group" %}</a></p>
  {% endif %}
  {% endif %}
  <h1 class="title" id="absentees" style="clear:both;">{% trans "Absentees" %} ({{ absentees|length }})</h1>
  {% if event_ended %}
  {% for absentee in absentees %}
  <p class="absentees"><a href="{% url vmail_compose %}?recipient={{ absentee.email_field }}" rel="{{ absentee.email_field }}">{{ absentee.name }}</a></p>
  {% endfor %}
  {% if absentees %}
  <p><a href="#absentees" onclick="mailAbsentees();" class="buttonGreenSmall" style="float:left;clear:both;text-align:center;color:white;" />{% trans "Mail Group" %}</a></p>
  {% endif %}
 {% endif %}
</div>
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript">
  var baseMailURL = "{% url vmail_compose %}?recipient=";
  function mailAttendees() {
    var mailAddresses = [];
    $("p.attendees a").each(function(i, k) { 
      mailAddresses.push($(k).attr("rel"));
    });
    window.location = baseMailURL + mailAddresses.join(",");
  }
  function mailAbsentees() {
    var mailAddresses = [];
    $("p.absentees a").each(function(i, k) { 
      mailAddresses.push($(k).attr("rel"));
    });
    window.location = baseMailURL + mailAddresses.join(",");
  }
</script>
{% endblock %}
