{% extends "newer_base.html" %}
{% load i18n %}
{% block head_title %}
{% load timezone_filters %}
{% load conference_tags %}
{% load scheduletags %}
{{ page_title }}
{% endblock %}
{% block extra_css %}
<link href="{{ MEDIA_URL }}contact/css/contact.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/new_conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/newer_conference.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/conference_overview.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}schedule/js/jquery-ui-1.8.18.custom.min.js"></script>


<script type="text/javascript">
  var root_id = "{{ root_folder.id }}";
  var current_folder = "{{ root_folder.id }}";
</script>
<style>
#jstree_holder_move a {color:#595959; white-space:normal !important; height: auto; padding:1px 2px;word-wrap: break-word;font-size: 13px; } 
#jstree_holder_move li > ins { vertical-align:top; }
#jstree_holder_move li { vertical-align:top;word-wrap: break-word }
#jstree_holder_move .jstree-hovered, #jstree_holder .jstree-clicked { border:0; }
</style>
<script type="text/javascript">
  (function() {
    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
    li.src = 'https://platform.stumbleupon.com/1/widgets.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
  })();
</script>



{% endblock %}

{% block content %}
{% ifequal event.type "G" %}

{% else %}

  		
  		<!-- DELETE CONFERENCE START -->
	<div class="modal_conference" id="delete_conference_container">
		<div class="conference_overlay_header">
			Delete Conference
		</div>
	  <div style="width: 600px; margin-left: 50px;margin-bottom: 15px; margin-top: 34px;">
	  		<table border="0" style="width: 100%;" cellspacing="0">
	  			<tr align="center"><td class="model_conference_title" style="padding-bottom: 50px;">Are you sure you want to delete this conference?</td></tr>
	  			<tr class="title_delete_contacts" align="center" class="grey_color_text font_size_22"><td><button class="model_conference_button close">Cancel</button>&nbsp;<button class="model_conference_button close">Delete</button></td></tr>
	  		</table>
	  </div>
	</div>
	<!-- DELETE CONFERENCE END -->
  		
  		
  <!-- MOVE CONFERENCES OVERLAY START -->
  	<button id="move_conference" class="files_action_button delete_file" rel="#move_conference_container" style="display:none;">Move Hidden</button>
  	<div class="modal_conference" id="move_conference_container" style="display: none;">
		<div id="move_file_title" class="conference_overlay_header">
			Move Conference
		</div>
		<div class="files_smallclear"></div>
		 <h1 style="color: #909090;font: 13px Arial,Helvetica,sans-serif;padding: 5px 11px;width: 400px;background:white;border:#e3e3e3 solid 1px;margin-left:150px;">Folders</h1>
			<div class="files_folder_root_move">
			
	 	 <div class="conferences_folders_container"> 
			<div id="jstree_holder_move" style="height:auto;width:100%;"></div>
			
		</div>
		<div id="mmenu_move" style="height:30px; overflow:auto;margin-top:5px;">
			<input value="Folder" type="button" id="add_folder" style="float:left;" class="folder_create_button">
			<input value="Rename" type="button" id="rename"  style="float:left;margin-left:5px;" class="folder_rename_button">
			<input type="button" id="remove"  style="float:left;margin-left:5px;" class="folder_delete_button">
		</div>
			</div>
		  <!-- yes/no buttons -->
		  <div style="width: 550px; margin-left: 90px; margin-top: 10px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big" id="btn_cancel">Cancel</button>
		    <button style="float: right;" class="close schedule_btn_263x45_big" id="btn_move">Move</button>
		  </div>
		  <div style="height: 10px; clear: both;"></div>
	</div>
  	<!-- MOVE CONFERENCES OVERLAY START -->
  	<button style="display: none;" id="confirm_overlay" rel="#confirm_container"></button>
	<div class="modal_conference" id="confirm_container">
		<div class="conference_overlay_header" id="confirm_title">
			Title
		</div>
		<div style="text-align: center; margin-top: 30px; height:auto;">
		  <p style="color: #595959; font-size: 14px;" id="confirm_message">
		    Message
		  </p>
		 </div>
		  <div style="width: 100%; margin-left: 70px; margin-top: 40px">
		  <button style="float: left;" class="close model_conference_button">Cancel</button>
		    <button style="float: left;margin-left:5px" class="close model_conference_button">Delete</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
  	<!--  -->
  	
  	<button style="display: none;" id="alert_overlay" rel="#alert_container"></button>
	<div class="modal_conference" id="alert_container">
		<div class="conference_overlay_header" id="alert_title">
			Title
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;" id="alert_message">
		    Message
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 220px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>
{% endifequal %}
  	<!--CONTENT CONTAINER STARTS-->
	<div id="content_container"> 
	
			{%if status_response%}
  			<div class="thankyou_container">
  			<img src="{{MEDIA_URL}}schedule/images/thankyou.png"/>
  			<p style="font:16px Arial;color:#595959;margin-top:20px;"> You have responsed <span style="font-weight: bold;text-transform: uppercase;">{{status_response}}</span> to the conference invitation </p>
  			</div>
  			{%else%}
  				<ul id="contact_messages" style="margin-bottom: 15px;clear:both;float:left;margin-left:240px;display:none;">
		    	{% for message in messages %}
		    		<li><button class="btn_messages_close" onclick="show_then_hide();" style="float:right;margin-right: 5px;"></button></li>
		   	 		<li style="padding-bottom: 12px;">{{ message }}</li>
		    		{% endfor %}
  				</ul>
  			{%endif%}
	
		<!-- OVERVIEW TOP COLUMN START -->
		<div id="overview_top_column" style="min-height:auto;min-height:35px;">
		
		{%if is_host%}
  			<div id="overview_top_column_left" style="width:170px;height:35px;">
  			<a href="{% url my_conferences %}">	<button type="submit" class="btn_all_conferences">ALL CONFERENCES</button></a>
  			</div>
  		{%endif%}	
  			<div style="width:700px;float:left;clear:right;min-height:35px;height:auto;">
  				<p style="font-size: 24px;color: #750998;float: left;line-height: 1.5em">{{ event.title }}
  				{%if is_host%}<span style="margin-left:0px;"><img id="{{event.id}}" class="flag_trigger" style="width:25px;" src="{{MEDIA_URL}}files/images/{% if event.is_flag %}active_flag.png{%else%}inactive_flag.png{%endif%}" /></span>{%endif%}</p>
  				
  			</div>
  	{% block helper_message %}
  			
  	{% endblock %}		
  		</div>
  		<!-- OVERVIEW TOP COLUMN END -->
  		<!-- OVERVIEW TOP COLUMN TITLE START -->
  		
  		<!-- OVERVIEW TOP COLUMN TITLE END -->
  		<!-- OVERVIEW CONTENT START -->
  		<div id="overview_content">
  			<!-- OVERVIEW LEFT COLUMN START -->
  			<div id="overview_left_column">
	  			{% if is_host %}
	  			
	  				{% if is_conference_end %}
	  			<button class="btn_schedule_similar" onclick="javascript:window.location = '{% reverse_link_from_hash "s_similar_conference" event %}';" >Schedule Similar Conference</button>
	  				{% else %}
	  				<button onclick="javascript:window.open('{{ event.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;"
  					class="btn_overview_join_conferences" >Join Conference</button>
	  				{% endif %}
	  			
	  			<div style="clear: both; height: 2px;"></div>
	  			<button id="info_action_btn" onclick="javascript:window.location='{{ event.get_absolute_url }}';" class="btn_action_overview">Info</button>
	  			
	  			{% if is_conference_end %}
	  			<div style="clear: both; height: 2px;"></div>
	  			<button id="btn_view_guest" class="btn_action_overview" onclick="javascript:window.location='{% url get_guests event.urlhash %}'">Guests</button>
	  			<div style="clear: both; height: 2px;"></div>
	  			<button onclick="javascript:window.location='{%reverse_link_from_hash "watch_recording" event%}'" id="watch_recording_btn"  class="btn_action_overview">Watch Recording</button>
	  			{% else %}
	  			
	  			<div style="clear: both; height: 2px;"></div>
	  			<button  id="roomsetup_action_btn"  class="btn_action_overview" onclick="javascript:window.location = '{% reverse_link_from_hash "overview_room_setup" event %}';" style="color:white;text-decoration:none;text-align:center;line-height:40px;">Conference Setup</button>
	  			<div style="clear: both; height: 2px;"></div>
	  			<button class="btn_action_overview" style="color:white;text-align:center;line-height:40px;" onclick="show_move_dialog();">Move</button>
	  			<div style="clear: both; height: 2px;"></div>
	  			{% endif %}
	  			<button id="btn_cancel_conference" rel="#delete_conference_container" class="btn_action_overview">Delete Conference</button>
				{% else %}
	  			{% if is_terminal %}
	  				<button class="btn_overview_join_conferences" style="visibility: hidden;">Join Conference</button>
	  			{% else %}
	  			<button onclick="javascript:window.open('{{ event.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;"
  				class="btn_overview_join_conferences" >Join Conference</button>
	  			{% endif %}
	  			{% endif %}
	  		</div>
	  		
	  		<form action="{% url delete_conferences %}" method="post" id="frm_conference">
	  			<input type="hidden" name="chk_confs" value="{{event.id}}"/>
	  			<input type="hidden" id="next" name="next" value="{% url my_conferences %}" />
	  		</form>
	  		{% block content_overview %}
	  		
	  		{% endblock %}
	  		
	  		
	  		<!-- OVERVIEW MIDDLE COLUMN END -->
  		</div>
  		<!-- OVERVIEW CONTENT END -->
  	</div>
  	<!--CONTENT CONTAINER ENDS--> 
<div style="width:100%;clear:both;height:200px;"></div>

<script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.cookie.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.hotkeys.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jstree/js/jquery.jstree.js" ></script>

<script type="text/javascript" src="{{ MEDIA_URL }}jstree/conference_custom_jstree.js" ></script>
<script type="text/javascript">

show_move_dialog = function(){
	$('#move_conference').click();
initialize_tree('jstree_holder_move','mmenu_move', false);
};

show_then_hide = function(){
	$('#contact_messages').fadeOut();
};
function move_conferences_to_folder(){
	var next = window.location.href;
	var event_id = {{event.id}};
	var folder_move_id = null;
	var selected_node = $('#jstree_holder_move').find('.jstree-clicked').html();
	if(selected_node != null) {
		var s_node = $('#jstree_holder_move').find('.jstree-clicked');
		if(s_node.length > 1){
			alert('You only select one folder to upload file!!!');
			return false;
		}else{
			folder_move_id = s_node.parent().attr('id');
		}
	}else{
		alert('Please select a folder to move conference(s)');
		return false;
	}
	/* window.location = '{% url move_conference_to_folder %}?event_id='+{{event.id}}+'&folder_id='+folder_move_id+'&current_folder_id=' + "{{ current_folder.id }}"; */
	$.ajax({
		url:'{% url move_conference_to_folder %}?event_id='+{{event.id}}+'&folder_id='+folder_move_id,
		type:'GET',
		dataType:'html',
		success:function(result){
		}
	 
	 });
	return false;
}

  $(document).ready(function() {
	  
	  {%if is_host%}
		$('.flag_trigger').live('click',function(){
			var that = $(this);
			var id = $(this).attr('id');
			var flag = 1;
			if($(this).attr('src').indexOf('inactive_flag')==-1)
				flag =0;
			$.ajax({
				  url: "/conferencing/changeFlags?event_id="+id+"&flag="+flag,
				  type: 'GET',
				  dataType: 'html',
				  success: function(html){
					  if(html == 'success'){
							if(flag==0){
								that.attr('src','{{MEDIA_URL}}files/images/inactive_flag.png');
							}else{
								that.attr('src','{{MEDIA_URL}}files/images/active_flag.png');
							}						  
					  }else{
						 
					  }
				  }
				});
		});
		{%endif%}
	  
	  
	  
	  {%if status_response%}
	 /*  setTimeout(function(){
		  $(".thankyou_container").fadeOut();  
	  },3000); */
	  {% endif %}
	  
	  
	  {% if messages %}
		$('#contact_messages').fadeIn();
		setTimeout(function(){ 
			$('#contact_messages').fadeOut();
			}, 3000);		
		{% endif %}
	 
	  
   /*  var defaultSearchQuery = $("input[name=q]").val();
    $("input[name=q]").focusin(function() { 
      if ($(this).val() == defaultSearchQuery)
        $(this).val("");
    });
    $("input[name=q]").focusout(function() {
      if (!$(this).val())
        $(this).val(defaultSearchQuery);
    });
    $("input[name='file-select[]']").change(function() { 
      if ($(this).attr("checked") === false && $("input[name=select]").attr("checked") === true) {
        $("input[name=select]").attr("checked", false);
      }
    }); 
    
    $('.schedule_search_close').click(function(){
		 $('#textfield').attr('value','');
		 $('#textfield').focus();
	  });
	*/    
	
	
	$("#btn_cancel_conference").overlay({
		 
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#666',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      closeOnClick: false
	  });
	
	var buttons_confirm = $("#delete_conference_container button").click(function() {
		var yes = buttons_confirm.index(this);
	 	if(yes == 1) {
	 		$('#frm_conference').submit();
	 	}
	});
	
	
    $('.schedule_warning_close').click(function(){
    	$('.overview_section_warning').hide('slow');
    });
	
	reminder_interval = {{ event.reminder_interval }};
	temp = reminder_interval;
  	selectedUnit = $('#sel_reminder_interval option:selected').text();
	if(selectedUnit == 'Hours')
		temp = temp / 3600;
	else temp = temp / 60;
	$('#reminder_interval').html(temp);
	
    $('#sel_reminder_interval').change(function(){
    	temp = reminder_interval;
    	selectedUnit = $('#sel_reminder_interval option:selected').text();
    	if(selectedUnit == 'Hours')
    		temp = temp / 3600;
    	else temp = temp / 60;
    	$('#reminder_interval').html(temp);
    		
    });
    
    //=========== MOVE CONFERENCE =====================
    $("#move_conference").overlay({
        // some mask tweaks suitable for modal dialogs
        mask: {
          color: '#666',
          loadSpeed: 200,
          opacity: 0.5
        },
        closeOnClick: false
    });
    
    var buttons_move = $("#move_conference_container button").click(function(e) {
	    // get user input
		var yes = buttons_move.index(this);
		// if click delete then delete file
	 	if(yes == 1) {
	 		move_conferences_to_folder();
	 	}
	});
    
    
    $("#confirm_overlay").overlay({
        // some mask tweaks suitable for modal dialogs
        mask: {
          color: '#666',
          loadSpeed: 200,
          opacity: 0.5
        },
        closeOnClick: false
    });
    
    var buttons_confirm = $("#confirm_container button").click(function(e) {
		var yes = buttons_confirm.index(this);
	 	if(yes == 1) {
	 		$("#jstree_holder_move").jstree('remove');
	 	}
	});
    
    
    $("#alert_overlay").overlay({
        // some mask tweaks suitable for modal dialogs
        mask: {
          color: '#666',
          loadSpeed: 200,
          opacity: 0.5
        },
        closeOnClick: false
    });
    
  });
</script>
   
{% endblock %}

