{% extends 'new_base.html' %}

{% load i18n %}

{% block head_title %}{% blocktrans %}{{ page_title }}{% endblocktrans %}{% endblock %}

{% block extra_css_pre %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.7.2.custom.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery.timepickr.css" />
<style type="text/css">
    th { width: 110px; }
    #btn_recurring { display: none; }
    .container th { border-bottom: none; vertical-align:top; text-align:left; }
    #id_start_2{ margin-left:5px;}
    .hidden { display: none; }
    .uniform_faux input,textarea {
        padding:3px;
        width:260px;
    }
    #checkboxes input {
        width: auto;
    }
</style>
{% endblock %}

{% block extra_css_post %}
<style type="text/css">
  .uniform_faux fieldset label {
    width: 100%;
  }
</style>
{% endblock %}


{% block submenu %}
<div id="submenu_container">
    {% include "schedule/conference_subnav.html" %}
</div>
{% endblock %}

{% block content %}

<!--CONTENT STARTS -->
<div id="login_page">
    <div class="leftpanel">
        <div class="top"></div>
        <div class="mid">
            <h1 class="purple_text">{% blocktrans %}{{ page_title }}{% endblocktrans %}</h1>
            <div><img src="{{ MEDIA_URL }}/new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></div>
            <form class="dropshadow uniform_faux" action="." method="post">
                {{ form.non_field_errors }}
                    <table width="100%" border="0" cellspacing="0" cellpadding="5">
                        {% if form.start.errors %}
                        {{ form.start.errors }}
                        {% endif %}
                        {{ form.start }}
                        <tr>
                                <td>
                                    {% trans "Time Zone :" %} *
                                </td>
                                <td>
                                    {% if form.timezone.errors %}
                                    {{ form.timezone.errors }}
                                    {% endif %}
                                    {{ form.timezone }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% trans "Title :" %} *
                                </td>
                                <td>
                                    {% if form.title.errors %}
                                    {{ form.title.errors }}
                                    {% endif %}
                                    {{ form.title }}
                                </td>
                            </tr>
                            <tr>
                                    <td>{% trans "Description :" %}</td>
                                    <td>
                                        {% if form.description.errors %}
                                        {{ form.description.errors }}
                                        {% endif %}
                                        {{ form.description }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <table id="checkboxes" width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="30"  valign="top">
                                                    {% if form.private.errors %}
                                                    {{ form.private.errors }}
                                                    {% endif %}
                                                    {{ form.private }}
                                                </td>
                                                <td>
                                                    <label for="id_private"><strong>{% trans "Private" %}</strong>
                                                        {% trans "- Details will not be displayed on your public profile" %}</label>
						    <input type="hidden" name="is_recorded" value="1" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="30" valign="top">
                                                    {% if form.is_recurring.errors %}
                                                    {{ form.is_recurring.errors }}
                                                    {% endif %}
                                                    {{ form.is_recurring }}
                                                </td>
                                                <td>
                                                    <label for="id_is_recurring"><strong>{% trans "Recurring" %}</strong>
                                                        {% trans "- Daily, Weekly and Monthly Options" %}</label>
                                                </td>
                                            </tr>
					    <tr class="hidden">
					      <td colspan="2">
						<label for="id_rule">Rule:</label>
						{% if form.rule.errors %}
						  {{ form.rule.errors }}
						{% endif %}
						  {{ form.rule }}
						<br />
						{% trans "Select '----' for a one time only event." %}
					      </td>
					    </tr>
					    <tr class="hidden">
					      <td colspan="2">
						<label>{% trans "Enter end date &amp; time below" %}</label>
						{% trans "This date is ignored for one time only events." %}
					      </td>
					    </tr>
					    {% if form.end_recurring_period.errors %}
					      {{ form.end_recurring_period.errors }}
					    {% endif %}
					    {{ form.end_recurring_period }}
					    <tr>
					      <td>
						{% if form.force_registration %}
						{{ form.force_registration.errors }}
						{% endif %}
						{{ form.force_registration }}
					      </td>
					      <td><label for="id_force_registration">{% trans "Force Participants to Register to this Event" %}</label></td>
					    </tr>
					    <tr>
					      <td colspan="2"><h3>{% trans "Time remaining before sending a reminder" %}</h3></td>
					    </tr>
					    <tr class="reminder_interval">
					      <td><input type="radio" name="reminder_interval" value="15" /></td>
					      <td><label for="reminder_interval" >{% trans "15 minutes" %}</label></td>
					    </tr>
					    <tr class="reminder_interval">
					      <td><input type="radio" name="reminder_interval" value="30" /></td>
					      <td><label for="reminder_interval" >{% trans "30 minutes" %}</label></td>
					    </tr>
					    <tr class="reminder_interval">
					      <td><input type="radio" name="reminder_interval" value="1440" checked="checked" /></td>
					      <td><label for="reminder_interval" >{% trans "24 hours" %}</label></td>
					    </tr>
					    <tr class="reminder_interval">
					      <td><input type="radio" name="reminder_interval" value="2880" /></td>
					      <td><label for="reminder_interval" >{% trans "48 hours" %}</label></td>
					    </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td><a href="#" onclick="resetForm();" class="purple_text" style="float:right; margin:10px;">{% trans "Clear All" %}</a></td>
                                </tr>
                            </table>
		    <p><input type="submit" class="buttonPurple" value="{% trans "Save Conference" %}" style="border:0px;float:right;padding:0px;margin:0px;width:227px;"/></p>
            </form>
            <p>&nbsp;</p>
        </div>
        <div class="bottom"></div>
    </div>
    <div class="rightpanel">
      <img src="{{ MEDIA_URL }}/new/images/schedule_message.gif" alt="Schedule a New Conference" />
      <h3>{% trans "Preview Message" %}</h3>
      <div style="text-align:justify;" class="conf_preview">
        <p class="conf_preview_h2">{% blocktrans %}You have been invited to a NetConference {% endblocktrans %} {% trans "by" %} {% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}{{ user }}{% endif %}:</p>
	<br />
        <p class="conf_preview_h3">{% trans "NetConference Invitation" %}</p>
        <p>
        {% blocktrans %}You may join this conference by first dialing into the conference bridge line{% endblocktrans %} <strong>{{ ccall_pin.dial_in_number }}</strong> {% blocktrans %}and using this access code{% endblocktrans %} <strong>{{ ccall_pin.access_code }}#</strong>.
        </p><br />
        <p>
	  {% blocktrans %}Click on the link below and join the conference:{% endblocktrans %}
	</p>
	<p><a href="#" onclick="showPlaceholderPopup();">{% blocktrans %}Conference link{% endblocktrans %}</a></p><br />
	<p><strong>{% blocktrans %}Are you planning to attend? RSVP here:{% endblocktrans %}</strong></p>
	<p><a href="#" onclick="showPlaceholderPopup();">{% blocktrans %}Click here to RSVP{% endblocktrans %}</a></p>
	<p><strong>{% blocktrans %}Conference details:{% endblocktrans %}</strong></p>
	<p style="float:left;padding-right:2px;"><strong>{% trans "Date:" %} </strong></p><p class="date">{% trans "date" %}</p>
	<p style="float:left;padding-right:2px;"><strong>{% trans "Time:" %} </strong></p><p class="time">{% trans "time" %}</p>
	<p style="float:left;padding-right:2px;"><strong>{% trans "Time Zone:" %} </strong></p><p class="timezone">{% trans "timezone" %}</p>
        <span class="conf_preview_h3">
	  <br />
          {% trans "Message" %}
        </span>
	<div class="message"><p style="font-size:12px;white-space:normal;word-break:break-word;"></p></div>
      </div>
    <div class="clear"></div>
    </div>
    <a href="#" onclick="runJoan();return false;" class="tutorial_btn"><span style="display:none;">{% trans "Tutorial" %}</span></a>
<!--CONTENT ENDS -->
</div>


{% endblock %}

{% block extrafooterscript %}
<script src="{{ MEDIA_URL }}js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery.timepickr.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
<script type="text/javascript">
	var lf_ID = '100002567';
	function runJoan(){
		runLFOW();
	        $(".tutorial_btn").removeAttr("onclick");
	}

$(document).ready(function() {
    $("#id_start_0").datepicker({minDate: 0, maxDate: 365, dateFormat: 'yy-mm-dd'});
    $("#id_start_1").timepickr({convention: 12});
    $("#id_start_1").blur(function(){
		time_am_pm = $(this).val();
		time =  time_am_pm.substr(0, 5);
		am_pm = time_am_pm.substr(6, 2);
		am_pm = am_pm.toUpperCase();
		$(this).val(time);
		$("#id_start_2").val(am_pm);
		$(this).change();
	});
    $("#id_end_recurring_period_0").datepicker({minDate: 0, maxDate: 365, dateFormat: 'yy-mm-dd'});
    $("#id_is_recurring").change(function(){
	if ($("#id_is_recurring").attr("checked") === true) {
          $(".hidden").show();
	} else {
	  $(".hidden").hide();
        }
    $("#id_end_recurring_period_1").timepickr({convention: 12});
    $("#id_end_recurring_period_1").bind("blur focusout", function(){
			time_am_pm = $(this).val();
			time =  time_am_pm.substr(0, 5);
			am_pm = time_am_pm.substr(6, 2);
			am_pm = am_pm.toUpperCase();
			$(this).val(time);
			$("#id_end_recurring_period_2").val(am_pm);
		});
        return true;
    });
  if ($("#id_is_recurring").attr("checked") === true) {
    $(".hidden").show();
  }
  $("#id_start_0").bind("change keydown keyup", function(eventObj) {
    if ($("#id_start_0").val()) {
      $("p.date").html($("#id_start_0").val());
    }
  });
  $("#id_start_1,#id_start_2").bind("change", function(eventObj) {
    if ($("#id_start_1").val()) {
      $("p.time").html($("#id_start_1").val()+" "+$("#id_start_2").val());
    }
  });
  $("#id_timezone").bind("change", function(eventObj) {
      $("p.timezone").html($("#id_timezone").val());
  });
  $("#id_description").bind("change keydown keyup", function(eventObj) {
    if ($("#id_description").val()) {
      $("div.message p").html($("#id_description").val());
    }
  });
  $(".timezone").html($("select[name=timezone] option:selected").val());
});
function showPlaceholderPopup() {
  alert('{% blocktrans %}This is a placeholder whose link is generated after a conference is successfully created.{% endblocktrans %}');
}
function resetForm() {
  $('.uniform_faux')[0].reset();
  $(".hidden").hide();
  $(".date").html("date");
  $(".time").html("time");
  $(".time").html("timezone");
  $(".message p").html("");
}
</script>
{% endblock %}
