{% extends 'new_base.html' %}
{% load i18n %}
{% load file_tags %}
{% load extra_tagging_tags %}
{% load timezone_filters %}
{% load scheduletags %}

{% block head_title %}{{event.title}}{% endblock %}

{% block extra_css_pre %}
<meta name="title" content="NetConference conference: {{ event.title }}" />
<meta name="description" content="Please come join my NetConference on {{ event.start|localtime:timezone|date:_("DATETIME_FORMAT") }} Time zone is {{ timezone }}" />
<link rel="image_src" href="{{ site_url }}{{ MEDIA_URL }}img/netconference_conf_thumb.jpg" />
<style type="text/css">
    #event_list_box p { margin: 0.5em 0px; }
</style>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}new/css/ncinv/style.css">
{% endblock %}

{% block submenu %}
<div id="submenu_container">
    <ul class="subnav">
        {% if user.is_authenticated %}
        <li><a href="{% url my_conferences %}">{% trans "My Conferences" %}</a></li>
        {# <li><a href="{% url conferences_public %}">{% trans "Public Conferences" %}</a></li> #}
        <li><a href="{% url conferencing_add %}">{% trans "Schedule a New Conference" %}</a></li>
	<li><a href="{% url recorded_conf %}">{% trans "Recorded Conferences" %}</a></li>
        <li class="current"><a href="#">{% trans "Conference Detail" %}</a></li>
        {% else %}
        <li><a href="#">{% trans "Conference Detail" %}</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inside2">
        <div id="content-left" class="mt50">
            <h4>{% trans "Add Conference to Calendar" %}</h4>
              <a href="{% url event_ical %}?event={{ urlhash }}" class="buttonGreen" style="color:white;text-decoration:none;text-align:center;line-height:50px;">{% trans "Outlook/iCal" %}</a>
              <a href="http://www.google.com/calendar/{{ apps_hosted }}event?action=TEMPLATE&text="+escape({{ event.title }})+"&dates={{ utc_str }}&sprop=website:www.netconference.com{{event.get_absolute_url}}&details="+escape({{ event.description }})+" Join the meeting at {{ site_url }}{{event.get_absolute_url}}" target="_blank"  class="buttonGreen" style="color:white;text-decoration:none;text-align:center;line-height:50px;">{% trans "Google Calendar" %}</a>
            <h4>{% trans "Share Conference Details" %}</h4>
            <script>function fbs_click() {u='{{ site_url }}{{event.get_absolute_url}}';t='{{ event.title }}';window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>
                <a href="http://www.facebook.com/share.php?u={{ site_url }}{{ event.get_absolute_url }}" onclick="return fbs_click()" class="buttonGreen" style="color:white;text-decoration:none;text-align:center;line-height:50px;">{% trans "Facebook" %}</a>
                <a href="http://twitter.com/?status=Join%20my%20NetConference:%20"+escape({{ event.title }})+"%20at%20{{ event.start|localtime:account.timezone|date:_("DATETIME_FORMAT") }}%20{{ site_url }}{{event.get_absolute_url}}" target="_blank" class="buttonGreen" style="color:white;text-decoration:none;text-align:center;line-height:50px;">{% trans "Twitter" %}</a>
        </div><!-- #content-left -->
        <div id="content-right">
            <div>
                <div class="fl">
                    <h2 class="pl5">{% trans "Conference Overview (Step 2 of 3)" %}</h2>
                </div>
                {% ifequal user event.creator  %}
                <div class="fr pt22">
		    <a href="{{ event.get_edit_url }}" class="buttonGreenSmall" style="text-align:center; line-height:25px;float:right;margin-left:10px;">Edit</a>

                    {% ifnotequal event.type "G" %}
		    <a href="{{ event.get_delete_url }}" class="buttonGreenSmall" style="text-align:center; line-height:25px;float:right;">Delete</a>
		    {% endifnotequal %}
                </div>
                {% endifequal %}
            </div>
            <br /><br /><br /><br />
            <div class="conference-wrapper">
                <h4 class="conference">{% trans "Conference Details:" %}</h4>
                <div class="content-right-inside">
                    <p><b>{% trans "Title" %}: </b>{{ event.title }}</p>
                    <p><b>Host: </b><a href="{% url user_dashboard event.creator %}" style="color:#750998;">{% if event.creator.first_name %}{% if event.creator.last_name %}{{ event.creator.first_name }} {{ event.creator.last_name }}{% endif %}{% else %}{{ event.creator }}{% endif %}</a></p>
                    <p><b>{% trans "Starts" %}: </b>{% blocktrans with start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</p>
                    <p><b>{% trans "Time Zone" %}: </b> {{ timezone }}</p>
                    <p><b>{% trans "Recurs" %}: </b>
                        {% if event.rule %}
                        {{ event.rule }}  {% if event.end_recurring_period %}until {% blocktrans with event.end_recurring_period|localtime:account.timezone|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}{% endif %}
                        {% else %}
                        {% trans "Never. This is a 'one time only' event." %}
                        {% endif %}
                    </p>
                    {% if event.private %}
                    <p><img src="{{ MEDIA_URL }}new/images/icon_lock.png" alt="private" class="mr10"/><b>{% trans "PRIVATE - This conference will not be displayed on your public profile" %}</b></p>
                    {% else %}
                    <p><img src="{{ MEDIA_URL }}new/images/icon_unlock.png" alt="public" class="mr10"/><b>{% trans "PUBLIC - This conference will be displayed on your public profile" %}</b></p>
                    {% endif %}
                    {% ifequal request.user event.creator %}
		    <p><a href="{% url conference_statistics urlhash=urlhash %}" style="color:#750998;">{% trans "Conference statistics" %}</a></p>
		    <div id="rsvpInfo" style="display:none;">
		      <ul>
			{% for rsvp in event.rsvped.all %}
			  <li><p style="font-size:12px;"><a href="mailto:{{ rsvp.email_field }}">{{ rsvp.name }}</a> - {{ rsvp.phone }}</p></li>
			{% empty %}
			  <li><p style="font-size:12px;">{% trans "No RSVPs." %}</p></li>
			{% endfor %}
		      </ul>
		    </div>			  
		    {% endifequal %}
                </div><!-- .content-right-inside -->
                {% if event.description %}
                <h4 class="desc">{% trans "Description:" %}</h4>
                <div class="content-right-inside" style=" word-wrap:break-word; ">
                    <p>{{ event.description|linebreaksbr }}</p>
                </div><!-- .content-right-inside -->
                {% endif %}
                <div><br/>
                    <p class="conference-bottom">
                    {% if allow_join %}
                    {% trans "Direct Link to Event:" %} <a href="{{ site_url }}{{ event.get_conference_url }}" onclick="javascript:window.open('{{ event.get_conference_url }}','conferencepage',config='height=800,width=1000,top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;">{{ site_url }}{{ event.get_conference_url }}</a>
                    {% else %}
                    <a href="{% url subscription_list %}" class="buttonGreen" style="font-size:20px;color:white;line-height:50px;float:right;text-align:center;margin:0px;margin-top: 20px">{% trans "Upgrade to Join" %}</a>
                    {% endif %}
                    {% ifequal user event.creator %}
                    &nbsp;
<div><a href="{{ event.get_invite_url }}" class="fr mb15 buttonGreen" style="float:right;color:white;text-decoration:none;text-align:center;line-height:50px;">{% trans "Send Invitations" %}</a>
</div>
                    {% endifequal %}
                    </p>
                </div>
            </div> <!-- .conference-wrapper -->
        </div><!-- #content-right -->
    </div><!-- .inside2 -->
</div><!-- #content--> 
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}lfow/playLFOW.js"></script>
<script type="text/javascript">
    var lf_ID = '100002565_B';
    function runJoan(){
        runLFOW();
    } 

if (top.location != location) {
    top.location.href = document.location.href;
}
</script>
{% endblock %}
