{% extends "schedule/conference_overview.html" %}
{% load i18n %}
{% load timezone_filters %}
{% load scheduletags %}
{% block helper_message %}
{%endblock%}

{% block content_overview %}

<div style="float:left;width:700px;margin-left:5px;">
	
	<div class="overview_border">
	<div class="overview_list_head">Guest</div>
		<div>
			<p style="padding-top:10px; padding-left: 15px; padding-bottom: 10px;">
				<input {% if event.guest_view_guest_list %}checked="checked"{% endif %} type="checkbox" name="chk_confs" value="{{ conference.id }}" style="display: none;"/>
				<label id="view_guest_list" class="lbl_chk {% if event.guest_view_guest_list %}chk_checked{% else %}chk_unchecked{% endif %}" for="chk_confs"></label>
				<span style="color: #595959; font-size: 13px; font-weight: bold;">Allow guests to view the guest list.</span>
			</p>
		</div>
		<div>
			<!-- the tabs -->
			<!-- <ul class="tabs">
				<li><a href="#" class="normal">Attended</a></li>
				<li><a href="#" class="normal">Did not attend</a></li>
				<li><a href="#" class="normal">Invited</a></li>
			</ul> -->
			 <div class="tabs">
			 	
			 	<div><a href="#" class="active">Attended ({{ guest.attended.total }})</a></div>			 	
			 	<div><a href="#" class="normal">Did not attend ({{ guest.did_not_attend.total  }})</a></div>
			 	<div><a href="#" class="normal">Invited ({{ guest.invited.total }})</a></div>
			 </div>
			<!-- tab "panes" -->
			<div class="panes panes_border">
				<div>
					<table>
					{% if guest %}
					{% for e in guest.attended.emails %}		
					<tr>
						<td>
							{% if e.name %}<a style="text-decoration: underline; cursor: pointer;">{{ e.name }}</a>&nbsp;&#60;<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>&#62;{% else %}<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>{% endif %}
						</td>
					</tr>
					{% endfor %}								
					{% endif %}
					</table>
				</div>
				<div>
					<table>
					{% if guest.did_not_attend %}
					{% for e in guest.did_not_attend.emails %}		
					<tr>
						<td>
							{% if e.name %}<a style="text-decoration: underline; cursor: pointer;">{{ e.name }}</a>&nbsp;&#60;<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>&#62;{% else %}<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>{% endif %}
						</td>
					</tr>
					{% endfor %}								
					{% endif %}
					</table>
				</div>
				<div>
					<table>
					{% if guest.invited %}
					{% for e in guest.invited.emails %}		
					<tr>
						<td>
							{% if e.name %}<a style="text-decoration: underline; cursor: pointer;">{{ e.name }}</a>&nbsp;&#60;<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>&#62;{% else %}<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>{% endif %}
						</td>
					</tr>
					{% endfor %}								
					{% endif %}
					</table>
				</div>
			</div>
						
					</div>
			</div>
		</div>	  		
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>	  		
<script type="text/javascript">
$(document).ready(function(){
	$('#btn_view_guest').addClass('active');
	$('.tabs a').click(function(){
		$(this).parent().parent().find('a').removeClass('active').addClass('normal');
		$(this).removeClass('normal').addClass('active');
	});
	$('.lbl_chk').click(function(){
		var type = $(this).attr('id');
		if($(this).hasClass('chk_unchecked')) {
			$(this).removeClass('chk_unchecked').addClass('chk_checked');
			$(this).parent().find('input').attr('checked', 'checked');
			$.ajax({
				url: "/conferencing/change_guest_permition?event_id=" + {{event.id}} + "&type=" + type + "&val=1"
			});
		}else {
			$(this).removeClass('chk_checked').addClass('chk_unchecked');
			$(this).parent().find('input').removeAttr('checked');
			$.ajax({
				url: "/conferencing/change_guest_permition?event_id=" + {{event.id}} + "&type=" + type + "&val=0"
			});
		}
	});
	$("div.tabs").tabs("div.panes > div");
});
</script>
{% endblock %}