{% extends "schedule/conference_overview.html" %}
{% load i18n %}
{% load scheduletags %}
{% load timezone_filters %}
{% block helper_message %}
<link href="{{ MEDIA_URL }}schedule/conference_info.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}schedule/new_conference.css" rel="stylesheet" type="text/css" />
<link rel="image_src" href=""/>
<meta name="description" content="{{ event.description }}" />

<meta itemprop="name" content="{{ event.title }}">
<meta itemprop="description" content="{{ event.description }}">
<!-- <meta itemprop="image" content="{http://www.your_url.com/your_image.png}"> -->
  			<!-- <div id="overview_top_column_right" class="overview_section_warning">
  				<div style="float: right">
	  				<img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_warning_close.png" />
	    			<img class="schedule_warning_close" src="{{ MEDIA_URL }}schedule/images/icon_question.png" />
    			</div>
    			<div style="padding: 10px; margin-left: 100px; margin-right: 120px;">
  					This is the Conference overview page. Here, you may review and download conference info, 
  					send invitations and links, setup the conference room, or cancel the conference.
  				</div>
  			</div> -->
  		{% endblock %}
{% block content_overview %}

<!-- OVERLAY START -->
	  		
<!-- DELETE CONFERENCE START -->
	<button style="display: none;" id="show_make_public" rel="#make_public_container"></button>
	<div class="modal_conference" id="make_public_container">
		<div class="conference_overlay_header">
			Share
		</div>
	  <div style="width: 600px; margin-left: 50px; margin-top: 13px;">
	  		<table border="0" style="width: 100%;" cellspacing="0">
	  			<tr align="center"><td class="model_conference_title">The conference is currently set to private.</td></tr>
	  			<tr align="center"><td style="padding-top: 4px;" class="model_conference_title">You may only share public conferences.</td></tr>
	  			<tr align="center"><td style="padding-top: 4px; color: #760998;" class="model_conference_title">Would you like to make this conference public?</td></tr>
	  			<tr class="title_delete_contacts" align="center" class="grey_color_text font_size_22"><td style="padding-top: 30px; padding-bottom: 15px;"><button class="model_conference_button close">Cancel</button>&nbsp;<button class="make_public_conference close">Make Conference Public</button></td></tr>
	  		</table>
	  </div>
	</div>

<!-- OVERLAY STOP -->	  		
<!-- OVERVIEW MIDDLE COLUMN START -->
<div  id="overview_middle_column">
		<div class="overview_border">
			  			<div class="overview_list_head"> 
				  			<div style="float: left;">
				  				Overview
				  			</div>
				  			
			  			</div>
			  			<div class="conference_info_main">
			  			<div class="schedule_smallclear"></div>
			  				
			  				<div class="conference_info_timezone">
				  				<div class="left_detailinfo_block">
									<p class="schedule_label_text">Start:</p>
									<p class="schedule_label_text">End:</p>
									<p class="schedule_label_text">Time Zone:</p>
								</div>
								<div class="right_detailinfo_block">
									<p class="schedule_label_text">{{ event.start|localtime:event.timezone.value|date:"l, n/j/Y h:i A" }}</p>
									<p class="schedule_label_text">{{ event.end|localtime:event.timezone.value|date:"l, n/j/Y h:i A" }}</p>
									<p class="schedule_label_text">{{ tz_display.title }}</p>
								</div>
			  				</div>
			  				<div class="conference_info_line_div"></div>
			  				
			  				<!-- ADDITION TIMEZONES START -->
			  				{% for extra_tz in extra_timezones %}
			  				<div class="conference_info_timezone">
				  				<div class="left_detailinfo_block">
									<p class="schedule_label_text">Start:</p>
									<p class="schedule_label_text">End:</p>
									<p class="schedule_label_text">Time Zone:</p>
								</div>
								<div class="right_detailinfo_block">
									<p class="schedule_label_text">{{ event.start|localtime:extra_tz.timezone.value|date:"l, n/j/Y h:i A" }}</p>
									<p class="schedule_label_text">{{ event.start|localtime:extra_tz.timezone.value|date:"l, n/j/Y h:i A" }}</p>
									<p class="schedule_label_text">{{ extra_tz.timezone.title }}</p>
								</div>
			  				</div>
			  				<div class="conference_info_line_div"></div>
			  				{% endfor %}
			  				
			  				<!-- ADDITION TIMEZONES STOP -->
			  				<div class="schedule_smallclear" style="margin-bottom:10px"></div>
			  			<div class="conference_info_description">
			  			<p style="color:#595959;font: 13px Arial;font-weight: bold;margin-left:10px;line-height: 20px;margin-bottom:5px;">Ways to Join the Conference:</p>
					  			<table  style="width:450px">
					  			<tr>
					  			<td>Direct Link:</td>
					  			<td width="250">
					  			<div class="schedule_url_text" style="color:#750a98;text-decoration: underline;">
					  			{% if not is_conference_end %}
					  			<a style="text-decoration: underline;word-wrap: break-word;" href="{{ event.get_conference_url }}" onclick="javascript:window.open('{{ event.get_conference_url }}','conferencepage',config='height='+(screen.availHeight).toString()+',width='+(screen.availWidth).toString()+',top=0,left=0,titlebar=no,personalbar=no,toolbar=no,menubar=no,scrollbars=yes,location=0,directories=no,status=no'); return false;">{{ site_url }}{%prevent_longstring event.get_conference_url %}</a>
					  			{% else %}
					  			<span >{{ site_url }}{%prevent_longstring event.get_conference_url %}</span>
					  			{% endif %}
					  			</div>
					  			</td>
					  			</tr>
					  			<tr>
					  			<td>Joining on iPad?</td>
					  			<td><p style="line-height: 10px;margin-top:4px;">Tap Join Conference from the app home screen<p>
					  			<p>then enter the Conference ID (case sensitive):<p>
					  			<p style="font-weight: bold;">{{event.urlhash}}</p>
					  			</td>
					  			</tr>
					  			<tr>
					  			<td>Profile Page:</td>
					  			<td><p style="line-height: 10px;margin-top:4px;">Guests may join Conference Title from the host's<p>
					  			<p>profile page:<p>
					  			<a href="{{ site_url }}/{{event.creator}}" style="color:#750a98;text-decoration: underline;">
					  			{{ site_url }}/{{event.creator}}</a>
					  			</td>
					  			</tr>
					  			</table>
					  			<div class="conference_info_line_div" style="margin-top:10px;margin-bottom:10px;"></div>
					  			<table>
					  			<tr>
					  			<td>Telephone Bridge:</td>
					  			<td><p>{{ event.creator.get_conference_phonenumber }}<p>
					  			<p><span style="font-weight: bold;">Access Code: {{ event.creator.get_conference_modcode }}</span></p>
					  			</td>
					  			</tr>
					  			<tr>
					  			<td>Title:</td>
					  			<td>{{ event.title }}</td>
					  			</tr>
					  			<tr>
					  			<td>Host:</td>
					  			<td><a style="color:#750a98;text-decoration: underline;">{{ event.creator }}</a></td>
					  			</tr>
					  			<tr>
					  			<td>Description:</td>
					  			<td>
					  			<div class="schedule_textarea_text" style="margin-top:5px;">{{ event.description }}</div>
					  			</td>
					  			</tr>
					  			<tr>
					  			<td>Recurring:</td>
					  			<td>{% if event.rule %}Continue session <strong>{{ event.rule.frequency }}</strong> on <strong>{% if event.weekly %}{{ event.weekly }}{% endif %}{% if event.monthly %}{{ event.monthly }}<em>th</em> {% endif %}</strong> at the same the time until (including) <span style="text-decoration: underline;">{{ event.end_recurring_period|date:"l, d/m/Y"  }}</span>{% else %}Non recurring {% endif %}</td>
					  			</tr>
					  			<tr>
					  			<td>Date Created:</td>
					  			<td>{{event.created_on|localtime:account.timezone|date:"l, d/m/Y h:i A"}}</td>
					  			</tr>
					  			</table>
			  				</div> 
			  			</div>
			  				
			  			
		</div>
					{% if is_host %}
					<div class="schedule_info_navigator">
			  			<button class="edit_info_btn" onclick="javascript:window.location='{{ event.get_edit_url }}';" style="float:right">Edit Info</button>
			  		</div>		
			  		{% endif %}	
</div>			  	
			  		
			  		<!-- OVERVIEW RIGHT COLUMN START -->
	  		
	  		
	  		<div id="overview_right_column" style="width: 250px;margin-left:5px">
	  			{% if is_conference_end %}
	  			
	  			<div class="calendar_file overview_border">
		  			<div class="overview_list_head">
		  				Related Conferences
		  			</div>
		  			{% if event.is_recurring %}
		  			<div class="overview_list_content" style="color: #595959; font-size: 13px; padding: 6px 0 12px 5px;">
		  				This is a recurring conference. Use the links below to view other conferences in the series.
		  			</div>
		  			<div class="overview_border" style="margin-left: 2px;border:none;margin-bottom:0">
		  			<form action="." id="form_sort">
			  			<div class="date_time_head">
			  				<p style="float: left; padding-top: 6px;padding-left: 16px; color: #fff; font-size: 14px;">Date & Time</p>
			  				<!-- <p id="sort_conferences" style="float: right; padding: 13px 16px 10px 50px; cursor: pointer;"><img id="desc" src="{{MEDIA_URL}}schedule/images/icon_drop_up.png" style="width: 9px; height: 9px;"/></p> -->
			  				<p style="float: right; padding-top: 12px; padding-right: 15px;"><input id="sort_conferences" type="button" {% if sort %}{% ifequal sort "desc" %}class="sort_related_conferences_up"{% else %}class="sort_related_conferences_down"{% endifequal %}{% else %}class="sort_related_conferences_up"{% endif %}/> </p>
			  				<input type="hidden" name="sort" value="{% if sort %}{{sort}}{% else %}desc{% endif %}"/>
			  			</div>
		  			</form>
		  			<div id="div_related_conferences" style="margin-right: 2px;">
			  			<table id="related_conferences" width="100%" cellspacing="0" cellpadding="0">
			  				{% if ralated_conference %}
			  				{% for rel in ralated_conference %}
			  				<tr class="{% cycle 'dark' 'light' %}" style="cursor: pointer;">
			  					<td>
			  						{{ rel|localtime:account.timezone|date:"l, n/j/Y" }} <span style="color: #750998;">{{ rel|localtime:account.timezone|date:"h:i A" }}</span>
			  					</td>
			  				</tr>
			  				{% endfor %}
			  				{% endif %}
			  			</table>
		  			</div>
	  			</div>
	  			{% else %}
	  			<div class="overview_list_content" style="color: #595959; font-size: 13px; padding: 6px 0 12px 5px; font-weight: bold;">
		  				This is not a recurring conference.
		  			</div>
	  			{% endif %}
	  			</div>
	  			
	  			
	  			{% else %}
	  			<div class="calendar_file overview_border">
		  			<div class="overview_list_head">
		  				Calendar File
		  			</div>
		  			<div class="overview_list_content">
		  				<div class="overview_smallclear"></div>
		  				<!-- <button type="submit" class="btn_overview_iCal"><strong>iCal</strong></button> -->
		  				<a href="{% url event_ical %}?event={{ urlhash }}" class="btn_overview_iCal" style="color:white;text-decoration:none;text-align:center;line-height:40px;">iCal</a>
		  				<div class="overview_smallclear"></div>
		  				
		  				<a href="{% url event_ical %}?event={{ urlhash }}" class="btn_overview_outlook" style="color:white;text-decoration:none;text-align:center;line-height:40px;">Outlook</a>
		  				<div class="overview_smallclear"></div>
		  				
		  				<a class="btn_overview_google" href="http://www.google.com/calendar/{{ apps_hosted }}event?action=TEMPLATE&text={{ event.title }}&dates={{ utc_str }}&sprop=website:www.netconference.com{{event.get_absolute_url}}&details={{ event.description }} Join the meeting at {{ site_url }}{{event.get_absolute_url}}" target="_blank"  style="color:white;text-decoration:none;text-align:center;line-height:40px;">Google</a>
		  				<div class="overview_smallclear"></div>
		  				<!-- <a class="btn_overview_google" href="http://calendar.yahoo.com/?v=60&TITLE=Event+title&DESC=Description+field%2C+Line+1%0ALine+2%0ALine+3 &ST=20090520T180000Z&DUR=0200 &URL=http%3A%2F%2Fchris.photobooks.com%2Ftests%2Fcalendar%2FNotes.html&in_loc=Location+field &in_st=street+address&in_csz=city+state+zip&in_ph=phone+number&TYPE=21" target="_blank"  style="color:white;text-decoration:none;text-align:center;line-height:40px;">Yahoo</a> -->
		  				<a class="btn_overview_google" href="http://calendar.yahoo.com/?v=60&TITLE={{ event.title }}&DESC={{ event.description }} Join the meeting at {{ site_url }}&ST={{ utc_str }}&URL={{ site_url }}{{event.get_conference_url}}&TYPE=21" target="_blank"  style="color:white;text-decoration:none;text-align:center;line-height:40px;">Yahoo</a>
		  				<div class="overview_smallclear"></div>
		  			</div>
	  			</div>
	  			{% if is_host %}
	  			<div class="reminder" style="margin-bottom: 7px;">
	  				
	  				<div class="overview_border">
	  				<div class="overview_list_head">
	  					Reminders
	  				</div>
		  				<div class="reminder_content" style="padding: 10px 0 5px 6px;">
		  					<span style="color: #595959; font-weight: bold; font-size: 13px;">Send e-mail reminders before the conference starts</span>
		  					<div class="remind_title" style="height: 8px; display: none;"></div>
		  					<span class="remind_title" style="font-size: 13px; color: #595959; {% if reminders %}display:block;{%else%}display: none;{% endif %} margin-bottom: 8px;">Remind:</span>
		  					{% if reminders %}
			  				{% for reminder in reminders%}
			  				<div class="row_reminder" id="{{reminder.id }}">
		  						<div class="drop_down_reminder" style="float: left;">
			  						<div class="div_current_drop_down drop_down_type">{% if reminder.is_guest %}Guests{% else %}Host{% endif %}</div>
			  						<div class="sub_drop_down_reminder sub_drop_down_reminder_type">
			  							<a>Guests</a>
			  							<a>Host</a>
			  						</div>
		  						</div>
		  						<!-- <p style="float: left; margin-left: 4px;margin-right: 4px;"><input style="padding-left: 3px;" type="text" class="txt_time" value="{{ reminder.format_reminder_interval.time }}"/></p> -->
		  						<p style="float: left; margin-left: 4px;margin-right: 4px;"><input style="padding-left: 3px;" type="text" class="txt_time" value="{{ reminder.get_reminder_interval }}"/></p>
		  						<div class="drop_down_reminder" style="float: left;">
			  						<div class="div_current_drop_down drop_down_time">
			  							<!-- {{reminder.format_reminder_interval.type}} -->Minutes
			  						</div>
			  						<div class="sub_drop_down_reminder sub_drop_down_reminder_time">
			  							<a>Minutes</a>
			  							<a>Hour</a>
			  							<a>Day</a>
			  						</div>
		  						</div>
		  						<div style="float: left; margin-left: 8px;">
		  							<input class="reminder_close" type="button">
		  						</div>
		  					<div style="clear: both;"></div>
		  					</div>
			  				{% endfor %}
			  				{% endif %}
		  				</div>
		  				<div style="clear: both;"></div>
		  				<p style="margin-bottom: 7px;"><a style="text-decoration: underline; font-size: 13px; cursor: pointer; padding-left: 6px;" id="add_reminder">Add a reminder</a></p>
	  				</div>
	  			</div>
	  			<div class="guest_list">
	  				
	  				<div style="padding-top: 0;  padding-bottom: 5px;" class="overview_border">
	  					<div class="overview_list_head">
	  					Guest List
	  				</div>
	  					<div class="guest_list_top" style="padding-left:5px;">
	  						<div style="float: left; margin-top: 8px;">
	  							<button class="btn_send_invitation" id="btn_send_invitation">Send Invitations</button>
	  						</div>
	  						<div style="float: right; margin-right: 10px;">
	  							<span style="color: #595959; font-size: 13px;">Share</span><br/>
	  							<img style="cursor: pointer;" alt="facebook" onclick="share_social('facebook');" src="{{ MEDIA_URL }}schedule/images/share_icon/facebook.png" width="19" height="19"/>
	  							<img style="cursor: pointer;" alt="twitter" onclick="share_social('twitter');" src="{{ MEDIA_URL }}schedule/images/share_icon/twitter.png" width="19" height="19"/>
	  							<img style="cursor: pointer;" alt="linkedin" onclick="share_social('linkedin');" src="{{ MEDIA_URL }}schedule/images/share_icon/linkedin.png" width="19" height="19"/>
	  							<img style="cursor: pointer;" alt="google" onclick="share_social('google');" src="{{ MEDIA_URL }}schedule/images/share_icon/google.png" width="19" height="19"/>
	  						</div>
	  					</div>
	  					<div class="guest_option" style="clear: both; padding-top: 10px;padding-left:5px;">
	  						<p>
	  							<input {% if event.guest_send_invatation %}checked="checked"{% endif %} type="checkbox" name="chk_confs" value="{{ conference.id }}" style="display: none;"/>
	        					<label id="send_invitation" class="lbl_chk {% if event.guest_send_invatation %}chk_checked{% else %}chk_unchecked{% endif %}" for="chk_confs"></label>
	        					<span style="color: #595959; font-size: 13px; font-weight: bold;">Allow guests to send invitations.</span>
	  						</p>
	  						<p>
	  							<input {% if event.guest_view_guest_list %}checked="checked"{% endif %} type="checkbox" name="chk_confs" value="{{ conference.id }}" style="display: none;"/>
	        					<label id="view_guest_list" class="lbl_chk {% if event.guest_view_guest_list %}chk_checked{% else %}chk_unchecked{% endif %}" for="chk_confs"></label>
	        					<span style="color: #595959; font-size: 13px; font-weight: bold;">Allow guests to view the guest list.</span>
	  						</p>
	  					</div>
	  					<div style="clear: both; text-align: center;padding-left:5px;"><img style="margin-top: 10px; margin-bottom: 10px;" alt="" src="{{ MEDIA_URL }}schedule/images/grey_line_187x2.png"> </div>
	  					<div style="padding-left:5px;">
	  						<div>
	  							<span style="font-size: 13px; font-family: Arial, Helvetica, sans-serif;">Guests:</span>
	  							<div class="div_drop_down_invited" style="display: inline-block; margin: 0; padding: 0;">
		  							<div class="drop_down drop_down_invited">
		  							Invited ({{invites.total}})
		  							</div>
		  							<div class="sub_drop_down_invited">
		  								<a id="all">Invited ({{invites.total}})</a>
		  								<a id="yes">Yes ({{invites.yes}})</a>
		  								<a id="no">No ({{invites.no}})</a>
		  								<a id="maybe">Maybe ({{invites.maybe}})</a>
		  								<a id="not_defined">Need RSVP ({{invites.rsvp}})</a>
		  							</div>
	  							</div>	
	  						</div>
	  						<div id="tbl_invitation" style="margin-top: 12px;">
		  						<table border="0" cellpadding="0" cellspacing="0" width="100%">
		  							{% for e in emails %}
		  							<tr class="tr_invitaion">
		  								<td align="left" style="padding-top: 3px;">
		  									{% if e.name %}<a style="text-decoration: underline; cursor: pointer;">{{ e.name }}</a>&nbsp;&#60;<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>&#62;{% else %}<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>{% endif %}
		  									<img class="invitation_action" alt="" src="{{ MEDIA_URL }}schedule/images/purple_down.png" style="visibility: hidden; position: absolute; z-index: 100;">
		  									<div class="inivation_sub_menu">
		  										<a class="resend_invitation">Resend Invitation</a>
		  									</div>
		  								</td>
		  							</tr>
		  							{% endfor %}
		  						</table>
  							</div>
	  					</div>
	  				</div>
	  			</div>
	  			{% else %}
	  			{% if event.guest_view_guest_list %}
	  			<div class="guest_list">
	  				<div class="overview_list_head">
	  					Guest List
	  				</div>
	  				<div style="padding-top: 0; padding-left: 5px; padding-bottom: 5px;" class="overview_border">
	  					<div class="guest_list_top">
	  						{% if event.guest_send_invatation %}
	  						<div style="float: left; margin-top: 8px;">
	  							<button class="btn_send_invitation" id="btn_send_invitation">Send Invitations</button>
	  						</div>
	  						{% endif %}
	  						{% if is_host %}
	  						<div style="float: right; margin-right: 10px;">
	  							<span style="color: #595959; font-size: 13px;">Share</span><br/>
	  							<img style="cursor: pointer;" alt="facebook" onclick="share_social('facebook');" src="{{ MEDIA_URL }}schedule/images/share_icon/facebook.png" width="19" height="19"/>
	  							<img style="cursor: pointer;" alt="twitter" onclick="share_social('twitter');" src="{{ MEDIA_URL }}schedule/images/share_icon/twitter.png" width="19" height="19"/>
	  							<img style="cursor: pointer;" alt="linkedin" onclick="share_social('linkedin');" src="{{ MEDIA_URL }}schedule/images/share_icon/linkedin.png" width="19" height="19"/>
	  							<img style="cursor: pointer;" alt="google" onclick="share_social('google');" src="{{ MEDIA_URL }}schedule/images/share_icon/google.png" width="19" height="19"/>
	  						</div>
	  						{% endif %}
	  					</div>
	  					{% if is_host %}
	  					<div class="guest_option" style="clear: both; padding-top: 10px;">
	  						<p>
	  							<input {% if event.guest_send_invatation %}checked="checked"{% endif %} type="checkbox" name="chk_confs" value="{{ conference.id }}" style="display: none;"/>
	        					<label id="send_invitation" class="lbl_chk {% if event.guest_send_invatation %}chk_checked{% else %}chk_unchecked{% endif %}" for="chk_confs"></label>
	        					<span style="color: #595959; font-size: 13px; font-weight: bold;">Allow guests to send invitations.</span>
	  						</p>
	  						<p>
	  							<input {% if event.guest_view_guest_list %}checked="checked"{% endif %} type="checkbox" name="chk_confs" value="{{ conference.id }}" style="display: none;"/>
	        					<label id="view_guest_list" class="lbl_chk {% if event.guest_view_guest_list %}chk_checked{% else %}chk_unchecked{% endif %}" for="chk_confs"></label>
	        					<span style="color: #595959; font-size: 13px; font-weight: bold;">Allow guests to view the guest list.</span>
	  						</p>
	  					</div>
	  					{% endif %}
	  					<div style="clear: both; text-align: center;"><img style="margin-top: 10px; margin-bottom: 10px;" alt="" src="{{ MEDIA_URL }}schedule/images/grey_line_187x2.png"> </div>
	  					<div>
	  						<div>
	  							<span style="font-size: 13px; font-family: Arial, Helvetica, sans-serif;">Guests:</span>
	  							<div class="div_drop_down_invited" style="display: inline-block;">
		  							<div class="drop_down drop_down_invited">
		  							Invited ({{invites.total}})
		  							</div>
		  							<div class="sub_drop_down_invited">
		  								<a id="all">Invited ({{invites.total}})</a>
		  								<a id="yes">Yes ({{invites.yes}})</a>
		  								<a id="no">No ({{invites.no}})</a>
		  								<a id="maybe">Maybe ({{invites.maybe}})</a>
		  								<a id="not_defined">Need RSVP ({{invites.rsvp}})</a>
		  							</div>
	  							</div>	
	  						</div>
	  						<div id="tbl_invitation">
	  							
		  						<table border="0" cellpadding="0" cellspacing="0" width="100%">
		  							{% for e in emails %}
		  							<tr class="tr_invitaion">
		  								<td align="left">
		  									{% if e.name %}<a style="text-decoration: underline; cursor: pointer;">{{ e.name }}</a>&nbsp;&#60;<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>&#62;{% else %}<a class="email" style="cursor: pointer; text-decoration: underline;" href="mailto:{{e.email}}">{{e.email}}</a>{% endif %}
		  									<!-- <img class="invitation_action" alt="" src="{{ MEDIA_URL }}schedule/images/purple_down.png" style="visibility: hidden; position: absolute; z-index: 100;">
		  									<div class="inivation_sub_menu">
		  										<a class="resend_invitation">Resend Invitation</a>
		  									</div> -->
		  								</td>
		  							</tr>
		  							{% endfor %}
		  						</table>
  							</div>
	  					</div>
	  				</div>
	  			</div>
	  			{% endif %}
	  			{% endif %}
	  			<form id="send_invitation_form" action="{% url s_send_invite_event urlhash %}" method="post">
	  				{% for e in emails %}
	  				<input type="hidden" value="{{e.email}}" name="emails[]"/>
	  				{% endfor %}
	  			</form>
	  		{% endif %}
	  		</div>
	  		<!-- OVERVIEW RIGHT COLUMN END -->
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>	  		
<script type="text/javascript">
var status;
status = '{{event.private}}';
function share_social(name) {
	if(status == '1')
		$('#show_make_public').click();
	else {
		switch(name) {
		case 'facebook':
			share_facebook();
			break;
		case 'twitter':
			share_twitter();
			break;
		case 'linkedin':
			share_linkedin();
			break;
		case 'google':
			share_google();
			break;
		}
	}
}
function share_facebook() {
	var url = 'http://{{bucket}}' + '/conferencing/event/' + '{{urlhash}}';
	var sharer = "https://www.facebook.com/sharer/sharer.php?u=";
	window.open(sharer + encodeURIComponent(url), '_blank');
}
function share_twitter() {
	var url = 'http://{{bucket}}' + '/conferencing/event/' + '{{urlhash}}';
	var sharer = "https://twitter.com/share?url=";
	window.open(sharer + encodeURIComponent(url), '_blank');
}
function share_linkedin() {
	var url = 'http://{{bucket}}' + '/conferencing/event/' + '{{urlhash}}';
	
	var sharer = "http://www.linkedin.com/shareArticle?mini=true";
	var params = '';
	params += '&url='+url;
	window.open(sharer+params, '_blank');
}
function share_google() {
	
	var url = 'http://{{bucket}}' + '/conferencing/event/' + '{{urlhash}}';
	var sharer = "https://plus.google.com/share?url=";
	//var sharer = "https://plusone.google.com/_/+1/confirm?hl=us&url=";
			
	window.open(sharer+encodeURIComponent(url), '_blank');
}
function add_new_reminder() {
	var row_add_reminder = '<div class="row_reminder">' +
	  						'<div class="drop_down_reminder" style="float: left;">' +
		  						'<div class="div_current_drop_down drop_down_type">Guests</div>' +
		  						'<div class="sub_drop_down_reminder sub_drop_down_reminder_type">' +
		  							'<a>Guests</a>' +
		  							'<a>Host</a>' +
		  						'</div>' +
	  						'</div>' +
	  						'<p style="float: left; margin-left: 4px;margin-right: 4px;"><input style="padding-left: 3px;" type="text" class="txt_time" value="10"/></p>' +
	  						'<div class="drop_down_reminder" style="float: left;">' +
		  						'<div class="div_current_drop_down drop_down_time">' +
		  							'Minutes' +
		  						'</div>' +
		  						'<div class="sub_drop_down_reminder sub_drop_down_reminder_time">' +
		  							'<a>Minutes</a>' +
		  							'<a>Hour</a>' +
		  							'<a>Day</a>' +
		  						'</div>' +
	  						'</div>' +
	  						'<div style="float: left; margin-left: 8px;">' +
	  							'<input class="reminder_close" type="button">' +
	  						'</div>' +
	  					'<div style="clear: both;"></div>' +
	  					'</div>';
	
	var temp = $('.reminder_content').find('.row_reminder:last');
	if(temp.html() == null) 
		$('.reminder_content').find('span:last').after(row_add_reminder);
	else temp.after(row_add_reminder);
}
function is_integer(number) {
	var intRegex = /^\d+$/;
	if(intRegex.test(number))
		   return true;
	return false;
}



$(document).ready(function(){
	$('#sort_conferences').click(function(){
		$('#form_sort').submit();
	});
	
	$('.div_drop_down_invited').mouseleave(function(){
		$(this).find('.sub_drop_down_invited').hide();
	});
	$('.sub_drop_down_invited a').click(function(){
		$(this).parent().hide();
		
		$(this).parent().parent().find('.drop_down_invited').html($(this).html());
		var status = $(this).attr('id');
		$.ajax({
			url: "/conferencing/get_invited?event_id=" + {{event.id}} + "&status=" + status,
			type: 'GET',
			dataType: 'html',
			success: function(data){
				$('#tbl_invitation').html(data);
			}
		});
	});
	
	$('.drop_down_invited').click(function(){
		$(this).parent().find('.sub_drop_down_invited').show();
	});
	$('#btn_send_invitation').click(function(){
		$('#send_invitation_form').submit();
	});
	$('#info_action_btn').addClass('active');
	$('.tr_invitaion').hover(
		function(){
			var pos = $(this).position();
			$(this).find('.invitation_action').css({'visibility':'visible', 'left':pos.left + 228});
		},
		function(){
			$(this).find('.invitation_action').css({'visibility': 'hidden'});
			$(this).find('.inivation_sub_menu').hide();
		}
	);
	$('.invitation_action').click(function(){
		var pos = $(this).position();
		$(this).parent().find('.inivation_sub_menu').css({'left':pos.left - 90 }).show();
	});
	
	$('.lbl_chk').click(function(){
		var type = $(this).attr('id');
		if($(this).hasClass('chk_unchecked')) {
			$(this).removeClass('chk_unchecked').addClass('chk_checked');
			$(this).parent().find('input').attr('checked', 'checked');
			$.ajax({
				url: "/conferencing/change_guest_permition?event_id=" + {{event.id}} + "&type=" + type + "&val=1"
			});
		}else {
			$(this).removeClass('chk_checked').addClass('chk_unchecked');
			$(this).parent().find('input').removeAttr('checked');
			$.ajax({
				url: "/conferencing/change_guest_permition?event_id=" + {{event.id}} + "&type=" + type + "&val=0"
			});
		}
	});
	
	//================= ADD REMINDER ==================
	$('#add_reminder').click(function(){
		add_new_reminder();		
		$('.remind_title').css({'display':'block'});
		var user_type = 'guests';
		var reminder_interval = 10;
		var time_type = 'minutes';
		var event_id = {{ event.id }};
		var recipient = new Array();
		{% for e in emails %}
		recipient.push('{{e.email}}');
		{% endfor %}
		var to_recipient =  recipient.join();
			
		$.ajax({
			url: "/conferencing/add_reminder?user_type=" + user_type +"&reminder_interval=" + reminder_interval + "&time_type=" + time_type + "&event_id=" + event_id + "&to_recipient=" + to_recipient,
			type: 'GET',
			dataType: 'html',
			success: function(data){
				$('.reminder_content').find('.row_reminder:last').attr('id', data);
			  }
		});
	});
	$('.div_current_drop_down').live('click', function(){
		$(this).parent().find('.sub_drop_down_reminder').show();
	});
	$('.drop_down_reminder').live('mouseleave', function(){
		$(this).find('.sub_drop_down_reminder').hide();
	});
	$('.reminder_close').live('click', function(){
		var reminder_id = $(this).parent().parent().attr('id');
		$(this).parent().parent().remove();
		$.ajax({
			url: "/conferencing/remove_reminder?reminder_id=" + reminder_id
		});
	});
	$('.sub_drop_down_reminder_time a').live('click', function(){
		$(this).parent().parent().find('.div_current_drop_down').html($(this).html());
		$(this).parent().hide();
		var time = $(this).html();
		var reminder_id = $(this).parent().parent().parent().attr('id');
		var reminder_interval = $(this).parent().parent().parent().find('.txt_time').val();
		if(time == 'Hour')
			reminder_interval = reminder_interval * 60;
		else if(time == 'Day')
			reminder_interval = reminder_interval * 24 * 60;
		$.ajax({
			url: "/conferencing/edit_reminder?reminder_id=" + reminder_id + "&reminder_interval=" + reminder_interval
		});
		
	});
	$('.sub_drop_down_reminder_type a').live('click', function(){
		$(this).parent().parent().find('.div_current_drop_down').html($(this).html());
		$(this).parent().hide();
		var type = $(this).html();
		var reminder_id = $(this).parent().parent().parent().attr('id');
		var reminder_interval = $(this).parent().parent().parent().find('.txt_time').val();
		
		$.ajax({
			url: "/conferencing/edit_reminder?reminder_id=" + reminder_id + "&type=" + type
		});
		
	});
	$('.txt_time').live('change', function(){
		var reminder_interval = $(this).val();
		if(is_integer(reminder_interval)) {
			$(this).removeClass('border_error');
			var time = $(this).parent().parent().find('.drop_down_time').html();
			var reminder_id = $(this).parent().parent().attr('id');
			
			if(time == "Hour")
				reminder_interval = reminder_interval*60;
			else if(time == "Day")
				reminder_interval = reminder_interval*24*60;
			$.ajax({
				url: "/conferencing/edit_reminder?reminder_id=" + reminder_id + "&reminder_interval=" + reminder_interval
			});
		}else {
			$(this).addClass('border_error');
		}
	});
	$('.resend_invitation').click(function(){
		var recipient = $(this).parent().parent().find('a.email').html();
		$(this).parent().hide();
		$.ajax({
			url: "/conferencing/resend_invitation?event_id=" + {{event.id}} + "&recipient=" + recipient
		});
	});
	
	$("#show_make_public").overlay({
	      // some mask tweaks suitable for modal dialogs
	      mask: {
	        color: '#666',
	        loadSpeed: 200,
	        opacity: 0.5
	      },
	      closeOnClick: false
	  });
	var buttons_confirm = $("#make_public_container button").click(function(e) {
		var yes = buttons_confirm.index(this);
	 	if(yes == 1) {
	 		$.ajax({
				url: "/conferencing/make_conference_public?event_id=" + {{event.id}},
				success: function(data){
					if(data == 'success'){
						status = '0';		
					}
				}
			});
	 	}
	});
});

</script>
	  		
{% endblock %}