{% extends "schedule/conference_overview.html" %}
{% load i18n %}
{% load timezone_filters %}
{% load scheduletags %}
{% load file_tags %}
{% block helper_message %}
{%endblock%}

{% block content_overview %}
<link href="{{ MEDIA_URL }}files/css/file.css" rel="stylesheet" type="text/css" />
<button style="display: none;" id="alert_overlay" rel="#alert_container"></button>
	<div class="modal_file" id="alert_container">
		<div class="file_delete_header" id="alert_title">
			Title
		</div>
		  <p style="text-align: center; margin-top: 30px; color: #595959; font-size: 14px;" id="alert_message">
		    Message
		  </p>
		 
		  <!-- yes/no buttons -->
		  <div style="width: 480px; margin-left: 230px; margin-top: 40px; margin-bottom: 30px;">
		    <button style="float: left;" class="close schedule_btn_263x45_big">OK</button>
		  </div>
		  <div style="height: 30px; clear: both;"></div>
	</div>



<div style="float:left;width:700px;margin-left:5px;">
	
	<div class="overview_border">
	<div class="overview_list_head">Conference Recording</div>
		<div class="recording_content">
			<div class="recording_action_holder">
			<div class="schedule_smallclear"></div>
			<input onclick="download_files_checked();" type="button"style="float:left;margin-left:5px;" class="folder_rename_button" value="Download">
			<button class="recording_del_button" onclick="show_delete_dialog();">Delete</button>
			<div class="schedule_smallclear"></div>
			</div>
			<form id="recording_list_form" action="." method="POST" >
			<div class="recording_files_holder">
				<table class="recording_table" cellspacing=0>
					<tr class="schedule_list_head">
						<td class="checkbox" style="width:3%">
			    			<input type="checkbox" name="chk_all" id="chk_all" style="display: none;"/>
			        		<label id="lbl_chk_all" class="chk_unchecked" for="chk_all"></label>
			    		</td>
			    		<td class="event_host border_left_white" style="width:97%">Name</td>
					</tr>
					
					{%for record in recordings%}
					<tr class="{% cycle 'dark' 'light' %} recording_row" data-title="{% eclipse_description record.title %}">
						<td class="checkbox">
							<span style="display:none;">{{record.userfile.get_download_url}}</span>
				    		<input type="checkbox" name="chk_files"  value="{{record.id}}" style="display: none;"/>
				        	<label class="lbl_chk_confs chk_unchecked" for="chk_confs"></label>
				    	</td>
				    	<td class="event_title event_title_text">
					    	<p style="cursor:pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;-ms-text-overflow: ellipsis;width: 650px;">
					            <a style="font:13px Arial;color:#750998" href="{{ record.get_absolute_url }}">{{ record.title }}</a>
					            <span style="font:13px Arial;color:#595959">Recording {{record.userfile.timestamp|date:"d/m/Y h:i A"}}</span>
				            </p>
				    	</td>
					</tr>
					{%endfor%}
				</table>
			</div>
			</form>
		</div>
		
		
			</div>
		</div>	  		








<script type="text/javascript">
select_row_toggle = function(that){
	if(that.hasClass('active_row')){
		that.find('td:first label').removeClass('chk_checked').addClass('chk_unchecked');
		that.find('td:first').find('input:first').removeAttr('checked');
		that.removeClass('active_row');
		if(that.is('tr:nth-child(2)')) {
			that.removeClass('line_top');
		}
		that.find('img.img_privacy').each(function(){
			if($(this).attr('src').indexOf('white_protected.png')!=-1){
				$(this).attr('src','{{ MEDIA_URL }}schedule/images/icon_protected.png');
			}
			else if($(this).attr('src').indexOf('white_public.png')!=-1){
				$(this).attr('src','{{ MEDIA_URL }}schedule/images/icon_public.png');
			}
			else if($(this).attr('src').indexOf('white_private.png')!=-1){
				$(this).attr('src','{{ MEDIA_URL }}schedule/images/icon_private.png');
			}
		});
	}else{
		that.find('td:first label').removeClass('chk_unchecked').addClass('chk_checked');
		that.find('td:first').find('input:first').attr('checked', 'checked');
		that.addClass('active_row');
		if(that.is('tr:nth-child(2)')) {
			that.addClass('line_top');
		}
		
		that.find('img.img_privacy').each(function(){
			if($(this).attr('src').indexOf('protected.png')!=-1){
				$(this).attr('src','{{ MEDIA_URL }}schedule/images/white_protected.png');
			}
			else if($(this).attr('src').indexOf('public.png')!=-1){
				$(this).attr('src','{{ MEDIA_URL }}schedule/images/white_public.png');
			}
			else if($(this).attr('src').indexOf('private.png')!=-1){
				$(this).attr('src','{{ MEDIA_URL }}schedule/images/white_private.png');
			}
		});
	}
};
show_delete_dialog = function(){
	if(has_any_checked()==0){
		$('#show_delete_error_message').click();
	}else{
		$('#recording_list_form').submit();
	}
};
download_files_checked = function(){
	if(has_any_checked()==0){
		$('#alert_title').html('Recording(s) Download');
		$('#alert_message').html('No recording(s) selected to download.');
		$('#alert_overlay').click();
	}else{
		$("input:checkbox[name='chk_files']:checked").each(function(){
			var url = $(this).parent().find('span:first').html();
			var iframe_id = $(this).val();
			downloadURL(url, iframe_id);
		});
		
	}
};
has_any_checked = function(){
	var is_submit = 0;
		$("input:checkbox[name='chk_files']").each(function() {
		 if($(this).attr('checked')) {
		 	is_submit ++;
		 }
	 });
	return is_submit;
}
downloadURL = function(url, iframe_id)
{
    var iframe;
    iframe = document.getElementById("hiddenDownloader"+iframe_id);
    if (iframe === null)
    {
        iframe = document.createElement('iframe');  
        iframe.id = "hiddenDownloader"+iframe_id;
        iframe.style.display = 'none';
        document.body.appendChild(iframe);
    }
    iframe.src = url;   
}
$(document).ready(function(){
	$('#watch_recording_btn').addClass('active');
	$('.recording_row').click(function(){
		select_row_toggle($(this));
	});
	$('#lbl_chk_all').click(function(){
		if($(this).hasClass('chk_unchecked')) {
			$(this).removeClass('chk_unchecked').addClass('chk_checked');
			$(this).parent().find('input:first').attr('checked','checked');
			$('.recording_row').each(function(){
				if(!$(this).hasClass('active_row'))
					select_row_toggle($(this));
			});
		}else {
			$(this).removeClass('chk_checked').addClass('chk_unchecked');
			$(this).parent().find('input:first').removeAttr('checked');
			$('.recording_row').each(function(){
				if($(this).hasClass('active_row'))
					select_row_toggle($(this));
			});
		}
	});
	
	$("#alert_overlay").overlay({
		 
	    // some mask tweaks suitable for modal dialogs
	    mask: {
	      color: '#000',
	      loadSpeed: 200,
	      opacity: 0.5
	    },
	    top:(screen.availHeight/2)-200,
	    closeOnClick: false
	});
	
});
</script>
{%endblock%}
