{% extends "email_templates/base.html" %}
{% load i18n %}

{% block content %}
<p>{% trans "Thank you for trying NetConference&trade; - Your Office in the Cloud&trade; on our Free Trial program. We hope you are enjoying it." %}</p>
<p>{% trans "If there are features or functionalities that you would like to see improved, we would appreciate hearing from you." %}</p>
<p>{% trans "Please drop us a line at <a href='mailto:support@nxtgen.tv'>support@nxtgen.tv</a>." %}</p>
<p>{% trans "We are sending you this email to remind you that your credit card will be charged in 7 days if you wish to continue having the many convenient NetConference tools at your disposal." %}</p>
<p>{% trans "If you do not wish to migrate to a paid account, simply log in to NetConference and cancel your account." %}</p>
<p>{% trans "We look forward to being of service to you." %}</p>
<p>{% trans "The NetConference Support Team" %}</p>
<p><a href="http://www.netconference.com/">http://www.netconference.com/</a></p>
{% endblock %}
