{% extends "site_base.html" %}

{% load i18n %}
{% load catalog_filters %}
{% load checkout_tags %}

{% block head_title %} {% trans "Details for Order" %} # {{ order.id }} {% endblock %} 

{% block extra_head_base %}
<style type="text/css" media="screen">
  .subnav { margin: 0px; }
</style>
{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
    	<ul class="subnav">
	  <li><a href="{% url acct_settings %}">{% trans "Settings" %}</a></li>
          <li class="current"><a href="{% url subscription_personal %}">{% trans "Subscription" %}</a></li>
        </ul>
    {% else %}
        &nbsp; {# need this to give subnav some height when empty #}
    {% endif %}
{% endblock %}

{% block body %}

    <style type="text/css">
        tr.items_list_row td { text-align: left; }
        th.right, td.right { text-align: right; }
    </style>

    <h1 class="uni_form_header" style="margin: 1em auto 0;border-left: 1px solid #aaa; border-right: 1px solid #aaa;">{% trans "Details for Order" %} # {{ order.id }}</h1>
	<table id="receipt" class="items_list" width="594" style="margin: 0 auto 2em;">
		<thead>
		<tr class="items_list_def" style="line-height:14px;">
			<th scope="col" style="text-align:left;padding-left:10px;">{% trans "Name" %}</th>
			<th scope="col" style="text-align:left;padding-left:10px;">{% trans "Price" %}</th>
			<th scope="col" style="text-align:left;padding-left:10px;">{% trans "Quantity" %}</th>
			<th class="right" scope="col" style="text-align:left;padding-left:10px;">{% trans "Total" %}</th>
		</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="2" style="height:8px;text-align:left;border-top:1px solid #ccc;background:#ffc;line-height:14px;padding:6px 0em 4px 0em;font-weight:bold;">
				<span style="margin-left:10px;">{% trans "Order Number" %} {{ order.id }}: {{ order.status|order_status }} {% trans "on" %} {{ order.last_updated|date:"M d, Y" }}.</span>
				</td>
				<td colspan="2" class="right" style="height:8px;text-align:right;padding-right:1em;border-top:1px solid #ccc;background:#ffc;line-height:14px;padding:6px 0em 4px 0px;font-weight:bold;">
				<span style="margin-right:10px;">{% trans "Order Total" %}: {{ order.total|currency }}</span>
				</td>
			</tr>
		</tfoot>
		<tbody>
		{% for item in order_items %}
		<tr class="items_list_row">
			<td style="text-align:left;">{{ item.name }}</td>
			<td style="text-align:left;">{{ item.price|currency }} {% ifequal item.recurrence_unit "M" %}/{% trans "month" %}{% endifequal %}</td>
			<td style="text-align:left;">{{ item.quantity }}</td>
			<td class="right" style="text-align:left;">{{ item.total|currency }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
    
{% endblock %}
