{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Services and Subscriptions{% endblocktrans %}{% endblock %}

{% block body %}

<h1 class="items_list_top">{{ SITE_NAME }} Features and Pricing</h1>
    <table class="items_list" width="870" cellspacing="0">
    	<tr class="items_list_def">
    		<td width="570">Account Type:</td>
    		{% for subscription in object_list %}
    		<td width="100" style="text-align:center;font-weight:bold;">{{ subscription.name }}<br /><span class="purple">{% ifequal subscription.id 1 %}FREE{% else %}${{ subscription.price }}/month{% endifequal %}</span></td>
    		{% endfor %}
    	</tr>
    	<tr class="pricing_list_category">
    	    <td>NetConferencing</td>
    	    
		{% for k,v in upgrade_dict.items %}
    	    <td>
    	        {% ifequal v "downgrade" %}
                <a href="{% url conferencing_direct_to_checkout k.id %}" class="btn_downgrade"></a>
    	        {% endifequal %}
    	        {% ifequal v "upgrade" %}
                <a href="{% url conferencing_direct_to_checkout k.id %}" class="btn_upgrade"></a>
       	        {% endifequal %}
       	        {% ifequal v "equal" %}
                <img src="{{ MEDIA_URL }}img/btn_subscribed.png" alt="subscribed" class="btn_subscribed" border="0" />
       	        {% endifequal %}
       	        {% ifequal v "signup" %}
				<a href="{% url acct_signup %}?subscription={{k.pk}}" class="btn_signup"></a>
       	        {% endifequal %}
				{% ifequal v "free_signup" %}
					<a href="{% url acct_signup %}" class="btn_signup"></a>
       	        {% endifequal %}
				
       	    </td>
		{% endfor %}
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Shared Media on Demand</td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Group and Private Text Chat</td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>NetConferencing Minutes</td>
            <td class="feature_info">30</td>
            <td class="feature_info">unlimited</td>
            <td class="feature_info">unlimited</td>
            <td class="feature_info">unlimited</td>
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Additional Video Seats</td>
    	    {% for subscription in object_list %}
    	    {% ifnotequal subscription.id 4 %}
    	    <td class="feature_info">{{ subscription.video_seats }}</td>
    	    {% endifnotequal %}
    	    {% endfor %}
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Total Number of Guests</td>
    	    {% for subscription in object_list %}
    	    {% ifnotequal subscription.id 4 %}
    	    <td class="feature_info">{{ subscription.total_guests }}</td>
    	    {% endifnotequal %}
    	    {% endfor %}
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Pass the Remote Control</td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Teleconferencing Bridge Number - Maximum number of attendees</td>
    	    <td class="feature_info">100</td>
    	    <td class="feature_info">1000</td>
    	    <td class="feature_info">1000</td>
    	    <td class="feature_info">1000</td>
    	</tr>
    	
    	<tr class="pricing_list_category">
    	    <td>Media</td>
    	    <td></td>
    	    <td></td>
    	    <td></td>
    	    <td></td>
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Video Player</td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	</tr>
        <tr class="pricing_list_row">
            <td>File Storage (MB)</td>
            {% for subscription in object_list %}
            {% ifnotequal subscription.id 4 %}
            <td class="feature_info">{{ subscription.file_size_mb_limit }}</td>
            {% endifnotequal %}
            {% endfor %} 
       </tr>
        <tr class="pricing_list_row">
            <td>Downloads Per File</td>
            {% for subscription in object_list %}
            {% ifnotequal subscription.id 4 %}
            <td class="feature_info">{{ subscription.file_downloads_limit }}</td>
            {% endifnotequal %}
            {% endfor %}
       </tr>
       <tr class="pricing_list_row">
            <td>Views Per File</td>
            {% for subscription in object_list %}
            {% ifnotequal subscription.id 4 %}
            <td class="feature_info">{{ subscription.file_views_limit }}</td>
            {% endifnotequal %}
            {% endfor %}
       </tr>
    	<tr class="pricing_list_category">
    	    <td>NetSign Digital Signature</td>
    	    <td></td>
    	    <td></td>
    	    <td></td>
    	    <td></td>
    	</tr>
       <tr class="pricing_list_row">
            <td>Contracts Sent per Month</td>
            {% for subscription in object_list %}
            {% ifnotequal subscription.id 4 %}
            <td class="feature_info">{{ subscription.netsign_send_limit }}</td>
            {% endifnotequal %}
            {% endfor %}
       </tr>
       <tr class="pricing_list_row">
            <td>NetSign Contracts Created per Month</td>
            {% for subscription in object_list %}
            {% ifnotequal subscription.id 4 %}
            <td class="feature_info">{{ subscription.netsign_create_limit }}</td>
            {% endifnotequal %}
            {% endfor %}
       </tr>
       <tr class="pricing_list_row">
            <td>Contract Storage (Days)</td>
            {% for subscription in object_list %}
            {% ifnotequal subscription.id 4 %}
            <td class="feature_info">{{ subscription.netsign_stored_limit }}</td>
            {% endifnotequal %}
            {% endfor %}
       </tr>
       <tr class="pricing_list_row">
            <td>Total Number of Contracts</td>
            {% for subscription in object_list %}
            {% ifnotequal subscription.id 4 %}
            <td class="feature_info">{{ subscription.netsign_total_limit }}</td>
            {% endifnotequal %}
            {% endfor %}
       </tr>
    	<tr class="pricing_list_category">
    	    <td>Video E-mail</td>
    	    <td></td>
    	    <td></td>
    	    <td></td>
    	    <td></td>
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Record and send Video Email</td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Video E-mail Maximum Length (Minutes)</td>
            {% for subscription in object_list %}
            {% ifnotequal subscription.id 4 %}
            <td class="feature_info">{{ subscription.vmail_length_limit }}</td>
            {% endifnotequal %}
            {% endfor %}
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Video E-mail Storage (Days)</td>
            {% for subscription in object_list %}
            {% ifnotequal subscription.id 4 %}
            <td class="feature_info">{{ subscription.vmail_save_days_limit }}</td>
            {% endifnotequal %}
            {% endfor %}
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Video E-mails per month</td>
            {% for subscription in object_list %}
            {% ifnotequal subscription.id 4 %}
            <td class="feature_info">{{ subscription.message_send_limit }}</td>
            {% endifnotequal %}
            {% endfor %}
    	</tr>    	
    	<tr class="pricing_list_category">
    	    <td>Social Media Tools</td>
    	    <td></td>
    	    <td></td>
    	    <td></td>
    	    <td></td>
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Leads/Contacts Importer and Manager</td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Event Scheduler</td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Post to Twitter and Facebook</td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	</tr>
    	<tr class="pricing_list_row">
    	    <td>Add Files from your library to messages</td>
    	    <td></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	    <td class="feature_checked"></td>
    	</tr>
    </table>

{% endblock %}
