{% extends "site_base.html" %}

{% block head_title %} {{object.name}} Account{% endblock %} 
{% block body %}
<br />
<h1 class="uni_form_header" style="width: 540px;">{{object.name}} Account</h1>
<div class="uniForm" style="width: 550px;">
    <div style="background: white; margin: 0;padding: 10px; text-align: center;">
    <p>{{object.description}}</p>

    {% if usersubscription %}
        {% if usersubscription.active %}
            {% if usersubscription.cancelled %}
            <p><strong>You have cancelled your subscription to this plan.</strong><br />
            You may still re-subscribe if you wish!</p>
            <form method="post" action="." class="cart">
        		{{ cart_form.as_p }}
        		<hr style="visibility:hidden;margin:0;height:1;" />
        		<input type="submit" value="Subscribe" name="submit" class="button" alt="Subscribe" style="float:none;" />
        	</form>
            {% else %}
                {% ifequal usersubscription user_subscription.subscription  %}
                    <p><strong>You are subscribed to this plan.</strong></p>
                    <p>You can compare the features of our different accounts on the <a href="{% url subscription_list %}">Subscription page.</a></p>
                {% else %}
                    {% if sub_status %}<h4 style="text-transform:capitalize;">{{ sub_status }} to {{ object.name }}?</h4>{% endif %}
                    <p>You are currently subscribed to the {{ usersubscription.subscription.name }}</p>
                    <p>You can compare the features of our different accounts on the <a href="{% url subscription_list %}">Subscription page.</a></p>
                    {% if sub_status %}
                    <p>If you would like to {{ sub_status }} to the {{ object.name }} Account, click the button below:</p>
                    <p><form action="" method="post">
                            {{ form.as_p }}
                            <button type="submit" style="float:none;">{{ sub_status }}</button>
                        </form></p>
                    {% endif %}
                {% endifequal %}
            {% endif %}
        {% else %}
            <p><strong>Your subscription is inactive due to expiration.</strong>
            <p><a href="{% url subscription_list %}">Click here to change your subscription type.</a></p>
        {% endif %}
    {% else %}
        {% if change_denied_reasons %}
            <p><strong>You cannot switch to this plan.</strong> Reasons:</p>
                <ul>{% for reason in change_denied_reasons %}<li>{{reason}}</li>{% endfor %}</ul>
        {% else %}
            {% if sub_status %}<h4 style="text-transform:capitalize;">{{ sub_status }} to {{ object.name }} Account?</h4>{% endif %}
            <p>You are currently subscribed to the {{ user_subscription }} Account </p>
            <p>You can compare the features of our different accounts on the <a href="{% url subscription_list %}">Subscription page.</a></p>
            <p>If you would like to {{ sub_status }} to the {{ object.name }} Account, click the button below:</p>
            <p><form action="" method="post">
                    {{ form.as_p }}
                    <button type="submit" style="float:none;">{{ sub_status }}</button>
                </form></p>
            
            <hr style="visibility:hidden;" />
    
            </div>
        {% endif %}
    {% endif %}
    </div>
</div>
<br /><br />
{% endblock %}
