{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Services and Subscriptions{% endblocktrans %}{% endblock %}

{% block body %}
<h1 class="items_list_top">Features and Pricing</h1>
<br/>
<div id="pricing_container">
  <!--LEFT PANEL STARTS HERE-->
  
  <div id="leftpanel">
  	{% if user.is_authenticated %}
    	<div class="current_account">
    		Current Account Type
		</div>
	{% endif %}
	
    <div class="other_account">{% if user.is_authenticated %}More{% endif %} Account Types</div>
    <div class="custom_typeblock">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="middle"><img src="{{ MEDIA_URL }}img/custom_account.gif" width="110" height="52" alt="Custom Account" /></td>
        </tr>
        <tr>
          <td align="left" valign="middle"><br />
            <p>Sales Hotline:<br />
               1-716-444-3084 
			  </p>
            <br /></td>
        </tr>
        <tr>
          <td align="left" valign="middle">
          	<a href="{% url subscription_pricing_full %}"><img src="{{ MEDIA_URL }}img/more_info_but.png" width="174" height="53" alt="More Info" />
			</a>
		  </td>
        </tr>
      </table>
    </div>
  </div>
  <!--LEFT PANEL ENDS HERE-->
  <!--RIGHT PANEL STARTS HERE-->
  <div id="rightpanel">
  	{% if user.is_authenticated %}
    <div class="account_typeblock">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="200" align="left" valign="bottom"><br/>
            <img src="{{ MEDIA_URL }}img/trial_account.gif" width="99" height="45" alt="Trial Account" /></td>
          <td align="left" valign="middle"><br />
            Up to {{ current_subscription.guests_limit }} Guests / <br />
            {% ifequal current_subscription.name "Free" %}{{ current_subscription.conference_minutes_limit }}{% else %}Unlimited{% endifequal %}<br />
          <td width="160" align="center" valign="middle"><br />
            <br />
            <span class="boldfont">FREE</span></td>
        </tr>
      </table>
    </div>
	{% endif %}
	
	
    
    <span class="title">Upgrade now to avoid embarassing service interuption...</span><br/>
    <br/>

	{% for k, v in upgrade_dict.items %}
    <div class="account_typeblock">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="200" align="left" valign="middle"><br />
            <img src="{{ MEDIA_URL }}img/{{ k.name|lower }}_account.gif" alt="Basic Account" width="99" height="45" />
			{% ifequal k.name|lower "free" %}
			{% else %}
				<br />(<a href="{% url conferencing_direct_to_checkout k.pk %}">Buy now</a>)
			{% endifequal %}
		</td>
			
          <td align="left" valign="middle"><br />
            Up to {{ k.guests_limit }} Guests / <br />
            Unlimited Conferencing<br />
            <a href="#" class="subs-{{ k.pk }} moreinfo"  id="subs-{{ k.pk }}">More Info...</a></td>
          <td width="180" align="center" valign="middle"><br />
		  	<span class="boldfont">${{ k.price }}/month
				<a href="{% if user.is_authenticated %}{% url conferencing_direct_to_checkout k.pk %}{% else %}{% url acct_signup %}?subscription={{k.pk}}{% endif %}">
					

		  	{% ifequal v "upgrade" %}
            	
					<img src="{{ MEDIA_URL }}img/{{ k.name|lower }}_upgrade_but.png" width="167" height="48" alt="Upgrade to {{ k.name }}" />
				
				
			{% endifequal %}
			{% ifequal v "downgrade" %}
				<img src="{{ MEDIA_URL }}img/{{ k.name|lower }}_downgrade_but.png" width="167" height="48" alt="Upgrade to {{ k.name }}" />
			
			{% endifequal %}
			{% ifequal v "signup" %}
				<img src="{{ MEDIA_URL }}img/{{ k.name|lower }}_subscribe_but.png" width="167" height="48" alt="Upgrade to {{ k.name }}" />
			
			{% endifequal %}
			{% ifequal v "equal" %}
				<img src="{{ MEDIA_URL }}img/{{ k.name|lower }}_subscribed_but.png" width="167" height="48" alt="Subscribed to {{ k.name }}" />
				
			
			{% endifequal %}
			</a>
			
			</span>
			</td>
        </tr>
      </table>
      <!--SHOW DATA STARTS-->
      <div class="hidedata subs-{{ k.pk }}">
        <table class="items_list" width="550" cellspacing="0" style="border-top:1px solid #C7C7C7; background-color:#FFF;" >
          <tr class="pricing_list_category">
            <td>NetConferencing</td>
            <td width="100">&nbsp;</td>
          </tr>
          <tr class="pricing_list_row">
            <td class="feature_subs">Shared Media on Demand</td>
            {% ifequal k.name|lower "free" %}
            	<td class="feature_unchecked"></td>
			{% else %}
				<td class="feature_checked"></td>
				
			{% endifequal %}
          </tr>
          <tr class="pricing_list_row">
            <td>Group and Private Text Chat</td>
            {% ifequal k.name "Free" %}
            	<td class="feature_checked"></td>
			{% else %}
				<td class="feature_unchecked"></td>
			{% endifequal %}
          </tr>
          <tr class="pricing_list_row">
            <td>NetConferencing Minutes</td>
            <td class="feature_info">{% ifequal k.name "Free" %}{{ k.conference_minutes_limit }}{% else %}Unlimited{% endifequal %}</td>
          </tr>
          <tr class="pricing_list_row">
            <td>Additional Video Seats</td>
            <td class="feature_info">{{ k.total_guests }}</td>
          </tr>
          <tr class="pricing_list_row">
            <td>Total Number of Guests</td>
            <td class="feature_info">{{ k.total_guests }}</td>
          </tr>
          <tr class="pricing_list_row">
            <td>Pass the Remote Control</td>
			{% ifequal k.name "Free" %}
            	<td class="feature_checked"></td>
			{% else %}
				<td class="feature_unchecked"></td>
			{% endifequal %}
          </tr>
          <tr class="pricing_list_row">
            <td>Teleconferencing Bridge Number - Maximum number of attendees</td>
            <td class="feature_info">{{ k.guests_limit }}</td>
          </tr>
        </table>
      </div>
      <!--SHOW DATA ENDS-->
    </div>
	
	<div class="hr"></div>
	{% endfor %}
	

  </div>
  <!--RIGHT PANEL ENDS HERE-->
</div>


{% endblock %} 

{% block extra_jquery %}
	$(function(){
		
		$(".hidedata").hide();
		$(".moreinfo").click(function(){
		 the_id = $(this).attr("id")
		 $(".hidedata").filter("."+the_id).toggle();
		 return false;
		 
		})
	});
{% endblock %}