{% extends "site_base.html" %}

{% block head_title %}{% trans "Subscription Confirmed" %}{% endblock %} 
{% block body %}
    
<h1 class="uni_form_header" style="width: 540px;">{% trans "Subscription Confirmed" %}</h1>
<div class="uniForm" style="width: 550px;">
    <div style="background: white; margin: 0;padding: 10px; text-align: center;">
        <br /><br />
		<p>{% trans "Thank you!" %}</p>
        <p>{% trans "Subscription process OK, should be updated at Paypal in a minute." %}</p><br /><br /><br /><br /><br />
    </div>
</div>
{% endblock %}
