{% extends "site_base.html" %}

{% block head_title %}{% trans "Subscription Upgrade Confirmed" %}{% endblock %} 
{% block body %}
    
<h1 class="uni_form_header" style="width: 540px;">{% trans "Subscription upgrade confirmed" %}</h1>
<div class="uniForm" style="width: 550px;">
    <div style="background: white; margin: 0;padding: 10px; text-align: center;">
        <br /><br />
        <p>{% trans "Subscription change OK, should be processed in a minute." %}</p><br />
        <p>{% trans "If you have a conference in session right now and you have just upgraded your account, please refresh your conference page for your new permissions to take effect." %}</p>
        <p><a href="{{cancel_url}}">{% trans "Click here to cancel your old subscription" %}</a> {% trans "now" %}!</p><br /><br /><br /><br />
    </div>
</div>
{% endblock %}
