{% extends "site_base.html" %}

{% block head_title %}{% trans "Subscription Cancelled" %}{% endblock %} 
{% block body %}
    
<h1 class="uni_form_header" style="width: 540px;">{% trans "Subscription Cancelled" %}</h1>
<div class="uniForm" style="width: 550px;">
    <div style="background: white; margin: 0;padding: 10px; text-align: center;">
        <br /><br />
        <p>{% trans "Subscription process cancelled. Your subscription will remain in place until the end of your previously paid interval, but you will not be charged again." %}</p>
        <p><a href="{% url subscription_list %}">{% trans "Click here to go back to the subscription list." %}</a></p><br /><br /><br /><br /><br />
    </div>
</div>
{% endblock %}
