{% extends "site_base.html" %}

{% load i18n %}
{% load checkout_tags %}

{% block extra_head_base %}
<style type="text/css">
.subnav { margin:0px; }
</style>
{% endblock %}


{% block head_title %}{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}'s {% trans "Subscription" %}{% endblock %} 

{% block subnav %}
    {% if user.is_authenticated %}
    	<ul class="subnav">
	  <li><a href="{% url acct_settings %}">{% trans "Settings" %}</a></li>
          <li class="current"><a href="{% url subscription_personal %}">{% trans "Subscription" %}</a></li>
        </ul>
    {% else %}
        &nbsp; {# need this to give subnav some height when empty #}
    {% endif %}
{% endblock %}

{% block body %}

<h3 style="text-align:center;"> {% if user.first_name %}{{ user.first_name }}{% if user.last_name %} {{ user.last_name }}{% endif %}{% else %}{{ user.username }}{% endif %}'s {% trans "Subscription" %}: <strong>{{ user.get_subscription }} </strong></h3>

<h1 class="uni_form_header" style="width: 540px;">{% trans "Previous Transactions" %}</h1>
<div class="uniForm" style="width: 550px;">
    <div style="background: white; margin: 0;padding: 10px; text-align: center;">
        <table id="transaction_list" cellspacing="0" border="0" style="width:100%;">
        {% if transactions %}
        <!--{% for order in orders %}
	<tr>
            <td style="text-align:left;"><a href="{{ order.get_absolute_url }}">{% trans "Order" %} #{{ order.hash_uuid }} - {% firstof order.title "Free" %}</a></td>
	    <td style="text-align:left;">{{ order.status|order_status|capfirst }}</td>
	    <td style="text-align:left;">{{ order.date|date }}</td>
	</tr>
	{% endfor %}-->
	{% for transaction in transactions %}
	    <tr>
            <th style="text-align:left;">Transaction Id</th>
	    <th style="text-align:left;">Amount</th>
	    <th style="text-align:left;">Date of transaction</th>
	</tr>
	<tr>
            <td style="text-align:left;">{{transaction.transaction_id}}</td>
	    <td style="text-align:left;">${{transaction.amount}}</td>
	    <td style="text-align:left;">{{ transaction.transaction_time|date }}</td>
	</tr>
        {% endfor %}
        {% else %}
            <tr><td>{% trans "You have no past transactions." %}</td></tr>
        {% endif %}
        </table>
    </div>
</div>
<br /><br />
{% endblock %}
