{% load i18n %}
<html>
<head>

</head>

<body>
<div style="width:600px;height:auto;height:auto;">
<div style="width:100%;height:288px;background: transparent url({{ linksite }}/site_media/vmail/themes/netconference/email/3/header.png) 0px 0px no-repeat;">
<img style="width:600px;height:194px;" src="{% if not header_image %}{{ linksite }}/site_media/vmail/themes/netconference/email/3/net_logo3.png{% else %}{{ header_image }}{% endif %}" />
</div>
<div style="clear:both;background: transparent url({{ linksite }}/site_media/vmail/themes/netconference/email/3/middle.png)  0 0px repeat-y;height:auto;min-height:300px;">

<div style="color:#595959;clear:both;margin-left:35px;margin-top:0px;padding-top:10px;width:510px;margin-right:30px;padding-left:20px;padding-right:20px;min-height:25px;">
{% if name_dear %}<p>Dear {{ name_dear }},</p>{% endif %}
{% autoescape off %}
{{ message }}
{% endautoescape %}
</div>



<div id="footerAddition">
<p style="color:#750998;font-size:14px;padding-left:60px;font-weight:bold;text-decoration: none;">{% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}{{ user }}{% endif %} has attached the following message for you</p>

<div style="width:100%;background: transparent url({{ linksite }}/site_media/vmail/themes/netconference/email/3/thumbnail_bg.png) 0px 0px no-repeat;height:274px">
<a href="{{ linksite }}vmail/{{ urlhash }}" ><img style="border:none;margin-left:60px;margin-top:35px;width:300px;height:200px" src="https://s3.amazonaws.com/{{ bucket }}/vmail/thumb/{{ urlhash }}.jpg" /></a>
</div>
<div style="clear:both;margin-left:20px;margin-top:0px;margin-right:30px;padding:20px;" id="footerAddition">



{% if attachment %}<p style="color:#595959;font-size:14px;font-weight:bold;padding-left:10px;">Attachments</p>{% endif %}

<ul style="min-height:50px;">
{% for attach in attachment %}
<li><a  style="color:#595959;font-size:11px;" href="https://s3.amazonaws.com/{{ bucket }}/files/{{ attach.file.uuid }}.{{ attach.file.source_type }}" >{{ attach.file.filename }}</a></li>
{% endfor %}
</ul>


</div>




</div>
</div>
<div style="clear:both;background: transparent url({{ linksite }}/site_media/vmail/themes/netconference/email/3/footer.png) 0px 0px no-repeat;height:245px;width:100%">
<div style="width:100%;padding-top:80px;">
<a href="{{ linksite }}subscription/" style="font-size:10px;margin-left:160px;color:#595959">Click here to open your own Free NetConference Account </a>
</div>
</div>

</div>

</body>


</html>
