{% load i18n %}
<html>
<head>

</head>

<body>
<div style="width:600px;height:auto;height:auto;">
<div style="width:100%;height:294px;background: transparent url({{ linksite }}/site_media/vmail/themes/netconference/email/4/header.png) 0px 0px no-repeat;">
<img style="margin-top:50px;width:600px;height:188px;" src="{% if not header_image %}{{ linksite }}/site_media/vmail/themes/netconference/email/4/net_logo4.png{% else %}{{ header_image }}{% endif %}" />
</div>
<div style="clear:both;background: transparent url({{ linksite }}/site_media/vmail/themes/netconference/email/4/middle.png)  0 0px repeat-y;height:auto;min-height:300px;">

<div style="color:#595959;clear:both;margin-left:20px;margin-top:0px;padding-top:10px;width:510px;margin-right:30px;padding-left:20px;padding-right:20px;min-height:25px;">
{% if name_dear %}<p>Dear {{ name_dear }},</p>{% endif %}
{% autoescape off %}
{{ message }}
{% endautoescape %}
</div>



<div id="footerAddition">

<div style="clear:both;margin-left:20px;margin-top:0px;margin-right:30px;padding:20px;" id="footerAddition">
<p style="color:#750998;font-size:14px;font-weight:bold;text-decoration: none;">{% if user.get_profile.name %}{{ user.get_profile.name }}{% else %}{{ user }}{% endif %} has attached the following message for you</p>
<!-- <a href="{{ linksite }}vmail/{{ urlhash }}" ><img style="border:none;" src="{{ linksite }}/site_media/vmail/themes/netconference/images/thumbnail_video.png" /></a> -->
<a href="{{ linksite }}vmail/{{ urlhash }}" ><img style="border:none;width:300px;height:200px;" src="https://s3.amazonaws.com/{{ bucket }}/vmail/thumb/{{ urlhash }}.jpg" /></a>
{% if attachment %}<p style="color:#595959;font-size:14px;font-weight:bold;padding-left:10px;">Attachments</p>{% endif %}

<ul style="min-height:50px;">
{% for attach in attachment %}
<li><a  style="color:#595959;font-size:11px;" href="https://s3.amazonaws.com/{{ bucket }}/files/{{ attach.file.uuid }}.{{ attach.file.source_type }}" >{{ attach.file.filename }}</a></li>
{% endfor %}
</ul>


</div>

</div>
</div>
<div style="clear:both;background: transparent url({{ linksite }}/site_media/vmail/themes/netconference/email/4/footer.png) 0px 0px no-repeat;height:245px;width:100%">
<div style="width:100%;padding-top:10px;">
<a href="{{ linksite }}subscription/" style="font-size:10px;margin-left:160px;color:#595959">Click here to open your own Free NetConference Account </a>
</div>
</div>

</div>

</body>


</html>
