{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Confirm Email" %}{% endblock %}

{% block body %}
    <div class="prefix-2">
    {% if email_address %}
        <h1>{% trans "Email Confirmed" %}</h1>
        
        <p>{% blocktrans with email_address.email as email and email_address.user as user %}You have confirmed that {{ email }} is an email address for user '{{ user }}'.{% endblocktrans %}{% if not request.user.is_authenticated %}{% url acct_login as acct_login %}{% blocktrans %}You may now <a href="{{ acct_login }}">log in</a>{% endblocktrans %}.{% endif %}</p>
    {% else %}
        <h3>{% trans "Invalid confirmation key." %}</h3>
    {% endif %}
    </div>
{% endblock %}
