{% extends "site_base.html" %}

{% block body %}

<h3>Filter</h3>
<ul>
	<li>
		<a href="{% url rep_free_users %}">Free</a>	
	</li>
	<li>
		<a href="{% url rep_paid_users %}">Paid</a>	
	</li>
	
</ul>
<ul>
	<hr />
	<h3>
		Filter Paid
	</h3>
	<li>
		<a href="{% url rep_paid_users_all %}">
			All time
		</a>
	</li>
	<li>
		<a href="{% url rep_paid_users_week %}">
			This week
		</a>
	</li>
	<li>
		<a href="{% url rep_paid_users_day %}">
			Today
		</a>
	</li>
</ul>


<form action="." method="post">
	<input type="submit" name="submit" value="Send them vmail" />
	<table>
		<thead>
			<tr>
				<td>
					Select
				</td>
				<td>
					Username
				</td>
				<td>
					Phone number
				</td>
				<td>
					Joined on
				</td>
			</tr>
		</thead>
		{% for sub in object_list  %}
		<tr>
			<td>
				<input type="checkbox" name="users[]" value="{{ sub.user.pk }}" />
			</>
			<td>{{ sub.user.username }}</td>
			<td>
				{{ sub.user.get_profile.phone }}
			</td>
			<td>
				{{ sub.user.date_joined|date }}
			</td>
			
			
		</tr>
		{% endfor %}
	</table>
</form>

{% endblock %}