{% extends "new_base.html" %}

{% block extra_css_pre %}
<link rel="stylesheet" href="/site_media/css/custom-theme/jquery-ui-1.7.2.custom.css" /> 
<link rel="stylesheet" href="/site_media/css/custom-theme/jquery.timepickr.css" />
{% endblock %}

{% block head_title %}
Reporting Dashboard
{% endblock %}

{% block content %}
<div class="graph">
  
</div>
<div style="clear:both;"></div>
<div class="filters" style="width:20%;float:left;">
  <div class="filter">
    <h3>Filter by Price</h3>
    <ul>
      <li><a href="{% url reports %}?price=free">Free</a></li>
      <li><a href="{% url reports %}?price=paid">Paid</a></li>
    </ul>
  </div>
  <div class="filter">
    <h3 id="time">Filter by Time</h3>
    <ul>
      <li><a href="{% url reports %}?time=today">Today</a></li>
      <li><a href="{% url reports %}?time=yesterday">Yesterday</a></li>
      <li><a href="{% url reports %}?time=week">Week</a></li>
      <li><a href="{% url reports %}?time=month">Month</a></li>
      <li><a href="{% url reports %}?time=all_time">All Time</a></li>
      <li><a href="#time" onclick="$('form#dateRangeForm').toggle();">Date Range</a></li>
      <form method="GET" id="dateRangeForm" action="{% url reports %}">
	<li class="date_input">Start Date: <input class="hasDatePicker" type="text" name="start_date" /></li>
	<li class="date_input">End Date: <input class="hasDatePicker" type="text" name="end_date" /></li>
	<input type="hidden" name="time" value="date_range" />
	<input type="submit" value="Submit" />
      </form>
    </ul>
  </div>
  <div class="filter">
    <h3>Filter by Subscription</h3>
    <ul>
      <li><a href="{% url reports %}?subscription=basic">Basic</a></li>
      <li><a href="{% url reports %}?subscription=standard">Standard</a></li>
      <li><a href="{% url reports %}?subscription=premium">Premium</a></li>
      <li><a href="{% url reports %}?subscription=pro">Pro</a></li>
    </ul>
  </div>
  <div class="filter">
    <h3>Filter by Referer</h3>
    <ul>
      {% for referer in referer_filters %}
      <li><a href="{% url reports %}?referer={{ referer.source }}">{{ referer.source|capfirst }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="report" style="width:75%;float:right;">
<div class="search" style="margin-top:20px;">
  <form method="post" id="" action=".">
    <p>
      <input type="text" name="q" value="" />
      <input type="submit" value="Search" />
    </p>
  </form>
</div>
<p>Returned {{ report_users.count }} results.</p>
  <table>
    <thead>
    <tr>
      <th>Username</th>
      <th>Date Joined</th>
      <th>Subscription</th>
      <th>Referer</th>
    </tr>
    </thead>
    <tbody>
    {% for user_sub in report_users %}
    <tr>
      <td><a href="{% url vmail_compose %}?recipient={{ user_sub.user.email }}">{{ user_sub.user.username }}</a></td>
      <td><a href="{% url reports %}?time=date_range&start_date={{ user_sub.user.date_joined|date:"Y-m-d" }}">{{ user_sub.user.date_joined|date:"Y-m-d" }}</a></td>
      <td><a href="{% url reports %}?subscription={{ user_sub.subscription.name }}">{{ user_sub.subscription.name }}</a></td>
      <td>{{ user_sub.user.referer }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() { 
    $("form#dateRangeForm").hide();
    $(".hasDatePicker").datepicker({dateFormat: "yy-mm-dd"});
    $("table").tablesorter();
  });
</script>
{% endblock %}
