<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="zoom: 100%; ">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>"You have a NetConference Message!"</title>
</head>

<body>
    <h2>Users who signed up today</h2>
        {% if signed_up %}
            {% for each_user in signed_up %}
                <p>{{each_user.username}}</p>
            {% endfor %}
        {% else %}
            <p>No user signed up today</p>
        {% endif %}
    <h2>Users who logged in today</h2>
        {% if logged_in %}
            {% for each_user in logged_in %}
                <p>{{each_user.username}}</p>
            {% endfor %}
        {% else %}
            <p>No user logged in today</p>
        {% endif %}
</body>
</html>
