<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NetConference</title>
<link href="{{MEDIA_URL}}new/css/reset_net.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}new/css/styles_net.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}js/slides.min.jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cycle.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
<script src="{{ MEDIA_URL }}new/Scripts/swfobject_modified.js"></script>
<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'images/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true,
				animationStart: function(current){
					$('.caption').animate({
						bottom:-35
					},100);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationStart on slide: ', current);
					};
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationComplete on slide: ', current);
					};
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},200);
				}
			});
		});
	</script>
<style type="text/css">
    body{
	background:none;
    }
</style>
</head>
<body>
<div class="grid">
    <!-- HEADER -->
    <div class="header">
        <div class="logo"><a href="{% url home %}"><img src="{{ MEDIA_URL }}images/netconf_newlogo.png" width="256"  alt="Net Conference logo" /></a></div>
        <div class="topnavigation">
            <ul>
                <li><a href="{% url netconference %}" >What is NetConference?</a></li>
                <li><a href="{% url features_home %}" >Features</a></li>
                <li ><a href="{% url subscription_list %}" ><span class="green_text" >Plans &amp; Prices</span></a></li>
                <li><a href="{% url acct_signup %}" >Get Started</a></li>
            </ul>
        </div>
        <div class="support"><a id="help_id">Support</a><br/>
            <a href="{% url acct_login %}">Login</a> / <a href="{% url subscription_list %}">Sign up</a></div>
    </div>
    <!-- HEADER ENDS-->
    <!-- TAGLINE -->
    <div class="topline"></div>
    <!-- TAGLINE ENDS -->
    {{flatpage.content}}
    <div class="shadow_line"></div>
    <!-- FOOTER LINKS-->
    <div class="footer">
        <div class="first_column">
            <h3>What is NetConference?</h3>
            <ul>
                <li><a href="{% url netconference %}#online_meeting_basics">Online Meeting Basics</a></li>
                <li><a href="{% url netconference %}#online_meeting_uses">Online Meeting Uses</a></li>
                <li><a href="{% url netconference %}#why_netconference">Why NetConference?</a></li>
                <li><a href="{% url howitworks %}#how_it_works">How it Works</a></li>
            </ul>
        </div>
        <div class="second_column">
            <h3>Solutions</h3>
            <ul>
                <li><a href="{% url howitworks %}#for_sales">For Sales</a></li>
                <li><a href="{% url howitworks %}#for_training">For Training</a></li>
                <li><a href="{% url howitworks %}#online_events_webinars">For Online Events and Webminar</a></li>
                <li><a href="{% url howitworks %}#customer_support">For Customer Support</a></li>
                <li><a href="{% url howitworks %}#it_support">For IT Support</a></li>
                <li><a href="{% url howitworks %}#for_enterprise">For Enterprise</a></li>
                <li><a href="{% url howitworks %}#for_small_business">For The Small Business </a></li>
            </ul>
        </div>
        <div class="third_column">
            <h3>Features</h3>
            <ul>
                <li><a href="{% url features_home %}#online_meetings">Online Meetings</a></li>
                <li><a href="/comingsoon">Android & IOS</a></li>
            </ul>
            <h3>About Us</h3>
            <ul>
                <li><a href="{% url aboutus %}#management_team">NetConference Team</a></li>
                <li><a href="{% url articles %}#articles_awards">Article & Awards</a></li>
                <li><a href="#">Press Realeses</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </div>
        <div class="fourth_column">
            <h3>Support</h3>
            <ul>
                <li><a href="http://support.netconference.com/index.php?/Knowledgebase/List">FAQs</a></li>
                <li><a href="#">Tutorials</a></li>
                <li><a href="{% url terms %}">Terms of Service</a></li>
                <li><a href="{% url invest %}"> Investor Relations</a></li>
                <li><a href="{% url privacy %}">Privacy Policy</a></li>
                <li><a href="{% url affiliate_opportunity %}">Opportunity</a></li>
                <li><a href="{% url contact %}">Contact</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <!-- FOOTER LINKS ENDS -->
    <div class="shadow_line"></div>
    <!-- COPYRIGHT -->
    <div class="copyright">
        <div class="left" > <a href="http://nxtgen.tv/"><img src="{{MEDIA_URL}}images/footer_logo.png" style="vertical-align:middle;height:45px;" alt="NxtGenTV"></a> <br>
            &copy; 2006-2010 <a href="http://nxtgen.tv/" target="_blank">NxtGen LLC </a>? <a href="{% url contact %}">Contact</a> ? (818)934-1204 <br/>
            NetConference technology created by  <a href="http://www.illusionfactory.com/" target="_blank">The Illusion Factory</a></div>
        <div class="right" > Translate: <img src="{{MEDIA_URL}}images/flag_01.png" alt="English" title="English"> <img src="{{MEDIA_URL}}images/flag_02.png" alt="German" title="German"><img src="{{MEDIA_URL}}images/flag_03.png" alt="Spanish" title="Spanish"><img src="{{MEDIA_URL}}images/flag_04.png" alt="French" title="French"><img src="{{MEDIA_URL}}images/flag_05.png" alt="Swedish" title="Swedish"><img src="{{MEDIA_URL}}images/cea_logo.gif" width="88" height="31" alt="cea"><img src="{{MEDIA_URL}}images/bbb_icon.gif" width="37" height="36" alt="bbb"> </div>
        <div class="clear"></div>
    </div>
    <!-- COPYRIGHT ENDS -->
</div>
<form  id="virtual_form" action="http://support.netconference.com/index.php?/Base/User/Login" method="post">
<input  type="hidden" name="_redirectAction" value=""/>
<input type="hidden" name="scemail" value="" />
<input  type="hidden" name="scpassword" value="#netconference#"/>

</form>
</body>
<script type="text/javascript">
$(document).ready(function(){
	$("#help_id").click(function(){
  	  var redirect = true;
  	  $.ajax({
  			  type:"GET",
  			  async: false,
  			  url: "/account/login/RedirectToForm",
  			  success: function(data){
  				  if(data=="noAuth"){
  					  
  				  }else{
  					$('#virtual_form').find('input:eq(1)').attr('value',data);
  						 redirect = false;
  				  	   }
  				  
  			      }
  			 });
  	  		 if(redirect) {
  	  			window.location.replace("http://support.netconference.com/"); 
         		 }else{
         			var form = $('#virtual_form');
 					 form.submit();
         		 }

  	  
        });
	
	$("#help_id").mouseover(function(){
  	  $(this).attr("style","cursor: pointer");
    });
	})
</script>
</html>
