/* dashboard general rules 
-------------------------------------------------- */

#dashboard
{
	font-size: .7em;
font-family: "Segoe UI", "Bitstream Vera Sans", "DejaVu Sans", "Myriad Pro", Helvetica, Arial, Verdana, sans-serif;
position: fixed;
        top: 0px;
	height: 36px;
        width: 100%;
	padding: .5% 1%;
	background: /*url('../../images/dashboard/gradient.png') top left repeat-x*/ #000;
	color: #fff;
	border-bottom: 1px solid #000;
  	z-index: 10;
}

#dashboard .item { float: left; }

#dashboard .control
{
	width: 40%;
	min-width: 210px;
}

#dashboard #free-space
{
	width: 10%;
	text-align: center;
}

#dashboard .control p
{
	background: #393939;
	padding: 5px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #2f2f2f;
}

#dashboard p				{ padding: 5px 10px; }
#dashboard .control p:hover { background-color: #444 !important; }
#dashboard ul 				{ list-style: none; }

#dashboard ul li
{
	position: relative;
	cursor: pointer;
}



/* Menu Items
-------------------------------------------------- */

#dashboard p.menu-item
{
	display: block;
	width: 32px;
	height: 32px;
}

#dashboard p.menu-item span
{
	position: absolute;
	left: -9999px;
}



/* Left Control Items 
-------------------------------------------------- */

#left-control span 				{ padding-right: 25px; }
#left-control span#dashboard_user 		{ padding-right: 0;  }
#left-control span#dashboard_available
{
   background: url('../../images/dashboard/available.png') center right no-repeat;
   display:none;
}

#left-control span#away 		{ background: url('../../images/dashboard/away.png') center right no-repeat; }
#left-control span#sign-on-off	{ background: url('../../images/dashboard/sign_off.png') center right no-repeat; }

#left-control ul li
{
	float: left;
	margin-right: 10px;
}

/* Right Control Items 
-------------------------------------------------- */

#right-control p#help 			{ background: url('../../images/dashboard/help.png') center no-repeat #393939; }
#right-control p#settings 		{ background: url('../../images/dashboard/settings.png') center no-repeat #393939; }
#right-control ul li.clicked p 	{ background: url('../../images/dashboard/close.png') center no-repeat #393939 !important; }

#right-control ul li
{
	float: right;
	margin-left: 10px;

}


/* Drop Down Menus
-------------------------------------------------- */

#dashboard .control ul ul
{
  	display: none;
  	position: absolute;
  	border-top: 1px solid #2f2f2f;
  	z-index: 10;
}
#dashboard .control ul ul a
{
	text-decoration:none;

}

#dashboard ul ul li
{
	margin: 0;
	float: left;
	clear: both;
	padding: 5px 10px;
	background: #393939;
	width: 100px;
	border: 1px solid #2f2f2f;
	border-top: none;
	line-height: 1.5em;


}

#dashboard ul ul li:first-child 		{ background: url('../../images/dashboard/shadow.jpg') top left repeat-x #393939; 	 }
	
#dashboard ul ul li:first-child:hover 	{ background-image: none; }
#dashboard ul ul li:hover 				{ background-color: #444; }



/* Clearing Rules 
-------------------------------------------------- */

#dashboard:after,
#dashboard ul:after 
{
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

* html #dashboard:after,
* html #dashboard ul:after
{
	height: 1px;
}

#dashboard ul
{
	height: 1%;
}



/* http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
}

blockquote, 
q 
{
	quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}


   
   
