
{% extends "new_base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Signup (all fields are required)" %}{% endblock %}

{% block content %}
<!--CONTENT STARTS -->
  <div id="content_page">
    <div class="leftpanel">
      <div class="top">You are just seconds away from your new NetConference account!</div>
      <div class="mid">
        <h3 class="green_text"><img src="{{ MEDIA_URL }}new/images/one_icon.png" width="25" height="26" alt="One" class="left_fl" />&nbsp;Create Your NetConference Account</h3>
        <div></div>
		<form method="POST" action="{{ post_url }}">
        {% block existed_user %}{% endblock %}
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td colspan="2" align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
          </tr>
          <!--<tr>
		        <td align="left" width="150" valign="top">Select Users :</td>
	            <td align="left" valign="middle">
	            	{% if form.list_emails_checkbox.errors  %}
					{{ form.list_emails_checkbox.errors }}
					{% endif %}
	            	{{form.list_emails_checkbox}}
			    </td>
		  </tr>-->
		  <tr>
		        <td align="left" width="150" valign="top">Email :</td>
	            <td align="left" valign="middle">
	            	{{ requestor.email  }}
			    </td>
		  </tr>
		  <tr height="10px"><td></td><td></td></tr>
		  <tr>
		        <td align="left" valign="middle">Subscription :</td>
	            <td align="left" valign="middle">
	            	{% if form.subscription.errors  %}
					{{ form.subscription.errors }}
					{% endif %}
	            	<div>
                        <div style="float:left">{{form.subscription}}</div> 
                        <div style="float:left; padding-left:10px;"> 
                            <b><p id="id_subs_price"></p></b>
                        </div>
                    </div>
			    </td>
		  </tr>
		  <tr height="10px"><td></td><td></td></tr>
		  <tr class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
            <td align="left" valign="middle">First name</td>
            <td align="left" valign="middle">
                {% if form.firstname.errors  %}
                    {{ form.firstname.errors }}
                {% endif %}
                {{ form.firstname }}
            </td>
          </tr>
          <tr height="10px"><td></td><td></td></tr>
          <tr class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
            <td align="left" valign="middle">Last name</td>
            <td align="left" valign="middle">
                {% if form.lastname.errors  %}
                    {{ form.lastname.errors }}
                {% endif %}
                {{ form.lastname }}
            </td>
          </tr>
        </table>
        <br />
        <h3 class="green_text"><img src="{{ MEDIA_URL }}new/images/two_icon.png" width="25" height="26" alt="Two" class="left_fl" />&nbsp;Enter Your Additional Information</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td colspan="2" align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
          </tr>
		  <tr>
		        <td align="left" valign="middle">Address :</td>
	            <td align="left" valign="middle">
	            	{% if form.address.errors  %}
					{{ form.address.errors }}
					{% endif %}
	            	{{form.address}}
			    </td>
		  </tr>
          <tr>
                <td align="left" valign="middle">City :</td>
                <td align="left" valign="middle">
                    {% if form.city.errors  %}
                    {{ form.city.errors }}
                    {% endif %}
                    {{form.city}}
                </td>
          </tr>
          <tr>
                <td align="left" valign="middle">Country :</td>
                <td align="left" valign="middle">
                    {% if form.country.errors  %}
                    {{ form.country.errors }}
                    {% endif %}
                    {{form.country}}
                </td>
          </tr>
          <tr id="id_usa_state">
                <td align="left" valign="middle">State :</td>
                <td align="left" valign="middle">
                    {% if form.state.errors  %}
                    {{ form.state.errors }}
                    {% endif %}
                    {{form.state}}
                </td>
          </tr>
          <tr>
                <td align="left" valign="middle">Postal Code :</td>
                <td align="left" valign="middle">
                    {% if form.postal_code.errors  %}
                    {{ form.postal_code.errors }}
                    {% endif %}
                    {{form.postal_code}}
                </td>
          </tr>
          <tr>
                <td align="left" valign="middle">Phone Number :</td>
                <td align="left" valign="middle">
                    {% if form.phone_number.errors  %}
                    {{ form.phone_number.errors }}
                    {% endif %}
                    {{form.phone_number}}
                </td>
          </tr>
        </table>
        <br/>
        
	{% if show_cc_form %}
        <h3 class="green_text"><img src="{{ MEDIA_URL }}new/images/three_icon.png" width="25" height="26" alt="Three"  class="left_fl" />&nbsp;Enter Your Billing Information - SECURE</h3>
        <div></div>
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td colspan="2" align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
          </tr>
          
          <tr>
        	<td colspan="2">
        		{% if credit_card_failed %}
        			<p style="color:red"><b>{{ "Credit card check fail (has expired or invalid infomation)" }}</b></p>
        		{% endif %}
        	</td>
          </tr>
          
          <tr>
            <td width="150" align="left" valign="middle">Payment Method:</td>
            <td align="left" valign="middle">
            	{{ form.credit_card_type }}
		<img src="{{ MEDIA_URL }}new/images/icons.png" width="193" height="23" alt="card Icons" style="vertical-align:middle;" />
	    </td>
          </tr>
          <tr class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
            <td align="left" valign="middle">Card Number:</td>
            <td align="left" valign="middle">
            	{% if form.credit_card_number.errors  %}
					{{ form.credit_card_number.errors }}
				{% endif %}
            	{{ form.credit_card_number }}
			</td>
          </tr>
          <tr class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
            <td align="left" valign="middle">Expires on:</td>
            <td align="left" valign="middle">
            	{{ form.credit_card_expire_month }}
				{{ form.credit_card_expire_year }}
              </td>
          </tr>
          <tr class="toggle" {% ifequal form.credit_card_type.data 'PayPal' %}style="display:none"{% endifequal %}>
            <td align="left" valign="middle">CVV</td>
            <td align="left" valign="middle">
            	{% if form.credit_card_cvv.errors  %}
					{{ form.credit_card_cvv.errors }}
				{% endif %}
            	{{ form.credit_card_cvv }}
            </td>
          </tr>
          
        </table>
	{% endif %}
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
          </tr>
          <tr>
            <td align="left" valign="middle">
	      {% if show_cc_form %}
	      <p>Your <span class="purple_text">{% if request.session.has_60_coupon %}60{% else %}30{% endif %}-day free trial</span> lasts until midnight on <span class="purple_text">{{ trial_till|date:"F j, Y" }}</span> If you don't want to continue using NetConference, just cancel before the trial ends and you won't be charged (we'll email you 5 days before the trial ends to remind you). Otherwise, you'll pay just ${{ subs.price }}/month for the service as long as your account is open. <br />
                You can upgrade, downgrade, or cancel any time.</p>
              <p>&nbsp;</p>
	      {% endif %}
              <p>By clicking Create my account you agree to the<span class="blue_text"><a href="#" class="blue_text"> Terms of Service</a></span>, <span class="blue_text"><a href="#" class="blue_text">Privacy</a></span>, and<span class="blue_text"> <a href="#" class="blue_text">Refund policies</a></span>. </p>
              <p><br />
              </p>
	      <p>{{ form.signup_code }}</p>
	      	{% if is_new %}
              <input type="submit" name="button" id="button" value="Create My Account" class="buttonGreen" style="float:right;" /></td>
            {% else %}
            	<input type="submit" name="button" id="button" value="Edit My Account" class="buttonGreen" style="float:right;" /></td>
            {% endif %}
          </tr>
        </table>
		</form>
      </div>
      <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="{{ MEDIA_URL }}new/images/thanks_message.png" width="259" height="169" alt="Thanks for choosing NetConference" />
      <div class="message_rpanel">Blow right through your daily <br/>
        business objectives using your <br/>
        virtual office in the cloud</div>
      <div class="message_rpanel">
        <h2>Thousands of</h2>
        new users sign up every week</div>
      <div class="message_rpanel">
        <h2>Secure and Reliable</h2>
        Your data is backed up daily</div>
      <div class="message_rpanel">
        <h2>Great Customer Service</h2>
        Fast, accurate, and friendly help</div>
      <img src="{{ MEDIA_URL }}new/images/arrow_indicator.png" width="101" height="66" alt="Arrow" class="left_fl" style="margin-top:50px;" />
      <div class="clear"></div>
      <div class="message_rpanel">
        <h2>{% if request.session.has_60_coupon %}60{% else %}30{% endif %}-day FREE Trial</h2>
        You won't be billed unless you <br/>
        keep your account open past <br/>
        your {% if request.session.has_60_coupon %}60{% else %}30{% endif %}-day free trial.<br/>
        <br/>
        <p class="smalltext">We need your billing information to reduce
          fraud and verify you have a valid credit card
          should you keep your account open.
          This prevents any interruption in service</p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!--CONTENT ENDS -->
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    get_price();
	country = $("#id_country").val();
	var state = $("#id_usa_state");
	if(country == "USA"){
		state.show();
	} else {
		state.hide();
	}
    $("#id_country").change(function(){
            var state = $("#id_usa_state");
            if ($(this).val() == "USA"){
                state.show();
            }
            else {
                state.hide();
            }
    })
    $("#id_credit_card_type").change(function() {
            var toggle_rows = $(".toggle");
            if ($(this).val() == "PayPal") {
                toggle_rows.hide();
            }
            else {
                toggle_rows.show();
            }
    });
    $("#id_subscription").change(function(){
        get_price();
    });
    function get_price(){
        id = $("#id_subscription option:selected").val();
        $.ajax({
          type: 'POST',
          url: '/integrate/get_price/',
          data: { subs_id: id },
          success: function(data){
            $("#id_subs_price").html(data['price']);
          },
          dataType: "json"
        });
    }
});
</script>
{% endblock %}
