<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Netconference.com : Social Business Collaboration</title>
<link href="{{ MEDIA_URL }}new/css/styles_net.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	#xcontent
	{
		width:700px;
		margin-left: auto ;
	  	margin-right: auto ;
		font:11px Arial, Helvetica, sans-serif; 
		color:#595959;
	}
	body
	{
		background:white; 
		font:Arial, Helvetica, sans-serif; line-height:18px;
	}
	.top{width:667px; background:url({{ MEDIA_URL }}new/images/login_bg.gif) no-repeat; height:20px; font:bold 16px Arial, Helvetica, sans-serif; color:#595959;  line-height:50px;}
	.mid{width:627px; background:url({{ MEDIA_URL }}new/images/login_bg_mid.gif) repeat-y;   font:12px Arial, Helvetica, sans-serif; color:#595959; padding:10px 20px 20px 20px;}
	.bottom{width:667px; background:url({{ MEDIA_URL }}new/images/login_bg.gif) 0px -20px;  height:20px;  font:12px Arial, Helvetica, sans-serif; color:#595959; }
</style>
</head>
<body>
<form action="" method="post">
	<div id="xcontent" style="padding-left:30px;">
		<div class="top"></div>
		<div class="mid" style="height:200px;">
			<h1 class="purple_text">Enter Your Gmail Account</h1>
			<div>
				<img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" />
			</div>
			<div>
				<div style="float:left; padding-left:50px;"><img src="{{ MEDIA_URL }}new/images/gmail_logo.png"/></div>
				<div style="float:left; padding-left:5px;">
					<table>
			    		<tr height=30>
					    	<td align="left" valign="top"><p>Gmail : </p></td>
					    	<td align="left" valign="middle" style="padding-left:10px;">
					    	{{ form.gmail }}
					    	{% if form.gmail.errors  %}
							{{ form.gmail.errors }}
							{% endif %}
					    	</td>
					    </tr>
					    <tr>
					    	<td align="left" valign="top"><p>Password : </p></td>
					    	<td align="left" valign="middle" style="padding-bottom:10px; padding-left:10px;">
					    	{{ form.password }}
					    	{% if form.password.errors  %}
							{{ form.password.errors }}
							{% endif %}
					    	</td>
					    </tr>
					    <tr>
					    	<td></td>
					    	<td>
					    	{% if enter_fail %}
					    	<p style="color:red">* Invalid username or password!</p>
					    	{% endif %}
					    	</td>
					    </tr>
					    <tr>
					    	<td ><input type="hidden" name="next" value="{{ next }}" /></td>
					    	<td style="float:right"><input style="float:left" type="submit" id="bt_sutmit" value="Submit" class="buttonBlueSmall" /></td>
					    </tr>
			    	</table>
				</div>
			</div>
		</div>
		<div class="bottom"></div>
	</div>
</form>
</body>
</html>