
{% extends "integrate/integrate_base_page.html" %}
{% block existed_user %}
<!-- <table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td colspan="2" align="left" valign="middle"><img src="{{ MEDIA_URL }}new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></td>
  </tr>
  <tr>
        <td align="left" width="150" valign="top">Created Users :</td>
        <td align="left" valign="middle">
            {% for existed_user in existed_users %}
            <p>{{ existed_user.email }}</p>
            {% endfor %}
        </td>
  </tr>
  <tr height="20px"><td></td><td></td></tr>
</table> -->
{% endblock %}
