<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Netconference.com : Export files to google docs</title>
<link href="{{ MEDIA_URL }}new/css/styles_net.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	td.files_check
	{
		width:20px;
	}
	td.files_title 
	{
		width:250px;
	}
	td.files_download
	{
		width:80px;
	}
	table#gfiles_list tr.dark 
	{ 
		background-color: #f8f8f8; height:50px; 
		vertical-align: middle;
	}
	table#gfiles_list tr.light 
	{
		background-color: #ffffff; 
		border:none; 
		height:50px;
		vertical-align: middle;
	}
	table#gfiles_list tr.light td 
	{
		border-bottom-style:solid; 
		border-bottom-color:#dedede; 
		border-bottom-width:2px;
		vertical-align: middle;
	}
	table#gfiles_list tr.dark td
	{
		border-bottom-style:solid; 
		border-bottom-color:#dedede; 
		border-bottom-width:2px;
		vertical-align: middle;
	}

	table#gfiles_list
	{
		border-left:#f4f4f4 solid 2px; 
		border-right:#f4f4f4 solid 2px; 
		border-bottom:#f4f4f4 solid 2px;
		-moz-box-shadow: 2px 2px 2px #f4f4f4; 
		webkit-box-shadow: 2px 2px 2px #f4f4f4; 
		box-shadow: 2px 2px 2px #f4f4f4;
		margin-bottom:10px;
		width:705px;
	}
	#xcontent
	{
		width:705px;
		margin-left: auto ;
	  	margin-right: auto ;
		font:11px Arial, Helvetica, sans-serif; 
		color:#595959;
	}
	body
	{
		background:white; 
		font:Arial, Helvetica, sans-serif; line-height:18px;
	}
</style>
</head>
<body>
{% load file_tags %}
{% load i18n %}
<form id="exportform" action="./?page={{ page_obj.number }}" method="post">
<div id="xcontent">
<table id="gfiles_list" cellspacing="0" style="margin-bottom:0px;">
    <tr>
        <th colspan="4" style="text-align:left;"><h1 class="title" style="text-shadow:none;">My Files <em>{{ query_string }}</em></h1></th>
    </tr>
    <tr>
        <td class="files_check">
        	<input type="checkbox" name="select"/>
        </td>
        <td class="files_title">Title</td>
        <td style="width:10px"></td>
        <td class="files_download"></td>
    </tr>
    {% for file in page_obj.object_list %}
    <tr class="{% cycle 'dark' 'light' %}">
        <td class="files_check"><input id="{{file.id}}" type="checkbox" name="file-select[]" value="{{ file.id }}" /></td>
        <td class="files_title">
        	<img class="icon" src="{{ MEDIA_URL }}img/fileicons/icon_file_{{ file.source_type|fileicon }}.png" width="30" border="0" />
        	<p class="text"><a target="_blank" href="{{file.get_absolute_url}}">{{ file.title }}</a></p>
        </td>
        <td style="width:10px">
        {% if file.message %}
        {% trans file.message %}
        {% endif %}
        </td>
        <td class="files_download">
		  	<input onclick="export_single('{{ file.id }}');" type="button" id="export" value="Export" class="buttonGreenSmall" />
        </td>
    </tr>
    {% endfor %}
</table>
<input style="float:left" type="submit" id="export_all" value="Export All" class="buttonBlueSmall" />
<p class="files_paging">{% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">&laquo; Prev</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;Page {{ page_obj.number }} of {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>{% endif %}</p>
</form>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.conf.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
<script type="text/javascript">
  $("input[name='select']").click(function() {
  	$("input[name='file-select[]']").attr("checked", $(this).attr("checked"));
  })
  function export_single(id){
  	$("input[name='file-select[]']").attr("checked", false);
  	checkbox = document.getElementById(id);
  	checkbox.checked = true
  	$("#exportform").submit();
  }
</script>
</body>
</html>