
{% extends "new_base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% trans "Signup (all fields are required)" %}{% endblock %}

{% block content %}
<!--CONTENT STARTS -->
  <div id="content_page">
  	<!-- <input type="button" id="start" value="start" />
  	<input type="button" id="stop" value="stop" />
  	<input type="button" id="demo" value="demo" /> -->
  	<div id="waiting" style="text-align:center; width:100%; height:290px; margin-left: auto ;margin-right: auto;">
  		<br />
  		<br />
  		<br />
  		<img src="{{ MEDIA_URL }}new/images/waiting.gif" />
  	</div>
  	<div id="data"></div>
  	<input type="hidden" id="urlhash" value="{{ urlhash }}" />
  	<input type="hidden" id="client_duration" value="{{ client_duration }}" />
  </div>
<!--CONTENT ENDS -->
{% endblock %}

{% block extrafooterscript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.conf.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/effects.js"></script>
<script type="text/javascript" charset="utf-8">

$(document).ready(function(){
	var t_update = 0;
	load();
	function load(){
		$.ajax({
		  type: 'POST',
		  url: '/integrate/google_docs/edit/',
		  data: { action: 'load', urlhash: $('#urlhash').val()},
		  success: function(data){
		  	$('<iframe />', {
			    name: 'frame1',
			    id: 'frame1',
				src: data['embeded_link'],
				width : "100%",
				height : "600",
				frameborder : "0",
				scrolling : "auto"
			}).appendTo('div#data');
			$("#waiting").hide();
			duration = $('#client_duration').val();
			t_update = window.setInterval(synchronous, duration * 1000);
		  },
		  dataType: "json"
		});
	}
	function synchronous(){
		$.ajax({
		  type: 'POST',
		  url: '/integrate/google_docs/edit/',
		  data: { action: 'update', urlhash: $('#urlhash').val()},
		  success: function(data){
			//	alert("failure");
		  },
		  dataType: "json"
		});
	}
});
</script>
{% endblock %}
