{% load file_tags %}
{% load extra_tagging_tags %}
{% load sort_tags %}
{% load i18n %}

<table id="files_list" cellspacing="0" style="table-layout:inherit;width:100%;">
    {% block table_header %}
    <tr>
        <th colspan="6" style="text-align:left;word-wrap:break-word;white-space:normal;">
            <h1 class="title">
                {% block table_title %}{{ page_title }}{% endblock %} <em>{{ query_string  }}</em>
            </h1>
        </th>
    </tr>
    {% endblock %}
    <tr class="sub_title">
        {% block files_check_header %}
        <td style="width:5%;"><input type="checkbox" name="select" onClick="toggleFiles();" /></td>
        {% endblock %}
        <td style="width:35%;">{% sort_link "Title" "title"%}</td>
        <td style="width:30%;">{% sort_link "Changed" "saved_at"%}</td>
        <td style="width:10%;"></td>
        <td style="width:10%;"></td>
        <td style="width:10%;"></td>
    </tr>
    {% with object_list as files %}
    {% if not files.count %}
    <tr>
      <td colspan="6"><p class="errorlist">{% trans "No NetSign documents found." %}</p></td>
    </tr>
    {% endif %}
    {% for file in files %}
    <tr class="table_data {% cycle 'dark' 'light' %}">
        {% block files_check_row %}
        <td><input type="checkbox" name="file-select[]" value="{{ file.pk }}" /></td>
        {% endblock %}
        <td>
            <img class="icon" src="{{ MEDIA_URL }}img/fileicons/icon_file_{{ file.user_file.source_type|fileicon }}.png" width="30" border="0" />
            <a href="{{ file.user_file.get_absolute_url }}" class="listTitle">
                {{ file.title }}
            </a>
            {% show_tags_for file %}
        </td>
        <td>
            {{ file.saved_at|date:"m/j/y H:m a" }}
        </td>
        <td>
	  <p class="buttonGreenSmall" style="padding-left:10%;">
	  <a href="{{ file.get_status_url }}" style="color:white;">
	    {% trans "View Status" %}
	  </a>
	  </p>
	</td>
        <td>
	  <p class="buttonBlueSmall" style="text-indent:25px;">
          <a href="{{ file.get_netsign_document_url }}" rel="View File" style="color:white;">
	    {% trans "View" %}
	  </a>
	  </p>
        </td>
        <td>
	  <p class="buttonGreenSmall" style="padding-left:28%;">
            <a class="button caps" href="{% url vmail_compose %}?netsign={{ file.get_netsign_document_urlhash }}" style="float:none;color:white;">
	    {% trans "Send" %}
	  </a>
	  </p>
        </td>
    </tr>
    {% endfor %}
    {% endwith %}
</table>
