{% load file_tags %}
{% load sort_tags %}
{% load i18n %}


<table id="files_list" cellspacing="0" style="table-layout:inherit;width:100%;">
    {% block table_header %}
    <tr>
        <th colspan="5" style="text-align:left;word-wrap:break-word;white-space:normal;">
            <h1 class="title">
                {% block table_title %}{{ page_title }}{% endblock %} <em>{{ query_string  }}</em>
            </h1>
        </th>
    </tr>
    {% endblock %}
    <tr class="sub_title">
      {% block netsign_header %}
        <td style="width:25%;">{% sort_link "Title" "document__title" %}</td>
        <td style="width:20%;">{% block sent_name %}{% sort_link "Sent to" "to_email" %}{% endblock %}</td>
        <td style="width:15%;">{% sort_link "Status" "status" %}</td>
        <td style="width:15%;">{% sort_link "Sent Date" "sent" %}</td>
        <td style="width:25%;">{% sort_link "Message" "message" %}</td>
      {% endblock %}
    </tr>
    {% if not invite_list.count %}
    <tr>
      <td colspan="5"><p class="errorlist">{% trans "No NetSign documents found." %}</p></td>
    </tr>
    {% endif %}
    {% for invite in invite_list %}
    <tr class="table_data {% cycle 'dark' 'light' %}">
        <td>
            <img class="icon" src="{{ MEDIA_URL }}img/fileicons/icon_file_{{ invite.document.user_file.source_type|fileicon }}.png" width="30" border="0" />
            <a href="{{ invite.document.get_netsign_document_url }}">{{ invite.document.title }}</a>
        </td>
        <td>
            {% block tableemail %}
            {{invite.to_email}}
            {% endblock %}
        </td>
        <td>
            {% block sent_to_received %}

            {{invite.verbose_status}}
            {% ifequal invite.verbose_status "Signed" %}
            (<a href="{{invite.get_signed_url}}">{%trans "View" %}</a>)
            {% endifequal %}

            {% endblock %}
        </td>
        <td>
            {{invite.sent|date}}
        </td>
        <td>
            <a href="{{ invite.get_message.get_absolute_url }}">
                {{invite.message|truncatewords:5}}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
