{% load file_tags %}
{% load extra_tagging_tags %}
{% load sort_tags %}
{% load i18n %}

<table id="files_list" cellspacing="0" style="table-layout:inherit;width:100%;">
    {% block table_header %}
    <tr>
        <th colspan="6" style="text-align:left; word-wrap:break-word; white-space:normal;">
            <h1 class="title">
                {% block table_title %}{{ page_title }}{% endblock %} <em>{{ query_string }}</em>
            </h1>
        </th>
    </tr>
    {% endblock %}
    <tr class="sub_title">
        <td style="width:30%;">{% sort_link "Title" "title" %}</td>
        <td style="width:15%;">{% sort_link "Privacy" "visibility" %}</td>
        <td style="width:15%;">{% sort_link "Views" "views_total" %}</td>
        <td style="width:15%;">{% sort_link "Length" "page_count" %}</td>
        <td style="width:15%;">{% sort_link "Date" "timestamp" %}</td>
        <td style="width:10%;"></td>
    </tr>
    {% if object_list %}
    {% with object_list as files %}
    {% for file in files %}
    <tr class="table_data {% cycle 'dark' 'light' %}">
        <td>
            <img class="icon" src="{{ MEDIA_URL }}img/fileicons/icon_file_{{ file.source_type|fileicon }}.png" width="30" border="0" />
            <a href="{{ file.get_absolute_url }}">{{ file.title  }}</a>
        </td>
        <td><img src="{{ MEDIA_URL }}img/{{ file.visibility|vidprivacy }}.png" border="0" class="privacy_lock" /></td>
        <td>
            {{ file.views_total }}
        </td>
        <td>
            {% if file.page_count %}{{ file.page_count }} {% trans "pages" %}{% endif %}
        </td>
        <td>
            {% if file.timestamp %}{{ file.timestamp|date:"m/j/y" }}{% endif %}
        </td>
        <td style="padding-left:0px;padding-right:5px;">
            <a href="{{ file.get_netsign_create_url }}" rel="Select File to NetSign" style="color:white;text-decoration:none;text-align:center;line-height:25px;" class="buttonGreenSmall">
	      {% trans "Select" %}
	    </a>
        </td>
    </tr>
    {% endfor %}
    {% endwith %}
    {% else %}
    <tr class="table_data {% cycle 'dark' 'light' %}">
      <td colspan="6">
        <h2 class="prefix-1" style="color:red;">{% if query_string %}{% trans "Search query returned no result!" %}{% else %}{% trans "You have no uploaded media at this time." %}{% endif %}</h2>
	{% if not query_string %}
        <p class="prefix-2"><strong><a href="{% url upload_file %}">{% trans "Click here to upload some files!" %}</a></strong></p><br /><br />
	{% endif %}
      </td>
    </tr>
    {% endif %}
</table>
