{% extends "netsign/_netsign_sent_list.html" %}
{% load i18n %}
{% load sort_tags %}

{% block netsign_header %}
<td style="width:25%;">{% sort_link "Title" "document__title" %}</td>
<td style="width:20%;">{% block sent_name %}{% sort_link "Sent to" "to_email" %}{% endblock %}</td>
<td style="width:15%;">{% sort_link "Status" "status" %}</td>
<td style="width:15%;">{% sort_link "Received Date" "sent" %}</td>
<td style="width:25%;">{% sort_link "Message" "message" %}</td>
{% endblock %}

{% block sent_to_received %}
				{% ifequal invite.verbose_status "Sent" %}
				{% trans "Received" %}
				{% else %}
				{{invite.verbose_status}}
				{% endifequal %}
				{% ifequal invite.verbose_status "Signed" %}
					(<a href="{{invite.get_signed_url}}">View</a>)
				{% endifequal %}
				{% ifequal invite.verbose_status "Sent" %}
					(<a href="{{invite.get_sign_url}}">Sign</a>)
				{% endifequal %}
{% endblock %}
