{% extends "netsign/netsign_base.html" %}
{% load i18n %}

{% block extra_css_pre %}
<style>
    .grey_text {
        font-size: 18px;
        color: #A9A9A9;
    }
    .icon {
        height: 25px;
        width: 26px;
        float: left;
        padding-right: 5px;
    }
    .action {
        float:right;
        margin: 10px;
    }
</style>
{% endblock %}

{% block head_title %}{% blocktrans %}How NetSign Works{% endblocktrans %}{% endblock %}

{% block content %}
<div id="content_page">
    <div class="leftpanel">
        <div class="top">{% trans "How it works:" %}</div>
        <div class="mid">
            <div>
                <div class="icon">
                    <img src="{{ MEDIA_URL }}/new/images/one_icon.png" alt="One" />
                </div>
                <h1 class="grey_text">{% trans "You upload a file to NetConference" %}</h1>
            </div>
            <div><img src="{{ MEDIA_URL }}/new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></div>
            <div class="action">
                <a href="{% url upload_file %}" style="text-decoration:none;color:white;text-align:center;line-height:50px;" class="buttonGreen">
		  {% trans "Upload a file" %}
                </a>
            </div>
            <p>&nbsp;</p>
            <br />
            <br />
            <br />
            <br />
            <div>
                <div class="icon">
                    <img src="{{ MEDIA_URL }}/new/images/two_icon.png" alt="Two" />
                </div>
                <h1 class="grey_text">{% blocktrans %}You make that file into a NetSign "Agreement" by adding fields{% endblocktrans %}</h1>
                <div><img src="{{ MEDIA_URL }}/new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></div>
                <br />
                <br />
                <p class="text">
                {% blocktrans %}
                IMPORTANT NOTE:
                <br />
                When dropping and dragging a field onto the document it is important to double click on that field and check the
                "pre-signed" box if this is a field you would "lock" for another signor. This will not allow them to change or modify
                the information in the field. These fields will become your name, address and most importantly your signature.
                <br />
                <br />
                If you wish to import a scanned signature for regular use in this system, you may use the Scanned Image field, that 
                lets you upload your sign and crop it to add to the document.
                {% endblocktrans %}
                </p>
            </div>
            <div class="action">
                <a href="{% url select_netsign %}" style="text-decoration:none;color:white;line-height:50px;text-align:center;" class="buttonGreen">
		  {% trans "Select Document" %}
                </a>
            </div>
            <p>&nbsp;</p>
            <br />
            <br />
            <br />
            <br />
            <div>
                <div class="icon">
                    <img src="{{ MEDIA_URL }}/new/images/three_icon.png" alt="Three" />
                </div>
                <h1 class="grey_text">{% trans "You send it out for signature from your Library" %}</h1>
            </div>
            <div><img src="{{ MEDIA_URL }}/new/images/shadow_login.gif" width="619" height="19" alt="shadow" /></div>
            <div class="action">
                <a href="{% url my_netsign %}" style="text-decoration:none;color:white;line-height:50px;text-align:center;" class="buttonGreen">
		  {% trans "My Library" %}
                </a>
            </div>
            <p>&nbsp;</p>
            <br />
            <br />
        </div>
        <div class="bottom"></div>
    </div>
    <div class="rightpanel"> <img src="{{ MEDIA_URL }}/new/images/how_netsign_works.png" width="286" height="187" alt="How NetSign Works" /></div>
    <div class="clear"></div>
</div>
{% endblock %}
