{% extends "netsign/netsign_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "My NetSign Documents" %} {% endblock %}

{% block content %}
<!--CONTENT CONTAINER STARTS-->
<div id="content_container"> 
<ul id="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
    <div>
        <p class="files_paging">
        {% if page_obj.has_previous %}
        <a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}">&laquo; {% trans "Prev" %}</a>
        {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}">{% trans "Next" %} &raquo;</a>
        {% endif %}
        </p>
    </div>
    <!-- LEFT FILES STARTS -->
    <div id="left_files">
        <!-- SEARCH BOX STARTS -->
        <div class="searchbg">
            <form action="." method="get">
                <input type="text" name="q" id="textfield" class="textfield_search" value="{% if query_string %}{{ query_string  }}{% else %}{% trans "Search NetSign Documents" %}{% endif %}" style="height:20px; border:none; margin:5px 0px 0px 5px;color: gray;" />
                <input type="submit" id="button" value="" class="submit_btn" />
            </form>
        </div>
        <!-- SEARCH BOX ENDS -->

        <!-- FILTER FILES STARTS -->
        <div>
            {% with _("Filter NetSign Documents") as filter_title %}
            {% include "_filter_sidebar.html" %}
            {% endwith %}
        </div>
        <!-- FILTER FILES ENDS -->
    </div>
    <!-- LEFT FILES ENDS -->

    <!-- RIGHT FILES STARTS -->
    <div id="right_files">
        <form action="." method="post" name="netsignForm">
            {% include "netsign/_netsign_library_list.html" %}
	    {% if object_list.count %}
            <a style="float:left;" href="javascript:void(0);">
	      <input type="submit" name="delete_all" value="{% trans "Delete" %}" class="buttonBlueSmall" rel="#netsign_wrap" />
            </a>
	    {% endif %}
        </form>
        <p class="files_paging">{% if page_obj.has_previous %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
    </div>
    <!-- RIGHT FILES ENDS -->
    <div id="netsign_wrap" class="modal"></div>
</div>
<!--CONTENT CONTAINER STARTS--> 
{% endblock %}

{% block extrafooterscript %}
<script type="text/javascript">
function toggleFiles() {
    $("input[name='file-select[]']").attr("checked", $("input[name='select']").attr("checked"));
}

$(document).ready(function() {
           $("input[rel]").overlay({
             expose: {
               color: "#090909",
               loadSpeed: 1000,
               opacity: 0.9,
             },
             closeOnClick: true,
           });
        var defaultSearchQuery = $("input[name=q]").val();
        $("input[name=q]").focusin(function() { 
            if ($(this).val() == defaultSearchQuery)
            $(this).val("");
            });
        $("input[name=q]").focusout(function() {
            if (!$(this).val())
            $(this).val(defaultSearchQuery);
            });
        $("input[name=delete_all]").click(function() { 
          $("#netsign_wrap").children().remove();
          if ($("input[name='file-select[]']:checked").length > 0) {
             $("#netsign_wrap").append("<h2></h2>");
             $("#netsign_wrap").css("color", "red").html("{% trans "Are you sure you want to permanently delete the NetSign Documents?" %}");
             $("#netsign_wrap").append("<input type='button' style='float:right;text-align:center;color:white;text-decoration:none;' value='{% trans "Delete" %}' />");
             $("#netsign_wrap input").addClass("buttonGreenSmall").click(function() { 
               $("form[name=netsignForm]").submit();
             });
          } else {
             $("#netsign_wrap").append("<h2></h2>");
             $("#netsign_wrap h2").css("color", "red").html("{% trans "Please select a NetSign document to delete." %}");
          }
        });
    $("input[name='file-select[]']").change(function() { 
      if ($(this).attr("checked") === false && $("input[name=select]").attr("checked") === true) {
        $("input[name=select]").attr("checked", false);
      }
    });
        });
$("a.more").tooltip({relative: false, position: "center", effect: "fade"});
</script>
{% endblock %}
