{% extends "netsign/netsign_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Netsign Agreements Sent" %} {% endblock %}

{% block content %}
<!--CONTENT CONTAINER STARTS-->
<div id="content_container"> 
    <div>
        <p class="files_paging">
        {% if page_obj.has_previous %}
        <a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">&laquo; {% trans "Prev" %}</a>
        {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">{% trans "Next" %} &raquo;</a>
        {% endif %}
        </p>
    </div>
    <!-- LEFT FILES STARTS -->
    <div id="left_files">
        <!-- SEARCH BOX STARTS -->
        <div class="searchbg">
            <form action="." method="get">
                <input type="text" name="q" id="textfield" class="textfield_search" value="{% if query_string %}{{ query_string  }}{% else %}{% trans "Search NetSign Documents" %}{% endif %}" style="height:20px; border:none; margin:5px 0px 0px 5px;color: gray;" />
                <input type="submit" id="button" value="" class="submit_btn" />
            </form>
        </div>
        <!-- SEARCH BOX ENDS -->

        <!-- FILTER FILES STARTS -->
        <div>
            {% with _("Filter NetSign Documents") as filter_title %}
            {% include "_filter_sidebar.html" %}
            {% endwith %}
        </div>
        <!-- FILTER FILES ENDS -->
    </div>
    <!-- LEFT FILES ENDS -->

    <!-- RIGHT FILES STARTS -->
    <div id="right_files">
        <form action="." method="post">
	  {% block main_table %}
            {% include "netsign/_netsign_sent_list.html" %}
	  {% endblock %}
        </form>
        <p class="files_paging">{% if page_obj.has_previous %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.previous_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">&laquo; {% trans "Prev" %}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page_obj.has_next %}<a href="?type={{ file_type }}&uploaded={{ uploaded }}{% if is_filtered %}&filter=1{% endif %}&page={{ page_obj.next_page_number }}{% if query_string %}&q={{ query_string }}{% endif %}{% if current_sort_field %}&sort_by={{ current_sort_field }}{% endif %}">{% trans "Next" %} &raquo;</a>{% endif %}</p>
    </div>
    <!-- RIGHT FILES ENDS -->
</div>
<!--CONTENT CONTAINER STARTS--> 
{% endblock %}
