{% extends "new_base.html" %}
{% load i18n %}

{% block head_title %}
{% trans "NetSign Status" %}
{% endblock %}

{% block extra_subnav %}
<li class="current">
  <a href="{% url status urlhash=nsd.hash %}">{% trans "NetSign Status" %}</a>
</li>
{% endblock %}

{% block submenu %}
<div id="submenu_container">
  {% include "netsign/files_subnav.block" %}
</div>
{% endblock %}

{% block content %}
<div id="content_container">
  <form method="post" action=".">
    <input type="hidden" name="docID" value="{{ document.id }}" />
    <input type="submit" class="buttonGreenMedium" value="{% trans "View Final Netsign" %}" style="float:right;" />    
  </form>
  <p class="buttonGreenMedium" style="float:right;">
    <a href="{% url netsign_preview document.hash %}" style="color:white;padding-left:33%;line-height:35px;padding-right:33%;">{% trans "Preview" %}</a>
  </p>
  <table style="width:100%;table-layout:fixed;clear:both;">
    <tr>
      <th colspan="4" style="text-align:left;border:0px;word-wrap:break-word;white-space:normal;">
	<h1 class="title">{% trans "Status of" %} {{ document.title }}</h1>
      </th>
    </tr>
    <tr class="sub_title" style="text-align:left;">
      <th style="width:40%;padding-left:5px;text-align:left;">{% trans "Recipient" %}</th>
      <th style="width:20%;padding-left:5px;text-align:left;">{% trans "Status" %}</th>
      <th style="width:20%;padding-left:5px;text-align:left;">{% trans "Date Sent" %}</th>
      <th style="width:20%;padding-left:5px;text-align:left;">{% trans "Date Received" %}</th>
    </tr>
  {% for invitation in invitations %}
    <tr class="table_data {% cycle 'light' 'dark' %}">
      <td style="padding-left:5px;">{{ invitation.to_email }}</td>
      <td style="padding-left:5px;">{{ invitation.get_status_display }}{% ifequal invitation.status "9" %}(<a href="{{ invitation.get_sign_url }}">View</a>){% endifequal %}</td>
      <td style="padding-left:5px;">{{ invitation.sent|date }}{% if invitation.deadline %}<br />{{ invitation.deadline|date }}{% endif %}</td>
      <td style="padding-left:5px;">{% ifequal invitation.status "9" %}{{ invitation.saved_at|date }}{% else %}-{% endifequal %}</td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}
