<html>
<head>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, projection" />
</head>

<body>

<form action="{% url activity_comment activity.id %}" method="post">
	<table>
    <tr>
    <td colspan="100%">
    <textarea id="id_comment_text" rows="10" width="100" name="comment_text" class="comment_textarea"></textarea> 
    </td>
    </tr>
    <tr>
    <td><div class="reply_but"><input name="" type="button" class="replybut" onClick="submit();" /></div></td>
    </tr>
    </table>
</form>
</body>
</html>