{% load avatar_tags %}

<li class="activity_comment">
{% with comment as c %}
  {% with c.user as f %}
    <div class="avatar"><a href="{% url user_dashboard f.username %}" title="{{ f.username }}">{% avatar f 40 %}</a></div>
    <div class="details"><a href="{% url user_dashboard f.username %}" title="{{ f.username }}">
        {% if f.first_name %}{% if f.last_name %}
            {{ f.first_name }} {{ f.last_name }}{% endif %}
        {% else %}
            {{ f.username }}
        {% endif %}
    </a></div>
    {{ c.comment_text }}
{% endwith %}
{% endwith %}
</li>
